{
  "resources": {
    "elections": {
      "methods": {
        "electionQuery": {
          "id": "civicinfo.elections.electionQuery",
          "parameters": {
            "productionDataOnly": {
              "description": "Whether to include data that has not been allowlisted yet",
              "type": "boolean",
              "location": "query",
              "default": "true"
            }
          },
          "parameterOrder": [],
          "description": "List of available elections to query.",
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/elections",
          "response": {
            "$ref": "CivicinfoApiprotosV2ElectionsQueryResponse"
          },
          "path": "civicinfo/v2/elections"
        },
        "voterInfoQuery": {
          "id": "civicinfo.elections.voterInfoQuery",
          "httpMethod": "GET",
          "response": {
            "$ref": "CivicinfoApiprotosV2VoterInfoResponse"
          },
          "parameters": {
            "returnAllAvailableData": {
              "description": "If set to true, the query will return the success code and include any partial information when it is unable to determine a matching address or unable to determine the election for electionId=0 queries.",
              "location": "query",
              "type": "boolean",
              "default": "false"
            },
            "address": {
              "type": "string",
              "description": "The registered address of the voter to look up.",
              "location": "query"
            },
            "officialOnly": {
              "default": "false",
              "type": "boolean",
              "description": "If set to true, only data from official state sources will be returned.",
              "location": "query"
            },
            "productionDataOnly": {
              "location": "query",
              "default": "true",
              "type": "boolean",
              "description": "Whether to include data that has not been vetted yet. Should only be made available to internal IPs or trusted partners. This is a non-discoverable parameter in the One Platform API config."
            },
            "electionId": {
              "location": "query",
              "type": "string",
              "description": "The unique ID of the election to look up. A list of election IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections. If no election ID is specified in the query and there is more than one election with data for the given voter, the additional elections are provided in the otherElections response field.",
              "format": "int64",
              "default": "0"
            }
          },
          "flatPath": "civicinfo/v2/voterinfo",
          "parameterOrder": [],
          "description": "Looks up information relevant to a voter based on the voter's registered address.",
          "path": "civicinfo/v2/voterinfo"
        }
      }
    },
    "divisions": {
      "methods": {
        "search": {
          "path": "civicinfo/v2/divisions",
          "parameterOrder": [],
          "httpMethod": "GET",
          "flatPath": "civicinfo/v2/divisions",
          "description": "Searches for political divisions by their natural name or OCD ID.",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResponse"
          },
          "id": "civicinfo.divisions.search",
          "parameters": {
            "query": {
              "type": "string",
              "location": "query",
              "description": "The search query. Queries can cover any parts of a OCD ID or a human readable division name. All words given in the query are treated as required patterns. In addition to that, most query operators of the Apache Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html"
            }
          }
        },
        "queryDivisionByAddress": {
          "flatPath": "civicinfo/v2/divisionsByAddress",
          "response": {
            "$ref": "CivicinfoApiprotosV2DivisionByAddressResponse"
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "address": {
              "location": "query",
              "type": "string"
            }
          },
          "description": "Lookup OCDIDs and names for divisions related to an address.",
          "id": "civicinfo.divisions.queryDivisionByAddress",
          "path": "civicinfo/v2/divisionsByAddress"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "revision": "20260212",
  "description": "Provides polling places, early vote locations, contest data, election officials, and government representatives for U.S. residential addresses.",
  "canonicalName": "Civic Info",
  "baseUrl": "https://civicinfo.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "civicinfo",
  "discoveryVersion": "v1",
  "schemas": {
    "CivicinfoSchemaV2ElectionOfficial": {
      "description": "Information about individual election officials.",
      "id": "CivicinfoSchemaV2ElectionOfficial",
      "properties": {
        "officePhoneNumber": {
          "description": "The office phone number of the election official.",
          "type": "string"
        },
        "emailAddress": {
          "type": "string",
          "description": "The email address of the election official."
        },
        "name": {
          "description": "The full name of the election official.",
          "type": "string"
        },
        "faxNumber": {
          "type": "string",
          "description": "The fax number of the election official."
        },
        "title": {
          "type": "string",
          "description": "The title of the election official."
        }
      },
      "type": "object"
    },
    "CivicinfoApiprotosV2DivisionSearchResponse": {
      "id": "CivicinfoApiprotosV2DivisionSearchResponse",
      "type": "object",
      "description": "The result of a division search query.",
      "properties": {
        "results": {
          "items": {
            "$ref": "CivicinfoApiprotosV2DivisionSearchResult"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "civicinfo#divisionSearchResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\"."
        }
      }
    },
    "CivicinfoSchemaV2PollingLocation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the early vote site or drop off location. This field is not populated for polling locations."
        },
        "latitude": {
          "description": "Latitude of the location, in degrees north of the equator. Note this field may not be available for some locations.",
          "type": "number",
          "format": "double"
        },
        "endDate": {
          "description": "The last date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude of the location, in degrees east of the Prime Meridian. Note this field may not be available for some locations."
        },
        "address": {
          "description": "The address of the location.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "sources": {
          "description": "A list of sources for this location. If multiple sources are listed the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array"
        },
        "voterServices": {
          "type": "string",
          "description": "The services provided by this early vote site or drop off location. This field is not populated for polling locations."
        },
        "pollingHours": {
          "description": "A description of when this location is open.",
          "type": "string"
        },
        "startDate": {
          "description": "The first date that this early vote site or drop off location may be used. This field is not populated for polling locations.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "Notes about this location (e.g. accessibility ramp or entrance to use)."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2PollingLocation",
      "description": "A location where a voter can vote. This may be an early vote site, an election day voting location, or a drop off location for a completed ballot."
    },
    "CivicinfoSchemaV2Election": {
      "id": "CivicinfoSchemaV2Election",
      "properties": {
        "name": {
          "type": "string",
          "description": "A displayable name for the election."
        },
        "shapeLookupBehavior": {
          "type": "string",
          "enum": [
            "shapeLookupDefault",
            "shapeLookupDisabled",
            "shapeLookupEnabled"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "id": {
          "format": "int64",
          "description": "The unique ID of this election.",
          "type": "string"
        },
        "ocdDivisionId": {
          "type": "string",
          "description": "The political division of the election. Represented as an OCD Division ID. Voters within these political jurisdictions are covered by this election. This is typically a state such as ocd-division/country:us/state:ca or for the midterms or general election the entire US (i.e. ocd-division/country:us)."
        },
        "electionDay": {
          "description": "Day of the election in YYYY-MM-DD format.",
          "type": "string"
        }
      },
      "description": "Information about the election that was queried.",
      "type": "object"
    },
    "CivicinfoSchemaV2Candidate": {
      "properties": {
        "phone": {
          "description": "The voice phone number for the candidate's campaign office.",
          "type": "string"
        },
        "photoUrl": {
          "description": "A URL for a photo of the candidate.",
          "type": "string"
        },
        "email": {
          "description": "The email address for the candidate's campaign.",
          "type": "string"
        },
        "candidateUrl": {
          "description": "The URL for the candidate's campaign web site.",
          "type": "string"
        },
        "party": {
          "type": "string",
          "description": "The full name of the party the candidate is a member of."
        },
        "channels": {
          "type": "array",
          "description": "A list of known (social) media channels for this candidate.",
          "items": {
            "$ref": "CivicinfoSchemaV2Channel"
          }
        },
        "orderOnBallot": {
          "format": "int64",
          "description": "The order the candidate appears on the ballot for this contest.",
          "type": "string"
        },
        "name": {
          "description": "The candidate's name. If this is a joint ticket it will indicate the name of the candidate at the top of a ticket followed by a / and that name of candidate at the bottom of the ticket. e.g. \"Mitt Romney / Paul Ryan\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about a candidate running for elected office.",
      "id": "CivicinfoSchemaV2Candidate"
    },
    "CivicinfoSchemaV2Contest": {
      "description": "Information about a contest that appears on a voter's ballot.",
      "properties": {
        "referendumBrief": {
          "type": "string",
          "description": "Specifies a short summary of the referendum that is typically on the ballot below the title but above the text. This field is only populated for contests of type 'Referendum'."
        },
        "referendumTitle": {
          "type": "string",
          "description": "The title of the referendum (e.g. 'Proposition 42'). This field is only populated for contests of type 'Referendum'."
        },
        "referendumUrl": {
          "description": "A link to the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "sources": {
          "description": "A list of sources for this contest. If multiple sources are listed, the data has been aggregated from those sources.",
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "type": "array"
        },
        "ballotPlacement": {
          "format": "int64",
          "type": "string",
          "description": "A number specifying the position of this contest on the voter's ballot."
        },
        "referendumSubtitle": {
          "description": "A brief description of the referendum. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "special": {
          "description": "\"Yes\" or \"No\" depending on whether this a contest being held outside the normal election cycle.",
          "type": "string"
        },
        "candidates": {
          "type": "array",
          "description": "The candidate choices for this contest.",
          "items": {
            "$ref": "CivicinfoSchemaV2Candidate"
          }
        },
        "primaryParties": {
          "type": "array",
          "description": "If this is a partisan election, the name of the party/parties it is for.",
          "items": {
            "type": "string"
          }
        },
        "referendumConStatement": {
          "description": "A statement in opposition to the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "level": {
          "description": "The levels of government of the office for this contest. There may be more than one in cases where a jurisdiction effectively acts at two different levels of government; for example, the mayor of the District of Columbia acts at \"locality\" level, but also effectively at both \"administrative-area-2\" and \"administrative-area-1\".",
          "items": {
            "type": "string",
            "enum": [
              "international",
              "country",
              "administrativeArea1",
              "regional",
              "administrativeArea2",
              "locality",
              "subLocality1",
              "subLocality2",
              "special"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "referendumProStatement": {
          "description": "A statement in favor of the referendum. It does not necessarily appear on the ballot. This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "referendumEffectOfAbstain": {
          "description": "Specifies what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining is considered a vote against it). This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "numberVotingFor": {
          "description": "The number of candidates that a voter may vote for in this contest.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "description": "The type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests with candidates. For referenda this will be 'Referendum'. For Retention contests this will typically be 'Retention'.",
          "type": "string"
        },
        "district": {
          "description": "Information about the electoral district that this contest is in.",
          "$ref": "CivicinfoSchemaV2ElectoralDistrict"
        },
        "office": {
          "description": "The name of the office for this contest.",
          "type": "string"
        },
        "referendumBallotResponses": {
          "type": "array",
          "description": "The set of ballot responses for the referendum. A ballot response represents a line on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This field is only populated for contests of type 'Referendum'.",
          "items": {
            "type": "string"
          }
        },
        "referendumPassageThreshold": {
          "description": "The threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\". This field is only populated for contests of type 'Referendum'.",
          "type": "string"
        },
        "roles": {
          "type": "array",
          "description": "The roles which this office fulfills.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "headOfState",
              "headOfGovernment",
              "deputyHeadOfGovernment",
              "governmentOfficer",
              "executiveCouncil",
              "legislatorUpperBody",
              "legislatorLowerBody",
              "highestCourtJudge",
              "judge",
              "schoolBoard",
              "specialPurposeOfficer",
              "otherRole"
            ],
            "type": "string"
          }
        },
        "ballotTitle": {
          "description": "The official title on the ballot for this contest, only where available.",
          "type": "string"
        },
        "numberElected": {
          "format": "int64",
          "description": "The number of candidates that will be elected to office in this contest.",
          "type": "string"
        },
        "referendumText": {
          "type": "string",
          "description": "The full text of the referendum. This field is only populated for contests of type 'Referendum'."
        },
        "electorateSpecifications": {
          "type": "string",
          "description": "A description of any additional eligibility requirements for voting in this contest."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Contest"
    },
    "CivicinfoApiprotosV2DivisionSearchResult": {
      "type": "object",
      "id": "CivicinfoApiprotosV2DivisionSearchResult",
      "description": "Represents a political geographic division that matches the requested query.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "aliases": {
          "description": "Other Open Civic Data identifiers that refer to the same division -- for example, those that refer to other political divisions whose boundaries are defined to be coterminous with this one. For example, ocd-division/country:us/state:wy will include an alias of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional district.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ocdId": {
          "type": "string",
          "description": "The unique Open Civic Data identifier for this division"
        }
      }
    },
    "CivicinfoSchemaV2ElectoralDistrict": {
      "id": "CivicinfoSchemaV2ElectoralDistrict",
      "properties": {
        "id": {
          "type": "string",
          "description": "An identifier for this district, relative to its scope. For example, the 34th State Senate district would have id \"34\" and a scope of stateUpper."
        },
        "name": {
          "description": "The name of the district.",
          "type": "string"
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The geographic scope of this district. If unspecified the district's geography is not known. One of: national, statewide, congressional, stateUpper, stateLower, countywide, judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special",
          "enum": [
            "statewide",
            "congressional",
            "stateUpper",
            "stateLower",
            "countywide",
            "judicial",
            "schoolBoard",
            "citywide",
            "special",
            "countyCouncil",
            "township",
            "ward",
            "cityCouncil",
            "national"
          ]
        }
      },
      "type": "object",
      "description": "Describes the geographic scope of a contest."
    },
    "CivicinfoApiprotosV2DivisionByAddressResponse": {
      "type": "object",
      "properties": {
        "normalizedInput": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The normalized version of the requested address."
        },
        "divisions": {
          "additionalProperties": {
            "$ref": "CivicinfoSchemaV2GeographicDivision"
          },
          "type": "object"
        }
      },
      "id": "CivicinfoApiprotosV2DivisionByAddressResponse"
    },
    "CivicinfoApiprotosV2ElectionsQueryResponse": {
      "properties": {
        "elections": {
          "description": "A list of available elections",
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "type": "array"
        },
        "kind": {
          "default": "civicinfo#electionsQueryResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".",
          "type": "string"
        }
      },
      "description": "The list of elections available for this version of the API.",
      "id": "CivicinfoApiprotosV2ElectionsQueryResponse",
      "type": "object"
    },
    "CivicinfoSchemaV2Precinct": {
      "id": "CivicinfoSchemaV2Precinct",
      "properties": {
        "contestId": {
          "type": "array",
          "description": "ID(s) of the Contest message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Required. A unique identifier for this precinct."
        },
        "name": {
          "type": "string",
          "description": "Required. The name of the precinct."
        },
        "number": {
          "description": "The number of the precinct.",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies if the precinct runs mail-only elections.",
          "type": "boolean"
        },
        "splitName": {
          "type": "string",
          "description": "If present, this proto corresponds to one portion of split precinct. Other portions of this precinct are guaranteed to have the same `name`. If not present, this proto represents a full precicnt."
        },
        "datasetId": {
          "description": "Required. Dataset ID. What datasets our Precincts come from.",
          "format": "int64",
          "type": "string"
        },
        "electoralDistrictId": {
          "items": {
            "type": "string"
          },
          "description": "ID(s) of the ElectoralDistrict message(s) for this precinct.",
          "type": "array"
        },
        "ocdId": {
          "description": "Encouraged. The OCD ID of the precinct",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ward": {
          "type": "string",
          "description": "Specifies the ward the precinct is contained within."
        },
        "earlyVoteSiteId": {
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pollingLocationId": {
          "type": "array",
          "description": "ID(s) of the PollingLocation message(s) for this precinct.",
          "items": {
            "type": "string"
          }
        },
        "spatialBoundaryId": {
          "description": "ID(s) of the SpatialBoundary message(s) for this precinct. Used to specify a geometrical boundary of the precinct.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "administrationRegionId": {
          "type": "string",
          "description": "ID of the AdministrationRegion message for this precinct. Corresponds to LocalityId xml tag."
        }
      },
      "type": "object"
    },
    "CivicinfoSchemaV2Source": {
      "description": "Contains information about the data source for the element containing it.",
      "properties": {
        "official": {
          "description": "Whether this data comes from an official government source.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the data source."
        }
      },
      "type": "object",
      "id": "CivicinfoSchemaV2Source"
    },
    "CivicinfoApiprotosV2VoterInfoResponse": {
      "description": "The result of a voter info lookup query.",
      "properties": {
        "precincts": {
          "items": {
            "$ref": "CivicinfoSchemaV2Precinct"
          },
          "description": "The precincts that match this voter's address. Will only be returned for project IDs which have been allowlisted as \"partner projects\".",
          "type": "array"
        },
        "contests": {
          "description": "Contests that will appear on the voter's ballot.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2Contest"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".",
          "default": "civicinfo#voterInfoResponse",
          "type": "string"
        },
        "mailOnly": {
          "description": "Specifies whether voters in the precinct vote only by mailing their ballots (with the possible option of dropping off their ballots as well).",
          "type": "boolean"
        },
        "pollingLocations": {
          "description": "Locations where the voter is eligible to vote on election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "earlyVoteSites": {
          "type": "array",
          "description": "Locations where the voter is eligible to vote early, prior to election day.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          }
        },
        "election": {
          "$ref": "CivicinfoSchemaV2Election",
          "description": "The election that was queried."
        },
        "otherElections": {
          "items": {
            "$ref": "CivicinfoSchemaV2Election"
          },
          "description": "When there are multiple elections for a voter address, the otherElections field is populated in the API response and there are two possibilities: 1. If the earliest election is not the intended election, specify the election ID of the desired election in a second API request using the electionId field. 2. If these elections occur on the same day, the API doesn?t return any polling location, contest, or election official information to ensure that an additional query is made. For user-facing applications, we recommend displaying these elections to the user to disambiguate. A second API request using the electionId field should be made for the election that is relevant to the user.",
          "type": "array"
        },
        "dropOffLocations": {
          "description": "Locations where a voter is eligible to drop off a completed ballot. The voter must have received and completed a ballot prior to arriving at the location. The location may not have ballots available on the premises. These locations could be open on or before election day as indicated in the pollingHours field.",
          "items": {
            "$ref": "CivicinfoSchemaV2PollingLocation"
          },
          "type": "array"
        },
        "normalizedInput": {
          "description": "The normalized version of the requested address",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "precinctId": {
          "type": "string"
        },
        "state": {
          "description": "Local Election Information for the state that the voter votes in. For the US, there will only be one element in this array.",
          "type": "array",
          "items": {
            "$ref": "CivicinfoSchemaV2AdministrationRegion"
          }
        }
      },
      "type": "object",
      "id": "CivicinfoApiprotosV2VoterInfoResponse"
    },
    "CivicinfoSchemaV2SimpleAddressType": {
      "id": "CivicinfoSchemaV2SimpleAddressType",
      "type": "object",
      "properties": {
        "zip": {
          "description": "The US Postal Zip Code of the address.",
          "type": "string"
        },
        "line3": {
          "type": "string",
          "description": "The third line of the address, if needed."
        },
        "locationName": {
          "description": "The name of the location.",
          "type": "string"
        },
        "line1": {
          "type": "string",
          "description": "The street name and number of this address."
        },
        "city": {
          "type": "string",
          "description": "The city or town for the address."
        },
        "addressLine": {
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "line2": {
          "type": "string",
          "description": "The second line the address, if needed."
        },
        "state": {
          "type": "string",
          "description": "The US two letter state abbreviation of the address."
        }
      },
      "description": "A simple representation of an address."
    },
    "CivicinfoSchemaV2Channel": {
      "type": "object",
      "description": "A social media or web channel for a candidate.",
      "id": "CivicinfoSchemaV2Channel",
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of channel. The following is a list of types of channels, but is not exhaustive. More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook, Twitter"
        },
        "id": {
          "description": "The unique public identifier for the candidate's channel.",
          "type": "string"
        }
      }
    },
    "CivicinfoSchemaV2GeographicDivision": {
      "description": "Describes a political geography.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the division."
        },
        "alsoKnownAs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Any other valid OCD IDs that refer to the same division.\\n\\nBecause OCD IDs are meant to be human-readable and at least somewhat predictable, there are occasionally several identifiers for a single division. These identifiers are defined to be equivalent to one another, and one is always indicated as the primary identifier. The primary identifier will be returned in ocd_id above, and any other equivalent valid identifiers will be returned in this list.\\n\\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc, this will contain ocd-division/country:us/state:dc."
        },
        "officeIndices": {
          "description": "List of indices in the offices array, one for each office elected from this division. Will only be present if includeOffices was true (or absent) in the request.",
          "items": {
            "type": "integer",
            "format": "uint32"
          },
          "type": "array"
        }
      },
      "id": "CivicinfoSchemaV2GeographicDivision"
    },
    "CivicinfoSchemaV2AdministrativeBody": {
      "properties": {
        "electionInfoUrl": {
          "description": "A URL provided by this administrative body for looking up general election information.",
          "type": "string"
        },
        "votingLocationFinderUrl": {
          "description": "A URL provided by this administrative body for looking up where to vote.",
          "type": "string"
        },
        "electionOfficials": {
          "items": {
            "$ref": "CivicinfoSchemaV2ElectionOfficial"
          },
          "description": "The election officials for this election administrative body.",
          "type": "array"
        },
        "electionNoticeUrl": {
          "description": "A URL provided by this administrative body for additional information related to the last minute or emergency notification.",
          "type": "string"
        },
        "hoursOfOperation": {
          "description": "A description of the hours of operation for this administrative body.",
          "type": "string"
        },
        "electionRegistrationUrl": {
          "description": "A URL provided by this administrative body for looking up how to register to vote.",
          "type": "string"
        },
        "electionRulesUrl": {
          "description": "A URL provided by this administrative body describing election rules to the voter.",
          "type": "string"
        },
        "absenteeVotingInfoUrl": {
          "description": "A URL provided by this administrative body for information on absentee voting.",
          "type": "string"
        },
        "electionNoticeText": {
          "description": "A last minute or emergency notification text provided by this administrative body.",
          "type": "string"
        },
        "name": {
          "description": "The name of this election administrative body.",
          "type": "string"
        },
        "physicalAddress": {
          "description": "The physical address of this administrative body.",
          "$ref": "CivicinfoSchemaV2SimpleAddressType"
        },
        "correspondenceAddress": {
          "$ref": "CivicinfoSchemaV2SimpleAddressType",
          "description": "The mailing address of this administrative body."
        },
        "electionRegistrationConfirmationUrl": {
          "description": "A URL provided by this administrative body for confirming that the voter is registered to vote.",
          "type": "string"
        },
        "voter_services": {
          "description": "A description of the services this administrative body may provide.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ballotInfoUrl": {
          "type": "string",
          "description": "A URL provided by this administrative body to give contest information to the voter."
        }
      },
      "description": "Information about an election administrative body (e.g. County Board of Elections).",
      "id": "CivicinfoSchemaV2AdministrativeBody",
      "type": "object"
    },
    "CivicinfoSchemaV2AdministrationRegion": {
      "properties": {
        "local_jurisdiction": {
          "description": "The city or county that provides election information for this voter. This object can have the same elements as state.",
          "$ref": "CivicinfoSchemaV2AdministrationRegion"
        },
        "sources": {
          "items": {
            "$ref": "CivicinfoSchemaV2Source"
          },
          "description": "A list of sources for this area. If multiple sources are listed the data has been aggregated from those sources.",
          "type": "array"
        },
        "electionAdministrationBody": {
          "description": "The election administration body for this area.",
          "$ref": "CivicinfoSchemaV2AdministrativeBody"
        },
        "name": {
          "description": "The name of the jurisdiction.",
          "type": "string"
        }
      },
      "description": "Describes information about a regional election administrative area.",
      "type": "object",
      "id": "CivicinfoSchemaV2AdministrationRegion"
    }
  },
  "version": "v2",
  "basePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/civic-information/",
  "batchPath": "batch",
  "title": "Google Civic Information API",
  "ownerDomain": "google.com",
  "id": "civicinfo:v2",
  "mtlsRootUrl": "https://civicinfo.mtls.googleapis.com/",
  "rootUrl": "https://civicinfo.googleapis.com/",
  "version_module": true,
  "servicePath": ""
}