{
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/data-labeling/docs/",
  "id": "datalabeling:v1beta1",
  "description": "Public API for Google Cloud AI Data Labeling Service.",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://datalabeling.googleapis.com/",
  "protocol": "rest",
  "title": "Data Labeling API",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "revision": "20260210",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "evaluationJobs": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateEvaluationJobRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "id": "datalabeling.projects.evaluationJobs.create",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "description": " Creates an evaluation job.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Required. Name of the evaluation job. Format: \"projects/{project_id} /evaluationJobs/{evaluation_job_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "description": "Gets an evaluation job by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "id": "datalabeling.projects.evaluationJobs.get"
            },
            "pause": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:pause",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:pause",
              "httpMethod": "POST",
              "description": "Pauses an evaluation job. Pausing an evaluation job that is already in a `PAUSED` state is a no-op.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1PauseEvaluationJobRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the evaluation job that is going to be paused. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.evaluationJobs.pause"
            },
            "resume": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the evaluation job that is going to be resumed. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\""
                }
              },
              "httpMethod": "POST",
              "id": "datalabeling.projects.evaluationJobs.resume",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ResumeEvaluationJobRequest"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}:resume",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Resumes a paused evaluation job. A deleted evaluation job can't be resumed. Resuming a running or scheduled evaluation job is a no-op.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:resume"
            },
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. You can filter the jobs to list by model_id (also known as model_name, as described in EvaluationJob.modelVersion) or by evaluation job state (as described in EvaluationJob.state). To filter by both criteria, use the `AND` operator or the `OR` operator. For example, you can use the following string for your filter: \"evaluation_job.model_id = {model_name} AND evaluation_job.state = {evaluation_job_state}\""
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken in the response to the previous request. The request returns the first page if this is empty."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. Evaluation job resource parent. Format: \"projects/{project_id}\"",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "description": "Lists all evaluation jobs within a project with possible filters. Pagination is supported.",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs",
              "httpMethod": "GET",
              "id": "datalabeling.projects.evaluationJobs.list",
              "path": "v1beta1/{+parent}/evaluationJobs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListEvaluationJobsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Stops and deletes an evaluation job.",
              "httpMethod": "DELETE",
              "id": "datalabeling.projects.evaluationJobs.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the evaluation job that is going to be deleted. Format: \"projects/{project_id}/evaluationJobs/{evaluation_job_id}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v1beta1/{+name}"
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.evaluationJobs.patch",
              "flatPath": "v1beta1/projects/{projectsId}/evaluationJobs/{evaluationJobsId}",
              "description": "Updates an evaluation job. You can only update certain fields of the job's EvaluationJobConfig: `humanAnnotationConfig.instruction`, `exampleCount`, and `exampleSamplePercentage`. If you want to change any other aspect of the evaluation job, you must delete the job and create a new one.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1EvaluationJob"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/evaluationJobs/[^/]+$",
                  "description": "Output only. After you create a job, Data Labeling Service assigns a name to the job with the following format: \"projects/{project_id}/evaluationJobs/ {evaluation_job_id}\"",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Optional. Mask for which fields to update. You can only provide the following fields: * `evaluationJobConfig.humanAnnotationConfig.instruction` * `evaluationJobConfig.exampleCount` * `evaluationJobConfig.exampleSamplePercentage` You can provide more than one of these fields by separating them with commas."
                }
              }
            }
          }
        },
        "annotationSpecSets": {
          "methods": {
            "list": {
              "id": "datalabeling.projects.annotationSpecSets.list",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotationSpecSetsResponse"
              },
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "description": "Lists annotation spec sets for a project. Pagination is supported.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter is not supported at this moment.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Parent of AnnotationSpecSet resource, format: projects/{project_id}"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotationSpecSetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotationSpecSets] call. Return first page if empty.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query"
                }
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.annotationSpecSets.delete",
              "parameters": {
                "name": {
                  "description": "Required. AnnotationSpec resource name, format: `projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}`.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an annotation spec set by resource name.",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}"
            },
            "create": {
              "parameters": {
                "parent": {
                  "description": "Required. AnnotationSpecSet resource parent, format: projects/{project_id}",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets",
              "path": "v1beta1/{+parent}/annotationSpecSets",
              "id": "datalabeling.projects.annotationSpecSets.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates an annotation spec set by providing a set of labels.",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateAnnotationSpecSetRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/annotationSpecSets/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. AnnotationSpecSet resource name, format: projects/{project_id}/annotationSpecSets/{annotation_spec_set_id}",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.annotationSpecSets.get",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpecSet"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets an annotation spec set by resource name.",
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/annotationSpecSets/{annotationSpecSetsId}"
            }
          }
        },
        "instructions": {
          "methods": {
            "create": {
              "path": "v1beta1/{+parent}/instructions",
              "id": "datalabeling.projects.instructions.create",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateInstructionRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Instruction resource parent, format: projects/{project_id}"
                }
              },
              "description": "Creates an instruction for how data should be labeled."
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "description": "Gets an instruction by resource name.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.instructions.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Instruction"
              }
            },
            "delete": {
              "path": "v1beta1/{+name}",
              "id": "datalabeling.projects.instructions.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/instructions/[^/]+$",
                  "description": "Required. Instruction resource name, format: projects/{project_id}/instructions/{instruction_id}",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/instructions/{instructionsId}",
              "httpMethod": "DELETE",
              "description": "Deletes an instruction object by resource name.",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "datalabeling.projects.instructions.list",
              "flatPath": "v1beta1/projects/{projectsId}/instructions",
              "path": "v1beta1/{+parent}/instructions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists instructions for a project. Pagination is supported.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListInstructionsResponse"
              },
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListInstructionsResponse.next_page_token of the previous [DataLabelingService.ListInstructions] call. Return first page if empty."
                },
                "filter": {
                  "description": "Optional. Filter is not supported at this moment.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Instruction resource parent, format: projects/{project_id}",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              }
            }
          }
        },
        "evaluations": {
          "methods": {
            "search": {
              "id": "datalabeling.projects.evaluations.search",
              "path": "v1beta1/{+parent}/evaluations:search",
              "flatPath": "v1beta1/projects/{projectsId}/evaluations:search",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1SearchEvaluationsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. Evaluation search parent (project ID). Format: \"projects/ {project_id}\"",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. To search evaluations, you can filter by the following: * evaluation_job.evaluation_job_id (the last part of EvaluationJob.name) * evaluation_job.model_id (the {model_name} portion of EvaluationJob.modelVersion) * evaluation_job.evaluation_job_run_time_start (Minimum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.evaluation_job_run_time_end (Maximum threshold for the evaluationJobRunTime that created the evaluation) * evaluation_job.job_state (EvaluationJob.state) * annotation_spec.display_name (the Evaluation contains a metric for the annotation spec with this displayName) To filter by multiple critiera, use the `AND` operator or the `OR` operator. The following examples shows a string that filters by several critiera: \"evaluation_job.evaluation_job_id = {evaluation_job_id} AND evaluation_job.model_id = {model_name} AND evaluation_job.evaluation_job_run_time_start = {timestamp_1} AND evaluation_job.evaluation_job_run_time_end = {timestamp_2} AND annotation_spec.display_name = {display_name}\""
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by the nextPageToken of the response to a previous search request. If you don't specify this field, the API call requests the first page of the search.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "format": "int32"
                }
              },
              "description": "Searches evaluations within a project.",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "datasets": {
          "methods": {
            "get": {
              "id": "datalabeling.projects.datasets.get",
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "location": "path"
                }
              },
              "description": "Gets dataset by resource name."
            },
            "importData": {
              "id": "datalabeling.projects.datasets.importData",
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ImportDataRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+name}:importData",
              "description": "Imports data into dataset based on source locations defined in request. It can be called multiple times for the same dataset. Each dataset can only have one long running operation running on it. For example, no labeling task (also long running operation) can be started while importing is still ongoing. Vice versa.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "type": "string",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:importData"
            },
            "create": {
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1CreateDatasetRequest"
              },
              "description": " Creates dataset. If success return a Dataset resource.",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1Dataset"
              },
              "id": "datalabeling.projects.datasets.create",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta1/{+parent}/datasets",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Dataset resource parent, format: projects/{project_id}",
                  "pattern": "^projects/[^/]+$"
                },
                "pageToken": {
                  "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDatasetsResponse.next_page_token of the previous [DataLabelingService.ListDatasets] call. Returns the first page if empty.",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter on dataset is not supported at this moment."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1beta1/projects/{projectsId}/datasets",
              "httpMethod": "GET",
              "path": "v1beta1/{+parent}/datasets",
              "response": {
                "$ref": "GoogleCloudDatalabelingV1beta1ListDatasetsResponse"
              },
              "id": "datalabeling.projects.datasets.list",
              "description": "Lists datasets under a project. Pagination is supported."
            },
            "exportData": {
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}:exportData",
              "description": "Exports data and annotations from dataset.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "request": {
                "$ref": "GoogleCloudDatalabelingV1beta1ExportDataRequest"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "location": "path"
                }
              },
              "path": "v1beta1/{+name}:exportData",
              "parameterOrder": [
                "name"
              ],
              "id": "datalabeling.projects.datasets.exportData"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a dataset by resource name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Dataset resource name, format: projects/{project_id}/datasets/{dataset_id}",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/datasets/[^/]+$"
                }
              },
              "id": "datalabeling.projects.datasets.delete",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}"
            }
          },
          "resources": {
            "annotatedDatasets": {
              "resources": {
                "dataItems": {
                  "methods": {
                    "list": {
                      "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.list",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filter is not supported at this moment.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        }
                      },
                      "path": "v1beta1/{+parent}/dataItems",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                      },
                      "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset.",
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/dataItems/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "id": "datalabeling.projects.datasets.annotatedDatasets.dataItems.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/dataItems/{dataItemsId}"
                    }
                  }
                },
                "examples": {
                  "methods": {
                    "get": {
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples/{examplesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets an example by resource name, including both data and annotation.",
                      "httpMethod": "GET",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.get",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1Example"
                      },
                      "path": "v1beta1/{+name}",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. An expression for filtering Examples. Filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\""
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of example, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/examples/[^/]+$"
                        }
                      }
                    },
                    "list": {
                      "id": "datalabeling.projects.datasets.annotatedDatasets.examples.list",
                      "path": "v1beta1/{+parent}/examples",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/examples",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. Example resource parent.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering Examples. For annotated datasets that have annotation spec set, filter by annotation_spec.display_name is supported. Format \"annotation_spec.display_name = {display_name}\"",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListExamplesResponse.next_page_token of the previous [DataLabelingService.ListExamples] call. Return first page if empty."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists examples in an annotated dataset. Pagination is supported."
                    }
                  }
                },
                "feedbackThreads": {
                  "resources": {
                    "feedbackMessages": {
                      "methods": {
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          },
                          "path": "v1beta1/{+name}",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.delete",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "location": "path",
                              "description": "Required. Name of the FeedbackMessage that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "DELETE",
                          "description": "Delete a FeedbackMessage.",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "get": {
                          "httpMethod": "GET",
                          "path": "v1beta1/{+name}",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}/feedbackMessages/{feedback_message_id}'.",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+/feedbackMessages/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages/{feedbackMessagesId}",
                          "description": "Get a FeedbackMessage object.",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.get",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.create",
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "request": {
                            "$ref": "GoogleCloudDatalabelingV1beta1FeedbackMessage"
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Create a FeedbackMessage object.",
                          "parameters": {
                            "parent": {
                              "description": "Required. FeedbackMessage resource parent, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}.",
                              "required": true,
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST"
                        },
                        "list": {
                          "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}/feedbackMessages",
                          "response": {
                            "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackMessagesResponse"
                          },
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                              "format": "int32",
                              "location": "query"
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackMessages.next_page_token of the previous [DataLabelingService.ListFeedbackMessages] call. Return first page if empty.",
                              "type": "string"
                            },
                            "parent": {
                              "description": "Required. FeedbackMessage resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}\"",
                              "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "description": "List FeedbackMessages with pagination.",
                          "path": "v1beta1/{+parent}/feedbackMessages",
                          "httpMethod": "GET",
                          "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.feedbackMessages.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1beta1/{+name}",
                      "description": "Delete a FeedbackThread.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.delete",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "location": "path",
                          "description": "Required. Name of the FeedbackThread that is going to be deleted. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "required": true
                        }
                      }
                    },
                    "get": {
                      "path": "v1beta1/{+name}",
                      "description": " Get a FeedbackThread object.",
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.get",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+/feedbackThreads/[^/]+$",
                          "description": "Required. Name of the feedback. Format: 'projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads/{feedbackThreadsId}",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThread"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "path": "v1beta1/{+parent}/feedbackThreads",
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1ListFeedbackThreadsResponse"
                      },
                      "description": "List FeedbackThreads with pagination.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                          "location": "query"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListFeedbackThreads.next_page_token of the previous [DataLabelingService.ListFeedbackThreads] call. Return first page if empty.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                          "description": "Required. FeedbackThread resource parent. Format: \"projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}\"",
                          "location": "path"
                        }
                      },
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}/feedbackThreads",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "datalabeling.projects.datasets.annotatedDatasets.feedbackThreads.list"
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "description": "Required. Name of the annotated dataset to delete, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "datalabeling.projects.datasets.annotatedDatasets.delete",
                  "path": "v1beta1/{+name}",
                  "description": "Deletes an annotated dataset by resource name."
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment."
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the dataset to list annotated datasets, format: projects/{project_id}/datasets/{dataset_id}"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListAnnotatedDatasetsResponse.next_page_token of the previous [DataLabelingService.ListAnnotatedDatasets] call. Return first page if empty.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/annotatedDatasets",
                  "description": "Lists annotated datasets for a dataset. Pagination is supported.",
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListAnnotatedDatasetsResponse"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1AnnotatedDataset"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1beta1/{+name}",
                  "httpMethod": "GET",
                  "id": "datalabeling.projects.datasets.annotatedDatasets.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/annotatedDatasets/{annotatedDatasetsId}",
                  "description": "Gets an annotated dataset by resource name.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the annotated dataset to get, format: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+/annotatedDatasets/[^/]+$",
                      "required": true
                    }
                  }
                }
              }
            },
            "dataItems": {
              "methods": {
                "list": {
                  "id": "datalabeling.projects.datasets.dataItems.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1ListDataItemsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer results than requested. Default value is 100."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the dataset to list data items, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter is not supported at this moment.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained by ListDataItemsResponse.next_page_token of the previous [DataLabelingService.ListDataItems] call. Return first page if empty.",
                      "type": "string"
                    }
                  },
                  "description": "Lists data items in a dataset. This API can be called after data are imported into dataset. Pagination is supported.",
                  "path": "v1beta1/{+parent}/dataItems",
                  "httpMethod": "GET",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems"
                },
                "get": {
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/dataItems/{dataItemsId}",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/dataItems/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the data item to get, format: projects/{project_id}/datasets/{dataset_id}/dataItems/{data_item_id}"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1DataItem"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalabeling.projects.datasets.dataItems.get",
                  "description": "Gets a data item in a dataset by resource name. This API can be called after data are imported into dataset."
                }
              }
            },
            "image": {
              "methods": {
                "label": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "datalabeling.projects.datasets.image.label",
                  "httpMethod": "POST",
                  "description": " Starts a labeling task for image. The type of image labeling task is configured by feature in the request.",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/image:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelImageRequest"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/image:label"
                }
              }
            },
            "video": {
              "methods": {
                "label": {
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelVideoRequest"
                  },
                  "id": "datalabeling.projects.datasets.video.label",
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/video:label",
                  "description": "Starts a labeling task for video. The type of video labeling task is configured by feature in the request.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the dataset to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta1/{+parent}/video:label",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "evaluations": {
              "resources": {
                "exampleComparisons": {
                  "methods": {
                    "search": {
                      "id": "datalabeling.projects.datasets.evaluations.exampleComparisons.search",
                      "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}/exampleComparisons:search",
                      "request": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
                      },
                      "description": "Searches example comparisons from an evaluation. The return format is a list of example comparisons that show ground truth and prediction(s) for a single input. Search by providing an evaluation ID.",
                      "httpMethod": "POST",
                      "path": "v1beta1/{+parent}/exampleComparisons:search",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the Evaluation resource to search for example comparisons from. Format: \"projects/{project_id}/datasets/{dataset_id}/evaluations/ {evaluation_id}\"",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/datasets/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the evaluation. Format: \"projects/{project_id}/datasets/ {dataset_id}/evaluations/{evaluation_id}'"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "datalabeling.projects.datasets.evaluations.get",
                  "path": "v1beta1/{+name}",
                  "description": " Gets an evaluation by resource name (to search, use projects.evaluations.search).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudDatalabelingV1beta1Evaluation"
                  },
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET"
                }
              }
            },
            "text": {
              "methods": {
                "label": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/projects/{projectsId}/datasets/{datasetsId}/text:label",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "datalabeling.projects.datasets.text.label",
                  "path": "v1beta1/{+parent}/text:label",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the data set to request labeling task, format: projects/{project_id}/datasets/{dataset_id}",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudDatalabelingV1beta1LabelTextRequest"
                  },
                  "description": "Starts a labeling task for text. The type of text labeling task is configured by feature in the request."
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "delete": {
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}",
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "id": "datalabeling.projects.operations.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "datalabeling.projects.operations.get"
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "path": "v1beta1/{+name}/operations",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.list"
            },
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/projects/{projectsId}/operations/{operationsId}:cancel",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "datalabeling.projects.operations.cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1beta1/{+name}:cancel"
            }
          }
        }
      }
    }
  },
  "canonicalName": "Data Labeling",
  "schemas": {
    "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig": {
      "properties": {
        "email": {
          "description": "Required. An email address to send alerts to.",
          "type": "string"
        },
        "minAcceptableMeanAveragePrecision": {
          "format": "double",
          "type": "number",
          "description": "Required. A number between 0 and 1 that describes a minimum mean average precision threshold. When the evaluation job runs, if it calculates that your model version's predictions from the recent interval have meanAveragePrecision below this threshold, then it sends an alert to your specified email."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1EvaluationJobAlertConfig",
      "description": "Provides details for how an evaluation job sends email alerts based on the results of a run.",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata": {
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoEvent operation metadata.",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoEventOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1GcsDestination": {
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Required. The format of the gcs destination. Only \"text/csv\" and \"application/json\" are supported."
        },
        "outputUri": {
          "type": "string",
          "description": "Required. The output uri of destination file."
        }
      },
      "type": "object",
      "description": "Export destination of the data.Only gcs path is allowed in output_uri.",
      "id": "GoogleCloudDatalabelingV1p1alpha1GcsDestination"
    },
    "GoogleCloudDatalabelingV1beta1InputConfig": {
      "properties": {
        "bigquerySource": {
          "description": "Source located in BigQuery. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "$ref": "GoogleCloudDatalabelingV1beta1BigQuerySource"
        },
        "textMetadata": {
          "description": "Required for text import, as language code must be specified.",
          "$ref": "GoogleCloudDatalabelingV1beta1TextMetadata"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "IMAGE",
            "VIDEO",
            "TEXT",
            "GENERAL_DATA"
          ],
          "enumDescriptions": [
            "Data type is unspecified.",
            "Allowed for continuous evaluation.",
            "Video data type.",
            "Allowed for continuous evaluation.",
            "Allowed for continuous evaluation."
          ],
          "description": "Required. Data type must be specifed when user tries to import data."
        },
        "gcsSource": {
          "description": "Source located in Cloud Storage.",
          "$ref": "GoogleCloudDatalabelingV1beta1GcsSource"
        },
        "classificationMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1ClassificationMetadata",
          "description": "Optional. Metadata about annotations for the input. You must specify this field if you are using this InputConfig in an EvaluationJob for a model version that performs classification."
        },
        "annotationType": {
          "description": "Optional. The type of annotation to be performed on this data. You must specify this field if you are using this InputConfig in an EvaluationJob.",
          "type": "string",
          "enumDescriptions": [
            "",
            "Classification annotations in an image. Allowed for continuous evaluation.",
            "Bounding box annotations in an image. A form of image object detection. Allowed for continuous evaluation.",
            "Oriented bounding box. The box does not have to be parallel to horizontal line.",
            "Bounding poly annotations in an image.",
            "Polyline annotations in an image.",
            "Segmentation annotations in an image.",
            "Classification annotations in video shots.",
            "Video object tracking annotation.",
            "Video object detection annotation.",
            "Video event annotation.",
            "Classification for text. Allowed for continuous evaluation.",
            "Entity extraction for text.",
            "General classification. Allowed for continuous evaluation."
          ],
          "enum": [
            "ANNOTATION_TYPE_UNSPECIFIED",
            "IMAGE_CLASSIFICATION_ANNOTATION",
            "IMAGE_BOUNDING_BOX_ANNOTATION",
            "IMAGE_ORIENTED_BOUNDING_BOX_ANNOTATION",
            "IMAGE_BOUNDING_POLY_ANNOTATION",
            "IMAGE_POLYLINE_ANNOTATION",
            "IMAGE_SEGMENTATION_ANNOTATION",
            "VIDEO_SHOTS_CLASSIFICATION_ANNOTATION",
            "VIDEO_OBJECT_TRACKING_ANNOTATION",
            "VIDEO_OBJECT_DETECTION_ANNOTATION",
            "VIDEO_EVENT_ANNOTATION",
            "TEXT_CLASSIFICATION_ANNOTATION",
            "TEXT_ENTITY_EXTRACTION_ANNOTATION",
            "GENERAL_CLASSIFICATION_ANNOTATION"
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1InputConfig",
      "description": "The configuration of input data, including data type, location, etc."
    },
    "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1beta1LabelImageOrientedBoundingBoxOperationMetadata",
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config."
        }
      },
      "type": "object",
      "description": "Details of a LabelImageOrientedBoundingBox operation metadata."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoEventOperationMetadata": {
      "type": "object",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig"
        }
      },
      "description": "Details of a LabelVideoEvent operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoEventOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse": {
      "id": "GoogleCloudDatalabelingV1beta1ExportDataOperationResponse",
      "description": "Response used for ExportDataset longrunning operation.",
      "type": "object",
      "properties": {
        "outputConfig": {
          "description": "Output only. output_config in the ExportData request.",
          "$ref": "GoogleCloudDatalabelingV1beta1OutputConfig"
        },
        "dataset": {
          "description": "Ouptut only. The name of dataset. \"projects/*/datasets/*\"",
          "type": "string"
        },
        "labelStats": {
          "description": "Output only. Statistic infos of labels in the exported dataset.",
          "$ref": "GoogleCloudDatalabelingV1beta1LabelStats"
        },
        "totalCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Total number of examples requested to export"
        },
        "exportCount": {
          "format": "int32",
          "description": "Output only. Number of examples exported successfully.",
          "type": "integer"
        },
        "annotatedDataset": {
          "type": "string",
          "description": "Output only. The name of annotated dataset in format \"projects/*/datasets/*/annotatedDatasets/*\"."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation": {
      "description": "Text entity extraction annotation.",
      "id": "GoogleCloudDatalabelingV1beta1TextEntityExtractionAnnotation",
      "properties": {
        "annotationSpec": {
          "description": "Label of the text entities.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "sequentialSegment": {
          "description": "Position of the entity.",
          "$ref": "GoogleCloudDatalabelingV1beta1SequentialSegment"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1FeedbackThread": {
      "properties": {
        "feedbackThreadMetadata": {
          "$ref": "GoogleCloudDatalabelingV1beta1FeedbackThreadMetadata",
          "description": "Metadata regarding the feedback thread."
        },
        "name": {
          "description": "Name of the feedback thread. Format: 'project/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset_id}/feedbackThreads/{feedback_thread_id}'",
          "type": "string"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1FeedbackThread",
      "type": "object",
      "description": "A feedback thread of a certain labeling task on a certain annotated dataset."
    },
    "GoogleCloudDatalabelingV1beta1NormalizedPolyline": {
      "description": "Normalized polyline.",
      "properties": {
        "normalizedVertices": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1NormalizedVertex"
          },
          "description": "The normalized polyline vertices."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1NormalizedPolyline",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1OperatorFeedbackMetadata",
      "description": "Metadata describing the feedback from the operator.",
      "properties": {}
    },
    "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1beta1ImageSegmentationAnnotation",
      "properties": {
        "annotationColors": {
          "additionalProperties": {
            "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
          },
          "description": "The mapping between rgb color and annotation spec. The key is the rgb color represented in format of rgb(0, 0, 0). The value is the AnnotationSpec.",
          "type": "object"
        },
        "imageBytes": {
          "type": "string",
          "format": "byte",
          "description": "A byte string of a full image's color map."
        },
        "mimeType": {
          "type": "string",
          "description": "Image format."
        }
      },
      "description": "Image segmentation annotation."
    },
    "GoogleCloudDatalabelingV1p2alpha1OutputConfig": {
      "id": "GoogleCloudDatalabelingV1p2alpha1OutputConfig",
      "type": "object",
      "description": "The configuration of output data.",
      "properties": {
        "gcsFolderDestination": {
          "description": "Output to a folder in Cloud Storage. Should be used for image segmentation or document de-identification labeling outputs.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsFolderDestination"
        },
        "gcsDestination": {
          "$ref": "GoogleCloudDatalabelingV1p2alpha1GcsDestination",
          "description": "Output to a file in Cloud Storage. Should be used for labeling output other than image segmentation."
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig": {
      "id": "GoogleCloudDatalabelingV1beta1ObjectTrackingConfig",
      "type": "object",
      "properties": {
        "clipLength": {
          "format": "int32",
          "type": "integer",
          "description": "Videos will be cut to smaller clips to make it easier for labelers to work on. Users can configure is field in seconds, if not set, default value is 20s."
        },
        "overlapLength": {
          "description": "The overlap length between different video clips. Users can configure is field in seconds, if not set, default value is 0.3s.",
          "format": "int32",
          "type": "integer"
        },
        "annotationSpecSet": {
          "description": "Required. Annotation spec set resource name.",
          "type": "string"
        }
      },
      "description": "Config for video object tracking human labeling task."
    },
    "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation": {
      "description": "A polyline for the image annotation.",
      "type": "object",
      "properties": {
        "normalizedPolyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1NormalizedPolyline"
        },
        "annotationSpec": {
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec",
          "description": "Label of this polyline."
        },
        "polyline": {
          "$ref": "GoogleCloudDatalabelingV1beta1Polyline"
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1ImagePolylineAnnotation"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata": {
      "description": "Details of LabelImageBoundingPoly operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelImageBoundingPolyOperationMetadata"
    },
    "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata": {
      "id": "GoogleCloudDatalabelingV1p2alpha1LabelVideoObjectDetectionOperationMetadata",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1p2alpha1HumanAnnotationConfig"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1alpha1GcsFolderDestination": {
      "description": "Export folder destination of the data.",
      "id": "GoogleCloudDatalabelingV1alpha1GcsFolderDestination",
      "type": "object",
      "properties": {
        "outputFolderUri": {
          "type": "string",
          "description": "Required. Cloud Storage directory to export data to."
        }
      }
    },
    "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "type": "object",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1alpha1LabelVideoObjectDetectionOperationMetadata",
      "properties": {
        "basicConfig": {
          "description": "Basic human annotation config used in labeling request.",
          "$ref": "GoogleCloudDatalabelingV1alpha1HumanAnnotationConfig"
        }
      }
    },
    "GoogleCloudDatalabelingV1beta1PdfInstruction": {
      "properties": {
        "gcsFileUri": {
          "description": "PDF file for the instruction. Only gcs path is allowed.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Instruction from a PDF file.",
      "id": "GoogleCloudDatalabelingV1beta1PdfInstruction"
    },
    "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse": {
      "type": "object",
      "properties": {
        "exampleComparisons": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1ExampleComparison"
          },
          "description": "A list of example comparisons matching the search criteria."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results."
        }
      },
      "description": "Results of searching example comparisons.",
      "id": "GoogleCloudDatalabelingV1beta1SearchExampleComparisonsResponse"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "type": "object",
      "description": "Details of a LabelVideoObjectDetection operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectDetectionOperationMetadata"
    },
    "GoogleCloudDatalabelingV1beta1Example": {
      "description": "An Example is a piece of data and its annotation. For example, an image with label \"house\".",
      "id": "GoogleCloudDatalabelingV1beta1Example",
      "properties": {
        "imagePayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1ImagePayload",
          "description": "The image payload, a container of the image bytes/uri."
        },
        "annotations": {
          "description": "Output only. Annotations for the piece of data in Example. One piece of data can have multiple annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudDatalabelingV1beta1Annotation"
          }
        },
        "videoPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1VideoPayload",
          "description": "The video payload, a container of the video uri."
        },
        "name": {
          "description": "Output only. Name of the example, in format of: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/ {annotated_dataset_id}/examples/{example_id}",
          "type": "string"
        },
        "textPayload": {
          "$ref": "GoogleCloudDatalabelingV1beta1TextPayload",
          "description": "The text payload, a container of the text content."
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1Annotation": {
      "type": "object",
      "properties": {
        "annotationMetadata": {
          "description": "Output only. Annotation metadata, including information like votes for labels.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationMetadata"
        },
        "annotationSource": {
          "enumDescriptions": [
            "",
            "Answer is provided by a human contributor."
          ],
          "description": "Output only. The source of the annotation.",
          "enum": [
            "ANNOTATION_SOURCE_UNSPECIFIED",
            "OPERATOR"
          ],
          "type": "string"
        },
        "annotationSentiment": {
          "enum": [
            "ANNOTATION_SENTIMENT_UNSPECIFIED",
            "NEGATIVE",
            "POSITIVE"
          ],
          "description": "Output only. Sentiment for this annotation.",
          "enumDescriptions": [
            "",
            "This annotation describes negatively about the data.",
            "This label describes positively about the data."
          ],
          "type": "string"
        },
        "annotationValue": {
          "description": "Output only. This is the actual annotation value, e.g classification, bounding box values are stored here.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationValue"
        },
        "name": {
          "type": "string",
          "description": "Output only. Unique name of this annotation, format is: projects/{project_id}/datasets/{dataset_id}/annotatedDatasets/{annotated_dataset}/examples/{example_id}/annotations/{annotation_id}"
        }
      },
      "description": "Annotation for Example. Each example may have one or more annotations. For example in image classification problem, each image might have one or more labels. We call labels binded with this image an Annotation.",
      "id": "GoogleCloudDatalabelingV1beta1Annotation"
    },
    "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry": {
      "id": "GoogleCloudDatalabelingV1beta1ConfusionMatrixEntry",
      "properties": {
        "annotationSpec": {
          "description": "The annotation spec of a predicted label.",
          "$ref": "GoogleCloudDatalabelingV1beta1AnnotationSpec"
        },
        "itemCount": {
          "type": "integer",
          "description": "Number of items predicted to have this label. (The ground truth label for these items is the `Row.annotationSpec` of this entry's parent.)",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelStats": {
      "type": "object",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelStats",
      "properties": {
        "exampleCount": {
          "type": "object",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "description": "Map of each annotation spec's example count. Key is the annotation spec name and value is the number of examples for that annotation spec. If the annotated dataset does not have annotation spec, the map will return a pair where the key is empty string and value is the total number of annotations."
        }
      },
      "description": "Statistics about annotation specs."
    },
    "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1beta1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "id": "GoogleCloudDatalabelingV1beta1LabelImagePolylineOperationMetadata",
      "type": "object",
      "description": "Details of LabelImagePolyline operation metadata."
    },
    "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectTrackingOperationMetadata": {
      "properties": {
        "basicConfig": {
          "$ref": "GoogleCloudDatalabelingV1p1alpha1HumanAnnotationConfig",
          "description": "Basic human annotation config used in labeling request."
        }
      },
      "description": "Details of a LabelVideoObjectTracking operation metadata.",
      "id": "GoogleCloudDatalabelingV1p1alpha1LabelVideoObjectTrackingOperationMetadata",
      "type": "object"
    },
    "GoogleCloudDatalabelingV1beta1LabelOperationMetadata": {
[...]
