{
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "BatchGetDocumentsResponse": {
      "id": "BatchGetDocumentsResponse",
      "type": "object",
      "description": "Response message for DeveloperKnowledge.BatchGetDocuments.",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "Document"
          },
          "description": "Documents requested."
        }
      }
    },
    "SearchDocumentChunksResponse": {
      "description": "Response message for DeveloperKnowledge.SearchDocumentChunks.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "results": {
          "type": "array",
          "description": "The search results for the given query. Each DocumentChunk in this list contains a snippet of content relevant to the search query. Use the DocumentChunk.parent field of each result with DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments to retrieve the full document content.",
          "items": {
            "$ref": "DocumentChunk"
          }
        }
      },
      "id": "SearchDocumentChunksResponse",
      "type": "object"
    },
    "Document": {
      "properties": {
        "content": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The full content of the document in Markdown format."
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the document.",
          "type": "string"
        },
        "uri": {
          "description": "Output only. The URI of the content, such as `docs.cloud.google.com/storage/docs/creating-buckets`.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the document. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
        }
      },
      "id": "Document",
      "description": "A Document represents a piece of content from the Developer Knowledge corpus.",
      "type": "object"
    },
    "DocumentChunk": {
      "type": "object",
      "id": "DocumentChunk",
      "properties": {
        "content": {
          "type": "string",
          "description": "Output only. The content of the document chunk.",
          "readOnly": true
        },
        "parent": {
          "description": "Output only. The resource name of the document this chunk is from. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. The ID of this chunk within the document. The chunk ID is unique within a document, but not globally unique across documents. The chunk ID is not stable and may change over time.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "A DocumentChunk represents a piece of content from a Document in the DeveloperKnowledge corpus. To fetch the entire document content, pass the `parent` to DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments."
    }
  },
  "rootUrl": "https://developerknowledge.googleapis.com/",
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/knowledge",
  "ownerDomain": "google.com",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "version": "v1alpha",
  "protocol": "rest",
  "mtlsRootUrl": "https://developerknowledge.mtls.googleapis.com/",
  "description": "The Developer Knowledge API provides access to Google's developer knowledge.",
  "name": "developerknowledge",
  "canonicalName": "Developer Knowledge",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "revision": "20260223",
  "version_module": true,
  "kind": "discovery#restDescription",
  "title": "Developer Knowledge API",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "documents": {
      "methods": {
        "searchDocumentChunks": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1alpha/documents:searchDocumentChunks",
          "response": {
            "$ref": "SearchDocumentChunksResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "pageToken": {
              "location": "query",
              "description": "Optional. A page token, received from a previous `SearchDocumentChunks` call. Provide this to retrieve the subsequent page.",
              "type": "string"
            },
            "query": {
              "description": "Required. The raw query string provided by the user, such as \"How to create a Cloud Storage bucket?\".",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "format": "int32",
              "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 5 results will be returned. The maximum value is 20; values above 20 will result in an INVALID_ARGUMENT error.",
              "location": "query"
            }
          },
          "id": "developerknowledge.documents.searchDocumentChunks",
          "description": "Searches for developer knowledge across Google's developer documentation. This method returns document chunks based on the user's query. There can be many chunks of the same Document. To retrieve full documents, use DeveloperKnowledge.GetDocument or DeveloperKnowledge.BatchGetDocuments with the DocumentChunk.parent returned in the SearchDocumentChunksResponse.results.",
          "path": "v1alpha/documents:searchDocumentChunks"
        },
        "get": {
          "httpMethod": "GET",
          "path": "v1alpha/{+name}",
          "parameterOrder": [
            "name"
          ],
          "description": "Retrieves a single document with its full Markdown content.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "Required. The name of the document to retrieve. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`",
              "location": "path",
              "pattern": "^documents/.*$"
            }
          },
          "id": "developerknowledge.documents.get",
          "flatPath": "v1alpha/documents/{documentsId}",
          "response": {
            "$ref": "Document"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "batchGet": {
          "flatPath": "v1alpha/documents:batchGet",
          "id": "developerknowledge.documents.batchGet",
          "description": "Retrieves multiple documents, each with its full Markdown content.",
          "parameterOrder": [],
          "path": "v1alpha/documents:batchGet",
          "response": {
            "$ref": "BatchGetDocumentsResponse"
          },
          "parameters": {
            "names": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Required. The names of the documents to retrieve. A maximum of 20 documents can be retrieved in a batch. The documents are returned in the same order as the `names` in the request. Format: `documents/{uri_without_scheme}` Example: `documents/docs.cloud.google.com/storage/docs/creating-buckets`"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET"
        }
      }
    }
  },
  "basePath": "",
  "id": "developerknowledge:v1alpha",
  "baseUrl": "https://developerknowledge.googleapis.com/"
}