{
  "documentationLink": "https://developers.google.com/doubleclick-advertisers/",
  "version": "v5",
  "servicePath": "dfareporting/v5/",
  "basePath": "/dfareporting/v5/",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://dfareporting.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "revision": "20260213",
  "id": "dfareporting:v5",
  "ownerName": "Google",
  "baseUrl": "https://dfareporting.googleapis.com/dfareporting/v5/",
  "fullyEncodeReservedExpansion": true,
  "description": "Build applications to efficiently manage large or complex trafficking, reporting, and attribution workflows for Campaign Manager 360.",
  "title": "Campaign Manager 360 API",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "dfareporting",
  "kind": "discovery#restDescription",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves a list of languages.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/languages",
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.languages.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/languages",
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    },
    "mobileApps": {
      "methods": {
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/mobileApps/{mobileAppsId}",
          "response": {
            "$ref": "MobileApp"
          },
          "id": "dfareporting.mobileApps.get",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Mobile app ID.",
              "pattern": "^[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/mobileApps/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one mobile app by ID."
        },
        "list": {
          "id": "dfareporting.mobileApps.list",
          "parameters": {
            "ids": {
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "Select only apps with these IDs."
            },
            "directories": {
              "description": "Select only apps from these directories.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "UNKNOWN",
                "APPLE_APP_STORE",
                "GOOGLE_PLAY_STORE",
                "ROKU_APP_STORE",
                "AMAZON_FIRETV_APP_STORE",
                "PLAYSTATION_APP_STORE",
                "APPLE_TV_APP_STORE",
                "XBOX_APP_STORE",
                "SAMSUNG_TV_APP_STORE",
                "ANDROID_TV_APP_STORE",
                "GENERIC_CTV_APP_STORE"
              ],
              "repeated": true,
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"app*2015\" will return objects with names like \"app Jan 2018\", \"app Jan 2018\", or simply \"app 2018\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"app\" will match objects with name \"my app\", \"app 2018\", or simply \"app\"."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/mobileApps",
          "response": {
            "$ref": "MobileAppsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/mobileApps",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves list of available mobile apps."
        }
      }
    },
    "creativeFieldValues": {
      "methods": {
        "delete": {
          "httpMethod": "DELETE",
          "description": "Deletes an existing creative field value.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "id": "dfareporting.creativeFieldValues.delete",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "parameters": {
            "id": {
              "description": "Creative Field Value ID",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}"
        },
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.patch",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "description": "CreativeField ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "id": {
              "required": true,
              "location": "query",
              "description": "CreativeFieldValue ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing creative field value. This method supports patch semantics."
        },
        "list": {
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "id": "dfareporting.creativeFieldValues.list",
          "parameters": {
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creative field values with these IDs."
            },
            "creativeFieldId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Creative field ID for this creative field value."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "VALUE"
              ],
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed."
            },
            "maxResults": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValuesListResponse"
          },
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "httpMethod": "GET",
          "description": "Retrieves a list of creative field values, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "description": "Gets one creative field value by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues/{+id}",
          "parameterOrder": [
            "profileId",
            "creativeFieldId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues/{creativeFieldValuesId}",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.get",
          "parameters": {
            "id": {
              "required": true,
              "location": "path",
              "description": "Creative Field Value ID",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "insert": {
          "id": "dfareporting.creativeFieldValues.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new creative field value."
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/creativeFields/{creativeFieldsId}/creativeFieldValues",
          "response": {
            "$ref": "CreativeFieldValue"
          },
          "id": "dfareporting.creativeFieldValues.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "creativeFieldId": {
              "required": true,
              "location": "path",
              "description": "Creative field ID for this creative field value.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId",
            "creativeFieldId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing creative field value.",
          "path": "userprofiles/{+profileId}/creativeFields/{+creativeFieldId}/creativeFieldValues",
          "request": {
            "$ref": "CreativeFieldValue"
          }
        }
      }
    },
    "files": {
      "methods": {
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{profileId}/files",
          "response": {
            "$ref": "FileList"
          },
          "id": "dfareporting.files.list",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "The Campaign Manager 360 user profile ID.",
              "type": "string",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The value of the nextToken from the previous result page."
            },
            "scope": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "All files in account.",
                "My files.",
                "Files shared with me."
              ],
              "enum": [
                "ALL",
                "MINE",
                "SHARED_WITH_ME"
              ],
              "description": "The scope that defines which results are returned.",
              "default": "MINE"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "10",
              "type": "integer",
              "format": "int32"
            },
            "sortField": {
              "description": "The field by which to sort the list.",
              "default": "LAST_MODIFIED_TIME",
              "type": "string",
              "enumDescriptions": [
                "Sort by file ID.",
                "Sort by 'lastmodifiedAt' field."
              ],
              "enum": [
                "ID",
                "LAST_MODIFIED_TIME"
              ],
              "location": "query"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "DESCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "description": "Lists files for a user profile.",
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "userprofiles/{profileId}/files"
        },
        "get": {
          "httpMethod": "GET",
          "description": "Retrieves a report file by its report ID and file ID. This method supports media download.",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/dfareporting"
          ],
          "path": "reports/{reportId}/files/{fileId}",
          "parameterOrder": [
            "reportId",
            "fileId"
          ],
          "flatPath": "reports/{reportId}/files/{fileId}",
          "response": {
            "$ref": "File"
          },
          "id": "dfareporting.files.get",
          "parameters": {
            "reportId": {
              "location": "path",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "The ID of the report."
            },
            "fileId": {
              "description": "The ID of the report file.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          }
        }
      }
    },
    "userRolePermissionGroups": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one user role permission group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissionGroups/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.userRolePermissionGroups.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User role permission group ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups/{userRolePermissionGroupsId}",
          "response": {
            "$ref": "UserRolePermissionGroup"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissionGroups",
          "response": {
            "$ref": "UserRolePermissionGroupsListResponse"
          },
          "id": "dfareporting.userRolePermissionGroups.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "path": "userprofiles/{+profileId}/userRolePermissionGroups",
          "httpMethod": "GET",
          "description": "Gets a list of all supported user role permission groups.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        }
      }
    },
    "advertiserLandingPages": {
      "methods": {
        "patch": {
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.patch",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "location": "query",
              "required": true,
              "type": "string",
              "format": "int64",
              "description": "Required. Landing Page ID."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing landing page. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          }
        },
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.advertiserLandingPages.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "Landing page ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages/{advertiserLandingPagesId}",
          "response": {
            "$ref": "LandingPage"
          },
          "httpMethod": "GET",
          "description": "Gets one landing page by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages/{+id}"
        },
        "insert": {
          "httpMethod": "POST",
          "description": "Inserts a new landing page.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          },
          "id": "dfareporting.advertiserLandingPages.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          }
        },
        "update": {
          "id": "dfareporting.advertiserLandingPages.update",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "response": {
            "$ref": "LandingPage"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing landing page.",
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "request": {
            "$ref": "LandingPage"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/advertiserLandingPages",
          "httpMethod": "GET",
          "description": "Retrieves a list of landing pages.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/advertiserLandingPages",
          "response": {
            "$ref": "AdvertiserLandingPagesListResponse"
          },
          "id": "dfareporting.advertiserLandingPages.list",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for landing pages by name or ID. Wildcards (*) are allowed. For example, \"landingpage*2017\" will return landing pages with names like \"landingpage July 2017\", \"landingpage March 2017\", or simply \"landingpage 2017\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"landingpage\" will match campaigns with name \"my landingpage\", \"landingpage 2015\", or simply \"landingpage\"."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "advertiserIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only landing pages that belong to these advertisers.",
              "format": "int64",
              "type": "string"
            },
            "subaccountId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Select only landing pages that belong to this subaccount."
            },
            "campaignIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only landing pages that are associated with these campaigns."
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "archived": {
              "location": "query",
              "type": "boolean",
              "description": "Select only archived landing pages. Don't set this field to select both archived and non-archived landing pages."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "description": "Select only landing pages with these IDs.",
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "placements": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/placements",
          "request": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing placement. This method supports patch semantics.",
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.patch",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "format": "int64",
              "type": "string",
              "description": "Required. Placement ID.",
              "location": "query",
              "required": true
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "generatetags": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.placements.generatetags",
          "parameters": {
            "placementIds": {
              "location": "query",
              "repeated": true,
              "description": "Generate tags for these placements.",
              "type": "string",
              "format": "int64"
            },
            "campaignId": {
              "location": "query",
              "type": "string",
              "format": "int64",
              "description": "Generate placements belonging to this campaign. This is a required field."
            },
            "tagFormats": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_TAG_STANDARD",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_IFRAME_ILAYER",
                "PLACEMENT_TAG_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT",
                "PLACEMENT_TAG_INTERSTITIAL_INTERNAL_REDIRECT",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT",
                "PLACEMENT_TAG_CLICK_COMMANDS",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH",
                "PLACEMENT_TAG_TRACKING",
                "PLACEMENT_TAG_TRACKING_IFRAME",
                "PLACEMENT_TAG_TRACKING_JAVASCRIPT",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_3",
                "PLACEMENT_TAG_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_IFRAME_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INTERSTITIAL_JAVASCRIPT_LEGACY",
                "PLACEMENT_TAG_INSTREAM_VIDEO_PREFETCH_VAST_4",
                "PLACEMENT_TAG_TRACKING_THIRD_PARTY_MEASUREMENT"
              ],
              "description": "Tag formats to generate for these placements. *Note:* PLACEMENT_TAG_STANDARD can only be generated for 1x1 placements."
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements/generatetags",
          "response": {
            "$ref": "PlacementsGenerateTagsResponse"
          },
          "httpMethod": "POST",
          "description": "Generates tags for a placement.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/placements/generatetags"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one placement by ID.",
          "path": "userprofiles/{+profileId}/placements/{+id}",
          "flatPath": "userprofiles/{userprofilesId}/placements/{placementsId}",
          "response": {
            "$ref": "Placement"
          },
          "id": "dfareporting.placements.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            },
            "id": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Placement ID."
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "id": "dfareporting.placements.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new placement.",
          "path": "userprofiles/{+profileId}/placements",
          "request": {
            "$ref": "Placement"
          }
        },
        "update": {
          "id": "dfareporting.placements.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "Placement"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "request": {
            "$ref": "Placement"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing placement."
        },
        "list": {
          "id": "dfareporting.placements.list",
          "parameters": {
            "paymentSource": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_AGENCY_PAID",
                "PLACEMENT_PUBLISHER_PAID"
              ],
              "description": "Select only placements with this payment source.",
              "location": "query"
            },
            "campaignIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements that belong to these campaigns.",
              "repeated": true,
              "location": "query"
            },
            "compatibilities": {
              "description": "Select only placements that are associated with these compatibilities. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering in in-stream video ads developed with the VAST standard.",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "Deprecated enum value. No longer supported.",
                "Deprecated enum value. No longer supported.",
                "",
                ""
              ],
              "enum": [
                "DISPLAY",
                "DISPLAY_INTERSTITIAL",
                "APP",
                "APP_INTERSTITIAL",
                "IN_STREAM_VIDEO",
                "IN_STREAM_AUDIO"
              ],
              "location": "query",
              "repeated": true
            },
            "sizeIds": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only placements that are associated with these sizes."
            },
            "pricingTypes": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PRICING_TYPE_CPM",
                "PRICING_TYPE_CPC",
                "PRICING_TYPE_CPA",
                "PRICING_TYPE_FLAT_RATE_IMPRESSIONS",
                "PRICING_TYPE_FLAT_RATE_CLICKS",
                "PRICING_TYPE_CPM_ACTIVEVIEW"
              ],
              "description": "Select only placements with these pricing types."
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "placementStrategyIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements that are associated with these placement strategies.",
              "repeated": true,
              "location": "query"
            },
            "directorySiteIds": {
              "description": "Select only placements that are associated with these directory sites.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "maxEndDate": {
              "description": "Select only placements or placement groups whose end date is on or before the specified maxEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "minEndDate": {
              "description": "Select only placements or placement groups whose end date is on or after the specified minEndDate. The date should be formatted as \"yyyy-MM-dd\".",
              "location": "query",
              "type": "string"
            },
            "ids": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements with these IDs.",
              "repeated": true,
              "location": "query"
            },
            "activeStatus": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                "",
                "",
                ""
              ],
              "enum": [
                "PLACEMENT_STATUS_UNKNOWN",
                "PLACEMENT_STATUS_ACTIVE",
                "PLACEMENT_STATUS_INACTIVE",
                "PLACEMENT_STATUS_ARCHIVED",
                "PLACEMENT_STATUS_PERMANENTLY_ARCHIVED"
              ],
              "description": "Select only placements with these active statuses."
            },
            "minStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or after the specified minStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "siteIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only placements that are associated with these sites.",
              "format": "int64",
              "type": "string"
            },
            "contentCategoryIds": {
              "description": "Select only placements that are associated with these content categories.",
              "format": "int64",
              "type": "string",
              "repeated": true,
              "location": "query"
            },
            "maxStartDate": {
              "location": "query",
              "type": "string",
              "description": "Select only placements or placement groups whose start date is on or before the specified maxStartDate. The date should be formatted as \"yyyy-MM-dd\"."
            },
            "searchString": {
              "description": "Allows searching for placements by name or ID. Wildcards (*) are allowed. For example, \"placement*2015\" will return placements with names like \"placement June 2015\", \"placement May 2015\", or simply \"placements 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"placement\" will match placements with name \"my placement\", \"placement 2015\", or simply \"placement\" .",
              "location": "query",
              "type": "string"
            },
            "groupIds": {
              "format": "int64",
              "type": "string",
              "description": "Select only placements that belong to these placement groups.",
              "repeated": true,
              "location": "query"
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "advertiserIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only placements that belong to these advertisers."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/placements",
          "response": {
            "$ref": "PlacementsListResponse"
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/placements",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of placements, possibly filtered. This method supports paging."
        }
      }
    },
    "creativeGroups": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one creative group by ID.",
          "path": "userprofiles/{+profileId}/creativeGroups/{+id}",
          "id": "dfareporting.creativeGroups.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "Creative group ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups/{creativeGroupsId}",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ]
        },
        "insert": {
          "id": "dfareporting.creativeGroups.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new creative group.",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing creative group.",
          "id": "dfareporting.creativeGroups.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId"
          ]
        },
        "list": {
          "path": "userprofiles/{+profileId}/creativeGroups",
          "httpMethod": "GET",
          "description": "Retrieves a list of creative groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroupsListResponse"
          },
          "id": "dfareporting.creativeGroups.list",
          "parameters": {
            "ids": {
              "description": "Select only creative groups with these IDs.",
              "type": "string",
              "format": "int64",
              "location": "query",
              "repeated": true
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "groupNumber": {
              "description": "Select only creative groups that belong to this subgroup.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "sortField": {
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "location": "query"
            },
            "advertiserIds": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only creative groups that belong to these advertisers."
            },
            "searchString": {
              "description": "Allows searching for creative groups by name or ID. Wildcards (*) are allowed. For example, \"creativegroup*2015\" will return creative groups with names like \"creativegroup June 2015\", \"creativegroup April 2015\", or simply \"creativegroup 2015\". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of \"creativegroup\" will match creative groups with the name \"my creativegroup\", \"creativegroup 2015\", or simply \"creativegroup\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          }
        },
        "patch": {
          "id": "dfareporting.creativeGroups.patch",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "description": "Required. Creative Group ID.",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/creativeGroups",
          "response": {
            "$ref": "CreativeGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing creative group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/creativeGroups",
          "request": {
            "$ref": "CreativeGroup"
          }
        }
      }
    },
    "studioCreativeAssets": {
      "methods": {
        "insert": {
          "id": "dfareporting.studioCreativeAssets.insert",
          "parameters": {},
          "flatPath": "studio/creativeAssets",
          "response": {
            "$ref": "StudioCreativeAssetsResponse"
          },
          "parameterOrder": [],
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/dfareporting/v5/studio/creativeAssets"
              }
            },
            "maxSize": "1073741824",
            "accept": [
              "*/*"
            ]
          },
          "path": "studio/creativeAssets",
          "request": {
            "$ref": "DfareportingStudioCreativeAssetsInsertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new studio creative asset."
        }
      }
    },
    "directorySites": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySitesListResponse"
          },
          "id": "dfareporting.directorySites.list",
          "parameters": {
            "acceptsPublisherPaidPlacements": {
              "description": "Select only directory sites that accept publisher paid placements. This field can be left blank.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Select only directory sites with these IDs.",
              "type": "string",
              "format": "int64"
            },
            "sortOrder": {
              "location": "query",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Order of sorted results.",
              "default": "ASCENDING"
            },
            "maxResults": {
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "type": "integer",
              "location": "query"
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name, ID or URL. Wildcards (*) are allowed. For example, \"directory site*2015\" will return objects with names like \"directory site June 2015\", \"directory site April 2015\", or simply \"directory site 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"directory site\" will match objects with name \"my directory site\", \"directory site 2015\" or simply, \"directory site\"."
            },
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "acceptsInStreamVideoPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "active": {
              "description": "Select only active directory sites. Leave blank to retrieve both active and inactive directory sites.",
              "location": "query",
              "type": "boolean"
            },
            "acceptsInterstitialPlacements": {
              "location": "query",
              "type": "boolean",
              "description": "This search filter is no longer supported and will have no effect on the results returned."
            },
            "dfpNetworkCode": {
              "description": "Select only directory sites with this Ad Manager network code.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ],
              "description": "Field by which to sort the list.",
              "default": "ID",
              "location": "query"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of directory sites, possibly filtered. This method supports paging.",
          "path": "userprofiles/{+profileId}/directorySites"
        },
        "get": {
          "id": "dfareporting.directorySites.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Directory site ID.",
              "location": "path",
              "required": true
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/directorySites/{directorySitesId}",
          "response": {
            "$ref": "DirectorySite"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/directorySites/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one directory site by ID."
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/directorySites",
          "response": {
            "$ref": "DirectorySite"
          },
          "id": "dfareporting.directorySites.insert",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST",
          "description": "Inserts a new directory site.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/directorySites",
          "request": {
            "$ref": "DirectorySite"
          }
        }
      }
    },
    "billingProfiles": {
      "methods": {
        "get": {
          "id": "dfareporting.billingProfiles.get",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Billing Profile ID.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}",
          "response": {
            "$ref": "BillingProfile"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one billing profile by ID.",
          "path": "userprofiles/{+profileId}/billingProfiles/{+id}"
        },
        "update": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "response": {
            "$ref": "BillingProfile"
          },
          "id": "dfareporting.billingProfiles.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing billing profile.",
          "path": "userprofiles/{+profileId}/billingProfiles",
          "request": {
            "$ref": "BillingProfile"
          }
        },
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles",
          "response": {
            "$ref": "BillingProfilesListResponse"
          },
          "id": "dfareporting.billingProfiles.list",
          "parameters": {
            "currency_code": {
              "description": "Select only billing profile with currency.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "Allows searching for billing profiles by name. Wildcards (*) are allowed. For example, \"profile*2020\" will return objects with names like \"profile June 2020\", \"profile April 2020\", or simply \"profile 2020\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"profile\" will match objects with name \"my profile\", \"profile 2021\", or simply \"profile\".",
              "location": "query",
              "type": "string"
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only billing profile with these IDs."
            },
            "status": {
              "type": "string",
              "enumDescriptions": [
                "",
                "",
                ""
              ],
              "enum": [
                "UNDER_REVIEW",
                "ACTIVE",
                "ARCHIVED"
              ],
              "description": "Select only billing profile with the specified status.",
              "repeated": true,
              "location": "query"
            },
            "onlySuggestion": {
              "description": "Select only billing profile which is suggested for the currency_code & subaccount_id using the Billing Suggestion API.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Value of the nextPageToken from the previous result page.",
              "location": "query",
              "type": "string"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "subaccountIds": {
              "repeated": true,
              "location": "query",
              "description": "Select only billing profile with the specified subaccount.When only_suggestion is true, only a single subaccount_id is supported.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/billingProfiles",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of billing profiles, possibly filtered. This method supports paging."
        }
      }
    },
    "targetingTemplates": {
      "methods": {
        "patch": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing targeting template. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.targetingTemplates.patch",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "description": "Required. RemarketingList ID.",
              "type": "string",
              "format": "int64",
              "required": true,
              "location": "query"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "httpMethod": "GET",
          "description": "Retrieves a list of targeting templates, optionally filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplatesListResponse"
          },
          "id": "dfareporting.targetingTemplates.list",
          "parameters": {
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "sortOrder": {
              "location": "query",
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "format": "int64",
              "description": "Select only targeting templates with these IDs."
            },
            "advertiserId": {
              "description": "Select only targeting templates with this advertiser ID.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "searchString": {
              "location": "query",
              "type": "string",
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"template*2015\" will return objects with names like \"template June 2015\", \"template April 2015\", or simply \"template 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"template\" will match objects with name \"my template\", \"template 2015\", or simply \"template\"."
            },
            "maxResults": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            }
          }
        },
        "get": {
          "path": "userprofiles/{+profileId}/targetingTemplates/{+id}",
          "httpMethod": "GET",
          "description": "Gets one targeting template by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates/{targetingTemplatesId}",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "id": "dfareporting.targetingTemplates.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "Targeting template ID.",
              "location": "path",
              "required": true
            }
          }
        },
        "insert": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.targetingTemplates.insert",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "httpMethod": "POST",
          "description": "Inserts a new targeting template.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          }
        },
        "update": {
          "path": "userprofiles/{+profileId}/targetingTemplates",
          "request": {
            "$ref": "TargetingTemplate"
          },
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing targeting template.",
          "id": "dfareporting.targetingTemplates.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/targetingTemplates",
          "response": {
            "$ref": "TargetingTemplate"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "browsers": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/browsers",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of browsers.",
          "id": "dfareporting.browsers.list",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/browsers",
          "response": {
            "$ref": "BrowsersListResponse"
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "countries": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "dartId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/countries/{countriesId}",
          "response": {
            "$ref": "Country"
          },
          "id": "dfareporting.countries.get",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "dartId": {
              "description": "Country DART ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "GET",
          "description": "Gets one country by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/countries/{+dartId}"
        },
        "list": {
          "path": "userprofiles/{+profileId}/countries",
          "httpMethod": "GET",
          "description": "Retrieves a list of countries.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.countries.list",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/countries",
          "response": {
            "$ref": "CountriesListResponse"
          }
        }
      }
    },
    "userRolePermissions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets one user role permission by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/userRolePermissions/{+id}",
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions/{userRolePermissionsId}",
          "response": {
            "$ref": "UserRolePermission"
          },
          "id": "dfareporting.userRolePermissions.get",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "id": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User role permission ID.",
              "location": "path",
              "required": true
            }
          }
        },
        "list": {
          "path": "userprofiles/{+profileId}/userRolePermissions",
          "httpMethod": "GET",
          "description": "Gets a list of user role permissions, possibly filtered.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/userRolePermissions",
          "response": {
            "$ref": "UserRolePermissionsListResponse"
          },
          "id": "dfareporting.userRolePermissions.list",
          "parameters": {
            "ids": {
              "repeated": true,
              "location": "query",
              "description": "Select only user role permissions with these IDs.",
              "format": "int64",
              "type": "string"
            },
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string"
            }
          }
        }
      }
    },
    "floodlightActivityGroups": {
      "methods": {
        "get": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightActivityGroups.get",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "id": {
              "description": "Floodlight activity Group ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups/{floodlightActivityGroupsId}",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "httpMethod": "GET",
          "description": "Gets one floodlight activity group by ID.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups/{+id}"
        },
        "insert": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.insert",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "POST",
          "description": "Inserts a new floodlight activity group.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "update": {
          "parameterOrder": [
            "profileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "id": "dfareporting.floodlightActivityGroups.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "PUT",
          "description": "Updates an existing floodlight activity group.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        },
        "list": {
          "parameterOrder": [
            "profileId"
          ],
          "id": "dfareporting.floodlightActivityGroups.list",
          "parameters": {
            "floodlightConfigurationId": {
              "format": "int64",
              "location": "query",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified floodlight configuration ID. Must specify either advertiserId, or floodlightConfigurationId for a non-empty result."
            },
            "sortOrder": {
              "description": "Order of sorted results.",
              "default": "ASCENDING",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "ids": {
              "repeated": true,
              "location": "query",
              "format": "int64",
              "type": "string",
              "description": "Select only floodlight activity groups with the specified IDs. Must specify either advertiserId or floodlightConfigurationId for a non-empty result."
            },
            "advertiserId": {
              "description": "Select only floodlight activity groups with the specified advertiser ID. Must specify either advertiserId or floodlightConfigurationId for a non-empty result.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "type": {
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "COUNTER",
                "SALE"
              ],
              "description": "Select only floodlight activity groups with the specified floodlight activity group type.",
              "location": "query"
            },
            "sortField": {
              "location": "query",
              "description": "Field by which to sort the list.",
              "default": "ID",
              "type": "string",
              "enumDescriptions": [
                "",
                ""
              ],
              "enum": [
                "ID",
                "NAME"
              ]
            },
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "searchString": {
              "description": "Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"floodlightactivitygroup*2015\" will return objects with names like \"floodlightactivitygroup June 2015\", \"floodlightactivitygroup April 2015\", or simply \"floodlightactivitygroup 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"floodlightactivitygroup\" will match objects with name \"my floodlightactivitygroup activity\", \"floodlightactivitygroup 2015\", or simply \"floodlightactivitygroup\".",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "type": "integer",
              "format": "int32"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroupsListResponse"
          },
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight activity groups, possibly filtered. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "patch": {
          "id": "dfareporting.floodlightActivityGroups.patch",
          "parameters": {
            "profileId": {
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "required": true,
              "location": "query",
              "description": "Required. EventTag ID.",
              "type": "string",
              "format": "int64"
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightActivityGroups",
          "response": {
            "$ref": "FloodlightActivityGroup"
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight activity group. This method supports patch semantics.",
          "path": "userprofiles/{+profileId}/floodlightActivityGroups",
          "request": {
            "$ref": "FloodlightActivityGroup"
          }
        }
      }
    },
    "billingRates": {
      "methods": {
        "list": {
          "path": "userprofiles/{+profileId}/billingProfiles/{+billingProfileId}/billingRates",
          "httpMethod": "GET",
          "description": "Retrieves a list of billing rates. This method supports paging.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "parameterOrder": [
            "profileId",
            "billingProfileId"
          ],
          "flatPath": "userprofiles/{userprofilesId}/billingProfiles/{billingProfilesId}/billingRates",
          "response": {
            "$ref": "BillingRatesListResponse"
          },
          "id": "dfareporting.billingRates.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "description": "User profile ID associated with this request."
            },
            "billingProfileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "Billing profile ID of this billing rate."
            }
          }
        }
      }
    },
    "floodlightConfigurations": {
      "methods": {
        "list": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfigurationsListResponse"
          },
          "id": "dfareporting.floodlightConfigurations.list",
          "parameters": {
            "profileId": {
              "required": true,
              "location": "path",
              "description": "User profile ID associated with this request.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64"
            },
            "ids": {
              "location": "query",
              "repeated": true,
              "description": "Set of IDs of floodlight configurations to retrieve. Required field; otherwise an empty list will be returned.",
              "type": "string",
              "format": "int64"
            }
          },
          "parameterOrder": [
            "profileId"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of floodlight configurations, possibly filtered."
        },
        "patch": {
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "id": "dfareporting.floodlightConfigurations.patch",
          "parameters": {
            "profileId": {
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request.",
              "location": "path",
              "required": true
            },
            "id": {
              "location": "query",
              "required": true,
              "format": "int64",
              "type": "string",
              "description": "Required. EventTag ID."
            }
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "httpMethod": "PATCH",
          "description": "Updates an existing floodlight configuration. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ]
        },
        "get": {
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations/{floodlightConfigurationsId}",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.get",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "id": {
              "description": "Floodlight configuration ID.",
              "type": "string",
              "pattern": "^[^/]+$",
              "format": "int64",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "id"
          ],
          "path": "userprofiles/{+profileId}/floodlightConfigurations/{+id}",
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Gets one floodlight configuration by ID."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "PUT",
          "description": "Updates an existing floodlight configuration.",
          "path": "userprofiles/{+profileId}/floodlightConfigurations",
          "request": {
            "$ref": "FloodlightConfiguration"
          },
          "flatPath": "userprofiles/{userprofilesId}/floodlightConfigurations",
          "response": {
            "$ref": "FloodlightConfiguration"
          },
          "id": "dfareporting.floodlightConfigurations.update",
          "parameters": {
            "profileId": {
              "description": "User profile ID associated with this request.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId"
          ]
        }
      }
    },
    "advertiserInvoices": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/dfatrafficking"
          ],
          "httpMethod": "GET",
          "description": "Retrieves a list of invoices for a particular issue month. The api only works if the billing profile invoice level is set to either advertiser or campaign non-consolidated invoice level.",
          "path": "userprofiles/{+profileId}/advertisers/{+advertiserId}/invoices",
          "flatPath": "userprofiles/{userprofilesId}/advertisers/{advertisersId}/invoices",
          "response": {
            "$ref": "AdvertiserInvoicesListResponse"
          },
          "id": "dfareporting.advertiserInvoices.list",
          "parameters": {
            "profileId": {
              "location": "path",
              "required": true,
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "description": "User profile ID associated with this request."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Value of the nextPageToken from the previous result page."
            },
            "maxResults": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum number of results to return.",
              "default": "1000",
              "location": "query"
            },
            "issueMonth": {
              "location": "query",
              "type": "string",
              "description": "Month for which invoices are needed in the format YYYYMM. Required field"
            },
            "advertiserId": {
              "description": "Advertiser ID of this invoice.",
              "pattern": "^[^/]+$",
              "format": "int64",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "profileId",
            "advertiserId"
          ]
        }
      }
    },
    "remarketingListShares": {
      "methods": {
        "patch": {
[...]
