{
  "baseUrl": "https://gkeonprem.googleapis.com/",
  "name": "gkeonprem",
  "mtlsRootUrl": "https://gkeonprem.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "",
  "canonicalName": "GKE On-Prem",
  "id": "gkeonprem:v1",
  "discoveryVersion": "v1",
  "title": "GKE On-Prem API",
  "schemas": {
    "BareMetalAdminDrainedMachine": {
      "properties": {
        "nodeIp": {
          "description": "Drained machine IP address.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "BareMetalAdminDrainedMachine",
      "description": "BareMetalAdminDrainedMachine represents the machines that are drained."
    },
    "UpgradeDependency": {
      "id": "UpgradeDependency",
      "description": "UpgradeDependency represents a dependency when upgrading a resource.",
      "type": "object",
      "properties": {
        "currentVersion": {
          "type": "string",
          "description": "Current version of the dependency e.g. 1.15.0."
        },
        "resourceName": {
          "description": "Resource name of the dependency.",
          "type": "string"
        },
        "membership": {
          "description": "Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string"
        },
        "targetVersion": {
          "type": "string",
          "description": "Target version of the dependency e.g. 1.16.1. This is the version the dependency needs to be upgraded to before a resource can be upgraded."
        }
      }
    },
    "BareMetalVipConfig": {
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this bare metal user cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of this bare metal user cluster.",
          "type": "string"
        }
      },
      "id": "BareMetalVipConfig",
      "description": "Specifies the VIP config for the bare metal load balancer.",
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "BareMetalLoadBalancerConfig": {
      "type": "object",
      "description": "Specifies the load balancer configuration.",
      "properties": {
        "bgpLbConfig": {
          "description": "Configuration for BGP typed load balancers. When set network_config.advanced_networking is automatically set to true.",
          "$ref": "BareMetalBgpLbConfig"
        },
        "metalLbConfig": {
          "$ref": "BareMetalMetalLbConfig",
          "description": "Configuration for MetalLB load balancers."
        },
        "portConfig": {
          "$ref": "BareMetalPortConfig",
          "description": "Configures the ports that the load balancer will listen on."
        },
        "manualLbConfig": {
          "$ref": "BareMetalManualLbConfig",
          "description": "Manually configured load balancers."
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalVipConfig"
        }
      },
      "id": "BareMetalLoadBalancerConfig"
    },
    "BareMetalAdminDrainingMachine": {
      "type": "object",
      "description": "BareMetalAdminDrainingMachine represents the machines that are currently draining.",
      "id": "BareMetalAdminDrainingMachine",
      "properties": {
        "nodeIp": {
          "description": "Draining machine IP address.",
          "type": "string"
        },
        "podCount": {
          "type": "integer",
          "description": "The count of pods yet to drain.",
          "format": "int32"
        }
      }
    },
    "BareMetalWorkloadNodeConfig": {
      "properties": {
        "maxPodsPerNode": {
          "format": "int64",
          "type": "string",
          "description": "The maximum number of pods a node can run. The size of the CIDR range assigned to the node will be derived from this parameter."
        },
        "containerRuntime": {
          "type": "string",
          "enumDescriptions": [
            "No container runtime selected.",
            "Containerd runtime."
          ],
          "enum": [
            "CONTAINER_RUNTIME_UNSPECIFIED",
            "CONTAINERD"
          ],
          "description": "Specifies which container runtime will be used."
        }
      },
      "description": "Specifies the workload node configurations.",
      "type": "object",
      "id": "BareMetalWorkloadNodeConfig"
    },
    "ListBareMetalAdminClustersResponse": {
      "id": "ListBareMetalAdminClustersResponse",
      "description": "Response message for listing bare metal admin clusters.",
      "type": "object",
      "properties": {
        "bareMetalAdminClusters": {
          "description": "The list of bare metal admin cluster.",
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminCluster"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return. If the token is not empty this means that more results are available and should be retrieved by repeating the request with the provided page token."
        }
      }
    },
    "BareMetalNodePool": {
      "properties": {
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "upgradePolicy": {
          "description": "The worker node pool upgrade policy.",
          "$ref": "BareMetalNodePoolUpgradePolicy"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The unique identifier of the bare metal node pool.",
          "readOnly": true
        },
        "nodePoolConfig": {
          "$ref": "BareMetalNodePoolConfig",
          "description": "Required. Node pool configuration."
        },
        "updateTime": {
          "description": "Output only. The time at which this bare metal node pool was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The bare metal node pool resource name."
        },
        "annotations": {
          "description": "Annotations on the bare metal node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "status": {
          "description": "Output only. ResourceStatus representing the detailed node pool status.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the bare metal node pool."
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name for the bare metal node pool.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "description": "Output only. The current state of the bare metal node pool.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the bare metal node pool is being created.",
            "The RUNNING state indicates the bare metal node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the bare metal node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the bare metal node pool is being deleted.",
            "The ERROR state indicates the bare metal node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the bare metal node pool requires user action to restore full functionality."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this bare metal node pool was created."
        }
      },
      "description": "Resource that represents a bare metal node pool.",
      "id": "BareMetalNodePool",
      "type": "object"
    },
    "BareMetalNetworkConfig": {
      "type": "object",
      "id": "BareMetalNetworkConfig",
      "properties": {
        "multipleNetworkInterfacesConfig": {
          "$ref": "BareMetalMultipleNetworkInterfacesConfig",
          "description": "Configuration for multiple network interfaces."
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enables the use of advanced Anthos networking features, such as Bundled Load Balancing with BGP or the egress NAT gateway. Setting configuration for advanced networking features will automatically set this flag."
        },
        "islandModeCidr": {
          "$ref": "BareMetalIslandModeCidrConfig",
          "description": "Configuration for island mode CIDR. In an island-mode network, nodes have unique IP addresses, but pods don't have unique addresses across clusters. This doesn't cause problems because pods in one cluster never directly communicate with pods in another cluster. Instead, there are gateways that mediate between a pod in one cluster and a pod in another cluster."
        },
        "srIovConfig": {
          "$ref": "BareMetalSrIovConfig",
          "description": "Configuration for SR-IOV."
        }
      },
      "description": "Specifies the cluster network configuration."
    },
    "BareMetalMetalLbConfig": {
      "id": "BareMetalMetalLbConfig",
      "properties": {
        "addressPools": {
          "type": "array",
          "description": "Required. AddressPools is a list of non-overlapping IP pools used by load balancer typed services. All addresses must be routable to load balancer nodes. IngressVIP must be included in the pools.",
          "items": {
            "$ref": "BareMetalLoadBalancerAddressPool"
          }
        },
        "loadBalancerNodePoolConfig": {
          "$ref": "BareMetalLoadBalancerNodePoolConfig",
          "description": "Specifies the node pool running the load balancer. L2 connectivity is required among nodes in this pool. If missing, the control plane node pool is used as the load balancer pool."
        }
      },
      "type": "object",
      "description": "Represents configuration parameters for a MetalLB load balancer."
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array"
        }
      }
    },
    "VmwareVsphereConfig": {
      "id": "VmwareVsphereConfig",
      "description": "VmwareVsphereConfig represents configuration for the VMware VCenter for node pool.",
      "type": "object",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore. Inherited from the user cluster."
        },
        "tags": {
          "description": "Tags to apply to VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVsphereTag"
          }
        },
        "hostGroups": {
          "items": {
            "type": "string"
          },
          "description": "Vsphere host groups to apply to all VMs in the node pool",
          "type": "array"
        }
      }
    },
    "BareMetalAdminBgpPeerConfig": {
      "properties": {
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        },
        "controlPlaneNodes": {
          "type": "array",
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          }
        },
        "asn": {
          "type": "string",
          "format": "int64",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device."
        }
      },
      "type": "object",
      "description": "BareMetalAdminBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "id": "BareMetalAdminBgpPeerConfig"
    },
    "VmwareAdminLoadBalancerConfig": {
      "properties": {
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "VmwareAdminManualLbConfig"
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "VmwareAdminVipConfig"
        },
        "f5Config": {
          "description": "Configuration for F5 Big IP typed load balancers.",
          "$ref": "VmwareAdminF5BigIpConfig"
        },
        "metalLbConfig": {
          "$ref": "VmwareAdminMetalLbConfig",
          "description": "MetalLB load balancers."
        },
        "seesawConfig": {
          "readOnly": true,
          "$ref": "VmwareAdminSeesawConfig",
          "description": "Output only. Configuration for Seesaw typed load balancers."
        }
      },
      "type": "object",
      "id": "VmwareAdminLoadBalancerConfig",
      "description": "VmwareAdminLoadBalancerConfig contains load balancer configuration for VMware admin cluster."
    },
    "Fleet": {
      "properties": {
        "membership": {
          "description": "Output only. The name of the managed fleet Membership resource associated to this cluster. Membership names are formatted as `projects//locations//memberships/`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Fleet related configuration. Fleets are a Google Cloud concept for logically organizing clusters, letting you use and manage multi-cluster capabilities and apply consistent policies across your systems. See [Anthos Fleets](`https://cloud.google.com/anthos/multicluster-management/fleets`) for more details on Anthos multi-cluster capabilities using Fleets. ##",
      "type": "object",
      "id": "Fleet"
    },
    "VmwareDhcpIpConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "enabled is a flag to mark if DHCP IP allocation is used for VMware user clusters."
        }
      },
      "description": "Represents the network configuration required for the VMware user clusters with DHCP IP configurations.",
      "type": "object",
      "id": "VmwareDhcpIpConfig"
    },
    "BareMetalDrainedMachine": {
      "type": "object",
      "id": "BareMetalDrainedMachine",
      "description": "Represents a machine that is currently drained.",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Drained machine IP address."
        }
      }
    },
    "Expr": {
      "type": "object",
      "id": "Expr",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "VmwareNodePoolAutoscalingConfig": {
      "type": "object",
      "description": "NodePoolAutoscaling config for the NodePool to allow for the kubernetes to scale NodePool.",
      "properties": {
        "maxReplicas": {
          "format": "int32",
          "description": "Maximum number of replicas in the NodePool.",
          "type": "integer"
        },
        "minReplicas": {
          "type": "integer",
          "description": "Minimum number of replicas in the NodePool.",
          "format": "int32"
        }
      },
      "id": "VmwareNodePoolAutoscalingConfig"
    },
    "BareMetalAdminClusterOperationsConfig": {
      "type": "object",
      "properties": {
        "enableApplicationLogs": {
          "description": "Whether collection of application logs/metrics should be enabled (in addition to system logs/metrics).",
          "type": "boolean"
        }
      },
      "id": "BareMetalAdminClusterOperationsConfig",
      "description": "BareMetalAdminClusterOperationsConfig specifies the admin cluster's observability infrastructure."
    },
    "VmwareHostIp": {
      "properties": {
        "hostname": {
          "description": "Hostname of the machine. VM's name will be used if this field is empty.",
          "type": "string"
        },
        "ip": {
          "type": "string",
          "description": "IP could be an IP address (like 1.2.3.4) or a CIDR (like 1.2.3.0/24)."
        }
      },
      "id": "VmwareHostIp",
      "type": "object",
      "description": "Represents VMware user cluster node's network configuration."
    },
    "BareMetalAdminControlPlaneConfig": {
      "properties": {
        "apiServerArgs": {
          "type": "array",
          "items": {
            "$ref": "BareMetalAdminApiServerArgument"
          },
          "description": "Customizes the default API server args. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/"
        },
        "controlPlaneNodePoolConfig": {
          "description": "Required. Configures the node pool running the control plane. If specified the corresponding NodePool will be created for the cluster's control plane. The NodePool will have the same name and namespace as the cluster.",
          "$ref": "BareMetalAdminControlPlaneNodePoolConfig"
        }
      },
      "type": "object",
      "id": "BareMetalAdminControlPlaneConfig",
      "description": "BareMetalAdminControlPlaneConfig specifies the control plane configuration."
    },
    "BareMetalNodePoolUpgradePolicy": {
      "description": "BareMetalNodePoolUpgradePolicy defines the node pool upgrade policy.",
      "type": "object",
      "properties": {
        "parallelUpgradeConfig": {
          "description": "The parallel upgrade settings for worker node pools.",
          "$ref": "BareMetalParallelUpgradeConfig"
        }
      },
      "id": "BareMetalNodePoolUpgradePolicy"
    },
    "BareMetalMaintenanceStatus": {
      "id": "BareMetalMaintenanceStatus",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalMachineDrainStatus",
          "description": "The maintenance status of node machines."
        }
      },
      "type": "object",
      "description": "Represents the maintenance status of the bare metal user cluster."
    },
    "BareMetalAdminMaintenanceStatus": {
      "description": "BareMetalAdminMaintenanceStatus represents the maintenance status for bare metal Admin cluster CR's nodes.",
      "properties": {
        "machineDrainStatus": {
          "$ref": "BareMetalAdminMachineDrainStatus",
          "description": "Represents the status of draining and drained machine nodes. This is used to show the progress of cluster upgrade."
        }
      },
      "type": "object",
      "id": "BareMetalAdminMaintenanceStatus"
    },
    "ClusterUser": {
      "type": "object",
      "id": "ClusterUser",
      "properties": {
        "username": {
          "description": "Required. The name of the user, e.g. `my-gcp-id@gmail.com`.",
          "type": "string"
        }
      },
      "description": "ClusterUser configures user principals for an RBAC policy."
    },
    "BinaryAuthorization": {
      "id": "BinaryAuthorization",
      "properties": {
        "evaluationMode": {
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ]
        }
      },
      "type": "object",
      "description": "Configuration for Binary Authorization."
    },
    "VmwareAdminProxy": {
      "id": "VmwareAdminProxy",
      "type": "object",
      "description": "VmwareAdminProxy represents configuration for admin cluster proxy.",
      "properties": {
        "noProxy": {
          "description": "A comma-separated list of IP addresses, IP address ranges, host names, and domain names that should not go through the proxy server. When Google Distributed Cloud sends a request to one of these addresses, hosts, or domains, the request is sent directly.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The HTTP address of proxy server."
        }
      }
    },
    "BareMetalSecurityConfig": {
      "properties": {
        "authorization": {
          "description": "Configures user access to the user cluster.",
          "$ref": "Authorization"
        }
      },
      "id": "BareMetalSecurityConfig",
      "description": "Specifies the security related settings for the bare metal user cluster.",
      "type": "object"
    },
    "VmwareAdminVipConfig": {
      "properties": {
        "controlPlaneVip": {
          "description": "The VIP which you previously set aside for the Kubernetes API of the admin cluster.",
          "type": "string"
        },
        "addonsVip": {
          "description": "The VIP to configure the load balancer for add-ons.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareAdminVipConfig",
      "description": "VmwareAdminVipConfig for VMware load balancer configurations."
    },
    "BareMetalIslandModeCidrConfig": {
      "properties": {
        "podAddressCidrBlocks": {
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAddressCidrBlocks": {
          "items": {
            "type": "string"
          },
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field is mutable after creation starting with version 1.15.",
          "type": "array"
        }
      },
      "description": "Specifies the cluster CIDR configuration while running in island mode.",
      "id": "BareMetalIslandModeCidrConfig",
      "type": "object"
    },
    "ValidationCheckResult": {
      "id": "ValidationCheckResult",
      "description": "ValidationCheckResult defines the details about the validation check.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The validation check state.",
          "enumDescriptions": [
            "The default value. The check result is unknown.",
            "The check failed.",
            "The check was skipped.",
            "The check itself failed to complete.",
            "The check encountered a warning."
          ],
          "type": "string",
          "enum": [
            "STATE_UNKNOWN",
            "STATE_FAILURE",
            "STATE_SKIPPED",
            "STATE_FATAL",
            "STATE_WARNING"
          ]
        },
        "description": {
          "description": "The description of the validation check.",
          "type": "string"
        },
        "details": {
          "description": "Detailed failure information, which might be unformatted.",
          "type": "string"
        },
        "reason": {
          "description": "A human-readable message of the check failure.",
          "type": "string"
        },
        "category": {
          "description": "The category of the validation.",
          "type": "string"
        }
      }
    },
    "BareMetalPortConfig": {
      "type": "object",
      "description": "Specifies load balancer ports for the bare metal user cluster.",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalPortConfig"
    },
    "VmwareAdminMetalLbConfig": {
      "description": "VmwareAdminMetalLbConfig represents configuration parameters for a MetalLB load balancer. For admin clusters, currently no configurations is needed.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether MetalLB is enabled."
        }
      },
      "id": "VmwareAdminMetalLbConfig",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "BareMetalParallelUpgradeConfig": {
      "type": "object",
      "description": "BareMetalParallelUpgradeConfig defines the parallel upgrade settings for worker node pools.",
      "properties": {
        "minimumAvailableNodes": {
          "format": "int32",
          "description": "The minimum number of nodes that should be healthy and available during an upgrade. If set to the default value of 0, it is possible that none of the nodes will be available during an upgrade.",
          "type": "integer"
        },
        "concurrentNodes": {
          "format": "int32",
          "description": "The maximum number of nodes that can be upgraded at once.",
          "type": "integer"
        }
      },
      "id": "BareMetalParallelUpgradeConfig"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "BareMetalAdminCluster": {
      "id": "BareMetalAdminCluster",
      "type": "object",
      "description": "Resource that represents a bare metal admin cluster.",
      "properties": {
        "updateTime": {
          "description": "Output only. The time at which this bare metal admin cluster was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which this bare metal admin cluster was created.",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster status."
        },
        "nodeAccessConfig": {
          "$ref": "BareMetalAdminNodeAccessConfig",
          "description": "Node access related configurations."
        },
        "nodeConfig": {
          "description": "Workload node configuration.",
          "$ref": "BareMetalAdminWorkloadNodeConfig"
        },
        "clusterOperations": {
          "$ref": "BareMetalAdminClusterOperationsConfig",
          "description": "Cluster operations configuration."
        },
        "loadBalancer": {
          "$ref": "BareMetalAdminLoadBalancerConfig",
          "description": "Load balancer configuration."
        },
        "endpoint": {
          "type": "string",
          "description": "Output only. The IP address name of bare metal admin cluster's API server.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the bare metal admin cluster.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ]
        },
        "controlPlane": {
          "$ref": "BareMetalAdminControlPlaneConfig",
          "description": "Control plane configuration."
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "name": {
          "description": "Immutable. The bare metal admin cluster resource name.",
          "type": "string"
        },
        "proxy": {
          "$ref": "BareMetalAdminProxyConfig",
          "description": "Proxy configuration."
        },
        "validationCheck": {
          "readOnly": true,
          "description": "Output only. ValidationCheck representing the result of the preflight check.",
          "$ref": "ValidationCheck"
        },
        "localName": {
          "readOnly": true,
          "description": "Output only. The object name of the bare metal cluster custom resource. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string"
        },
        "osEnvironmentConfig": {
          "description": "OS environment related configurations.",
          "$ref": "BareMetalAdminOsEnvironmentConfig"
        },
        "description": {
          "type": "string",
          "description": "A human readable description of this bare metal admin cluster."
        },
        "maintenanceStatus": {
          "description": "Output only. MaintenanceStatus representing state of maintenance.",
          "readOnly": true,
          "$ref": "BareMetalAdminMaintenanceStatus"
        },
        "securityConfig": {
          "description": "Security related configuration.",
          "$ref": "BareMetalAdminSecurityConfig"
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations on the bare metal admin cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between."
        },
        "networkConfig": {
          "$ref": "BareMetalAdminNetworkConfig",
          "description": "Network configuration."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "storage": {
          "description": "Storage configuration.",
          "$ref": "BareMetalAdminStorageConfig"
        },
        "deleteTime": {
          "description": "Output only. The time at which this bare metal admin cluster was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "bareMetalVersion": {
          "type": "string",
          "description": "The Anthos clusters on bare metal version for the bare metal admin cluster."
        },
        "maintenanceConfig": {
          "$ref": "BareMetalAdminMaintenanceConfig",
          "description": "Maintenance configuration."
        },
        "uid": {
          "description": "Output only. The unique identifier of the bare metal admin cluster.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set, there are currently changes in flight to the bare metal Admin Cluster."
        }
      }
    },
    "BareMetalMultipleNetworkInterfacesConfig": {
      "description": "Specifies the multiple networking interfaces cluster configuration.",
      "id": "BareMetalMultipleNetworkInterfacesConfig",
      "properties": {
        "enabled": {
          "description": "Whether to enable multiple network interfaces for your pods. When set network_config.advanced_networking is automatically set to true.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "BareMetalBgpPeerConfig": {
      "description": "BareMetalBgpPeerConfig represents configuration parameters for a Border Gateway Protocol (BGP) peer.",
      "id": "BareMetalBgpPeerConfig",
      "type": "object",
      "properties": {
        "controlPlaneNodes": {
          "type": "array",
          "description": "The IP address of the control plane node that connects to the external peer. If you don't specify any control plane nodes, all control plane nodes can connect to the external peer. If you specify one or more IP addresses, only the nodes specified participate in peering sessions.",
          "items": {
            "type": "string"
          }
        },
        "asn": {
          "type": "string",
          "description": "Required. BGP autonomous system number (ASN) for the network that contains the external peer device.",
          "format": "int64"
        },
        "ipAddress": {
          "description": "Required. The IP address of the external peer device.",
          "type": "string"
        }
      }
    },
    "VmwareAdminVCenterConfig": {
      "properties": {
        "dataDisk": {
          "description": "The name of the virtual machine disk (VMDK) for the admin cluster.",
          "type": "string"
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "description": "Contains the vCenter CA certificate public key for SSL verification.",
          "type": "string"
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the admin cluster."
        },
        "datacenter": {
          "type": "string",
          "description": "The name of the vCenter datacenter for the admin cluster."
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the admin cluster.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The vCenter IP address."
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the admin cluster."
        },
        "folder": {
          "description": "The name of the vCenter folder for the admin cluster.",
          "type": "string"
        }
      },
      "id": "VmwareAdminVCenterConfig",
      "type": "object",
      "description": "VmwareAdminVCenterConfig contains VCenter configuration for VMware admin cluster."
    },
    "ValidationCheck": {
      "id": "ValidationCheck",
      "properties": {
        "option": {
          "enumDescriptions": [
            "Default value. Standard preflight validation check will be used.",
            "Prevent failed preflight checks from failing.",
            "Skip all preflight check validations."
          ],
          "description": "Options used for the validation check",
          "enum": [
            "OPTIONS_UNSPECIFIED",
            "SKIP_VALIDATION_CHECK_BLOCKING",
            "SKIP_VALIDATION_ALL"
          ],
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "$ref": "ValidationCheckStatus",
          "description": "Output only. The detailed validation check status."
        },
        "scenario": {
          "description": "Output only. The scenario when the preflight checks were run.",
          "readOnly": true,
          "enum": [
            "SCENARIO_UNSPECIFIED",
            "CREATE",
            "UPDATE"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The validation check occurred during a create flow.",
            "The validation check occurred during an update flow."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "ValidationCheck represents the result of preflight check."
    },
    "EnrollVmwareNodePoolRequest": {
      "type": "object",
      "id": "EnrollVmwareNodePoolRequest",
      "description": "Message for enrolling a VMware node pool.",
      "properties": {
        "vmwareNodePoolId": {
          "type": "string",
          "description": "The target node pool id to be enrolled."
        }
      }
    },
    "VmwareAdminControlPlaneNodeConfig": {
      "id": "VmwareAdminControlPlaneNodeConfig",
      "description": "VmwareAdminControlPlaneNodeConfig contains control plane node configuration for VMware admin cluster.",
      "properties": {
        "memory": {
          "description": "The number of mebibytes of memory for the control-plane node of the admin cluster.",
          "type": "string",
          "format": "int64"
        },
        "replicas": {
          "type": "string",
          "description": "The number of control plane nodes for this VMware admin cluster. (default: 1 replica).",
          "format": "int64"
        },
        "cpus": {
          "format": "int64",
          "type": "string",
          "description": "The number of vCPUs for the control-plane node of the admin cluster."
        }
      },
      "type": "object"
    },
    "VmwareControlPlaneNodeConfig": {
      "id": "VmwareControlPlaneNodeConfig",
      "description": "Specifies control plane node config for the VMware user cluster.",
      "properties": {
        "replicas": {
          "type": "string",
          "format": "int64",
          "description": "The number of control plane nodes for this VMware user cluster. (default: 1 replica)."
        },
        "memory": {
          "type": "string",
          "format": "int64",
          "description": "The megabytes of memory for each admin cluster node that serves as a control plane for this VMware user cluster (default: 8192 MB memory)."
        },
        "vsphereConfig": {
          "description": "Vsphere-specific config.",
          "$ref": "VmwareControlPlaneVsphereConfig"
        },
        "cpus": {
          "type": "string",
          "format": "int64",
          "description": "The number of CPUs for each admin cluster node that serve as control planes for this VMware user cluster. (default: 4 CPUs)"
        },
        "autoResizeConfig": {
          "description": "AutoResizeConfig provides auto resizing configurations.",
          "$ref": "VmwareAutoResizeConfig"
        }
      },
      "type": "object"
    },
    "ResourceCondition": {
      "properties": {
        "type": {
          "type": "string",
          "description": "Type of the condition. (e.g., ClusterRunning, NodePoolRunning or ServerSidePreflightReady)"
        },
        "message": {
          "description": "Human-readable message indicating details about last transition.",
          "type": "string"
        },
        "reason": {
          "description": "Machine-readable message indicating details about last transition.",
          "type": "string"
        },
        "lastTransitionTime": {
          "type": "string",
          "description": "Last time the condition transit from one status to another.",
          "format": "google-datetime"
        },
        "state": {
          "description": "state of the condition.",
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "Resource is in the condition.",
            "Resource is not in the condition.",
            "Kubernetes controller can't decide if the resource is in the condition or not."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_TRUE",
            "STATE_FALSE",
            "STATE_UNKNOWN"
          ]
        }
      },
      "id": "ResourceCondition",
      "description": "ResourceCondition provides a standard mechanism for higher-level status reporting from controller.",
      "type": "object"
    },
    "BareMetalMachineDrainStatus": {
      "properties": {
        "drainedMachines": {
          "description": "The list of drained machines.",
          "type": "array",
          "items": {
            "$ref": "BareMetalDrainedMachine"
          }
        },
        "drainingMachines": {
          "type": "array",
          "description": "The list of draning machines.",
          "items": {
            "$ref": "BareMetalDrainingMachine"
          }
        }
      },
      "description": "Represents the status of node machines that are undergoing drain operations.",
      "type": "object",
      "id": "BareMetalMachineDrainStatus"
    },
    "BareMetalNodeConfig": {
      "type": "object",
      "description": "BareMetalNodeConfig lists machine addresses to access Nodes.",
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "The default IPv4 address for SSH access and Kubernetes node. Example: 192.168.0.1"
        },
        "labels": {
          "description": "The labels assigned to this node. An object containing a list of key/value pairs. The labels here, unioned with the labels set on BareMetalNodePoolConfig are the set of labels that will be applied to the node. If there are any conflicts, the BareMetalNodeConfig labels take precedence. Example: { \"name\": \"wrench\", \"mass\": \"1.3kg\", \"count\": \"3\" }.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "BareMetalNodeConfig"
    },
    "BareMetalOsEnvironmentConfig": {
      "id": "BareMetalOsEnvironmentConfig",
      "description": "Specifies operating system settings for cluster provisioning.",
      "type": "object",
      "properties": {
        "packageRepoExcluded": {
          "type": "boolean",
          "description": "Whether the package repo should not be included when initializing bare metal machines."
        }
      }
    },
    "BareMetalKubeletConfig": {
      "properties": {
        "serializeImagePullsDisabled": {
          "description": "Prevents the Kubelet from pulling multiple images at a time. We recommend *not* changing the default value on nodes that run docker daemon with version < 1.9 or an Another Union File System (Aufs) storage backend. Issue https://github.com/kubernetes/kubernetes/issues/10959 has more details.",
          "type": "boolean"
        },
        "registryPullQps": {
          "type": "integer",
          "description": "The limit of registry pulls per second. Setting this value to 0 means no limit. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 5.",
          "format": "int32"
        },
        "registryBurst": {
          "description": "The maximum size of bursty pulls, temporarily allows pulls to burst to this number, while still not exceeding registry_pull_qps. The value must not be a negative number. Updating this field may impact scalability by changing the amount of traffic produced by image pulls. Defaults to 10.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "BareMetalKubeletConfig",
      "type": "object",
      "description": "KubeletConfig defines the modifiable kubelet configurations for bare metal machines. Note: this list includes fields supported in GKE (see https://cloud.google.com/kubernetes-engine/docs/how-to/node-system-config#kubelet-options)."
    },
    "BareMetalDrainingMachine": {
      "properties": {
        "nodeIp": {
          "type": "string",
          "description": "Draining machine IP address."
        },
        "podCount": {
          "type": "integer",
          "format": "int32",
          "description": "The count of pods yet to drain."
        }
      },
      "description": "Represents a machine that is currently draining.",
      "id": "BareMetalDrainingMachine",
      "type": "object"
    },
    "VmwareControlPlaneV2Config": {
      "id": "VmwareControlPlaneV2Config",
      "properties": {
        "controlPlaneIpBlock": {
          "$ref": "VmwareIpBlock",
          "description": "Static IP addresses for the control plane nodes."
        }
      },
      "type": "object",
      "description": "Specifies control plane V2 config."
    },
    "EnrollBareMetalNodePoolRequest": {
      "properties": {
        "validateOnly": {
          "description": "If set, only validate the request, but do not actually enroll the node pool.",
          "type": "boolean"
        },
        "bareMetalNodePoolId": {
          "description": "User provided OnePlatform identifier that is used as part of the resource name. (https://tools.ietf.org/html/rfc1123) format.",
          "type": "string"
        }
      },
      "description": "Message for enrolling an existing bare metal node pool to the GKE on-prem API.",
      "id": "EnrollBareMetalNodePoolRequest",
      "type": "object"
    },
    "BareMetalAdminIslandModeCidrConfig": {
      "type": "object",
      "properties": {
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation."
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "BareMetalAdminIslandModeCidrConfig",
      "description": "BareMetalAdminIslandModeCidrConfig specifies the cluster CIDR configuration while running in island mode."
    },
    "BareMetalAdminLoadBalancerAddressPool": {
      "properties": {
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "addresses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5)."
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        },
        "manualAssign": {
          "description": "If true, prevent IP addresses from being automatically assigned.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "BareMetalAdminLoadBalancerAddressPool",
      "description": "Represents an IP pool used by the load balancer."
    },
    "VmwareAAGConfig": {
      "properties": {
        "aagConfigDisabled": {
          "description": "Spread nodes across at least three physical hosts (requires at least three hosts). Enabled by default.",
          "type": "boolean"
        }
      },
      "id": "VmwareAAGConfig",
      "description": "Specifies anti affinity group config for the VMware user cluster.",
      "type": "object"
    },
    "VmwareAdminAuthorizationConfig": {
      "id": "VmwareAdminAuthorizationConfig",
      "type": "object",
      "properties": {
        "viewerUsers": {
          "description": "For VMware admin clusters, users will be granted the cluster-viewer role on the cluster.",
          "items": {
            "$ref": "ClusterUser"
          },
          "type": "array"
        }
      },
      "description": "VmwareAdminAuthorizationConfig represents configuration for admin cluster authorization."
    },
    "Authorization": {
      "description": "Authorization defines the On-Prem cluster authorization configuration to bootstrap onto the admin cluster.",
      "type": "object",
      "properties": {
        "adminUsers": {
          "type": "array",
          "description": "For VMware and bare metal user clusters, users will be granted the cluster-admin role on the cluster, which provides full administrative access to the cluster. For bare metal admin clusters, users will be granted the cluster-view role, which limits users to read-only access.",
          "items": {
            "$ref": "ClusterUser"
          }
        }
      },
      "id": "Authorization"
    },
    "VmwareNodeConfig": {
      "description": "Parameters that describe the configuration of all nodes within a given node pool.",
      "type": "object",
      "properties": {
        "replicas": {
          "type": "string",
          "description": "The number of nodes in the node pool.",
          "format": "int64"
        },
        "vsphereConfig": {
          "description": "Specifies the vSphere config for node pool.",
          "$ref": "VmwareVsphereConfig"
        },
        "taints": {
          "type": "array",
          "description": "The initial taints assigned to nodes of this node pool.",
          "items": {
            "$ref": "NodeTaint"
          }
        },
        "bootDiskSizeGb": {
          "description": "VMware disk size to be used during creation.",
          "format": "int64",
          "type": "string"
        },
        "labels": {
          "description": "The map of Kubernetes labels (key/value pairs) to be applied to each node. These will added in addition to any default label(s) that Kubernetes may apply to the node. In case of conflict in label keys, the applied set may differ depending on the Kubernetes version -- it's best to assume the behavior is undefined and conflicts should be avoided. For more information, including usage and the valid values, see: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "cpus": {
          "description": "The number of CPUs for each node in the node pool.",
          "type": "string",
          "format": "int64"
        },
        "image": {
          "description": "The OS image name in vCenter, only valid when using Windows.",
          "type": "string"
        },
        "memoryMb": {
          "format": "int64",
          "type": "string",
          "description": "The megabytes of memory for each node in the node pool."
        },
        "imageType": {
          "description": "Required. The OS image to be used for each node in a node pool. Currently `cos`, `cos_cgv2`, `ubuntu`, `ubuntu_cgv2`, `ubuntu_containerd` and `windows` are supported.",
          "type": "string"
        },
        "enableLoadBalancer": {
          "type": "boolean",
          "description": "Allow node pool traffic to be load balanced. Only works for clusters with MetalLB load balancers."
        }
      },
      "id": "VmwareNodeConfig"
    },
    "VmwareCluster": {
      "properties": {
        "storage": {
          "description": "Storage configuration.",
          "$ref": "VmwareStorageConfig"
        },
        "vmTrackingEnabled": {
          "type": "boolean",
          "description": "Enable VM tracking."
        },
        "createTime": {
          "description": "Output only. The time at which VMware user cluster was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The VMware user cluster resource name."
        },
        "localName": {
          "description": "Output only. The object name of the VMware OnPremUserCluster custom resource on the associated admin cluster. This field is used to support conflicting names when enrolling existing clusters to the API. When used as a part of cluster enrollment, this field will differ from the ID in the resource name. For new clusters, this field will match the user provided cluster name and be visible in the last component of the resource name. It is not modifiable. All users should use this name to access their cluster using gkectl or kubectl and should expect to see the local name when viewing admin cluster controller logs.",
          "type": "string",
          "readOnly": true
        },
        "adminClusterMembership": {
          "type": "string",
          "description": "Required. The admin cluster this VMware user cluster belongs to. This is the full resource name of the admin cluster's fleet membership. In the future, references to other resource types might be allowed if admin clusters are modeled as their own resources."
        },
        "dataplaneV2": {
          "description": "VmwareDataplaneV2Config specifies configuration for Dataplane V2.",
          "$ref": "VmwareDataplaneV2Config"
        },
        "deleteTime": {
          "format": "google-datetime",
          "description": "Output only. The time at which VMware user cluster was deleted.",
          "readOnly": true,
          "type": "string"
        },
        "enableAdvancedCluster": {
          "description": "Enable advanced cluster.",
          "type": "boolean"
        },
        "annotations": {
          "description": "Annotations on the VMware user cluster. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoRepairConfig": {
          "description": "Configuration for auto repairing.",
          "$ref": "VmwareAutoRepairConfig"
        },
        "antiAffinityGroups": {
          "$ref": "VmwareAAGConfig",
          "description": "AAGConfig specifies whether to spread VMware user cluster nodes across at least three physical hosts in the datacenter."
        },
        "enableControlPlaneV2": {
          "description": "Enable control plane V2. Default to false.",
          "type": "boolean"
        },
        "adminClusterName": {
          "readOnly": true,
          "description": "Output only. The resource name of the VMware admin cluster hosting this user cluster.",
          "type": "string"
        },
        "fleet": {
          "description": "Output only. Fleet configuration for the cluster.",
          "$ref": "Fleet",
          "readOnly": true
        },
        "description": {
          "description": "A human readable description of this VMware user cluster.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of VMware user cluster.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the cluster is being created.",
            "The RUNNING state indicates the cluster has been created and is fully usable.",
            "The RECONCILING state indicates that the cluster is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted.",
            "The ERROR state indicates the cluster is in a broken unrecoverable state.",
            "The DEGRADED state indicates the cluster requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string"
        },
        "reconciling": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the VMware user cluster."
        },
        "controlPlaneNode": {
          "description": "VMware user cluster control plane nodes must have either 1 or 3 replicas.",
          "$ref": "VmwareControlPlaneNodeConfig"
        },
        "networkConfig": {
          "description": "The VMware user cluster network configuration.",
          "$ref": "VmwareNetworkConfig"
        },
        "loadBalancer": {
          "description": "Load balancer configuration.",
          "$ref": "VmwareLoadBalancerConfig"
        },
        "validationCheck": {
          "$ref": "ValidationCheck",
          "readOnly": true,
          "description": "Output only. ValidationCheck represents the result of the preflight check job."
        },
        "vcenter": {
          "$ref": "VmwareVCenterConfig",
          "description": "VmwareVCenterConfig specifies vCenter config for the user cluster. If unspecified, it is inherited from the admin cluster."
        },
        "uid": {
          "description": "Output only. The unique identifier of the VMware user cluster.",
          "readOnly": true,
          "type": "string"
        },
        "onPremVersion": {
          "description": "Required. The Anthos clusters on the VMware version for your user cluster.",
          "type": "string"
        },
        "authorization": {
          "description": "RBAC policy that will be applied and managed by the Anthos On-Prem API.",
          "$ref": "Authorization"
        },
        "endpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name of VMware user cluster's API server."
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing detailed cluster state."
        },
        "binaryAuthorization": {
          "$ref": "BinaryAuthorization",
          "description": "Binary Authorization related configurations."
        },
        "disableBundledIngress": {
          "type": "boolean",
          "description": "Disable bundled ingress."
        },
        "upgradePolicy": {
          "$ref": "VmwareClusterUpgradePolicy",
          "description": "Specifies upgrade policy for the cluster."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time at which VMware user cluster was last updated."
        },
        "etag": {
          "type": "string",
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control."
        }
      },
      "id": "VmwareCluster",
      "description": "Resource that represents a VMware user cluster. ##",
      "type": "object"
    },
    "BareMetalAdminApiServerArgument": {
      "id": "BareMetalAdminApiServerArgument",
      "description": "BareMetalAdminApiServerArgument represents an arg name->value pair. Only a subset of customized flags are supported. Please refer to the API server documentation below to know the exact format: https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the arg as it will be passed to the API Server command line."
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line please make sure to remove the leading dashes."
        }
      },
      "type": "object"
    },
    "VmwareAddressPool": {
      "properties": {
        "addresses": {
          "items": {
            "type": "string"
          },
          "description": "Required. The addresses that are part of this pool. Each address must be either in the CIDR form (1.2.3.0/24) or range form (1.2.3.1-1.2.3.5).",
          "type": "array"
        },
        "manualAssign": {
          "type": "boolean",
          "description": "If true, prevent IP addresses from being automatically assigned."
        },
        "pool": {
          "type": "string",
          "description": "Required. The name of the address pool."
        },
        "avoidBuggyIps": {
          "type": "boolean",
          "description": "If true, avoid using IPs ending in .0 or .255. This avoids buggy consumer devices mistakenly dropping IPv4 traffic for those special IP addresses."
        }
      },
      "id": "VmwareAddressPool",
      "description": "Represents an IP pool used by the load balancer.",
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          }
        }
      }
    },
    "BareMetalApiServerArgument": {
      "type": "object",
      "description": "Represents an arg name->value pair. Only a subset of customized flags are supported. For the exact format, refer to the [API server documentation](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).",
      "id": "BareMetalApiServerArgument",
      "properties": {
        "value": {
          "description": "Required. The value of the arg as it will be passed to the API Server command line.",
          "type": "string"
        },
        "argument": {
          "type": "string",
          "description": "Required. The argument name as it appears on the API Server command line, make sure to remove the leading dashes."
        }
      }
    },
    "VmwareVsphereTag": {
      "id": "VmwareVsphereTag",
      "description": "VmwareVsphereTag describes a vSphere tag to be placed on VMs in the node pool. For more information, see https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.vcenterhost.doc/GUID-E8E854DD-AA97-4E0C-8419-CE84F93C4058.html",
      "properties": {
        "category": {
          "type": "string",
          "description": "The Vsphere tag category."
        },
        "tag": {
          "description": "The Vsphere tag name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BareMetalAdminLoadBalancerNodePoolConfig": {
      "properties": {
        "nodePoolConfig": {
          "description": "The generic configuration for a node pool running a load balancer.",
          "$ref": "BareMetalNodePoolConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerNodePoolConfig",
      "type": "object",
      "description": "Specifies the load balancer's node pool configuration."
    },
    "VmwareVCenterConfig": {
      "description": "Represents configuration for the VMware VCenter for the user cluster.",
      "type": "object",
      "properties": {
        "address": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The vCenter IP address."
        },
        "storagePolicyName": {
          "description": "The name of the vCenter storage policy for the user cluster.",
          "type": "string"
        },
        "caCertData": {
          "type": "string",
          "description": "Contains the vCenter CA certificate public key for SSL verification."
        },
        "folder": {
          "type": "string",
          "description": "The name of the vCenter folder for the user cluster."
        },
        "datastore": {
          "type": "string",
          "description": "The name of the vCenter datastore for the user cluster."
        },
        "datacenter": {
          "description": "The name of the vCenter datacenter for the user cluster.",
          "type": "string"
        },
        "resourcePool": {
          "description": "The name of the vCenter resource pool for the user cluster.",
          "type": "string"
        },
        "cluster": {
          "type": "string",
          "description": "The name of the vCenter cluster for the user cluster."
        }
      },
      "id": "VmwareVCenterConfig"
    },
    "OperationStage": {
      "id": "OperationStage",
      "description": "Information about a particular stage of an operation.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Time the stage started.",
          "format": "google-datetime"
        },
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "PREFLIGHT_CHECK",
            "CONFIGURE",
            "DEPLOY",
            "HEALTH_CHECK",
            "UPDATE"
          ],
          "enumDescriptions": [
            "Not set.",
            "Preflight checks are running.",
            "Resource is being configured.",
            "Resource is being deployed.",
            "Waiting for the resource to become healthy.",
            "Resource is being updated."
          ],
          "description": "The high-level stage of the operation.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the stage.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The stage is pending.",
            "The stage is running",
            "The stage has completed successfully.",
            "The stage has failed."
          ]
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time the stage ended."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle.",
          "type": "array"
        }
      }
    },
    "VmwareVipConfig": {
      "properties": {
        "ingressVip": {
          "description": "The VIP which you previously set aside for ingress traffic into this cluster.",
          "type": "string"
        },
        "controlPlaneVip": {
          "type": "string",
          "description": "The VIP which you previously set aside for the Kubernetes API of this cluster."
        }
      },
      "description": "Specifies the VIP config for the VMware user cluster load balancer.",
      "id": "VmwareVipConfig",
      "type": "object"
    },
    "VmwarePlatformConfig": {
      "properties": {
        "requiredPlatformVersion": {
          "type": "string",
          "description": "Input only. The required platform version e.g. 1.13.1. If the current platform version is lower than the target version, the platform version will be updated to the target version. If the target version is not installed in the platform (bundle versions), download the target version bundle."
        },
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. Resource status for the platform."
        },
        "platformVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The platform version e.g. 1.13.2."
        },
        "bundles": {
          "description": "Output only. The list of bundles installed in the admin cluster.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareBundleConfig"
          }
        }
      },
      "id": "VmwarePlatformConfig",
      "type": "object",
      "description": "VmwarePlatformConfig represents configuration for the VMware platform."
    },
    "VmwareNodePool": {
      "type": "object",
      "description": "Resource VmwareNodePool represents a VMware node pool. ##",
      "id": "VmwareNodePool",
      "properties": {
        "status": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. ResourceStatus representing the detailed VMware node pool state."
        },
        "createTime": {
          "description": "Output only. The time at which this node pool was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time at which this node pool was last updated.",
          "format": "google-datetime"
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. The time at which this node pool was deleted. If the resource is not deleted, this must be empty",
          "format": "google-datetime",
          "readOnly": true
        },
        "onPremVersion": {
          "type": "string",
          "description": "Anthos version for the node pool. Defaults to the user cluster version."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier of the node pool."
        },
        "name": {
          "description": "Immutable. The resource name of this node pool.",
          "type": "string"
        },
        "annotations": {
          "description": "Annotations on the node pool. This field has the same restrictions as Kubernetes annotations. The total size of all keys and values combined is limited to 256k. Key can have 2 segments: prefix (optional) and name (required), separated by a slash (/). Prefix must be a DNS subdomain. Name must be 63 characters or less, begin and end with alphanumerics, with dashes (-), underscores (_), dots (.), and alphanumerics between.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "reconciling": {
          "type": "boolean",
          "description": "Output only. If set, there are currently changes in flight to the node pool.",
          "readOnly": true
        },
        "nodePoolAutoscaling": {
          "$ref": "VmwareNodePoolAutoscalingConfig",
          "description": "Node pool autoscaling config for the node pool."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of other fields, and may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. Allows clients to perform consistent read-modify-writes through optimistic concurrency control.",
          "type": "string"
        },
        "config": {
          "$ref": "VmwareNodeConfig",
          "description": "Required. The node configuration of the node pool."
        },
        "state": {
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RECONCILING state indicates that the node pool is being updated. It remains available, but potentially with degraded performance.",
            "The STOPPING state indicates the cluster is being deleted",
            "The ERROR state indicates the node pool is in a broken unrecoverable state.",
            "The DEGRADED state indicates the node pool requires user action to restore full functionality."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RECONCILING",
            "STOPPING",
            "ERROR",
            "DEGRADED"
          ],
          "type": "string",
          "description": "Output only. The current state of the node pool.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name for the node pool.",
          "type": "string"
        }
      }
    },
    "VmwareDataplaneV2Config": {
      "properties": {
        "dataplaneV2Enabled": {
          "description": "Enables Dataplane V2.",
          "type": "boolean"
        },
        "forwardMode": {
          "type": "string",
          "description": "Configure ForwardMode for Dataplane v2."
        },
        "advancedNetworking": {
          "type": "boolean",
          "description": "Enable advanced networking which requires dataplane_v2_enabled to be set true."
        },
        "windowsDataplaneV2Enabled": {
          "type": "boolean",
          "description": "Enable Dataplane V2 for clusters with Windows nodes."
        }
      },
      "description": "Contains configurations for Dataplane V2, which is optimized dataplane for Kubernetes networking. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dataplane-v2",
      "type": "object",
      "id": "VmwareDataplaneV2Config"
    },
    "VmwareNetworkConfig": {
      "properties": {
        "hostConfig": {
          "$ref": "VmwareHostConfig",
          "description": "Represents common network settings irrespective of the host's IP address."
        },
        "vcenterNetwork": {
          "description": "vcenter_network specifies vCenter network name. Inherited from the admin cluster.",
          "type": "string"
        },
        "podAddressCidrBlocks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. All pods in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation."
        },
        "dhcpIpConfig": {
          "description": "Configuration settings for a DHCP IP configuration.",
          "$ref": "VmwareDhcpIpConfig"
        },
        "controlPlaneV2Config": {
          "description": "Configuration for control plane V2 mode.",
          "$ref": "VmwareControlPlaneV2Config"
        },
        "staticIpConfig": {
          "description": "Configuration settings for a static IP configuration.",
          "$ref": "VmwareStaticIpConfig"
        },
        "serviceAddressCidrBlocks": {
          "description": "Required. All services in the cluster are assigned an RFC1918 IPv4 address from these ranges. Only a single range is supported. This field cannot be changed after creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Specifies network config for the VMware user cluster.",
      "id": "VmwareNetworkConfig",
      "type": "object"
    },
    "ListVmwareNodePoolsResponse": {
      "id": "ListVmwareNodePoolsResponse",
      "type": "object",
      "description": "Response message for listing VMware node pools.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmwareNodePools": {
          "items": {
            "$ref": "VmwareNodePool"
          },
          "description": "The node pools from the specified parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "QueryVmwareVersionConfigResponse": {
      "type": "object",
      "properties": {
        "versions": {
          "items": {
            "$ref": "VmwareVersionInfo"
          },
          "type": "array",
          "description": "List of available versions to install or to upgrade to."
        }
      },
      "description": "Response message for querying VMware user cluster version config.",
      "id": "QueryVmwareVersionConfigResponse"
    },
    "ValidationCheckStatus": {
      "description": "ValidationCheckStatus defines the detailed validation check status.",
      "type": "object",
      "properties": {
        "result": {
          "items": {
            "$ref": "ValidationCheckResult"
          },
          "description": "Individual checks which failed as part of the Preflight check execution.",
          "type": "array"
        }
      },
      "id": "ValidationCheckStatus"
    },
    "BareMetalAdminLoadBalancerConfig": {
      "properties": {
        "bgpLbConfig": {
          "$ref": "BareMetalAdminBgpLbConfig",
          "description": "Configuration for BGP typed load balancers."
        },
        "vipConfig": {
          "description": "The VIPs used by the load balancer.",
          "$ref": "BareMetalAdminVipConfig"
        },
        "portConfig": {
          "description": "Configures the ports that the load balancer will listen on.",
          "$ref": "BareMetalAdminPortConfig"
        },
        "manualLbConfig": {
          "description": "Manually configured load balancers.",
          "$ref": "BareMetalAdminManualLbConfig"
        }
      },
      "id": "BareMetalAdminLoadBalancerConfig",
      "type": "object",
      "description": "BareMetalAdminLoadBalancerConfig specifies the load balancer configuration."
    },
    "Binding": {
      "properties": {
        "members": {
          "items": {
            "type": "string"
          },
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object",
      "id": "Binding"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "BareMetalAdminMaintenanceConfig": {
      "description": "BareMetalAdminMaintenanceConfig specifies configurations to put bare metal Admin cluster CRs nodes in and out of maintenance.",
      "id": "BareMetalAdminMaintenanceConfig",
      "properties": {
        "maintenanceAddressCidrBlocks": {
          "description": "Required. All IPv4 address from these ranges will be placed into maintenance mode. Nodes in maintenance mode will be cordoned and drained. When both of these are true, the \"baremetal.cluster.gke.io/maintenance\" annotation will be set on the node resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BareMetalAdminPortConfig": {
      "description": "BareMetalAdminPortConfig is the specification of load balancer ports.",
      "properties": {
        "controlPlaneLoadBalancerPort": {
          "description": "The port that control plane hosted load balancers will listen on.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "BareMetalAdminPortConfig",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "progress": {
          "description": "Output only. Detailed progress information for the operation.",
          "$ref": "OperationProgress",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
[...]
