{
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "basePath": "",
  "version_module": true,
  "title": "OS Config API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v2",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "create": {
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "description": "Creates a new policy orchestrator under the given project resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "id": "osconfig.projects.locations.global.policyOrchestrators.create",
                      "parameters": {
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "required": true
                        },
                        "policyOrchestratorId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent."
                        }
                      },
                      "path": "v2/{+parent}/policyOrchestrators",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the policy orchestrators under the given parent project resource.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        }
                      },
                      "id": "osconfig.projects.locations.global.policyOrchestrators.list",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      }
                    },
                    "patch": {
                      "description": "Updates an existing policy orchestrator, parented by a project.",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Immutable. Identifier. In form of * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "format": "google-fieldmask",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+name}",
                      "id": "osconfig.projects.locations.global.policyOrchestrators.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Retrieves an existing policy orchestrator, parented by a project.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}"
                    },
                    "delete": {
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.projects.locations.global.policyOrchestrators.delete",
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource to be deleted.",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "flatPath": "v2/projects/{projectsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "description": "Deletes an existing policy orchestrator resource, parented by a project.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "id": "osconfig.projects.locations.operations.cancel",
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "id": "osconfig.projects.locations.operations.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.operations.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v2/{+name}/operations"
                }
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Immutable. Identifier. In form of * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.patch",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Updates an existing policy orchestrator, parented by an organization.",
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}"
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Creates a new policy orchestrator under the given organizations resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string"
                        },
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+parent}/policyOrchestrators"
                    },
                    "list": {
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the policy orchestrators under the given parent organization resource.",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name.",
                          "required": true
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.list"
                    },
                    "get": {
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.get",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name.",
                          "required": true
                        }
                      },
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "description": "Retrieves an existing policy orchestrator, parented by an organization.",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "delete": {
                      "id": "osconfig.organizations.locations.global.policyOrchestrators.delete",
                      "parameters": {
                        "etag": {
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource to be deleted.",
                          "required": true
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "path": "v2/{+name}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v2/organizations/{organizationsId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "description": "Deletes an existing policy orchestrator resource, parented by an organization.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "osconfig.organizations.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "path": "v2/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "id": "osconfig.organizations.locations.operations.get",
                  "path": "v2/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "osconfig.organizations.locations.operations.delete",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "id": "osconfig.organizations.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}/operations"
                }
              }
            }
          }
        }
      }
    },
    "folders": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2/{+name}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.folders.locations.operations.cancel"
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "id": "osconfig.folders.locations.operations.get",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^folders/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "id": "osconfig.folders.locations.operations.delete",
                  "path": "v2/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}/operations",
                  "id": "osconfig.folders.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^folders/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/folders/{foldersId}/locations/{locationsId}/operations"
                }
              }
            },
            "global": {
              "resources": {
                "policyOrchestrators": {
                  "methods": {
                    "create": {
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Creates a new policy orchestrator under the given folder resource. `name` field of the given orchestrator are ignored and instead replaced by a product of `parent` and `policy_orchestrator_id`. Orchestrator state field might be only set to `ACTIVE`, `STOPPED` or omitted (in which case, the created resource will be in `ACTIVE` state anyway).",
                      "parameters": {
                        "parent": {
                          "pattern": "^folders/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent resource name in the form of: * `organizations/{organization_id}/locations/global` * `folders/{folder_id}/locations/global` * `projects/{project_id_or_number}/locations/global`",
                          "required": true
                        },
                        "policyOrchestratorId": {
                          "description": "Required. The logical identifier of the policy orchestrator, with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the parent.",
                          "location": "query",
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.create",
                      "path": "v2/{+parent}/policyOrchestrators",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "description": "Lists the policy orchestrators under the given parent folder resource.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators",
                      "id": "osconfig.folders.locations.global.policyOrchestrators.list",
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource name.",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "format": "int32"
                        },
                        "orderBy": {
                          "description": "Optional. Hint for how to order the results",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v2/{+parent}/policyOrchestrators"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "description": "Updates an existing policy orchestrator, parented by a folder.",
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Immutable. Identifier. In form of * `organizations/{organization_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `folders/{folder_id}/locations/global/policyOrchestrators/{orchestrator_id}` * `projects/{project_id_or_number}/locations/global/policyOrchestrators/{orchestrator_id}`",
                          "required": true,
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to merge into the existing policy orchestrator. A special [\"*\"] field mask can be used to simply replace the entire resource. Otherwise, for all paths referenced in the mask, following merge rules are used: * output only fields are ignored, * primitive fields are replaced, * repeated fields are replaced, * map fields are merged key by key, * message fields are cleared if not set in the request, otherwise they are merged recursively (in particular - message fields set to an empty message has no side effects) If field mask (or its paths) is not specified, it is automatically inferred from the request using following rules: * primitive fields are listed, if set to a non-default value (as there is no way to distinguish between default and unset value), * map and repeated fields are listed, * `google.protobuf.Any` fields are listed, * other message fields are traversed recursively. Note: implicit mask does not allow clearing fields."
                        }
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.patch"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves an existing policy orchestrator, parented by a folder.",
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
                      },
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. The resource name.",
                          "required": true
                        }
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.get"
                    },
                    "delete": {
                      "flatPath": "v2/folders/{foldersId}/locations/global/policyOrchestrators/{policyOrchestratorsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deletes an existing policy orchestrator resource, parented by a folder.",
                      "path": "v2/{+name}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The current etag of the policy orchestrator. If an etag is provided and does not match the current etag of the policy orchestrator, deletion will be blocked and an ABORTED error will be returned."
                        },
                        "name": {
                          "pattern": "^folders/[^/]+/locations/global/policyOrchestrators/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the resource to be deleted.",
                          "required": true
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "osconfig.folders.locations.global.policyOrchestrators.delete"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "OS Config",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/compute/docs/osconfig/rest",
  "schemas": {
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "OSPolicyAssignmentInstanceFilter": {
      "type": "object",
      "id": "OSPolicyAssignmentInstanceFilter",
      "description": "Filters to select target VMs for an assignment. If more than one filter criteria is specified below, a VM will be selected if and only if it satisfies all of them.",
      "properties": {
        "inclusionLabels": {
          "type": "array",
          "description": "List of label sets used for VM inclusion. If the list has more than one `LabelSet`, the VM is included if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          }
        },
        "exclusionLabels": {
          "description": "List of label sets used for VM exclusion. If the list has more than one label set, the VM is excluded if any of the label sets are applicable for the VM.",
          "items": {
            "$ref": "OSPolicyAssignmentLabelSet"
          },
          "type": "array"
        },
        "all": {
          "description": "Target all VMs in the project. If true, no other criteria is permitted.",
          "type": "boolean"
        },
        "inventories": {
          "type": "array",
          "description": "List of inventories to select VMs. A VM is selected if its inventory data matches at least one of the following inventories.",
          "items": {
            "$ref": "OSPolicyAssignmentInstanceFilterInventory"
          }
        }
      }
    },
    "StatusProto": {
      "id": "StatusProto",
      "description": "Wire-format for a Status object",
      "properties": {
        "space": {
          "description": "copybara:strip_begin(b/383363683) Space to which this status belongs copybara:strip_end_and_replace optional string space = 2; // Space to which this status belongs",
          "type": "string"
        },
        "message": {
          "description": "Detail message copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional string message = 3;",
          "type": "string"
        },
        "canonicalCode": {
          "description": "copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 canonical_code = 6;",
          "format": "int32",
          "type": "integer"
        },
        "code": {
          "description": "Numeric code drawn from the space specified below. Often, this is the canonical error space, and code is drawn from google3/util/task/codes.proto copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional int32 code = 1;",
          "format": "int32",
          "type": "integer"
        },
        "messageSet": {
          "$ref": "MessageSet",
          "description": "message_set associates an arbitrary proto message with the status. copybara:strip_begin(b/383363683) copybara:strip_end_and_replace optional proto2.bridge.MessageSet message_set = 5;"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigCommonV1__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigCommonV1__OperationMetadata",
      "description": "Represents the metadata of a generic long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "OSPolicyResourceFile": {
      "id": "OSPolicyResourceFile",
      "description": "A remote or local file.",
      "properties": {
        "remote": {
          "$ref": "OSPolicyResourceFileRemote",
          "description": "A generic remote file."
        },
        "localPath": {
          "description": "A local path within the VM to use.",
          "type": "string"
        },
        "allowInsecure": {
          "description": "Defaults to false. When false, files are subject to validations based on the file type: Remote: A checksum must be specified. Cloud Storage: An object generation number must be specified.",
          "type": "boolean"
        },
        "gcs": {
          "$ref": "OSPolicyResourceFileGcs",
          "description": "A Cloud Storage object."
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceGooRepository": {
      "type": "object",
      "id": "OSPolicyResourceRepositoryResourceGooRepository",
      "description": "Represents a Goo package repository. These are added to a repo file that is managed at `C:/ProgramData/GooGet/repos/google_osconfig.repo`.",
      "properties": {
        "url": {
          "description": "Required. The url of the repository.",
          "type": "string"
        },
        "name": {
          "description": "Required. The name of the repository.",
          "type": "string"
        }
      }
    },
    "GoogleCloudOsconfigV2__OrchestratedResource": {
      "id": "GoogleCloudOsconfigV2__OrchestratedResource",
      "description": "Represents a resource that is being orchestrated by the policy orchestrator.",
      "properties": {
        "osPolicyAssignmentV1Payload": {
          "$ref": "OSPolicyAssignment",
          "description": "Optional. OSPolicyAssignment resource to be created, updated or deleted. Name field is ignored and replace with a generated value. With this field set, orchestrator will perform actions on `project/{project}/locations/{zone}/osPolicyAssignments/{resource_id}` resources, where `project` and `zone` pairs come from the expanded scope, and `resource_id` comes from the `resource_id` field of orchestrator resource."
        },
        "id": {
          "description": "Optional. ID of the resource to be used while generating set of affected resources. For UPSERT action the value is auto-generated during PolicyOrchestrator creation when not set. When the value is set it should following next restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the project. For DELETE action, ID must be specified explicitly during PolicyOrchestrator creation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigCommonV1alpha__OperationMetadata": {
      "id": "GoogleCloudOsconfigCommonV1alpha__OperationMetadata",
      "description": "Represents the metadata of a generic long-running operation.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResource": {
      "id": "OSPolicyResource",
      "description": "An OS policy resource is used to define the desired state configuration and provides a specific functionality like installing/removing packages, executing a script etc. The system ensures that resources are always in their desired state by taking necessary actions if they have drifted from their desired state.",
      "properties": {
        "id": {
          "description": "Required. The id of the resource with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the OS policy.",
          "type": "string"
        },
        "repository": {
          "description": "Package repository resource",
          "$ref": "OSPolicyResourceRepositoryResource"
        },
        "exec": {
          "description": "Exec resource",
          "$ref": "OSPolicyResourceExecResource"
        },
        "file": {
          "description": "File resource",
          "$ref": "OSPolicyResourceFileResource"
        },
        "pkg": {
          "description": "Package resource",
          "$ref": "OSPolicyResourcePackageResource"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceYUM": {
      "id": "OSPolicyResourcePackageResourceYUM",
      "description": "A package managed by YUM. - install: `yum -y install package` - remove: `yum -y remove package`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceRepositoryResourceZypperRepository": {
      "id": "OSPolicyResourceRepositoryResourceZypperRepository",
      "description": "Represents a single zypper package repository. These are added to a repo file that is managed at `/etc/zypp/repos.d/google_osconfig.repo`.",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the zypper config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for GuestPolicy conflicts.",
          "type": "string"
        },
        "gpgKeys": {
          "type": "array",
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          }
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2beta__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2beta__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceAPT": {
      "id": "OSPolicyResourcePackageResourceAPT",
      "description": "A package managed by APT. - install: `apt-get update && apt-get -y install [name]` - remove: `apt-get -y remove [name]`",
      "properties": {
        "name": {
          "description": "Required. Package name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourceExecResource": {
      "type": "object",
      "id": "OSPolicyResourceExecResource",
      "description": "A resource that allows executing scripts on the VM. The `ExecResource` has 2 stages: `validate` and `enforce` and both stages accept a script as an argument to execute. When the `ExecResource` is applied by the agent, it first executes the script in the `validate` stage. The `validate` stage can signal that the `ExecResource` is already in the desired state by returning an exit code of `100`. If the `ExecResource` is not in the desired state, it should return an exit code of `101`. Any other exit code returned by this stage is considered an error. If the `ExecResource` is not in the desired state based on the exit code from the `validate` stage, the agent proceeds to execute the script from the `enforce` stage. If the `ExecResource` is already in the desired state, the `enforce` stage will not be run. Similar to `validate` stage, the `enforce` stage should return an exit code of `100` to indicate that the resource in now in its desired state. Any other exit code is considered an error. NOTE: An exit code of `100` was chosen over `0` (and `101` vs `1`) to have an explicit indicator of `in desired state`, `not in desired state` and errors. Because, for example, Powershell will always return an exit code of `0` unless an `exit` statement is provided in the script. So, for reasons of consistency and being explicit, exit codes `100` and `101` were chosen.",
      "properties": {
        "enforce": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "What to run to bring this resource into the desired state. An exit code of 100 indicates \"success\", any other exit code indicates a failure running enforce."
        },
        "validate": {
          "$ref": "OSPolicyResourceExecResourceExec",
          "description": "Required. What to run to validate this resource is in the desired state. An exit code of 100 indicates \"in desired state\", and exit code of 101 indicates \"not in desired state\". Any other exit code indicates a failure running validate."
        }
      }
    },
    "FixedOrPercent": {
      "id": "FixedOrPercent",
      "description": "Message encapsulating a value that can be either absolute (\"fixed\") or relative (\"percent\") to a value.",
      "properties": {
        "percent": {
          "format": "int32",
          "description": "Specifies the relative value defined as a percentage, which will be multiplied by a reference value.",
          "type": "integer"
        },
        "fixed": {
          "format": "int32",
          "description": "Specifies a fixed value.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState": {
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_OrchestrationState",
      "description": "Describes the state of the orchestration process.",
      "properties": {
        "currentIterationState": {
          "readOnly": true,
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "description": "Output only. Current Wave iteration state."
        },
        "previousIterationState": {
          "$ref": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
          "description": "Output only. Previous Wave iteration state.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResourceDeb": {
      "id": "OSPolicyResourcePackageResourceDeb",
      "description": "A deb package file. dpkg packages only support INSTALLED state.",
      "properties": {
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `dpkg -i package` - install when true: `apt-get update && apt-get -y install package.deb`",
          "type": "boolean"
        },
        "source": {
          "$ref": "OSPolicyResourceFile",
          "description": "Required. A deb package."
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector": {
      "id": "GoogleCloudOsconfigV2_OrchestrationScope_ResourceHierarchySelector",
      "description": "Selector containing Cloud Resource Manager resource hierarchy nodes.",
      "properties": {
        "includedProjects": {
          "type": "array",
          "description": "Optional. Names of the projects in scope. Format: `projects/{project_number}`",
          "items": {
            "type": "string"
          }
        },
        "includedFolders": {
          "type": "array",
          "description": "Optional. Names of the folders in scope. Format: `folders/{folder_id}`",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigV1__OSPolicyAssignmentOperationMetadata",
      "description": "OS policy assignment operation metadata provided by OS policy assignment API methods that return long running operations.",
      "properties": {
        "rolloutStartTime": {
          "type": "string",
          "description": "Rollout start time",
          "format": "google-datetime"
        },
        "apiMethod": {
          "enum": [
            "API_METHOD_UNSPECIFIED",
            "CREATE",
            "UPDATE",
            "DELETE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "Create OS policy assignment API method",
            "Update OS policy assignment API method",
            "Delete OS policy assignment API method"
          ],
          "description": "The OS policy assignment API method."
        },
        "rolloutState": {
          "description": "State of the rollout",
          "enum": [
            "ROLLOUT_STATE_UNSPECIFIED",
            "IN_PROGRESS",
            "CANCELLING",
            "CANCELLED",
            "SUCCEEDED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid value",
            "The rollout is in progress.",
            "The rollout is being cancelled.",
            "The rollout is cancelled.",
            "The rollout has completed successfully."
          ]
        },
        "osPolicyAssignment": {
          "description": "Reference to the `OSPolicyAssignment` API resource. Format: `projects/{project_number}/locations/{location}/osPolicyAssignments/{os_policy_assignment_id@revision_id}`",
          "type": "string"
        },
        "rolloutUpdateTime": {
          "type": "string",
          "description": "Rollout update time",
          "format": "google-datetime"
        }
      }
    },
    "OSPolicyResourcePackageResourceRPM": {
      "id": "OSPolicyResourcePackageResourceRPM",
      "description": "An RPM package file. RPM packages only support INSTALLED state.",
      "properties": {
        "source": {
          "description": "Required. An rpm package.",
          "$ref": "OSPolicyResourceFile"
        },
        "pullDeps": {
          "description": "Whether dependencies should also be installed. - install when false: `rpm --upgrade --replacepkgs package.rpm` - install when true: `yum -y install package.rpm` or `zypper -y install package.rpm`",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2__OperationMetadata": {
      "id": "GoogleCloudOsconfigV2__OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState": {
      "type": "object",
      "id": "GoogleCloudOsconfigV2_PolicyOrchestrator_IterationState",
      "description": "Describes the state of a single iteration of the orchestrator.",
      "properties": {
        "failedActions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Number of orchestration actions which failed so far. For more details, query the Cloud Logs.",
          "format": "int64"
        },
        "performedActions": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Overall number of actions done by the orchestrator so far.",
          "format": "int64"
        },
        "iterationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique identifier of the iteration."
        },
        "progress": {
          "type": "number",
          "readOnly": true,
          "description": "Output only. An estimated percentage of the progress. Number between 0 and 100.",
          "format": "float"
        },
        "finishTime": {
          "description": "Output only. Finish time of the wave iteration.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Start time of the wave iteration."
        },
        "error": {
          "description": "Output only. Error thrown in the wave iteration.",
          "$ref": "Status",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Iteration is in progress.",
            "Iteration completed, with all actions being successful.",
            "Iteration completed, with failures.",
            "Iteration was explicitly cancelled.",
            "Impossible to determine current state of the iteration."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROCESSING",
            "COMPLETED",
            "FAILED",
            "CANCELLED",
            "UNKNOWN"
          ],
          "description": "Output only. State of the iteration."
        }
      }
    },
    "OSPolicyResourceExecResourceExec": {
      "type": "object",
      "id": "OSPolicyResourceExecResourceExec",
      "description": "A file or script to execute.",
      "properties": {
        "script": {
          "description": "An inline script. The size of the script is limited to 32KiB.",
          "type": "string"
        },
        "file": {
          "$ref": "OSPolicyResourceFile",
          "description": "A remote or local file."
        },
        "interpreter": {
          "description": "Required. The script interpreter to use.",
          "type": "string",
          "enumDescriptions": [
            "Invalid value, the request will return validation error.",
            "If an interpreter is not specified, the source is executed directly. This execution, without an interpreter, only succeeds for executables and scripts that have shebang lines.",
            "Indicates that the script runs with `/bin/sh` on Linux and `cmd.exe` on Windows.",
            "Indicates that the script runs with PowerShell."
          ],
          "enum": [
            "INTERPRETER_UNSPECIFIED",
            "NONE",
            "SHELL",
            "POWERSHELL"
          ]
        },
        "outputFilePath": {
          "description": "Only recorded for enforce Exec. Path to an output file (that is created by this Exec) whose content will be recorded in OSPolicyResourceCompliance after a successful run. Absence or failure to read this file will result in this ExecResource being non-compliant. Output file size is limited to 500K bytes.",
          "type": "string"
        },
        "args": {
          "type": "array",
          "description": "Optional arguments to pass to the source during execution.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "OSPolicyResourceRepositoryResourceYumRepository": {
      "id": "OSPolicyResourceRepositoryResourceYumRepository",
      "description": "Represents a single yum package repository. These are added to a repo file that is managed at `/etc/yum.repos.d/google_osconfig.repo`.",
      "properties": {
        "id": {
          "description": "Required. A one word, unique name for this repository. This is the `repo id` in the yum config file and also the `display_name` if `display_name` is omitted. This id is also used as the unique identifier when checking for resource conflicts.",
          "type": "string"
        },
        "gpgKeys": {
          "description": "URIs of GPG keys.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "description": "The display name of the repository.",
          "type": "string"
        },
        "baseUrl": {
          "description": "Required. The location of the repository directory.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse": {
      "id": "GoogleCloudOsconfigV2__ListPolicyOrchestratorsResponse",
      "description": "Response for the list policy orchestrator resources.",
      "properties": {
        "policyOrchestrators": {
          "description": "The policy orchestrators for the specified parent resource.",
          "items": {
            "$ref": "GoogleCloudOsconfigV2__PolicyOrchestrator"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudOsconfigCommonV1main__OperationMetadata": {
      "type": "object",
      "id": "GoogleCloudOsconfigCommonV1main__OperationMetadata",
      "description": "Represents the metadata of a generic long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OSPolicyResourceRepositoryResource": {
      "id": "OSPolicyResourceRepositoryResource",
      "description": "A resource that manages a package repository.",
      "properties": {
        "zypper": {
          "$ref": "OSPolicyResourceRepositoryResourceZypperRepository",
          "description": "A Zypper Repository."
        },
        "apt": {
          "$ref": "OSPolicyResourceRepositoryResourceAptRepository",
          "description": "An Apt Repository."
        },
        "yum": {
          "description": "A Yum Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceYumRepository"
        },
        "goo": {
          "description": "A Goo Repository.",
          "$ref": "OSPolicyResourceRepositoryResourceGooRepository"
        }
      },
      "type": "object"
    },
    "OSPolicyInventoryFilter": {
      "id": "OSPolicyInventoryFilter",
      "description": "Filtering criteria to select VMs based on inventory details.",
      "properties": {
        "osVersion": {
          "description": "The OS version Prefix matches are supported if asterisk(*) is provided as the last character. For example, to match all versions with a major version of `7`, specify the following value for this field `7.*` An empty string matches all OS versions.",
          "type": "string"
        },
        "osShortName": {
          "description": "Required. The OS short name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OSPolicyResourcePackageResource": {
      "id": "OSPolicyResourcePackageResource",
      "description": "A resource that manages a system package.",
      "properties": {
        "googet": {
          "$ref": "OSPolicyResourcePackageResourceGooGet",
          "description": "A package managed by GooGet."
        },
        "msi": {
          "description": "An MSI package.",
          "$ref": "OSPolicyResourcePackageResourceMSI"
        },
        "apt": {
          "$ref": "OSPolicyResourcePackageResourceAPT",
          "description": "A package managed by Apt."
        },
        "yum": {
          "description": "A package managed by YUM.",
          "$ref": "OSPolicyResourcePackageResourceYUM"
        },
        "rpm": {
          "$ref": "OSPolicyResourcePackageResourceRPM",
          "description": "An rpm package file."
        },
        "desiredState": {
          "enum": [
            "DESIRED_STATE_UNSPECIFIED",
            "INSTALLED",
            "REMOVED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified is invalid.",
            "Ensure that the package is installed.",
            "The agent ensures that the package is not installed and uninstalls it if detected."
          ],
          "description": "Required. The desired state the agent should maintain for this package."
        },
        "deb": {
          "description": "A deb package file.",
          "$ref": "OSPolicyResourcePackageResourceDeb"
        },
        "zypper": {
          "description": "A package managed by Zypper.",
          "$ref": "OSPolicyResourcePackageResourceZypper"
        }
      },
      "type": "object"
    },
    "OSPolicy": {
      "type": "object",
      "id": "OSPolicy",
      "description": "An OS policy defines the desired state configuration for a VM.",
      "properties": {
        "id": {
          "description": "Required. The id of the OS policy with the following restrictions: * Must contain only lowercase letters, numbers, and hyphens. * Must start with a letter. * Must be between 1-63 characters. * Must end with a number or a letter. * Must be unique within the assignment.",
          "type": "string"
        },
        "mode": {
          "description": "Required. Policy mode",
          "enum": [
            "MODE_UNSPECIFIED",
            "VALIDATION",
            "ENFORCEMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Invalid mode",
            "This mode checks if the configuration resources in the policy are in their desired state. No actions are performed if they are not in the desired state. This mode is used for reporting purposes.",
            "This mode checks if the configuration resources in the policy are in their desired state, and if not, enforces the desired state."
          ]
        },
        "resourceGroups": {
          "type": "array",
          "description": "Required. List of resource groups for the policy. For a particular VM, resource groups are evaluated in the order specified and the first resource group that is applicable is selected and the rest are ignored. If none of the resource groups are applicable for a VM, the VM is considered to be non-compliant w.r.t this policy. This behavior can be toggled by the flag `allow_no_resource_group_match`",
          "items": {
            "$ref": "OSPolicyResourceGroup"
          }
        },
        "description": {
          "description": "Policy description. Length of the description is limited to 1024 characters.",
          "type": "string"
        },
        "allowNoResourceGroupMatch": {
[...]
