{
  "revision": "20260305",
  "basePath": "",
  "batchPath": "batch",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "title": "Real-time Bidding API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "name": "realtimebidding",
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "description": "Allows external bidders to manage their RTB integration with Google. This includes managing bidder endpoints, QPS quotas, configuring what ad inventory to receive with pretargeting, submitting creatives for verification, and accessing creative metadata such as approval status.",
  "servicePath": "",
  "ownerDomain": "google.com",
  "resources": {
    "buyers": {
      "methods": {
        "getRemarketingTag": {
          "httpMethod": "GET",
          "description": "This has been sunset as of October 2023, and will return an error response if called. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list.",
          "path": "v1/{+name}:getRemarketingTag",
          "flatPath": "v1/buyers/{buyersId}:getRemarketingTag",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "parameters": {
            "name": {
              "description": "Required. To fetch the remarketing tag for an account, the name must follow the pattern `buyers/{accountId}`, where `{accountId}` represents the ID of the buyer that owns the remarketing tag. For a bidder accessing the remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch the remarketing tag for a specific user list, the name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.",
              "location": "path",
              "required": true,
              "pattern": "^buyers/[^/]+$",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GetRemarketingTagResponse"
          },
          "id": "realtimebidding.buyers.getRemarketingTag"
        },
        "get": {
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "description": "Gets a buyer account by its name.",
          "id": "realtimebidding.buyers.get",
          "response": {
            "$ref": "Buyer"
          },
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Name of the buyer to get. Format: `buyers/{buyerId}`",
              "location": "path",
              "type": "string",
              "pattern": "^buyers/[^/]+$"
            }
          },
          "flatPath": "v1/buyers/{buyersId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ]
        },
        "list": {
          "id": "realtimebidding.buyers.list",
          "response": {
            "$ref": "ListBuyersResponse"
          },
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "The maximum number of buyers to return. If unspecified, at most 100 buyers will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBuyers` call in ListBuyersResponse.nextPageToken.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1/buyers",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "path": "v1/buyers",
          "httpMethod": "GET",
          "description": "Lists all buyer account information the calling buyer user or service account is permissioned to manage."
        }
      },
      "resources": {
        "creatives": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response.",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Field mask to use for partial in-place updates.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.creatives.patch",
              "response": {
                "$ref": "Creative"
              },
              "httpMethod": "PATCH",
              "description": "Updates a creative.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "Creative"
              }
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page.",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ]
                },
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/creatives",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.creatives.list",
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "httpMethod": "GET",
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status.",
              "path": "v1/{+parent}/creatives"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Gets a creative.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the creative to retrieve. See creative.name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/creatives/[^/]+$",
                  "type": "string"
                },
                "view": {
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ],
                  "type": "string"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/creatives/{creativesId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.creatives.get",
              "response": {
                "$ref": "Creative"
              }
            },
            "create": {
              "flatPath": "v1/buyers/{buyersId}/creatives",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent buyer that the new creative belongs to that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns a creative. For a bidder accessing creatives on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Creative"
              },
              "id": "realtimebidding.buyers.creatives.create",
              "httpMethod": "POST",
              "description": "Creates a creative.",
              "request": {
                "$ref": "Creative"
              },
              "path": "v1/{+parent}/creatives"
            }
          }
        },
        "userLists": {
          "methods": {
            "get": {
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the user list to be retrieved. See UserList.name.",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.get",
              "httpMethod": "GET",
              "description": "Gets a user list by its name.",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/userLists",
              "httpMethod": "GET",
              "description": "Lists the user lists visible to the current user.",
              "id": "realtimebidding.buyers.userLists.list",
              "response": {
                "$ref": "ListUserListsResponse"
              },
              "parameters": {
                "pageSize": {
                  "description": "The number of results to return per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation page token as received from a previous response.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. The name of the parent buyer for the user lists to be returned that must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns user lists. For a bidder accessing user lists on behalf of a child seat buyer , `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "update": {
              "path": "v1/{+name}",
              "request": {
                "$ref": "UserList"
              },
              "httpMethod": "PUT",
              "description": "Updates the given user list. Only user lists with URLRestrictions can be updated.",
              "id": "realtimebidding.buyers.userLists.update",
              "response": {
                "$ref": "UserList"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "required": true,
                  "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.",
                  "location": "path"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "create": {
              "httpMethod": "POST",
              "description": "Creates a new user list.",
              "path": "v1/{+parent}/userLists",
              "request": {
                "$ref": "UserList"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the parent buyer of the user list to be retrieved, which must follow the pattern `buyers/{buyerAccountId}`, where `{buyerAccountId}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyerAccountId}` should represent the account ID of the child seat buyer.",
                  "location": "path"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.buyers.userLists.create",
              "response": {
                "$ref": "UserList"
              }
            },
            "close": {
              "response": {
                "$ref": "UserList"
              },
              "id": "realtimebidding.buyers.userLists.close",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:close",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the user list to close. See UserList.name",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "CloseUserListRequest"
              },
              "path": "v1/{+name}:close",
              "httpMethod": "POST",
              "description": "Changes the status of a user list to CLOSED. This prevents new users from being added to the user list."
            },
            "open": {
              "path": "v1/{+name}:open",
              "request": {
                "$ref": "OpenUserListRequest"
              },
              "httpMethod": "POST",
              "description": "Changes the status of a user list to OPEN. This allows new users to be added to the user list.",
              "id": "realtimebidding.buyers.userLists.open",
              "response": {
                "$ref": "UserList"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the user list to open. See UserList.name",
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:open",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "getRemarketingTag": {
              "response": {
                "$ref": "GetRemarketingTagResponse"
              },
              "id": "realtimebidding.buyers.userLists.getRemarketingTag",
              "flatPath": "v1/buyers/{buyersId}/userLists/{userListsId}:getRemarketingTag",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. To fetch the remarketing tag for an account, the name must follow the pattern `buyers/{accountId}`, where `{accountId}` represents the ID of the buyer that owns the remarketing tag. For a bidder accessing the remarketing tag on behalf of a child seat buyer, `{accountId}` should represent the ID of the child seat buyer. To fetch the remarketing tag for a specific user list, the name must follow the pattern `buyers/{accountId}/userLists/{userListId}`. See UserList.name.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/userLists/[^/]+$"
                }
              },
              "path": "v1/{+name}:getRemarketingTag",
              "httpMethod": "GET",
              "description": "This has been sunset as of October 2023, and will return an error response if called. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api Gets remarketing tag for a buyer. A remarketing tag is a piece of JavaScript code that can be placed on a web page. When a user visits a page containing a remarketing tag, Google adds the user to a user list."
            }
          }
        }
      }
    },
    "bidders": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "description": "Gets a bidder account by its name.",
          "path": "v1/{+name}",
          "flatPath": "v1/bidders/{biddersId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "parameters": {
            "name": {
              "pattern": "^bidders/[^/]+$",
              "type": "string",
              "description": "Required. Name of the bidder to get. Format: `bidders/{bidderAccountId}`",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Bidder"
          },
          "id": "realtimebidding.bidders.get"
        },
        "list": {
          "path": "v1/bidders",
          "httpMethod": "GET",
          "description": "Lists all the bidder accounts that belong to the caller.",
          "response": {
            "$ref": "ListBiddersResponse"
          },
          "id": "realtimebidding.bidders.list",
          "flatPath": "v1/bidders",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/realtime-bidding"
          ],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of bidders to return. If unspecified, at most 100 bidders will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListBidders` call in ListBiddersResponse.nextPageToken.",
              "location": "query"
            }
          }
        }
      },
      "resources": {
        "pretargetingConfigs": {
          "methods": {
            "list": {
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the bidder whose pretargeting configurations will be listed. Format: bidders/{bidderAccountId}",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListPretargetingConfigs` call in ListPretargetingConfigsResponse.nextPageToken.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of pretargeting configurations to return. If unspecified, at most 10 pretargeting configurations will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "ListPretargetingConfigsResponse"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.list",
              "httpMethod": "GET",
              "description": "Lists all pretargeting configurations for a single bidder.",
              "path": "v1/{+parent}/pretargetingConfigs"
            },
            "addTargetedApps": {
              "parameters": {
                "pretargetingConfig": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedApps",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedApps",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "httpMethod": "POST",
              "description": "Adds targeted apps to the pretargeting configuration.",
              "path": "v1/{+pretargetingConfig}:addTargetedApps",
              "request": {
                "$ref": "AddTargetedAppsRequest"
              }
            },
            "removeTargetedSites": {
              "httpMethod": "POST",
              "description": "Removes targeted sites from the pretargeting configuration.",
              "path": "v1/{+pretargetingConfig}:removeTargetedSites",
              "request": {
                "$ref": "RemoveTargetedSitesRequest"
              },
              "parameters": {
                "pretargetingConfig": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedSites",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedSites",
              "response": {
                "$ref": "PretargetingConfig"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a pretargeting configuration.",
              "id": "realtimebidding.bidders.pretargetingConfigs.get",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the pretargeting configuration to get. Format: bidders/{bidderAccountId}/pretargetingConfigs/{configId}",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a pretargeting configuration.",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration to delete. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.pretargetingConfigs.delete",
              "response": {
                "$ref": "Empty"
              }
            },
            "activate": {
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.activate",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:activate",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ActivatePretargetingConfigRequest"
              },
              "path": "v1/{+name}:activate",
              "httpMethod": "POST",
              "description": "Activates a pretargeting configuration."
            },
            "suspend": {
              "id": "realtimebidding.bidders.pretargetingConfigs.suspend",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:suspend",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+name}:suspend",
              "request": {
                "$ref": "SuspendPretargetingConfigRequest"
              },
              "httpMethod": "POST",
              "description": "Suspends a pretargeting configuration."
            },
            "create": {
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the bidder to create the pretargeting configuration for. Format: bidders/{bidderAccountId}",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.create",
              "httpMethod": "POST",
              "description": "Creates a pretargeting configuration. A pretargeting configuration's state (PretargetingConfig.state) is active upon creation, and it will start to affect traffic shortly after. A bidder may create a maximum of 10 pretargeting configurations. Attempts to exceed this maximum results in a 400 bad request error.",
              "request": {
                "$ref": "PretargetingConfig"
              },
              "path": "v1/{+parent}/pretargetingConfigs"
            },
            "removeTargetedPublishers": {
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedPublishers",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pretargetingConfig": {
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedPublishers",
              "httpMethod": "POST",
              "description": "Removes targeted publishers from the pretargeting config.",
              "request": {
                "$ref": "RemoveTargetedPublishersRequest"
              },
              "path": "v1/{+pretargetingConfig}:removeTargetedPublishers"
            },
            "addTargetedSites": {
              "request": {
                "$ref": "AddTargetedSitesRequest"
              },
              "path": "v1/{+pretargetingConfig}:addTargetedSites",
              "httpMethod": "POST",
              "description": "Adds targeted sites to the pretargeting configuration.",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedSites",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedSites",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pretargetingConfig": {
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              }
            },
            "patch": {
              "path": "v1/{+name}",
              "request": {
                "$ref": "PretargetingConfig"
              },
              "httpMethod": "PATCH",
              "description": "Updates a pretargeting configuration.",
              "id": "realtimebidding.bidders.pretargetingConfigs.patch",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "required": true,
                  "description": "Output only. Name of the pretargeting configuration that must follow the pattern `bidders/{bidder_account_id}/pretargetingConfigs/{config_id}`",
                  "location": "path"
                },
                "updateMask": {
                  "type": "string",
                  "description": "Field mask to use for partial in-place updates.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "addTargetedPublishers": {
              "id": "realtimebidding.bidders.pretargetingConfigs.addTargetedPublishers",
              "response": {
                "$ref": "PretargetingConfig"
              },
              "parameters": {
                "pretargetingConfig": {
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:addTargetedPublishers",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+pretargetingConfig}:addTargetedPublishers",
              "request": {
                "$ref": "AddTargetedPublishersRequest"
              },
              "httpMethod": "POST",
              "description": "Adds targeted publishers to the pretargeting config."
            },
            "removeTargetedApps": {
              "httpMethod": "POST",
              "description": "Removes targeted apps from the pretargeting configuration.",
              "request": {
                "$ref": "RemoveTargetedAppsRequest"
              },
              "path": "v1/{+pretargetingConfig}:removeTargetedApps",
              "flatPath": "v1/bidders/{biddersId}/pretargetingConfigs/{pretargetingConfigsId}:removeTargetedApps",
              "parameterOrder": [
                "pretargetingConfig"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pretargetingConfig": {
                  "required": true,
                  "description": "Required. The name of the pretargeting configuration. Format: bidders/{bidderAccountId}/pretargetingConfig/{configId}",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/pretargetingConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "PretargetingConfig"
              },
              "id": "realtimebidding.bidders.pretargetingConfigs.removeTargetedApps"
            }
          }
        },
        "endpoints": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a bidder endpoint by its name.",
              "id": "realtimebidding.bidders.endpoints.get",
              "response": {
                "$ref": "Endpoint"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the bidder endpoint to get. Format: `bidders/{bidderAccountId}/endpoints/{endpointId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists all the bidder's endpoints.",
              "path": "v1/{+parent}/endpoints",
              "flatPath": "v1/bidders/{biddersId}/endpoints",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of endpoints to return. If unspecified, at most 100 endpoints will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. This value is received from a previous `ListEndpoints` call in ListEndpointsResponse.nextPageToken.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the bidder whose endpoints will be listed. Format: `bidders/{bidderAccountId}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                }
              },
              "response": {
                "$ref": "ListEndpointsResponse"
              },
              "id": "realtimebidding.bidders.endpoints.list"
            },
            "patch": {
              "path": "v1/{+name}",
              "request": {
                "$ref": "Endpoint"
              },
              "httpMethod": "PATCH",
              "description": "Updates a bidder's endpoint.",
              "id": "realtimebidding.bidders.endpoints.patch",
              "response": {
                "$ref": "Endpoint"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Output only. Name of the endpoint resource that must follow the pattern `bidders/{bidderAccountId}/endpoints/{endpointId}`, where {bidderAccountId} is the account ID of the bidder who operates this endpoint, and {endpointId} is a unique ID assigned by the server.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+/endpoints/[^/]+$"
                },
                "updateMask": {
                  "description": "Field mask to use for partial in-place updates.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/endpoints/{endpointsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ]
            }
          }
        },
        "creatives": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListCreativesResponse"
              },
              "id": "realtimebidding.bidders.creatives.list",
              "flatPath": "v1/bidders/{biddersId}/creatives",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer creatives than requested (due to timeout constraint) even if more are available through another call. If unspecified, server will pick an appropriate default. Acceptable values are 1 to 1000, inclusive.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "description": "Query string to filter creatives. If no filter is specified, all active creatives will be returned. Example: 'accountId=12345 AND (dealsStatus:DISAPPROVED AND disapprovalReason:UNACCEPTABLE_CONTENT) OR declaredAttributes:IS_COOKIE_TARGETED'",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the parent buyer that owns the creatives. The pattern for this resource is either `buyers/{buyerAccountId}` or `bidders/{bidderAccountId}`. For `buyers/{buyerAccountId}`, the `buyerAccountId` can be one of the following: 1. The ID of the buyer that is accessing their own creatives. 2. The ID of the child seat buyer under a bidder account. So for listing creatives pertaining to the child seat buyer (`456`) under bidder account (`123`), you would use the pattern: `buyers/456`. 3. The ID of the bidder itself. So for listing creatives pertaining to bidder (`123`), you would use `buyers/123`. If you want to access all creatives pertaining to both the bidder and all of its child seat accounts, you would use `bidders/{bidderAccountId}`, for example, for all creatives pertaining to bidder (`123`), use `bidders/123`.",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListCreativesResponse.nextPageToken returned from the previous call to the 'ListCreatives' method. Page tokens for continued pages are valid for up to five hours, counting from the call to 'ListCreatives' for the first page.",
                  "location": "query"
                },
                "view": {
                  "enumDescriptions": [
                    "Not specified, equivalent to SERVING_DECISION_ONLY.",
                    "Only creativeServingDecision is included in the response.",
                    "The entire creative resource (including the declared fields and the creative content) is included in the response."
                  ],
                  "description": "Controls the amount of information included in the response. By default only creativeServingDecision is included. To retrieve the entire creative resource (including the declared fields and the creative content) specify the view as \"FULL\".",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "CREATIVE_VIEW_UNSPECIFIED",
                    "SERVING_DECISION_ONLY",
                    "FULL"
                  ]
                }
              },
              "path": "v1/{+parent}/creatives",
              "httpMethod": "GET",
              "description": "Lists creatives as they are at the time of the initial request. This call may take multiple hours to complete. For large, paginated requests, this method returns a snapshot of creatives at the time of request for the first page. `lastStatusUpdate` and `creativeServingDecision` may be outdated for creatives on sequential pages. We recommend [Google Cloud Pub/Sub](//cloud.google.com/pubsub/docs/overview) to view the latest status."
            },
            "watch": {
              "httpMethod": "POST",
              "description": "Watches all creatives pertaining to a bidder. It is sufficient to invoke this endpoint once per bidder. A Pub/Sub topic will be created and notifications will be pushed to the topic when any of the bidder's creatives change status. All of the bidder's service accounts will have access to read from the topic. Subsequent invocations of this method will return the existing Pub/Sub configuration.",
              "path": "v1/{+parent}/creatives:watch",
              "request": {
                "$ref": "WatchCreativesRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. To watch all creatives pertaining to the bidder and all its child seat accounts, the bidder must follow the pattern `bidders/{bidderAccountId}`.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/bidders/{biddersId}/creatives:watch",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.creatives.watch",
              "response": {
                "$ref": "WatchCreativesResponse"
              }
            }
          }
        },
        "publisherConnections": {
          "methods": {
            "batchApprove": {
              "response": {
                "$ref": "BatchApprovePublisherConnectionsResponse"
              },
              "id": "realtimebidding.bidders.publisherConnections.batchApprove",
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchApprove",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "description": "Required. The bidder for whom publisher connections will be approved. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "BatchApprovePublisherConnectionsRequest"
              },
              "path": "v1/{+parent}/publisherConnections:batchApprove",
              "httpMethod": "POST",
              "description": "Batch approves multiple publisher connections."
            },
            "list": {
              "parameters": {
                "orderBy": {
                  "description": "Order specification by which results should be sorted. If no sort order is specified, the results will be returned in alphabetic order based on the publisher's publisher code. Results can be sorted by `createTime`. Example: 'createTime DESC'.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested (due to timeout constraint) even if more are available through another call. If unspecified, the server will pick an appropriate default. Acceptable values are 1 to 5000, inclusive.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "type": "string",
                  "description": "Query string to filter publisher connections. Connections can be filtered by `displayName`, `publisherPlatform`, and `biddingState`. If no filter is specified, all publisher connections will be returned. Example: 'displayName=\"Great Publisher*\" AND publisherPlatform=ADMOB AND biddingState != PENDING' See https://google.aip.dev/160 for more information about filtering syntax.",
                  "location": "query"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the bidder for which publishers have initiated connections. The pattern for this resource is `bidders/{bidder}` where `{bidder}` represents the account ID of the bidder.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^bidders/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListPublisherConnectionsResponse.nextPageToken returned from the previous call to the 'ListPublisherConnections' method.",
                  "location": "query"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/publisherConnections",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "id": "realtimebidding.bidders.publisherConnections.list",
              "response": {
                "$ref": "ListPublisherConnectionsResponse"
              },
              "httpMethod": "GET",
              "description": "Lists publisher connections for a given bidder.",
              "path": "v1/{+parent}/publisherConnections"
            },
            "get": {
              "response": {
                "$ref": "PublisherConnection"
              },
              "id": "realtimebidding.bidders.publisherConnections.get",
              "flatPath": "v1/bidders/{biddersId}/publisherConnections/{publisherConnectionsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "parameters": {
                "name": {
                  "pattern": "^bidders/[^/]+/publisherConnections/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the publisher whose connection information is to be retrieved. In the pattern `bidders/{bidder}/publisherConnections/{publisher}` where `{bidder}` is the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID. See publisherConnection.name.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets a publisher connection."
            },
            "batchReject": {
              "id": "realtimebidding.bidders.publisherConnections.batchReject",
              "response": {
                "$ref": "BatchRejectPublisherConnectionsResponse"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^bidders/[^/]+$",
                  "required": true,
                  "description": "Required. The bidder for whom publisher connections will be rejected. Format: `bidders/{bidder}` where `{bidder}` is the account ID of the bidder.",
                  "location": "path"
                }
              },
              "flatPath": "v1/bidders/{biddersId}/publisherConnections:batchReject",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/realtime-bidding"
              ],
              "path": "v1/{+parent}/publisherConnections:batchReject",
              "request": {
                "$ref": "BatchRejectPublisherConnectionsRequest"
              },
              "httpMethod": "POST",
              "description": "Batch rejects multiple publisher connections."
            }
          }
        }
      }
    }
  },
  "id": "realtimebidding:v1",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/realtime-bidding": {
          "description": "See, create, edit, and delete your Authorized Buyers and Open Bidding account entities"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://realtimebidding.googleapis.com/",
  "canonicalName": "Real-time Bidding",
  "schemas": {
    "NativeContent": {
      "id": "NativeContent",
      "type": "object",
      "properties": {
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "body": {
          "type": "string",
          "description": "A long description of the ad."
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "callToAction": {
          "type": "string",
          "description": "A label for the button that the user is supposed to click."
        },
        "starRating": {
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "format": "double",
          "type": "number"
        },
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a native video ad."
        },
        "headline": {
          "type": "string",
          "description": "A short title for the ad."
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a native video ad.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "priceDisplayText": {
          "type": "string",
          "description": "The price of the promoted app including currency info."
        }
      },
      "description": "Native content for a creative."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32"
        },
        "month": {
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "DestinationNotWorkingEvidence": {
      "description": "Evidence of the creative's destination URL not functioning properly or having been incorrectly set up.",
      "id": "DestinationNotWorkingEvidence",
      "type": "object",
      "properties": {
        "httpError": {
          "type": "integer",
          "description": "HTTP error code (for example, 404 or 5xx)",
          "format": "int32"
        },
        "lastCheckTime": {
          "type": "string",
          "description": "Approximate time when the ad destination was last checked.",
          "format": "google-datetime"
        },
        "expandedUrl": {
          "type": "string",
          "description": "The full non-working URL."
        },
        "dnsError": {
          "description": "DNS lookup errors.",
          "enum": [
            "DNS_ERROR_UNSPECIFIED",
            "ERROR_DNS",
            "GOOGLE_CRAWLER_DNS_ISSUE"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "DNS name was not found.",
            "An internal issue occurred when Google's crawler tried to resolve the DNS entry. This is a Google-internal issue and may not be the result of an issue with the landing page."
          ],
          "type": "string"
        },
        "platform": {
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "The personal computer platform.",
            "The Android platform.",
            "The iOS platform."
          ],
          "enum": [
            "PLATFORM_UNSPECIFIED",
            "PERSONAL_COMPUTER",
            "ANDROID",
            "IOS"
          ],
          "description": "Platform of the non-working URL."
        },
        "urlRejected": {
          "description": "Rejected because of malformed URLs or invalid requests.",
          "enum": [
            "URL_REJECTED_UNSPECIFIED",
            "BAD_REQUEST",
            "MALFORMED_URL",
            "URL_REJECTED_UNKNOWN"
          ],
          "enumDescriptions": [
            "Default value that should never be used.",
            "URL rejected because of a malformed request.",
            "URL rejected because of a malformed URL.",
            "URL rejected because of unknown reason."
          ],
          "type": "string"
        },
        "invalidPage": {
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "Page was empty or had an error."
          ],
          "enum": [
            "INVALID_PAGE_UNSPECIFIED",
            "EMPTY_OR_ERROR_PAGE"
          ],
          "description": "Page was crawled successfully, but was detected as either a page with no content or an error page."
        },
        "redirectionError": {
          "enum": [
            "REDIRECTION_ERROR_UNSPECIFIED",
            "TOO_MANY_REDIRECTS",
            "INVALID_REDIRECT",
            "EMPTY_REDIRECT",
            "REDIRECT_ERROR_UNKNOWN"
          ],
          "description": "HTTP redirect chain error.",
          "type": "string",
          "enumDescriptions": [
            "Default value that should never be used.",
            "Too many redirect hops.",
            "Got a redirect but it was invalid.",
            "Got a redirect but it was empty.",
            "Unknown redirect error."
          ]
        }
      }
    },
    "CloseUserListRequest": {
      "id": "CloseUserListRequest",
      "type": "object",
      "properties": {},
      "description": "A request to close a specified user list."
    },
    "DownloadSizeEvidence": {
      "id": "DownloadSizeEvidence",
      "type": "object",
      "properties": {
        "topUrlDownloadSizeBreakdowns": {
          "description": "Download size broken down by URLs with the top download size.",
          "items": {
            "$ref": "UrlDownloadSize"
          },
          "type": "array"
        },
        "totalDownloadSizeKb": {
          "description": "Total download size (in kilobytes) for all the resources in the creative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Total download size and URL-level download size breakdown for resources in a creative."
    },
    "UrlDownloadSize": {
      "id": "UrlDownloadSize",
      "type": "object",
      "properties": {
        "downloadSizeKb": {
          "type": "integer",
          "description": "Download size of the URL in kilobytes.",
          "format": "int32"
        },
        "normalizedUrl": {
          "description": "The normalized URL with query parameters and fragment removed.",
          "type": "string"
        }
      },
      "description": "The URL-level breakdown for the download size."
    },
    "PretargetingConfig": {
      "description": "Pretargeting configuration: a set of targeting dimensions applied at the pretargeting stage of the RTB funnel. These control which inventory a bidder will receive bid requests for.",
      "id": "PretargetingConfig",
      "type": "object",
      "properties": {
        "webTargeting": {
          "description": "Targeting on a subset of site inventory. If WEB is listed in included_environments, the specified targeting is applied. A maximum of 50,000 site URLs can be targeted. An unset value for targeting allows all web-based bid requests to be sent. Sites can either be targeting positively (bid requests will be sent only if the destination site is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination site is not listed in the pretargeting configuration).",
          "$ref": "StringTargetingDimension"
        },
        "geoTargeting": {
          "description": "The geos included or excluded in this configuration defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv",
          "$ref": "NumericTargetingDimension"
        },
        "interstitialTargeting": {
          "enum": [
            "INTERSTITIAL_TARGETING_UNSPECIFIED",
            "ONLY_INTERSTITIAL_REQUESTS",
            "ONLY_NON_INTERSTITIAL_REQUESTS"
          ],
          "description": "The interstitial targeting specified for this configuration. The unset value will allow bid requests to be sent regardless of whether they are for interstitials or not.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified interstitial targeting. Represents an interstitial-agnostic selection.",
            "Only bid requests for interstitial inventory should be sent.",
            "Only bid requests for non-interstitial inventory should be sent."
          ]
        },
        "includedLanguages": {
          "type": "array",
          "description": "The languages included in this configuration, represented by their language code. See https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "items": {
            "type": "string"
          }
        },
        "includedCreativeDimensions": {
          "description": "Creative dimensions included by this configuration. Only bid requests eligible for at least one of the specified creative dimensions will be sent. An unset value allows all bid requests to be sent, regardless of creative dimension.",
          "items": {
            "$ref": "CreativeDimensions"
          },
          "type": "array"
        },
        "includedFormats": {
          "type": "array",
          "description": "Creative formats included by this configuration. Only bid requests eligible for at least one of the specified creative formats will be sent. An unset value will allow all bid requests to be sent, regardless of format.",
          "items": {
            "enumDescriptions": [
              "Placeholder for undefined creative format. This value should not be used.",
              "HTML and AMPHTML creatives.",
              "VAST video or audio creative.",
              "Native creative, including standard and video native ads."
            ],
            "type": "string",
            "enum": [
              "CREATIVE_FORMAT_UNSPECIFIED",
              "HTML",
              "VAST",
              "NATIVE"
            ]
          }
        },
        "includedPlatforms": {
          "type": "array",
          "description": "The platforms included by this configration. Bid requests for devices with the specified platform types will be sent. An unset value allows all bid requests to be sent, regardless of platform.",
          "items": {
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "PERSONAL_COMPUTER",
              "PHONE",
              "TABLET",
              "CONNECTED_TV"
            ],
            "type": "string",
            "enumDescriptions": [
              "Placeholder for an undefined platform. This value should not be used.",
              "The personal computer platform.",
              "The mobile platform.",
              "The tablet platform.",
              "The connected TV platform."
            ]
          }
        },
        "publisherTargeting": {
          "description": "Targeting on a subset of publisher inventory. Publishers can either be targeted positively (bid requests will be sent only if the publisher is listed in the targeting dimension) or negatively (bid requests will be sent only if the publisher is not listed in the targeting dimension). A maximum of 10,000 publisher IDs can be targeted. Publisher IDs are found in [ads.txt](https://iabtechlab.com/ads-txt/) / [app-ads.txt](https://iabtechlab.com/app-ads-txt/) and in bid requests in the `BidRequest.publisher_id` field on the [Google RTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto) or the `BidRequest.site.publisher.id` / `BidRequest.app.publisher.id` field on the [OpenRTB protocol](https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto). Publisher IDs will be returned in the order that they were entered.",
          "$ref": "StringTargetingDimension"
        },
        "displayName": {
          "description": "The diplay name associated with this configuration. This name must be unique among all the pretargeting configurations a bidder has.",
          "type": "string"
        },
        "appTargeting": {
          "description": "Targeting on a subset of app inventory. If APP is listed in targeted_environments, the specified targeting is applied. A maximum of 30,000 app IDs can be targeted. An unset value for targeting allows all app-based bid requests to be sent. Apps can either be targeting positively (bid requests will be sent only if the destination app is listed in the targeting dimension) or negatively (bid requests will be sent only if the destination app is not listed in the targeting dimension).",
          "$ref": "AppTargeting"
        },
        "invalidGeoIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Existing included or excluded geos that are invalid. Previously targeted geos may become invalid due to privacy restrictions.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "billingId": {
          "description": "Output only. The identifier that corresponds to this pretargeting configuration that helps buyers track and attribute their spend across their own arbitrary divisions. If a bid request matches more than one configuration, the buyer chooses which billing_id to attribute each of their bids.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "includedEnvironments": {
          "type": "array",
          "description": "Environments that are being included. Bid requests will not be sent for a given environment if it is not included. Further restrictions can be applied to included environments to target only a subset of its inventory. An unset value includes all environments.",
          "items": {
            "enum": [
              "ENVIRONMENT_UNSPECIFIED",
              "APP",
              "WEB"
            ],
            "type": "string",
            "enumDescriptions": [
              "Placeholder for unspecified environment. This value should not be used.",
              "App environment.",
              "Web environment."
            ]
          }
        },
        "allowedUserTargetingModes": {
          "type": "array",
          "description": "Targeting modes included by this configuration. A bid request must allow all the specified targeting modes. An unset value allows all bid requests to be sent, regardless of which targeting modes they allow.",
          "items": {
            "enum": [
              "USER_TARGETING_MODE_UNSPECIFIED",
              "REMARKETING_ADS",
              "INTEREST_BASED_TARGETING"
            ],
            "type": "string",
            "enumDescriptions": [
              "Placeholder for undefined user targeting mode.",
              "Remarketing ads are allowed to serve.",
              "Ads based on user interest category targeting are allowed to serve."
            ]
          }
        },
        "maximumQps": {
          "type": "string",
          "description": "The maximum QPS threshold for this configuration. The bidder should receive no more than this number of bid requests matching this configuration per second across all their bidding endpoints among all trading locations. Further information available at https://developers.google.com/authorized-buyers/rtb/peer-guide",
          "format": "int64"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUSPENDED"
          ],
          "enumDescriptions": [
            "Placeholder for undefined state.",
            "This pretargeting configuration is actively being used to filter bid requests.",
            "This pretargeting configuration is suspended and not used in serving."
          ],
          "readOnly": true,
          "description": "Output only. The state of this pretargeting configuration."
        },
        "minimumViewabilityDecile": {
          "description": "The targeted minimum viewability decile, ranging in values [0, 10]. A value of 5 means that the configuration will only match adslots for which we predict at least 50% viewability. Values > 10 will be rounded down to 10. An unset value or a value of 0 indicates that bid requests will be sent regardless of viewability.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "Output only. Name of the pretargeting configuration that must follow the pattern `bidders/{bidder_account_id}/pretargetingConfigs/{config_id}`",
          "readOnly": true,
          "type": "string"
        },
        "includedUserIdTypes": {
          "description": "User identifier types included in this configuration. At least one of the user identifier types specified in this list must be available for the bid request to be sent.",
          "items": {
            "enum": [
              "USER_ID_TYPE_UNSPECIFIED",
              "HOSTED_MATCH_DATA",
              "GOOGLE_COOKIE",
              "DEVICE_ID",
              "PUBLISHER_PROVIDED_ID",
              "PUBLISHER_FIRST_PARTY_ID"
            ],
            "enumDescriptions": [
              "Placeholder for unspecified user identifier.",
              "Hosted match data, referring to hosted_match_data in the bid request.",
              "Google cookie, referring to google_user_id in the bid request.",
              "Mobile device advertising ID.",
              "The request has a publisher-provided ID available to the bidder.",
              "Publisher first party ID, scoped to a single site, app or vendor needs to be present on the bid request."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "userListTargeting": {
          "description": "The remarketing lists included or excluded in this configuration as defined in UserList.",
          "$ref": "NumericTargetingDimension"
        },
        "excludedContentLabelIds": {
          "description": "The sensitive content category label IDs excluded in this configuration. Bid requests for inventory with any of the specified content label IDs will not be sent. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "includedMobileOperatingSystemIds": {
          "type": "array",
          "description": "The mobile operating systems included in this configuration as defined in https://storage.googleapis.com/adx-rtb-dictionaries/mobile-os.csv",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "verticalTargeting": {
          "description": "The verticals included or excluded in this configuration as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "$ref": "NumericTargetingDimension"
        }
      }
    },
    "RemoveTargetedSitesRequest": {
      "id": "RemoveTargetedSitesRequest",
      "type": "object",
      "properties": {
        "sites": {
          "description": "A list of site URLs to stop targeting in the pretargeting configuration. These values will be removed from the list of targeted URLs in PretargetingConfig.webTargeting.values.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A request to stop targeting sites in a specific pretargeting configuration. The pretargeting configuration itself specifies how these sites are targeted in PretargetingConfig.webTargeting."
    },
    "DomainCallEvidence": {
      "id": "DomainCallEvidence",
      "type": "object",
      "properties": {
        "totalHttpCallCount": {
          "type": "integer",
          "description": "The total number of HTTP calls made by the creative, including but not limited to the number of calls in the top_http_call_domains.",
          "format": "int32"
        },
        "topHttpCallDomains": {
          "type": "array",
          "description": "Breakdown of the most frequent domains called through HTTP by the creative.",
          "items": {
            "$ref": "DomainCalls"
          }
        }
      },
      "description": "Number of HTTP calls made by a creative, broken down by domain."
    },
    "BatchApprovePublisherConnectionsResponse": {
      "description": "A response for the request to approve a batch of publisher connections.",
      "id": "BatchApprovePublisherConnectionsResponse",
      "type": "object",
      "properties": {
        "publisherConnections": {
          "type": "array",
          "description": "The publisher connections that have been approved.",
          "items": {
            "$ref": "PublisherConnection"
          }
        }
      }
    },
    "OpenUserListRequest": {
      "id": "OpenUserListRequest",
      "type": "object",
      "properties": {},
      "description": "A request to open a specified user list."
    },
    "PublisherConnection": {
      "description": "An Open Bidding exchange's connection to a publisher. This is initiated by the publisher for the bidder to review. If approved by the bidder, this means that the bidder agrees to receive bid requests from the publisher.",
      "id": "PublisherConnection",
      "type": "object",
      "properties": {
        "publisherPlatform": {
          "enum": [
            "PUBLISHER_PLATFORM_UNSPECIFIED",
            "GOOGLE_AD_MANAGER",
            "ADMOB"
          ],
          "type": "string",
          "description": "Output only. Whether the publisher is an Ad Manager or AdMob publisher.",
          "readOnly": true,
          "enumDescriptions": [
            "An unspecified publisher platform.",
            "A Google Ad Manager publisher.",
            "An AdMob publisher."
          ]
        },
        "createTime": {
          "description": "Output only. The time at which the publisher initiated a connection with the bidder (irrespective of if or when the bidder approves it). This is subsequently updated if the publisher revokes and re-initiates the connection.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "biddingState": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified bidding status.",
            "Indicates a request for connection from the publisher that the bidder needs to review.",
            "Indicates that the publisher was rejected.",
            "Indicates that the publisher was approved."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "REJECTED",
            "APPROVED"
          ],
          "description": "Whether the publisher has been approved by the bidder."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the publisher connection. This follows the pattern `bidders/{bidder}/publisherConnections/{publisher}`, where `{bidder}` represents the account ID of the bidder, and `{publisher}` is the ads.txt/app-ads.txt publisher ID."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Publisher display name."
        }
      }
    },
    "Creative": {
      "description": "A creative and its classification data.",
      "id": "Creative",
      "type": "object",
      "properties": {
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "declaredClickThroughUrls": {
          "description": "The set of declared destination URLs for the creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "declaredRestrictedCategories": {
          "type": "array",
          "deprecated": true,
          "description": "All declared restricted categories for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ],
            "type": "string"
          }
        },
        "apiUpdateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last update timestamp of the creative through the API.",
          "format": "google-datetime"
        },
        "creativeServingDecision": {
          "readOnly": true,
          "$ref": "CreativeServingDecision",
          "description": "Output only. Top level status and detected attributes of a creative (for example domain, language, advertiser, product category, etc.) that affect whether (status) and where (context) a creative will be allowed to serve."
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the company being advertised in the creative. Can be used to filter the response of the creatives.list method."
        },
        "agencyId": {
          "type": "string",
          "description": "The agency ID for this creative.",
          "format": "int64"
        },
        "adChoicesDestinationUrl": {
          "type": "string",
          "description": "The link to AdChoices destination page. This is only supported for native ads."
        },
        "creativeFormat": {
          "description": "Output only. The format of this creative. Can be used to filter the response of the creatives.list method.",
          "readOnly": true,
          "enumDescriptions": [
            "The format is unknown.",
            "HTML creative.",
            "Video creative.",
            "Native creative."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "HTML",
            "VIDEO",
            "NATIVE"
          ],
          "type": "string"
        },
        "renderUrl": {
          "description": "Experimental field that can be used during the [FLEDGE Origin Trial](/authorized-buyers/rtb/fledge-origin-trial). The URL to fetch an interest group ad used in [TURTLEDOVE on-device auction](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#1-browsers-record-interest-groups\"). This should be unique among all creatives for a given `accountId`. This URL should be the same as the URL returned by [generateBid()](https://github.com/WICG/turtledove/blob/main/FLEDGE.md#32-on-device-bidding).",
          "type": "string"
        },
        "declaredAttributes": {
          "description": "All declared attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method. If the `excluded_attribute` field of a [bid request](https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto\") contains one of the attributes that were declared or detected for a given creative, and a bid is submitted with that creative, the bid will be filtered before the auction.",
          "items": {
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "creativeId": {
          "type": "string",
          "description": "Buyer-specific creative ID that references this creative in bid responses. This field is Ignored in update operations. Can be used to filter the response of the creatives.list method. The maximum length of the creative ID is 128 bytes."
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. The version of the creative. Version for a new creative is 1 and it increments during subsequent creative updates."
        },
        "restrictedCategories": {
          "deprecated": true,
          "type": "array",
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "ALCOHOL"
            ],
            "enumDescriptions": [
              "Default value that should never be used.",
              "The alcohol restricted category."
            ],
            "type": "string"
          }
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the buyer account that this creative is owned by. Can be used to filter the response of the creatives.list method with equality and inequality check.",
          "format": "int64"
        },
        "impressionTrackingUrls": {
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the creative. Follows the pattern `buyers/{buyer}/creatives/{creative}`, where `{buyer}` represents the account ID of the buyer who owns the creative, and `{creative}` is the buyer-specific creative ID that references this creative in the bid response."
        },
        "html": {
          "description": "An HTML creative.",
          "$ref": "HtmlContent"
        },
        "declaredVendorIds": {
          "type": "array",
          "description": "IDs for the declared ad technology vendors that may be used by this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values. Can be used to filter the response of the creatives.list method.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "dealIds": {
          "description": "Output only. IDs of all of the deals with which this creative has been used in bidding. Can be used to filter the response of the creatives.list method.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "ActivatePretargetingConfigRequest": {
      "description": "A request to activate a pretargeting configuration. Sets the configuration's state to ACTIVE.",
      "id": "ActivatePretargetingConfigRequest",
      "type": "object",
      "properties": {}
    },
    "UserList": {
      "description": "Represents an Authorized Buyers user list. Authorized Buyers can create/update/list user lists. Once a user list is created in the system, Authorized Buyers can add users to the user list using the bulk uploader API. Alternatively, users can be added by hosting a tag on the advertiser's page.",
      "id": "UserList",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Name of the user list that must follow the pattern `buyers/{buyer}/userLists/{user_list}`, where `{buyer}` represents the account ID of the buyer who owns the user list. For a bidder accessing user lists on behalf of a child seat buyer, `{buyer}` represents the account ID of the child seat buyer. `{user_list}` is an int64 identifier assigned by Google to uniquely identify a user list.",
          "readOnly": true,
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "OPEN",
            "CLOSED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value that should never be used.",
            "New users can be added to the user list.",
            "New users cannot be added to the user list."
          ],
          "description": "Output only. The status of the user list. A new user list starts out as open."
        },
        "displayName": {
          "description": "Required. Display name of the user list. This must be unique across all user lists for a given account.",
          "type": "string"
        },
        "description": {
          "description": "The description for the user list.",
          "type": "string"
        },
        "urlRestriction": {
          "description": "Required. Deprecated. This will be removed in October 2023. For more information, see the release notes: https://developers.google.com/authorized-buyers/apis/relnotes#real-time-bidding-api The URL restriction for the user list.",
          "$ref": "UrlRestriction"
        },
        "membershipDurationDays": {
          "description": "Required. The number of days a user's cookie stays on the user list. The field must be between 0 and 540 inclusive.",
          "format": "int64",
[...]
