{
  "resources": {
    "customers": {
      "resources": {
        "searchAds360": {
          "methods": {
            "search": {
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response"
              },
              "flatPath": "v0/customers/{customersId}/searchAds360:search",
              "httpMethod": "POST",
              "parameters": {
                "customerId": {
                  "required": true,
                  "description": "Required. The ID of the customer being queried.",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "path": "v0/customers/{+customerId}/searchAds360:search",
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "id": "searchads360.customers.searchAds360.search",
              "request": {
                "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request"
              },
              "description": "Returns all rows that match the search query. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()"
            }
          }
        },
        "customColumns": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "parameters": {
                "customerId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "location": "path",
                  "description": "Required. The ID of the customer to apply the CustomColumn list operation to."
                }
              },
              "parameterOrder": [
                "customerId"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V0Services__ListCustomColumnsResponse"
              },
              "id": "searchads360.customers.customColumns.list",
              "path": "v0/customers/{+customerId}/customColumns",
              "flatPath": "v0/customers/{customersId}/customColumns",
              "description": "Returns all the custom columns associated with the customer in full detail.",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/doubleclicksearch"
              ],
              "response": {
                "$ref": "GoogleAdsSearchads360V0Resources__CustomColumn"
              },
              "description": "Returns the requested custom column in full detail.",
              "flatPath": "v0/customers/{customersId}/customColumns/{customColumnsId}",
              "id": "searchads360.customers.customColumns.get",
              "parameterOrder": [
                "resourceName"
              ],
              "path": "v0/{+resourceName}",
              "parameters": {
                "resourceName": {
                  "description": "Required. The resource name of the custom column to fetch.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/customColumns/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET"
            }
          }
        }
      },
      "methods": {
        "listAccessibleCustomers": {
          "description": "Returns resource names of customers directly accessible by the user authenticating the call. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__ListAccessibleCustomersResponse"
          },
          "flatPath": "v0/customers:listAccessibleCustomers",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "v0/customers:listAccessibleCustomers",
          "id": "searchads360.customers.listAccessibleCustomers"
        }
      }
    },
    "searchAds360Fields": {
      "methods": {
        "get": {
          "response": {
            "$ref": "GoogleAdsSearchads360V0Resources__SearchAds360Field"
          },
          "httpMethod": "GET",
          "description": "Returns just the requested field. List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QuotaError]() [RequestError]()",
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "flatPath": "v0/searchAds360Fields/{searchAds360FieldsId}",
          "parameterOrder": [
            "resourceName"
          ],
          "id": "searchads360.searchAds360Fields.get",
          "parameters": {
            "resourceName": {
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. The resource name of the field to get.",
              "pattern": "^searchAds360Fields/[^/]+$"
            }
          },
          "path": "v0/{+resourceName}"
        },
        "search": {
          "scopes": [
            "https://www.googleapis.com/auth/doubleclicksearch"
          ],
          "parameters": {},
          "path": "v0/searchAds360Fields:search",
          "request": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsRequest"
          },
          "description": "Returns all fields that match the search [query](/search-ads/reporting/concepts/field-service#use_a_query_to_get_field_details). List of thrown errors: [AuthenticationError]() [AuthorizationError]() [HeaderError]() [InternalError]() [QueryError]() [QuotaError]() [RequestError]()",
          "httpMethod": "POST",
          "parameterOrder": [],
          "flatPath": "v0/searchAds360Fields:search",
          "response": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchSearchAds360FieldsResponse"
          },
          "id": "searchads360.searchAds360Fields.search"
        }
      }
    }
  },
  "canonicalName": "SA360",
  "id": "searchads360:v0",
  "version": "v0",
  "discoveryVersion": "v1",
  "description": "The Search Ads 360 API allows developers to automate downloading reports from Search Ads 360.",
  "rootUrl": "https://searchads360.googleapis.com/",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/search-ads/reporting",
  "version_module": true,
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "servicePath": "",
  "schemas": {
    "GoogleAdsSearchads360V0Common__TargetRestriction": {
      "type": "object",
      "properties": {
        "targetingDimension": {
          "description": "The targeting dimension that these settings apply to.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Keyword criteria, for example, 'mars cruise'. KEYWORD may be used as a custom bid dimension. Keywords are always a targeting dimension, so may not be set as a target \"ALL\" dimension with TargetRestriction.",
            "Audience criteria, which include user list, user interest, custom affinity, and custom in market.",
            "Topic criteria for targeting categories of content, for example, 'category::Animals>Pets' Used for Display and Video targeting.",
            "Criteria for targeting gender.",
            "Criteria for targeting age ranges.",
            "Placement criteria, which include websites like 'www.flowers4sale.com', as well as mobile applications, mobile app categories, YouTube videos, and YouTube channels.",
            "Criteria for parental status targeting.",
            "Criteria for income range targeting."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "KEYWORD",
            "AUDIENCE",
            "TOPIC",
            "GENDER",
            "AGE_RANGE",
            "PLACEMENT",
            "PARENTAL_STATUS",
            "INCOME_RANGE"
          ]
        },
        "bidOnly": {
          "description": "Indicates whether to restrict your ads to show only for the criteria you have selected for this targeting_dimension, or to target all values for this targeting_dimension and show ads based on your targeting in other TargetingDimensions. A value of `true` means that these criteria will only apply bid modifiers, and not affect targeting. A value of `false` means that these criteria will restrict targeting as well as applying bid modifiers.",
          "type": "boolean"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__TargetRestriction",
      "description": "The list of per-targeting-dimension targeting settings."
    },
    "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension": {
      "description": "Listing dimensions for the asset group listing group filter.",
      "properties": {
        "productBiddingCategory": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBiddingCategory",
          "description": "Bidding category of a product offer."
        },
        "productCustomAttribute": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCustomAttribute",
          "description": "Custom attribute of a product offer."
        },
        "productCondition": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition",
          "description": "Condition of a product offer."
        },
        "productType": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductType",
          "description": "Type of a product offer."
        },
        "productChannel": {
          "description": "Locality of a product offer.",
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductChannel"
        },
        "productBrand": {
          "description": "Brand of a product offer.",
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductBrand"
        },
        "productItemId": {
          "$ref": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductItemId",
          "description": "Item id of a product offer."
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__TargetOutrankShare": {
      "properties": {
        "cpcBidCeilingMicros": {
          "format": "int64",
          "type": "string",
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy."
        }
      },
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__TargetOutrankShare",
      "description": "An automated bidding strategy that sets bids based on the target fraction of auctions where the advertiser should outrank a specific competitor. This strategy is deprecated."
    },
    "GoogleAdsSearchads360V0Common__TextLabel": {
      "properties": {
        "backgroundColor": {
          "description": "Background color of the label in HEX format. This string must match the regular expression '^\\#([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$'. Note: The background color may not be visible for manager accounts.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A short description of the label. The length must be no more than 200 characters."
        }
      },
      "description": "A type of label displaying text on a colored background.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Common__TextLabel"
    },
    "GoogleAdsSearchads360V0Resources__CampaignLabel": {
      "id": "GoogleAdsSearchads360V0Resources__CampaignLabel",
      "properties": {
        "ownerCustomerId": {
          "readOnly": true,
          "description": "Output only. The ID of the Customer which owns the label.",
          "type": "string",
          "format": "int64"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. Name of the resource. Campaign label resource names have the form: `customers/{owner_customer_id}/campaignLabels/{campaign_id}~{label_id}`"
        },
        "campaign": {
          "description": "Immutable. The campaign to which the label is attached.",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The label assigned to the campaign.",
          "type": "string"
        }
      },
      "description": "Represents a relationship between a campaign and a label.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__UnifiedPageFeedAsset": {
      "id": "GoogleAdsSearchads360V0Common__UnifiedPageFeedAsset",
      "type": "object",
      "properties": {
        "pageUrl": {
          "description": "The webpage that advertisers want to target.",
          "type": "string"
        },
        "labels": {
          "description": "Labels used to group the page urls.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A Unified Page Feed asset."
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360Response": {
      "description": "Response message for SearchAds360Service.Search.",
      "type": "object",
      "properties": {
        "summaryRow": {
          "description": "Summary row that contains summary of metrics in results. Summary of metrics means aggregation of metrics across all results, here aggregation could be sum, average, rate, etc.",
          "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
        },
        "conversionCustomDimensionHeaders": {
          "description": "The headers of the conversion custom dimensions in the results.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__ConversionCustomDimensionHeader"
          },
          "type": "array"
        },
        "conversionCustomMetricHeaders": {
          "description": "The headers of the conversion custom metrics in the results.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__ConversionCustomMetricHeader"
          }
        },
        "totalResultsCount": {
          "description": "Total number of results that match the query ignoring the LIMIT clause.",
          "type": "string",
          "format": "int64"
        },
        "rawEventConversionDimensionHeaders": {
          "description": "The headers of the raw event conversion dimensions in the results.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__RawEventConversionDimensionHeader"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Pagination token used to retrieve the next page of results. Pass the content of this string as the `page_token` attribute of the next request. `next_page_token` is not returned for the last page."
        },
        "rawEventConversionMetricHeaders": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader"
          },
          "description": "The headers of the raw event conversion metrics in the results.",
          "type": "array"
        },
        "customColumnHeaders": {
          "description": "The headers of the custom columns in the results.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__CustomColumnHeader"
          },
          "type": "array"
        },
        "fieldMask": {
          "description": "FieldMask that represents what fields were requested by the user.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "results": {
          "description": "The list of rows that matched the query.",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Services__SearchAds360Row"
          },
          "type": "array"
        }
      },
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360Response"
    },
    "GoogleAdsSearchads360V0Common__FinalAppUrl": {
      "description": "A URL for deep linking into an app for the given operating system.",
      "type": "object",
      "properties": {
        "osType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The Apple IOS operating system.",
            "The Android operating system."
          ],
          "description": "The operating system targeted by this URL. Required.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "IOS",
            "ANDROID"
          ]
        },
        "url": {
          "description": "The app deep link URL. Deep links specify a location in an app that corresponds to the content you'd like to show, and should be of the form {scheme}://{host_path} The scheme identifies which app to open. For your app, you can use a custom scheme that starts with the app's name. The host and path specify the unique location in the app where your content exists. Example: \"exampleapp://productid_1234\". Required.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Common__FinalAppUrl"
    },
    "GoogleAdsSearchads360V0Common__Segments": {
      "id": "GoogleAdsSearchads360V0Common__Segments",
      "description": "Segment only fields.",
      "type": "object",
      "properties": {
        "productSoldCondition": {
          "description": "Condition of the product sold.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "OLD",
            "NEW",
            "REFURBISHED",
            "USED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The product condition is old.",
            "The product condition is new.",
            "The product condition is refurbished.",
            "The product condition is used."
          ]
        },
        "productSoldBiddingCategoryLevel5": {
          "description": "Bidding category (level 5) of the product sold.",
          "type": "string"
        },
        "productBiddingCategoryLevel1": {
          "description": "Bidding category (level 1) of the product.",
          "type": "string"
        },
        "productCustomAttribute1": {
          "description": "Custom attribute 1 of the product.",
          "type": "string"
        },
        "productSoldTypeL2": {
          "description": "Type (level 2) of the product sold.",
          "type": "string"
        },
        "conversionAction": {
          "description": "Resource name of the conversion action.",
          "type": "string"
        },
        "productSoldBiddingCategoryLevel2": {
          "description": "Bidding category (level 2) of the product sold.",
          "type": "string"
        },
        "productSoldTitle": {
          "description": "Title of the product sold.",
          "type": "string"
        },
        "hour": {
          "type": "integer",
          "description": "Hour of day as a number between 0 and 23, inclusive.",
          "format": "int32"
        },
        "productSoldItemId": {
          "description": "Item ID of the product sold.",
          "type": "string"
        },
        "productSoldBrand": {
          "type": "string",
          "description": "Brand of the product sold."
        },
        "geoTargetCity": {
          "type": "string",
          "description": "Resource name of the geo target constant that represents a city."
        },
        "productSoldTypeL1": {
          "description": "Type (level 1) of the product sold.",
          "type": "string"
        },
        "productStoreId": {
          "description": "Store ID of the product.",
          "type": "string"
        },
        "productCustomAttribute4": {
          "type": "string",
          "description": "Custom attribute 4 of the product."
        },
        "productSoldBiddingCategoryLevel3": {
          "type": "string",
          "description": "Bidding category (level 3) of the product sold."
        },
        "dayOfWeek": {
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Monday.",
            "Tuesday.",
            "Wednesday.",
            "Thursday.",
            "Friday.",
            "Saturday.",
            "Sunday."
          ],
          "description": "Day of the week, for example, MONDAY.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "productSoldCustomAttribute1": {
          "type": "string",
          "description": "Custom attribute 1 of the product sold."
        },
        "productTypeL2": {
          "type": "string",
          "description": "Type (level 2) of the product."
        },
        "productSoldTypeL3": {
          "description": "Type (level 3) of the product sold.",
          "type": "string"
        },
        "geoTargetPostalCode": {
          "description": "Resource name of the geo target constant that represents a postal code.",
          "type": "string"
        },
        "geoTargetRegion": {
          "description": "Resource name of the geo target constant that represents a region.",
          "type": "string"
        },
        "year": {
          "format": "int32",
          "description": "Year, formatted as yyyy.",
          "type": "integer"
        },
        "productSoldCustomAttribute0": {
          "description": "Custom attribute 0 of the product sold.",
          "type": "string"
        },
        "productLanguage": {
          "type": "string",
          "description": "Resource name of the language constant for the language of the product."
        },
        "productSoldBiddingCategoryLevel4": {
          "description": "Bidding category (level 4) of the product sold.",
          "type": "string"
        },
        "productCustomAttribute3": {
          "description": "Custom attribute 3 of the product.",
          "type": "string"
        },
        "productBiddingCategoryLevel5": {
          "description": "Bidding category (level 5) of the product.",
          "type": "string"
        },
        "productSoldCustomAttribute3": {
          "description": "Custom attribute 3 of the product sold.",
          "type": "string"
        },
        "productBrand": {
          "type": "string",
          "description": "Brand of the product."
        },
        "productCustomAttribute2": {
          "type": "string",
          "description": "Custom attribute 2 of the product."
        },
        "productSoldCustomAttribute2": {
          "description": "Custom attribute 2 of the product sold.",
          "type": "string"
        },
        "assetInteractionTarget": {
          "$ref": "GoogleAdsSearchads360V0Common__AssetInteractionTarget",
          "description": "Only used with CustomerAsset, CampaignAsset and AdGroupAsset metrics. Indicates whether the interaction metrics occurred on the asset itself or a different asset or ad unit. Interactions (for example, clicks) are counted across all the parts of the served ad (for example, Ad itself and other components like Sitelinks) when they are served together. When interaction_on_this_asset is true, it means the interactions are on this specific asset and when interaction_on_this_asset is false, it means the interactions is not on this specific asset but on other parts of the served ad this asset is served with."
        },
        "productTypeL1": {
          "type": "string",
          "description": "Type (level 1) of the product."
        },
        "rawEventConversionDimensions": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "description": "The raw event conversion dimensions.",
          "type": "array"
        },
        "month": {
          "type": "string",
          "description": "Month as represented by the date of the first day of a month. Formatted as yyyy-MM-dd."
        },
        "productTypeL4": {
          "description": "Type (level 4) of the product.",
          "type": "string"
        },
        "week": {
          "description": "Week as defined as Monday through Sunday, and represented by the date of Monday. Formatted as yyyy-MM-dd.",
          "type": "string"
        },
        "geoTargetMetro": {
          "description": "Resource name of the geo target constant that represents a metro.",
          "type": "string"
        },
        "productSoldBiddingCategoryLevel1": {
          "description": "Bidding category (level 1) of the product sold.",
          "type": "string"
        },
        "productBiddingCategoryLevel4": {
          "type": "string",
          "description": "Bidding category (level 4) of the product."
        },
        "productChannel": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "LOCAL"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold online.",
            "The item is sold in local stores."
          ],
          "description": "Channel of the product.",
          "type": "string"
        },
        "productTitle": {
          "description": "Title of the product.",
          "type": "string"
        },
        "keyword": {
          "$ref": "GoogleAdsSearchads360V0Common__Keyword",
          "description": "Keyword criterion."
        },
        "device": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MOBILE",
            "TABLET",
            "DESKTOP",
            "CONNECTED_TV",
            "OTHER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Mobile devices with full browsers.",
            "Tablets with full browsers.",
            "Computers.",
            "Smart TVs and game consoles.",
            "Other device types."
          ],
          "description": "Device to which metrics apply.",
          "type": "string"
        },
        "geoTargetCountry": {
          "type": "string",
          "description": "Resource name of the geo target constant that represents a country."
        },
        "productSoldCustomAttribute4": {
          "type": "string",
          "description": "Custom attribute 4 of the product sold."
        },
        "conversionActionName": {
          "type": "string",
          "description": "Conversion action name."
        },
        "productCountry": {
          "description": "Resource name of the geo target constant for the country of sale of the product.",
          "type": "string"
        },
        "productTypeL3": {
          "description": "Type (level 3) of the product.",
          "type": "string"
        },
        "productSoldTypeL4": {
          "description": "Type (level 4) of the product sold.",
          "type": "string"
        },
        "adNetworkType": {
          "enumDescriptions": [
            "Not specified.",
            "The value is unknown in this version.",
            "Google search.",
            "Search partners.",
            "Display Network.",
            "YouTube Search.",
            "YouTube Videos",
            "Cross-network."
          ],
          "description": "Ad network type.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SEARCH",
            "SEARCH_PARTNERS",
            "CONTENT",
            "YOUTUBE_SEARCH",
            "YOUTUBE_WATCH",
            "MIXED"
          ]
        },
        "productItemId": {
          "description": "Item ID of the product.",
          "type": "string"
        },
        "productSoldTypeL5": {
          "type": "string",
          "description": "Type (level 5) of the product sold."
        },
        "productChannelExclusivity": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SINGLE_CHANNEL",
            "MULTI_CHANNEL"
          ],
          "description": "Channel exclusivity of the product.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold through one channel only, either local stores or online as indicated by its ProductChannel.",
            "The item is matched to its online or local stores counterpart, indicating it is available for purchase in both ShoppingProductChannels."
          ]
        },
        "quarter": {
          "description": "Quarter as represented by the date of the first day of a quarter. Uses the calendar year for quarters, for example, the second quarter of 2018 starts on 2018-04-01. Formatted as yyyy-MM-dd.",
          "type": "string"
        },
        "productCustomAttribute0": {
          "type": "string",
          "description": "Custom attribute 0 of the product."
        },
        "productCondition": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "OLD",
            "NEW",
            "REFURBISHED",
            "USED"
          ],
          "description": "Condition of the product.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The product condition is old.",
            "The product condition is new.",
            "The product condition is refurbished.",
            "The product condition is used."
          ],
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "Date to which metrics apply. yyyy-MM-dd format, for example, 2018-04-17."
        },
        "conversionActionCategory": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Default category.",
            "User visiting a page.",
            "Purchase, sales, or \"order placed\" event.",
            "Signup user action.",
            "Lead-generating action.",
            "Software download action (as for an app).",
            "The addition of items to a shopping cart or bag on an advertiser site.",
            "When someone enters the checkout flow on an advertiser site.",
            "The start of a paid subscription for a product or service.",
            "A call to indicate interest in an advertiser's offering.",
            "A lead conversion imported from an external source into Google Ads.",
            "A submission of a form on an advertiser site indicating business interest.",
            "A booking of an appointment with an advertiser's business.",
            "A quote or price estimate request.",
            "A search for an advertiser's business location with intention to visit.",
            "A click to an advertiser's partner's site.",
            "A call, SMS, email, chat or other type of contact to an advertiser.",
            "A website engagement event such as long site time or a Google Analytics (GA) Smart Goal. Intended to be used for GA, Firebase, GA Gold goal imports.",
            "A visit to a physical store location.",
            "A sale occurring in a physical store.",
            "A lead conversion imported from an external source into Google Ads, that has been further qualified by the advertiser (marketing/sales team). In the lead-to-sale journey, advertisers get leads, then act on them by reaching out to the consumer. If the consumer is interested and may end up buying their product, the advertiser marks such leads as \"qualified leads\".",
            "A lead conversion imported from an external source into Google Ads, that has further completed a chosen stage as defined by the lead gen advertiser."
          ],
          "description": "Conversion action category.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DEFAULT",
            "PAGE_VIEW",
            "PURCHASE",
            "SIGNUP",
            "LEAD",
            "DOWNLOAD",
            "ADD_TO_CART",
            "BEGIN_CHECKOUT",
            "SUBSCRIBE_PAID",
            "PHONE_CALL_LEAD",
            "IMPORTED_LEAD",
            "SUBMIT_LEAD_FORM",
            "BOOK_APPOINTMENT",
            "REQUEST_QUOTE",
            "GET_DIRECTIONS",
            "OUTBOUND_CLICK",
            "CONTACT",
            "ENGAGEMENT",
            "STORE_VISIT",
            "STORE_SALE",
            "QUALIFIED_LEAD",
            "CONVERTED_LEAD"
          ],
          "type": "string"
        },
        "productTypeL5": {
          "description": "Type (level 5) of the product.",
          "type": "string"
        },
        "productBiddingCategoryLevel2": {
          "type": "string",
          "description": "Bidding category (level 2) of the product."
        },
        "productBiddingCategoryLevel3": {
          "description": "Bidding category (level 3) of the product.",
          "type": "string"
        },
        "conversionCustomDimensions": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__Value"
          },
          "description": "The conversion custom dimensions.",
          "type": "array"
        }
      }
    },
    "GoogleAdsSearchads360V0Services__SearchSearchAds360Request": {
      "type": "object",
      "properties": {
        "pageToken": {
          "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. Use the value obtained from `next_page_token` in the previous response in order to request the next page of results.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Number of elements to retrieve in a single page. When too large a page is requested, the server may decide to further limit the number of returned resources."
        },
        "validateOnly": {
          "description": "If true, the request is validated but not executed.",
          "type": "boolean"
        },
        "summaryRowSetting": {
          "description": "Determines whether a summary row will be returned. By default, summary row is not returned. If requested, the summary row will be sent in a response by itself after all other query results are returned.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NO_SUMMARY_ROW",
            "SUMMARY_ROW_WITH_RESULTS",
            "SUMMARY_ROW_ONLY"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Represent unknown values of return summary row.",
            "Do not return summary row.",
            "Return summary row along with results. The summary row will be returned in the last batch alone (last batch will contain no results).",
            "Return summary row only and return no results."
          ],
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Required. The query string."
        },
        "returnTotalResultsCount": {
          "type": "boolean",
          "description": "If true, the total number of results that match the query ignoring the LIMIT clause will be included in the response. Default is false."
        }
      },
      "id": "GoogleAdsSearchads360V0Services__SearchSearchAds360Request",
      "description": "Request message for SearchAds360Service.Search."
    },
    "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimensionPath": {
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimension"
          },
          "readOnly": true,
          "description": "Output only. The complete path of dimensions through the listing group filter hierarchy (excluding the root node) to this listing group filter.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The path defining of dimensions defining a listing group filter.",
      "id": "GoogleAdsSearchads360V0Resources__ListingGroupFilterDimensionPath"
    },
    "GoogleAdsSearchads360V0Common__EnhancedCpc": {
      "properties": {},
      "description": "An automated bidding strategy that raises bids for clicks that seem more likely to lead to a conversion and lowers them for clicks where they seem less likely. This bidding strategy is deprecated and cannot be created anymore. Use ManualCpc with enhanced_cpc_enabled set to true for equivalent functionality.",
      "id": "GoogleAdsSearchads360V0Common__EnhancedCpc",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Services__CustomColumnHeader": {
      "description": "Message for custom column header.",
      "type": "object",
      "properties": {
        "referencesMetrics": {
          "type": "boolean",
          "description": "True when the custom column references metrics."
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The custom column ID."
        },
        "name": {
          "type": "string",
          "description": "The user defined name of the custom column."
        }
      },
      "id": "GoogleAdsSearchads360V0Services__CustomColumnHeader"
    },
    "GoogleAdsSearchads360V0Resources__AssetGroupAsset": {
      "description": "AssetGroupAsset is the link between an asset and an asset group. Adding an AssetGroupAsset links an asset with an asset group.",
      "properties": {
        "assetGroup": {
          "description": "Immutable. The asset group which this asset group asset is linking.",
          "type": "string"
        },
        "asset": {
          "type": "string",
          "description": "Immutable. The asset which this asset group asset is linking."
        },
        "status": {
          "type": "string",
          "description": "The status of the link between an asset and asset group.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED",
            "PAUSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Asset link is enabled.",
            "Asset link has been removed.",
            "Asset link is paused."
          ]
        },
        "fieldType": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE",
            "DESCRIPTION",
            "MANDATORY_AD_TEXT",
            "MARKETING_IMAGE",
            "MEDIA_BUNDLE",
            "YOUTUBE_VIDEO",
            "BOOK_ON_GOOGLE",
            "LEAD_FORM",
            "PROMOTION",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "SITELINK",
            "MOBILE_APP",
            "HOTEL_CALLOUT",
            "CALL",
            "PRICE",
            "LONG_HEADLINE",
            "BUSINESS_NAME",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "VIDEO",
            "CALL_TO_ACTION_SELECTION",
            "AD_IMAGE",
            "BUSINESS_LOGO",
            "HOTEL_PROPERTY",
            "DISCOVERY_CAROUSEL_CARD",
            "LONG_DESCRIPTION",
            "CALL_TO_ACTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset is linked for use as a headline.",
            "The asset is linked for use as a description.",
            "The asset is linked for use as mandatory ad text.",
            "The asset is linked for use as a marketing image.",
            "The asset is linked for use as a media bundle.",
            "The asset is linked for use as a YouTube video.",
            "The asset is linked to indicate that a hotels campaign is \"Book on Google\" enabled.",
            "The asset is linked for use as a Lead Form extension.",
            "The asset is linked for use as a Promotion extension.",
            "The asset is linked for use as a Callout extension.",
            "The asset is linked for use as a Structured Snippet extension.",
            "The asset is linked for use as a Sitelink.",
            "The asset is linked for use as a Mobile App extension.",
            "The asset is linked for use as a Hotel Callout extension.",
            "The asset is linked for use as a Call extension.",
            "The asset is linked for use as a Price extension.",
            "The asset is linked for use as a long headline.",
            "The asset is linked for use as a business name.",
            "The asset is linked for use as a square marketing image.",
            "The asset is linked for use as a portrait marketing image.",
            "The asset is linked for use as a logo.",
            "The asset is linked for use as a landscape logo.",
            "The asset is linked for use as a non YouTube logo.",
            "The asset is linked for use to select a call-to-action.",
            "The asset is linked for use to select an ad image.",
            "The asset is linked for use as a business logo.",
            "The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.",
            "The asset is linked for use as a discovery carousel card.",
            "The asset is linked for use as a long description.",
            "The asset is linked for use as a call-to-action."
          ],
          "description": "The description of the placement of the asset within the asset group. For example: HEADLINE, YOUTUBE_VIDEO etc"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the asset group asset. Asset group asset resource name have the form: `customers/{customer_id}/assetGroupAssets/{asset_group_id}~{asset_id}~{field_type}`"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__AssetGroupAsset",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__AdGroupEffectiveLabel": {
      "properties": {
        "adGroup": {
          "description": "Immutable. The ad group to which the effective label is attached.",
          "type": "string"
        },
        "label": {
          "description": "Immutable. The effective label assigned to the ad group.",
          "type": "string"
        },
        "ownerCustomerId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the Customer which owns the effective label.",
          "readOnly": true
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the ad group effective label. Ad group effective label resource names have the form: `customers/{owner_customer_id}/adGroupEffectiveLabels/{ad_group_id}~{label_id}`"
        }
      },
      "description": "A relationship between an ad group and an effective label. An effective label is a label inherited or directly assigned to this ad group.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__AdGroupEffectiveLabel"
    },
    "GoogleAdsSearchads360V0Common__TargetingSetting": {
      "description": "Settings for the targeting-related features, at the campaign and ad group levels. For more details about the targeting setting, visit https://support.google.com/google-ads/answer/7365594",
      "properties": {
        "targetRestrictions": {
          "description": "The per-targeting-dimension setting to restrict the reach of your campaign or ad group.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__TargetRestriction"
          }
        }
      },
      "id": "GoogleAdsSearchads360V0Common__TargetingSetting",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__CustomerClient": {
      "description": "A link between the given customer and a client customer. CustomerClients only exist for manager customers. All direct and indirect client customers are included, as well as the manager itself.",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Output only. The status of the client customer. Read only.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "CANCELED",
            "SUSPENDED",
            "CLOSED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Indicates an active account able to serve ads.",
            "Indicates a canceled account unable to serve ads. Can be reactivated by an admin user.",
            "Indicates a suspended account unable to serve ads. May only be activated by Google support.",
            "Indicates a closed account unable to serve ads. Test account will also have CLOSED status. Status is permanent and may not be reopened."
          ]
        },
        "manager": {
          "type": "boolean",
          "description": "Output only. Identifies if the client is a manager. Read only.",
          "readOnly": true
        },
        "clientCustomer": {
          "readOnly": true,
          "description": "Output only. The resource name of the client-customer which is linked to the given customer. Read only.",
          "type": "string"
        },
        "descriptiveName": {
          "readOnly": true,
          "description": "Output only. Descriptive name for the client. Read only.",
          "type": "string"
        },
        "appliedLabels": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource names of the labels owned by the requesting customer that are applied to the client customer. Label resource names have the form: `customers/{customer_id}/labels/{label_id}`"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the client customer. Read only.",
          "readOnly": true
        },
        "hidden": {
          "description": "Output only. Specifies whether this is a hidden account. Read only.",
          "readOnly": true,
          "type": "boolean"
        },
        "level": {
          "description": "Output only. Distance between given customer and client. For self link, the level value will be 0. Read only.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "testAccount": {
          "readOnly": true,
          "description": "Output only. Identifies if the client is a test account. Read only.",
          "type": "boolean"
        },
        "resourceName": {
          "description": "Output only. The resource name of the customer client. CustomerClient resource names have the form: `customers/{customer_id}/customerClients/{client_customer_id}`",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "readOnly": true,
          "description": "Output only. Common Locale Data Repository (CLDR) string representation of the time zone of the client, for example, America/Los_Angeles. Read only.",
          "type": "string"
        },
        "currencyCode": {
          "readOnly": true,
          "description": "Output only. Currency code (for example, 'USD', 'EUR') for the client. Read only.",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__CustomerClient"
    },
    "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting": {
      "id": "GoogleAdsSearchads360V0Resources_Campaign_DynamicSearchAdsSetting",
      "description": "The setting for controlling Dynamic Search Ads (DSA).",
      "properties": {
        "languageCode": {
          "description": "Required. The language code specifying the language of the domain, for example, \"en\".",
          "type": "string"
        },
        "useSuppliedUrlsOnly": {
          "description": "Whether the campaign uses advertiser supplied URLs exclusively.",
          "type": "boolean"
        },
        "domainName": {
          "type": "string",
          "description": "Required. The Internet domain name that this setting represents, for example, \"google.com\" or \"www.google.com\"."
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources__LocationView": {
      "description": "A location view summarizes the performance of campaigns by a Location criterion.",
      "properties": {
        "resourceName": {
          "description": "Output only. The resource name of the location view. Location view resource names have the form: `customers/{customer_id}/locationViews/{campaign_id}~{criterion_id}`",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__LocationView"
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductType": {
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductType",
      "description": "Type of a product offer.",
      "type": "object",
      "properties": {
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Level 1.",
            "Level 2.",
            "Level 3.",
            "Level 4.",
            "Level 5."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LEVEL1",
            "LEVEL2",
            "LEVEL3",
            "LEVEL4",
            "LEVEL5"
          ],
          "description": "Level of the type."
        },
        "value": {
          "description": "Value of the type.",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition": {
      "id": "GoogleAdsSearchads360V0Resources_ListingGroupFilterDimension_ProductCondition",
      "description": "Condition of a product offer.",
      "properties": {
        "condition": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NEW",
            "REFURBISHED",
            "USED"
          ],
          "type": "string",
          "description": "Value of the condition.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The product condition is new.",
            "The product condition is refurbished.",
            "The product condition is used."
          ]
        }
      },
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__UnifiedSitelinkAsset": {
      "type": "object",
      "description": "A unified sitelink asset.",
      "id": "GoogleAdsSearchads360V0Common__UnifiedSitelinkAsset",
      "properties": {
        "endDate": {
          "description": "Last date of when this asset is effective and still serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "linkText": {
          "type": "string",
          "description": "URL display text for the sitelink. The length of this string should be between 1 and 25, inclusive."
        },
        "adScheduleTargets": {
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AdScheduleInfo"
          },
          "type": "array",
          "description": "List of non-overlapping schedules specifying all time intervals for which the asset may serve. There can be a maximum of 6 schedules per day, 42 in total."
        },
        "description2": {
          "type": "string",
          "description": "Second line of the description for the sitelink. If set, the length should be between 1 and 35, inclusive, and description1 must also be set."
        },
        "mobilePreferred": {
          "type": "boolean",
          "description": "Whether the preference is for the sitelink asset to be displayed on mobile devices. Applies to Microsoft Ads."
        },
        "trackingId": {
          "type": "string",
          "description": "ID used for tracking clicks for the sitelink asset. This is a Yahoo! Japan only field.",
          "format": "int64"
        },
        "startDate": {
          "description": "Start date of when this asset is effective and can begin serving, in yyyy-MM-dd format.",
          "type": "string"
        },
        "description1": {
          "type": "string",
          "description": "First line of the description for the sitelink. If set, the length should be between 1 and 35, inclusive, and description2 must also be set."
        },
        "useSearcherTimeZone": {
          "description": "Whether to show the sitelink asset in search user's time zone. Applies to Microsoft Ads.",
          "type": "boolean"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__AdGroupCriterion": {
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__AdGroupCriterion",
      "properties": {
        "lastModifiedTime": {
          "description": "Output only. The datetime when this ad group criterion was last modified. The datetime is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss.ssssss\" format.",
          "type": "string",
          "readOnly": true
        },
        "engineStatus": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Deprecated. Do not use.",
            "Baidu: Bid or quality too low to be displayed.",
            "Baidu: Bid or quality too low for mobile, but eligible to display for desktop.",
            "Baidu: Bid or quality too low for desktop, but eligible to display for mobile.",
            "Baidu: Bid or quality too low to be displayed.",
            "Baidu: Paused by Baidu due to low search volume.",
            "Baidu: Mobile URL in process to be reviewed.",
            "Baidu: The landing page for one device is invalid, while the landing page for the other device is valid.",
            "Baidu: Keyword has been created and paused by Baidu account management, and is now ready for you to activate it.",
            "Baidu: In process to be reviewed by Baidu. Gemini: Criterion under review.",
            "Baidu: Criterion to be reviewed.",
            "Deprecated. Do not use. Previously used by Gemini",
            "Y!J : Criterion pending review",
            "Criterion has been paused.",
            "Criterion has been removed.",
            "Criterion has been approved.",
            "Criterion has been disapproved.",
            "Criterion is active and serving.",
            "Criterion has been paused since the account is paused."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "AD_GROUP_CRITERION_ELIGIBLE",
            "AD_GROUP_CRITERION_INAPPROPRIATE_FOR_CAMPAIGN",
            "AD_GROUP_CRITERION_INVALID_MOBILE_SEARCH",
            "AD_GROUP_CRITERION_INVALID_PC_SEARCH",
            "AD_GROUP_CRITERION_INVALID_SEARCH",
            "AD_GROUP_CRITERION_LOW_SEARCH_VOLUME",
            "AD_GROUP_CRITERION_MOBILE_URL_UNDER_REVIEW",
            "AD_GROUP_CRITERION_PARTIALLY_INVALID",
            "AD_GROUP_CRITERION_TO_BE_ACTIVATED",
            "AD_GROUP_CRITERION_UNDER_REVIEW",
            "AD_GROUP_CRITERION_NOT_REVIEWED",
            "AD_GROUP_CRITERION_ON_HOLD",
            "AD_GROUP_CRITERION_PENDING_REVIEW",
            "AD_GROUP_CRITERION_PAUSED",
            "AD_GROUP_CRITERION_REMOVED",
            "AD_GROUP_CRITERION_APPROVED",
            "AD_GROUP_CRITERION_DISAPPROVED",
            "AD_GROUP_CRITERION_SERVING",
            "AD_GROUP_CRITERION_ACCOUNT_PAUSED"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "readOnly": true,
          "description": "Output only. The Engine Status for ad group criterion."
        },
        "urlCustomParameters": {
          "description": "The list of mappings used to substitute custom parameter tags in a `tracking_url_template`, `final_urls`, or `mobile_final_urls`.",
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__CustomParameter"
          }
        },
        "location": {
          "description": "Immutable. Location.",
          "$ref": "GoogleAdsSearchads360V0Common__LocationInfo"
        },
        "finalUrlSuffix": {
          "type": "string",
          "description": "URL template for appending params to final URL."
        },
        "cpcBidMicros": {
          "format": "int64",
          "description": "The CPC (cost-per-click) bid.",
          "type": "string"
        },
        "creationTime": {
          "readOnly": true,
          "description": "Output only. The timestamp when this ad group criterion was created. The timestamp is in the customer's time zone and in \"yyyy-MM-dd HH:mm:ss\" format.",
          "type": "string"
        },
        "adGroup": {
          "type": "string",
          "description": "Immutable. The ad group to which the criterion belongs."
        },
        "finalMobileUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of possible final mobile URLs after all cross-domain redirects."
        },
        "ageRange": {
          "description": "Immutable. Age range.",
          "$ref": "GoogleAdsSearchads360V0Common__AgeRangeInfo"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the ad group criterion. Ad group criterion resource names have the form: `customers/{customer_id}/adGroupCriteria/{ad_group_id}~{criterion_id}`"
        },
        "userList": {
          "description": "Immutable. User List.",
          "$ref": "GoogleAdsSearchads360V0Common__UserListInfo"
        },
        "labels": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The resource names of labels attached to this ad group criterion."
        },
        "trackingUrlTemplate": {
          "description": "The URL template for constructing a tracking URL.",
          "type": "string"
        },
        "engineId": {
          "description": "Output only. ID of the ad group criterion in the external engine account. This field is for non-Google Ads account only, for example, Yahoo Japan, Microsoft, Baidu etc. For Google Ads entity, use \"ad_group_criterion.criterion_id\" instead.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "KEYWORD",
            "PLACEMENT",
            "MOBILE_APP_CATEGORY",
            "MOBILE_APPLICATION",
            "DEVICE",
            "LOCATION",
            "LISTING_GROUP",
            "AD_SCHEDULE",
            "AGE_RANGE",
            "GENDER",
            "INCOME_RANGE",
            "PARENTAL_STATUS",
            "YOUTUBE_VIDEO",
            "YOUTUBE_CHANNEL",
            "USER_LIST",
            "PROXIMITY",
            "TOPIC",
            "LISTING_SCOPE",
            "LANGUAGE",
            "IP_BLOCK",
            "CONTENT_LABEL",
            "CARRIER",
            "USER_INTEREST",
            "WEBPAGE",
            "OPERATING_SYSTEM_VERSION",
            "APP_PAYMENT_MODEL",
            "MOBILE_DEVICE",
            "CUSTOM_AFFINITY",
            "CUSTOM_INTENT",
            "LOCATION_GROUP",
            "CUSTOM_AUDIENCE",
            "COMBINED_AUDIENCE",
            "KEYWORD_THEME",
            "AUDIENCE",
            "LOCAL_SERVICE_ID",
            "BRAND",
            "BRAND_LIST",
            "LIFE_EVENT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Keyword, for example, 'mars cruise'.",
            "Placement, also known as Website, for example, 'www.flowers4sale.com'",
            "Mobile application categories to target.",
            "Mobile applications to target.",
            "Devices to target.",
            "Locations to target.",
            "Listing groups to target.",
            "Ad Schedule.",
            "Age range.",
            "Gender.",
            "Income Range.",
            "Parental status.",
            "YouTube Video.",
            "YouTube Channel.",
            "User list.",
            "Proximity.",
            "A topic target on the display network (for example, \"Pets & Animals\").",
            "Listing scope to target.",
            "Language.",
            "IpBlock.",
            "Content Label for category exclusion.",
            "Carrier.",
            "A category the user is interested in.",
            "Webpage criterion for dynamic search ads.",
            "Operating system version.",
            "App payment model.",
            "Mobile device.",
            "Custom affinity.",
            "Custom intent.",
            "Location group.",
            "Custom audience",
            "Combined audience",
            "Smart Campaign keyword theme",
            "Audience",
            "Local Services Ads Service ID.",
            "Brand",
            "Brand List",
            "Life Event"
          ],
          "description": "Output only. The type of the criterion.",
          "type": "string"
        },
        "keyword": {
          "$ref": "GoogleAdsSearchads360V0Common__KeywordInfo",
          "description": "Immutable. Keyword."
        },
        "qualityInfo": {
          "description": "Output only. Information regarding the quality of the criterion.",
          "$ref": "GoogleAdsSearchads360V0Resources_AdGroupCriterion_QualityInfo",
          "readOnly": true
        },
        "webpage": {
          "description": "Immutable. Webpage",
          "$ref": "GoogleAdsSearchads360V0Common__WebpageInfo"
        },
        "negative": {
          "description": "Immutable. Whether to target (`false`) or exclude (`true`) the criterion. This field is immutable. To switch a criterion from positive to negative, remove then re-add it.",
          "type": "boolean"
        },
        "status": {
          "enumDescriptions": [
            "No value has been specified.",
            "The received value is not known in this version. This is a response-only value.",
            "The ad group criterion is enabled.",
            "The ad group criterion is paused.",
            "The ad group criterion is removed."
          ],
          "description": "The status of the criterion. This is the status of the ad group criterion entity, set by the client. Note: UI reports may incorporate additional information that affects whether a criterion is eligible to run. In some cases a criterion that's REMOVED in the API can still show as enabled in the UI. For example, campaigns by default show to users of all age ranges unless excluded. The UI will show each age range as \"enabled\", since they're eligible to see the ads; but AdGroupCriterion.status will show \"removed\", since no positive criterion was added.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "PAUSED",
            "REMOVED"
          ]
        },
        "effectiveLabels": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of effective labels attached to this ad group criterion. An effective label is a label inherited or directly assigned to this ad group criterion.",
          "readOnly": true,
          "type": "array"
        },
        "criterionId": {
          "description": "Output only. The ID of the criterion.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "finalUrls": {
          "items": {
            "type": "string"
          },
          "description": "The list of possible final URLs after all cross-domain redirects for the ad.",
          "type": "array"
        },
        "positionEstimates": {
          "$ref": "GoogleAdsSearchads360V0Resources_AdGroupCriterion_PositionEstimates",
          "readOnly": true,
          "description": "Output only. Estimates for criterion bids at various positions."
        },
        "bidModifier": {
          "type": "number",
          "format": "double",
          "description": "The modifier for the bid when the criterion matches. The modifier must be in the range: 0.1 - 10.0. Most targetable criteria types support modifiers."
        },
        "effectiveCpcBidMicros": {
          "description": "Output only. The effective CPC (cost-per-click) bid.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "gender": {
          "description": "Immutable. Gender.",
          "$ref": "GoogleAdsSearchads360V0Common__GenderInfo"
        },
        "listingGroup": {
          "$ref": "GoogleAdsSearchads360V0Common__ListingGroupInfo",
          "description": "Immutable. Listing group."
        }
      },
      "description": "An ad group criterion. The ad_group_criterion report only returns criteria that were explicitly added to the ad group."
    },
    "GoogleAdsSearchads360V0Common__TargetSpend": {
      "id": "GoogleAdsSearchads360V0Common__TargetSpend",
      "description": "An automated bid strategy that sets your bids to help get as many clicks as possible within your budget.",
      "type": "object",
      "properties": {
        "targetSpendMicros": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated: The spend target under which to maximize clicks. A TargetSpend bidder will attempt to spend the smaller of this value or the natural throttling spend amount. If not specified, the budget is used as the spend target. This field is deprecated and should no longer be used. See https://ads-developers.googleblog.com/2020/05/reminder-about-sunset-creation-of.html for details.",
          "format": "int64"
        },
        "cpcBidCeilingMicros": {
          "description": "Maximum bid limit that can be set by the bid strategy. The limit applies to all keywords managed by the strategy.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting": {
      "type": "object",
      "properties": {
        "optimizationGoalTypes": {
          "items": {
            "type": "string",
            "enum": [
              "UNSPECIFIED",
              "UNKNOWN",
              "CALL_CLICKS",
              "DRIVING_DIRECTIONS",
              "APP_PRE_REGISTRATION"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Used as a return value only. Represents value unknown in this version.",
              "Optimize for call clicks. Call click conversions are times people selected 'Call' to contact a store after viewing an ad.",
              "Optimize for driving directions. Driving directions conversions are times people selected 'Get directions' to navigate to a store after viewing an ad.",
              "Optimize for pre-registration. Pre-registration conversions are the number of pre-registration signups to receive a notification when the app is released."
            ]
          },
          "description": "The list of optimization goal types.",
          "type": "array"
        }
      },
      "description": "Optimization goal setting for this campaign, which includes a set of optimization goal types.",
      "id": "GoogleAdsSearchads360V0Resources_Campaign_OptimizationGoalSetting"
    },
    "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting": {
      "id": "GoogleAdsSearchads360V0Common__RealTimeBiddingSetting",
      "type": "object",
      "properties": {
        "optIn": {
          "description": "Whether the campaign is opted in to real-time bidding.",
          "type": "boolean"
        }
      },
      "description": "Settings for Real-Time Bidding, a feature only available for campaigns targeting the Ad Exchange network."
    },
    "GoogleAdsSearchads360V0Resources__ProductBiddingCategoryConstant": {
      "id": "GoogleAdsSearchads360V0Resources__ProductBiddingCategoryConstant",
      "properties": {
        "countryCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Two-letter upper-case country code of the product bidding category."
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Status of the product bidding category.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ACTIVE",
            "OBSOLETE"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The category is active and can be used for bidding.",
            "The category is obsolete. Used only for reporting purposes."
          ]
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the product bidding category. Product bidding category resource names have the form: `productBiddingCategoryConstants/{country_code}~{level}~{id}`",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Output only. ID of the product bidding category. This ID is equivalent to the google_product_category ID as described in this article: https://support.google.com/merchants/answer/6324436.",
          "readOnly": true,
          "format": "int64"
        },
        "languageCode": {
          "description": "Output only. Language code of the product bidding category.",
          "type": "string",
          "readOnly": true
        },
        "level": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Level 1.",
            "Level 2.",
            "Level 3.",
            "Level 4.",
            "Level 5."
          ],
          "description": "Output only. Level of the product bidding category.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "LEVEL1",
            "LEVEL2",
            "LEVEL3",
            "LEVEL4",
            "LEVEL5"
          ],
          "readOnly": true
        },
        "localizedName": {
          "type": "string",
          "description": "Output only. Display value of the product bidding category localized according to language_code.",
          "readOnly": true
        },
        "productBiddingCategoryConstantParent": {
          "description": "Output only. Resource name of the parent product bidding category.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Product Bidding Category."
    },
    "GoogleAdsSearchads360V0Resources__AgeRangeView": {
      "description": "An age range view.",
      "id": "GoogleAdsSearchads360V0Resources__AgeRangeView",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Output only. The resource name of the age range view. Age range view resource names have the form: `customers/{customer_id}/ageRangeViews/{ad_group_id}~{criterion_id}`",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__AssetGroupAssetCombinationData": {
      "description": "Asset group asset combination data",
      "id": "GoogleAdsSearchads360V0Resources__AssetGroupAssetCombinationData",
      "type": "object",
      "properties": {
        "assetCombinationServedAssets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAdsSearchads360V0Common__AssetUsage"
          },
          "description": "Output only. Served assets.",
          "readOnly": true
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__CustomerAsset": {
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Asset link is enabled.",
            "Asset link has been removed.",
            "Asset link is paused."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED",
            "PAUSED"
          ],
          "description": "Status of the customer asset."
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the customer asset. CustomerAsset resource names have the form: `customers/{customer_id}/customerAssets/{asset_id}~{field_type}`"
        },
        "asset": {
          "type": "string",
          "description": "Required. Immutable. The asset which is linked to the customer."
        }
      },
      "description": "A link between a customer and an asset.",
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources__CustomerAsset"
    },
    "GoogleAdsSearchads360V0Resources__DynamicSearchAdsSearchTermView": {
      "type": "object",
      "description": "A dynamic search ads search term view.",
      "id": "GoogleAdsSearchads360V0Resources__DynamicSearchAdsSearchTermView",
      "properties": {
        "landingPage": {
          "readOnly": true,
          "description": "Output only. The dynamically selected landing page URL of the impression. This field is read-only.",
          "type": "string"
        },
        "resourceName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the dynamic search ads search term view. Dynamic search ads search term view resource names have the form: `customers/{customer_id}/dynamicSearchAdsSearchTermViews/{ad_group_id}~{search_term_fingerprint}~{headline_fingerprint}~{landing_page_fingerprint}~{page_url_fingerprint}`"
        }
      }
    },
    "GoogleAdsSearchads360V0Resources_Campaign_TrackingSetting": {
      "type": "object",
      "id": "GoogleAdsSearchads360V0Resources_Campaign_TrackingSetting",
      "properties": {
        "trackingUrl": {
          "description": "Output only. The url used for dynamic tracking.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Campaign-level settings for tracking information."
    },
    "GoogleAdsSearchads360V0Resources__KeywordView": {
      "id": "GoogleAdsSearchads360V0Resources__KeywordView",
      "properties": {
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the keyword view. Keyword view resource names have the form: `customers/{customer_id}/keywordViews/{ad_group_id}~{criterion_id}`",
          "type": "string"
        }
      },
      "description": "A keyword view.",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Resources_ConversionCustomVariable_FloodlightConversionCustomVariableInfo": {
      "description": "Information for Search Ads 360 Floodlight Conversion Custom Variables.",
      "properties": {
        "floodlightVariableType": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "DIMENSION",
            "METRIC",
            "UNSET"
          ],
          "readOnly": true,
          "description": "Output only. Floodlight variable type defined in Search Ads 360.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Dimension floodlight variable type.",
            "Metric floodlight variable type.",
            "Floodlight variable type is unset."
          ]
        },
        "floodlightVariableDataType": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "NUMBER",
            "STRING"
          ],
          "type": "string",
          "description": "Output only. Floodlight variable data type defined in Search Ads 360.",
          "readOnly": true,
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Represents a floodlight variable of \"Number\" type. This variable may be assigned to floodlight variables of DIMENSION or METRIC types.",
            "Represents a floodlight variable of \"String\" type. This variable may be assigned to floodlight variables of DIMENSION type."
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Resources_ConversionCustomVariable_FloodlightConversionCustomVariableInfo",
      "type": "object"
    },
    "GoogleAdsSearchads360V0Common__ListingGroupInfo": {
      "properties": {
        "type": {
          "description": "Type of the listing group.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Subdivision of products along some listing dimension. These nodes are not used by serving to target listing entries, but is purely to define the structure of the tree.",
            "Listing group unit that defines a bid."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "SUBDIVISION",
            "UNIT"
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Common__ListingGroupInfo",
      "type": "object",
      "description": "A listing group criterion."
    },
    "GoogleAdsSearchads360V0Resources__Conversion": {
      "type": "object",
      "properties": {
        "assetId": {
          "description": "Output only. ID of the asset which was interacted with during the conversion event.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "merchantId": {
          "type": "string",
          "description": "Output only. The Search Ads 360 inventory account ID containing the product that was clicked on. Search Ads 360 generates this ID when you link an inventory account in Search Ads 360.",
          "readOnly": true,
          "format": "int64"
        },
        "attributionType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "VISIT",
            "CRITERION_AD"
          ],
          "description": "Output only. What the conversion is attributed to: Visit or Keyword+Ad.",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The conversion is attributed to a visit.",
            "The conversion is attributed to a criterion and ad pair."
          ]
        },
        "conversionRevenueMicros": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The adjusted revenue in micros for the conversion event. This will always be in the currency of the serving account.",
          "type": "string"
        },
        "conversionQuantity": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The quantity of items recorded by the conversion, as determined by the qty url parameter. The advertiser is responsible for dynamically populating the parameter (such as number of items sold in the conversion), otherwise it defaults to 1.",
          "format": "int64"
        },
        "conversionDateTime": {
          "readOnly": true,
          "description": "Output only. The timestamp of the conversion event.",
          "type": "string"
        },
        "productId": {
          "description": "Output only. The ID of the product clicked on.",
          "type": "string",
          "readOnly": true
        },
        "floodlightOriginalRevenue": {
          "description": "Output only. The original, unchanged revenue associated with the Floodlight event (in the currency of the current report), before Floodlight currency instruction modifications.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. The status of the conversion, either ENABLED or REMOVED..",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ENABLED",
            "REMOVED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The conversion is enabled.",
            "The conversion has been removed."
          ],
          "type": "string"
        },
        "resourceName": {
          "readOnly": true,
          "description": "Output only. The resource name of the conversion. Conversion resource names have the form: `customers/{customer_id}/conversions/{ad_group_id}~{criterion_id}~{ds_conversion_id}`",
          "type": "string"
        },
        "conversionLastModifiedDateTime": {
          "type": "string",
          "description": "Output only. The timestamp of the last time the conversion was modified.",
          "readOnly": true
        },
        "floodlightOrderId": {
          "description": "Output only. The Floodlight order ID provided by the advertiser for the conversion.",
          "readOnly": true,
          "type": "string"
        },
        "conversionVisitDateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The timestamp of the visit that the conversion is attributed to."
        },
        "assetFieldType": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The asset is linked for use as a headline.",
            "The asset is linked for use as a description.",
            "The asset is linked for use as mandatory ad text.",
            "The asset is linked for use as a marketing image.",
            "The asset is linked for use as a media bundle.",
            "The asset is linked for use as a YouTube video.",
            "The asset is linked to indicate that a hotels campaign is \"Book on Google\" enabled.",
            "The asset is linked for use as a Lead Form extension.",
            "The asset is linked for use as a Promotion extension.",
            "The asset is linked for use as a Callout extension.",
            "The asset is linked for use as a Structured Snippet extension.",
            "The asset is linked for use as a Sitelink.",
            "The asset is linked for use as a Mobile App extension.",
            "The asset is linked for use as a Hotel Callout extension.",
            "The asset is linked for use as a Call extension.",
            "The asset is linked for use as a Price extension.",
            "The asset is linked for use as a long headline.",
            "The asset is linked for use as a business name.",
            "The asset is linked for use as a square marketing image.",
            "The asset is linked for use as a portrait marketing image.",
            "The asset is linked for use as a logo.",
            "The asset is linked for use as a landscape logo.",
            "The asset is linked for use as a non YouTube logo.",
            "The asset is linked for use to select a call-to-action.",
            "The asset is linked for use to select an ad image.",
            "The asset is linked for use as a business logo.",
            "The asset is linked for use as a hotel property in a Performance Max for travel goals campaign.",
            "The asset is linked for use as a discovery carousel card.",
            "The asset is linked for use as a long description.",
            "The asset is linked for use as a call-to-action."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "HEADLINE",
            "DESCRIPTION",
            "MANDATORY_AD_TEXT",
            "MARKETING_IMAGE",
            "MEDIA_BUNDLE",
            "YOUTUBE_VIDEO",
            "BOOK_ON_GOOGLE",
            "LEAD_FORM",
            "PROMOTION",
            "CALLOUT",
            "STRUCTURED_SNIPPET",
            "SITELINK",
            "MOBILE_APP",
            "HOTEL_CALLOUT",
            "CALL",
            "PRICE",
            "LONG_HEADLINE",
            "BUSINESS_NAME",
            "SQUARE_MARKETING_IMAGE",
            "PORTRAIT_MARKETING_IMAGE",
            "LOGO",
            "LANDSCAPE_LOGO",
            "VIDEO",
            "CALL_TO_ACTION_SELECTION",
            "AD_IMAGE",
            "BUSINESS_LOGO",
            "HOTEL_PROPERTY",
            "DISCOVERY_CAROUSEL_CARD",
            "LONG_DESCRIPTION",
            "CALL_TO_ACTION"
          ],
          "description": "Output only. Asset field type of the conversion event.",
          "readOnly": true,
          "type": "string"
        },
        "criterionId": {
          "description": "Output only. Search Ads 360 criterion ID. A value of 0 indicates that the criterion is unattributed.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The ID of the conversion"
        },
        "clickId": {
          "description": "Output only. A unique string, for the visit that the conversion is attributed to, that is passed to the landing page as the click id URL parameter.",
          "readOnly": true,
          "type": "string"
        },
        "visitId": {
          "type": "string",
          "description": "Output only. The Search Ads 360 visit ID that the conversion is attributed to.",
          "format": "int64",
          "readOnly": true
        },
        "productLanguageCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The language (ISO-639-1) that has been set for the Merchant Center feed containing data about the product."
        },
        "productChannel": {
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ONLINE",
            "LOCAL"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "The item is sold online.",
            "The item is sold in local stores."
          ],
          "type": "string",
          "description": "Output only. The sales channel of the product that was clicked on: Online or Local.",
          "readOnly": true
        },
        "advertiserConversionId": {
          "description": "Output only. For offline conversions, this is an ID provided by advertisers. If an advertiser doesn't specify such an ID, Search Ads 360 generates one. For online conversions, this is equal to the id column or the floodlight_order_id column depending on the advertiser's Floodlight instructions.",
          "type": "string",
          "readOnly": true
        },
        "adId": {
          "readOnly": true,
          "description": "Output only. Ad ID. A value of 0 indicates that the ad is unattributed.",
          "type": "string",
          "format": "int64"
        },
        "productStoreId": {
          "description": "Output only. The store in the Local Inventory Ad that was clicked on. This should match the store IDs used in your local products feed.",
          "type": "string",
          "readOnly": true
        },
        "productCountryCode": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The country (ISO-3166-format) registered for the inventory feed that contains the product clicked on."
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__Conversion",
      "description": "A conversion."
    },
    "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetImpressionShare": {
      "description": "An automated bidding strategy that sets bids so that a certain percentage of search ads are shown at the top of the first page (or other targeted location).",
      "id": "GoogleAdsSearchads360V0Resources_AccessibleBiddingStrategy_TargetImpressionShare",
      "type": "object",
      "properties": {
        "cpcBidCeilingMicros": {
          "description": "Output only. The highest CPC bid the automated bidding system is permitted to specify. This is a required field entered by the advertiser that sets the ceiling and specified in local micros.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "locationFractionMicros": {
          "format": "int64",
          "description": "The chosen fraction of ads to be shown in the targeted location in micros. For example, 1% equals 10,000.",
          "type": "string"
        },
        "location": {
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Any location on the web page.",
            "Top box of ads.",
            "Top slot in the top box of ads."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The targeted location on the search results page.",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "ANYWHERE_ON_PAGE",
            "TOP_OF_PAGE",
            "ABSOLUTE_TOP_OF_PAGE"
          ]
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__UserList": {
      "type": "object",
      "description": "A user list. This is a list of users a customer may target.",
      "properties": {
        "id": {
          "description": "Output only. Id of the user list.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this user list. Depending on its access_reason, the user list name may not be unique (for example, if access_reason=SHARED)"
        },
        "resourceName": {
          "type": "string",
          "description": "Immutable. The resource name of the user list. User list resource names have the form: `customers/{customer_id}/userLists/{user_list_id}`"
        },
        "type": {
          "readOnly": true,
          "description": "Output only. Type of this list. This field is read-only.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "UserList represented as a collection of conversion types.",
            "UserList represented as a combination of other user lists/interests.",
            "UserList created in the Google Ad Manager platform.",
            "UserList associated with a rule.",
            "UserList with users similar to users of another UserList.",
            "UserList of first-party CRM data provided by advertiser in the form of emails or other formats."
          ],
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "REMARKETING",
            "LOGICAL",
            "EXTERNAL_REMARKETING",
            "RULE_BASED",
            "SIMILAR",
            "CRM_BASED"
          ]
        }
      },
      "id": "GoogleAdsSearchads360V0Resources__UserList"
    },
    "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The user defined name of the raw event metric."
        },
        "id": {
          "description": "The conversion custom variable ID.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "GoogleAdsSearchads360V0Services__RawEventConversionMetricHeader",
      "type": "object",
      "description": "Message for raw event conversion metric header."
    },
    "GoogleAdsSearchads360V0Common__GenderInfo": {
      "id": "GoogleAdsSearchads360V0Common__GenderInfo",
      "description": "A gender criterion.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Type of the gender.",
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "UNKNOWN",
            "MALE",
            "FEMALE",
            "UNDETERMINED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Used for return value only. Represents value unknown in this version.",
            "Male.",
            "Female.",
            "Undetermined gender."
          ]
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__CampaignEffectiveLabel": {
      "id": "GoogleAdsSearchads360V0Resources__CampaignEffectiveLabel",
      "description": "Represents a relationship between a campaign and an effective label. An effective label is a label inherited or directly assigned to this campaign.",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Immutable. Name of the resource. CampaignEffectivelabel resource names have the form: `customers/{owner_customer_id}/campaignEffectiveLabels/{campaign_id}~{label_id}`"
        },
        "ownerCustomerId": {
          "type": "string",
          "description": "Output only. The ID of the Customer which owns the effective label.",
          "readOnly": true,
          "format": "int64"
        },
        "campaign": {
          "description": "Immutable. The campaign to which the effective label is attached.",
          "type": "string"
        },
        "label": {
          "type": "string",
          "description": "Immutable. The effective label assigned to the campaign."
        }
      }
    },
    "GoogleAdsSearchads360V0Resources__ShoppingPerformanceView": {
      "id": "GoogleAdsSearchads360V0Resources__ShoppingPerformanceView",
      "type": "object",
      "description": "Shopping performance view. Provides Shopping campaign and Performance Max campaign statistics aggregated at several product dimension levels. Product dimension values from Merchant Center such as brand, category, custom attributes, product condition, and product type will reflect the state of each dimension as of the date and time when the corresponding event was recorded. The number of impressions and clicks that `shopping_performance_view` returns stats for may be different from campaign reports. `shopping_performance_view` shows impressions and clicks on products appearing in ads, while campaign reports show impressions and clicks on the ads themselves. Depending on the format, an ad can show from zero to several products, so the numbers may not match. In Search Ads 360 UI, you can query impressions and clicks of products appearing in ads by selecting a column from \"Product attributes\" in the report editor. For example, selecting the \"Brand\" column is equivalent to selecting `segments.product_brand`.",
      "properties": {
[...]
