{
  "description": "Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s). ",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "title": "Accelerated Mobile Pages (AMP) URL API",
  "revision": "20260311",
  "canonicalName": "Acceleratedmobilepageurl",
  "id": "acceleratedmobilepageurl:v1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "BatchGetAmpUrlsResponse": {
      "id": "BatchGetAmpUrlsResponse",
      "description": "Batch AMP URL response.",
      "type": "object",
      "properties": {
        "ampUrls": {
          "description": "For each URL in BatchAmpUrlsRequest, the URL response. The response might not be in the same order as URLs in the batch request. If BatchAmpUrlsRequest contains duplicate URLs, AmpUrl is generated only once.",
          "type": "array",
          "items": {
            "$ref": "AmpUrl"
          }
        },
        "urlErrors": {
          "items": {
            "$ref": "AmpUrlError"
          },
          "description": "The errors for requested URLs that have no AMP URL.",
          "type": "array"
        }
      }
    },
    "AmpUrlError": {
      "properties": {
        "errorCode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified error.",
            "Indicates the requested URL is not found in the index, possibly because it's unable to be found, not able to be accessed by Googlebot, or some other error.",
            "Indicates no AMP URL has been found that corresponds to the requested URL.",
            "Indicates some kind of application error occurred at the server. Client advised to retry.",
            "DEPRECATED: Indicates the requested URL is a valid AMP URL. This is a non-error state, should not be relied upon as a sign of success or failure. It will be removed in future versions of the API.",
            "Indicates that an AMP URL has been found that corresponds to the request URL, but it is not valid AMP HTML."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "INPUT_URL_NOT_FOUND",
            "NO_AMP_URL",
            "APPLICATION_ERROR",
            "URL_IS_VALID_AMP",
            "URL_IS_INVALID_AMP"
          ],
          "description": "The error code of an API call.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            false
          ]
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        },
        "errorMessage": {
          "description": "An optional descriptive error message.",
          "type": "string"
        }
      },
      "id": "AmpUrlError",
      "description": "AMP URL Error resource for a requested URL that couldn't be found.",
      "type": "object"
    },
    "AmpUrl": {
      "id": "AmpUrl",
      "description": "AMP URL response for a requested URL.",
      "type": "object",
      "properties": {
        "ampUrl": {
          "description": "The AMP URL pointing to the publisher's web server.",
          "type": "string"
        },
        "cdnAmpUrl": {
          "description": "The [AMP Cache URL](/amp/cache/overview#amp-cache-url-format) pointing to the cached document in the Google AMP Cache.",
          "type": "string"
        },
        "originalUrl": {
          "description": "The original non-AMP URL.",
          "type": "string"
        }
      }
    },
    "BatchGetAmpUrlsRequest": {
      "id": "BatchGetAmpUrlsRequest",
      "description": "AMP URL request for a batch of URLs.",
      "type": "object",
      "properties": {
        "urls": {
          "items": {
            "type": "string"
          },
          "description": "List of URLs to look up for the paired AMP URLs. The URLs are case-sensitive. Up to 50 URLs per lookup (see [Usage Limits](/amp/cache/reference/limits)).",
          "type": "array"
        },
        "lookupStrategy": {
          "enum": [
            "FETCH_LIVE_DOC",
            "IN_INDEX_DOC"
          ],
          "description": "The lookup_strategy being requested.",
          "type": "string",
          "enumDescriptions": [
            "FETCH_LIVE_DOC strategy involves live document fetch of URLs not found in the index. Any request URL not found in the index is crawled in realtime to validate if there is a corresponding AMP URL. This strategy has higher coverage but with extra latency introduced by realtime crawling. This is the default strategy. Applications using this strategy should set higher HTTP timeouts of the API calls.",
            "IN_INDEX_DOC strategy skips fetching live documents of URL(s) not found in index. For applications which need low latency use of IN_INDEX_DOC strategy is recommended."
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "ownerDomain": "google.com",
  "resources": {
    "ampUrls": {
      "methods": {
        "batchGet": {
          "parameterOrder": [],
          "response": {
            "$ref": "BatchGetAmpUrlsResponse"
          },
          "id": "acceleratedmobilepageurl.ampUrls.batchGet",
          "httpMethod": "POST",
          "description": "Returns AMP URL(s) and equivalent [AMP Cache URL(s)](/amp/cache/overview#amp-cache-url-format).",
          "path": "v1/ampUrls:batchGet",
          "parameters": {},
          "request": {
            "$ref": "BatchGetAmpUrlsRequest"
          },
          "flatPath": "v1/ampUrls:batchGet"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/amp/cache/",
  "basePath": "",
  "name": "acceleratedmobilepageurl",
  "ownerName": "Google",
  "baseUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://acceleratedmobilepageurl.mtls.googleapis.com/",
  "rootUrl": "https://acceleratedmobilepageurl.googleapis.com/",
  "servicePath": "",
  "version_module": true
}