{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "AdExchangeBuyerII",
  "discoveryVersion": "v1",
  "schemas": {
    "CreativeDealAssociation": {
      "description": "The association between a creative and a deal.",
      "id": "CreativeDealAssociation",
      "type": "object",
      "properties": {
        "dealsId": {
          "type": "string",
          "description": "The externalDealId for the deal associated with the creative."
        },
        "accountId": {
          "type": "string",
          "description": "The account the creative belongs to."
        },
        "creativeId": {
          "description": "The ID of the creative associated with the deal.",
          "type": "string"
        }
      }
    },
    "Image": {
      "id": "Image",
      "type": "object",
      "properties": {
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "width": {
          "description": "Image width in pixels.",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "Image height in pixels.",
          "format": "int32"
        }
      },
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved."
    },
    "CompleteSetupRequest": {
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "id": "CompleteSetupRequest",
      "type": "object",
      "properties": {}
    },
    "Size": {
      "description": "Message depicting the size of the creative. The units of width and height depend on the type of the targeting.",
      "id": "Size",
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the creative",
          "format": "int32",
          "type": "integer"
        },
        "height": {
          "type": "integer",
          "description": "The height of the creative.",
          "format": "int32"
        }
      }
    },
    "UrlTargeting": {
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UrlTargeting",
      "type": "object",
      "properties": {
        "targetedUrls": {
          "type": "array",
          "description": "A list of URLs to be included.",
          "items": {
            "type": "string"
          }
        },
        "excludedUrls": {
          "description": "A list of URLs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      }
    },
    "ListBidMetricsResponse": {
      "id": "ListBidMetricsResponse",
      "type": "object",
      "properties": {
        "bidMetricsRows": {
          "description": "List of rows, each containing a set of bid metrics.",
          "items": {
            "$ref": "BidMetricsRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing the metrics that are measured in number of bids."
    },
    "OperatingSystemTargeting": {
      "id": "OperatingSystemTargeting",
      "type": "object",
      "properties": {
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "description": "Represents targeting information for operating systems."
    },
    "Proposal": {
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise.",
      "id": "Proposal",
      "type": "object",
      "properties": {
        "buyerPrivateData": {
          "description": "Private data for buyer. (hidden from seller).",
          "$ref": "PrivateData"
        },
        "termsAndConditions": {
          "type": "string",
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "readOnly": true
        },
        "isSetupComplete": {
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal.",
          "readOnly": true,
          "deprecated": true,
          "type": "boolean"
        },
        "proposalId": {
          "description": "Output only. The unique ID of the proposal.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "privateAuctionId": {
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "readOnly": true,
          "type": "string"
        },
        "notes": {
          "type": "array",
          "description": "Output only. The notes associated with this proposal.",
          "readOnly": true,
          "items": {
            "$ref": "Note"
          }
        },
        "seller": {
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Seller"
        },
        "displayName": {
          "description": "The name for the proposal.",
          "type": "string"
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal is being renegotiated.",
          "readOnly": true,
          "type": "boolean"
        },
        "proposalRevision": {
          "type": "string",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true,
          "format": "int64"
        },
        "billedBuyer": {
          "$ref": "Buyer",
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "readOnly": true
        },
        "proposalState": {
          "enum": [
            "PROPOSAL_STATE_UNSPECIFIED",
            "PROPOSED",
            "BUYER_ACCEPTED",
            "SELLER_ACCEPTED",
            "CANCELED",
            "FINALIZED"
          ],
          "description": "Output only. The current state of the proposal.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
            "The proposal has been accepted by the buyer.",
            "The proposal has been accepted by the seller.",
            "The negotiations on the proposal were canceled and the proposal was never finalized.",
            "The proposal is finalized. During renegotiation, the proposal may not be in this state."
          ]
        },
        "sellerContacts": {
          "description": "Output only. Contact information for the seller.",
          "readOnly": true,
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        },
        "lastUpdaterOrCommentorRole": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "buyer": {
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Buyer"
        },
        "originatorRole": {
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "deals": {
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "ContactInformation"
          },
          "type": "array"
        }
      }
    },
    "CreativeRestrictions": {
      "id": "CreativeRestrictions",
      "type": "object",
      "properties": {
        "creativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "description": "The format of the environment that the creatives will be displayed in.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ]
        },
        "skippableAdType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "creativeSpecifications": {
          "items": {
            "$ref": "CreativeSpecification"
          },
          "type": "array"
        }
      },
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals."
    },
    "Product": {
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "id": "Product",
      "type": "object",
      "properties": {
        "availableStartTime": {
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "format": "google-datetime",
          "type": "string"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Time of last update.",
          "format": "google-datetime"
        },
        "productRevision": {
          "description": "The revision number of the product (auto-assigned by Marketplace).",
          "format": "int64",
          "type": "string"
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "syndicationProduct": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "description": "The syndication product associated with the deal.",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "creatorContacts": {
          "type": "array",
          "description": "Optional contact information for the creator of this product.",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "createTime": {
          "type": "string",
          "description": "Creation time.",
          "format": "google-datetime"
        },
        "targetingCriterion": {
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "items": {
            "$ref": "TargetingCriteria"
          },
          "type": "array"
        },
        "publisherProfileId": {
          "type": "string",
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product."
        },
        "availableEndTime": {
          "type": "string",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "format": "google-datetime"
        }
      }
    },
    "ListLosingBidsResponse": {
      "id": "ListLosingBidsResponse",
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "type": "array",
          "description": "List of rows, with counts of losing bids aggregated by loss reason (for example, creative status).",
          "items": {
            "$ref": "CreativeStatusRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListLosingBidsRequest.pageToken field in the subsequent call to the losingBids.list method to retrieve the next page of results."
        }
      },
      "description": "Response message for listing all reasons that bids lost in the auction."
    },
    "Seller": {
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "id": "Seller",
      "type": "object",
      "properties": {
        "subAccountId": {
          "type": "string",
          "description": "Output only. Ad manager network code for the seller.",
          "readOnly": true
        },
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        }
      }
    },
    "FilteredBidCreativeRow": {
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "id": "FilteredBidCreativeRow",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative."
        }
      }
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs.",
      "id": "CriteriaTargeting",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "excludedCriteriaIds": {
          "description": "A list of numeric IDs to be excluded.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "type": "object",
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support"
        }
      },
      "description": "Response message for profiles visible to the buyer."
    },
    "ClientUserInvitation": {
      "id": "ClientUserInvitation",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "type": "string",
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "format": "int64"
        },
        "invitationId": {
          "type": "string",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "format": "int64"
        }
      },
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified."
    },
    "PauseProposalRequest": {
      "id": "PauseProposalRequest",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason why the proposal is being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        }
      },
      "description": "Request message to pause serving for an already-finalized proposal."
    },
    "RelativeDateRange": {
      "id": "RelativeDateRange",
      "type": "object",
      "properties": {
        "offsetDays": {
          "type": "integer",
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "format": "int32"
        },
        "durationDays": {
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30"
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "List pagination support."
        },
        "products": {
          "description": "The list of matching products at their head revision number.",
          "items": {
            "$ref": "Product"
          },
          "type": "array"
        }
      },
      "description": "Response message for listing products visible to the buyer."
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "id": "InventorySizeTargeting",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "ResumeProposalDealsRequest": {
      "id": "ResumeProposalDealsRequest",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message to resume (unpause) serving for already-finalized deals."
    },
    "PrivateData": {
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal."
    },
    "TimeInterval": {
      "description": "An interval of time, with an absolute start and end.",
      "id": "TimeInterval",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "The timestamp marking the start of the range (inclusive) for which data is included.",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "The timestamp marking the end of the range (exclusive) for which data is included.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DealServingMetadata": {
      "id": "DealServingMetadata",
      "type": "object",
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "readOnly": true,
          "$ref": "DealPauseStatus"
        }
      },
      "description": "Message captures metadata about the serving status of a deal."
    },
    "SecurityContext": {
      "deprecated": true,
      "description": "Output only. A security context.",
      "type": "object",
      "id": "SecurityContext",
      "properties": {
        "securities": {
          "description": "The security types in this context.",
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ]
          },
          "type": "array"
        }
      }
    },
    "AddNoteRequest": {
      "id": "AddNoteRequest",
      "type": "object",
      "properties": {
        "note": {
          "description": "Details of the note to add.",
          "$ref": "Note"
        }
      },
      "description": "Request message for adding a note to a given proposal."
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      }
    },
    "ListFilteredBidRequestsResponse": {
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "id": "ListFilteredBidRequestsResponse",
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ContactInformation": {
      "id": "ContactInformation",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "name": {
          "description": "The name of the contact.",
          "type": "string"
        }
      },
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)",
          "type": "string"
        },
        "externalDealIds": {
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message to pause serving for finalized deals."
    },
    "CancelNegotiationRequest": {
      "description": "Request to cancel an ongoing negotiation.",
      "id": "CancelNegotiationRequest",
      "type": "object",
      "properties": {}
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "type": "object",
      "properties": {
        "filteredBidDetailRows": {
          "type": "array",
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "items": {
            "$ref": "FilteredBidDetailRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results.",
          "type": "string"
        },
        "detailType": {
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "description": "The type of detail that the detail IDs represent."
        }
      },
      "description": "Response message for listing all details associated with a given filtered bid reason."
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "properties": {
        "maxImpressions": {
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "format": "int32"
        },
        "numTimeUnits": {
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32",
          "type": "integer"
        },
        "timeUnitType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        }
      },
      "description": "Frequency cap."
    },
    "PublisherProfileMobileApplication": {
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "id": "PublisherProfileMobileApplication",
      "type": "object",
      "properties": {
        "appStore": {
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRETV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "Playstation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ]
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        }
      }
    },
    "RowDimensions": {
      "id": "RowDimensions",
      "type": "object",
      "properties": {
        "publisherIdentifier": {
          "type": "string",
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested."
        },
        "timeInterval": {
          "description": "The time interval that this row represents.",
          "$ref": "TimeInterval"
        }
      },
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row."
    },
    "AbsoluteDateRange": {
      "id": "AbsoluteDateRange",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The start date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or before end_date.",
          "$ref": "Date"
        },
        "endDate": {
          "description": "The end date of the range (inclusive). Must be within the 30 days leading up to current date, and must be equal to or after start_date.",
          "$ref": "Date"
        }
      },
      "description": "An absolute date range, specified by its start date and end date. The supported range of dates begins 30 days before today and ends today. Validity checked upon filter set creation. If a filter set with an absolute date range is run at a later date more than 30 days after start_date, it will fail."
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "type": "object",
      "properties": {
        "buyer": {
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer).",
          "$ref": "Buyer"
        },
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        }
      },
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set."
    },
    "ListBidResponseErrorsResponse": {
      "id": "ListBidResponseErrorsResponse",
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "description": "List of rows, with counts of bid responses aggregated by callout status.",
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponseErrorsRequest.pageToken field in the subsequent call to the bidResponseErrors.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing all reasons that bid responses resulted in an error."
    },
    "ListFilteredBidsResponse": {
      "description": "Response message for listing all reasons that bids were filtered from the auction.",
      "id": "ListFilteredBidsResponse",
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "description": "List of rows, with counts of filtered bids aggregated by filtering reason (for example, creative status).",
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidsRequest.pageToken field in the subsequent call to the filteredBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "GuaranteedFixedPriceTerms": {
      "id": "GuaranteedFixedPriceTerms",
      "type": "object",
      "properties": {
        "reservationType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "format": "int64",
          "type": "string"
        },
        "impressionCap": {
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "format": "int64",
          "type": "string"
        },
        "fixedPrices": {
          "type": "array",
          "description": "Fixed price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          }
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "format": "int64",
          "type": "string"
        },
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "format": "int64",
          "type": "string"
        },
        "guaranteedImpressions": {
          "type": "string",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.",
          "format": "int64"
        }
      },
      "description": "Terms for Programmatic Guaranteed Deals."
    },
    "DeliveryControl": {
      "description": "Message contains details about how the deals will be paced.",
      "id": "DeliveryControl",
      "type": "object",
      "properties": {
        "deliveryRateType": {
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "frequencyCaps": {
          "description": "Output only. Specifies any frequency caps.",
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array"
        },
        "creativeBlockingLevel": {
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "type": "string",
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "readOnly": true
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "id": "ListClientUserInvitationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        },
        "invitations": {
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "type": "array"
        }
      }
    },
    "Price": {
      "id": "Price",
      "type": "object",
      "properties": {
        "pricingType": {
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "description": "The pricing type for the deal/product. (default: CPM)"
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      },
      "description": "Represents a price and a pricing type for a product / deal."
    },
    "RealtimeTimeRange": {
      "id": "RealtimeTimeRange",
      "type": "object",
      "properties": {
        "startTimestamp": {
          "type": "string",
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "format": "google-datetime"
        }
      },
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set."
    },
    "TargetingCriteria": {
      "id": "TargetingCriteria",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        },
        "exclusions": {
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "items": {
            "$ref": "TargetingValue"
          },
          "type": "array"
        },
        "inclusions": {
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "items": {
            "$ref": "TargetingValue"
          },
          "type": "array"
        }
      },
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting."
    },
    "TechnologyTargeting": {
      "description": "Represents targeting about various types of technology.",
      "id": "TechnologyTargeting",
      "type": "object",
      "properties": {
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        }
      }
    },
    "CreativeSpecification": {
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "id": "CreativeSpecification",
      "type": "object",
      "properties": {
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        }
      }
    },
    "ServingContext": {
      "description": "The serving context for this restriction.",
      "id": "ServingContext",
      "type": "object",
      "properties": {
        "all": {
          "description": "Matches all contexts.",
          "type": "string",
          "enumDescriptions": [
            "A simple context."
          ],
          "enum": [
            "SIMPLE_CONTEXT"
          ]
        },
        "platform": {
          "description": "Matches impressions coming from a particular platform.",
          "$ref": "PlatformContext"
        },
        "auctionType": {
          "description": "Matches impressions for a particular auction type.",
          "$ref": "AuctionContext"
        },
        "location": {
          "description": "Matches impressions coming from users *or* publishers in a specific location.",
          "$ref": "LocationContext"
        },
        "securityType": {
          "$ref": "SecurityContext",
          "description": "Matches impressions for a particular security type.",
          "deprecated": true
        },
        "appType": {
          "description": "Matches impressions for a particular app type.",
          "$ref": "AppContext"
        }
      }
    },
    "AuctionContext": {
      "id": "AuctionContext",
      "type": "object",
      "properties": {
        "auctionTypes": {
          "type": "array",
          "description": "The auction types this restriction applies to.",
          "items": {
            "enum": [
              "OPEN_AUCTION",
              "DIRECT_DEALS"
            ],
            "type": "string",
            "enumDescriptions": [
              "The restriction applies to open auction.",
              "The restriction applies to direct deals."
            ]
          }
        }
      },
      "description": "Output only. The auction type the restriction applies to."
    },
    "ListDealAssociationsResponse": {
      "id": "ListDealAssociationsResponse",
      "type": "object",
      "properties": {
        "associations": {
          "description": "The list of associations.",
          "items": {
            "$ref": "CreativeDealAssociation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results."
        }
      },
      "description": "A response for listing creative and deal associations"
    },
    "CalloutStatusRow": {
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "id": "CalloutStatusRow",
      "type": "object",
      "properties": {
        "calloutStatusId": {
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32",
          "type": "integer"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "impressionCount": {
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status.",
          "$ref": "MetricValue"
        }
      }
    },
    "WatchCreativeRequest": {
      "id": "WatchCreativeRequest",
      "type": "object",
      "properties": {
        "topic": {
          "type": "string",
          "description": "The Pub/Sub topic to publish notifications to. This topic must already exist and must give permission to ad-exchange-buyside-reports@google.com to write to the topic. This should be the full resource name in \"projects/{project_id}/topics/{topic_id}\" format."
        }
      },
      "description": "A request for watching changes to creative Status."
    },
    "NonBillableWinningBidStatusRow": {
      "id": "NonBillableWinningBidStatusRow",
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall.",
            "The impression was not billed because it exceeded a guaranteed deal delivery goal."
          ],
          "description": "The status specifying why the winning bids were not billed.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION",
            "OVERDELIVERED_IMPRESSION"
          ]
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        }
      },
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status."
    },
    "PublisherProfile": {
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise.",
      "id": "PublisherProfile",
      "type": "object",
      "properties": {
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "mobileApps": {
          "type": "array",
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "domains": {
          "type": "array",
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\".",
          "items": {
            "type": "string"
          }
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          }
        },
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "displayName": {
          "description": "Name of the publisher profile.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "publisherProfileId": {
          "type": "string",
          "description": "Unique ID for publisher profile."
        },
        "directDealsContact": {
          "type": "string",
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "buyerPitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "rateCardInfoUrl": {
          "type": "string",
          "description": "URL to a publisher rate card."
        }
      }
    },
    "MetricValue": {
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled).",
      "id": "MetricValue",
      "type": "object",
      "properties": {
        "variance": {
          "type": "string",
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value",
          "format": "int64"
        },
        "value": {
          "type": "string",
          "description": "The expected value of the metric.",
          "format": "int64"
        }
      }
    },
    "NonGuaranteedFixedPriceTerms": {
      "description": "Terms for Preferred Deals.",
      "id": "NonGuaranteedFixedPriceTerms",
      "type": "object",
      "properties": {
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "type": "array"
        }
      }
    },
    "Correction": {
      "description": "Output only. Shows any corrections that were applied to this creative.",
      "id": "Correction",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "description": "The type of correction that was applied to the creative.",
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ]
        },
        "contexts": {
          "description": "The contexts for the correction.",
          "items": {
            "$ref": "ServingContext"
          },
          "type": "array"
        },
        "details": {
          "type": "array",
          "description": "Additional details about what was corrected.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "type": "object",
      "properties": {
        "timeZoneType": {
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "description": "The timezone to use for interpreting the day part targeting."
        },
        "dayParts": {
          "type": "array",
          "description": "A list of day part targeting criterion.",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "description": "Specifies the day part targeting criteria."
    },
    "CreativeStatusRow": {
      "id": "CreativeStatusRow",
      "type": "object",
      "properties": {
        "creativeStatusId": {
          "type": "integer",
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "format": "int32"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        }
      },
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status."
    },
    "NonGuaranteedAuctionTerms": {
      "id": "NonGuaranteedAuctionTerms",
      "type": "object",
      "properties": {
        "reservePricesPerBuyer": {
          "type": "array",
          "description": "Reserve price for the specified buyer.",
          "items": {
            "$ref": "PricePerBuyer"
          }
        },
        "autoOptimizePrivateAuction": {
          "type": "boolean",
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      },
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request."
    },
    "Client": {
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified.",
      "id": "Client",
      "type": "object",
      "properties": {
        "entityName": {
          "type": "string",
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations."
        },
        "partnerClientId": {
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer.",
          "type": "string"
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "clientAccountId": {
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "format": "int64",
          "type": "string"
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        },
        "entityId": {
          "type": "string",
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file.",
          "format": "int64"
        },
        "clientName": {
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "status": {
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "description": "The status of the client buyer.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ]
        }
      }
    },
    "ListProposalsResponse": {
      "description": "Response message for listing proposals.",
      "id": "ListProposalsResponse",
      "type": "object",
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "items": {
            "$ref": "Proposal"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AdSize": {
      "id": "AdSize",
      "type": "object",
      "properties": {
        "sizeType": {
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The size type of the ad slot."
        },
        "width": {
          "type": "string",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64"
        },
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represents size of a single ad slot, or a creative."
    },
    "AdTechnologyProviders": {
      "description": "Detected ad technology provider information.",
      "id": "AdTechnologyProviders",
      "type": "object",
      "properties": {
        "hasUnidentifiedProvider": {
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction.",
          "type": "boolean"
        },
        "detectedProviderIds": {
          "type": "array",
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "items": {
            "format": "int64",
            "type": "string"
          }
        }
      }
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          }
        }
      },
      "description": "Represents targeting information about video."
    },
    "Creative": {
      "description": "A creative and its classification data.",
      "id": "Creative",
      "type": "object",
      "properties": {
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "detectedSensitiveCategories": {
          "type": "array",
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "detectedLanguages": {
          "type": "array",
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "items": {
            "type": "string"
          }
        },
        "apiUpdateTime": {
          "description": "Output only. The last update timestamp of the creative through the API.",
          "format": "google-datetime",
          "type": "string"
        },
        "detectedProductCategories": {
          "type": "array",
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "restrictedCategories": {
          "type": "array",
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "items": {
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ],
            "type": "string",
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ]
          }
        },
        "detectedAdvertiserIds": {
          "description": "Output only. Detected advertiser IDs, if any.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        },
        "accountId": {
          "type": "string",
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method."
        },
        "version": {
          "description": "Output only. The version of this creative.",
          "format": "int32",
          "type": "integer"
        },
        "corrections": {
          "type": "array",
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "deprecated": true,
          "items": {
            "$ref": "Correction"
          }
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "html": {
          "description": "An HTML creative.",
          "$ref": "HtmlContent"
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        },
        "dealsStatus": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method."
        },
        "agencyId": {
          "description": "The agency ID for this creative.",
          "format": "int64",
          "type": "string"
        },
        "impressionTrackingUrls": {
          "type": "array",
          "description": "The set of URLs to be called to record an impression.",
          "items": {
            "type": "string"
          }
        },
        "openAuctionStatus": {
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "clickThroughUrls": {
          "type": "array",
          "description": "The set of destination URLs for the creative.",
          "items": {
            "type": "string"
          }
        },
        "servingRestrictions": {
          "type": "array",
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "items": {
            "$ref": "ServingRestriction"
          }
        },
        "creativeId": {
          "type": "string",
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method."
        },
        "declaredClickThroughUrls": {
          "description": "The set of declared destination URLs for the creative.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "detectedDomains": {
          "description": "Output only. The detected domains for this creative.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "attributes": {
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "items": {
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ]
          },
          "type": "array"
        }
      }
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "type": "object",
      "properties": {
        "users": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ClientUser": {
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified.",
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "userId": {
          "type": "string",
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation.",
          "format": "int64"
        },
        "clientAccountId": {
          "type": "string",
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "format": "int64"
        },
        "status": {
          "description": "The status of the client user.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ],
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ]
        },
        "email": {
          "type": "string",
          "description": "User's email address. The value of this field is ignored in an update operation."
        }
      }
    },
    "Disapproval": {
      "description": "Output only. The reason and details for a disapproval.",
      "id": "Disapproval",
      "type": "object",
      "properties": {
        "reason": {
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not declared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
[...]
