{
  "discoveryVersion": "v1",
  "revision": "20260423",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "schemas": {
    "GuaranteedFixedPriceTerms": {
      "properties": {
        "impressionCap": {
          "description": "The lifetime impression cap for CPM sponsorship deals. The deal will stop serving when the cap is reached.",
          "type": "string",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string"
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string"
        },
        "percentShareOfVoice": {
          "format": "int64",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached.",
          "type": "string"
        },
        "guaranteedLooks": {
          "format": "int64",
          "description": "Count of guaranteed looks. Required for deal, optional for product. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string"
        },
        "guaranteedImpressions": {
          "format": "int64",
          "description": "Guaranteed impressions as a percentage. This is the percentage of guaranteed looks that the buyer is guaranteeing to buy.",
          "type": "string"
        },
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          }
        }
      },
      "id": "GuaranteedFixedPriceTerms",
      "description": "Terms for Programmatic Guaranteed Deals.",
      "type": "object"
    },
    "AddDealAssociationRequest": {
      "id": "AddDealAssociationRequest",
      "description": "A request for associating a deal and a creative.",
      "type": "object",
      "properties": {
        "association": {
          "description": "The association between a creative and a deal that should be added.",
          "$ref": "CreativeDealAssociation"
        }
      }
    },
    "FilterSet": {
      "properties": {
        "absoluteDateRange": {
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone.",
          "$ref": "AbsoluteDateRange"
        },
        "dealId": {
          "format": "int64",
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string"
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "realtimeTimeRange": {
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp.",
          "$ref": "RealtimeTimeRange"
        },
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations.",
          "type": "string"
        },
        "sellerNetworkIds": {
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "creativeId": {
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string"
        },
        "breakdownDimensions": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          },
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions.",
          "type": "array"
        },
        "environment": {
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "description": "The environment on which to filter; optional.",
          "type": "string"
        },
        "formats": {
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "type": "array",
          "deprecated": true,
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "type": "string",
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ]
          }
        },
        "timeSeriesGranularity": {
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional.",
          "type": "string",
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ]
        },
        "format": {
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ],
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "type": "string"
        },
        "platforms": {
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms).",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "type": "string",
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ]
          }
        },
        "publisherIdentifiers": {
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FilterSet",
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "type": "object"
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        },
        "excludedInventorySizes": {
          "description": "A list of inventory sizes to be excluded.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "FilteredBidCreativeRow": {
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified creative.",
          "$ref": "MetricValue"
        },
        "creativeId": {
          "description": "The ID of the creative.",
          "type": "string"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "id": "FilteredBidCreativeRow",
      "description": "The number of filtered bids with the specified dimension values that have the specified creative.",
      "type": "object"
    },
    "CreativeDealAssociation": {
      "properties": {
        "accountId": {
          "description": "The account the creative belongs to.",
          "type": "string"
        },
        "dealsId": {
          "description": "The externalDealId for the deal associated with the creative.",
          "type": "string"
        },
        "creativeId": {
          "description": "The ID of the creative associated with the deal.",
          "type": "string"
        }
      },
      "id": "CreativeDealAssociation",
      "description": "The association between a creative and a deal.",
      "type": "object"
    },
    "ListFilterSetsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filterSets": {
          "items": {
            "$ref": "FilterSet"
          },
          "description": "The filter sets belonging to the buyer.",
          "type": "array"
        }
      },
      "id": "ListFilterSetsResponse",
      "description": "Response message for listing filter sets.",
      "type": "object"
    },
    "Deal": {
      "properties": {
        "dealServingMetadata": {
          "$ref": "DealServingMetadata",
          "description": "Output only. Metadata about the serving status of this deal.",
          "readOnly": true
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "The shared targeting visible to buyers and sellers. Each shared targeting entity is AND'd together.",
          "type": "array"
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ]
        },
        "creativePreApprovalPolicy": {
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "type": "string"
        },
        "creativeRestrictions": {
          "description": "Output only. Restricitions about the creatives associated with the deal (for example, size) This is available for Programmatic Guaranteed/Preferred Deals in Ad Manager.",
          "readOnly": true,
          "$ref": "CreativeRestrictions"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the deal was last updated.",
          "type": "string"
        },
        "deliveryControl": {
          "description": "The set of fields around delivery control that are interesting for a buyer to see but are non-negotiable. These are set by the publisher.",
          "$ref": "DeliveryControl"
        },
        "createProductRevision": {
          "format": "int64",
          "description": "Optional. Revision number of the product that the deal was created from. If present on create, and the server `product_revision` has advanced since the passed-in `create_product_revision`, an `ABORTED` error will be returned. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "dealTerms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "availableStartTime": {
          "format": "google-datetime",
          "description": "Optional. Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string"
        },
        "availableEndTime": {
          "format": "google-datetime",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not required for Private Auction deals or Preferred Deals.",
          "type": "string"
        },
        "externalDealId": {
          "readOnly": true,
          "description": "Output only. The external deal ID assigned to this deal once the deal is finalized. This is the deal ID that shows up in serving/reporting etc.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time of the deal creation.",
          "type": "string",
          "format": "google-datetime"
        },
        "syndicationProduct": {
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "description": "The syndication product associated with the deal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "dealId": {
          "readOnly": true,
          "description": "Output only. A unique deal ID for the deal (server-assigned).",
          "type": "string"
        },
        "createProductId": {
          "description": "The product ID from which this deal was created. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "programmaticCreativeSource": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by buyer.",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "type": "string"
        },
        "sellerContacts": {
          "readOnly": true,
          "description": "Output only. Seller contact information for the deal.",
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "displayName": {
          "description": "The name of the deal.",
          "type": "string"
        },
        "description": {
          "description": "Description for the deal terms.",
          "type": "string"
        },
        "isSetupComplete": {
          "readOnly": true,
          "description": "Output only. True, if the buyside inventory setup is complete for this deal.",
          "type": "boolean"
        },
        "webPropertyCode": {
          "description": "The web property code for the seller copied over from the product.",
          "type": "string"
        },
        "proposalId": {
          "description": "Output only. ID of the proposal that this deal is part of.",
          "type": "string",
          "readOnly": true
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "readOnly": true,
          "description": "Output only. Specifies the subset of inventory targeted by the deal."
        }
      },
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads on. A proposal can contain multiple deals. A deal contains the terms and targeting information that is used for serving.",
      "type": "object"
    },
    "FilteredBidDetailRow": {
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified detail.",
          "$ref": "MetricValue"
        },
        "detail": {
          "description": "The ID of the detail, can be numeric or text. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "type": "string"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "detailId": {
          "description": "Note: this field will be deprecated, use \"detail\" field instead. When \"detail\" field represents an integer value, this field is populated as the same integer value \"detail\" field represents, otherwise this field will be 0. The ID of the detail. The associated value can be looked up in the dictionary file corresponding to the DetailType in the response message.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      },
      "id": "FilteredBidDetailRow",
      "description": "The number of filtered bids with the specified dimension values, among those filtered due to the requested filtering reason (for example, creative status), that have the specified detail.",
      "type": "object"
    },
    "AdSize": {
      "properties": {
        "height": {
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        },
        "sizeType": {
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (for example, responsive size) can be resized automatically with the change of outside environment."
          ],
          "description": "The size type of the ad slot.",
          "type": "string",
          "enum": [
            "SIZE_TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        },
        "width": {
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string"
        }
      },
      "id": "AdSize",
      "description": "Represents size of a single ad slot, or a creative.",
      "type": "object"
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology.",
      "type": "object",
      "properties": {
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        }
      }
    },
    "Product": {
      "id": "Product",
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Time of last update.",
          "type": "string"
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "availableStartTime": {
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "type": "string",
          "format": "google-datetime"
        },
        "availableEndTime": {
          "format": "google-datetime",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "type": "string"
        },
        "productRevision": {
          "description": "The revision number of the product (auto-assigned by Marketplace).",
          "type": "string",
          "format": "int64"
        },
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "hasCreatorSignedOff": {
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false.",
          "type": "boolean"
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "creatorContacts": {
          "description": "Optional contact information for the creator of this product.",
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Creation time.",
          "type": "string"
        },
        "syndicationProduct": {
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "description": "The syndication product associated with the deal.",
          "type": "string",
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "targetingCriterion": {
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values.",
          "type": "array"
        },
        "displayName": {
          "description": "The display name for this product as set by the seller.",
          "type": "string"
        }
      }
    },
    "ListProductsResponse": {
      "id": "ListProductsResponse",
      "description": "Response message for listing products visible to the buyer.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "List pagination support.",
          "type": "string"
        },
        "products": {
          "items": {
            "$ref": "Product"
          },
          "description": "The list of matching products at their head revision number.",
          "type": "array"
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "properties": {
        "invitations": {
          "items": {
            "$ref": "ClientUserInvitation"
          },
          "description": "The returned list of client users.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListClientUserInvitationsResponse",
      "type": "object"
    },
    "OperatingSystemTargeting": {
      "properties": {
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "id": "OperatingSystemTargeting",
      "description": "Represents targeting information for operating systems.",
      "type": "object"
    },
    "DeliveryControl": {
      "id": "DeliveryControl",
      "description": "Message contains details about how the deals will be paced.",
      "type": "object",
      "properties": {
        "deliveryRateType": {
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "type": "string"
        },
        "creativeBlockingLevel": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ],
          "type": "string"
        },
        "frequencyCaps": {
          "items": {
            "$ref": "FrequencyCap"
          },
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps.",
          "type": "array"
        }
      }
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "properties": {
        "urlTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UrlTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      }
    },
    "DealPauseStatus": {
      "id": "DealPauseStatus",
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true.",
      "type": "object",
      "properties": {
        "hasSellerPaused": {
          "description": "True, if the seller has paused the deal unilaterally.",
          "type": "boolean"
        },
        "buyerPauseReason": {
          "description": "The buyer's reason for pausing, if the buyer paused the deal.",
          "type": "string"
        },
        "sellerPauseReason": {
          "description": "The seller's reason for pausing, if the seller paused the deal.",
          "type": "string"
        },
        "hasBuyerPaused": {
          "description": "True, if the buyer has paused the deal unilaterally.",
          "type": "boolean"
        },
        "firstPausedBy": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "The role of the person who first paused this deal.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "TimeInterval": {
      "properties": {
        "startTime": {
          "description": "The timestamp marking the start of the range (inclusive) for which data is included.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The timestamp marking the end of the range (exclusive) for which data is included.",
          "type": "string"
        }
      },
      "id": "TimeInterval",
      "description": "An interval of time, with an absolute start and end.",
      "type": "object"
    },
    "ListDealAssociationsResponse": {
      "id": "ListDealAssociationsResponse",
      "description": "A response for listing creative and deal associations",
      "type": "object",
      "properties": {
        "associations": {
          "description": "The list of associations.",
          "type": "array",
          "items": {
            "$ref": "CreativeDealAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "Image": {
      "id": "Image",
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "type": "object",
      "properties": {
        "width": {
          "description": "Image width in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "url": {
          "description": "The URL of the image.",
          "type": "string"
        },
        "height": {
          "description": "Image height in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DealServingMetadata": {
      "properties": {
        "dealPauseStatus": {
          "$ref": "DealPauseStatus",
          "readOnly": true,
          "description": "Output only. Tracks which parties (if any) have paused a deal."
        }
      },
      "id": "DealServingMetadata",
      "description": "Message captures metadata about the serving status of a deal.",
      "type": "object"
    },
    "ListFilteredBidRequestsResponse": {
      "id": "ListFilteredBidRequestsResponse",
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer.",
      "type": "object",
      "properties": {
        "calloutStatusRows": {
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "Money": {
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "Note": {
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The timestamp for when this note was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatorRole": {
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "description": "Output only. The role of the person (buyer/seller) creating the note."
        },
        "proposalRevision": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The revision number of the proposal when the note is created.",
          "type": "string"
        },
        "noteId": {
          "readOnly": true,
          "description": "Output only. The unique ID for the note.",
          "type": "string"
        },
        "note": {
          "description": "The actual note to attach. (max-length: 1024 unicode code units) Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        }
      },
      "id": "Note",
      "description": "A proposal may be associated to several notes.",
      "type": "object"
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "description": "Specifies the day part targeting criteria.",
      "type": "object",
      "properties": {
        "timeZoneType": {
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string"
        },
        "dayParts": {
          "description": "A list of day part targeting criterion.",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        }
      }
    },
    "Creative": {
      "properties": {
        "declaredClickThroughUrls": {
          "items": {
            "type": "string"
          },
          "description": "The set of declared destination URLs for the creative.",
          "type": "array"
        },
        "attributes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Do not use. This is a placeholder value only.",
              "The creative is of type image/rich media. For pretargeting.",
              "The creative is of video type Adobe Flash FLV. For pretargeting.",
              "The creative is tagged.",
              "The creative is cookie targeted.",
              "The creative is user interest targeted.",
              "The creative does not expand.",
              "The creative expands up.",
              "The creative expands down.",
              "The creative expands left.",
              "The creative expands right.",
              "The creative expands up and left.",
              "The creative expands up and right.",
              "The creative expands down and left.",
              "The creative expands down and right.",
              "The creative type is HTML.",
              "The creative type is VAST video.",
              "The creative expands up or down.",
              "The creative expands left or right.",
              "The creative expands on any diagonal.",
              "The creative expands when rolled over.",
              "The instream vast video type is vpaid flash.",
              "The creative is MRAID.",
              "The creative is Flash.",
              "The creative is HTML5.",
              "The creative has an instream VAST video type of skippable instream video. For pretargeting.",
              "The creative is SSL.",
              "The creative is non-SSL.",
              "The creative is an interstitial.",
              "The creative has an instream VAST video type of non-skippable instream video. For pretargeting.",
              "The creative is eligible for native.",
              "The creative has an instream VAST video type of non-VPAID. For pretargeting.",
              "The creative is not eligible for native.",
              "The creative has an interstitial size of any interstitial. For pretargeting.",
              "The creative has an interstitial size of non interstitial. For pretargeting.",
              "The video type is in-banner video.",
              "The creative can dynamically resize to fill a variety of slot sizes.",
              "The open measurement SDK is supported.",
              "The creative is considered a playable display creative."
            ],
            "enum": [
              "ATTRIBUTE_UNSPECIFIED",
              "IMAGE_RICH_MEDIA",
              "ADOBE_FLASH_FLV",
              "IS_TAGGED",
              "IS_COOKIE_TARGETED",
              "IS_USER_INTEREST_TARGETED",
              "EXPANDING_DIRECTION_NONE",
              "EXPANDING_DIRECTION_UP",
              "EXPANDING_DIRECTION_DOWN",
              "EXPANDING_DIRECTION_LEFT",
              "EXPANDING_DIRECTION_RIGHT",
              "EXPANDING_DIRECTION_UP_LEFT",
              "EXPANDING_DIRECTION_UP_RIGHT",
              "EXPANDING_DIRECTION_DOWN_LEFT",
              "EXPANDING_DIRECTION_DOWN_RIGHT",
              "CREATIVE_TYPE_HTML",
              "CREATIVE_TYPE_VAST_VIDEO",
              "EXPANDING_DIRECTION_UP_OR_DOWN",
              "EXPANDING_DIRECTION_LEFT_OR_RIGHT",
              "EXPANDING_DIRECTION_ANY_DIAGONAL",
              "EXPANDING_ACTION_ROLLOVER_TO_EXPAND",
              "INSTREAM_VAST_VIDEO_TYPE_VPAID_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_MRAID",
              "RICH_MEDIA_CAPABILITY_TYPE_FLASH",
              "RICH_MEDIA_CAPABILITY_TYPE_HTML5",
              "SKIPPABLE_INSTREAM_VIDEO",
              "RICH_MEDIA_CAPABILITY_TYPE_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_NON_SSL",
              "RICH_MEDIA_CAPABILITY_TYPE_INTERSTITIAL",
              "NON_SKIPPABLE_INSTREAM_VIDEO",
              "NATIVE_ELIGIBILITY_ELIGIBLE",
              "NON_VPAID",
              "NATIVE_ELIGIBILITY_NOT_ELIGIBLE",
              "ANY_INTERSTITIAL",
              "NON_INTERSTITIAL",
              "IN_BANNER_VIDEO",
              "RENDERING_SIZELESS_ADX",
              "OMSDK_1_0",
              "RENDERING_PLAYABLE"
            ]
          },
          "description": "All attributes for the ads that may be shown from this creative. Can be used to filter the response of the creatives.list method.",
          "type": "array"
        },
        "openAuctionStatus": {
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "description": "Output only. The top-level open auction status of this creative. If disapproved, an entry for 'auctionType = OPEN_AUCTION' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "agencyId": {
          "format": "int64",
          "description": "The agency ID for this creative.",
          "type": "string"
        },
        "detectedLanguages": {
          "description": "Output only. The detected languages for this creative. The order is arbitrary. The codes are 2 or 5 characters and are documented at https://developers.google.com/adwords/api/docs/appendix/languagecodes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "adTechnologyProviders": {
          "description": "Output only. The detected ad technology providers.",
          "$ref": "AdTechnologyProviders"
        },
        "apiUpdateTime": {
          "format": "google-datetime",
          "description": "Output only. The last update timestamp of the creative through the API.",
          "type": "string"
        },
        "native": {
          "description": "A native creative.",
          "$ref": "NativeContent"
        },
        "detectedDomains": {
          "description": "Output only. The detected domains for this creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedSensitiveCategories": {
          "description": "Output only. Detected sensitive categories, if any. See the ad-sensitive-categories.txt file in the technical documentation for a list of IDs. You should use these IDs along with the excluded-sensitive-category field in the bid request to filter your bids.",
          "type": "array",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "dealsStatus": {
          "description": "Output only. The top-level deals status of this creative. If disapproved, an entry for 'auctionType=DIRECT_DEALS' (or 'ALL') in serving_restrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case, it may be preferable to read from serving_restrictions directly. Can be used to filter the response of the creatives.list method.",
          "type": "string",
          "enumDescriptions": [
            "The status is unknown.",
            "The creative has not been checked.",
            "The creative has been conditionally approved. See serving_restrictions for details.",
            "The creative has been approved.",
            "The creative has been disapproved.",
            "Placeholder for transition to v1beta1. Currently not used.",
            "Placeholder for transition to v1beta1. Currently not used."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_CHECKED",
            "CONDITIONALLY_APPROVED",
            "APPROVED",
            "DISAPPROVED",
            "PENDING_REVIEW",
            "STATUS_TYPE_UNSPECIFIED"
          ]
        },
        "detectedAdvertiserIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. Detected advertiser IDs, if any.",
          "type": "array"
        },
        "accountId": {
          "description": "The account that this creative belongs to. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "video": {
          "description": "A video creative.",
          "$ref": "VideoContent"
        },
        "corrections": {
          "description": "Output only. Shows any corrections that were applied to this creative.",
          "type": "array",
          "items": {
            "$ref": "Correction"
          },
          "deprecated": true
        },
        "advertiserName": {
          "description": "The name of the company being advertised in the creative.",
          "type": "string"
        },
        "creativeId": {
          "description": "The buyer-defined creative ID of this creative. Can be used to filter the response of the creatives.list method.",
          "type": "string"
        },
        "servingRestrictions": {
          "items": {
            "$ref": "ServingRestriction"
          },
          "description": "Output only. The granular status of this ad in specific contexts. A context here relates to where something ultimately serves (for example, a physical location, a platform, an HTTPS versus HTTP request, or the type of auction).",
          "type": "array"
        },
        "vendorIds": {
          "description": "All vendor IDs for the ads that may be shown from this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/vendors.txt for possible values.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "restrictedCategories": {
          "items": {
            "enumDescriptions": [
              "The ad has no restricted categories",
              "The alcohol restricted category."
            ],
            "type": "string",
            "enum": [
              "NO_RESTRICTED_CATEGORIES",
              "ALCOHOL"
            ]
          },
          "description": "All restricted categories for the ads that may be shown from this creative.",
          "type": "array"
        },
        "adChoicesDestinationUrl": {
          "description": "The link to AdChoices destination page.",
          "type": "string"
        },
        "detectedProductCategories": {
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "description": "Output only. Detected product categories, if any. See the ad-product-categories.txt file in the technical documentation for a list of IDs.",
          "type": "array"
        },
        "version": {
          "description": "Output only. The version of this creative.",
          "type": "integer",
          "format": "int32"
        },
        "clickThroughUrls": {
          "description": "The set of destination URLs for the creative.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "impressionTrackingUrls": {
          "items": {
            "type": "string"
          },
          "description": "The set of URLs to be called to record an impression.",
          "type": "array"
        },
        "html": {
          "description": "An HTML creative.",
          "$ref": "HtmlContent"
        }
      },
      "id": "Creative",
      "description": "A creative and its classification data.",
      "type": "object"
    },
    "CreativeSpecification": {
      "properties": {
        "creativeCompanionSizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array"
        },
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        }
      },
      "id": "CreativeSpecification",
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "type": "object"
    },
    "ClientUserInvitation": {
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "format": "int64",
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string"
        },
        "invitationId": {
          "format": "int64",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations.",
          "type": "string"
        }
      }
    },
    "Seller": {
      "properties": {
        "subAccountId": {
          "description": "Output only. Ad manager network code for the seller.",
          "type": "string",
          "readOnly": true
        },
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        }
      },
      "id": "Seller",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object"
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal.",
      "type": "object"
    },
    "NativeContent": {
      "properties": {
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        },
        "storeUrl": {
          "description": "The URL to the app store to purchase/download the promoted app.",
          "type": "string",
          "deprecated": true
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "starRating": {
          "format": "double",
          "description": "The app rating in the app store. Must be in the range [0-5].",
          "type": "number"
        },
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "headline": {
          "description": "A short title for the ad.",
          "type": "string"
        },
        "callToAction": {
          "description": "A label for the button that the user is supposed to click.",
          "type": "string"
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "clickLinkUrl": {
          "description": "The URL that the browser/SDK will load when the user clicks the ad.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a native video ad.",
          "type": "string"
        },
        "advertiserName": {
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative.",
          "type": "string"
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        }
      },
      "id": "NativeContent",
      "description": "Native content for a creative.",
      "type": "object"
    },
    "CreativeSize": {
      "properties": {
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "type": "string"
        },
        "nativeTemplate": {
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ]
        },
        "creativeSizeType": {
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ],
          "description": "The creative size type.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ]
        },
        "companionSizes": {
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO",
          "type": "array",
          "items": {
            "$ref": "Size"
          }
        },
        "allowedFormats": {
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video).",
          "type": "array",
          "items": {
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ],
            "type": "string"
          }
        },
        "size": {
          "description": "For regular or video creative size type, specifies the size of the creative",
          "$ref": "Size"
        }
      },
      "id": "CreativeSize",
      "description": "Specifies the size of the creative.",
      "type": "object"
    },
    "ListImpressionMetricsResponse": {
      "properties": {
        "impressionMetricsRows": {
          "items": {
            "$ref": "ImpressionMetricsRow"
          },
          "description": "List of rows, each containing a set of impression metrics.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListImpressionMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "type": "object"
    },
    "AddNoteRequest": {
      "properties": {
        "note": {
          "description": "Details of the note to add.",
          "$ref": "Note"
        }
      },
      "id": "AddNoteRequest",
      "description": "Request message for adding a note to a given proposal.",
      "type": "object"
    },
    "NonGuaranteedFixedPriceTerms": {
      "properties": {
        "fixedPrices": {
          "description": "Fixed price for the specified buyer.",
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          }
        }
      },
      "id": "NonGuaranteedFixedPriceTerms",
      "description": "Terms for Preferred Deals.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "StopWatchingCreativeRequest": {
      "id": "StopWatchingCreativeRequest",
      "description": "A request for stopping notifications for changes to creative Status.",
      "type": "object",
      "properties": {}
    },
    "TargetingCriteria": {
      "id": "TargetingCriteria",
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting.",
      "type": "object",
      "properties": {
        "key": {
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation.",
          "type": "string"
        },
        "inclusions": {
          "description": "The list of value to include as part of the targeting. Each value is OR'd together.",
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          }
        },
        "exclusions": {
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          }
        }
      }
    },
    "ListLosingBidsResponse": {
      "id": "ListLosingBidsResponse",
      "description": "Response message for listing all reasons that bids lost in the auction.",
      "type": "object",
      "properties": {
        "creativeStatusRows": {
          "items": {
            "$ref": "CreativeStatusRow"
          },
          "description": "List of rows, with counts of losing bids aggregated by loss reason (for example, creative status).",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListLosingBidsRequest.pageToken field in the subsequent call to the losingBids.list method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "description": "Frequency cap.",
      "type": "object",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "numTimeUnits": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        },
        "timeUnitType": {
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        }
      }
    },
    "MetricValue": {
      "properties": {
        "value": {
          "description": "The expected value of the metric.",
          "type": "string",
          "format": "int64"
        },
        "variance": {
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MetricValue",
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled).",
      "type": "object"
    },
    "ListCreativeStatusBreakdownByDetailResponse": {
      "properties": {
        "detailType": {
          "description": "The type of detail that the detail IDs represent.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "Indicates that the detail ID refers to a creative attribute; see [publisher-excludable-creative-attributes](https://developers.google.com/authorized-buyers/rtb/downloads/publisher-excludable-creative-attributes).",
            "Indicates that the detail ID refers to a vendor; see [vendors](https://developers.google.com/authorized-buyers/rtb/downloads/vendors). This namespace is different from that of the `ATP_VENDOR` detail type.",
            "Indicates that the detail ID refers to a sensitive category; see [ad-sensitive-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-sensitive-categories).",
            "Indicates that the detail ID refers to a product category; see [ad-product-categories](https://developers.google.com/authorized-buyers/rtb/downloads/ad-product-categories).",
            "Indicates that the detail ID refers to a disapproval reason; see DisapprovalReason enum in [snippet-status-report-proto](https://developers.google.com/authorized-buyers/rtb/downloads/snippet-status-report-proto).",
            "Indicates that the detail ID refers to a policy topic.",
            "Indicates that the detail ID refers to an ad technology provider (ATP); see [providers] (https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv). This namespace is different from the `VENDOR` detail type; see [ad technology providers](https://support.google.com/admanager/answer/9012903) for more information.",
            "Indicates that the detail string refers the domain of an unknown vendor.",
            "Indicates that the detail ID refers an IAB GVL ID which Google did not detect in the latest TCF Vendor List. See [Global Vendor List] (https://vendor-list.consensu.org/v2/vendor-list.json)"
          ],
          "enum": [
            "DETAIL_TYPE_UNSPECIFIED",
            "CREATIVE_ATTRIBUTE",
            "VENDOR",
            "SENSITIVE_CATEGORY",
            "PRODUCT_CATEGORY",
            "DISAPPROVAL_REASON",
            "POLICY_TOPIC",
            "ATP_VENDOR",
            "VENDOR_DOMAIN",
            "GVL_ID"
          ]
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByDetailRequest.pageToken field in the subsequent call to the filteredBids.details.list method to retrieve the next page of results.",
          "type": "string"
        },
        "filteredBidDetailRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated by detail.",
          "type": "array",
          "items": {
            "$ref": "FilteredBidDetailRow"
          }
        }
      },
      "id": "ListCreativeStatusBreakdownByDetailResponse",
      "description": "Response message for listing all details associated with a given filtered bid reason.",
      "type": "object"
    },
    "MobileApplicationTargeting": {
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings.",
      "type": "object"
    },
    "VideoContent": {
      "properties": {
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        },
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        }
      },
      "id": "VideoContent",
      "description": "Video content for a creative.",
      "type": "object"
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          },
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR).",
          "type": "array",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          }
        }
      }
    },
    "ClientUser": {
      "properties": {
        "userId": {
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation.",
          "type": "string",
          "format": "int64"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ],
          "description": "The status of the client user.",
          "type": "string",
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ]
        },
        "email": {
          "description": "User's email address. The value of this field is ignored in an update operation.",
          "type": "string"
        }
      },
      "id": "ClientUser",
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified.",
      "type": "object"
    },
    "SecurityContext": {
      "properties": {
        "securities": {
          "items": {
            "enum": [
              "INSECURE",
              "SSL"
            ],
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ]
          },
          "description": "The security types in this context.",
          "type": "array"
        }
      },
      "description": "Output only. A security context.",
      "deprecated": true,
      "id": "SecurityContext",
      "type": "object"
    },
    "Price": {
      "id": "Price",
      "description": "Represents a price and a pricing type for a product / deal.",
      "type": "object",
      "properties": {
        "pricingType": {
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "description": "The pricing type for the deal/product. (default: CPM)",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ]
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      }
    },
    "Disapproval": {
      "properties": {
        "reason": {
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ],
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not declared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
            "Misuse of personal information.",
            "Omission of relevant information.",
            "Unavailable promotions.",
            "Misleading or unrealistic promotions.",
            "Offensive or inappropriate content.",
            "Capitalizing on sensitive events.",
            "Shocking content.",
            "Products & Services that enable dishonest behavior.",
            "The ad does not meet technical requirements.",
            "Restricted political content.",
            "Unsupported content.",
            "Invalid bidding method.",
            "Video length exceeds limits.",
            "Unacceptable content: Japanese healthcare.",
            "Online pharmacy ID required.",
            "Unacceptable content: Abortion.",
            "Unacceptable content: Birth control.",
            "Restricted in China.",
            "Unacceptable content: Korean healthcare.",
            "Non-family safe or adult content.",
            "Clinical trial recruitment.",
            "Maximum number of HTTP calls exceeded.",
            "Maximum number of cookies exceeded.",
            "Financial service ad does not adhere to specifications.",
            "Flash content was found in an unsupported context.",
            "Misuse by an Open Measurement SDK script.",
            "Use of an Open Measurement SDK vendor not on approved vendor list.",
            "Unacceptable landing page.",
            "Unsupported language.",
            "Non-SSL compliant.",
            "Temporary pausing of creative.",
            "Promotes services related to bail bonds.",
            "Promotes speculative and/or experimental medical treatments."
          ],
          "description": "The categorized reason for disapproval.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "string"
          },
          "description": "Additional details about the reason for disapproval.",
          "type": "array"
        }
      },
      "id": "Disapproval",
      "description": "Output only. The reason and details for a disapproval.",
      "type": "object"
    },
    "CreativeRestrictions": {
      "properties": {
        "skippableAdType": {
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "description": "Skippable video ads allow viewers to skip ads after 5 seconds.",
          "type": "string"
        },
        "creativeSpecifications": {
          "items": {
            "$ref": "CreativeSpecification"
          },
          "type": "array"
        },
        "creativeFormat": {
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative format.",
            "A creative that will be displayed in environments such as a browser.",
            "A video creative that will be displayed in environments such as a video player."
          ],
          "description": "The format of the environment that the creatives will be displayed in.",
          "type": "string"
        }
      },
      "id": "CreativeRestrictions",
      "description": "Represents creative restrictions associated to Programmatic Guaranteed/ Preferred Deal in Ad Manager. This doesn't apply to Private Auction and AdX Preferred Deals.",
      "type": "object"
    },
    "ListBidResponsesWithoutBidsResponse": {
      "id": "ListBidResponsesWithoutBidsResponse",
      "description": "Response message for listing all reasons that bid responses were considered to have no applicable bids.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponsesWithoutBidsRequest.pageToken field in the subsequent call to the bidResponsesWithoutBids.list method to retrieve the next page of results.",
          "type": "string"
        },
        "bidResponseWithoutBidsStatusRows": {
          "items": {
            "$ref": "BidResponseWithoutBidsStatusRow"
          },
          "description": "List of rows, with counts of bid responses without bids aggregated by status.",
          "type": "array"
        }
      }
    },
    "CalloutStatusRow": {
      "id": "CalloutStatusRow",
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "type": "object",
      "properties": {
        "impressionCount": {
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status.",
          "$ref": "MetricValue"
        },
        "calloutStatusId": {
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "type": "integer",
          "format": "int32"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      }
    },
    "NonBillableWinningBidStatusRow": {
      "id": "NonBillableWinningBidStatusRow",
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status.",
      "type": "object",
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "status": {
          "description": "The status specifying why the winning bids were not billed.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall.",
            "The impression was not billed because it exceeded a guaranteed deal delivery goal."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION",
            "OVERDELIVERED_IMPRESSION"
          ]
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      }
    },
    "PricePerBuyer": {
      "properties": {
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "buyer": {
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer).",
          "$ref": "Buyer"
        }
      },
      "id": "PricePerBuyer",
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.",
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer and contains deals which are served. Note: You can't update, create, or otherwise modify Private Auction deals through the API. Fields are updatable unless noted otherwise.",
      "type": "object",
      "properties": {
        "deals": {
          "description": "The deals associated with this proposal. For Private Auction proposals (whose deals have NonGuaranteedAuctionTerms), there will only be one deal.",
          "type": "array",
          "items": {
            "$ref": "Deal"
          }
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions set by the publisher for this proposal.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "buyer": {
          "description": "Reference to the buyer on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Buyer"
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal is being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal. Each update to the proposal or the deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "privateAuctionId": {
          "description": "Output only. Private auction ID if this proposal is a private auction proposal.",
          "type": "string",
          "readOnly": true
        },
        "isSetupComplete": {
          "deprecated": true,
          "description": "Output only. True, if the buyside inventory setup is complete for this proposal.",
          "type": "boolean",
          "readOnly": true
        },
        "lastUpdaterOrCommentorRole": {
          "type": "string",
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "seller": {
          "description": "Reference to the seller on the proposal. Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "$ref": "Seller"
        },
        "proposalId": {
          "readOnly": true,
          "description": "Output only. The unique ID of the proposal.",
          "type": "string"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          }
        },
        "billedBuyer": {
          "readOnly": true,
          "description": "Output only. Reference to the buyer that will get billed for this proposal.",
          "$ref": "Buyer"
        },
        "originatorRole": {
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "Output only. The notes associated with this proposal.",
          "type": "array",
          "readOnly": true
        },
        "proposalState": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined proposal state.",
            "The proposal is under negotiation or renegotiation.",
[...]
