{
  "baseUrl": "https://adexchangebuyer.googleapis.com/",
  "servicePath": "",
  "canonicalName": "AdExchangeBuyerII",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/reference/rest/",
  "discoveryVersion": "v1",
  "title": "Ad Exchange Buyer API II",
  "protocol": "rest",
  "version_module": true,
  "ownerName": "Google",
  "version": "v2beta1",
  "id": "adexchangebuyer2:v2beta1",
  "kind": "discovery#restDescription",
  "schemas": {
    "NonBillableWinningBidStatusRow": {
      "id": "NonBillableWinningBidStatusRow",
      "description": "The number of winning bids with the specified dimension values for which the buyer was not billed, as described by the specified status.",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The buyer was not billed because the ad was not rendered by the publisher.",
            "The buyer was not billed because the impression won by the bid was determined to be invalid.",
            "A video impression was served but a fatal error was reported from the client during playback.",
            "The buyer was not billed because the ad was outplaced in the mediation waterfall.",
            "The impression was not billed because it exceeded a guaranteed deal delivery goal."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "AD_NOT_RENDERED",
            "INVALID_IMPRESSION",
            "FATAL_VAST_ERROR",
            "LOST_IN_MEDIATION",
            "OVERDELIVERED_IMPRESSION"
          ],
          "type": "string",
          "description": "The status specifying why the winning bids were not billed."
        }
      }
    },
    "Product": {
      "type": "object",
      "id": "Product",
      "description": "A product is a segment of inventory that a seller wants to sell. It is associated with certain terms and targeting information which helps the buyer know more about the inventory.",
      "properties": {
        "publisherProfileId": {
          "description": "An ID which can be used by the Publisher Profile API to get more information about the seller that created this product.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The display name for this product as set by the seller."
        },
        "updateTime": {
          "type": "string",
          "description": "Time of last update.",
          "format": "google-datetime"
        },
        "seller": {
          "description": "Information about the seller that created this product.",
          "$ref": "Seller"
        },
        "creatorContacts": {
          "type": "array",
          "items": {
            "$ref": "ContactInformation"
          },
          "description": "Optional contact information for the creator of this product."
        },
        "availableStartTime": {
          "format": "google-datetime",
          "description": "Inventory availability dates. The start time will be truncated to seconds during serving. Thus, a field specified as 3:23:34.456 (HH:mm:ss.SSS) will be truncated to 3:23:34 when serving.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Creation time.",
          "format": "google-datetime"
        },
        "productId": {
          "description": "The unique ID for the product.",
          "type": "string"
        },
        "targetingCriterion": {
          "type": "array",
          "items": {
            "$ref": "TargetingCriteria"
          },
          "description": "Targeting that is shared between the buyer and the seller. Each targeting criterion has a specified key and for each key there is a list of inclusion value or exclusion values."
        },
        "syndicationProduct": {
          "type": "string",
          "description": "The syndication product associated with the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined syndication product.",
            "This typically represents a web page.",
            "This represents a mobile property.",
            "This represents video ad formats.",
            "This represents ads shown within games."
          ],
          "enum": [
            "SYNDICATION_PRODUCT_UNSPECIFIED",
            "CONTENT",
            "MOBILE",
            "VIDEO",
            "GAMES"
          ]
        },
        "terms": {
          "description": "The negotiable terms of the deal.",
          "$ref": "DealTerms"
        },
        "availableEndTime": {
          "type": "string",
          "description": "The proposed end time for the deal. The field will be truncated to the order of seconds during serving.",
          "format": "google-datetime"
        },
        "webPropertyCode": {
          "description": "The web-property code for the seller. This needs to be copied as is when adding a new deal to a proposal.",
          "type": "string"
        },
        "productRevision": {
          "format": "int64",
          "description": "The revision number of the product (auto-assigned by Marketplace).",
          "type": "string"
        },
        "hasCreatorSignedOff": {
          "type": "boolean",
          "description": "If the creator has already signed off on the product, then the buyer can finalize the deal by accepting the product as is. When copying to a proposal, if any of the terms are changed, then auto_finalize is automatically set to false."
        }
      }
    },
    "BidMetricsRow": {
      "properties": {
        "bids": {
          "description": "The number of bids that Ad Exchange received from the buyer.",
          "$ref": "MetricValue"
        },
        "bidsInAuction": {
          "description": "The number of bids that were permitted to compete in the auction.",
          "$ref": "MetricValue"
        },
        "billedImpressions": {
          "description": "The number of bids for which the buyer was billed. Also called valid impressions as invalid impressions are not billed.",
          "$ref": "MetricValue"
        },
        "measurableImpressions": {
          "description": "The number of bids for which the corresponding impression was measurable for viewability (as defined by Active View).",
          "$ref": "MetricValue"
        },
        "impressionsWon": {
          "description": "The number of bids that won the auction.",
          "$ref": "MetricValue"
        },
        "reachedQueries": {
          "description": "The number of bids that won the auction and also won the mediation waterfall (if any).",
          "$ref": "MetricValue"
        },
        "viewableImpressions": {
          "description": "The number of bids for which the corresponding impression was viewable (as defined by Active View).",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        }
      },
      "id": "BidMetricsRow",
      "description": "The set of metrics that are measured in numbers of bids, representing how many bids with the specified dimension values were considered eligible at each stage of the bidding funnel;",
      "type": "object"
    },
    "ListFilterSetsResponse": {
      "id": "ListFilterSetsResponse",
      "description": "Response message for listing filter sets.",
      "type": "object",
      "properties": {
        "filterSets": {
          "description": "The filter sets belonging to the buyer.",
          "type": "array",
          "items": {
            "$ref": "FilterSet"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilterSetsRequest.pageToken field in the subsequent call to the accounts.filterSets.list method to retrieve the next page of results."
        }
      }
    },
    "MetricValue": {
      "id": "MetricValue",
      "description": "A metric value, with an expected value and a variance; represents a count that may be either exact or estimated (for example, when sampled).",
      "type": "object",
      "properties": {
        "value": {
          "description": "The expected value of the metric.",
          "type": "string",
          "format": "int64"
        },
        "variance": {
          "format": "int64",
          "description": "The variance (for example, square of the standard deviation) of the metric value. If value is exact, variance is 0. Can be used to calculate margin of error as a percentage of value, using the following formula, where Z is the standard constant that depends on the preferred size of the confidence interval (for example, for 90% confidence interval, use Z = 1.645): marginOfError = 100 * Z * sqrt(variance) / value",
          "type": "string"
        }
      }
    },
    "ServingRestriction": {
      "properties": {
        "status": {
          "enumDescriptions": [
            "The status is not known.",
            "The ad was disapproved in this context.",
            "The ad is pending review in this context."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "DISAPPROVAL",
            "PENDING_REVIEW"
          ],
          "type": "string",
          "description": "The status of the creative in this context (for example, it has been explicitly disapproved or is pending review)."
        },
        "contexts": {
          "description": "The contexts for the restriction.",
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          }
        },
        "disapprovalReasons": {
          "deprecated": true,
          "type": "array",
          "items": {
            "$ref": "Disapproval"
          },
          "description": "Any disapprovals bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method. Deprecated; use disapproval field instead."
        },
        "disapproval": {
          "description": "Disapproval bound to this restriction. Only present if status=DISAPPROVED. Can be used to filter the response of the creatives.list method.",
          "$ref": "Disapproval"
        }
      },
      "type": "object",
      "id": "ServingRestriction",
      "description": "Output only. A representation of the status of an ad in a specific context. A context here relates to where something ultimately serves (for example, a user or publisher geo, a platform, an HTTPS versus HTTP request, or the type of auction)."
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "description": "A buyer or seller specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal/deal."
    },
    "MarketplaceTargeting": {
      "properties": {
        "placementTargeting": {
          "description": "Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "technologyTargeting": {
          "description": "Technology targeting information, for example, operating system, device category.",
          "$ref": "TechnologyTargeting"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be included/excluded.",
          "$ref": "InventorySizeTargeting"
        },
        "videoTargeting": {
          "description": "Video targeting information.",
          "$ref": "VideoTargeting"
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used by advertisers to target ad inventory. For example, they can choose to target ad requests only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "type": "object"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "description": "Request to cancel an ongoing negotiation.",
      "type": "object",
      "properties": {}
    },
    "RelativeDateRange": {
      "properties": {
        "offsetDays": {
          "description": "The end date of the filter set, specified as the number of days before today, for example, for a range where the last date is today: 0.",
          "type": "integer",
          "format": "int32"
        },
        "durationDays": {
          "description": "The number of days in the requested date range, for example, for a range spanning today: 1. For a range spanning the last 7 days: 7.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "RelativeDateRange",
      "description": "A relative date range, specified by an offset and a duration. The supported range of dates begins 30 days before today and ends today, for example, the limits for these values are: offset_days >= 0 duration_days >= 1 offset_days + duration_days <= 30",
      "type": "object"
    },
    "ListProposalsResponse": {
      "properties": {
        "proposals": {
          "description": "The list of proposals.",
          "type": "array",
          "items": {
            "$ref": "Proposal"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals."
    },
    "TargetingCriteria": {
      "properties": {
        "key": {
          "type": "string",
          "description": "The key representing the shared targeting criterion. Targeting criteria defined by Google ad servers will begin with GOOG_. Third parties may define their own keys. A list of permissible keys along with the acceptable values will be provided as part of the external documentation."
        },
        "exclusions": {
          "description": "The list of values to exclude from targeting. Each value is AND'd together.",
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          }
        },
        "inclusions": {
          "type": "array",
          "items": {
            "$ref": "TargetingValue"
          },
          "description": "The list of value to include as part of the targeting. Each value is OR'd together."
        }
      },
      "type": "object",
      "id": "TargetingCriteria",
      "description": "Advertisers can target different attributes of an ad slot. For example, they can choose to show ads only if the user is in the U.S. Such targeting criteria can be specified as part of Shared Targeting."
    },
    "TechnologyTargeting": {
      "properties": {
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "type": "object",
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology."
    },
    "HtmlContent": {
      "id": "HtmlContent",
      "description": "HTML content for a creative.",
      "type": "object",
      "properties": {
        "snippet": {
          "description": "The HTML snippet that displays the ad when inserted in the web page.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "description": "The width of the HTML snippet in pixels.",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "description": "The height of the HTML snippet in pixels.",
          "type": "integer"
        }
      }
    },
    "ListCreativeStatusBreakdownByCreativeResponse": {
      "properties": {
        "filteredBidCreativeRows": {
          "description": "List of rows, with counts of bids with a given creative status aggregated by creative.",
          "type": "array",
          "items": {
            "$ref": "FilteredBidCreativeRow"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativeStatusBreakdownByCreativeRequest.pageToken field in the subsequent call to the filteredBids.creatives.list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListCreativeStatusBreakdownByCreativeResponse",
      "description": "Response message for listing all creatives associated with a given filtered bid reason.",
      "type": "object"
    },
    "ClientUserInvitation": {
      "type": "object",
      "id": "ClientUserInvitation",
      "description": "An invitation for a new client user to get access to the Authorized Buyers UI. All fields are required unless otherwise specified.",
      "properties": {
        "email": {
          "description": "The email address to which the invitation is sent. Email addresses should be unique among all client users under each sponsor buyer.",
          "type": "string"
        },
        "clientAccountId": {
          "description": "Numerical account ID of the client buyer that the invited user is associated with. The value of this field is ignored in create operations.",
          "type": "string",
          "format": "int64"
        },
        "invitationId": {
          "format": "int64",
          "type": "string",
          "description": "The unique numerical ID of the invitation that is sent to the user. The value of this field is ignored in create operations."
        }
      }
    },
    "AppContext": {
      "properties": {
        "appTypes": {
          "description": "The app types this restriction applies to.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Native app context.",
              "Mobile web app context."
            ],
            "enum": [
              "NATIVE",
              "WEB"
            ],
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AppContext",
      "description": "Output only. The app type the restriction applies to for mobile device."
    },
    "Disapproval": {
      "properties": {
        "reason": {
          "description": "The categorized reason for disapproval.",
          "type": "string",
          "enumDescriptions": [
            "The length of the image animation is longer than allowed.",
            "The click through URL doesn't work properly.",
            "Something is wrong with the creative itself.",
            "The ad makes a fourth party call to an unapproved vendor.",
            "The ad targets consumers using remarketing lists and/or collects data for subsequent use in retargeting, but does not correctly declare that use.",
            "Clicking on the ad leads to an error page.",
            "The ad size when rendered does not match the declaration.",
            "Ads with a white background require a border, which was missing.",
            "The creative attempts to set cookies from a fourth party that is not certified.",
            "The creative sets an LSO object.",
            "The ad serves a blank.",
            "The ad uses rotation, but not all destination URLs were declared.",
            "There is a problem with the way the click macro is used.",
            "The ad technology declaration is not accurate.",
            "The actual destination URL does not match the declared destination URL.",
            "The declared expanding direction does not match the actual direction.",
            "The ad does not expand in a supported direction.",
            "The ad uses an expandable vendor that is not supported.",
            "There was an issue with the expandable ad.",
            "The ad uses a video vendor that is not supported.",
            "The length of the video ad is not supported.",
            "The format of the video ad is not supported.",
            "There was an issue with the video ad.",
            "The landing page does not conform to Ad Exchange policy.",
            "The ad or the landing page may contain malware.",
            "The ad contains adult images or video content.",
            "The ad contains text that is unclear or inaccurate.",
            "The ad promotes counterfeit designer goods.",
            "The ad causes a popup window to appear.",
            "The creative does not follow policies set for the RTB protocol.",
            "The ad contains a URL that uses a numeric IP address for the domain.",
            "The ad or landing page contains unacceptable content because it initiated a software or executable download.",
            "The ad set an unauthorized cookie on a Google domain.",
            "Flash content found when no flash was declared.",
            "SSL support declared but not working correctly.",
            "Rich Media - Direct Download in Ad (ex. PDF download).",
            "Maximum download size exceeded.",
            "Bad Destination URL: Site Not Crawlable.",
            "Bad URL: Legal disapproval.",
            "Pharmaceuticals, Gambling, Alcohol not allowed and at least one was detected.",
            "Dynamic DNS at Destination URL.",
            "Poor Image / Video Quality.",
            "For example, Image Trick to Click.",
            "Incorrect Image Layout.",
            "Irrelevant Image / Video.",
            "Broken back button.",
            "Misleading/Inaccurate claims in ads.",
            "Restricted Products.",
            "Unacceptable content. For example, malware.",
            "The ad automatically redirects to the destination site without a click, or reports a click when none were made.",
            "The ad uses URL protocols that do not exist or are not allowed on AdX.",
            "Restricted content (for example, alcohol) was found in the ad but not declared.",
            "Violation of the remarketing list policy.",
            "The destination site's robot.txt file prevents it from being crawled.",
            "Click to download must link to an app.",
            "A review extension must be an accurate review.",
            "Sexually explicit content.",
            "The ad tries to gain an unfair traffic advantage.",
            "The ad tries to circumvent Google's advertising systems.",
            "The ad promotes dangerous knives.",
            "The ad promotes explosives.",
            "The ad promotes guns & parts.",
            "The ad promotes recreational drugs/services & related equipment.",
            "The ad promotes tobacco products/services & related equipment.",
            "The ad promotes weapons.",
            "The ad is unclear or irrelevant to the destination site.",
            "The ad does not meet professional standards.",
            "The promotion is unnecessarily difficult to navigate.",
            "Violation of Google's policy for interest-based ads.",
            "Misuse of personal information.",
            "Omission of relevant information.",
            "Unavailable promotions.",
            "Misleading or unrealistic promotions.",
            "Offensive or inappropriate content.",
            "Capitalizing on sensitive events.",
            "Shocking content.",
            "Products & Services that enable dishonest behavior.",
            "The ad does not meet technical requirements.",
            "Restricted political content.",
            "Unsupported content.",
            "Invalid bidding method.",
            "Video length exceeds limits.",
            "Unacceptable content: Japanese healthcare.",
            "Online pharmacy ID required.",
            "Unacceptable content: Abortion.",
            "Unacceptable content: Birth control.",
            "Restricted in China.",
            "Unacceptable content: Korean healthcare.",
            "Non-family safe or adult content.",
            "Clinical trial recruitment.",
            "Maximum number of HTTP calls exceeded.",
            "Maximum number of cookies exceeded.",
            "Financial service ad does not adhere to specifications.",
            "Flash content was found in an unsupported context.",
            "Misuse by an Open Measurement SDK script.",
            "Use of an Open Measurement SDK vendor not on approved vendor list.",
            "Unacceptable landing page.",
            "Unsupported language.",
            "Non-SSL compliant.",
            "Temporary pausing of creative.",
            "Promotes services related to bail bonds.",
            "Promotes speculative and/or experimental medical treatments."
          ],
          "enum": [
            "LENGTH_OF_IMAGE_ANIMATION",
            "BROKEN_URL",
            "MEDIA_NOT_FUNCTIONAL",
            "INVALID_FOURTH_PARTY_CALL",
            "INCORRECT_REMARKETING_DECLARATION",
            "LANDING_PAGE_ERROR",
            "AD_SIZE_DOES_NOT_MATCH_AD_SLOT",
            "NO_BORDER",
            "FOURTH_PARTY_BROWSER_COOKIES",
            "LSO_OBJECTS",
            "BLANK_CREATIVE",
            "DESTINATION_URLS_UNDECLARED",
            "PROBLEM_WITH_CLICK_MACRO",
            "INCORRECT_AD_TECHNOLOGY_DECLARATION",
            "INCORRECT_DESTINATION_URL_DECLARATION",
            "EXPANDABLE_INCORRECT_DIRECTION",
            "EXPANDABLE_DIRECTION_NOT_SUPPORTED",
            "EXPANDABLE_INVALID_VENDOR",
            "EXPANDABLE_FUNCTIONALITY",
            "VIDEO_INVALID_VENDOR",
            "VIDEO_UNSUPPORTED_LENGTH",
            "VIDEO_UNSUPPORTED_FORMAT",
            "VIDEO_FUNCTIONALITY",
            "LANDING_PAGE_DISABLED",
            "MALWARE_SUSPECTED",
            "ADULT_IMAGE_OR_VIDEO",
            "INACCURATE_AD_TEXT",
            "COUNTERFEIT_DESIGNER_GOODS",
            "POP_UP",
            "INVALID_RTB_PROTOCOL_USAGE",
            "RAW_IP_ADDRESS_IN_SNIPPET",
            "UNACCEPTABLE_CONTENT_SOFTWARE",
            "UNAUTHORIZED_COOKIE_ON_GOOGLE_DOMAIN",
            "UNDECLARED_FLASH_OBJECTS",
            "INVALID_SSL_DECLARATION",
            "DIRECT_DOWNLOAD_IN_AD",
            "MAXIMUM_DOWNLOAD_SIZE_EXCEEDED",
            "DESTINATION_URL_SITE_NOT_CRAWLABLE",
            "BAD_URL_LEGAL_DISAPPROVAL",
            "PHARMA_GAMBLING_ALCOHOL_NOT_ALLOWED",
            "DYNAMIC_DNS_AT_DESTINATION_URL",
            "POOR_IMAGE_OR_VIDEO_QUALITY",
            "UNACCEPTABLE_IMAGE_CONTENT",
            "INCORRECT_IMAGE_LAYOUT",
            "IRRELEVANT_IMAGE_OR_VIDEO",
            "DESTINATION_SITE_DOES_NOT_ALLOW_GOING_BACK",
            "MISLEADING_CLAIMS_IN_AD",
            "RESTRICTED_PRODUCTS",
            "UNACCEPTABLE_CONTENT",
            "AUTOMATED_AD_CLICKING",
            "INVALID_URL_PROTOCOL",
            "UNDECLARED_RESTRICTED_CONTENT",
            "INVALID_REMARKETING_LIST_USAGE",
            "DESTINATION_SITE_NOT_CRAWLABLE_ROBOTS_TXT",
            "CLICK_TO_DOWNLOAD_NOT_AN_APP",
            "INACCURATE_REVIEW_EXTENSION",
            "SEXUALLY_EXPLICIT_CONTENT",
            "GAINING_AN_UNFAIR_ADVANTAGE",
            "GAMING_THE_GOOGLE_NETWORK",
            "DANGEROUS_PRODUCTS_KNIVES",
            "DANGEROUS_PRODUCTS_EXPLOSIVES",
            "DANGEROUS_PRODUCTS_GUNS",
            "DANGEROUS_PRODUCTS_DRUGS",
            "DANGEROUS_PRODUCTS_TOBACCO",
            "DANGEROUS_PRODUCTS_WEAPONS",
            "UNCLEAR_OR_IRRELEVANT_AD",
            "PROFESSIONAL_STANDARDS",
            "DYSFUNCTIONAL_PROMOTION",
            "INVALID_INTEREST_BASED_AD",
            "MISUSE_OF_PERSONAL_INFORMATION",
            "OMISSION_OF_RELEVANT_INFORMATION",
            "UNAVAILABLE_PROMOTIONS",
            "MISLEADING_PROMOTIONS",
            "INAPPROPRIATE_CONTENT",
            "SENSITIVE_EVENTS",
            "SHOCKING_CONTENT",
            "ENABLING_DISHONEST_BEHAVIOR",
            "TECHNICAL_REQUIREMENTS",
            "RESTRICTED_POLITICAL_CONTENT",
            "UNSUPPORTED_CONTENT",
            "INVALID_BIDDING_METHOD",
            "VIDEO_TOO_LONG",
            "VIOLATES_JAPANESE_PHARMACY_LAW",
            "UNACCREDITED_PET_PHARMACY",
            "ABORTION",
            "CONTRACEPTIVES",
            "NEED_CERTIFICATES_TO_ADVERTISE_IN_CHINA",
            "KCDSP_REGISTRATION",
            "NOT_FAMILY_SAFE",
            "CLINICAL_TRIAL_RECRUITMENT",
            "MAXIMUM_NUMBER_OF_HTTP_CALLS_EXCEEDED",
            "MAXIMUM_NUMBER_OF_COOKIES_EXCEEDED",
            "PERSONAL_LOANS",
            "UNSUPPORTED_FLASH_CONTENT",
            "MISUSE_BY_OMID_SCRIPT",
            "NON_WHITELISTED_OMID_VENDOR",
            "DESTINATION_EXPERIENCE",
            "UNSUPPORTED_LANGUAGE",
            "NON_SSL_COMPLIANT",
            "TEMPORARY_PAUSE",
            "BAIL_BONDS",
            "EXPERIMENTAL_MEDICAL_TREATMENT"
          ]
        },
        "details": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional details about the reason for disapproval."
        }
      },
      "type": "object",
      "id": "Disapproval",
      "description": "Output only. The reason and details for a disapproval."
    },
    "PricePerBuyer": {
      "id": "PricePerBuyer",
      "description": "Used to specify pricing rules for buyers/advertisers. Each PricePerBuyer in a product can become 0 or 1 deals. To check if there is a PricePerBuyer for a particular buyer or buyer/advertiser pair, we look for the most specific matching rule - we first look for a rule matching the buyer and advertiser, next a rule with the buyer but an empty advertiser list, and otherwise look for a matching rule where no buyer is set.",
      "type": "object",
      "properties": {
        "price": {
          "description": "The specified price.",
          "$ref": "Price"
        },
        "buyer": {
          "description": "The buyer who will pay this price. If unset, all buyers can pay this price (if the advertisers match, and there's no more specific rule matching the buyer).",
          "$ref": "Buyer"
        },
        "advertiserIds": {
          "description": "The list of advertisers for this price when associated with this buyer. If empty, all advertisers with this buyer pay this price.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VideoContent": {
      "properties": {
        "videoUrl": {
          "description": "The URL to fetch a video ad.",
          "type": "string"
        },
        "videoVastXml": {
          "description": "The contents of a VAST document for a video ad. This document should conform to the VAST 2.0 or 3.0 standard.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoContent",
      "description": "Video content for a creative."
    },
    "AdTechnologyProviders": {
      "properties": {
        "hasUnidentifiedProvider": {
          "type": "boolean",
          "description": "Whether the creative contains an unidentified ad technology provider. If true for a given creative, any bid submitted with that creative for an impression that will serve to an EEA user will be filtered before the auction."
        },
        "detectedProviderIds": {
          "description": "The detected ad technology provider IDs for this creative. See https://storage.googleapis.com/adx-rtb-dictionaries/providers.csv for mapping of provider ID to provided name, a privacy policy URL, and a list of domains which can be attributed to the provider. If the creative contains provider IDs that are outside of those listed in the `BidRequest.adslot.consented_providers_settings.consented_providers` field on the (Google bid protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/realtime-bidding-proto] and the `BidRequest.user.ext.consented_providers_settings.consented_providers` field on the (OpenRTB protocol)[https://developers.google.com/authorized-buyers/rtb/downloads/openrtb-adx-proto], and a bid is submitted with that creative for an impression that will serve to an EEA user, the bid will be filtered before the auction.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object",
      "id": "AdTechnologyProviders",
      "description": "Detected ad technology provider information."
    },
    "NativeContent": {
      "properties": {
        "videoUrl": {
          "type": "string",
          "description": "The URL to fetch a native video ad."
        },
        "priceDisplayText": {
          "description": "The price of the promoted app including currency info.",
          "type": "string"
        },
        "starRating": {
          "format": "double",
          "type": "number",
          "description": "The app rating in the app store. Must be in the range [0-5]."
        },
        "advertiserName": {
          "type": "string",
          "description": "The name of the advertiser or sponsor, to be displayed in the ad creative."
        },
        "clickLinkUrl": {
          "type": "string",
          "description": "The URL that the browser/SDK will load when the user clicks the ad."
        },
        "image": {
          "description": "A large image.",
          "$ref": "Image"
        },
        "headline": {
          "type": "string",
          "description": "A short title for the ad."
        },
        "callToAction": {
          "type": "string",
          "description": "A label for the button that the user is supposed to click."
        },
        "body": {
          "description": "A long description of the ad.",
          "type": "string"
        },
        "appIcon": {
          "description": "The app icon, for app download ads.",
          "$ref": "Image"
        },
        "clickTrackingUrl": {
          "description": "The URL to use for click tracking.",
          "type": "string"
        },
        "storeUrl": {
          "description": "The URL to the app store to purchase/download the promoted app.",
          "deprecated": true,
          "type": "string"
        },
        "logo": {
          "description": "A smaller image, for the advertiser's logo.",
          "$ref": "Image"
        }
      },
      "type": "object",
      "id": "NativeContent",
      "description": "Native content for a creative."
    },
    "ListBidResponseErrorsResponse": {
      "type": "object",
      "id": "ListBidResponseErrorsResponse",
      "description": "Response message for listing all reasons that bid responses resulted in an error.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidResponseErrorsRequest.pageToken field in the subsequent call to the bidResponseErrors.list method to retrieve the next page of results.",
          "type": "string"
        },
        "calloutStatusRows": {
          "type": "array",
          "items": {
            "$ref": "CalloutStatusRow"
          },
          "description": "List of rows, with counts of bid responses aggregated by callout status."
        }
      }
    },
    "ListClientUserInvitationsResponse": {
      "type": "object",
      "id": "ListClientUserInvitationsResponse",
      "properties": {
        "invitations": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUserInvitation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUserInvitationsRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        }
      }
    },
    "Seller": {
      "properties": {
        "accountId": {
          "description": "The unique ID for the seller. The seller fills in this field. The seller account ID is then available to buyer in the product.",
          "type": "string"
        },
        "subAccountId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Ad manager network code for the seller."
        }
      },
      "id": "Seller",
      "description": "Represents a seller of inventory. Each seller is identified by a unique Ad Manager account ID.",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "nanos": {
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UrlTargeting": {
      "id": "UrlTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction and AdX Preferred Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "type": "object",
      "properties": {
        "targetedUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included."
        },
        "excludedUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be excluded."
        }
      }
    },
    "StopWatchingCreativeRequest": {
      "properties": {},
      "id": "StopWatchingCreativeRequest",
      "description": "A request for stopping notifications for changes to creative Status.",
      "type": "object"
    },
    "VideoTargeting": {
      "type": "object",
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When the included list is present, the excluded list must be empty. When the excluded list is present, the included list must be empty.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          }
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "description": "A list of video positions to be excluded. Position types can either be included or excluded (XOR)."
        }
      }
    },
    "ListFilteredBidRequestsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListFilteredBidRequestsRequest.pageToken field in the subsequent call to the filteredBidRequests.list method to retrieve the next page of results.",
          "type": "string"
        },
        "calloutStatusRows": {
          "description": "List of rows, with counts of filtered bid requests aggregated by callout status.",
          "type": "array",
          "items": {
            "$ref": "CalloutStatusRow"
          }
        }
      },
      "type": "object",
      "id": "ListFilteredBidRequestsResponse",
      "description": "Response message for listing all reasons that bid requests were filtered and not sent to the buyer."
    },
    "ResumeProposalDealsRequest": {
      "properties": {
        "externalDealIds": {
          "description": "The external_deal_id's of the deals to resume. If empty, all the deals in the proposal will be resumed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "ResumeProposalDealsRequest",
      "description": "Request message to resume (unpause) serving for already-finalized deals."
    },
    "Buyer": {
      "type": "object",
      "id": "Buyer",
      "description": "Represents a buyer of inventory. Each buyer is identified by a unique Authorized Buyers account ID.",
      "properties": {
        "accountId": {
          "description": "Authorized Buyers account ID of the buyer.",
          "type": "string"
        }
      }
    },
    "PauseProposalDealsRequest": {
      "id": "PauseProposalDealsRequest",
      "description": "Request message to pause serving for finalized deals.",
      "type": "object",
      "properties": {
        "externalDealIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The external_deal_id's of the deals to be paused. If empty, all the deals in the proposal will be paused."
        },
        "reason": {
          "type": "string",
          "description": "The reason why the deals are being paused. This human readable message will be displayed in the seller's UI. (Max length: 1000 unicode code units.)"
        }
      }
    },
    "FilterSet": {
      "id": "FilterSet",
      "description": "A set of filters that is applied to a request for data. Within a filter set, an AND operation is performed across the filters represented by each field. An OR operation is performed across the filters represented by the multiple values of a repeated field, for example, \"format=VIDEO AND deal_id=12 AND (seller_network_id=34 OR seller_network_id=56)\".",
      "type": "object",
      "properties": {
        "dealId": {
          "description": "The ID of the deal on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern.",
          "type": "string",
          "format": "int64"
        },
        "platforms": {
          "description": "The list of platforms on which to filter; may be empty. The filters represented by multiple platforms are ORed together (for example, if non-empty, results must match any one of the platforms).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined platform; indicates that no platform filter will be applied.",
              "The ad impression appears on a desktop.",
              "The ad impression appears on a tablet.",
              "The ad impression appears on a mobile device."
            ],
            "enum": [
              "PLATFORM_UNSPECIFIED",
              "DESKTOP",
              "TABLET",
              "MOBILE"
            ]
          }
        },
        "realtimeTimeRange": {
          "description": "An open-ended realtime time range, defined by the aggregation start timestamp.",
          "$ref": "RealtimeTimeRange"
        },
        "publisherIdentifiers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For Open Bidding partners only. The list of publisher identifiers on which to filter; may be empty. The filters represented by multiple publisher identifiers are ORed together."
        },
        "absoluteDateRange": {
          "description": "An absolute date range, defined by a start date and an end date. Interpreted relative to Pacific time zone.",
          "$ref": "AbsoluteDateRange"
        },
        "timeSeriesGranularity": {
          "enumDescriptions": [
            "A placeholder for an unspecified interval; no time series is applied. All rows in response will contain data for the entire requested time range.",
            "Indicates that data will be broken down by the hour.",
            "Indicates that data will be broken down by the day."
          ],
          "enum": [
            "TIME_SERIES_GRANULARITY_UNSPECIFIED",
            "HOURLY",
            "DAILY"
          ],
          "type": "string",
          "description": "The granularity of time intervals if a time series breakdown is preferred; optional."
        },
        "formats": {
          "description": "Creative formats bidded on or allowed to bid on, can be empty. Although this field is a list, it can only be populated with a single item. A HTTP 400 bad request error will be returned in the response if you specify multiple items.",
          "deprecated": true,
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined format; indicates that no format filter will be applied.",
              "The ad impression is a native ad, and display (for example, image) format.",
              "The ad impression is a native ad, and video format.",
              "The ad impression is not a native ad, and display (for example, image) format.",
              "The ad impression is not a native ad, and video format."
            ],
            "enum": [
              "FORMAT_UNSPECIFIED",
              "NATIVE_DISPLAY",
              "NATIVE_VIDEO",
              "NON_NATIVE_DISPLAY",
              "NON_NATIVE_VIDEO"
            ],
            "type": "string"
          }
        },
        "breakdownDimensions": {
          "description": "The set of dimensions along which to break down the response; may be empty. If multiple dimensions are requested, the breakdown is along the Cartesian product of the requested dimensions.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an unspecified dimension; should not be used.",
              "The response should be broken down by publisher identifier. This option is available only for Open Bidding buyers."
            ],
            "enum": [
              "BREAKDOWN_DIMENSION_UNSPECIFIED",
              "PUBLISHER_IDENTIFIER"
            ]
          }
        },
        "format": {
          "type": "string",
          "description": "Creative format bidded on or allowed to bid on, can be empty.",
          "enumDescriptions": [
            "A placeholder for an undefined format; indicates that no format filter will be applied.",
            "The ad impression is a native ad, and display (for example, image) format.",
            "The ad impression is a native ad, and video format.",
            "The ad impression is not a native ad, and display (for example, image) format.",
            "The ad impression is not a native ad, and video format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "NATIVE_DISPLAY",
            "NATIVE_VIDEO",
            "NON_NATIVE_DISPLAY",
            "NON_NATIVE_VIDEO"
          ]
        },
        "relativeDateRange": {
          "description": "A relative date range, defined by an offset from today and a duration. Interpreted relative to Pacific time zone.",
          "$ref": "RelativeDateRange"
        },
        "name": {
          "description": "A user-defined name of the filter set. Filter set names must be unique globally and match one of the patterns: - `bidders/*/filterSets/*` (for accessing bidder-level troubleshooting data) - `bidders/*/accounts/*/filterSets/*` (for accessing account-level troubleshooting data) This field is required in create operations.",
          "type": "string"
        },
        "sellerNetworkIds": {
          "description": "For Authorized Buyers only. The list of IDs of the seller (publisher) networks on which to filter; may be empty. The filters represented by multiple seller network IDs are ORed together (for example, if non-empty, results must match any one of the publisher networks). See [seller-network-ids](https://developers.google.com/authorized-buyers/rtb/downloads/seller-network-ids) file for the set of existing seller network IDs.",
          "type": "array",
          "items": {
            "format": "int32",
            "type": "integer"
          }
        },
        "creativeId": {
          "type": "string",
          "description": "The ID of the creative on which to filter; optional. This field may be set only for a filter set that accesses account-level troubleshooting data, for example, one whose name matches the `bidders/*/accounts/*/filterSets/*` pattern."
        },
        "environment": {
          "enumDescriptions": [
            "A placeholder for an undefined environment; indicates that no environment filter will be applied.",
            "The ad impression appears on the web.",
            "The ad impression appears in an app."
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "WEB",
            "APP"
          ],
          "description": "The environment on which to filter; optional.",
          "type": "string"
        }
      }
    },
    "DayPartTargeting": {
      "properties": {
        "dayParts": {
          "description": "A list of day part targeting criterion.",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        },
        "timeZoneType": {
          "enumDescriptions": [
            "A placeholder for an undefined time zone source.",
            "Use publisher's time zone setting.",
            "Use the user's time zone setting."
          ],
          "enum": [
            "TIME_ZONE_SOURCE_UNSPECIFIED",
            "PUBLISHER",
            "USER"
          ],
          "description": "The timezone to use for interpreting the day part targeting.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DayPartTargeting",
      "description": "Specifies the day part targeting criteria."
    },
    "FrequencyCap": {
      "type": "object",
      "id": "FrequencyCap",
      "description": "Frequency cap.",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute",
            "Hour",
            "Day",
            "Week",
            "Month",
            "Lifetime",
            "Pod",
            "Stream"
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "type": "string",
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
        },
        "numTimeUnits": {
          "format": "int32",
          "type": "integer",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
        }
      }
    },
    "ListClientUsersResponse": {
      "properties": {
        "users": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the clients.invitations.list method to retrieve the next page of results."
        }
      },
      "id": "ListClientUsersResponse",
      "type": "object"
    },
    "ListCreativesResponse": {
      "properties": {
        "creatives": {
          "type": "array",
          "items": {
            "$ref": "Creative"
          },
          "description": "The list of creatives."
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCreativesRequest.page_token field in the subsequent call to `ListCreatives` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListCreativesResponse",
      "description": "A response for listing creatives."
    },
    "Money": {
      "type": "object",
      "id": "Money",
      "description": "Represents an amount of money with its currency type.",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "type": "string",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      }
    },
    "DealPauseStatus": {
      "properties": {
        "hasBuyerPaused": {
          "type": "boolean",
          "description": "True, if the buyer has paused the deal unilaterally."
        },
        "firstPausedBy": {
          "description": "The role of the person who first paused this deal.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "buyerPauseReason": {
          "description": "The buyer's reason for pausing, if the buyer paused the deal.",
          "type": "string"
        },
        "sellerPauseReason": {
          "type": "string",
          "description": "The seller's reason for pausing, if the seller paused the deal."
        },
        "hasSellerPaused": {
          "type": "boolean",
          "description": "True, if the seller has paused the deal unilaterally."
        }
      },
      "type": "object",
      "id": "DealPauseStatus",
      "description": "Tracks which parties (if any) have paused a deal. The deal is considered paused if either hasBuyerPaused or hasSellPaused is true."
    },
    "DealTerms": {
      "id": "DealTerms",
      "description": "The deal terms specify the details of a Product/deal. They specify things like price per buyer, the type of pricing model (for example, fixed price, auction) and expected impressions from the publisher.",
      "type": "object",
      "properties": {
        "nonGuaranteedAuctionTerms": {
          "description": "The terms for non-guaranteed auction deals.",
          "$ref": "NonGuaranteedAuctionTerms"
        },
        "description": {
          "description": "Publisher provided description for the terms.",
          "type": "string"
        },
        "brandingType": {
          "enumDescriptions": [
            "A placeholder for an undefined branding type.",
            "Full URL is included in bid requests.",
            "A TopLevelDomain or masked URL is sent in bid requests rather than the full one."
          ],
          "enum": [
            "BRANDING_TYPE_UNSPECIFIED",
            "BRANDED",
            "SEMI_TRANSPARENT"
          ],
          "description": "Visibility of the URL in bid requests. (default: BRANDED)",
          "type": "string"
        },
        "nonGuaranteedFixedPriceTerms": {
          "description": "The terms for non-guaranteed fixed price deals.",
          "$ref": "NonGuaranteedFixedPriceTerms"
        },
        "estimatedGrossSpend": {
          "description": "Non-binding estimate of the estimated gross spend for this deal. Can be set by buyer or seller.",
          "$ref": "Price"
        },
        "sellerTimeZone": {
          "description": "The time zone name. For deals with Cost Per Day billing, defines the time zone used to mark the boundaries of a day. It should be an IANA TZ name, such as \"America/Los_Angeles\". For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones.",
          "type": "string"
        },
        "guaranteedFixedPriceTerms": {
          "description": "The terms for guaranteed fixed price deals.",
          "$ref": "GuaranteedFixedPriceTerms"
        },
        "estimatedImpressionsPerDay": {
          "type": "string",
          "description": "Non-binding estimate of the impressions served per day. Can be set by buyer or seller.",
          "format": "int64"
        }
      }
    },
    "Price": {
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "pricingType": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, `COST_PER_MILLE` will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day"
          ],
          "enum": [
            "PRICING_TYPE_UNSPECIFIED",
            "COST_PER_MILLE",
            "COST_PER_DAY"
          ],
          "type": "string",
          "description": "The pricing type for the deal/product. (default: CPM)"
        }
      },
      "type": "object",
      "id": "Price",
      "description": "Represents a price and a pricing type for a product / deal."
    },
    "CreativeSize": {
      "properties": {
        "skippableAdType": {
          "description": "The type of skippable ad for this creative. It will have a value only if creative_size_type = CreativeSizeType.VIDEO.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined skippable ad type.",
            "This video ad can be skipped after 5 seconds.",
            "This video ad can be skipped after 5 seconds, and count as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view.",
            "This video ad is not skippable."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "GENERIC",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE"
          ]
        },
        "nativeTemplate": {
          "description": "Output only. The native template for this creative. It will have a value only if creative_size_type = CreativeSizeType.NATIVE.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined native template.",
            "The creative is linked to native content ad.",
            "The creative is linked to native app install ad.",
            "The creative is linked to native video content ad.",
            "The creative is linked to native video app install ad."
          ],
          "enum": [
            "UNKNOWN_NATIVE_TEMPLATE",
            "NATIVE_CONTENT_AD",
            "NATIVE_APP_INSTALL_AD",
            "NATIVE_VIDEO_CONTENT_AD",
            "NATIVE_VIDEO_APP_INSTALL_AD"
          ]
        },
        "allowedFormats": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined allowed format.",
              "An audio-only ad (without any video)."
            ],
            "enum": [
              "UNKNOWN",
              "AUDIO"
            ],
            "type": "string"
          },
          "description": "What formats are allowed by the publisher. If this repeated field is empty then all formats are allowed. For example, if this field contains AllowedFormatType.AUDIO then the publisher only allows an audio ad (without any video)."
        },
        "creativeSizeType": {
          "type": "string",
          "description": "The creative size type.",
          "enumDescriptions": [
            "A placeholder for an undefined creative size type.",
            "The creative is a regular desktop creative.",
            "The creative is an interstitial creative.",
            "The creative is a video creative.",
            "The creative is a native (mobile) creative."
          ],
          "enum": [
            "CREATIVE_SIZE_TYPE_UNSPECIFIED",
            "REGULAR",
            "INTERSTITIAL",
            "VIDEO",
            "NATIVE"
          ]
        },
        "size": {
          "description": "For regular or video creative size type, specifies the size of the creative",
          "$ref": "Size"
        },
        "companionSizes": {
          "type": "array",
          "items": {
            "$ref": "Size"
          },
          "description": "For video creatives specifies the sizes of companion ads (if present). Companion sizes may be filled in only when creative_size_type = VIDEO"
        }
      },
      "id": "CreativeSize",
      "description": "Specifies the size of the creative.",
      "type": "object"
    },
    "SecurityContext": {
      "type": "object",
      "deprecated": true,
      "id": "SecurityContext",
      "description": "Output only. A security context.",
      "properties": {
        "securities": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Matches impressions that require insecure compatibility.",
              "Matches impressions that require SSL compatibility."
            ],
            "enum": [
              "INSECURE",
              "SSL"
            ]
          },
          "description": "The security types in this context."
        }
      }
    },
    "DeliveryControl": {
      "properties": {
        "deliveryRateType": {
          "type": "string",
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "frequencyCaps": {
          "readOnly": true,
          "description": "Output only. Specifies any frequency caps.",
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          }
        },
        "creativeBlockingLevel": {
          "type": "string",
          "description": "Output only. Specified the creative blocking levels to be applied.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative blocking level.",
            "Publisher blocking rules will be applied.",
            "The Ad Exchange policy blocking rules will be applied."
          ],
          "enum": [
            "CREATIVE_BLOCKING_LEVEL_UNSPECIFIED",
            "PUBLISHER_BLOCKING_RULES",
            "ADX_POLICY_BLOCKING_ONLY"
          ]
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deals will be paced.",
      "type": "object"
    },
    "CalloutStatusRow": {
      "properties": {
        "impressionCount": {
          "description": "The number of impressions for which there was a bid request or bid response with the specified callout status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "calloutStatusId": {
          "type": "integer",
          "description": "The ID of the callout status. See [callout-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/callout-status-codes).",
          "format": "int32"
        }
      },
      "id": "CalloutStatusRow",
      "description": "The number of impressions with the specified dimension values where the corresponding bid request or bid response was not successful, as described by the specified callout status.",
      "type": "object"
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs.",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be included."
        },
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "A list of numeric IDs to be excluded."
        }
      }
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on an ad request. It only applies to Private Auction, AdX Preferred Deals and Auction Packages. This targeting does not apply to Programmatic Guaranteed and Preferred Deals in Ad Manager.",
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "description": "A list of inventory sizes to be excluded.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "Correction": {
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional details about what was corrected."
        },
        "contexts": {
          "type": "array",
          "items": {
            "$ref": "ServingContext"
          },
          "description": "The contexts for the correction."
        },
        "type": {
          "enumDescriptions": [
            "The correction type is unknown. Refer to the details for more information.",
            "The ad's declared vendors did not match the vendors that were detected. The detected vendors were added.",
            "The ad had the SSL attribute declared but was not SSL-compliant. The SSL attribute was removed.",
            "The ad was declared as Flash-free but contained Flash, so the Flash-free attribute was removed.",
            "The ad was not declared as Flash-free but it did not reference any flash content, so the Flash-free attribute was added.",
            "The ad did not declare a required creative attribute. The attribute was added.",
            "The ad did not declare a required technology vendor. The technology vendor was added.",
            "The ad did not declare the SSL attribute but was SSL-compliant, so the SSL attribute was added.",
            "Properties consistent with In-banner video were found, so an In-Banner Video attribute was added.",
            "The ad makes calls to the MRAID API so the MRAID attribute was added.",
            "The ad unnecessarily declared the Flash attribute, so the Flash attribute was removed.",
            "The ad contains video content."
          ],
          "enum": [
            "CORRECTION_TYPE_UNSPECIFIED",
            "VENDOR_IDS_ADDED",
            "SSL_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_REMOVED",
            "FLASH_FREE_ATTRIBUTE_ADDED",
            "REQUIRED_ATTRIBUTE_ADDED",
            "REQUIRED_VENDOR_ADDED",
            "SSL_ATTRIBUTE_ADDED",
            "IN_BANNER_VIDEO_ATTRIBUTE_ADDED",
            "MRAID_ATTRIBUTE_ADDED",
            "FLASH_ATTRIBUTE_REMOVED",
            "VIDEO_IN_SNIPPET_ATTRIBUTE_ADDED"
          ],
          "description": "The type of correction that was applied to the creative.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Correction",
      "description": "Output only. Shows any corrections that were applied to this creative."
    },
    "DealServingMetadata": {
      "id": "DealServingMetadata",
      "description": "Message captures metadata about the serving status of a deal.",
      "type": "object",
      "properties": {
        "dealPauseStatus": {
          "description": "Output only. Tracks which parties (if any) have paused a deal.",
          "$ref": "DealPauseStatus",
          "readOnly": true
        }
      }
    },
    "Client": {
      "properties": {
        "entityType": {
          "type": "string",
          "description": "An optional field for specifying the type of the client entity: `ADVERTISER`, `BRAND`, or `AGENCY`.",
          "enumDescriptions": [
            "A placeholder for an undefined client entity type. Should not be used.",
            "An advertiser.",
            "A brand.",
            "An advertising agency.",
            "An explicit value for a client that was not yet classified as any particular entity."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "ADVERTISER",
            "BRAND",
            "AGENCY",
            "ENTITY_TYPE_UNCLASSIFIED"
          ]
        },
        "entityName": {
          "description": "The name of the entity. This field is automatically fetched based on the type and ID. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "role": {
          "type": "string",
          "description": "The role which is assigned to the client buyer. Each role implies a set of permissions granted to the client. Must be one of `CLIENT_DEAL_VIEWER`, `CLIENT_DEAL_NEGOTIATOR` or `CLIENT_DEAL_APPROVER`.",
          "enumDescriptions": [
            "A placeholder for an undefined client role.",
            "Users associated with this client can see publisher deal offers in the Marketplace. They can neither negotiate proposals nor approve deals. If this client is visible to publishers, they can send deal proposals to this client.",
            "Users associated with this client can respond to deal proposals sent to them by publishers. They can also initiate deal proposals of their own.",
            "Users associated with this client can approve eligible deals on your behalf. Some deals may still explicitly require publisher finalization. If this role is not selected, the sponsor buyer will need to manually approve each of their deals."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ]
        },
        "partnerClientId": {
          "type": "string",
          "description": "Optional arbitrary unique identifier of this client buyer from the standpoint of its Ad Exchange sponsor buyer. This field can be used to associate a client buyer with the identifier in the namespace of its sponsor buyer, lookup client buyers by that identifier and verify whether an Ad Exchange counterpart of a given client buyer already exists. If present, must be unique among all the client buyers for its Ad Exchange sponsor buyer."
        },
        "clientName": {
          "description": "Name used to represent this client to publishers. You may have multiple clients that map to the same entity, but for each client the combination of `clientName` and entity must be unique. You can specify this field as empty. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "status": {
          "enumDescriptions": [
            "A placeholder for an undefined client status.",
            "A client that is currently disabled.",
            "A client that is currently active."
          ],
          "enum": [
            "CLIENT_STATUS_UNSPECIFIED",
            "DISABLED",
            "ACTIVE"
          ],
          "type": "string",
          "description": "The status of the client buyer."
        },
        "visibleToSeller": {
          "description": "Whether the client buyer will be visible to sellers.",
          "type": "boolean"
        },
        "clientAccountId": {
          "format": "int64",
          "description": "The globally-unique numerical ID of the client. The value of this field is ignored in create and update operations.",
          "type": "string"
        },
        "entityId": {
          "format": "int64",
          "type": "string",
          "description": "Numerical identifier of the client entity. The entity can be an advertiser, a brand, or an agency. This identifier is unique among all the entities with the same type. The value of this field is ignored if the entity type is not provided. A list of all known advertisers with their identifiers is available in the [advertisers.txt](https://storage.googleapis.com/adx-rtb-dictionaries/advertisers.txt) file. A list of all known brands with their identifiers is available in the [brands.txt](https://storage.googleapis.com/adx-rtb-dictionaries/brands.txt) file. A list of all known agencies with their identifiers is available in the [agencies.txt](https://storage.googleapis.com/adx-rtb-dictionaries/agencies.txt) file."
        }
      },
      "type": "object",
      "id": "Client",
      "description": "A client resource represents a client buyer—an agency, a brand, or an advertiser customer of the sponsor buyer. Users associated with the client buyer have restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the client buyer. All fields are required unless otherwise specified."
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal."
    },
    "ListBidMetricsResponse": {
      "type": "object",
      "id": "ListBidMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of bids.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListBidMetricsRequest.pageToken field in the subsequent call to the bidMetrics.list method to retrieve the next page of results."
        },
        "bidMetricsRows": {
          "type": "array",
          "items": {
            "$ref": "BidMetricsRow"
          },
          "description": "List of rows, each containing a set of bid metrics."
        }
      }
    },
    "BidResponseWithoutBidsStatusRow": {
      "id": "BidResponseWithoutBidsStatusRow",
      "description": "The number of impressions with the specified dimension values that were considered to have no applicable bids, as described by the specified status.",
      "type": "object",
      "properties": {
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "impressionCount": {
          "description": "The number of impressions for which there was a bid response with the specified status.",
          "$ref": "MetricValue"
        },
        "status": {
          "type": "string",
          "description": "The status specifying why the bid responses were considered to have no applicable bids.",
          "enumDescriptions": [
            "A placeholder for an undefined status. This value will never be returned in responses.",
            "The response had no bids.",
            "The response had no bids for the specified account, though it may have included bids on behalf of other accounts. Applies if: 1. Request is on behalf of a bidder and an account filter is present. 2. Request is on behalf of a child seat.",
            "The response had no bids for the specified deal, though it may have included bids on other deals on behalf of the account to which the deal belongs. If request is on behalf of a bidder and an account filter is not present, this also includes responses that have bids on behalf of accounts other than the account to which the deal belongs."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "RESPONSES_WITHOUT_BIDS",
            "RESPONSES_WITHOUT_BIDS_FOR_ACCOUNT",
            "RESPONSES_WITHOUT_BIDS_FOR_DEAL"
          ]
        }
      }
    },
    "PlatformContext": {
      "id": "PlatformContext",
      "description": "Output only. The type of platform the restriction applies to.",
      "type": "object",
      "properties": {
        "platforms": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Desktop platform.",
              "Android platform.",
              "iOS platform."
            ],
            "enum": [
              "DESKTOP",
              "ANDROID",
              "IOS"
            ]
          },
          "description": "The platforms this restriction applies to."
        }
      }
    },
    "RealtimeTimeRange": {
      "type": "object",
      "id": "RealtimeTimeRange",
      "description": "An open-ended realtime time range specified by the start timestamp. For filter sets that specify a realtime time range RTB metrics continue to be aggregated throughout the lifetime of the filter set.",
      "properties": {
        "startTimestamp": {
          "type": "string",
          "description": "The start timestamp of the real-time RTB metrics aggregation.",
          "format": "google-datetime"
        }
      }
    },
    "ListDealAssociationsResponse": {
      "properties": {
        "associations": {
          "description": "The list of associations.",
          "type": "array",
          "items": {
            "$ref": "CreativeDealAssociation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListDealAssociationsRequest.page_token field in the subsequent call to 'ListDealAssociation' method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListDealAssociationsResponse",
      "description": "A response for listing creative and deal associations"
    },
    "NonGuaranteedAuctionTerms": {
      "properties": {
        "autoOptimizePrivateAuction": {
          "description": "True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "type": "boolean"
        },
        "reservePricesPerBuyer": {
          "type": "array",
          "items": {
            "$ref": "PricePerBuyer"
          },
          "description": "Reserve price for the specified buyer."
        }
      },
      "id": "NonGuaranteedAuctionTerms",
      "description": "Terms for Private Auctions. Note that Private Auctions can be created only by the seller, but they can be returned in a get or list request.",
      "type": "object"
    },
    "ImpressionMetricsRow": {
      "properties": {
        "successfulResponses": {
          "description": "The number of impressions for which the buyer successfully sent a response to Ad Exchange.",
          "$ref": "MetricValue"
        },
        "bidRequests": {
          "description": "The number of impressions for which Ad Exchange sent the buyer a bid request.",
          "$ref": "MetricValue"
        },
        "inventoryMatches": {
          "description": "The number of impressions that match the buyer's inventory pretargeting.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "responsesWithBids": {
          "description": "The number of impressions for which Ad Exchange received a response from the buyer that contained at least one applicable bid.",
          "$ref": "MetricValue"
        },
        "availableImpressions": {
          "description": "The number of impressions available to the buyer on Ad Exchange. In some cases this value may be unavailable.",
          "$ref": "MetricValue"
        }
      },
      "type": "object",
      "id": "ImpressionMetricsRow",
      "description": "The set of metrics that are measured in numbers of impressions, representing how many impressions with the specified dimension values were considered eligible at each stage of the bidding funnel."
    },
    "AddNoteRequest": {
      "id": "AddNoteRequest",
      "description": "Request message for adding a note to a given proposal.",
      "type": "object",
      "properties": {
        "note": {
          "description": "Details of the note to add.",
          "$ref": "Note"
        }
      }
    },
    "RowDimensions": {
      "properties": {
        "timeInterval": {
          "description": "The time interval that this row represents.",
          "$ref": "TimeInterval"
        },
        "publisherIdentifier": {
          "type": "string",
          "description": "The publisher identifier for this row, if a breakdown by [BreakdownDimension.PUBLISHER_IDENTIFIER](https://developers.google.com/authorized-buyers/apis/reference/rest/v2beta1/bidders.accounts.filterSets#FilterSet.BreakdownDimension) was requested."
        }
      },
      "type": "object",
      "id": "RowDimensions",
      "description": "A response may include multiple rows, breaking down along various dimensions. Encapsulates the values of all dimensions for a given row."
    },
    "Date": {
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "CreativeStatusRow": {
      "properties": {
        "bidCount": {
          "description": "The number of bids with the specified status.",
          "$ref": "MetricValue"
        },
        "rowDimensions": {
          "description": "The values of all dimensions associated with metric values in this row.",
          "$ref": "RowDimensions"
        },
        "creativeStatusId": {
          "description": "The ID of the creative status. See [creative-status-codes](https://developers.google.com/authorized-buyers/rtb/downloads/creative-status-codes).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "CreativeStatusRow",
      "description": "The number of bids with the specified dimension values that did not win the auction (either were filtered pre-auction or lost the auction), as described by the specified creative status.",
      "type": "object"
    },
    "FirstPartyMobileApplicationTargeting": {
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Mobile application IDs are from App Store and Google Play Store. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object"
    },
    "DayPart": {
      "id": "DayPart",
      "description": "Daypart targeting message that specifies if the ad can be shown only during certain parts of a day/week.",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "A placeholder for when the day of the week is not specified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "The day of the week to target. If unspecified, applicable to all days.",
          "type": "string"
        },
        "startTime": {
          "description": "The starting time of day for the ad to show (minute level granularity). The start time is inclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "The ending time of the day for the ad to show (minute level granularity). The end time is exclusive. This field is not available for filtering in PQL queries.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "CompleteSetupRequest": {
      "properties": {},
      "id": "CompleteSetupRequest",
      "description": "Request message for indicating that the proposal's setup step is complete.",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "description": "An image resource. You may provide a larger image than was requested, so long as the aspect ratio is preserved.",
      "properties": {
        "url": {
          "type": "string",
          "description": "The URL of the image."
        },
        "width": {
          "format": "int32",
          "description": "Image width in pixels.",
          "type": "integer"
        },
        "height": {
          "format": "int32",
          "type": "integer",
          "description": "Image height in pixels."
        }
      }
    },
    "PublisherProfile": {
      "properties": {
        "seller": {
          "description": "Seller of the publisher profile.",
          "$ref": "Seller"
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "domains": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\"."
        },
        "rateCardInfoUrl": {
          "description": "URL to a publisher rate card.",
          "type": "string"
        },
        "publisherProfileId": {
          "description": "Unique ID for publisher profile.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the publisher profile."
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. Max 100 characters each. For example \"#1 Mobile News Site for 20 Straight Months\"."
        },
        "mobileApps": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller should have only one parent publisher profile, and can have multiple child profiles. Publisher profiles for the same seller will have same value of field google.ads.adexchange.buyer.v2beta1.PublisherProfile.seller. See https://support.google.com/admanager/answer/6035806 for details.",
          "type": "boolean"
        },
        "googlePlusUrl": {
          "description": "URL to publisher's Google+ page.",
          "type": "string"
        },
        "buyerPitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "PublisherProfile",
      "description": "Represents a publisher profile (https://support.google.com/admanager/answer/6035806) in Marketplace. All fields are read only. All string fields are free-form text entered by the publisher unless noted otherwise."
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "ListImpressionMetricsResponse": {
      "id": "ListImpressionMetricsResponse",
      "description": "Response message for listing the metrics that are measured in number of impressions.",
      "type": "object",
      "properties": {
        "impressionMetricsRows": {
          "description": "List of rows, each containing a set of impression metrics.",
          "type": "array",
          "items": {
            "$ref": "ImpressionMetricsRow"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListImpressionMetricsRequest.pageToken field in the subsequent call to the impressionMetrics.list method to retrieve the next page of results."
        }
      }
    },
    "CreativeSpecification": {
      "type": "object",
      "id": "CreativeSpecification",
      "description": "Represents information for a creative that is associated with a Programmatic Guaranteed/Preferred Deal in Ad Manager.",
      "properties": {
        "creativeSize": {
          "description": "The size of the creative.",
          "$ref": "AdSize"
        },
        "creativeCompanionSizes": {
          "description": "Companion sizes may be filled in only when this is a video creative.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        }
      }
    },
    "ClientUser": {
      "type": "object",
      "id": "ClientUser",
      "description": "A client user is created under a client buyer and has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client buyer. The only way a new client user can be created is through accepting an email invitation (see the accounts.clients.invitations.create method). All fields are required unless otherwise specified.",
      "properties": {
        "email": {
          "description": "User's email address. The value of this field is ignored in an update operation.",
          "type": "string"
        },
        "userId": {
          "type": "string",
          "description": "The unique numerical ID of the client user that has accepted an invitation. The value of this field is ignored in an update operation.",
          "format": "int64"
        },
        "clientAccountId": {
          "type": "string",
          "description": "Numerical account ID of the client buyer with which the user is associated; the buyer must be a client of the current sponsor buyer. The value of this field is ignored in an update operation.",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "The status of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user status.",
            "A user who was already created but hasn't accepted the invitation yet.",
            "A user that is currently active.",
            "A user that is currently disabled."
          ],
          "enum": [
            "USER_STATUS_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "DISABLED"
          ]
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "properties": {
        "appStore": {
          "type": "string",
          "description": "The app store the app belongs to.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "Playstation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRETV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store."
        }
      }
    },
    "ServingContext": {
      "type": "object",
      "id": "ServingContext",
[...]
