{
  "name": "admin",
  "canonicalName": "DataTransfer",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "schemas": {
    "ApplicationTransferParam": {
      "id": "ApplicationTransferParam",
      "properties": {
        "value": {
          "type": "array",
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "type": "string",
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`."
        }
      },
      "description": "Template for application transfer parameters.",
      "type": "object"
    },
    "ApplicationsListResponse": {
      "id": "ApplicationsListResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "kind": {
          "default": "admin#datatransfer#applicationsList",
          "type": "string",
          "description": "Identifies the resource as a collection of Applications."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        }
      },
      "description": "Template for a collection of Applications.",
      "type": "object"
    },
    "Application": {
      "type": "object",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "id": "Application",
      "properties": {
        "transferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of the resource."
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource",
          "type": "string"
        }
      }
    },
    "ApplicationDataTransfer": {
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "type": "object",
      "id": "ApplicationDataTransfer",
      "properties": {
        "applicationId": {
          "description": "The application's ID.",
          "format": "int64",
          "type": "string"
        },
        "applicationTransferParams": {
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        }
      }
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        }
      },
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object"
    },
    "DataTransfer": {
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "type": "object",
      "id": "DataTransfer",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        },
        "oldOwnerUserId": {
          "type": "string",
          "description": "ID of the user whose data is being transferred."
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "kind": {
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer",
          "type": "string"
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "revision": "20260421",
  "title": "Admin SDK API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "id": "admin:datatransfer_v1",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "packagePath": "admin",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "version": "datatransfer_v1",
  "rootUrl": "https://admin.googleapis.com/",
  "baseUrl": "https://admin.googleapis.com/",
  "resources": {
    "transfers": {
      "methods": {
        "insert": {
          "parameters": {},
          "id": "datatransfer.transfers.insert",
          "response": {
            "$ref": "DataTransfer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "flatPath": "admin/datatransfer/v1/transfers",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "httpMethod": "POST"
        },
        "get": {
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "parameterOrder": [
            "dataTransferId"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfer"
          },
          "parameters": {
            "dataTransferId": {
              "required": true,
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "datatransfer.transfers.get"
        },
        "list": {
          "httpMethod": "GET",
          "description": "Lists the transfers for a customer by source user, destination user, or status.",
          "flatPath": "admin/datatransfer/v1/transfers",
          "path": "admin/datatransfer/v1/transfers",
          "parameterOrder": [],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "id": "datatransfer.transfers.list",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify the next page in the list.",
              "location": "query"
            },
            "status": {
              "type": "string",
              "description": "Status of the transfer.",
              "location": "query"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "location": "query",
              "type": "string"
            },
            "newOwnerUserId": {
              "type": "string",
              "description": "Destination user's profile ID.",
              "location": "query"
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          }
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "id": "datatransfer.applications.get",
          "parameters": {
            "applicationId": {
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "type": "string",
              "location": "path",
              "format": "int64"
            }
          },
          "httpMethod": "GET",
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "parameterOrder": [
            "applicationId"
          ],
          "description": "Retrieves information about an application for the given application ID.",
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}"
        },
        "list": {
          "path": "admin/datatransfer/v1/applications",
          "parameterOrder": [],
          "description": "Lists the applications available for data transfer for a customer.",
          "flatPath": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "id": "datatransfer.applications.list",
          "parameters": {
            "maxResults": {
              "maximum": "500",
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100."
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "description": "Token to specify next page in the list.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "ApplicationsListResponse"
          }
        }
      }
    }
  }
}