{
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "name": "admin",
  "title": "Admin SDK API",
  "rootUrl": "https://admin.googleapis.com/",
  "servicePath": "",
  "packagePath": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "canonicalName": "directory",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "protocol": "rest",
  "basePath": "",
  "revision": "20260413",
  "id": "admin:directory_v1",
  "baseUrl": "https://admin.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "resources": {
    "members": {
      "methods": {
        "get": {
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameters": {
            "groupKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            },
            "memberKey": {
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Member"
          },
          "httpMethod": "GET",
          "id": "directory.members.get",
          "description": "Retrieves a group member's properties.",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ]
        },
        "update": {
          "httpMethod": "PUT",
          "id": "directory.members.update",
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "memberKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Member"
          },
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "request": {
            "$ref": "Member"
          },
          "description": "Updates the membership of a user in the specified group."
        },
        "delete": {
          "id": "directory.members.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "memberKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string"
            }
          },
          "description": "Removes a member from a group."
        },
        "insert": {
          "description": "Adds a user to the specified group.",
          "request": {
            "$ref": "Member"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ],
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "parameters": {
            "groupKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Member"
          },
          "id": "directory.members.insert",
          "httpMethod": "POST"
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameterOrder": [
            "groupKey"
          ],
          "description": "Retrieves a paginated list of all members in a group. This method times out after 60 minutes. For more information, see [Troubleshoot error codes](https://developers.google.com/workspace/admin/directory/v1/guides/troubleshoot-error-codes).",
          "id": "directory.members.list",
          "httpMethod": "GET",
          "path": "admin/directory/v1/groups/{groupKey}/members",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "roles": {
              "description": "The `roles` query parameter allows you to retrieve group members by role. Allowed values are `OWNER`, `MANAGER`, and `MEMBER`.",
              "type": "string",
              "location": "query"
            },
            "includeDerivedMembership": {
              "description": "Whether to list indirect memberships. Default: false.",
              "type": "boolean",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "default": "200",
              "format": "int32",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "Members"
          }
        },
        "hasMember": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member",
            "https://www.googleapis.com/auth/admin.directory.group.member.readonly",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "description": "Checks whether the given user is a member of the group. Membership can be direct or nested, but if nested, the `memberKey` and `groupKey` must be entities in the same domain or an `Invalid input` error is returned. To check for nested memberships that include entities outside of the group's domain, use the [`checkTransitiveMembership()`](https://cloud.google.com/identity/docs/reference/rest/v1/groups.memberships/checkTransitiveMembership) method in the Cloud Identity Groups API.",
          "id": "directory.members.hasMember",
          "httpMethod": "GET",
          "path": "admin/directory/v1/groups/{groupKey}/hasMember/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/hasMember/{memberKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "memberKey": {
              "description": "Identifies the user member in the API request. The value can be the user's primary email address, alias, or unique ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "MembersHasMember"
          }
        },
        "patch": {
          "path": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}/members/{memberKey}",
          "parameters": {
            "groupKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            },
            "memberKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group member in the API request. A group member can be a user or another group. The value can be the member's (group or user) primary email address, alias, or unique ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Member"
          },
          "httpMethod": "PATCH",
          "id": "directory.members.patch",
          "description": "Updates the membership properties of a user in the specified group. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "request": {
            "$ref": "Member"
          },
          "parameterOrder": [
            "groupKey",
            "memberKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.member"
          ]
        }
      }
    },
    "twoStepVerification": {
      "methods": {
        "turnOff": {
          "path": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "flatPath": "admin/directory/v1/users/{userKey}/twoStepVerification/turnOff",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Turns off 2-Step Verification for user.",
          "id": "directory.twoStepVerification.turnOff",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "userKey"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "update": {
          "path": "admin/directory/v1/users/{userKey}",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "User"
          },
          "httpMethod": "PUT",
          "id": "directory.users.update",
          "description": "Updates a user. This method supports patch semantics, meaning that you only need to include the fields you wish to update. Fields that are not present in the request will be preserved, and fields set to `null` will be cleared. For repeating fields that contain arrays, individual items in the array can't be patched piecemeal; they must be supplied in the request body with the desired values for all items. See the [user accounts guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#update_user) for more information.",
          "request": {
            "$ref": "User"
          },
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ]
        },
        "delete": {
          "path": "admin/directory/v1/users/{userKey}",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Deletes a user.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "userKey"
          ],
          "id": "directory.users.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ]
        },
        "insert": {
          "id": "directory.users.insert",
          "httpMethod": "POST",
          "path": "admin/directory/v1/users",
          "flatPath": "admin/directory/v1/users",
          "parameters": {
            "resolveConflictAccount": {
              "description": "Optional. If set to `true`, the option selected for [handling unmanaged user accounts](https://support.google.com/a/answer/11112794) will apply. Default: `false`",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "User"
          },
          "description": "Creates a user. Mutate calls immediately following user creation might sometimes fail as the user isn't fully created due to propagation delay in our backends. Check the error details for the \"User creation is not complete\" message to see if this is the case. Retrying the calls after some time can help in this case. If `resolveConflictAccount` is set to `true`, a `202` response code means that a conflicting unmanaged account exists and was invited to join the organization. A `409` response code means that a conflicting account exists so the user wasn't created based on the [handling unmanaged user accounts](https://support.google.com/a/answer/11112794) option selected."
        },
        "watch": {
          "path": "admin/directory/v1/users/watch",
          "flatPath": "admin/directory/v1/users/watch",
          "parameters": {
            "maxResults": {
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "maximum": "500",
              "default": "100",
              "minimum": "1",
              "location": "query"
            },
            "orderBy": {
              "location": "query",
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "description": "Column to use for sorting results",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list",
              "type": "string",
              "location": "query"
            },
            "viewType": {
              "default": "admin_view",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "location": "query",
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ]
            },
            "customFieldMask": {
              "description": "Comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when projection=custom.",
              "type": "string",
              "location": "query"
            },
            "event": {
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "description": "Events to watch for.",
              "type": "string",
              "location": "query",
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ]
            },
            "query": {
              "location": "query",
              "description": "Query string search. Contains one or more search clauses, each with a field, operator, and value. For complete documentation, go to [Search for users](https://developers.google.com/workspace/admin/directory/v1/guides/search-users).",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to true, retrieves the list of deleted users. (Default: false)",
              "type": "string"
            },
            "customer": {
              "location": "query",
              "description": "Immutable ID of the Google Workspace account. In case of multi-domain, to fetch all users for a customer, fill this field instead of domain.",
              "type": "string"
            },
            "projection": {
              "location": "query",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "default": "basic",
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas mentioned in customFieldMask.",
                "Include all fields associated with this user."
              ],
              "description": "What subset of fields to fetch for this user.",
              "type": "string"
            },
            "domain": {
              "description": "Name of the domain. Fill this field to get users from only this domain. To return all users in a multi-domain fill customer field instead.\"",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "description": "Whether to return results in ascending or descending order.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ]
            }
          },
          "response": {
            "$ref": "Channel"
          },
          "id": "directory.users.watch",
          "httpMethod": "POST",
          "request": {
            "$ref": "Channel"
          },
          "description": "Watches for changes in users list.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "makeAdmin": {
          "path": "admin/directory/v1/users/{userKey}/makeAdmin",
          "flatPath": "admin/directory/v1/users/{userKey}/makeAdmin",
          "parameters": {
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "id": "directory.users.makeAdmin",
          "httpMethod": "POST",
          "request": {
            "$ref": "UserMakeAdmin"
          },
          "description": "Makes a user a super administrator.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ]
        },
        "undelete": {
          "httpMethod": "POST",
          "id": "directory.users.undelete",
          "path": "admin/directory/v1/users/{userKey}/undelete",
          "flatPath": "admin/directory/v1/users/{userKey}/undelete",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "The immutable id of the user",
              "type": "string"
            }
          },
          "parameterOrder": [
            "userKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "description": "Undeletes a deleted user.",
          "request": {
            "$ref": "UserUndelete"
          }
        },
        "patch": {
          "path": "admin/directory/v1/users/{userKey}",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameters": {
            "userKey": {
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "User"
          },
          "id": "directory.users.patch",
          "httpMethod": "PATCH",
          "description": "Updates a user using patch semantics. The update method should be used instead, because it also supports patch semantics and has better performance. If you're mapping an external identity to a Google identity, use the [`update`](https://developers.google.com/workspace/admin/directory/v1/reference/users/update) method instead of the `patch` method. This method is unable to clear fields that contain repeated objects (`addresses`, `phones`, etc). Use the update method instead.",
          "request": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "parameterOrder": [
            "userKey"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly"
          ],
          "parameterOrder": [
            "userKey"
          ],
          "description": "Retrieves a user.",
          "id": "directory.users.get",
          "httpMethod": "GET",
          "path": "admin/directory/v1/users/{userKey}",
          "flatPath": "admin/directory/v1/users/{userKey}",
          "parameters": {
            "viewType": {
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "default": "admin_view",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "location": "query"
            },
            "projection": {
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ],
              "default": "basic",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "location": "query"
            },
            "userKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            },
            "customFieldMask": {
              "location": "query",
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "User"
          }
        },
        "list": {
          "path": "admin/directory/v1/users",
          "flatPath": "admin/directory/v1/users",
          "parameters": {
            "customFieldMask": {
              "location": "query",
              "description": "A comma-separated list of schema names. All fields from these schemas are fetched. This should only be set when `projection=custom`.",
              "type": "string"
            },
            "event": {
              "description": "Event on which subscription is intended (if subscribing)",
              "type": "string",
              "enumDescriptions": [
                "User Created Event",
                "User Deleted Event",
                "User Admin Status Change Event",
                "User Undeleted Event",
                "User Updated Event"
              ],
              "enum": [
                "add",
                "delete",
                "makeAdmin",
                "undelete",
                "update"
              ],
              "location": "query"
            },
            "maxResults": {
              "maximum": "500",
              "description": "Maximum number of results to return.",
              "type": "integer",
              "format": "int32",
              "location": "query",
              "default": "100",
              "minimum": "1"
            },
            "orderBy": {
              "enum": [
                "email",
                "familyName",
                "givenName"
              ],
              "location": "query",
              "enumDescriptions": [
                "Primary email of the user.",
                "User's family name.",
                "User's given name."
              ],
              "description": "Property to use for sorting results.",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify next page in the list. The page token is only valid for three days.",
              "type": "string",
              "location": "query"
            },
            "viewType": {
              "location": "query",
              "enum": [
                "admin_view",
                "domain_public"
              ],
              "default": "admin_view",
              "enumDescriptions": [
                "Results include both administrator-only and domain-public fields for the user.",
                "Results only include fields for the user that are publicly visible to other users in the domain."
              ],
              "description": "Whether to fetch the administrator-only or domain-wide public view of the user. For more information, see [Retrieve a user as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin).",
              "type": "string"
            },
            "projection": {
              "enumDescriptions": [
                "Do not include any custom fields for the user.",
                "Include custom fields from schemas requested in `customFieldMask`.",
                "Include all fields associated with this user."
              ],
              "description": "What subset of fields to fetch for this user.",
              "type": "string",
              "enum": [
                "basic",
                "custom",
                "full"
              ],
              "location": "query",
              "default": "basic"
            },
            "domain": {
              "description": "The domain name. Use this field to get users from only one domain. To return all domains for a customer account, use the `customer` query parameter instead. Either the `customer` or the `domain` parameter must be provided.",
              "type": "string",
              "location": "query"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order, ignoring case.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            },
            "query": {
              "description": "Query string for searching user fields. For more information on constructing user queries, see [Search for Users](https://developers.google.com/workspace/admin/directory/v1/guides/search-users).",
              "type": "string",
              "location": "query"
            },
            "showDeleted": {
              "location": "query",
              "description": "If set to `true`, retrieves the list of deleted users. (Default: `false`)",
              "type": "string"
            },
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all users for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Users"
          },
          "id": "directory.users.list",
          "httpMethod": "GET",
          "description": "Retrieves a paginated list of either deleted users or all users in a domain.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": []
        },
        "createGuest": {
          "httpMethod": "POST",
          "id": "directory.users.createGuest",
          "path": "admin/directory/v1/users:createGuest",
          "flatPath": "admin/directory/v1/users:createGuest",
          "parameters": {},
          "response": {
            "$ref": "User"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user"
          ],
          "request": {
            "$ref": "DirectoryUsersCreateGuestRequest"
          },
          "description": "Create a guest user with access to a [subset of Workspace capabilities](https://support.google.com/a/answer/16558545). This feature is currently in Alpha. Please reach out to support if you are interested in trying this feature."
        },
        "signOut": {
          "id": "directory.users.signOut",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user.security"
          ],
          "httpMethod": "POST",
          "parameterOrder": [
            "userKey"
          ],
          "path": "admin/directory/v1/users/{userKey}/signOut",
          "flatPath": "admin/directory/v1/users/{userKey}/signOut",
          "parameters": {
            "userKey": {
              "required": true,
              "location": "path",
              "description": "Identifies the target user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
              "type": "string"
            }
          },
          "description": "Signs a user out of all web and device sessions and reset their sign-in cookies. User will have to sign in by authenticating again."
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "delete": {
              "id": "directory.users.aliases.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "userKey",
                "alias"
              ],
              "path": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/{alias}",
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                },
                "alias": {
                  "location": "path",
                  "required": true,
                  "description": "The alias to be removed.",
                  "type": "string"
                }
              },
              "description": "Removes an alias."
            },
            "insert": {
              "id": "directory.users.aliases.insert",
              "httpMethod": "POST",
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "parameters": {
                "userKey": {
                  "required": true,
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Alias"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias"
              ],
              "parameterOrder": [
                "userKey"
              ],
              "description": "Adds an alias.",
              "request": {
                "$ref": "Alias"
              }
            },
            "list": {
              "path": "admin/directory/v1/users/{userKey}/aliases",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases",
              "parameters": {
                "userKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                },
                "event": {
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ],
                  "description": "Events to watch for.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Aliases"
              },
              "httpMethod": "GET",
              "id": "directory.users.aliases.list",
              "description": "Lists all aliases for a user.",
              "parameterOrder": [
                "userKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ]
            },
            "watch": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.alias",
                "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "parameterOrder": [
                "userKey"
              ],
              "description": "Watches for changes in users list.",
              "request": {
                "$ref": "Channel"
              },
              "id": "directory.users.aliases.watch",
              "httpMethod": "POST",
              "path": "admin/directory/v1/users/{userKey}/aliases/watch",
              "flatPath": "admin/directory/v1/users/{userKey}/aliases/watch",
              "parameters": {
                "userKey": {
                  "required": true,
                  "location": "path",
                  "description": "Email or immutable ID of the user",
                  "type": "string"
                },
                "event": {
                  "enumDescriptions": [
                    "Alias Created Event",
                    "Alias Deleted Event"
                  ],
                  "description": "Events to watch for.",
                  "type": "string",
                  "enum": [
                    "add",
                    "delete"
                  ],
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Channel"
              }
            }
          }
        },
        "photos": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "userKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "description": "Adds a photo for the user. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
              "request": {
                "$ref": "UserPhoto"
              },
              "httpMethod": "PATCH",
              "id": "directory.users.photos.patch",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "UserPhoto"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user",
                "https://www.googleapis.com/auth/admin.directory.user.readonly"
              ],
              "parameterOrder": [
                "userKey"
              ],
              "description": "Retrieves the user's photo.",
              "id": "directory.users.photos.get",
              "httpMethod": "GET",
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "UserPhoto"
              }
            },
            "update": {
              "description": "Adds a photo for the user.",
              "request": {
                "$ref": "UserPhoto"
              },
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "parameterOrder": [
                "userKey"
              ],
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameters": {
                "userKey": {
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "UserPhoto"
              },
              "id": "directory.users.photos.update",
              "httpMethod": "PUT"
            },
            "delete": {
              "id": "directory.users.photos.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.user"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "userKey"
              ],
              "path": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "flatPath": "admin/directory/v1/users/{userKey}/photos/thumbnail",
              "parameters": {
                "userKey": {
                  "required": true,
                  "location": "path",
                  "description": "Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.",
                  "type": "string"
                }
              },
              "description": "Removes the user's photo."
            }
          }
        }
      }
    },
    "chromeosdevices": {
      "methods": {
        "patch": {
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            },
            "deviceId": {
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "id": "directory.chromeosdevices.patch",
          "httpMethod": "PATCH"
        },
        "action": {
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.action",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{resourceId}/action",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "resourceId": {
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `resourceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            }
          },
          "deprecated": true,
          "parameterOrder": [
            "customerId",
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "description": "Use [BatchChangeChromeOsDeviceStatus](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customer.devices.chromeos/batchChangeStatus) instead. Takes an action that affects a Chrome OS Device. This includes deprovisioning, disabling, and re-enabling devices. *Warning:* * Deprovisioning a device will stop device policy syncing and remove device-level printers. After a device is deprovisioned, it must be wiped before it can be re-enrolled. * Lost or stolen devices should use the disable action. * Re-enabling a disabled device will consume a device license. If you do not have sufficient licenses available when completing the re-enable action, you will receive an error. For more information about deprovisioning and disabling devices, visit the [help center](https://support.google.com/chrome/a/answer/3523633).",
          "request": {
            "$ref": "ChromeOsDeviceAction"
          }
        },
        "moveDevicesToOu": {
          "description": "Moves or inserts multiple Chrome OS devices to an organizational unit. You can move up to 50 devices at once.",
          "request": {
            "$ref": "ChromeOsMoveDevicesToOu"
          },
          "parameterOrder": [
            "customerId",
            "orgUnitPath"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/moveDevicesToOu",
          "parameters": {
            "customerId": {
              "location": "path",
              "required": true,
              "description": "Immutable. ID of the Google Workspace account",
              "type": "string"
            },
            "orgUnitPath": {
              "description": "Full path of the target organizational unit or its ID",
              "type": "string",
              "location": "query",
              "required": true
            }
          },
          "httpMethod": "POST",
          "id": "directory.chromeosdevices.moveDevicesToOu"
        },
        "list": {
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos",
          "parameters": {
            "orgUnitPath": {
              "description": "The full path of the organizational unit (minus the leading `/`) or its unique ID.",
              "type": "string",
              "location": "query"
            },
            "query": {
              "location": "query",
              "description": "Search string in the format given at [List query operators](https://developers.google.com/workspace/admin/directory/v1/list-query-operators).",
              "type": "string"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Must be used with the `orderBy` parameter.",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "location": "query",
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ]
            },
            "projection": {
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string"
            },
            "pageToken": {
              "description": "The `pageToken` query parameter is used to request the next page of query results. The follow-on request's `pageToken` query parameter is the `nextPageToken` from your previous response.",
              "type": "string",
              "location": "query"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "default": "100",
              "minimum": "1",
              "description": "Maximum number of results to return. Value should not exceed 300.",
              "type": "integer",
              "format": "int32"
            },
            "orderBy": {
              "enum": [
                "annotatedLocation",
                "annotatedUser",
                "lastSync",
                "notes",
                "serialNumber",
                "status"
              ],
              "location": "query",
              "description": "Device property to use for sorting results.",
              "type": "string",
              "enumDescriptions": [
                "Chrome device location as annotated by the administrator.",
                "Chromebook user as annotated by administrator.",
                "The date and time the Chrome device was last synchronized with the policy settings in the Admin console.",
                "Chrome device notes as annotated by the administrator.",
                "The Chrome device serial number entered when the device was enabled.",
                "Chrome device status. For more information, see the <a [chromeosdevices](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices.html)."
              ]
            },
            "includeChildOrgunits": {
              "description": "Return devices from all child orgunits, as well as the specified org unit. If this is set to true, 'orgUnitPath' must be provided.",
              "type": "boolean",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ChromeOsDevices"
          },
          "id": "directory.chromeosdevices.list",
          "httpMethod": "GET",
          "description": "Retrieves a paginated list of Chrome OS devices within an account.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "parameterOrder": [
            "customerId"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "id": "directory.chromeosdevices.get",
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameters": {
            "customerId": {
              "required": true,
              "location": "path",
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string"
            },
            "projection": {
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ],
              "enum": [
                "BASIC",
                "FULL"
              ],
              "location": "query"
            },
            "deviceId": {
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos",
            "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"
          ],
          "description": "Retrieves a Chrome OS device's properties."
        },
        "update": {
          "request": {
            "$ref": "ChromeOsDevice"
          },
          "description": "Updates a device's updatable properties, such as `annotatedUser`, `annotatedLocation`, `notes`, `orgUnitPath`, or `annotatedAssetId`.",
          "parameterOrder": [
            "customerId",
            "deviceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.device.chromeos"
          ],
          "path": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "flatPath": "admin/directory/v1/customer/{customerId}/devices/chromeos/{deviceId}",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. As an account administrator, you can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users resource](https://developers.google.com/workspace/admin/directory/v1/reference/users).",
              "type": "string",
              "location": "path",
              "required": true
            },
            "projection": {
              "location": "query",
              "enum": [
                "BASIC",
                "FULL"
              ],
              "description": "Determines whether the response contains the full list of properties or only a subset.",
              "type": "string",
              "enumDescriptions": [
                "Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)",
                "Includes all metadata fields"
              ]
            },
            "deviceId": {
              "location": "path",
              "required": true,
              "description": "The unique ID of the device. The `deviceId`s are returned in the response from the [chromeosdevices.list](https://developers.google.com/workspace/admin/v1/reference/chromeosdevices/list) method.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "ChromeOsDevice"
          },
          "httpMethod": "PUT",
          "id": "directory.chromeosdevices.update"
        }
      }
    },
    "privileges": {
      "methods": {
        "list": {
          "description": "Retrieves a paginated list of all privileges for a customer.",
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "path": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "flatPath": "admin/directory/v1/customer/{customer}/roles/ALL/privileges",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Privileges"
          },
          "httpMethod": "GET",
          "id": "directory.privileges.list"
        }
      }
    },
    "domainAliases": {
      "methods": {
        "delete": {
          "id": "directory.domainAliases.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "domainAliasName": {
              "required": true,
              "location": "path",
              "description": "Name of domain alias to be retrieved.",
              "type": "string"
            }
          },
          "description": "Deletes a domain Alias of the customer."
        },
        "insert": {
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "request": {
            "$ref": "DomainAlias"
          },
          "description": "Inserts a domain alias of the customer.",
          "httpMethod": "POST",
          "id": "directory.domainAliases.insert",
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "parameters": {
            "customer": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DomainAlias"
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "directory.domainAliases.list",
          "path": "admin/directory/v1/customer/{customer}/domainaliases",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "parentDomainName": {
              "location": "query",
              "description": "Name of the parent domain for which domain aliases are to be fetched.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "DomainAliases"
          },
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "description": "Lists the domain aliases of the customer."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameterOrder": [
            "customer",
            "domainAliasName"
          ],
          "description": "Retrieves a domain alias of the customer.",
          "id": "directory.domainAliases.get",
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "flatPath": "admin/directory/v1/customer/{customer}/domainaliases/{domainAliasName}",
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string"
            },
            "domainAliasName": {
              "description": "Name of domain alias to be retrieved.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "DomainAlias"
          }
        }
      }
    },
    "domains": {
      "methods": {
        "delete": {
          "path": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "flatPath": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "domainName": {
              "description": "Name of domain to be deleted",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a domain of the customer.",
          "id": "directory.domains.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "customer",
            "domainName"
          ]
        },
        "insert": {
          "path": "admin/directory/v1/customer/{customer}/domains",
          "flatPath": "admin/directory/v1/customer/{customer}/domains",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Domains"
          },
          "httpMethod": "POST",
          "id": "directory.domains.insert",
          "description": "Inserts a domain of the customer.",
          "request": {
            "$ref": "Domains"
          },
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "parameterOrder": [
            "customer"
          ],
          "description": "Lists the domains of the customer.",
          "id": "directory.domains.list",
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customer}/domains",
          "flatPath": "admin/directory/v1/customer/{customer}/domains",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Domains2"
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "directory.domains.get",
          "path": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "flatPath": "admin/directory/v1/customer/{customer}/domains/{domainName}",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "domainName": {
              "required": true,
              "location": "path",
              "description": "Name of domain to be retrieved",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Domains"
          },
          "parameterOrder": [
            "customer",
            "domainName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.domain",
            "https://www.googleapis.com/auth/admin.directory.domain.readonly"
          ],
          "description": "Retrieves a domain of the customer."
        }
      }
    },
    "schemas": {
      "methods": {
        "patch": {
          "request": {
            "$ref": "Schema"
          },
          "description": "Patches a schema.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "location": "path",
              "required": true,
              "description": "Name or immutable ID of the schema.",
              "type": "string"
            },
            "customerId": {
              "required": true,
              "location": "path",
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Schema"
          },
          "id": "directory.schemas.patch",
          "httpMethod": "PATCH"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "description": "Retrieves a schema.",
          "id": "directory.schemas.get",
          "httpMethod": "GET",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Schema"
          }
        },
        "update": {
          "httpMethod": "PUT",
          "id": "directory.schemas.update",
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "path",
              "required": true
            },
            "schemaKey": {
              "required": true,
              "location": "path",
              "description": "Name or immutable ID of the schema.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Schema"
          },
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ],
          "description": "Updates a schema.",
          "request": {
            "$ref": "Schema"
          }
        },
        "delete": {
          "path": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas/{schemaKey}",
          "parameters": {
            "schemaKey": {
              "description": "Name or immutable ID of the schema.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a schema.",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "customerId",
            "schemaKey"
          ],
          "id": "directory.schemas.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ]
        },
        "insert": {
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Schema"
          },
          "httpMethod": "POST",
          "id": "directory.schemas.insert",
          "request": {
            "$ref": "Schema"
          },
          "description": "Creates a schema.",
          "parameterOrder": [
            "customerId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema"
          ]
        },
        "list": {
          "description": "Retrieves all schemas for a customer.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.userschema",
            "https://www.googleapis.com/auth/admin.directory.userschema.readonly"
          ],
          "parameterOrder": [
            "customerId"
          ],
          "path": "admin/directory/v1/customer/{customerId}/schemas",
          "flatPath": "admin/directory/v1/customer/{customerId}/schemas",
          "parameters": {
            "customerId": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Schemas"
          },
          "id": "directory.schemas.list",
          "httpMethod": "GET"
        }
      }
    },
    "groups": {
      "methods": {
        "delete": {
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a group.",
          "id": "directory.groups.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "groupKey"
          ]
        },
        "insert": {
          "request": {
            "$ref": "Group"
          },
          "description": "Creates a group.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "path": "admin/directory/v1/groups",
          "flatPath": "admin/directory/v1/groups",
          "parameters": {},
          "response": {
            "$ref": "Group"
          },
          "httpMethod": "POST",
          "id": "directory.groups.insert"
        },
        "list": {
          "httpMethod": "GET",
          "id": "directory.groups.list",
          "path": "admin/directory/v1/groups",
          "flatPath": "admin/directory/v1/groups",
          "parameters": {
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "Token to specify next page in the list",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "minimum": "1",
              "default": "200",
              "format": "int32",
              "description": "Maximum number of results to return. Max allowed value is 200.",
              "type": "integer"
            },
            "orderBy": {
              "enumDescriptions": [
                "Email of the group."
              ],
              "description": "Column to use for sorting results",
              "type": "string",
              "enum": [
                "email"
              ],
              "location": "query"
            },
            "query": {
              "location": "query",
              "description": "Query string search. Contains one or more search clauses, each with a field, operator, and value. For complete documentation, go to [Search for groups](https://developers.google.com/workspace/admin/directory/v1/guides/search-groups).",
              "type": "string"
            },
            "userKey": {
              "location": "query",
              "description": "Email or immutable ID of the user if only those groups are to be listed, the given user is a member of. If it's an ID, it should match with the ID of the user object. Cannot be used with the `customer` parameter.",
              "type": "string"
            },
            "domain": {
              "location": "query",
              "description": "The domain name. Use this field to get groups from only one domain. To return all domains for a customer account, use the `customer` query parameter instead.",
              "type": "string"
            },
            "sortOrder": {
              "description": "Whether to return results in ascending or descending order. Only of use when orderBy is also used",
              "type": "string",
              "enumDescriptions": [
                "Ascending order.",
                "Descending order."
              ],
              "enum": [
                "ASCENDING",
                "DESCENDING"
              ],
              "location": "query"
            }
          },
          "response": {
            "$ref": "Groups"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "description": "Retrieves all groups of a domain or of a user given a userKey (paginated)."
        },
        "get": {
          "description": "Retrieves a group's properties.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group",
            "https://www.googleapis.com/auth/admin.directory.group.readonly"
          ],
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "Group"
          },
          "id": "directory.groups.get",
          "httpMethod": "GET"
        },
        "update": {
          "description": "Updates a group's properties.",
          "request": {
            "$ref": "Group"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "parameterOrder": [
            "groupKey"
          ],
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "location": "path",
              "required": true,
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Group"
          },
          "id": "directory.groups.update",
          "httpMethod": "PUT"
        },
        "patch": {
          "httpMethod": "PATCH",
          "id": "directory.groups.patch",
          "path": "admin/directory/v1/groups/{groupKey}",
          "flatPath": "admin/directory/v1/groups/{groupKey}",
          "parameters": {
            "groupKey": {
              "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "response": {
            "$ref": "Group"
          },
          "parameterOrder": [
            "groupKey"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.group"
          ],
          "description": "Updates a group's properties. This method supports [patch semantics](https://developers.google.com/workspace/admin/directory/v1/guides/performance#patch).",
          "request": {
            "$ref": "Group"
          }
        }
      },
      "resources": {
        "aliases": {
          "methods": {
            "delete": {
              "path": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases/{alias}",
              "parameters": {
                "groupKey": {
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "alias": {
                  "location": "path",
                  "required": true,
                  "description": "The alias to be removed",
                  "type": "string"
                }
              },
              "description": "Removes an alias.",
              "id": "directory.groups.aliases.delete",
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "groupKey",
                "alias"
              ]
            },
            "insert": {
              "request": {
                "$ref": "Alias"
              },
              "description": "Adds an alias for the group.",
              "parameterOrder": [
                "groupKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group"
              ],
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameters": {
                "groupKey": {
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Alias"
              },
              "httpMethod": "POST",
              "id": "directory.groups.aliases.insert"
            },
            "list": {
              "path": "admin/directory/v1/groups/{groupKey}/aliases",
              "flatPath": "admin/directory/v1/groups/{groupKey}/aliases",
              "parameters": {
                "groupKey": {
                  "location": "path",
                  "required": true,
                  "description": "Identifies the group in the API request. The value can be the group's email address, group alias, or the unique group ID.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Aliases"
              },
              "httpMethod": "GET",
              "id": "directory.groups.aliases.list",
              "description": "Lists all aliases for a group.",
              "parameterOrder": [
                "groupKey"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/admin.directory.group",
                "https://www.googleapis.com/auth/admin.directory.group.readonly"
              ]
            }
          }
        }
      }
    },
    "channels": {
      "methods": {
        "stop": {
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.user",
            "https://www.googleapis.com/auth/admin.directory.user.alias",
            "https://www.googleapis.com/auth/admin.directory.user.alias.readonly",
            "https://www.googleapis.com/auth/admin.directory.user.readonly",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "Channel"
          },
          "description": "Stops watching resources through this channel.",
          "httpMethod": "POST",
          "id": "admin.channels.stop",
          "path": "admin/directory_v1/channels/stop",
          "flatPath": "admin/directory_v1/channels/stop",
          "parameters": {}
        }
      }
    },
    "roleAssignments": {
      "methods": {
        "get": {
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "parameters": {
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "type": "string",
              "required": true,
              "location": "path"
            },
            "customer": {
              "description": "The unique ID for the customer's Google Workspace account. In case of a multi-domain account, to fetch all groups for a customer, use this field instead of `domain`. You can also use the `my_customer` alias to represent your account's `customerId`. The `customerId` is also returned as part of the [Users](https://developers.google.com/workspace/admin/directory/v1/reference/users) resource. You must provide either the `customer` or the `domain` parameter.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "RoleAssignment"
          },
          "id": "directory.roleAssignments.get",
          "httpMethod": "GET",
          "description": "Retrieves a role assignment.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ]
        },
        "delete": {
          "path": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments/{roleAssignmentId}",
          "parameters": {
            "customer": {
              "location": "path",
              "required": true,
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string"
            },
            "roleAssignmentId": {
              "description": "Immutable ID of the role assignment.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "description": "Deletes a role assignment.",
          "id": "directory.roleAssignments.delete",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ],
          "httpMethod": "DELETE",
          "parameterOrder": [
            "customer",
            "roleAssignmentId"
          ]
        },
        "insert": {
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameters": {
            "customer": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "response": {
            "$ref": "RoleAssignment"
          },
          "httpMethod": "POST",
          "id": "directory.roleAssignments.insert",
          "request": {
            "$ref": "RoleAssignment"
          },
          "description": "Creates a role assignment.",
          "parameterOrder": [
            "customer"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement"
          ]
        },
        "list": {
          "description": "Retrieves a paginated list of all roleAssignments.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.directory.rolemanagement",
            "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"
          ],
          "parameterOrder": [
            "customer"
          ],
          "path": "admin/directory/v1/customer/{customer}/roleassignments",
          "flatPath": "admin/directory/v1/customer/{customer}/roleassignments",
          "parameters": {
            "roleId": {
              "description": "Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.",
              "type": "string",
              "location": "query"
            },
            "userKey": {
              "location": "query",
              "description": "The primary email address, alias email address, or unique user or group ID. If included in the request, returns role assignments only for this user or group.",
              "type": "string"
            },
[...]
