{
  "id": "admin:directory_v1",
  "revision": "20260413",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "basePath": "",
  "name": "admin",
  "baseUrl": "https://admin.googleapis.com/",
  "packagePath": "admin",
  "title": "Admin SDK API",
  "ownerDomain": "google.com",
  "canonicalName": "directory",
  "rootUrl": "https://admin.googleapis.com/",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "servicePath": "",
  "version": "directory_v1",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "PrintServer": {
      "properties": {
        "uri": {
          "description": "Editable. Print server URI.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Display name of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "id": {
          "description": "Immutable. ID of the print server. Leave empty when creating.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the print server was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "PrintServer",
      "description": "Configuration for a print server."
    },
    "Schema": {
      "properties": {
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        },
        "fields": {
          "description": "A list of fields in the schema.",
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "array"
        },
        "schemaName": {
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string"
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#schema",
          "type": "string",
          "description": "Kind of resource this is."
        }
      },
      "type": "object",
      "id": "Schema",
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`."
    },
    "UserExternalId": {
      "properties": {
        "value": {
          "description": "The value of the id.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "type": {
          "description": "The type of the Id.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserExternalId",
      "description": "JSON template for an externalId entry."
    },
    "BuildingCoordinates": {
      "id": "BuildingCoordinates",
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "latitude": {
          "type": "number",
          "format": "double",
          "description": "Latitude in decimal degrees."
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in decimal degrees."
        }
      }
    },
    "BatchCreatePrintServersRequest": {
      "id": "BatchCreatePrintServersRequest",
      "description": "Request to add multiple new print servers in a batch.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of `PrintServer` resources to be created (max `50` per batch).",
          "type": "array",
          "items": {
            "$ref": "CreatePrintServerRequest"
          }
        }
      }
    },
    "ListPrintServersResponse": {
      "properties": {
        "printServers": {
          "description": "List of print servers.",
          "items": {
            "$ref": "PrintServer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListPrintServersResponse"
    },
    "ChromeOsDevice": {
      "id": "ChromeOsDevice",
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices).",
      "type": "object",
      "properties": {
        "bootMode": {
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch).",
          "type": "string"
        },
        "lastKnownNetwork": {
          "description": "Contains last known network (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              },
              "wanIpAddress": {
                "description": "The WAN IP address.",
                "type": "string"
              }
            },
            "description": "Information for an ip address."
          }
        },
        "extendedSupportEnabled": {
          "description": "Output only. Whether extended support policy is enabled on the device.",
          "readOnly": true,
          "type": "boolean"
        },
        "diskSpaceUsage": {
          "$ref": "ByteUsage",
          "description": "Output only. How much disk space the device has available and is currently using.",
          "readOnly": true
        },
        "backlightInfo": {
          "type": "array",
          "items": {
            "$ref": "BacklightInfo"
          },
          "description": "Output only. Contains backlight information for the device.",
          "readOnly": true
        },
        "platformVersion": {
          "description": "The Chrome device's platform version.",
          "type": "string"
        },
        "cpuInfo": {
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "description": "CPU specs for a CPU.",
            "properties": {
              "maxClockSpeedKhz": {
                "type": "integer",
                "format": "int32",
                "description": "The max CPU clock speed in kHz."
              },
              "logicalCpus": {
                "type": "array",
                "items": {
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "idleDuration": {
                      "description": "Idle time since last boot.",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "maxScalingFrequencyKhz": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum frequency the CPU is allowed to run at, by policy."
                    },
                    "cStates": {
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "displayName": {
                            "description": "Name of the state.",
                            "type": "string"
                          },
                          "sessionDuration": {
                            "description": "Time spent in the state since the last reboot.",
                            "type": "string",
                            "format": "google-duration"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "currentScalingFrequencyKhz": {
                      "description": "Current frequency the CPU is running at.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "type": "object"
                },
                "description": "Information for the Logical CPUs"
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "cpuStatusReports": {
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "items": {
                  "properties": {
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "label": {
                      "description": "CPU label",
                      "type": "string"
                    }
                  },
                  "type": "object"
                },
                "type": "array"
              },
              "reportTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the report was received."
              }
            }
          },
          "type": "array"
        },
        "autoUpdateThrough": {
          "type": "string",
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support.",
          "readOnly": true
        },
        "diskVolumeReports": {
          "description": "Reports of disk space and other info about mounted/connected volumes.",
          "items": {
            "properties": {
              "volumeInfo": {
                "description": "Disk volumes",
                "items": {
                  "type": "object",
                  "properties": {
                    "storageFree": {
                      "type": "string",
                      "format": "int64",
                      "description": "Free disk space [in bytes]"
                    },
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "type": "string",
                      "format": "int64",
                      "description": "Total disk space [in bytes]"
                    }
                  }
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          "type": "array"
        },
        "systemRamFreeReports": {
          "description": "Reports of amounts of available RAM memory (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "reportTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the report was received."
              },
              "systemRamFreeInfo": {
                "items": {
                  "type": "string",
                  "format": "int64"
                },
                "type": "array"
              }
            }
          },
          "type": "array"
        },
        "osVersion": {
          "description": "The Chrome device's operating system version.",
          "type": "string"
        },
        "recentUsers": {
          "description": "A list of recent device users, in descending order, by last login time.",
          "type": "array",
          "items": {
            "description": "A list of recent device users, in descending order, by last login time.",
            "type": "object",
            "properties": {
              "type": {
                "description": "The type of the user.",
                "type": "string"
              },
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              }
            }
          }
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        },
        "annotatedUser": {
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "type": "object",
          "properties": {
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            },
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "firmwareVersion": {
              "description": "TPM firmware version.",
              "type": "string"
            },
            "family": {
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -> 312e3200 TPM 2.0: \"2.0\" -> 322e3000",
              "type": "string"
            },
            "vendorSpecific": {
              "description": "Vendor-specific information such as Vendor ID.",
              "type": "string"
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            }
          },
          "description": "Trusted Platform Module (TPM) (Read-only)"
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#chromeosdevice",
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`."
        },
        "fanInfo": {
          "description": "Output only. Fan information for the device.",
          "readOnly": true,
          "items": {
            "$ref": "FanInfo"
          },
          "type": "array"
        },
        "lastDeprovisionTimestamp": {
          "description": "(Read-only) Date and time for the last deprovision of the device.",
          "type": "string"
        },
        "chromeOsType": {
          "description": "Output only. Chrome OS type of the device.",
          "type": "string",
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "readOnly": true,
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ]
        },
        "meid": {
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices.html#export_meid).",
          "type": "string"
        },
        "autoUpdateExpiration": {
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support. Please use \"autoUpdateThrough\" instead.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "firstEnrollmentTime": {
          "description": "Date and time for the first time the device was enrolled.",
          "type": "string"
        },
        "deviceLicenseType": {
          "description": "Output only. Device license type.",
          "type": "string",
          "enumDescriptions": [
            "The license type is unknown.",
            "The device is bundled with a perpetual Chrome Enterprise Upgrade.",
            "The device has an annual standalone Chrome Enterprise Upgrade.",
            "The device has a perpetual standalone Chrome Education Upgrade.",
            "The device is bundled with a perpetual Chrome Education Upgrade.",
            "The device has an annual Kiosk Upgrade.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Education Upgrade(AKA Chrome EDU perpetual license).",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Education Upgrade(AKA Chrome EDU fixed-term license)."
          ],
          "readOnly": true,
          "enum": [
            "deviceLicenseTypeUnspecified",
            "enterprise",
            "enterpriseUpgrade",
            "educationUpgrade",
            "education",
            "kioskUpgrade",
            "enterpriseUpgradePerpetual",
            "enterpriseUpgradeFixedTerm",
            "educationUpgradePerpetual",
            "educationUpgradeFixedTerm"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "ethernetMacAddress0": {
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "osVersionCompliance": {
          "readOnly": true,
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ],
          "description": "Output only. Device policy compliance status of the OS version.",
          "type": "string",
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ]
        },
        "deviceId": {
          "description": "The unique ID of the Chrome device.",
          "type": "string"
        },
        "lastEnrollmentTime": {
          "description": "Date and time the device was last enrolled (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "systemRamTotal": {
          "description": "Total RAM on the device [in bytes] (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "extendedSupportEligible": {
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "readOnly": true,
          "type": "boolean"
        },
        "osUpdateStatus": {
          "$ref": "OsUpdateStatus",
          "description": "The status of the OS updates for the device."
        },
        "firmwareVersion": {
          "description": "The Chrome device's firmware version.",
          "type": "string"
        },
        "status": {
          "description": "The status of the device.",
          "type": "string"
        },
        "screenshotFiles": {
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "description": "File name",
                "type": "string"
              },
              "createTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the file was created"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "deprovisionReason": {
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ],
          "type": "string",
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "description": "(Read-only) Deprovision reason."
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "dockMacAddress": {
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "deviceFiles": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              },
              "name": {
                "description": "File name",
                "type": "string"
              },
              "createTime": {
                "description": "Date and time the file was created",
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "description": "A list of device files to download (Read-only)"
        },
        "model": {
          "description": "The device's model information. If the device does not have this information, this property is not included in the response.",
          "type": "string"
        },
        "activeTimeRanges": {
          "items": {
            "properties": {
              "activeTime": {
                "type": "integer",
                "format": "int32",
                "description": "Duration of usage in milliseconds."
              },
              "date": {
                "description": "Date of usage",
                "type": "string",
                "format": "date"
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "A list of active time ranges (Read-only)."
        },
        "supportEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Final date the device will be supported (Read-only)"
        },
        "bluetoothAdapterInfo": {
          "description": "Output only. Information about Bluetooth adapters of the device.",
          "readOnly": true,
          "items": {
            "$ref": "BluetoothAdapterInfo"
          },
          "type": "array"
        },
        "willAutoRenew": {
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property.",
          "type": "boolean"
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "extendedSupportStart": {
          "description": "Output only. Date of the device when extended support policy for automatic updates starts.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ChromeOsMoveDevicesToOu": {
      "id": "ChromeOsMoveDevicesToOu",
      "type": "object",
      "properties": {
        "deviceIds": {
          "description": "Chrome OS devices to be moved to OU",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "BatchDeletePrintServersResponse": {
      "id": "BatchDeletePrintServersResponse",
      "properties": {
        "printServerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of print server IDs that were successfully deleted."
        },
        "failedPrintServers": {
          "description": "A list of update failures.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "UserGender": {
      "id": "UserGender",
      "properties": {
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintServersResponse": {
      "id": "BatchCreatePrintServersResponse",
      "type": "object",
      "properties": {
        "printServers": {
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          },
          "description": "A list of successfully created print servers with their IDs populated."
        },
        "failures": {
          "type": "array",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created."
        }
      }
    },
    "Asps": {
      "id": "Asps",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#aspList",
          "description": "The type of the API resource. This is always `admin#directory#aspList`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          },
          "type": "array"
        }
      }
    },
    "Member": {
      "id": "Member",
      "description": "A Google Groups member can be a user or another group. This member can be inside or outside of your account's domains. For more information about common group member tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-group-members).",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "status": {
          "description": "Status of member (Immutable)",
          "type": "string"
        },
        "role": {
          "description": "The member's role in a group. The API returns an error for cycles in group memberships. For example, if `group1` is a member of `group2`, `group2` cannot be a member of `group1`. For more information about a member's role, see the [administration help center](https://support.google.com/a/answer/167094).",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the group member. A member `id` can be used as a member request URI's `memberKey`.",
          "type": "string"
        },
        "type": {
          "description": "The type of group member.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#member",
          "type": "string",
          "description": "The type of the API resource. For Members resources, the value is `admin#directory#member`."
        },
        "email": {
          "description": "The member's email address. A member can be a user or another group. This property is required when adding a member to a group. The `email` must be unique and cannot be an alias of another group. If the email address is changed, the API automatically reflects the email address changes.",
          "type": "string"
        },
        "delivery_settings": {
          "description": "Defines mail delivery preferences of member. This field is only supported by `insert`, `update`, and `get` methods.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerificationCodes": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of verification code resources.",
          "items": {
            "$ref": "VerificationCode"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#verificationCodesList",
          "description": "The type of the resource. This is always `admin#directory#verificationCodesList`."
        }
      },
      "id": "VerificationCodes",
      "description": "JSON response template for list verification codes operation in Directory API."
    },
    "PrinterModel": {
      "id": "PrinterModel",
      "description": "Printer manufacturer and model",
      "properties": {
        "manufacturer": {
          "description": "Manufacturer. eq. \"Brother\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name. eq. \"Brother MFC-8840D\"",
          "type": "string"
        },
        "makeAndModel": {
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Features": {
      "id": "Features",
      "description": "Public API: Resources.features",
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "features": {
          "description": "The Features in this page of results.",
          "items": {
            "$ref": "Feature"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#features#featuresList",
          "description": "Kind of resource this is."
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      }
    },
    "Domains": {
      "id": "Domains",
      "type": "object",
      "properties": {
        "creationTime": {
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "type": "string",
          "format": "int64"
        },
        "isPrimary": {
          "description": "Indicates if the domain is a primary domain (Read-only).",
          "type": "boolean"
        },
        "domainName": {
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string",
          "description": "The domain name of the customer."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliases": {
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array",
          "description": "A list of domain alias objects. (Read-only)"
        },
        "verified": {
          "description": "Indicates the verification state of a domain. (Read-only).",
          "type": "boolean"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#domain",
          "type": "string"
        }
      }
    },
    "BacklightInfo": {
      "id": "BacklightInfo",
      "description": "Information about the device's backlights.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information.",
          "readOnly": true,
          "type": "string"
        },
        "brightness": {
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "maxBrightness": {
          "description": "Output only. Maximum brightness for the backlight.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "UserAlias": {
      "id": "UserAlias",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FeatureInstance": {
      "type": "object",
      "properties": {
        "feature": {
          "$ref": "Feature",
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature."
        }
      },
      "id": "FeatureInstance",
      "description": "JSON template for a feature instance."
    },
    "DomainAliases": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#directory#domainAliases",
          "description": "Kind of resource this is."
        },
        "domainAliases": {
          "description": "A list of domain alias objects.",
          "type": "array",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "DomainAliases"
    },
    "FanInfo": {
      "properties": {
        "speedRpm": {
          "description": "Output only. Fan speed in RPM.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "FanInfo",
      "description": "Information about the device's fan."
    },
    "FeatureRename": {
      "properties": {
        "newName": {
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          },
          "type": "string",
          "description": "New name of the feature."
        }
      },
      "type": "object",
      "id": "FeatureRename"
    },
    "MobileDeviceAction": {
      "type": "object",
      "properties": {
        "action": {
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          },
          "type": "string",
          "description": "The action to be performed on the device."
        }
      },
      "id": "MobileDeviceAction"
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "properties": {
        "commandType": {
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of command."
        },
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserName": {
      "properties": {
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        },
        "familyName": {
          "description": "The user's last name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "givenName": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's first name. Required when creating a user account."
        },
        "displayName": {
          "description": "The user's display name. Limit: 256 characters.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserName"
    },
    "CreatePrinterRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The name of the customer. Format: customers/{customer_id}",
          "type": "string"
        },
        "printer": {
          "$ref": "Printer",
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU."
        }
      },
      "id": "CreatePrinterRequest",
      "description": "Request for adding a new printer."
    },
    "ByteUsage": {
      "id": "ByteUsage",
      "description": "Represents a data capacity with some amount of current usage in bytes.",
      "type": "object",
      "properties": {
        "capacityBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The total capacity value, in bytes.",
          "readOnly": true
        },
        "usedBytes": {
          "description": "Output only. The current usage value, in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DirectoryChromeosdevicesCommand": {
      "id": "DirectoryChromeosdevicesCommand",
      "description": "Information regarding a command that was issued to a device.",
      "type": "object",
      "properties": {
        "commandExpireTime": {
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired.",
          "type": "string",
          "format": "google-datetime"
        },
        "commandResult": {
          "$ref": "DirectoryChromeosdevicesCommandResult",
          "description": "The result of the command execution."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "description": "Indicates the command state."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of the command."
        },
        "commandId": {
          "type": "string",
          "format": "int64",
          "description": "Unique ID of a device command."
        },
        "issueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the command was issued by the admin."
        },
        "payload": {
          "description": "The payload that the command specified, if any.",
          "type": "string"
        }
      }
    },
    "Customer": {
      "type": "object",
      "properties": {
        "customerCreationTime": {
          "description": "The customer's creation time (Readonly)",
          "type": "string",
          "format": "date-time"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "customerDomain": {
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer.",
          "type": "string"
        },
        "postalAddress": {
          "$ref": "CustomerPostalAddress",
          "description": "The customer's postal address information."
        },
        "id": {
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)",
          "type": "string"
        },
        "alternateEmail": {
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#customer",
          "type": "string",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`"
        },
        "language": {
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](https://developers.google.com/workspace/admin/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
          "type": "string"
        }
      },
      "id": "Customer"
    },
    "RoleAssignment": {
      "type": "object",
      "properties": {
        "scopeType": {
          "description": "The scope in which this role is assigned.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition.",
          "type": "string"
        },
        "assignedTo": {
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts).",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#roleAssignment",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`."
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "assigneeType": {
          "type": "string",
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ],
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "enum": [
            "user",
            "group"
          ],
          "readOnly": true
        },
        "roleId": {
          "description": "The ID of the role that is assigned.",
          "type": "string",
          "format": "int64"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "roleAssignmentId": {
          "type": "string",
          "format": "int64",
          "description": "ID of this roleAssignment."
        }
      },
      "id": "RoleAssignment",
      "description": "Defines an assignment of a role."
    },
    "ChangeChromeOsDeviceStatusSucceeded": {
      "properties": {},
      "type": "object",
      "id": "ChangeChromeOsDeviceStatusSucceeded",
      "description": "Response for a successful ChromeOS device status change."
    },
    "ChromeOsDevices": {
      "id": "ChromeOsDevices",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#chromeosdevices"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "chromeosdevices": {
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "type": "array",
          "description": "A list of Chrome OS Device objects."
        }
      }
    },
    "CountChromeOsDevicesResponse": {
      "properties": {
        "count": {
          "description": "The total number of devices matching the request.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "CountChromeOsDevicesResponse",
      "description": "A response for counting ChromeOS devices."
    },
    "UserPosixAccount": {
      "id": "UserPosixAccount",
      "description": "JSON template for a POSIX account entry.",
      "type": "object",
      "properties": {
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "shell": {
          "description": "The path to the login shell for this account.",
          "type": "string"
        },
        "gid": {
          "description": "The default group ID.",
          "type": "string",
          "format": "uint64"
        },
        "systemId": {
          "description": "System identifier for which account Username or Uid apply to.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary account within the SystemId.",
          "type": "boolean"
        },
        "uid": {
          "type": "string",
          "format": "uint64",
          "description": "The POSIX compliant user ID."
        },
        "username": {
          "description": "The username of the account.",
          "type": "string"
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        }
      }
    },
    "UserRelation": {
      "id": "UserRelation",
      "description": "JSON template for a relation entry.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        }
      }
    },
    "CreatePrintServerRequest": {
      "id": "CreatePrintServerRequest",
      "description": "Request for adding a new print server.",
      "type": "object",
      "properties": {
        "parent": {
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
          "type": "string"
        },
        "printServer": {
          "$ref": "PrintServer",
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
        }
      }
    },
    "Members": {
      "id": "Members",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#members",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "members": {
          "description": "A list of member objects.",
          "type": "array",
          "items": {
            "$ref": "Member"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserWebsite": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary website or not.",
          "type": "boolean"
        },
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "id": "UserWebsite",
      "description": "JSON template for a website entry."
    },
    "AuxiliaryMessage": {
      "id": "AuxiliaryMessage",
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}",
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ],
          "description": "Message severity"
        },
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        },
        "fieldMask": {
          "description": "Field that this message concerns.",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Printer": {
      "id": "Printer",
      "description": "Printer configuration.",
      "properties": {
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "useDriverlessConfig": {
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        },
        "auxiliaryMessages": {
          "type": "array",
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "readOnly": true
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when printer was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of printer.",
          "type": "string"
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerPostalAddress": {
      "id": "CustomerPostalAddress",
      "type": "object",
      "properties": {
        "locality": {
          "description": "Name of the locality. An example of a locality value is the city of `San Francisco`.",
          "type": "string"
        },
        "contactName": {
          "description": "The customer contact's name.",
          "type": "string"
        },
        "addressLine3": {
          "description": "Address line 3 of the address.",
          "type": "string"
        },
        "addressLine1": {
          "description": "A customer's physical address. The address can be composed of one to three lines.",
          "type": "string"
        },
        "organizationName": {
          "description": "The company or company division name.",
          "type": "string"
        },
        "addressLine2": {
          "description": "Address line 2 of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "The postal code. A postalCode example is a postal zip code such as `10009`. This is in accordance with - http: //portablecontacts.net/draft-spec.html#address_element.",
          "type": "string"
        },
        "countryCode": {
          "description": "This is a required property. For `countryCode` information see the [ISO 3166 country code elements](https://www.iso.org/iso/country_codes.htm).",
          "type": "string"
        },
        "region": {
          "description": "Name of the region. An example of a region value is `NY` for the state of New York.",
          "type": "string"
        }
      }
    },
    "Building": {
      "id": "Building",
      "description": "Public API: Resources.buildings",
      "properties": {
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        },
        "buildingId": {
          "description": "Unique identifier for the building. The maximum length is 100 characters.",
          "type": "string"
        },
        "coordinates": {
          "$ref": "BuildingCoordinates",
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees."
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#resources#buildings#Building",
          "description": "Kind of resource this is."
        },
        "floorNames": {
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CalendarResources": {
      "id": "CalendarResources",
      "description": "Public API: Resources.calendars",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a collection of CalendarResources. This is always `admin#directory#resources#calendars#calendarResourcesList`.",
          "default": "admin#directory#resources#calendars#calendarResourcesList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarResource"
          },
          "description": "The CalendarResources in this page of results."
        }
      }
    },
    "User": {
      "properties": {
        "agreedToTerms": {
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "readOnly": true,
          "type": "boolean"
        },
        "customSchemas": {
          "type": "object",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          },
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`."
        },
        "addresses": {
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "lastLoginTime": {
          "type": "string",
          "format": "date-time",
          "description": "User's last login time. (Read-only)",
          "readOnly": true
        },
        "creationTime": {
          "type": "string",
          "format": "date-time",
          "description": "User's G Suite account creation time. (Read-only)",
          "readOnly": true
        },
        "relations": {
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "guestAccountInfo": {
          "description": "Immutable. Additional guest-related metadata fields",
          "$ref": "GuestAccountInfo"
        },
        "isDelegatedAdmin": {
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true,
          "type": "boolean"
        },
        "recoveryEmail": {
          "description": "Recovery email of the user.",
          "type": "string"
        },
        "aliases": {
          "description": "Output only. The list of the user's alias email addresses.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "organizations": {
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "thumbnailPhotoEtag": {
          "type": "string",
          "description": "Output only. ETag of the user's photo (Read-only)",
          "readOnly": true
        },
        "nonEditableAliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "readOnly": true
        },
        "recoveryPhone": {
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*.",
          "type": "string"
        },
        "notes": {
          "description": "Notes for the user.",
          "type": "any"
        },
        "id": {
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`.",
          "type": "string"
        },
        "ims": {
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "isEnforcedIn2Sv": {
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "readOnly": true,
          "type": "boolean"
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "ipWhitelisted": {
          "description": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration.",
          "type": "boolean"
        },
        "isAdmin": {
          "description": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB.",
          "$ref": "UserName",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "externalIds": {
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "phones": {
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request.",
          "readOnly": true
        },
        "languages": {
          "description": "The user's languages. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "isMailboxSetup": {
          "type": "boolean",
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license.",
          "readOnly": true
        },
        "kind": {
          "default": "admin#directory#user",
          "type": "string",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`.",
          "readOnly": true
        },
        "posixAccounts": {
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user.",
          "type": "any"
        },
        "includeInGlobalAddressList": {
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988).",
          "type": "boolean"
        },
        "locations": {
          "description": "The user's locations. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "isGuestUser": {
          "description": "Immutable. Indicates if the inserted user is a guest.",
          "type": "boolean"
        },
        "keywords": {
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "password": {
          "type": "string",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "description": "User's password"
        },
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`.",
          "type": "any"
        },
        "isEnrolledIn2Sv": {
          "type": "boolean",
          "description": "Output only. Is enrolled in 2-step verification (Read-only)",
          "readOnly": true
        },
        "orgUnitPath": {
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`).",
          "type": "string"
        },
        "websites": {
          "description": "The user's websites. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "changePasswordAtNextLogin": {
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224).",
          "type": "boolean"
        },
        "suspensionReason": {
          "type": "string",
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`.",
          "readOnly": true
        },
        "deletionTime": {
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "archived": {
          "description": "Indicates if user is archived.",
          "type": "boolean"
        },
        "hashFunction": {
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer.",
          "type": "string"
        },
        "primaryEmail": {
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string",
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user."
        },
        "thumbnailPhotoUrl": {
          "description": "Output only. The URL of the user's profile photo. The URL might be temporary or private.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Output only. ETag of the resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "id": "User",
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html)."
    },
    "UserSshPublicKey": {
      "properties": {
        "expirationTimeUsec": {
          "type": "string",
          "format": "int64",
          "description": "An expiration time in microseconds since epoch."
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry."
    },
    "UserCustomProperties": {
      "id": "UserCustomProperties",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)",
      "type": "object",
      "additionalProperties": {
        "type": "any"
      }
    },
    "OrgUnits": {
      "id": "OrgUnits",
      "type": "object",
      "properties": {
        "organizationUnits": {
          "description": "A list of organizational unit objects.",
          "items": {
            "$ref": "OrgUnit"
          },
          "type": "array"
        },
        "kind": {
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`.",
          "default": "admin#directory#orgUnits",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "BatchCreatePrintersRequest": {
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array",
          "items": {
            "$ref": "CreatePrinterRequest"
          }
        }
      }
    },
    "MembersHasMember": {
      "id": "MembersHasMember",
      "description": "JSON template for Has Member response in Directory API.",
      "type": "object",
      "properties": {
        "isMember": {
          "type": "boolean",
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested.",
          "readOnly": true
        }
      }
    },
    "BluetoothAdapterInfo": {
      "id": "BluetoothAdapterInfo",
      "description": "Information about a device's Bluetooth adapter.",
      "properties": {
        "address": {
          "type": "string",
          "description": "Output only. The MAC address of the adapter.",
          "readOnly": true
        },
        "numConnectedDevices": {
          "description": "Output only. The number of devices connected to this adapter.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Roles": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Role resources.",
          "type": "array",
          "items": {
            "$ref": "Role"
          }
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roles`.",
          "type": "string",
          "default": "admin#directory#roles"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "Roles"
    },
    "SchemaFieldSpec": {
      "type": "object",
      "properties": {
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "fieldType": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "The type of the field."
        },
        "fieldName": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "The name of the field."
        },
        "kind": {
          "default": "admin#directory#schema#fieldspec",
          "type": "string",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`."
        },
        "displayName": {
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string",
          "description": "Display Name of the field."
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "indexed": {
          "default": "true",
          "type": "boolean",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`."
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "type": "object",
          "properties": {
            "maxValue": {
              "type": "number",
              "format": "double",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "minValue": {
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          }
        },
        "readAccessType": {
          "default": "ALL_DOMAIN_USERS",
          "type": "string",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected."
        }
      },
      "id": "SchemaFieldSpec",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas)."
    },
    "Aliases": {
      "id": "Aliases",
      "description": "JSON response template to list aliases in Directory API.",
      "properties": {
        "etag": {
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#aliases"
        }
      },
      "type": "object"
    },
    "Asp": {
      "id": "Asp",
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        },
        "lastTimeUsed": {
          "type": "string",
          "format": "int64",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        },
        "kind": {
          "default": "admin#directory#asp",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#asp`."
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        },
        "userKey": {
          "description": "The unique ID of the user who issued the ASP.",
          "type": "string"
        },
        "codeId": {
          "description": "The unique ID of the ASP.",
          "type": "integer",
          "format": "int32"
        },
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        }
      }
    },
    "UserOrganization": {
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the organization.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        },
        "fullTimeEquivalent": {
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%).",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UserOrganization",
      "description": "JSON template for an organization entry."
    },
    "UserPhoto": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "photoData": {
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "type": "string",
          "format": "byte",
[...]
