{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "Schemas": {
      "description": "JSON response template for List Schema operation in Directory API.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#schemas"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "description": "A list of UserSchema objects.",
          "items": {
            "$ref": "Schema"
          }
        }
      },
      "id": "Schemas"
    },
    "OrgUnits": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`.",
          "default": "admin#directory#orgUnits"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "organizationUnits": {
          "items": {
            "$ref": "OrgUnit"
          },
          "type": "array",
          "description": "A list of organizational unit objects."
        }
      },
      "id": "OrgUnits"
    },
    "BatchCreatePrintersRequest": {
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch.",
      "type": "object",
      "properties": {
        "requests": {
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "description": "A list of Printers to be created. Max 50 at a time.",
          "type": "array"
        }
      }
    },
    "CalendarResources": {
      "description": "Public API: Resources.calendars",
      "type": "object",
      "properties": {
        "items": {
          "description": "The CalendarResources in this page of results.",
          "type": "array",
          "items": {
            "$ref": "CalendarResource"
          }
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies this as a collection of CalendarResources. This is always `admin#directory#resources#calendars#calendarResourcesList`.",
          "default": "admin#directory#resources#calendars#calendarResourcesList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "CalendarResources"
    },
    "DirectoryUsersCreateGuestRequest": {
      "id": "DirectoryUsersCreateGuestRequest",
      "type": "object",
      "properties": {
        "primaryGuestEmail": {
          "type": "string",
          "description": "Immutable. External email of the guest user being created."
        },
        "customer": {
          "description": "Optional. Immutable ID of the Google Workspace account.",
          "type": "string"
        }
      },
      "description": "Directory users guest creation request message."
    },
    "UserIm": {
      "id": "UserIm",
      "description": "JSON template for instant messenger of an user.",
      "type": "object",
      "properties": {
        "im": {
          "description": "Instant messenger id.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary im. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "customProtocol": {
          "description": "Custom protocol.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        }
      }
    },
    "UserPhoto": {
      "id": "UserPhoto",
      "type": "object",
      "properties": {
        "photoData": {
          "format": "byte",
          "type": "string",
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          }
        },
        "height": {
          "description": "Height of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "default": "admin#directory#user#photo",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "id": {
          "description": "The ID the API uses to uniquely identify the user.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding.",
          "type": "string"
        },
        "width": {
          "format": "int32",
          "type": "integer",
          "description": "Width of the photo in pixels."
        }
      }
    },
    "ListPrinterModelsResponse": {
      "id": "ListPrinterModelsResponse",
      "description": "Response for listing allowed printer models.",
      "type": "object",
      "properties": {
        "printerModels": {
          "type": "array",
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "items": {
            "$ref": "PrinterModel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "User": {
      "id": "User",
      "type": "object",
      "properties": {
        "emails": {
          "description": "The list of the user's email addresses. The maximum allowed data size for this field is 10KB. This excludes `publicKeyEncryptionCertificates`.",
          "type": "any"
        },
        "aliases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. The list of the user's alias email addresses.",
          "readOnly": true
        },
        "recoveryPhone": {
          "description": "Recovery phone of the user. The phone number must be in the E.164 format, starting with the plus sign (+). Example: *+16506661212*.",
          "type": "string"
        },
        "notes": {
          "type": "any",
          "description": "Notes for the user."
        },
        "deletionTime": {
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "agreedToTerms": {
          "type": "boolean",
          "description": "Output only. This property is `true` if the user has completed an initial login and accepted the Terms of Service agreement.",
          "readOnly": true
        },
        "primaryEmail": {
          "description": "The user's primary email address. This property is required in a request to create a user account. The `primaryEmail` must be unique and cannot be an alias of another user.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Output only. ETag of the resource.",
          "readOnly": true
        },
        "ims": {
          "type": "any",
          "description": "The list of the user's Instant Messenger (IM) accounts. A user account can have multiple ims properties. But, only one of these ims properties can be the primary IM contact. The maximum allowed data size for this field is 2KB."
        },
        "gender": {
          "description": "The user's gender. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "organizations": {
          "description": "The list of organizations the user belongs to. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "customSchemas": {
          "description": "Custom fields of the user. The key is a `schema_name` and its values are `'field_name': 'field_value'`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserCustomProperties"
          }
        },
        "isGuestUser": {
          "type": "boolean",
          "description": "Immutable. Indicates if the inserted user is a guest."
        },
        "thumbnailPhotoEtag": {
          "type": "string",
          "description": "Output only. ETag of the user's photo (Read-only)",
          "readOnly": true
        },
        "suspensionReason": {
          "description": "Output only. Has the reason a user account is suspended either by the administrator or by Google at the time of suspension. The property is returned only if the `suspended` property is `true`.",
          "readOnly": true,
          "type": "string"
        },
        "locations": {
          "type": "any",
          "description": "The user's locations. The maximum allowed data size for this field is 10KB."
        },
        "isEnrolledIn2Sv": {
          "description": "Output only. Is enrolled in 2-step verification (Read-only)",
          "readOnly": true,
          "type": "boolean"
        },
        "suspended": {
          "description": "Indicates if user is suspended.",
          "type": "boolean"
        },
        "name": {
          "$ref": "UserName",
          "description": "Holds the given and family names of the user, and the read-only `fullName` value. The maximum number of characters in the `givenName` and in the `familyName` values is 60. In addition, name values support unicode/UTF-8 characters, and can contain spaces, letters (a-z), numbers (0-9), dashes (-), forward slashes (/), and periods (.). For more information about character usage rules, see the [administration help center](https://support.google.com/a/answer/9193374). Maximum allowed data size for this field is 1KB.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "lastLoginTime": {
          "description": "User's last login time. (Read-only)",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "customerId": {
          "description": "Output only. The customer ID to [retrieve all account users](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#get_all_users). You can use the alias `my_customer` to represent your account's `customerId`. As a reseller administrator, you can use the resold customer account's `customerId`. To get a `customerId`, use the account's primary domain in the `domain` parameter of a [users.list](https://developers.google.com/workspace/admin/directory/v1/reference/users/list) request.",
          "readOnly": true,
          "type": "string"
        },
        "isEnforcedIn2Sv": {
          "type": "boolean",
          "description": "Output only. Is 2-step verification enforced (Read-only)",
          "readOnly": true
        },
        "externalIds": {
          "type": "any",
          "description": "The list of external IDs for the user, such as an employee or network ID. The maximum allowed data size for this field is 2KB."
        },
        "languages": {
          "type": "any",
          "description": "The user's languages. The maximum allowed data size for this field is 1KB."
        },
        "posixAccounts": {
          "description": "The list of [POSIX](https://www.opengroup.org/austin/papers/posix_faq.html) account information for the user.",
          "type": "any"
        },
        "archived": {
          "type": "boolean",
          "description": "Indicates if user is archived."
        },
        "isAdmin": {
          "description": "Output only. Indicates a user with super administrator privileges. The `isAdmin` property can only be edited in the [Make a user an administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#make_admin) operation ( [makeAdmin](https://developers.google.com/workspace/admin/directory/v1/reference/users/makeAdmin.html) method). If edited in the user [insert](https://developers.google.com/workspace/admin/directory/v1/reference/users/insert.html) or [update](https://developers.google.com/workspace/admin/directory/v1/reference/users/update.html) methods, the edit is ignored by the API service.",
          "readOnly": true,
          "type": "boolean"
        },
        "guestAccountInfo": {
          "description": "Immutable. Additional guest-related metadata fields",
          "$ref": "GuestAccountInfo"
        },
        "thumbnailPhotoUrl": {
          "description": "Output only. The URL of the user's profile photo. The URL might be temporary or private.",
          "readOnly": true,
          "type": "string"
        },
        "sshPublicKeys": {
          "description": "A list of SSH public keys.",
          "type": "any"
        },
        "isMailboxSetup": {
          "description": "Output only. Indicates if the user's Google mailbox is created. This property is only applicable if the user has been assigned a Gmail license.",
          "readOnly": true,
          "type": "boolean"
        },
        "addresses": {
          "description": "The list of the user's addresses. The maximum allowed data size for this field is 10KB.",
          "type": "any"
        },
        "isDelegatedAdmin": {
          "type": "boolean",
          "description": "Output only. Indicates if the user is a delegated administrator. Delegated administrators are supported by the API but cannot create or undelete users, or make users administrators. These requests are ignored by the API service. Roles and privileges for administrators are assigned using the [Admin console](https://support.google.com/a/answer/33325).",
          "readOnly": true
        },
        "creationTime": {
          "format": "date-time",
          "type": "string",
          "description": "User's G Suite account creation time. (Read-only)",
          "readOnly": true
        },
        "phones": {
          "type": "any",
          "description": "The list of the user's phone numbers. The maximum allowed data size for this field is 1KB."
        },
        "changePasswordAtNextLogin": {
          "description": "Indicates if the user is forced to change their password at next login. This setting doesn't apply when [the user signs in via a third-party identity provider](https://support.google.com/a/answer/60224).",
          "type": "boolean"
        },
        "ipWhitelisted": {
          "description": "If `true`, the user's IP address is subject to a deprecated IP address [`allowlist`](https://support.google.com/a/answer/60752) configuration.",
          "type": "boolean"
        },
        "relations": {
          "description": "The list of the user's relationships to other users. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "includeInGlobalAddressList": {
          "type": "boolean",
          "description": "Indicates if the user's profile is visible in the Google Workspace global address list when the contact sharing feature is enabled for the domain. For more information about excluding user profiles, see the [administration help center](https://support.google.com/a/answer/1285988)."
        },
        "orgUnitPath": {
          "description": "The full path of the parent organization associated with the user. If the parent organization is the top-level, it is represented as a forward slash (`/`).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. The type of the API resource. For Users resources, the value is `admin#directory#user`.",
          "default": "admin#directory#user",
          "readOnly": true
        },
        "recoveryEmail": {
          "description": "Recovery email of the user.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the user. A user `id` can be used as a user request URI's `userKey`."
        },
        "hashFunction": {
          "type": "string",
          "description": "Stores the hash format of the `password` property. The following `hashFunction` values are allowed: * `MD5` - Accepts simple hex-encoded values. * `SHA-1` - Accepts simple hex-encoded values. * `crypt` - Compliant with the [C crypt library](https://en.wikipedia.org/wiki/Crypt_%28C%29). Supports the DES, MD5 (hash prefix `$1$`), SHA-256 (hash prefix `$5$`), and SHA-512 (hash prefix `$6$`) hash algorithms. If rounds are specified as part of the prefix, they must be 10,000 or fewer."
        },
        "nonEditableAliases": {
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of the user's non-editable alias email addresses. These are typically outside the account's primary domain or sub-domain.",
          "readOnly": true,
          "type": "array"
        },
        "keywords": {
          "description": "The list of the user's keywords. The maximum allowed data size for this field is 1KB.",
          "type": "any"
        },
        "websites": {
          "description": "The user's websites. The maximum allowed data size for this field is 2KB.",
          "type": "any"
        },
        "password": {
          "description": "User's password",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        }
      },
      "description": "The Directory API allows you to create and manage your account's users, user aliases, and user Google profile photos. For more information about common tasks, see the [User Accounts Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html) and the [User Aliases Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-user-aliases.html)."
    },
    "ListPrintersResponse": {
      "id": "ListPrintersResponse",
      "description": "Response for listing printers.",
      "type": "object",
      "properties": {
        "printers": {
          "items": {
            "$ref": "Printer"
          },
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "Privilege": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "default": "admin#directory#privilege",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "serviceName": {
          "type": "string",
          "description": "The name of the service this privilege is for."
        },
        "childPrivileges": {
          "type": "array",
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "items": {
            "$ref": "Privilege"
          }
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list)."
        },
        "privilegeName": {
          "type": "string",
          "description": "The name of the privilege."
        },
        "isOuScopable": {
          "description": "If the privilege can be restricted to an organization unit.",
          "type": "boolean"
        }
      },
      "id": "Privilege"
    },
    "Members": {
      "type": "object",
      "properties": {
        "members": {
          "items": {
            "$ref": "Member"
          },
          "type": "array",
          "description": "A list of member objects."
        },
        "nextPageToken": {
          "description": "Token used to access next page of this result.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#members",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Members"
    },
    "BatchChangeChromeOsDeviceStatusResponse": {
      "id": "BatchChangeChromeOsDeviceStatusResponse",
      "type": "object",
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "type": "array",
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      },
      "description": "The response of changing the status of a batch of ChromeOS devices."
    },
    "Group": {
      "id": "Group",
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-groups). For information about other types of groups, see the [Cloud Identity Groups API documentation](https://cloud.google.com/identity/docs/groups). Note: The user calling the API (or being impersonated by a service account) must have an assigned [role](https://developers.google.com/workspace/admin/directory/v1/guides/manage-roles) that includes Admin API Groups permissions, such as Super Admin or Groups Admin.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`.",
          "type": "string"
        },
        "adminCreated": {
          "type": "boolean",
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user."
        },
        "description": {
          "type": "string",
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters."
        },
        "kind": {
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`.",
          "default": "admin#directory#group",
          "type": "string"
        },
        "aliases": {
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "directMembersCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group."
        },
        "email": {
          "type": "string",
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details.",
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "The group's display name."
        },
        "nonEditableAliases": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "AuxiliaryMessage": {
      "id": "AuxiliaryMessage",
      "type": "object",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "description": "Message severity",
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ]
        },
        "fieldMask": {
          "type": "string",
          "description": "Field that this message concerns.",
          "format": "google-fieldmask"
        },
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        }
      },
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}"
    },
    "BuildingAddress": {
      "id": "BuildingAddress",
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region.",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines.",
          "type": "string"
        },
        "addressLines": {
          "description": "Unstructured address lines describing the lower levels of an address.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address.",
          "type": "string"
        }
      },
      "description": "Public API: Resources.buildings"
    },
    "GroupAlias": {
      "id": "GroupAlias",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID of the group.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The primary email address of the group.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "The Directory API manages aliases, which are alternative email addresses."
    },
    "FanInfo": {
      "id": "FanInfo",
      "type": "object",
      "properties": {
        "speedRpm": {
          "description": "Output only. Fan speed in RPM.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Information about the device's fan."
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "type": "object",
      "properties": {
        "commandType": {
          "description": "The type of command.",
          "type": "string",
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ]
        },
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        }
      },
      "description": "A request for issuing a command."
    },
    "UserWebsite": {
      "id": "UserWebsite",
      "description": "JSON template for a website entry.",
      "type": "object",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom Type."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary website or not."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "value": {
          "description": "Website.",
          "type": "string"
        }
      }
    },
    "Tokens": {
      "id": "Tokens",
      "type": "object",
      "properties": {
        "items": {
          "description": "A list of Token resources.",
          "type": "array",
          "items": {
            "$ref": "Token"
          }
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "default": "admin#directory#tokenList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "description": "JSON response template for List tokens operation in Directory API."
    },
    "Domains": {
      "type": "object",
      "properties": {
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain. (Read-only)."
        },
        "domainAliases": {
          "type": "array",
          "description": "A list of domain alias objects. (Read-only)",
          "items": {
            "$ref": "DomainAlias"
          }
        },
        "creationTime": {
          "format": "int64",
          "description": "Creation time of the domain. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format. (Read-only).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#domain"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Indicates if the domain is a primary domain (Read-only)."
        },
        "domainName": {
          "description": "The domain name of the customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string"
        }
      },
      "id": "Domains"
    },
    "ByteUsage": {
      "id": "ByteUsage",
      "type": "object",
      "properties": {
        "capacityBytes": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The total capacity value, in bytes.",
          "readOnly": true
        },
        "usedBytes": {
          "type": "string",
          "description": "Output only. The current usage value, in bytes.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Represents a data capacity with some amount of current usage in bytes."
    },
    "UserExternalId": {
      "type": "object",
      "properties": {
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "type": {
          "description": "The type of the Id.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the id."
        }
      },
      "description": "JSON template for an externalId entry.",
      "id": "UserExternalId"
    },
    "ListPrintServersResponse": {
      "type": "object",
      "properties": {
        "printServers": {
          "items": {
            "$ref": "PrintServer"
          },
          "type": "array",
          "description": "List of print servers."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPrintServersResponse"
    },
    "UserCustomProperties": {
      "type": "object",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)",
      "id": "UserCustomProperties",
      "additionalProperties": {
        "type": "any"
      }
    },
    "Customer": {
      "id": "Customer",
      "type": "object",
      "properties": {
        "postalAddress": {
          "description": "The customer's postal address information.",
          "$ref": "CustomerPostalAddress"
        },
        "customerDomain": {
          "description": "The customer's primary domain name string. Do not include the `www` prefix when creating a new customer.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "alternateEmail": {
          "description": "The customer's secondary contact email address. This email address cannot be on the same domain as the `customerDomain`",
          "type": "string"
        },
        "id": {
          "description": "The unique ID for the customer's Google Workspace account. (Readonly)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a customer. Value: `admin#directory#customer`",
          "default": "admin#directory#customer"
        },
        "customerCreationTime": {
          "description": "The customer's creation time (Readonly)",
          "type": "string",
          "format": "date-time"
        },
        "phoneNumber": {
          "description": "The customer's contact phone number in [E.164](https://en.wikipedia.org/wiki/E.164) format.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "The customer's ISO 639-2 language code. See the [Language Codes](https://developers.google.com/workspace/admin/directory/v1/languages) page for the list of supported codes. Valid language codes outside the supported set will be accepted by the API but may lead to unexpected behavior. The default value is `en`."
        }
      }
    },
    "SchemaFieldSpec": {
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "type": "object",
      "properties": {
        "fieldId": {
          "type": "string",
          "description": "The unique identifier of the field (Read-only)"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "fieldType": {
          "type": "string",
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "readAccessType": {
          "type": "string",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "type": "object",
          "properties": {
            "maxValue": {
              "format": "double",
              "type": "number",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "minValue": {
              "type": "number",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "format": "double"
            }
          }
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "indexed": {
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "default": "true",
          "type": "boolean"
        }
      },
      "id": "SchemaFieldSpec"
    },
    "PrinterModel": {
      "id": "PrinterModel",
      "description": "Printer manufacturer and model",
      "type": "object",
      "properties": {
        "manufacturer": {
          "description": "Manufacturer. eq. \"Brother\"",
          "type": "string"
        },
        "makeAndModel": {
          "type": "string",
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\""
        },
        "displayName": {
          "type": "string",
          "description": "Display name. eq. \"Brother MFC-8840D\""
        }
      }
    },
    "Users": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result. The page token is only valid for three days."
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#users"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "trigger_event": {
          "type": "string",
          "description": "Event that triggered this response (only used in case of Push Response)"
        },
        "users": {
          "description": "A list of user objects.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "Users"
    },
    "Role": {
      "id": "Role",
      "type": "object",
      "properties": {
        "isSystemRole": {
          "type": "boolean",
          "description": "Returns `true` if this is a pre-defined system role."
        },
        "roleName": {
          "type": "string",
          "description": "Name of the role.",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          }
        },
        "roleId": {
          "format": "int64",
          "type": "string",
          "description": "ID of the role."
        },
        "roleDescription": {
          "type": "string",
          "description": "A short description of the role."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#role`.",
          "default": "admin#directory#role",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "rolePrivileges": {
          "items": {
            "type": "object",
            "properties": {
              "serviceId": {
                "type": "string",
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list)."
              },
              "privilegeName": {
                "type": "string",
                "description": "The name of the privilege."
              }
            }
          },
          "description": "The set of privileges that are granted to this role.",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "type": "array"
        },
        "isSuperAdminRole": {
          "type": "boolean",
          "description": "Returns `true` if the role is a super admin role."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ChromeOsDevices": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#chromeosdevices"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "chromeosdevices": {
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "type": "array",
          "description": "A list of Chrome OS Device objects."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        }
      },
      "id": "ChromeOsDevices"
    },
    "BatchDeletePrintServersResponse": {
      "id": "BatchDeletePrintServersResponse",
      "type": "object",
      "properties": {
        "printServerIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of print server IDs that were successfully deleted."
        },
        "failedPrintServers": {
          "type": "array",
          "description": "A list of update failures.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          }
        }
      }
    },
    "UserLocation": {
      "id": "UserLocation",
      "type": "object",
      "properties": {
        "floorSection": {
          "description": "Floor section. More specific location within the floor. For example if a floor is divided into sections 'A', 'B' and 'C' this field would identify one of those values.",
          "type": "string"
        },
        "area": {
          "type": "string",
          "description": "Textual location. This is most useful for display purposes to concisely describe the location. For example 'Mountain View, CA', 'Near Seattle', 'US-NYC-9TH 9A209A.''"
        },
        "buildingId": {
          "type": "string",
          "description": "Building Identifier."
        },
        "deskCode": {
          "type": "string",
          "description": "Most specific textual code of individual desk location."
        },
        "floorName": {
          "description": "Floor name/number.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example location could be of types default and desk. In addition to standard type an entry can have a custom type and can give it any name. Such types should have 'custom' as type and also have a customType value."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        }
      },
      "description": "JSON template for a location entry."
    },
    "MobileDevices": {
      "type": "object",
      "properties": {
        "mobiledevices": {
          "items": {
            "$ref": "MobileDevice"
          },
          "type": "array",
          "description": "A list of Mobile Device objects."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#mobiledevices",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token used to access next page of this result."
        }
      },
      "id": "MobileDevices"
    },
    "UserKeyword": {
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Keyword."
        }
      },
      "description": "JSON template for a keyword entry.",
      "id": "UserKeyword"
    },
    "CreatePrinterRequest": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The name of the customer. Format: customers/{customer_id}"
        },
        "printer": {
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU.",
          "$ref": "Printer"
        }
      },
      "description": "Request for adding a new printer.",
      "id": "CreatePrinterRequest"
    },
    "OsUpdateStatus": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "type": "string",
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ],
          "description": "The update state of an OS update."
        },
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        },
        "rebootTime": {
          "description": "Date and time of the last reboot.",
          "type": "string"
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        },
        "targetOsVersion": {
          "type": "string",
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "updateTime": {
          "type": "string",
          "description": "Date and time of the last successful OS update."
        }
      },
      "description": "Contains information regarding the current OS update status.",
      "id": "OsUpdateStatus"
    },
    "RoleAssignments": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`.",
          "default": "admin#directory#roleAssignments",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of RoleAssignment resources.",
          "items": {
            "$ref": "RoleAssignment"
          }
        }
      },
      "id": "RoleAssignments"
    },
    "PrintServer": {
      "description": "Configuration for a print server.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Editable. Description of the print server (as shown in the Admin console)."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Display name of the print server (as shown in the Admin console)."
        },
        "uri": {
          "description": "Editable. Print server URI.",
          "type": "string"
        },
        "orgUnitId": {
          "type": "string",
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits)."
        },
        "id": {
          "type": "string",
          "description": "Immutable. ID of the print server. Leave empty when creating."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the print server was created.",
          "readOnly": true
        }
      },
      "id": "PrintServer"
    },
    "UserAddress": {
      "type": "object",
      "properties": {
        "locality": {
          "description": "Locality.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary address. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "formatted": {
          "type": "string",
          "description": "Formatted address."
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "extendedAddress": {
          "description": "Extended Address.",
          "type": "string"
        },
        "region": {
          "description": "Region.",
          "type": "string"
        },
        "sourceIsStructured": {
          "description": "User supplied address was structured. Structured addresses are NOT supported at this time. You might be able to write structured addresses but any values will eventually be clobbered.",
          "type": "boolean"
        },
        "countryCode": {
          "description": "Country code.",
          "type": "string"
        },
        "postalCode": {
          "type": "string",
          "description": "Postal code."
        },
        "streetAddress": {
          "type": "string",
          "description": "Street."
        },
        "country": {
          "description": "Country.",
          "type": "string"
        },
        "poBox": {
          "type": "string",
          "description": "Other parts of address."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard values of that entry. For example address could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such type should have the CUSTOM value as type and also have a customType value."
        }
      },
      "description": "JSON template for address.",
      "id": "UserAddress"
    },
    "FeatureRename": {
      "id": "FeatureRename",
      "type": "object",
      "properties": {
        "newName": {
          "type": "string",
          "description": "New name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.rename"
            ]
          }
        }
      }
    },
    "Channel": {
      "id": "Channel",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.",
          "default": "api#channel",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A UUID or similar unique string that identifies this channel."
        },
        "type": {
          "type": "string",
          "description": "The type of delivery mechanism used for this channel."
        },
        "expiration": {
          "format": "int64",
          "type": "string",
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional."
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        },
        "resourceUri": {
          "type": "string",
          "description": "A version-specific identifier for the watched resource."
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional. For example, `params.ttl` specifies the time-to-live in seconds for the notification channel, where the default is 2 hours and the maximum TTL is 2 days.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        }
      },
      "description": "An notification channel used to watch for resource changes."
    },
    "UserPhone": {
      "id": "UserPhone",
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary phone or not.",
          "type": "boolean"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "value": {
          "type": "string",
          "description": "Phone number."
        }
      },
      "description": "JSON template for a phone entry."
    },
    "UserUndelete": {
      "id": "UserUndelete",
      "type": "object",
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      }
    },
    "Token": {
      "type": "object",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "A list of authorization scopes the application is granted.",
          "items": {
            "type": "string"
          }
        },
        "nativeApp": {
          "description": "Whether the token is issued to an installed application. The value is `true` if the application is installed to a desktop or mobile device.",
          "type": "boolean"
        },
        "clientId": {
          "type": "string",
          "description": "The Client ID of the application the token is issued to."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#token`.",
          "default": "admin#directory#token"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "anonymous": {
          "description": "Whether the application is registered with Google. The value is `true` if the application has an anonymous Client ID.",
          "type": "boolean"
        },
        "userKey": {
          "type": "string",
          "description": "The unique ID of the user that issued the token."
        },
        "displayText": {
          "type": "string",
          "description": "The displayable name of the application the token is issued to."
        }
      },
      "description": "JSON template for token resource in Directory API.",
      "id": "Token"
    },
    "ChromeOsDevice": {
      "type": "object",
      "properties": {
        "autoUpdateThrough": {
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support.",
          "readOnly": true,
          "type": "string"
        },
        "deviceFiles": {
          "description": "A list of device files to download (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              },
              "createTime": {
                "format": "date-time",
                "description": "Date and time the file was created",
                "type": "string"
              },
              "name": {
                "description": "File name",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "File type"
              }
            }
          }
        },
        "extendedSupportStart": {
          "description": "Output only. Date of the device when extended support policy for automatic updates starts.",
          "readOnly": true,
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the Chrome device."
        },
        "annotatedUser": {
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed.",
          "type": "string"
        },
        "systemRamFreeReports": {
          "type": "array",
          "description": "Reports of amounts of available RAM memory (Read-only)",
          "items": {
            "type": "object",
            "properties": {
              "systemRamFreeInfo": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "int64"
                }
              },
              "reportTime": {
                "type": "string",
                "description": "Date and time the report was received.",
                "format": "date-time"
              }
            }
          }
        },
        "extendedSupportEligible": {
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "readOnly": true,
          "type": "boolean"
        },
        "manufactureDate": {
          "type": "string",
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format."
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "diskSpaceUsage": {
          "$ref": "ByteUsage",
          "description": "Output only. How much disk space the device has available and is currently using.",
          "readOnly": true
        },
        "orgUnitPath": {
          "type": "string",
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433)."
        },
        "extendedSupportEnabled": {
          "description": "Output only. Whether extended support policy is enabled on the device.",
          "readOnly": true,
          "type": "boolean"
        },
        "screenshotFiles": {
          "items": {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              },
              "createTime": {
                "format": "date-time",
                "description": "Date and time the file was created",
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "File name"
              },
              "type": {
                "description": "File type",
                "type": "string"
              }
            }
          },
          "type": "array",
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)"
        },
        "recentUsers": {
          "items": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "The type of the user."
              },
              "email": {
                "type": "string",
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`."
              }
            },
            "description": "A list of recent device users, in descending order, by last login time."
          },
          "type": "array",
          "description": "A list of recent device users, in descending order, by last login time."
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "model": {
          "type": "string",
          "description": "The device's model information. If the device does not have this information, this property is not included in the response."
        },
        "cpuInfo": {
          "type": "array",
          "description": "Information regarding CPU specs in the device.",
          "items": {
            "description": "CPU specs for a CPU.",
            "type": "object",
            "properties": {
              "model": {
                "type": "string",
                "description": "The CPU model name."
              },
              "maxClockSpeedKhz": {
                "format": "int32",
                "description": "The max CPU clock speed in kHz.",
                "type": "integer"
              },
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              },
              "logicalCpus": {
                "description": "Information for the Logical CPUs",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "maxScalingFrequencyKhz": {
                      "description": "Maximum frequency the CPU is allowed to run at, by policy.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "currentScalingFrequencyKhz": {
                      "description": "Current frequency the CPU is running at.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "idleDuration": {
                      "format": "google-duration",
                      "type": "string",
                      "description": "Idle time since last boot."
                    },
                    "cStates": {
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          },
                          "sessionDuration": {
                            "format": "google-duration",
                            "type": "string",
                            "description": "Time spent in the state since the last reboot."
                          }
                        }
                      },
                      "type": "array",
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker."
                    }
                  },
                  "description": "Status of a single logical CPU."
                }
              }
            }
          }
        },
        "firstEnrollmentTime": {
          "description": "Date and time for the first time the device was enrolled.",
          "type": "string"
        },
        "systemRamTotal": {
          "format": "int64",
          "type": "string",
          "description": "Total RAM on the device [in bytes] (Read-only)"
        },
        "backlightInfo": {
          "items": {
            "$ref": "BacklightInfo"
          },
          "description": "Output only. Contains backlight information for the device.",
          "readOnly": true,
          "type": "array"
        },
        "lastEnrollmentTime": {
          "type": "string",
          "description": "Date and time the device was last enrolled (Read-only)",
          "format": "date-time"
        },
        "ethernetMacAddress": {
          "type": "string",
          "description": "The device's MAC address on the ethernet network interface."
        },
        "firmwareVersion": {
          "type": "string",
          "description": "The Chrome device's firmware version."
        },
        "annotatedAssetId": {
          "description": "The asset identifier as noted by an administrator or specified during enrollment.",
          "type": "string"
        },
        "osVersionCompliance": {
          "description": "Output only. Device policy compliance status of the OS version.",
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ]
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "autoUpdateExpiration": {
          "deprecated": true,
          "format": "int64",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support. Please use \"autoUpdateThrough\" instead.",
          "type": "string"
        },
        "lastDeprovisionTimestamp": {
          "type": "string",
          "description": "(Read-only) Date and time for the last deprovision of the device."
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "tpmVersionInfo": {
          "type": "object",
          "properties": {
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            },
            "family": {
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -> 312e3200 TPM 2.0: \"2.0\" -> 322e3000",
              "type": "string"
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            },
            "tpmModel": {
              "description": "TPM model number.",
              "type": "string"
            },
            "vendorSpecific": {
              "description": "Vendor-specific information such as Vendor ID.",
              "type": "string"
            },
            "firmwareVersion": {
              "type": "string",
              "description": "TPM firmware version."
            }
          },
          "description": "Trusted Platform Module (TPM) (Read-only)"
        },
        "deprovisionReason": {
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "description": "(Read-only) Deprovision reason.",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ]
        },
        "activeTimeRanges": {
          "type": "array",
          "description": "A list of active time ranges (Read-only).",
          "items": {
            "type": "object",
            "properties": {
              "activeTime": {
                "description": "Duration of usage in milliseconds.",
                "type": "integer",
                "format": "int32"
              },
              "date": {
                "format": "date",
                "description": "Date of usage",
                "type": "string"
              }
            }
          }
        },
        "willAutoRenew": {
          "type": "boolean",
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property."
        },
        "lastKnownNetwork": {
          "items": {
            "description": "Information for an ip address.",
            "type": "object",
            "properties": {
              "ipAddress": {
                "type": "string",
                "description": "The IP address."
              },
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              }
            }
          },
          "description": "Contains last known network (Read-only)",
          "type": "array"
        },
        "osUpdateStatus": {
          "description": "The status of the OS updates for the device.",
          "$ref": "OsUpdateStatus"
        },
        "deviceLicenseType": {
          "enumDescriptions": [
            "The license type is unknown.",
            "The device is bundled with a perpetual Chrome Enterprise Upgrade.",
            "The device has an annual standalone Chrome Enterprise Upgrade.",
            "The device has a perpetual standalone Chrome Education Upgrade.",
            "The device is bundled with a perpetual Chrome Education Upgrade.",
            "The device has an annual Kiosk Upgrade.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Education Upgrade(AKA Chrome EDU perpetual license).",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Education Upgrade(AKA Chrome EDU fixed-term license)."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. Device license type.",
          "type": "string",
          "enum": [
            "deviceLicenseTypeUnspecified",
            "enterprise",
            "enterpriseUpgrade",
            "educationUpgrade",
            "education",
            "kioskUpgrade",
            "enterpriseUpgradePerpetual",
            "enterpriseUpgradeFixedTerm",
            "educationUpgradePerpetual",
            "educationUpgradeFixedTerm"
          ],
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status of the device."
        },
        "kind": {
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "default": "admin#directory#chromeosdevice",
          "type": "string"
        },
        "bluetoothAdapterInfo": {
          "items": {
            "$ref": "BluetoothAdapterInfo"
          },
          "description": "Output only. Information about Bluetooth adapters of the device.",
          "readOnly": true,
          "type": "array"
        },
        "dockMacAddress": {
          "type": "string",
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "bootMode": {
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch).",
          "type": "string"
        },
        "diskVolumeReports": {
          "items": {
            "type": "object",
            "properties": {
              "volumeInfo": {
                "items": {
                  "type": "object",
                  "properties": {
                    "storageFree": {
                      "format": "int64",
                      "type": "string",
                      "description": "Free disk space [in bytes]"
                    },
                    "volumeId": {
                      "type": "string",
                      "description": "Volume id"
                    },
                    "storageTotal": {
                      "format": "int64",
                      "type": "string",
                      "description": "Total disk space [in bytes]"
                    }
                  }
                },
                "description": "Disk volumes",
                "type": "array"
              }
            }
          },
          "description": "Reports of disk space and other info about mounted/connected volumes.",
          "type": "array"
        },
        "cpuStatusReports": {
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "type": "integer",
                      "description": "Temperature in Celsius degrees.",
                      "format": "int32"
                    },
                    "label": {
                      "type": "string",
                      "description": "CPU label"
                    }
                  }
                }
              },
              "reportTime": {
                "format": "date-time",
                "type": "string",
                "description": "Date and time the report was received."
              },
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "fanInfo": {
          "type": "array",
          "description": "Output only. Fan information for the device.",
          "readOnly": true,
          "items": {
            "$ref": "FanInfo"
          }
        },
        "supportEndDate": {
          "format": "date-time",
          "description": "Final date the device will be supported (Read-only)",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab."
        },
        "meid": {
          "type": "string",
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices.html#export_meid)."
        },
        "platformVersion": {
          "description": "The Chrome device's platform version.",
          "type": "string"
        },
        "macAddress": {
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response.",
          "type": "string"
        },
        "orderNumber": {
          "description": "The device's order number. Only devices directly purchased from Google have an order number.",
          "type": "string"
        },
        "osVersion": {
          "type": "string",
          "description": "The Chrome device's operating system version."
        },
        "chromeOsType": {
          "description": "Output only. Chrome OS type of the device.",
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "type": "string",
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ],
          "readOnly": true
        }
      },
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices).",
      "id": "ChromeOsDevice"
    },
    "Buildings": {
      "description": "Public API: Resources.buildings",
      "type": "object",
      "properties": {
        "buildings": {
          "description": "The Buildings in this page of results.",
          "type": "array",
          "items": {
            "$ref": "Building"
          }
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        }
      },
      "id": "Buildings"
    },
    "Roles": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Role"
          },
          "description": "A list of Role resources.",
          "type": "array"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roles`.",
          "default": "admin#directory#roles",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      },
      "id": "Roles"
    },
    "UserRelation": {
      "description": "JSON template for a relation entry.",
      "type": "object",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        }
      },
      "id": "UserRelation"
    },
    "BacklightInfo": {
      "id": "BacklightInfo",
      "type": "object",
      "properties": {
        "brightness": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness.",
          "readOnly": true
        },
        "path": {
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information.",
          "readOnly": true,
          "type": "string"
        },
        "maxBrightness": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Maximum brightness for the backlight.",
          "readOnly": true
        }
      },
      "description": "Information about the device's backlights."
    },
    "Asps": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "default": "admin#directory#aspList",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          }
        }
      },
      "id": "Asps"
    },
    "PrintServerFailureInfo": {
      "description": "Info about failures",
      "type": "object",
      "properties": {
        "printServerId": {
          "type": "string",
          "description": "ID of a failed print server."
        },
        "printServer": {
          "description": "Failed print server.",
          "$ref": "PrintServer"
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
[...]
