{
  "revision": "20260505",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "basePath": "",
  "packagePath": "admin",
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "resources": {
    "transfers": {
      "methods": {
        "get": {
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "response": {
            "$ref": "DataTransfer"
          },
          "id": "datatransfer.transfers.get",
          "description": "Retrieves a data transfer request by its resource ID.",
          "parameters": {
            "dataTransferId": {
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "dataTransferId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}"
        },
        "insert": {
          "response": {
            "$ref": "DataTransfer"
          },
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "oldOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Source user's profile ID."
            },
            "maxResults": {
              "minimum": "1",
              "type": "integer",
              "location": "query",
              "format": "int32",
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "newOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Destination user's profile ID."
            },
            "status": {
              "location": "query",
              "type": "string",
              "description": "Status of the transfer."
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            }
          },
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        }
      }
    },
    "applications": {
      "methods": {
        "get": {
          "id": "datatransfer.applications.get",
          "description": "Retrieves information about an application for the given application ID.",
          "response": {
            "$ref": "Application"
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "type": "string",
              "location": "path",
              "format": "int64",
              "description": "ID of the application resource to be retrieved.",
              "required": true
            }
          },
          "parameterOrder": [
            "applicationId"
          ]
        },
        "list": {
          "parameters": {
            "customerId": {
              "type": "string",
              "location": "query",
              "description": "Immutable ID of the Google Workspace account."
            },
            "maxResults": {
              "description": "Maximum number of results to return. Default is 100.",
              "maximum": "500",
              "format": "int32",
              "location": "query",
              "minimum": "1",
              "type": "integer"
            },
            "pageToken": {
              "description": "Token to specify next page in the list.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "flatPath": "admin/datatransfer/v1/applications",
          "path": "admin/datatransfer/v1/applications",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "id": "datatransfer.applications.list",
          "description": "Lists the applications available for data transfer for a customer."
        }
      }
    }
  },
  "baseUrl": "https://admin.googleapis.com/",
  "servicePath": "",
  "rootUrl": "https://admin.googleapis.com/",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "id": "admin:datatransfer_v1",
  "ownerName": "Google",
  "name": "admin",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "title": "Admin SDK API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "protocol": "rest",
  "canonicalName": "DataTransfer",
  "schemas": {
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "kind": {
          "description": "Identifies the resource as a collection of Applications.",
          "default": "admin#datatransfer#applicationsList",
          "type": "string"
        }
      },
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications.",
      "type": "object"
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource.",
      "properties": {
        "applicationId": {
          "type": "string",
          "description": "The application's ID.",
          "format": "int64"
        },
        "applicationTransferStatus": {
          "type": "string",
          "description": "Read-only. Current status of transfer for this application."
        },
        "applicationTransferParams": {
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      }
    },
    "Application": {
      "type": "object",
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#ApplicationResource",
          "description": "Identifies the resource as a DataTransfer Application Resource."
        },
        "name": {
          "type": "string",
          "description": "The application's name."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "format": "int64",
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method."
        },
        "transferParams": {
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer.",
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          }
        }
      }
    },
    "DataTransfer": {
      "type": "object",
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users.",
      "properties": {
        "kind": {
          "default": "admin#datatransfer#DataTransfer",
          "description": "Identifies the resource as a DataTransfer request.",
          "type": "string"
        },
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "requestTime": {
          "type": "string",
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The transfer's ID."
        },
        "applicationDataTransfers": {
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation.",
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          }
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "newOwnerUserId": {
          "type": "string",
          "description": "ID of the user to whom the data is being transferred."
        }
      }
    },
    "DataTransfersListResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#dataTransfersList",
          "description": "Identifies the resource as a collection of data transfer requests."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to specify the next page in the list."
        },
        "dataTransfers": {
          "description": "List of data transfer requests.",
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          }
        }
      },
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "type": "object"
    },
    "ApplicationTransferParam": {
      "properties": {
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        },
        "value": {
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters.",
      "type": "object"
    }
  },
  "version": "datatransfer_v1"
}