{
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "DataTransfer",
  "revision": "20260407",
  "title": "Admin SDK API",
  "id": "admin:datatransfer_v1",
  "baseUrl": "https://admin.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://admin.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "admin",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "servicePath": "",
  "resources": {
    "applications": {
      "methods": {
        "get": {
          "flatPath": "admin/datatransfer/v1/applications/{applicationId}",
          "httpMethod": "GET",
          "parameters": {
            "applicationId": {
              "location": "path",
              "description": "ID of the application resource to be retrieved.",
              "required": true,
              "format": "int64",
              "type": "string"
            }
          },
          "path": "admin/datatransfer/v1/applications/{applicationId}",
          "id": "datatransfer.applications.get",
          "parameterOrder": [
            "applicationId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "Application"
          },
          "description": "Retrieves information about an application for the given application ID."
        },
        "list": {
          "description": "Lists the applications available for data transfer for a customer.",
          "response": {
            "$ref": "ApplicationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "parameterOrder": [],
          "id": "datatransfer.applications.list",
          "path": "admin/datatransfer/v1/applications",
          "flatPath": "admin/datatransfer/v1/applications",
          "httpMethod": "GET",
          "parameters": {
            "maxResults": {
              "location": "query",
              "maximum": "500",
              "minimum": "1",
              "type": "integer",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Immutable ID of the Google Workspace account."
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Token to specify next page in the list."
            }
          }
        }
      }
    },
    "transfers": {
      "methods": {
        "insert": {
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.insert",
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "POST",
          "parameters": {},
          "parameterOrder": [],
          "request": {
            "$ref": "DataTransfer"
          },
          "description": "Inserts a data transfer request. See the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference for specific application requirements.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer"
          ],
          "response": {
            "$ref": "DataTransfer"
          }
        },
        "list": {
          "parameterOrder": [],
          "flatPath": "admin/datatransfer/v1/transfers",
          "httpMethod": "GET",
          "parameters": {
            "customerId": {
              "description": "Immutable ID of the Google Workspace account.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "location": "query",
              "description": "Maximum number of results to return. Default is 100.",
              "format": "int32",
              "maximum": "500",
              "minimum": "1",
              "type": "integer"
            },
            "oldOwnerUserId": {
              "description": "Source user's profile ID.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "description": "Status of the transfer.",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "description": "Token to specify the next page in the list.",
              "type": "string",
              "location": "query"
            },
            "newOwnerUserId": {
              "location": "query",
              "type": "string",
              "description": "Destination user's profile ID."
            }
          },
          "path": "admin/datatransfer/v1/transfers",
          "id": "datatransfer.transfers.list",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfersListResponse"
          },
          "description": "Lists the transfers for a customer by source user, destination user, or status."
        },
        "get": {
          "parameterOrder": [
            "dataTransferId"
          ],
          "path": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "id": "datatransfer.transfers.get",
          "flatPath": "admin/datatransfer/v1/transfers/{dataTransferId}",
          "httpMethod": "GET",
          "parameters": {
            "dataTransferId": {
              "location": "path",
              "type": "string",
              "description": "ID of the resource to be retrieved. This is returned in the response from the insert method.",
              "required": true
            }
          },
          "description": "Retrieves a data transfer request by its resource ID.",
          "scopes": [
            "https://www.googleapis.com/auth/admin.datatransfer",
            "https://www.googleapis.com/auth/admin.datatransfer.readonly"
          ],
          "response": {
            "$ref": "DataTransfer"
          }
        }
      }
    }
  },
  "schemas": {
    "Application": {
      "id": "Application",
      "description": "Application resources represent applications installed on the domain that support transferring ownership of user data.",
      "type": "object",
      "properties": {
        "transferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The list of all possible transfer parameters for this application. These parameters select which categories of the user's data to transfer."
        },
        "etag": {
          "description": "Etag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "The application's ID. Retrievable by using the [`applications.list()`](https://developers.google.com/workspace/admin/data-transfer/reference/rest/v1/applications/list) method.",
          "format": "int64",
          "type": "string"
        },
        "name": {
          "description": "The application's name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer Application Resource.",
          "default": "admin#datatransfer#ApplicationResource"
        }
      }
    },
    "DataTransfer": {
      "properties": {
        "overallTransferStatusCode": {
          "description": "Read-only. Overall transfer status.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The transfer's ID.",
          "type": "string"
        },
        "oldOwnerUserId": {
          "description": "ID of the user whose data is being transferred.",
          "type": "string"
        },
        "applicationDataTransfers": {
          "type": "array",
          "items": {
            "$ref": "ApplicationDataTransfer"
          },
          "description": "The list of per-application data transfer resources. It contains details of the applications associated with this transfer resource, and also specifies the applications for which data transfer has to be done at the time of the transfer resource creation."
        },
        "newOwnerUserId": {
          "description": "ID of the user to whom the data is being transferred.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a DataTransfer request.",
          "default": "admin#datatransfer#DataTransfer"
        },
        "requestTime": {
          "description": "Read-only. The time at which the data transfer was requested.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object",
      "id": "DataTransfer",
      "description": "A Transfer resource represents the transfer of the ownership of user data between users."
    },
    "ApplicationDataTransfer": {
      "type": "object",
      "properties": {
        "applicationId": {
          "description": "The application's ID.",
          "format": "int64",
          "type": "string"
        },
        "applicationTransferParams": {
          "type": "array",
          "items": {
            "$ref": "ApplicationTransferParam"
          },
          "description": "The transfer parameters for the application. These parameters are used to select the data which will get transferred in context of this application. For more information about the specific values available for each application, see the [Transfer parameters](https://developers.google.com/workspace/admin/data-transfer/v1/parameters) reference."
        },
        "applicationTransferStatus": {
          "description": "Read-only. Current status of transfer for this application.",
          "type": "string"
        }
      },
      "id": "ApplicationDataTransfer",
      "description": "Template to map fields of ApplicationDataTransfer resource."
    },
    "DataTransfersListResponse": {
      "id": "DataTransfersListResponse",
      "description": "Template for a collection of DataTransfer resources.",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "dataTransfers": {
          "type": "array",
          "items": {
            "$ref": "DataTransfer"
          },
          "description": "List of data transfer requests."
        },
        "kind": {
          "description": "Identifies the resource as a collection of data transfer requests.",
          "default": "admin#datatransfer#dataTransfersList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApplicationTransferParam": {
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The value of the transfer parameter, such as `PRIVATE` or `SHARED`."
        },
        "key": {
          "description": "The type of the transfer parameter, such as `PRIVACY_LEVEL`.",
          "type": "string"
        }
      },
      "id": "ApplicationTransferParam",
      "description": "Template for application transfer parameters."
    },
    "ApplicationsListResponse": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#datatransfer#applicationsList",
          "description": "Identifies the resource as a collection of Applications."
        },
        "applications": {
          "description": "The list of applications that support data transfer and are also installed for the customer.",
          "type": "array",
          "items": {
            "$ref": "Application"
          }
        },
        "nextPageToken": {
          "description": "Token to specify the next page in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApplicationsListResponse",
      "description": "Template for a collection of Applications."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.datatransfer": {
          "description": "View and manage data transfers between users in your organization"
        },
        "https://www.googleapis.com/auth/admin.datatransfer.readonly": {
          "description": "View data transfers between users in your organization"
        }
      }
    }
  },
  "description": "Admin SDK lets administrators of enterprise domains to view and manage resources like user, groups etc. It also provides audit and usage reports of domain.",
  "version": "datatransfer_v1",
  "packagePath": "admin"
}