{
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "title": "Admin SDK API",
  "canonicalName": "directory",
  "version": "directory_v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://admin.googleapis.com/",
  "rootUrl": "https://admin.googleapis.com/",
  "ownerName": "Google",
  "packagePath": "admin",
  "basePath": "",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "revision": "20260413",
  "id": "admin:directory_v1",
  "schemas": {
    "BatchCreatePrintersResponse": {
      "type": "object",
      "id": "BatchCreatePrintersResponse",
      "description": "Response for adding new printers in batch.",
      "properties": {
        "printers": {
          "description": "A list of successfully created printers with their IDs populated.",
          "type": "array",
          "items": {
            "$ref": "Printer"
          }
        },
        "failures": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of create failures. Printer IDs are not populated, as printer were not created."
        }
      }
    },
    "ChromeOsDevice": {
      "type": "object",
      "id": "ChromeOsDevice",
      "description": "Google Chrome devices run on the [Chrome OS](https://support.google.com/chromeos). For more information about common API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices).",
      "properties": {
        "firmwareVersion": {
          "type": "string",
          "description": "The Chrome device's firmware version."
        },
        "annotatedAssetId": {
          "type": "string",
          "description": "The asset identifier as noted by an administrator or specified during enrollment."
        },
        "extendedSupportStart": {
          "description": "Output only. Date of the device when extended support policy for automatic updates starts.",
          "readOnly": true,
          "type": "string"
        },
        "bootMode": {
          "type": "string",
          "description": "The boot mode for the device. The possible values are: * `Verified`: The device is running a valid version of the Chrome OS. * `Dev`: The devices's developer hardware switch is enabled. When booted, the device has a command line shell. For an example of a developer switch, see the [Chromebook developer information](https://www.chromium.org/chromium-os/developer-information-for-chrome-os-devices/samsung-series-5-chromebook#TOC-Developer-switch)."
        },
        "deviceFiles": {
          "description": "A list of device files to download (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "File name"
              },
              "type": {
                "type": "string",
                "description": "File type"
              },
              "createTime": {
                "description": "Date and time the file was created",
                "type": "string",
                "format": "date-time"
              },
              "downloadUrl": {
                "description": "File download URL",
                "type": "string"
              }
            }
          }
        },
        "macAddress": {
          "type": "string",
          "description": "The device's wireless MAC address. If the device does not have this information, it is not included in the response."
        },
        "cpuInfo": {
          "description": "Information regarding CPU specs in the device.",
          "type": "array",
          "items": {
            "description": "CPU specs for a CPU.",
            "properties": {
              "architecture": {
                "description": "The CPU architecture.",
                "type": "string"
              },
              "maxClockSpeedKhz": {
                "description": "The max CPU clock speed in kHz.",
                "type": "integer",
                "format": "int32"
              },
              "logicalCpus": {
                "type": "array",
                "items": {
                  "description": "Status of a single logical CPU.",
                  "properties": {
                    "maxScalingFrequencyKhz": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Maximum frequency the CPU is allowed to run at, by policy."
                    },
                    "currentScalingFrequencyKhz": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Current frequency the CPU is running at."
                    },
                    "cStates": {
                      "description": "C-States indicate the power consumption state of the CPU. For more information look at documentation published by the CPU maker.",
                      "type": "array",
                      "items": {
                        "description": "Status of a single C-state. C-states are various modes the CPU can transition to in order to use more or less power.",
                        "properties": {
                          "displayName": {
                            "type": "string",
                            "description": "Name of the state."
                          },
                          "sessionDuration": {
                            "type": "string",
                            "format": "google-duration",
                            "description": "Time spent in the state since the last reboot."
                          }
                        },
                        "type": "object"
                      }
                    },
                    "idleDuration": {
                      "description": "Idle time since last boot.",
                      "type": "string",
                      "format": "google-duration"
                    }
                  },
                  "type": "object"
                },
                "description": "Information for the Logical CPUs"
              },
              "model": {
                "description": "The CPU model name.",
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "supportEndDate": {
          "type": "string",
          "format": "date-time",
          "description": "Final date the device will be supported (Read-only)"
        },
        "fanInfo": {
          "description": "Output only. Fan information for the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FanInfo"
          }
        },
        "firstEnrollmentTime": {
          "description": "Date and time for the first time the device was enrolled.",
          "type": "string"
        },
        "chromeOsType": {
          "type": "string",
          "description": "Output only. Chrome OS type of the device.",
          "enumDescriptions": [
            "Chrome OS Type unspecified.",
            "Chrome OS Type Chrome OS Flex.",
            "Chrome OS Type Chrome OS."
          ],
          "readOnly": true,
          "enum": [
            "chromeOsTypeUnspecified",
            "chromeOsFlex",
            "chromeOs"
          ]
        },
        "annotatedLocation": {
          "description": "The address or location of the device as noted by the administrator. Maximum length is `200` characters. Empty values are allowed.",
          "type": "string"
        },
        "diskSpaceUsage": {
          "$ref": "ByteUsage",
          "description": "Output only. How much disk space the device has available and is currently using.",
          "readOnly": true
        },
        "orgUnitPath": {
          "description": "The full parent path with the organizational unit's name associated with the device. Path names are case insensitive. If the parent organizational unit is the top-level organization, it is represented as a forward slash, `/`. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "extendedSupportEligible": {
          "description": "Output only. Whether or not the device requires the extended support opt in.",
          "readOnly": true,
          "type": "boolean"
        },
        "notes": {
          "description": "Notes about this device added by the administrator. This property can be [searched](https://support.google.com/chrome/a/answer/1698333) with the [list](https://developers.google.com/workspace/admin/directory/v1/reference/chromeosdevices/list) method's `query` parameter. Maximum length is 500 characters. Empty values are allowed.",
          "type": "string"
        },
        "meid": {
          "description": "The Mobile Equipment Identifier (MEID) or the International Mobile Equipment Identity (IMEI) for the 3G mobile card in a mobile device. A MEID/IMEI is typically used when adding a device to a wireless carrier's post-pay service plan. If the device does not have this information, this property is not included in the response. For more information on how to export a MEID/IMEI list, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices.html#export_meid).",
          "type": "string"
        },
        "screenshotFiles": {
          "description": "A list of screenshot files to download. Type is always \"SCREENSHOT_FILE\". (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "downloadUrl": {
                "type": "string",
                "description": "File download URL"
              },
              "createTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the file was created"
              },
              "name": {
                "description": "File name",
                "type": "string"
              },
              "type": {
                "description": "File type",
                "type": "string"
              }
            }
          }
        },
        "recentUsers": {
          "type": "array",
          "items": {
            "description": "A list of recent device users, in descending order, by last login time.",
            "properties": {
              "email": {
                "description": "The user's email address. This is only present if the user type is `USER_TYPE_MANAGED`.",
                "type": "string"
              },
              "type": {
                "type": "string",
                "description": "The type of the user."
              }
            },
            "type": "object"
          },
          "description": "A list of recent device users, in descending order, by last login time."
        },
        "extendedSupportEnabled": {
          "description": "Output only. Whether extended support policy is enabled on the device.",
          "readOnly": true,
          "type": "boolean"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit. orgUnitPath is the human readable version of orgUnitId. While orgUnitPath may change by renaming an organizational unit within the path, orgUnitId is unchangeable for one organizational unit. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/guides/manage-chrome-devices#move_chrome_devices_to_ou) using the API. For more information about how to create an organizational structure for your device, see the [administration help center](https://support.google.com/a/answer/182433).",
          "type": "string"
        },
        "deprovisionReason": {
          "description": "(Read-only) Deprovision reason.",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ]
        },
        "deviceLicenseType": {
          "readOnly": true,
          "enum": [
            "deviceLicenseTypeUnspecified",
            "enterprise",
            "enterpriseUpgrade",
            "educationUpgrade",
            "education",
            "kioskUpgrade",
            "enterpriseUpgradePerpetual",
            "enterpriseUpgradeFixedTerm",
            "educationUpgradePerpetual",
            "educationUpgradeFixedTerm"
          ],
          "description": "Output only. Device license type.",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is unknown.",
            "The device is bundled with a perpetual Chrome Enterprise Upgrade.",
            "The device has an annual standalone Chrome Enterprise Upgrade.",
            "The device has a perpetual standalone Chrome Education Upgrade.",
            "The device is bundled with a perpetual Chrome Education Upgrade.",
            "The device has an annual Kiosk Upgrade.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Enterprise Upgrade, a Chrome Enterprise license.",
            "Indicates that the device is consuming a standalone, perpetual Chrome Education Upgrade(AKA Chrome EDU perpetual license).",
            "Indicates that the device is consuming a standalone, fixed-term Chrome Education Upgrade(AKA Chrome EDU fixed-term license)."
          ]
        },
        "orderNumber": {
          "type": "string",
          "description": "The device's order number. Only devices directly purchased from Google have an order number."
        },
        "tpmVersionInfo": {
          "description": "Trusted Platform Module (TPM) (Read-only)",
          "properties": {
            "specLevel": {
              "description": "TPM specification level. See Library Specification for TPM 2.0 and Main Specification for TPM 1.2.",
              "type": "string"
            },
            "manufacturer": {
              "description": "TPM manufacturer code.",
              "type": "string"
            },
            "tpmModel": {
              "type": "string",
              "description": "TPM model number."
            },
            "vendorSpecific": {
              "description": "Vendor-specific information such as Vendor ID.",
              "type": "string"
            },
            "family": {
              "type": "string",
              "description": "TPM family. We use the TPM 2.0 style encoding, e.g.: TPM 1.2: \"1.2\" -> 312e3200 TPM 2.0: \"2.0\" -> 322e3000"
            },
            "firmwareVersion": {
              "description": "TPM firmware version.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "autoUpdateThrough": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp after which the device will stop receiving Chrome updates or support."
        },
        "kind": {
          "type": "string",
          "description": "The type of resource. For the Chromeosdevices resource, the value is `admin#directory#chromeosdevice`.",
          "default": "admin#directory#chromeosdevice"
        },
        "systemRamFreeReports": {
          "type": "array",
          "items": {
            "properties": {
              "reportTime": {
                "type": "string",
                "format": "date-time",
                "description": "Date and time the report was received."
              },
              "systemRamFreeInfo": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "int64"
                }
              }
            },
            "type": "object"
          },
          "description": "Reports of amounts of available RAM memory (Read-only)"
        },
        "backlightInfo": {
          "description": "Output only. Contains backlight information for the device.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "BacklightInfo"
          }
        },
        "bluetoothAdapterInfo": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "BluetoothAdapterInfo"
          },
          "description": "Output only. Information about Bluetooth adapters of the device."
        },
        "osVersion": {
          "type": "string",
          "description": "The Chrome device's operating system version."
        },
        "osVersionCompliance": {
          "type": "string",
          "description": "Output only. Device policy compliance status of the OS version.",
          "enumDescriptions": [
            "Compliance status unspecified.",
            "Compliance status compliant.",
            "Compliance status pending.",
            "Compliance status not compliant."
          ],
          "readOnly": true,
          "enum": [
            "complianceUnspecified",
            "compliant",
            "pending",
            "notCompliant"
          ]
        },
        "autoUpdateExpiration": {
          "deprecated": true,
          "type": "string",
          "format": "int64",
          "description": "(Read-only) The timestamp after which the device will stop receiving Chrome updates or support. Please use \"autoUpdateThrough\" instead."
        },
        "systemRamTotal": {
          "description": "Total RAM on the device [in bytes] (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "serialNumber": {
          "description": "The Chrome device serial number entered when the device was enabled. This value is the same as the Admin console's *Serial Number* in the *Chrome OS Devices* tab.",
          "type": "string"
        },
        "manufactureDate": {
          "description": "(Read-only) The date the device was manufactured in yyyy-mm-dd format.",
          "type": "string"
        },
        "willAutoRenew": {
          "description": "Determines if the device will auto renew its support after the support end date. This is a read-only property.",
          "type": "boolean"
        },
        "lastDeprovisionTimestamp": {
          "type": "string",
          "description": "(Read-only) Date and time for the last deprovision of the device."
        },
        "diskVolumeReports": {
          "description": "Reports of disk space and other info about mounted/connected volumes.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "volumeInfo": {
                "description": "Disk volumes",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "volumeId": {
                      "description": "Volume id",
                      "type": "string"
                    },
                    "storageTotal": {
                      "description": "Total disk space [in bytes]",
                      "type": "string",
                      "format": "int64"
                    },
                    "storageFree": {
                      "type": "string",
                      "format": "int64",
                      "description": "Free disk space [in bytes]"
                    }
                  }
                }
              }
            }
          }
        },
        "lastSync": {
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        },
        "deviceId": {
          "type": "string",
          "description": "The unique ID of the Chrome device."
        },
        "platformVersion": {
          "type": "string",
          "description": "The Chrome device's platform version."
        },
        "dockMacAddress": {
          "description": "(Read-only) Built-in MAC address for the docking station that the device connected to. Factory sets Media access control address (MAC address) assigned for use by a dock. It is reserved specifically for MAC pass through device policy. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices.",
          "type": "string"
        },
        "lastEnrollmentTime": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was last enrolled (Read-only)"
        },
        "cpuStatusReports": {
          "description": "Reports of CPU utilization and temperature (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "reportTime": {
                "description": "Date and time the report was received.",
                "type": "string",
                "format": "date-time"
              },
              "cpuTemperatureInfo": {
                "description": "A list of CPU temperature samples.",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "temperature": {
                      "description": "Temperature in Celsius degrees.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "label": {
                      "description": "CPU label",
                      "type": "string"
                    }
                  }
                }
              },
              "cpuUtilizationPercentageInfo": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "lastKnownNetwork": {
          "description": "Contains last known network (Read-only)",
          "type": "array",
          "items": {
            "type": "object",
            "description": "Information for an ip address.",
            "properties": {
              "wanIpAddress": {
                "type": "string",
                "description": "The WAN IP address."
              },
              "ipAddress": {
                "description": "The IP address.",
                "type": "string"
              }
            }
          }
        },
        "model": {
          "description": "The device's model information. If the device does not have this information, this property is not included in the response.",
          "type": "string"
        },
        "ethernetMacAddress": {
          "description": "The device's MAC address on the ethernet network interface.",
          "type": "string"
        },
        "ethernetMacAddress0": {
          "type": "string",
          "description": "(Read-only) MAC address used by the Chromebook’s internal ethernet port, and for onboard network (ethernet) interface. The format is twelve (12) hexadecimal digits without any delimiter (uppercase letters). This is only relevant for some devices."
        },
        "annotatedUser": {
          "description": "The user of the device as noted by the administrator. Maximum length is 100 characters. Empty values are allowed.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The status of the device."
        },
        "activeTimeRanges": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "activeTime": {
                "type": "integer",
                "format": "int32",
                "description": "Duration of usage in milliseconds."
              },
              "date": {
                "type": "string",
                "format": "date",
                "description": "Date of usage"
              }
            }
          },
          "description": "A list of active time ranges (Read-only)."
        },
        "osUpdateStatus": {
          "description": "The status of the OS updates for the device.",
          "$ref": "OsUpdateStatus"
        }
      }
    },
    "UserWebsite": {
      "id": "UserWebsite",
      "description": "JSON template for a website entry.",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary website or not."
        },
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "type": "object"
    },
    "Printer": {
      "type": "object",
      "id": "Printer",
      "description": "Printer configuration.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)"
        },
        "displayName": {
          "type": "string",
          "description": "Editable. Name of printer."
        },
        "description": {
          "description": "Editable. Description of printer.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when printer was created."
        },
        "makeAndModel": {
          "type": "string",
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response."
        },
        "id": {
          "type": "string",
          "description": "Id of the printer. (During printer creation leave empty)"
        },
        "orgUnitId": {
          "type": "string",
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)"
        },
        "auxiliaryMessages": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any."
        },
        "uri": {
          "type": "string",
          "description": "Editable. Printer URI."
        },
        "useDriverlessConfig": {
          "type": "boolean",
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored"
        }
      }
    },
    "Building": {
      "type": "object",
      "id": "Building",
      "description": "Public API: Resources.buildings",
      "properties": {
        "buildingId": {
          "type": "string",
          "description": "Unique identifier for the building. The maximum length is 100 characters."
        },
        "buildingName": {
          "type": "string",
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters."
        },
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#resources#buildings#Building",
          "description": "Kind of resource this is.",
          "type": "string"
        },
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "floorNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry."
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        },
        "coordinates": {
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees.",
          "$ref": "BuildingCoordinates"
        }
      }
    },
    "GroupAlias": {
      "id": "GroupAlias",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`."
        },
        "alias": {
          "type": "string",
          "description": "The alias email address."
        },
        "id": {
          "type": "string",
          "description": "The unique ID of the group."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "primaryEmail": {
          "type": "string",
          "description": "The primary email address of the group."
        }
      },
      "type": "object"
    },
    "Privileges": {
      "type": "object",
      "id": "Privileges",
      "properties": {
        "kind": {
          "default": "admin#directory#privileges",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privileges`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "description": "A list of Privilege resources.",
          "type": "array",
          "items": {
            "$ref": "Privilege"
          }
        }
      }
    },
    "UserKeyword": {
      "type": "object",
      "id": "UserKeyword",
      "description": "JSON template for a keyword entry.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Keyword."
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard type of that entry. For example keyword could be of type occupation or outlook. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        }
      }
    },
    "BatchChangeChromeOsDeviceStatusResponse": {
      "type": "object",
      "id": "BatchChangeChromeOsDeviceStatusResponse",
      "description": "The response of changing the status of a batch of ChromeOS devices.",
      "properties": {
        "changeChromeOsDeviceStatusResults": {
          "description": "The results for each of the ChromeOS devices provided in the request.",
          "type": "array",
          "items": {
            "$ref": "ChangeChromeOsDeviceStatusResult"
          }
        }
      }
    },
    "UserOrganization": {
      "type": "object",
      "id": "UserOrganization",
      "description": "JSON template for an organization entry.",
      "properties": {
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        },
        "symbol": {
          "type": "string",
          "description": "Symbol of the organization."
        },
        "fullTimeEquivalent": {
          "type": "integer",
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value."
        },
        "location": {
          "type": "string",
          "description": "Location of the organization. This need not be fully qualified address."
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "description": {
          "type": "string",
          "description": "Description of the organization."
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title (designation) of the user in the organization."
        }
      }
    },
    "UserExternalId": {
      "type": "object",
      "id": "UserExternalId",
      "description": "JSON template for an externalId entry.",
      "properties": {
        "type": {
          "description": "The type of the Id.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the id."
        }
      }
    },
    "Feature": {
      "id": "Feature",
      "description": "JSON template for Feature object in Directory API.",
      "properties": {
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "name": {
          "description": "The name of the feature.",
          "annotations": {
            "required": [
              "directory.resources.features.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#resources#features#Feature",
          "type": "string",
          "description": "Kind of resource this is."
        }
      },
      "type": "object"
    },
    "ListPrintersResponse": {
      "type": "object",
      "id": "ListPrintersResponse",
      "description": "Response for listing printers.",
      "properties": {
        "printers": {
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "type": "array",
          "items": {
            "$ref": "Printer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CreatePrintServerRequest": {
      "id": "CreatePrintServerRequest",
      "description": "Request for adding a new print server.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`"
        },
        "printServer": {
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units).",
          "$ref": "PrintServer"
        }
      },
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "id": "Schema",
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "properties": {
        "displayName": {
          "description": "Display name for the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#schema",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "fields": {
          "type": "array",
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "description": "A list of fields in the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the resource."
        },
        "schemaName": {
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          },
          "type": "string"
        }
      }
    },
    "UserGender": {
      "type": "object",
      "id": "UserGender",
      "properties": {
        "addressMeAs": {
          "type": "string",
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their."
        },
        "customGender": {
          "type": "string",
          "description": "Custom gender."
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      }
    },
    "BatchDeletePrintersResponse": {
      "id": "BatchDeletePrintersResponse",
      "description": "Response for deleting existing printers in batch.",
      "properties": {
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedPrinters": {
          "type": "array",
          "items": {
            "$ref": "FailureInfo"
          },
          "description": "A list of update failures."
        }
      },
      "type": "object"
    },
    "ChangeChromeOsDeviceStatusResult": {
      "id": "ChangeChromeOsDeviceStatusResult",
      "description": "The result of a single ChromeOS device for a Change state operation.",
      "properties": {
        "response": {
          "description": "The device could change its status successfully.",
          "$ref": "ChangeChromeOsDeviceStatusSucceeded"
        },
        "deviceId": {
          "description": "The unique ID of the ChromeOS device.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "BatchCreatePrintServersResponse": {
      "type": "object",
      "id": "BatchCreatePrintServersResponse",
      "properties": {
        "printServers": {
          "description": "A list of successfully created print servers with their IDs populated.",
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          }
        },
        "failures": {
          "type": "array",
          "items": {
            "$ref": "PrintServerFailureInfo"
          },
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created."
        }
      }
    },
    "UserSshPublicKey": {
      "type": "object",
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "fingerprint": {
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "expirationTimeUsec": {
          "description": "An expiration time in microseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        }
      }
    },
    "CountChromeOsDevicesResponse": {
      "id": "CountChromeOsDevicesResponse",
      "description": "A response for counting ChromeOS devices.",
      "properties": {
        "count": {
          "type": "string",
          "format": "int64",
          "description": "The total number of devices matching the request."
        }
      },
      "type": "object"
    },
    "Privilege": {
      "type": "object",
      "id": "Privilege",
      "properties": {
        "serviceName": {
          "description": "The name of the service this privilege is for.",
          "type": "string"
        },
        "isOuScopable": {
          "type": "boolean",
          "description": "If the privilege can be restricted to an organization unit."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#privilege`.",
          "default": "admin#directory#privilege"
        },
        "privilegeName": {
          "type": "string",
          "description": "The name of the privilege."
        },
        "serviceId": {
          "type": "string",
          "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list)."
        },
        "childPrivileges": {
          "description": "A list of child privileges. Privileges for a service form a tree. Each privilege can have a list of child privileges; this list is empty for a leaf privilege.",
          "type": "array",
          "items": {
            "$ref": "Privilege"
          }
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "Buildings": {
      "type": "object",
      "id": "Buildings",
      "description": "Public API: Resources.buildings",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "buildings": {
          "description": "The Buildings in this page of results.",
          "type": "array",
          "items": {
            "$ref": "Building"
          }
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#resources#buildings#buildingsList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      }
    },
    "CalendarResources": {
      "type": "object",
      "id": "CalendarResources",
      "description": "Public API: Resources.calendars",
      "properties": {
        "kind": {
          "default": "admin#directory#resources#calendars#calendarResourcesList",
          "description": "Identifies this as a collection of CalendarResources. This is always `admin#directory#resources#calendars#calendarResourcesList`.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CalendarResource"
          },
          "description": "The CalendarResources in this page of results."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      }
    },
    "UserPhone": {
      "id": "UserPhone",
      "description": "JSON template for a phone entry.",
      "properties": {
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary phone or not."
        },
        "value": {
          "type": "string",
          "description": "Phone number."
        },
        "type": {
          "type": "string",
          "description": "Each entry can have a type which indicates standard types of that entry. For example phone could be of home_fax work mobile etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value."
        },
        "customType": {
          "type": "string",
          "description": "Custom Type."
        }
      },
      "type": "object"
    },
    "RoleAssignments": {
      "type": "object",
      "id": "RoleAssignments",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "RoleAssignment"
          },
          "description": "A list of RoleAssignment resources."
        },
        "kind": {
          "default": "admin#directory#roleAssignments",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string"
        }
      }
    },
    "Schemas": {
      "type": "object",
      "id": "Schemas",
      "description": "JSON response template for List Schema operation in Directory API.",
      "properties": {
        "kind": {
          "default": "admin#directory#schemas",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "schemas": {
          "type": "array",
          "items": {
            "$ref": "Schema"
          },
          "description": "A list of UserSchema objects."
        }
      }
    },
    "DomainAlias": {
      "type": "object",
      "id": "DomainAlias",
      "properties": {
        "verified": {
          "type": "boolean",
          "description": "Indicates the verification state of a domain alias. (Read-only)"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "creationTime": {
          "description": "The creation time of the domain alias. (Read-only).",
          "type": "string",
          "format": "int64"
        },
        "domainAliasName": {
          "description": "The domain alias name.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#domainAlias",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "parentDomainName": {
          "description": "The parent domain name that the domain alias is associated with. This can either be a primary or secondary domain name within a customer.",
          "annotations": {
            "required": [
              "directory.domains.insert"
            ]
          },
          "type": "string"
        }
      }
    },
    "ChromeOsMoveDevicesToOu": {
      "id": "ChromeOsMoveDevicesToOu",
      "properties": {
        "deviceIds": {
          "description": "Chrome OS devices to be moved to OU",
          "annotations": {
            "required": [
              "directory.chromeosdevices.moveDevicesToOu"
            ]
          },
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "FailureInfo": {
      "id": "FailureInfo",
      "description": "Info about failures",
      "properties": {
        "errorMessage": {
          "description": "Failure reason message.",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "description": "Canonical code for why the update failed to apply.",
          "type": "string"
        },
        "printerId": {
          "type": "string",
          "description": "Id of a failed printer."
        },
        "printer": {
          "description": "Failed printer.",
          "$ref": "Printer"
        }
      },
      "type": "object"
    },
    "CalendarResource": {
      "id": "CalendarResource",
      "description": "Public API: Resources.calendars",
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "The unique ID for the calendar resource.",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "buildingId": {
          "type": "string",
          "description": "Unique ID for the building a resource is located in."
        },
        "floorSection": {
          "description": "Name of the section within a floor a resource is located in.",
          "type": "string"
        },
        "featureInstances": {
          "description": "Instances of features for the calendar resource.",
          "type": "any"
        },
        "resourceEmail": {
          "type": "string",
          "description": "The read-only email for the calendar resource. Generated as part of creating a new calendar resource."
        },
        "resourceName": {
          "type": "string",
          "description": "The name of the calendar resource. For example, \"Training Room 1A\".",
          "annotations": {
            "required": [
              "directory.resources.calendars.insert"
            ]
          }
        },
        "capacity": {
          "description": "Capacity of a resource, number of seats in a room.",
          "type": "integer",
          "format": "int32"
        },
        "resourceType": {
          "description": "The type of the calendar resource, intended for non-room resources.",
          "type": "string"
        },
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "userVisibleDescription": {
          "description": "Description of the resource, visible to users and admins.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "The type of the resource. For calendar resources, the value is `admin#directory#resources#calendars#CalendarResource`.",
          "default": "admin#directory#resources#calendars#CalendarResource"
        },
        "resourceCategory": {
          "description": "The category of the calendar resource. Either CONFERENCE_ROOM or OTHER. Legacy data is set to CATEGORY_UNKNOWN.",
          "type": "string"
        },
        "floorName": {
          "description": "Name of the floor a resource is located on.",
          "type": "string"
        },
        "resourceDescription": {
          "type": "string",
          "description": "Description of the resource, visible only to admins."
        },
        "generatedResourceName": {
          "type": "string",
          "description": "The read-only auto-generated name of the calendar resource which includes metadata about the resource such as building name, floor, capacity, etc. For example, \"NYC-2-Training Room 1A (16)\"."
        }
      },
      "type": "object"
    },
    "UserName": {
      "id": "UserName",
      "properties": {
        "familyName": {
          "type": "string",
          "description": "The user's last name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          }
        },
        "displayName": {
          "type": "string",
          "description": "The user's display name. Limit: 256 characters."
        },
        "givenName": {
          "description": "The user's first name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserPhoto": {
      "type": "object",
      "id": "UserPhoto",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the API resource. For Photo resources, this is `admin#directory#user#photo`.",
          "default": "admin#directory#user#photo"
        },
        "photoData": {
          "description": "The user photo's upload data in [web-safe Base64](https://en.wikipedia.org/wiki/Base64#URL_applications) format in bytes. This means: * The slash (/) character is replaced with the underscore (_) character. * The plus sign (+) character is replaced with the hyphen (-) character. * The equals sign (=) character is replaced with the asterisk (*). * For padding, the period (.) character is used instead of the RFC-4648 baseURL definition which uses the equals sign (=) for padding. This is done to simplify URL-parsing. * Whatever the size of the photo being uploaded, the API downsizes it to 96x96 pixels.",
          "annotations": {
            "required": [
              "directory.users.photos.update"
            ]
          },
          "type": "string",
          "format": "byte"
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the photo. Allowed values are `JPEG`, `PNG`, `GIF`, `BMP`, `TIFF`, and web-safe base64 encoding."
        },
        "height": {
          "description": "Height of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address."
        },
        "id": {
          "type": "string",
          "description": "The ID the API uses to uniquely identify the user."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "width": {
          "description": "Width of the photo in pixels.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ListPrintServersResponse": {
      "id": "ListPrintServersResponse",
      "properties": {
        "printServers": {
          "description": "List of print servers.",
          "type": "array",
          "items": {
            "$ref": "PrintServer"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "ListPrinterModelsResponse": {
      "type": "object",
      "id": "ListPrinterModelsResponse",
      "description": "Response for listing allowed printer models.",
      "properties": {
        "printerModels": {
          "description": "Printer models that are currently allowed to be configured for ChromeOs. Some printers may be added or removed over time.",
          "type": "array",
          "items": {
            "$ref": "PrinterModel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "UserRelation": {
      "type": "object",
      "id": "UserRelation",
      "description": "JSON template for a relation entry.",
      "properties": {
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        }
      }
    },
    "AuxiliaryMessage": {
      "id": "AuxiliaryMessage",
      "description": "Auxiliary message about issues with printers or settings. Example: {message_type:AUXILIARY_MESSAGE_WARNING, field_mask:make_and_model, message:\"Given printer is invalid or no longer supported.\"}",
      "properties": {
        "fieldMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "Field that this message concerns."
        },
        "severity": {
          "enumDescriptions": [
            "Message type unspecified.",
            "Message of severity: info.",
            "Message of severity: warning.",
            "Message of severity: error."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_INFO",
            "SEVERITY_WARNING",
            "SEVERITY_ERROR"
          ],
          "type": "string",
          "description": "Message severity"
        },
        "auxiliaryMessage": {
          "description": "Human readable message in English. Example: \"Given printer is invalid or no longer supported.\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-groups). For information about other types of groups, see the [Cloud Identity Groups API documentation](https://cloud.google.com/identity/docs/groups). Note: The user calling the API (or being impersonated by a service account) must have an assigned [role](https://developers.google.com/workspace/admin/directory/v1/guides/manage-roles) that includes Admin API Groups permissions, such as Super Admin or Groups Admin.",
      "properties": {
        "adminCreated": {
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user.",
          "type": "boolean"
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The group's display name."
        },
        "directMembersCount": {
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group.",
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "nonEditableAliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored."
        },
        "kind": {
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`.",
          "type": "string",
          "default": "admin#directory#group"
        },
        "email": {
          "type": "string",
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details.",
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          }
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored."
        }
      },
      "type": "object"
    },
    "RoleAssignment": {
      "type": "object",
      "id": "RoleAssignment",
      "description": "Defines an assignment of a role.",
      "properties": {
        "scopeType": {
          "type": "string",
          "description": "The scope in which this role is assigned."
        },
        "condition": {
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#roleAssignment",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "type": "string"
        },
        "assignedTo": {
          "type": "string",
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts)."
        },
        "roleAssignmentId": {
          "type": "string",
          "format": "int64",
          "description": "ID of this roleAssignment."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "roleId": {
          "description": "The ID of the role that is assigned.",
          "type": "string",
          "format": "int64"
        },
        "assigneeType": {
          "enum": [
            "user",
            "group"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ],
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "type": "string"
        }
      }
    },
    "BatchDeletePrintServersResponse": {
      "id": "BatchDeletePrintServersResponse",
      "properties": {
        "failedPrintServers": {
          "description": "A list of update failures.",
          "type": "array",
          "items": {
            "$ref": "PrintServerFailureInfo"
          }
        },
        "printServerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of print server IDs that were successfully deleted."
        }
      },
      "type": "object"
    },
    "DirectoryChromeosdevicesCommandResult": {
      "id": "DirectoryChromeosdevicesCommandResult",
      "description": "The result of executing a command.",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "The error message with a short explanation as to why the command failed. Only present if the command failed."
        },
        "commandResultPayload": {
          "type": "string",
          "description": "The payload for the command result. The following commands respond with a payload: * `DEVICE_START_CRD_SESSION`: Payload is a stringified JSON object in the form: { \"url\": url }. The provided URL links to the Chrome Remote Desktop session and requires authentication using only the `email` associated with the command's issuance. * `FETCH_CRD_AVAILABILITY_INFO`: Payload is a stringified JSON object in the form: { \"deviceIdleTimeInSeconds\": number, \"userSessionType\": string, \"remoteSupportAvailability\": string, \"remoteAccessAvailability\": string }. The \"remoteSupportAvailability\" field is set to \"AVAILABLE\" if `shared` CRD session to the device is available. The \"remoteAccessAvailability\" field is set to \"AVAILABLE\" if `private` CRD session to the device is available."
        },
        "result": {
          "enum": [
            "COMMAND_RESULT_TYPE_UNSPECIFIED",
            "IGNORED",
            "FAILURE",
            "SUCCESS"
          ],
          "enumDescriptions": [
            "The command result was unspecified.",
            "The command was ignored as obsolete.",
            "The command could not be executed successfully.",
            "The command was successfully executed."
          ],
          "description": "The result of the command.",
          "type": "string"
        },
        "executeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the command was executed or failed to execute."
        }
      },
      "type": "object"
    },
    "Asps": {
      "id": "Asps",
      "properties": {
        "items": {
          "description": "A list of ASP resources.",
          "type": "array",
          "items": {
            "$ref": "Asp"
          }
        },
        "kind": {
          "default": "admin#directory#aspList",
          "description": "The type of the API resource. This is always `admin#directory#aspList`.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Domains2": {
      "type": "object",
      "id": "Domains2",
      "properties": {
        "kind": {
          "default": "admin#directory#domains",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "domains": {
          "type": "array",
          "items": {
            "$ref": "Domains"
          },
          "description": "A list of domain objects."
        }
      }
    },
    "DirectoryUsersCreateGuestRequest": {
      "id": "DirectoryUsersCreateGuestRequest",
      "description": "Directory users guest creation request message.",
      "properties": {
        "primaryGuestEmail": {
          "description": "Immutable. External email of the guest user being created.",
          "type": "string"
        },
        "customer": {
          "type": "string",
          "description": "Optional. Immutable ID of the Google Workspace account."
        }
      },
      "type": "object"
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "properties": {
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        },
        "commandType": {
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "description": "The type of command.",
          "type": "string"
        }
      }
    },
    "UserAbout": {
      "id": "UserAbout",
      "description": "JSON template for About (notes) of a user in Directory API.",
      "properties": {
        "contentType": {
          "type": "string",
          "description": "About entry can have a type which indicates the content type. It can either be plain or html. By default, notes contents are assumed to contain plain text."
        },
        "value": {
          "description": "Actual value of notes.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UserIm": {
      "id": "UserIm",
      "description": "JSON template for instant messenger of an user.",
      "properties": {
        "customProtocol": {
          "type": "string",
          "description": "Custom protocol."
        },
        "primary": {
          "type": "boolean",
          "description": "If this is user's primary im. Only one entry could be marked as primary."
        },
        "protocol": {
          "type": "string",
          "description": "Protocol used in the instant messenger. It should be one of the values from ImProtocolTypes map. Similar to type it can take a CUSTOM value and specify the custom name in customProtocol field."
        },
        "customType": {
          "type": "string",
          "description": "Custom type."
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example instant messengers could be of home work etc. In addition to the standard type an entry can have a custom type and can take any value. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "im": {
          "description": "Instant messenger id.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SchemaFieldSpec": {
      "id": "SchemaFieldSpec",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "properties": {
        "indexed": {
          "type": "boolean",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`.",
          "default": "true"
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "properties": {
            "minValue": {
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            },
            "maxValue": {
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant.",
              "type": "number",
              "format": "double"
            }
          },
          "type": "object"
        },
        "readAccessType": {
          "default": "ALL_DOMAIN_USERS",
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The ETag of the field."
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "fieldType": {
          "type": "string",
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "displayName": {
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        }
      },
      "type": "object"
    },
    "VerificationCode": {
      "id": "VerificationCode",
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user.",
      "properties": {
        "verificationCode": {
          "type": "string",
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result."
        },
        "kind": {
          "default": "admin#directory#verificationCode",
          "type": "string",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "userId": {
          "type": "string",
          "description": "The obfuscated unique ID of the user."
        }
      },
      "type": "object"
    },
    "BuildingCoordinates": {
      "type": "object",
      "id": "BuildingCoordinates",
      "description": "Public API: Resources.buildings",
      "properties": {
        "latitude": {
          "description": "Latitude in decimal degrees.",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "Longitude in decimal degrees."
        }
      }
    },
    "ChromeOsDevices": {
      "type": "object",
      "id": "ChromeOsDevices",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Kind of resource this is.",
          "default": "admin#directory#chromeosdevices"
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "chromeosdevices": {
          "description": "A list of Chrome OS Device objects.",
          "type": "array",
          "items": {
            "$ref": "ChromeOsDevice"
          }
        }
      }
    },
    "UserCustomProperties": {
      "id": "UserCustomProperties",
      "description": "JSON template for a set of custom properties (i.e. all fields in a particular schema)",
      "type": "object",
      "additionalProperties": {
        "type": "any"
      }
    },
    "OsUpdateStatus": {
      "type": "object",
      "id": "OsUpdateStatus",
      "description": "Contains information regarding the current OS update status.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Date and time of the last successful OS update."
        },
        "targetOsVersion": {
          "type": "string",
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot."
        },
        "state": {
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ],
          "type": "string",
          "description": "The update state of an OS update."
        },
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        },
        "targetKioskAppVersion": {
          "type": "string",
          "description": "New required platform version from the pending updated kiosk app."
        },
        "rebootTime": {
          "type": "string",
          "description": "Date and time of the last reboot."
        }
      }
    },
    "BuildingAddress": {
      "type": "object",
      "id": "BuildingAddress",
      "description": "Public API: Resources.buildings",
      "properties": {
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address.",
          "type": "string"
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "sublocality": {
          "type": "string",
          "description": "Optional. Sublocality of the address."
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address.",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unstructured address lines describing the lower levels of an address."
        }
      }
    },
    "BatchChangeChromeOsDeviceStatusRequest": {
      "id": "BatchChangeChromeOsDeviceStatusRequest",
[...]
