{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/admin.directory.user.alias.readonly": {
          "description": "View user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group": {
          "description": "View and manage the provisioning of groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.group.readonly": {
          "description": "View groups on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement": {
          "description": "Manage delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.readonly": {
          "description": "View your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema.readonly": {
          "description": "View user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain.readonly": {
          "description": "View domains related to your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly": {
          "description": "View your ChromeOS devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers.readonly": {
          "description": "See the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly": {
          "description": "View calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile": {
          "description": "View and manage your mobile devices' metadata"
        },
        "https://www.googleapis.com/auth/admin.directory.resource.calendar": {
          "description": "View and manage the provisioning of calendar resources on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.alias": {
          "description": "View and manage user aliases on your domain"
        },
        "https://www.googleapis.com/auth/admin.chrome.printers": {
          "description": "See, add, edit, and permanently delete the printers that your organization can use with Chrome"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member": {
          "description": "View and manage group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.customer.readonly": {
          "description": "View customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.customer": {
          "description": "View and manage customer related information"
        },
        "https://www.googleapis.com/auth/admin.directory.group.member.readonly": {
          "description": "View group subscriptions on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit": {
          "description": "View and manage organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.domain": {
          "description": "View and manage the provisioning of domains for your customers"
        },
        "https://www.googleapis.com/auth/admin.directory.user.readonly": {
          "description": "See info about users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.mobile.action": {
          "description": "Manage your mobile devices by performing administrative tasks"
        },
        "https://www.googleapis.com/auth/admin.directory.userschema": {
          "description": "View and manage the provisioning of user schemas on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user": {
          "description": "View and manage the provisioning of users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly": {
          "description": "View delegated admin roles for your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.user.security": {
          "description": "Manage data access permissions for users on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.orgunit.readonly": {
          "description": "View organization units on your domain"
        },
        "https://www.googleapis.com/auth/admin.directory.device.chromeos": {
          "description": "View and manage your ChromeOS devices' metadata"
        }
      }
    }
  },
  "batchPath": "batch",
  "name": "admin",
  "id": "admin:directory_v1",
  "basePath": "",
  "title": "Admin SDK API",
  "revision": "20260421",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "directory_v1",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://admin.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "baseUrl": "https://admin.googleapis.com/",
  "ownerDomain": "google.com",
  "canonicalName": "directory",
  "documentationLink": "https://developers.google.com/workspace/admin/",
  "schemas": {
    "MembersHasMember": {
      "id": "MembersHasMember",
      "description": "JSON template for Has Member response in Directory API.",
      "properties": {
        "isMember": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the given user is a member of the group. Membership can be direct or nested."
        }
      },
      "type": "object"
    },
    "OrgUnits": {
      "properties": {
        "kind": {
          "default": "admin#directory#orgUnits",
          "type": "string",
          "description": "The type of the API resource. For Org Unit resources, the type is `admin#directory#orgUnits`."
        },
        "organizationUnits": {
          "description": "A list of organizational unit objects.",
          "items": {
            "$ref": "OrgUnit"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "OrgUnits",
      "type": "object"
    },
    "UserExternalId": {
      "type": "object",
      "description": "JSON template for an externalId entry.",
      "properties": {
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "value": {
          "description": "The value of the id.",
          "type": "string"
        },
        "type": {
          "description": "The type of the Id.",
          "type": "string"
        }
      },
      "id": "UserExternalId"
    },
    "ChangeChromeOsDeviceStatusSucceeded": {
      "type": "object",
      "description": "Response for a successful ChromeOS device status change.",
      "properties": {},
      "id": "ChangeChromeOsDeviceStatusSucceeded"
    },
    "ListPrintServersResponse": {
      "type": "object",
      "id": "ListPrintServersResponse",
      "properties": {
        "printServers": {
          "type": "array",
          "description": "List of print servers.",
          "items": {
            "$ref": "PrintServer"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` in a request to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ByteUsage": {
      "description": "Represents a data capacity with some amount of current usage in bytes.",
      "properties": {
        "capacityBytes": {
          "description": "Output only. The total capacity value, in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "usedBytes": {
          "description": "Output only. The current usage value, in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "id": "ByteUsage",
      "type": "object"
    },
    "RoleAssignments": {
      "id": "RoleAssignments",
      "properties": {
        "kind": {
          "default": "admin#directory#roleAssignments",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#roleAssignments`."
        },
        "nextPageToken": {
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of RoleAssignment resources.",
          "items": {
            "$ref": "RoleAssignment"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BuildingAddress": {
      "id": "BuildingAddress",
      "description": "Public API: Resources.buildings",
      "properties": {
        "administrativeArea": {
          "description": "Optional. Highest administrative subdivision which is used for postal addresses of a country or region.",
          "type": "string"
        },
        "sublocality": {
          "description": "Optional. Sublocality of the address.",
          "type": "string"
        },
        "addressLines": {
          "type": "array",
          "description": "Unstructured address lines describing the lower levels of an address.",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Optional. BCP-47 language code of the contents of this address (if known).",
          "type": "string"
        },
        "locality": {
          "description": "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use addressLines.",
          "type": "string"
        },
        "postalCode": {
          "description": "Optional. Postal code of the address.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. CLDR region code of the country/region of the address.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Alias": {
      "description": "JSON template for Alias object in Directory API.",
      "properties": {
        "primaryEmail": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#alias"
        },
        "alias": {
          "type": "string"
        },
        "etag": {
          "type": "string"
        },
        "id": {
          "type": "string"
        }
      },
      "id": "Alias",
      "type": "object"
    },
    "Domains2": {
      "type": "object",
      "id": "Domains2",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domains": {
          "type": "array",
          "description": "A list of domain objects.",
          "items": {
            "$ref": "Domains"
          }
        },
        "kind": {
          "default": "admin#directory#domains",
          "type": "string",
          "description": "Kind of resource this is."
        }
      }
    },
    "FeatureInstance": {
      "type": "object",
      "id": "FeatureInstance",
      "description": "JSON template for a feature instance.",
      "properties": {
        "feature": {
          "description": "The feature that this is an instance of. A calendar resource may have multiple instances of a feature.",
          "$ref": "Feature"
        }
      }
    },
    "DirectoryChromeosdevicesIssueCommandRequest": {
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandRequest",
      "description": "A request for issuing a command.",
      "properties": {
        "payload": {
          "description": "The payload for the command, provide it only if command supports it. The following commands support adding payload: * `SET_VOLUME`: Payload is a stringified JSON object in the form: { \"volume\": 50 }. The volume has to be an integer in the range [0,100]. * `DEVICE_START_CRD_SESSION`: Payload is optionally a stringified JSON object in the form: { \"ackedUserPresence\": true, \"crdSessionType\": string }. `ackedUserPresence` is a boolean. By default, `ackedUserPresence` is set to `false`. To start a Chrome Remote Desktop session for an active device, set `ackedUserPresence` to `true`. `crdSessionType` can only select from values `private` (which grants the remote admin exclusive control of the ChromeOS device) or `shared` (which allows the admin and the local user to share control of the ChromeOS device). If not set, `crdSessionType` defaults to `shared`. The `FETCH_CRD_AVAILABILITY_INFO` command can be used to determine available session types on the device. * `REBOOT`: Payload is a stringified JSON object in the form: { \"user_session_delay_seconds\": 300 }. The `user_session_delay_seconds` is the amount of seconds to wait before rebooting the device if a user is logged in. It has to be an integer in the range [0,300]. When payload is not present for reboot, 0 delay is the default. Note: This only applies if an actual user is logged in, including a Guest. If the device is in the login screen or in Kiosk mode the value is not respected and the device immediately reboots. * `FETCH_SUPPORT_PACKET`: Payload is optionally a stringified JSON object in the form: {\"supportPacketDetails\":{ \"issueCaseId\": optional_support_case_id_string, \"issueDescription\": optional_issue_description_string, \"requestedDataCollectors\": []}} The list of available `data_collector_enums` are as following: Chrome System Information (1), Crash IDs (2), Memory Details (3), UI Hierarchy (4), Additional ChromeOS Platform Logs (5), Device Event (6), Intel WiFi NICs Debug Dump (7), Touch Events (8), Lacros (9), Lacros System Information (10), ChromeOS Flex Logs (11), DBus Details (12), ChromeOS Network Routes (13), ChromeOS Shill (Connection Manager) Logs (14), Policies (15), ChromeOS System State and Logs (16), ChromeOS System Logs (17), ChromeOS Chrome User Logs (18), ChromeOS Bluetooth (19), ChromeOS Connected Input Devices (20), ChromeOS Traffic Counters (21), ChromeOS Virtual Keyboard (22), ChromeOS Network Health (23). See more details in [help article](https://support.google.com/chrome/a?p=remote-log).",
          "type": "string"
        },
        "commandType": {
          "type": "string",
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "description": "The type of command."
        }
      }
    },
    "MobileDevice": {
      "description": "Google Workspace Mobile Management includes Android, [Google Sync](https://support.google.com/a/answer/135937), and iOS devices. For more information about common group mobile device API tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices.html).",
      "properties": {
        "meid": {
          "description": "The device's MEID number.",
          "type": "string"
        },
        "privilege": {
          "description": "DMAgentPermission (Read-only)",
          "type": "string"
        },
        "kernelVersion": {
          "description": "The device's kernel version.",
          "type": "string"
        },
        "unknownSourcesStatus": {
          "description": "Unknown sources enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "encryptionStatus": {
          "description": "Mobile Device Encryption Status (Read-only)",
          "type": "string"
        },
        "serialNumber": {
          "description": "The device's serial number.",
          "type": "string"
        },
        "bootloaderVersion": {
          "description": "Mobile Device Bootloader version (Read-only)",
          "type": "string"
        },
        "model": {
          "description": "The mobile device's model name, for example Nexus S. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile=devices#update_mobile_device).",
          "type": "string"
        },
        "buildNumber": {
          "description": "The device's operating system build number.",
          "type": "string"
        },
        "manufacturer": {
          "description": "Mobile Device manufacturer (Read-only)",
          "type": "string"
        },
        "type": {
          "description": "The type of mobile device.",
          "type": "string"
        },
        "adbStatus": {
          "description": "Adb (USB debugging) enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "supportsWorkProfile": {
          "description": "Work profile supported on device (Read-only)",
          "type": "boolean"
        },
        "securityPatchLevel": {
          "description": "Mobile Device Security patch level (Read-only)",
          "type": "string",
          "format": "int64"
        },
        "hardwareId": {
          "description": "The IMEI/MEID unique identifier for Android hardware. It is not applicable to Google Sync devices. When adding an Android mobile device, this is an optional property. When updating one of these devices, this is a read-only property.",
          "type": "string"
        },
        "deviceId": {
          "description": "The serial number for a Google Sync mobile device. For Android and iOS devices, this is a software generated unique identifier.",
          "type": "string"
        },
        "developerOptionsStatus": {
          "description": "Developer options enabled or disabled on device (Read-only)",
          "type": "boolean"
        },
        "hardware": {
          "description": "Mobile Device Hardware (Read-only)",
          "type": "string"
        },
        "basebandVersion": {
          "description": "The device's baseband version.",
          "type": "string"
        },
        "otherAccountsInfo": {
          "description": "The list of accounts added on device (Read-only)",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Mobiledevices resources, the value is `admin#directory#mobiledevice`.",
          "default": "admin#directory#mobiledevice",
          "type": "string"
        },
        "lastSync": {
          "type": "string",
          "format": "date-time",
          "description": "Date and time the device was last synchronized with the policy settings in the G Suite administrator control panel (Read-only)"
        },
        "name": {
          "type": "array",
          "description": "The list of the owner's user names. If your application needs the current list of device owner names, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For more information about retrieving mobile device user information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user).",
          "items": {
            "type": "string"
          }
        },
        "deviceCompromisedStatus": {
          "description": "The compromised device status.",
          "type": "string"
        },
        "email": {
          "description": "The list of the owner's email addresses. If your application needs the current list of user emails, use the [get](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/get.html) method. For additional information, see the [retrieve a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#get_user) method.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "wifiMacAddress": {
          "description": "The device's MAC address on Wi-Fi networks.",
          "type": "string"
        },
        "releaseVersion": {
          "description": "Mobile Device release version version (Read-only)",
          "type": "string"
        },
        "imei": {
          "description": "The device's IMEI number.",
          "type": "string"
        },
        "defaultLanguage": {
          "description": "The default locale used on the device.",
          "type": "string"
        },
        "managedAccountIsOnOwnerProfile": {
          "description": "Boolean indicating if this account is on owner/primary profile or not.",
          "type": "boolean"
        },
        "applications": {
          "type": "array",
          "description": "The list of applications installed on an Android mobile device. It is not applicable to Google Sync and iOS devices. The list includes any Android applications that access Google Workspace data. When updating an applications list, it is important to note that updates replace the existing list. If the Android device has two existing applications and the API updates the list with five applications, the is now the updated list of five applications.",
          "items": {
            "type": "object",
            "properties": {
              "packageName": {
                "description": "The application's package name. An example is `com.android.browser`.",
                "type": "string"
              },
              "permission": {
                "description": "The list of permissions of this application. These can be either a standard Android permission or one defined by the application, and are found in an application's [Android manifest](https://developer.android.com/guide/topics/manifest/uses-permission-element.html). Examples of a Calendar application's permissions are `READ_CALENDAR`, or `MANAGE_ACCOUNTS`.",
                "items": {
                  "type": "string"
                },
                "type": "array"
              },
              "displayName": {
                "description": "The application's display name. An example is `Browser`.",
                "type": "string"
              },
              "versionName": {
                "description": "The application's version name. An example is `3.2-140714`.",
                "type": "string"
              },
              "versionCode": {
                "description": "The application's version code. An example is `13`.",
                "format": "int32",
                "type": "integer"
              }
            }
          }
        },
        "devicePasswordStatus": {
          "description": "DevicePasswordStatus (Read-only)",
          "type": "string"
        },
        "status": {
          "description": "The device's status.",
          "type": "string"
        },
        "networkOperator": {
          "description": "Mobile Device mobile or network operator (if available) (Read-only)",
          "type": "string"
        },
        "brand": {
          "description": "Mobile Device Brand (Read-only)",
          "type": "string"
        },
        "os": {
          "description": "The mobile device's operating system, for example IOS 4.3 or Android 2.3.5. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "userAgent": {
          "description": "Gives information about the device such as `os` version. This property can be [updated](https://developers.google.com/workspace/admin/directory/v1/reference/mobiledevices/update.html). For more information, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-mobile-devices#update_mobile_device).",
          "type": "string"
        },
        "resourceId": {
          "description": "The unique ID the API service uses to identify the mobile device.",
          "type": "string"
        },
        "firstSync": {
          "description": "Date and time the device was first synchronized with the policy settings in the G Suite administrator control panel (Read-only)",
          "type": "string",
          "format": "date-time"
        }
      },
      "id": "MobileDevice",
      "type": "object"
    },
    "DomainAliases": {
      "id": "DomainAliases",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "domainAliases": {
          "description": "A list of domain alias objects.",
          "items": {
            "$ref": "DomainAlias"
          },
          "type": "array"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "type": "string",
          "default": "admin#directory#domainAliases"
        }
      },
      "type": "object"
    },
    "Privileges": {
      "id": "Privileges",
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Privilege resources.",
          "items": {
            "$ref": "Privilege"
          },
          "type": "array"
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#privileges`.",
          "default": "admin#directory#privileges",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DirectoryChromeosdevicesIssueCommandResponse": {
      "type": "object",
      "id": "DirectoryChromeosdevicesIssueCommandResponse",
      "description": "A response for issuing a command.",
      "properties": {
        "commandId": {
          "description": "The unique ID of the issued command, used to retrieve the command status.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BatchDeletePrintersResponse": {
      "type": "object",
      "description": "Response for deleting existing printers in batch.",
      "properties": {
        "printerIds": {
          "description": "A list of Printer.id that were successfully deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "failedPrinters": {
          "description": "A list of update failures.",
          "items": {
            "$ref": "FailureInfo"
          },
          "type": "array"
        }
      },
      "id": "BatchDeletePrintersResponse"
    },
    "PrinterModel": {
      "type": "object",
      "description": "Printer manufacturer and model",
      "properties": {
        "makeAndModel": {
          "description": "Make and model as represented in \"make_and_model\" field in Printer object. eq. \"brother mfc-8840d\"",
          "type": "string"
        },
        "manufacturer": {
          "description": "Manufacturer. eq. \"Brother\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name. eq. \"Brother MFC-8840D\"",
          "type": "string"
        }
      },
      "id": "PrinterModel"
    },
    "Channel": {
      "description": "An notification channel used to watch for resource changes.",
      "properties": {
        "resourceUri": {
          "description": "A version-specific identifier for the watched resource.",
          "type": "string"
        },
        "expiration": {
          "description": "Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.",
          "format": "int64",
          "type": "string"
        },
        "token": {
          "description": "An arbitrary string delivered to the target address with each notification delivered over this channel. Optional.",
          "type": "string"
        },
        "resourceId": {
          "description": "An opaque ID that identifies the resource being watched on this channel. Stable across different API versions.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "api#channel",
          "description": "Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`."
        },
        "id": {
          "description": "A UUID or similar unique string that identifies this channel.",
          "type": "string"
        },
        "type": {
          "description": "The type of delivery mechanism used for this channel.",
          "type": "string"
        },
        "payload": {
          "description": "A Boolean value to indicate whether payload is wanted. Optional.",
          "type": "boolean"
        },
        "params": {
          "description": "Additional parameters controlling delivery channel behavior. Optional. For example, `params.ttl` specifies the time-to-live in seconds for the notification channel, where the default is 2 hours and the maximum TTL is 2 days.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "address": {
          "description": "The address where notifications are delivered for this channel.",
          "type": "string"
        }
      },
      "id": "Channel",
      "type": "object"
    },
    "Schema": {
      "type": "object",
      "description": "The type of API resource. For Schema resources, this is always `admin#directory#schema`.",
      "properties": {
        "schemaName": {
          "type": "string",
          "description": "The schema's name. Each `schema_name` must be unique within a customer. Reusing a name results in a `409: Entity already exists` error.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert"
            ]
          }
        },
        "schemaId": {
          "description": "The unique identifier of the schema (Read-only)",
          "type": "string"
        },
        "fields": {
          "description": "A list of fields in the schema.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "items": {
            "$ref": "SchemaFieldSpec"
          },
          "type": "array"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#schema",
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the resource.",
          "type": "string"
        }
      },
      "id": "Schema"
    },
    "UserPosixAccount": {
      "type": "object",
      "id": "UserPosixAccount",
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "shell": {
          "description": "The path to the login shell for this account.",
          "type": "string"
        },
        "uid": {
          "format": "uint64",
          "type": "string",
          "description": "The POSIX compliant user ID."
        },
        "operatingSystemType": {
          "description": "The operating system type for this account.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary account within the SystemId.",
          "type": "boolean"
        },
        "homeDirectory": {
          "description": "The path to the home directory for this account.",
          "type": "string"
        },
        "gid": {
          "description": "The default group ID.",
          "type": "string",
          "format": "uint64"
        },
        "accountId": {
          "description": "A POSIX account field identifier.",
          "type": "string"
        },
        "username": {
          "description": "The username of the account.",
          "type": "string"
        },
        "gecos": {
          "description": "The GECOS (user information) for this account.",
          "type": "string"
        },
        "systemId": {
          "description": "System identifier for which account Username or Uid apply to.",
          "type": "string"
        }
      }
    },
    "Building": {
      "description": "Public API: Resources.buildings",
      "properties": {
        "description": {
          "description": "A brief description of the building. For example, \"Chelsea Market\".",
          "type": "string"
        },
        "etags": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "address": {
          "description": "The postal address of the building. See [`PostalAddress`](/my-business/reference/rest/v4/PostalAddress) for details. Note that only a single address line and region code are required.",
          "$ref": "BuildingAddress"
        },
        "buildingId": {
          "description": "Unique identifier for the building. The maximum length is 100 characters.",
          "type": "string"
        },
        "floorNames": {
          "type": "array",
          "description": "The display names for all floors in this building. The floors are expected to be sorted in ascending order, from lowest floor to highest floor. For example, [\"B2\", \"B1\", \"L\", \"1\", \"2\", \"2M\", \"3\", \"PH\"] Must contain at least one entry.",
          "items": {
            "type": "string"
          }
        },
        "buildingName": {
          "description": "The building name as seen by users in Calendar. Must be unique for the customer. For example, \"NYC-CHEL\". The maximum length is 100 characters.",
          "type": "string"
        },
        "coordinates": {
          "$ref": "BuildingCoordinates",
          "description": "The geographic coordinates of the center of the building, expressed as latitude and longitude in decimal degrees."
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#resources#buildings#Building",
          "type": "string"
        }
      },
      "id": "Building",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "BatchChangeChromeOsDeviceStatusRequest": {
      "type": "object",
      "description": "A request for changing the status of a batch of ChromeOS devices.",
      "properties": {
        "deviceIds": {
          "description": "Required. List of the IDs of the ChromeOS devices to change. Maximum 50.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "changeChromeOsDeviceStatusAction": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Value is unused.",
            "Deprovisions a ChromeOS device. If you have ChromeOS devices that are no longer being used in your organization, you should deprovision them so that you’re no longer managing them. Deprovisioning the device removes all policies that were on the device as well as device-level printers and the ability to use the device as a kiosk. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Disables a ChromeOS device. Use this action if a user loses their device or it’s stolen, this makes it such that the device is still managed, so it will still receive policies, but no one can use it. Depending on the upgrade that’s associated with the device this action might release the license back into the license pool; which allows you to use the license on a different device.",
            "Reenables a ChromeOS device to be used after being disabled. Reenables the device once it's no longer lost or it's been recovered. This allows the device to be used again. Depending on the upgrade associated with the device this might consume one license from the license pool, meaning that if there aren't enough licenses available the operation will fail."
          ],
          "enum": [
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_UNSPECIFIED",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DISABLE",
            "CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_REENABLE"
          ],
          "description": "Required. The action to take on the ChromeOS device in order to change its status."
        },
        "deprovisionReason": {
          "enumDescriptions": [
            "The deprovision reason is unknown.",
            "Same model replacement. You have return materials authorization (RMA) or you are replacing a malfunctioning device under warranty with the same device model.",
            "The device was upgraded.",
            "The device's domain was changed.",
            "Service expired for the device.",
            "The device was deprovisioned for a legacy reason that is no longer supported.",
            "Different model replacement. You are replacing this device with an upgraded or newer device model.",
            "Retiring from fleet. You are donating, discarding, or otherwise removing the device from use.",
            "ChromeOS Flex upgrade transfer. This is a ChromeOS Flex device that you are replacing with a Chromebook within a year.",
            "A reason was not required. For example, the licenses were returned to the customer's license pool.",
            "The device was deprovisioned by the Repair Service Center. Can only be set by Repair Service Center during RMA."
          ],
          "enum": [
            "DEPROVISION_REASON_UNSPECIFIED",
            "DEPROVISION_REASON_SAME_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_UPGRADE",
            "DEPROVISION_REASON_DOMAIN_MOVE",
            "DEPROVISION_REASON_SERVICE_EXPIRATION",
            "DEPROVISION_REASON_OTHER",
            "DEPROVISION_REASON_DIFFERENT_MODEL_REPLACEMENT",
            "DEPROVISION_REASON_RETIRING_DEVICE",
            "DEPROVISION_REASON_UPGRADE_TRANSFER",
            "DEPROVISION_REASON_NOT_REQUIRED",
            "DEPROVISION_REASON_REPAIR_CENTER"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Optional. The reason behind a device deprovision. Must be provided if 'changeChromeOsDeviceStatusAction' is set to 'CHANGE_CHROME_OS_DEVICE_STATUS_ACTION_DEPROVISION'. Otherwise, omit this field."
        }
      },
      "id": "BatchChangeChromeOsDeviceStatusRequest"
    },
    "Printer": {
      "id": "Printer",
      "description": "Printer configuration.",
      "properties": {
        "uri": {
          "description": "Editable. Printer URI.",
          "type": "string"
        },
        "id": {
          "description": "Id of the printer. (During printer creation leave empty)",
          "type": "string"
        },
        "makeAndModel": {
          "description": "Editable. Make and model of printer. e.g. Lexmark MS610de Value must be in format as seen in ListPrinterModels response.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "Organization Unit that owns this printer (Only can be set during Printer creation)",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when printer was created."
        },
        "description": {
          "description": "Editable. Description of printer.",
          "type": "string"
        },
        "auxiliaryMessages": {
          "description": "Output only. Auxiliary messages about issues with the printer configuration if any.",
          "items": {
            "$ref": "AuxiliaryMessage"
          },
          "type": "array",
          "readOnly": true
        },
        "displayName": {
          "description": "Editable. Name of printer.",
          "type": "string"
        },
        "useDriverlessConfig": {
          "description": "Editable. flag to use driverless configuration or not. If it's set to be true, make_and_model can be ignored",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name of the Printer object, in the format customers/{customer-id}/printers/{printer-id} (During printer creation leave empty)",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreatePrintServerRequest": {
      "description": "Request for adding a new print server.",
      "properties": {
        "printServer": {
          "$ref": "PrintServer",
          "description": "Required. A print server to create. If you want to place the print server under a specific organizational unit (OU), then populate the `org_unit_id`. Otherwise the print server is created under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units)."
        },
        "parent": {
          "description": "Required. The [unique ID](https://developers.google.com/workspace/admin/directory/reference/rest/v1/customers) of the customer's Google Workspace account. Format: `customers/{id}`",
          "type": "string"
        }
      },
      "id": "CreatePrintServerRequest",
      "type": "object"
    },
    "UserSshPublicKey": {
      "id": "UserSshPublicKey",
      "description": "JSON template for a POSIX account entry.",
      "properties": {
        "expirationTimeUsec": {
          "format": "int64",
          "type": "string",
          "description": "An expiration time in microseconds since epoch."
        },
        "fingerprint": {
          "description": "A SHA-256 fingerprint of the SSH public key. (Read-only)",
          "type": "string",
          "readOnly": true
        },
        "key": {
          "description": "An SSH public key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Group": {
      "type": "object",
      "description": "Google Groups provide your users the ability to send messages to groups of people using the group's email address. For more information about common tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-groups). For information about other types of groups, see the [Cloud Identity Groups API documentation](https://cloud.google.com/identity/docs/groups). Note: The user calling the API (or being impersonated by a service account) must have an assigned [role](https://developers.google.com/workspace/admin/directory/v1/guides/manage-roles) that includes Admin API Groups permissions, such as Super Admin or Groups Admin.",
      "properties": {
        "nonEditableAliases": {
          "type": "array",
          "description": "Read-only. The list of the group's non-editable alias email addresses that are outside of the account's primary domain or subdomains. These are functioning email addresses used by the group. This is a read-only property returned in the API's response for a group. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "An extended description to help users determine the purpose of a group. For example, you can include information about who should join the group, the types of messages to send to the group, links to FAQs about the group, or related groups. Maximum length is `4,096` characters.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#group",
          "type": "string",
          "description": "The type of the API resource. For Groups resources, the value is `admin#directory#group`."
        },
        "aliases": {
          "description": "Read-only. The list of a group's alias email addresses. To add, update, or remove a group's aliases, use the `groups.aliases` methods. If edited in a group's POST or PUT request, the edit is ignored.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Read-only. The unique ID of a group. A group `id` can be used as a group request URI's `groupKey`.",
          "type": "string"
        },
        "adminCreated": {
          "description": "Read-only. Value is `true` if this group was created by an administrator rather than a user.",
          "type": "boolean"
        },
        "directMembersCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of users that are direct members of the group. If a group is a member (child) of this group (the parent), members of the child group are not counted in the `directMembersCount` property of the parent group."
        },
        "name": {
          "description": "The group's display name.",
          "type": "string"
        },
        "email": {
          "description": "The group's email address. If your account has multiple domains, select the appropriate domain for the email address. The `email` must be unique. This property is required when creating a group. Group email addresses are subject to the same character usage rules as usernames, see the [help center](https://support.google.com/a/answer/9193374) for details.",
          "annotations": {
            "required": [
              "directory.groups.insert"
            ]
          },
          "type": "string"
        }
      },
      "id": "Group"
    },
    "SchemaFieldSpec": {
      "type": "object",
      "id": "SchemaFieldSpec",
      "description": "You can use schemas to add custom fields to user profiles. You can use these fields to store information such as the projects your users work on, their physical locations, their hire dates, or whatever else fits your business needs. For more information, see [Custom User Fields](https://developers.google.com/workspace/admin/directory/v1/guides/manage-schemas).",
      "properties": {
        "indexed": {
          "default": "true",
          "type": "boolean",
          "description": "Boolean specifying whether the field is indexed or not. Default: `true`."
        },
        "kind": {
          "description": "The kind of resource this is. For schema fields this is always `admin#directory#schema#fieldspec`.",
          "default": "admin#directory#schema#fieldspec",
          "type": "string"
        },
        "multiValued": {
          "description": "A boolean specifying whether this is a multi-valued field or not. Default: `false`.",
          "type": "boolean"
        },
        "fieldType": {
          "description": "The type of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          },
          "type": "string"
        },
        "etag": {
          "description": "The ETag of the field.",
          "type": "string"
        },
        "fieldId": {
          "description": "The unique identifier of the field (Read-only)",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display Name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "fieldName": {
          "type": "string",
          "description": "The name of the field.",
          "annotations": {
            "required": [
              "directory.schemas.insert",
              "directory.schemas.update"
            ]
          }
        },
        "readAccessType": {
          "description": "Specifies who can view values of this field. See [Retrieve users as a non-administrator](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users#retrieve_users_non_admin) for more information. Note: It may take up to 24 hours for changes to this field to be reflected.",
          "default": "ALL_DOMAIN_USERS",
          "type": "string"
        },
        "numericIndexingSpec": {
          "description": "Indexing spec for a numeric field. By default, only exact match queries will be supported for numeric fields. Setting the `numericIndexingSpec` allows range queries to be supported.",
          "properties": {
            "minValue": {
              "format": "double",
              "type": "number",
              "description": "Minimum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            },
            "maxValue": {
              "format": "double",
              "type": "number",
              "description": "Maximum value of this field. This is meant to be indicative rather than enforced. Values outside this range will still be indexed, but search may not be as performant."
            }
          },
          "type": "object"
        }
      }
    },
    "GroupAlias": {
      "type": "object",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "primaryEmail": {
          "description": "The primary email address of the group.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the group.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "GroupAlias"
    },
    "CountChromeOsDevicesResponse": {
      "description": "A response for counting ChromeOS devices.",
      "properties": {
        "count": {
          "description": "The total number of devices matching the request.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "CountChromeOsDevicesResponse",
      "type": "object"
    },
    "DirectoryChromeosdevicesCommand": {
      "id": "DirectoryChromeosdevicesCommand",
      "description": "Information regarding a command that was issued to a device.",
      "properties": {
        "commandId": {
          "description": "Unique ID of a device command.",
          "type": "string",
          "format": "int64"
        },
        "commandExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the command will expire. If the device doesn't execute the command within this time the command will become expired."
        },
        "payload": {
          "description": "The payload that the command specified, if any.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "The command type was unspecified.",
            "Reboot the device. Can be issued to Kiosk and managed guest session devices, and regular devices running ChromeOS version 113 or later.",
            "Take a screenshot of the device. Only available if the device is in Kiosk Mode.",
            "Set the volume of the device. Can only be issued to Kiosk and managed guest session devices.",
            "Wipe all the users off of the device. Executing this command in the device will remove all user profile data, but it will keep device policy and enrollment.",
            "Wipes the device by performing a power wash. Executing this command in the device will remove all data including user policies, device policies and enrollment policies. Warning: This will revert the device back to a factory state with no enrollment unless the device is subject to forced or auto enrollment. Use with caution, as this is an irreversible action!",
            "Starts a Chrome Remote Desktop session.",
            "Capture the system logs of a kiosk device. The logs can be downloaded from the downloadUrl link present in `deviceFiles` field of [chromeosdevices](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)",
            "Fetches available type(s) of Chrome Remote Desktop sessions (private or shared) that can be used to remotely connect to the device.",
            "Fetch support packet from a device remotely. Support packet is a zip archive that contains various system logs and debug data from a ChromeOS device. The support packet can be downloaded from the downloadURL link present in the `deviceFiles` field of [`chromeosdevices`](https://developers.google.com/workspace/admin/directory/reference/rest/v1/chromeosdevices)"
          ],
          "enum": [
            "COMMAND_TYPE_UNSPECIFIED",
            "REBOOT",
            "TAKE_A_SCREENSHOT",
            "SET_VOLUME",
            "WIPE_USERS",
            "REMOTE_POWERWASH",
            "DEVICE_START_CRD_SESSION",
            "CAPTURE_LOGS",
            "FETCH_CRD_AVAILABILITY_INFO",
            "FETCH_SUPPORT_PACKET"
          ],
          "type": "string",
          "description": "The type of the command."
        },
        "commandResult": {
          "$ref": "DirectoryChromeosdevicesCommandResult",
          "description": "The result of the command execution."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The command status was unspecified.",
            "An unexpired command not yet sent to the client.",
            "The command didn't get executed by the client within the expected time.",
            "The command is cancelled by admin while in PENDING.",
            "The command has been sent to the client.",
            "The client has responded that it received the command.",
            "The client has (un)successfully executed the command."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "EXPIRED",
            "CANCELLED",
            "SENT_TO_CLIENT",
            "ACKED_BY_CLIENT",
            "EXECUTED_BY_CLIENT"
          ],
          "description": "Indicates the command state."
        },
        "issueTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the command was issued by the admin."
        }
      },
      "type": "object"
    },
    "UserName": {
      "id": "UserName",
      "properties": {
        "givenName": {
          "description": "The user's first name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "fullName": {
          "description": "The user's full name formed by concatenating the first and last name values.",
          "type": "string"
        },
        "familyName": {
          "description": "The user's last name. Required when creating a user account.",
          "annotations": {
            "required": [
              "directory.users.insert"
            ]
          },
          "type": "string"
        },
        "displayName": {
          "description": "The user's display name. Limit: 256 characters.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CreatePrinterRequest": {
      "id": "CreatePrinterRequest",
      "description": "Request for adding a new printer.",
      "properties": {
        "printer": {
          "description": "Required. A printer to create. If you want to place the printer under particular OU then populate printer.org_unit_id filed. Otherwise the printer will be placed under root OU.",
          "$ref": "Printer"
        },
        "parent": {
          "description": "Required. The name of the customer. Format: customers/{customer_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MobileDeviceAction": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "The action to be performed on the device.",
          "annotations": {
            "required": [
              "directory.mobiledevices.action"
            ]
          }
        }
      },
      "id": "MobileDeviceAction"
    },
    "VerificationCode": {
      "description": "The Directory API allows you to view, generate, and invalidate backup verification codes for a user.",
      "properties": {
        "kind": {
          "default": "admin#directory#verificationCode",
          "type": "string",
          "description": "The type of the resource. This is always `admin#directory#verificationCode`."
        },
        "verificationCode": {
          "description": "A current verification code for the user. Invalidated or used verification codes are not returned as part of the result.",
          "type": "string"
        },
        "userId": {
          "description": "The obfuscated unique ID of the user.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        }
      },
      "id": "VerificationCode",
      "type": "object"
    },
    "ChromeOsDevices": {
      "type": "object",
      "properties": {
        "chromeosdevices": {
          "description": "A list of Chrome OS Device objects.",
          "items": {
            "$ref": "ChromeOsDevice"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#chromeosdevices",
          "type": "string",
          "description": "Kind of resource this is."
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result. To access the next page, use this token's value in the `pageToken` query string of this request.",
          "type": "string"
        }
      },
      "id": "ChromeOsDevices"
    },
    "OrgUnit": {
      "type": "object",
      "description": "Managing your account's organizational units allows you to configure your users' access to services and custom settings. For more information about common organizational unit tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-org-units.html). The customer's organizational unit hierarchy is limited to 35 levels of depth.",
      "properties": {
        "blockInheritance": {
          "type": "boolean",
          "description": "This field is deprecated and setting its value has no effect.",
          "deprecated": true
        },
        "name": {
          "type": "string",
          "description": "The organizational unit's path name. For example, an organizational unit's name within the /corp/support/sales_support parent path is sales_support. Required.",
          "annotations": {
            "required": [
              "directory.orgunits.insert"
            ]
          }
        },
        "parentOrgUnitId": {
          "description": "The unique ID of the parent organizational unit. Required, unless `parentOrgUnitPath` is set.",
          "type": "string"
        },
        "parentOrgUnitPath": {
          "description": "The organizational unit's parent path. For example, /corp/sales is the parent path for /corp/sales/sales_support organizational unit. Required, unless `parentOrgUnitId` is set.",
          "type": "string"
        },
        "kind": {
          "default": "admin#directory#orgUnit",
          "type": "string",
          "description": "The type of the API resource. For Orgunits resources, the value is `admin#directory#orgUnit`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "The unique ID of the organizational unit.",
          "type": "string"
        },
        "description": {
          "description": "Description of the organizational unit.",
          "type": "string"
        },
        "orgUnitPath": {
          "description": "The full path to the organizational unit. The `orgUnitPath` is a derived property. When listed, it is derived from `parentOrgunitPath` and organizational unit's `name`. For example, for an organizational unit named 'apps' under parent organization '/engineering', the orgUnitPath is '/engineering/apps'. In order to edit an `orgUnitPath`, either update the name of the organization or the `parentOrgunitPath`. A user's organizational unit determines which Google Workspace services the user has access to. If the user is moved to a new organization, the user's access changes. For more information about organization structures, see the [administration help center](https://support.google.com/a/answer/4352075). For more information about moving a user to a different organization, see [Update a user](https://developers.google.com/workspace/admin/directory/v1/guides/manage-users.html#update_user).",
          "type": "string"
        }
      },
      "id": "OrgUnit"
    },
    "Tokens": {
      "id": "Tokens",
      "description": "JSON response template for List tokens operation in Directory API.",
      "properties": {
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#tokenList`.",
          "type": "string",
          "default": "admin#directory#tokenList"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of Token resources.",
          "items": {
            "$ref": "Token"
          }
        }
      },
      "type": "object"
    },
    "UserOrganization": {
      "id": "UserOrganization",
      "description": "JSON template for an organization entry.",
      "properties": {
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example organization could be of school work etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a CustomType value.",
          "type": "string"
        },
        "customType": {
          "description": "Custom type.",
          "type": "string"
        },
        "department": {
          "description": "Department within the organization.",
          "type": "string"
        },
        "description": {
          "description": "Description of the organization.",
          "type": "string"
        },
        "domain": {
          "description": "The domain to which the organization belongs to.",
          "type": "string"
        },
        "symbol": {
          "description": "Symbol of the organization.",
          "type": "string"
        },
        "fullTimeEquivalent": {
          "type": "integer",
          "format": "int32",
          "description": "The full-time equivalent millipercent within the organization (100000 = 100%)."
        },
        "title": {
          "description": "Title (designation) of the user in the organization.",
          "type": "string"
        },
        "primary": {
          "description": "If it user's primary organization.",
          "type": "boolean"
        },
        "location": {
          "description": "Location of the organization. This need not be fully qualified address.",
          "type": "string"
        },
        "name": {
          "description": "Name of the organization",
          "type": "string"
        },
        "costCenter": {
          "description": "The cost center of the users department.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "OsUpdateStatus": {
      "id": "OsUpdateStatus",
      "description": "Contains information regarding the current OS update status.",
      "properties": {
        "targetOsVersion": {
          "description": "New platform version of the OS image being downloaded and applied. It is only set when update status is UPDATE_STATUS_DOWNLOAD_IN_PROGRESS or UPDATE_STATUS_NEED_REBOOT. Note this could be a dummy \"0.0.0.0\" for UPDATE_STATUS_NEED_REBOOT for some edge cases, e.g. update engine is restarted without a reboot.",
          "type": "string"
        },
        "updateTime": {
          "description": "Date and time of the last successful OS update.",
          "type": "string"
        },
        "state": {
          "description": "The update state of an OS update.",
          "enumDescriptions": [
            "The update state is unspecified.",
            "There is an update pending but it hasn't started.",
            "The pending update is being downloaded.",
            "The device is ready to install the update, but must reboot."
          ],
          "enum": [
            "updateStateUnspecified",
            "updateStateNotStarted",
            "updateStateDownloadInProgress",
            "updateStateNeedReboot"
          ],
          "type": "string"
        },
        "targetKioskAppVersion": {
          "description": "New required platform version from the pending updated kiosk app.",
          "type": "string"
        },
        "rebootTime": {
          "description": "Date and time of the last reboot.",
          "type": "string"
        },
        "updateCheckTime": {
          "description": "Date and time of the last update check.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Role": {
      "properties": {
        "isSystemRole": {
          "description": "Returns `true` if this is a pre-defined system role.",
          "type": "boolean"
        },
        "roleName": {
          "description": "Name of the role.",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "isSuperAdminRole": {
          "description": "Returns `true` if the role is a super admin role.",
          "type": "boolean"
        },
        "rolePrivileges": {
          "type": "array",
          "description": "The set of privileges that are granted to this role.",
          "annotations": {
            "required": [
              "directory.roles.insert"
            ]
          },
          "items": {
            "type": "object",
            "properties": {
              "serviceId": {
                "description": "The obfuscated ID of the service this privilege is for. This value is returned with [`Privileges.list()`](https://developers.google.com/workspace/admin/directory/v1/reference/privileges/list).",
                "type": "string"
              },
              "privilegeName": {
                "description": "The name of the privilege.",
                "type": "string"
              }
            }
          }
        },
        "roleId": {
          "description": "ID of the role.",
          "format": "int64",
          "type": "string"
        },
        "roleDescription": {
          "description": "A short description of the role.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#role",
          "description": "The type of the API resource. This is always `admin#directory#role`."
        }
      },
      "id": "Role",
      "type": "object"
    },
    "BatchCreatePrintServersResponse": {
      "properties": {
        "failures": {
          "type": "array",
          "description": "A list of create failures. `PrintServer` IDs are not populated, as print servers were not created.",
          "items": {
            "$ref": "PrintServerFailureInfo"
          }
        },
        "printServers": {
          "description": "A list of successfully created print servers with their IDs populated.",
          "items": {
            "$ref": "PrintServer"
          },
          "type": "array"
        }
      },
      "id": "BatchCreatePrintServersResponse",
      "type": "object"
    },
    "Member": {
      "description": "A Google Groups member can be a user or another group. This member can be inside or outside of your account's domains. For more information about common group member tasks, see the [Developer's Guide](https://developers.google.com/workspace/admin/directory/v1/guides/manage-group-members).",
      "properties": {
        "status": {
          "description": "Status of member (Immutable)",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "admin#directory#member",
          "description": "The type of the API resource. For Members resources, the value is `admin#directory#member`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "email": {
          "description": "The member's email address. A member can be a user or another group. This property is required when adding a member to a group. The `email` must be unique and cannot be an alias of another group. If the email address is changed, the API automatically reflects the email address changes.",
          "type": "string"
        },
        "id": {
          "description": "The unique ID of the group member. A member `id` can be used as a member request URI's `memberKey`.",
          "type": "string"
        },
        "type": {
          "description": "The type of group member.",
          "type": "string"
        },
        "role": {
          "description": "The member's role in a group. The API returns an error for cycles in group memberships. For example, if `group1` is a member of `group2`, `group2` cannot be a member of `group1`. For more information about a member's role, see the [administration help center](https://support.google.com/a/answer/167094).",
          "type": "string"
        },
        "delivery_settings": {
          "description": "Defines mail delivery preferences of member. This field is only supported by `insert`, `update`, and `get` methods.",
          "type": "string"
        }
      },
      "id": "Member",
      "type": "object"
    },
    "RoleAssignment": {
      "type": "object",
      "description": "Defines an assignment of a role.",
      "properties": {
        "roleAssignmentId": {
          "format": "int64",
          "type": "string",
          "description": "ID of this roleAssignment."
        },
        "orgUnitId": {
          "description": "If the role is restricted to an organization unit, this contains the ID for the organization unit the exercise of this role is restricted to.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "assignedTo": {
          "description": "The unique ID of the entity this role is assigned to—either the `user_id` of a user, the `group_id` of a group, or the `uniqueId` of a service account as defined in [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/reference/rest/v1/projects.serviceAccounts).",
          "type": "string"
        },
        "assigneeType": {
          "enumDescriptions": [
            "An individual user within the domain.",
            "A group within the domain."
          ],
          "enum": [
            "user",
            "group"
          ],
          "description": "Output only. The type of the assignee (`USER` or `GROUP`).",
          "readOnly": true,
          "type": "string"
        },
        "roleId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the role that is assigned."
        },
        "kind": {
          "description": "The type of the API resource. This is always `admin#directory#roleAssignment`.",
          "type": "string",
          "default": "admin#directory#roleAssignment"
        },
        "scopeType": {
          "description": "The scope in which this role is assigned.",
          "type": "string"
        },
        "condition": {
          "description": "Optional. The condition associated with this role assignment. Note: Feature is available to Enterprise Standard, Enterprise Plus, Google Workspace for Education Plus and Cloud Identity Premium customers. A `RoleAssignment` with the `condition` field set will only take effect when the resource being accessed meets the condition. If `condition` is empty, the role (`role_id`) is applied to the actor (`assigned_to`) at the scope (`scope_type`) unconditionally. Currently, the following conditions are supported: - To make the `RoleAssignment` only applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` - To make the `RoleAssignment` not applicable to [Security Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.security']) && resource.type == 'cloudidentity.googleapis.com/Group'` Currently, the condition strings have to be verbatim and they only work with the following [pre-built administrator roles](https://support.google.com/a/answer/2405986): - Groups Editor - Groups Reader The condition follows [Cloud IAM condition syntax](https://cloud.google.com/iam/docs/conditions-overview). - To make the `RoleAssignment` not applicable to [Locked Groups](https://cloud.google.com/identity/docs/groups#group_types): `!api.getAttribute('cloudidentity.googleapis.com/groups.labels', []).hasAny(['groups.locked']) && resource.type == 'cloudidentity.googleapis.com/Group'` This condition can also be used in conjunction with a Security-related condition.",
          "type": "string"
        }
      },
      "id": "RoleAssignment"
    },
    "UserWebsite": {
      "type": "object",
      "description": "JSON template for a website entry.",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary website or not.",
          "type": "boolean"
        },
        "value": {
          "description": "Website.",
          "type": "string"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example website could be of home work blog etc. In addition to the standard type an entry can have a custom type and can give it any name. Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        }
      },
      "id": "UserWebsite"
    },
    "FailureInfo": {
      "id": "FailureInfo",
      "description": "Info about failures",
      "properties": {
        "errorMessage": {
          "description": "Failure reason message.",
          "type": "string"
        },
        "printerId": {
          "description": "Id of a failed printer.",
          "type": "string"
        },
        "printer": {
          "$ref": "Printer",
          "description": "Failed printer."
        },
        "errorCode": {
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ],
          "type": "string",
          "description": "Canonical code for why the update failed to apply."
        }
      },
      "type": "object"
    },
    "FanInfo": {
      "type": "object",
      "id": "FanInfo",
      "description": "Information about the device's fan.",
      "properties": {
        "speedRpm": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Fan speed in RPM."
        }
      }
    },
    "UserRelation": {
      "type": "object",
      "id": "UserRelation",
      "description": "JSON template for a relation entry.",
      "properties": {
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "type": {
          "description": "The relation of the user. Some of the possible values are mother father sister brother manager assistant partner.",
          "type": "string"
        },
        "value": {
          "description": "The name of the relation.",
          "type": "string"
        }
      }
    },
    "BuildingCoordinates": {
      "type": "object",
      "description": "Public API: Resources.buildings",
      "properties": {
        "latitude": {
          "description": "Latitude in decimal degrees.",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "format": "double",
          "type": "number",
          "description": "Longitude in decimal degrees."
        }
      },
      "id": "BuildingCoordinates"
    },
    "BacklightInfo": {
      "description": "Information about the device's backlights.",
      "properties": {
        "path": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Path to this backlight on the system. Useful if the caller needs to correlate with other information."
        },
        "brightness": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Current brightness of the backlight, between 0 and max_brightness."
        },
        "maxBrightness": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. Maximum brightness for the backlight."
        }
      },
      "id": "BacklightInfo",
      "type": "object"
    },
    "DirectoryUsersCreateGuestRequest": {
      "description": "Directory users guest creation request message.",
      "properties": {
        "primaryGuestEmail": {
          "description": "Immutable. External email of the guest user being created.",
          "type": "string"
        },
        "customer": {
          "description": "Optional. Immutable ID of the Google Workspace account.",
          "type": "string"
        }
      },
      "id": "DirectoryUsersCreateGuestRequest",
      "type": "object"
    },
    "Aliases": {
      "type": "object",
      "id": "Aliases",
      "description": "JSON response template to list aliases in Directory API.",
      "properties": {
        "etag": {
          "type": "string"
        },
        "aliases": {
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "kind": {
          "default": "admin#directory#aliases",
          "type": "string"
        }
      }
    },
    "BatchCreatePrintersRequest": {
      "type": "object",
      "id": "BatchCreatePrintersRequest",
      "description": "Request for adding new printers in batch.",
      "properties": {
        "requests": {
          "description": "A list of Printers to be created. Max 50 at a time.",
          "items": {
            "$ref": "CreatePrinterRequest"
          },
          "type": "array"
        }
      }
    },
    "UserGender": {
      "type": "object",
      "id": "UserGender",
      "properties": {
        "customGender": {
          "description": "Custom gender.",
          "type": "string"
        },
        "addressMeAs": {
          "description": "AddressMeAs. A human-readable string containing the proper way to refer to the profile owner by humans for example he/him/his or they/them/their.",
          "type": "string"
        },
        "type": {
          "description": "Gender.",
          "type": "string"
        }
      }
    },
    "Asps": {
      "type": "object",
      "id": "Asps",
      "properties": {
        "kind": {
          "default": "admin#directory#aspList",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#aspList`."
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "A list of ASP resources.",
          "items": {
            "$ref": "Asp"
          }
        }
      }
    },
    "Features": {
      "description": "Public API: Resources.features",
      "properties": {
        "features": {
          "description": "The Features in this page of results.",
          "items": {
            "$ref": "Feature"
          },
          "type": "array"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Kind of resource this is.",
          "default": "admin#directory#resources#features#featuresList",
          "type": "string"
        },
        "nextPageToken": {
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.",
          "type": "string"
        }
      },
      "id": "Features",
      "type": "object"
    },
    "UserEmail": {
      "description": "JSON template for an email.",
      "properties": {
        "address": {
          "description": "Email id of the user.",
          "type": "string"
        },
        "customType": {
          "description": "Custom Type.",
          "type": "string"
        },
        "primary": {
          "description": "If this is user's primary email. Only one entry could be marked as primary.",
          "type": "boolean"
        },
        "type": {
          "description": "Each entry can have a type which indicates standard types of that entry. For example email could be of home, work etc. In addition to the standard type, an entry can have a custom type and can take any value Such types should have the CUSTOM value as type and also have a customType value.",
          "type": "string"
        },
        "public_key_encryption_certificates": {
          "type": "object",
          "description": "Public Key Encryption Certificates. Current limit: 1 per email address, and 5 per user.",
          "properties": {
            "certificate": {
              "description": "X.509 encryption certificate in `PEM` format. Must only be an end-entity (leaf) certificate.",
              "type": "string"
            },
            "is_default": {
              "description": "Whether this is the default certificate for the given email address.",
              "type": "boolean"
            },
            "state": {
              "description": "Denotes the certificate's state in its lifecycle. Possible values are `not_yet_validated`, `valid`, `invalid`, `expired`, and `revoked`.",
              "type": "string"
            }
          }
        }
      },
      "id": "UserEmail",
      "type": "object"
    },
    "PrintServer": {
      "type": "object",
      "description": "Configuration for a print server.",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of the print server. Leave empty when creating. Format: `customers/{customer.id}/printServers/{print_server.id}`",
          "type": "string"
        },
        "description": {
          "description": "Editable. Description of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "displayName": {
          "description": "Editable. Display name of the print server (as shown in the Admin console).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the print server was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "id": {
          "description": "Immutable. ID of the print server. Leave empty when creating.",
          "type": "string"
        },
        "orgUnitId": {
          "description": "ID of the organization unit (OU) that owns this print server. This value can only be set when the print server is initially created. If it's not populated, the print server is placed under the root OU. The `org_unit_id` can be retrieved using the [Directory API](https://developers.google.com/workspace/admin/directory/reference/rest/v1/orgunits).",
          "type": "string"
        },
        "uri": {
          "description": "Editable. Print server URI.",
          "type": "string"
        }
      },
      "id": "PrintServer"
    },
    "Asp": {
      "type": "object",
      "description": "An application-specific password (ASP) is used with applications that do not accept a verification code when logging into the application on certain devices. The ASP access code is used instead of the login and password you commonly use when accessing an application through a browser. For more information about ASPs and how to create one, see the [help center](https://support.google.com/a/answer/2537800#asp).",
      "properties": {
        "codeId": {
          "type": "integer",
          "format": "int32",
          "description": "The unique ID of the ASP."
        },
        "name": {
          "description": "The name of the application that the user, represented by their `userId`, entered when the ASP was created.",
          "type": "string"
        },
        "userKey": {
          "description": "The unique ID of the user who issued the ASP.",
          "type": "string"
        },
        "lastTimeUsed": {
          "format": "int64",
          "type": "string",
          "description": "The time when the ASP was last used. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        },
        "etag": {
          "description": "ETag of the ASP.",
          "type": "string"
        },
        "creationTime": {
          "type": "string",
          "format": "int64",
          "description": "The time when the ASP was created. Expressed in [Unix time](https://en.wikipedia.org/wiki/Epoch_time) format."
        },
        "kind": {
          "default": "admin#directory#asp",
          "type": "string",
          "description": "The type of the API resource. This is always `admin#directory#asp`."
        }
      },
      "id": "Asp"
    },
    "ListPrintersResponse": {
      "description": "Response for listing printers.",
      "properties": {
        "printers": {
          "description": "List of printers. If `org_unit_id` was given in the request, then only printers visible for this OU will be returned. If `org_unit_id` was not given in the request, then all printers will be returned.",
          "items": {
            "$ref": "Printer"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPrintersResponse",
      "type": "object"
    },
    "UserUndelete": {
      "properties": {
        "orgUnitPath": {
          "description": "OrgUnit of User",
          "type": "string"
        }
      },
      "id": "UserUndelete",
      "type": "object"
    },
    "UserAlias": {
      "type": "object",
      "description": "The Directory API manages aliases, which are alternative email addresses.",
      "properties": {
        "primaryEmail": {
          "description": "The user's primary email address.",
          "type": "string"
        },
        "kind": {
          "description": "The type of the API resource. For Alias resources, the value is `admin#directory#alias`.",
          "type": "string"
        },
        "alias": {
          "description": "The alias email address.",
          "type": "string"
        },
        "etag": {
[...]
