{
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "title": "AdSense Platform API",
  "basePath": "",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "id": "adsenseplatform:v1alpha",
  "schemas": {
    "Account": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Representation of an Account.",
      "type": "object",
      "id": "Account"
    },
    "Decimal": {
      "type": "object",
      "id": "Decimal",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "RequestSiteReviewResponse": {
      "id": "RequestSiteReviewResponse",
      "type": "object",
      "description": "Response definition for the site request review rpc.",
      "properties": {}
    },
    "PlatformGroup": {
      "type": "object",
      "id": "PlatformGroup",
      "properties": {
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
          "type": "string"
        },
        "revshareMillipercent": {
          "readOnly": true,
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%).",
          "$ref": "Decimal"
        },
        "description": {
          "type": "string",
          "description": "Required. Description of the PlatformGroup."
        }
      },
      "description": "Representation of a Transparent Platform Group."
    },
    "PlatformChildSite": {
      "type": "object",
      "id": "PlatformChildSite",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        },
        "domain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name."
        },
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        }
      },
      "description": "Representation of a Transparent Platform Child Site."
    },
    "ListPlatformGroupsResponse": {
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "platformGroups": {
          "type": "array",
          "description": "The platform groups returned in this list response.",
          "items": {
            "$ref": "PlatformGroup"
          }
        }
      },
      "id": "ListPlatformGroupsResponse",
      "type": "object"
    },
    "ListPlatformChildSitesResponse": {
      "id": "ListPlatformChildSitesResponse",
      "type": "object",
      "description": "Response definition for the list platform child sites rpc.",
      "properties": {
        "platformChildSites": {
          "type": "array",
          "description": "The platform child sites returned in this list response.",
          "items": {
            "$ref": "PlatformChildSite"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      }
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "Address": {
      "properties": {
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        }
      },
      "description": "Address data.",
      "type": "object",
      "id": "Address"
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "items": {
            "$ref": "Platform"
          },
          "description": "The platforms returned in this list response.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the platform list rpc.",
      "type": "object",
      "id": "ListPlatformsResponse"
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "type": "object",
      "description": "Request definition for the account close rpc.",
      "properties": {}
    },
    "CloseAccountResponse": {
      "properties": {},
      "description": "Response definition for the account close rpc.",
      "type": "object",
      "id": "CloseAccountResponse"
    },
    "Site": {
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "type": "string",
          "readOnly": true
        }
      }
    },
    "LookupAccountResponse": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}"
        }
      },
      "description": "Response definition for the lookup account rpc.",
      "type": "object",
      "id": "LookupAccountResponse"
    },
    "ListAccountsResponse": {
      "description": "Response definition for the list accounts rpc.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        },
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        }
      },
      "id": "ListAccountsResponse",
      "type": "object"
    },
    "Event": {
      "type": "object",
      "id": "Event",
      "properties": {
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ]
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      },
      "description": "A platform sub-account event to record spam signals."
    },
    "ListSitesResponse": {
      "description": "Response definition for the site list rpc.",
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListSitesResponse",
      "type": "object"
    },
    "EventInfo": {
      "description": "Private information for partner recorded events (PII).",
      "properties": {
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        },
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        }
      },
      "id": "EventInfo",
      "type": "object"
    },
    "Platform": {
      "type": "object",
      "id": "Platform",
      "properties": {
        "description": {
          "description": "Output only. Description of the platform.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "description": "Representation of a Transparent Platform."
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "type": "object",
      "id": "TimeZone"
    }
  },
  "resources": {
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Platform"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "adsenseplatform.accounts.platforms.get",
              "httpMethod": "GET",
              "description": "Gets a platform."
            },
            "list": {
              "id": "adsenseplatform.accounts.platforms.list",
              "httpMethod": "GET",
              "description": "Lists platforms for a specified account.",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "pattern": "^accounts/[^/]+$"
                }
              },
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "path": "v1alpha/{+parent}/platforms",
              "parameterOrder": [
                "parent"
              ]
            }
          },
          "resources": {
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "description": "Update a Platform Child Site.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$"
                        },
                        "updateMask": {
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "path": "v1alpha/{+parent}/sites",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "httpMethod": "GET",
                      "description": "Lists Platform Child Sites for a specified Platform Child Account."
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "path": "v1alpha/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "httpMethod": "GET",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get"
                    }
                  }
                }
              }
            },
            "groups": {
              "methods": {
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field."
                    }
                  },
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "path": "v1alpha/{+name}",
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "httpMethod": "PATCH",
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "description": "Update a Platform Group."
                },
                "list": {
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "path": "v1alpha/{+parent}/groups",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "httpMethod": "GET",
                  "description": "Lists Platform Groups for a specified Platform."
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "description": "Gets a Platform Group for a specified Platform and group.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "path": "v1alpha/{+name}"
                }
              }
            }
          }
        }
      }
    },
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "httpMethod": "GET",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^platforms/[^/]+$"
                },
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                }
              },
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "get": {
              "id": "adsenseplatform.platforms.accounts.get",
              "httpMethod": "GET",
              "description": "Gets information about the selected sub-account.",
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "close": {
              "description": "Closes a sub-account.",
              "httpMethod": "POST",
              "id": "adsenseplatform.platforms.accounts.close",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}:close",
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "parameters": {
                "name": {
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ]
            },
            "list": {
              "path": "v1alpha/{+parent}/accounts",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                }
              },
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "id": "adsenseplatform.platforms.accounts.list",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates a sub-account.",
              "httpMethod": "POST",
              "id": "adsenseplatform.platforms.accounts.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/accounts",
              "request": {
                "$ref": "Account"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Account"
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ]
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Event"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/events",
                  "request": {
                    "$ref": "Event"
                  },
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "description": "Creates an account event."
                }
              }
            },
            "sites": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "parameters": {
                    "pageToken": {
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Lists sites for a specific account.",
                  "httpMethod": "GET",
                  "id": "adsenseplatform.platforms.accounts.sites.list"
                },
                "create": {
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "description": "Creates a site for a specified account.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "path": "v1alpha/{+parent}/sites",
                  "request": {
                    "$ref": "Site"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "httpMethod": "DELETE",
                  "id": "adsenseplatform.platforms.accounts.sites.delete"
                },
                "get": {
                  "httpMethod": "GET",
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "description": "Gets a site from a specified sub-account.",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Site"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1alpha/{+name}"
                },
                "requestReview": {
                  "httpMethod": "POST",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:requestReview",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview"
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "canonicalName": "AdSense Platform",
  "servicePath": "",
  "revision": "20260401",
  "description": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "name": "adsenseplatform",
  "version_module": true,
  "version": "v1alpha",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "ownerDomain": "google.com"
}