{
  "name": "adsenseplatform",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version": "v1alpha",
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "canonicalName": "AdSense Platform",
  "servicePath": "",
  "discoveryVersion": "v1",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "revision": "20260312",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "title": "AdSense Platform API",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "schemas": {
    "ListPlatformGroupsResponse": {
      "id": "ListPlatformGroupsResponse",
      "type": "object",
      "description": "Response definition for the platform groups list rpc.",
      "properties": {
        "platformGroups": {
          "description": "The platform groups returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "PlatformGroup"
          }
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "CloseAccountResponse": {
      "id": "CloseAccountResponse",
      "type": "object",
      "description": "Response definition for the account close rpc.",
      "properties": {}
    },
    "Account": {
      "description": "Representation of an Account.",
      "id": "Account",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account.",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ]
        },
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        }
      }
    },
    "Decimal": {
      "id": "Decimal",
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html).",
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -> `2.5`). - Replacing a zero-length integer value with `0` (`.5` -> `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -> `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -> `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` <-> `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      }
    },
    "LookupAccountResponse": {
      "description": "Response definition for the lookup account rpc.",
      "id": "LookupAccountResponse",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "accounts": {
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "type": "array",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "ListAccountsResponse",
      "type": "object",
      "description": "Response definition for the list accounts rpc."
    },
    "ListPlatformsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        },
        "platforms": {
          "description": "The platforms returned in this list response.",
          "type": "array",
          "items": {
            "$ref": "Platform"
          }
        }
      },
      "description": "Response definition for the platform list rpc.",
      "id": "ListPlatformsResponse",
      "type": "object"
    },
    "Platform": {
      "properties": {
        "description": {
          "description": "Output only. Description of the platform.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of a platform. Format: accounts/{account}/platforms/{platform}",
          "type": "string"
        },
        "defaultPlatformGroup": {
          "description": "Default platform group for the platform.",
          "type": "string"
        }
      },
      "description": "Representation of a Transparent Platform.",
      "id": "Platform",
      "type": "object"
    },
    "PlatformGroup": {
      "id": "PlatformGroup",
      "type": "object",
      "description": "Representation of a Transparent Platform Group.",
      "properties": {
        "revshareMillipercent": {
          "$ref": "Decimal",
          "readOnly": true,
          "description": "Output only. The revenue share of the PlatformGroup, in millipercent (e.g. 15000 = 15%)."
        },
        "description": {
          "type": "string",
          "description": "Required. Description of the PlatformGroup."
        },
        "name": {
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "Address": {
      "properties": {
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "address2": {
          "type": "string",
          "description": "Second line of address. Max length 64 bytes or 30 characters."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\")."
        },
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        }
      },
      "id": "Address",
      "type": "object",
      "description": "Address data."
    },
    "ListPlatformChildSitesResponse": {
      "properties": {
        "platformChildSites": {
          "type": "array",
          "items": {
            "$ref": "PlatformChildSite"
          },
          "description": "The platform child sites returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through platforms. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListPlatformChildSitesResponse",
      "type": "object",
      "description": "Response definition for the list platform child sites rpc."
    },
    "Site": {
      "properties": {
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "description": "Output only. State of a site.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        }
      },
      "id": "Site",
      "type": "object",
      "description": "Representation of a Site."
    },
    "Event": {
      "properties": {
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type.",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ]
        },
        "eventInfo": {
          "description": "Required. Information associated with the event.",
          "$ref": "EventInfo"
        }
      },
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event",
      "type": "object"
    },
    "EventInfo": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address that is associated with the publisher when performing the event."
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "description": "Private information for partner recorded events (PII).",
      "id": "EventInfo",
      "type": "object"
    },
    "TimeZone": {
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "type": "object"
    },
    "PlatformChildSite": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}"
        },
        "domain": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Domain URL of the Platform Child Site. Part of the PlatformChildSite name."
        },
        "platformGroup": {
          "description": "Resource name of the Platform Group of the Platform Child Site.",
          "type": "string"
        }
      },
      "id": "PlatformChildSite",
      "type": "object",
      "description": "Representation of a Transparent Platform Child Site."
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "id": "ListSitesResponse",
      "type": "object",
      "description": "Response definition for the site list rpc."
    },
    "CloseAccountRequest": {
      "properties": {},
      "id": "CloseAccountRequest",
      "type": "object",
      "description": "Request definition for the account close rpc."
    },
    "RequestSiteReviewResponse": {
      "properties": {},
      "description": "Response definition for the site request review rpc.",
      "id": "RequestSiteReviewResponse",
      "type": "object"
    }
  },
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "lookup": {
              "path": "v1alpha/{+parent}/accounts:lookup",
              "parameterOrder": [
                "parent"
              ],
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "httpMethod": "GET",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "create": {
              "path": "v1alpha/{+parent}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a sub-account.",
              "request": {
                "$ref": "Account"
              },
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "Account"
              },
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.create",
              "httpMethod": "POST"
            },
            "close": {
              "parameters": {
                "name": {
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "id": "adsenseplatform.platforms.accounts.close",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "httpMethod": "POST",
              "path": "v1alpha/{+name}:close",
              "parameterOrder": [
                "name"
              ],
              "description": "Closes a sub-account.",
              "request": {
                "$ref": "CloseAccountRequest"
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.get",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}",
              "response": {
                "$ref": "Account"
              },
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about the selected sub-account."
            },
            "list": {
              "path": "v1alpha/{+parent}/accounts",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.platforms.accounts.list",
              "flatPath": "v1alpha/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              }
            }
          },
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Event"
                  },
                  "path": "v1alpha/{+parent}/events",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates an account event.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/events",
                  "response": {
                    "$ref": "Event"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "id": "adsenseplatform.platforms.accounts.events.create"
                }
              }
            },
            "sites": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Site"
                  },
                  "path": "v1alpha/{+parent}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a site for a specified account.",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a site from a specified account.",
                  "httpMethod": "DELETE",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  },
                  "httpMethod": "GET"
                },
                "list": {
                  "path": "v1alpha/{+parent}/sites",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "requestReview": {
                  "flatPath": "v1alpha/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "parameters": {
                    "name": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:requestReview",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review."
                }
              }
            }
          }
        }
      }
    },
    "accounts": {
      "resources": {
        "platforms": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^accounts/[^/]+/platforms/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "id": "adsenseplatform.accounts.platforms.get",
              "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}",
              "response": {
                "$ref": "Platform"
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a platform."
            },
            "list": {
              "path": "v1alpha/{+parent}/platforms",
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists platforms for a specified account.",
              "id": "adsenseplatform.accounts.platforms.list",
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of platforms to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListPlatforms` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatforms` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^accounts/[^/]+$",
                  "type": "string",
                  "description": "Required. The account which owns the platforms. Format: accounts/{account}",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1alpha/accounts/{accountsId}/platforms",
              "response": {
                "$ref": "ListPlatformsResponse"
              },
              "httpMethod": "GET"
            }
          },
          "resources": {
            "groups": {
              "methods": {
                "list": {
                  "path": "v1alpha/{+parent}/groups",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Platform Groups for a specified Platform.",
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups",
                  "response": {
                    "$ref": "ListPlatformGroupsResponse"
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of groups to include in the response, used for paging. If unspecified, at most 10000 groups will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListPlatformGroups` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformGroups` must match the call that provided the page token."
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The name of the platform to retrieve. Format: accounts/{account}/platforms/{platform}",
                      "required": true,
                      "location": "path",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the platform group to retrieve. Format: accounts/{account}/platforms/{platform}/groups/{group}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "id": "adsenseplatform.accounts.platforms.groups.get",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a Platform Group for a specified Platform and group."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/groups/{groupsId}",
                  "response": {
                    "$ref": "PlatformGroup"
                  },
                  "id": "adsenseplatform.accounts.platforms.groups.patch",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Identifier. Format: accounts/{account}/platforms/{platform}/groups/{platform_group}",
                      "pattern": "^accounts/[^/]+/platforms/[^/]+/groups/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update - currently only supports updating the `description` field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "PlatformGroup"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update a Platform Group."
                }
              }
            },
            "childAccounts": {
              "resources": {
                "sites": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/sites",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Platform Child Sites for a specified Platform Child Account.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites",
                      "response": {
                        "$ref": "ListPlatformChildSitesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the child account under the given platform which owns the platform child sites. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+$"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of children to include in the response, used for paging. If unspecified, at most 10000 platforms will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListPlatformChildSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPlatformChildSites` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.list",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a Platform Child Site for a specified Platform Child Account and site.",
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the platform child site to retrieve. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense",
                        "https://www.googleapis.com/auth/adsense.readonly"
                      ],
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.get",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "adsenseplatform.accounts.platforms.childAccounts.sites.patch",
                      "parameters": {
                        "name": {
                          "pattern": "^accounts/[^/]+/platforms/[^/]+/childAccounts/[^/]+/sites/[^/]+$",
                          "description": "Identifier. Format: accounts/{account}/platforms/{platform}/childAccounts/{child_account}/sites/{platform_child_site}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "updateMask": {
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update - currently only supports updating the `platform_group` field."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/adsense"
                      ],
                      "flatPath": "v1alpha/accounts/{accountsId}/platforms/{platformsId}/childAccounts/{childAccountsId}/sites/{sitesId}",
                      "response": {
                        "$ref": "PlatformChildSite"
                      },
                      "request": {
                        "$ref": "PlatformChildSite"
                      },
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Update a Platform Child Site."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "id": "adsenseplatform:v1alpha",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    }
  },
  "protocol": "rest"
}