{
  "basePath": "",
  "id": "adsenseplatform:v1",
  "name": "adsenseplatform",
  "protocol": "rest",
  "revision": "20260409",
  "ownerDomain": "google.com",
  "version": "v1",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "canonicalName": "AdSense Platform",
  "version_module": true,
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "batchPath": "batch",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "adsenseplatform.platforms.accounts.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Account"
              },
              "description": "Gets information about the selected sub-account."
            },
            "create": {
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "required": true
                }
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "Account"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "httpMethod": "POST",
              "response": {
                "$ref": "Account"
              },
              "description": "Creates a sub-account."
            },
            "lookup": {
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "httpMethod": "GET",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "id": "adsenseplatform.platforms.accounts.lookup",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "path": "v1/{+parent}/accounts:lookup",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^platforms/[^/]+$",
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "location": "path",
                  "type": "string"
                },
                "creationRequestId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The creation_request_id provided when calling createAccount."
                }
              }
            },
            "close": {
              "description": "Closes a sub-account.",
              "httpMethod": "POST",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "id": "adsenseplatform.platforms.accounts.close",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "path": "v1/{+name}:close",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.platforms.accounts.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            }
          },
          "resources": {
            "sites": {
              "methods": {
                "delete": {
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$"
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a site from a specified account."
                },
                "get": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "description": "Gets a site from a specified sub-account.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Site"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "request": {
                    "$ref": "Site"
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListSitesResponse"
                  },
                  "description": "Lists sites for a specific account.",
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000."
                    }
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites"
                },
                "requestReview": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "path": "v1/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "required": true
                    }
                  },
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  }
                }
              }
            },
            "events": {
              "methods": {
                "create": {
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "path": "v1/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "request": {
                    "$ref": "Event"
                  },
                  "description": "Creates an account event.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Event"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        }
      }
    }
  },
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "AdSense Platform API",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "servicePath": "",
  "schemas": {
    "Site": {
      "type": "object",
      "id": "Site",
      "properties": {
        "name": {
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}",
          "readOnly": true,
          "type": "string"
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "readOnly": true,
          "description": "Output only. State of a site.",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ]
        }
      },
      "description": "Representation of a Site."
    },
    "Event": {
      "type": "object",
      "description": "A platform sub-account event to record spam signals.",
      "id": "Event",
      "properties": {
        "eventTime": {
          "description": "Required. Event timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "description": "Required. Event type.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ]
        },
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        }
      }
    },
    "EventInfo": {
      "id": "EventInfo",
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "description": "The billing address of the publisher associated with this event, if available.",
          "$ref": "Address"
        }
      },
      "description": "Private information for partner recorded events (PII).",
      "type": "object"
    },
    "RequestSiteReviewResponse": {
      "description": "Response definition for the site request review rpc.",
      "id": "RequestSiteReviewResponse",
      "properties": {},
      "type": "object"
    },
    "LookupAccountResponse": {
      "description": "Response definition for the lookup account rpc.",
      "id": "LookupAccountResponse",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloseAccountResponse": {
      "type": "object",
      "id": "CloseAccountResponse",
      "properties": {},
      "description": "Response definition for the account close rpc."
    },
    "ListAccountsResponse": {
      "type": "object",
      "description": "Response definition for the list accounts rpc.",
      "id": "ListAccountsResponse",
      "properties": {
        "accounts": {
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`.",
          "items": {
            "$ref": "Account"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {}
    },
    "ListSitesResponse": {
      "id": "ListSitesResponse",
      "properties": {
        "sites": {
          "description": "The sites returned in this list response.",
          "items": {
            "$ref": "Site"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this.",
          "type": "string"
        }
      },
      "description": "Response definition for the site list rpc.",
      "type": "object"
    },
    "Address": {
      "id": "Address",
      "properties": {
        "state": {
          "description": "State. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "contact": {
          "description": "Contact name of the company. Max length 128 bytes or 34 characters.",
          "type": "string"
        },
        "phone": {
          "description": "Phone number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "zip": {
          "description": "Zip/post code. Max length 10 bytes or 10 characters.",
          "type": "string"
        },
        "fax": {
          "description": "Fax number with international code (i.e. +441234567890).",
          "type": "string"
        },
        "address1": {
          "description": "First line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        }
      },
      "description": "Address data.",
      "type": "object"
    },
    "Account": {
      "description": "Representation of an Account.",
      "id": "Account",
      "properties": {
        "timeZone": {
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts.",
          "$ref": "TimeZone"
        },
        "creationRequestId": {
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Display name of this account.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of the account.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. Approval state of the account.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ]
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones).",
      "id": "TimeZone",
      "properties": {
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        },
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "properties": {},
      "description": "Request definition for the account close rpc.",
      "type": "object"
    }
  },
  "description": ""
}