{
  "version": "v1",
  "protocol": "rest",
  "version_module": true,
  "baseUrl": "https://adsenseplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "description": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "mtlsRootUrl": "https://adsenseplatform.mtls.googleapis.com/",
  "schemas": {
    "TimeZone": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        },
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        }
      },
      "type": "object",
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "RequestSiteReviewResponse": {
      "type": "object",
      "properties": {},
      "id": "RequestSiteReviewResponse",
      "description": "Response definition for the site request review rpc."
    },
    "Address": {
      "id": "Address",
      "description": "Address data.",
      "type": "object",
      "properties": {
        "company": {
          "description": "Name of the company. Max length 255 bytes or 34 characters.",
          "type": "string"
        },
        "address2": {
          "description": "Second line of address. Max length 64 bytes or 30 characters.",
          "type": "string"
        },
        "contact": {
          "type": "string",
          "description": "Contact name of the company. Max length 128 bytes or 34 characters."
        },
        "regionCode": {
          "description": "Country/Region code. The region is specified as a CLDR region code (e.g. \"US\", \"FR\").",
          "type": "string"
        },
        "address1": {
          "type": "string",
          "description": "First line of address. Max length 64 bytes or 30 characters."
        },
        "state": {
          "type": "string",
          "description": "State. Max length 60 bytes or 30 characters."
        },
        "city": {
          "description": "City. Max length 60 bytes or 30 characters.",
          "type": "string"
        },
        "zip": {
          "type": "string",
          "description": "Zip/post code. Max length 10 bytes or 10 characters."
        },
        "phone": {
          "type": "string",
          "description": "Phone number with international code (i.e. +441234567890)."
        },
        "fax": {
          "type": "string",
          "description": "Fax number with international code (i.e. +441234567890)."
        }
      }
    },
    "Site": {
      "properties": {
        "state": {
          "enumDescriptions": [
            "State unspecified.",
            "Either: - The site hasn't been checked yet. - The site is inactive and needs another review before it can show ads again. Learn how to [request a review for an inactive site](https://support.google.com/adsense/answer/9393996).",
            "Google is running some checks on the site. This usually takes a few days, but in some cases it can take two to four weeks.",
            "The site is ready to show ads. Learn how to [set up ads on the site](https://support.google.com/adsense/answer/7037624).",
            "Publisher needs to fix some issues before the site is ready to show ads. Learn what to do [if a new site isn't ready](https://support.google.com/adsense/answer/9061852)."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUIRES_REVIEW",
            "GETTING_READY",
            "READY",
            "NEEDS_ATTENTION"
          ],
          "description": "Output only. State of a site."
        },
        "domain": {
          "description": "Domain/sub-domain of the site. Must be a valid domain complying with [RFC 1035](https://www.ietf.org/rfc/rfc1035.txt) and formatted as punycode [RFC 3492](https://www.ietf.org/rfc/rfc3492.txt) in case the domain contains unicode characters.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource name of a site. Format: platforms/{platform}/accounts/{account}/sites/{site}"
        }
      },
      "type": "object",
      "id": "Site",
      "description": "Representation of a Site."
    },
    "ListSitesResponse": {
      "properties": {
        "sites": {
          "type": "array",
          "items": {
            "$ref": "Site"
          },
          "description": "The sites returned in this list response."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through sites. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "id": "ListSitesResponse",
      "description": "Response definition for the site list rpc."
    },
    "EventInfo": {
      "properties": {
        "email": {
          "description": "Required. The email address that is associated with the publisher when performing the event.",
          "type": "string"
        },
        "billingAddress": {
          "$ref": "Address",
          "description": "The billing address of the publisher associated with this event, if available."
        }
      },
      "type": "object",
      "id": "EventInfo",
      "description": "Private information for partner recorded events (PII)."
    },
    "Account": {
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Creation time of the account.",
          "format": "google-datetime"
        },
        "creationRequestId": {
          "type": "string",
          "description": "Required. An opaque token that uniquely identifies the account among all the platform's accounts. This string may contain at most 64 non-whitespace ASCII characters, but otherwise has no predefined structure. However, it is expected to be a platform-specific identifier for the user creating the account, so that only a single account can be created for any given user. This field must not contain any information that is recognizable as personally identifiable information. e.g. it should not be an email address or login name. Once an account has been created, a second attempt to create an account using the same creation_request_id will result in an ALREADY_EXISTS error."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of this account."
        },
        "timeZone": {
          "$ref": "TimeZone",
          "description": "Required. The IANA TZ timezone code of this account. For more information, see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones. This field is used for reporting. It is recommended to set it to the same value for all child accounts."
        },
        "name": {
          "description": "Output only. Resource name of the account. Format: platforms/pub-[0-9]+/accounts/pub-[0-9]+",
          "type": "string",
          "readOnly": true
        },
        "regionCode": {
          "description": "Required. Input only. CLDR region code of the country/region of the address. Set this to country code of the child account if known, otherwise to your own country code.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Unchecked.",
            "The account is ready to serve ads.",
            "The account has been blocked from serving ads."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNCHECKED",
            "APPROVED",
            "DISAPPROVED"
          ],
          "description": "Output only. Approval state of the account."
        }
      },
      "type": "object",
      "id": "Account",
      "description": "Representation of an Account."
    },
    "ListAccountsResponse": {
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "The Accounts returned in the list response. Represented by a partial view of the Account resource, populating `name` and `creation_request_id`."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token used to page through accounts. To retrieve the next page of the results, set the next request's \"page_token\" value to this."
        }
      },
      "type": "object",
      "id": "ListAccountsResponse",
      "description": "Response definition for the list accounts rpc."
    },
    "CloseAccountRequest": {
      "id": "CloseAccountRequest",
      "description": "Request definition for the account close rpc.",
      "properties": {},
      "type": "object"
    },
    "LookupAccountResponse": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the Account Format: platforms/{platform}/accounts/{account_id}",
          "type": "string"
        }
      },
      "id": "LookupAccountResponse",
      "description": "Response definition for the lookup account rpc."
    },
    "CloseAccountResponse": {
      "properties": {},
      "type": "object",
      "id": "CloseAccountResponse",
      "description": "Response definition for the account close rpc."
    },
    "Event": {
      "type": "object",
      "properties": {
        "eventInfo": {
          "$ref": "EventInfo",
          "description": "Required. Information associated with the event."
        },
        "eventTime": {
          "type": "string",
          "description": "Required. Event timestamp.",
          "format": "google-datetime"
        },
        "eventType": {
          "type": "string",
          "enumDescriptions": [
            "Do not use. You must set an event type explicitly.",
            "Log in via platform.",
            "Sign up via platform."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "LOG_IN_VIA_PLATFORM",
            "SIGN_UP_VIA_PLATFORM"
          ],
          "description": "Required. Event type."
        }
      },
      "id": "Event",
      "description": "A platform sub-account event to record spam signals."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "name": "adsenseplatform",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/adsense": {
          "description": "View and manage your AdSense data"
        },
        "https://www.googleapis.com/auth/adsense.readonly": {
          "description": "View your AdSense data"
        }
      }
    }
  },
  "rootUrl": "https://adsenseplatform.googleapis.com/",
  "revision": "20260304",
  "id": "adsenseplatform:v1",
  "resources": {
    "platforms": {
      "resources": {
        "accounts": {
          "resources": {
            "events": {
              "methods": {
                "create": {
                  "id": "adsenseplatform.platforms.accounts.events.create",
                  "path": "v1/{+parent}/events",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "description": "Required. Account to log events about. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "description": "Creates an account event.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/events",
                  "response": {
                    "$ref": "Event"
                  },
                  "request": {
                    "$ref": "Event"
                  },
                  "httpMethod": "POST"
                }
              }
            },
            "sites": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to retrieve. Format: platforms/{platform}/accounts/{account}/sites/{site}"
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.get",
                  "path": "v1/{+name}",
                  "description": "Gets a site from a specified sub-account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Site"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a site from a specified account.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "description": "Required. The name of the site to delete. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "adsenseplatform.platforms.accounts.sites.delete",
                  "path": "v1/{+name}"
                },
                "list": {
                  "id": "adsenseplatform.platforms.accounts.sites.list",
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A page token, received from a previous `ListSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSites` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "description": "The maximum number of sites to include in the response, used for paging. If unspecified, at most 10000 sites will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "type": "string",
                      "description": "Required. The account which owns the sites. Format: platforms/{platform}/accounts/{account}",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense",
                    "https://www.googleapis.com/auth/adsense.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists sites for a specific account.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "ListSitesResponse"
                  }
                },
                "requestReview": {
                  "id": "adsenseplatform.platforms.accounts.sites.requestReview",
                  "path": "v1/{+name}:requestReview",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the site to submit for review. Format: platforms/{platform}/accounts/{account}/sites/{site}",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "description": "Requests the review of a site. The site should be in REQUIRES_REVIEW or NEEDS_ATTENTION state. Note: Make sure you place an [ad tag](https://developers.google.com/adsense/platforms/direct/ad-tags) on your site before requesting a review.",
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites/{sitesId}:requestReview",
                  "response": {
                    "$ref": "RequestSiteReviewResponse"
                  }
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/adsense"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Site"
                  },
                  "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}/sites",
                  "response": {
                    "$ref": "Site"
                  },
                  "description": "Creates a site for a specified account.",
                  "id": "adsenseplatform.platforms.accounts.sites.create",
                  "path": "v1/{+parent}/sites",
                  "parameters": {
                    "parent": {
                      "description": "Required. Account to create site. Format: platforms/{platform}/accounts/{account_id}",
                      "type": "string",
                      "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "parent": {
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "description": "Required. Platform to create an account for. Format: platforms/{platform}",
                  "location": "path",
                  "required": true
                }
              },
              "id": "adsenseplatform.platforms.accounts.create",
              "path": "v1/{+parent}/accounts",
              "request": {
                "$ref": "Account"
              },
              "httpMethod": "POST",
              "description": "Creates a sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Account to get information about. Format: platforms/{platform}/accounts/{account_id}",
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "adsenseplatform.platforms.accounts.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about the selected sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}",
              "response": {
                "$ref": "Account"
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "lookup": {
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the account. Format: platforms/{platform}",
                  "type": "string",
                  "pattern": "^platforms/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "creationRequestId": {
                  "description": "Optional. The creation_request_id provided when calling createAccount.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "adsenseplatform.platforms.accounts.lookup",
              "path": "v1/{+parent}/accounts:lookup",
              "httpMethod": "GET",
              "description": "Looks up information about a sub-account for a specified creation_request_id. If no account exists for the given creation_request_id, returns 404.",
              "flatPath": "v1/platforms/{platformsId}/accounts:lookup",
              "response": {
                "$ref": "LookupAccountResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense",
                "https://www.googleapis.com/auth/adsense.readonly"
              ],
              "httpMethod": "GET",
              "description": "Lists a partial view of sub-accounts for a specific parent account.",
              "flatPath": "v1/platforms/{platformsId}/accounts",
              "response": {
                "$ref": "ListAccountsResponse"
              },
              "id": "adsenseplatform.platforms.accounts.list",
              "path": "v1/{+parent}/accounts",
              "parameters": {
                "parent": {
                  "description": "Required. Platform who parents the accounts. Format: platforms/{platform}",
                  "pattern": "^platforms/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "description": "Optional. The maximum number of accounts to include in the response, used for paging. If unspecified, at most 10000 accounts will be returned. The maximum value is 10000; values above 10000 will be coerced to 10000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "close": {
              "id": "adsenseplatform.platforms.accounts.close",
              "path": "v1/{+name}:close",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^platforms/[^/]+/accounts/[^/]+$",
                  "description": "Required. Account to close. Format: platforms/{platform}/accounts/{account_id}"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/adsense"
              ],
              "description": "Closes a sub-account.",
              "flatPath": "v1/platforms/{platformsId}/accounts/{accountsId}:close",
              "response": {
                "$ref": "CloseAccountResponse"
              },
              "request": {
                "$ref": "CloseAccountRequest"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/adsense/platforms/",
  "servicePath": "",
  "title": "AdSense Platform API",
  "ownerName": "Google",
  "batchPath": "batch",
  "canonicalName": "AdSense Platform"
}