{
  "baseUrl": "https://advisorynotifications.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/advisory-notifications",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version_module": true,
  "title": "Advisory Notifications API",
  "rootUrl": "https://advisorynotifications.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "servicePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Get notification settings.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "id": "advisorynotifications.organizations.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ]
            },
            "updateSettings": {
              "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "advisorynotifications.organizations.locations.updateSettings",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string",
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings."
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "required": true
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "description": "Gets a notification.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "advisorynotifications.organizations.locations.notifications.get",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "advisorynotifications.organizations.locations.notifications.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "view": {
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ]
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/notifications",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "description": "Lists notifications under a given parent."
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "getSettings": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Get notification settings.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "id": "advisorynotifications.projects.locations.getSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateSettings": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              },
              "description": "Update notification settings.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+/settings$",
                  "location": "path",
                  "type": "string"
                }
              },
              "id": "advisorynotifications.projects.locations.updateSettings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/settings",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "GoogleCloudAdvisorynotificationsV1Settings"
              }
            }
          },
          "resources": {
            "notifications": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/notifications",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
                  },
                  "description": "Lists notifications under a given parent.",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent, which owns this collection of notifications. Must be of the form \"organizations/{organization}/locations/{location}\" or \"projects/{project}/locations/{location}\".",
                      "required": true
                    },
                    "pageToken": {
                      "description": "A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "view": {
                      "enum": [
                        "NOTIFICATION_VIEW_UNSPECIFIED",
                        "BASIC",
                        "FULL"
                      ],
                      "description": "Specifies which parts of the notification resource should be returned in the response.",
                      "location": "query",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified, equivalent to BASIC.",
                        "Server responses only include title, creation time and Notification ID. Note: for internal use responses also include the last update time, the latest message text and whether notification has attachments.",
                        "Include everything."
                      ]
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
                  },
                  "description": "Gets a notification.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/notifications/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{projects}/locations/{location}/notifications/{notification}.",
                      "required": true
                    },
                    "languageCode": {
                      "description": "ISO code for requested localization language. If unset, will be interpereted as \"en\". If the requested language is valid, but not supported for this notification, English will be returned with an \"Not applicable\" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/notifications/{notificationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "advisorynotifications.projects.locations.notifications.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "description": "An API for accessing Advisory Notifications in Google Cloud",
  "canonicalName": "Advisorynotifications",
  "ownerName": "Google",
  "id": "advisorynotifications:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://advisorynotifications.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "advisorynotifications",
  "revision": "20260503",
  "basePath": "",
  "version": "v1",
  "schemas": {
    "GoogleCloudAdvisorynotificationsV1Text": {
      "id": "GoogleCloudAdvisorynotificationsV1Text",
      "description": "A text object containing the English text and its localized copies.",
      "type": "object",
      "properties": {
        "localizationState": {
          "enum": [
            "LOCALIZATION_STATE_UNSPECIFIED",
            "LOCALIZATION_STATE_NOT_APPLICABLE",
            "LOCALIZATION_STATE_PENDING",
            "LOCALIZATION_STATE_COMPLETED"
          ],
          "description": "Status of the localization.",
          "type": "string",
          "enumDescriptions": [
            "Not used.",
            "Localization is not applicable for requested language. This can happen when: - The requested language was not supported by Advisory Notifications at the time of localization (including notifications created before the localization feature was launched). - The requested language is English, so only the English text is returned.",
            "Localization for requested language is in progress, and not ready yet.",
            "Localization for requested language is completed."
          ]
        },
        "enText": {
          "description": "The English copy.",
          "type": "string"
        },
        "localizedText": {
          "description": "The requested localized copy (if applicable).",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Notification": {
      "id": "GoogleCloudAdvisorynotificationsV1Notification",
      "description": "A notification object for notifying customers about security and privacy issues.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the notification was created.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification} or projects/{project}/locations/{location}/notifications/{notification}.",
          "type": "string"
        },
        "notificationType": {
          "enum": [
            "NOTIFICATION_TYPE_UNSPECIFIED",
            "NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY",
            "NOTIFICATION_TYPE_SENSITIVE_ACTIONS",
            "NOTIFICATION_TYPE_SECURITY_MSA",
            "NOTIFICATION_TYPE_THREAT_HORIZONS"
          ],
          "description": "Type of notification",
          "type": "string",
          "enumDescriptions": [
            "Default type",
            "Security and privacy advisory notifications",
            "Sensitive action notifications",
            "General security MSA",
            "Threat horizons MSA"
          ]
        },
        "subject": {
          "description": "The subject line of the notification.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Subject"
        },
        "messages": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Message"
          },
          "description": "A list of messages in the notification.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Subject": {
      "id": "GoogleCloudAdvisorynotificationsV1Subject",
      "description": "A subject line of a notification.",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1MessageBody": {
      "properties": {
        "text": {
          "description": "The text content of the message body.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Text"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1MessageBody",
      "description": "A message body containing text.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Message": {
      "properties": {
        "createTime": {
          "description": "The Message creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "attachments": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Attachment"
          },
          "description": "The attachments to download.",
          "type": "array"
        },
        "body": {
          "description": "The message content.",
          "$ref": "GoogleCloudAdvisorynotificationsV1MessageBody"
        },
        "localizationTime": {
          "description": "Time when Message was localized",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Message",
      "description": "A message which contains notification details.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Attachment": {
      "id": "GoogleCloudAdvisorynotificationsV1Attachment",
      "description": "Attachment with specific information about the issue.",
      "type": "object",
      "properties": {
        "csv": {
          "description": "A CSV file attachment. Max size is 10 MB.",
          "$ref": "GoogleCloudAdvisorynotificationsV1Csv"
        },
        "displayName": {
          "description": "The title of the attachment.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1Csv": {
      "id": "GoogleCloudAdvisorynotificationsV1Csv",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "type": "object",
      "properties": {
        "headers": {
          "items": {
            "type": "string"
          },
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array"
        },
        "dataRows": {
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          },
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAdvisorynotificationsV1CsvCsvRow": {
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1CsvCsvRow",
      "description": "A representation of a single data row in a CSV file.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "notifications": {
          "description": "List of notifications under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAdvisorynotificationsV1Notification"
          }
        },
        "totalSize": {
          "format": "int32",
          "description": "Estimation of a total number of notifications.",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1ListNotificationsResponse",
      "description": "Response of ListNotifications endpoint.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1Settings": {
      "properties": {
        "notificationSettings": {
          "description": "Required. Map of each notification type and its settings to get/set all settings at once. The server will validate the value for each notification type.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAdvisorynotificationsV1NotificationSettings"
          }
        },
        "name": {
          "description": "Identifier. The resource name of the settings to retrieve. Format: organizations/{organization}/locations/{location}/settings or projects/{projects}/locations/{location}/settings.",
          "type": "string"
        },
        "etag": {
          "description": "Required. Fingerprint for optimistic concurrency returned in Get requests. Must be provided for Update requests. If the value provided does not match the value known to the server, ABORTED will be thrown, and the client should retry the read-modify-write cycle.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAdvisorynotificationsV1Settings",
      "description": "Settings for Advisory Notifications.",
      "type": "object"
    },
    "GoogleCloudAdvisorynotificationsV1NotificationSettings": {
      "id": "GoogleCloudAdvisorynotificationsV1NotificationSettings",
      "description": "Settings for each NotificationType.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the associated NotificationType is enabled.",
          "type": "boolean"
        }
      }
    }
  }
}