{
  "version": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "rootUrl": "https://aiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "fullyEncodeReservedExpansion": true,
  "ownerDomain": "google.com",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "endpoints": {
      "resources": {
        "chat": {
          "methods": {
            "completions": {
              "httpMethod": "POST",
              "parameters": {
                "endpoint": {
                  "description": "Required. The name of the endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^endpoints/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "endpoint"
              ],
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "path": "v1/{+endpoint}/chat/completions",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "id": "aiplatform.endpoints.chat.completions",
              "flatPath": "v1/endpoints/{endpointsId}/chat/completions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "description": "Exposes an OpenAI-compatible endpoint for chat completions."
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.endpoints.operations.cancel",
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "name": {
                  "required": true,
                  "pattern": "^endpoints/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "The standard list page size.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "id": "aiplatform.endpoints.operations.list",
              "flatPath": "v1/endpoints/{endpointsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "parameters": {
                "timeout": {
                  "location": "query",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.endpoints.operations.wait"
            },
            "get": {
              "id": "aiplatform.endpoints.operations.get",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "id": "aiplatform.endpoints.operations.delete",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "required": true,
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}"
            }
          }
        }
      },
      "methods": {
        "countTokens": {
          "id": "aiplatform.endpoints.countTokens",
          "flatPath": "v1/endpoints/{endpointsId}:countTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Perform a token counting.",
          "httpMethod": "POST",
          "parameters": {
            "endpoint": {
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "required": true,
              "type": "string",
              "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:countTokens",
          "request": {
            "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
          }
        },
        "predictLongRunning": {
          "id": "aiplatform.endpoints.predictLongRunning",
          "flatPath": "v1/endpoints/{endpointsId}:predictLongRunning",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "",
          "httpMethod": "POST",
          "parameters": {
            "endpoint": {
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "type": "string"
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:predictLongRunning",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "computeTokens": {
          "parameters": {
            "endpoint": {
              "type": "string",
              "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
          },
          "path": "v1/{+endpoint}:computeTokens",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
          },
          "id": "aiplatform.endpoints.computeTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Return a list of tokens based on the input text.",
          "flatPath": "v1/endpoints/{endpointsId}:computeTokens"
        },
        "generateContent": {
          "parameters": {
            "model": {
              "type": "string",
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST",
          "path": "v1/{+model}:generateContent",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "id": "aiplatform.endpoints.generateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Generate content with multimodal inputs.",
          "flatPath": "v1/endpoints/{endpointsId}:generateContent"
        },
        "streamGenerateContent": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Generate content with multimodal inputs with streaming support.",
          "flatPath": "v1/endpoints/{endpointsId}:streamGenerateContent",
          "id": "aiplatform.endpoints.streamGenerateContent",
          "path": "v1/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "parameters": {
            "model": {
              "type": "string",
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "model"
          ],
          "httpMethod": "POST"
        },
        "predict": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "",
          "flatPath": "v1/endpoints/{endpointsId}:predict",
          "id": "aiplatform.endpoints.predict",
          "response": {
            "$ref": "GoogleCloudAiplatformV1PredictResponse"
          },
          "path": "v1/{+endpoint}:predict",
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictRequest"
          },
          "parameters": {
            "endpoint": {
              "pattern": "^endpoints/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "httpMethod": "POST"
        },
        "fetchPredictOperation": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "description": "Fetch an asynchronous online prediction operation.",
          "flatPath": "v1/endpoints/{endpointsId}:fetchPredictOperation",
          "id": "aiplatform.endpoints.fetchPredictOperation",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+endpoint}:fetchPredictOperation",
          "request": {
            "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
          },
          "parameters": {
            "endpoint": {
              "type": "string",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "location": "path",
              "pattern": "^endpoints/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "endpoint"
          ],
          "httpMethod": "POST"
        }
      }
    },
    "reasoningEngines": {
      "resources": {
        "runtimeRevisions": {
          "methods": {
            "query": {
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/runtimeRevisions/{runtimeRevisionsId}:query",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Queries using a reasoning engine.",
              "id": "aiplatform.reasoningEngines.runtimeRevisions.query",
              "path": "v1/{+name}:query",
              "request": {
                "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
              },
              "response": {
                "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "pattern": "^reasoningEngines/[^/]+/runtimeRevisions/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "streamQuery": {
              "id": "aiplatform.reasoningEngines.runtimeRevisions.streamQuery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Streams queries using a reasoning engine.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/runtimeRevisions/{runtimeRevisionsId}:streamQuery",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/runtimeRevisions/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:streamQuery",
              "request": {
                "$ref": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest"
              },
              "response": {
                "$ref": "GoogleApiHttpBody"
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.reasoningEngines.operations.get"
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.reasoningEngines.operations.delete"
            },
            "wait": {
              "id": "aiplatform.reasoningEngines.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}:wait",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "format": "google-duration",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "id": "aiplatform.reasoningEngines.operations.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation's parent resource."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.reasoningEngines.operations.cancel"
            }
          }
        },
        "sandboxEnvironmentSnapshots": {
          "methods": {
            "get": {
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.get",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets details of the specific SandboxEnvironmentSnapshot.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the sandbox environment snapshot. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentSnapshots/{sandbox_environment_snapshot}`",
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentSnapshot"
              },
              "path": "v1/{+name}"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specific SandboxEnvironmentSnapshot.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the SandboxEnvironmentSnapshot to delete. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentSnapshots/{sandbox_environment_snapshot}`",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironmentSnapshots` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of SandboxEnvironmentSnapshots to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentSnapshots will be returned. Values above 100 will be coerced to 100.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "description": "Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentSnapshotsResponse"
              },
              "path": "v1/{+parent}/sandboxEnvironmentSnapshots",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists SandboxEnvironmentSnapshots in a given reasoning engine."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.delete"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}:wait",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "timeout": {
                      "location": "query",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration"
                    },
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "sandboxEnvironmentTemplates": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a SandboxEnvironmentTemplate in a given reasoning engine.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.create",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}/sandboxEnvironmentTemplates",
              "request": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplate"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the reasoning engine to create the SandboxEnvironmentTemplate in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets details of the specific SandboxEnvironmentTemplate.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sandbox environment template. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentTemplates/{sandbox_environment_template}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplate"
              }
            },
            "delete": {
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specific SandboxEnvironmentTemplate.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.delete",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the SandboxEnvironmentTemplate to delete. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentTemplates/{sandbox_environment_template}`"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists SandboxEnvironmentTemplates in a given reasoning engine.",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironmentTemplates` call. Provide this to retrieve the subsequent page."
                },
                "pageSize": {
                  "description": "Optional. The maximum number of SandboxEnvironmentTemplates to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentTemplates will be returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name of the reasoning engine to list sandbox environment templates from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/sandboxEnvironmentTemplates",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentTemplatesResponse"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.get",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}:cancel",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                },
                "wait": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to wait on."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}:wait",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.wait"
                }
              }
            }
          }
        },
        "sessions": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations",
                  "id": "aiplatform.reasoningEngines.sessions.operations.list"
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.reasoningEngines.sessions.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}:cancel"
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.sessions.operations.get"
                },
                "delete": {
                  "id": "aiplatform.reasoningEngines.sessions.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "type": "string",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.reasoningEngines.sessions.operations.wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}:wait"
                }
              }
            }
          }
        },
        "sandboxEnvironments": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironments.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "wait": {
                  "id": "aiplatform.reasoningEngines.sandboxEnvironments.operations.wait",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+/operations/[^/]+$",
                      "required": true
                    },
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}/operations/{operationsId}",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironments.operations.get"
                },
                "delete": {
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironments.operations.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists SandboxEnvironments in a given reasoning engine.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.list",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentsResponse"
              },
              "path": "v1/{+parent}/sandboxEnvironments",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironments` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Optional. The maximum number of SandboxEnvironments to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironments will be returned.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "snapshot": {
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.snapshot",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}:snapshot",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Snapshots the specific SandboxEnvironment resource and creates a SandboxEnvironmentSnapshot resource.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sandbox environment to snapshot. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`.",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:snapshot",
              "request": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentSnapshot"
              }
            },
            "execute": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Executes using a sandbox environment.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}:execute",
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.execute",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentResponse"
              },
              "path": "v1/{+name}:execute",
              "request": {
                "$ref": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`",
                  "type": "string",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a SandboxEnvironment in a given reasoning engine.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments",
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.create",
              "path": "v1/{+parent}/sandboxEnvironments",
              "request": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironment"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the reasoning engine to create the SandboxEnvironment in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sandbox environment. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`",
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironment"
              },
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.get",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets details of the specific SandboxEnvironment."
            },
            "delete": {
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes the specific SandboxEnvironment.",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the SandboxEnvironment to delete. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}"
            }
          }
        },
        "memories": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations",
                  "id": "aiplatform.reasoningEngines.memories.operations.list",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list filter."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "aiplatform.reasoningEngines.memories.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.memories.operations.get"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.memories.operations.delete"
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}:wait",
                  "id": "aiplatform.reasoningEngines.memories.operations.wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "type": "string"
                    },
                    "timeout": {
                      "type": "string",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "format": "google-duration"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST"
                }
              }
            }
          }
        }
      },
      "methods": {
        "streamQuery": {
          "id": "aiplatform.reasoningEngines.streamQuery",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:streamQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Streams queries using a reasoning engine.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "type": "string",
              "required": true,
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "GoogleApiHttpBody"
          },
          "path": "v1/{+name}:streamQuery",
          "request": {
            "$ref": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest"
          }
        },
        "get": {
          "id": "aiplatform.reasoningEngines.get",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets a reasoning engine.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path",
              "description": "Required. The name of the ReasoningEngine resource. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          }
        },
        "delete": {
          "id": "aiplatform.reasoningEngines.delete",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Deletes a reasoning engine.",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The name of the ReasoningEngine resource to be deleted. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "required": true
            },
            "force": {
              "description": "Optional. If set to true, child resources of this reasoning engine will also be deleted. Otherwise, the request will fail with FAILED_PRECONDITION error when the reasoning engine has undeleted child resources.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}"
        },
        "patch": {
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          },
          "parameters": {
            "name": {
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Identifier. The resource name of the ReasoningEngine. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
            },
            "updateMask": {
              "location": "query",
              "type": "string",
              "description": "Optional. Mask specifying which fields to update.",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates a reasoning engine.",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}",
          "id": "aiplatform.reasoningEngines.patch"
        },
        "asyncQuery": {
          "id": "aiplatform.reasoningEngines.asyncQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Async query using a reasoning engine.",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:asyncQuery",
          "parameters": {
            "name": {
              "pattern": "^reasoningEngines/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+name}:asyncQuery",
          "request": {
            "$ref": "GoogleCloudAiplatformV1AsyncQueryReasoningEngineRequest"
          }
        },
        "cancelAsyncQuery": {
          "id": "aiplatform.reasoningEngines.cancelAsyncQuery",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Cancels an AsyncQueryReasoningEngine operation.",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:cancelAsyncQuery",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "type": "string"
            },
            "operationName": {
              "description": "Required. The name of the longrunning operation returned from AsyncQueryReasoningEngine. Format: `projects/{project}/locations/{location}/operations/{operation}`",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "path": "v1/{+name}:cancelAsyncQuery",
          "response": {
            "$ref": "GoogleCloudAiplatformV1CancelAsyncQueryReasoningEngineResponse"
          }
        },
        "list": {
          "parameters": {
            "parent": {
              "description": "Required. The resource name of the Location to list the ReasoningEngines from. Format: `projects/{project}/locations/{location}`",
              "location": "query",
              "type": "string"
            },
            "filter": {
              "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "Optional. The standard list page token."
            },
            "pageSize": {
              "type": "integer",
              "location": "query",
              "description": "Optional. The standard list page size.",
              "format": "int32"
            }
          },
          "parameterOrder": [],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListReasoningEnginesResponse"
          },
          "path": "v1/reasoningEngines",
          "id": "aiplatform.reasoningEngines.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists reasoning engines in a location.",
          "flatPath": "v1/reasoningEngines"
        },
        "create": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates a reasoning engine.",
          "flatPath": "v1/reasoningEngines",
          "id": "aiplatform.reasoningEngines.create",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/reasoningEngines",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ReasoningEngine"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The resource name of the Location to create the ReasoningEngine in. Format: `projects/{project}/locations/{location}`"
            }
          },
          "parameterOrder": [],
          "httpMethod": "POST"
        },
        "query": {
          "id": "aiplatform.reasoningEngines.query",
          "flatPath": "v1/reasoningEngines/{reasoningEnginesId}:query",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Queries using a reasoning engine.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:query",
          "request": {
            "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineResponse"
          }
        },
        "executeCode": {
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "description": "Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
              "location": "path",
              "pattern": "^reasoningEngines/[^/]+$",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}:executeCode",
          "request": {
            "$ref": "GoogleCloudAiplatformV1ExecuteCodeRequest"
          },
          "response": {
            "$ref": "GoogleCloudAiplatformV1ExecuteCodeResponse"
          },
          "id": "aiplatform.reasoningEngines.executeCode",
[...]
