{
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "location": "asia-east1",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-south2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/"
    },
    {
      "location": "asia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "australia-southeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "location": "europe-central2",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "location": "europe-north2",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "location": "europe-west10",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west15",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west3",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west4",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "location": "europe-west6",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "location": "europe-west12",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "location": "me-central1",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/"
    },
    {
      "location": "me-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/"
    },
    {
      "location": "northamerica-northeast2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/"
    },
    {
      "location": "southamerica-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-central1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/"
    },
    {
      "location": "us-east1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "location": "us-east4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "location": "us-west3",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "location": "us-west4",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "location": "us-east5",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "title": "Vertex AI API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "aiplatform",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "ownerDomain": "google.com",
  "revision": "20260309",
  "resources": {
    "metadataStores": {
      "resources": {
        "contexts": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.metadataStores.contexts.operations.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "aiplatform.metadataStores.contexts.operations.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.contexts.operations.wait"
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.contexts.operations.delete"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.contexts.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/contexts/{contextsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/contexts/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "executions": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.metadataStores.executions.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations",
                  "id": "aiplatform.metadataStores.executions.operations.list",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "wait": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "timeout": {
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.executions.operations.wait"
                },
                "get": {
                  "id": "aiplatform.metadataStores.executions.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.executions.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/executions/{executionsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/executions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "parameters": {
                "name": {
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.metadataStores.operations.cancel",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "id": "aiplatform.metadataStores.operations.list",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^metadataStores/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
            },
            "wait": {
              "parameters": {
                "name": {
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "required": true
                },
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}:wait",
              "id": "aiplatform.metadataStores.operations.wait",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.metadataStores.operations.get"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^metadataStores/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/metadataStores/{metadataStoresId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.metadataStores.operations.delete"
            }
          }
        },
        "artifacts": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.artifacts.operations.cancel"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.artifacts.operations.get",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.artifacts.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  }
                },
                "wait": {
                  "path": "v1/{+name}:wait",
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "required": true,
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "format": "google-duration",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.metadataStores.artifacts.operations.wait"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^metadataStores/[^/]+/artifacts/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "flatPath": "v1/metadataStores/{metadataStoresId}/artifacts/{artifactsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "id": "aiplatform.metadataStores.artifacts.operations.delete",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "featureOnlineStores": {
      "resources": {
        "featureViews": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "wait": {
                  "parameters": {
                    "timeout": {
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.wait",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "listWait": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "parameters": {
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "name": {
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.listWait",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.featureOnlineStores.featureViews.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/featureViews/{featureViewsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "pattern": "^featureOnlineStores/[^/]+/featureViews/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.featureOnlineStores.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}"
            },
            "wait": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.featureOnlineStores.operations.wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "timeout": {
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "listWait": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.featureOnlineStores.operations.listWait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}:wait",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/featureOnlineStores/{featureOnlineStoresId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "pattern": "^featureOnlineStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.featureOnlineStores.operations.delete",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "modelDeploymentMonitoringJobs": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.list",
              "path": "v1/{+name}/operations",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+$"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The standard list page size.",
                  "location": "query",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              }
            },
            "wait": {
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.wait"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.delete"
            },
            "cancel": {
              "id": "aiplatform.modelDeploymentMonitoringJobs.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^modelDeploymentMonitoringJobs/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/modelDeploymentMonitoringJobs/{modelDeploymentMonitoringJobsId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel"
            }
          }
        }
      }
    },
    "ragEngineConfig": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^ragEngineConfig/operations/[^/]+$"
                }
              },
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.ragEngineConfig.operations.cancel"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "flatPath": "v1/ragEngineConfig/operations",
              "path": "v1/{+name}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^ragEngineConfig$"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.ragEngineConfig.operations.list",
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "parameters": {
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}:wait",
              "id": "aiplatform.ragEngineConfig.operations.wait",
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "id": "aiplatform.ragEngineConfig.operations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "aiplatform.ragEngineConfig.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^ragEngineConfig/operations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "flatPath": "v1/ragEngineConfig/operations/{operationsId}",
              "path": "v1/{+name}"
            }
          }
        }
      }
    },
    "trainingPipelines": {
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.cancel",
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:cancel",
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "list": {
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations",
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "name": {
                  "pattern": "^trainingPipelines/[^/]+$",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.list"
            },
            "wait": {
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}:wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                },
                "name": {
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "required": true,
                  "description": "The name of the operation resource to wait on.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.wait"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.trainingPipelines.operations.delete",
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^trainingPipelines/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/trainingPipelines/{trainingPipelinesId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "cancel": {
          "parameters": {
            "name": {
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "id": "aiplatform.operations.cancel",
          "parameterOrder": [
            "name"
          ]
        },
        "list": {
          "parameterOrder": [],
          "id": "aiplatform.operations.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameters": {
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "description": "The standard list filter.",
              "location": "query"
            },
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32"
            },
            "name": {
              "type": "string",
              "description": "The name of the operation's parent resource.",
              "location": "query"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/operations",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleLongrunningListOperationsResponse"
          }
        },
        "wait": {
          "parameterOrder": [
            "name"
          ],
          "id": "aiplatform.operations.wait",
          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "timeout": {
              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
              "location": "query",
              "type": "string",
              "format": "google-duration"
            },
            "name": {
              "required": true,
              "description": "The name of the operation resource to wait on.",
              "location": "path",
              "type": "string",
              "pattern": "^operations/[^/]+$"
            }
          },
          "flatPath": "v1/operations/{operationsId}:wait",
          "path": "v1/{+name}:wait",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "get": {
          "id": "aiplatform.operations.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}"
        },
        "delete": {
          "flatPath": "v1/operations/{operationsId}",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "GoogleProtobufEmpty"
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/[^/]+$",
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "aiplatform.operations.delete"
        }
      }
    },
    "models": {
      "resources": {
        "evaluations": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "id": "aiplatform.models.evaluations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}"
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.get"
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.list"
                },
                "wait": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.wait",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.models.evaluations.operations.cancel",
                  "flatPath": "v1/models/{modelsId}/evaluations/{evaluationsId}/operations/{operationsId}:cancel",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^models/[^/]+/evaluations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^models/[^/]+/operations/[^/]+$"
                }
              },
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.models.operations.get"
            },
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "flatPath": "v1/models/{modelsId}/operations",
              "parameters": {
[...]
