{
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch",
  "basePath": "",
  "version_module": true,
  "endpoints": [
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east1"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "location": "asia-northeast2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "location": "asia-south2"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-north2"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "location": "europe-southwest1"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west10"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "location": "europe-west15"
    },
    {
      "location": "europe-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west4"
    },
    {
      "location": "europe-west6",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "location": "europe-west8"
    },
    {
      "location": "europe-west9",
      "description": "Locational Endpoint",
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "me-central1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "location": "me-central2"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "location": "northamerica-northeast1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-west1",
      "description": "Locational Endpoint",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "location": "us-east7"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "location": "us-south1"
    },
    {
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "location": "us-west1"
    },
    {
      "location": "us-west2",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/"
    },
    {
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west3"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/"
    },
    {
      "location": "us-west8",
      "description": "Locational Endpoint",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/"
    }
  ],
  "rootUrl": "https://aiplatform.googleapis.com/",
  "name": "aiplatform",
  "title": "Vertex AI API",
  "version": "v1",
  "kind": "discovery#restDescription",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "id": "aiplatform:v1",
  "revision": "20260414",
  "ownerName": "Google",
  "protocol": "rest",
  "canonicalName": "Aiplatform",
  "schemas": {
    "GoogleCloudAiplatformV1ExplainRequest": {
      "type": "object",
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "type": "any"
          },
          "description": "Required. The instances that are the input to the explanation call. A DeployedModel may have an upper limit on the number of instances it supports per request, and when it is exceeded the explanation call errors in case of AutoML Models, or, in case of customer created Models, the behaviour is as documented by that Model. The schema of any single instance may be specified via Endpoint's DeployedModels' Model's PredictSchemata's instance_schema_uri."
        },
        "explanationSpecOverride": {
          "$ref": "GoogleCloudAiplatformV1ExplanationSpecOverride",
          "description": "If specified, overrides the explanation_spec of the DeployedModel. Can be used for explaining prediction results with different configurations, such as: - Explaining top-5 predictions results as opposed to top-1; - Increasing path count or step count of the attribution methods to reduce approximate errors; - Using different baselines for explaining the prediction results."
        },
        "parameters": {
          "type": "any",
          "description": "The parameters that govern the prediction. The schema of the parameters may be specified via Endpoint's DeployedModels' Model's PredictSchemata's parameters_schema_uri."
        },
        "deployedModelId": {
          "description": "If specified, this ExplainRequest will be served by the chosen DeployedModel, overriding Endpoint.traffic_split.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ExplainRequest",
      "description": "Request message for PredictionService.Explain."
    },
    "GoogleCloudAiplatformV1SharePointSourcesSharePointSource": {
      "id": "GoogleCloudAiplatformV1SharePointSourcesSharePointSource",
      "description": "An individual SharePointSource.",
      "type": "object",
      "properties": {
        "sharepointFolderId": {
          "type": "string",
          "description": "The ID of the SharePoint folder to download from."
        },
        "driveId": {
          "type": "string",
          "description": "The ID of the drive to download from."
        },
        "tenantId": {
          "description": "Unique identifier of the Azure Active Directory Instance.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "The Application ID for the app registered in Microsoft Azure Portal. The application must also be configured with MS Graph permissions \"Files.ReadAll\", \"Sites.ReadAll\" and BrowserSiteLists.Read.All."
        },
        "sharepointSiteName": {
          "description": "The name of the SharePoint site to download from. This can be the site name or the site id.",
          "type": "string"
        },
        "driveName": {
          "description": "The name of the drive to download from.",
          "type": "string"
        },
        "clientSecret": {
          "description": "The application secret for the app registered in Azure.",
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig"
        },
        "fileId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The SharePoint file id. Output only."
        },
        "sharepointFolderPath": {
          "description": "The path of the SharePoint folder to download from.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1GoogleDriveSourceResourceId": {
      "type": "object",
      "properties": {
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource type.",
            "File resource type.",
            "Folder resource type."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_FILE",
            "RESOURCE_TYPE_FOLDER"
          ],
          "description": "Required. The type of the Google Drive resource."
        },
        "resourceId": {
          "type": "string",
          "description": "Required. The ID of the Google Drive resource."
        }
      },
      "id": "GoogleCloudAiplatformV1GoogleDriveSourceResourceId",
      "description": "The type and ID of the Google Drive resource."
    },
    "GoogleCloudAiplatformV1RagManagedDbConfigScaled": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1RagManagedDbConfigScaled",
      "description": "Scaled tier offers production grade performance along with autoscaling functionality. It is suitable for customers with large amounts of data or performance sensitive workloads."
    },
    "GoogleCloudAiplatformV1ContentMap": {
      "id": "GoogleCloudAiplatformV1ContentMap",
      "description": "Map of placeholder in metric prompt template to contents of model input.",
      "type": "object",
      "properties": {
        "values": {
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ContentMapContents"
          },
          "description": "Optional. Map of placeholder to contents."
        }
      }
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerEnvironment": {
      "type": "object",
      "properties": {
        "resources": {
          "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements",
          "description": "Resource requests and limits for the container."
        },
        "ports": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateNetworkPort"
          },
          "description": "Ports to expose from the container."
        },
        "customContainerSpec": {
          "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerSpec",
          "description": "The specification of the custom container environment."
        }
      },
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerEnvironment",
      "description": "The customized sandbox runtime environment for BYOC."
    },
    "GoogleCloudAiplatformV1GenerationConfigThinkingConfig": {
      "type": "object",
      "properties": {
        "thinkingLevel": {
          "description": "Optional. The number of thoughts tokens that the model should generate.",
          "enumDescriptions": [
            "Unspecified thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level.",
            "MINIMAL thinking level."
          ],
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "MINIMAL"
          ],
          "type": "string"
        },
        "includeThoughts": {
          "description": "Optional. If true, the model will include its thoughts in the response. \"Thoughts\" are the intermediate steps the model takes to arrive at the final response. They can provide insights into the model's reasoning process and help with debugging. If this is true, thoughts are returned only when available.",
          "type": "boolean"
        },
        "thinkingBudget": {
          "description": "Optional. The token budget for the model's thinking process. The model will make a best effort to stay within this budget. This can be used to control the trade-off between response quality and latency.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1GenerationConfigThinkingConfig",
      "description": "Configuration for the model's thinking features. \"Thinking\" is a process where the model breaks down a complex task into smaller, manageable steps. This allows the model to reason about the task, plan its approach, and execute the plan to generate a high-quality response."
    },
    "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataBigQuerySource": {
      "id": "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataBigQuerySource",
      "type": "object",
      "properties": {
        "uri": {
          "description": "The URI of a BigQuery table. e.g. bq://projectId.bqDatasetId.bqTableId",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecPackageSpec": {
      "type": "object",
      "properties": {
        "pythonVersion": {
          "description": "Optional. The Python version. Supported values are 3.9, 3.10, 3.11, 3.12, 3.13, 3.14. If not specified, the default value is 3.10.",
          "type": "string"
        },
        "dependencyFilesGcsUri": {
          "description": "Optional. The Cloud Storage URI of the dependency files in tar.gz format.",
          "type": "string"
        },
        "requirementsGcsUri": {
          "type": "string",
          "description": "Optional. The Cloud Storage URI of the `requirements.txt` file"
        },
        "pickleObjectGcsUri": {
          "description": "Optional. The Cloud Storage URI of the pickled python object.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecPackageSpec",
      "description": "User-provided package specification, containing pickled object and package requirements."
    },
    "GoogleCloudAiplatformV1StudySpecDecayCurveAutomatedStoppingSpec": {
      "type": "object",
      "properties": {
        "useElapsedDuration": {
          "type": "boolean",
          "description": "True if Measurement.elapsed_duration is used as the x-axis of each Trials Decay Curve. Otherwise, Measurement.step_count will be used as the x-axis."
        }
      },
      "id": "GoogleCloudAiplatformV1StudySpecDecayCurveAutomatedStoppingSpec",
      "description": "The decay curve automated stopping rule builds a Gaussian Process Regressor to predict the final objective value of a Trial based on the already completed Trials and the intermediate measurements of the current Trial. Early stopping is requested for the current Trial if there is very low probability to exceed the optimal value found so far."
    },
    "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig": {
      "type": "object",
      "properties": {
        "generationRule": {
          "description": "Optional. Represents the active rule that determines when to flush the buffer. If not set, then the stream will be force flushed immediately.",
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfigGenerationTriggerRule"
        }
      },
      "id": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig",
      "description": "Represents configuration for triggering generation."
    },
    "GoogleCloudAiplatformV1BatchReadTensorboardTimeSeriesDataResponse": {
      "id": "GoogleCloudAiplatformV1BatchReadTensorboardTimeSeriesDataResponse",
      "description": "Response message for TensorboardService.BatchReadTensorboardTimeSeriesData.",
      "type": "object",
      "properties": {
        "timeSeriesData": {
          "description": "The returned time series data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesData"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1FindNeighborsResponseNeighbor": {
      "type": "object",
      "properties": {
        "sparseDistance": {
          "type": "number",
          "description": "The distance between the neighbor and the query sparse_embedding.",
          "format": "double"
        },
        "datapoint": {
          "description": "The datapoint of the neighbor. Note that full datapoints are returned only when \"return_full_datapoint\" is set to true. Otherwise, only the \"datapoint_id\" and \"crowding_tag\" fields are populated.",
          "$ref": "GoogleCloudAiplatformV1IndexDatapoint"
        },
        "distance": {
          "description": "The distance between the neighbor and the dense embedding query.",
          "format": "double",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1FindNeighborsResponseNeighbor",
      "description": "A neighbor of the query vector."
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsVideoActionRecognitionPredictionParams": {
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "format": "float",
          "type": "number"
        },
        "maxPredictions": {
          "type": "integer",
          "description": "The model only returns up to that many top, by confidence score, predictions per frame of the video. If this number is very high, the Model may return fewer predictions per frame. Default value is 50.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsVideoActionRecognitionPredictionParams",
      "description": "Prediction model parameters for Video Action Recognition."
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessResult": {
      "type": "object",
      "properties": {
        "explanation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Explanation for question answering helpfulness score."
        },
        "score": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Question Answering Helpfulness score.",
          "format": "float"
        },
        "confidence": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. Confidence for question answering helpfulness score.",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessResult",
      "description": "Spec for question answering helpfulness result."
    },
    "GoogleCloudAiplatformV1RagQuery": {
      "id": "GoogleCloudAiplatformV1RagQuery",
      "description": "A query to retrieve relevant contexts.",
      "type": "object",
      "properties": {
        "text": {
          "description": "Optional. The query in text format to get relevant contexts.",
          "type": "string"
        },
        "ragRetrievalConfig": {
          "description": "Optional. The retrieval config for the query.",
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation": {
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation",
      "description": "Explanation result of the prediction produced by the Model.",
      "type": "object",
      "properties": {
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "explanation": {
          "$ref": "GoogleCloudAiplatformV1Explanation",
          "description": "Explanation attribution response details."
        }
      }
    },
    "GoogleCloudAiplatformV1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1VertexRagStoreRagResource",
      "description": "The definition of the Rag resource.",
      "type": "object",
      "properties": {
        "ragCorpus": {
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
          "type": "string"
        },
        "ragFileIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field."
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource": {
      "type": "object",
      "properties": {
        "sourceArchive": {
          "type": "string",
          "description": "Required. Input only. The application source code archive. It must be a compressed tarball (.tar.gz) file.",
          "format": "byte"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource",
      "description": "Specifies source code provided as a byte stream."
    },
    "GoogleCloudAiplatformV1PrebuiltVoiceConfig": {
      "id": "GoogleCloudAiplatformV1PrebuiltVoiceConfig",
      "description": "Configuration for a prebuilt voice.",
      "type": "object",
      "properties": {
        "voiceName": {
          "description": "The name of the prebuilt voice to use.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables": {
      "type": "object",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputs"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesMetadata",
          "description": "The metadata information."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTables",
      "description": "A TrainingJob that trains and uploads an AutoML Tables Model."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecasting": {
      "type": "object",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingMetadata",
          "description": "The metadata information."
        },
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecasting",
      "description": "A TrainingJob that trains and uploads an AutoML Forecasting Model."
    },
    "GoogleCloudAiplatformV1ReadTensorboardTimeSeriesDataResponse": {
      "type": "object",
      "properties": {
        "timeSeriesData": {
          "$ref": "GoogleCloudAiplatformV1TimeSeriesData",
          "description": "The returned time series data."
        }
      },
      "id": "GoogleCloudAiplatformV1ReadTensorboardTimeSeriesDataResponse",
      "description": "Response message for TensorboardService.ReadTensorboardTimeSeriesData."
    },
    "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInput": {
      "type": "object",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessSpec",
          "description": "Required. Spec for question answering correctness score metric."
        },
        "instance": {
          "description": "Required. Question answering correctness instance.",
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInstance"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessInput",
      "description": "Input for question answering correctness metric."
    },
    "GoogleCloudAiplatformV1NasTrial": {
      "id": "GoogleCloudAiplatformV1NasTrial",
      "description": "Represents a uCAIP NasJob trial.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. Time when the NasTrial's status changed to `SUCCEEDED` or `INFEASIBLE`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "finalMeasurement": {
          "$ref": "GoogleCloudAiplatformV1Measurement",
          "description": "Output only. The final measurement containing the objective value.",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the NasTrial assigned by the service."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The NasTrial state is unspecified.",
            "Indicates that a specific NasTrial has been requested, but it has not yet been suggested by the service.",
            "Indicates that the NasTrial has been suggested.",
            "Indicates that the NasTrial should stop according to the service.",
            "Indicates that the NasTrial is completed successfully.",
            "Indicates that the NasTrial should not be attempted again. The service will set a NasTrial to INFEASIBLE when it's done but missing the final_measurement."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "REQUESTED",
            "ACTIVE",
            "STOPPING",
            "SUCCEEDED",
            "INFEASIBLE"
          ],
          "description": "Output only. The detailed state of the NasTrial."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the NasTrial was started.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1DeployOperationMetadata": {
      "id": "GoogleCloudAiplatformV1DeployOperationMetadata",
      "description": "Runtime operation information for ModelGardenService.Deploy.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "destination": {
          "description": "Output only. The resource name of the Location to deploy the model in. Format: `projects/{project}/locations/{location}`",
          "readOnly": true,
          "type": "string"
        },
        "publisherModel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the model resource."
        },
        "projectNumber": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The project number where the deploy model request is sent.",
          "format": "int64"
        },
        "modelId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The model id to be used at query time."
        }
      }
    },
    "GoogleCloudAiplatformV1FluencyInput": {
      "id": "GoogleCloudAiplatformV1FluencyInput",
      "description": "Input for fluency metric.",
      "type": "object",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1FluencySpec",
          "description": "Required. Spec for fluency score metric."
        },
        "instance": {
          "description": "Required. Fluency instance.",
          "$ref": "GoogleCloudAiplatformV1FluencyInstance"
        }
      }
    },
    "CloudAiLargeModelsVisionVideo": {
      "type": "object",
      "properties": {
        "uri": {
          "description": "Path to another storage (typically Google Cloud Storage).",
          "type": "string"
        },
        "text": {
          "type": "string",
          "description": "Text/Expanded text input for Help Me Write."
        },
        "video": {
          "type": "string",
          "description": "Raw bytes.",
          "format": "byte"
        },
        "encodedVideo": {
          "description": "Base 64 encoded video bytes.",
          "type": "string"
        },
        "encoding": {
          "type": "string",
          "description": "Video encoding, for example \"video/mp4\"."
        }
      },
      "id": "CloudAiLargeModelsVisionVideo",
      "description": "Video"
    },
    "GoogleCloudAiplatformV1PredefinedMetricSpec": {
      "id": "GoogleCloudAiplatformV1PredefinedMetricSpec",
      "description": "The spec for a pre-defined metric.",
      "type": "object",
      "properties": {
        "metricSpecName": {
          "type": "string",
          "description": "Required. The name of a pre-defined metric, such as \"instruction_following_v1\" or \"text_quality_v1\"."
        },
        "metricSpecParameters": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The parameters needed to run the pre-defined metric."
        }
      }
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec",
      "description": "Spec for question answering relevance metric.",
      "type": "object",
      "properties": {
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute question answering relevance.",
          "type": "boolean"
        },
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpec": {
      "type": "object",
      "properties": {
        "memoryBankConfig": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfig",
          "description": "Optional. Specification for a Memory Bank, which manages memories for the Agent Engine."
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpec",
      "description": "Configuration for how Agent Engine sub-resources should manage context."
    },
    "GoogleCloudAiplatformV1WriteFeatureValuesRequest": {
      "id": "GoogleCloudAiplatformV1WriteFeatureValuesRequest",
      "description": "Request message for FeaturestoreOnlineServingService.WriteFeatureValues.",
      "type": "object",
      "properties": {
        "payloads": {
          "description": "Required. The entities to be written. Up to 100,000 feature values can be written across all `payloads`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1WriteFeatureValuesPayload"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1PauseModelDeploymentMonitoringJobRequest",
      "description": "Request message for JobService.PauseModelDeploymentMonitoringJob."
    },
    "GoogleCloudAiplatformV1ListDataLabelingJobsResponse": {
      "id": "GoogleCloudAiplatformV1ListDataLabelingJobsResponse",
      "description": "Response message for JobService.ListDataLabelingJobs.",
      "type": "object",
      "properties": {
        "dataLabelingJobs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DataLabelingJob"
          },
          "description": "A list of DataLabelingJobs that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchInput": {
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchInput",
      "description": "Instances and metric spec for TrajectoryInOrderMatch metric.",
      "type": "object",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1TrajectoryInOrderMatchSpec",
          "description": "Required. Spec for TrajectoryInOrderMatch metric."
        },
        "instances": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryInOrderMatchInstance"
          },
          "description": "Required. Repeated TrajectoryInOrderMatch instance."
        }
      }
    },
    "GoogleCloudAiplatformV1PipelineTemplateMetadata": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version_name in artifact registry. Will always be presented in output if the PipelineJob.template_uri is from supported template registry. Format is \"sha256:abcdef123456...\"."
        }
      },
      "id": "GoogleCloudAiplatformV1PipelineTemplateMetadata",
      "description": "Pipeline template metadata if PipelineJob.template_uri is from supported template registry. Currently, the only supported registry is Artifact Registry."
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpec": {
      "type": "object",
      "properties": {
        "parentDiscreteValues": {
          "description": "The spec for matching values from a parent parameter of `DISCRETE` type.",
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition"
        },
        "parentCategoricalValues": {
          "description": "The spec for matching values from a parent parameter of `CATEGORICAL` type.",
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecCategoricalValueCondition"
        },
        "parentIntValues": {
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecIntValueCondition",
          "description": "The spec for matching values from a parent parameter of `INTEGER` type."
        },
        "parameterSpec": {
          "description": "Required. The spec for a conditional parameter.",
          "$ref": "GoogleCloudAiplatformV1StudySpecParameterSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpec",
      "description": "Represents a parameter spec with condition from its parent parameter."
    },
    "GoogleCloudAiplatformV1ReadTensorboardSizeResponse": {
      "id": "GoogleCloudAiplatformV1ReadTensorboardSizeResponse",
      "description": "Response message for TensorboardService.ReadTensorboardSize.",
      "type": "object",
      "properties": {
        "storageSizeByte": {
          "type": "string",
          "description": "Payload storage size for the TensorBoard",
          "format": "int64"
        }
      }
    },
    "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult": {
      "type": "object",
      "properties": {
        "confidence": {
          "description": "Output only. Confidence for question answering quality score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "pairwiseChoice": {
          "description": "Output only. Pairwise question answering prediction choice.",
          "enumDescriptions": [
            "Unspecified prediction choice.",
            "Baseline prediction wins",
            "Candidate prediction wins",
            "Winner cannot be determined"
          ],
          "enum": [
            "PAIRWISE_CHOICE_UNSPECIFIED",
            "BASELINE",
            "CANDIDATE",
            "TIE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "explanation": {
          "description": "Output only. Explanation for question answering quality score.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult",
      "description": "Spec for pairwise question answering quality result."
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionClassificationPredictionResult",
      "description": "Prediction output format for Image and Text Classification.",
      "type": "object",
      "properties": {
        "ids": {
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "The resource IDs of the AnnotationSpecs that had been identified."
        },
        "confidences": {
          "type": "array",
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "The Model's confidences in correctness of the predicted IDs, higher value means higher confidence. Order matches the Ids."
        },
        "displayNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The display names of the AnnotationSpecs that had been identified, order matches the IDs."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecStructuredPrompt": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecStructuredPrompt",
      "description": "Prompt variation that stores preambles in separate fields.",
      "type": "object",
      "properties": {
        "appBuilderData": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecAppBuilderData",
          "description": "Data for app builder use case."
        },
        "infillPrefix": {
          "type": "string",
          "description": "Preamble: For infill prompt, the prefix before expected model response."
        },
        "infillSuffix": {
          "description": "Preamble: For infill prompt, the suffix after expected model response.",
          "type": "string"
        },
        "examples": {
          "description": "Preamble: A set of examples for expected model response.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPartList"
          }
        },
        "interactionData": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecInteractionData",
          "description": "Data for interaction use case."
        },
        "predictionInputs": {
          "description": "Preamble: The input test data for prediction. Each PartList in this field represents one text-only input set for a single model request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPartList"
          }
        },
        "inputPrefixes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Preamble: The input prefixes before each example input."
        },
        "context": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Preamble: The context of the prompt."
        },
        "promptMessage": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPromptMessage",
          "description": "The prompt message."
        },
        "outputPrefixes": {
          "description": "Preamble: The output prefixes before each example output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleApiHttpBody": {
      "id": "GoogleApiHttpBody",
      "description": "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The HTTP request/response body as raw binary.",
          "format": "byte",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The HTTP Content-Type header value specifying the content type of the body."
        },
        "extensions": {
          "description": "Application specific response metadata. Must be set in the first response for streaming APIs.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SuggestTrialsMetadata": {
      "type": "object",
      "properties": {
        "clientId": {
          "description": "The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed.",
          "type": "string"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for suggesting Trials."
        }
      },
      "id": "GoogleCloudAiplatformV1SuggestTrialsMetadata",
      "description": "Details of operations that perform Trials suggestion."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentimentInputs": {
      "type": "object",
      "properties": {
        "sentimentMax": {
          "description": "A sentiment is expressed as an integer ordinal, where higher value means a more positive sentiment. The range of sentiments that will be used is between 0 and sentimentMax (inclusive on both ends), and all the values in the range must be represented in the dataset before a model can be created. Only the Annotations with this sentimentMax will be used for training. sentimentMax value must be between 1 and 10 (inclusive).",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextSentimentInputs"
    },
    "GoogleCloudAiplatformV1FunctionCallingConfig": {
      "id": "GoogleCloudAiplatformV1FunctionCallingConfig",
      "description": "Function calling config.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Unspecified function calling mode. This value should not be used.",
            "Default model behavior, model decides to predict either function calls or natural language response.",
            "Model is constrained to always predicting function calls only. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\".",
            "Model will not predict any function calls. Model behavior is same as when not passing any function declarations.",
            "Model is constrained to predict either function calls or natural language response. If \"allowed_function_names\" are set, the predicted function calls will be limited to any one of \"allowed_function_names\", else the predicted function calls will be any one of the provided \"function_declarations\"."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "AUTO",
            "ANY",
            "NONE",
            "VALIDATED"
          ],
          "description": "Optional. Function calling mode.",
          "type": "string"
        },
        "allowedFunctionNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Function names to call. Only set when the Mode is ANY. Function names should match FunctionDeclaration.name. With mode set to ANY, model will predict a function call from the set of function names provided."
        },
        "streamFunctionCallArguments": {
          "type": "boolean",
          "description": "Optional. When set to true, arguments of a single function call will be streamed out in multiple parts/contents/responses. Partial parameter results will be returned in the `FunctionCall.partial_args` field."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassification": {
      "type": "object",
      "properties": {
        "inputs": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassificationInputs",
          "description": "The input parameters of this TrainingJob."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextClassification",
      "description": "A TrainingJob that trains and uploads an AutoML Text Classification Model."
    },
    "GoogleCloudAiplatformV1ListEntityTypesResponse": {
      "id": "GoogleCloudAiplatformV1ListEntityTypesResponse",
      "description": "Response message for FeaturestoreService.ListEntityTypes.",
      "type": "object",
      "properties": {
        "entityTypes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EntityType"
          },
          "description": "The EntityTypes matching the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListEntityTypesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudAiplatformV1Examples": {
      "id": "GoogleCloudAiplatformV1Examples",
      "description": "Example-based explainability that returns the nearest neighbors from the provided dataset.",
      "type": "object",
      "properties": {
        "nearestNeighborSearchConfig": {
          "type": "any",
          "description": "The full configuration for the generated index, the semantics are the same as metadata and should match [NearestNeighborSearchConfig](https://cloud.google.com/vertex-ai/docs/explainable-ai/configuring-explanations-example-based#nearest-neighbor-search-config)."
        },
        "neighborCount": {
          "type": "integer",
          "description": "The number of neighbors to return when querying for examples.",
          "format": "int32"
        },
        "exampleGcsSource": {
          "description": "The Cloud Storage input instances.",
          "$ref": "GoogleCloudAiplatformV1ExamplesExampleGcsSource"
        },
        "presets": {
          "$ref": "GoogleCloudAiplatformV1Presets",
          "description": "Simplified preset configuration, which automatically sets configuration values based on the desired query speed-precision trade-off and modality."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaVertex": {
      "id": "GoogleCloudAiplatformV1SchemaVertex",
      "description": "Represents a 2D point in the image. Vertex coordinates are normalized to be relative to the original image dimensions and range from 0 to 1. The origin of the coordinate system (0,0) is the top-left corner of the image. x increases to the right, and y increases to the bottom.",
      "type": "object",
      "properties": {
        "y": {
          "description": "Y coordinate of the vertex, normalized to [0.0, 1.0].",
          "format": "double",
          "type": "number"
        },
        "x": {
          "type": "number",
          "description": "X coordinate of the vertex, normalized to [0.0, 1.0].",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1SuggestTrialsResponse": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time at which the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "trials": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Trial"
          },
          "description": "A list of Trials."
        },
        "endTime": {
          "description": "The time at which operation processing completed.",
          "format": "google-datetime",
          "type": "string"
        },
        "studyState": {
          "enumDescriptions": [
            "The study state is unspecified.",
            "The study is active.",
            "The study is stopped due to an internal error.",
            "The study is done when the service exhausts the parameter search space or max_trial_count is reached."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ],
          "description": "The state of the Study.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SuggestTrialsResponse",
      "description": "Response message for VizierService.SuggestTrials."
    },
    "GoogleCloudAiplatformV1Candidate": {
      "type": "object",
      "properties": {
        "index": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The 0-based index of this candidate in the list of generated responses. This is useful for distinguishing between multiple candidates when `candidate_count` > 1.",
          "format": "int32"
        },
        "content": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Output only. The content of the candidate."
        },
        "finishMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Describes the reason the model stopped generating tokens in more detail. This field is returned only when `finish_reason` is set."
        },
        "urlContextMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1UrlContextMetadata",
          "description": "Output only. Metadata returned when the model uses the `url_context` tool to get information from a user-provided URL."
        },
        "safetyRatings": {
          "description": "Output only. A list of ratings for the safety of a response candidate. There is at most one rating per category.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetyRating"
          }
        },
        "logprobsResult": {
          "$ref": "GoogleCloudAiplatformV1LogprobsResult",
          "description": "Output only. The detailed log probability information for the tokens in this candidate. This is useful for debugging, understanding model uncertainty, and identifying potential \"hallucinations\".",
          "readOnly": true
        },
        "citationMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CitationMetadata",
          "description": "Output only. A collection of citations that apply to the generated content."
        },
        "avgLogprobs": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The average log probability of the tokens in this candidate. This is a length-normalized score that can be used to compare the quality of candidates of different lengths. A higher average log probability suggests a more confident and coherent response.",
          "format": "double"
        },
        "finishReason": {
          "description": "Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The finish reason is unspecified.",
            "The model reached a natural stopping point or a configured stop sequence.",
            "The model generated the maximum number of tokens allowed by the `max_output_tokens` parameter.",
            "The model stopped generating because the content potentially violates safety policies. NOTE: When streaming, the `content` field is empty if content filters block the output.",
            "The model stopped generating because the content may be a recitation from a source.",
            "The model stopped generating for a reason not otherwise specified.",
            "The model stopped generating because the content contains a term from a configured blocklist.",
            "The model stopped generating because the content may be prohibited.",
            "The model stopped generating because the content may contain sensitive personally identifiable information (SPII).",
            "The model generated a function call that is syntactically invalid and can't be parsed.",
            "The model response was blocked by Model Armor.",
            "The generated image potentially violates safety policies.",
            "The generated image may contain prohibited content.",
            "The generated image may be a recitation from a source.",
            "The image generation stopped for a reason not otherwise specified.",
            "The model generated a function call that is semantically invalid. This can happen, for example, if function calling is not enabled or the generated function is not in the function declaration.",
            "The model was expected to generate an image, but didn't."
          ],
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "MODEL_ARMOR",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_RECITATION",
            "IMAGE_OTHER",
            "UNEXPECTED_TOOL_CALL",
            "NO_IMAGE"
          ]
        },
        "groundingMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata",
          "description": "Output only. Metadata returned when grounding is enabled. It contains the sources used to ground the generated content."
        }
      },
      "id": "GoogleCloudAiplatformV1Candidate",
      "description": "A response candidate generated from the model."
    },
    "GoogleCloudAiplatformV1ApiAuth": {
      "id": "GoogleCloudAiplatformV1ApiAuth",
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead.",
      "type": "object",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
          "description": "The API secret."
        }
      }
    },
    "GoogleCloudAiplatformV1UrlMetadata": {
      "type": "object",
      "properties": {
        "urlRetrievalStatus": {
          "type": "string",
          "description": "The status of the URL retrieval.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "The URL was retrieved successfully.",
            "The URL retrieval failed."
          ],
          "enum": [
            "URL_RETRIEVAL_STATUS_UNSPECIFIED",
            "URL_RETRIEVAL_STATUS_SUCCESS",
            "URL_RETRIEVAL_STATUS_ERROR"
          ]
        },
        "retrievedUrl": {
          "description": "The URL retrieved by the tool.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1UrlMetadata",
      "description": "The metadata for a single URL retrieval."
    },
    "GoogleCloudAiplatformV1LogprobsResult": {
      "id": "GoogleCloudAiplatformV1LogprobsResult",
      "description": "The log probabilities of the tokens generated by the model. This is useful for understanding the model's confidence in its predictions and for debugging. For example, you can use log probabilities to identify when the model is making a less confident prediction or to explore alternative responses that the model considered. A low log probability can also indicate that the model is \"hallucinating\" or generating factually incorrect information.",
      "type": "object",
      "properties": {
        "topCandidates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1LogprobsResultTopCandidates"
          },
          "description": "A list of the top candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps."
        },
        "chosenCandidates": {
          "description": "A list of the chosen candidate tokens at each decoding step. The length of this list is equal to the total number of decoding steps. Note that the chosen candidate might not be in `top_candidates`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1LogprobsResultCandidate"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest": {
      "id": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest",
      "description": "Request message for ReasoningEngineExecutionService.StreamQuery.",
      "type": "object",
      "properties": {
        "input": {
          "description": "Optional. Input content provided by users in JSON object format. Examples include text query, function calling parameters, media bytes, etc.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "classMethod": {
          "description": "Optional. Class method to be used for the stream query. It is optional and defaults to \"stream_query\" if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Rubric": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. A type designator for the rubric, which can inform how it's evaluated or interpreted by systems or users. It's recommended to use consistent, well-defined, upper snake_case strings. Examples: \"SUMMARIZATION_QUALITY\", \"SAFETY_HARMFUL_CONTENT\", \"INSTRUCTION_ADHERENCE\".",
          "type": "string"
        },
        "rubricId": {
          "type": "string",
          "description": "Unique identifier for the rubric. This ID is used to refer to this rubric, e.g., in RubricVerdict."
        },
        "content": {
          "$ref": "GoogleCloudAiplatformV1RubricContent",
          "description": "Required. The actual testable criteria for the rubric."
        },
        "importance": {
          "description": "Optional. The relative importance of this rubric.",
          "enumDescriptions": [
            "Importance is not specified.",
            "High importance.",
            "Medium importance.",
            "Low importance."
          ],
          "enum": [
            "IMPORTANCE_UNSPECIFIED",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1Rubric",
      "description": "Message representing a single testable criterion for evaluation. One input prompt could have multiple rubrics."
    },
    "GoogleCloudAiplatformV1FilterSplit": {
      "type": "object",
      "properties": {
        "testFilter": {
          "description": "Required. A filter on DataItems of the Dataset. DataItems that match this filter are used to test the Model. A filter with same syntax as the one used in DatasetService.ListDataItems may be used. If a single DataItem is matched by more than one of the FilterSplit filters, then it is assigned to the first set that applies to it in the training, validation, test order.",
          "type": "string"
        },
        "trainingFilter": {
          "description": "Required. A filter on DataItems of the Dataset. DataItems that match this filter are used to train the Model. A filter with same syntax as the one used in DatasetService.ListDataItems may be used. If a single DataItem is matched by more than one of the FilterSplit filters, then it is assigned to the first set that applies to it in the training, validation, test order.",
          "type": "string"
        },
        "validationFilter": {
          "type": "string",
          "description": "Required. A filter on DataItems of the Dataset. DataItems that match this filter are used to validate the Model. A filter with same syntax as the one used in DatasetService.ListDataItems may be used. If a single DataItem is matched by more than one of the FilterSplit filters, then it is assigned to the first set that applies to it in the training, validation, test order."
        }
      },
      "id": "GoogleCloudAiplatformV1FilterSplit",
      "description": "Assigns input data to training, validation, and test sets based on the given filters, data pieces not matched by any filter are ignored. Currently only supported for Datasets containing DataItems. If any of the filters in this message are to match nothing, then they can be set as '-' (the minus sign). Supported only for unstructured Datasets. "
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec",
      "description": "Specification for deploying from a container image.",
      "type": "object",
      "properties": {
        "imageUri": {
          "description": "Required. The Artifact Registry Docker image URI (e.g., us-central1-docker.pkg.dev/my-project/my-repo/my-image:tag) of the container image that is to be run on each worker replica.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig": {
      "type": "object",
      "properties": {
        "autoraterModel": {
          "description": "Optional. The fully qualified name of the publisher model or tuned autorater endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        },
        "sampleCount": {
          "type": "integer",
          "description": "Optional. Number of samples for each instance in the dataset. If not specified, the default is 4. Minimum value is 1, maximum value is 32.",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig",
      "description": "The autorater config used for the evaluation run."
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateNetworkPort": {
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateNetworkPort",
      "description": "Represents a network port in a container.",
      "type": "object",
      "properties": {
        "port": {
          "description": "Optional. Port number to expose. This must be a valid port number, between 1 and 65535.",
          "format": "int32",
          "type": "integer"
        },
        "protocol": {
          "enumDescriptions": [
            "Unspecified protocol. Defaults to TCP.",
            "TCP protocol.",
            "UDP protocol."
          ],
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "TCP",
            "UDP"
          ],
          "description": "Optional. Protocol for port. Defaults to TCP if not specified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunInferenceConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationRunInferenceConfig",
      "description": "Defines the configuration for a candidate model or agent being evaluated. `InferenceConfig` encapsulates all the necessary information to invoke or scrape the candidate during the evaluation run. This includes direct model inference parameters, agent execution settings, and multi-turn scraping configurations (such as user simulators). It serves as the primary representation of the candidate across different stages of the evaluation process.",
      "type": "object",
      "properties": {
        "agentRunConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunInferenceConfigAgentRunConfig",
          "description": "Optional. Agent run config."
        },
        "generationConfig": {
          "description": "Optional. Generation config.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        },
        "model": {
          "type": "string",
          "description": "Optional. The fully qualified name of the publisher model or endpoint to use. Anthropic and Llama third-party models are also supported through Model Garden. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Third-party model formats: `projects/{project}/locations/{location}/publishers/anthropic/models/{model}` or `projects/{project}/locations/{location}/publishers/llama/models/{model}` Endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`"
        },
        "parallelism": {
          "type": "integer",
          "description": "Optional. The parallelism of the evaluation run for the inference step. If not specified, the default parallelism will be used.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1ExactMatchInput": {
      "id": "GoogleCloudAiplatformV1ExactMatchInput",
      "description": "Input for exact match metric.",
      "type": "object",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for exact match metric.",
          "$ref": "GoogleCloudAiplatformV1ExactMatchSpec"
        },
        "instances": {
          "description": "Required. Repeated exact match instances.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ExactMatchInstance"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ReadTensorboardUsageResponse": {
      "type": "object",
      "properties": {
        "monthlyUsageData": {
          "description": "Maps year-month (YYYYMM) string to per month usage data.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponsePerMonthUsageData"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ReadTensorboardUsageResponse",
      "description": "Response message for TensorboardService.ReadTensorboardUsage."
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesResponse": {
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesResponse",
      "description": "Response message for FeaturestoreService.ExportFeatureValues.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfig": {
      "type": "object",
      "properties": {
        "ragConfig": {
          "$ref": "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfigRagConfig",
          "description": "Configuration for Retrieval Augmented Generation feature."
        }
      },
      "id": "GoogleCloudAiplatformV1GenAiAdvancedFeaturesConfig",
      "description": "Configuration for GenAiAdvancedFeatures."
    },
    "GoogleCloudAiplatformV1PurgeArtifactsResponse": {
      "type": "object",
      "properties": {
        "purgeSample": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A sample of the Artifact names that will be deleted. Only populated if `force` is set to false. The maximum number of samples is 100 (it is possible to return fewer)."
        },
        "purgeCount": {
          "type": "string",
          "description": "The number of Artifacts that this request deleted (or, if `force` is false, the number of Artifacts that will be deleted). This can be an estimate.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudAiplatformV1PurgeArtifactsResponse",
      "description": "Response message for MetadataService.PurgeArtifacts."
    },
    "GoogleCloudAiplatformV1CachedContent": {
      "id": "GoogleCloudAiplatformV1CachedContent",
      "description": "A resource used in LLM queries for users to explicitly specify what to cache and how to cache.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. Immutable. The user-generated meaningful display name of the cached content."
        },
        "contents": {
          "description": "Optional. Input only. Immutable. The content to cache",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          }
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Input only. Immutable. Customer-managed encryption key spec for a `CachedContent`. If set, this `CachedContent` and all its sub-resources will be secured by this key."
        },
        "name": {
          "description": "Immutable. Identifier. The server-generated resource name of the cached content Format: projects/{project}/locations/{location}/cachedContents/{cached_content}",
          "type": "string"
        },
        "toolConfig": {
          "$ref": "GoogleCloudAiplatformV1ToolConfig",
          "description": "Optional. Input only. Immutable. Tool config. This config is shared for all tools"
        },
        "ttl": {
          "type": "string",
          "description": "Input only. The TTL for this resource. The expiration time is computed: now + TTL.",
          "format": "google-duration"
        },
        "model": {
          "description": "Immutable. The name of the `Model` to use for cached content. Currently, only the published Gemini base models are supported, in form of projects/{PROJECT}/locations/{LOCATION}/publishers/google/models/{MODEL}",
          "type": "string"
        },
        "usageMetadata": {
          "description": "Output only. Metadata on the usage of the cached content.",
          "$ref": "GoogleCloudAiplatformV1CachedContentUsageMetadata",
          "readOnly": true
        },
        "expireTime": {
          "description": "Timestamp of when this resource is considered expired. This is *always* provided on output, regardless of what was sent on input.",
          "format": "google-datetime",
          "type": "string"
        },
        "tools": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          },
          "description": "Optional. Input only. Immutable. A list of `Tools` the model may use to generate the next response"
        },
        "createTime": {
          "description": "Output only. Creation time of the cache entry.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. When the cache entry was last updated in UTC time.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "systemInstruction": {
          "description": "Optional. Input only. Immutable. Developer set system instruction. Currently, text only",
          "$ref": "GoogleCloudAiplatformV1Content"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewBigQuerySource": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Required. The BigQuery view URI that will be materialized on each sync trigger based on FeatureView.SyncConfig."
        },
        "entityIdColumns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Columns to construct entity_id / row keys."
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureViewBigQuerySource"
    },
    "GoogleCloudAiplatformV1PersistentResource": {
      "type": "object",
      "properties": {
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "pscInterfaceConfig": {
          "description": "Optional. Configuration for PSC-I for PersistentResource.",
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig"
        },
        "name": {
          "type": "string",
          "description": "Immutable. Resource name of a PersistentResource."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Only populated when persistent resource's state is `STOPPING` or `ERROR`.",
          "$ref": "GoogleRpcStatus"
        },
        "reservedIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of names for the reserved IP ranges under the VPC network that can be used for this persistent resource. If set, we will deploy the persistent resource within the provided IP ranges. Otherwise, the persistent resource is deployed to any IP ranges under the provided VPC network. Example: ['vertex-ai-ip-range']."
        },
        "resourcePools": {
          "description": "Required. The spec of the pools of different resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ResourcePool"
          }
        },
        "displayName": {
          "description": "Optional. The display name of the PersistentResource. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Optional. Customer-managed encryption key spec for a PersistentResource. If set, this PersistentResource and all sub-resources of this PersistentResource will be secured by this key."
        },
        "network": {
          "type": "string",
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to peered with Vertex AI to host the persistent resources. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the resources aren't peered with any network."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize PersistentResource. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceRuntime": {
          "description": "Output only. Runtime information of the Persistent Resource.",
          "$ref": "GoogleCloudAiplatformV1ResourceRuntime",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the persistent resources is being created.",
            "The RUNNING state indicates the persistent resource is healthy and fully usable.",
            "The STOPPING state indicates the persistent resource is being deleted.",
            "The ERROR state indicates the persistent resource may be unusable. Details can be found in the `error` field.",
            "The REBOOTING state indicates the persistent resource is being rebooted (PR is not available right now but is expected to be ready again later).",
            "The UPDATING state indicates the persistent resource is being updated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "STOPPING",
            "ERROR",
            "REBOOTING",
            "UPDATING"
          ],
          "description": "Output only. The detailed state of a Study."
        },
        "resourceRuntimeSpec": {
          "$ref": "GoogleCloudAiplatformV1ResourceRuntimeSpec",
          "description": "Optional. Persistent Resource runtime spec. For example, used for Ray cluster configuration."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the PersistentResource for the first time entered the `RUNNING` state.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Time when the PersistentResource was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when the PersistentResource was most recently updated.",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1PersistentResource",
      "description": "Represents long-lasting resources that are dedicated to users to runs custom workloads. A PersistentResource can have multiple node pools and each node pool can have its own machine spec."
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1MemoryBankCustomizationConfigGenerateMemoriesExampleGeneratedMemory": {
      "id": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigGenerateMemoriesExampleGeneratedMemory",
      "description": "A memory generated by the operation.",
      "type": "object",
      "properties": {
        "fact": {
          "type": "string",
          "description": "Required. Represents the fact to generate a memory from."
        },
        "topics": {
          "description": "Optional. Represents the list of topics that the memory should be associated with. For example, use `custom_memory_topic_label = \"jargon\"` if the extracted memory is an example of memory extraction for the custom topic `jargon`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryTopicId"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateContentRequest": {
      "id": "GoogleCloudAiplatformV1GenerateContentRequest",
      "description": "Request message for [PredictionService.GenerateContent].",
      "type": "object",
      "properties": {
        "cachedContent": {
          "description": "Optional. The name of the cached content used as context to serve the prediction. Note: only used in explicit caching, where users can have control over caching (e.g. what content to cache) and enjoy guaranteed cost savings. Format: `projects/{project}/locations/{location}/cachedContents/{cachedContent}`",
          "type": "string"
        },
        "toolConfig": {
          "$ref": "GoogleCloudAiplatformV1ToolConfig",
          "description": "Optional. Tool config. This config is shared for all tools provided in the request."
        },
        "modelArmorConfig": {
          "$ref": "GoogleCloudAiplatformV1ModelArmorConfig",
          "description": "Optional. Settings for prompt and response sanitization using the Model Armor service. If supplied, safety_settings must not be supplied."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. It is used for billing and reporting only. Label keys and values can be no longer than 63 characters (Unicode codepoints) and can only contain lowercase letters, numeric characters, underscores, and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "contents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries, this is a repeated field that contains conversation history + latest request."
        },
        "tools": {
          "description": "Optional. A list of `Tools` the model may use to generate the next response. A `Tool` is a piece of code that enables the system to interact with external systems to perform an action, or set of actions, outside of knowledge and scope of the model.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tool"
          }
        },
        "systemInstruction": {
          "description": "Optional. The user provided system instructions for the model. Note: only text should be used in parts and content in each part will be in a separate paragraph.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "safetySettings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SafetySetting"
          },
          "description": "Optional. Per request settings for blocking unsafe content. Enforced on GenerateContentResponse.candidates."
        },
        "generationConfig": {
          "description": "Optional. Generation config.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest",
      "description": "Request message for JobService.CancelBatchPredictionJob."
    },
    "GoogleCloudAiplatformV1ToolNameMatchInstance": {
      "id": "GoogleCloudAiplatformV1ToolNameMatchInstance",
      "description": "Spec for tool name match instance.",
      "type": "object",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PurgeExecutionsMetadata": {
      "id": "GoogleCloudAiplatformV1PurgeExecutionsMetadata",
      "description": "Details of operations that perform MetadataService.PurgeExecutions.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for purging Executions.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTimestampTransformation": {
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        },
        "timeFormat": {
          "type": "string",
          "description": "The format in which that time field is expressed. The time_format must either be one of: * `unix-seconds` * `unix-milliseconds` * `unix-microseconds` * `unix-nanoseconds` (for respectively number of seconds, milliseconds, microseconds and nanoseconds since start of the Unix epoch); or be written in `strftime` syntax. If time_format is not set, then the default format is RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z)"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationTimestampTransformation",
      "description": "Training pipeline will perform following transformation functions. * Apply the transformation functions for Numerical columns. * Determine the year, month, day,and weekday. Treat each value from the timestamp as a Categorical column. * Invalid numerical values (for example, values that fall outside of a typical timestamp range, or are extreme values) receive no special treatment and are not removed."
    },
    "GoogleCloudAiplatformV1GcsSource": {
      "id": "GoogleCloudAiplatformV1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https://cloud.google.com/storage/docs/wildcards."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec": {
      "type": "object",
      "properties": {
        "settings": {
          "description": "Per-Feature settings for the batch read.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DestinationFeatureSetting"
          }
        },
        "entityTypeId": {
          "type": "string",
          "description": "Required. ID of the EntityType to select Features. The EntityType id is the entity_type_id specified during EntityType creation."
        },
        "featureSelector": {
          "description": "Required. Selectors choosing which Feature values to read from the EntityType.",
          "$ref": "GoogleCloudAiplatformV1FeatureSelector"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec",
      "description": "Selects Features of an EntityType to read values of and specifies read settings."
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsImageSegmentationPredictionParams": {
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsImageSegmentationPredictionParams",
      "description": "Prediction model parameters for Image Segmentation.",
      "type": "object",
      "properties": {
        "confidenceThreshold": {
          "description": "When the model predicts category of pixels of the image, it will only provide predictions for pixels that it is at least this much confident about. All other pixels will be classified as background. Default value is 0.5.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse": {
      "type": "object",
      "properties": {
        "deploymentResourcePools": {
          "description": "The DeploymentResourcePools from the specified location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeploymentResourcePool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse",
      "description": "Response message for ListDeploymentResourcePools method."
    },
    "GoogleCloudAiplatformV1ListNotebookRuntimeTemplatesResponse": {
      "id": "GoogleCloudAiplatformV1ListNotebookRuntimeTemplatesResponse",
      "description": "Response message for NotebookService.ListNotebookRuntimeTemplates.",
      "type": "object",
      "properties": {
        "notebookRuntimeTemplates": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NotebookRuntimeTemplate"
          },
          "description": "List of NotebookRuntimeTemplates in the requested page."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListNotebookRuntimeTemplatesRequest.page_token to obtain that page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListTensorboardExperimentsResponse": {
      "id": "GoogleCloudAiplatformV1ListTensorboardExperimentsResponse",
      "description": "Response message for TensorboardService.ListTensorboardExperiments.",
      "type": "object",
      "properties": {
        "tensorboardExperiments": {
          "description": "The TensorboardExperiments mathching the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardExperiment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as ListTensorboardExperimentsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsImageClassificationPredictionParams": {
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsImageClassificationPredictionParams",
      "description": "Prediction model parameters for Image Classification.",
      "type": "object",
      "properties": {
        "maxPredictions": {
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. If this number is very high, the Model may return fewer predictions. Default value is 10.",
          "format": "int32",
          "type": "integer"
        },
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "format": "float",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature",
      "description": "Noise sigma for a single feature.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs.",
          "type": "string"
        },
        "sigma": {
          "type": "number",
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1Fact": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "If present, this uri links to the source of the fact."
        },
        "vectorDistance": {
          "description": "If present, the distance between the query vector and this fact vector.",
          "format": "double",
          "deprecated": true,
          "type": "number"
        },
        "score": {
          "description": "If present, according to the underlying Vector DB and the selected metric type, the score can be either the distance or the similarity between the query and the fact and its range depends on the metric type. For example, if the metric type is COSINE_DISTANCE, it represents the distance between the query and the fact. The larger the distance, the less relevant the fact is to the query. The range is [0, 2], while 0 means the most relevant and 2 means the least relevant.",
          "format": "double",
          "type": "number"
        },
        "query": {
          "description": "Query that is used to retrieve this fact.",
          "type": "string"
        },
        "chunk": {
          "description": "If present, chunk properties.",
          "$ref": "GoogleCloudAiplatformV1RagChunk"
        },
        "summary": {
          "description": "If present, the summary/snippet of the fact.",
          "type": "string"
        },
        "title": {
          "description": "If present, it refers to the title of this fact.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1Fact",
      "description": "The fact used in grounding."
    },
    "GoogleCloudAiplatformV1RagVectorDbConfigVertexVectorSearch": {
      "type": "object",
      "properties": {
        "indexEndpoint": {
          "description": "The resource name of the Index Endpoint. Format: `projects/{project}/locations/{location}/indexEndpoints/{index_endpoint}`",
          "type": "string"
        },
        "index": {
          "description": "The resource name of the Index. Format: `projects/{project}/locations/{location}/indexes/{index}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1RagVectorDbConfigVertexVectorSearch",
      "description": "The config for the Vertex Vector Search."
    },
    "GoogleCloudAiplatformV1SlackSource": {
      "type": "object",
      "properties": {
        "channels": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SlackSourceSlackChannels"
          },
          "description": "Required. The Slack channels."
        }
      },
      "id": "GoogleCloudAiplatformV1SlackSource",
[...]
