{
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-east2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-northeast3"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "australia-southeast2"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-southwest1",
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west10"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west9"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "me-central1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast2"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "southamerica-west1"
    },
    {
      "location": "us-central1",
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central2"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east1"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east7",
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-south1"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west4",
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-east5",
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "endpoints": {
      "methods": {
        "predict": {
          "parameterOrder": [
            "endpoint"
          ],
          "id": "aiplatform.endpoints.predict",
          "flatPath": "v1/endpoints/{endpointsId}:predict",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1PredictResponse"
          },
          "description": "",
          "path": "v1/{+endpoint}:predict",
          "httpMethod": "POST",
          "parameters": {
            "endpoint": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "pattern": "^endpoints/[^/]+$"
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictRequest"
          }
        },
        "streamGenerateContent": {
          "parameterOrder": [
            "model"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "description": "Generate content with multimodal inputs with streaming support.",
          "id": "aiplatform.endpoints.streamGenerateContent",
          "flatPath": "v1/endpoints/{endpointsId}:streamGenerateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1/{+model}:streamGenerateContent",
          "parameters": {
            "model": {
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          }
        },
        "generateContent": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
          },
          "httpMethod": "POST",
          "parameters": {
            "model": {
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "path": "v1/{+model}:generateContent",
          "id": "aiplatform.endpoints.generateContent",
          "flatPath": "v1/endpoints/{endpointsId}:generateContent",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
          },
          "description": "Generate content with multimodal inputs.",
          "parameterOrder": [
            "model"
          ]
        },
        "predictLongRunning": {
          "path": "v1/{+endpoint}:predictLongRunning",
          "parameterOrder": [
            "endpoint"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "",
          "id": "aiplatform.endpoints.predictLongRunning",
          "flatPath": "v1/endpoints/{endpointsId}:predictLongRunning",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
          },
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
              "pattern": "^endpoints/[^/]+$",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "httpMethod": "POST"
        },
        "countTokens": {
          "path": "v1/{+endpoint}:countTokens",
          "parameterOrder": [
            "endpoint"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
          },
          "description": "Perform a token counting.",
          "id": "aiplatform.endpoints.countTokens",
          "flatPath": "v1/endpoints/{endpointsId}:countTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
          },
          "parameters": {
            "endpoint": {
              "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
              "pattern": "^endpoints/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "fetchPredictOperation": {
          "httpMethod": "POST",
          "parameters": {
            "endpoint": {
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`"
            }
          },
          "request": {
            "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
          },
          "id": "aiplatform.endpoints.fetchPredictOperation",
          "flatPath": "v1/endpoints/{endpointsId}:fetchPredictOperation",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "Fetch an asynchronous online prediction operation.",
          "parameterOrder": [
            "endpoint"
          ],
          "path": "v1/{+endpoint}:fetchPredictOperation"
        },
        "computeTokens": {
          "path": "v1/{+endpoint}:computeTokens",
          "parameterOrder": [
            "endpoint"
          ],
          "response": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
          },
          "description": "Return a list of tokens based on the input text.",
          "id": "aiplatform.endpoints.computeTokens",
          "flatPath": "v1/endpoints/{endpointsId}:computeTokens",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
          },
          "parameters": {
            "endpoint": {
              "pattern": "^endpoints/[^/]+$",
              "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST"
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.endpoints.operations.list",
              "flatPath": "v1/endpoints/{endpointsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The standard list page size."
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^endpoints/[^/]+$",
                  "description": "The name of the operation's parent resource."
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                }
              },
              "httpMethod": "GET"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.endpoints.operations.cancel",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel"
            },
            "delete": {
              "id": "aiplatform.endpoints.operations.delete",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "aiplatform.endpoints.operations.get",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "id": "aiplatform.endpoints.operations.wait",
              "flatPath": "v1/endpoints/{endpointsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^endpoints/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              }
            }
          }
        },
        "chat": {
          "methods": {
            "completions": {
              "httpMethod": "POST",
              "parameters": {
                "endpoint": {
                  "pattern": "^endpoints/[^/]+$",
                  "description": "Required. The name of the endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.endpoints.chat.completions",
              "flatPath": "v1/endpoints/{endpointsId}/chat/completions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Exposes an OpenAI-compatible endpoint for chat completions.",
              "path": "v1/{+endpoint}/chat/completions"
            }
          }
        }
      }
    },
    "notebookRuntimeTemplates": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.notebookRuntimeTemplates.operations.list",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}/operations",
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^notebookRuntimeTemplates/[^/]+$"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                }
              },
              "httpMethod": "GET"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.notebookRuntimeTemplates.operations.cancel",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.notebookRuntimeTemplates.operations.delete",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.notebookRuntimeTemplates.operations.get",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "wait": {
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^notebookRuntimeTemplates/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on."
                },
                "timeout": {
                  "location": "query",
                  "format": "google-duration",
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "id": "aiplatform.notebookRuntimeTemplates.operations.wait",
              "flatPath": "v1/notebookRuntimeTemplates/{notebookRuntimeTemplatesId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:wait"
            }
          }
        }
      }
    },
    "persistentResources": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "id": "aiplatform.persistentResources.operations.get",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.persistentResources.operations.wait",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "format": "google-duration",
                  "location": "query",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string"
                }
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be deleted.",
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "id": "aiplatform.persistentResources.operations.delete",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+$",
                  "description": "The name of the operation's parent resource."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.persistentResources.operations.list",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "path": "v1/{+name}/operations"
            },
            "cancel": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^persistentResources/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be cancelled."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.persistentResources.operations.cancel",
              "flatPath": "v1/persistentResources/{persistentResourcesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "path": "v1/{+name}:cancel"
            }
          }
        }
      }
    },
    "reasoningEngines": {
      "resources": {
        "memories": {
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.reasoningEngines.memories.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "httpMethod": "POST"
                },
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.reasoningEngines.memories.operations.list",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.memories.operations.delete",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.memories.operations.get",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "wait": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^reasoningEngines/[^/]+/memories/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.reasoningEngines.memories.operations.wait",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/memories/{memoriesId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "path": "v1/{+name}:wait"
                }
              }
            }
          }
        },
        "runtimeRevisions": {
          "methods": {
            "query": {
              "path": "v1/{+name}:query",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineResponse"
              },
              "description": "Queries using a reasoning engine.",
              "id": "aiplatform.reasoningEngines.runtimeRevisions.query",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/runtimeRevisions/{runtimeRevisionsId}:query",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudAiplatformV1QueryReasoningEngineRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "pattern": "^reasoningEngines/[^/]+/runtimeRevisions/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "POST"
            },
            "streamQuery": {
              "request": {
                "$ref": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/runtimeRevisions/[^/]+$",
                  "description": "Required. The name of the ReasoningEngine resource to use. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}:streamQuery",
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.reasoningEngines.runtimeRevisions.streamQuery",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/runtimeRevisions/{runtimeRevisionsId}:streamQuery",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "Streams queries using a reasoning engine."
            }
          }
        },
        "sandboxEnvironmentTemplates": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/sandboxEnvironmentTemplates",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates a SandboxEnvironmentTemplate in a given reasoning engine.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.create",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplate"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^reasoningEngines/[^/]+$",
                  "description": "Required. The resource name of the reasoning engine to create the SandboxEnvironmentTemplate in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`."
                }
              },
              "httpMethod": "POST"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplate"
              },
              "description": "Gets details of the specific SandboxEnvironmentTemplate.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.get",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+$",
                  "description": "Required. The resource name of the sandbox environment template. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentTemplates/{sandbox_environment_template}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^reasoningEngines/[^/]+$",
                  "description": "Required. The resource name of the reasoning engine to list sandbox environment templates from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of SandboxEnvironmentTemplates to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentTemplates will be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironmentTemplates` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}/sandboxEnvironmentTemplates",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentTemplatesResponse"
              },
              "description": "Lists SandboxEnvironmentTemplates in a given reasoning engine.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+$",
                  "description": "Required. The resource name of the SandboxEnvironmentTemplate to delete. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentTemplates/{sandbox_environment_template}`"
                }
              },
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.delete",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Deletes the specific SandboxEnvironmentTemplate.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.delete",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.get",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET"
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentTemplates/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentTemplates.operations.wait",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentTemplates/{sandboxEnvironmentTemplatesId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:wait"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "id": "aiplatform.reasoningEngines.operations.cancel",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:cancel",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to be cancelled.",
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "pattern": "^reasoningEngines/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "type": "string",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "path": "v1/{+name}/operations",
              "id": "aiplatform.reasoningEngines.operations.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "path": "v1/{+name}",
              "id": "aiplatform.reasoningEngines.operations.delete",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "id": "aiplatform.reasoningEngines.operations.get",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "id": "aiplatform.reasoningEngines.operations.wait",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The name of the operation resource to wait on.",
                  "pattern": "^reasoningEngines/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                }
              }
            }
          }
        },
        "sandboxEnvironmentSnapshots": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentSnapshot"
              },
              "description": "Gets details of the specific SandboxEnvironmentSnapshot.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.get",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name of the sandbox environment snapshot. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentSnapshots/{sandbox_environment_snapshot}`",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+$"
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "parameters": {
                "parent": {
                  "pattern": "^reasoningEngines/[^/]+$",
                  "description": "Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of SandboxEnvironmentSnapshots to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironmentSnapshots will be returned. Values above 100 will be coerced to 100."
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironmentSnapshots` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentSnapshotsResponse"
              },
              "description": "Lists SandboxEnvironmentSnapshots in a given reasoning engine.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/sandboxEnvironmentSnapshots"
            },
            "delete": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Deletes the specific SandboxEnvironmentSnapshot.",
              "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.delete",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+$",
                  "description": "Required. The resource name of the SandboxEnvironmentSnapshot to delete. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironmentSnapshots/{sandbox_environment_snapshot}`"
                }
              },
              "httpMethod": "DELETE"
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource."
                    }
                  },
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.get",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on."
                    },
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.wait",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "aiplatform.reasoningEngines.sandboxEnvironmentSnapshots.operations.delete",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironmentSnapshots/{sandboxEnvironmentSnapshotsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^reasoningEngines/[^/]+/sandboxEnvironmentSnapshots/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        },
        "sessions": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$"
                    }
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.sessions.operations.delete",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.reasoningEngines.sessions.operations.get",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$"
                    }
                  }
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "timeout": {
                      "format": "google-duration",
                      "location": "query",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.reasoningEngines.sessions.operations.wait",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "aiplatform.reasoningEngines.sessions.operations.list",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET"
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.reasoningEngines.sessions.operations.cancel",
                  "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sessions/{sessionsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^reasoningEngines/[^/]+/sessions/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                }
              }
            }
          }
        },
        "sandboxEnvironments": {
          "methods": {
            "create": {
              "request": {
                "$ref": "GoogleCloudAiplatformV1SandboxEnvironment"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^reasoningEngines/[^/]+$",
                  "description": "Required. The resource name of the reasoning engine to create the SandboxEnvironment in. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`."
                }
              },
              "path": "v1/{+parent}/sandboxEnvironments",
              "parameterOrder": [
                "parent"
              ],
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.create",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates a SandboxEnvironment in a given reasoning engine."
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "pattern": "^reasoningEngines/[^/]+$",
                  "description": "Required. The resource name of the reasoning engine to list sandbox environments from. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}`",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. The standard list filter. More detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of SandboxEnvironments to return. The service may return fewer than this value. If unspecified, at most 100 SandboxEnvironments will be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The standard list page token, received from a previous `ListSandboxEnvironments` call. Provide this to retrieve the subsequent page."
                }
              },
              "path": "v1/{+parent}/sandboxEnvironments",
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.list",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListSandboxEnvironmentsResponse"
              },
              "description": "Lists SandboxEnvironments in a given reasoning engine.",
              "parameterOrder": [
                "parent"
              ]
            },
            "execute": {
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the sandbox environment to execute. Format: `projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sandboxEnvironments/{sandbox_environment}`",
                  "pattern": "^reasoningEngines/[^/]+/sandboxEnvironments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1ExecuteSandboxEnvironmentRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.reasoningEngines.sandboxEnvironments.execute",
              "flatPath": "v1/reasoningEngines/{reasoningEnginesId}/sandboxEnvironments/{sandboxEnvironmentsId}:execute",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
[...]
