{
  "revision": "20260414",
  "protocol": "rest",
  "endpoints": [
    {
      "location": "africa-south1",
      "endpointUrl": "https://africa-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://asia-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://asia-east2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://asia-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://asia-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://asia-northeast3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "asia-south1",
      "endpointUrl": "https://asia-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://asia-south2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-south2"
    },
    {
      "endpointUrl": "https://asia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "asia-southeast1"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://asia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://australia-southeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "australia-southeast2",
      "endpointUrl": "https://australia-southeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-central2"
    },
    {
      "location": "europe-north1",
      "endpointUrl": "https://europe-north1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-north2",
      "endpointUrl": "https://europe-north2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-southwest1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://europe-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west1"
    },
    {
      "location": "europe-west10",
      "endpointUrl": "https://europe-west10-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west15",
      "endpointUrl": "https://europe-west15-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://europe-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west3"
    },
    {
      "location": "europe-west4",
      "endpointUrl": "https://europe-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "europe-west6",
      "endpointUrl": "https://europe-west6-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://europe-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://europe-west9-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://europe-west12-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "europe-west12"
    },
    {
      "location": "me-central1",
      "endpointUrl": "https://me-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://me-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://me-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "me-west1"
    },
    {
      "endpointUrl": "https://northamerica-northeast1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://northamerica-northeast2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-east1",
      "endpointUrl": "https://southamerica-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "location": "southamerica-west1",
      "endpointUrl": "https://southamerica-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-central1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://us-central2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-east1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east1"
    },
    {
      "endpointUrl": "https://us-east4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east4"
    },
    {
      "endpointUrl": "https://us-east7-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east7"
    },
    {
      "endpointUrl": "https://us-south1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-south1"
    },
    {
      "endpointUrl": "https://us-west1-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west1"
    },
    {
      "endpointUrl": "https://us-west2-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west2"
    },
    {
      "location": "us-west3",
      "endpointUrl": "https://us-west3-aiplatform.googleapis.com/",
      "description": "Locational Endpoint"
    },
    {
      "endpointUrl": "https://us-west4-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://us-east5-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://us-west8-aiplatform.googleapis.com/",
      "description": "Locational Endpoint",
      "location": "us-west8"
    },
    {
      "location": "us",
      "endpointUrl": "https://aiplatform.us.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "endpointUrl": "https://aiplatform.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    }
  ],
  "ownerDomain": "google.com",
  "version_module": true,
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "id": "aiplatform:v1",
  "resources": {
    "indexEndpoints": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "aiplatform.indexEndpoints.operations.get",
              "parameterOrder": [
                "name"
              ]
            },
            "wait": {
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "parameters": {
                "name": {
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.wait",
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "cancel": {
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.cancel"
            },
            "delete": {
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^indexEndpoints/[^/]+/operations/[^/]+$"
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.delete"
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "pattern": "^indexEndpoints/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size.",
                  "type": "integer"
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                }
              },
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations",
              "httpMethod": "GET",
              "flatPath": "v1/indexEndpoints/{indexEndpointsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.indexEndpoints.operations.list"
            }
          }
        }
      }
    },
    "pipelineJobs": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$"
                }
              },
              "id": "aiplatform.pipelineJobs.operations.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "wait": {
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.pipelineJobs.operations.wait",
              "parameters": {
                "timeout": {
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "type": "string",
                  "format": "google-duration",
                  "location": "query"
                },
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameters": {
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^pipelineJobs/[^/]+$"
                }
              },
              "id": "aiplatform.pipelineJobs.operations.list",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/operations",
              "httpMethod": "GET"
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "type": "string",
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "httpMethod": "POST",
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "aiplatform.pipelineJobs.operations.cancel"
            },
            "delete": {
              "flatPath": "v1/pipelineJobs/{pipelineJobsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "aiplatform.pipelineJobs.operations.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^pipelineJobs/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            }
          }
        }
      }
    },
    "publishers": {
      "resources": {
        "models": {
          "methods": {
            "fetchPredictOperation": {
              "id": "aiplatform.publishers.models.fetchPredictOperation",
              "parameterOrder": [
                "endpoint"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:fetchPredictOperation",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+endpoint}:fetchPredictOperation",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Fetch an asynchronous online prediction operation.",
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1FetchPredictOperationRequest"
              }
            },
            "predictLongRunning": {
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.predictLongRunning",
              "path": "v1/{+endpoint}:predictLongRunning",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predictLongRunning",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "location": "path",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictLongRunningRequest"
              },
              "description": "",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            },
            "generateContent": {
              "parameters": {
                "model": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "description": "Generate content with multimodal inputs.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              },
              "path": "v1/{+model}:generateContent",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:generateContent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "model"
              ],
              "id": "aiplatform.publishers.models.generateContent"
            },
            "get": {
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "aiplatform.publishers.models.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudAiplatformV1PublisherModel"
              },
              "description": "Gets a Model Garden publisher model.",
              "parameters": {
                "isHuggingFaceModel": {
                  "description": "Optional. Boolean indicates whether the requested model is a Hugging Face model.",
                  "type": "boolean",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "description": "Required. The name of the PublisherModel resource. Format: `publishers/{publisher}/models/{publisher_model}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                },
                "huggingFaceToken": {
                  "description": "Optional. Token used to access Hugging Face gated models.",
                  "type": "string",
                  "location": "query"
                },
                "languageCode": {
                  "location": "query",
                  "description": "Optional. The IETF BCP-47 language code representing the language in which the publisher model's text information should be written in.",
                  "type": "string"
                },
                "view": {
                  "description": "Optional. PublisherModel view specifying which fields to read.",
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "The default / unset value. The API will default to the BASIC view.",
                    "Include basic metadata about the publisher model, but not the full contents.",
                    "Include everything.",
                    "Include: VersionId, ModelVersionExternalName, and SupportedActions."
                  ],
                  "enum": [
                    "PUBLISHER_MODEL_VIEW_UNSPECIFIED",
                    "PUBLISHER_MODEL_VIEW_BASIC",
                    "PUBLISHER_MODEL_VIEW_FULL",
                    "PUBLISHER_MODEL_VERSION_VIEW_BASIC"
                  ]
                }
              }
            },
            "predict": {
              "id": "aiplatform.publishers.models.predict",
              "parameterOrder": [
                "endpoint"
              ],
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:predict",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1/{+endpoint}:predict",
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleCloudAiplatformV1PredictResponse"
              },
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to serve the prediction. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1PredictRequest"
              },
              "description": ""
            },
            "streamGenerateContent": {
              "path": "v1/{+model}:streamGenerateContent",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:streamGenerateContent",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "model"
              ],
              "id": "aiplatform.publishers.models.streamGenerateContent",
              "parameters": {
                "model": {
                  "description": "Required. The fully qualified name of the publisher model or tuned model endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^publishers/[^/]+/models/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentRequest"
              },
              "description": "Generate content with multimodal inputs with streaming support.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1GenerateContentResponse"
              }
            },
            "countTokens": {
              "path": "v1/{+endpoint}:countTokens",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:countTokens",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.countTokens",
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to perform token counting. Format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1CountTokensRequest"
              },
              "description": "Perform a token counting.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1CountTokensResponse"
              }
            },
            "computeTokens": {
              "parameters": {
                "endpoint": {
                  "pattern": "^publishers/[^/]+/models/[^/]+$",
                  "description": "Required. The name of the Endpoint requested to get lists of tokens and token ids.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensRequest"
              },
              "description": "Return a list of tokens based on the input text.",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ComputeTokensResponse"
              },
              "path": "v1/{+endpoint}:computeTokens",
              "httpMethod": "POST",
              "flatPath": "v1/publishers/{publishersId}/models/{modelsId}:computeTokens",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "endpoint"
              ],
              "id": "aiplatform.publishers.models.computeTokens"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "tensorboards": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "description": "Creates a Tensorboard.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the Location to create the Tensorboard in. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1Tensorboard"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/tensorboards",
                  "httpMethod": "POST",
                  "id": "aiplatform.projects.locations.tensorboards.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "description": "Gets a Tensorboard.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Tensorboard resource. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1Tensorboard"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.tensorboards.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ]
                },
                "readUsage": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ReadTensorboardUsageResponse"
                  },
                  "description": "Returns a list of monthly active users for a given TensorBoard instance.",
                  "parameters": {
                    "tensorboard": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Tensorboard resource. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}:readUsage",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+tensorboard}:readUsage",
                  "httpMethod": "GET",
                  "id": "aiplatform.projects.locations.tensorboards.readUsage",
                  "parameterOrder": [
                    "tensorboard"
                  ]
                },
                "readSize": {
                  "description": "Returns the storage size for a given TensorBoard instance.",
                  "parameters": {
                    "tensorboard": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Tensorboard resource. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ReadTensorboardSizeResponse"
                  },
                  "parameterOrder": [
                    "tensorboard"
                  ],
                  "id": "aiplatform.projects.locations.tensorboards.readSize",
                  "path": "v1/{+tensorboard}:readSize",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}:readSize",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "description": "Lists the Tensorboards that match the filter expression.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of Tensorboards to return. The service may return fewer than this value. If unspecified, at most 100 Tensorboards are returned. The maximum value is 100; values above 100 are coerced to 100.",
                      "type": "integer"
                    },
                    "readMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Mask specifying which fields to read.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Field to use to sort the list.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A page token, received from a previous TensorboardService.ListTensorboards call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to TensorboardService.ListTensorboards must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The resource name of the Location to list Tensorboards. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "description": "Lists Tensorboards in a Location.",
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1ListTensorboardsResponse"
                  },
                  "path": "v1/{+parent}/tensorboards",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "aiplatform.projects.locations.tensorboards.list"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "description": "Output only. Name of the Tensorboard. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$"
                    },
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Tensorboard resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten if it's in the mask. If the user does not provide a mask then all fields are overwritten if new values are specified.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAiplatformV1Tensorboard"
                  },
                  "description": "Updates a Tensorboard.",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.tensorboards.patch"
                },
                "batchRead": {
                  "response": {
                    "$ref": "GoogleCloudAiplatformV1BatchReadTensorboardTimeSeriesDataResponse"
                  },
                  "parameters": {
                    "tensorboard": {
                      "location": "path",
                      "description": "Required. The resource name of the Tensorboard containing TensorboardTimeSeries to read data from. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`. The TensorboardTimeSeries referenced by time_series must be sub resources of this Tensorboard.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$"
                    },
                    "timeSeries": {
                      "location": "query",
                      "description": "Required. The resource names of the TensorboardTimeSeries to read data from. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}/timeSeries/{time_series}`",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "description": "Reads multiple TensorboardTimeSeries' data. The data point number limit is 1000 for scalars, 100 for tensors and blob references. If the number of data points stored is less than the limit, all data is returned. Otherwise, the number limit of data points is randomly selected from this time series and returned.",
                  "id": "aiplatform.projects.locations.tensorboards.batchRead",
                  "parameterOrder": [
                    "tensorboard"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}:batchRead",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+tensorboard}:batchRead",
                  "httpMethod": "GET"
                },
                "delete": {
                  "description": "Deletes a Tensorboard.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the Tensorboard to be deleted. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "aiplatform.projects.locations.tensorboards.delete"
                }
              },
              "resources": {
                "operations": {
                  "methods": {
                    "wait": {
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                      "parameters": {
                        "timeout": {
                          "format": "google-duration",
                          "location": "query",
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to wait on.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/operations/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:wait",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/operations/{operationsId}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.tensorboards.operations.wait"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.tensorboards.operations.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "list": {
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+$",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The standard list page token.",
                          "type": "string"
                        },
                        "returnPartialSuccess": {
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "filter": {
                          "location": "query",
                          "description": "The standard list filter.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "The standard list page size.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.tensorboards.operations.list",
                      "path": "v1/{+name}/operations",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/operations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/operations/{operationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "id": "aiplatform.projects.locations.tensorboards.operations.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/operations/[^/]+$"
                        }
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "cancel": {
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/operations/[^/]+$"
                        }
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}:cancel",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/operations/{operationsId}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "aiplatform.projects.locations.tensorboards.operations.cancel"
                    }
                  }
                },
                "experiments": {
                  "resources": {
                    "operations": {
                      "methods": {
                        "delete": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.operations.delete",
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource to be deleted.",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$"
                            }
                          },
                          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "cancel": {
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.operations.cancel",
                          "path": "v1/{+name}:cancel",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:cancel",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "The name of the operation resource to be cancelled.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "list": {
                          "response": {
                            "$ref": "GoogleLongrunningListOperationsResponse"
                          },
                          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "The standard list page token.",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+$",
                              "description": "The name of the operation's parent resource.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "filter": {
                              "description": "The standard list filter.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "description": "The standard list page size.",
                              "type": "integer"
                            },
                            "returnPartialSuccess": {
                              "location": "query",
                              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                              "type": "boolean"
                            }
                          },
                          "id": "aiplatform.projects.locations.tensorboards.experiments.operations.list",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}/operations",
                          "httpMethod": "GET"
                        },
                        "wait": {
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameters": {
                            "timeout": {
                              "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                              "type": "string",
                              "format": "google-duration",
                              "location": "query"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$",
                              "description": "The name of the operation resource to wait on.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            }
                          },
                          "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                          "id": "aiplatform.projects.locations.tensorboards.experiments.operations.wait",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}:wait",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}:wait",
                          "httpMethod": "POST"
                        },
                        "get": {
                          "id": "aiplatform.projects.locations.tensorboards.experiments.operations.get",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                          "parameters": {
                            "name": {
                              "description": "The name of the operation resource.",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/operations/[^/]+$"
                            }
                          }
                        }
                      }
                    },
                    "runs": {
                      "methods": {
                        "list": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "path": "v1/{+parent}/runs",
                          "httpMethod": "GET",
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1ListTensorboardRunsResponse"
                          },
                          "description": "Lists TensorboardRuns in a Location.",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+$",
                              "description": "Required. The resource name of the TensorboardExperiment to list TensorboardRuns. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}`",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "orderBy": {
                              "description": "Field to use to sort the list.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageToken": {
                              "description": "A page token, received from a previous TensorboardService.ListTensorboardRuns call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to TensorboardService.ListTensorboardRuns must match the call that provided the page token.",
                              "type": "string",
                              "location": "query"
                            },
                            "readMask": {
                              "location": "query",
                              "format": "google-fieldmask",
                              "description": "Mask specifying which fields to read.",
                              "type": "string"
                            },
                            "filter": {
                              "description": "Lists the TensorboardRuns that match the filter expression.",
                              "type": "string",
                              "location": "query"
                            },
                            "pageSize": {
                              "description": "The maximum number of TensorboardRuns to return. The service may return fewer than this value. If unspecified, at most 50 TensorboardRuns are returned. The maximum value is 1000; values above 1000 are coerced to 1000.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            }
                          }
                        },
                        "delete": {
                          "description": "Deletes a TensorboardRun.",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$",
                              "location": "path",
                              "description": "Required. The name of the TensorboardRun to be deleted. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "GoogleLongrunningOperation"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.delete",
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "write": {
                          "parameterOrder": [
                            "tensorboardRun"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.write",
                          "path": "v1/{+tensorboardRun}:write",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}:write",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Write time series data points into multiple TensorboardTimeSeries under a TensorboardRun. If any data fail to be ingested, an error is returned.",
                          "parameters": {
                            "tensorboardRun": {
                              "description": "Required. The resource name of the TensorboardRun to write data to. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudAiplatformV1WriteTensorboardRunDataRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1WriteTensorboardRunDataResponse"
                          }
                        },
                        "patch": {
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
                          },
                          "description": "Updates a TensorboardRun.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Output only. Name of the TensorboardRun. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "Required. Field mask is used to specify the fields to be overwritten in the TensorboardRun resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field is overwritten if it's in the mask. If the user does not provide a mask then all fields are overwritten if new values are specified.",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
                          },
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.patch",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH"
                        },
                        "create": {
                          "path": "v1/{+parent}/runs",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.create",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+$",
                              "location": "path",
                              "description": "Required. The resource name of the TensorboardExperiment to create the TensorboardRun in. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}`",
                              "required": true,
                              "type": "string"
                            },
                            "tensorboardRunId": {
                              "location": "query",
                              "description": "Required. The ID to use for the Tensorboard run, which becomes the final component of the Tensorboard run's resource name. This value should be 1-128 characters, and valid characters are `/a-z-/`.",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
                          },
                          "description": "Creates a TensorboardRun.",
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
                          }
                        },
                        "batchCreate": {
                          "path": "v1/{+parent}/runs:batchCreate",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs:batchCreate",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.batchCreate",
                          "description": "Batch create TensorboardRuns.",
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "description": "Required. The resource name of the TensorboardExperiment to create the TensorboardRuns in. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}` The parent field in the CreateTensorboardRunRequest messages must match this field.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+$"
                            }
                          },
                          "request": {
                            "$ref": "GoogleCloudAiplatformV1BatchCreateTensorboardRunsRequest"
                          },
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1BatchCreateTensorboardRunsResponse"
                          }
                        },
                        "get": {
                          "description": "Gets a TensorboardRun.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "description": "Required. The name of the TensorboardRun resource. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}/experiments/{experiment}/runs/{run}`",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$"
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudAiplatformV1TensorboardRun"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "aiplatform.projects.locations.tensorboards.experiments.runs.get",
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ]
                        }
                      },
                      "resources": {
                        "operations": {
                          "methods": {
                            "delete": {
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "aiplatform.projects.locations.tensorboards.experiments.runs.operations.delete",
                              "path": "v1/{+name}",
                              "httpMethod": "DELETE",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "The name of the operation resource to be deleted.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$"
                                }
                              },
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              }
                            },
                            "cancel": {
                              "path": "v1/{+name}:cancel",
                              "httpMethod": "POST",
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:cancel",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "parameterOrder": [
                                "name"
                              ],
                              "id": "aiplatform.projects.locations.tensorboards.experiments.runs.operations.cancel",
                              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                              "parameters": {
                                "name": {
                                  "location": "path",
                                  "description": "The name of the operation resource to be cancelled.",
                                  "required": true,
                                  "type": "string",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$"
                                }
                              },
                              "response": {
                                "$ref": "GoogleProtobufEmpty"
                              }
                            },
                            "list": {
                              "response": {
                                "$ref": "GoogleLongrunningListOperationsResponse"
                              },
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation's parent resource.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+$"
                                },
                                "pageToken": {
                                  "description": "The standard list page token.",
                                  "type": "string",
                                  "location": "query"
                                },
                                "returnPartialSuccess": {
                                  "location": "query",
                                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                  "type": "boolean"
                                },
                                "filter": {
                                  "location": "query",
                                  "description": "The standard list filter.",
                                  "type": "string"
                                },
                                "pageSize": {
                                  "format": "int32",
                                  "location": "query",
                                  "description": "The standard list page size.",
                                  "type": "integer"
                                }
                              },
                              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                              "id": "aiplatform.projects.locations.tensorboards.experiments.runs.operations.list",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}/operations",
                              "httpMethod": "GET"
                            },
                            "wait": {
                              "id": "aiplatform.projects.locations.tensorboards.experiments.runs.operations.wait",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}:wait",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}:wait",
                              "httpMethod": "POST",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource to wait on.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$"
                                },
                                "timeout": {
                                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                                  "type": "string",
                                  "location": "query",
                                  "format": "google-duration"
                                }
                              },
                              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                            },
                            "get": {
                              "id": "aiplatform.projects.locations.tensorboards.experiments.runs.operations.get",
                              "parameterOrder": [
                                "name"
                              ],
                              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/operations/{operationsId}",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "path": "v1/{+name}",
                              "httpMethod": "GET",
                              "response": {
                                "$ref": "GoogleLongrunningOperation"
                              },
                              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                              "parameters": {
                                "name": {
                                  "description": "The name of the operation resource.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/operations/[^/]+$"
                                }
                              }
                            }
                          }
                        },
                        "timeSeries": {
                          "resources": {
                            "operations": {
                              "methods": {
                                "list": {
                                  "response": {
                                    "$ref": "GoogleLongrunningListOperationsResponse"
                                  },
                                  "parameters": {
                                    "returnPartialSuccess": {
                                      "location": "query",
                                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                                      "type": "boolean"
                                    },
                                    "filter": {
                                      "description": "The standard list filter.",
                                      "type": "string",
                                      "location": "query"
                                    },
                                    "pageSize": {
                                      "description": "The standard list page size.",
                                      "type": "integer",
                                      "format": "int32",
                                      "location": "query"
                                    },
                                    "name": {
                                      "pattern": "^projects/[^/]+/locations/[^/]+/tensorboards/[^/]+/experiments/[^/]+/runs/[^/]+/timeSeries/[^/]+$",
                                      "location": "path",
                                      "description": "The name of the operation's parent resource.",
                                      "required": true,
                                      "type": "string"
                                    },
                                    "pageToken": {
                                      "location": "query",
                                      "description": "The standard list page token.",
                                      "type": "string"
                                    }
                                  },
                                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                                  "id": "aiplatform.projects.locations.tensorboards.experiments.runs.timeSeries.operations.list",
                                  "parameterOrder": [
                                    "name"
                                  ],
                                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/tensorboards/{tensorboardsId}/experiments/{experimentsId}/runs/{runsId}/timeSeries/{timeSeriesId}/operations",
                                  "scopes": [
                                    "https://www.googleapis.com/auth/cloud-platform"
                                  ],
                                  "path": "v1/{+name}/operations",
                                  "httpMethod": "GET"
                                },
                                "cancel": {
[...]
