{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "basePath": "",
  "canonicalName": "Aiplatform",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://aiplatform.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "GoogleCloudAiplatformV1ExecuteCodeRequest": {
      "id": "GoogleCloudAiplatformV1ExecuteCodeRequest",
      "type": "object",
      "description": "Request message for SandboxEnvironmentExecutionService.ExecuteCode.",
      "properties": {
        "inputs": {
          "description": "Required. The inputs used for the stateless code execution.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Chunk"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
      "description": "Configuration of the Featurestore's ImportFeature Analysis Based Monitoring. This type of analysis generates statistics for values of each Feature imported by every ImportFeatureValues operation.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Should not be used.",
            "The default behavior of whether to enable the monitoring. EntityType-level config: disabled. Feature-level config: inherited from the configuration of EntityType this Feature belongs to.",
            "Explicitly enables import features analysis. EntityType-level config: by default enables import features analysis for all Features under it. Feature-level config: enables import features analysis regardless of the EntityType-level config.",
            "Explicitly disables import features analysis. EntityType-level config: by default disables import features analysis for all Features under it. Feature-level config: disables import features analysis regardless of the EntityType-level config."
          ],
          "description": "Whether to enable / disable / inherite default hebavior for import features analysis.",
          "enum": [
            "STATE_UNSPECIFIED",
            "DEFAULT",
            "ENABLED",
            "DISABLED"
          ],
          "type": "string"
        },
        "anomalyDetectionBaseline": {
          "enumDescriptions": [
            "Should not be used.",
            "Choose the later one statistics generated by either most recent snapshot analysis or previous import features analysis. If non of them exists, skip anomaly detection and only generate a statistics.",
            "Use the statistics generated by the most recent snapshot analysis if exists.",
            "Use the statistics generated by the previous import features analysis if exists."
          ],
          "description": "The baseline used to do anomaly detection for the statistics generated by import features analysis.",
          "enum": [
            "BASELINE_UNSPECIFIED",
            "LATEST_STATS",
            "MOST_RECENT_SNAPSHOT_STATS",
            "PREVIOUS_IMPORT_FEATURES_STATS"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation"
    },
    "GoogleCloudAiplatformV1IndexPrivateEndpoints": {
      "description": "IndexPrivateEndpoints proto is used to provide paths for users to send requests via private endpoints (e.g. private service access, private service connect). To send request via private service access, use match_grpc_address. To send request via private service connect, use service_attachment.",
      "properties": {
        "matchGrpcAddress": {
          "description": "Output only. The ip address used to send match gRPC requests.",
          "type": "string",
          "readOnly": true
        },
        "serviceAttachment": {
          "description": "Output only. The name of the service attachment resource. Populated if private service connect is enabled.",
          "readOnly": true,
          "type": "string"
        },
        "pscAutomatedEndpoints": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1PscAutomatedEndpoints"
          },
          "type": "array",
          "description": "Output only. PscAutomatedEndpoints is populated if private service connect is enabled if PscAutomatedConfig is set."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1IndexPrivateEndpoints"
    },
    "GoogleCloudAiplatformV1GcsSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https://cloud.google.com/storage/docs/wildcards."
        }
      }
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequest",
      "description": "Request message for MemoryBankService.GenerateMemories. Maximum size is 8 MB.",
      "properties": {
        "metadata": {
          "description": "Optional. User-provided metadata for the generated memories. This is not generated by Memory Bank.",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1MemoryMetadataValue"
          },
          "type": "object"
        },
        "revisionExpireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Timestamp of when the revision is considered expired. If not set, the memory revision will be kept until manually deleted."
        },
        "revisionTtl": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The TTL for the revision. The expiration time is computed: now + TTL."
        },
        "scope": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The scope of the memories that should be generated. Memories will be consolidated across memories with the same scope. Must be provided unless the scope is defined in the source content. If `scope` is provided, it will override the scope defined in the source content. Scope values cannot contain the wildcard character '*'."
        },
        "directContentsSource": {
          "$ref": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectContentsSource",
          "description": "Defines a direct source of content as the source content from which to generate memories."
        },
        "directMemoriesSource": {
          "description": "Defines a direct source of memories that should be uploaded to Memory Bank. This is similar to `CreateMemory`, but it allows for consolidation between these new memories and existing memories for the same scope.",
          "$ref": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSource"
        },
        "revisionLabels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels to be applied to the generated memory revisions. For example, you can use this to label a revision with its data source."
        },
        "disableConsolidation": {
          "description": "Optional. If true, generated memories will not be consolidated with existing memories; all generated memories will be added as new memories regardless of whether they are duplicates of or contradictory to existing memories. By default, memory consolidation is enabled.",
          "type": "boolean"
        },
        "allowedTopics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MemoryTopicId"
          },
          "description": "Optional. Restricts memory generation to a subset of memory topics."
        },
        "vertexSessionSource": {
          "$ref": "GoogleCloudAiplatformV1GenerateMemoriesRequestVertexSessionSource",
          "description": "Defines a Vertex Session as the source content from which to generate memories."
        },
        "disableMemoryRevisions": {
          "description": "Optional. If true, no revisions will be created for this request.",
          "type": "boolean"
        },
        "metadataMergeStrategy": {
          "enumDescriptions": [
            "Unspecified metadata merge strategy. If unspecified, the default behavior is to overwrite existing metadata (`OVERWRITE`).",
            "Replace the metadata of the updated memories with the new metadata.",
            "Append new metadata to the existing metadata. If there are duplicate keys, the existing values will be overwritten.",
            "Restrict consolidation to memories that have exactly the same metadata as the request. If a memory doesn't have the same metadata, it is not eligible for consolidation."
          ],
          "description": "Optional. The strategy to use when applying metadata to existing memories.",
          "enum": [
            "METADATA_MERGE_STRATEGY_UNSPECIFIED",
            "OVERWRITE",
            "MERGE",
            "REQUIRE_EXACT_MATCH"
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1PairwiseMetricResult": {
      "description": "Spec for pairwise metric result.",
      "properties": {
        "pairwiseChoice": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified prediction choice.",
            "Baseline prediction wins",
            "Candidate prediction wins",
            "Winner cannot be determined"
          ],
          "description": "Output only. Pairwise metric choice.",
          "enum": [
            "PAIRWISE_CHOICE_UNSPECIFIED",
            "BASELINE",
            "CANDIDATE",
            "TIE"
          ]
        },
        "explanation": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Explanation for pairwise metric score."
        },
        "customOutput": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1CustomOutput",
          "description": "Output only. Spec for custom output."
        }
      },
      "id": "GoogleCloudAiplatformV1PairwiseMetricResult",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PythonPackageSpec": {
      "description": "The spec of a Python packaged code.",
      "properties": {
        "executorImageUri": {
          "description": "Required. The URI of a container image in Artifact Registry that will run the provided Python package. Vertex AI provides a wide range of executor images with pre-installed packages to meet users' various use cases. See the list of [pre-built containers for training](https://cloud.google.com/vertex-ai/docs/training/pre-built-containers). You must use an image from this list.",
          "type": "string"
        },
        "args": {
          "description": "Command line arguments to be passed to the Python task.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageUris": {
          "description": "Required. The Google Cloud Storage location of the Python package files which are the training program and its dependent packages. The maximum number of package URIs is 100.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pythonModule": {
          "description": "Required. The Python module name to run after installing the packages.",
          "type": "string"
        },
        "env": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EnvVar"
          },
          "description": "Environment variables to be passed to the python module. Maximum limit is 100."
        }
      },
      "id": "GoogleCloudAiplatformV1PythonPackageSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs": {
      "properties": {
        "modelType": {
          "type": "string",
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "CLOUD",
            "MOBILE_VERSATILE_1",
            "MOBILE_CORAL_VERSATILE_1",
            "MOBILE_CORAL_LOW_LATENCY_1",
            "MOBILE_JETSON_VERSATILE_1",
            "MOBILE_JETSON_LOW_LATENCY_1"
          ],
          "enumDescriptions": [
            "Should not be set.",
            "A model best tailored to be used within Google Cloud, and which c annot be exported. Default.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as a TensorFlow or TensorFlow Lite model and used on a mobile or edge device afterwards.",
            "A versatile model that is meant to be exported (see ModelService.ExportModel) and used on a Google Coral device.",
            "A model that trades off quality for low latency, to be exported (see ModelService.ExportModel) and used on a Google Coral device.",
            "A versatile model that is meant to be exported (see ModelService.ExportModel) and used on an NVIDIA Jetson device.",
            "A model that trades off quality for low latency, to be exported (see ModelService.ExportModel) and used on an NVIDIA Jetson device."
          ]
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecAppBuilderDataLinkedResource": {
      "description": "A linked resource attached to the application by the user.",
      "properties": {
        "type": {
          "description": "The type of the linked resource. e.g., \"SAVED_PROMPT\", \"AI_AGENT\" This string corresponds to the name of the LinkedResourceType enum member. See: google3/cloud/console/web/ai/platform/llm/prompts/build/services/specs_repository_service/linked_resources/linked_resource.ts",
          "type": "string"
        },
        "displayName": {
          "description": "A user-friendly name for the data source shown in the UI.",
          "type": "string"
        },
        "name": {
          "description": "The unique resource name of the data source. The format is determined by the 'type' field. For type \"SAVED_PROMPT\": projects/{project}/locations/{location}/datasets/{dataset} For type \"AI_AGENT\": projects/{project}/locations/{location}/agents/{agent}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecAppBuilderDataLinkedResource"
    },
    "GoogleCloudAiplatformV1Featurestore": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Featurestore",
      "description": "Vertex AI Feature Store provides a centralized repository for organizing, storing, and serving ML features. The Featurestore is a top-level container for your features and their values.",
      "properties": {
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Featurestore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Featurestore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, both of the online and offline data storage will be secured by this key."
        },
        "name": {
          "description": "Output only. Name of the Featurestore. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}`",
          "readOnly": true,
          "type": "string"
        },
        "onlineServingConfig": {
          "$ref": "GoogleCloudAiplatformV1FeaturestoreOnlineServingConfig",
          "description": "Optional. Config for online storage resources. The field should not co-exist with the field of `OnlineStoreReplicationConfig`. If both of it and OnlineStoreReplicationConfig are unset, the feature store will not have an online store and cannot be used for online serving."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Timestamp when this Featurestore was last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the featurestore.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featurestore configuration is not being updated and the fields reflect the current configuration of the featurestore. The featurestore is usable in this state.",
            "The state of the featurestore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featurestore. For example, `online_serving_config.fixed_node_count` can take minutes to update. While the update is in progress, the featurestore is in the UPDATING state, and the value of `fixed_node_count` can be the original value or the updated value, depending on the progress of the operation. Until the update completes, the actual number of nodes can still be the original value of `fixed_node_count`. The featurestore is still usable in this state."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Featurestore was created."
        },
        "etag": {
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "onlineStorageTtlDays": {
          "description": "Optional. TTL in days for feature values that will be stored in online serving storage. The Feature Store online storage periodically removes obsolete feature values older than `online_storage_ttl_days` since the feature generation time. Note that `online_storage_ttl_days` should be less than or equal to `offline_storage_ttl_days` for each EntityType under a featurestore. If not set, default to 4000 days",
          "format": "int32",
          "type": "integer"
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1FindNeighborsResponseNeighbor": {
      "description": "A neighbor of the query vector.",
      "properties": {
        "datapoint": {
          "$ref": "GoogleCloudAiplatformV1IndexDatapoint",
          "description": "The datapoint of the neighbor. Note that full datapoints are returned only when \"return_full_datapoint\" is set to true. Otherwise, only the \"datapoint_id\" and \"crowding_tag\" fields are populated."
        },
        "distance": {
          "format": "double",
          "type": "number",
          "description": "The distance between the neighbor and the dense embedding query."
        },
        "sparseDistance": {
          "type": "number",
          "format": "double",
          "description": "The distance between the neighbor and the query sparse_embedding."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1FindNeighborsResponseNeighbor"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec": {
      "description": "Specification for deploying from source code.",
      "properties": {
        "pythonSpec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecPythonSpec",
          "description": "Configuration for a Python application."
        },
        "imageSpec": {
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecImageSpec",
          "description": "Optional. Configuration for building an image with custom config file."
        },
        "developerConnectSource": {
          "description": "Source code is in a Git repository managed by Developer Connect.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecDeveloperConnectSource"
        },
        "inlineSource": {
          "description": "Source code is provided directly in the request.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecInlineSource"
        },
        "agentConfigSource": {
          "description": "Source code is generated from the agent config.",
          "$ref": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpecAgentConfigSource"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecSourceCodeSpec"
    },
    "GoogleCloudAiplatformV1GoogleDriveSource": {
      "description": "The Google Drive location for the input content.",
      "properties": {
        "resourceIds": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1GoogleDriveSourceResourceId"
          },
          "description": "Required. Google Drive resource IDs."
        }
      },
      "id": "GoogleCloudAiplatformV1GoogleDriveSource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Content": {
      "id": "GoogleCloudAiplatformV1Content",
      "type": "object",
      "description": "The structured data content of a message. A Content message contains a `role` field, which indicates the producer of the content, and a `parts` field, which contains the multi-part data of the message.",
      "properties": {
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. If not set, the service will default to 'user'.",
          "type": "string"
        },
        "parts": {
          "description": "Required. A list of Part objects that make up a single message. Parts of a message can have different MIME types. A Content message must have at least one Part.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Part"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchSpec": {
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchSpec",
      "type": "object",
      "description": "Spec for tool parameter key match metric.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1AppendEventResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1AppendEventResponse",
      "description": "Response message for SessionService.AppendEvent.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1EvaluationRun": {
      "description": "EvaluationRun is a resource that represents a single evaluation run, which includes a set of prompts, model responses, evaluation configuration and the resulting metrics.",
      "properties": {
        "labels": {
          "description": "Optional. Labels for the evaluation run.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "error": {
          "description": "Output only. Only populated when the evaluation run's state is FAILED or CANCELLED.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "displayName": {
          "description": "Required. The display name of the Evaluation Run.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "INFERENCE",
            "GENERATING_RUBRICS",
            "GENERATING_LOSS_CLUSTERS"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The evaluation run is pending.",
            "The evaluation run is running.",
            "The evaluation run has succeeded.",
            "The evaluation run has failed.",
            "The evaluation run has been cancelled.",
            "The evaluation run is performing inference.",
            "The evaluation run is performing rubric generation.",
            "The evaluation run is performing loss analysis."
          ],
          "description": "Output only. The state of the evaluation run.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the EvaluationRun. This is a unique identifier. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluation_run}`",
          "type": "string"
        },
        "inferenceConfigs": {
          "description": "Optional. The candidate to inference config map for the evaluation run. The candidate can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1EvaluationRunInferenceConfig"
          }
        },
        "completionTime": {
          "description": "Output only. Time when the evaluation run was completed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Optional. Metadata about the evaluation run, can be used by the caller to store additional tracking information about the evaluation run.",
          "type": "any"
        },
        "evaluationConfig": {
          "description": "Required. The configuration used for the evaluation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfig"
        },
        "evaluationResults": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1EvaluationResults",
          "description": "Output only. The results of the evaluation run. Only populated when the evaluation run's state is SUCCEEDED."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when the evaluation run was created."
        },
        "dataSource": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunDataSource",
          "description": "Required. The data source for the evaluation run."
        },
        "evaluationSetSnapshot": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The specific evaluation set of the evaluation run. For runs with an evaluation set input, this will be that same set. For runs with BigQuery input, it's the sampled BigQuery dataset."
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluationRun",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ResourcePool": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ResourcePool",
      "description": "Represents the spec of a group of resources of the same type, for example machine type, disk, and accelerators, in a PersistentResource.",
      "properties": {
        "id": {
          "description": "Immutable. The unique ID in a PersistentResource for referring to this resource pool. User can specify it if necessary. Otherwise, it's generated automatically.",
          "type": "string"
        },
        "machineSpec": {
          "description": "Required. Immutable. The specification of a single machine.",
          "$ref": "GoogleCloudAiplatformV1MachineSpec"
        },
        "autoscalingSpec": {
          "$ref": "GoogleCloudAiplatformV1ResourcePoolAutoscalingSpec",
          "description": "Optional. Optional spec to configure GKE or Ray-on-Vertex autoscaling"
        },
        "replicaCount": {
          "description": "Optional. The total number of machines to use for this resource pool.",
          "type": "string",
          "format": "int64"
        },
        "usedReplicaCount": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The number of machines currently in use by training jobs for this resource pool. Will replace idle_replica_count."
        },
        "diskSpec": {
          "$ref": "GoogleCloudAiplatformV1DiskSpec",
          "description": "Optional. Disk spec for the machine in this node pool."
        }
      }
    },
    "GoogleCloudAiplatformV1SharePointSources": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SharePointSources",
      "description": "The SharePointSources to pass to ImportRagFiles.",
      "properties": {
        "sharePointSources": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SharePointSourcesSharePointSource"
          },
          "type": "array",
          "description": "The SharePoint sources."
        }
      }
    },
    "GoogleCloudAiplatformV1PurgeArtifactsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PurgeArtifactsResponse",
      "description": "Response message for MetadataService.PurgeArtifacts.",
      "properties": {
        "purgeCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of Artifacts that this request deleted (or, if `force` is false, the number of Artifacts that will be deleted). This can be an estimate."
        },
        "purgeSample": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A sample of the Artifact names that will be deleted. Only populated if `force` is set to false. The maximum number of samples is 100 (it is possible to return fewer)."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptInstancePromptExecution": {
      "description": "A prompt instance's parameters set that contains a set of variable values.",
      "properties": {
        "arguments": {
          "description": "Maps variable names to their value.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1SchemaPromptInstanceVariableValue"
          }
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptInstancePromptExecution"
    },
    "GoogleCloudAiplatformV1ExportFractionSplit": {
      "id": "GoogleCloudAiplatformV1ExportFractionSplit",
      "type": "object",
      "description": "Assigns the input data to training, validation, and test sets as per the given fractions. Any of `training_fraction`, `validation_fraction` and `test_fraction` may optionally be provided, they must sum to up to 1. If the provided ones sum to less than 1, the remainder is assigned to sets as decided by Vertex AI. If none of the fractions are set, by default roughly 80% of data is used for training, 10% for validation, and 10% for test.",
      "properties": {
        "trainingFraction": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the input data that is to be used to train the Model."
        },
        "testFraction": {
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "type": "number",
          "format": "double"
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1EnvVar": {
      "description": "Represents an environment variable present in a Container or Python Module.",
      "properties": {
        "value": {
          "description": "Required. Variables that reference a $(VAR_NAME) are expanded using the previous defined environment variables in the container and any service environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not.",
          "type": "string"
        },
        "name": {
          "description": "Required. Name of the environment variable. Must be a valid C identifier.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1EnvVar",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ThresholdConfig": {
      "description": "The config for feature monitoring threshold.",
      "properties": {
        "value": {
          "description": "Specify a threshold value that can trigger the alert. If this threshold config is for feature distribution distance: 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence. Each feature must have a non-zero threshold if they need to be monitored. Otherwise no alert will be triggered for that feature.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ThresholdConfig"
    },
    "GoogleCloudAiplatformV1PurgeContextsRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PurgeContextsRequest",
      "description": "Request message for MetadataService.PurgeContexts.",
      "properties": {
        "filter": {
          "description": "Required. A required filter matching the Contexts to be purged. E.g., `update_time <= 2020-11-19T11:30:00-04:00`.",
          "type": "string"
        },
        "force": {
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Context names that would be deleted.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig": {
      "id": "GoogleCloudAiplatformV1MigrateResourceRequestMigrateAutomlDatasetConfig",
      "type": "object",
      "description": "Config for migrating Dataset in automl.googleapis.com to Vertex AI's Dataset.",
      "properties": {
        "dataset": {
          "description": "Required. Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "datasetDisplayName": {
          "description": "Required. Display name of the Dataset in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListModelEvaluationSlicesResponse": {
      "id": "GoogleCloudAiplatformV1ListModelEvaluationSlicesResponse",
      "type": "object",
      "description": "Response message for ModelService.ListModelEvaluationSlices.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListModelEvaluationSlicesRequest.page_token to obtain that page.",
          "type": "string"
        },
        "modelEvaluationSlices": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluationSlice"
          },
          "type": "array",
          "description": "List of ModelEvaluations in the requested page."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch": {
      "description": "Standard web search for grounding and related configurations. Only text results are returned.",
      "properties": {},
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolGoogleSearchWebSearch"
    },
    "GoogleCloudAiplatformV1OutputConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1OutputConfig",
      "description": "Config for evaluation output.",
      "properties": {
        "gcsDestination": {
          "$ref": "GoogleCloudAiplatformV1GcsDestination",
          "description": "Cloud storage destination for evaluation output."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance": {
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchInstance",
      "type": "object",
      "description": "Spec for tool parameter key match instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RougeSpec": {
      "description": "Spec for rouge score metric - calculates the recall of n-grams in prediction as compared to reference - returns a score ranging between 0 and 1.",
      "properties": {
        "rougeType": {
          "description": "Optional. Supported rouge types are rougen[1-9], rougeL, and rougeLsum.",
          "type": "string"
        },
        "useStemmer": {
          "description": "Optional. Whether to use stemmer to compute rouge score.",
          "type": "boolean"
        },
        "splitSummaries": {
          "description": "Optional. Whether to split summaries while using rougeLsum.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1RougeSpec",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation": {
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation",
      "type": "object",
      "description": "Explanation result of the prediction produced by the Model.",
      "properties": {
        "explanationType": {
          "description": "Explanation type. For AutoML Image Classification models, possible values are: * `image-integrated-gradients` * `image-xrai`",
          "type": "string"
        },
        "explanation": {
          "$ref": "GoogleCloudAiplatformV1Explanation",
          "description": "Explanation attribution response details."
        }
      }
    },
    "GoogleCloudAiplatformV1OutputFieldSpec": {
      "id": "GoogleCloudAiplatformV1OutputFieldSpec",
      "type": "object",
      "description": "Specifies the properties of a single field that are included in each generated synthetic example. This helps the model understand what kind of data to generate for each field.",
      "properties": {
        "fieldType": {
          "enumDescriptions": [
            "The field type is not specified. Defaults to CONTENT.",
            "The field can contain any type of content, including text, images, and audio.",
            "The field contains only text.",
            "The field contains image data.",
            "The field contains audio data."
          ],
          "description": "Optional. The data type of the field. Defaults to CONTENT if not set.",
          "enum": [
            "FIELD_TYPE_UNSPECIFIED",
            "CONTENT",
            "TEXT",
            "IMAGE",
            "AUDIO"
          ],
          "type": "string"
        },
        "fieldName": {
          "description": "Required. The name of this field in the generated synthetic data, such as \"email_subject\" or \"customer_review\".",
          "type": "string"
        },
        "guidance": {
          "description": "Optional. Specific instructions for the large language model on how to generate content for this particular field. While the LLM can sometimes infer content from the field name, providing explicit guidance is preferred. For example, for a field named \"review\", the guidance could be \"A positive review about a coffee maker.\"",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1CacheConfig": {
      "description": "Config of GenAI caching features. This is a singleton resource.",
      "properties": {
        "name": {
          "description": "Identifier. Name of the cache config. Format: - `projects/{project}/cacheConfig`.",
          "type": "string"
        },
        "disableCache": {
          "description": "If set to true, disables GenAI caching. Otherwise caching is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CacheConfig"
    },
    "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata": {
      "description": "This message will be placed in the metadata field of a google.longrunning.Operation associated with a CheckTrialEarlyStoppingState request.",
      "properties": {
        "study": {
          "description": "The name of the Study that the Trial belongs to.",
          "type": "string"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for suggesting Trials."
        },
        "trial": {
          "description": "The Trial name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateMetatdata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigrateResourceRequestMigrateMlEngineModelVersionConfig": {
      "description": "Config for migrating version in ml.googleapis.com to Vertex AI's Model.",
      "properties": {
        "endpoint": {
          "description": "Required. The ml.googleapis.com endpoint that this model version should be migrated from. Example values: * ml.googleapis.com * us-centrall-ml.googleapis.com * europe-west4-ml.googleapis.com * asia-east1-ml.googleapis.com",
          "type": "string"
        },
        "modelDisplayName": {
          "description": "Required. Display name of the model in Vertex AI. System will pick a display name if unspecified.",
          "type": "string"
        },
        "modelVersion": {
          "description": "Required. Full resource name of ml engine model version. Format: `projects/{project}/models/{model}/versions/{version}`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigrateResourceRequestMigrateMlEngineModelVersionConfig"
    },
    "GoogleCloudAiplatformV1EvaluationParserConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationParserConfig",
      "type": "object",
      "description": "Config for parsing LLM responses. It can be used to parse the LLM response to be evaluated, or the LLM response from LLM-based metrics/Autoraters.",
      "properties": {
        "customCodeParserConfig": {
          "description": "Optional. Use custom code to parse the LLM response.",
          "$ref": "GoogleCloudAiplatformV1EvaluationParserConfigCustomCodeParserConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1PreferenceOptimizationDataStats": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PreferenceOptimizationDataStats",
      "description": "Statistics computed for datasets used for preference optimization.",
      "properties": {
        "tuningStepCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of tuning steps for this Tuning Job."
        },
        "scoreVariancePerExampleDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for scores variance per example."
        },
        "userDatasetExamples": {
          "description": "Output only. Sample user examples in the training dataset.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1GeminiPreferenceExample"
          },
          "type": "array"
        },
        "userInputTokenDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for the user input tokens."
        },
        "droppedExampleIndices": {
          "description": "Output only. A partial sample of the indices (starting from 1) of the dropped examples.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "tuningDatasetExampleCount": {
          "description": "Output only. Number of examples in the tuning dataset.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "droppedExampleReasons": {
          "description": "Output only. For each index in `dropped_example_indices`, the user-facing reason why the example was dropped.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "totalBillableTokenCount": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Number of billable tokens in the tuning dataset."
        },
        "userOutputTokenDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for the user output tokens."
        },
        "scoresDistribution": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1DatasetDistribution",
          "description": "Output only. Dataset distributions for scores."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsVideoObjectTrackingPredictionParams": {
      "description": "Prediction model parameters for Video Object Tracking.",
      "properties": {
        "maxPredictions": {
          "description": "The model only returns up to that many top, by confidence score, predictions per frame of the video. If this number is very high, the Model may return fewer predictions per frame. Default value is 50.",
          "type": "integer",
          "format": "int32"
        },
        "minBoundingBoxSize": {
          "format": "float",
          "type": "number",
          "description": "Only bounding boxes with shortest edge at least that long as a relative value of video frame size are returned. Default value is 0.0."
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsVideoObjectTrackingPredictionParams"
    },
    "GoogleCloudAiplatformV1DeployRequestEndpointConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1DeployRequestEndpointConfig",
      "description": "The endpoint config to use for the deployment.",
      "properties": {
        "dedicatedEndpointEnabled": {
          "description": "Optional. Deprecated. Use dedicated_endpoint_disabled instead. If true, the endpoint will be exposed through a dedicated DNS [Endpoint.dedicated_endpoint_dns]. Your request to the dedicated DNS will be isolated from other users' traffic and will have better performance and reliability. Note: Once you enabled dedicated endpoint, you won't be able to send request to the shared DNS {region}-aiplatform.googleapis.com. The limitations will be removed soon.",
          "deprecated": true,
          "type": "boolean"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize your Endpoints. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "endpointUserId": {
          "description": "Optional. Immutable. The ID to use for endpoint, which will become the final component of the endpoint resource name. If not provided, Vertex AI will generate a value for this ID. If the first character is a letter, this value may be up to 63 characters, and valid characters are `[a-z0-9-]`. The last character must be a letter or number. If the first character is a number, this value may be up to 9 characters, and valid characters are `[0-9]` with no leading zeros. When using HTTP/JSON, this field is populated based on a query string argument, such as `?endpoint_id=12345`. This is the fallback for fields that are not included in either the URI or the body.",
          "type": "string"
        },
        "endpointDisplayName": {
          "description": "Optional. The user-specified display name of the endpoint. If not set, a default name will be used.",
          "type": "string"
        },
        "privateServiceConnectConfig": {
          "$ref": "GoogleCloudAiplatformV1PrivateServiceConnectConfig",
          "description": "Optional. Configuration for private service connect. If set, the endpoint will be exposed through private service connect."
        },
        "dedicatedEndpointDisabled": {
          "description": "Optional. By default, if dedicated endpoint is enabled and private service connect config is not set, the endpoint will be exposed through a dedicated DNS [Endpoint.dedicated_endpoint_dns]. If private service connect config is set, the endpoint will be exposed through private service connect. Your request to the dedicated DNS will be isolated from other users' traffic and will have better performance and reliability. Note: Once you enabled dedicated endpoint, you won't be able to send request to the shared DNS {region}-aiplatform.googleapis.com. The limitations will be removed soon. If this field is set to true, the dedicated endpoint will be disabled and the deployed model will be exposed through the shared DNS {region}-aiplatform.googleapis.com.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1CancelBatchPredictionJobRequest",
      "description": "Request message for JobService.CancelBatchPredictionJob.",
      "properties": {}
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata": {
      "description": "All metadata of most recent monitoring pipelines.",
      "properties": {
        "runTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time that most recent monitoring pipelines that is related to this run."
        },
        "status": {
          "description": "The status of the most recent monitoring pipeline.",
          "$ref": "GoogleRpcStatus"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringJobLatestMonitoringPipelineMetadata",
      "type": "object"
    },
    "CloudAiLargeModelsVisionGenerateVideoResponse": {
      "description": "Generate video response.",
      "properties": {
        "raiMediaFilteredCount": {
          "description": "Returns if any videos were filtered due to RAI policies.",
          "type": "integer",
          "format": "int32"
        },
        "generatedSamples": {
          "description": "The generates samples.",
          "type": "array",
          "items": {
            "$ref": "CloudAiLargeModelsVisionMedia"
          }
        },
        "videos": {
          "description": "List of videos, used to align naming with the external response.",
          "items": {
            "$ref": "CloudAiLargeModelsVisionGenerateVideoResponseVideo"
          },
          "type": "array"
        },
        "raiMediaFilteredReasons": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Returns rai failure reasons if any."
        }
      },
      "type": "object",
      "id": "CloudAiLargeModelsVisionGenerateVideoResponse"
    },
    "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData": {
      "description": "Container to hold value(s), successive in time, for one Feature from the request.",
      "properties": {
        "value": {
          "$ref": "GoogleCloudAiplatformV1FeatureValue",
          "description": "Feature value if a single value is requested."
        },
        "values": {
          "description": "Feature values list if values, successive in time, are requested. If the requested number of values is greater than the number of existing Feature values, nonexistent values are omitted instead of being returned as empty.",
          "$ref": "GoogleCloudAiplatformV1FeatureValueList"
        }
      },
      "id": "GoogleCloudAiplatformV1ReadFeatureValuesResponseEntityViewData",
      "type": "object"
    },
    "GoogleCloudAiplatformV1UndeployModelOperationMetadata": {
      "description": "Runtime operation information for EndpointService.UndeployModel.",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "id": "GoogleCloudAiplatformV1UndeployModelOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics",
      "type": "object",
      "description": "Metrics for classification evaluation results.",
      "properties": {
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation.",
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix"
        },
        "auRoc": {
          "type": "number",
          "format": "float",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation."
        },
        "logLoss": {
          "description": "The Log Loss metric.",
          "type": "number",
          "format": "float"
        },
        "auPrc": {
          "description": "The Area Under Precision-Recall Curve metric. Micro-averaged for the overall evaluation.",
          "format": "float",
          "type": "number"
        },
        "confidenceMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics"
          },
          "type": "array",
          "description": "Metrics for each `confidenceThreshold` in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and `positionThreshold` = INT32_MAX_VALUE. ROC and precision-recall curves, and other aggregated metrics are derived from them. The confidence metrics entries may also be supplied for additional values of `positionThreshold`, but from these no aggregated metrics are computed."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextClassificationAnnotation": {
      "description": "Annotation details specific to text classification.",
      "properties": {
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTextClassificationAnnotation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentData": {
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentData",
      "description": "Deprecated: Use `agent_eval_data` instead. Contains data specific to agent evaluations.",
      "properties": {
        "tools": {
          "description": "List of tools.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataTools"
        },
        "turns": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataConversationTurn"
          },
          "type": "array",
          "description": "Optional. The chronological list of conversation turns. Each turn represents a logical execution cycle (e.g., User Input -> Agent Response)."
        },
        "events": {
          "description": "A list of events.",
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentDataEvents"
        },
        "toolsText": {
          "type": "string",
          "description": "A JSON string containing a list of tools available to an agent with info such as name, description, parameters and required parameters.",
          "deprecated": true
        },
        "agents": {
          "description": "Optional. The static Agent Configuration. This map defines the graph structure of the agent system. Key: agent_id (matches the `author` field in events). Value: The static configuration of the agent (tools, instructions, sub-agents).",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig"
          }
        },
        "agentConfig": {
          "description": "Optional. Deprecated: Use `agent_eval_data` instead. Agent configuration.",
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig"
        },
        "developerInstruction": {
          "description": "Optional. Deprecated: Use `agents.developer_instruction` or `turns.events.active_instruction` instead. A field containing instructions from the developer for the agent.",
          "deprecated": true,
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData"
        }
      }
    },
    "GoogleCloudAiplatformV1ApiAuth": {
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead.",
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
          "description": "The API secret."
        }
      },
      "id": "GoogleCloudAiplatformV1ApiAuth",
      "type": "object"
    },
    "CloudAiLargeModelsVisionRaiInfo": {
      "id": "CloudAiLargeModelsVisionRaiInfo",
      "type": "object",
      "description": "Next ID: 6",
      "properties": {
        "blockedEntities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of blocked entities from the blocklist if it is detected."
        },
        "scores": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "List of rai scores mapping to the rai categories. Rounded to 1 decimal place."
        },
        "modelName": {
          "description": "The model name used to indexing into the RaiFilterConfig map. Would either be one of imagegeneration@002-006, imagen-3.0-... api endpoint names, or internal names used for mapping to different filter configs (genselfie, ai_watermark) than its api endpoint.",
          "type": "string"
        },
        "raiCategories": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of rai categories' information to return"
        },
        "detectedLabels": {
          "type": "array",
          "items": {
            "$ref": "CloudAiLargeModelsVisionRaiInfoDetectedLabels"
          },
          "description": "The list of detected labels for different rai categories."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaVideoDataItem": {
      "description": "Payload of Video DataItem.",
      "properties": {
        "mimeType": {
          "description": "Output only. The mime type of the content of the video. Only the videos in below listed mime types are supported. Supported mime_type: - video/mp4 - video/avi - video/quicktime",
          "type": "string",
          "readOnly": true
        },
        "gcsUri": {
          "description": "Required. Google Cloud Storage URI points to the original video in user's bucket. The video is up to 50 GB in size and up to 3 hour in duration.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaVideoDataItem"
    },
    "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec": {
      "description": "The spec of multi-trial Neural Architecture Search (NAS).",
      "properties": {
        "searchTrialSpec": {
          "description": "Required. Spec for search trials.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecSearchTrialSpec"
        },
        "trainTrialSpec": {
          "description": "Spec for train trials. Top N [TrainTrialSpec.max_parallel_trial_count] search trials will be trained for every M [TrainTrialSpec.frequency] trials searched.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecTrainTrialSpec"
        },
        "multiTrialAlgorithm": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to `REINFORCEMENT_LEARNING`.",
            "The Reinforcement Learning Algorithm for Multi-trial Neural Architecture Search (NAS).",
            "The Grid Search Algorithm for Multi-trial Neural Architecture Search (NAS)."
          ],
          "description": "The multi-trial Neural Architecture Search (NAS) algorithm type. Defaults to `REINFORCEMENT_LEARNING`.",
          "enum": [
            "MULTI_TRIAL_ALGORITHM_UNSPECIFIED",
            "REINFORCEMENT_LEARNING",
            "GRID_SEARCH"
          ]
        },
        "metric": {
          "description": "Metric specs for the NAS job. Validation for this field is done at `multi_trial_algorithm_spec` field.",
          "$ref": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpecMetricSpec"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1NasJobSpecMultiTrialAlgorithmSpec"
    },
    "GoogleCloudAiplatformV1ListModelDeploymentMonitoringJobsResponse": {
      "id": "GoogleCloudAiplatformV1ListModelDeploymentMonitoringJobsResponse",
      "type": "object",
      "description": "Response message for JobService.ListModelDeploymentMonitoringJobs.",
      "properties": {
        "modelDeploymentMonitoringJobs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelDeploymentMonitoringJob"
          },
          "type": "array",
          "description": "A list of ModelDeploymentMonitoringJobs that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1MemoryBankCustomizationConfigGenerateMemoriesExampleConversationSourceEvent": {
      "description": "A single conversation event.",
      "properties": {
        "content": {
          "$ref": "GoogleCloudAiplatformV1Content",
          "description": "Required. Represents the content of the event."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MemoryBankCustomizationConfigGenerateMemoriesExampleConversationSourceEvent"
    },
    "GoogleCloudAiplatformV1BleuInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1BleuInstance",
      "description": "Spec for bleu instance.",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognitionInputs": {
      "properties": {
        "modelType": {
          "enumDescriptions": [
            "Should not be set.",
            "A model best tailored to be used within Google Cloud, and which c annot be exported. Default.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as a TensorFlow or TensorFlow Lite model and used on a mobile or edge device afterwards.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) to a Jetson device afterwards.",
            "A model that, in addition to being available within Google Cloud, can also be exported (see ModelService.ExportModel) as a TensorFlow or TensorFlow Lite model and used on a Coral device afterwards."
          ],
          "enum": [
            "MODEL_TYPE_UNSPECIFIED",
            "CLOUD",
            "MOBILE_VERSATILE_1",
            "MOBILE_JETSON_VERSATILE_1",
            "MOBILE_CORAL_VERSATILE_1"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoActionRecognitionInputs"
    },
    "GoogleCloudAiplatformV1RubricBasedInstructionFollowingResult": {
      "description": "Result for RubricBasedInstructionFollowing metric.",
      "properties": {
        "score": {
          "description": "Output only. Overall score for the instruction following.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "rubricCritiqueResults": {
          "description": "Output only. List of per rubric critique results.",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1RubricCritiqueResult"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1RubricBasedInstructionFollowingResult"
    },
    "GoogleCloudAiplatformV1PartialArg": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PartialArg",
      "description": "Partial argument value of the function call.",
      "properties": {
        "willContinue": {
          "description": "Optional. Whether this is not the last part of the same json_path. If true, another PartialArg message for the current json_path is expected to follow.",
          "type": "boolean"
        },
        "numberValue": {
          "format": "double",
          "type": "number",
          "description": "Optional. Represents a double value."
        },
        "boolValue": {
          "description": "Optional. Represents a boolean value.",
          "type": "boolean"
        },
        "nullValue": {
          "description": "Optional. Represents a null value.",
          "enum": [
            "NULL_VALUE"
          ],
          "enumDescriptions": [
            "Null value."
          ],
          "type": "string"
        },
        "stringValue": {
          "description": "Optional. Represents a string value.",
          "type": "string"
        },
        "jsonPath": {
          "description": "Required. A JSON Path (RFC 9535) to the argument being streamed. https://datatracker.ietf.org/doc/html/rfc9535. e.g. \"$.foo.bar[0].data\".",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataRequest": {
      "description": "Request message for TensorboardService.ExportTensorboardTimeSeriesData.",
      "properties": {
        "filter": {
          "description": "Exports the TensorboardTimeSeries' data that match the filter expression.",
          "type": "string"
        },
        "orderBy": {
          "description": "Field to use to sort the TensorboardTimeSeries' data. By default, TensorboardTimeSeries' data is returned in a pseudo random order.",
          "type": "string"
        },
        "pageToken": {
          "description": "A page token, received from a previous ExportTensorboardTimeSeriesData call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to ExportTensorboardTimeSeriesData must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of data points to return per page. The default page_size is 1000. Values must be between 1 and 10000. Values above 10000 are coerced to 10000."
        }
      },
      "id": "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataRequest",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationCategoricalTransformation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NasJobOutput": {
      "id": "GoogleCloudAiplatformV1NasJobOutput",
      "type": "object",
      "description": "Represents a uCAIP NasJob output.",
      "properties": {
        "multiTrialJobOutput": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1NasJobOutputMultiTrialJobOutput",
          "description": "Output only. The output of this multi-trial Neural Architecture Search (NAS) job."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesRequest": {
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesRequest",
      "type": "object",
      "description": "Request message for MigrationService.BatchMigrateResources.",
      "properties": {
        "migrateResourceRequests": {
          "description": "Required. The request messages specifying the resources to migrate. They must be in the same location as the destination. Up to 50 resources can be migrated in one batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1MigrateResourceRequest"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1RayMetricSpec": {
      "id": "GoogleCloudAiplatformV1RayMetricSpec",
      "type": "object",
      "description": "Configuration for the Ray metrics.",
      "properties": {
        "disabled": {
          "description": "Optional. Flag to disable the Ray metrics collection.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeatureNoiseSigmaNoiseSigmaForFeature",
      "description": "Noise sigma for a single feature.",
      "properties": {
        "name": {
          "description": "The name of the input feature for which noise sigma is provided. The features are defined in explanation metadata inputs.",
          "type": "string"
        },
        "sigma": {
          "description": "This represents the standard deviation of the Gaussian kernel that will be used to add noise to the feature prior to computing gradients. Similar to noise_sigma but represents the noise added to the current feature. Defaults to 0.1.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsRequest": {
      "id": "GoogleCloudAiplatformV1AddContextArtifactsAndExecutionsRequest",
      "type": "object",
      "description": "Request message for MetadataService.AddContextArtifactsAndExecutions.",
      "properties": {
        "artifacts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource names of the Artifacts to attribute to the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/artifacts/{artifact}`"
        },
        "executions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The resource names of the Executions to associate with the Context. Format: `projects/{project}/locations/{location}/metadataStores/{metadatastore}/executions/{execution}`"
        }
      }
    },
    "GoogleCloudAiplatformV1MeasurementMetric": {
      "description": "A message representing a metric in the measurement.",
      "properties": {
        "value": {
          "description": "Output only. The value for this metric.",
          "type": "number",
          "readOnly": true,
          "format": "double"
        },
        "metricId": {
          "description": "Output only. The ID of the Metric. The Metric should be defined in StudySpec's Metrics.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MeasurementMetric",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AvroSource": {
      "description": "The storage details for Avro input content.",
      "properties": {
        "gcsSource": {
          "description": "Required. Google Cloud Storage location.",
          "$ref": "GoogleCloudAiplatformV1GcsSource"
        }
      },
      "id": "GoogleCloudAiplatformV1AvroSource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SummarizationHelpfulnessInput": {
      "description": "Input for summarization helpfulness metric.",
      "properties": {
        "instance": {
          "description": "Required. Summarization helpfulness instance.",
          "$ref": "GoogleCloudAiplatformV1SummarizationHelpfulnessInstance"
        },
        "metricSpec": {
          "description": "Required. Spec for summarization helpfulness score metric.",
          "$ref": "GoogleCloudAiplatformV1SummarizationHelpfulnessSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1SummarizationHelpfulnessInput",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsResponse": {
      "id": "GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsResponse",
      "type": "object",
      "description": "Response message for ModelService.BatchImportEvaluatedAnnotations",
      "properties": {
        "importedEvaluatedAnnotationsCount": {
          "description": "Output only. Number of EvaluatedAnnotations imported.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1ListModelEvaluationsResponse": {
      "description": "Response message for ModelService.ListModelEvaluations.",
      "properties": {
        "modelEvaluations": {
          "description": "List of ModelEvaluations in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelEvaluation"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass to ListModelEvaluationsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListModelEvaluationsResponse"
    },
    "GoogleCloudAiplatformV1PersistentResource": {
      "description": "Represents long-lasting resources that are dedicated to users to runs custom workloads. A PersistentResource can have multiple node pools and each node pool can have its own machine spec.",
      "properties": {
        "pscInterfaceConfig": {
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig",
          "description": "Optional. Configuration for PSC-I for PersistentResource."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the PersistentResource was created."
        },
        "resourceRuntimeSpec": {
          "description": "Optional. Persistent Resource runtime spec. For example, used for Ray cluster configuration.",
          "$ref": "GoogleCloudAiplatformV1ResourceRuntimeSpec"
        },
        "reservedIpRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of names for the reserved IP ranges under the VPC network that can be used for this persistent resource. If set, we will deploy the persistent resource within the provided IP ranges. Otherwise, the persistent resource is deployed to any IP ranges under the provided VPC network. Example: ['vertex-ai-ip-range']."
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Optional. Customer-managed encryption key spec for a PersistentResource. If set, this PersistentResource and all sub-resources of this PersistentResource will be secured by this key."
        },
        "name": {
          "description": "Immutable. Resource name of a PersistentResource.",
          "type": "string"
        },
        "resourcePools": {
          "description": "Required. The spec of the pools of different resources.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ResourcePool"
          },
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "STOPPING",
            "ERROR",
            "REBOOTING",
            "UPDATING"
          ],
          "description": "Output only. The detailed state of a Study.",
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the persistent resources is being created.",
            "The RUNNING state indicates the persistent resource is healthy and fully usable.",
            "The STOPPING state indicates the persistent resource is being deleted.",
            "The ERROR state indicates the persistent resource may be unusable. Details can be found in the `error` field.",
            "The REBOOTING state indicates the persistent resource is being rebooted (PR is not available right now but is expected to be ready again later).",
            "The UPDATING state indicates the persistent resource is being updated."
          ],
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the PersistentResource was most recently updated."
        },
        "displayName": {
          "description": "Optional. The display name of the PersistentResource. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "resourceRuntime": {
          "description": "Output only. Runtime information of the Persistent Resource.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1ResourceRuntime"
        },
        "error": {
          "description": "Output only. Only populated when persistent resource's state is `STOPPING` or `ERROR`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "startTime": {
          "description": "Output only. Time when the PersistentResource for the first time entered the `RUNNING` state.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata to organize PersistentResource. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "network": {
          "description": "Optional. The full name of the Compute Engine [network](/compute/docs/networks-and-firewalls#networks) to peered with Vertex AI to host the persistent resources. For example, `projects/12345/global/networks/myVPC`. [Format](/compute/docs/reference/rest/v1/networks/insert) is of the form `projects/{project}/global/networks/{network}`. Where {project} is a project number, as in `12345`, and {network} is a network name. To specify this field, you must have already [configured VPC Network Peering for Vertex AI](https://cloud.google.com/vertex-ai/docs/general/vpc-peering). If this field is left unspecified, the resources aren't peered with any network.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1PersistentResource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListDatasetVersionsResponse": {
      "description": "Response message for DatasetService.ListDatasetVersions.",
      "properties": {
        "datasetVersions": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DatasetVersion"
          },
          "type": "array",
          "description": "A list of DatasetVersions that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1ListDatasetVersionsResponse",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Tensorboard": {
      "description": "Tensorboard is a physical database that stores users' training metrics. A default Tensorboard is provided in each region of a Google Cloud project. If needed users can also create extra Tensorboards in their projects.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the Tensorboard. Format: `projects/{project}/locations/{location}/tensorboards/{tensorboard}`"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for a Tensorboard. If set, this Tensorboard and all sub-resources of this Tensorboard will be secured by this key."
        },
        "description": {
          "description": "Description of this Tensorboard.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Tensorboard was created."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your Tensorboards. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Tensorboard (System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "displayName": {
          "description": "Required. User provided name of this Tensorboard.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this Tensorboard was last updated."
        },
        "isDefault": {
          "description": "Used to indicate if the TensorBoard instance is the default one. Each project & region can have at most one default TensorBoard instance. Creation of a default TensorBoard instance and updating an existing TensorBoard instance to be default will mark all other TensorBoard instances (if any) as non default.",
          "type": "boolean"
        },
        "blobStoragePathPrefix": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Consumer project Cloud Storage path prefix used to store blob data, which can either be a bucket or directory. Does not end with a '/'."
        },
        "runCount": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of Runs stored in this Tensorboard."
        }
      },
      "id": "GoogleCloudAiplatformV1Tensorboard",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata": {
      "description": "Details of operations that perform batch create Features.",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset": {
      "description": "Represents one AnnotatedDataset in datalabeling.googleapis.com.",
      "properties": {
        "annotatedDataset": {
          "description": "Full resource name of data labeling AnnotatedDataset. Format: `projects/{project}/datasets/{dataset}/annotatedDatasets/{annotated_dataset}`.",
          "type": "string"
        },
        "annotatedDatasetDisplayName": {
          "description": "The AnnotatedDataset's display name in datalabeling.googleapis.com.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1MigratableResourceDataLabelingDatasetDataLabelingAnnotatedDataset"
    },
    "GoogleCloudAiplatformV1UpdateSpecialistPoolOperationMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1UpdateSpecialistPoolOperationMetadata",
      "description": "Runtime operation metadata for SpecialistPoolService.UpdateSpecialistPool.",
      "properties": {
        "specialistPool": {
          "description": "Output only. The name of the SpecialistPool to which the specialists are being added. Format: `projects/{project_id}/locations/{location_id}/specialistPools/{specialist_pool}`",
          "readOnly": true,
          "type": "string"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      }
    },
    "GoogleCloudAiplatformV1CreateDatasetOperationMetadata": {
      "description": "Runtime operation information for DatasetService.CreateDataset.",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1CreateDatasetOperationMetadata"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetricsConfidenceMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextExtractionEvaluationMetricsConfidenceMetrics",
      "properties": {
        "recall": {
          "description": "Recall (True Positive Rate) for the given confidence threshold.",
          "type": "number",
          "format": "float"
        },
        "precision": {
          "description": "Precision for the given confidence threshold.",
          "format": "float",
          "type": "number"
        },
        "confidenceThreshold": {
          "type": "number",
          "format": "float",
          "description": "Metrics are computed with an assumption that the Model never returns predictions with score lower than this value."
        },
        "f1Score": {
          "format": "float",
          "type": "number",
          "description": "The harmonic mean of recall and precision."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation": {
      "description": "Treats the column as numerical array and performs following transformation functions. * All transformations for Numerical types applied to the average of the all elements. * The average of empty arrays is treated as zero.",
      "properties": {
        "invalidValuesAllowed": {
          "description": "If invalid values is allowed, the training pipeline will create a boolean feature that indicated whether the value is valid. Otherwise, the training pipeline will discard the input row from trainining data.",
          "type": "boolean"
        },
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationNumericArrayTransformation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelExplanation": {
      "description": "Aggregated explanation metrics for a Model over a set of instances.",
      "properties": {
        "meanAttributions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1Attribution"
          },
          "description": "Output only. Aggregated attributions explaining the Model's prediction outputs over the set of instances. The attributions are grouped by outputs. For Models that predict only one output, such as regression Models that predict only one score, there is only one attibution that explains the predicted output. For Models that predict multiple outputs, such as multiclass Models that predict multiple classes, each element explains one specific item. Attribution.output_index can be used to identify which output this attribution is explaining. The baselineOutputValue, instanceOutputValue and featureAttributions fields are averaged over the test data. NOTE: Currently AutoML tabular classification Models produce only one attribution, which averages attributions over all the classes it predicts. Attribution.approximation_error is not populated."
        }
      },
      "id": "GoogleCloudAiplatformV1ModelExplanation",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult": {
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult",
      "type": "object",
      "description": "Prediction output format for Time Series Forecasting.",
      "properties": {
        "quantilePredictions": {
          "type": "array",
          "items": {
            "format": "float",
            "type": "number"
          },
          "description": "Quantile predictions, in 1-1 correspondence with quantile_values."
        },
        "value": {
          "description": "The regression value.",
          "type": "number",
          "format": "float"
        },
        "tftFeatureImportance": {
          "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance",
          "description": "Only use these if TFt is enabled."
        },
        "quantileValues": {
          "description": "Quantile values.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata": {
      "properties": {
        "backingHyperparameterTuningJob": {
          "description": "The resource name of the HyperparameterTuningJob that has been created to carry out this HyperparameterTuning task.",
          "type": "string"
        },
        "bestTrialBackingCustomJob": {
          "description": "The resource name of the CustomJob that has been created to run the best Trial of this HyperparameterTuning task.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobMetadata"
    },
    "GoogleCloudAiplatformV1StringArray": {
      "description": "A list of string values.",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of string values."
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1StringArray"
    },
    "GoogleCloudAiplatformV1DataItem": {
      "description": "A piece of data in a Dataset. Could be an image, a video, a document or plain text.",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when this DataItem was last updated."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata to organize your DataItems. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one DataItem(System labels are excluded). See https://goo.gl/xmQnxf for more information and examples of labels. System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "createTime": {
          "description": "Output only. Timestamp when this DataItem was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DataItem."
        },
        "payload": {
          "description": "Required. The data that the DataItem represents (for example, an image or a text snippet). The schema of the payload is stored in the parent Dataset's metadata schema's dataItemSchemaUri field.",
[...]
