{
  "discoveryVersion": "v1",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "revision": "20260309",
  "kind": "discovery#restDescription",
  "basePath": "",
  "version_module": true,
  "title": "Vertex AI API",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "canonicalName": "Aiplatform",
  "resources": {
    "dataLabelingJobs": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "id": "aiplatform.dataLabelingJobs.operations.delete",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "pattern": "^dataLabelingJobs/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "filter": {
                  "location": "query",
                  "description": "The standard list filter.",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.dataLabelingJobs.operations.list",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations",
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$"
                },
                "timeout": {
                  "type": "string",
                  "location": "query",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "id": "aiplatform.dataLabelingJobs.operations.wait",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:wait"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "aiplatform.dataLabelingJobs.operations.get",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "cancel": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^dataLabelingJobs/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.dataLabelingJobs.operations.cancel",
              "flatPath": "v1/dataLabelingJobs/{dataLabelingJobsId}/operations/{operationsId}:cancel"
            }
          }
        }
      }
    },
    "featureGroups": {
      "resources": {
        "operations": {
          "methods": {
            "listWait": {
              "parameters": {
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "type": "boolean"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}:wait",
              "id": "aiplatform.featureGroups.operations.listWait",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}:wait"
            },
            "get": {
              "id": "aiplatform.featureGroups.operations.get",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "parameters": {
                "name": {
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "wait": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$",
                  "type": "string"
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "aiplatform.featureGroups.operations.wait",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^featureGroups/[^/]+/operations/[^/]+$",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.featureGroups.operations.delete",
              "flatPath": "v1/featureGroups/{featureGroupsId}/operations/{operationsId}"
            }
          }
        },
        "features": {
          "resources": {
            "operations": {
              "methods": {
                "listWait": {
                  "id": "aiplatform.featureGroups.features.operations.listWait",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "get": {
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.featureGroups.features.operations.get",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "location": "path"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.featureGroups.features.operations.wait",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}:wait"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^featureGroups/[^/]+/features/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "aiplatform.featureGroups.features.operations.delete",
                  "flatPath": "v1/featureGroups/{featureGroupsId}/features/{featuresId}/operations/{operationsId}"
                }
              }
            }
          }
        }
      }
    },
    "batchPredictionJobs": {
      "methods": {
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "id": "aiplatform.batchPredictionJobs.create",
          "flatPath": "v1/batchPredictionJobs",
          "path": "v1/batchPredictionJobs",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "parameterOrder": [],
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "location": "query",
              "description": "Required. The resource name of the Location to create the BatchPredictionJob in. Format: `projects/{project}/locations/{location}`",
              "type": "string"
            }
          },
          "description": "Creates a BatchPredictionJob. A BatchPredictionJob once created will right away be attempted to start."
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^batchPredictionJobs/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the BatchPredictionJob resource. Format: `projects/{project}/locations/{location}/batchPredictionJobs/{batch_prediction_job}`",
              "required": true
            }
          },
          "description": "Gets a BatchPredictionJob",
          "id": "aiplatform.batchPredictionJobs.get",
          "flatPath": "v1/batchPredictionJobs/{batchPredictionJobsId}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          },
          "path": "v1/{+name}"
        },
        "list": {
          "parameters": {
            "readMask": {
              "description": "Mask specifying which fields to read.",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token. Typically obtained via ListBatchPredictionJobsResponse.next_page_token of the previous JobService.ListBatchPredictionJobs call."
            },
            "filter": {
              "description": "The standard list filter. Supported fields: * `display_name` supports `=`, `!=` comparisons, and `:` wildcard. * `model_display_name` supports `=`, `!=` comparisons. * `state` supports `=`, `!=` comparisons. * `create_time` supports `=`, `!=`,`<`, `<=`,`>`, `>=` comparisons. `create_time` must be in RFC 3339 format. * `labels` supports general map functions that is: `labels.key=value` - key:value equality `labels.key:* - key existence Some examples of using the filter are: * `state=\"JOB_STATE_SUCCEEDED\" AND display_name:\"my_job_*\"` * `state!=\"JOB_STATE_FAILED\" OR display_name=\"my_job\"` * `NOT display_name=\"my_job\"` * `create_time>\"2021-05-18T00:00:00Z\"` * `labels.keyA=valueA` * `labels.keyB:*`",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "location": "query",
              "description": "Required. The resource name of the Location to list the BatchPredictionJobs from. Format: `projects/{project}/locations/{location}`",
              "type": "string"
            }
          },
          "description": "Lists BatchPredictionJobs in a Location.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "aiplatform.batchPredictionJobs.list",
          "flatPath": "v1/batchPredictionJobs",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse"
          },
          "path": "v1/batchPredictionJobs"
        }
      }
    },
    "specialistPools": {
      "resources": {
        "operations": {
          "methods": {
            "delete": {
              "id": "aiplatform.specialistPools.operations.delete",
              "flatPath": "v1/specialistPools/{specialistPoolsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^specialistPools/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^specialistPools/[^/]+$",
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list page token."
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.specialistPools.operations.list",
              "flatPath": "v1/specialistPools/{specialistPoolsId}/operations",
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "id": "aiplatform.specialistPools.operations.wait",
              "flatPath": "v1/specialistPools/{specialistPoolsId}/operations/{operationsId}:wait",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true,
                  "pattern": "^specialistPools/[^/]+/operations/[^/]+$",
                  "type": "string"
                },
                "timeout": {
                  "type": "string",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                  "location": "query",
                  "format": "google-duration"
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            },
            "get": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "id": "aiplatform.specialistPools.operations.get",
              "flatPath": "v1/specialistPools/{specialistPoolsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^specialistPools/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.specialistPools.operations.cancel",
              "flatPath": "v1/specialistPools/{specialistPoolsId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^specialistPools/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            }
          }
        }
      }
    },
    "datasets": {
      "methods": {
        "patch": {
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "id": "aiplatform.datasets.patch",
          "flatPath": "v1/datasets/{datasetsId}",
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "parameters": {
            "name": {
              "location": "path",
              "description": "Output only. Identifier. The resource name of the Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
              "required": true,
              "pattern": "^datasets/[^/]+$",
              "type": "string"
            },
            "updateMask": {
              "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name` * `description` * `labels`",
              "location": "query",
              "format": "google-fieldmask",
              "type": "string"
            }
          },
          "description": "Updates a Dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "PATCH"
        },
        "get": {
          "response": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "path": "v1/{+name}",
          "id": "aiplatform.datasets.get",
          "flatPath": "v1/datasets/{datasetsId}",
          "parameters": {
            "readMask": {
              "type": "string",
              "location": "query",
              "format": "google-fieldmask",
              "description": "Mask specifying which fields to read."
            },
            "name": {
              "pattern": "^datasets/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. The name of the Dataset resource.",
              "required": true
            }
          },
          "description": "Gets a Dataset.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^datasets/[^/]+$",
              "description": "Required. The resource name of the Dataset to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
              "required": true,
              "location": "path"
            }
          },
          "description": "Deletes a Dataset.",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "aiplatform.datasets.delete",
          "flatPath": "v1/datasets/{datasetsId}"
        },
        "create": {
          "request": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "path": "v1/datasets",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "aiplatform.datasets.create",
          "flatPath": "v1/datasets",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "type": "string",
              "location": "query",
              "description": "Required. The resource name of the Location to create the Dataset in. Format: `projects/{project}/locations/{location}`"
            }
          },
          "description": "Creates a Dataset."
        },
        "list": {
          "id": "aiplatform.datasets.list",
          "flatPath": "v1/datasets",
          "response": {
            "$ref": "GoogleCloudAiplatformV1ListDatasetsResponse"
          },
          "path": "v1/datasets",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The name of the Dataset's parent resource. Format: `projects/{project}/locations/{location}`",
              "location": "query"
            },
            "filter": {
              "type": "string",
              "location": "query",
              "description": "An expression for filtering the results of the request. For field names both snake_case and camelCase are supported. * `display_name`: supports = and != * `metadata_schema_uri`: supports = and != * `labels` supports general map functions that is: * `labels.key=value` - key:value equality * `labels.key:* or labels:key - key existence * A key including a space must be quoted. `labels.\"a key\"`. Some examples: * `displayName=\"myDisplayName\"` * `labels.myKey=\"myValue\"`"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "pageSize": {
              "type": "integer",
              "description": "The standard list page size.",
              "location": "query",
              "format": "int32"
            },
            "orderBy": {
              "location": "query",
              "description": "A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending. Supported fields: * `display_name` * `create_time` * `update_time`",
              "type": "string"
            },
            "readMask": {
              "location": "query",
              "format": "google-fieldmask",
              "description": "Mask specifying which fields to read.",
              "type": "string"
            }
          },
          "description": "Lists Datasets in a Location."
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "id": "aiplatform.datasets.operations.get",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasets/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
            },
            "cancel": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:cancel",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "aiplatform.datasets.operations.cancel",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:cancel"
            },
            "delete": {
              "id": "aiplatform.datasets.operations.delete",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to be deleted.",
                  "required": true
                }
              },
              "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasets/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation's parent resource.",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "The standard list filter.",
                  "location": "query"
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "The standard list page size."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.datasets.operations.list",
              "flatPath": "v1/datasets/{datasetsId}/operations",
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              }
            },
            "wait": {
              "id": "aiplatform.datasets.operations.wait",
              "flatPath": "v1/datasets/{datasetsId}/operations/{operationsId}:wait",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:wait",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^datasets/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource to wait on.",
                  "required": true
                },
                "timeout": {
                  "type": "string",
                  "location": "query",
                  "format": "google-duration",
                  "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used."
                }
              },
              "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
            }
          }
        },
        "dataItems": {
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.datasets.dataItems.operations.delete",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "list": {
                  "id": "aiplatform.datasets.dataItems.operations.list",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "wait": {
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.datasets.dataItems.operations.wait",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to wait on.",
                      "required": true
                    },
                    "timeout": {
                      "type": "string",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "location": "query",
                      "format": "google-duration"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                },
                "get": {
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.datasets.dataItems.operations.get",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.datasets.dataItems.operations.cancel",
                  "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^datasets/[^/]+/dataItems/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                }
              }
            },
            "annotations": {
              "resources": {
                "operations": {
                  "methods": {
                    "delete": {
                      "id": "aiplatform.datasets.dataItems.annotations.operations.delete",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "The name of the operation resource to be deleted.",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$"
                        }
                      },
                      "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                    },
                    "list": {
                      "id": "aiplatform.datasets.dataItems.annotations.operations.list",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations",
                      "path": "v1/{+name}/operations",
                      "response": {
                        "$ref": "GoogleLongrunningListOperationsResponse"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The standard list page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "name": {
                          "location": "path",
                          "description": "The name of the operation's parent resource.",
                          "required": true,
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "The standard list page token.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "The standard list filter."
                        },
                        "returnPartialSuccess": {
                          "type": "boolean",
                          "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                          "location": "query"
                        }
                      },
                      "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                    },
                    "wait": {
                      "path": "v1/{+name}:wait",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "aiplatform.datasets.dataItems.annotations.operations.wait",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}:wait",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "The name of the operation resource to wait on.",
                          "required": true,
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "type": "string"
                        },
                        "timeout": {
                          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                          "location": "query",
                          "format": "google-duration",
                          "type": "string"
                        }
                      },
                      "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "aiplatform.datasets.dataItems.annotations.operations.get",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      }
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^datasets/[^/]+/dataItems/[^/]+/annotations/[^/]+/operations/[^/]+$",
                          "description": "The name of the operation resource to be cancelled.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                      "path": "v1/{+name}:cancel",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "aiplatform.datasets.dataItems.annotations.operations.cancel",
                      "flatPath": "v1/datasets/{datasetsId}/dataItems/{dataItemsId}/annotations/{annotationsId}/operations/{operationsId}:cancel"
                    }
                  }
                }
              }
            }
          }
        },
        "savedQueries": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.datasets.savedQueries.operations.get",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "aiplatform.datasets.savedQueries.operations.cancel",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}",
                  "id": "aiplatform.datasets.savedQueries.operations.delete",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "type": "integer"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "id": "aiplatform.datasets.savedQueries.operations.list",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations"
                },
                "wait": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/savedQueries/[^/]+/operations/[^/]+$"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "id": "aiplatform.datasets.savedQueries.operations.wait",
                  "flatPath": "v1/datasets/{datasetsId}/savedQueries/{savedQueriesId}/operations/{operationsId}:wait",
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                }
              }
            }
          }
        },
        "annotationSpecs": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.datasets.annotationSpecs.operations.get",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}"
                },
                "cancel": {
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}:cancel",
                  "id": "aiplatform.datasets.annotationSpecs.operations.cancel",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.delete",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "aiplatform.datasets.annotationSpecs.operations.list",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                },
                "wait": {
                  "path": "v1/{+name}:wait",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "aiplatform.datasets.annotationSpecs.operations.wait",
                  "flatPath": "v1/datasets/{datasetsId}/annotationSpecs/{annotationSpecsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^datasets/[^/]+/annotationSpecs/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "required": true,
                      "location": "path"
                    },
                    "timeout": {
                      "location": "query",
                      "format": "google-duration",
                      "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
                      "type": "string"
                    }
                  },
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                }
              }
            }
          }
        },
        "datasetVersions": {
          "methods": {
            "delete": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "id": "aiplatform.datasets.datasetVersions.delete",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$"
                }
              },
              "description": "Deletes a Dataset version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "id": "aiplatform.datasets.datasetVersions.create",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+parent}/datasetVersions",
              "request": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "parameters": {
                "parent": {
                  "pattern": "^datasets/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The name of the Dataset resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                  "required": true
                }
              },
              "description": "Create a version from a Dataset.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "id": "aiplatform.datasets.datasetVersions.list",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions",
              "response": {
                "$ref": "GoogleCloudAiplatformV1ListDatasetVersionsResponse"
              },
              "path": "v1/{+parent}/datasetVersions",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The resource name of the Dataset to list DatasetVersions from. Format: `projects/{project}/locations/{location}/datasets/{dataset}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasets/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. The standard list page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "orderBy": {
                  "location": "query",
                  "description": "Optional. A comma-separated list of fields to order by, sorted in ascending order. Use \"desc\" after a field name for descending.",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Optional. Mask specifying which fields to read."
                }
              },
              "description": "Lists DatasetVersions in a Dataset."
            },
            "patch": {
              "request": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "id": "aiplatform.datasets.datasetVersions.patch",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. The resource name of the DatasetVersion. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see google.protobuf.FieldMask. Updatable fields: * `display_name`"
                }
              },
              "description": "Updates a DatasetVersion."
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudAiplatformV1DatasetVersion"
              },
              "id": "aiplatform.datasets.datasetVersions.get",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the Dataset version to delete. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "required": true,
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$",
                  "type": "string"
                },
                "readMask": {
                  "type": "string",
                  "description": "Mask specifying which fields to read.",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "description": "Gets a Dataset version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET"
            },
            "restore": {
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}:restore",
              "id": "aiplatform.datasets.datasetVersions.restore",
              "flatPath": "v1/datasets/{datasetsId}/datasetVersions/{datasetVersionsId}:restore",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the DatasetVersion resource. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
                  "required": true,
                  "pattern": "^datasets/[^/]+/datasetVersions/[^/]+$",
                  "type": "string"
                }
              },
              "description": "Restores a dataset version.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    },
    "schedules": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^schedules/[^/]+/operations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The name of the operation resource.",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "id": "aiplatform.schedules.operations.get",
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}"
            },
            "cancel": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "path": "v1/{+name}:cancel",
              "id": "aiplatform.schedules.operations.cancel",
              "flatPath": "v1/schedules/{schedulesId}/operations/{operationsId}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^schedules/[^/]+/operations/[^/]+$"
                }
              },
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
            },
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^schedules/[^/]+$"
                },
                "pageToken": {
                  "location": "query",
                  "description": "The standard list page token.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "The standard list filter."
                },
                "returnPartialSuccess": {
                  "type": "boolean",
                  "location": "query",
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "id": "aiplatform.schedules.operations.list",
              "flatPath": "v1/schedules/{schedulesId}/operations",
              "response": {
                "$ref": "GoogleLongrunningListOperationsResponse"
              },
              "path": "v1/{+name}/operations"
            },
            "wait": {
              "parameters": {
                "name": {
                  "type": "string",
[...]
