{
  "revision": "20260410",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "batchPath": "batch",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "version_module": true,
  "servicePath": "",
  "schemas": {
    "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationMaskAnnotation": {
      "type": "object",
      "description": "The mask based segmentation annotation.",
      "id": "GoogleCloudAiplatformV1SchemaImageSegmentationAnnotationMaskAnnotation",
      "properties": {
        "annotationSpecColors": {
          "type": "array",
          "description": "The mapping between color and AnnotationSpec for this Annotation.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaAnnotationSpecColor"
          }
        },
        "maskGcsUri": {
          "description": "Google Cloud Storage URI that points to the mask image. The image must be in PNG format. It must have the same size as the DataItem's image. Each pixel in the image mask represents the AnnotationSpec which the pixel in the image DataItem belong to. Each color is mapped to one AnnotationSpec based on annotation_spec_colors.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ExportDataConfig": {
      "id": "GoogleCloudAiplatformV1ExportDataConfig",
      "properties": {
        "gcsDestination": {
          "description": "The Google Cloud Storage location where the output is to be written to. In the given directory a new directory will be created with name: `export-data--` where timestamp is in YYYY-MM-DDThh:mm:ss.sssZ ISO-8601 format. All export output will be written into that directory. Inside that directory, annotations with the same schema will be grouped into sub directories which are named with the corresponding annotations' schema title. Inside these sub directories, a schema.yaml will be created to describe the output format.",
          "$ref": "GoogleCloudAiplatformV1GcsDestination"
        },
        "exportUse": {
          "type": "string",
          "description": "Indicates the usage of the exported files.",
          "enumDescriptions": [
            "Regular user export.",
            "Export for custom code training."
          ],
          "enum": [
            "EXPORT_USE_UNSPECIFIED",
            "CUSTOM_CODE_TRAINING"
          ]
        },
        "savedQueryId": {
          "description": "The ID of a SavedQuery (annotation set) under the Dataset specified by ExportDataRequest.name used for filtering Annotations for training. Only used for custom training data export use cases. Only applicable to Datasets that have SavedQueries. Only Annotations that are associated with this SavedQuery are used in respectively training. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both saved_query_id and annotations_filter. Only one of saved_query_id and annotation_schema_uri should be specified as both of them represent the same thing: problem type.",
          "type": "string"
        },
        "annotationsFilter": {
          "type": "string",
          "description": "An expression for filtering what part of the Dataset is to be exported. Only Annotations that match this filter will be exported. The filter syntax is the same as in ListAnnotations."
        },
        "filterSplit": {
          "description": "Split based on the provided filters for each set.",
          "$ref": "GoogleCloudAiplatformV1ExportFilterSplit"
        },
        "annotationSchemaUri": {
          "type": "string",
          "description": "The Cloud Storage URI that points to a YAML file describing the annotation schema. The schema is defined as an OpenAPI 3.0.2 [Schema Object](https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#schemaObject). The schema files that can be used here are found in gs://google-cloud-aiplatform/schema/dataset/annotation/, note that the chosen schema must be consistent with metadata of the Dataset specified by ExportDataRequest.name. Only used for custom training data export use cases. Only applicable to Datasets that have DataItems and Annotations. Only Annotations that both match this schema and belong to DataItems not ignored by the split method are used in respectively training, validation or test role, depending on the role of the DataItem they are on. When used in conjunction with annotations_filter, the Annotations used for training are filtered by both annotations_filter and annotation_schema_uri."
        },
        "fractionSplit": {
          "$ref": "GoogleCloudAiplatformV1ExportFractionSplit",
          "description": "Split based on fractions defining the size of each set."
        }
      },
      "type": "object",
      "description": "Describes what part of the Dataset is to be exported, the destination of the export and how to export."
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionResults": {
      "type": "object",
      "description": "Results for TrajectoryPrecision metric.",
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionResults",
      "properties": {
        "trajectoryPrecisionMetricValues": {
          "description": "Output only. TrajectoryPrecision metric values.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryPrecisionMetricValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessInstance": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessInstance",
      "properties": {
        "context": {
          "description": "Optional. Text provided as context to answer the question.",
          "type": "string"
        },
        "instruction": {
          "description": "Required. The question asked and other instruction in the inference prompt.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Spec for question answering helpfulness instance."
    },
    "GoogleCloudAiplatformV1DeployOperationMetadata": {
      "id": "GoogleCloudAiplatformV1DeployOperationMetadata",
      "properties": {
        "projectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The project number where the deploy model request is sent.",
          "readOnly": true
        },
        "modelId": {
          "readOnly": true,
          "description": "Output only. The model id to be used at query time.",
          "type": "string"
        },
        "publisherModel": {
          "type": "string",
          "description": "Output only. The name of the model resource.",
          "readOnly": true
        },
        "destination": {
          "type": "string",
          "description": "Output only. The resource name of the Location to deploy the model in. Format: `projects/{project}/locations/{location}`",
          "readOnly": true
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "type": "object",
      "description": "Runtime operation information for ModelGardenService.Deploy."
    },
    "GoogleCloudAiplatformV1ListSpecialistPoolsResponse": {
      "id": "GoogleCloudAiplatformV1ListSpecialistPoolsResponse",
      "properties": {
        "specialistPools": {
          "description": "A list of SpecialistPools that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SpecialistPool"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object",
      "description": "Response message for SpecialistPoolService.ListSpecialistPools."
    },
    "GoogleCloudAiplatformV1DeployIndexOperationMetadata": {
      "properties": {
        "deployedIndexId": {
          "type": "string",
          "description": "The unique index id specified by user"
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        }
      },
      "id": "GoogleCloudAiplatformV1DeployIndexOperationMetadata",
      "description": "Runtime operation information for IndexEndpointService.DeployIndex.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelArmorConfig": {
      "type": "object",
      "description": "Configuration for Model Armor. Model Armor is a Google Cloud service that provides safety and security filtering for prompts and responses. It helps protect your AI applications from risks such as harmful content, sensitive data leakage, and prompt injection attacks.",
      "id": "GoogleCloudAiplatformV1ModelArmorConfig",
      "properties": {
        "promptTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for prompt screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the user's prompt for safety and security risks before it is sent to the model. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        },
        "responseTemplateName": {
          "type": "string",
          "description": "Optional. The resource name of the Model Armor template to use for response screening. A Model Armor template is a set of customized filters and thresholds that define how Model Armor screens content. If specified, Model Armor will use this template to check the model's response for safety and security risks before it is returned to the user. The name must be in the format `projects/{project}/locations/{location}/templates/{template}`."
        }
      }
    },
    "GoogleCloudAiplatformV1SuggestTrialsMetadata": {
      "id": "GoogleCloudAiplatformV1SuggestTrialsMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for suggesting Trials.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "clientId": {
          "type": "string",
          "description": "The identifier of the client that is requesting the suggestion. If multiple SuggestTrialsRequests have the same `client_id`, the service will return the identical suggested Trial if the Trial is pending, and provide a new Trial if the last suggested Trial was completed."
        }
      },
      "type": "object",
      "description": "Details of operations that perform Trials suggestion."
    },
    "GoogleCloudAiplatformV1ToolCallValidInstance": {
      "id": "GoogleCloudAiplatformV1ToolCallValidInstance",
      "properties": {
        "prediction": {
          "type": "string",
          "description": "Required. Output of the evaluated model."
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Spec for tool call valid instance."
    },
    "GoogleCloudAiplatformV1ListDatasetsResponse": {
      "description": "Response message for DatasetService.ListDatasets.",
      "type": "object",
      "properties": {
        "datasets": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Dataset"
          },
          "description": "A list of Datasets that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "GoogleCloudAiplatformV1ListDatasetsResponse"
    },
    "GoogleCloudAiplatformV1GenerateFetchAccessTokenRequest": {
      "id": "GoogleCloudAiplatformV1GenerateFetchAccessTokenRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for FeatureOnlineStoreService.GenerateFetchAccessToken."
    },
    "GoogleCloudAiplatformV1ListModelsResponse": {
      "type": "object",
      "description": "Response message for ModelService.ListModels",
      "id": "GoogleCloudAiplatformV1ListModelsResponse",
      "properties": {
        "models": {
          "description": "List of Models in the requested page.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Model"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass to ListModelsRequest.page_token to obtain that page."
        }
      }
    },
    "GoogleCloudAiplatformV1NearestNeighborQuery": {
      "description": "A query to find a number of similar entities.",
      "type": "object",
      "properties": {
        "neighborCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The number of similar entities to be retrieved from feature view for each query."
        },
        "stringFilters": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryStringFilter"
          },
          "description": "Optional. The list of string filters.",
          "type": "array"
        },
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryParameters",
          "description": "Optional. Parameters that can be set to tune query on the fly."
        },
        "perCrowdingAttributeNeighborCount": {
          "description": "Optional. Crowding is a constraint on a neighbor list produced by nearest neighbor search requiring that no more than sper_crowding_attribute_neighbor_count of the k neighbors returned have the same value of crowding_attribute. It's used for improving result diversity.",
          "type": "integer",
          "format": "int32"
        },
        "entityId": {
          "type": "string",
          "description": "Optional. The entity id whose similar entities should be searched for. If embedding is set, search will use embedding instead of entity_id."
        },
        "numericFilters": {
          "description": "Optional. The list of numeric filters.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryNumericFilter"
          }
        },
        "embedding": {
          "description": "Optional. The embedding vector that be used for similar search.",
          "$ref": "GoogleCloudAiplatformV1NearestNeighborQueryEmbedding"
        }
      },
      "id": "GoogleCloudAiplatformV1NearestNeighborQuery"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption": {
      "type": "object",
      "description": "Optional settings for translation prompt.",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption",
      "properties": {
        "numberOfShots": {
          "description": "How many shots to use.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "partialResults": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadataPartialResult"
          },
          "description": "Partial results that reflect the latest migration operation progress.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1BatchMigrateResourcesOperationMetadata",
      "description": "Runtime operation information for MigrationService.BatchMigrateResources.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecDeploymentSpec": {
      "description": "The specification of a Reasoning Engine deployment.",
      "type": "object",
      "properties": {
        "minInstances": {
          "description": "Optional. The minimum number of application instances that will be kept running at all times. Defaults to 1. Range: [0, 10].",
          "type": "integer",
          "format": "int32"
        },
        "keepAliveProbe": {
          "$ref": "GoogleCloudAiplatformV1KeepAliveProbe",
          "description": "Optional. Specifies the configuration for keep-alive probe. Contains configuration on a specified endpoint that a deployment host should use to keep the container alive based on the probe settings."
        },
        "pscInterfaceConfig": {
          "$ref": "GoogleCloudAiplatformV1PscInterfaceConfig",
          "description": "Optional. Configuration for PSC-I."
        },
        "maxInstances": {
          "description": "Optional. The maximum number of application instances that can be launched to handle increased traffic. Defaults to 100. Range: [1, 1000]. If VPC-SC or PSC-I is enabled, the acceptable range is [1, 100].",
          "type": "integer",
          "format": "int32"
        },
        "resourceLimits": {
          "description": "Optional. Resource limits for each container. Only 'cpu' and 'memory' keys are supported. Defaults to {\"cpu\": \"4\", \"memory\": \"4Gi\"}. * The only supported values for CPU are '1', '2', '4', '6' and '8'. For more information, go to https://cloud.google.com/run/docs/configuring/cpu. * The only supported values for memory are '1Gi', '2Gi', ... '32 Gi'. * For required cpu on different memory values, go to https://cloud.google.com/run/docs/configuring/memory-limits",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "env": {
          "description": "Optional. Environment variables to be set with the Reasoning Engine deployment. The environment variables can be updated through the UpdateReasoningEngine API.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1EnvVar"
          }
        },
        "secretEnv": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SecretEnvVar"
          },
          "type": "array",
          "description": "Optional. Environment variables where the value is a secret in Cloud Secret Manager. To use this feature, add 'Secret Manager Secret Accessor' role (roles/secretmanager.secretAccessor) to AI Platform Reasoning Engine Service Agent."
        },
        "containerConcurrency": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Concurrency for each container and agent server. Recommended value: 2 * cpu + 1. Defaults to 9."
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecDeploymentSpec"
    },
    "GoogleCloudAiplatformV1Metric": {
      "properties": {
        "customCodeExecutionSpec": {
          "description": "Spec for Custom Code Execution metric.",
          "$ref": "GoogleCloudAiplatformV1CustomCodeExecutionSpec"
        },
        "predefinedMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1PredefinedMetricSpec",
          "description": "The spec for a pre-defined metric."
        },
        "bleuSpec": {
          "description": "Spec for bleu metric.",
          "$ref": "GoogleCloudAiplatformV1BleuSpec"
        },
        "aggregationMetrics": {
          "type": "array",
          "description": "Optional. The aggregation metrics to use.",
          "items": {
            "enumDescriptions": [
              "Unspecified aggregation metric.",
              "Average aggregation metric. Not supported for Pairwise metric.",
              "Mode aggregation metric.",
              "Standard deviation aggregation metric. Not supported for pairwise metric.",
              "Variance aggregation metric. Not supported for pairwise metric.",
              "Minimum aggregation metric. Not supported for pairwise metric.",
              "Maximum aggregation metric. Not supported for pairwise metric.",
              "Median aggregation metric. Not supported for pairwise metric.",
              "90th percentile aggregation metric. Not supported for pairwise metric.",
              "95th percentile aggregation metric. Not supported for pairwise metric.",
              "99th percentile aggregation metric. Not supported for pairwise metric."
            ],
            "enum": [
              "AGGREGATION_METRIC_UNSPECIFIED",
              "AVERAGE",
              "MODE",
              "STANDARD_DEVIATION",
              "VARIANCE",
              "MINIMUM",
              "MAXIMUM",
              "MEDIAN",
              "PERCENTILE_P90",
              "PERCENTILE_P95",
              "PERCENTILE_P99"
            ],
            "type": "string"
          }
        },
        "computationBasedMetricSpec": {
          "description": "Spec for a computation based metric.",
          "$ref": "GoogleCloudAiplatformV1ComputationBasedMetricSpec"
        },
        "rougeSpec": {
          "$ref": "GoogleCloudAiplatformV1RougeSpec",
          "description": "Spec for rouge metric."
        },
        "pointwiseMetricSpec": {
          "description": "Spec for pointwise metric.",
          "$ref": "GoogleCloudAiplatformV1PointwiseMetricSpec"
        },
        "pairwiseMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1PairwiseMetricSpec",
          "description": "Spec for pairwise metric."
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1MetricMetadata",
          "description": "Optional. Metadata about the metric, used for visualization and organization."
        },
        "llmBasedMetricSpec": {
          "$ref": "GoogleCloudAiplatformV1LLMBasedMetricSpec",
          "description": "Spec for an LLM based metric."
        },
        "exactMatchSpec": {
          "description": "Spec for exact match metric.",
          "$ref": "GoogleCloudAiplatformV1ExactMatchSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1Metric",
      "description": "The metric used for running evaluations.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateFetchAccessTokenResponse": {
      "properties": {
        "accessToken": {
          "type": "string",
          "description": "The OAuth 2.0 access token."
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Token expiration time. This is always set"
        }
      },
      "id": "GoogleCloudAiplatformV1GenerateFetchAccessTokenResponse",
      "description": "Response message for FeatureOnlineStoreService.GenerateFetchAccessToken.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModelDocumentation": {
      "type": "object",
      "description": "A named piece of documentation.",
      "id": "GoogleCloudAiplatformV1PublisherModelDocumentation",
      "properties": {
        "content": {
          "type": "string",
          "description": "Required. Content of this piece of document (in Markdown format)."
        },
        "title": {
          "type": "string",
          "description": "Required. E.g., OVERVIEW, USE CASES, DOCUMENTATION, SDK & SAMPLES, JAVA, NODE.JS, etc.."
        }
      }
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec": {
      "type": "object",
      "description": "Selects Features of an EntityType to read values of and specifies read settings.",
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec",
      "properties": {
        "entityTypeId": {
          "description": "Required. ID of the EntityType to select Features. The EntityType id is the entity_type_id specified during EntityType creation.",
          "type": "string"
        },
        "settings": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DestinationFeatureSetting"
          },
          "description": "Per-Feature settings for the batch read.",
          "type": "array"
        },
        "featureSelector": {
          "$ref": "GoogleCloudAiplatformV1FeatureSelector",
          "description": "Required. Selectors choosing which Feature values to read from the EntityType."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity": {
      "properties": {
        "unit": {
          "type": "string",
          "description": "The time granularity unit of this time period. The supported units are: * \"minute\" * \"hour\" * \"day\" * \"week\" * \"month\" * \"year\""
        },
        "quantity": {
          "type": "string",
          "format": "int64",
          "description": "The number of granularity_units between data points in the training data. If `granularity_unit` is `minute`, can be 1, 5, 10, 15, or 30. For all other values of `granularity_unit`, must be 1."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsGranularity",
      "description": "A duration of time expressed in time granularity units.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata": {
      "description": "Runtime operation information for DatasetService.RestoreDatasetVersion.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "id": "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata"
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseInput": {
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseInput",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for TrajectorySingleToolUse metric.",
          "$ref": "GoogleCloudAiplatformV1TrajectorySingleToolUseSpec"
        },
        "instances": {
          "description": "Required. Repeated TrajectorySingleToolUse instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectorySingleToolUseInstance"
          }
        }
      },
      "type": "object",
      "description": "Instances and metric spec for TrajectorySingleToolUse metric."
    },
    "GoogleCloudAiplatformV1PurgeArtifactsMetadata": {
      "type": "object",
      "description": "Details of operations that perform MetadataService.PurgeArtifacts.",
      "id": "GoogleCloudAiplatformV1PurgeArtifactsMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for purging Artifacts.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptInstanceVariableValue": {
      "properties": {
        "partList": {
          "$ref": "GoogleCloudAiplatformV1SchemaPromptSpecPartList",
          "description": "The parts of the variable value."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPromptInstanceVariableValue",
      "description": "The value of a variable in prompt.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsResponse": {
      "type": "object",
      "description": "Response message for ModelService.BatchImportEvaluatedAnnotations",
      "id": "GoogleCloudAiplatformV1BatchImportEvaluatedAnnotationsResponse",
      "properties": {
        "importedEvaluatedAnnotationsCount": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of EvaluatedAnnotations imported.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1RebootPersistentResourceOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for PersistentResource.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "type": "string",
          "description": "Progress Message for Reboot LRO"
        }
      },
      "id": "GoogleCloudAiplatformV1RebootPersistentResourceOperationMetadata",
      "description": "Details of operations that perform reboot PersistentResource.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1DedicatedResources": {
      "description": "A description of resources that are dedicated to a DeployedModel or DeployedIndex, and that need a higher degree of manual configuration.",
      "type": "object",
      "properties": {
        "autoscalingMetricSpecs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1AutoscalingMetricSpec"
          },
          "description": "Immutable. The metric specifications that overrides a resource utilization metric (CPU utilization, accelerator's duty cycle, and so on) target value (default to 60 if not set). At most one entry is allowed per metric. If machine_spec.accelerator_count is above 0, the autoscaling will be based on both CPU utilization and accelerator's duty cycle metrics and scale up when either metrics exceeds its target value while scale down if both metrics are under their target value. The default target value is 60 for both metrics. If machine_spec.accelerator_count is 0, the autoscaling will be based on CPU utilization metric only with default target value 60 if not explicitly set. For example, in the case of Online Prediction, if you want to override target CPU utilization to 80, you should set autoscaling_metric_specs.metric_name to `aiplatform.googleapis.com/prediction/online/cpu/utilization` and autoscaling_metric_specs.target to `80`.",
          "type": "array"
        },
        "spot": {
          "description": "Optional. If true, schedule the deployment workload on [spot VMs](https://cloud.google.com/kubernetes-engine/docs/concepts/spot-vms).",
          "type": "boolean"
        },
        "minReplicaCount": {
          "description": "Required. Immutable. The minimum number of machine replicas that will be always deployed on. This value must be greater than or equal to 1. If traffic increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed.",
          "type": "integer",
          "format": "int32"
        },
        "maxReplicaCount": {
          "description": "Immutable. The maximum number of replicas that may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale to that many replicas is guaranteed (barring service outages). If traffic increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, will use min_replica_count as the default value. The value of this field impacts the charge against Vertex CPU and GPU quotas. Specifically, you will be charged for (max_replica_count * number of cores in the selected machine type) and (max_replica_count * number of GPUs per replica in the selected machine type).",
          "type": "integer",
          "format": "int32"
        },
        "machineSpec": {
          "$ref": "GoogleCloudAiplatformV1MachineSpec",
          "description": "Required. Immutable. The specification of a single machine being used."
        },
        "requiredReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of required available replicas for the deployment to succeed. This field is only needed when partial deployment/mutation is desired. If set, the deploy/mutate operation will succeed once available_replica_count reaches required_replica_count, and the rest of the replicas will be retried. If not set, the default required_replica_count will be min_replica_count."
        }
      },
      "id": "GoogleCloudAiplatformV1DedicatedResources"
    },
    "CloudAiLargeModelsVisionGenerateVideoResponse": {
      "id": "CloudAiLargeModelsVisionGenerateVideoResponse",
      "properties": {
        "raiMediaFilteredCount": {
          "type": "integer",
          "format": "int32",
          "description": "Returns if any videos were filtered due to RAI policies."
        },
        "generatedSamples": {
          "items": {
            "$ref": "CloudAiLargeModelsVisionMedia"
          },
          "type": "array",
          "description": "The generates samples."
        },
        "videos": {
          "type": "array",
          "description": "List of videos, used to align naming with the external response.",
          "items": {
            "$ref": "CloudAiLargeModelsVisionGenerateVideoResponseVideo"
          }
        },
        "raiMediaFilteredReasons": {
          "type": "array",
          "description": "Returns rai failure reasons if any.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Generate video response."
    },
    "GoogleCloudAiplatformV1ToolCodeExecution": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1ToolCodeExecution",
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also ExecutableCode and CodeExecutionResult, which are input and output to this tool.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CopyModelRequest": {
      "description": "Request message for ModelService.CopyModel.",
      "type": "object",
      "properties": {
        "sourceModel": {
          "description": "Required. The resource name of the Model to copy. That Model must be in the same Project. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "parentModel": {
          "description": "Optional. Specify this field to copy source_model into this existing Model as a new version. Format: `projects/{project}/locations/{location}/models/{model}`",
          "type": "string"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key options. If this is set, then the Model copy will be encrypted with the provided encryption key.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "modelId": {
          "type": "string",
          "description": "Optional. Copy source_model into a new Model with this ID. The ID will become the final component of the model resource name. This value may be up to 63 characters, and valid characters are `[a-z0-9_-]`. The first character cannot be a number or hyphen."
        }
      },
      "id": "GoogleCloudAiplatformV1CopyModelRequest"
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchSpec": {
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchSpec",
      "properties": {
        "useStrictStringMatch": {
          "type": "boolean",
          "description": "Optional. Whether to use STRICT string match on parameter values."
        }
      },
      "type": "object",
      "description": "Spec for tool parameter key value match metric."
    },
    "GoogleCloudAiplatformV1PurgeArtifactsRequest": {
      "properties": {
        "filter": {
          "type": "string",
          "description": "Required. A required filter matching the Artifacts to be purged. E.g., `update_time <= 2020-11-19T11:30:00-04:00`."
        },
        "force": {
          "type": "boolean",
          "description": "Optional. Flag to indicate to actually perform the purge. If `force` is set to false, the method will return a sample of Artifact names that would be deleted."
        }
      },
      "id": "GoogleCloudAiplatformV1PurgeArtifactsRequest",
      "description": "Request message for MetadataService.PurgeArtifacts.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The categorical string as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index. * Categories that appear less than 5 times in the training dataset are treated as the \"unknown\" category. The \"unknown\" category gets its own special lookup index and resulting embedding.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingInputsTransformationCategoricalTransformation"
    },
    "GoogleCloudAiplatformV1ApiAuth": {
      "properties": {
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
          "description": "The API secret."
        }
      },
      "id": "GoogleCloudAiplatformV1ApiAuth",
      "description": "The generic reusable api auth config. Deprecated. Please use AuthConfig (google/cloud/aiplatform/master/auth.proto) instead.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SharePointSourcesSharePointSource": {
      "description": "An individual SharePointSource.",
      "type": "object",
      "properties": {
        "sharepointFolderPath": {
          "type": "string",
          "description": "The path of the SharePoint folder to download from."
        },
        "clientSecret": {
          "description": "The application secret for the app registered in Azure.",
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig"
        },
        "clientId": {
          "type": "string",
          "description": "The Application ID for the app registered in Microsoft Azure Portal. The application must also be configured with MS Graph permissions \"Files.ReadAll\", \"Sites.ReadAll\" and BrowserSiteLists.Read.All."
        },
        "sharepointSiteName": {
          "type": "string",
          "description": "The name of the SharePoint site to download from. This can be the site name or the site id."
        },
        "fileId": {
          "type": "string",
          "description": "Output only. The SharePoint file id. Output only.",
          "readOnly": true
        },
        "driveId": {
          "description": "The ID of the drive to download from.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Unique identifier of the Azure Active Directory Instance."
        },
        "driveName": {
          "description": "The name of the drive to download from.",
          "type": "string"
        },
        "sharepointFolderId": {
          "type": "string",
          "description": "The ID of the SharePoint folder to download from."
        }
      },
      "id": "GoogleCloudAiplatformV1SharePointSourcesSharePointSource"
    },
    "GoogleCloudAiplatformV1StudySpecStudyStoppingConfig": {
      "description": "The configuration (stopping conditions) for automated stopping of a Study. Conditions include trial budgets, time budgets, and convergence detection.",
      "type": "object",
      "properties": {
        "maximumRuntimeConstraint": {
          "description": "If the specified time or duration has passed, stop the study.",
          "$ref": "GoogleCloudAiplatformV1StudyTimeConstraint"
        },
        "maxNumTrials": {
          "type": "integer",
          "format": "int32",
          "description": "If there are more than this many trials, stop the study."
        },
        "minNumTrials": {
          "type": "integer",
          "format": "int32",
          "description": "If there are fewer than this many COMPLETED trials, do not stop the study."
        },
        "shouldStopAsap": {
          "type": "boolean",
          "description": "If true, a Study enters STOPPING_ASAP whenever it would normally enters STOPPING state. The bottom line is: set to true if you want to interrupt on-going evaluations of Trials as soon as the study stopping condition is met. (Please see Study.State documentation for the source of truth)."
        },
        "maxNumTrialsNoProgress": {
          "type": "integer",
          "format": "int32",
          "description": "If the objective value has not improved for this many consecutive trials, stop the study. WARNING: Effective only for single-objective studies."
        },
        "maxDurationNoProgress": {
          "description": "If the objective value has not improved for this much time, stop the study. WARNING: Effective only for single-objective studies.",
          "type": "string",
          "format": "google-duration"
        },
        "minimumRuntimeConstraint": {
          "$ref": "GoogleCloudAiplatformV1StudyTimeConstraint",
          "description": "Each \"stopping rule\" in this proto specifies an \"if\" condition. Before Vizier would generate a new suggestion, it first checks each specified stopping rule, from top to bottom in this list. Note that the first few rules (e.g. minimum_runtime_constraint, min_num_trials) will prevent other stopping rules from being evaluated until they are met. For example, setting `min_num_trials=5` and `always_stop_after= 1 hour` means that the Study will ONLY stop after it has 5 COMPLETED trials, even if more than an hour has passed since its creation. It follows the first applicable rule (whose \"if\" condition is satisfied) to make a stopping decision. If none of the specified rules are applicable, then Vizier decides that the study should not stop. If Vizier decides that the study should stop, the study enters STOPPING state (or STOPPING_ASAP if should_stop_asap = true). IMPORTANT: The automatic study state transition happens precisely as described above; that is, deleting trials or updating StudyConfig NEVER automatically moves the study state back to ACTIVE. If you want to _resume_ a Study that was stopped, 1) change the stopping conditions if necessary, 2) activate the study, and then 3) ask for suggestions. If the specified time or duration has not passed, do not stop the study."
        }
      },
      "id": "GoogleCloudAiplatformV1StudySpecStudyStoppingConfig"
    },
    "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerEnvironment": {
      "properties": {
        "ports": {
          "type": "array",
          "description": "Ports to expose from the container.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateNetworkPort"
          }
        },
        "customContainerSpec": {
          "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerSpec",
          "description": "The specification of the custom container environment."
        },
        "resources": {
          "$ref": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateResourceRequirements",
          "description": "Resource requests and limits for the container."
        }
      },
      "id": "GoogleCloudAiplatformV1SandboxEnvironmentTemplateCustomContainerEnvironment",
      "description": "The customized sandbox runtime environment for BYOC.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSource": {
      "description": "Defines a direct source of memories that should be uploaded to Memory Bank with consolidation.",
      "type": "object",
      "properties": {
        "directMemories": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSourceDirectMemory"
          },
          "type": "array",
          "description": "Required. The direct memories to upload to Memory Bank. At most 5 direct memories are allowed per request."
        }
      },
      "id": "GoogleCloudAiplatformV1GenerateMemoriesRequestDirectMemoriesSource"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig": {
      "description": "Configuration of how features in Featurestore are monitored.",
      "type": "object",
      "properties": {
        "snapshotAnalysis": {
          "description": "The config for Snapshot Analysis Based Feature Monitoring.",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigSnapshotAnalysis"
        },
        "importFeaturesAnalysis": {
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigImportFeaturesAnalysis",
          "description": "The config for ImportFeatures Analysis Based Feature Monitoring."
        },
        "categoricalThresholdConfig": {
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig",
          "description": "Threshold for categorical features of anomaly detection. This is shared by all types of Featurestore Monitoring for categorical features (i.e. Features with type (Feature.ValueType) BOOL or STRING)."
        },
        "numericalThresholdConfig": {
          "description": "Threshold for numerical features of anomaly detection. This is shared by all objectives of Featurestore Monitoring for numerical features (i.e. Features with type (Feature.ValueType) DOUBLE or INT64).",
          "$ref": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfig"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTextTransformation": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlForecastingInputsTransformationTextTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "type": "object",
      "description": "Training pipeline will perform following transformation functions. * The text as is--no change to case, punctuation, spelling, tense, and so on. * Convert the category name to a dictionary lookup index and generate an embedding for each index."
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchResults": {
      "type": "object",
      "description": "Results for tool parameter key match metric.",
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchResults",
      "properties": {
        "toolParameterKeyMatchMetricValues": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKeyMatchMetricValue"
          },
          "description": "Output only. Tool parameter key match metric values.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1UpdateFeatureOnlineStoreOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "id": "GoogleCloudAiplatformV1UpdateFeatureOnlineStoreOperationMetadata",
      "description": "Details of operations that perform update FeatureOnlineStore.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataBigQuerySource": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of a BigQuery table."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTimeSeriesDatasetMetadataBigQuerySource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimilaritySearchParams": {
      "description": "Parameters for semantic similarity search based retrieval.",
      "type": "object",
      "properties": {
        "searchQuery": {
          "type": "string",
          "description": "Required. Query to use for similarity search retrieval. If provided, then the parent ReasoningEngine must have ReasoningEngineContextSpec.MemoryBankConfig.SimilaritySearchConfig set."
        },
        "topK": {
          "description": "Optional. The maximum number of memories to return. The service may return fewer than this value. If unspecified, at most 3 memories will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1RetrieveMemoriesRequestSimilaritySearchParams"
    },
    "GoogleCloudAiplatformV1FeatureViewIndexConfig": {
      "properties": {
        "bruteForceConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfigBruteForceConfig",
          "description": "Optional. Configuration options for using brute force search, which simply implements the standard linear search in the database for each query. It is primarily meant for benchmarking and to generate the ground truth for approximate search."
        },
        "filterColumns": {
          "type": "array",
          "description": "Optional. Columns of features that're used to filter vector search results.",
          "items": {
            "type": "string"
          }
        },
        "embeddingDimension": {
          "description": "Optional. The number of dimensions of the input embedding.",
          "type": "integer",
          "format": "int32"
        },
        "treeAhConfig": {
          "$ref": "GoogleCloudAiplatformV1FeatureViewIndexConfigTreeAHConfig",
          "description": "Optional. Configuration options for the tree-AH algorithm (Shallow tree + Asymmetric Hashing). Please refer to this paper for more details: https://arxiv.org/abs/1908.10396"
        },
        "distanceMeasureType": {
          "enumDescriptions": [
            "Should not be set.",
            "Euclidean (L_2) Distance.",
            "Cosine Distance. Defined as 1 - cosine similarity. We strongly suggest using DOT_PRODUCT_DISTANCE + UNIT_L2_NORM instead of COSINE distance. Our algorithms have been more optimized for DOT_PRODUCT distance which, when combined with UNIT_L2_NORM, is mathematically equivalent to COSINE distance and results in the same ranking.",
            "Dot Product Distance. Defined as a negative of the dot product."
          ],
          "enum": [
            "DISTANCE_MEASURE_TYPE_UNSPECIFIED",
            "SQUARED_L2_DISTANCE",
            "COSINE_DISTANCE",
            "DOT_PRODUCT_DISTANCE"
          ],
          "description": "Optional. The distance measure used in nearest neighbor search.",
          "type": "string"
        },
        "embeddingColumn": {
          "description": "Optional. Column of embedding. This column contains the source data to create index for vector search. embedding_column must be set when using vector search.",
          "type": "string"
        },
        "crowdingColumn": {
          "type": "string",
          "description": "Optional. Column of crowding. This column contains crowding attribute which is a constraint on a neighbor list produced by FeatureOnlineStoreService.SearchNearestEntities to diversify search results. If NearestNeighborQuery.per_crowding_attribute_neighbor_count is set to K in SearchNearestEntitiesRequest, it's guaranteed that no more than K entities of the same crowding attribute are returned in the response."
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureViewIndexConfig",
      "description": "Configuration for vector indexing.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig": {
      "properties": {
        "value": {
          "type": "number",
          "format": "double",
          "description": "Specify a threshold value that can trigger the alert. 1. For categorical feature, the distribution distance is calculated by L-inifinity norm. 2. For numerical feature, the distribution distance is calculated by Jensen–Shannon divergence. Each feature must have a non-zero threshold if they need to be monitored. Otherwise no alert will be triggered for that feature."
        }
      },
      "id": "GoogleCloudAiplatformV1FeaturestoreMonitoringConfigThresholdConfig",
      "description": "The config for Featurestore Monitoring threshold.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FetchPredictOperationRequest": {
      "id": "GoogleCloudAiplatformV1FetchPredictOperationRequest",
      "properties": {
        "operationName": {
          "description": "Required. The server-assigned name for the operation.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for PredictionService.FetchPredictOperation."
    },
    "GoogleCloudAiplatformV1StreamingPredictRequest": {
      "type": "object",
      "description": "Request message for PredictionService.StreamingPredict. The first message must contain endpoint field and optionally input. The subsequent messages must contain input.",
      "id": "GoogleCloudAiplatformV1StreamingPredictRequest",
      "properties": {
        "inputs": {
          "description": "The prediction input.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          }
        },
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1Tensor",
          "description": "The parameters that govern the prediction."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance": {
      "description": "Prediction input format for Video Action Recognition.",
      "type": "object",
      "properties": {
        "timeSegmentEnd": {
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video.",
          "type": "string"
        },
        "content": {
          "type": "string",
          "description": "The Google Cloud Storage location of the video on which to perform the prediction."
        },
        "mimeType": {
          "type": "string",
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime"
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceVideoActionRecognitionPredictionInstance"
    },
    "GoogleCloudAiplatformV1AddExecutionEventsRequest": {
      "description": "Request message for MetadataService.AddExecutionEvents.",
      "type": "object",
      "properties": {
        "events": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Event"
          },
          "type": "array",
          "description": "The Events to create and add."
        }
      },
      "id": "GoogleCloudAiplatformV1AddExecutionEventsRequest"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceResult": {
      "description": "Spec for question answering relevance result.",
      "type": "object",
      "properties": {
        "score": {
          "readOnly": true,
          "description": "Output only. Question Answering Relevance score.",
          "type": "number",
          "format": "float"
        },
        "confidence": {
          "description": "Output only. Confidence for question answering relevance score.",
          "type": "number",
          "format": "float",
          "readOnly": true
        },
        "explanation": {
          "readOnly": true,
          "description": "Output only. Explanation for question answering relevance score.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceResult"
    },
    "GoogleCloudAiplatformV1BatchReadTensorboardTimeSeriesDataResponse": {
      "properties": {
        "timeSeriesData": {
          "description": "The returned time series data.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesData"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1BatchReadTensorboardTimeSeriesDataResponse",
      "description": "Response message for TensorboardService.BatchReadTensorboardTimeSeriesData.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1IndexDatapointSparseEmbedding": {
      "description": "Feature embedding vector for sparse index. An array of numbers whose values are located in the specified dimensions.",
      "type": "object",
      "properties": {
        "dimensions": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "Required. The list of indexes for the embedding values of the sparse vector."
        },
        "values": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Required. The list of embedding values of the sparse vector.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1IndexDatapointSparseEmbedding"
    },
    "GoogleCloudAiplatformV1StartNotebookRuntimeRequest": {
      "type": "object",
      "description": "Request message for NotebookService.StartNotebookRuntime.",
      "id": "GoogleCloudAiplatformV1StartNotebookRuntimeRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics": {
      "description": "Bounding box matching model metrics for a single intersection-over-union threshold and multiple label match confidence thresholds.",
      "type": "object",
      "properties": {
        "iouThreshold": {
          "description": "The intersection-over-union threshold value used to compute this metrics entry.",
          "type": "number",
          "format": "float"
        },
        "meanAveragePrecision": {
          "type": "number",
          "format": "float",
          "description": "The mean average precision, most often close to `auPrc`."
        },
        "confidenceMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetricsConfidenceMetrics"
          },
          "type": "array",
          "description": "Metrics for each label-match confidence_threshold from 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99. Precision-recall curve is derived from them."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics"
    },
    "GoogleCloudAiplatformV1ImportDataOperationMetadata": {
      "description": "Runtime operation information for DatasetService.ImportData.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "id": "GoogleCloudAiplatformV1ImportDataOperationMetadata"
    },
    "GoogleCloudAiplatformV1StudySpecConvexAutomatedStoppingSpec": {
      "id": "GoogleCloudAiplatformV1StudySpecConvexAutomatedStoppingSpec",
      "properties": {
        "minStepCount": {
          "type": "string",
          "format": "int64",
          "description": "Minimum number of steps for a trial to complete. Trials which do not have a measurement with step_count > min_step_count won't be considered for early stopping. It's ok to set it to 0, and a trial can be early stopped at any stage. By default, min_step_count is set to be one-tenth of the max_step_count. When use_elapsed_duration is true, this field is set to the minimum elapsed seconds."
        },
        "maxStepCount": {
          "type": "string",
          "format": "int64",
          "description": "Steps used in predicting the final objective for early stopped trials. In general, it's set to be the same as the defined steps in training / tuning. If not defined, it will learn it from the completed trials. When use_steps is false, this field is set to the maximum elapsed seconds."
        },
        "learningRateParameterName": {
          "description": "The hyper-parameter name used in the tuning job that stands for learning rate. Leave it blank if learning rate is not in a parameter in tuning. The learning_rate is used to estimate the objective value of the ongoing trial.",
          "type": "string"
        },
        "minMeasurementCount": {
          "type": "string",
          "format": "int64",
          "description": "The minimal number of measurements in a Trial. Early-stopping checks will not trigger if less than min_measurement_count+1 completed trials or pending trials with less than min_measurement_count measurements. If not defined, the default value is 5."
        },
        "useElapsedDuration": {
          "description": "This bool determines whether or not the rule is applied based on elapsed_secs or steps. If use_elapsed_duration==false, the early stopping decision is made according to the predicted objective values according to the target steps. If use_elapsed_duration==true, elapsed_secs is used instead of steps. Also, in this case, the parameters max_num_steps and min_num_steps are overloaded to contain max_elapsed_seconds and min_elapsed_seconds.",
          "type": "boolean"
        },
        "updateAllStoppedTrials": {
          "description": "ConvexAutomatedStoppingSpec by default only updates the trials that needs to be early stopped using a newly trained auto-regressive model. When this flag is set to True, all stopped trials from the beginning are potentially updated in terms of their `final_measurement`. Also, note that the training logic of autoregressive models is different in this case. Enabling this option has shown better results and this may be the default option in the future.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for ConvexAutomatedStoppingSpec. When there are enough completed trials (configured by min_measurement_count), for pending trials with enough measurements and steps, the policy first computes an overestimate of the objective value at max_num_steps according to the slope of the incomplete objective value curve. No prediction can be made if the curve is completely flat. If the overestimation is worse than the best objective value of the completed trials, this pending trial will be early-stopped, but a last measurement will be added to the pending trial with max_num_steps and predicted objective value from the autoregression model."
    },
    "GoogleCloudAiplatformV1Metadata": {
      "id": "GoogleCloudAiplatformV1Metadata",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "type": "string",
            "format": "byte"
          },
          "description": "Optional. Attributes attached to the data. The keys have semantic conventions and the consumers of the attributes should know how to deserialize the value bytes based on the keys.",
          "type": "object"
        }
      },
      "type": "object",
      "description": "Metadata for a chunk."
    },
    "GoogleCloudAiplatformV1FunctionResponsePart": {
      "description": "A datatype containing media that is part of a `FunctionResponse` message. A `FunctionResponsePart` consists of data which has an associated datatype. A `FunctionResponsePart` can only contain one of the accepted types in `FunctionResponsePart.data`. A `FunctionResponsePart` must have a fixed IANA MIME type identifying the type and subtype of the media if the `inline_data` field is filled with raw bytes.",
      "type": "object",
      "properties": {
        "inlineData": {
          "$ref": "GoogleCloudAiplatformV1FunctionResponseBlob",
          "description": "Inline media bytes."
        },
        "fileData": {
          "description": "URI based data.",
          "$ref": "GoogleCloudAiplatformV1FunctionResponseFileData"
        }
      },
      "id": "GoogleCloudAiplatformV1FunctionResponsePart"
    },
    "GoogleCloudAiplatformV1ExplanationSpecOverride": {
      "id": "GoogleCloudAiplatformV1ExplanationSpecOverride",
      "properties": {
        "parameters": {
          "$ref": "GoogleCloudAiplatformV1ExplanationParameters",
          "description": "The parameters to be overridden. Note that the attribution method cannot be changed. If not specified, no parameter is overridden."
        },
        "metadata": {
          "description": "The metadata to be overridden. If not specified, no metadata is overridden.",
          "$ref": "GoogleCloudAiplatformV1ExplanationMetadataOverride"
        },
        "examplesOverride": {
          "$ref": "GoogleCloudAiplatformV1ExamplesOverride",
          "description": "The example-based explanations parameter overrides."
        }
      },
      "type": "object",
      "description": "The ExplanationSpec entries that can be overridden at online explanation time."
    },
    "GoogleCloudAiplatformV1AddContextChildrenResponse": {
      "description": "Response message for MetadataService.AddContextChildren.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1AddContextChildrenResponse"
    },
    "GoogleCloudAiplatformV1CreateRegistryFeatureOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateRegistryFeatureOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object",
      "description": "Details of operations that perform create FeatureGroup."
    },
    "GoogleCloudAiplatformV1ContentMapContents": {
      "description": "Repeated Content type.",
      "type": "object",
      "properties": {
        "contents": {
          "type": "array",
          "description": "Optional. Repeated contents.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ContentMapContents"
    },
    "GoogleCloudAiplatformV1RagRetrievalConfigRanking": {
      "properties": {
        "rankService": {
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfigRankingRankService",
          "description": "Optional. Config for Rank Service."
        },
        "llmRanker": {
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfigRankingLlmRanker",
          "description": "Optional. Config for LlmRanker."
        }
      },
      "id": "GoogleCloudAiplatformV1RagRetrievalConfigRanking",
      "description": "Config for ranking and reranking.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureOnlineStore": {
      "description": "Vertex AI Feature Online Store provides a centralized repository for serving ML features and embedding indexes at low latency. The Feature Online Store is a top-level container.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. State of the featureOnlineStore.",
          "enum": [
            "STATE_UNSPECIFIED",
            "STABLE",
            "UPDATING"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "State when the featureOnlineStore configuration is not being updated and the fields reflect the current configuration of the featureOnlineStore. The featureOnlineStore is usable in this state.",
            "The state of the featureOnlineStore configuration when it is being updated. During an update, the fields reflect either the original configuration or the updated configuration of the featureOnlineStore. The featureOnlineStore is still usable in this state."
          ]
        },
        "etag": {
          "type": "string",
          "description": "Optional. Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "bigtable": {
          "description": "Contains settings for the Cloud Bigtable instance that will be created to serve featureValues for all FeatureViews under this FeatureOnlineStore.",
          "$ref": "GoogleCloudAiplatformV1FeatureOnlineStoreBigtable"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Optional. Customer-managed encryption key spec for data storage. If set, online store will be secured by this key."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Name of the FeatureOnlineStore. Format: `projects/{project}/locations/{location}/featureOnlineStores/{featureOnlineStore}`",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "optimized": {
          "description": "Contains settings for the Optimized store that will be created to serve featureValues for all FeatureViews under this FeatureOnlineStore. When choose Optimized storage type, need to set PrivateServiceConnectConfig.enable_private_service_connect to use private endpoint. Otherwise will use public endpoint by default.",
          "$ref": "GoogleCloudAiplatformV1FeatureOnlineStoreOptimized"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this FeatureOnlineStore was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. Timestamp when this FeatureOnlineStore was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. The labels with user-defined metadata to organize your FeatureOnlineStore. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one FeatureOnlineStore(System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable."
        },
        "dedicatedServingEndpoint": {
          "description": "Optional. The dedicated serving endpoint for this FeatureOnlineStore, which is different from common Vertex service endpoint.",
          "$ref": "GoogleCloudAiplatformV1FeatureOnlineStoreDedicatedServingEndpoint"
        }
      },
      "id": "GoogleCloudAiplatformV1FeatureOnlineStore"
    },
    "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataResponse": {
      "type": "object",
      "description": "Response message for TensorboardService.ExportTensorboardTimeSeriesData.",
      "id": "GoogleCloudAiplatformV1ExportTensorboardTimeSeriesDataResponse",
      "properties": {
        "timeSeriesDataPoints": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesDataPoint"
          },
          "type": "array",
          "description": "The returned time series data points."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as page_token to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudAiplatformV1NotebookEucConfig": {
      "type": "object",
      "description": "The euc configuration of NotebookRuntimeTemplate.",
      "id": "GoogleCloudAiplatformV1NotebookEucConfig",
      "properties": {
        "eucDisabled": {
          "description": "Input only. Whether EUC is disabled in this NotebookRuntimeTemplate. In proto3, the default value of a boolean is false. In this way, by default EUC will be enabled for NotebookRuntimeTemplate.",
          "type": "boolean"
        },
        "bypassActasCheck": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether ActAs check is bypassed for service account attached to the VM. If false, we need ActAs check for the default Compute Engine Service account. When a Runtime is created, a VM is allocated using Default Compute Engine Service Account. Any user requesting to use this Runtime requires Service Account User (ActAs) permission over this SA. If true, Runtime owner is using EUC and does not require the above permission as VM no longer use default Compute Engine SA, but a P4SA."
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpecRepeatedRubrics": {
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricRubricBasedMetricSpecRepeatedRubrics",
      "properties": {
        "rubrics": {
          "type": "array",
          "description": "The list of rubrics.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Rubric"
          }
        }
      },
      "type": "object",
      "description": "Defines a list of rubrics, used when providing rubrics inline."
    },
    "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfig",
      "type": "object",
      "deprecated": true,
      "properties": {
        "agentId": {
          "description": "Optional. Unique identifier of the agent. This ID is used to refer to this agent, e.g., in AgentEvent.author, or in the `sub_agents` field. It must be unique within the `agents` map.",
          "type": "string"
        },
        "toolsText": {
          "description": "A JSON string containing a list of tools available to an agent with info such as name, description, parameters and required parameters.",
          "type": "string"
        },
        "agentType": {
          "description": "Optional. The type or class of the agent (e.g., \"LlmAgent\", \"RouterAgent\", \"ToolUseAgent\"). Useful for the autorater to understand the expected behavior of the agent.",
          "type": "string"
        },
        "tools": {
          "description": "List of tools.",
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceDeprecatedAgentConfigTools"
        },
        "subAgents": {
          "type": "array",
          "description": "Optional. The list of valid agent IDs (names) that this agent can delegate to. This defines the directed edges in the agent system graph topology.",
          "items": {
            "type": "string"
          }
        },
        "developerInstruction": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
          "description": "Optional. Contains instructions from the developer for the agent. Can be static or a dynamic prompt template used with the `AgentEvent.state_delta` field."
        },
        "description": {
          "type": "string",
          "description": "Optional. A high-level description of the agent's role and responsibilities. Critical for evaluating if the agent is routing tasks correctly."
        }
      },
      "description": "Deprecated: Use `google.cloud.aiplatform.master.AgentConfig` in `agent_eval_data` instead. Configuration for an Agent."
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityResult": {
      "description": "Spec for summarization verbosity result.",
      "type": "object",
      "properties": {
        "explanation": {
          "type": "string",
          "description": "Output only. Explanation for summarization verbosity score.",
          "readOnly": true
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Output only. Summarization Verbosity score.",
          "readOnly": true
        },
        "confidence": {
          "readOnly": true,
          "description": "Output only. Confidence for summarization verbosity score.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityResult"
    },
    "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest": {
      "properties": {
        "input": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Input content provided by users in JSON object format. Examples include text query, function calling parameters, media bytes, etc.",
          "type": "object"
        },
        "classMethod": {
          "type": "string",
          "description": "Optional. Class method to be used for the stream query. It is optional and defaults to \"stream_query\" if unspecified."
        }
      },
      "id": "GoogleCloudAiplatformV1StreamQueryReasoningEngineRequest",
      "description": "Request message for ReasoningEngineExecutionService.StreamQuery.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1MemoryMetadataValue": {
      "type": "object",
      "description": "Memory metadata.",
      "id": "GoogleCloudAiplatformV1MemoryMetadataValue",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "Represents a string value."
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "Represents a double value."
        },
        "boolValue": {
          "description": "Represents a boolean value.",
          "type": "boolean"
        },
        "timestampValue": {
          "type": "string",
          "format": "google-datetime",
          "description": "Represents a timestamp value. When filtering on timestamp values, only the seconds field will be compared."
        }
      }
    },
    "GoogleCloudAiplatformV1Study": {
      "type": "object",
      "description": "A message representing a Study.",
      "id": "GoogleCloudAiplatformV1Study",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Describes the Study, default value is empty string."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of a study. The study's globally unique identifier. Format: `projects/{project}/locations/{location}/studies/{study}`",
          "readOnly": true
        },
        "inactiveReason": {
          "description": "Output only. A human readable reason why the Study is inactive. This should be empty if a study is ACTIVE or COMPLETED.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The study state is unspecified.",
            "The study is active.",
            "The study is stopped due to an internal error.",
            "The study is done when the service exhausts the parameter search space or max_trial_count is reached."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "COMPLETED"
          ],
          "description": "Output only. The detailed state of a Study."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time at which the study was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "studySpec": {
          "description": "Required. Configuration of the Study.",
          "$ref": "GoogleCloudAiplatformV1StudySpec"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataBigQuerySource": {
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of a BigQuery table. e.g. bq://projectId.bqDatasetId.bqTableId"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataBigQuerySource",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassification": {
      "description": "A TrainingJob that trains and uploads an AutoML Image Classification Model.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassificationInputs"
        },
        "metadata": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassificationMetadata",
          "description": "The metadata information."
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageClassification"
    },
    "GoogleCloudAiplatformV1BlurBaselineConfig": {
      "description": "Config for blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https://arxiv.org/abs/2004.03383",
      "type": "object",
      "properties": {
        "maxBlurSigma": {
          "type": "number",
          "format": "float",
          "description": "The standard deviation of the blur kernel for the blurred baseline. The same blurring parameter is used for both the height and the width dimension. If not set, the method defaults to the zero (i.e. black for images) baseline."
        }
      },
      "id": "GoogleCloudAiplatformV1BlurBaselineConfig"
    },
    "GoogleCloudAiplatformV1GroundednessInstance": {
      "description": "Spec for groundedness instance.",
      "type": "object",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Required. Background information provided in context used to compare against the prediction."
        }
      },
      "id": "GoogleCloudAiplatformV1GroundednessInstance"
    },
    "GoogleCloudAiplatformV1GenerationConfigThinkingConfig": {
      "properties": {
        "includeThoughts": {
          "type": "boolean",
          "description": "Optional. If true, the model will include its thoughts in the response. \"Thoughts\" are the intermediate steps the model takes to arrive at the final response. They can provide insights into the model's reasoning process and help with debugging. If this is true, thoughts are returned only when available."
        },
        "thinkingLevel": {
          "description": "Optional. The number of thoughts tokens that the model should generate.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified thinking level.",
            "Low thinking level.",
            "Medium thinking level.",
            "High thinking level.",
            "MINIMAL thinking level."
          ],
          "enum": [
            "THINKING_LEVEL_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "MINIMAL"
          ]
        },
        "thinkingBudget": {
          "description": "Optional. The token budget for the model's thinking process. The model will make a best effort to stay within this budget. This can be used to control the trade-off between response quality and latency.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1GenerationConfigThinkingConfig",
      "description": "Configuration for the model's thinking features. \"Thinking\" is a process where the model breaks down a complex task into smaller, manageable steps. This allows the model to reason about the task, plan its approach, and execute the plan to generate a high-quality response.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata": {
      "type": "object",
      "description": "Details of operations that perform batch create Features.",
      "id": "GoogleCloudAiplatformV1BatchCreateFeaturesOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for Feature.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      }
    },
    "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateRequest": {
      "type": "object",
      "description": "Request message for VizierService.CheckTrialEarlyStoppingState.",
      "id": "GoogleCloudAiplatformV1CheckTrialEarlyStoppingStateRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1NotebookRuntimeTemplate": {
      "id": "GoogleCloudAiplatformV1NotebookRuntimeTemplate",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the NotebookRuntimeTemplate."
        },
        "displayName": {
          "description": "Required. The display name of the NotebookRuntimeTemplate. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity of the notebook runtime template.",
          "$ref": "GoogleCloudAiplatformV1NotebookReservationAffinity"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was most recently updated."
        },
        "networkSpec": {
          "description": "Optional. Network spec.",
          "$ref": "GoogleCloudAiplatformV1NetworkSpec"
        },
        "description": {
          "type": "string",
          "description": "The description of the NotebookRuntimeTemplate."
        },
        "shieldedVmConfig": {
          "$ref": "GoogleCloudAiplatformV1ShieldedVmConfig",
          "description": "Optional. Immutable. Runtime Shielded VM spec."
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          }
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for the notebook runtime."
        },
        "etag": {
          "type": "string",
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens."
        },
        "softwareConfig": {
          "description": "Optional. The notebook software configuration of the notebook runtime.",
          "$ref": "GoogleCloudAiplatformV1NotebookSoftwareConfig"
        },
        "eucConfig": {
          "description": "EUC configuration of the NotebookRuntimeTemplate.",
          "$ref": "GoogleCloudAiplatformV1NotebookEucConfig"
        },
        "notebookRuntimeType": {
          "type": "string",
          "description": "Optional. Immutable. The type of the notebook runtime template.",
          "enumDescriptions": [
            "Unspecified notebook runtime type, NotebookRuntimeType will default to USER_DEFINED.",
            "runtime or template with coustomized configurations from user.",
            "runtime or template with system defined configurations."
          ],
          "enum": [
            "NOTEBOOK_RUNTIME_TYPE_UNSPECIFIED",
            "USER_DEFINED",
            "ONE_CLICK"
          ]
        },
        "labels": {
          "type": "object",
          "description": "The labels with user-defined metadata to organize the NotebookRuntimeTemplates. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "isDefault": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Deprecated: This field has no behavior. Use notebook_runtime_type = 'ONE_CLICK' instead. The default template to use if not specified.",
          "type": "boolean"
        },
        "machineSpec": {
          "$ref": "GoogleCloudAiplatformV1MachineSpec",
          "description": "Optional. Immutable. The specification of a single machine for the template."
        },
        "serviceAccount": {
          "deprecated": true,
          "description": "Deprecated: This field is ignored and the \"Vertex AI Notebook Service Account\" (service-PROJECT_NUMBER@gcp-sa-aiplatform-vm.iam.gserviceaccount.com) is used for the runtime workload identity. See https://cloud.google.com/iam/docs/service-agents#vertex-ai-notebook-service-account for more details. For NotebookExecutionJob, use NotebookExecutionJob.service_account instead. The service account that the runtime workload runs as. You can use any service account within the same project, but you must have the service account user permission to use the instance. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "type": "string"
        },
        "dataPersistentDiskSpec": {
          "description": "Optional. The specification of persistent disk attached to the runtime as data disk storage.",
          "$ref": "GoogleCloudAiplatformV1PersistentDiskSpec"
        },
        "idleShutdownConfig": {
          "$ref": "GoogleCloudAiplatformV1NotebookIdleShutdownConfig",
          "description": "The idle shutdown configuration of NotebookRuntimeTemplate. This config will only be set when idle shutdown is enabled."
        }
      },
      "type": "object",
      "description": "A template that specifies runtime configurations such as machine type, runtime version, network configurations, etc. Multiple runtimes can be created from a runtime template."
    },
    "GoogleCloudAiplatformV1CreateFeaturestoreOperationMetadata": {
      "id": "GoogleCloudAiplatformV1CreateFeaturestoreOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for Featurestore."
        }
      },
      "type": "object",
      "description": "Details of operations that perform create Featurestore."
    },
    "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse": {
      "id": "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse",
      "properties": {
        "importedModelEvaluationSlices": {
          "type": "array",
          "description": "Output only. List of imported ModelEvaluationSlice.name.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for ModelService.BatchImportModelEvaluationSlices"
    },
    "GoogleCloudAiplatformV1BleuSpec": {
      "type": "object",
      "description": "Spec for bleu score metric - calculates the precision of n-grams in the prediction as compared to reference - returns a score ranging between 0 to 1.",
      "id": "GoogleCloudAiplatformV1BleuSpec",
      "properties": {
        "useEffectiveOrder": {
          "description": "Optional. Whether to use_effective_order to compute bleu score.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAiplatformV1ExportModelOperationMetadata": {
      "id": "GoogleCloudAiplatformV1ExportModelOperationMetadata",
      "properties": {
        "outputInfo": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1ExportModelOperationMetadataOutputInfo",
          "description": "Output only. Information further describing the output of this Model export."
        },
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "type": "object",
      "description": "Details of ModelService.ExportModel operation."
    },
    "GoogleCloudAiplatformV1StartNotebookRuntimeOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The operation generic information."
        },
        "progressMessage": {
          "type": "string",
          "description": "A human-readable message that shows the intermediate progress details of NotebookRuntime."
        }
      },
      "id": "GoogleCloudAiplatformV1StartNotebookRuntimeOperationMetadata",
      "description": "Metadata information for NotebookService.StartNotebookRuntime.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RagQuery": {
      "properties": {
        "text": {
          "type": "string",
          "description": "Optional. The query in text format to get relevant contexts."
        },
        "ragRetrievalConfig": {
          "description": "Optional. The retrieval config for the query.",
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1RagQuery",
      "description": "A query to retrieve relevant contexts.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RougeSpec": {
      "description": "Spec for rouge score metric - calculates the recall of n-grams in prediction as compared to reference - returns a score ranging between 0 and 1.",
      "type": "object",
      "properties": {
        "rougeType": {
          "description": "Optional. Supported rouge types are rougen[1-9], rougeL, and rougeLsum.",
          "type": "string"
        },
        "splitSummaries": {
          "description": "Optional. Whether to split summaries while using rougeLsum.",
          "type": "boolean"
        },
        "useStemmer": {
          "description": "Optional. Whether to use stemmer to compute rouge score.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudAiplatformV1RougeSpec"
    },
    "GoogleCloudAiplatformV1CustomOutput": {
      "id": "GoogleCloudAiplatformV1CustomOutput",
      "properties": {
        "rawOutputs": {
          "description": "Output only. List of raw output strings.",
          "$ref": "GoogleCloudAiplatformV1RawOutput",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Spec for custom output."
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseMetricValue": {
      "description": "TrajectorySingleToolUse metric value for an instance.",
      "type": "object",
      "properties": {
        "score": {
          "description": "Output only. TrajectorySingleToolUse score.",
          "type": "number",
          "format": "float",
          "readOnly": true
        }
      },
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseMetricValue"
    },
    "GoogleCloudAiplatformV1ListOptimalTrialsRequest": {
      "properties": {},
      "id": "GoogleCloudAiplatformV1ListOptimalTrialsRequest",
      "description": "Request message for VizierService.ListOptimalTrials.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1FileStatus": {
      "id": "GoogleCloudAiplatformV1FileStatus",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "RagFile state is unspecified.",
            "RagFile resource has been created and indexed successfully.",
            "RagFile resource is in a problematic state. See `error_message` field for details."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "ERROR"
          ],
          "description": "Output only. RagFile state."
        },
        "errorStatus": {
          "readOnly": true,
          "description": "Output only. Only when the `state` field is ERROR.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "RagFile status."
    },
    "GoogleCloudAiplatformV1ToolCallValidInput": {
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1ToolCallValidSpec",
          "description": "Required. Spec for tool call valid metric."
        },
        "instances": {
          "description": "Required. Repeated tool call valid instances.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolCallValidInstance"
          }
        }
      },
      "id": "GoogleCloudAiplatformV1ToolCallValidInput",
      "description": "Input for tool call valid metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1EmbedContentResponseEmbedding": {
      "properties": {
        "values": {
          "items": {
            "type": "number",
            "format": "float"
          },
          "description": "Embedding vector values.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding",
      "description": "A list of floats representing an embedding.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1StructValue": {
      "type": "object",
      "description": "Struct (or object) type feature value.",
      "id": "GoogleCloudAiplatformV1StructValue",
      "properties": {
        "values": {
          "type": "array",
          "description": "A list of field values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1StructFieldValue"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationMetadataOverrideInputMetadataOverride": {
      "id": "GoogleCloudAiplatformV1ExplanationMetadataOverrideInputMetadataOverride",
      "properties": {
        "inputBaselines": {
          "type": "array",
          "description": "Baseline inputs for this feature. This overrides the `input_baseline` field of the ExplanationMetadata.InputMetadata object of the corresponding feature's input metadata. If it's not specified, the original baselines are not overridden.",
          "items": {
[...]
