{
  "revision": "20260410",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "description": "Train high-quality custom machine learning models with minimal machine learning expertise and effort.",
  "discoveryVersion": "v1",
  "version": "v1",
  "schemas": {
    "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata": {
      "description": "Runtime operation information for EndpointService.MutateDeployedModel.",
      "id": "GoogleCloudAiplatformV1MutateDeployedModelOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1LLMBasedMetricSpec": {
      "id": "GoogleCloudAiplatformV1LLMBasedMetricSpec",
      "properties": {
        "resultParserConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationParserConfig",
          "description": "Optional. The parser config for the metric result."
        },
        "metricPromptTemplate": {
          "description": "Required. Template for the prompt sent to the judge model.",
          "type": "string"
        },
        "judgeAutoraterConfig": {
          "$ref": "GoogleCloudAiplatformV1AutoraterConfig",
          "description": "Optional. Optional configuration for the judge LLM (Autorater)."
        },
        "rubricGroupKey": {
          "description": "Use a pre-defined group of rubrics associated with the input. Refers to a key in the rubric_groups map of EvaluationInstance.",
          "type": "string"
        },
        "predefinedRubricGenerationSpec": {
          "description": "Dynamically generate rubrics using a predefined spec.",
          "$ref": "GoogleCloudAiplatformV1PredefinedMetricSpec"
        },
        "systemInstruction": {
          "description": "Optional. System instructions for the judge model.",
          "type": "string"
        },
        "additionalConfig": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. Optional additional configuration for the metric."
        },
        "rubricGenerationSpec": {
          "description": "Dynamically generate rubrics using this specification.",
          "$ref": "GoogleCloudAiplatformV1RubricGenerationSpec"
        }
      },
      "type": "object",
      "description": "Specification for an LLM based metric."
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionExportEvaluatedDataItemsConfig",
      "properties": {
        "destinationBigqueryUri": {
          "description": "URI of desired destination BigQuery table. Expected format: `bq://{project_id}:{dataset_id}:{table}` If not specified, then results are exported to the following auto-created BigQuery table: `{project_id}:export_evaluated_examples_{model_name}_{yyyy_MM_dd'T'HH_mm_ss_SSS'Z'}.evaluated_examples`",
          "type": "string"
        },
        "overrideExistingTable": {
          "description": "If true and an export destination is specified, then the contents of the destination are overwritten. Otherwise, if the export destination already exists, then the export operation fails.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration for exporting test set predictions to a BigQuery table."
    },
    "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource": {
      "id": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySource",
      "properties": {
        "featureGroups": {
          "type": "array",
          "description": "Required. List of features that need to be synced to Online Store.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureViewFeatureRegistrySourceFeatureGroup"
          }
        },
        "projectNumber": {
          "description": "Optional. The project number of the parent project of the Feature Groups.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Feature Registry source for features that need to be synced to Online Store."
    },
    "GoogleCloudAiplatformV1ImportDataResponse": {
      "description": "Response message for DatasetService.ImportData.",
      "id": "GoogleCloudAiplatformV1ImportDataResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1DeployIndexResponse": {
      "description": "Response message for IndexEndpointService.DeployIndex.",
      "id": "GoogleCloudAiplatformV1DeployIndexResponse",
      "properties": {
        "deployedIndex": {
          "$ref": "GoogleCloudAiplatformV1DeployedIndex",
          "description": "The DeployedIndex that had been deployed in the IndexEndpoint."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1RetrieveContextsRequest": {
      "description": "Request message for VertexRagService.RetrieveContexts.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1RetrieveContextsRequest",
      "properties": {
        "vertexRagStore": {
          "$ref": "GoogleCloudAiplatformV1RetrieveContextsRequestVertexRagStore",
          "description": "The data source for Vertex RagStore."
        },
        "query": {
          "$ref": "GoogleCloudAiplatformV1RagQuery",
          "description": "Required. Single RAG retrieve query."
        }
      }
    },
    "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata": {
      "description": "Runtime operation information for DatasetService.RestoreDatasetVersion.",
      "id": "GoogleCloudAiplatformV1RestoreDatasetVersionOperationMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "The common part of the operation metadata."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption": {
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption",
      "properties": {
        "numberOfShots": {
          "type": "integer",
          "description": "How many shots to use.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Optional settings for translation prompt."
    },
    "GoogleCloudAiplatformV1StartNotebookRuntimeRequest": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1StartNotebookRuntimeRequest",
      "properties": {},
      "description": "Request message for NotebookService.StartNotebookRuntime."
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionMetricValue": {
      "description": "TrajectoryPrecision metric value for an instance.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionMetricValue",
      "properties": {
        "score": {
          "description": "Output only. TrajectoryPrecision score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1ReadTensorboardTimeSeriesDataResponse": {
      "description": "Response message for TensorboardService.ReadTensorboardTimeSeriesData.",
      "id": "GoogleCloudAiplatformV1ReadTensorboardTimeSeriesDataResponse",
      "properties": {
        "timeSeriesData": {
          "description": "The returned time series data.",
          "$ref": "GoogleCloudAiplatformV1TimeSeriesData"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FeatureViewSyncSyncSummary": {
      "id": "GoogleCloudAiplatformV1FeatureViewSyncSyncSummary",
      "properties": {
        "totalSlot": {
          "format": "int64",
          "description": "Output only. BigQuery slot milliseconds consumed for the sync job.",
          "readOnly": true,
          "type": "string"
        },
        "rowSynced": {
          "description": "Output only. Total number of rows synced.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "systemWatermarkTime": {
          "type": "string",
          "description": "Lower bound of the system time watermark for the sync job. This is only set for continuously syncing feature views.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Summary from the Sync job. For continuous syncs, the summary is updated periodically. For batch syncs, it gets updated on completion of the sync."
    },
    "GoogleCloudAiplatformV1CustomJob": {
      "description": "Represents a job that runs custom workloads such as a Docker container or a Python package. A CustomJob can have multiple worker pools and each worker pool can have its own machine and input spec. A CustomJob will be cleaned up once the job enters terminal state (failed or succeeded).",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CustomJob",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the CustomJob was created."
        },
        "displayName": {
          "description": "Required. The display name of the CustomJob. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "jobSpec": {
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec",
          "description": "Required. Job spec."
        },
        "webAccessUris": {
          "description": "Output only. URIs for accessing [interactive shells](https://cloud.google.com/vertex-ai/docs/training/monitor-debug-interactive-shell) (one URI for each training node). Only available if job_spec.enable_web_access is `true`. The keys are names of each node in the training job; for example, `workerpool0-0` for the primary node, `workerpool1-0` for the first node in the second worker pool, and `workerpool1-1` for the second node in the second worker pool. The values are the URIs for each node's interactive shell.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "JOB_STATE_UNSPECIFIED",
            "JOB_STATE_QUEUED",
            "JOB_STATE_PENDING",
            "JOB_STATE_RUNNING",
            "JOB_STATE_SUCCEEDED",
            "JOB_STATE_FAILED",
            "JOB_STATE_CANCELLING",
            "JOB_STATE_CANCELLED",
            "JOB_STATE_PAUSED",
            "JOB_STATE_EXPIRED",
            "JOB_STATE_UPDATING",
            "JOB_STATE_PARTIALLY_SUCCEEDED"
          ],
          "enumDescriptions": [
            "The job state is unspecified.",
            "The job has been just created or resumed and processing has not yet begun.",
            "The service is preparing to run the job.",
            "The job is in progress.",
            "The job completed successfully.",
            "The job failed.",
            "The job is being cancelled. From this state the job may only go to either `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
            "The job has been cancelled.",
            "The job has been stopped, and can be resumed.",
            "The job has expired.",
            "The job is being updated. Only jobs in the `RUNNING` state can be updated. After updating, the job goes back to the `RUNNING` state.",
            "The job is partially succeeded, some results may be missing due to errors."
          ],
          "description": "Output only. The detailed state of the job."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of a CustomJob.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key options for a CustomJob. If this is set, then all resources created by the CustomJob will be encrypted with the provided encryption key."
        },
        "endTime": {
          "description": "Output only. Time when the CustomJob entered any of the following states: `JOB_STATE_SUCCEEDED`, `JOB_STATE_FAILED`, `JOB_STATE_CANCELLED`.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. Only populated when job's state is `JOB_STATE_FAILED` or `JOB_STATE_CANCELLED`.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize CustomJobs. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the CustomJob for the first time entered the `JOB_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the CustomJob was most recently updated."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTextDatasetMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTextDatasetMetadata",
      "properties": {
        "gcsBucket": {
          "description": "Google Cloud Storage Bucket name that contains the blob data of this Dataset.",
          "type": "string"
        },
        "dataItemSchemaUri": {
          "description": "Points to a YAML file stored on Google Cloud Storage describing payload of the Text DataItems that belong to this Dataset.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The metadata of Datasets that contain Text DataItems."
    },
    "GoogleCloudAiplatformV1UndeployModelRequest": {
      "description": "Request message for EndpointService.UndeployModel.",
      "id": "GoogleCloudAiplatformV1UndeployModelRequest",
      "properties": {
        "deployedModelId": {
          "description": "Required. The ID of the DeployedModel to be undeployed from the Endpoint.",
          "type": "string"
        },
        "trafficSplit": {
          "description": "If this field is provided, then the Endpoint's traffic_split will be overwritten with it. If last DeployedModel is being undeployed from the Endpoint, the [Endpoint.traffic_split] will always end up empty when this call returns. A DeployedModel will be successfully undeployed only if it doesn't have any traffic assigned to it when this method executes, or if this field unassigns any traffic to it.",
          "type": "object",
          "additionalProperties": {
            "format": "int32",
            "type": "integer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1UrlContext": {
      "id": "GoogleCloudAiplatformV1UrlContext",
      "properties": {},
      "type": "object",
      "description": "Tool to support URL context."
    },
    "GoogleCloudAiplatformV1ModelDeploymentMonitoringObjectiveConfig": {
      "description": "ModelDeploymentMonitoringObjectiveConfig contains the pair of deployed_model_id to ModelMonitoringObjectiveConfig.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ModelDeploymentMonitoringObjectiveConfig",
      "properties": {
        "deployedModelId": {
          "description": "The DeployedModel ID of the objective config.",
          "type": "string"
        },
        "objectiveConfig": {
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfig",
          "description": "The objective config of for the modelmonitoring job of this deployed model."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolCodeExecution": {
      "description": "Tool that executes code generated by the model, and automatically returns the result to the model. See also ExecutableCode and CodeExecutionResult, which are input and output to this tool.",
      "id": "GoogleCloudAiplatformV1ToolCodeExecution",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec": {
      "description": "Selects Features of an EntityType to read values of and specifies read settings.",
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestEntityTypeSpec",
      "properties": {
        "entityTypeId": {
          "description": "Required. ID of the EntityType to select Features. The EntityType id is the entity_type_id specified during EntityType creation.",
          "type": "string"
        },
        "featureSelector": {
          "description": "Required. Selectors choosing which Feature values to read from the EntityType.",
          "$ref": "GoogleCloudAiplatformV1FeatureSelector"
        },
        "settings": {
          "type": "array",
          "description": "Per-Feature settings for the batch read.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DestinationFeatureSetting"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1IndexDatapointRestriction": {
      "id": "GoogleCloudAiplatformV1IndexDatapointRestriction",
      "properties": {
        "namespace": {
          "description": "The namespace of this restriction. e.g.: color.",
          "type": "string"
        },
        "allowList": {
          "description": "The attributes to allow in this namespace. e.g.: 'red'",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "denyList": {
          "description": "The attributes to deny in this namespace. e.g.: 'blue'",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Restriction of a datapoint which describe its attributes(tokens) from each of several attribute categories(namespaces)."
    },
    "GoogleCloudAiplatformV1PurgeContextsMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PurgeContextsMetadata",
      "properties": {
        "genericMetadata": {
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata",
          "description": "Operation metadata for purging Contexts."
        }
      },
      "description": "Details of operations that perform MetadataService.PurgeContexts."
    },
    "GoogleCloudAiplatformV1RagRetrievalConfigFilter": {
      "description": "Config for filters.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagRetrievalConfigFilter",
      "properties": {
        "vectorDistanceThreshold": {
          "description": "Optional. Only returns contexts with vector distance smaller than the threshold.",
          "format": "double",
          "type": "number"
        },
        "metadataFilter": {
          "description": "Optional. String for metadata filtering.",
          "type": "string"
        },
        "vectorSimilarityThreshold": {
          "description": "Optional. Only returns contexts with vector similarity larger than the threshold.",
          "format": "double",
          "type": "number"
        }
      }
    },
    "GoogleCloudAiplatformV1CancelTrainingPipelineRequest": {
      "description": "Request message for PipelineService.CancelTrainingPipeline.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CancelTrainingPipelineRequest",
      "properties": {}
    },
    "GoogleCloudAiplatformV1TrajectoryExactMatchInput": {
      "id": "GoogleCloudAiplatformV1TrajectoryExactMatchInput",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for TrajectoryExactMatch metric.",
          "$ref": "GoogleCloudAiplatformV1TrajectoryExactMatchSpec"
        },
        "instances": {
          "type": "array",
          "description": "Required. Repeated TrajectoryExactMatch instance.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryExactMatchInstance"
          }
        }
      },
      "type": "object",
      "description": "Instances and metric spec for TrajectoryExactMatch metric."
    },
    "GoogleCloudAiplatformV1PublisherModelCallToAction": {
      "description": "Actions could take on this Publisher Model.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1PublisherModelCallToAction",
      "properties": {
        "viewRestApi": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionViewRestApi",
          "description": "Optional. To view Rest API docs."
        },
        "requestAccess": {
          "description": "Optional. Request for access.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "deploy": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy",
          "description": "Optional. Deploy the PublisherModel to Vertex Endpoint."
        },
        "openPromptTuningPipeline": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open prompt-tuning pipeline of the PublisherModel."
        },
        "deployGke": {
          "description": "Optional. Deploy PublisherModel to Google Kubernetes Engine.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployGke"
        },
        "openEvaluationPipeline": {
          "description": "Optional. Open evaluation pipeline of the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "createApplication": {
          "description": "Optional. Create application using the PublisherModel.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openGenie": {
          "description": "Optional. Open Genie / Playground.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences"
        },
        "openFineTuningPipelines": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionOpenFineTuningPipelines",
          "description": "Optional. Open fine-tuning pipelines of the PublisherModel."
        },
        "multiDeployVertex": {
          "description": "Optional. Multiple setups to deploy the PublisherModel to Vertex Endpoint.",
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployVertex"
        },
        "openNotebook": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open notebook of the PublisherModel."
        },
        "openNotebooks": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionOpenNotebooks",
          "description": "Optional. Open notebooks of the PublisherModel."
        },
        "openFineTuningPipeline": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open fine-tuning pipeline of the PublisherModel."
        },
        "openGenerationAiStudio": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionRegionalResourceReferences",
          "description": "Optional. Open in Generation AI Studio."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics": {
      "description": "Metrics for classification evaluation results.",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetrics",
      "properties": {
        "logLoss": {
          "format": "float",
          "description": "The Log Loss metric.",
          "type": "number"
        },
        "auPrc": {
          "format": "float",
          "description": "The Area Under Precision-Recall Curve metric. Micro-averaged for the overall evaluation.",
          "type": "number"
        },
        "confusionMatrix": {
          "description": "Confusion matrix of the evaluation.",
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix"
        },
        "auRoc": {
          "format": "float",
          "description": "The Area Under Receiver Operating Characteristic curve metric. Micro-averaged for the overall evaluation.",
          "type": "number"
        },
        "confidenceMetrics": {
          "type": "array",
          "description": "Metrics for each `confidenceThreshold` in 0.00,0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and `positionThreshold` = INT32_MAX_VALUE. ROC and precision-recall curves, and other aggregated metrics are derived from them. The confidence metrics entries may also be supplied for additional values of `positionThreshold`, but from these no aggregated metrics are computed.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsClassificationEvaluationMetricsConfidenceMetrics"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ProbeExecAction": {
      "description": "ExecAction specifies a command to execute.",
      "id": "GoogleCloudAiplatformV1ProbeExecAction",
      "properties": {
        "command": {
          "type": "array",
          "description": "Command is the command line to execute inside the container, the working directory for the command is root ('/') in the container's filesystem. The command is simply exec'd, it is not run inside a shell, so traditional shell instructions ('|', etc) won't work. To use a shell, you need to explicitly call out to that shell. Exit status of 0 is treated as live/healthy and non-zero is unhealthy.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtraction": {
      "description": "A TrainingJob that trains and uploads an AutoML Text Extraction Model.",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtraction",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTextExtractionInputs"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1ResumeModelDeploymentMonitoringJobRequest": {
      "description": "Request message for JobService.ResumeModelDeploymentMonitoringJob.",
      "id": "GoogleCloudAiplatformV1ResumeModelDeploymentMonitoringJobRequest",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1ListArtifactsResponse": {
      "id": "GoogleCloudAiplatformV1ListArtifactsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as ListArtifactsRequest.page_token to retrieve the next page. If this field is not populated, there are no subsequent pages.",
          "type": "string"
        },
        "artifacts": {
          "type": "array",
          "description": "The Artifacts retrieved from the MetadataStore.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Artifact"
          }
        }
      },
      "type": "object",
      "description": "Response message for MetadataService.ListArtifacts."
    },
    "GoogleCloudAiplatformV1ExportDataResponse": {
      "description": "Response message for DatasetService.ExportData.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExportDataResponse",
      "properties": {
        "exportedFiles": {
          "type": "array",
          "description": "All of the files that are exported in this export operation. For custom code training export, only three (training, validation and test) Cloud Storage paths in wildcard format are populated (for example, gs://.../training-*).",
          "items": {
            "type": "string"
          }
        },
        "dataStats": {
          "$ref": "GoogleCloudAiplatformV1ModelDataStats",
          "description": "Only present for custom code training export use case. Records data stats, i.e., train/validation/test item/annotation counts calculated during the export operation."
        }
      }
    },
    "GoogleCloudAiplatformV1Neighbor": {
      "description": "Neighbors for example-based explanations.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1Neighbor",
      "properties": {
        "neighborId": {
          "description": "Output only. The neighbor id.",
          "readOnly": true,
          "type": "string"
        },
        "neighborDistance": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The neighbor distance.",
          "format": "double"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewSyncConfig": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeatureViewSyncConfig",
      "properties": {
        "cron": {
          "description": "Cron schedule (https://en.wikipedia.org/wiki/Cron) to launch scheduled runs. To explicitly set a timezone to the cron tab, apply a prefix in the cron tab: \"CRON_TZ=${IANA_TIME_ZONE}\" or \"TZ=${IANA_TIME_ZONE}\". The ${IANA_TIME_ZONE} may only be a valid string from IANA time zone database. For example, \"CRON_TZ=America/New_York 1 * * * *\", or \"TZ=America/New_York 1 * * * *\".",
          "type": "string"
        },
        "continuous": {
          "description": "Optional. If true, syncs the FeatureView in a continuous manner to Online Store.",
          "type": "boolean"
        }
      },
      "description": "Configuration for Sync. Only one option is set."
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricPredefinedMetricSpec": {
      "description": "Specification for a pre-defined metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricPredefinedMetricSpec",
      "properties": {
        "metricSpecName": {
          "description": "Required. The name of a pre-defined metric, such as \"instruction_following_v1\" or \"text_quality_v1\".",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Optional. The parameters needed to run the pre-defined metric."
        }
      }
    },
    "GoogleCloudAiplatformV1ExplanationParameters": {
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ExplanationParameters",
      "properties": {
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "GoogleCloudAiplatformV1IntegratedGradientsAttribution"
        },
        "examples": {
          "$ref": "GoogleCloudAiplatformV1Examples",
          "description": "Example-based explanations that returns the nearest neighbors from the provided dataset."
        },
        "sampledShapleyAttribution": {
          "$ref": "GoogleCloudAiplatformV1SampledShapleyAttribution",
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https://arxiv.org/abs/1306.4265."
        },
        "xraiAttribution": {
          "$ref": "GoogleCloudAiplatformV1XraiAttribution",
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead."
        },
        "outputIndices": {
          "type": "array",
          "description": "If populated, only returns attributions that have output_index contained in output_indices. It must be an ndarray of integers, with the same shape of the output it's explaining. If not populated, returns attributions for top_k indices of outputs. If neither top_k nor output_indices is populated, returns the argmax index of the outputs. Only applicable to Models that predict multiple outputs (e,g, multi-class Models that predict multiple classes).",
          "items": {
            "type": "any"
          }
        },
        "topK": {
          "description": "If populated, returns attributions for top K indices of outputs (defaults to 1). Only applies to Models that predicts more than one outputs (e,g, multi-class Models). When set to -1, returns explanations for all outputs.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1GcsSource": {
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Required. Google Cloud Storage URI(-s) to the input file(s). May contain wildcards. For more information on wildcards, see https://cloud.google.com/storage/docs/wildcards.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1UploadModelOperationMetadata": {
      "description": "Details of ModelService.UploadModel operation.",
      "id": "GoogleCloudAiplatformV1UploadModelOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "The common part of the operation metadata.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult": {
      "description": "Prediction output format for Time Series Forecasting.",
      "id": "GoogleCloudAiplatformV1SchemaPredictPredictionTimeSeriesForecastingPredictionResult",
      "properties": {
        "quantilePredictions": {
          "type": "array",
          "description": "Quantile predictions, in 1-1 correspondence with quantile_values.",
          "items": {
            "type": "number",
            "format": "float"
          }
        },
        "value": {
          "description": "The regression value.",
          "format": "float",
          "type": "number"
        },
        "tftFeatureImportance": {
          "description": "Only use these if TFt is enabled.",
          "$ref": "GoogleCloudAiplatformV1SchemaPredictPredictionTftFeatureImportance"
        },
        "quantileValues": {
          "description": "Quantile values.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy": {
      "id": "GoogleCloudAiplatformV1PublisherModelCallToActionDeploy",
      "properties": {
        "sharedResources": {
          "description": "The resource name of the shared DeploymentResourcePool to deploy on. Format: `projects/{project}/locations/{location}/deploymentResourcePools/{deployment_resource_pool}`",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of the regional resource reference.",
          "type": "string"
        },
        "artifactUri": {
          "description": "Optional. The path to the directory containing the Model artifact and any of its supporting files.",
          "type": "string"
        },
        "modelDisplayName": {
          "description": "Optional. Default model display name.",
          "type": "string"
        },
        "deployTaskName": {
          "description": "Optional. The name of the deploy task (e.g., \"text to image generation\").",
          "type": "string"
        },
        "publicArtifactUri": {
          "description": "Optional. The signed URI for ephemeral Cloud Storage access to model artifact.",
          "type": "string"
        },
        "dedicatedResources": {
          "description": "A description of resources that are dedicated to the DeployedModel, and that need a higher degree of manual configuration.",
          "$ref": "GoogleCloudAiplatformV1DedicatedResources"
        },
        "automaticResources": {
          "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration.",
          "$ref": "GoogleCloudAiplatformV1AutomaticResources"
        },
        "deployMetadata": {
          "$ref": "GoogleCloudAiplatformV1PublisherModelCallToActionDeployDeployMetadata",
          "description": "Optional. Metadata information about this deployment config."
        },
        "largeModelReference": {
          "description": "Optional. Large model reference. When this is set, model_artifact_spec is not needed.",
          "$ref": "GoogleCloudAiplatformV1LargeModelReference"
        },
        "containerSpec": {
          "$ref": "GoogleCloudAiplatformV1ModelContainerSpec",
          "description": "Optional. The specification of the container that is to be used when deploying this Model in Vertex AI. Not present for Large Models."
        }
      },
      "type": "object",
      "description": "Model metadata that is needed for UploadModel or DeployModel/CreateEndpoint requests."
    },
    "GoogleCloudAiplatformV1DeleteMetadataStoreOperationMetadata": {
      "id": "GoogleCloudAiplatformV1DeleteMetadataStoreOperationMetadata",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for deleting a MetadataStore.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "type": "object",
      "description": "Details of operations that perform MetadataService.DeleteMetadataStore."
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsQuestionAnsweringEvaluationMetrics",
      "properties": {
        "exactMatch": {
          "type": "number",
          "format": "float",
          "description": "The rate at which the input predicted strings exactly match their references."
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextSentimentEvaluationMetrics": {
      "description": "Model evaluation metrics for text sentiment problems.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTextSentimentEvaluationMetrics",
      "properties": {
        "f1Score": {
          "type": "number",
          "format": "float",
          "description": "The harmonic mean of recall and precision."
        },
        "quadraticKappa": {
          "format": "float",
          "description": "Quadratic weighted kappa. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "type": "number"
        },
        "precision": {
          "format": "float",
          "description": "Precision.",
          "type": "number"
        },
        "meanAbsoluteError": {
          "type": "number",
          "description": "Mean absolute error. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "format": "float"
        },
        "recall": {
          "type": "number",
          "description": "Recall.",
          "format": "float"
        },
        "meanSquaredError": {
          "description": "Mean squared error. Only set for ModelEvaluations, not for ModelEvaluationSlices.",
          "format": "float",
          "type": "number"
        },
        "linearKappa": {
          "type": "number",
          "format": "float",
          "description": "Linear weighted kappa. Only set for ModelEvaluations, not for ModelEvaluationSlices."
        },
        "confusionMatrix": {
          "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsConfusionMatrix",
          "description": "Confusion matrix of the evaluation. Only set for ModelEvaluations, not for ModelEvaluationSlices."
        }
      }
    },
    "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListBatchPredictionJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListBatchPredictionJobsRequest.page_token to obtain that page.",
          "type": "string"
        },
        "batchPredictionJobs": {
          "type": "array",
          "description": "List of BatchPredictionJobs in the requested page.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1BatchPredictionJob"
          }
        }
      },
      "description": "Response message for JobService.ListBatchPredictionJobs"
    },
    "GoogleCloudAiplatformV1JiraSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1JiraSource",
      "properties": {
        "jiraQueries": {
          "type": "array",
          "description": "Required. The Jira queries.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1JiraSourceJiraQueries"
          }
        }
      },
      "description": "The Jira source for the ImportRagFilesRequest."
    },
    "GoogleCloudAiplatformV1NotebookRuntimeTemplate": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1NotebookRuntimeTemplate",
      "properties": {
        "description": {
          "description": "The description of the NotebookRuntimeTemplate.",
          "type": "string"
        },
        "idleShutdownConfig": {
          "description": "The idle shutdown configuration of NotebookRuntimeTemplate. This config will only be set when idle shutdown is enabled.",
          "$ref": "GoogleCloudAiplatformV1NotebookIdleShutdownConfig"
        },
        "reservationAffinity": {
          "description": "Optional. Reservation Affinity of the notebook runtime template.",
          "$ref": "GoogleCloudAiplatformV1NotebookReservationAffinity"
        },
        "networkSpec": {
          "$ref": "GoogleCloudAiplatformV1NetworkSpec",
          "description": "Optional. Network spec."
        },
        "name": {
          "description": "The resource name of the NotebookRuntimeTemplate.",
          "type": "string"
        },
        "encryptionSpec": {
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec",
          "description": "Customer-managed encryption key spec for the notebook runtime."
        },
        "dataPersistentDiskSpec": {
          "description": "Optional. The specification of persistent disk attached to the runtime as data disk storage.",
          "$ref": "GoogleCloudAiplatformV1PersistentDiskSpec"
        },
        "isDefault": {
          "description": "Output only. Deprecated: This field has no behavior. Use notebook_runtime_type = 'ONE_CLICK' instead. The default template to use if not specified.",
          "deprecated": true,
          "readOnly": true,
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize the NotebookRuntimeTemplates. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "notebookRuntimeType": {
          "enumDescriptions": [
            "Unspecified notebook runtime type, NotebookRuntimeType will default to USER_DEFINED.",
            "runtime or template with coustomized configurations from user.",
            "runtime or template with system defined configurations."
          ],
          "type": "string",
          "enum": [
            "NOTEBOOK_RUNTIME_TYPE_UNSPECIFIED",
            "USER_DEFINED",
            "ONE_CLICK"
          ],
          "description": "Optional. Immutable. The type of the notebook runtime template."
        },
        "serviceAccount": {
          "description": "Deprecated: This field is ignored and the \"Vertex AI Notebook Service Account\" (service-PROJECT_NUMBER@gcp-sa-aiplatform-vm.iam.gserviceaccount.com) is used for the runtime workload identity. See https://cloud.google.com/iam/docs/service-agents#vertex-ai-notebook-service-account for more details. For NotebookExecutionJob, use NotebookExecutionJob.service_account instead. The service account that the runtime workload runs as. You can use any service account within the same project, but you must have the service account user permission to use the instance. If not specified, the [Compute Engine default service account](https://cloud.google.com/compute/docs/access/service-accounts#default_service_account) is used.",
          "deprecated": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was most recently updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this NotebookRuntimeTemplate was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the NotebookRuntimeTemplate. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "softwareConfig": {
          "$ref": "GoogleCloudAiplatformV1NotebookSoftwareConfig",
          "description": "Optional. The notebook software configuration of the notebook runtime."
        },
        "machineSpec": {
          "description": "Optional. Immutable. The specification of a single machine for the template.",
          "$ref": "GoogleCloudAiplatformV1MachineSpec"
        },
        "shieldedVmConfig": {
          "$ref": "GoogleCloudAiplatformV1ShieldedVmConfig",
          "description": "Optional. Immutable. Runtime Shielded VM spec."
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "eucConfig": {
          "description": "EUC configuration of the NotebookRuntimeTemplate.",
          "$ref": "GoogleCloudAiplatformV1NotebookEucConfig"
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. The Compute Engine tags to add to runtime (see [Tagging instances](https://cloud.google.com/vpc/docs/add-remove-network-tags)).",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A template that specifies runtime configurations such as machine type, runtime version, network configurations, etc. Multiple runtimes can be created from a runtime template."
    },
    "GoogleCloudAiplatformV1ListSpecialistPoolsResponse": {
      "id": "GoogleCloudAiplatformV1ListSpecialistPoolsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "specialistPools": {
          "type": "array",
          "description": "A list of SpecialistPools that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SpecialistPool"
          }
        }
      },
      "type": "object",
      "description": "Response message for SpecialistPoolService.ListSpecialistPools."
    },
    "GoogleCloudAiplatformV1PurgeContextsResponse": {
      "id": "GoogleCloudAiplatformV1PurgeContextsResponse",
      "properties": {
        "purgeSample": {
          "description": "A sample of the Context names that will be deleted. Only populated if `force` is set to false. The maximum number of samples is 100 (it is possible to return fewer).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "purgeCount": {
          "type": "string",
          "description": "The number of Contexts that this request deleted (or, if `force` is false, the number of Contexts that will be deleted). This can be an estimate.",
          "format": "int64"
        }
      },
      "type": "object",
      "description": "Response message for MetadataService.PurgeContexts."
    },
    "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata": {
      "description": "Describes metadata for a TensorboardTimeSeries.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1TensorboardTimeSeriesMetadata",
      "properties": {
        "maxStep": {
          "description": "Output only. Max step index of all data points within a TensorboardTimeSeries.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "maxBlobSequenceLength": {
          "description": "Output only. The largest blob sequence length (number of blobs) of all data points in this time series, if its ValueType is BLOB_SEQUENCE.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "maxWallTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Max wall clock timestamp of all data points within a TensorboardTimeSeries."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolNameMatchInstance": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ToolNameMatchInstance",
      "properties": {
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Required. Ground truth used to compare against the prediction.",
          "type": "string"
        }
      },
      "description": "Spec for tool name match instance."
    },
    "GoogleCloudAiplatformV1GroundingChunkWeb": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1GroundingChunkWeb",
      "properties": {
        "uri": {
          "description": "The URI of the web page that contains the evidence.",
          "type": "string"
        },
        "domain": {
          "description": "The domain of the web page that contains the evidence. This can be used to filter out low-quality sources.",
          "type": "string"
        },
        "title": {
          "description": "The title of the web page that contains the evidence.",
          "type": "string"
        }
      },
      "description": "A `Web` chunk is a piece of evidence that comes from a web page. It contains the URI of the web page, the title of the page, and the domain of the page. This is used to provide the user with a link to the source of the information."
    },
    "GoogleCloudAiplatformV1SlackSourceSlackChannels": {
      "id": "GoogleCloudAiplatformV1SlackSourceSlackChannels",
      "properties": {
        "channels": {
          "type": "array",
          "description": "Required. The Slack channel IDs.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1SlackSourceSlackChannelsSlackChannel"
          }
        },
        "apiKeyConfig": {
          "$ref": "GoogleCloudAiplatformV1ApiAuthApiKeyConfig",
          "description": "Required. The SecretManager secret version resource name (e.g. projects/{project}/secrets/{secret}/versions/{version}) storing the Slack channel access token that has access to the slack channel IDs. See: https://api.slack.com/tutorials/tracks/getting-a-token."
        }
      },
      "type": "object",
      "description": "SlackChannels contains the Slack channels and corresponding access token."
    },
    "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInput": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInput",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceSpec",
          "description": "Required. Spec for question answering relevance score metric."
        },
        "instance": {
          "description": "Required. Question answering relevance instance.",
          "$ref": "GoogleCloudAiplatformV1QuestionAnsweringRelevanceInstance"
        }
      },
      "type": "object",
      "description": "Input for question answering relevance metric."
    },
    "GoogleCloudAiplatformV1RetrieveContextsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1RetrieveContextsResponse",
      "properties": {
        "contexts": {
          "$ref": "GoogleCloudAiplatformV1RagContexts",
          "description": "The contexts of the query."
        }
      },
      "description": "Response message for VertexRagService.RetrieveContexts."
    },
    "GoogleCloudAiplatformV1Int64Array": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Int64Array",
      "properties": {
        "values": {
          "description": "A list of int64 values.",
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A list of int64 values."
    },
    "GoogleCloudAiplatformV1TimestampSplit": {
      "description": "Assigns input data to training, validation, and test sets based on a provided timestamps. The youngest data pieces are assigned to training set, next to validation set, and the oldest to the test set. Supported only for tabular Datasets.",
      "id": "GoogleCloudAiplatformV1TimestampSplit",
      "properties": {
        "testFraction": {
          "format": "double",
          "description": "The fraction of the input data that is to be used to evaluate the Model.",
          "type": "number"
        },
        "trainingFraction": {
          "description": "The fraction of the input data that is to be used to train the Model.",
          "format": "double",
          "type": "number"
        },
        "validationFraction": {
          "description": "The fraction of the input data that is to be used to validate the Model.",
          "format": "double",
          "type": "number"
        },
        "key": {
          "description": "Required. The key is a name of one of the Dataset's data columns. The values of the key (the values in the column) must be in RFC 3339 `date-time` format, where `time-offset` = `\"Z\"` (e.g. 1985-04-12T23:20:50.52Z). If for a piece of data the key is not present or has an invalid value, that piece is ignored by the pipeline.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1Session": {
      "description": "A session contains a set of actions between users and Vertex agents.",
      "id": "GoogleCloudAiplatformV1Session",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when the session was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Optional. The display name of the session.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the session. Format: 'projects/{project}/locations/{location}/reasoningEngines/{reasoning_engine}/sessions/{session}'.",
          "type": "string"
        },
        "sessionState": {
          "description": "Optional. Session specific memory which stores key conversation points.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels with user-defined metadata to organize your Sessions. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels."
        },
        "expireTime": {
          "type": "string",
          "description": "Optional. Timestamp of when this session is considered expired. This is *always* provided on output, regardless of what was sent on input. The minimum value is 24 hours from the time of creation.",
          "format": "google-datetime"
        },
        "userId": {
          "description": "Required. Immutable. String id provided by the user",
          "type": "string"
        },
        "ttl": {
          "description": "Optional. Input only. The TTL for this session. The minimum value is 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Timestamp when the session was updated.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry": {
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsGroundingConfigSourceEntry",
      "properties": {
        "enterpriseDatastore": {
          "type": "string",
          "deprecated": true,
          "description": "The uri of the Vertex AI Search data source. Deprecated. Use vertex_ai_search_datastore instead."
        },
        "vertexAiSearchDatastore": {
          "description": "The uri of the Vertex AI Search data source.",
          "type": "string"
        },
        "inlineContext": {
          "description": "The grounding text passed inline with the Predict API. It can support up to 1 million bytes.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "UNSPECIFIED",
            "WEB",
            "ENTERPRISE",
            "VERTEX_AI_SEARCH",
            "INLINE"
          ],
          "enumDescriptions": [
            "",
            "Uses Web Search to check the grounding.",
            "Uses Vertex AI Search to check the grounding. Deprecated. Use VERTEX_AI_SEARCH instead.",
            "Uses Vertex AI Search to check the grounding",
            "Uses inline context to check the grounding."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            false
          ],
          "description": "The type of the grounding checking source."
        }
      },
      "type": "object",
      "description": "Single source entry for the grounding checking."
    },
    "GoogleCloudAiplatformV1XraiAttribution": {
      "description": "An explanation method that redistributes Integrated Gradients attributions to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 Supported only by image Models.",
      "id": "GoogleCloudAiplatformV1XraiAttribution",
      "properties": {
        "smoothGradConfig": {
          "description": "Config for SmoothGrad approximation of gradients. When enabled, the gradients are approximated by averaging the gradients from noisy samples in the vicinity of the inputs. Adding noise can help improve the computed gradients. Refer to this paper for more details: https://arxiv.org/pdf/1706.03825.pdf",
          "$ref": "GoogleCloudAiplatformV1SmoothGradConfig"
        },
        "blurBaselineConfig": {
          "$ref": "GoogleCloudAiplatformV1BlurBaselineConfig",
          "description": "Config for XRAI with blur baseline. When enabled, a linear path from the maximally blurred image to the input image is created. Using a blurred baseline instead of zero (black image) is motivated by the BlurIG approach explained here: https://arxiv.org/abs/2004.03383"
        },
        "stepCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The number of steps for approximating the path integral. A good value to start is 50 and gradually increase until the sum to diff property is met within the desired error range. Valid range of its value is [1, 100], inclusively."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1DatasetVersion": {
      "id": "GoogleCloudAiplatformV1DatasetVersion",
      "properties": {
        "displayName": {
          "description": "The user-defined name of the DatasetVersion. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this DatasetVersion was created."
        },
        "metadata": {
          "description": "Required. Output only. Additional information about the DatasetVersion.",
          "readOnly": true,
          "type": "any"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of the DatasetVersion. Format: `projects/{project}/locations/{location}/datasets/{dataset}/datasetVersions/{dataset_version}`",
          "readOnly": true,
          "type": "string"
        },
        "modelReference": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reference to the public base model last used by the dataset version. Only set for prompt dataset versions."
        },
        "bigQueryDatasetName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the associated BigQuery dataset."
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "etag": {
          "description": "Used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this DatasetVersion was last updated.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes the dataset version."
    },
    "GoogleCloudAiplatformV1ListDataItemsResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListDataItemsResponse",
      "properties": {
        "dataItems": {
          "description": "A list of DataItems that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DataItem"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "Response message for DatasetService.ListDataItems."
    },
    "GoogleCloudAiplatformV1TrajectorySingleToolUseInput": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectorySingleToolUseInput",
      "properties": {
        "metricSpec": {
          "$ref": "GoogleCloudAiplatformV1TrajectorySingleToolUseSpec",
          "description": "Required. Spec for TrajectorySingleToolUse metric."
        },
        "instances": {
          "type": "array",
          "description": "Required. Repeated TrajectorySingleToolUse instance.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectorySingleToolUseInstance"
          }
        }
      },
      "description": "Instances and metric spec for TrajectorySingleToolUse metric."
    },
    "GoogleCloudAiplatformV1ListFeatureOnlineStoresResponse": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListFeatureOnlineStoresResponse",
      "properties": {
        "featureOnlineStores": {
          "type": "array",
          "description": "The FeatureOnlineStores matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureOnlineStore"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureOnlineStoresRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for FeatureOnlineStoreAdminService.ListFeatureOnlineStores."
    },
    "GoogleCloudAiplatformV1ListModelVersionCheckpointsResponse": {
      "description": "Response message for ModelService.ListModelVersionCheckpoints",
      "id": "GoogleCloudAiplatformV1ListModelVersionCheckpointsResponse",
      "properties": {
        "checkpoints": {
          "type": "array",
          "description": "List of Model Version checkpoints.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ModelVersionCheckpoint"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass to ListModelVersionCheckpointsRequest.page_token to obtain that page.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageObjectDetectionMetadata": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlImageObjectDetectionMetadata",
      "properties": {
        "successfulStopReason": {
          "description": "For successful job completions, this is the reason why the job has finished.",
          "type": "string",
          "enum": [
            "SUCCESSFUL_STOP_REASON_UNSPECIFIED",
            "BUDGET_REACHED",
            "MODEL_CONVERGED"
          ],
          "enumDescriptions": [
            "Should not be set.",
            "The inputs.budgetMilliNodeHours had been reached.",
            "Further training of the Model ceased to increase its quality, since it already has converged."
          ]
        },
        "costMilliNodeHours": {
          "description": "The actual training cost of creating this model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed inputs.budgetMilliNodeHours.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Artifact": {
      "id": "GoogleCloudAiplatformV1Artifact",
      "properties": {
        "schemaTitle": {
          "description": "The title of the schema describing the metadata. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store.",
          "type": "string"
        },
        "etag": {
          "description": "An eTag used to perform consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "labels": {
          "description": "The labels with user-defined metadata to organize your Artifacts. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. No more than 64 user labels can be associated with one Artifact (System labels are excluded).",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "LIVE"
          ],
          "enumDescriptions": [
            "Unspecified state for the Artifact.",
            "A state used by systems like Vertex AI Pipelines to indicate that the underlying data item represented by this Artifact is being created.",
            "A state indicating that the Artifact should exist, unless something external to the system deletes it."
          ],
          "description": "The state of this Artifact. This is a property of the Artifact, and does not imply or capture any ongoing process. This property is managed by clients (such as Vertex AI Pipelines), and the system does not prescribe or check the validity of state transitions."
        },
        "schemaVersion": {
          "description": "The version of the schema in schema_name to use. Schema title and version is expected to be registered in earlier Create Schema calls. And both are used together as unique identifiers to identify schemas within the local metadata store.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Artifact was last updated."
        },
        "metadata": {
          "description": "Properties of the Artifact. Top level metadata keys' heading and trailing spaces will be trimmed. The size of this field should not exceed 200KB.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "description": {
          "description": "Description of the Artifact",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this Artifact was created.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "User provided display name of the Artifact. May be up to 128 Unicode characters.",
          "type": "string"
        },
        "uri": {
          "description": "The uniform resource identifier of the artifact file. May be empty if there is no actual artifact file.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the Artifact."
        }
      },
      "type": "object",
      "description": "Instance of a general artifact."
    },
    "GoogleCloudAiplatformV1BoolArray": {
      "description": "A list of boolean values.",
      "id": "GoogleCloudAiplatformV1BoolArray",
      "properties": {
        "values": {
          "description": "A list of bool values.",
          "items": {
            "type": "boolean"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1IndexDatapointNumericRestriction": {
      "description": "This field allows restricts to be based on numeric comparisons rather than categorical tokens.",
      "id": "GoogleCloudAiplatformV1IndexDatapointNumericRestriction",
      "properties": {
        "op": {
          "description": "This MUST be specified for queries and must NOT be specified for datapoints.",
          "enumDescriptions": [
            "Default value of the enum.",
            "Datapoints are eligible iff their value is < the query's.",
            "Datapoints are eligible iff their value is <= the query's.",
            "Datapoints are eligible iff their value is == the query's.",
            "Datapoints are eligible iff their value is >= the query's.",
            "Datapoints are eligible iff their value is > the query's.",
            "Datapoints are eligible iff their value is != the query's."
          ],
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "LESS",
            "LESS_EQUAL",
            "EQUAL",
            "GREATER_EQUAL",
            "GREATER",
            "NOT_EQUAL"
          ]
        },
        "valueInt": {
          "type": "string",
          "description": "Represents 64 bit integer.",
          "format": "int64"
        },
        "valueFloat": {
          "format": "float",
          "description": "Represents 32 bit float.",
          "type": "number"
        },
        "valueDouble": {
          "type": "number",
          "description": "Represents 64 bit float.",
          "format": "double"
        },
        "namespace": {
          "description": "The namespace of this restriction. e.g.: cost.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EvaluationRun": {
      "description": "EvaluationRun is a resource that represents a single evaluation run, which includes a set of prompts, model responses, evaluation configuration and the resulting metrics.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRun",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the evaluation run was created.",
          "readOnly": true,
          "type": "string"
        },
        "metadata": {
          "description": "Optional. Metadata about the evaluation run, can be used by the caller to store additional tracking information about the evaluation run.",
          "type": "any"
        },
        "displayName": {
          "description": "Required. The display name of the Evaluation Run.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the evaluation run.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "INFERENCE",
            "GENERATING_RUBRICS",
            "GENERATING_LOSS_CLUSTERS"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The evaluation run is pending.",
            "The evaluation run is running.",
            "The evaluation run has succeeded.",
            "The evaluation run has failed.",
            "The evaluation run has been cancelled.",
            "The evaluation run is performing inference.",
            "The evaluation run is performing rubric generation.",
            "The evaluation run is performing loss analysis."
          ]
        },
        "name": {
          "description": "Identifier. The resource name of the EvaluationRun. This is a unique identifier. Format: `projects/{project}/locations/{location}/evaluationRuns/{evaluation_run}`",
          "type": "string"
        },
        "evaluationResults": {
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1EvaluationResults",
          "description": "Output only. The results of the evaluation run. Only populated when the evaluation run's state is SUCCEEDED."
        },
        "inferenceConfigs": {
          "description": "Optional. The candidate to inference config map for the evaluation run. The candidate can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudAiplatformV1EvaluationRunInferenceConfig"
          }
        },
        "evaluationSetSnapshot": {
          "description": "Output only. The specific evaluation set of the evaluation run. For runs with an evaluation set input, this will be that same set. For runs with BigQuery input, it's the sampled BigQuery dataset.",
          "readOnly": true,
          "type": "string"
        },
        "evaluationConfig": {
          "description": "Required. The configuration used for the evaluation.",
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfig"
        },
        "error": {
          "description": "Output only. Only populated when the evaluation run's state is FAILED or CANCELLED.",
          "$ref": "GoogleRpcStatus",
          "readOnly": true
        },
        "dataSource": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunDataSource",
          "description": "Required. The data source for the evaluation run."
        },
        "completionTime": {
          "description": "Output only. Time when the evaluation run was completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Optional. Labels for the evaluation run.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudAiplatformV1SummarizationQualitySpec": {
      "description": "Spec for summarization quality score metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SummarizationQualitySpec",
      "properties": {
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute summarization quality.",
          "type": "boolean"
        },
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAiplatformV1ReplicatedVoiceConfig": {
      "description": "The configuration for the replicated voice to use.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ReplicatedVoiceConfig",
      "properties": {
        "mimeType": {
          "description": "Optional. The mimetype of the voice sample. The only currently supported value is `audio/wav`. This represents 16-bit signed little-endian wav data, with a 24kHz sampling rate. `mime_type` will default to `audio/wav` if not set.",
          "type": "string"
        },
        "voiceSampleAudio": {
          "type": "string",
          "format": "byte",
          "description": "Optional. The sample of the custom voice."
        }
      }
    },
    "GoogleCloudAiplatformV1ToolParameterKeyMatchResults": {
      "id": "GoogleCloudAiplatformV1ToolParameterKeyMatchResults",
      "properties": {
        "toolParameterKeyMatchMetricValues": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Tool parameter key match metric values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKeyMatchMetricValue"
          }
        }
      },
      "type": "object",
      "description": "Results for tool parameter key match metric."
    },
    "GoogleCloudAiplatformV1ContainerRegistryDestination": {
      "id": "GoogleCloudAiplatformV1ContainerRegistryDestination",
      "properties": {
        "outputUri": {
          "description": "Required. Container Registry URI of a container image. Only Google Container Registry and Artifact Registry are supported now. Accepted forms: * Google Container Registry path. For example: `gcr.io/projectId/imageName:tag`. * Artifact Registry path. For example: `us-central1-docker.pkg.dev/projectId/repoName/imageName:tag`. If a tag is not specified, \"latest\" will be used as the default tag.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The Container Registry location for the container image."
    },
    "GoogleCloudAiplatformV1EvaluationInstanceInstanceData": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationInstanceInstanceData",
      "properties": {
        "contents": {
          "$ref": "GoogleCloudAiplatformV1EvaluationInstanceInstanceDataContents",
          "description": "List of Gemini content data."
        },
        "text": {
          "description": "Text data.",
          "type": "string"
        }
      },
      "description": "Instance data used to populate placeholders in a metric prompt template."
    },
    "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1PairwiseQuestionAnsweringQualityResult",
      "properties": {
        "confidence": {
          "description": "Output only. Confidence for question answering quality score.",
          "format": "float",
          "readOnly": true,
          "type": "number"
        },
        "pairwiseChoice": {
          "enumDescriptions": [
            "Unspecified prediction choice.",
            "Baseline prediction wins",
            "Candidate prediction wins",
            "Winner cannot be determined"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "PAIRWISE_CHOICE_UNSPECIFIED",
            "BASELINE",
            "CANDIDATE",
            "TIE"
          ],
          "description": "Output only. Pairwise question answering prediction choice."
        },
        "explanation": {
          "description": "Output only. Explanation for question answering quality score.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Spec for pairwise question answering quality result."
    },
    "GoogleCloudAiplatformV1ToolParameterKVMatchInput": {
      "id": "GoogleCloudAiplatformV1ToolParameterKVMatchInput",
      "properties": {
        "metricSpec": {
          "description": "Required. Spec for tool parameter key value match metric.",
          "$ref": "GoogleCloudAiplatformV1ToolParameterKVMatchSpec"
        },
        "instances": {
          "type": "array",
          "description": "Required. Repeated tool parameter key value match instances.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolParameterKVMatchInstance"
          }
        }
      },
      "type": "object",
      "description": "Input for tool parameter key value match metric."
    },
    "GoogleCloudAiplatformV1ExportModelResponse": {
      "description": "Response message of ModelService.ExportModel operation.",
      "id": "GoogleCloudAiplatformV1ExportModelResponse",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList": {
      "description": "Response structure in the format of key (feature name) and (feature) value pair.",
      "id": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairList",
      "properties": {
        "features": {
          "type": "array",
          "description": "List of feature names and values.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FetchFeatureValuesResponseFeatureNameValuePairListFeatureNameValuePair"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail": {
      "description": "The detailed info for a custom job executor.",
      "id": "GoogleCloudAiplatformV1PipelineTaskExecutorDetailCustomJobDetail",
      "properties": {
        "job": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the CustomJob."
        },
        "failedJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The names of the previously failed CustomJob. The list includes the all attempts in chronological order.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestPassThroughField": {
      "id": "GoogleCloudAiplatformV1BatchReadFeatureValuesRequestPassThroughField",
      "properties": {
        "fieldName": {
          "description": "Required. The name of the field in the CSV header or the name of the column in BigQuery table. The naming restriction is the same as Feature.name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describe pass-through fields in read_instance source."
    },
    "GoogleCloudAiplatformV1Content": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1Content",
      "properties": {
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. If not set, the service will default to 'user'.",
          "type": "string"
        },
        "parts": {
          "type": "array",
          "description": "Required. A list of Part objects that make up a single message. Parts of a message can have different MIME types. A Content message must have at least one Part.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1Part"
          }
        }
      },
      "description": "The structured data content of a message. A Content message contains a `role` field, which indicates the producer of the content, and a `parts` field, which contains the multi-part data of the message."
    },
    "GoogleCloudAiplatformV1ListFeatureGroupsResponse": {
      "description": "Response message for FeatureRegistryService.ListFeatureGroups.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListFeatureGroupsResponse",
      "properties": {
        "featureGroups": {
          "description": "The FeatureGroups matching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureGroup"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureGroupsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig": {
      "description": "The autorater config used for the evaluation run.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig",
      "properties": {
        "autoraterModel": {
          "description": "Optional. The fully qualified name of the publisher model or tuned autorater endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "sampleCount": {
          "description": "Optional. Number of samples for each instance in the dataset. If not specified, the default is 4. Minimum value is 1, maximum value is 32.",
          "format": "int32",
          "type": "integer"
        },
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation": {
      "description": "Treats the column as text array and performs following transformation functions. * Concatenate all text values in the array into a single text value using a space (\" \") as a delimiter, and then treat the result as a single text value. Apply the transformations for Text columns. * Empty arrays treated as an empty text.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlTablesInputsTransformationTextArrayTransformation",
      "properties": {
        "columnName": {
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1FeatureViewVertexRagSource": {
      "description": "A Vertex Rag source for features that need to be synced to Online Store.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1FeatureViewVertexRagSource",
      "properties": {
        "uri": {
          "description": "Required. The BigQuery view/table URI that will be materialized on each manual sync trigger. The table/view is expected to have the following columns and types at least: - `corpus_id` (STRING, NULLABLE/REQUIRED) - `file_id` (STRING, NULLABLE/REQUIRED) - `chunk_id` (STRING, NULLABLE/REQUIRED) - `chunk_data_type` (STRING, NULLABLE/REQUIRED) - `chunk_data` (STRING, NULLABLE/REQUIRED) - `embeddings` (FLOAT, REPEATED) - `file_original_uri` (STRING, NULLABLE/REQUIRED)",
          "type": "string"
        },
        "ragCorpusId": {
          "format": "int64",
          "description": "Optional. The RAG corpus id corresponding to this FeatureView.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1BigQuerySource": {
      "description": "The BigQuery location for the input content.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1BigQuerySource",
      "properties": {
        "inputUri": {
          "description": "Required. BigQuery URI to a table, up to 2000 characters long. Accepted forms: * BigQuery path. For example: `bq://projectId.bqDatasetId.bqTableId`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1TimeSeriesData": {
      "description": "All the data stored in a TensorboardTimeSeries.",
      "id": "GoogleCloudAiplatformV1TimeSeriesData",
      "properties": {
        "tensorboardTimeSeriesId": {
          "description": "Required. The ID of the TensorboardTimeSeries, which will become the final component of the TensorboardTimeSeries' resource name",
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Required. Data points in this time series.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TimeSeriesDataPoint"
          }
        },
        "valueType": {
          "enumDescriptions": [
            "The value type is unspecified.",
            "Used for TensorboardTimeSeries that is a list of scalars. E.g. accuracy of a model over epochs/time.",
            "Used for TensorboardTimeSeries that is a list of tensors. E.g. histograms of weights of layer in a model over epoch/time.",
            "Used for TensorboardTimeSeries that is a list of blob sequences. E.g. set of sample images with labels over epochs/time."
          ],
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "SCALAR",
            "TENSOR",
            "BLOB_SEQUENCE"
          ],
          "description": "Required. Immutable. The value type of this time series. All the values in this time series data must match this value type."
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1EnvVar": {
      "description": "Represents an environment variable present in a Container or Python Module.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EnvVar",
      "properties": {
        "name": {
          "description": "Required. Name of the environment variable. Must be a valid C identifier.",
          "type": "string"
        },
        "value": {
          "description": "Required. Variables that reference a $(VAR_NAME) are expanded using the previous defined environment variables in the container and any service environment variables. If a variable cannot be resolved, the reference in the input string will be unchanged. The $(VAR_NAME) syntax can be escaped with a double $$, ie: $$(VAR_NAME). Escaped references will never be expanded, regardless of whether the variable exists or not.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse": {
      "description": "Response message for TensorboardService.ListTensorboardTimeSeries.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListTensorboardTimeSeriesResponse",
      "properties": {
        "tensorboardTimeSeries": {
          "description": "The TensorboardTimeSeries mathching the request.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1TensorboardTimeSeries"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListTensorboardTimeSeriesRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1EvaluationRunMetricRubricGenerationSpec",
      "properties": {
        "modelConfig": {
          "$ref": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig",
          "description": "Optional. Configuration for the model used in rubric generation. Configs including sampling count and base model can be specified here. Flipping is not supported for rubric generation."
        },
        "rubricTypeOntology": {
          "type": "array",
          "description": "Optional. An optional, pre-defined list of allowed types for generated rubrics. If this field is provided, it implies `include_rubric_type` should be true, and the generated rubric types should be chosen from this ontology.",
          "items": {
            "type": "string"
          }
        },
        "rubricContentType": {
          "type": "string",
          "enum": [
            "RUBRIC_CONTENT_TYPE_UNSPECIFIED",
            "PROPERTY",
            "NL_QUESTION_ANSWER",
            "PYTHON_CODE_ASSERTION"
          ],
          "enumDescriptions": [
            "The content type to generate is not specified.",
            "Generate rubrics based on properties.",
            "Generate rubrics in an NL question answer format.",
            "Generate rubrics in a unit test format."
          ],
          "description": "Optional. The type of rubric content to be generated."
        },
        "promptTemplate": {
          "description": "Optional. Template for the prompt used to generate rubrics. The details should be updated based on the most-recent recipe requirements.",
          "type": "string"
        },
        "metricResourceName": {
          "description": "Optional. Resource name of the metric definition.",
          "type": "string"
        }
      },
      "description": "Specification for how rubrics should be generated."
    },
    "GoogleCloudAiplatformV1Trajectory": {
      "description": "Spec for trajectory.",
      "id": "GoogleCloudAiplatformV1Trajectory",
      "properties": {
        "toolCalls": {
          "type": "array",
          "description": "Required. Tool calls in the trajectory.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ToolCall"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationFileInputSource": {
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationFileInputSource",
      "properties": {
        "mimeType": {
          "description": "The file's mime type.",
          "type": "string"
        },
        "content": {
          "description": "The file's contents.",
          "type": "string"
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1DedicatedResources": {
      "description": "A description of resources that are dedicated to a DeployedModel or DeployedIndex, and that need a higher degree of manual configuration.",
      "id": "GoogleCloudAiplatformV1DedicatedResources",
      "properties": {
        "requiredReplicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Number of required available replicas for the deployment to succeed. This field is only needed when partial deployment/mutation is desired. If set, the deploy/mutate operation will succeed once available_replica_count reaches required_replica_count, and the rest of the replicas will be retried. If not set, the default required_replica_count will be min_replica_count."
        },
        "autoscalingMetricSpecs": {
          "description": "Immutable. The metric specifications that overrides a resource utilization metric (CPU utilization, accelerator's duty cycle, and so on) target value (default to 60 if not set). At most one entry is allowed per metric. If machine_spec.accelerator_count is above 0, the autoscaling will be based on both CPU utilization and accelerator's duty cycle metrics and scale up when either metrics exceeds its target value while scale down if both metrics are under their target value. The default target value is 60 for both metrics. If machine_spec.accelerator_count is 0, the autoscaling will be based on CPU utilization metric only with default target value 60 if not explicitly set. For example, in the case of Online Prediction, if you want to override target CPU utilization to 80, you should set autoscaling_metric_specs.metric_name to `aiplatform.googleapis.com/prediction/online/cpu/utilization` and autoscaling_metric_specs.target to `80`.",
          "items": {
            "$ref": "GoogleCloudAiplatformV1AutoscalingMetricSpec"
          },
          "type": "array"
        },
        "minReplicaCount": {
          "format": "int32",
          "description": "Required. Immutable. The minimum number of machine replicas that will be always deployed on. This value must be greater than or equal to 1. If traffic increases, it may dynamically be deployed onto more replicas, and as traffic decreases, some of these extra replicas may be freed.",
          "type": "integer"
        },
[...]
