{
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "id": "aiplatform:v1",
  "kind": "discovery#restDescription",
  "title": "Vertex AI API",
  "documentationLink": "https://cloud.google.com/vertex-ai/",
  "ownerName": "Google",
  "rootUrl": "https://aiplatform.googleapis.com/",
  "mtlsRootUrl": "https://aiplatform.mtls.googleapis.com/",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version_module": true,
  "canonicalName": "Aiplatform",
  "discoveryVersion": "v1",
  "name": "aiplatform",
  "revision": "20260414",
  "protocol": "rest",
  "baseUrl": "https://aiplatform.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudAiplatformV1CancelTrainingPipelineRequest": {
      "description": "Request message for PipelineService.CancelTrainingPipeline.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1CancelTrainingPipelineRequest"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionHyperparameterTuningJobSpec",
      "properties": {
        "parallelTrialCount": {
          "description": "The desired number of Trials to run in parallel.",
          "type": "integer",
          "format": "int32"
        },
        "maxFailedTrialCount": {
          "format": "int32",
          "description": "The number of failed Trials that need to be seen before failing the HyperparameterTuningJob. If set to 0, Vertex AI decides how many Trials must fail before the whole job fails.",
          "type": "integer"
        },
        "studySpec": {
          "description": "Study configuration of the HyperparameterTuningJob.",
          "$ref": "GoogleCloudAiplatformV1StudySpec"
        },
        "trialJobSpec": {
          "description": "The spec of a trial job. The same spec applies to the CustomJobs created in all the trials.",
          "$ref": "GoogleCloudAiplatformV1CustomJobSpec"
        },
        "maxTrialCount": {
          "format": "int32",
          "description": "The desired total number of Trials.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GoogleCloudAiplatformV1FulfillmentResult": {
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. Fulfillment score.",
          "readOnly": true,
          "type": "number"
        },
        "explanation": {
          "description": "Output only. Explanation for fulfillment score.",
          "readOnly": true,
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "Output only. Confidence for fulfillment score.",
          "readOnly": true,
          "type": "number"
        }
      },
      "description": "Spec for fulfillment result.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1FulfillmentResult"
    },
    "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "deploymentResourcePools": {
          "description": "The DeploymentResourcePools from the specified location.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1DeploymentResourcePool"
          }
        }
      },
      "description": "Response message for ListDeploymentResourcePools method.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1ListDeploymentResourcePoolsResponse"
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SummaryMetrics": {
      "description": "The summary metrics for the evaluation run.",
      "type": "object",
      "properties": {
        "failedItems": {
          "description": "Optional. The number of items that failed to be evaluated.",
          "type": "integer",
          "format": "int32"
        },
        "metrics": {
          "additionalProperties": {
            "type": "any"
          },
          "description": "Optional. Map of metric name to metric value.",
          "type": "object"
        },
        "totalItems": {
          "description": "Optional. The total number of items that were evaluated.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1SummaryMetrics"
    },
    "GoogleCloudAiplatformV1PscInterfaceConfig": {
      "id": "GoogleCloudAiplatformV1PscInterfaceConfig",
      "description": "Configuration for PSC-I.",
      "type": "object",
      "properties": {
        "dnsPeeringConfigs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1DnsPeeringConfig"
          },
          "description": "Optional. DNS peering configurations. When specified, Vertex AI will attempt to configure DNS peering zones in the tenant project VPC to resolve the specified domains using the target network's Cloud DNS. The user must grant the dns.peer role to the Vertex AI Service Agent on the target project.",
          "type": "array"
        },
        "networkAttachment": {
          "description": "Optional. The name of the Compute Engine [network attachment](https://cloud.google.com/vpc/docs/about-network-attachments) to attach to the resource within the region and user project. To specify this field, you must have already [created a network attachment] (https://cloud.google.com/vpc/docs/create-manage-network-attachments#create-network-attachments). This field is only used for resources using PSC-I.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption": {
      "description": "Optional settings for translation prompt.",
      "type": "object",
      "properties": {
        "numberOfShots": {
          "description": "How many shots to use.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaPromptSpecTranslationOption"
    },
    "GoogleCloudAiplatformV1ModelEvaluationSliceSlice": {
      "description": "Definition of a slice.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Output only. The value of the dimension in this slice.",
          "readOnly": true,
          "type": "string"
        },
        "dimension": {
          "description": "Output only. The dimension of the slice. Well-known dimensions are: * `annotationSpec`: This slice is on the test data that has either ground truth or prediction with AnnotationSpec.display_name equals to value. * `slice`: This slice is a user customized slice defined by its SliceSpec.",
          "readOnly": true,
          "type": "string"
        },
        "sliceSpec": {
          "description": "Output only. Specification for how the data was sliced.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1ModelEvaluationSliceSliceSliceSpec"
        }
      },
      "id": "GoogleCloudAiplatformV1ModelEvaluationSliceSlice"
    },
    "GoogleCloudAiplatformV1DirectRawPredictResponse": {
      "description": "Response message for PredictionService.DirectRawPredict.",
      "type": "object",
      "properties": {
        "output": {
          "format": "byte",
          "description": "The prediction output.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1DirectRawPredictResponse"
    },
    "GoogleCloudAiplatformV1SchemaPredictParamsVideoClassificationPredictionParams": {
      "properties": {
        "confidenceThreshold": {
          "description": "The Model only returns predictions with at least this confidence score. Default value is 0.0",
          "type": "number",
          "format": "float"
        },
        "shotClassification": {
          "description": "Set to true to request shot-level classification. Vertex AI determines the boundaries for each camera shot in the entire time segment of the video that user specified in the input instance. Vertex AI then returns labels and their confidence scores for each detected shot, along with the start and end time of the shot. WARNING: Model evaluation is not done for this classification type, the quality of it depends on the training data, but there are no metrics provided to describe that quality. Default value is false",
          "type": "boolean"
        },
        "oneSecIntervalClassification": {
          "description": "Set to true to request classification for a video at one-second intervals. Vertex AI returns labels and their confidence scores for each second of the entire time segment of the video that user specified in the input WARNING: Model evaluation is not done for this classification type, the quality of it depends on the training data, but there are no metrics provided to describe that quality. Default value is false",
          "type": "boolean"
        },
        "maxPredictions": {
          "format": "int32",
          "description": "The Model only returns up to that many top, by confidence score, predictions per instance. If this number is very high, the Model may return fewer predictions. Default value is 10,000.",
          "type": "integer"
        },
        "segmentClassification": {
          "description": "Set to true to request segment-level classification. Vertex AI returns labels and their confidence scores for the entire time segment of the video that user specified in the input instance. Default value is true",
          "type": "boolean"
        }
      },
      "description": "Prediction model parameters for Video Classification.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaPredictParamsVideoClassificationPredictionParams"
    },
    "GoogleCloudAiplatformV1SchemaTimeSegment": {
      "properties": {
        "endTimeOffset": {
          "description": "End of the time segment (exclusive), represented as the duration since the start of the DataItem.",
          "type": "string",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start of the time segment (inclusive), represented as the duration since the start of the DataItem.",
          "type": "string"
        }
      },
      "description": "A time period inside of a DataItem that has a time dimension (e.g. video).",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTimeSegment"
    },
    "GoogleCloudAiplatformV1MigratableResourceAutomlDataset": {
      "description": "Represents one Dataset in automl.googleapis.com.",
      "type": "object",
      "properties": {
        "dataset": {
          "description": "Full resource name of automl Dataset. Format: `projects/{project}/locations/{location}/datasets/{dataset}`.",
          "type": "string"
        },
        "datasetDisplayName": {
          "description": "The Dataset's display name in automl.googleapis.com.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1MigratableResourceAutomlDataset"
    },
    "GoogleCloudAiplatformV1CreateIndexEndpointOperationMetadata": {
      "properties": {
        "genericMetadata": {
          "description": "The operation generic information.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        }
      },
      "description": "Runtime operation information for IndexEndpointService.CreateIndexEndpoint.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CreateIndexEndpointOperationMetadata"
    },
    "GoogleCloudAiplatformV1SecretRef": {
      "id": "GoogleCloudAiplatformV1SecretRef",
      "properties": {
        "secret": {
          "description": "Required. The name of the secret in Cloud Secret Manager. Format: {secret_name}.",
          "type": "string"
        },
        "version": {
          "description": "The Cloud Secret Manager secret version. Can be 'latest' for the latest version, an integer for a specific version, or a version alias.",
          "type": "string"
        }
      },
      "description": "Reference to a secret stored in the Cloud Secret Manager that will provide the value for this environment variable.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SummarizationVerbosityInstance": {
      "description": "Spec for summarization verbosity instance.",
      "type": "object",
      "properties": {
        "context": {
          "description": "Required. Text to be summarized.",
          "type": "string"
        },
        "prediction": {
          "description": "Required. Output of the evaluated model.",
          "type": "string"
        },
        "reference": {
          "description": "Optional. Ground truth used to compare against the prediction.",
          "type": "string"
        },
        "instruction": {
          "description": "Optional. Summarization prompt for LLM.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SummarizationVerbosityInstance"
    },
    "GoogleCloudAiplatformV1SavedQuery": {
      "description": "A SavedQuery is a view of the dataset. It references a subset of annotations by problem type and filters.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of the SavedQuery.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when this SavedQuery was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write update. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "metadata": {
          "description": "Some additional information about the SavedQuery.",
          "type": "any"
        },
        "supportAutomlTraining": {
          "description": "Output only. If the Annotations belonging to the SavedQuery can be used for AutoML training.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The user-defined name of the SavedQuery. The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "annotationSpecCount": {
          "format": "int32",
          "description": "Output only. Number of AnnotationSpecs in the context of the SavedQuery.",
          "readOnly": true,
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp when SavedQuery was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "annotationFilter": {
          "description": "Output only. Filters on the Annotations in the dataset.",
          "readOnly": true,
          "type": "string"
        },
        "problemType": {
          "description": "Required. Problem type of the SavedQuery. Allowed values: * IMAGE_CLASSIFICATION_SINGLE_LABEL * IMAGE_CLASSIFICATION_MULTI_LABEL * IMAGE_BOUNDING_POLY * IMAGE_BOUNDING_BOX * TEXT_CLASSIFICATION_SINGLE_LABEL * TEXT_CLASSIFICATION_MULTI_LABEL * TEXT_EXTRACTION * TEXT_SENTIMENT * VIDEO_CLASSIFICATION * VIDEO_OBJECT_TRACKING",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SavedQuery"
    },
    "GoogleCloudAiplatformV1IndexStats": {
      "description": "Stats of the Index.",
      "type": "object",
      "properties": {
        "vectorsCount": {
          "description": "Output only. The number of dense vectors in the Index.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "sparseVectorsCount": {
          "description": "Output only. The number of sparse vectors in the Index.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "shardsCount": {
          "format": "int32",
          "description": "Output only. The number of shards in the Index.",
          "readOnly": true,
          "type": "integer"
        }
      },
      "id": "GoogleCloudAiplatformV1IndexStats"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformation": {
      "properties": {
        "text": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTextTransformation"
        },
        "numeric": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation"
        },
        "categorical": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationCategoricalTransformation"
        },
        "timestamp": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationTimestampTransformation"
        },
        "auto": {
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationAutoTransformation"
        }
      },
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformation"
    },
    "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse": {
      "id": "GoogleCloudAiplatformV1BatchImportModelEvaluationSlicesResponse",
      "properties": {
        "importedModelEvaluationSlices": {
          "description": "Output only. List of imported ModelEvaluationSlice.name.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for ModelService.BatchImportModelEvaluationSlices",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AuthConfigApiKeyConfig": {
      "id": "GoogleCloudAiplatformV1AuthConfigApiKeyConfig",
      "properties": {
        "name": {
          "description": "Optional. The parameter name of the API key. E.g. If the API request is \"https://example.com/act?api_key=\", \"api_key\" would be the parameter name.",
          "type": "string"
        },
        "apiKeySecret": {
          "description": "Optional. The name of the SecretManager secret version resource storing the API key. Format: `projects/{project}/secrets/{secrete}/versions/{version}` - If both `api_key_secret` and `api_key_string` are specified, this field takes precedence over `api_key_string`. - If specified, the `secretmanager.versions.access` permission should be granted to Vertex AI Extension Service Agent (https://cloud.google.com/vertex-ai/docs/general/access-control#service-agents) on the specified resource.",
          "type": "string"
        },
        "apiKeyString": {
          "description": "Optional. The API key to be used in the request directly.",
          "type": "string"
        },
        "httpElementLocation": {
          "enumDescriptions": [
            "",
            "Element is in the HTTP request query.",
            "Element is in the HTTP request header.",
            "Element is in the HTTP request path.",
            "Element is in the HTTP request body.",
            "Element is in the HTTP request cookie."
          ],
          "enum": [
            "HTTP_IN_UNSPECIFIED",
            "HTTP_IN_QUERY",
            "HTTP_IN_HEADER",
            "HTTP_IN_PATH",
            "HTTP_IN_BODY",
            "HTTP_IN_COOKIE"
          ],
          "description": "Optional. The location of the API key.",
          "type": "string"
        }
      },
      "description": "Config for authentication with API key.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataInputConfig": {
      "id": "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataInputConfig",
      "description": "The tables Dataset's data source. The Dataset doesn't store the data directly, but only pointer(s) to its data.",
      "type": "object",
      "properties": {
        "bigquerySource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataBigQuerySource"
        },
        "gcsSource": {
          "$ref": "GoogleCloudAiplatformV1SchemaTablesDatasetMetadataGcsSource"
        }
      }
    },
    "GoogleCloudAiplatformV1RagManagedDbConfigScaled": {
      "description": "Scaled tier offers production grade performance along with autoscaling functionality. It is suitable for customers with large amounts of data or performance sensitive workloads.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1RagManagedDbConfigScaled"
    },
    "GoogleCloudAiplatformV1ImportFeatureValuesRequestFeatureSpec": {
      "id": "GoogleCloudAiplatformV1ImportFeatureValuesRequestFeatureSpec",
      "properties": {
        "id": {
          "description": "Required. ID of the Feature to import values of. This Feature must exist in the target EntityType, or the request will fail.",
          "type": "string"
        },
        "sourceField": {
          "description": "Source column to get the Feature values from. If not set, uses the column with the same name as the Feature ID.",
          "type": "string"
        }
      },
      "description": "Defines the Feature value(s) to import.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CoherenceSpec": {
      "properties": {
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Spec for coherence score metric.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1CoherenceSpec"
    },
    "GoogleCloudAiplatformV1ExplanationParameters": {
      "description": "Parameters to configure explaining for Model's predictions.",
      "type": "object",
      "properties": {
        "examples": {
          "description": "Example-based explanations that returns the nearest neighbors from the provided dataset.",
          "$ref": "GoogleCloudAiplatformV1Examples"
        },
        "xraiAttribution": {
          "description": "An attribution method that redistributes Integrated Gradients attribution to segmented regions, taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1906.02825 XRAI currently performs better on natural images, like a picture of a house or an animal. If the images are taken in artificial environments, like a lab or manufacturing line, or from diagnostic equipment, like x-rays or quality-control cameras, use Integrated Gradients instead.",
          "$ref": "GoogleCloudAiplatformV1XraiAttribution"
        },
        "outputIndices": {
          "description": "If populated, only returns attributions that have output_index contained in output_indices. It must be an ndarray of integers, with the same shape of the output it's explaining. If not populated, returns attributions for top_k indices of outputs. If neither top_k nor output_indices is populated, returns the argmax index of the outputs. Only applicable to Models that predict multiple outputs (e,g, multi-class Models that predict multiple classes).",
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "topK": {
          "format": "int32",
          "description": "If populated, returns attributions for top K indices of outputs (defaults to 1). Only applies to Models that predicts more than one outputs (e,g, multi-class Models). When set to -1, returns explanations for all outputs.",
          "type": "integer"
        },
        "sampledShapleyAttribution": {
          "description": "An attribution method that approximates Shapley values for features that contribute to the label being predicted. A sampling strategy is used to approximate the value rather than considering all subsets of features. Refer to this paper for model details: https://arxiv.org/abs/1306.4265.",
          "$ref": "GoogleCloudAiplatformV1SampledShapleyAttribution"
        },
        "integratedGradientsAttribution": {
          "description": "An attribution method that computes Aumann-Shapley values taking advantage of the model's fully differentiable structure. Refer to this paper for more details: https://arxiv.org/abs/1703.01365",
          "$ref": "GoogleCloudAiplatformV1IntegratedGradientsAttribution"
        }
      },
      "id": "GoogleCloudAiplatformV1ExplanationParameters"
    },
    "GoogleCloudAiplatformV1UpdatePersistentResourceOperationMetadata": {
      "id": "GoogleCloudAiplatformV1UpdatePersistentResourceOperationMetadata",
      "description": "Details of operations that perform update PersistentResource.",
      "type": "object",
      "properties": {
        "genericMetadata": {
          "description": "Operation metadata for PersistentResource.",
          "$ref": "GoogleCloudAiplatformV1GenericOperationMetadata"
        },
        "progressMessage": {
          "description": "Progress Message for Update LRO",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1RagQuery": {
      "properties": {
        "text": {
          "description": "Optional. The query in text format to get relevant contexts.",
          "type": "string"
        },
        "ragRetrievalConfig": {
          "description": "Optional. The retrieval config for the query.",
          "$ref": "GoogleCloudAiplatformV1RagRetrievalConfig"
        }
      },
      "description": "A query to retrieve relevant contexts.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1RagQuery"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessResult": {
      "description": "Spec for question answering correctness result.",
      "type": "object",
      "properties": {
        "confidence": {
          "format": "float",
          "description": "Output only. Confidence for question answering correctness score.",
          "readOnly": true,
          "type": "number"
        },
        "score": {
          "format": "float",
          "description": "Output only. Question Answering Correctness score.",
          "readOnly": true,
          "type": "number"
        },
        "explanation": {
          "description": "Output only. Explanation for question answering correctness score.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1QuestionAnsweringCorrectnessResult"
    },
    "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchResults": {
      "id": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchResults",
      "properties": {
        "trajectoryAnyOrderMatchMetricValues": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1TrajectoryAnyOrderMatchMetricValue"
          },
          "description": "Output only. TrajectoryAnyOrderMatch metric values.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Results for TrajectoryAnyOrderMatch metric.",
      "type": "object"
    },
    "CloudAiLargeModelsVisionPromptInputs": {
      "id": "CloudAiLargeModelsVisionPromptInputs",
      "properties": {
        "promptChunks": {
          "description": "2s, 256 tokens per chunk, 4 total chunks. Required.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "negativePrompt": {
          "description": "Single negative prompt for what not to generate.",
          "type": "string"
        },
        "audioPrompt": {
          "description": "Description of audio content in the video, without speech.",
          "type": "string"
        },
        "negativeAudioPrompt": {
          "description": "Negative description of audio content in the video.",
          "type": "string"
        },
        "transcript": {
          "description": "Spoken transcript of the video for characters.",
          "type": "string"
        }
      },
      "description": "\"Direct\" prompting for Experimental Video Generation. These will be sent directly to the LDM without being rewritten.",
      "type": "object"
    },
    "GoogleTypeInterval": {
      "id": "GoogleTypeInterval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1FunctionResponseFileData": {
      "id": "GoogleCloudAiplatformV1FunctionResponseFileData",
      "description": "URI based data for function response.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The IANA standard MIME type of the source data.",
          "type": "string"
        },
        "fileUri": {
          "description": "Required. URI.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Display name of the file data. Used to provide a label or filename to distinguish file datas. This field is only returned in PromptMessage for prompt management. It is currently used in the Gemini GenerateContent calls only when server side tools (code_execution, google_search, and url_context) are enabled.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1StreamingPredictRequest": {
      "properties": {
        "inputs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Tensor"
          },
          "description": "The prediction input.",
          "type": "array"
        },
        "parameters": {
          "description": "The parameters that govern the prediction.",
          "$ref": "GoogleCloudAiplatformV1Tensor"
        }
      },
      "description": "Request message for PredictionService.StreamingPredict. The first message must contain endpoint field and optionally input. The subsequent messages must contain input.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1StreamingPredictRequest"
    },
    "GoogleCloudAiplatformV1CustomCodeExecutionSpec": {
      "description": "Specificies a metric that is populated by evaluating user-defined Python code.",
      "type": "object",
      "properties": {
        "evaluationFunction": {
          "description": "Required. Python function. Expected user to define the following function, e.g.: def evaluate(instance: dict[str, Any]) -> float: Please include this function signature in the code snippet. Instance is the evaluation instance, any fields populated in the instance are available to the function as instance[field_name]. Example: Example input: ``` instance= EvaluationInstance( response=EvaluationInstance.InstanceData(text=\"The answer is 4.\"), reference=EvaluationInstance.InstanceData(text=\"4\") ) ``` Example converted input: ``` { 'response': {'text': 'The answer is 4.'}, 'reference': {'text': '4'} } ``` Example python function: ``` def evaluate(instance: dict[str, Any]) -> float: if instance'response' == instance'reference': return 1.0 return 0.0 ``` CustomCodeExecutionSpec is also supported in Batch Evaluation (EvalDataset RPC) and Tuning Evaluation. Each line in the input jsonl file will be converted to dict[str, Any] and passed to the evaluation function.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CustomCodeExecutionSpec"
    },
    "GoogleCloudAiplatformV1TrajectoryExactMatchMetricValue": {
      "description": "TrajectoryExactMatch metric value for an instance.",
      "type": "object",
      "properties": {
        "score": {
          "format": "float",
          "description": "Output only. TrajectoryExactMatch score.",
          "readOnly": true,
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1TrajectoryExactMatchMetricValue"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking": {
      "description": "A TrainingJob that trains and uploads an AutoML Video ObjectTracking Model.",
      "type": "object",
      "properties": {
        "inputs": {
          "description": "The input parameters of this TrainingJob.",
          "$ref": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTrackingInputs"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionAutoMlVideoObjectTracking"
    },
    "GoogleCloudAiplatformV1GenerateSyntheticDataRequest": {
      "properties": {
        "count": {
          "description": "Required. The number of synthetic examples to generate. For this stateless API, you can generate up to 50 examples in a single request.",
          "type": "integer",
          "format": "int32"
        },
        "taskDescription": {
          "description": "Generates synthetic data based on a high-level description of the task or data you want.",
          "$ref": "GoogleCloudAiplatformV1TaskDescriptionStrategy"
        },
        "outputFieldSpecs": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1OutputFieldSpec"
          },
          "description": "Required. Defines the schema of each synthetic example to be generated, defined by a list of fields.",
          "type": "array"
        },
        "examples": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SyntheticExample"
          },
          "description": "Optional. A list of few-shot examples that help the model understand the desired style, tone, and format of the generated synthetic data. Providing these few-shot examples can significantly improve the quality and relevance of the output.",
          "type": "array"
        }
      },
      "description": "Request message for DataFoundryService.GenerateSyntheticData. It contains the settings and information needed to generate synthetic data.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GenerateSyntheticDataRequest"
    },
    "GoogleCloudAiplatformV1SupervisedHyperParameters": {
      "id": "GoogleCloudAiplatformV1SupervisedHyperParameters",
      "description": "Hyperparameters for SFT.",
      "type": "object",
      "properties": {
        "learningRateMultiplier": {
          "description": "Optional. Multiplier for adjusting the default learning rate. Mutually exclusive with `learning_rate`. This feature is only available for 1P models.",
          "type": "number",
          "format": "double"
        },
        "epochCount": {
          "format": "int64",
          "description": "Optional. Number of complete passes the model makes over the entire training dataset during training.",
          "type": "string"
        },
        "adapterSize": {
          "enumDescriptions": [
            "Adapter size is unspecified.",
            "Adapter size 1.",
            "Adapter size 2.",
            "Adapter size 4.",
            "Adapter size 8.",
            "Adapter size 16.",
            "Adapter size 32."
          ],
          "enum": [
            "ADAPTER_SIZE_UNSPECIFIED",
            "ADAPTER_SIZE_ONE",
            "ADAPTER_SIZE_TWO",
            "ADAPTER_SIZE_FOUR",
            "ADAPTER_SIZE_EIGHT",
            "ADAPTER_SIZE_SIXTEEN",
            "ADAPTER_SIZE_THIRTY_TWO"
          ],
          "description": "Optional. Adapter size for tuning.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1NotebookSoftwareConfig": {
      "description": "Notebook Software Config. This is passed to the backend when user makes software configurations in UI.",
      "type": "object",
      "properties": {
        "colabImage": {
          "description": "Optional. Google-managed NotebookRuntime colab image.",
          "$ref": "GoogleCloudAiplatformV1ColabImage"
        },
        "postStartupScriptConfig": {
          "description": "Optional. Post startup script config.",
          "$ref": "GoogleCloudAiplatformV1PostStartupScriptConfig"
        },
        "env": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EnvVar"
          },
          "description": "Optional. Environment variables to be passed to the container. Maximum limit is 100.",
          "type": "array"
        }
      },
      "id": "GoogleCloudAiplatformV1NotebookSoftwareConfig"
    },
    "GoogleCloudAiplatformV1VertexRagStoreRagResource": {
      "id": "GoogleCloudAiplatformV1VertexRagStoreRagResource",
      "properties": {
        "ragCorpus": {
          "description": "Optional. RagCorpora resource name. Format: `projects/{project}/locations/{location}/ragCorpora/{rag_corpus}`",
          "type": "string"
        },
        "ragFileIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. rag_file_id. The files should be in the same rag_corpus set in rag_corpus field.",
          "type": "array"
        }
      },
      "description": "The definition of the Rag resource.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1Feature": {
      "properties": {
        "valueType": {
          "description": "Immutable. Only applicable for Vertex AI Feature Store (Legacy). Type of Feature value.",
          "type": "string",
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "BOOL",
            "BOOL_ARRAY",
            "DOUBLE",
            "DOUBLE_ARRAY",
            "INT64",
            "INT64_ARRAY",
            "STRING",
            "STRING_ARRAY",
            "BYTES",
            "STRUCT"
          ],
          "enumDescriptions": [
            "The value type is unspecified.",
            "Used for Feature that is a boolean.",
            "Used for Feature that is a list of boolean.",
            "Used for Feature that is double.",
            "Used for Feature that is a list of double.",
            "Used for Feature that is INT64.",
            "Used for Feature that is a list of INT64.",
            "Used for Feature that is string.",
            "Used for Feature that is a list of String.",
            "Used for Feature that is bytes.",
            "Used for Feature that is struct."
          ]
        },
        "pointOfContact": {
          "description": "Entity responsible for maintaining this feature. Can be comma separated list of email addresses or URIs.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata to organize your Features. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information on and examples of labels. No more than 64 user labels can be associated with one Feature (System labels are excluded).\" System reserved label keys are prefixed with \"aiplatform.googleapis.com/\" and are immutable.",
          "type": "object"
        },
        "disableMonitoring": {
          "description": "Optional. Only applicable for Vertex AI Feature Store (Legacy). If not set, use the monitoring_config defined for the EntityType this Feature belongs to. Only Features with type (Feature.ValueType) BOOL, STRING, DOUBLE or INT64 can enable monitoring. If set to true, all types of data monitoring are disabled despite the config on EntityType.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Only applicable for Vertex AI Feature Store (Legacy). Timestamp when this EntityType was most recently updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "monitoringStatsAnomalies": {
          "description": "Output only. Only applicable for Vertex AI Feature Store (Legacy). The list of historical stats and anomalies with specified objectives.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureMonitoringStatsAnomaly"
          }
        },
        "name": {
          "description": "Immutable. Name of the Feature. Format: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}/features/{feature}` `projects/{project}/locations/{location}/featureGroups/{feature_group}/features/{feature}` The last part feature is assigned by the client. The feature can be up to 64 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscore(_), and ASCII digits 0-9 starting with a letter. The value will be unique given an entity type.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Feature.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Only applicable for Vertex AI Feature Store (Legacy). Timestamp when this EntityType was created.",
          "readOnly": true,
          "type": "string"
        },
        "etag": {
          "description": "Used to perform a consistent read-modify-write updates. If not set, a blind \"overwrite\" update happens.",
          "type": "string"
        },
        "versionColumnName": {
          "description": "Only applicable for Vertex AI Feature Store. The name of the BigQuery Table/View column hosting data for this version. If no value is provided, will use feature_id.",
          "type": "string"
        }
      },
      "description": "Feature Metadata information. For example, color is a feature that describes an apple.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1Feature"
    },
    "GoogleCloudAiplatformV1ExportFeatureValuesRequestFullExport": {
      "id": "GoogleCloudAiplatformV1ExportFeatureValuesRequestFullExport",
      "description": "Describes exporting all historical Feature values of all entities of the EntityType between [start_time, end_time].",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Exports Feature values as of this timestamp. If not set, retrieve values as of now. Timestamp, if present, must not have higher than millisecond precision.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Excludes Feature values with feature generation timestamp before this timestamp. If not set, retrieve oldest values kept in Feature Store. Timestamp, if present, must not have higher than millisecond precision.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudAiplatformV1CometSpec": {
      "description": "Spec for Comet metric.",
      "type": "object",
      "properties": {
        "targetLanguage": {
          "description": "Optional. Target language in BCP-47 format. Covers both prediction and reference.",
          "type": "string"
        },
        "version": {
          "description": "Required. Which version to use for evaluation.",
          "type": "string",
          "enum": [
            "COMET_VERSION_UNSPECIFIED",
            "COMET_22_SRC_REF"
          ],
          "enumDescriptions": [
            "Comet version unspecified.",
            "Comet 22 for translation + source + reference (source-reference-combined)."
          ]
        },
        "sourceLanguage": {
          "description": "Optional. Source language in BCP-47 format.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1CometSpec"
    },
    "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition": {
      "properties": {
        "values": {
          "description": "Required. Matches values of the parent parameter of 'DISCRETE' type. All values must exist in `discrete_value_spec` of parent parameter. The Epsilon of the value matching is 1e-10.",
          "type": "array",
          "items": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "description": "Represents the spec to match discrete values from parent parameter.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1StudySpecParameterSpecConditionalParameterSpecDiscreteValueCondition"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata": {
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionSeq2SeqPlusForecastingMetadata",
      "description": "Model metadata specific to Seq2Seq Plus Forecasting.",
      "type": "object",
      "properties": {
        "evaluatedDataItemsBigqueryUri": {
          "description": "BigQuery destination uri for exported evaluated examples.",
          "type": "string"
        },
        "trainCostMilliNodeHours": {
          "format": "int64",
          "description": "Output only. The actual training cost of the model, expressed in milli node hours, i.e. 1,000 value in this field means 1 node hour. Guaranteed to not exceed the train budget.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1Retrieval": {
      "id": "GoogleCloudAiplatformV1Retrieval",
      "properties": {
        "vertexRagStore": {
          "description": "Set to use data source powered by Vertex RAG store. User data is uploaded via the VertexRagDataService.",
          "$ref": "GoogleCloudAiplatformV1VertexRagStore"
        },
        "externalApi": {
          "description": "Use data source powered by external API for grounding.",
          "$ref": "GoogleCloudAiplatformV1ExternalApi"
        },
        "vertexAiSearch": {
          "description": "Set to use data source powered by Vertex AI Search.",
          "$ref": "GoogleCloudAiplatformV1VertexAISearch"
        },
        "disableAttribution": {
          "description": "Optional. Deprecated. This option is no longer supported.",
          "deprecated": true,
          "type": "boolean"
        }
      },
      "description": "Defines a retrieval tool that model can call to access external knowledge.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1AutomaticResources": {
      "id": "GoogleCloudAiplatformV1AutomaticResources",
      "properties": {
        "minReplicaCount": {
          "format": "int32",
          "description": "Immutable. The minimum number of replicas that will be always deployed on. If traffic against it increases, it may dynamically be deployed onto more replicas up to max_replica_count, and as traffic decreases, some of these extra replicas may be freed. If the requested value is too large, the deployment will error.",
          "type": "integer"
        },
        "maxReplicaCount": {
          "format": "int32",
          "description": "Immutable. The maximum number of replicas that may be deployed on when the traffic against it increases. If the requested value is too large, the deployment will error, but if deployment succeeds then the ability to scale to that many replicas is guaranteed (barring service outages). If traffic increases beyond what its replicas at maximum may handle, a portion of the traffic will be dropped. If this value is not provided, a no upper bound for scaling under heavy traffic will be assume, though Vertex AI may be unable to scale beyond certain replica number.",
          "type": "integer"
        }
      },
      "description": "A description of resources that to large degree are decided by Vertex AI, and require only a modest additional configuration. Each Model supporting these resources documents its specific guidelines.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ErrorAnalysisAnnotation": {
      "description": "Model error analysis for each annotation.",
      "type": "object",
      "properties": {
        "attributedItems": {
          "description": "Attributed items for a given annotation, typically representing neighbors from the training sets constrained by the query type.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotationAttributedItem"
          }
        },
        "queryType": {
          "enumDescriptions": [
            "Unspecified query type for model error analysis.",
            "Query similar samples across all classes in the dataset.",
            "Query similar samples from the same class of the input sample.",
            "Query dissimilar samples from the same class of the input sample."
          ],
          "enum": [
            "QUERY_TYPE_UNSPECIFIED",
            "ALL_SIMILAR",
            "SAME_CLASS_SIMILAR",
            "SAME_CLASS_DISSIMILAR"
          ],
          "description": "The query type used for finding the attributed items.",
          "type": "string"
        },
        "outlierScore": {
          "format": "double",
          "description": "The outlier score of this annotated item. Usually defined as the min of all distances from attributed items.",
          "type": "number"
        },
        "outlierThreshold": {
          "description": "The threshold used to determine if this annotation is an outlier or not.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation"
    },
    "GoogleCloudAiplatformV1EvaluatedAnnotation": {
      "description": "True positive, false positive, or false negative. EvaluatedAnnotation is only available under ModelEvaluationSlice with slice of `annotationSpec` dimension.",
      "type": "object",
      "properties": {
        "groundTruths": {
          "items": {
            "type": "any"
          },
          "description": "Output only. The ground truth Annotations, i.e. the Annotations that exist in the test data the Model is evaluated on. For true positive, there is one and only one ground truth annotation, which matches the only prediction in predictions. For false positive, there are zero or more ground truth annotations that are similar to the only prediction in predictions, but not enough for a match. For false negative, there is one and only one ground truth annotation, which doesn't match any predictions created by the model. The schema of the ground truth is stored in ModelEvaluation.annotation_schema_uri",
          "readOnly": true,
          "type": "array"
        },
        "type": {
          "readOnly": true,
          "enum": [
            "EVALUATED_ANNOTATION_TYPE_UNSPECIFIED",
            "TRUE_POSITIVE",
            "FALSE_POSITIVE",
            "FALSE_NEGATIVE"
          ],
          "enumDescriptions": [
            "Invalid value.",
            "The EvaluatedAnnotation is a true positive. It has a prediction created by the Model and a ground truth Annotation which the prediction matches.",
            "The EvaluatedAnnotation is false positive. It has a prediction created by the Model which does not match any ground truth annotation.",
            "The EvaluatedAnnotation is false negative. It has a ground truth annotation which is not matched by any of the model created predictions."
          ],
          "description": "Output only. Type of the EvaluatedAnnotation.",
          "type": "string"
        },
        "predictions": {
          "description": "Output only. The model predicted annotations. For true positive, there is one and only one prediction, which matches the only one ground truth annotation in ground_truths. For false positive, there is one and only one prediction, which doesn't match any ground truth annotation of the corresponding data_item_view_id. For false negative, there are zero or more predictions which are similar to the only ground truth annotation in ground_truths but not enough for a match. The schema of the prediction is stored in ModelEvaluation.annotation_schema_uri",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "any"
          }
        },
        "explanations": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1EvaluatedAnnotationExplanation"
          },
          "description": "Explanations of predictions. Each element of the explanations indicates the explanation for one explanation Method. The attributions list in the EvaluatedAnnotationExplanation.explanation object corresponds to the predictions list. For example, the second element in the attributions list explains the second element in the predictions list.",
          "type": "array"
        },
        "errorAnalysisAnnotations": {
          "description": "Annotations of model error analysis results.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1ErrorAnalysisAnnotation"
          }
        },
        "evaluatedDataItemViewId": {
          "description": "Output only. ID of the EvaluatedDataItemView under the same ancestor ModelEvaluation. The EvaluatedDataItemView consists of all ground truths and predictions on data_item_payload.",
          "readOnly": true,
          "type": "string"
        },
        "dataItemPayload": {
          "description": "Output only. The data item payload that the Model predicted this EvaluatedAnnotation on.",
          "readOnly": true,
          "type": "any"
        }
      },
      "id": "GoogleCloudAiplatformV1EvaluatedAnnotation"
    },
    "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig": {
      "id": "GoogleCloudAiplatformV1EvaluationRunEvaluationConfigAutoraterConfig",
      "properties": {
        "generationConfig": {
          "description": "Optional. Configuration options for model generation and outputs.",
          "$ref": "GoogleCloudAiplatformV1GenerationConfig"
        },
        "autoraterModel": {
          "description": "Optional. The fully qualified name of the publisher model or tuned autorater endpoint to use. Publisher model format: `projects/{project}/locations/{location}/publishers/*/models/*` Tuned model endpoint format: `projects/{project}/locations/{location}/endpoints/{endpoint}`",
          "type": "string"
        },
        "sampleCount": {
          "description": "Optional. Number of samples for each instance in the dataset. If not specified, the default is 4. Minimum value is 1, maximum value is 32.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The autorater config used for the evaluation run.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfig": {
      "id": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfig",
      "description": "The config for integrating with Vertex Explainable AI. Only applicable if the Model has explanation_spec populated.",
      "type": "object",
      "properties": {
        "enableFeatureAttributes": {
          "description": "If want to analyze the Vertex Explainable AI feature attribute scores or not. If set to true, Vertex AI will log the feature attributions from explain response and do the skew/drift detection for them.",
          "type": "boolean"
        },
        "explanationBaseline": {
          "description": "Predictions generated by the BatchPredictionJob using baseline dataset.",
          "$ref": "GoogleCloudAiplatformV1ModelMonitoringObjectiveConfigExplanationConfigExplanationBaseline"
        }
      }
    },
    "GoogleCloudAiplatformV1TrainingPipeline": {
      "id": "GoogleCloudAiplatformV1TrainingPipeline",
      "properties": {
        "labels": {
          "description": "The labels with user-defined metadata to organize TrainingPipelines. Label keys and values can be no longer than 64 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. See https://goo.gl/xmQnxf for more information and examples of labels.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "modelId": {
          "description": "Optional. The ID to use for the uploaded Model, which will become the final component of the model resource name. This value may be up to 63 characters, and valid characters are `[a-z0-9_-]`. The first character cannot be a number or hyphen.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the TrainingPipeline was most recently updated.",
          "readOnly": true,
          "type": "string"
        },
        "encryptionSpec": {
          "description": "Customer-managed encryption key spec for a TrainingPipeline. If set, this TrainingPipeline will be secured by this key. Note: Model trained by this TrainingPipeline is also secured by this key if model_to_upload is not set separately.",
          "$ref": "GoogleCloudAiplatformV1EncryptionSpec"
        },
        "trainingTaskInputs": {
          "description": "Required. The training task's parameter(s), as specified in the training_task_definition's `inputs`.",
          "type": "any"
        },
        "error": {
          "description": "Output only. Only populated when the pipeline's state is `PIPELINE_STATE_FAILED` or `PIPELINE_STATE_CANCELLED`.",
          "readOnly": true,
          "$ref": "GoogleRpcStatus"
        },
        "name": {
          "description": "Output only. Resource name of the TrainingPipeline.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the TrainingPipeline for the first time entered the `PIPELINE_STATE_RUNNING` state.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The pipeline state is unspecified.",
            "The pipeline has been created or resumed, and processing has not yet begun.",
            "The service is preparing to run the pipeline.",
            "The pipeline is in progress.",
            "The pipeline completed successfully.",
            "The pipeline failed.",
            "The pipeline is being cancelled. From this state, the pipeline may only go to either PIPELINE_STATE_SUCCEEDED, PIPELINE_STATE_FAILED or PIPELINE_STATE_CANCELLED.",
            "The pipeline has been cancelled.",
            "The pipeline has been stopped, and can be resumed."
          ],
          "enum": [
            "PIPELINE_STATE_UNSPECIFIED",
            "PIPELINE_STATE_QUEUED",
            "PIPELINE_STATE_PENDING",
            "PIPELINE_STATE_RUNNING",
            "PIPELINE_STATE_SUCCEEDED",
            "PIPELINE_STATE_FAILED",
            "PIPELINE_STATE_CANCELLING",
            "PIPELINE_STATE_CANCELLED",
            "PIPELINE_STATE_PAUSED"
          ],
          "readOnly": true,
          "description": "Output only. The detailed state of the pipeline.",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the TrainingPipeline entered any of the following states: `PIPELINE_STATE_SUCCEEDED`, `PIPELINE_STATE_FAILED`, `PIPELINE_STATE_CANCELLED`.",
          "readOnly": true,
          "type": "string"
        },
        "inputDataConfig": {
          "description": "Specifies Vertex AI owned input data that may be used for training the Model. The TrainingPipeline's training_task_definition should make clear whether this config is used and if there are any special requirements on how it should be filled. If nothing about this config is mentioned in the training_task_definition, then it should be assumed that the TrainingPipeline does not depend on this configuration.",
          "$ref": "GoogleCloudAiplatformV1InputDataConfig"
        },
        "trainingTaskDefinition": {
          "description": "Required. A Google Cloud Storage path to the YAML file that defines the training task which is responsible for producing the model artifact, and may also include additional auxiliary work. The definition files that can be used here are found in gs://google-cloud-aiplatform/schema/trainingjob/definition/. Note: The URI given on output will be immutable and probably different, including the URI scheme, than the one given on input. The output URI will point to a location where the user only has a read access.",
          "type": "string"
        },
        "modelToUpload": {
          "description": "Describes the Model that may be uploaded (via ModelService.UploadModel) by this TrainingPipeline. The TrainingPipeline's training_task_definition should make clear whether this Model description should be populated, and if there are any special requirements regarding how it should be filled. If nothing is mentioned in the training_task_definition, then it should be assumed that this field should not be filled and the training task either uploads the Model without a need of this information, or that training task does not support uploading a Model as part of the pipeline. When the Pipeline's state becomes `PIPELINE_STATE_SUCCEEDED` and the trained Model had been uploaded into Vertex AI, then the model_to_upload's resource name is populated. The Model is always uploaded into the Project and Location in which this pipeline is.",
          "$ref": "GoogleCloudAiplatformV1Model"
        },
        "trainingTaskMetadata": {
          "description": "Output only. The metadata information as specified in the training_task_definition's `metadata`. This metadata is an auxiliary runtime and final information about the training task. While the pipeline is running this information is populated only at a best effort basis. Only present if the pipeline's training_task_definition contains `metadata` object.",
          "readOnly": true,
          "type": "any"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when the TrainingPipeline was created.",
          "readOnly": true,
          "type": "string"
        },
        "parentModel": {
          "description": "Optional. When specify this field, the `model_to_upload` will not be uploaded as a new model, instead, it will become a new version of this `parent_model`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of this TrainingPipeline.",
          "type": "string"
        }
      },
      "description": "The TrainingPipeline orchestrates tasks associated with training a Model. It always executes the training task, and optionally may also export data from Vertex AI's Dataset which becomes the training input, upload the Model to Vertex AI, and evaluate the Model.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1LogprobsResultTopCandidates": {
      "id": "GoogleCloudAiplatformV1LogprobsResultTopCandidates",
      "description": "A list of the top candidate tokens and their log probabilities at each decoding step. This can be used to see what other tokens the model considered.",
      "type": "object",
      "properties": {
        "candidates": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1LogprobsResultCandidate"
          },
          "description": "The list of candidate tokens, sorted by log probability in descending order.",
          "type": "array"
        }
      }
    },
    "GoogleCloudAiplatformV1GroundingMetadata": {
      "properties": {
        "webSearchQueries": {
          "description": "Optional. The web search queries that were used to generate the content. This field is populated only when the grounding source is Google Search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "searchEntryPoint": {
          "description": "Optional. A web search entry point that can be used to display search results. This field is populated only when the grounding source is Google Search.",
          "$ref": "GoogleCloudAiplatformV1SearchEntryPoint"
        },
        "groundingSupports": {
          "description": "Optional. A list of grounding supports that connect the generated content to the grounding chunks. This field is populated when the grounding source is Google Search or Vertex AI Search.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1GroundingSupport"
          }
        },
        "groundingChunks": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1GroundingChunk"
          },
          "description": "A list of supporting references retrieved from the grounding source. This field is populated when the grounding source is Google Search, Vertex AI Search, or Google Maps.",
          "type": "array"
        },
        "googleMapsWidgetContextToken": {
          "description": "Optional. Output only. A token that can be used to render a Google Maps widget with the contextual data. This field is populated only when the grounding source is Google Maps.",
          "readOnly": true,
          "type": "string"
        },
        "imageSearchQueries": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The image search queries that were used to generate the content. This field is populated only when the grounding source is Google Search with the Image Search search_type enabled.",
          "type": "array"
        },
        "retrievalMetadata": {
          "$ref": "GoogleCloudAiplatformV1RetrievalMetadata",
          "description": "Optional. Output only. Metadata related to the retrieval grounding source.",
          "readOnly": true
        },
        "sourceFlaggingUris": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1GroundingMetadataSourceFlaggingUri"
          },
          "description": "Optional. Output only. A list of URIs that can be used to flag a place or review for inappropriate content. This field is populated only when the grounding source is Google Maps.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Information about the sources that support the content of a response. When grounding is enabled, the model returns citations for claims in the response. This object contains the retrieved sources.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1GroundingMetadata"
    },
    "GoogleCloudAiplatformV1TrajectoryPrecisionInstance": {
      "properties": {
        "predictedTrajectory": {
          "description": "Required. Spec for predicted tool call trajectory.",
          "$ref": "GoogleCloudAiplatformV1Trajectory"
        },
        "referenceTrajectory": {
          "description": "Required. Spec for reference tool call trajectory.",
          "$ref": "GoogleCloudAiplatformV1Trajectory"
        }
      },
      "description": "Spec for TrajectoryPrecision instance.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1TrajectoryPrecisionInstance"
    },
    "GoogleCloudAiplatformV1StreamRawPredictRequest": {
      "properties": {
        "httpBody": {
          "description": "The prediction input. Supports HTTP headers and arbitrary data payload.",
          "$ref": "GoogleApiHttpBody"
        }
      },
      "description": "Request message for PredictionService.StreamRawPredict.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1StreamRawPredictRequest"
    },
    "GoogleCloudAiplatformV1UndeployModelResponse": {
      "id": "GoogleCloudAiplatformV1UndeployModelResponse",
      "properties": {},
      "description": "Response message for EndpointService.UndeployModel.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation": {
      "description": "Training pipeline will perform following transformation functions. * The value converted to float32. * The z_score of the value. * log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value. * z_score of log(value+1) when the value is greater than or equal to 0. Otherwise, this transformation is not applied and the value is considered a missing value.",
      "type": "object",
      "properties": {
        "columnName": {
          "type": "string"
        }
      },
      "id": "GoogleCloudAiplatformV1SchemaTrainingjobDefinitionTftForecastingInputsTransformationNumericTransformation"
    },
    "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus": {
      "id": "GoogleCloudAiplatformV1PipelineTaskDetailPipelineTaskStatus",
      "description": "A single record of the task status.",
      "type": "object",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update time of this status.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the task.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Specifies pending state for the task.",
            "Specifies task is being executed.",
            "Specifies task completed successfully.",
            "Specifies Task cancel is in pending state.",
            "Specifies task is being cancelled.",
            "Specifies task was cancelled.",
            "Specifies task failed.",
            "Specifies task was skipped due to cache hit.",
            "Specifies that the task was not triggered because the task's trigger policy is not satisfied. The trigger policy is specified in the `condition` field of PipelineJob.pipeline_spec."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "CANCEL_PENDING",
            "CANCELLING",
            "CANCELLED",
            "FAILED",
            "SKIPPED",
            "NOT_TRIGGERED"
          ]
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "Output only. The error that occurred during the state. May be set when the state is any of the non-final state (PENDING/RUNNING/CANCELLING) or FAILED state. If the state is FAILED, the error here is final and not going to be retried. If the state is a non-final state, the error indicates a system-error being retried.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudAiplatformV1SchemaPredictInstanceVideoClassificationPredictionInstance": {
      "id": "GoogleCloudAiplatformV1SchemaPredictInstanceVideoClassificationPredictionInstance",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the content of the video. Only the following are supported: video/mp4 video/avi video/quicktime",
          "type": "string"
        },
        "timeSegmentStart": {
          "description": "The beginning, inclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision.",
          "type": "string"
        },
        "content": {
          "description": "The Google Cloud Storage location of the video on which to perform the prediction.",
          "type": "string"
        },
        "timeSegmentEnd": {
          "description": "The end, exclusive, of the video's time segment on which to perform the prediction. Expressed as a number of seconds as measured from the start of the video, with \"s\" appended at the end. Fractions are allowed, up to a microsecond precision, and \"inf\" or \"Infinity\" is allowed, which means the end of the video.",
          "type": "string"
        }
      },
      "description": "Prediction input format for Video Classification.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1NotebookIdleShutdownConfig": {
      "id": "GoogleCloudAiplatformV1NotebookIdleShutdownConfig",
      "properties": {
        "idleTimeout": {
          "format": "google-duration",
          "description": "Required. Duration is accurate to the second. In Notebook, Idle Timeout is accurate to minute so the range of idle_timeout (second) is: 10 * 60 ~ 1440 * 60.",
          "type": "string"
        },
        "idleShutdownDisabled": {
          "description": "Whether Idle Shutdown is disabled in this NotebookRuntimeTemplate.",
          "type": "boolean"
        }
      },
      "description": "The idle shutdown configuration of NotebookRuntimeTemplate, which contains the idle_timeout as required field.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1VideoMetadata": {
      "description": "Provides metadata for a video, including the start and end offsets for clipping and the frame rate.",
      "type": "object",
      "properties": {
        "endOffset": {
          "format": "google-duration",
          "description": "Optional. The end offset of the video.",
          "type": "string"
        },
        "startOffset": {
          "format": "google-duration",
          "description": "Optional. The start offset of the video.",
          "type": "string"
        },
        "fps": {
          "format": "double",
          "description": "Optional. The frame rate of the video sent to the model. If not specified, the default value is 1.0. The valid range is (0.0, 24.0].",
          "type": "number"
        }
      },
      "id": "GoogleCloudAiplatformV1VideoMetadata"
    },
    "GoogleCloudAiplatformV1TrajectoryRecallSpec": {
      "id": "GoogleCloudAiplatformV1TrajectoryRecallSpec",
      "properties": {},
      "description": "Spec for TrajectoryRecall metric - returns a float score based on average recall of individual tool calls.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1CancelPipelineJobRequest": {
      "description": "Request message for PipelineService.CancelPipelineJob.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAiplatformV1CancelPipelineJobRequest"
    },
    "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoObjectTrackingMetrics": {
      "id": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsVideoObjectTrackingMetrics",
      "description": "Model evaluation metrics for video object tracking problems. Evaluates prediction quality of both labeled bounding boxes and labeled tracks (i.e. series of bounding boxes sharing same label and instance ID).",
      "type": "object",
      "properties": {
        "trackMeanBoundingBoxIou": {
          "format": "float",
          "description": "UNIMPLEMENTED. The single metric for tracks bounding box iou evaluation: the `meanBoundingBoxIou` averaged over all `trackMetrics`.",
          "type": "number"
        },
        "evaluatedBoundingBoxCount": {
          "description": "UNIMPLEMENTED. The total number of bounding boxes (i.e. summed over all frames) the ground truth used to create this evaluation had.",
          "type": "integer",
          "format": "int32"
        },
        "evaluatedFrameCount": {
          "description": "UNIMPLEMENTED. The number of video frames used to create this evaluation.",
          "type": "integer",
          "format": "int32"
        },
        "boundingBoxMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsBoundingBoxMetrics"
          },
          "description": "The bounding boxes match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array"
        },
        "evaluatedTrackCount": {
          "format": "int32",
          "description": "UNIMPLEMENTED. The total number of tracks (i.e. as seen across all frames) the ground truth used to create this evaluation had.",
          "type": "integer"
        },
        "trackMeanMismatchRate": {
          "format": "float",
          "description": "UNIMPLEMENTED. The single metric for tracking consistency evaluation: the `meanMismatchRate` averaged over all `trackMetrics`.",
          "type": "number"
        },
        "trackMetrics": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1SchemaModelevaluationMetricsTrackMetrics"
          },
          "description": "UNIMPLEMENTED. The tracks match metrics for each intersection-over-union threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 and each label confidence threshold 0.05,0.10,...,0.95,0.96,0.97,0.98,0.99 pair.",
          "type": "array"
        },
        "boundingBoxMeanAveragePrecision": {
          "format": "float",
          "description": "The single metric for bounding boxes evaluation: the `meanAveragePrecision` averaged over all `boundingBoxMetrics`.",
          "type": "number"
        },
        "trackMeanAveragePrecision": {
          "description": "UNIMPLEMENTED. The single metric for tracks accuracy evaluation: the `meanAveragePrecision` averaged over all `trackMetrics`.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudAiplatformV1CreateFeatureRequest": {
      "id": "GoogleCloudAiplatformV1CreateFeatureRequest",
      "properties": {
        "feature": {
          "description": "Required. The Feature to create.",
          "$ref": "GoogleCloudAiplatformV1Feature"
        },
        "parent": {
          "description": "Required. The resource name of the EntityType or FeatureGroup to create a Feature. Format for entity_type as parent: `projects/{project}/locations/{location}/featurestores/{featurestore}/entityTypes/{entity_type}` Format for feature_group as parent: `projects/{project}/locations/{location}/featureGroups/{feature_group}`",
          "type": "string"
        },
        "featureId": {
          "description": "Required. The ID to use for the Feature, which will become the final component of the Feature's resource name. This value may be up to 128 characters, and valid characters are `[a-z0-9_]`. The first character cannot be a number. The value must be unique within an EntityType/FeatureGroup.",
          "type": "string"
        }
      },
      "description": "Request message for FeaturestoreService.CreateFeature. Request message for FeatureRegistryService.CreateFeature.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec": {
      "id": "GoogleCloudAiplatformV1QuestionAnsweringHelpfulnessSpec",
      "properties": {
        "useReference": {
          "description": "Optional. Whether to use instance.reference to compute question answering helpfulness.",
          "type": "boolean"
        },
        "version": {
          "description": "Optional. Which version to use for evaluation.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Spec for question answering helpfulness metric.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineSpecContainerSpec",
      "properties": {
        "imageUri": {
          "description": "Required. The Artifact Registry Docker image URI (e.g., us-central1-docker.pkg.dev/my-project/my-repo/my-image:tag) of the container image that is to be run on each worker replica.",
          "type": "string"
        }
      },
      "description": "Specification for deploying from a container image.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1RawPredictRequest": {
      "properties": {
        "httpBody": {
          "description": "The prediction input. Supports HTTP headers and arbitrary data payload. A DeployedModel may have an upper limit on the number of instances it supports per request. When this limit it is exceeded for an AutoML model, the RawPredict method returns an error. When this limit is exceeded for a custom-trained model, the behavior varies depending on the model. You can specify the schema for each instance in the predict_schemata.instance_schema_uri field when you create a Model. This schema applies when you deploy the `Model` as a `DeployedModel` to an Endpoint and use the `RawPredict` method.",
          "$ref": "GoogleApiHttpBody"
        }
      },
      "description": "Request message for PredictionService.RawPredict.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1RawPredictRequest"
    },
    "GoogleCloudAiplatformV1EmbedContentRequest": {
      "properties": {
        "autoTruncate": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.auto_truncate instead. Whether to silently truncate the input content if it's longer than the maximum sequence length.",
          "deprecated": true,
          "type": "boolean"
        },
        "embedContentConfig": {
          "description": "Optional. Configuration for the EmbedContent request.",
          "$ref": "GoogleCloudAiplatformV1EmbedContentRequestEmbedContentConfig"
        },
        "outputDimensionality": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        },
        "content": {
          "description": "Required. The content to be embedded.",
          "$ref": "GoogleCloudAiplatformV1Content"
        },
        "taskType": {
          "deprecated": true,
          "enum": [
            "UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the embeddings will be used for question answering.",
            "Specifies that the embeddings will be used for fact verification.",
            "Specifies that the embeddings will be used for code retrieval."
          ],
          "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. The task type of the embedding.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. The title for the text.",
          "deprecated": true,
          "type": "string"
        }
      },
      "description": "Request message for PredictionService.EmbedContent.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EmbedContentRequest"
    },
    "GoogleCloudAiplatformV1ListFeatureViewSyncsResponse": {
      "id": "GoogleCloudAiplatformV1ListFeatureViewSyncsResponse",
      "description": "Response message for FeatureOnlineStoreAdminService.ListFeatureViewSyncs.",
      "type": "object",
      "properties": {
        "featureViewSyncs": {
          "description": "The FeatureViewSyncs matching the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAiplatformV1FeatureViewSync"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as ListFeatureViewSyncsRequest.page_token to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfigGranularTtlConfig": {
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigTtlConfigGranularTtlConfig",
      "description": "Configuration for TTL of the memories in the Memory Bank based on the action that created or updated the memory.",
      "type": "object",
      "properties": {
        "generateCreatedTtl": {
          "description": "Optional. The TTL duration for memories newly generated via GenerateMemories (GenerateMemoriesResponse.GeneratedMemory.Action.CREATED).",
          "type": "string",
          "format": "google-duration"
        },
        "createTtl": {
          "format": "google-duration",
          "description": "Optional. The TTL duration for memories uploaded via CreateMemory.",
          "type": "string"
        },
        "generateUpdatedTtl": {
          "description": "Optional. The TTL duration for memories updated via GenerateMemories (GenerateMemoriesResponse.GeneratedMemory.Action.UPDATED). In the case of an UPDATE action, the `expire_time` of the existing memory will be updated to the new value (now + TTL).",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudAiplatformV1EmbedContentResponse": {
      "properties": {
        "usageMetadata": {
          "description": "Usage metadata about the response(s).",
          "$ref": "GoogleCloudAiplatformV1UsageMetadata"
        },
        "embedding": {
          "description": "The embedding generated from the input content.",
          "$ref": "GoogleCloudAiplatformV1EmbedContentResponseEmbedding"
        },
        "truncated": {
          "description": "Whether the input content was truncated before generating the embedding.",
          "type": "boolean"
        }
      },
      "description": "Response message for PredictionService.EmbedContent.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1EmbedContentResponse"
    },
    "GoogleCloudAiplatformV1TrajectoryInOrderMatchSpec": {
      "id": "GoogleCloudAiplatformV1TrajectoryInOrderMatchSpec",
      "description": "Spec for TrajectoryInOrderMatch metric - returns 1 if tool calls in the reference trajectory appear in the predicted trajectory in the same order, else 0.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation": {
      "properties": {
        "displayName": {
          "description": "The display name of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "yMax": {
          "description": "The bottommost coordinate of the bounding box.",
          "type": "number",
          "format": "double"
        },
        "annotationSpecId": {
          "description": "The resource Id of the AnnotationSpec that this Annotation pertains to.",
          "type": "string"
        },
        "xMax": {
          "description": "The rightmost coordinate of the bounding box.",
          "type": "number",
          "format": "double"
        },
        "xMin": {
          "format": "double",
          "description": "The leftmost coordinate of the bounding box.",
          "type": "number"
        },
        "yMin": {
          "description": "The topmost coordinate of the bounding box.",
          "type": "number",
          "format": "double"
        }
      },
      "description": "Annotation details specific to image object detection.",
      "type": "object",
      "id": "GoogleCloudAiplatformV1SchemaImageBoundingBoxAnnotation"
    },
    "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig": {
      "description": "Configuration for how to generate memories.",
      "type": "object",
      "properties": {
        "model": {
          "description": "Optional. The model used to generate memories. Format: `projects/{project}/locations/{location}/publishers/google/models/{model}`.",
          "type": "string"
        },
        "generationTriggerConfig": {
          "description": "Optional. Specifies the default trigger configuration for generating memories using `IngestEvents`.",
          "$ref": "GoogleCloudAiplatformV1MemoryGenerationTriggerConfig"
        }
      },
      "id": "GoogleCloudAiplatformV1ReasoningEngineContextSpecMemoryBankConfigGenerationConfig"
    },
    "GoogleCloudAiplatformV1EventMetadata": {
      "description": "Metadata relating to a LLM response event.",
      "type": "object",
      "properties": {
        "groundingMetadata": {
          "description": "Optional. Metadata returned to client when grounding is enabled.",
          "$ref": "GoogleCloudAiplatformV1GroundingMetadata"
        },
        "outputTranscription": {
          "description": "Optional. Audio transcription of model output.",
          "$ref": "GoogleCloudAiplatformV1Transcription"
        },
        "customMetadata": {
          "description": "The custom metadata of the LlmResponse.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        },
        "branch": {
          "description": "Optional. The branch of the event. The format is like agent_1.agent_2.agent_3, where agent_1 is the parent of agent_2, and agent_2 is the parent of agent_3. Branch is used when multiple child agents shouldn't see their siblings' conversation history.",
          "type": "string"
        },
        "interrupted": {
          "description": "Optional. Flag indicating that LLM was interrupted when generating the content. Usually it's due to user interruption during a bidi streaming.",
          "type": "boolean"
        },
        "longRunningToolIds": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Set of ids of the long running function calls. Agent client will know from this field about which function call is long running. Only valid for function call event.",
          "type": "array"
        },
        "turnComplete": {
          "description": "Optional. Indicates whether the response from the model is complete. Only used for streaming mode.",
          "type": "boolean"
        },
        "partial": {
          "description": "Optional. Indicates whether the text content is part of a unfinished text stream. Only used for streaming mode and when the content is plain text.",
          "type": "boolean"
        },
        "inputTranscription": {
          "description": "Optional. Audio transcription of user input.",
          "$ref": "GoogleCloudAiplatformV1Transcription"
        }
      },
      "id": "GoogleCloudAiplatformV1EventMetadata"
    },
    "GoogleCloudAiplatformV1SupervisedTuningDataStats": {
      "id": "GoogleCloudAiplatformV1SupervisedTuningDataStats",
      "properties": {
        "userMessagePerExampleDistribution": {
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution",
          "description": "Output only. Dataset distributions for the messages per example.",
          "readOnly": true
        },
        "tuningStepCount": {
          "format": "int64",
          "description": "Output only. Number of tuning steps for this Tuning Job.",
          "readOnly": true,
          "type": "string"
        },
        "truncatedExampleIndices": {
          "description": "Output only. A partial sample of the indices (starting from 1) of the dropped examples.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "totalBillableTokenCount": {
          "format": "int64",
          "description": "Output only. Number of billable tokens in the tuning dataset.",
          "readOnly": true,
          "type": "string"
        },
        "tuningDatasetExampleCount": {
          "description": "Output only. Number of examples in the tuning dataset.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "totalBillableCharacterCount": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Number of billable characters in the tuning dataset.",
          "type": "string",
          "format": "int64"
        },
        "totalTruncatedExampleCount": {
          "format": "int64",
          "description": "Output only. The number of examples in the dataset that have been dropped. An example can be dropped for reasons including: too many tokens, contains an invalid image, contains too many images, etc.",
          "readOnly": true,
          "type": "string"
        },
        "droppedExampleReasons": {
          "items": {
            "type": "string"
          },
          "description": "Output only. For each index in `truncated_example_indices`, the user-facing reason why the example was dropped.",
          "readOnly": true,
          "type": "array"
        },
        "userInputTokenDistribution": {
          "description": "Output only. Dataset distributions for the user input tokens.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution"
        },
        "userDatasetExamples": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Content"
          },
          "description": "Output only. Sample user messages in the training dataset uri.",
          "readOnly": true,
          "type": "array"
        },
        "userOutputTokenDistribution": {
          "description": "Output only. Dataset distributions for the user output tokens.",
          "readOnly": true,
          "$ref": "GoogleCloudAiplatformV1SupervisedTuningDatasetDistribution"
        },
        "totalTuningCharacterCount": {
          "description": "Output only. Number of tuning characters in the tuning dataset.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Tuning data statistics for Supervised Tuning.",
      "type": "object"
    },
    "GoogleCloudAiplatformV1ModelContainerSpec": {
      "id": "GoogleCloudAiplatformV1ModelContainerSpec",
      "properties": {
        "grpcPorts": {
          "items": {
            "$ref": "GoogleCloudAiplatformV1Port"
          },
          "description": "Immutable. List of ports to expose from the container. Vertex AI sends gRPC prediction requests that it receives to the first port on this list. Vertex AI also sends liveness and health checks to this port. If you do not specify this field, gRPC requests to the container will be disabled. Vertex AI does not use ports other than the first one listed. This field corresponds to the `ports` field of the Kubernetes Containers v1 core API.",
          "type": "array"
        },
        "args": {
          "items": {
            "type": "string"
          },
[...]
