{
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "title": "Google Workspace Alert Center API",
  "canonicalName": "AlertCenter",
  "fullyEncodeReservedExpansion": true,
  "name": "alertcenter",
  "ownerName": "Google",
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://alertcenter.googleapis.com/",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "schemas": {
    "UserDefinedDetectorInfo": {
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "type": "object",
      "description": "Detector provided by Google.",
      "properties": {
        "detectorName": {
          "type": "string",
          "description": "Name that uniquely identifies the detector."
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "id": "SSOProfileCreatedEvent",
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got created",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Attachment": {
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert.",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "type": "object"
    },
    "VaultAcceleratedDeletion": {
      "type": "object",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "appType": {
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "description": "Currentlty only Gmail is supported as app type",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "type": "string"
        },
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "type": "string",
          "format": "google-datetime"
        },
        "deletionRequestId": {
          "type": "string",
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request"
        },
        "actionType": {
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ]
        },
        "matterId": {
          "type": "string",
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request"
        }
      },
      "id": "VaultAcceleratedDeletion"
    },
    "BatchUndeleteAlertsResponse": {
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          }
        }
      },
      "id": "BatchUndeleteAlertsResponse"
    },
    "DomainId": {
      "description": "Domain ID of Gmail phishing alerts.",
      "properties": {
        "customerPrimaryDomain": {
          "type": "string",
          "description": "The primary domain for the customer."
        }
      },
      "type": "object",
      "id": "DomainId"
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "description": "Requests for one application that needs default SQL setup.",
      "properties": {
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        },
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "MailPhishing": {
      "id": "MailPhishing",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "systemActionType": {
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "type": "string",
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ]
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "type": "object"
    },
    "Csv": {
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dataRows": {
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          },
          "type": "array"
        }
      },
      "id": "Csv"
    },
    "SSOProfileDeletedEvent": {
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got deleted",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SSOProfileDeletedEvent"
    },
    "ListAlertsResponse": {
      "type": "object",
      "description": "Response message for an alert listing request.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        },
        "alerts": {
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        }
      },
      "id": "ListAlertsResponse"
    },
    "Notification": {
      "id": "Notification",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "type": "object"
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AppMakerSqlSetupNotification"
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "type": "object",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`.",
          "type": "object"
        },
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "type": "object",
      "description": "Detailed information of a single MDM suspicious activity event.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "type": "string",
          "description": "The device property which was changed."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail"
    },
    "ResourceInfo": {
      "id": "ResourceInfo",
      "type": "object",
      "description": "Proto that contains resource information.",
      "properties": {
        "chatMessageId": {
          "description": "Chat message ID.",
          "type": "string"
        },
        "resourceTitle": {
          "type": "string",
          "description": "Title of the resource, for example email subject, or document title."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "messageId": {
          "description": "RFC2822 message ID.",
          "type": "string"
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        }
      }
    },
    "VoicemailMisconfiguration": {
      "id": "VoicemailMisconfiguration",
      "type": "object",
      "description": "Issue(s) with sending to voicemail.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          }
        }
      }
    },
    "Alert": {
      "description": "An alert affecting a customer.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this alert was last updated."
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "alertId": {
          "description": "Output only. The unique identifier for the alert.",
          "type": "string"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "data": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised.",
          "type": "object"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        }
      },
      "type": "object",
      "id": "Alert"
    },
    "MergeInfo": {
      "type": "object",
      "description": "New alert tracking numbers.",
      "properties": {
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        },
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        }
      },
      "id": "MergeInfo"
    },
    "RuleViolationInfo": {
      "id": "RuleViolationInfo",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "dataSource": {
          "description": "Source of the data.",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "type": "string",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "CHROME",
            "CHAT"
          ]
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "recipients": {
          "type": "array",
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          }
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Apply customer specified Drive labels to the file.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_APPLY_DRIVE_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Apply customer specified Drive labels to the file.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_APPLY_DRIVE_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        },
        "trigger": {
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED"
          ]
        },
        "eventType": {
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "description": "Event associated with this alert after applying the rule.",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "type": "string"
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array"
        },
        "triggeredActionInfo": {
          "type": "array",
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          }
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        }
      },
      "type": "object"
    },
    "SuperAdminPasswordResetEvent": {
      "id": "SuperAdminPasswordResetEvent",
      "type": "object",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      }
    },
    "VoiceMisconfiguration": {
      "id": "VoiceMisconfiguration",
      "type": "object",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "properties": {
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        },
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "entityType": {
          "description": "Type of the entity whose configuration is now invalid.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "type": "string",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ]
        }
      }
    },
    "AccountSuspensionWarning": {
      "description": "A warning that the customer's account is about to be suspended.",
      "properties": {
        "appealWindow": {
          "format": "google-duration",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "type": "string"
        },
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "type": "string"
        },
        "suspensionDetails": {
          "description": "Details about why an account is being suspended.",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AccountSuspensionWarning"
    },
    "SSOProfileUpdatedEvent": {
      "type": "object",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got updated"
        },
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        }
      },
      "id": "SSOProfileUpdatedEvent"
    },
    "Entity": {
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name."
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        }
      },
      "id": "Entity"
    },
    "BadWhitelist": {
      "type": "object",
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "BadWhitelist"
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "type": "object",
      "description": "Alerts for user account warning events.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "id": "MandatoryServiceAnnouncement",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "description": "Detailed, freeform text describing the announcement",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TransferError": {
      "id": "TransferError",
      "type": "object",
      "description": "Details for an invalid transfer or forward.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Ring group or auto attendant ID. Not set for users."
        },
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "entityType": {
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "type": "string"
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ]
        },
        "email": {
          "description": "User's email address. This may be unavailable if the entity was deleted.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty"
    },
    "StateSponsoredAttack": {
      "type": "object",
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "properties": {
        "email": {
          "description": "The email of the user this incident was created for.",
          "type": "string"
        }
      },
      "id": "StateSponsoredAttack"
    },
    "VoicemailRecipientError": {
      "id": "VoicemailRecipientError",
      "type": "object",
      "description": "Issue(s) with a voicemail recipient.",
      "properties": {
        "invalidReason": {
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "type": "string",
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ]
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      }
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        },
        "affectedUserEmails": {
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        },
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "header": {
          "type": "string",
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations."
        }
      },
      "type": "object"
    },
    "User": {
      "type": "object",
      "description": "A user.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "id": "User"
    },
    "DeviceCompromised": {
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          }
        }
      },
      "type": "object",
      "id": "DeviceCompromised"
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "description": "Proto that contains rule information.",
      "properties": {
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        },
        "resourceName": {
          "description": "Resource name that uniquely identifies the rule.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityList": {
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "properties": {
        "entities": {
          "type": "array",
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          }
        },
        "headers": {
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the key detail used to display this entity list."
        }
      },
      "type": "object"
    },
    "ListAlertFeedbackResponse": {
      "description": "Response message for an alert feedback listing request.",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAlertFeedbackResponse"
    },
    "AccessApproval": {
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "properties": {
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "justificationReason": {
          "type": "array",
          "description": "Justification for data access based on justification enums.",
          "items": {
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "type": "string",
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ]
          }
        },
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        },
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AccessApproval"
    },
    "BatchDeleteAlertsRequest": {
      "id": "BatchDeleteAlertsRequest",
      "type": "object",
      "description": "A request to perform batch delete on alerts.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        },
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AlertMetadata": {
      "type": "object",
      "description": "An alert metadata.",
      "properties": {
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time this metadata was last updated."
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        }
      },
      "id": "AlertMetadata"
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "properties": {
        "loginTime": {
          "type": "string",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LoginDetails"
    },
    "ReportingRule": {
      "type": "object",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "properties": {
        "alertDetails": {
          "format": "byte",
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration."
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "id": "ReportingRule"
    },
    "UserChanges": {
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserChanges"
    },
    "DeviceManagementRule": {
      "type": "object",
      "description": "Alerts from Device Management Rules configured by Admin.",
      "properties": {
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        }
      },
      "id": "DeviceManagementRule"
    },
    "DlpRuleViolation": {
      "type": "object",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      },
      "id": "DlpRuleViolation"
    },
    "GmailMessageInfo": {
      "id": "GmailMessageInfo",
      "description": "Details of a message in phishing spike alert.",
      "properties": {
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        },
        "sentTime": {
          "format": "google-datetime",
          "description": "The sent time of the email.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "date": {
          "format": "google-datetime",
          "description": "The date of the event related to this email.",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "type": "array",
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          }
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        }
      },
      "type": "object"
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        }
      }
    },
    "AlertFeedback": {
      "id": "AlertFeedback",
      "description": "A customer feedback about an alert.",
      "properties": {
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "createTime": {
          "description": "Output only. The time this feedback was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ]
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ActivityRule": {
      "id": "ActivityRule",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "properties": {
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "windowSize": {
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "type": "string",
          "format": "google-duration"
        },
        "supersededAlerts": {
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "items": {
            "type": "string"
          }
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "triggerSource": {
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT > 5”.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The timestamp of the last update to the rule."
        },
        "actionNames": {
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Alert display name."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Rule create timestamp.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AppSettingsChanged": {
      "id": "AppSettingsChanged",
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "alertDetails": {
          "format": "byte",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string"
        }
      }
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning.",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ]
        },
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        }
      }
    },
    "ApnsCertificateExpirationInfo": {
      "type": "object",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        },
        "expirationTime": {
          "format": "google-datetime",
          "description": "The expiration date of the APNS certificate.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "The UID of the certificate."
        }
      },
      "id": "ApnsCertificateExpirationInfo"
    },
    "SensitiveAdminAction": {
      "id": "SensitiveAdminAction",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "properties": {
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which event occurred"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        }
      },
      "type": "object"
    },
    "AbuseDetected": {
      "type": "object",
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "properties": {
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "variationType": {
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "type": "string"
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        }
      },
      "id": "AbuseDetected"
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "description": "Customer-level settings.",
      "properties": {
        "notifications": {
          "type": "array",
          "description": "The list of notifications.",
          "items": {
            "$ref": "Notification"
          }
        }
      }
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "properties": {
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CloudPubsubTopic": {
      "id": "CloudPubsubTopic",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "type": "string",
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic)."
        },
        "payloadFormat": {
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "type": "string",
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ]
        }
      },
      "type": "object"
    },
    "TransferMisconfiguration": {
      "id": "TransferMisconfiguration",
      "type": "object",
      "description": "Error related to transferring or forwarding a phone call.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Details for each invalid transfer or forward.",
          "items": {
            "$ref": "TransferError"
          }
        }
      }
    },
    "PrimaryAdminChangedEvent": {
      "type": "object",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "previousAdminEmail": {
          "type": "string",
          "description": "Email of person who was the primary admin before the action"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        }
      },
      "id": "PrimaryAdminChangedEvent"
    },
    "DomainWideTakeoutInitiated": {
      "id": "DomainWideTakeoutInitiated",
      "type": "object",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the admin who initiated the takeout."
        },
        "takeoutRequestId": {
          "type": "string",
          "description": "The takeout request ID."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "PhishingSpike": {
      "type": "object",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        }
      },
      "id": "PhishingSpike"
    },
    "SupportTicket": {
      "id": "SupportTicket",
      "description": "Support ticket related to Access Approvals request",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        }
      },
      "type": "object"
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "type": "object",
      "description": "Metadata related to the action.",
      "properties": {}
    },
    "AppsOutage": {
      "id": "AppsOutage",
      "type": "object",
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "products": {
          "description": "List of products impacted by the outage.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "type": "string",
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ]
        },
        "resolutionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known."
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "nextUpdateTime": {
          "format": "google-datetime",
          "description": "Timestamp by which the next update is expected to arrive.",
          "type": "string"
        }
      }
    },
    "CsvRow": {
      "id": "CsvRow",
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MatchInfo": {
      "id": "MatchInfo",
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule.",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        }
      }
    },
    "BatchUndeleteAlertsRequest": {
      "id": "BatchUndeleteAlertsRequest",
      "description": "A request to perform batch undelete on alerts.",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        },
        "alertId": {
          "type": "array",
          "description": "Required. The list of alert IDs to undelete.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "UndeleteAlertRequest": {
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UndeleteAlertRequest"
    },
    "SuspiciousActivity": {
      "id": "SuspiciousActivity",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "events": {
          "type": "array",
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        }
      },
      "type": "object"
    }
  },
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "baseUrl": "https://alertcenter.googleapis.com/",
  "ownerDomain": "google.com",
  "basePath": "",
  "kind": "discovery#restDescription",
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "flatPath": "v1beta1/settings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/settings",
          "parameterOrder": [],
          "description": "Returns customer-level settings.",
          "response": {
            "$ref": "Settings"
          },
          "httpMethod": "GET",
          "id": "alertcenter.getSettings"
        },
        "updateSettings": {
          "request": {
            "$ref": "Settings"
          },
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            }
          },
          "flatPath": "v1beta1/settings",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "path": "v1beta1/settings",
          "response": {
            "$ref": "Settings"
          },
          "description": "Updates the customer-level settings.",
          "id": "alertcenter.updateSettings",
          "httpMethod": "PATCH"
        }
      }
    },
    "alerts": {
      "methods": {
        "delete": {
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the alert to delete.",
              "required": true
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.delete",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Empty"
          },
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error."
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "alertId": {
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the alert to undelete.",
              "required": true
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}:undelete",
          "response": {
            "$ref": "Alert"
          },
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "id": "alertcenter.alerts.undelete",
          "httpMethod": "POST"
        },
        "list": {
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "description": "Lists the alerts.",
          "id": "alertcenter.alerts.list",
          "httpMethod": "GET",
          "flatPath": "v1beta1/alerts",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "filter": {
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "type": "string",
              "location": "query"
            },
            "orderBy": {
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "location": "query"
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "location": "query",
              "format": "int32",
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            }
          },
          "parameterOrder": [],
          "path": "v1beta1/alerts"
        },
        "get": {
          "httpMethod": "GET",
          "id": "alertcenter.alerts.get",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "response": {
            "$ref": "Alert"
          },
          "path": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "flatPath": "v1beta1/alerts/{alertId}",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {
            "alertId": {
              "location": "path",
              "description": "Required. The identifier of the alert to retrieve.",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          }
        },
        "batchDelete": {
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "description": "Performs batch delete operation on alerts.",
          "id": "alertcenter.alerts.batchDelete",
          "httpMethod": "POST",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "flatPath": "v1beta1/alerts:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameters": {},
          "parameterOrder": [],
          "path": "v1beta1/alerts:batchDelete"
        },
        "getMetadata": {
          "id": "alertcenter.alerts.getMetadata",
          "httpMethod": "GET",
          "response": {
            "$ref": "AlertMetadata"
          },
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "path": "v1beta1/alerts/{alertId}/metadata",
          "parameters": {
            "alertId": {
              "type": "string",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "required": true,
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "batchUndelete": {
          "parameterOrder": [],
          "path": "v1beta1/alerts:batchUndelete",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "parameters": {},
          "flatPath": "v1beta1/alerts:batchUndelete",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.batchUndelete",
          "httpMethod": "POST",
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "description": "Performs batch undelete operation on alerts."
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "list": {
              "parameters": {
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list)."
                },
                "alertId": {
                  "location": "path",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameterOrder": [
                "alertId"
              ],
              "path": "v1beta1/alerts/{alertId}/feedback",
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "id": "alertcenter.alerts.feedback.list",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "response": {
                "$ref": "AlertFeedback"
              },
              "httpMethod": "POST",
              "id": "alertcenter.alerts.feedback.create",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "alertId": {
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "AlertFeedback"
              },
              "path": "v1beta1/alerts/{alertId}/feedback",
              "parameterOrder": [
                "alertId"
              ]
            }
          }
        }
      }
    }
  },
  "revision": "20260302",
  "id": "alertcenter:v1beta1"
}