{
  "version": "v1beta1",
  "discoveryVersion": "v1",
  "name": "alertcenter",
  "revision": "20260413",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "batchPath": "batch",
  "id": "alertcenter:v1beta1",
  "title": "Google Workspace Alert Center API",
  "canonicalName": "AlertCenter",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerName": "Google",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "kind": "discovery#restDescription",
  "version_module": true,
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    }
  },
  "ownerDomain": "google.com",
  "schemas": {
    "RuleInfo": {
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      },
      "id": "RuleInfo",
      "description": "Proto that contains rule information."
    },
    "PhishingSpike": {
      "id": "PhishingSpike",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "type": "object",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        }
      }
    },
    "SSOProfileDeletedEvent": {
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      },
      "type": "object",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileDeletedEvent"
    },
    "DriveSyncStateChanged": {
      "id": "DriveSyncStateChanged",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "type": "object",
      "properties": {
        "syncState": {
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ],
          "description": "The current sync state.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ]
        },
        "syncStateChangeReason": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state change reason is unusual activity",
            "Sync state change reason is user feedback true positive",
            "Sync state change reason is user feedback false positive"
          ],
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "description": "The reason for the sync state change."
        },
        "email": {
          "type": "string",
          "description": "Email of the user affected."
        },
        "syncPauseStartTime": {
          "description": "Time at which sync was paused.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "description": "Requests for one application that needs default SQL setup.",
      "type": "object",
      "properties": {
        "appKey": {
          "description": "Required. The application that requires the SQL setup.",
          "type": "string"
        },
        "appDeveloperEmail": {
          "description": "List of app developers who triggered notifications for above application.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "AccessApproval": {
      "id": "AccessApproval",
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "type": "object",
      "properties": {
        "officeLocation": {
          "description": "Office location of Google staff requesting access such as \"US\".",
          "type": "string"
        },
        "justificationReason": {
          "description": "Justification for data access based on justification enums.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "type": "string",
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ]
          }
        },
        "tickets": {
          "type": "array",
          "items": {
            "$ref": "SupportTicket"
          },
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number."
        },
        "products": {
          "description": "Products within scope of the Access Approvals request.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestId": {
          "type": "string",
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google."
        },
        "scope": {
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field.",
          "type": "string"
        }
      }
    },
    "SuspiciousActivitySecurityDetail": {
      "properties": {
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "oldValue": {
          "description": "The old value of the device property before the change.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "type": "object",
      "description": "Detailed information of a single MDM suspicious activity event.",
      "id": "SuspiciousActivitySecurityDetail"
    },
    "MergeInfo": {
      "properties": {
        "newIncidentTrackingId": {
          "description": "The new tracking ID from the parent incident.",
          "type": "string"
        },
        "newAlertId": {
          "type": "string",
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state."
        }
      },
      "type": "object",
      "description": "New alert tracking numbers.",
      "id": "MergeInfo"
    },
    "MaliciousEntity": {
      "id": "MaliciousEntity",
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "type": "object",
      "properties": {
        "fromHeader": {
          "type": "string",
          "description": "The sender email address."
        },
        "displayName": {
          "type": "string",
          "description": "The header from display name."
        },
        "entity": {
          "description": "The actor who triggered a gmail phishing alert.",
          "$ref": "User"
        }
      }
    },
    "TransferError": {
      "properties": {
        "id": {
          "description": "Ring group or auto attendant ID. Not set for users.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted."
        },
        "entityType": {
          "type": "string",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "description": "Type of entity being transferred to. For ring group members, this should always be USER."
        },
        "email": {
          "type": "string",
          "description": "User's email address. This may be unavailable if the entity was deleted."
        },
        "invalidReason": {
          "description": "Reason for the error.",
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details for an invalid transfer or forward.",
      "id": "TransferError"
    },
    "GmailMessageInfo": {
      "description": "Details of a message in phishing spike alert.",
      "id": "GmailMessageInfo",
      "properties": {
        "recipient": {
          "type": "string",
          "description": "The recipient of this email."
        },
        "messageId": {
          "description": "The message ID.",
          "type": "string"
        },
        "date": {
          "type": "string",
          "description": "The date of the event related to this email.",
          "format": "google-datetime"
        },
        "messageBodySnippet": {
          "type": "string",
          "description": "The snippet of the message body text (only available for reported emails)."
        },
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "md5HashMessageBody": {
          "type": "string",
          "description": "The hash of the message body text."
        },
        "subjectText": {
          "type": "string",
          "description": "The email subject text (only available for reported emails)."
        },
        "sentTime": {
          "type": "string",
          "description": "The sent time of the email.",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "ListAlertsResponse": {
      "properties": {
        "alerts": {
          "items": {
            "$ref": "Alert"
          },
          "type": "array",
          "description": "The list of alerts."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        }
      },
      "type": "object",
      "description": "Response message for an alert listing request.",
      "id": "ListAlertsResponse"
    },
    "EntityList": {
      "id": "EntityList",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "headers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty."
        },
        "entities": {
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      }
    },
    "UserDefinedDetectorInfo": {
      "id": "UserDefinedDetectorInfo",
      "description": "Detector defined by administrators.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        }
      }
    },
    "AppsOutage": {
      "type": "object",
      "properties": {
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "format": "google-datetime",
          "type": "string"
        },
        "resolutionTime": {
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "format": "google-datetime",
          "type": "string"
        },
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ],
          "description": "Current outage status."
        },
        "incidentTrackingId": {
          "type": "string",
          "description": "Incident tracking ID."
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "dashboardUri": {
          "description": "Link to the outage event in Google Workspace Status Dashboard",
          "type": "string"
        },
        "products": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of products impacted by the outage."
        }
      },
      "id": "AppsOutage",
      "description": "An outage incident reported for a Google Workspace service."
    },
    "DeviceManagementRule": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ID of the rule that triggered the alert"
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "ownerId": {
          "description": "Obfuscated ID of the owner of the device",
          "type": "string"
        }
      },
      "id": "DeviceManagementRule",
      "description": "Alerts from Device Management Rules configured by Admin."
    },
    "GoogleOperations": {
      "type": "object",
      "properties": {
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A detailed, freeform incident description."
        },
        "affectedUserEmails": {
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "attachmentData": {
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state.",
          "$ref": "Attachment"
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        }
      },
      "id": "GoogleOperations",
      "description": "An incident reported by Google Operations for a Google Workspace application."
    },
    "Settings": {
      "properties": {
        "notifications": {
          "items": {
            "$ref": "Notification"
          },
          "type": "array",
          "description": "The list of notifications."
        }
      },
      "type": "object",
      "description": "Customer-level settings.",
      "id": "Settings"
    },
    "RuleViolationInfo": {
      "properties": {
        "suppressedActionTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "description": "Actions suppressed due to other actions with higher priority."
        },
        "trigger": {
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS"
          ],
          "description": "Trigger of the rule.",
          "type": "string",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access."
          ]
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array"
        },
        "eventType": {
          "description": "Event associated with this alert after applying the rule.",
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "type": "string"
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "type": "array",
          "items": {
            "$ref": "MatchInfo"
          }
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ]
          },
          "type": "array"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ruleInfo": {
          "description": "Details of the violated rule.",
          "$ref": "RuleInfo"
        },
        "dataSource": {
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "type": "string",
          "description": "Source of the data.",
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ]
        },
        "triggeringUserEmail": {
          "type": "string",
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan."
        }
      },
      "type": "object",
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "id": "RuleViolationInfo"
    },
    "CloudPubsubTopic": {
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "type": "string"
        }
      },
      "type": "object",
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "id": "CloudPubsubTopic"
    },
    "SSOProfileUpdatedEvent": {
      "id": "SSOProfileUpdatedEvent",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "inboundSsoProfileChanges": {
          "description": "changes made to sso profile",
          "type": "string"
        },
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        }
      }
    },
    "KeyServiceError": {
      "id": "KeyServiceError",
      "description": "Error related to an external key service.",
      "type": "object",
      "properties": {
        "keyServiceUrl": {
          "description": "Url of the external key service.",
          "type": "string"
        },
        "errorInfo": {
          "type": "string",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ],
          "description": "Info on the key service error."
        },
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "format": "int64",
          "type": "string"
        },
        "httpResponseCode": {
          "type": "string",
          "description": "HTTP response status code from the key service.",
          "format": "int64"
        }
      }
    },
    "SuperAdminPasswordResetEvent": {
      "id": "SuperAdminPasswordResetEvent",
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "type": "object",
      "properties": {
        "userEmail": {
          "type": "string",
          "description": "email of person whose password was reset"
        }
      }
    },
    "VaultAcceleratedDeletion": {
      "properties": {
        "actionType": {
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "type": "string",
          "description": "The action can be one of create and cancel",
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ]
        },
        "appType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "description": "Currentlty only Gmail is supported as app type"
        },
        "deletionRequestId": {
          "type": "string",
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request"
        },
        "createTime": {
          "type": "string",
          "description": "The UTC timestamp of when the AD request was created",
          "format": "google-datetime"
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "id": "VaultAcceleratedDeletion"
    },
    "AbuseDetected": {
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "id": "AbuseDetected",
      "properties": {
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        },
        "product": {
          "description": "Product that the abuse is originating from.",
          "type": "string"
        },
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "properties": {
        "emailAddress": {
          "description": "Email address of the user.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "type": "object",
      "description": "A user.",
      "id": "User"
    },
    "SensitiveAdminAction": {
      "properties": {
        "eventTime": {
          "type": "string",
          "description": "The time at which event occurred",
          "format": "google-datetime"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "primaryAdminChangedEvent": {
          "description": "Event occurred when primary admin changed in customer's account",
          "$ref": "PrimaryAdminChangedEvent"
        },
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "ssoProfileUpdatedEvent": {
          "description": "Event occurred when SSO Profile updated in customer's account",
          "$ref": "SSOProfileUpdatedEvent"
        },
        "actorEmail": {
          "type": "string",
          "description": "Email of person who performed the action"
        },
        "ssoProfileDeletedEvent": {
          "description": "Event occurred when SSO Profile deleted in customer's account",
          "$ref": "SSOProfileDeletedEvent"
        }
      },
      "type": "object",
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "id": "SensitiveAdminAction"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "id": "BatchUndeleteAlertsRequest",
      "properties": {
        "alertId": {
          "description": "Required. The list of alert IDs to undelete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuspiciousActivity": {
      "id": "SuspiciousActivity",
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "description": "Required. The list of security events.",
          "type": "array",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          }
        }
      }
    },
    "ActivityRule": {
      "properties": {
        "query": {
          "description": "Query that is used to get the data from the associated source.",
          "type": "string"
        },
        "windowSize": {
          "description": "Rule window size. Possible values are 1 hour or 24 hours.",
          "format": "google-duration",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The timestamp of the last update to the rule.",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Rule create timestamp.",
          "format": "google-datetime",
          "type": "string"
        },
        "threshold": {
          "type": "string",
          "description": "Alert threshold is for example “COUNT > 5”."
        },
        "supersededAlerts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "actionNames": {
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "id": "ActivityRule"
    },
    "MatchInfo": {
      "type": "object",
      "properties": {
        "predefinedDetector": {
          "description": "For matched detector predefined by Google.",
          "$ref": "PredefinedDetectorInfo"
        },
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        }
      },
      "id": "MatchInfo",
      "description": "Proto that contains match information from the condition part of the rule."
    },
    "BatchDeleteAlertsRequest": {
      "properties": {
        "alertId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of alert IDs to delete."
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "type": "object",
      "description": "A request to perform batch delete on alerts.",
      "id": "BatchDeleteAlertsRequest"
    },
    "CsvRow": {
      "description": "A representation of a single data row in a CSV file.",
      "id": "CsvRow",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "description": "Details about why an account is receiving an account suspension warning.",
      "type": "object",
      "properties": {
        "abuseReason": {
          "description": "The reason why this account is receiving an account suspension warning.",
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ],
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "type": "string"
        },
        "productName": {
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\"",
          "type": "string"
        }
      }
    },
    "MandatoryServiceAnnouncement": {
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      },
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "id": "MandatoryServiceAnnouncement"
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "description": "Detailed information of a single MDM device compromised event.",
      "type": "object",
      "properties": {
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        },
        "deviceCompromisedState": {
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\".",
          "type": "string"
        },
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        }
      }
    },
    "VoicemailMisconfiguration": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "VoicemailRecipientError"
          },
          "type": "array",
          "description": "Issue(s) with voicemail recipients."
        }
      },
      "type": "object",
      "description": "Issue(s) with sending to voicemail.",
      "id": "VoicemailMisconfiguration"
    },
    "AppSettingsChanged": {
      "properties": {
        "alertDetails": {
          "type": "string",
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      },
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "id": "AppSettingsChanged"
    },
    "Status": {
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status"
    },
    "LoginDetails": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event.",
          "type": "string"
        },
        "loginTime": {
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "LoginDetails",
      "description": "The details of the login action."
    },
    "StateSponsoredAttack": {
      "id": "StateSponsoredAttack",
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      }
    },
    "AlertMetadata": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "assignee": {
          "type": "string",
          "description": "The email address of the user assigned to the alert."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time this metadata was last updated.",
          "format": "google-datetime"
        },
        "severity": {
          "type": "string",
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW"
        }
      },
      "type": "object",
      "description": "An alert metadata.",
      "id": "AlertMetadata"
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "id": "AppMakerSqlSetupNotification",
      "properties": {
        "requestInfo": {
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array",
          "description": "List of applications with requests for default SQL set up."
        }
      },
      "type": "object"
    },
    "Csv": {
      "properties": {
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dataRows": {
          "items": {
            "$ref": "CsvRow"
          },
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string."
        }
      },
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "id": "Csv"
    },
    "PredefinedDetectorInfo": {
      "id": "PredefinedDetectorInfo",
      "description": "Detector provided by Google.",
      "type": "object",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      }
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "id": "BadWhitelist",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "description": "The list of messages contained by this alert."
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        }
      },
      "type": "object"
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "description": "A warning that the customer's account is about to be suspended.",
      "type": "object",
      "properties": {
        "appealWindow": {
          "type": "string",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state.",
          "format": "google-duration"
        },
        "suspensionDetails": {
          "type": "array",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "description": "Details about why an account is being suspended."
        },
        "state": {
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "description": "Account suspension warning state.",
          "type": "string",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ]
        }
      }
    },
    "ReportingRule": {
      "id": "ReportingRule",
      "description": "Alerts from Reporting Rules configured by Admin.",
      "type": "object",
      "properties": {
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "format": "byte",
          "type": "string"
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "format": "byte",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name"
        }
      }
    },
    "UserChanges": {
      "id": "UserChanges",
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "type": "object",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "SupportTicket": {
      "type": "object",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "description": "Link to support ticket",
          "type": "string"
        }
      },
      "id": "SupportTicket",
      "description": "Support ticket related to Access Approvals request"
    },
    "TransferMisconfiguration": {
      "type": "object",
      "properties": {
        "errors": {
          "items": {
            "$ref": "TransferError"
          },
          "type": "array",
          "description": "Details for each invalid transfer or forward."
        }
      },
      "id": "TransferMisconfiguration",
      "description": "Error related to transferring or forwarding a phone call."
    },
    "IdentityProviderError": {
      "id": "IdentityProviderError",
      "description": "Error related to an identity provider.",
      "type": "object",
      "properties": {
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "format": "int64",
          "type": "string"
        },
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        },
        "errorInfo": {
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "description": "Info on the identity provider error.",
          "type": "string",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ]
        }
      }
    },
    "VoicemailRecipientError": {
      "properties": {
        "invalidReason": {
          "description": "Reason for the error.",
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted."
        }
      },
      "type": "object",
      "description": "Issue(s) with a voicemail recipient.",
      "id": "VoicemailRecipientError"
    },
    "Attachment": {
      "type": "object",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "id": "Attachment",
      "description": "Attachment with application-specific information about an alert."
    },
    "DlpRuleViolation": {
      "id": "DlpRuleViolation",
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "type": "object",
      "properties": {
        "ruleViolationInfo": {
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector.",
          "$ref": "RuleViolationInfo"
        }
      }
    },
    "ActionInfo": {
      "description": "Metadata related to the action.",
      "id": "ActionInfo",
      "properties": {
        "evidenceLockerFilePath": {
          "type": "string",
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\""
        }
      },
      "type": "object"
    },
    "Notification": {
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "type": "object",
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "id": "Notification"
    },
    "ApnsCertificateExpirationInfo": {
      "type": "object",
      "properties": {
        "expirationTime": {
          "description": "The expiration date of the APNS certificate.",
          "format": "google-datetime",
          "type": "string"
        },
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        },
        "uid": {
          "description": "The UID of the certificate.",
          "type": "string"
        }
      },
      "id": "ApnsCertificateExpirationInfo",
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "UndeleteAlertRequest": {
      "id": "UndeleteAlertRequest",
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "type": "object",
      "properties": {
        "customerId": {
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
          "type": "string"
        }
      }
    },
    "AlertFeedback": {
      "properties": {
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        },
        "feedbackId": {
          "type": "string",
          "description": "Output only. The unique identifier for the feedback."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time this feedback was created.",
          "format": "google-datetime"
        },
        "email": {
          "type": "string",
          "description": "Output only. The email of the user that provided the feedback."
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "description": "Required. The type of the feedback."
        }
      },
      "type": "object",
      "description": "A customer feedback about an alert.",
      "id": "AlertFeedback"
    },
    "SSOProfileCreatedEvent": {
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "id": "SSOProfileCreatedEvent",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got created",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MailPhishing": {
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "messages": {
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          },
          "type": "array"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "systemActionType": {
          "type": "string",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "description": "System actions on the messages."
        }
      },
      "type": "object",
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "id": "MailPhishing"
    },
    "ClientSideEncryptionServiceUnavailable": {
      "type": "object",
      "properties": {
        "idpError": {
          "type": "array",
          "items": {
            "$ref": "IdentityProviderError"
          },
          "description": "Identity providers impacted by an outage or misconfiguration."
        },
        "keyServiceError": {
          "type": "array",
          "items": {
            "$ref": "KeyServiceError"
          },
          "description": "External key services impacted by an outage or misconfiguration."
        }
      },
      "id": "ClientSideEncryptionServiceUnavailable",
      "description": "Alerts for client-side encryption outages."
    },
    "Alert": {
      "properties": {
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "startTime": {
          "type": "string",
          "description": "Required. The time the event that caused this alert was started or detected.",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "type": {
          "type": "string",
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types)."
        },
        "data": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "createTime": {
          "description": "Output only. The time this alert was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. `True` if this alert is marked for deletion.",
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. The time this alert was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        }
      },
      "type": "object",
      "description": "An alert affecting a customer.",
      "id": "Alert"
    },
    "DeviceCompromised": {
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "type": "array",
          "description": "Required. The list of security events."
        }
      },
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "id": "DeviceCompromised"
    },
    "Entity": {
      "properties": {
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        },
        "values": {
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "id": "Entity"
    },
    "AccountWarning": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email of the user that this event belongs to."
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      },
      "type": "object",
      "description": "Alerts for user account warning events.",
      "id": "AccountWarning"
    },
    "ResourceInfo": {
      "properties": {
        "documentId": {
          "description": "Drive file ID.",
          "type": "string"
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "RFC2822 message ID."
        },
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "deviceId": {
          "type": "string",
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\"."
        }
      },
      "type": "object",
      "description": "Proto that contains resource information.",
      "id": "ResourceInfo"
    },
    "BatchDeleteAlertsResponse": {
      "type": "object",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The successful list of alert IDs."
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object",
          "description": "The status details for each failed `alert_id`."
        }
      },
      "id": "BatchDeleteAlertsResponse",
      "description": "Response to batch delete operation on alerts."
    },
    "DomainWideTakeoutInitiated": {
      "properties": {
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "id": "DomainWideTakeoutInitiated"
    },
    "PrimaryAdminChangedEvent": {
      "type": "object",
      "properties": {
        "previousAdminEmail": {
          "description": "Email of person who was the primary admin before the action",
          "type": "string"
        },
        "updatedAdminEmail": {
          "description": "Email of person who is the primary admin after the action",
          "type": "string"
        },
        "domain": {
          "description": "domain in which actioned occurred",
          "type": "string"
        }
      },
      "id": "PrimaryAdminChangedEvent",
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder"
    },
    "VoiceMisconfiguration": {
      "id": "VoiceMisconfiguration",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "type": "object",
      "properties": {
        "voicemailMisconfiguration": {
          "description": "Issue(s) with sending to voicemail.",
          "$ref": "VoicemailMisconfiguration"
        },
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "entityName": {
          "description": "Name of the entity whose configuration is now invalid.",
          "type": "string"
        },
        "entityType": {
          "description": "Type of the entity whose configuration is now invalid.",
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ],
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "type": "string"
        },
        "transferMisconfiguration": {
          "description": "Issue(s) with transferring or forwarding to an external entity.",
          "$ref": "TransferMisconfiguration"
        },
        "membersMisconfiguration": {
          "description": "Issue(s) with members of a ring group.",
          "$ref": "TransferMisconfiguration"
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "description": "Response to batch undelete operation on alerts.",
      "id": "BatchUndeleteAlertsResponse",
      "properties": {
        "successAlertIds": {
          "description": "The successful list of alert IDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "description": "The status details for each failed `alert_id`.",
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "ListAlertFeedbackResponse": {
      "type": "object",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "type": "array",
          "items": {
            "$ref": "AlertFeedback"
          }
        }
      },
      "id": "ListAlertFeedbackResponse",
      "description": "Response message for an alert feedback listing request."
    },
    "DomainId": {
      "id": "DomainId",
      "description": "Domain ID of Gmail phishing alerts.",
      "type": "object",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      }
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "resources": {
    "v1beta1": {
      "methods": {
        "getSettings": {
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "flatPath": "v1beta1/settings",
          "description": "Returns customer-level settings.",
          "id": "alertcenter.getSettings",
          "path": "v1beta1/settings",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "updateSettings": {
          "flatPath": "v1beta1/settings",
          "description": "Updates the customer-level settings.",
          "id": "alertcenter.updateSettings",
          "path": "v1beta1/settings",
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Settings"
          },
          "request": {
            "$ref": "Settings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [],
          "httpMethod": "PATCH"
        }
      }
    },
    "alerts": {
      "methods": {
        "getMetadata": {
          "response": {
            "$ref": "AlertMetadata"
          },
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "location": "path"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "id": "alertcenter.alerts.getMetadata",
          "path": "v1beta1/alerts/{alertId}/metadata",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "list": {
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "parameters": {
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            },
            "filter": {
              "location": "query",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list).",
              "type": "string"
            },
            "orderBy": {
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`",
              "location": "query",
              "type": "string"
            },
            "pageToken": {
              "location": "query",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field.",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "alertcenter.alerts.list",
          "path": "v1beta1/alerts",
          "flatPath": "v1beta1/alerts",
          "description": "Lists the alerts.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "get": {
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path"
            },
            "customerId": {
              "location": "query",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "id": "alertcenter.alerts.get",
          "path": "v1beta1/alerts/{alertId}",
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "undelete": {
          "parameters": {
            "alertId": {
              "required": true,
              "type": "string",
              "description": "Required. The identifier of the alert to undelete.",
              "location": "path"
            }
          },
          "response": {
            "$ref": "Alert"
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect.",
          "id": "alertcenter.alerts.undelete",
          "path": "v1beta1/alerts/{alertId}:undelete",
          "httpMethod": "POST",
          "parameterOrder": [
            "alertId"
          ],
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "batchDelete": {
          "id": "alertcenter.alerts.batchDelete",
          "path": "v1beta1/alerts:batchDelete",
          "flatPath": "v1beta1/alerts:batchDelete",
          "description": "Performs batch delete operation on alerts.",
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "httpMethod": "POST",
          "parameterOrder": []
        },
        "batchUndelete": {
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          },
          "parameters": {},
          "id": "alertcenter.alerts.batchUndelete",
          "path": "v1beta1/alerts:batchUndelete",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "description": "Performs batch undelete operation on alerts.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "parameterOrder": [
            "alertId"
          ],
          "httpMethod": "DELETE",
          "flatPath": "v1beta1/alerts/{alertId}",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "id": "alertcenter.alerts.delete",
          "path": "v1beta1/alerts/{alertId}",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to delete.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "customerId": {
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query"
            }
          },
          "response": {
            "$ref": "Empty"
          }
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "alertId"
              ],
              "request": {
                "$ref": "AlertFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "parameters": {
                "customerId": {
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "type": "string"
                },
                "alertId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The identifier of the alert this feedback belongs to."
                }
              },
              "response": {
                "$ref": "AlertFeedback"
              },
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "id": "alertcenter.alerts.feedback.create",
              "path": "v1beta1/alerts/{alertId}/feedback"
            },
            "list": {
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameters": {
                "customerId": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list)."
                },
                "alertId": {
                  "location": "path",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "alertcenter.alerts.feedback.list",
              "path": "v1beta1/alerts/{alertId}/feedback",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "httpMethod": "GET",
              "parameterOrder": [
                "alertId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ]
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/"
}