{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/apps.alerts": {
          "description": "See and delete your domain's Google Workspace alerts, and send alert feedback"
        }
      }
    }
  },
  "name": "alertcenter",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "description": "Manages alerts on issues affecting your domain. Note: The current version of this API (v1beta1) is available to all Google Workspace customers. ",
  "resources": {
    "alerts": {
      "methods": {
        "undelete": {
          "response": {
            "$ref": "Alert"
          },
          "path": "v1beta1/alerts/{alertId}:undelete",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.alerts.undelete",
          "request": {
            "$ref": "UndeleteAlertRequest"
          },
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert to undelete.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}:undelete",
          "description": "Restores, or \"undeletes\", an alert that was marked for deletion within the past 30 days. Attempting to undelete an alert which was marked for deletion over 30 days ago (which has been removed from the Alert Center database) or a nonexistent alert returns a `NOT_FOUND` error. Attempting to undelete an alert which has not been marked for deletion has no effect."
        },
        "batchUndelete": {
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchUndelete",
          "request": {
            "$ref": "BatchUndeleteAlertsRequest"
          },
          "description": "Performs batch undelete operation on alerts.",
          "flatPath": "v1beta1/alerts:batchUndelete",
          "parameters": {},
          "path": "v1beta1/alerts:batchUndelete",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "BatchUndeleteAlertsResponse"
          }
        },
        "list": {
          "path": "v1beta1/alerts",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "ListAlertsResponse"
          },
          "description": "Lists the alerts.",
          "flatPath": "v1beta1/alerts",
          "parameters": {
            "pageSize": {
              "description": "Optional. The requested page size. Server may return fewer items than requested. If unspecified, server picks an appropriate default.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A token identifying a page of results the server should return. If empty, a new iteration is started. To continue an iteration, pass in the value from the previous ListAlertsResponse's next_page_token field."
            },
            "orderBy": {
              "location": "query",
              "type": "string",
              "description": "Optional. The sort order of the list results. If not specified results may be returned in arbitrary order. You can sort the results in descending order based on the creation timestamp using `order_by=\"create_time desc\"`. Currently, supported sorting are `create_time asc`, `create_time desc`, `update_time desc`"
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "Optional. A query string for filtering alert results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.list)."
            },
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "id": "alertcenter.alerts.list"
        },
        "delete": {
          "id": "alertcenter.alerts.delete",
          "parameterOrder": [
            "alertId"
          ],
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            },
            "alertId": {
              "location": "path",
              "type": "string",
              "description": "Required. The identifier of the alert to delete.",
              "required": true
            }
          },
          "flatPath": "v1beta1/alerts/{alertId}",
          "description": "Marks the specified alert for deletion. An alert that has been marked for deletion is removed from Alert Center after 30 days. Marking an alert for deletion has no effect on an alert which has already been marked for deletion. Attempting to mark a nonexistent alert for deletion results in a `NOT_FOUND` error.",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ]
        },
        "get": {
          "path": "v1beta1/alerts/{alertId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Alert"
          },
          "description": "Gets the specified alert. Attempting to get a nonexistent alert returns `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}",
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            },
            "alertId": {
              "required": true,
              "description": "Required. The identifier of the alert to retrieve.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.get"
        },
        "batchDelete": {
          "parameterOrder": [],
          "id": "alertcenter.alerts.batchDelete",
          "request": {
            "$ref": "BatchDeleteAlertsRequest"
          },
          "description": "Performs batch delete operation on alerts.",
          "flatPath": "v1beta1/alerts:batchDelete",
          "parameters": {},
          "path": "v1beta1/alerts:batchDelete",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "BatchDeleteAlertsResponse"
          }
        },
        "getMetadata": {
          "parameterOrder": [
            "alertId"
          ],
          "id": "alertcenter.alerts.getMetadata",
          "description": "Returns the metadata of an alert. Attempting to get metadata for a non-existent alert returns `NOT_FOUND` error.",
          "flatPath": "v1beta1/alerts/{alertId}/metadata",
          "parameters": {
            "alertId": {
              "description": "Required. The identifier of the alert this metadata belongs to.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert metadata is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "path": "v1beta1/alerts/{alertId}/metadata",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "AlertMetadata"
          }
        }
      },
      "resources": {
        "feedback": {
          "methods": {
            "create": {
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "AlertFeedback"
              },
              "description": "Creates new feedback for an alert. Attempting to create a feedback for a non-existent alert returns `NOT_FOUND` error. Attempting to create a feedback for an alert that is marked for deletion returns `FAILED_PRECONDITION' error.",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "customerId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
                },
                "alertId": {
                  "required": true,
                  "description": "Required. The identifier of the alert this feedback belongs to.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.create",
              "request": {
                "$ref": "AlertFeedback"
              }
            },
            "list": {
              "path": "v1beta1/alerts/{alertId}/feedback",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/apps.alerts"
              ],
              "response": {
                "$ref": "ListAlertFeedbackResponse"
              },
              "parameterOrder": [
                "alertId"
              ],
              "id": "alertcenter.alerts.feedback.list",
              "description": "Lists all the feedback for an alert. Attempting to list feedbacks for a non-existent alert returns `NOT_FOUND` error.",
              "flatPath": "v1beta1/alerts/{alertId}/feedback",
              "parameters": {
                "customerId": {
                  "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
                  "location": "query",
                  "type": "string"
                },
                "alertId": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. The alert identifier. The \"-\" wildcard could be used to represent all alerts.",
                  "required": true
                },
                "filter": {
                  "description": "Optional. A query string for filtering alert feedback results. For more details, see [Query filters](https://developers.google.com/workspace/admin/alertcenter/guides/query-filters) and [Supported query filter fields](https://developers.google.com/workspace/admin/alertcenter/reference/filter-fields#alerts.feedback.list).",
                  "location": "query",
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "v1beta1": {
      "methods": {
        "getSettings": {
          "parameterOrder": [],
          "id": "alertcenter.getSettings",
          "description": "Returns customer-level settings.",
          "flatPath": "v1beta1/settings",
          "parameters": {
            "customerId": {
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must/ have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793).",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1beta1/settings",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "response": {
            "$ref": "Settings"
          }
        },
        "updateSettings": {
          "response": {
            "$ref": "Settings"
          },
          "path": "v1beta1/settings",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/apps.alerts"
          ],
          "id": "alertcenter.updateSettings",
          "request": {
            "$ref": "Settings"
          },
          "parameterOrder": [],
          "parameters": {
            "customerId": {
              "location": "query",
              "type": "string",
              "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert settings are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
            }
          },
          "flatPath": "v1beta1/settings",
          "description": "Updates the customer-level settings."
        }
      }
    }
  },
  "title": "Google Workspace Alert Center API",
  "documentationLink": "https://developers.google.com/workspace/admin/alertcenter/",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "AlertCenter",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "baseUrl": "https://alertcenter.googleapis.com/",
  "rootUrl": "https://alertcenter.googleapis.com/",
  "ownerName": "Google",
  "version_module": true,
  "version": "v1beta1",
  "revision": "20260413",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "schemas": {
    "AlertMetadata": {
      "description": "An alert metadata.",
      "properties": {
        "status": {
          "description": "The current status of the alert. The supported values are the following: * NOT_STARTED * IN_PROGRESS * CLOSED",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this metadata was last updated."
        },
        "severity": {
          "description": "The severity value of the alert. Alert Center will set this field at alert creation time, default's to an empty string when it could not be determined. The supported values for update actions on this field are the following: * HIGH * MEDIUM * LOW",
          "type": "string"
        },
        "alertId": {
          "description": "Output only. The alert identifier.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert metadata from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform metadata updates in order to avoid race conditions: An `etag` is returned in the response which contains alert metadata, and systems are expected to put that etag in the request to update alert metadata to ensure that their change will be applied to the same version of the alert metadata. If no `etag` is provided in the call to update alert metadata, then the existing alert metadata is overwritten blindly."
        },
        "assignee": {
          "description": "The email address of the user assigned to the alert.",
          "type": "string"
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        }
      },
      "id": "AlertMetadata",
      "type": "object"
    },
    "LoginDetails": {
      "description": "The details of the login action.",
      "properties": {
        "loginTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The successful login time that is associated with the warning event. This isn't present for blocked login attempts."
        },
        "ipAddress": {
          "type": "string",
          "description": "Optional. The human-readable IP address (for example, `11.22.33.44`) that is associated with the warning event."
        }
      },
      "id": "LoginDetails",
      "type": "object"
    },
    "BatchUndeleteAlertsRequest": {
      "description": "A request to perform batch undelete on alerts.",
      "properties": {
        "alertId": {
          "type": "array",
          "description": "Required. The list of alert IDs to undelete.",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "id": "BatchUndeleteAlertsRequest",
      "type": "object"
    },
    "StateSponsoredAttack": {
      "description": "A state-sponsored attack alert. Derived from audit logs.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this incident was created for."
        }
      },
      "id": "StateSponsoredAttack",
      "type": "object"
    },
    "RuleInfo": {
      "id": "RuleInfo",
      "type": "object",
      "description": "Proto that contains rule information.",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the rule."
        },
        "displayName": {
          "description": "User provided name of the rule.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "GoogleOperations": {
      "id": "GoogleOperations",
      "type": "object",
      "description": "An incident reported by Google Operations for a Google Workspace application.",
      "properties": {
        "domain": {
          "description": "Customer domain for email template personalization.",
          "type": "string"
        },
        "description": {
          "description": "A detailed, freeform incident description.",
          "type": "string"
        },
        "header": {
          "description": "A header to display above the incident message. Typically used to attach a localized notice on the timeline for followup comms translations.",
          "type": "string"
        },
        "affectedUserEmails": {
          "type": "array",
          "description": "The list of emails which correspond to the users directly affected by the incident.",
          "items": {
            "type": "string"
          }
        },
        "attachmentData": {
          "$ref": "Attachment",
          "description": "Optional. Application-specific data for an incident, provided when the Google Workspace application which reported the incident cannot be completely restored to a valid state."
        },
        "title": {
          "type": "string",
          "description": "A one-line incident description."
        }
      }
    },
    "AbuseDetected": {
      "id": "AbuseDetected",
      "type": "object",
      "description": "A generic alert for abusive user activity occurring with a customer.",
      "properties": {
        "subAlertId": {
          "description": "Unique identifier of each sub alert that is onboarded.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Product that the abuse is originating from."
        },
        "additionalDetails": {
          "description": "List of abusive users/entities to be displayed in a table in the alert.",
          "$ref": "EntityList"
        },
        "variationType": {
          "description": "Variation of AbuseDetected alerts. The variation_type determines the texts displayed the alert details. This differs from sub_alert_id because each sub alert can have multiple variation_types, representing different stages of the alert.",
          "enumDescriptions": [
            "AbuseDetected alert variation type unspecified. No alert should be unspecified.",
            "Variation displayed for Drive abusive content alerts.",
            "Variation displayed for Limited Disable alerts, when a Google service is disabled for a user, totally or partially, due to the user's abusive behavior."
          ],
          "enum": [
            "ABUSE_DETECTED_VARIATION_TYPE_UNSPECIFIED",
            "DRIVE_ABUSIVE_CONTENT",
            "LIMITED_DISABLE"
          ],
          "type": "string"
        }
      }
    },
    "DeviceCompromisedSecurityDetail": {
      "id": "DeviceCompromisedSecurityDetail",
      "type": "object",
      "description": "Detailed information of a single MDM device compromised event.",
      "properties": {
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceCompromisedState": {
          "type": "string",
          "description": "The device compromised state. Possible values are \"`Compromised`\" or \"`Not Compromised`\"."
        }
      }
    },
    "SSOProfileDeletedEvent": {
      "id": "SSOProfileDeletedEvent",
      "type": "object",
      "description": "Event occurred when SSO Profile deleted in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got deleted"
        }
      }
    },
    "ListAlertFeedbackResponse": {
      "id": "ListAlertFeedbackResponse",
      "type": "object",
      "description": "Response message for an alert feedback listing request.",
      "properties": {
        "feedback": {
          "description": "The list of alert feedback. Feedback entries for each alert are ordered by creation time descending.",
          "items": {
            "$ref": "AlertFeedback"
          },
          "type": "array"
        }
      }
    },
    "Csv": {
      "id": "Csv",
      "type": "object",
      "description": "A representation of a CSV file attachment, as a list of column headers and a list of data rows.",
      "properties": {
        "dataRows": {
          "type": "array",
          "description": "The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.",
          "items": {
            "$ref": "CsvRow"
          }
        },
        "headers": {
          "description": "The list of headers for data columns in a CSV file.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "VoicemailMisconfiguration": {
      "id": "VoicemailMisconfiguration",
      "type": "object",
      "description": "Issue(s) with sending to voicemail.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Issue(s) with voicemail recipients.",
          "items": {
            "$ref": "VoicemailRecipientError"
          }
        }
      }
    },
    "SSOProfileUpdatedEvent": {
      "id": "SSOProfileUpdatedEvent",
      "type": "object",
      "description": "Event occurred when SSO Profile updated in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "description": "sso profile name which got updated",
          "type": "string"
        },
        "inboundSsoProfileChanges": {
          "type": "string",
          "description": "changes made to sso profile"
        }
      }
    },
    "AccountSuspensionDetails": {
      "id": "AccountSuspensionDetails",
      "type": "object",
      "description": "Details about why an account is receiving an account suspension warning.",
      "properties": {
        "abuseReason": {
          "type": "string",
          "description": "The reason why this account is receiving an account suspension warning.",
          "enumDescriptions": [
            "Abuse reason is unspecified.",
            "This account is being suspended for a Terms of Service violation.",
            "This account is being suspended for spam.",
            "This account is being suspended for phishing.",
            "This account is being suspended for artificially boosting traffic to a website.",
            "This account is being suspended for fraud.",
            "This account is being suspended for number harvesting.",
            "This account is being suspended for payments fraud.",
            "This account is being suspended for unwanted content.",
            "This account is being suspended for being an unqualified educational institution."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_ABUSE_REASON_UNSPECIFIED",
            "TOS_VIOLATION",
            "SPAM",
            "PHISHING",
            "TRAFFIC_PUMPING",
            "FRAUD",
            "NUMBER_HARVESTING",
            "PAYMENTS_FRAUD",
            "UNWANTED_CONTENT",
            "UNQUALIFIED_EDU"
          ]
        },
        "productName": {
          "type": "string",
          "description": "The name of the product being abused. This is restricted to only the following values: \"Gmail\" \"Google Workspace\" \"Payments\" \"Voice\" \"YouTube\" \"Other\""
        }
      }
    },
    "DomainWideTakeoutInitiated": {
      "description": "A takeout operation for the entire domain was initiated by an admin. Derived from audit logs.",
      "properties": {
        "takeoutRequestId": {
          "description": "The takeout request ID.",
          "type": "string"
        },
        "email": {
          "description": "The email of the admin who initiated the takeout.",
          "type": "string"
        }
      },
      "id": "DomainWideTakeoutInitiated",
      "type": "object"
    },
    "UserDefinedDetectorInfo": {
      "id": "UserDefinedDetectorInfo",
      "type": "object",
      "description": "Detector defined by administrators.",
      "properties": {
        "displayName": {
          "description": "Display name of the detector.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Resource name that uniquely identifies the detector."
        }
      }
    },
    "SSOProfileCreatedEvent": {
      "description": "Event occurred when SSO Profile created in customer's account. The event are being received from insight forwarder",
      "properties": {
        "inboundSsoProfileName": {
          "type": "string",
          "description": "sso profile name which got created"
        }
      },
      "id": "SSOProfileCreatedEvent",
      "type": "object"
    },
    "Notification": {
      "description": "Settings for callback notifications. For more details see [Google Workspace Alert Notification](https://developers.google.com/workspace/admin/alertcenter/guides/notifications).",
      "properties": {
        "cloudPubsubTopic": {
          "description": "A Google Cloud Pub/sub topic destination.",
          "$ref": "CloudPubsubTopic"
        }
      },
      "id": "Notification",
      "type": "object"
    },
    "VaultAcceleratedDeletion": {
      "id": "VaultAcceleratedDeletion",
      "type": "object",
      "description": "Alert that is triggered when a Vault accelerated deletion request is created or canceled.",
      "properties": {
        "actionType": {
          "description": "The action can be one of create and cancel",
          "enumDescriptions": [
            "Unspecified action type",
            "AD Create action type",
            "AD Cancel action type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CREATE",
            "VAULT_ACCELERATED_DELETION_ACTION_TYPE_CANCEL"
          ],
          "type": "string"
        },
        "deletionRequestId": {
          "type": "string",
          "description": "Accelerated deletion request ID intended to be used to construct the Vault UI link to the AD request"
        },
        "appType": {
          "description": "Currentlty only Gmail is supported as app type",
          "enumDescriptions": [
            "Unspecified app type",
            "Gmail app type"
          ],
          "enum": [
            "VAULT_ACCELERATED_DELETION_APP_TYPE_UNSPECIFIED",
            "VAULT_ACCELERATED_DELETION_APP_TYPE_GMAIL"
          ],
          "type": "string"
        },
        "matterId": {
          "description": "Matter ID of the accelerated deletion request intended to be used to construct the Vault UI link to the AD request",
          "type": "string"
        },
        "createTime": {
          "description": "The UTC timestamp of when the AD request was created",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status",
      "type": "object"
    },
    "Entity": {
      "id": "Entity",
      "type": "object",
      "description": "Individual entity affected by, or related to, an alert.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Extra values beyond name. The order of values should align with headers in EntityList.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Human-readable name of this entity, such as an email address, file ID, or device name.",
          "type": "string"
        },
        "link": {
          "description": "Link to a Security Investigation Tool search based on this entity, if available.",
          "type": "string"
        }
      }
    },
    "RequestInfo": {
      "id": "RequestInfo",
      "type": "object",
      "description": "Requests for one application that needs default SQL setup.",
      "properties": {
        "numberOfRequests": {
          "description": "Required. Number of requests sent for this application to set up default SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "appDeveloperEmail": {
          "type": "array",
          "description": "List of app developers who triggered notifications for above application.",
          "items": {
            "type": "string"
          }
        },
        "appKey": {
          "type": "string",
          "description": "Required. The application that requires the SQL setup."
        }
      }
    },
    "DeviceManagementRule": {
      "description": "Alerts from Device Management Rules configured by Admin.",
      "properties": {
        "serialNumber": {
          "description": "The serial number of the device.",
          "type": "string"
        },
        "resourceId": {
          "type": "string",
          "description": "The device resource ID."
        },
        "iosVendorId": {
          "type": "string",
          "description": "Required for iOS, empty for others."
        },
        "ownerId": {
          "type": "string",
          "description": "Obfuscated ID of the owner of the device"
        },
        "id": {
          "description": "ID of the rule that triggered the alert",
          "type": "string"
        },
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID.",
          "type": "string"
        },
        "deviceType": {
          "type": "string",
          "description": "The type of the device."
        },
        "ruleAction": {
          "type": "string",
          "description": "Action taken as result of the rule"
        },
        "deviceModel": {
          "type": "string",
          "description": "The model of the device."
        }
      },
      "id": "DeviceManagementRule",
      "type": "object"
    },
    "MergeInfo": {
      "description": "New alert tracking numbers.",
      "properties": {
        "newIncidentTrackingId": {
          "type": "string",
          "description": "The new tracking ID from the parent incident."
        },
        "newAlertId": {
          "description": "Optional. New alert ID. Reference the [google.apps.alertcenter.Alert] with this ID for the current state.",
          "type": "string"
        }
      },
      "id": "MergeInfo",
      "type": "object"
    },
    "MandatoryServiceAnnouncement": {
      "id": "MandatoryServiceAnnouncement",
      "type": "object",
      "description": "Alert Created by the MSA team for communications necessary for continued use of Google Workspace Products.",
      "properties": {
        "title": {
          "type": "string",
          "description": "One line summary of the announcement"
        },
        "description": {
          "type": "string",
          "description": "Detailed, freeform text describing the announcement"
        }
      }
    },
    "ApnsCertificateExpirationInfo": {
      "description": "The explanation message associated with \"APNS certificate is expiring soon\" and \"APNS certificate has expired\" alerts.",
      "properties": {
        "expirationTime": {
          "description": "The expiration date of the APNS certificate.",
          "type": "string",
          "format": "google-datetime"
        },
        "appleId": {
          "type": "string",
          "description": "The Apple ID used to create the certificate. It may be blank if admins didn't enter it."
        },
        "uid": {
          "type": "string",
          "description": "The UID of the certificate."
        }
      },
      "id": "ApnsCertificateExpirationInfo",
      "type": "object"
    },
    "MailPhishing": {
      "description": "Proto for all phishing alerts with common payload. Supported types are any of the following: * User reported phishing * User reported spam spike * Suspicious message reported * Phishing reclassification * Malware reclassification * Gmail potential employee spoofing",
      "properties": {
        "isInternal": {
          "description": "If `true`, the email originated from within the organization.",
          "type": "boolean"
        },
        "maliciousEntity": {
          "description": "The entity whose actions triggered a Gmail phishing alert.",
          "$ref": "MaliciousEntity"
        },
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "systemActionType": {
          "description": "System actions on the messages.",
          "enumDescriptions": [
            "System action is unspecified.",
            "No operation.",
            "Messages were removed from the inbox."
          ],
          "enum": [
            "SYSTEM_ACTION_TYPE_UNSPECIFIED",
            "NO_OPERATION",
            "REMOVED_FROM_INBOX"
          ],
          "type": "string"
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "MailPhishing",
      "type": "object"
    },
    "PrimaryAdminChangedEvent": {
      "description": "Event occurred when primary admin changed in customer's account. The event are being received from insight forwarder",
      "properties": {
        "updatedAdminEmail": {
          "type": "string",
          "description": "Email of person who is the primary admin after the action"
        },
        "domain": {
          "type": "string",
          "description": "domain in which actioned occurred"
        },
        "previousAdminEmail": {
          "type": "string",
          "description": "Email of person who was the primary admin before the action"
        }
      },
      "id": "PrimaryAdminChangedEvent",
      "type": "object"
    },
    "ActivityRule": {
      "description": "Alerts from Google Workspace Security Center rules service configured by an admin.",
      "properties": {
        "displayName": {
          "description": "Alert display name.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "supersededAlerts": {
          "type": "array",
          "description": "List of alert IDs superseded by this alert. It is used to indicate that this alert is essentially extension of superseded alerts and we found the relationship after creating these alerts.",
          "items": {
            "type": "string"
          }
        },
        "windowSize": {
          "type": "string",
          "format": "google-duration",
          "description": "Rule window size. Possible values are 1 hour or 24 hours."
        },
        "description": {
          "description": "Description of the rule.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp of the last update to the rule."
        },
        "triggerSource": {
          "type": "string",
          "description": "The trigger sources for this rule. * GMAIL_EVENTS * DEVICE_EVENTS * USER_EVENTS"
        },
        "createTime": {
          "description": "Rule create timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "actionNames": {
          "type": "array",
          "description": "List of action names associated with the rule threshold.",
          "items": {
            "type": "string"
          }
        },
        "threshold": {
          "description": "Alert threshold is for example “COUNT > 5”.",
          "type": "string"
        },
        "query": {
          "type": "string",
          "description": "Query that is used to get the data from the associated source."
        },
        "supersedingAlert": {
          "description": "Alert ID superseding this alert. It is used to indicate that superseding alert is essentially extension of this alert and we found the relationship after creating both alerts.",
          "type": "string"
        }
      },
      "id": "ActivityRule",
      "type": "object"
    },
    "AccountWarning": {
      "id": "AccountWarning",
      "type": "object",
      "description": "Alerts for user account warning events.",
      "properties": {
        "email": {
          "description": "Required. The email of the user that this event belongs to.",
          "type": "string"
        },
        "loginDetails": {
          "description": "Optional. Details of the login action associated with the warning event. This is only available for: * Suspicious login * Suspicious login (less secure app) * Suspicious programmatic login * User suspended (suspicious activity)",
          "$ref": "LoginDetails"
        }
      }
    },
    "Attachment": {
      "description": "Attachment with application-specific information about an alert.",
      "properties": {
        "csv": {
          "description": "A CSV file attachment.",
          "$ref": "Csv"
        }
      },
      "id": "Attachment",
      "type": "object"
    },
    "MatchInfo": {
      "id": "MatchInfo",
      "type": "object",
      "description": "Proto that contains match information from the condition part of the rule.",
      "properties": {
        "userDefinedDetector": {
          "description": "For matched detector defined by administrators.",
          "$ref": "UserDefinedDetectorInfo"
        },
        "predefinedDetector": {
          "$ref": "PredefinedDetectorInfo",
          "description": "For matched detector predefined by Google."
        }
      }
    },
    "ReportingRule": {
      "description": "Alerts from Reporting Rules configured by Admin.",
      "properties": {
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        },
        "query": {
          "description": "Alert Rule query Sample Query query { condition { filter { expected_application_id: 777491262838 expected_event_name: \"indexable_content_change\" filter_op: IN } } conjunction_operator: OR }",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "ReportingRule",
      "type": "object"
    },
    "BatchDeleteAlertsRequest": {
      "id": "BatchDeleteAlertsRequest",
      "type": "object",
      "description": "A request to perform batch delete on alerts.",
      "properties": {
        "alertId": {
          "description": "Required. The list of alert IDs to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alerts are associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      }
    },
    "SuperAdminPasswordResetEvent": {
      "description": "Event occurred when password was reset for super admin in customer's account. The event are being received from insight forwarder",
      "properties": {
        "userEmail": {
          "description": "email of person whose password was reset",
          "type": "string"
        }
      },
      "id": "SuperAdminPasswordResetEvent",
      "type": "object"
    },
    "TransferError": {
      "id": "TransferError",
      "type": "object",
      "description": "Details for an invalid transfer or forward.",
      "properties": {
        "name": {
          "description": "User's full name, or the ring group / auto attendant name. This may be unavailable if the entity was deleted.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "User's email address. This may be unavailable if the entity was deleted."
        },
        "entityType": {
          "description": "Type of entity being transferred to. For ring group members, this should always be USER.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Transfer to auto attendant.",
            "Transfer to ring group.",
            "Transfer to user."
          ],
          "enum": [
            "TRANSFER_ENTITY_TYPE_UNSPECIFIED",
            "TRANSFER_AUTO_ATTENDANT",
            "TRANSFER_RING_GROUP",
            "TRANSFER_USER"
          ],
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Ring group or auto attendant ID. Not set for users."
        },
        "invalidReason": {
          "type": "string",
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "The transfer target can't be found—most likely it was deleted.",
            "The user's Google Voice license was removed.",
            "The user's Google Workspace account was suspended.",
            "The transfer target no longer has a phone number. This reason should become deprecated once we support numberless transfer."
          ],
          "enum": [
            "TRANSFER_INVALID_REASON_UNSPECIFIED",
            "TRANSFER_TARGET_DELETED",
            "UNLICENSED",
            "SUSPENDED",
            "NO_PHONE_NUMBER"
          ]
        }
      }
    },
    "VoicemailRecipientError": {
      "description": "Issue(s) with a voicemail recipient.",
      "properties": {
        "invalidReason": {
          "description": "Reason for the error.",
          "enumDescriptions": [
            "Reason wasn't specified.",
            "User can't receive emails due to insufficient quota.",
            "All recipients were deleted."
          ],
          "enum": [
            "EMAIL_INVALID_REASON_UNSPECIFIED",
            "OUT_OF_QUOTA",
            "RECIPIENT_DELETED"
          ],
          "type": "string"
        },
        "email": {
          "description": "Email address of the invalid recipient. This may be unavailable if the recipient was deleted.",
          "type": "string"
        }
      },
      "id": "VoicemailRecipientError",
      "type": "object"
    },
    "SensitiveAdminAction": {
      "description": "Alert that is triggered when Sensitive Admin Action occur in customer account.",
      "properties": {
        "ssoProfileCreatedEvent": {
          "description": "Event occurred when SSO Profile created in customer's account",
          "$ref": "SSOProfileCreatedEvent"
        },
        "superAdminPasswordResetEvent": {
          "description": "Event occurred when password was reset for super admin in customer's account",
          "$ref": "SuperAdminPasswordResetEvent"
        },
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which event occurred"
        },
        "actorEmail": {
          "description": "Email of person who performed the action",
          "type": "string"
        },
        "ssoProfileDeletedEvent": {
          "$ref": "SSOProfileDeletedEvent",
          "description": "Event occurred when SSO Profile deleted in customer's account"
        },
        "primaryAdminChangedEvent": {
          "$ref": "PrimaryAdminChangedEvent",
          "description": "Event occurred when primary admin changed in customer's account"
        },
        "ssoProfileUpdatedEvent": {
          "$ref": "SSOProfileUpdatedEvent",
          "description": "Event occurred when SSO Profile updated in customer's account"
        }
      },
      "id": "SensitiveAdminAction",
      "type": "object"
    },
    "SupportTicket": {
      "id": "SupportTicket",
      "type": "object",
      "description": "Support ticket related to Access Approvals request",
      "properties": {
        "ticketId": {
          "description": "Support ticket ID",
          "type": "string"
        },
        "ticketUrl": {
          "type": "string",
          "description": "Link to support ticket"
        }
      }
    },
    "BatchUndeleteAlertsResponse": {
      "id": "BatchUndeleteAlertsResponse",
      "type": "object",
      "description": "Response to batch undelete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "additionalProperties": {
            "$ref": "Status"
          },
          "type": "object",
          "description": "The status details for each failed `alert_id`."
        }
      }
    },
    "AlertFeedback": {
      "description": "A customer feedback about an alert.",
      "properties": {
        "type": {
          "description": "Required. The type of the feedback.",
          "enumDescriptions": [
            "The feedback type is not specified.",
            "The alert report is not useful.",
            "The alert report is somewhat useful.",
            "The alert report is very useful."
          ],
          "enum": [
            "ALERT_FEEDBACK_TYPE_UNSPECIFIED",
            "NOT_USEFUL",
            "SOMEWHAT_USEFUL",
            "VERY_USEFUL"
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this feedback was created."
        },
        "feedbackId": {
          "description": "Output only. The unique identifier for the feedback.",
          "type": "string"
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The alert identifier."
        },
        "email": {
          "description": "Output only. The email of the user that provided the feedback.",
          "type": "string"
        },
        "customerId": {
          "description": "Output only. The unique identifier of the Google Workspace account of the customer.",
          "type": "string"
        }
      },
      "id": "AlertFeedback",
      "type": "object"
    },
    "CloudPubsubTopic": {
      "description": "A reference to a Cloud Pubsub topic. To register for notifications, the owner of the topic must grant `alerts-api-push-notifications@system.gserviceaccount.com` the `projects.topics.publish` permission.",
      "properties": {
        "topicName": {
          "description": "The `name` field of a Cloud Pubsub [Topic] (https://cloud.google.com/pubsub/docs/reference/rest/v1/projects.topics#Topic).",
          "type": "string"
        },
        "payloadFormat": {
          "description": "Optional. The format of the payload that would be sent. If not specified the format will be JSON.",
          "enumDescriptions": [
            "Payload format is not specified (will use JSON as default).",
            "Use JSON."
          ],
          "enum": [
            "PAYLOAD_FORMAT_UNSPECIFIED",
            "JSON"
          ],
          "type": "string"
        }
      },
      "id": "CloudPubsubTopic",
      "type": "object"
    },
    "ResourceInfo": {
      "description": "Proto that contains resource information.",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Drive file ID."
        },
        "chatAttachmentId": {
          "type": "string",
          "description": "Chat attachment ID."
        },
        "deviceId": {
          "description": "Id to identify a device. For example, for Android devices, this is the \"Android Device Id\" and for Chrome OS devices, it's the \"Device Virtual Id\".",
          "type": "string"
        },
        "chatMessageId": {
          "type": "string",
          "description": "Chat message ID."
        },
        "resourceTitle": {
          "description": "Title of the resource, for example email subject, or document title.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "RFC2822 message ID."
        }
      },
      "id": "ResourceInfo",
      "type": "object"
    },
    "CsvRow": {
      "id": "CsvRow",
      "type": "object",
      "description": "A representation of a single data row in a CSV file.",
      "properties": {
        "entries": {
          "description": "The data entries in a CSV file row, as a string array rather than a single comma-separated string.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ClientSideEncryptionServiceUnavailable": {
      "id": "ClientSideEncryptionServiceUnavailable",
      "type": "object",
      "description": "Alerts for client-side encryption outages.",
      "properties": {
        "keyServiceError": {
          "description": "External key services impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "KeyServiceError"
          },
          "type": "array"
        },
        "idpError": {
          "type": "array",
          "description": "Identity providers impacted by an outage or misconfiguration.",
          "items": {
            "$ref": "IdentityProviderError"
          }
        }
      }
    },
    "DomainId": {
      "id": "DomainId",
      "type": "object",
      "description": "Domain ID of Gmail phishing alerts.",
      "properties": {
        "customerPrimaryDomain": {
          "description": "The primary domain for the customer.",
          "type": "string"
        }
      }
    },
    "MaliciousEntity": {
      "description": "Entity whose actions triggered a Gmail phishing alert.",
      "properties": {
        "fromHeader": {
          "description": "The sender email address.",
          "type": "string"
        },
        "displayName": {
          "description": "The header from display name.",
          "type": "string"
        },
        "entity": {
          "$ref": "User",
          "description": "The actor who triggered a gmail phishing alert."
        }
      },
      "id": "MaliciousEntity",
      "type": "object"
    },
    "PredefinedDetectorInfo": {
      "description": "Detector provided by Google.",
      "properties": {
        "detectorName": {
          "description": "Name that uniquely identifies the detector.",
          "type": "string"
        }
      },
      "id": "PredefinedDetectorInfo",
      "type": "object"
    },
    "Settings": {
      "id": "Settings",
      "type": "object",
      "description": "Customer-level settings.",
      "properties": {
        "notifications": {
          "type": "array",
          "description": "The list of notifications.",
          "items": {
            "$ref": "Notification"
          }
        }
      }
    },
    "GmailMessageInfo": {
      "description": "Details of a message in phishing spike alert.",
      "properties": {
        "md5HashSubject": {
          "type": "string",
          "description": "The MD5 Hash of email's subject (only available for reported emails)."
        },
        "messageId": {
          "type": "string",
          "description": "The message ID."
        },
        "recipient": {
          "description": "The recipient of this email.",
          "type": "string"
        },
        "subjectText": {
          "description": "The email subject text (only available for reported emails).",
          "type": "string"
        },
        "attachmentsSha256Hash": {
          "description": "The `SHA256` hash of email's attachment and all MIME parts.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "md5HashMessageBody": {
          "description": "The hash of the message body text.",
          "type": "string"
        },
        "date": {
          "description": "The date of the event related to this email.",
          "type": "string",
          "format": "google-datetime"
        },
        "messageBodySnippet": {
          "description": "The snippet of the message body text (only available for reported emails).",
          "type": "string"
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The sent time of the email."
        }
      },
      "id": "GmailMessageInfo",
      "type": "object"
    },
    "ActionInfo": {
      "id": "ActionInfo",
      "type": "object",
      "description": "Metadata related to the action.",
      "properties": {
        "evidenceLockerFilePath": {
          "description": "Google Cloud Storage location of the content that violated the rule. This field has format: \"/\"",
          "type": "string"
        }
      }
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "type": "object",
      "description": "Response message for an alert listing request.",
      "properties": {
        "alerts": {
          "description": "The list of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token for the next page. If not empty, indicates that there may be more alerts that match the listing request; this value can be used in a subsequent ListAlertsRequest to get alerts continuing from last result of the current list call."
        }
      }
    },
    "DriveSyncStateChanged": {
      "id": "DriveSyncStateChanged",
      "type": "object",
      "description": "Alerts for when a user is restricted from syncing content from clients such as Drive for Desktop.",
      "properties": {
        "syncStateChangeReason": {
          "description": "The reason for the sync state change.",
          "enumDescriptions": [
            "Unspecified state change reason",
            "Sync state change reason is unusual activity",
            "Sync state change reason is user feedback true positive",
            "Sync state change reason is user feedback false positive"
          ],
          "enum": [
            "SYNC_STATE_CHANGE_REASON_UNSPECIFIED",
            "UNUSUAL_ACTIVITY",
            "USER_FEEDBACK_TRUE_POSITIVE",
            "USER_FEEDBACK_FALSE_POSITIVE"
          ],
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email of the user affected."
        },
        "syncPauseStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which sync was paused."
        },
        "syncState": {
          "type": "string",
          "description": "The current sync state.",
          "enumDescriptions": [
            "Unspecified state",
            "Sync is paused",
            "Sync is resumed"
          ],
          "enum": [
            "SYNC_STATE_UNSPECIFIED",
            "PAUSED",
            "RESUMED"
          ]
        }
      }
    },
    "PhishingSpike": {
      "id": "PhishingSpike",
      "type": "object",
      "description": "Alert for a spike in user reported phishing. *Warning*: This type has been deprecated. Use [MailPhishing](https://developers.google.com/workspace/admin/alertcenter/reference/rest/v1beta1/MailPhishing) instead.",
      "properties": {
        "domainId": {
          "$ref": "DomainId",
          "description": "The domain ID."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        },
        "isInternal": {
          "type": "boolean",
          "description": "If `true`, the email originated from within the organization."
        }
      }
    },
    "AppSettingsChanged": {
      "id": "AppSettingsChanged",
      "type": "object",
      "description": "Alerts from AppSettingsChanged bucket Rules configured by Admin which contain the following rules: - Calendar settings changed - Drive settings changed - Email settings changed - Mobile settings changed",
      "properties": {
        "alertDetails": {
          "description": "Any other associated alert details, for example, AlertConfiguration.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      }
    },
    "UserChanges": {
      "description": "Alerts from UserChanges bucket Rules for predefined rules which contain the following rules: - Suspended user made active - New user added - User suspended (by admin) - User granted admin privileges - User admin privileges revoked - User deleted - Users password changed",
      "properties": {
        "name": {
          "description": "Rule name",
          "type": "string"
        }
      },
      "id": "UserChanges",
      "type": "object"
    },
    "DlpRuleViolation": {
      "description": "Alerts that get triggered on violations of Data Loss Prevention (DLP) rules.",
      "properties": {
        "ruleViolationInfo": {
          "$ref": "RuleViolationInfo",
          "description": "Details about the violated DLP rule. Admins can use the predefined detectors provided by Google Cloud DLP https://cloud.google.com/dlp/ when setting up a DLP rule. Matched Cloud DLP detectors in this violation if any will be captured in the MatchInfo.predefined_detector."
        }
      },
      "id": "DlpRuleViolation",
      "type": "object"
    },
    "EntityList": {
      "id": "EntityList",
      "type": "object",
      "description": "EntityList stores entities in a format that can be translated to a table in the Alert Center UI.",
      "properties": {
        "name": {
          "description": "Name of the key detail used to display this entity list.",
          "type": "string"
        },
        "headers": {
          "description": "Headers of the values in entities. If no value is defined in Entity, this field should be empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "entities": {
          "description": "List of entities affected by the alert.",
          "items": {
            "$ref": "Entity"
          },
          "type": "array"
        }
      }
    },
    "BatchDeleteAlertsResponse": {
      "id": "BatchDeleteAlertsResponse",
      "type": "object",
      "description": "Response to batch delete operation on alerts.",
      "properties": {
        "successAlertIds": {
          "type": "array",
          "description": "The successful list of alert IDs.",
          "items": {
            "type": "string"
          }
        },
        "failedAlertStatus": {
          "type": "object",
          "additionalProperties": {
            "$ref": "Status"
          },
          "description": "The status details for each failed `alert_id`."
        }
      }
    },
    "SuspiciousActivity": {
      "description": "A mobile suspicious activity alert. Derived from audit logs.",
      "properties": {
        "email": {
          "type": "string",
          "description": "The email of the user this alert was created for."
        },
        "events": {
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "SuspiciousActivitySecurityDetail"
          },
          "type": "array"
        }
      },
      "id": "SuspiciousActivity",
      "type": "object"
    },
    "TransferMisconfiguration": {
      "id": "TransferMisconfiguration",
      "type": "object",
      "description": "Error related to transferring or forwarding a phone call.",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Details for each invalid transfer or forward.",
          "items": {
            "$ref": "TransferError"
          }
        }
      }
    },
    "AppMakerSqlSetupNotification": {
      "description": "Alerts from App Maker to notify admins to set up default SQL instance.",
      "properties": {
        "requestInfo": {
          "description": "List of applications with requests for default SQL set up.",
          "items": {
            "$ref": "RequestInfo"
          },
          "type": "array"
        }
      },
      "id": "AppMakerSqlSetupNotification",
      "type": "object"
    },
    "VoiceMisconfiguration": {
      "id": "VoiceMisconfiguration",
      "type": "object",
      "description": "An alert triggered when Google Voice configuration becomes invalid, generally due to an external entity being modified or deleted.",
      "properties": {
        "fixUri": {
          "description": "Link that the admin can follow to fix the issue.",
          "type": "string"
        },
        "voicemailMisconfiguration": {
          "$ref": "VoicemailMisconfiguration",
          "description": "Issue(s) with sending to voicemail."
        },
        "transferMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with transferring or forwarding to an external entity."
        },
        "entityName": {
          "type": "string",
          "description": "Name of the entity whose configuration is now invalid."
        },
        "membersMisconfiguration": {
          "$ref": "TransferMisconfiguration",
          "description": "Issue(s) with members of a ring group."
        },
        "entityType": {
          "type": "string",
          "description": "Type of the entity whose configuration is now invalid.",
          "enumDescriptions": [
            "Entity type wasn't set.",
            "Invalid auto attendant.",
            "Invalid ring group."
          ],
          "enum": [
            "ENTITY_TYPE_UNSPECIFIED",
            "AUTO_ATTENDANT",
            "RING_GROUP"
          ]
        }
      }
    },
    "AppsOutage": {
      "description": "An outage incident reported for a Google Workspace service.",
      "properties": {
        "dashboardUri": {
          "type": "string",
          "description": "Link to the outage event in Google Workspace Status Dashboard"
        },
        "nextUpdateTime": {
          "description": "Timestamp by which the next update is expected to arrive.",
          "type": "string",
          "format": "google-datetime"
        },
        "mergeInfo": {
          "description": "Indicates new alert details under which the outage is communicated. Only populated when Status is MERGED.",
          "$ref": "MergeInfo"
        },
        "incidentTrackingId": {
          "description": "Incident tracking ID.",
          "type": "string"
        },
        "products": {
          "description": "List of products impacted by the outage.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "status": {
          "type": "string",
          "description": "Current outage status.",
          "enumDescriptions": [
            "Status is unspecified.",
            "The incident has just been reported.",
            "The incident is ongoing.",
            "The incident has been resolved.",
            "Further assessment indicated no customer impact.",
            "The incident has been partially resolved.",
            "The incident was merged into a parent.",
            "The incident has lower impact than initially anticipated."
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "NEW",
            "ONGOING",
            "RESOLVED",
            "FALSE_POSITIVE",
            "PARTIALLY_RESOLVED",
            "MERGED",
            "DOWNGRADED"
          ]
        },
        "resolutionTime": {
          "description": "Timestamp when the outage is expected to be resolved, or has confirmed resolution. Provided only when known.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "AppsOutage",
      "type": "object"
    },
    "User": {
      "description": "A user.",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "Email address of the user."
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the user."
        }
      },
      "id": "User",
      "type": "object"
    },
    "DeviceCompromised": {
      "id": "DeviceCompromised",
      "type": "object",
      "description": "A mobile device compromised alert. Derived from audit logs.",
      "properties": {
        "email": {
          "description": "The email of the user this alert was created for.",
          "type": "string"
        },
        "events": {
          "description": "Required. The list of security events.",
          "items": {
            "$ref": "DeviceCompromisedSecurityDetail"
          },
          "type": "array"
        }
      }
    },
    "IdentityProviderError": {
      "description": "Error related to an identity provider.",
      "properties": {
        "authorizationBaseUrl": {
          "description": "Authorization base url of the identity provider.",
          "type": "string"
        },
        "errorInfo": {
          "description": "Info on the identity provider error.",
          "enumDescriptions": [
            "Error info not specified.",
            "Email in the ID token is different from the user's email.",
            "Discovery URL was unreachable.",
            "Discovery URL did not contain all the necessary information.",
            "URL for client-side encryption configuration content was unreachable.",
            "Client-side encryption .well-known URL did not contain all the necessary information.",
            "ID token returned by the identity provider is invalid.",
            "OIDC setup error.",
            "Identity provider was unreachable.",
            "Auth code exchange error.",
            "Authentication token has no \"email\" or \"google_email\" claim."
          ],
          "enum": [
            "IDENTITY_PROVIDER_ERROR_INFO_UNSPECIFIED",
            "EMAIL_MISMATCH",
            "UNAVAILABLE_DISCOVERY_CONTENT",
            "INVALID_DISCOVERY_CONTENT",
            "UNAVAILABLE_CSE_CONFIGURATION_CONTENT",
            "INVALID_CSE_CONFIGURATION_CONTENT",
            "INVALID_ID_TOKEN",
            "INVALID_OIDC_SETUP",
            "UNAVAILABLE_IDP",
            "AUTH_CODE_EXCHANGE_ERROR",
            "AUTHENTICATION_TOKEN_MISSING_CLAIM_EMAIL"
          ],
          "type": "string"
        },
        "errorCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of similar errors encountered."
        }
      },
      "id": "IdentityProviderError",
      "type": "object"
    },
    "BadWhitelist": {
      "description": "Alert for setting the domain or IP that malicious email comes from as whitelisted domain or IP in Gmail advanced settings.",
      "properties": {
        "domainId": {
          "description": "The domain ID.",
          "$ref": "DomainId"
        },
        "sourceIp": {
          "type": "string",
          "description": "The source IP address of the malicious email, for example, `127.0.0.1`."
        },
        "maliciousEntity": {
          "$ref": "MaliciousEntity",
          "description": "The entity whose actions triggered a Gmail phishing alert."
        },
        "messages": {
          "type": "array",
          "description": "The list of messages contained by this alert.",
          "items": {
            "$ref": "GmailMessageInfo"
          }
        }
      },
      "id": "BadWhitelist",
      "type": "object"
    },
    "AccessApproval": {
      "description": "Alert that is triggered when Google support requests to access customer data.",
      "properties": {
        "requestId": {
          "description": "ID of the Access Approvals request. This is a helpful field when requesting support from Google.",
          "type": "string"
        },
        "products": {
          "type": "array",
          "description": "Products within scope of the Access Approvals request.",
          "items": {
            "type": "string"
          }
        },
        "scope": {
          "type": "string",
          "description": "Scope of access, also known as a resource. This is further narrowed down by the product field."
        },
        "justificationReason": {
          "description": "Justification for data access based on justification enums.",
          "items": {
            "enumDescriptions": [
              "Justification unspecified",
              "Customer Initiated Support",
              "Google Initiated Review",
              "Google Initiated Service",
              "Third Party Data Request",
              "Google Response to Production Alert"
            ],
            "enum": [
              "JUSTIFICATION_UNSPECIFIED",
              "CUSTOMER_INITIATED_SUPPORT",
              "GOOGLE_INITIATED_REVIEW",
              "GOOGLE_INITIATED_SERVICE",
              "THIRD_PARTY_DATA_REQUEST",
              "GOOGLE_RESPONSE_TO_PRODUCTION_ALERT"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "tickets": {
          "description": "Support tickets related to this Access Approvals request. Populated if there is an associated case number.",
          "items": {
            "$ref": "SupportTicket"
          },
          "type": "array"
        },
        "officeLocation": {
          "type": "string",
          "description": "Office location of Google staff requesting access such as \"US\"."
        }
      },
      "id": "AccessApproval",
      "type": "object"
    },
    "KeyServiceError": {
      "description": "Error related to an external key service.",
      "properties": {
        "errorInfo": {
          "type": "string",
          "description": "Info on the key service error.",
          "enumDescriptions": [
            "Error info not specified.",
            "The response has malformed JSON.",
            "The response did not contain the wrapped/unwrapped key.",
            "SMIME sign only: The sign response did not contain the signature.",
            "SMIME only: The sign response does not include the algorithm name.",
            "SMIME only: the algorithm name in the response is not supported by the client.",
            "Fetch request on the client has failed."
          ],
          "enum": [
            "KEY_SERVICE_ERROR_INFO_UNSPECIFIED",
            "MALFORMED_JSON",
            "MISSING_KEY",
            "MISSING_SIGNATURE",
            "MISSING_ALGORITHM_NAME",
            "UNSUPPORTED_ALGORITHM",
            "FETCH_REQUEST_ERROR"
          ]
        },
        "errorCount": {
          "description": "Number of similar errors encountered.",
          "type": "string",
          "format": "int64"
        },
        "keyServiceUrl": {
          "description": "Url of the external key service.",
          "type": "string"
        },
        "httpResponseCode": {
          "type": "string",
          "format": "int64",
          "description": "HTTP response status code from the key service."
        }
      },
      "id": "KeyServiceError",
      "type": "object"
    },
    "RuleViolationInfo": {
      "description": "Common alert information about violated rules that are configured by Google Workspace administrators.",
      "properties": {
        "ruleInfo": {
          "$ref": "RuleInfo",
          "description": "Details of the violated rule."
        },
        "triggeredActionInfo": {
          "description": "Metadata related to the triggered actions.",
          "items": {
            "$ref": "ActionInfo"
          },
          "type": "array"
        },
        "eventType": {
          "description": "Event associated with this alert after applying the rule.",
          "enumDescriptions": [
            "Event type wasn't set.",
            "An access attempt was blocked.",
            "A sharing attempt was blocked."
          ],
          "enum": [
            "EVENT_TYPE_UNSPECIFIED",
            "ACCESS_BLOCKED",
            "SHARING_BLOCKED"
          ],
          "type": "string"
        },
        "resourceInfo": {
          "description": "Details of the resource which violated the rule.",
          "$ref": "ResourceInfo"
        },
        "triggeringUserEmail": {
          "description": "Email of the user who caused the violation. Value could be empty if not applicable, for example, a violation found by drive continuous scan.",
          "type": "string"
        },
        "recipients": {
          "description": "Resource recipients. For Drive, they are grantees that the Drive file was shared with at the time of rule triggering. Valid values include user emails, group emails, domains, or 'anyone' if the file was publicly accessible. If the file was private the recipients list will be empty. For Gmail, they are emails of the users or groups that the Gmail message was sent to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "triggeredActionTypes": {
          "description": "Actions applied as a consequence of the rule being triggered.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        },
        "trigger": {
          "type": "string",
          "description": "Trigger of the rule.",
          "enumDescriptions": [
            "Trigger is unspecified.",
            "A Drive file is shared.",
            "An email message is sent.",
            "A file being downloaded in a Chrome browser.",
            "A file being uploaded from a Chrome browser.",
            "Web content being uploaded from a Chrome browser.",
            "A Chat message is sent.",
            "A Chat attachment is uploaded.",
            "A page is being printed by Chrome.",
            "A URL is visited within Chrome.",
            "A file being transferred (copy or moved) between different file systems on ChromeOS.",
            "Gemini access."
          ],
          "enum": [
            "TRIGGER_UNSPECIFIED",
            "DRIVE_SHARE",
            "MAIL_BEING_SENT",
            "CHROME_FILE_DOWNLOAD",
            "CHROME_FILE_UPLOAD",
            "CHROME_WEB_CONTENT_UPLOAD",
            "CHAT_MESSAGE_SENT",
            "CHAT_ATTACHMENT_UPLOADED",
            "CHROME_PAGE_PRINT",
            "CHROME_URL_VISITED",
            "CHROMEOS_FILE_TRANSFER",
            "GEMINI_ACCESS"
          ]
        },
        "dataSource": {
          "type": "string",
          "description": "Source of the data.",
          "enumDescriptions": [
            "Data source is unspecified.",
            "Drive data source.",
            "Gmail data source.",
            "Chrome data source.",
            "Chat data source."
          ],
          "enum": [
            "DATA_SOURCE_UNSPECIFIED",
            "DRIVE",
            "GMAIL",
            "CHROME",
            "CHAT"
          ]
        },
        "matchInfo": {
          "description": "List of matches that were found in the resource content.",
          "items": {
            "$ref": "MatchInfo"
          },
          "type": "array"
        },
        "suppressedActionTypes": {
          "description": "Actions suppressed due to other actions with higher priority.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type is unspecified.",
              "Block sharing a file externally.",
              "Show a warning message when sharing a file externally.",
              "Disable download, print, and copy for commenters and viewers in drive.",
              "Disable download, print, and copy for all collaborators in drive.",
              "Apply customer specified Drive labels to the file.",
              "Quarantine message.",
              "Block message.",
              "Warn users.",
              "Apply classification labels.",
              "Chrome actions. Block file download.",
              "Warn user about downloaded file.",
              "Block file upload.",
              "Warn user about uploaded file.",
              "Block web content upload.",
              "Warn user about uploaded web content.",
              "Block page print.",
              "Warn user about printed page.",
              "Block ChromeOS file transfer.",
              "Warn user about ChromeOS file transfer.",
              "Block Chrome URL visit.",
              "Warn user about Chrome URL visited.",
              "Block screenshot alert.",
              "Store the content that violated the rule.",
              "Send watermark alert",
              "Force save to cloud storage.",
              "Delete web protect evidence file",
              "Chat actions. Block Chat content to be sent out.",
              "Warn end user about Chat content.",
              "Send alert.",
              "Activate Rule Action",
              "Deactivate Rule Action"
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "DRIVE_BLOCK_EXTERNAL_SHARING",
              "DRIVE_WARN_ON_EXTERNAL_SHARING",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY",
              "DRIVE_RESTRICT_DOWNLOAD_PRINT_COPY_FOR_ALL",
              "DRIVE_APPLY_DRIVE_LABELS",
              "GMAIL_QUARANTINE_MESSAGE",
              "GMAIL_BLOCK_MESSAGE",
              "GMAIL_WARN_USERS",
              "GMAIL_APPLY_CLASSIFICATION_LABELS",
              "CHROME_BLOCK_FILE_DOWNLOAD",
              "CHROME_WARN_FILE_DOWNLOAD",
              "CHROME_BLOCK_FILE_UPLOAD",
              "CHROME_WARN_FILE_UPLOAD",
              "CHROME_BLOCK_WEB_CONTENT_UPLOAD",
              "CHROME_WARN_WEB_CONTENT_UPLOAD",
              "CHROME_BLOCK_PAGE_PRINT",
              "CHROME_WARN_PAGE_PRINT",
              "CHROME_BLOCK_FILE_TRANSFER",
              "CHROME_WARN_FILE_TRANSFER",
              "CHROME_BLOCK_URL_VISITED",
              "CHROME_WARN_URL_VISITED",
              "CHROME_BLOCK_SCREENSHOT",
              "CHROME_STORE_CONTENT",
              "CHROME_WATERMARK",
              "CHROME_FORCE_SAVE_TO_CLOUD",
              "DELETE_WEBPROTECT_EVIDENCE",
              "CHAT_BLOCK_CONTENT",
              "CHAT_WARN_USER",
              "ALERT",
              "RULE_ACTIVATE",
              "RULE_DEACTIVATE"
            ]
          },
          "type": "array"
        }
      },
      "id": "RuleViolationInfo",
      "type": "object"
    },
    "SuspiciousActivitySecurityDetail": {
      "description": "Detailed information of a single MDM suspicious activity event.",
      "properties": {
        "serialNumber": {
          "type": "string",
          "description": "The serial number of the device."
        },
        "resourceId": {
          "description": "The device resource ID.",
          "type": "string"
        },
        "iosVendorId": {
          "description": "Required for iOS, empty for others.",
          "type": "string"
        },
        "newValue": {
          "type": "string",
          "description": "The new value of the device property after the change."
        },
        "oldValue": {
          "type": "string",
          "description": "The old value of the device property before the change."
        },
        "deviceId": {
          "type": "string",
          "description": "Required. The device ID."
        },
        "deviceType": {
          "description": "The type of the device.",
          "type": "string"
        },
        "deviceModel": {
          "description": "The model of the device.",
          "type": "string"
        },
        "deviceProperty": {
          "description": "The device property which was changed.",
          "type": "string"
        }
      },
      "id": "SuspiciousActivitySecurityDetail",
      "type": "object"
    },
    "AccountSuspensionWarning": {
      "id": "AccountSuspensionWarning",
      "type": "object",
      "description": "A warning that the customer's account is about to be suspended.",
      "properties": {
        "suspensionDetails": {
          "description": "Details about why an account is being suspended.",
          "items": {
            "$ref": "AccountSuspensionDetails"
          },
          "type": "array"
        },
        "state": {
          "description": "Account suspension warning state.",
          "enumDescriptions": [
            "State is unspecified.",
            "Customer is receiving a warning about imminent suspension.",
            "Customer is being notified that their account has been suspended.",
            "Customer is being notified that their suspension appeal was approved.",
            "Customer has submitted their appeal, which is pending review."
          ],
          "enum": [
            "ACCOUNT_SUSPENSION_WARNING_STATE_UNSPECIFIED",
            "WARNING",
            "SUSPENDED",
            "APPEAL_APPROVED",
            "APPEAL_SUBMITTED"
          ],
          "type": "string"
        },
        "appealWindow": {
          "type": "string",
          "format": "google-duration",
          "description": "The amount of time remaining to appeal an imminent suspension. After this window has elapsed, the account will be suspended. Only populated if the account suspension is in WARNING state."
        }
      }
    },
    "Alert": {
      "id": "Alert",
      "type": "object",
      "description": "An alert affecting a customer.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was created."
        },
        "alertId": {
          "type": "string",
          "description": "Output only. The unique identifier for the alert."
        },
        "data": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Optional. The data associated with this alert, for example google.apps.alertcenter.type.DeviceCompromised."
        },
        "customerId": {
          "type": "string",
          "description": "Output only. The unique identifier of the Google Workspace account of the customer."
        },
        "endTime": {
          "description": "Optional. The time the event that caused this alert ceased being active. If provided, the end time must not be earlier than the start time. If not provided, it indicates an ongoing alert.",
          "type": "string",
          "format": "google-datetime"
        },
        "metadata": {
          "description": "Output only. The metadata associated with this alert.",
          "$ref": "AlertMetadata"
        },
        "securityInvestigationToolLink": {
          "type": "string",
          "description": "Output only. An optional [Security Investigation Tool](https://support.google.com/a/answer/7575955) query for this alert."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this alert was last updated."
        },
        "type": {
          "description": "Required. The type of the alert. This is output only after alert is created. For a list of available alert types see [Google Workspace Alert types](https://developers.google.com/workspace/admin/alertcenter/reference/alert-types).",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. A unique identifier for the system that reported the alert. This is output only after alert is created. Supported sources are any of the following: * Google Operations * Mobile device management * Gmail phishing * Data Loss Prevention * Domain wide takeout * State sponsored attack * Google identity * Apps outage"
        },
        "startTime": {
          "description": "Required. The time the event that caused this alert was started or detected.",
          "type": "string",
          "format": "google-datetime"
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. `True` if this alert is marked for deletion."
        },
        "etag": {
          "description": "Optional. `etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of an alert from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform alert updates in order to avoid race conditions: An `etag` is returned in the response which contains alerts, and systems are expected to put that etag in the request to update alert to ensure that their change will be applied to the same version of the alert. If no `etag` is provided in the call to update alert, then the existing alert is overwritten blindly.",
          "type": "string"
        }
      }
    },
    "UndeleteAlertRequest": {
      "description": "A request to undelete a specific alert that was marked for deletion.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Optional. The unique identifier of the Google Workspace account of the customer the alert is associated with. The `customer_id` must have the initial \"C\" stripped (for example, `046psxkn`). Inferred from the caller identity if not provided. [Find your customer ID](https://support.google.com/cloudidentity/answer/10070793)."
        }
      },
      "id": "UndeleteAlertRequest",
      "type": "object"
    }
  },
  "id": "alertcenter:v1beta1",
  "mtlsRootUrl": "https://alertcenter.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "batchPath": "batch"
}