{
  "id": "alloydb:v1alpha",
  "discoveryVersion": "v1",
  "revision": "20260226",
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "schemas": {
    "TimeBasedRetention": {
      "id": "TimeBasedRetention",
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object",
      "properties": {
        "retentionPeriod": {
          "type": "string",
          "description": "The retention period.",
          "format": "google-duration"
        }
      }
    },
    "ExportClusterRequest": {
      "type": "object",
      "id": "ExportClusterRequest",
      "description": "Export cluster request.",
      "properties": {
        "csvExportOptions": {
          "description": "Options for exporting data in CSV format. Required field to be set for CSV file type.",
          "$ref": "CsvExportOptions"
        },
        "sqlExportOptions": {
          "$ref": "SqlExportOptions",
          "description": "Options for exporting data in SQL format. Required field to be set for SQL file type."
        },
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Required. Option to export data to cloud storage."
        },
        "database": {
          "type": "string",
          "description": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "properties": {
        "quantityBasedRetention": {
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "description": "The unit that 'retained_backups' represents.",
          "type": "string",
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\".",
            "Retention will be by Time, eg. \"retain backups till a specific time\" i.e. till 2024-05-01T00:00:00Z.",
            "Retention will be by duration, eg. \"retain the backups for 172800 seconds (2 days)\".",
            "For rest of the other category"
          ],
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT",
            "TIME",
            "DURATION",
            "RETENTION_UNIT_OTHER"
          ],
          "deprecated": true
        },
        "timeBasedRetention": {
          "deprecated": true,
          "type": "string",
          "format": "google-duration"
        },
        "durationBasedRetention": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration based retention period i.e. 172800 seconds (2 days)"
        },
        "timestampBasedRetentionTime": {
          "description": "Timestamp based retention period i.e. 2024-05-01T00:00:00Z",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings"
    },
    "CsvExportOptions": {
      "properties": {
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "fieldDelimiter": {
          "type": "string",
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code."
        },
        "selectQuery": {
          "type": "string",
          "description": "Required. The SELECT query used to extract the data."
        }
      },
      "type": "object",
      "description": "Options for exporting data in CSV format.",
      "id": "CsvExportOptions"
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time.",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "day": {
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        }
      },
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance.",
      "id": "MaintenanceWindow"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceSchedule",
      "properties": {
        "day": {
          "description": "Optional. Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "type": "string"
        },
        "time": {
          "description": "Optional. Preferred time to start the maintenance operation on the specified day.",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "phase": {
          "description": "Optional. Phase of the maintenance window. This is to capture order of maintenance. For example, for Cloud SQL resources, this can be used to capture if the maintenance window is in Week1, Week2, Week5, etc. Non production resources are usually part of early phase. For more details, refer to Cloud SQL resources - https://cloud.google.com/sql/docs/mysql/maintenance",
          "enum": [
            "PHASE_UNSPECIFIED",
            "ANY",
            "WEEK1",
            "WEEK2",
            "WEEK5"
          ],
          "type": "string",
          "enumDescriptions": [
            "Phase is unspecified.",
            "Any phase.",
            "Week 1.",
            "Week 2.",
            "Week 5."
          ]
        }
      },
      "description": "Maintenance window for the database resource. It specifies preferred time and day of the week and phase in some cases, when the maintenance can start. This is configured by the customer."
    },
    "BackupDrBackupSource": {
      "id": "BackupDrBackupSource",
      "type": "object",
      "properties": {
        "backup": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}",
          "type": "string"
        }
      },
      "description": "Message describing a BackupDrBackupSource."
    },
    "PscInterfaceConfig": {
      "type": "object",
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "id": "PscInterfaceConfig",
      "properties": {
        "networkAttachmentResource": {
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance.",
          "type": "string"
        }
      }
    },
    "UpgradeClusterResponse": {
      "id": "UpgradeClusterResponse",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "properties": {
        "clusterUpgradeDetails": {
          "type": "array",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          },
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster."
        },
        "message": {
          "type": "string",
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any."
        },
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "description": "Status of upgrade operation.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "type": "object",
      "description": "Configuration for automatic backups",
      "properties": {
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
          "description": "Backup retention settings."
        },
        "automatedBackupEnabled": {
          "type": "boolean",
          "description": "Whether customer visible automated backups are enabled on the instance."
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "properties": {
        "internalResourceMetadata": {
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array",
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration."
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data",
      "type": "object"
    },
    "RestoreFromCloudSQLRequest": {
      "id": "RestoreFromCloudSQLRequest",
      "description": "Message for registering Restoring from CloudSQL resource.",
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        },
        "cloudsqlBackupRunSource": {
          "description": "Cluster created from CloudSQL backup run.",
          "$ref": "CloudSQLBackupRunSource"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainSignalMetadata": {
      "description": "SignalMetadata contains one of the signal metadata proto messages associated with a SignalType. This proto will be mapped to SignalMetadata message in storage.proto. Next ID: 3",
      "id": "StorageDatabasecenterPartnerapiV1mainSignalMetadata",
      "properties": {
        "signalBoolValue": {
          "type": "boolean",
          "description": "Signal data for boolean signals."
        },
        "backupRun": {
          "description": "Signal data for backup runs.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        }
      },
      "type": "object"
    },
    "ContinuousBackupInfo": {
      "type": "object",
      "id": "ContinuousBackupInfo",
      "properties": {
        "schedule": {
          "items": {
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string",
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ]
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Days of the week on which a continuous backup is taken."
        },
        "encryptionInfo": {
          "description": "Output only. The encryption information for the WALs and backups required for ContinuousBackup.",
          "readOnly": true,
          "$ref": "EncryptionInfo"
        },
        "enabledTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When ContinuousBackup was most recently enabled. Set to null if ContinuousBackup is not enabled.",
          "readOnly": true
        },
        "earliestRestorableTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The earliest restorable time that can be restored to. If continuous backups and recovery was recently enabled, the earliest restorable time is the creation time of the earliest eligible backup within this cluster's continuous backup recovery window. After a cluster has had continuous backups enabled for the duration of its recovery window, the earliest restorable time becomes \"now minus the recovery window\". For example, assuming a point in time recovery is attempted at 04/16/2025 3:23:00PM with a 14d recovery window, the earliest restorable time would be 04/02/2025 3:23:00PM. This field is only visible if the CLUSTER_VIEW_CONTINUOUS_BACKUP cluster view is provided.",
          "type": "string"
        }
      },
      "description": "ContinuousBackupInfo describes the continuous backup properties of a cluster."
    },
    "Stats": {
      "properties": {
        "notStarted": {
          "format": "int32",
          "description": "Number of read pool instances for which upgrade has not started.",
          "type": "integer"
        },
        "ongoing": {
          "description": "Number of read pool instances undergoing upgrade.",
          "type": "integer",
          "format": "int32"
        },
        "success": {
          "format": "int32",
          "type": "integer",
          "description": "Number of read pool instances successfully upgraded."
        },
        "failed": {
          "type": "integer",
          "description": "Number of read pool instances which failed to upgrade.",
          "format": "int32"
        }
      },
      "description": "Upgrade stats for read pool instances.",
      "id": "Stats",
      "type": "object"
    },
    "QuantityBasedExpiry": {
      "id": "QuantityBasedExpiry",
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "type": "object",
      "properties": {
        "totalRetentionCount": {
          "type": "integer",
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "readOnly": true,
          "format": "int32"
        },
        "retentionCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first)."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "description": "A backup run.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed. REQUIRED",
          "format": "google-datetime"
        },
        "status": {
          "enumDescriptions": [
            "",
            "The backup was successful.",
            "The backup was unsuccessful."
          ],
          "type": "string",
          "description": "The status of this run. REQUIRED",
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESSFUL",
            "FAILED"
          ]
        },
        "error": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainOperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status. OPTIONAL"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the backup operation started. REQUIRED"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainBackupRun",
      "type": "object"
    },
    "TrialMetadata": {
      "id": "TrialMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "End time of the trial cluster."
        },
        "graceEndTime": {
          "format": "google-datetime",
          "description": "grace end time of the cluster.",
          "type": "string"
        },
        "upgradeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Upgrade time of trial cluster to Standard cluster."
        },
        "startTime": {
          "description": "start time of the trial cluster.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Contains information and all metadata related to TRIAL clusters."
    },
    "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData": {
      "properties": {
        "aggregationType": {
          "description": "Required. Type of aggregation performed on the metric.",
          "enumDescriptions": [
            "Unspecified aggregation type.",
            "PEAK aggregation type.",
            "P99 aggregation type.",
            "P95 aggregation type.",
            "current aggregation type."
          ],
          "type": "string",
          "enum": [
            "AGGREGATION_TYPE_UNSPECIFIED",
            "PEAK",
            "P99",
            "P95",
            "CURRENT"
          ]
        },
        "value": {
          "$ref": "StorageDatabasecenterProtoCommonTypedValue",
          "description": "Required. Value of the metric type."
        },
        "resourceName": {
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel",
          "type": "string"
        },
        "metricType": {
          "type": "string",
          "description": "Required. Type of metric like CPU, Memory, etc.",
          "enum": [
            "METRIC_TYPE_UNSPECIFIED",
            "CPU_UTILIZATION",
            "MEMORY_UTILIZATION",
            "NETWORK_CONNECTIONS",
            "STORAGE_UTILIZATION",
            "STORAGE_USED_BYTES",
            "NODE_COUNT",
            "MEMORY_USED_BYTES",
            "PROCESSING_UNIT_COUNT"
          ],
          "enumDescriptions": [
            "Unspecified metric type.",
            "CPU utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Memory utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Number of network connections for a resource.",
            "Storage utilization for a resource. The value is a fraction between 0.0 and 1.0 (may momentarily exceed 1.0 in some cases).",
            "Sotrage used by a resource.",
            "Node count for a resource. It represents the number of node units in a bigtable/spanner instance.",
            "Memory used by a resource (in bytes).",
            "Processing units used by a resource. It represents the number of processing units in a spanner instance."
          ]
        },
        "observationTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time the metric value was observed."
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData",
      "type": "object"
    },
    "StageInfo": {
      "description": "Stage information for different stages in the upgrade process.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Status of the stage.",
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "stage": {
          "description": "The stage.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ]
        },
        "logsUrl": {
          "type": "string",
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE."
        }
      },
      "id": "StageInfo",
      "type": "object"
    },
    "EncryptionInfo": {
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup.",
      "type": "object",
      "id": "EncryptionInfo",
      "properties": {
        "kmsKeyVersions": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup."
        },
        "encryptionType": {
          "description": "Output only. Type of encryption.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ]
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "type": "object",
      "properties": {
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "id": "GoogleTypeTimeOfDay"
    },
    "SqlExportOptions": {
      "type": "object",
      "description": "Options for exporting data in SQL format.",
      "id": "SqlExportOptions",
      "properties": {
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "tables": {
          "description": "Optional. Tables to export from.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ifExistTargetObjects": {
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode.",
          "type": "boolean"
        },
        "schemaOnly": {
          "description": "Optional. If true, only export the schema.",
          "type": "boolean"
        }
      }
    },
    "Node": {
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\"."
        },
        "ip": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\"."
        },
        "zoneId": {
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\".",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
        }
      },
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations.",
      "id": "Node",
      "type": "object"
    },
    "WeeklySchedule": {
      "type": "object",
      "properties": {
        "startTimes": {
          "description": "The times during the day to start a backup. The start times are assumed to be in UTC and to be an exact hour (e.g., 04:00:00). If no start times are provided, a single fixed start time is chosen arbitrarily.",
          "type": "array",
          "items": {
            "$ref": "GoogleTypeTimeOfDay"
          }
        },
        "daysOfWeek": {
          "description": "The days of the week to perform a backup. If this field is left empty, the default of every day of the week is used.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "type": "string",
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ]
          }
        }
      },
      "description": "A weekly schedule starts a backup at prescribed start times within a day, for the specified days of the week. The weekly schedule message is flexible and can be used to create many types of schedules. For example, to have a daily backup that starts at 22:00, configure the `start_times` field to have one element \"22:00\" and the `days_of_week` field to have all seven days of the week.",
      "id": "WeeklySchedule"
    },
    "ListBackupsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "type": "array",
          "description": "The list of Backup"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Message for response to listing Backups",
      "id": "ListBackupsResponse",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceFlags": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceFlags",
      "description": "Message type for storing resource flags.",
      "properties": {
        "key": {
          "description": "Optional. Key of the resource flag.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Optional. Value of the resource flag."
        }
      }
    },
    "CpuUtilization": {
      "id": "CpuUtilization",
      "type": "object",
      "description": "CPU utilization policy for the autoscaler.",
      "properties": {
        "utilizationTarget": {
          "description": "Target CPU utilization as a float between 0 and 1.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GeminiInstanceConfig": {
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "type": "object",
      "id": "GeminiInstanceConfig",
      "properties": {
        "entitled": {
          "deprecated": true,
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Deprecated and unused. This field will be removed in the near future."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The end time of the upcoming maintenance."
        },
        "startTime": {
          "description": "Optional. The start time of the upcoming maintenance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published.",
      "type": "object"
    },
    "RestoreClusterRequest": {
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "Backup source."
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "description": "BackupDR backup source."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "continuousBackupSource": {
          "$ref": "ContinuousBackupSource",
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed."
        },
        "clusterId": {
          "type": "string",
          "description": "Required. ID of the requesting object."
        },
        "backupdrPitrSource": {
          "$ref": "BackupDrPitrSource",
          "description": "BackupDR source used for point in time recovery."
        }
      },
      "type": "object",
      "id": "RestoreClusterRequest",
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11"
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "type": "object",
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "properties": {
        "backupdrManaged": {
          "type": "boolean",
          "description": "Indicates if the resource is managed by BackupDR."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "upgradeClusterStatus": {
          "readOnly": true,
          "description": "Output only. UpgradeClusterStatus related metadata.",
          "$ref": "UpgradeClusterStatus"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "ConnectionPoolConfig": {
      "description": "Configuration for Managed Connection Pool (MCP).",
      "id": "ConnectionPoolConfig",
      "properties": {
        "poolerCount": {
          "readOnly": true,
          "description": "Output only. The number of running poolers per instance.",
          "type": "integer",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Whether to enable Managed Connection Pool (MCP)."
        },
        "flags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Connection Pool flags, as a list of \"key\": \"value\" pairs."
        }
      },
      "type": "object"
    },
    "CsvImportOptions": {
      "type": "object",
      "description": "Options for importing data in CSV format.",
      "properties": {
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "description": "Required. The database table to import CSV file into.",
          "type": "string"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        },
        "columns": {
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "quoteCharacter": {
          "type": "string",
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code."
        }
      },
      "id": "CsvImportOptions"
    },
    "ConnectionInfo": {
      "id": "ConnectionInfo",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "pscDnsName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The DNS name to use with PSC for the Instance."
        },
        "instanceUid": {
          "description": "Output only. The unique ID of the Instance.",
          "readOnly": true,
          "type": "string"
        },
        "pemCertificateChain": {
          "description": "Output only. The pem-encoded chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "deprecated": true,
          "type": "array"
        },
        "publicIpAddress": {
          "readOnly": true,
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string"
        }
      },
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156"
    },
    "ListUsersResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "users": {
          "type": "array",
          "description": "The list of User",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "ListUsersResponse",
      "description": "Message for response to listing Users"
    },
    "StageStatus": {
      "properties": {
        "readPoolInstancesUpgrade": {
          "$ref": "ReadPoolInstancesUpgradeStageStatus",
          "description": "Read pool instances upgrade metadata."
        },
        "stage": {
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "type": "string",
          "description": "Upgrade stage."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "State of this stage.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "type": "string"
        }
      },
      "id": "StageStatus",
      "type": "object",
      "description": "Status of an upgrade stage."
    },
    "InstanceNetworkConfig": {
      "type": "object",
      "properties": {
        "enablePublicIp": {
          "description": "Optional. Enabling public ip for the instance.",
          "type": "boolean"
        },
        "authorizedExternalNetworks": {
          "items": {
            "$ref": "AuthorizedNetwork"
          },
          "description": "Optional. A list of external network authorized to access this instance.",
          "type": "array"
        },
        "enableOutboundPublicIp": {
          "type": "boolean",
          "description": "Optional. Enabling an outbound public IP address to support a database server sending requests out into the internet."
        },
        "allocatedIpRangeOverride": {
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB instance, for example: \"google-managed-services-default\". If set, the instance IPs will be created from this allocated range and will override the IP range used by the parent cluster. The range name must comply with [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource link for the VPC network in which instance resources are created and from which they are accessible via Private IP. This will be the same value as the parent cluster's network. It is specified in the form: // `projects/{project_number}/global/networks/{network_id}`."
        }
      },
      "description": "Metadata related to instance-level network configuration.",
      "id": "InstanceNetworkConfig"
    },
    "UserPassword": {
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "properties": {
        "user": {
          "type": "string",
          "description": "The database username."
        },
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "UserPassword"
    },
    "IntegerRestrictions": {
      "type": "object",
      "description": "Restrictions on INTEGER type values.",
      "properties": {
        "minValue": {
          "format": "int64",
          "description": "The minimum value that can be specified, if applicable.",
          "type": "string"
        },
        "maxValue": {
          "description": "The maximum value that can be specified, if applicable.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "IntegerRestrictions"
    },
    "Cluster": {
      "type": "object",
      "description": "A cluster is a collection of regional AlloyDB resources. It can include a primary instance and one or more read pool instances. All cluster resources share a storage layer, which scales as needed.",
      "properties": {
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the data disks and other persistent data resources of a cluster with a customer-managed encryption key (CMEK). When this field is not specified, the cluster will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "backupSource": {
          "$ref": "BackupSource",
          "readOnly": true,
          "description": "Output only. Cluster created from backup."
        },
        "secondaryConfig": {
          "$ref": "SecondaryConfig",
          "description": "Cross Region replication config specific to SECONDARY cluster."
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Cluster.",
          "type": "string"
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "EMPTY",
            "CREATING",
            "DELETING",
            "FAILED",
            "BOOTSTRAPPING",
            "MAINTENANCE",
            "PROMOTING",
            "SWITCHOVER"
          ],
          "enumDescriptions": [
            "The state of the cluster is unknown.",
            "The cluster is active and running.",
            "This is unused. Even when all instances in the cluster are stopped, the cluster remains in READY state.",
            "The cluster is empty and has no associated resources. All instances, associated storage and backups have been deleted.",
            "The cluster is being created.",
            "The cluster is being deleted.",
            "The creation of the cluster failed.",
            "The cluster is bootstrapping with data from some other source. Direct mutations to the cluster (e.g. adding read pool) are not allowed.",
            "The cluster is under maintenance. AlloyDB regularly performs maintenance and upgrades on customer clusters. Updates on the cluster are not allowed while the cluster is in this state.",
            "The cluster is being promoted.",
            "The cluster has entered switchover state. All updates on cluster and its associated instances are restricted while the cluster is in this state."
          ],
          "type": "string",
          "description": "Output only. The current serving state of the cluster."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Output only. AlloyDB per-cluster service account. This service account is created per-cluster per-project, and is different from the per-project service account. The per-cluster service account naming format is subject to change.",
          "readOnly": true
        },
        "networkConfig": {
          "$ref": "NetworkConfig"
        },
        "initialUser": {
          "description": "Input only. Initial user to setup during cluster creation. Required. If used in `RestoreCluster` this is ignored.",
          "$ref": "UserPassword"
        },
        "continuousBackupInfo": {
          "readOnly": true,
          "description": "Output only. Continuous backup properties for this cluster.",
          "$ref": "ContinuousBackupInfo"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Cluster does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean"
        },
        "databaseVersion": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Optional. The database engine major version. This is an optional field and it is populated at the Cluster creation time. If a database version is not supplied at cluster creation time, then a default database version will be used.",
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ]
        },
        "maintenanceSchedule": {
          "$ref": "MaintenanceSchedule",
          "description": "Output only. The maintenance schedule for the cluster, generated for a specific rollout if a maintenance window is set.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Create time stamp"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time stamp"
        },
        "clusterType": {
          "description": "Output only. The type of the cluster. This is an output-only field and it's populated at the Cluster creation time or the Cluster promotion time. The cluster type is determined by which RPC was used to create the cluster (i.e. `CreateCluster` vs. `CreateSecondaryCluster`",
          "type": "string",
          "readOnly": true,
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ]
        },
        "backupdrBackupSource": {
          "$ref": "BackupDrBackupSource",
          "readOnly": true,
          "description": "Output only. Cluster created from a BackupDR backup."
        },
        "trialMetadata": {
          "description": "Output only. Metadata for free trial clusters",
          "$ref": "TrialMetadata",
          "readOnly": true
        },
        "subscriptionType": {
          "description": "Optional. Subscription type of the cluster.",
          "enumDescriptions": [
            "This is an unknown subscription type. By default, the subscription type is STANDARD.",
            "Standard subscription.",
            "Trial subscription."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "STANDARD",
            "TRIAL"
          ]
        },
        "uid": {
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "maintenanceUpdatePolicy": {
          "$ref": "MaintenanceUpdatePolicy",
          "description": "Optional. The maintenance update policy determines when to allow or deny updates."
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "readOnly": true,
          "description": "Output only. The encryption information for the cluster."
        },
        "primaryConfig": {
          "$ref": "PrimaryConfig",
          "readOnly": true,
          "description": "Output only. Cross Region replication config specific to PRIMARY cluster."
        },
        "sslConfig": {
          "description": "SSL configuration for this AlloyDB cluster.",
          "deprecated": true,
          "$ref": "SslConfig"
        },
        "name": {
          "description": "Output only. The name of the cluster resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id} where the cluster ID segment should satisfy the regex expression `[a-z0-9-]+`. For more details see https://google.aip.dev/122. The prefix of the cluster resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "type": "string",
          "readOnly": true
        },
        "continuousBackupConfig": {
          "description": "Optional. Continuous backup configuration for this cluster.",
          "$ref": "ContinuousBackupConfig"
        },
        "dataplexConfig": {
          "description": "Optional. Configuration for Dataplex integration.",
          "$ref": "DataplexConfig"
        },
        "automatedBackupPolicy": {
          "description": "The automated backup policy for this cluster. If no policy is provided then the default policy will be used. If backups are supported for the cluster, the default policy takes one backup a day, has a backup window of 1 hour, and retains backups for 14 days. For more information on the defaults, consult the documentation for the message type.",
          "$ref": "AutomatedBackupPolicy"
        },
        "network": {
          "deprecated": true,
          "type": "string",
          "description": "Required. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project}/global/networks/{network_id}`. This is required to create a cluster. Deprecated, use network_config.network instead."
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "cloudsqlBackupRunSource": {
          "readOnly": true,
          "description": "Output only. Cluster created from CloudSQL snapshot.",
          "$ref": "CloudSQLBackupRunSource"
        },
        "geminiConfig": {
          "deprecated": true,
          "$ref": "GeminiClusterConfig",
          "description": "Optional. Deprecated and unused. This field will be removed in the near future."
        },
        "backupdrInfo": {
          "$ref": "BackupDrInfo",
          "description": "Output only. Output only information about BackupDR protection for this cluster.",
          "readOnly": true
        },
        "pscConfig": {
          "description": "Optional. The configuration for Private Service Connect (PSC) for the cluster.",
          "$ref": "PscConfig"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "migrationSource": {
          "readOnly": true,
          "description": "Output only. Cluster created via DMS migration.",
          "$ref": "MigrationSource"
        },
        "deleteTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Delete time stamp"
        },
        "maintenanceVersionSelectionPolicy": {
          "description": "Input only. Policy to use to automatically select the maintenance version to which to update the cluster's instances.",
          "type": "string",
          "enum": [
            "MAINTENANCE_VERSION_SELECTION_POLICY_UNSPECIFIED",
            "MAINTENANCE_VERSION_SELECTION_POLICY_LATEST",
            "MAINTENANCE_VERSION_SELECTION_POLICY_DEFAULT"
          ],
          "enumDescriptions": [
            "The maintenance version selection policy is not specified.",
            "Use the latest available maintenance version.",
            "Use the current default maintenance version."
          ]
        }
      },
      "id": "Cluster"
    },
    "AutoScalingConfig": {
      "description": "Configuration for autoscaling.",
      "id": "AutoScalingConfig",
      "type": "object",
      "properties": {
        "schedules": {
          "items": {
            "$ref": "Schedule"
          },
          "type": "array",
          "description": "Optional list of schedules for the MIG autoscaler. If not set, no schedules are created."
        },
        "policy": {
          "description": "Policy for the MIG autoscaler.",
          "$ref": "Policy"
        }
      }
    },
    "GCAInstanceConfig": {
      "id": "GCAInstanceConfig",
      "description": "Instance level configuration parameters related to the Gemini Cloud Assist product.",
      "properties": {
        "gcaEntitlement": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Represents the GCA entitlement state of the instance.",
          "enumDescriptions": [
            "No GCA entitlement is assigned.",
            "The resource is entitled to the GCA Standard Tier."
          ],
          "enum": [
            "GCA_ENTITLEMENT_TYPE_UNSPECIFIED",
            "GCA_STANDARD"
          ]
        }
      },
      "type": "object"
    },
    "ReadPoolConfig": {
      "description": "Configuration for a read pool instance.",
      "id": "ReadPoolConfig",
      "properties": {
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Read capacity, i.e. number of nodes in a read pool instance."
        },
        "autoScalingConfig": {
          "$ref": "AutoScalingConfig",
          "description": "Autoscaling configuration for the read pool instance. If not set, the read pool instance will not be autoscaled."
        }
      },
      "type": "object"
    },
    "ReadPoolInstancesUpgradeStageStatus": {
      "description": "Read pool instances upgrade specific status.",
      "id": "ReadPoolInstancesUpgradeStageStatus",
      "properties": {
        "upgradeStats": {
          "$ref": "Stats",
          "description": "Read pool instances upgrade statistics."
        }
      },
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        }
      },
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleTypeDate": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "id": "GoogleTypeDate",
      "type": "object",
      "properties": {
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "year": {
          "format": "int32",
          "type": "integer",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ContinuousBackupConfig": {
      "id": "ContinuousBackupConfig",
      "type": "object",
      "properties": {
        "encryptionConfig": {
          "$ref": "EncryptionConfig",
          "description": "The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config."
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether ContinuousBackup is enabled."
        },
        "recoveryWindowDays": {
          "description": "The number of days that are eligible to restore from using PITR. To support the entire recovery window, backups and logs are retained for one day more than the recovery window. If not set, defaults to 14 days.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "ContinuousBackupConfig describes the continuous backups recovery configurations of a cluster."
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "properties": {
        "minorVersion": {
          "type": "string",
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc.."
        },
        "type": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ]
        },
        "version": {
          "type": "string",
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc.."
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The specific engine that the underlying database is running.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ]
        }
      },
      "type": "object",
      "description": "Product specification for Condor resources.",
      "id": "StorageDatabasecenterProtoCommonProduct"
    },
    "GeminiClusterConfig": {
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "id": "GeminiClusterConfig",
      "type": "object",
      "properties": {
        "entitled": {
          "readOnly": true,
          "type": "boolean",
          "deprecated": true,
          "description": "Output only. Deprecated and unused. This field will be removed in the near future."
        }
      }
    },
    "InstanceUpgradeDetails": {
      "id": "InstanceUpgradeDetails",
      "type": "object",
      "description": "Details regarding the upgrade of instances associated with a cluster.",
      "properties": {
        "upgradeStatus": {
          "description": "Upgrade status of the instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string"
        },
        "name": {
          "description": "Normalized name of the instance.",
          "type": "string"
        },
        "instanceType": {
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Instance type.",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        }
      }
    },
    "SecondaryConfig": {
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY.",
      "type": "object",
      "properties": {
        "primaryClusterName": {
          "type": "string",
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        }
      },
      "id": "SecondaryConfig"
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the PSC service automation endpoint."
        },
        "status": {
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion.",
          "readOnly": true
        },
        "consumerNetworkStatus": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy."
        },
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        },
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        }
      },
      "id": "PscAutoConnectionConfig",
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance."
    },
    "MigrationSource": {
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "id": "MigrationSource",
      "type": "object",
      "properties": {
        "hostPort": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The host and port of the on-premises instance in host:port format"
        },
        "referenceId": {
          "readOnly": true,
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "type": "string"
        },
        "sourceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "type": "string",
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ],
          "description": "Output only. Type of migration source."
        }
      }
    },
    "EncryptionConfig": {
      "type": "object",
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key).",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]"
        }
      },
      "id": "EncryptionConfig"
    },
    "Policy": {
      "description": "Policy for the autoscaler.",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "If true, autoscaling is enabled for the instance. If not set, the default value is false."
        },
        "cpuUtilization": {
          "description": "CPU utilization policy for the autoscaler.",
          "$ref": "CpuUtilization"
        },
        "coolDownPeriodSec": {
          "description": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm.",
          "format": "int64",
          "type": "string"
        },
        "maxNodeCount": {
          "type": "string",
          "description": "Maximum number of nodes for the autoscaler.",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "Policy"
    },
    "NetworkConfig": {
      "type": "object",
      "description": "Metadata related to network configuration.",
      "properties": {
        "allocatedIpRange": {
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB cluster, for example: \"google-managed-services-default\". If set, the instance IPs for this cluster will be created in the allocated range. The range name must comply with RFC 1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. Field name is intended to be consistent with Cloud SQL.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project_number}/global/networks/{network_id}`. This is required to create a cluster."
        }
      },
      "id": "NetworkConfig"
    },
    "ClusterUpgradeDetails": {
      "description": "Upgrade details of a cluster. This cluster can be primary or secondary.",
      "type": "object",
      "id": "ClusterUpgradeDetails",
      "properties": {
        "stageInfo": {
          "type": "array",
          "description": "Array containing stage info associated with this cluster.",
          "items": {
            "$ref": "StageInfo"
          }
        },
        "instanceUpgradeDetails": {
          "description": "Upgrade details of the instances directly associated with this cluster.",
          "type": "array",
          "items": {
            "$ref": "InstanceUpgradeDetails"
          }
        },
        "name": {
          "type": "string",
          "description": "Normalized name of the cluster"
        },
        "upgradeStatus": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Upgrade status of the cluster."
        },
        "databaseVersion": {
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "description": "Database version of the cluster after the upgrade operation. This will be the target version if the upgrade was successful otherwise it remains the same as that before the upgrade operation.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "clusterType": {
          "type": "string",
          "enum": [
            "CLUSTER_TYPE_UNSPECIFIED",
            "PRIMARY",
            "SECONDARY"
          ],
          "description": "Cluster type which can either be primary or secondary.",
          "enumDescriptions": [
            "The type of the cluster is unknown.",
            "Primary cluster that support read and write operations.",
            "Secondary cluster that is replicating from another region. This only supports read."
          ]
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "description": "BackupDRMetadata contains information about the backup and disaster recovery metadata of a database resource.",
      "properties": {
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Required. Database resource id."
        },
        "backupdrConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
          "description": "BackupDR configuration for this instance."
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Backup configuration for this instance."
        },
        "fullResourceName": {
          "type": "string",
          "description": "Required. Full resource name of this instance."
        },
        "lastRefreshTime": {
          "description": "Required. Last time backup configuration was refreshed.",
          "type": "string",
          "format": "google-datetime"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Latest backup run information for this instance."
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "type": "object"
    },
    "ObservabilityInstanceConfig": {
      "type": "object",
      "properties": {
        "trackClientAddress": {
          "description": "Track client address for an instance. If not set, default value is \"off\".",
          "type": "boolean"
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Record application tags for an instance. This flag is turned \"off\" by default."
        },
        "maxQueryStringLength": {
          "type": "integer",
          "format": "int32",
          "description": "Query string length. The default value is 10k."
        },
        "queryPlansPerMinute": {
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid.",
          "type": "integer"
        },
        "assistiveExperiencesEnabled": {
          "description": "Whether assistive experiences are enabled for this AlloyDB instance.",
          "type": "boolean"
        },
        "trackWaitEvents": {
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on.",
          "type": "boolean"
        },
        "trackWaitEventTypes": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API."
        },
        "enabled": {
          "type": "boolean",
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default."
        },
        "trackActiveQueryPlan": {
          "type": "boolean",
          "description": "Indicates whether to track active query plans for an instance. If not set, the default value is \"off\". Can only be enabled if track_active_queries is enabled."
        },
        "trackActiveQueries": {
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default.",
          "type": "boolean"
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
        }
      },
      "id": "ObservabilityInstanceConfig",
      "description": "Observability Instance specific configuration."
    },
    "PromoteClusterRequest": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "PromoteClusterRequest",
      "description": "Message for promoting a Cluster",
      "type": "object"
    },
    "ClientConnectionConfig": {
      "type": "object",
      "description": "Client connection configuration",
      "id": "ClientConnectionConfig",
      "properties": {
        "requireConnectors": {
          "type": "boolean",
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database."
        },
        "sslConfig": {
          "description": "Optional. SSL configuration option for this instance.",
          "$ref": "SslConfig"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {}
    },
    "SwitchoverClusterRequest": {
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "SwitchoverClusterRequest",
      "description": "Message for switching over to a cluster",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "properties": {
        "stringValue": {
          "type": "string",
          "description": "For string value"
        },
        "doubleValue": {
          "type": "number",
          "description": "For double value",
          "format": "double"
        },
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "int64Value": {
          "type": "string",
          "description": "For integer value",
          "format": "int64"
        }
      },
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "description": "DatabaseResourceFeed is the top level proto to be used to ingest different database resource level events into Condor platform. Next ID: 13",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "type": "object",
      "properties": {
        "feedType": {
          "type": "string",
          "description": "Required. Type feed to be ingested into condor",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ],
          "enumDescriptions": [
            "",
            "Database resource metadata feed from control plane",
            "Database resource monitoring data",
            "Database resource security health signal data",
            "Database resource recommendation signal data",
            "Database config based signal data",
            "Database resource metadata from BackupDR",
            "Database resource signal data"
          ]
        },
        "backupdrMetadata": {
          "description": "BackupDR metadata is used to ingest metadata from BackupDR.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata"
        },
        "skipIngestion": {
          "description": "Optional. If true, the feed won't be ingested by DB Center. This indicates that the feed is intentionally skipped. For example, BackupDR feeds are only needed for resources integrated with DB Center (e.g., CloudSQL, AlloyDB). Feeds for non-integrated resources (e.g., Compute Engine, Persistent Disk) can be skipped.",
          "type": "boolean"
        },
        "recommendationSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "resourceHealthSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedTimestamp": {
          "description": "Required. Timestamp when feed is generated.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "resourceId": {
          "deprecated": true,
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Primary key associated with the Resource. resource_id is available in individual feed level as well."
        },
        "configBasedSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData",
          "description": "Config based signal data is used to ingest signals that are generated based on the configuration of the database resource."
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData"
        },
        "databaseResourceSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
          "description": "Database resource signal data is used to ingest signals from database resource signal feeds."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
[...]
