{
  "description": "AlloyDB for PostgreSQL is an open source-compatible database service that provides a powerful option for migrating, modernizing, or building commercial-grade applications. It offers full compatibility with standard PostgreSQL, and is more than 4x faster for transactional workloads and up to 100x faster for analytical queries than standard PostgreSQL in our performance tests. AlloyDB for PostgreSQL offers a 99.99 percent availability SLA inclusive of maintenance. AlloyDB is optimized for the most demanding use cases, allowing you to build new applications that require high transaction throughput, large database sizes, or multiple read resources; scale existing PostgreSQL workloads with no application changes; and modernize legacy proprietary databases. ",
  "id": "alloydb:v1",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "Cloud AlloyDB Admin",
  "mtlsRootUrl": "https://alloydb.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "title": "AlloyDB API",
  "revision": "20260226",
  "baseUrl": "https://alloydb.googleapis.com/",
  "version": "v1",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/alloydb/",
  "batchPath": "batch",
  "schemas": {
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      }
    },
    "SupportedDatabaseFlag": {
      "id": "SupportedDatabaseFlag",
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "type": "object",
      "properties": {
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "acceptsMultipleValues": {
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified.",
          "type": "boolean"
        },
        "supportedDbVersions": {
          "items": {
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ],
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ]
          },
          "type": "array",
          "description": "Major database engine versions for which this flag is supported."
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "recommendedStringValue": {
          "type": "string",
          "description": "The recommended value for a STRING flag."
        },
        "recommendedIntegerValue": {
          "type": "string",
          "description": "The recommended value for an INTEGER flag.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning."
        },
        "scope": {
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ],
          "description": "The scope of the flag.",
          "type": "string",
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ]
        },
        "valueType": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ]
        },
        "flagName": {
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field.",
          "type": "string"
        }
      }
    },
    "ListSupportedDatabaseFlagsResponse": {
      "id": "ListSupportedDatabaseFlagsResponse",
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "type": "object",
      "properties": {
        "supportedDatabaseFlags": {
          "items": {
            "$ref": "SupportedDatabaseFlag"
          },
          "type": "array",
          "description": "The list of SupportedDatabaseFlags."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupRun": {
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the backup operation completed. REQUIRED"
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status. OPTIONAL",
          "$ref": "StorageDatabasecenterPartnerapiV1mainOperationError"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the backup operation started. REQUIRED",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "SUCCESSFUL",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The backup was successful.",
            "The backup was unsuccessful."
          ],
          "description": "The status of this run. REQUIRED"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainBackupRun",
      "description": "A backup run.",
      "type": "object"
    },
    "EncryptionInfo": {
      "type": "object",
      "id": "EncryptionInfo",
      "description": "EncryptionInfo describes the encryption information of a cluster or a backup.",
      "properties": {
        "encryptionType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GOOGLE_DEFAULT_ENCRYPTION",
            "CUSTOMER_MANAGED_ENCRYPTION"
          ],
          "description": "Output only. Type of encryption.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Encryption type not specified. Defaults to GOOGLE_DEFAULT_ENCRYPTION.",
            "The data is encrypted at rest with a key that is fully managed by Google. No key version will be populated. This is the default state.",
            "The data is encrypted at rest with a key that is managed by the customer. KMS key versions will be populated."
          ]
        },
        "kmsKeyVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Cloud KMS key versions that are being used to protect the database or the backup.",
          "type": "array"
        }
      }
    },
    "TimeBasedRetention": {
      "properties": {
        "retentionPeriod": {
          "format": "google-duration",
          "description": "The retention period.",
          "type": "string"
        }
      },
      "id": "TimeBasedRetention",
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "type": "object"
    },
    "ImportClusterRequest": {
      "properties": {
        "gcsUri": {
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        },
        "user": {
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference.",
          "type": "string"
        },
        "sqlImportOptions": {
          "description": "Options for importing data in SQL format.",
          "$ref": "SqlImportOptions"
        },
        "csvImportOptions": {
          "description": "Options for importing data in CSV format.",
          "$ref": "CsvImportOptions"
        },
        "database": {
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ImportClusterRequest",
      "description": "Import cluster request."
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "properties": {
        "tags": {
          "type": "object",
          "description": "The Tag key/value mappings.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "description": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag.",
      "type": "object"
    },
    "MaintenanceWindow": {
      "properties": {
        "day": {
          "type": "string",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "description": "Preferred day of the week for maintenance, e.g. MONDAY, TUESDAY, etc.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Preferred time to start the maintenance operation on the specified day. Maintenance will start within 1 hour of this time.",
          "$ref": "GoogleTypeTimeOfDay"
        }
      },
      "type": "object",
      "id": "MaintenanceWindow",
      "description": "MaintenanceWindow specifies a preferred day and time for maintenance."
    },
    "RestartInstanceRequest": {
      "id": "RestartInstanceRequest",
      "type": "object",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "nodeIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. The start time of the upcoming maintenance.",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "description": "Optional. The end time of the upcoming maintenance.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published."
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "MaintenanceSchedule": {
      "type": "object",
      "id": "MaintenanceSchedule",
      "description": "MaintenanceSchedule stores the maintenance schedule generated from the MaintenanceUpdatePolicy, once a maintenance rollout is triggered, if MaintenanceWindow is set, and if there is no conflicting DenyPeriod. The schedule is cleared once the update takes place. This field cannot be manually changed; modify the MaintenanceUpdatePolicy instead.",
      "properties": {
        "startTime": {
          "description": "Output only. The scheduled start time for the maintenance.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "SqlExportOptions": {
      "id": "SqlExportOptions",
      "description": "Options for exporting data in SQL format.",
      "type": "object",
      "properties": {
        "tables": {
          "type": "array",
          "description": "Optional. Tables to export from.",
          "items": {
            "type": "string"
          }
        },
        "schemaOnly": {
          "description": "Optional. If true, only export the schema.",
          "type": "boolean"
        },
        "cleanTargetObjects": {
          "description": "Optional. If true, output commands to DROP all the dumped database objects prior to outputting the commands for creating them.",
          "type": "boolean"
        },
        "ifExistTargetObjects": {
          "type": "boolean",
          "description": "Optional. If true, use DROP ... IF EXISTS commands to check for the object's existence before dropping it in clean_target_objects mode."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration",
      "description": "BackupDRConfiguration to capture the backup and disaster recovery details of database resource.",
      "properties": {
        "backupdrManaged": {
          "type": "boolean",
          "description": "Indicates if the resource is managed by BackupDR."
        }
      }
    },
    "CsvExportOptions": {
      "id": "CsvExportOptions",
      "description": "Options for exporting data in CSV format.",
      "type": "object",
      "properties": {
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "type": "string",
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is the same as quote character. The value of this argument has to be a character in Hex ASCII Code."
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "selectQuery": {
          "description": "Required. The SELECT query used to extract the data.",
          "type": "string"
        }
      }
    },
    "SwitchoverClusterRequest": {
      "id": "SwitchoverClusterRequest",
      "description": "Message for switching over to a cluster",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      }
    },
    "ObservabilityInstanceConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default."
        },
        "preserveComments": {
          "type": "boolean",
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default."
        },
        "recordApplicationTags": {
          "type": "boolean",
          "description": "Record application tags for an instance. This flag is turned \"off\" by default."
        },
        "trackWaitEvents": {
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "format": "int32",
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid.",
          "type": "integer"
        },
        "trackActiveQueries": {
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default.",
          "type": "boolean"
        },
        "trackWaitEventTypes": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API."
        },
        "maxQueryStringLength": {
          "format": "int32",
          "type": "integer",
          "description": "Query string length. The default value is 10k."
        }
      },
      "id": "ObservabilityInstanceConfig",
      "description": "Observability Instance specific configuration.",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonProduct": {
      "properties": {
        "version": {
          "description": "Version of the underlying database engine. Example values: For MySQL, it could be \"8.0\", \"5.7\" etc.. For Postgres, it could be \"14\", \"15\" etc..",
          "type": "string"
        },
        "minorVersion": {
          "description": "Minor version of the underlying database engine. Example values: For MySQL, it could be \"8.0.32\", \"5.7.32\" etc.. For Postgres, it could be \"14.3\", \"15.3\" etc..",
          "type": "string"
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means engine type is not known or available.",
            "MySQL binary running as an engine in the database instance.",
            "MySQL binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "Postgres binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "SQLServer binary running as engine in database instance.",
            "Native database binary running as engine in instance.",
            "Native database binary running as engine in instance.",
            "Cloud Spanner with PostgreSQL dialect.",
            "Cloud Spanner with Google SQL dialect.",
            "Memorystore with Redis dialect.",
            "Memorystore with Redis cluster dialect.",
            "Other refers to rest of other database engine. This is to be when engine is known, but it is not present in this enum.",
            "Firestore with native mode.",
            "Firestore with datastore mode.",
            "Firestore with MongoDB compatibility mode.",
            "Oracle Exadata engine.",
            "Oracle Autonomous DB Serverless engine."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The specific engine that the underlying database is running.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_MYSQL",
            "MYSQL",
            "ENGINE_POSTGRES",
            "POSTGRES",
            "ENGINE_SQL_SERVER",
            "SQL_SERVER",
            "ENGINE_NATIVE",
            "NATIVE",
            "ENGINE_CLOUD_SPANNER_WITH_POSTGRES_DIALECT",
            "ENGINE_CLOUD_SPANNER_WITH_GOOGLESQL_DIALECT",
            "ENGINE_MEMORYSTORE_FOR_REDIS",
            "ENGINE_MEMORYSTORE_FOR_REDIS_CLUSTER",
            "ENGINE_OTHER",
            "ENGINE_FIRESTORE_WITH_NATIVE_MODE",
            "ENGINE_FIRESTORE_WITH_DATASTORE_MODE",
            "ENGINE_FIRESTORE_WITH_MONGODB_COMPATIBILITY_MODE",
            "ENGINE_EXADATA_ORACLE",
            "ENGINE_ADB_SERVERLESS_ORACLE"
          ]
        },
        "type": {
          "description": "Type of specific database product. It could be CloudSQL, AlloyDB etc..",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "PRODUCT_TYPE_UNSPECIFIED",
            "PRODUCT_TYPE_CLOUD_SQL",
            "CLOUD_SQL",
            "PRODUCT_TYPE_ALLOYDB",
            "ALLOYDB",
            "PRODUCT_TYPE_SPANNER",
            "PRODUCT_TYPE_ON_PREM",
            "ON_PREM",
            "PRODUCT_TYPE_MEMORYSTORE",
            "PRODUCT_TYPE_BIGTABLE",
            "PRODUCT_TYPE_FIRESTORE",
            "PRODUCT_TYPE_COMPUTE_ENGINE",
            "PRODUCT_TYPE_ORACLE_ON_GCP",
            "PRODUCT_TYPE_BIGQUERY",
            "PRODUCT_TYPE_OTHER"
          ],
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED means product type is not known or available.",
            "Cloud SQL product area in GCP",
            "Cloud SQL product area in GCP",
            "AlloyDB product area in GCP",
            "AlloyDB product area in GCP",
            "Spanner product area in GCP",
            "On premises database product.",
            "On premises database product.",
            "Memorystore product area in GCP",
            "Bigtable product area in GCP",
            "Firestore product area in GCP.",
            "Compute Engine self managed databases",
            "Oracle product area in GCP",
            "BigQuery product area in GCP",
            "Other refers to rest of other product type. This is to be when product type is known, but it is not present in this enum."
          ]
        }
      },
      "id": "StorageDatabasecenterProtoCommonProduct",
      "description": "Product specification for Condor resources.",
      "type": "object"
    },
    "OperationMetadata": {
      "properties": {
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the operation finished running."
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "upgradeClusterStatus": {
          "readOnly": true,
          "description": "Output only. UpgradeClusterStatus related metadata.",
          "$ref": "UpgradeClusterStatus"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "type": "string"
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "AutomatedBackupPolicy": {
      "id": "AutomatedBackupPolicy",
      "description": "Message describing the user-specified automated backup policy. All fields in the automated backup policy are optional. Defaults for each field are provided if they are not set.",
      "type": "object",
      "properties": {
        "timeBasedRetention": {
          "description": "Time-based Backup retention policy.",
          "$ref": "TimeBasedRetention"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backups with a customer-managed encryption key (CMEK). When this field is not specified, the backup will use the cluster's encryption config.",
          "$ref": "EncryptionConfig"
        },
        "location": {
          "type": "string",
          "description": "The location where the backup will be stored. Currently, the only supported option is to store the backup in the same region as the cluster. If empty, defaults to the region of the cluster."
        },
        "weeklySchedule": {
          "description": "Weekly schedule for the Backup.",
          "$ref": "WeeklySchedule"
        },
        "labels": {
          "description": "Labels to apply to backups created using this configuration.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "enabled": {
          "description": "Whether automated automated backups are enabled. If not set, defaults to true.",
          "type": "boolean"
        },
        "backupWindow": {
          "format": "google-duration",
          "description": "The length of the time window during which a backup can be taken. If a backup does not succeed within this time window, it will be canceled and considered failed. The backup window must be at least 5 minutes long. There is no upper bound on the window. If not set, it defaults to 1 hour.",
          "type": "string"
        },
        "quantityBasedRetention": {
          "description": "Quantity-based Backup retention policy to retain recent backups.",
          "$ref": "QuantityBasedRetention"
        }
      }
    },
    "InstanceUpgradeDetails": {
      "properties": {
        "name": {
          "description": "Normalized name of the instance.",
          "type": "string"
        },
        "instanceType": {
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Instance type."
        },
        "upgradeStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Upgrade status of the instance.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        }
      },
      "type": "object",
      "id": "InstanceUpgradeDetails",
      "description": "Details regarding the upgrade of instances associated with a cluster."
    },
    "ConnectionInfo": {
      "id": "ConnectionInfo",
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "type": "object",
      "properties": {
        "instanceUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique ID of the Instance."
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application."
        }
      }
    },
    "BackupDrInfo": {
      "id": "BackupDrInfo",
      "description": "Information about BackupDR protection for this cluster.",
      "type": "object",
      "properties": {
        "currentWindow": {
          "description": "The current BackupDR configuration for this cluster. If BackupDR protection is not enabled for this cluster, this field will be empty.",
          "$ref": "BackupDrEnabledWindow"
        },
        "previousWindows": {
          "items": {
            "$ref": "BackupDrEnabledWindow"
          },
          "type": "array",
          "description": "Windows during which BackupDR was enabled for this cluster, along with associated configuration for that window. These are used to determine points-in-time for which restores can be performed. The windows are ordered with the most recent window last. Windows are mutally exclusive. Windows which closed more than 1 year ago will be removed from this list."
        }
      }
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "GoogleTypeTimeOfDay": {
      "properties": {
        "hours": {
          "format": "int32",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "type": "object"
    },
    "GoogleCloudLocationLocation": {
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudLocationLocation",
      "description": "A resource that represents a Google Cloud location."
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData": {
      "properties": {
        "lastRefreshTime": {
          "type": "string",
          "description": "Required. Last time signal was refreshed",
          "format": "google-datetime"
        },
        "fullResourceName": {
          "description": "Required. Full Resource name of the source resource.",
          "type": "string"
        },
        "signalType": {
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified signal type.",
            "Outdated Minor Version",
            "Represents database auditing is disabled.",
            "Represents if a database has a password configured for the root account or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a resource version is in extended support.",
            "Represents if a resource has no automated backup policy.",
            "Represents if a resource version is nearing end of life.",
            "Represents if the last backup of a resource is older than 24 hours.",
            "Represents if a resource is not protected by automatic failover."
          ],
          "description": "Required. Signal type of the signal"
        },
        "signalState": {
          "enum": [
            "SIGNAL_STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE",
            "DISMISSED"
          ],
          "description": "Required. Output only. Signal state of the signal",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified signal state.",
            "Signal is active and requires attention.",
            "Signal is inactive and does not require attention.",
            "Signal is dismissed by the user and should not be shown to the user again."
          ]
        },
        "signalBoolValue": {
          "deprecated": true,
          "type": "boolean",
          "description": "Deprecated: Use signal_metadata_list instead."
        },
        "signalMetadataList": {
          "description": "This will support array of OneOf signal metadata information for a given signal type.",
          "type": "array",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainSignalMetadata"
          }
        },
        "resourceId": {
          "description": "Database resource id.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupRun": {
          "description": "Deprecated: Use signal_metadata_list instead.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
      "description": "Database resource signal data. This is used to send signals to Condor which are based on the DB/Instance/Fleet level configurations. These will be used to send signals for all inventory types. Next ID: 9"
    },
    "NetworkConfig": {
      "type": "object",
      "id": "NetworkConfig",
      "description": "Metadata related to network configuration.",
      "properties": {
        "network": {
          "type": "string",
          "description": "Optional. The resource link for the VPC network in which cluster resources are created and from which they are accessible via Private IP. The network must belong to the same project as the cluster. It is specified in the form: `projects/{project_number}/global/networks/{network_id}`. This is required to create a cluster."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "Optional. Name of the allocated IP range for the private IP AlloyDB cluster, for example: \"google-managed-services-default\". If set, the instance IPs for this cluster will be created in the allocated range. The range name must comply with RFC 1035. Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?`. Field name is intended to be consistent with Cloud SQL."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
      "description": "BackupDRMetadata contains information about the backup and disaster recovery metadata of a database resource.",
      "properties": {
        "fullResourceName": {
          "type": "string",
          "description": "Required. Full resource name of this instance."
        },
        "lastRefreshTime": {
          "format": "google-datetime",
          "description": "Required. Last time backup configuration was refreshed.",
          "type": "string"
        },
        "backupdrConfiguration": {
          "description": "BackupDR configuration for this instance.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRConfiguration"
        },
        "resourceId": {
          "description": "Required. Database resource id.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupConfiguration": {
          "description": "Backup configuration for this instance.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration"
        },
        "backupRun": {
          "description": "Latest backup run information for this instance.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun"
        }
      }
    },
    "SqlImportOptions": {
      "properties": {},
      "type": "object",
      "id": "SqlImportOptions",
      "description": "Options for importing data in SQL format."
    },
    "StorageDatabasecenterPartnerapiV1mainMachineConfiguration": {
      "properties": {
        "vcpuCount": {
          "format": "double",
          "description": "Optional. The number of vCPUs. TODO(b/342344482) add proto validations again after bug fix.",
          "type": "number"
        },
        "maxReservationSlots": {
          "format": "int64",
          "description": "Optional. Max slots for BigQuery Reservations. Max slots are in increments of 50.",
          "type": "string"
        },
        "cpuCount": {
          "description": "The number of CPUs. Deprecated. Use vcpu_count instead. TODO(b/342344482) add proto validations again after bug fix.",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "memorySizeInBytes": {
          "format": "int64",
          "description": "Memory size in bytes. TODO(b/342344482) add proto validations again after bug fix.",
          "type": "string"
        },
        "shardCount": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Number of shards (if applicable)."
        },
        "baselineSlots": {
          "format": "int64",
          "description": "Optional. Baseline slots for BigQuery Reservations. Baseline slots are in increments of 50.",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainMachineConfiguration",
      "description": "MachineConfiguration describes the configuration of a machine specific to Database Resource.",
      "type": "object"
    },
    "EncryptionConfig": {
      "properties": {
        "kmsKeyName": {
          "description": "The fully-qualified resource name of the KMS key. Each Cloud KMS key is regionalized and has the following format: projects/[PROJECT]/locations/[REGION]/keyRings/[RING]/cryptoKeys/[KEY_NAME]",
          "type": "string"
        }
      },
      "id": "EncryptionConfig",
      "description": "EncryptionConfig describes the encryption config of a cluster or a backup that is encrypted with a CMEK (customer-managed encryption key).",
      "type": "object"
    },
    "CloudSQLBackupRunSource": {
      "properties": {
        "project": {
          "type": "string",
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project."
        },
        "backupRunId": {
          "format": "int64",
          "type": "string",
          "description": "Required. The CloudSQL backup run ID."
        },
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        }
      },
      "id": "CloudSQLBackupRunSource",
      "description": "The source CloudSQL backup resource.",
      "type": "object"
    },
    "PscConfig": {
      "properties": {
        "serviceOwnedProjectNumber": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The project number that needs to be allowlisted on the network attachment to enable outbound connectivity.",
          "type": "string"
        },
        "pscEnabled": {
          "description": "Optional. Create an instance that allows connections from Private Service Connect endpoints to the instance.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "PscConfig",
      "description": "PscConfig contains PSC related configuration at a cluster level."
    },
    "QuantityBasedExpiry": {
      "type": "object",
      "id": "QuantityBasedExpiry",
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "properties": {
        "totalRetentionCount": {
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "retentionCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first).",
          "type": "integer"
        }
      }
    },
    "BackupDrBackupSource": {
      "id": "BackupDrBackupSource",
      "description": "Message describing a BackupDrBackupSource.",
      "type": "object",
      "properties": {
        "backup": {
          "type": "string",
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3.",
      "properties": {
        "entitlementState": {
          "description": "The current state of user's accessibility to a feature/benefit.",
          "type": "string",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ],
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ]
        },
        "type": {
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "description": "An enum that represents the type of this entitlement.",
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ]
        }
      }
    },
    "DataplexConfig": {
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\""
        }
      },
      "type": "object",
      "id": "DataplexConfig",
      "description": "Configuration for Dataplex integration."
    },
    "Instance": {
      "properties": {
        "nodes": {
          "description": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Node"
          }
        },
        "clientConnectionConfig": {
          "description": "Optional. Client connection specific configurations",
          "$ref": "ClientConnectionConfig"
        },
        "reconciling": {
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance.",
          "type": "boolean",
          "readOnly": true
        },
        "machineConfig": {
          "description": "Configurations for the machines that host the underlying database engine.",
          "$ref": "MachineConfig"
        },
        "ipAddress": {
          "type": "string",
          "description": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application.",
          "readOnly": true
        },
        "observabilityConfig": {
          "description": "Configuration for observability.",
          "$ref": "ObservabilityInstanceConfig"
        },
        "availabilityType": {
          "description": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional (or Highly) available instance."
          ],
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Delete time stamp"
        },
        "networkConfig": {
          "description": "Optional. Instance-level network configuration.",
          "$ref": "InstanceNetworkConfig"
        },
        "dataApiAccess": {
          "enum": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES",
            "DISABLED",
            "ENABLED"
          ],
          "description": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well.",
          "type": "string",
          "enumDescriptions": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES is a default value that allows Google internal services like AlloyDB Studio to access the instance.",
            "Data API access is disabled for this instance.",
            "Data API access is enabled for this instance. For private IP instances, this allows authorized users to access the instance from the public internet using the ExecuteSql API."
          ]
        },
        "instanceType": {
          "type": "string",
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Required. The type of the instance. Specified at creation time.",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ]
        },
        "annotations": {
          "type": "object",
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "additionalProperties": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Update time stamp"
        },
        "queryInsightsConfig": {
          "description": "Configuration for query insights.",
          "$ref": "QueryInsightsInstanceConfig"
        },
        "writableNode": {
          "description": "Output only. This is set for the read-write VM of the PRIMARY instance only.",
          "$ref": "Node",
          "readOnly": true
        },
        "databaseFlags": {
          "type": "object",
          "description": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "etag": {
          "type": "string",
          "description": "For Resource freshness validation (https://google.aip.dev/154)"
        },
        "uid": {
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted.",
          "readOnly": true
        },
        "gceZone": {
          "type": "string",
          "description": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity."
        },
        "outboundPublicIpAddresses": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. All outbound public IP addresses configured for the instance.",
          "type": "array"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs",
          "additionalProperties": {
            "type": "string"
          }
        },
        "maintenanceVersionName": {
          "readOnly": true,
          "description": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s).",
          "type": "string"
        },
        "pscInstanceConfig": {
          "description": "Optional. The configuration for Private Service Connect (PSC) for the instance.",
          "$ref": "PscInstanceConfig"
        },
        "connectionPoolConfig": {
          "description": "Optional. The configuration for Managed Connection Pool (MCP).",
          "$ref": "ConnectionPoolConfig"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string"
        },
        "publicIpAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "CREATING",
            "DELETING",
            "MAINTENANCE",
            "FAILED",
            "BOOTSTRAPPING",
            "PROMOTING",
            "SWITCHOVER",
            "STOPPING",
            "STARTING"
          ],
          "description": "Output only. The current serving state of the instance.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is active and running.",
            "The instance is stopped. Instance name and IP resources are preserved.",
            "The instance is being created.",
            "The instance is being deleted.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during an operation on the instance. Note: Instances in this state would tried to be auto-repaired. And Customers should be able to restart, update or delete these instances.",
            "The instance has been configured to sync data from some other source.",
            "The instance is being promoted.",
            "The instance has entered switchover state. All updates on instance are restricted while the instance is in this state.",
            "The instance is being stopped.",
            "The instance is being started."
          ]
        },
        "activationPolicy": {
          "type": "string",
          "enumDescriptions": [
            "The policy is not specified.",
            "The instance is running.",
            "The instance is not running."
          ],
          "description": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details.",
          "enum": [
            "ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ]
        },
        "displayName": {
          "type": "string",
          "description": "User-settable and human-readable display name for the Instance."
        },
        "satisfiesPzs": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "readPoolConfig": {
          "description": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL.",
          "$ref": "ReadPoolConfig"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Create time stamp",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Instance",
      "description": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB."
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "For double value",
          "type": "number"
        },
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "For integer value"
        },
        "stringValue": {
          "description": "For string value",
          "type": "string"
        }
      },
      "id": "StorageDatabasecenterProtoCommonTypedValue",
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "type": "object"
    },
    "MigrationSource": {
      "id": "MigrationSource",
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "type": "object",
      "properties": {
        "sourceType": {
          "type": "string",
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "readOnly": true,
          "description": "Output only. Type of migration source.",
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ]
        },
        "referenceId": {
          "type": "string",
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "readOnly": true
        },
        "hostPort": {
          "type": "string",
          "description": "Output only. The host and port of the on-premises instance in host:port format",
          "readOnly": true
        }
      }
    },
    "TrialMetadata": {
      "properties": {
        "graceEndTime": {
          "format": "google-datetime",
          "description": "grace end time of the cluster.",
          "type": "string"
        },
        "upgradeTime": {
          "type": "string",
          "description": "Upgrade time of trial cluster to Standard cluster.",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "End time of the trial cluster.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "start time of the trial cluster."
        }
      },
      "type": "object",
      "id": "TrialMetadata",
      "description": "Contains information and all metadata related to TRIAL clusters."
    },
    "PromoteClusterRequest": {
      "type": "object",
      "id": "PromoteClusterRequest",
      "description": "Message for promoting a Cluster",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request."
        },
        "etag": {
          "type": "string",
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, deletion will be blocked and an ABORTED error will be returned."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration": {
      "properties": {
        "gcbdrManaged": {
          "type": "boolean",
          "description": "Whether the resource is managed by GCBDR."
        }
      },
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
      "description": "GCBDR Configuration for the resource."
    },
    "ListClustersResponse": {
      "type": "object",
      "id": "ListClustersResponse",
      "description": "Message for response to listing Clusters",
      "properties": {
        "clusters": {
          "type": "array",
          "description": "The list of Cluster",
          "items": {
            "$ref": "Cluster"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ReadPoolConfig": {
      "properties": {
        "nodeCount": {
          "format": "int32",
          "type": "integer",
          "description": "Read capacity, i.e. number of nodes in a read pool instance."
        }
      },
      "id": "ReadPoolConfig",
      "description": "Configuration for a read pool instance.",
      "type": "object"
    },
    "PscInstanceConfig": {
      "properties": {
        "pscDnsName": {
          "readOnly": true,
          "description": "Output only. The DNS name of the instance for PSC connectivity. Name convention: ...alloydb-psc.goog",
          "type": "string"
        },
        "pscAutoConnections": {
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. Configurations for setting up PSC service automation.",
          "type": "array"
        },
        "serviceAttachmentLink": {
          "description": "Output only. The service attachment created when Private Service Connect (PSC) is enabled for the instance. The name of the resource will be in the format of `projects//regions//serviceAttachments/`",
          "type": "string",
          "readOnly": true
        },
        "allowedConsumerProjects": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of consumer projects that are allowed to create PSC endpoints to service-attachments to this instance."
        },
        "pscInterfaceConfigs": {
          "items": {
            "$ref": "PscInterfaceConfig"
          },
          "description": "Optional. Configurations for setting up PSC interfaces attached to the instance which are used for outbound connectivity. Only primary instances can have PSC interface attached. Currently we only support 0 or 1 PSC interface.",
          "type": "array"
        }
      },
      "id": "PscInstanceConfig",
      "description": "PscInstanceConfig contains PSC related configuration at an instance level.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "The signal requires attention and has not been addressed yet.",
            "The signal has been fixed, triaged as a non-issue or otherwise addressed and is no longer active.",
            "The signal has been muted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "RESOLVED",
            "MUTED"
          ]
        },
        "additionalMetadata": {
          "description": "Any other additional metadata",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "type": "object"
        },
        "externalUri": {
          "type": "string",
          "description": "The external-uri of the signal, using which more information about this signal can be obtained. In GCP, this will take user to SCC page to get more details about signals."
        },
        "signalId": {
          "description": "Required. Unique identifier for the signal. This is an unique id which would be mainatined by partner to identify a signal.",
          "type": "string"
        },
        "resourceName": {
          "type": "string",
          "description": "Required. Database resource name associated with the signal. Resource name to follow CAIS resource_name format as noted here go/condor-common-datamodel"
        },
        "location": {
          "type": "string",
          "description": "This is used to identify the location of the resource. Example: \"us-central1\""
        },
        "name": {
          "description": "Required. The name of the signal, ex: PUBLIC_SQL_INSTANCE, SQL_LOG_ERROR_VERBOSITY etc.",
          "type": "string"
        },
        "signalType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Represents if a resource is protected by automatic failover. Checks for resources that are configured to have redundancy within a region that enables automatic failover.",
            "Represents if a group is replicating across regions. Checks for resources that are configured to have redundancy, and ongoing replication, across regions.",
            "Represents if the resource is available in multiple zones or not.",
            "Represents if a resource is available in multiple regions.",
            "Represents if a resource has a promotable replica.",
            "Represents if a resource has an automated backup policy.",
            "Represents if a resources has a short backup retention period.",
            "Represents if the last backup of a resource failed.",
            "Represents if the last backup of a resource is older than some threshold value.",
            "Represents if a resource violates CIS GCP Foundation 2.0.",
            "Represents if a resource violates CIS GCP Foundation 1.3.",
            "Represents if a resource violates CIS GCP Foundation 1.2.",
            "Represents if a resource violates CIS GCP Foundation 1.1.",
            "Represents if a resource violates CIS GCP Foundation 1.0.",
            "Represents if a resource violates CIS Controls 8.0.",
            "Represents if a resource violates NIST 800-53.",
            "Represents if a resource violates NIST 800-53 R5.",
            "Represents if a resource violates NIST Cybersecurity Framework 1.0.",
            "Represents if a resource violates ISO-27001.",
            "Represents if a resource violates ISO 27001 2022.",
            "Represents if a resource violates PCI-DSS v3.2.1.",
            "Represents if a resource violates PCI-DSS v4.0.",
            "Represents if a resource violates Cloud Controls Matrix v4.0.",
            "Represents if a resource violates HIPAA.",
            "Represents if a resource violates SOC2 v2017.",
            "Represents if log_checkpoints database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_duration database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_error_verbosity database flag for a Cloud SQL for PostgreSQL instance is not set to default or stricter (default or terse).",
            "Represents if the log_lock_waits database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance is not set appropriately.",
            "Represents if the log_min_error_statement database flag for a Cloud SQL for PostgreSQL instance does not have an appropriate severity level.",
            "Represents if the log_min_messages database flag for a Cloud SQL for PostgreSQL instance is not set to warning or another recommended value.",
            "Represents if the databaseFlags property of instance metadata for the log_executor_status field is set to on.",
            "Represents if the log_hostname database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_parser_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_planner_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_statement database flag for a Cloud SQL for PostgreSQL instance is not set to DDL (all data definition statements).",
            "Represents if the log_statement_stats database flag for a Cloud SQL for PostgreSQL instance is not set to off.",
            "Represents if the log_temp_files database flag for a Cloud SQL for PostgreSQL instance is not set to \"0\". (NOTE: 0 = ON)",
            "Represents if the user connections database flag for a Cloud SQL for SQL Server instance is configured.",
            "Represents if the user options database flag for Cloud SQL SQL Server instance is configured or not.",
            "Represents if a resource is exposed to public access.",
            "Represents if a resources requires all incoming connections to use SSL or not.",
            "Represents if a Cloud SQL database has a password configured for the root account or not.",
            "Represents if a Cloud SQL database has a weak password configured for the root account.",
            "Represents if a SQL database instance is not encrypted with customer-managed encryption keys (CMEK).",
            "Represents if The contained database authentication database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the cross_db_ownership_chaining database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if he external scripts enabled database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the local_infile database flag for a Cloud SQL for MySQL instance is not set to off.",
            "Represents if the log_connections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_disconnections database flag for a Cloud SQL for PostgreSQL instance is not set to on.",
            "Represents if the log_min_duration_statement database flag for a Cloud SQL for PostgreSQL instance is not set to -1.",
            "Represents if the remote access database flag for a Cloud SQL for SQL Server instance is not set to off.",
            "Represents if the skip_show_database database flag for a Cloud SQL for MySQL instance is not set to on.",
            "Represents if the 3625 (trace flag) database flag for a Cloud SQL for SQL Server instance is not set to on.",
            "Represents if public IP is enabled.",
            "Represents Idle instance helps to reduce costs.",
            "Represents instances that are unnecessarily large for given workload.",
            "Represents high number of concurrently opened tables.",
            "Represents high table count close to SLA limit.",
            "Represents high number of unvacuumed transactions",
            "Represents need for more CPU and/or memory",
            "Represents out of disk.",
            "Represents server certificate is near expiry.",
            "Represents database auditing is disabled.",
            "Represents not restricted to authorized networks.",
            "Represents violate org policy restrict public ip.",
            "Cluster nearing quota limit",
            "No password policy set on resources",
            "Performance impact of connections settings",
            "Performance impact of temporary tables settings",
            "Performance impact of transaction logs settings",
            "Performance impact of high joins without indexes",
            "Detects events where a Cloud SQL superuser (postgres for PostgreSQL servers or root for MySQL users) writes to non-system tables.",
            "Detects events where a database user or role has been granted all privileges to a database, or to all tables, procedures, or functions in a schema.",
            "Detects if database instance data exported to a Cloud Storage bucket outside of the organization.",
            "Detects if database instance data exported to a Cloud Storage bucket that is owned by the organization and is publicly accessible.",
            "Detects if a database instance is using a weak password hash algorithm.",
            "Detects if a database instance has no user password policy set.",
            "Detects if a database instance/cluster has a hot node.",
            "Detects if a database instance has no point in time recovery enabled.",
            "Detects if a database instance/cluster is suspended.",
            "Detects that expensive commands are being run on a database instance impacting overall performance.",
            "Indicates that the instance does not have a maintenance policy configured.",
            "Deletion Protection Disabled for the resource",
            "Indicates that the instance has inefficient queries detected.",
            "Indicates that the instance has read intensive workload.",
            "Indicates that the instance is nearing memory limit.",
            "Indicates that the instance's max server memory is configured higher than the recommended value.",
            "Indicates that the database has large rows beyond the recommended limit.",
            "Heavy write pressure on the database rows.",
            "Heavy read pressure on the database rows.",
            "Encryption org policy not satisfied.",
            "Location org policy not satisfied.",
            "Outdated DB minor version.",
            "Schema not optimized.",
            "High number of idle connections.",
            "Replication delay.",
            "Outdated version.",
            "Outdated client.",
            "Databoost is disabled.",
            "Recommended maintenance policy.",
            "Resource version is in extended support.",
            "Change in performance KPIs.",
            "Database version nearing end of life."
          ],
          "enum": [
            "SIGNAL_TYPE_UNSPECIFIED",
            "SIGNAL_TYPE_NOT_PROTECTED_BY_AUTOMATIC_FAILOVER",
            "SIGNAL_TYPE_GROUP_NOT_REPLICATING_ACROSS_REGIONS",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_ZONES",
            "SIGNAL_TYPE_NOT_AVAILABLE_IN_MULTIPLE_REGIONS",
            "SIGNAL_TYPE_NO_PROMOTABLE_REPLICA",
            "SIGNAL_TYPE_NO_AUTOMATED_BACKUP_POLICY",
            "SIGNAL_TYPE_SHORT_BACKUP_RETENTION",
            "SIGNAL_TYPE_LAST_BACKUP_FAILED",
            "SIGNAL_TYPE_LAST_BACKUP_OLD",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_2_0",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_3",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_2",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_1",
            "SIGNAL_TYPE_VIOLATES_CIS_GCP_FOUNDATION_1_0",
            "SIGNAL_TYPE_VIOLATES_CIS_CONTROLS_V8_0",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53",
            "SIGNAL_TYPE_VIOLATES_NIST_800_53_R5",
            "SIGNAL_TYPE_VIOLATES_NIST_CYBERSECURITY_FRAMEWORK_V1_0",
            "SIGNAL_TYPE_VIOLATES_ISO_27001",
            "SIGNAL_TYPE_VIOLATES_ISO_27001_V2022",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V3_2_1",
            "SIGNAL_TYPE_VIOLATES_PCI_DSS_V4_0",
            "SIGNAL_TYPE_VIOLATES_CLOUD_CONTROLS_MATRIX_V4",
            "SIGNAL_TYPE_VIOLATES_HIPAA",
            "SIGNAL_TYPE_VIOLATES_SOC2_V2017",
            "SIGNAL_TYPE_LOGS_NOT_OPTIMIZED_FOR_TROUBLESHOOTING",
            "SIGNAL_TYPE_QUERY_DURATIONS_NOT_LOGGED",
            "SIGNAL_TYPE_VERBOSE_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_LOCK_WAITS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_MOST_ERRORS",
            "SIGNAL_TYPE_LOGGING_ONLY_CRITICAL_ERRORS",
            "SIGNAL_TYPE_MINIMAL_ERROR_LOGGING",
            "SIGNAL_TYPE_QUERY_STATISTICS_LOGGED",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_CLIENT_HOSTNAME",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PARSER_STATISTICS",
            "SIGNAL_TYPE_EXCESSIVE_LOGGING_OF_PLANNER_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_ONLY_DDL_STATEMENTS",
            "SIGNAL_TYPE_LOGGING_QUERY_STATISTICS",
            "SIGNAL_TYPE_NOT_LOGGING_TEMPORARY_FILES",
            "SIGNAL_TYPE_CONNECTION_MAX_NOT_CONFIGURED",
            "SIGNAL_TYPE_USER_OPTIONS_CONFIGURED",
            "SIGNAL_TYPE_EXPOSED_TO_PUBLIC_ACCESS",
            "SIGNAL_TYPE_UNENCRYPTED_CONNECTIONS",
            "SIGNAL_TYPE_NO_ROOT_PASSWORD",
            "SIGNAL_TYPE_WEAK_ROOT_PASSWORD",
            "SIGNAL_TYPE_ENCRYPTION_KEY_NOT_CUSTOMER_MANAGED",
            "SIGNAL_TYPE_SERVER_AUTHENTICATION_NOT_REQUIRED",
            "SIGNAL_TYPE_EXPOSED_BY_OWNERSHIP_CHAINING",
            "SIGNAL_TYPE_EXPOSED_TO_EXTERNAL_SCRIPTS",
            "SIGNAL_TYPE_EXPOSED_TO_LOCAL_DATA_LOADS",
            "SIGNAL_TYPE_CONNECTION_ATTEMPTS_NOT_LOGGED",
            "SIGNAL_TYPE_DISCONNECTIONS_NOT_LOGGED",
            "SIGNAL_TYPE_LOGGING_EXCESSIVE_STATEMENT_INFO",
            "SIGNAL_TYPE_EXPOSED_TO_REMOTE_ACCESS",
            "SIGNAL_TYPE_DATABASE_NAMES_EXPOSED",
            "SIGNAL_TYPE_SENSITIVE_TRACE_INFO_NOT_MASKED",
            "SIGNAL_TYPE_PUBLIC_IP_ENABLED",
            "SIGNAL_TYPE_IDLE",
            "SIGNAL_TYPE_OVERPROVISIONED",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_OPEN_TABLES",
            "SIGNAL_TYPE_HIGH_NUMBER_OF_TABLES",
            "SIGNAL_TYPE_HIGH_TRANSACTION_ID_UTILIZATION",
            "SIGNAL_TYPE_UNDERPROVISIONED",
            "SIGNAL_TYPE_OUT_OF_DISK",
            "SIGNAL_TYPE_SERVER_CERTIFICATE_NEAR_EXPIRY",
            "SIGNAL_TYPE_DATABASE_AUDITING_DISABLED",
            "SIGNAL_TYPE_RESTRICT_AUTHORIZED_NETWORKS",
            "SIGNAL_TYPE_VIOLATE_POLICY_RESTRICT_PUBLIC_IP",
            "SIGNAL_TYPE_QUOTA_LIMIT",
            "SIGNAL_TYPE_NO_PASSWORD_POLICY",
            "SIGNAL_TYPE_CONNECTIONS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TMP_TABLES_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_TRANS_LOGS_PERFORMANCE_IMPACT",
            "SIGNAL_TYPE_HIGH_JOINS_WITHOUT_INDEXES",
            "SIGNAL_TYPE_SUPERUSER_WRITING_TO_USER_TABLES",
            "SIGNAL_TYPE_USER_GRANTED_ALL_PERMISSIONS",
            "SIGNAL_TYPE_DATA_EXPORT_TO_EXTERNAL_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_DATA_EXPORT_TO_PUBLIC_CLOUD_STORAGE_BUCKET",
            "SIGNAL_TYPE_WEAK_PASSWORD_HASH_ALGORITHM",
            "SIGNAL_TYPE_NO_USER_PASSWORD_POLICY",
            "SIGNAL_TYPE_HOT_NODE",
            "SIGNAL_TYPE_NO_POINT_IN_TIME_RECOVERY",
            "SIGNAL_TYPE_RESOURCE_SUSPENDED",
            "SIGNAL_TYPE_EXPENSIVE_COMMANDS",
            "SIGNAL_TYPE_NO_MAINTENANCE_POLICY_CONFIGURED",
            "SIGNAL_TYPE_NO_DELETION_PROTECTION",
            "SIGNAL_TYPE_INEFFICIENT_QUERY",
            "SIGNAL_TYPE_READ_INTENSIVE_WORKLOAD",
            "SIGNAL_TYPE_MEMORY_LIMIT",
            "SIGNAL_TYPE_MAX_SERVER_MEMORY",
            "SIGNAL_TYPE_LARGE_ROWS",
            "SIGNAL_TYPE_HIGH_WRITE_PRESSURE",
            "SIGNAL_TYPE_HIGH_READ_PRESSURE",
            "SIGNAL_TYPE_ENCRYPTION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_LOCATION_ORG_POLICY_NOT_SATISFIED",
            "SIGNAL_TYPE_OUTDATED_MINOR_VERSION",
            "SIGNAL_TYPE_SCHEMA_NOT_OPTIMIZED",
            "SIGNAL_TYPE_MANY_IDLE_CONNECTIONS",
            "SIGNAL_TYPE_REPLICATION_LAG",
            "SIGNAL_TYPE_OUTDATED_VERSION",
            "SIGNAL_TYPE_OUTDATED_CLIENT",
            "SIGNAL_TYPE_DATABOOST_DISABLED",
            "SIGNAL_TYPE_RECOMMENDED_MAINTENANCE_POLICIES",
            "SIGNAL_TYPE_EXTENDED_SUPPORT",
            "SIGNAL_TYPE_PERFORMANCE_KPI_CHANGE",
            "SIGNAL_TYPE_VERSION_NEARING_END_OF_LIFE"
          ],
          "description": "Required. Type of signal, for example, `AVAILABLE_IN_MULTIPLE_ZONES`, `LOGGING_MOST_ERRORS`, etc.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "resourceContainer": {
          "description": "Closest parent container of this resource. In GCP, 'container' refers to a Cloud Resource Manager project. It must be resource name of a Cloud Resource Manager project with the format of \"provider//\", such as \"projects/123\". For GCP provided resources, number should be project number.",
          "type": "string"
        },
        "compliance": {
          "type": "array",
          "description": "Industry standards associated with this signal; if this signal is an issue, that could be a violation of the associated industry standard(s). For example, AUTO_BACKUP_DISABLED signal is associated with CIS GCP 1.1, CIS GCP 1.2, CIS GCP 1.3, NIST 800-53 and ISO-27001 compliance standards. If a database resource does not have automated backup enable, it will violate these following industry standards.",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainCompliance"
          }
        },
        "signalSeverity": {
          "enum": [
            "SIGNAL_SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity of the signal, such as if it's a HIGH or LOW severity.",
          "type": "string",
          "enumDescriptions": [
            "This value is used for findings when a source doesn't write a severity value.",
            "A critical vulnerability is easily discoverable by an external actor, exploitable.",
            "A high risk vulnerability can be easily discovered and exploited in combination with other vulnerabilities.",
            "A medium risk vulnerability could be used by an actor to gain access to resources or privileges that enable them to eventually gain access and the ability to execute arbitrary code or exfiltrate data.",
            "A low risk vulnerability hampers a security organization's ability to detect vulnerabilities or active threats in their deployment."
          ]
        },
        "description": {
          "description": "Description associated with signal",
          "type": "string"
        },
        "signalClass": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified signal class.",
            "Describes unwanted or malicious activity.",
            "Describes a potential weakness in software that increases risk to Confidentiality & Integrity & Availability.",
            "Describes a potential weakness in cloud resource/asset configuration that increases risk.",
            "Describes a security observation that is for informational purposes.",
            "Describes an error that prevents some SCC functionality."
          ],
          "description": "Required. The class of the signal, such as if it's a THREAT or VULNERABILITY.",
          "enum": [
            "CLASS_UNSPECIFIED",
            "THREAT",
            "VULNERABILITY",
            "MISCONFIGURATION",
            "OBSERVATION",
            "ERROR"
          ]
        },
        "eventTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The last time at which the event described by this signal took place"
        },
        "provider": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Google cloud platform provider",
            "Amazon web service",
            "Azure web service",
            "On-prem database resources.",
            "Self-managed database provider. These are resources on a cloud platform, e.g., database resource installed in a GCE VM, but not a managed database service.",
            "For the rest of the other categories. Other refers to the rest of other database service providers, this could be smaller cloud provider. This needs to be provided when the provider is known, but it is not present in the existing set of enum values."
          ],
          "description": "Cloud provider name. Ex: GCP/AWS/Azure/OnPrem/SelfManaged",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "GCP",
            "AWS",
            "AZURE",
            "ONPREM",
            "SELFMANAGED",
            "PROVIDER_OTHER"
          ]
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData",
      "description": "Common model for database resource health signal data.",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "properties": {
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        },
        "availabilityType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ]
        },
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "type": "boolean"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration",
      "description": "Configuration for availability of database instance",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainRetentionSettings": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
      "properties": {
        "timeBasedRetention": {
          "deprecated": true,
          "format": "google-duration",
          "type": "string"
        },
        "durationBasedRetention": {
[...]
