{
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "canonicalName": "Cloud AlloyDB Admin",
  "discoveryVersion": "v1",
  "revision": "20260226",
  "ownerDomain": "google.com",
  "schemas": {
    "QueryInsightsInstanceConfig": {
      "description": "QueryInsights Instance specific configuration.",
      "properties": {
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"on\" by default.",
          "type": "boolean"
        },
        "queryStringLength": {
          "type": "integer",
          "format": "uint32",
          "description": "Query string length. The default value is 1024. Any integer between 256 and 4500 is considered valid."
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 5. Any integer between 0 and 20 is considered valid.",
          "type": "integer",
          "format": "uint32"
        },
        "recordClientAddress": {
          "description": "Record client address for an instance. Client address is PII information. This flag is turned \"on\" by default.",
          "type": "boolean"
        }
      },
      "id": "QueryInsightsInstanceConfig",
      "type": "object"
    },
    "TrialMetadata": {
      "description": "Contains information and all metadata related to TRIAL clusters.",
      "properties": {
        "graceEndTime": {
          "description": "grace end time of the cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "start time of the trial cluster."
        },
        "endTime": {
          "description": "End time of the trial cluster.",
          "type": "string",
          "format": "google-datetime"
        },
        "upgradeTime": {
          "description": "Upgrade time of trial cluster to Standard cluster.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "TrialMetadata",
      "type": "object"
    },
    "BackupDrBackupSource": {
      "description": "Message describing a BackupDrBackupSource.",
      "properties": {
        "backup": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}/backups/{backup_id}",
          "type": "string"
        }
      },
      "id": "BackupDrBackupSource",
      "type": "object"
    },
    "ObservabilityInstanceConfig": {
      "type": "object",
      "id": "ObservabilityInstanceConfig",
      "description": "Observability Instance specific configuration.",
      "properties": {
        "assistiveExperiencesEnabled": {
          "description": "Whether assistive experiences are enabled for this AlloyDB instance.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Observability feature status for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        },
        "preserveComments": {
          "description": "Preserve comments in query string for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        },
        "trackWaitEvents": {
          "description": "Track wait events during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on.",
          "type": "boolean"
        },
        "trackWaitEventTypes": {
          "description": "Output only. Track wait event types during query execution for an instance. This flag is turned \"on\" by default but tracking is enabled only after observability enabled flag is also turned on. This is read-only flag and only modifiable by internal API.",
          "type": "boolean",
          "readOnly": true
        },
        "trackClientAddress": {
          "description": "Track client address for an instance. If not set, default value is \"off\".",
          "type": "boolean"
        },
        "recordApplicationTags": {
          "description": "Record application tags for an instance. This flag is turned \"off\" by default.",
          "type": "boolean"
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. The default value is 200. Any integer between 0 to 200 is considered valid.",
          "type": "integer",
          "format": "int32"
        },
        "maxQueryStringLength": {
          "type": "integer",
          "format": "int32",
          "description": "Query string length. The default value is 10k."
        },
        "trackActiveQueries": {
          "description": "Track actively running queries on the instance. If not set, this flag is \"off\" by default.",
          "type": "boolean"
        },
        "trackActiveQueryPlan": {
          "description": "Indicates whether to track active query plans for an instance. If not set, the default value is \"off\". Can only be enabled if track_active_queries is enabled.",
          "type": "boolean"
        }
      }
    },
    "GoogleTypeDate": {
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GoogleTypeDate"
    },
    "PscAutoConnectionConfig": {
      "type": "object",
      "description": "Configuration for setting up PSC service automation. Consumer projects in the configs will be allowlisted automatically for the instance.",
      "properties": {
        "ipAddress": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The IP address of the PSC service automation endpoint."
        },
        "consumerNetwork": {
          "description": "The consumer network for the PSC service automation, example: \"projects/vpc-host-project/global/networks/default\". The consumer network might be hosted a different project than the consumer project.",
          "type": "string"
        },
        "consumerNetworkStatus": {
          "description": "Output only. The status of the service connection policy. Possible values: \"STATE_UNSPECIFIED\" - Default state, when Connection Map is created initially. \"VALID\" - Set when policy and map configuration is valid, and their matching can lead to allowing creation of PSC Connections subject to other constraints like connections limit. \"CONNECTION_POLICY_MISSING\" - No Service Connection Policy found for this network and Service Class \"POLICY_LIMIT_REACHED\" - Service Connection Policy limit reached for this network and Service Class \"CONSUMER_INSTANCE_PROJECT_NOT_ALLOWLISTED\" - The consumer instance project is not in AllowedGoogleProducersResourceHierarchyLevels of the matching ServiceConnectionPolicy.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The status of the PSC service automation connection. Possible values: \"STATE_UNSPECIFIED\" - An invalid state as the default case. \"ACTIVE\" - The connection has been created successfully. \"FAILED\" - The connection is not functional since some resources on the connection fail to be created. \"CREATING\" - The connection is being created. \"DELETING\" - The connection is being deleted. \"CREATE_REPAIRING\" - The connection is being repaired to complete creation. \"DELETE_REPAIRING\" - The connection is being repaired to complete deletion."
        },
        "consumerProject": {
          "description": "The consumer project to which the PSC service automation endpoint will be created.",
          "type": "string"
        }
      },
      "id": "PscAutoConnectionConfig"
    },
    "SecondaryConfig": {
      "type": "object",
      "id": "SecondaryConfig",
      "description": "Configuration information for the secondary cluster. This should be set if and only if the cluster is of type SECONDARY.",
      "properties": {
        "primaryClusterName": {
          "description": "The name of the primary cluster name with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}",
          "type": "string"
        }
      }
    },
    "TimeBasedRetention": {
      "type": "object",
      "description": "A time based retention policy specifies that all backups within a certain time period should be retained.",
      "properties": {
        "retentionPeriod": {
          "description": "The retention period.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "TimeBasedRetention"
    },
    "GeminiClusterConfig": {
      "id": "GeminiClusterConfig",
      "description": "Deprecated and unused. This message will be removed in the near future.",
      "properties": {
        "entitled": {
          "deprecated": true,
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Deprecated and unused. This field will be removed in the near future."
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running."
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "statusMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "upgradeClusterStatus": {
          "$ref": "UpgradeClusterStatus",
          "description": "Output only. UpgradeClusterStatus related metadata.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation."
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration": {
      "type": "object",
      "description": "Configuration for availability of database instance",
      "properties": {
        "automaticFailoverRoutingConfigured": {
          "description": "Checks for existence of (multi-cluster) routing configuration that allows automatic failover to a different zone/region in case of an outage. Applicable to Bigtable resources.",
          "type": "boolean"
        },
        "crossRegionReplicaConfigured": {
          "description": "Checks for resources that are configured to have redundancy, and ongoing replication across regions",
          "type": "boolean"
        },
        "externalReplicaConfigured": {
          "type": "boolean"
        },
        "promotableReplicaConfigured": {
          "type": "boolean"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available).",
          "enumDescriptions": [
            "",
            "Zonal available instance.",
            "Regional available instance.",
            "Multi regional instance",
            "For rest of the other category"
          ],
          "type": "string",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL",
            "AVAILABILITY_TYPE_OTHER"
          ]
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainAvailabilityConfiguration"
    },
    "CloudSQLBackupRunSource": {
      "type": "object",
      "id": "CloudSQLBackupRunSource",
      "description": "The source CloudSQL backup resource.",
      "properties": {
        "instanceId": {
          "description": "Required. The CloudSQL instance ID.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the source CloudSQL instance. This should be the same as the AlloyDB cluster's project.",
          "type": "string"
        },
        "backupRunId": {
          "type": "string",
          "format": "int64",
          "description": "Required. The CloudSQL backup run ID."
        }
      }
    },
    "RestartInstanceRequest": {
      "id": "RestartInstanceRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "nodeIds": {
          "description": "Optional. Full name of the nodes as obtained from INSTANCE_VIEW_FULL to restart upon. Applicable only to read instances.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainUpcomingMaintenance",
      "description": "Upcoming maintenance for the database resource. This is generated by SLM once the upcoming maintenance schedule is published.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. The start time of the upcoming maintenance."
        },
        "endTime": {
          "description": "Optional. The end time of the upcoming maintenance.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "StageInfo": {
      "type": "object",
      "description": "Stage information for different stages in the upgrade process.",
      "properties": {
        "logsUrl": {
          "description": "logs_url is the URL for the logs associated with a stage if that stage has logs. Right now, only three stages have logs: ALLOYDB_PRECHECK, PG_UPGRADE_CHECK, PRIMARY_INSTANCE_UPGRADE.",
          "type": "string"
        },
        "stage": {
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ],
          "description": "The stage.",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "description": "Status of the stage.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ]
        }
      },
      "id": "StageInfo"
    },
    "SupportedDatabaseFlag": {
      "description": "SupportedDatabaseFlag gives general information about a database flag, like type and allowed values. This is a static value that is defined on the server side, and it cannot be modified by callers. To set the Database flags on a particular Instance, a caller should modify the Instance.database_flags field.",
      "properties": {
        "recommendedIntegerValue": {
          "description": "The recommended value for an INTEGER flag.",
          "type": "string",
          "format": "int64"
        },
        "supportedDbVersions": {
          "description": "Major database engine versions for which this flag is supported.",
          "items": {
            "enumDescriptions": [
              "This is an unknown database version.",
              "DEPRECATED - The database version is Postgres 13.",
              "The database version is Postgres 14.",
              "The database version is Postgres 15.",
              "The database version is Postgres 16.",
              "The database version is Postgres 17.",
              "The database version is Postgres 18."
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "DATABASE_VERSION_UNSPECIFIED",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18"
            ]
          },
          "type": "array"
        },
        "requiresDbRestart": {
          "description": "Whether setting or updating this flag on an Instance requires a database restart. If a flag that requires database restart is set, the backend will automatically restart the database (making sure to satisfy any availability SLO's).",
          "type": "boolean"
        },
        "stringRestrictions": {
          "description": "Restriction on STRING type value.",
          "$ref": "StringRestrictions"
        },
        "scope": {
          "type": "string",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "DATABASE",
            "CONNECTION_POOL"
          ],
          "description": "The scope of the flag.",
          "enumDescriptions": [
            "The scope of the flag is not specified. Default is DATABASE.",
            "The flag is a database flag.",
            "The flag is a connection pool flag."
          ]
        },
        "recommendedStringValue": {
          "description": "The recommended value for a STRING flag.",
          "type": "string"
        },
        "name": {
          "description": "The name of the flag resource, following Google Cloud conventions, e.g.: * projects/{project}/locations/{location}/flags/{flag} This field currently has no semantic meaning.",
          "type": "string"
        },
        "valueType": {
          "enumDescriptions": [
            "This is an unknown flag type.",
            "String type flag.",
            "Integer type flag.",
            "Float type flag.",
            "Denotes that the flag does not accept any values."
          ],
          "enum": [
            "VALUE_TYPE_UNSPECIFIED",
            "STRING",
            "INTEGER",
            "FLOAT",
            "NONE"
          ],
          "type": "string"
        },
        "integerRestrictions": {
          "description": "Restriction on INTEGER type value.",
          "$ref": "IntegerRestrictions"
        },
        "flagName": {
          "description": "The name of the database flag, e.g. \"max_allowed_packets\". The is a possibly key for the Instance.database_flags map field.",
          "type": "string"
        },
        "acceptsMultipleValues": {
          "description": "Whether the database flag accepts multiple values. If true, a comma-separated list of stringified values may be specified.",
          "type": "boolean"
        }
      },
      "id": "SupportedDatabaseFlag",
      "type": "object"
    },
    "UserPassword": {
      "type": "object",
      "description": "The username/password for a database user. Used for specifying initial users at cluster creation time.",
      "properties": {
        "password": {
          "description": "The initial password for the user.",
          "type": "string"
        },
        "user": {
          "description": "The database username.",
          "type": "string"
        }
      },
      "id": "UserPassword"
    },
    "ConnectionInfo": {
      "type": "object",
      "id": "ConnectionInfo",
      "description": "ConnectionInfo singleton resource. https://google.aip.dev/156",
      "properties": {
        "name": {
          "description": "The name of the ConnectionInfo singleton resource, e.g.: projects/{project}/locations/{location}/clusters/*/instances/*/connectionInfo This field currently has no semantic meaning.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The private network IP address for the Instance. This is the default IP for the instance and is always created (even if enable_public_ip is set). This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        },
        "pemCertificateChain": {
          "deprecated": true,
          "readOnly": true,
          "type": "array",
          "description": "Output only. The pem-encoded chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.",
          "items": {
            "type": "string"
          }
        },
        "instanceUid": {
          "description": "Output only. The unique ID of the Instance.",
          "type": "string",
          "readOnly": true
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "type": "string",
          "readOnly": true
        },
        "pscDnsName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The DNS name to use with PSC for the Instance."
        }
      }
    },
    "ExportClusterRequest": {
      "description": "Export cluster request.",
      "properties": {
        "csvExportOptions": {
          "$ref": "CsvExportOptions",
          "description": "Options for exporting data in CSV format. Required field to be set for CSV file type."
        },
        "sqlExportOptions": {
          "description": "Options for exporting data in SQL format. Required field to be set for SQL file type.",
          "$ref": "SqlExportOptions"
        },
        "gcsDestination": {
          "description": "Required. Option to export data to cloud storage.",
          "$ref": "GcsDestination"
        },
        "database": {
          "description": "Required. Name of the database where the export command will be executed. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        }
      },
      "id": "ExportClusterRequest",
      "type": "object"
    },
    "ContinuousBackupSource": {
      "type": "object",
      "id": "ContinuousBackupSource",
      "description": "Message describing a ContinuousBackupSource.",
      "properties": {
        "cluster": {
          "description": "Required. The source cluster from which to restore. This cluster must have continuous backup enabled for this operation to succeed. For the required format, see the comment on the Cluster.name field.",
          "type": "string"
        },
        "pointInTime": {
          "description": "Required. The point in time to restore to.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AuthorizedNetwork": {
      "id": "AuthorizedNetwork",
      "description": "AuthorizedNetwork contains metadata for an authorized network.",
      "properties": {
        "cidrRange": {
          "description": "CIDR range for one authorzied network of the instance.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "User": {
      "id": "User",
      "description": "Message describing User object.",
      "properties": {
        "userType": {
          "type": "string",
          "enum": [
            "USER_TYPE_UNSPECIFIED",
            "ALLOYDB_BUILT_IN",
            "ALLOYDB_IAM_USER"
          ],
          "description": "Optional. Type of this user.",
          "enumDescriptions": [
            "Unspecified user type.",
            "The default user type that authenticates via password-based authentication.",
            "Database user that can authenticate via IAM-Based authentication."
          ]
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the resource in the form of projects/{project}/locations/{location}/cluster/{cluster}/users/{user}."
        },
        "databaseRoles": {
          "type": "array",
          "description": "Optional. List of database roles this user has. The database role strings are subject to the PostgreSQL naming conventions.",
          "items": {
            "type": "string"
          }
        },
        "keepExtraRoles": {
          "description": "Input only. If the user already exists and it has additional roles, keep them granted.",
          "type": "boolean"
        },
        "password": {
          "description": "Input only. Password for the user.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationSource": {
      "type": "object",
      "description": "Subset of the source instance configuration that is available when reading the cluster resource.",
      "properties": {
        "referenceId": {
          "description": "Output only. Place holder for the external source identifier(e.g DMS job name) that created the cluster.",
          "readOnly": true,
          "type": "string"
        },
        "sourceType": {
          "enum": [
            "MIGRATION_SOURCE_TYPE_UNSPECIFIED",
            "DMS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Migration source is unknown.",
            "DMS source means the cluster was created via DMS migration job."
          ],
          "description": "Output only. Type of migration source."
        },
        "hostPort": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The host and port of the on-premises instance in host:port format"
        }
      },
      "id": "MigrationSource"
    },
    "BackupSource": {
      "id": "BackupSource",
      "description": "Message describing a BackupSource.",
      "properties": {
        "backupUid": {
          "description": "Output only. The system-generated UID of the backup which was used to create this resource. The UID is generated when the backup is created, and it is retained until the backup is deleted.",
          "readOnly": true,
          "type": "string"
        },
        "backupName": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id}",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UpgradeClusterResponse": {
      "type": "object",
      "description": "UpgradeClusterResponse contains the response for upgrade cluster operation.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "description": "Status of upgrade operation.",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ],
          "type": "string"
        },
        "message": {
          "description": "A user friendly message summarising the upgrade operation details and the next steps for the user if there is any.",
          "type": "string"
        },
        "clusterUpgradeDetails": {
          "description": "Array of upgrade details for the current cluster and all the secondary clusters associated with this cluster.",
          "items": {
            "$ref": "ClusterUpgradeDetails"
          },
          "type": "array"
        }
      },
      "id": "UpgradeClusterResponse"
    },
    "ListUsersResponse": {
      "type": "object",
      "description": "Message for response to listing Users",
      "properties": {
        "users": {
          "description": "The list of User",
          "items": {
            "$ref": "User"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "id": "ListUsersResponse"
    },
    "GCAInstanceConfig": {
      "description": "Instance level configuration parameters related to the Gemini Cloud Assist product.",
      "properties": {
        "gcaEntitlement": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Represents the GCA entitlement state of the instance.",
          "enumDescriptions": [
            "No GCA entitlement is assigned.",
            "The resource is entitled to the GCA Standard Tier."
          ],
          "enum": [
            "GCA_ENTITLEMENT_TYPE_UNSPECIFIED",
            "GCA_STANDARD"
          ]
        }
      },
      "id": "GCAInstanceConfig",
      "type": "object"
    },
    "Schedule": {
      "type": "object",
      "id": "Schedule",
      "description": "A schedule for the autoscaler.",
      "properties": {
        "disabled": {
          "description": "If true, the schedule is disabled.",
          "type": "boolean"
        },
        "durationSec": {
          "type": "string",
          "format": "int64",
          "description": "Duration of the schedule."
        },
        "name": {
          "description": "Name of the schedule.",
          "type": "string"
        },
        "minNodeCount": {
          "description": "Minimum number of nodes in while the schedule is active.",
          "type": "string",
          "format": "int64"
        },
        "timeZone": {
          "description": "The location-based IANA time zone for interpreting the schedule's start time. If no time zone is provided, UTC is used by default.",
          "type": "string"
        },
        "cronExpression": {
          "description": "Cron expression for the triggering the schedule. See https://cloud.google.com/compute/docs/autoscaler/scaling-schedules#cron_expressions for the syntax.",
          "type": "string"
        },
        "description": {
          "description": "Description of the schedule.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainEntitlement": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainEntitlement",
      "description": "Proto representing the access that a user has to a specific feature/service. NextId: 3.",
      "properties": {
        "type": {
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "ENTITLEMENT_TYPE_UNSPECIFIED",
            "GEMINI",
            "NATIVE",
            "GCA_STANDARD"
          ],
          "type": "string",
          "enumDescriptions": [
            "The entitlement type is unspecified.",
            "The root entitlement representing Gemini package ownership.This will no longer be supported in the future.",
            "The entitlement representing Native Tier, This will be the default Entitlement going forward with GCA Enablement.",
            "The entitlement representing GCA-Standard Tier."
          ],
          "description": "An enum that represents the type of this entitlement."
        },
        "entitlementState": {
          "type": "string",
          "enum": [
            "ENTITLEMENT_STATE_UNSPECIFIED",
            "ENTITLED",
            "REVOKED"
          ],
          "description": "The current state of user's accessibility to a feature/benefit.",
          "enumDescriptions": [
            "",
            "User is entitled to a feature/benefit, but whether it has been successfully provisioned is decided by provisioning state.",
            "User is entitled to a feature/benefit, but it was requested to be revoked. Whether the revoke has been successful is decided by provisioning state."
          ]
        }
      }
    },
    "ClientConnectionConfig": {
      "type": "object",
      "description": "Client connection configuration",
      "properties": {
        "requireConnectors": {
          "description": "Optional. Configuration to enforce connectors only (ex: AuthProxy) connections to the database.",
          "type": "boolean"
        },
        "sslConfig": {
          "description": "Optional. SSL configuration option for this instance.",
          "$ref": "SslConfig"
        }
      },
      "id": "ClientConnectionConfig"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "StageStatus": {
      "description": "Status of an upgrade stage.",
      "properties": {
        "readPoolInstancesUpgrade": {
          "$ref": "ReadPoolInstancesUpgradeStageStatus",
          "description": "Read pool instances upgrade metadata."
        },
        "state": {
          "description": "State of this stage.",
          "enumDescriptions": [
            "Unspecified status.",
            "Not started.",
            "In progress.",
            "Operation succeeded.",
            "Operation failed.",
            "Operation partially succeeded.",
            "Cancel is in progress.",
            "Cancellation complete."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "SUCCESS",
            "FAILED",
            "PARTIAL_SUCCESS",
            "CANCEL_IN_PROGRESS",
            "CANCELLED"
          ]
        },
        "stage": {
          "type": "string",
          "enum": [
            "STAGE_UNSPECIFIED",
            "ALLOYDB_PRECHECK",
            "PG_UPGRADE_CHECK",
            "PREPARE_FOR_UPGRADE",
            "PRIMARY_INSTANCE_UPGRADE",
            "READ_POOL_INSTANCES_UPGRADE",
            "ROLLBACK",
            "CLEANUP"
          ],
          "description": "Upgrade stage.",
          "enumDescriptions": [
            "Unspecified stage.",
            "Pre-upgrade custom checks, not covered by pg_upgrade.",
            "Pre-upgrade pg_upgrade checks.",
            "Clone the original cluster.",
            "Upgrade the primary instance(downtime).",
            "This stage is read pool upgrade.",
            "Rollback in case of critical failures.",
            "Cleanup."
          ]
        }
      },
      "id": "StageStatus",
      "type": "object"
    },
    "Stats": {
      "type": "object",
      "id": "Stats",
      "description": "Upgrade stats for read pool instances.",
      "properties": {
        "failed": {
          "description": "Number of read pool instances which failed to upgrade.",
          "type": "integer",
          "format": "int32"
        },
        "ongoing": {
          "type": "integer",
          "format": "int32",
          "description": "Number of read pool instances undergoing upgrade."
        },
        "notStarted": {
          "type": "integer",
          "format": "int32",
          "description": "Number of read pool instances for which upgrade has not started."
        },
        "success": {
          "type": "integer",
          "format": "int32",
          "description": "Number of read pool instances successfully upgraded."
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainTags": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainTags",
      "description": "Message type for storing tags. Tags provide a way to create annotations for resources, and in some cases conditionally allow or deny policies based on whether a resource has a specific tag.",
      "properties": {
        "tags": {
          "description": "The Tag key/value mappings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "Backup": {
      "id": "Backup",
      "description": "Message describing Backup object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Create time stamp"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation), if true, indicates that the service is actively updating the resource. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "databaseVersion": {
          "description": "Output only. The database engine major version of the cluster this backup was created from. Any restored cluster created from this backup will have the same database version.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "type": "string",
          "readOnly": true,
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ]
        },
        "clusterDeleted": {
          "description": "Output only. Set to true if the cluster corresponding to this backup is deleted. This field is only populated for when using the BACKUP_VIEW_CLUSTER_DELETED view.",
          "readOnly": true,
          "type": "boolean"
        },
        "tags": {
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\" ```",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "description": "Output only. Reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config can be specified to encrypt the backup with a customer-managed encryption key (CMEK). When this field is not specified, the backup will then use default encryption scheme to protect the user data.",
          "$ref": "EncryptionConfig"
        },
        "sizeBytes": {
          "description": "Output only. The size of the backup in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "expiryTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which after the backup is eligible to be garbage collected. It is the duration specified by the backup's retention policy, added to the backup's create_time."
        },
        "createCompletionTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when the resource finished being created."
        },
        "clusterUid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UID of the cluster which was used to create this resource."
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Reserved for future use."
        },
        "deleteTime": {
          "description": "Output only. Delete time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "labels": {
          "description": "Labels as key value pairs",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "expiryQuantity": {
          "readOnly": true,
          "description": "Output only. The QuantityBasedExpiry of the backup, specified by the backup's retention policy. Once the expiry quantity is over retention, the backup is eligible to be garbage collected.",
          "$ref": "QuantityBasedExpiry"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ON_DEMAND",
            "AUTOMATED",
            "CONTINUOUS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Backup Type is unknown.",
            "ON_DEMAND backups that were triggered by the customer (e.g., not AUTOMATED).",
            "AUTOMATED backups triggered by the automated backups scheduler pursuant to an automated backup policy.",
            "CONTINUOUS backups triggered by the automated backups scheduler due to a continuous backup policy."
          ],
          "description": "The backup type, which suggests the trigger for the backup."
        },
        "description": {
          "description": "User-provided description of the backup.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "CREATING",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup is ready.",
            "The backup is creating.",
            "The backup failed.",
            "The backup is being deleted."
          ],
          "description": "Output only. The current state of the backup.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clusterName": {
          "description": "Required. The full resource name of the backup source cluster (e.g., projects/{project}/locations/{region}/clusters/{cluster_id}).",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Update time stamp Users should not infer any meaning from this field. Its value is generally unrelated to the timing of the backup creation operation."
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Backup.",
          "type": "string"
        },
        "encryptionInfo": {
          "$ref": "EncryptionInfo",
          "description": "Output only. The encryption information for the backup.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the backup resource with the format: * projects/{project}/locations/{region}/backups/{backup_id} where the cluster and backup ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the backup resource name is the name of the parent resource: * projects/{project}/locations/{region}",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "RestoreClusterRequest": {
      "description": "Message for restoring a Cluster from a backup or another cluster at a given point in time. NEXT_ID: 11",
      "properties": {
        "backupdrPitrSource": {
          "$ref": "BackupDrPitrSource",
          "description": "BackupDR source used for point in time recovery."
        },
        "backupSource": {
          "$ref": "BackupSource",
          "description": "Backup source."
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        },
        "backupdrBackupSource": {
          "description": "BackupDR backup source.",
          "$ref": "BackupDrBackupSource"
        },
        "continuousBackupSource": {
          "description": "ContinuousBackup source. Continuous backup needs to be enabled in the source cluster for this operation to succeed.",
          "$ref": "ContinuousBackupSource"
        },
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cluster": {
          "description": "Required. The resource being created",
          "$ref": "Cluster"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RestoreClusterRequest",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed": {
      "description": "DatabaseResourceFeed is the top level proto to be used to ingest different database resource level events into Condor platform. Next ID: 13",
      "properties": {
        "feedType": {
          "description": "Required. Type feed to be ingested into condor",
          "enumDescriptions": [
            "",
            "Database resource metadata feed from control plane",
            "Database resource monitoring data",
            "Database resource security health signal data",
            "Database resource recommendation signal data",
            "Database config based signal data",
            "Database resource metadata from BackupDR",
            "Database resource signal data"
          ],
          "type": "string",
          "enum": [
            "FEEDTYPE_UNSPECIFIED",
            "RESOURCE_METADATA",
            "OBSERVABILITY_DATA",
            "SECURITY_FINDING_DATA",
            "RECOMMENDATION_SIGNAL_DATA",
            "CONFIG_BASED_SIGNAL_DATA",
            "BACKUPDR_METADATA",
            "DATABASE_RESOURCE_SIGNAL_DATA"
          ]
        },
        "backupdrMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupDRMetadata",
          "description": "BackupDR metadata is used to ingest metadata from BackupDR."
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId",
          "description": "Primary key associated with the Resource. resource_id is available in individual feed level as well.",
          "deprecated": true
        },
        "resourceHealthSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceHealthSignalData"
        },
        "feedTimestamp": {
          "description": "Required. Timestamp when feed is generated.",
          "type": "string",
          "format": "google-datetime"
        },
        "skipIngestion": {
          "description": "Optional. If true, the feed won't be ingested by DB Center. This indicates that the feed is intentionally skipped. For example, BackupDR feeds are only needed for resources integrated with DB Center (e.g., CloudSQL, AlloyDB). Feeds for non-integrated resources (e.g., Compute Engine, Persistent Disk) can be skipped.",
          "type": "boolean"
        },
        "observabilityMetricData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainObservabilityMetricData"
        },
        "databaseResourceSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceSignalData",
          "description": "Database resource signal data is used to ingest signals from database resource signal feeds."
        },
        "resourceMetadata": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceMetadata"
        },
        "recommendationSignalData": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceRecommendationSignalData"
        },
        "configBasedSignalData": {
          "description": "Config based signal data is used to ingest signals that are generated based on the configuration of the database resource.",
          "$ref": "StorageDatabasecenterPartnerapiV1mainConfigBasedSignalData"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceFeed",
      "type": "object"
    },
    "IntegerRestrictions": {
      "type": "object",
      "id": "IntegerRestrictions",
      "description": "Restrictions on INTEGER type values.",
      "properties": {
        "minValue": {
          "description": "The minimum value that can be specified, if applicable.",
          "type": "string",
          "format": "int64"
        },
        "maxValue": {
          "description": "The maximum value that can be specified, if applicable.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PscInterfaceConfig": {
      "type": "object",
      "id": "PscInterfaceConfig",
      "description": "Configuration for setting up a PSC interface to enable outbound connectivity.",
      "properties": {
        "networkAttachmentResource": {
          "description": "The network attachment resource created in the consumer network to which the PSC interface will be linked. This is of the format: \"projects/${CONSUMER_PROJECT}/regions/${REGION}/networkAttachments/${NETWORK_ATTACHMENT_NAME}\". The network attachment must be in the same region as the instance.",
          "type": "string"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainBackupConfiguration": {
      "id": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
      "description": "Configuration for automatic backups",
      "properties": {
        "automatedBackupEnabled": {
          "description": "Whether customer visible automated backups are enabled on the instance.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainRetentionSettings",
          "description": "Backup retention settings."
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point-in-time recovery is enabled. This is optional field, if the database service does not have this feature or metadata is not available in control plane, this can be omitted.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainGCBDRConfiguration",
      "description": "GCBDR Configuration for the resource.",
      "properties": {
        "gcbdrManaged": {
          "description": "Whether the resource is managed by GCBDR.",
          "type": "boolean"
        }
      }
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "description": "Policy for the autoscaler.",
      "properties": {
        "enabled": {
          "description": "If true, autoscaling is enabled for the instance. If not set, the default value is false.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "type": "string",
          "format": "int64",
          "description": "Maximum number of nodes for the autoscaler."
        },
        "coolDownPeriodSec": {
          "description": "The period of time in seconds after a new node is created before the autoscaler will incorporate its resource usage (e.g. CPU utilization) into the autoscaling recommendation algorithm.",
          "type": "string",
          "format": "int64"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "CPU utilization policy for the autoscaler."
        }
      }
    },
    "ListClustersResponse": {
      "type": "object",
      "description": "Message for response to listing Clusters",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "clusters": {
          "description": "The list of Cluster",
          "items": {
            "$ref": "Cluster"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListClustersResponse"
    },
    "StorageDatabasecenterPartnerapiV1mainCustomMetadataData": {
      "id": "StorageDatabasecenterPartnerapiV1mainCustomMetadataData",
      "description": "Any custom metadata associated with the resource. e.g. A spanner instance can have multiple databases with its own unique metadata. Information for these individual databases can be captured in custom metadata data",
      "properties": {
        "internalResourceMetadata": {
          "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration.",
          "items": {
            "$ref": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "ImportClusterRequest": {
      "type": "object",
      "description": "Import cluster request.",
      "properties": {
        "sqlImportOptions": {
          "$ref": "SqlImportOptions",
          "description": "Options for importing data in SQL format."
        },
        "gcsUri": {
          "description": "Required. The path to the file in Google Cloud Storage where the source file for import will be stored. The URI is in the form `gs://bucketName/fileName`.",
          "type": "string"
        },
        "user": {
          "description": "Optional. Database user to be used for importing the data. Note - Value provided should be the same as expected from `SELECT current_user;` and NOT as a resource reference.",
          "type": "string"
        },
        "database": {
          "description": "Optional. Name of the database to which the import will be done. For import from SQL file, this is required only if the file does not specify a database. Note - Value provided should be the same as expected from `SELECT current_database();` and NOT as a resource reference.",
          "type": "string"
        },
        "csvImportOptions": {
          "$ref": "CsvImportOptions",
          "description": "Options for importing data in CSV format."
        }
      },
      "id": "ImportClusterRequest"
    },
    "MaintenanceUpdatePolicy": {
      "id": "MaintenanceUpdatePolicy",
      "description": "MaintenanceUpdatePolicy defines the policy for system updates.",
      "properties": {
        "maintenanceWindows": {
          "description": "Preferred windows to perform maintenance. Currently limited to 1.",
          "items": {
            "$ref": "MaintenanceWindow"
          },
          "type": "array"
        },
        "denyMaintenancePeriods": {
          "description": "Periods to deny maintenance. Currently limited to 1.",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CsvImportOptions": {
      "description": "Options for importing data in CSV format.",
      "properties": {
        "columns": {
          "type": "array",
          "description": "Optional. The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
          "items": {
            "type": "string"
          }
        },
        "fieldDelimiter": {
          "description": "Optional. Specifies the character that separates columns within each row (line) of the file. The default is comma. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "table": {
          "description": "Required. The database table to import CSV file into.",
          "type": "string"
        },
        "quoteCharacter": {
          "description": "Optional. Specifies the quoting character to be used when a data value is quoted. The default is double-quote. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        },
        "escapeCharacter": {
          "description": "Optional. Specifies the character that should appear before a data character that needs to be escaped. The default is same as quote character. The value of this argument has to be a character in Hex ASCII Code.",
          "type": "string"
        }
      },
      "id": "CsvImportOptions",
      "type": "object"
    },
    "StorageDatabasecenterProtoCommonTypedValue": {
      "type": "object",
      "description": "TypedValue represents the value of a metric type. It can either be a double, an int64, a string or a bool.",
      "properties": {
        "boolValue": {
          "description": "For boolean value",
          "type": "boolean"
        },
        "stringValue": {
          "description": "For string value",
          "type": "string"
        },
        "doubleValue": {
          "description": "For double value",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "description": "For integer value",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "StorageDatabasecenterProtoCommonTypedValue"
    },
    "DataplexConfig": {
      "description": "Configuration for Dataplex integration.",
      "properties": {
        "enabled": {
          "description": "Dataplex is enabled by default for resources such as clusters and instances. This flag controls the integration of AlloyDB PG resources (like databases, schemas, and tables) with Dataplex.\"",
          "type": "boolean"
        }
      },
      "id": "DataplexConfig",
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainUserLabels": {
      "description": "Message type for storing user labels. User labels are used to tag App Engine resources, allowing users to search for resources matching a set of labels and to aggregate usage data by labels.",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainUserLabels",
      "type": "object"
    },
    "ReadPoolInstancesUpgradeStageStatus": {
      "id": "ReadPoolInstancesUpgradeStageStatus",
      "description": "Read pool instances upgrade specific status.",
      "properties": {
        "upgradeStats": {
          "description": "Read pool instances upgrade statistics.",
          "$ref": "Stats"
        }
      },
      "type": "object"
    },
    "UpdatePolicy": {
      "type": "object",
      "description": "Policy to be used while updating the instance.",
      "properties": {
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DEFAULT",
            "FORCE_APPLY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Mode is unknown.",
            "Least disruptive way to apply the update.",
            "Performs a forced update when applicable. This will be fast but may incur a downtime."
          ],
          "description": "Mode for updating the instance."
        }
      },
      "id": "UpdatePolicy"
    },
    "ListSupportedDatabaseFlagsResponse": {
      "type": "object",
      "id": "ListSupportedDatabaseFlagsResponse",
      "description": "Message for response to listing SupportedDatabaseFlags.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "supportedDatabaseFlags": {
          "description": "The list of SupportedDatabaseFlags.",
          "items": {
            "$ref": "SupportedDatabaseFlag"
          },
          "type": "array"
        }
      }
    },
    "MachineConfig": {
      "type": "object",
      "id": "MachineConfig",
      "description": "MachineConfig describes the configuration of a machine.",
      "properties": {
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of CPU's in the VM instance."
        },
        "machineType": {
          "description": "Machine type of the VM instance. E.g. \"n2-highmem-4\", \"n2-highmem-8\", \"c4a-highmem-4-lssd\". cpu_count must match the number of vCPUs in the machine type.",
          "type": "string"
        }
      }
    },
    "FailoverInstanceRequest": {
      "type": "object",
      "id": "FailoverInstanceRequest",
      "description": "Message for triggering failover on an Instance",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      }
    },
    "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata": {
      "type": "object",
      "description": "Metadata for individual internal resources in an instance. e.g. spanner instance can have multiple databases with unique configuration settings. Similarly bigtable can have multiple clusters within same bigtable instance.",
      "properties": {
        "isDeletionProtectionEnabled": {
          "description": "Whether deletion protection is enabled for this internal resource.",
          "type": "boolean"
        },
        "resourceName": {
          "description": "Required. internal resource name for spanner this will be database name e.g.\"spanner.googleapis.com/projects/123/abc/instances/inst1/databases/db1\"",
          "type": "string"
        },
        "resourceId": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainDatabaseResourceId"
        },
        "backupRun": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupRun",
          "description": "Information about the last backup attempt for this database"
        },
        "product": {
          "$ref": "StorageDatabasecenterProtoCommonProduct"
        },
        "backupConfiguration": {
          "$ref": "StorageDatabasecenterPartnerapiV1mainBackupConfiguration",
          "description": "Backup configuration for this database"
        }
      },
      "id": "StorageDatabasecenterPartnerapiV1mainInternalResourceMetadata"
    },
    "Node": {
      "type": "object",
      "id": "Node",
      "description": "Details of a single node in the instance. Nodes in an AlloyDB instance are ephemeral, they can change during update, failover, autohealing and resize operations.",
      "properties": {
        "zoneId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Compute Engine zone of the VM e.g. \"us-central1-b\"."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Determined by state of the compute VM and postgres-service health. Compute VM state can have values listed in https://cloud.google.com/compute/docs/instances/instance-life-cycle and postgres-service health can have values: HEALTHY and UNHEALTHY."
        },
        "id": {
          "description": "Output only. The identifier of the VM e.g. \"test-read-0601-407e52be-ms3l\".",
          "type": "string",
          "readOnly": true
        },
        "ip": {
          "description": "Output only. The private IP address of the VM e.g. \"10.57.0.34\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SqlImportOptions": {
      "type": "object",
      "description": "Options for importing data in SQL format.",
      "properties": {},
      "id": "SqlImportOptions"
    },
    "RestoreFromCloudSQLRequest": {
      "id": "RestoreFromCloudSQLRequest",
      "description": "Message for registering Restoring from CloudSQL resource.",
      "properties": {
        "clusterId": {
          "description": "Required. ID of the requesting object.",
          "type": "string"
        },
        "cluster": {
          "$ref": "Cluster",
          "description": "Required. The resource being created"
        },
        "cloudsqlBackupRunSource": {
          "$ref": "CloudSQLBackupRunSource",
          "description": "Cluster created from CloudSQL backup run."
        }
      },
      "type": "object"
    },
    "Instance": {
      "id": "Instance",
      "description": "An Instance is a computing unit that an end customer can connect to. It's the main unit of computing resources in AlloyDB.",
      "properties": {
        "availabilityType": {
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional (or Highly) available instance."
          ],
          "description": "Availability type of an Instance. If empty, defaults to REGIONAL for primary instances. For read pools, availability_type is always UNSPECIFIED. Instances in the read pools are evenly distributed across available zones within the region (i.e. read pools with more than one node will have a node in at least two zones).",
          "enum": [
            "AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "type": "string"
        },
        "queryInsightsConfig": {
          "description": "Configuration for query insights.",
          "$ref": "QueryInsightsInstanceConfig"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Delete time stamp"
        },
        "publicIpAddress": {
          "description": "Output only. The public IP addresses for the Instance. This is available ONLY when enable_public_ip is set. This is the connection endpoint for an end-user application.",
          "readOnly": true,
          "type": "string"
        },
        "dataApiAccess": {
          "description": "Optional. Controls whether the Data API is enabled for this instance. When enabled, this allows authorized users to connect to the instance from the public internet using the `executeSql` API, even for private IP instances. If this is not specified, the data API is enabled by default for Google internal services like AlloyDB Studio. Disable it explicitly to disallow Google internal services as well.",
          "enumDescriptions": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES is a default value that allows Google internal services like AlloyDB Studio to access the instance.",
            "Data API access is disabled for this instance.",
            "Data API access is enabled for this instance. For private IP instances, this allows authorized users to access the instance from the public internet using the ExecuteSql API."
          ],
          "type": "string",
          "enum": [
            "DEFAULT_DATA_API_ENABLED_FOR_GOOGLE_CLOUD_SERVICES",
            "DISABLED",
            "ENABLED"
          ]
        },
        "etag": {
          "description": "For Resource freshness validation (https://google.aip.dev/154)",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "ipAddress": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The IP address for the Instance. This is the connection endpoint for an end-user application."
        },
        "nodes": {
          "description": "Output only. List of available read-only VMs in this instance, including the standby for a PRIMARY instance.",
          "items": {
            "$ref": "Node"
          },
          "readOnly": true,
          "type": "array"
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance should serve from, per https://cloud.google.com/compute/docs/regions-zones This can ONLY be specified for ZONAL instances. If present for a REGIONAL instance, an error will be thrown. If this is absent for a ZONAL instance, instance is created in a random zone with available capacity.",
          "type": "string"
        },
        "writableNode": {
          "readOnly": true,
          "description": "Output only. This is set for the read-write VM of the PRIMARY instance only.",
          "$ref": "Node"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reserved for future use."
        },
        "createTime": {
          "description": "Output only. Create time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "instanceType": {
          "enumDescriptions": [
            "The type of the instance is unknown.",
            "PRIMARY instances support read and write operations.",
            "READ POOL instances support read operations only. Each read pool instance consists of one or more homogeneous nodes. * Read pool of size 1 can only have zonal availability. * Read pools with node count of 2 or more can have regional availability (nodes are present in 2 or more zones in a region).",
            "SECONDARY instances support read operations only. SECONDARY instance is a cross-region read replica"
          ],
          "description": "Required. The type of the instance. Specified at creation time.",
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "PRIMARY",
            "READ_POOL",
            "SECONDARY"
          ],
          "type": "string"
        },
        "activationPolicy": {
          "description": "Optional. Specifies whether an instance needs to spin up. Once the instance is active, the activation policy can be updated to the `NEVER` to stop the instance. Likewise, the activation policy can be updated to `ALWAYS` to start the instance. There are restrictions around when an instance can/cannot be activated (for example, a read pool instance should be stopped before stopping primary etc.). Please refer to the API documentation for more details.",
          "enumDescriptions": [
            "The policy is not specified.",
            "The instance is running.",
            "The instance is not running."
          ],
          "type": "string",
          "enum": [
            "ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER"
          ]
        },
        "uid": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The system-generated UID of the resource. The UID is assigned when the resource is created, and it is retained until it is deleted."
        },
        "reconciling": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Reconciling (https://google.aip.dev/128#reconciliation). Set to true if the current state of Instance does not match the user's intended state, and the service is actively updating the resource to reconcile them. This can happen due to user-triggered updates or system actions like failover or maintenance."
        },
        "displayName": {
          "description": "User-settable and human-readable display name for the Instance.",
          "type": "string"
        },
        "outboundPublicIpAddresses": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. All outbound public IP addresses configured for the instance.",
          "items": {
            "type": "string"
          }
        },
        "connectionPoolConfig": {
          "description": "Optional. The configuration for Managed Connection Pool (MCP).",
          "$ref": "ConnectionPoolConfig"
        },
        "updatePolicy": {
          "description": "Update policy that will be applied during instance update. This field is not persisted when you update the instance. To use a non-default update policy, you must specify explicitly specify the value in each update request.",
          "$ref": "UpdatePolicy"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the instance resource with the format: * projects/{project}/locations/{region}/clusters/{cluster_id}/instances/{instance_id} where the cluster and instance ID segments should satisfy the regex expression `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`, e.g. 1-63 characters of lowercase letters, numbers, and dashes, starting with a letter, and ending with a letter or number. For more details see https://google.aip.dev/122. The prefix of the instance resource name is the name of the parent resource: * projects/{project}/locations/{region}/clusters/{cluster_id}"
        },
        "networkConfig": {
          "description": "Optional. Instance-level network configuration.",
          "$ref": "InstanceNetworkConfig"
        },
        "clientConnectionConfig": {
          "$ref": "ClientConnectionConfig",
          "description": "Optional. Client connection specific configurations"
        },
        "pscInstanceConfig": {
          "$ref": "PscInstanceConfig",
          "description": "Optional. The configuration for Private Service Connect (PSC) for the instance."
        },
        "annotations": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Annotations to allow client tools to store small amount of arbitrary data. This is distinct from labels. https://google.aip.dev/128"
        },
        "updateTime": {
          "description": "Output only. Update time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is active and running.",
            "The instance is stopped. Instance name and IP resources are preserved.",
            "The instance is being created.",
            "The instance is being deleted.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during an operation on the instance. Note: Instances in this state would tried to be auto-repaired. And Customers should be able to restart, update or delete these instances.",
            "The instance has been configured to sync data from some other source.",
            "The instance is being promoted.",
            "The instance has entered switchover state. All updates on instance are restricted while the instance is in this state.",
            "The instance is being stopped.",
            "The instance is being started."
          ],
          "description": "Output only. The current serving state of the instance.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "STOPPED",
            "CREATING",
            "DELETING",
            "MAINTENANCE",
            "FAILED",
            "BOOTSTRAPPING",
            "PROMOTING",
            "SWITCHOVER",
            "STOPPING",
            "STARTING"
          ]
        },
        "machineConfig": {
          "description": "Configurations for the machines that host the underlying database engine.",
          "$ref": "MachineConfig"
        },
        "databaseFlags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Database flags. Set at the instance level. They are copied from the primary instance on secondary instance creation. Flags that have restrictions default to the value at primary instance on read instances during creation. Read instances can set new flags or override existing flags that are relevant for reads, for example, for enabling columnar cache on a read instance. Flags set on read instance might or might not be present on the primary instance. This is a list of \"key\": \"value\" pairs. \"key\": The name of the flag. These flags are passed at instance setup time, so include both server options and system variables for Postgres. Flags are specified with underscores, not hyphens. \"value\": The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value."
        },
        "maintenanceVersionName": {
          "description": "Output only. Maintenance version of the instance, for example: POSTGRES_15.2025_07_15.04_00. Output only. Update this field via the parent cluster's maintenance_version field(s).",
          "readOnly": true,
          "type": "string"
        },
        "gcaConfig": {
          "readOnly": true,
          "$ref": "GCAInstanceConfig",
          "description": "Output only. Configuration parameters related to Gemini Cloud Assist."
        },
        "readPoolConfig": {
          "$ref": "ReadPoolConfig",
          "description": "Read pool instance configuration. This is required if the value of instanceType is READ_POOL."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs"
        },
        "geminiConfig": {
          "description": "Optional. Deprecated and unused. This field will be removed in the near future.",
          "$ref": "GeminiInstanceConfig",
          "deprecated": true
        },
        "observabilityConfig": {
          "description": "Configuration for observability.",
          "$ref": "ObservabilityInstanceConfig"
        }
      },
      "type": "object"
    },
    "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule": {
      "type": "object",
      "id": "StorageDatabasecenterPartnerapiV1mainResourceMaintenanceDenySchedule",
      "description": "Deny maintenance period for the database resource. It specifies the time range during which the maintenance cannot start. This is configured by the customer.",
      "properties": {
        "startDate": {
          "description": "Optional. The start date of the deny maintenance period.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Optional. Deny period end date.",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "$ref": "GoogleTypeTimeOfDay",
          "description": "Optional. Time in UTC when the deny period starts on start_date and ends on end_date."
        }
      }
    },
    "StringRestrictions": {
      "id": "StringRestrictions",
      "description": "Restrictions on STRING type values",
      "properties": {
        "allowedValues": {
          "type": "array",
          "description": "The list of allowed values, if bounded. This field will be empty if there is a unbounded number of allowed values.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "type": "object",
      "id": "GoogleTypeTimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      }
    },
    "DenyMaintenancePeriod": {
      "type": "object",
      "description": "DenyMaintenancePeriod definition. Excepting emergencies, maintenance will not be scheduled to start within this deny period. The start_date must be less than the end_date.",
      "properties": {
        "endDate": {
          "description": "Deny period end date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        },
        "time": {
          "description": "Time in UTC when the deny period starts on start_date and ends on end_date. This can be: * Full time OR * All zeros for 00:00:00 UTC",
          "$ref": "GoogleTypeTimeOfDay"
        },
        "startDate": {
          "description": "Deny period start date. This can be: * A full date, with non-zero year, month and day values OR * A month and day value, with a zero year for recurring",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "DenyMaintenancePeriod"
    },
    "UpgradeClusterRequest": {
      "description": "Upgrades a cluster.",
      "properties": {
        "version": {
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "DATABASE_VERSION_UNSPECIFIED",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18"
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "DEPRECATED - The database version is Postgres 13.",
            "The database version is Postgres 14.",
            "The database version is Postgres 15.",
            "The database version is Postgres 16.",
            "The database version is Postgres 17.",
            "The database version is Postgres 18."
          ],
          "description": "Required. The version the cluster is going to be upgraded to."
        },
        "etag": {
          "description": "Optional. The current etag of the Cluster. If an etag is provided and does not match the current etag of the Cluster, upgrade will be blocked and an ABORTED error will be returned.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server ignores the request if it has already been completed. The server guarantees that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if the original operation with the same request ID was received, and if so, ignores the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set, performs request validation, for example, permission checks and any other type of validation, but does not actually execute the create request.",
          "type": "boolean"
        }
      },
      "id": "UpgradeClusterRequest",
      "type": "object"
    },
    "BackupDrPitrSource": {
      "id": "BackupDrPitrSource",
      "description": "Message describing a BackupDrPitrSource.",
      "properties": {
        "dataSource": {
          "description": "Required. The name of the backup resource with the format: * projects/{project}/locations/{location}/backupVaults/{backupvault_id}/dataSources/{datasource_id}",
          "type": "string"
        },
        "pointInTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The point in time to restore to."
        }
      },
      "type": "object"
    },
    "QuantityBasedExpiry": {
      "description": "A backup's position in a quantity-based retention queue, of backups with the same source cluster and type, with length, retention, specified by the backup's retention policy. Once the position is greater than the retention, the backup is eligible to be garbage collected. Example: 5 backups from the same source cluster and type with a quantity-based retention of 3 and denoted by backup_id (position, retention). Safe: backup_5 (1, 3), backup_4, (2, 3), backup_3 (3, 3). Awaiting garbage collection: backup_2 (4, 3), backup_1 (5, 3)",
      "properties": {
        "retentionCount": {
          "description": "Output only. The backup's position among its backups with the same source cluster and type, by descending chronological order create time(i.e. newest first).",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "totalRetentionCount": {
          "description": "Output only. The length of the quantity-based queue, specified by the backup's retention policy.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "QuantityBasedExpiry",
      "type": "object"
    },
    "ReadPoolConfig": {
      "id": "ReadPoolConfig",
      "description": "Configuration for a read pool instance.",
      "properties": {
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Read capacity, i.e. number of nodes in a read pool instance."
        },
        "autoScalingConfig": {
          "$ref": "AutoScalingConfig",
          "description": "Autoscaling configuration for the read pool instance. If not set, the read pool instance will not be autoscaled."
        }
      },
      "type": "object"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Message for response to listing Instances",
      "properties": {
        "instances": {
          "type": "array",
          "description": "The list of Instance",
          "items": {
            "$ref": "Instance"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        }
      },
      "id": "GoogleCloudLocationListLocationsResponse"
    },
    "StorageDatabasecenterPartnerapiV1mainOperationError": {
      "id": "StorageDatabasecenterPartnerapiV1mainOperationError",
[...]
