{
  "rootUrl": "https://analyticshub.googleapis.com/",
  "description": "Exchange data and analytics assets securely and efficiently.",
  "servicePath": "",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "analyticshub",
  "canonicalName": "Analytics Hub",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "list": {
                  "parameters": {
                    "organization": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The organization resource path of the projects containing DataExchanges. e.g. `organizations/myorg/locations/us`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous call, to request the next page of results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "organization"
                  ],
                  "id": "analyticshub.organizations.locations.dataExchanges.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+organization}/dataExchanges",
                  "description": "Lists all data exchanges from projects in a given organization and location.",
                  "response": {
                    "$ref": "ListOrgDataExchangesResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/dataExchanges"
                }
              }
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "dataExchanges": {
              "methods": {
                "listSubscriptions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:listSubscriptions",
                  "response": {
                    "$ref": "ListSharedResourceSubscriptionsResponse"
                  },
                  "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                  "id": "analyticshub.projects.locations.dataExchanges.listSubscriptions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:listSubscriptions",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response page.",
                      "location": "query"
                    },
                    "includeDeletedSubscriptions": {
                      "type": "boolean",
                      "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                      "location": "query"
                    },
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call.",
                      "location": "query"
                    }
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "Required. Field mask specifies the fields to update in the data exchange resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "DataExchange"
                  },
                  "description": "Updates an existing data exchange.",
                  "path": "v1/{+name}",
                  "id": "analyticshub.projects.locations.dataExchanges.patch",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "subscribe": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:subscribe",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Data Exchange. e.g. `projects/publisherproject/locations/us/dataExchanges/123`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "SubscribeDataExchangeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.subscribe",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}:subscribe",
                  "description": "Creates a Subscription to a Data Clean Room. This is a long-running operation as it will create one or more linked datasets. Throws a Bad Request error if the Data Exchange does not contain any listings."
                },
                "testIamPermissions": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:testIamPermissions",
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  },
                  "description": "Returns the permissions that a caller has.",
                  "path": "v1/{+resource}:testIamPermissions",
                  "id": "analyticshub.projects.locations.dataExchanges.testIamPermissions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "description": "Required. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "analyticshub.projects.locations.dataExchanges.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "description": "Gets the details of a data exchange.",
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}"
                },
                "getIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:getIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Gets the IAM policy.",
                  "path": "v1/{+resource}:getIamPolicy",
                  "id": "analyticshub.projects.locations.dataExchanges.getIamPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  }
                },
                "create": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "response": {
                    "$ref": "DataExchange"
                  },
                  "description": "Creates a new data exchange.",
                  "id": "analyticshub.projects.locations.dataExchanges.create",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dataExchanges",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource path of the data exchange. e.g. `projects/myproject/locations/us`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "dataExchangeId": {
                      "type": "string",
                      "description": "Required. The ID of the data exchange. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "DataExchange"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "id": "analyticshub.projects.locations.dataExchanges.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes an existing data exchange.",
                  "parameters": {
                    "name": {
                      "description": "Required. The full name of the data exchange resource that you want to delete. For example, `projects/myproject/locations/us/dataExchanges/123`.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "setIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "path": "v1/{+resource}:setIamPolicy",
                  "id": "analyticshub.projects.locations.dataExchanges.setIamPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Sets the IAM policy.",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges",
                  "response": {
                    "$ref": "ListDataExchangesResponse"
                  },
                  "path": "v1/{+parent}/dataExchanges",
                  "id": "analyticshub.projects.locations.dataExchanges.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists all data exchanges in a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource path of the data exchanges. e.g. `projects/myproject/locations/us`.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "Page token, returned by a previous call, to request the next page of results.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              },
              "resources": {
                "queryTemplates": {
                  "methods": {
                    "patch": {
                      "path": "v1/{+name}",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing QueryTemplate",
                      "parameters": {
                        "name": {
                          "description": "Output only. The resource name of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/456`",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Optional. Field mask specifies the fields to update in the query template resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        }
                      },
                      "request": {
                        "$ref": "QueryTemplate"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "response": {
                        "$ref": "QueryTemplate"
                      }
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "description": "Creates a new QueryTemplate",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/queryTemplates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myQueryTemplate`.",
                          "location": "path"
                        },
                        "queryTemplateId": {
                          "description": "Required. The ID of the QueryTemplate to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "QueryTemplate"
                      }
                    },
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes a query template."
                    },
                    "approve": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:approve",
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "description": "Approves a query template.",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.approve",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}:approve",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "ApproveQueryTemplateRequest"
                      }
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a QueryTemplate",
                      "parameters": {
                        "name": {
                          "description": "Required. The parent resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}",
                      "response": {
                        "$ref": "QueryTemplate"
                      }
                    },
                    "submit": {
                      "response": {
                        "$ref": "QueryTemplate"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates/{queryTemplatesId}:submit",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/queryTemplates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource path of the QueryTemplate. e.g. `projects/myproject/locations/us/dataExchanges/123/queryTemplates/myqueryTemplate`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "SubmitQueryTemplateRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}:submit",
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.submit",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Submits a query template for approval."
                    },
                    "list": {
                      "id": "analyticshub.projects.locations.dataExchanges.queryTemplates.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/queryTemplates",
                      "description": "Lists all QueryTemplates in a given project and location.",
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource path of the QueryTemplates. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token, returned by a previous call, to request the next page of results.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/queryTemplates",
                      "response": {
                        "$ref": "ListQueryTemplatesResponse"
                      }
                    }
                  }
                },
                "listings": {
                  "methods": {
                    "create": {
                      "description": "Creates a new listing.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.create",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/listings",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "location": "path"
                        },
                        "listingId": {
                          "description": "Required. The ID of the listing to create. Must contain only Unicode letters, numbers (0-9), underscores (_). Max length: 100 bytes.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Listing"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "response": {
                        "$ref": "Listing"
                      }
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name of the listing to delete. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "location": "path"
                        },
                        "deleteCommercial": {
                          "type": "boolean",
                          "description": "Optional. If the listing is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid deleting commercial listings accidentally.",
                          "location": "query"
                        }
                      },
                      "description": "Deletes a listing.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.delete",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}"
                    },
                    "getIamPolicy": {
                      "description": "Gets the IAM policy.",
                      "path": "v1/{+resource}:getIamPolicy",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.getIamPolicy",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "GetIamPolicyRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListListingsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource path of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Page token, returned by a previous call, to request the next page of results.",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "The maximum number of results to return in a single response page. Leverage the page tokens to iterate through the entire collection.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/listings",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all listings in a given project and location."
                    },
                    "setIamPolicy": {
                      "id": "analyticshub.projects.locations.dataExchanges.listings.setIamPolicy",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+resource}:setIamPolicy",
                      "description": "Sets the IAM policy.",
                      "parameters": {
                        "resource": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      }
                    },
                    "testIamPermissions": {
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:testIamPermissions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "description": "Returns the permissions that a caller has.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.testIamPermissions",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+resource}:testIamPermissions"
                    },
                    "subscribe": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:subscribe",
                      "response": {
                        "$ref": "SubscribeListingResponse"
                      },
                      "path": "v1/{+name}:subscribe",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.subscribe",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Subscribes to a listing. Currently, with Analytics Hub, you can create listings that reference only BigQuery datasets. Upon subscription to a listing for a BigQuery dataset, Analytics Hub creates a linked dataset in the subscriber's project.",
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "type": "string",
                          "description": "Required. Resource name of the listing that you want to subscribe to. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "SubscribeListingRequest"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "patch": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "response": {
                        "$ref": "Listing"
                      },
                      "path": "v1/{+name}",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.patch",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing listing.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`",
                          "location": "path"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "description": "Required. Field mask specifies the fields to update in the listing resource. The fields specified in the `updateMask` are relative to the resource and are not a full request.",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "Listing"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "listSubscriptions": {
                      "response": {
                        "$ref": "ListSharedResourceSubscriptionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}:listSubscriptions",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "includeDeletedSubscriptions": {
                          "type": "boolean",
                          "description": "If selected, includes deleted subscriptions in the response (up to 63 days after deletion).",
                          "location": "query"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of results to return in a single response page.",
                          "location": "query"
                        },
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. Resource name of the requested target. This resource may be either a Listing or a DataExchange. e.g. projects/123/locations/us/dataExchanges/456 OR e.g. projects/123/locations/us/dataExchanges/456/listings/789",
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Page token, returned by a previous call.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "description": "Lists all subscriptions on a given Data Exchange or Listing.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.listSubscriptions",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+resource}:listSubscriptions"
                    },
                    "get": {
                      "description": "Gets the details of a listing.",
                      "id": "analyticshub.projects.locations.dataExchanges.listings.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/bigquery",
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/dataExchanges/[^/]+/listings/[^/]+$"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dataExchanges/{dataExchangesId}/listings/{listingsId}",
                      "response": {
                        "$ref": "Listing"
                      }
                    }
                  }
                }
              }
            },
            "subscriptions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "Page token, returned by a previous call.",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource path of the subscription. e.g. projects/myproject/locations/us",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of results to return in a single response page.",
                      "location": "query"
                    },
                    "filter": {
                      "description": "An expression for filtering the results of the request. Eligible fields for filtering are: + `listing` + `data_exchange` Alternatively, a literal wrapped in double quotes may be provided. This will be checked for an exact match against both fields above. In all cases, the full Data Exchange or Listing resource name must be provided. Some example of using filters: + data_exchange=\"projects/myproject/locations/us/dataExchanges/123\" + listing=\"projects/123/locations/us/dataExchanges/456/listings/789\" + \"projects/myproject/locations/us/dataExchanges/123\"",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists all subscriptions in a given project and location.",
                  "id": "analyticshub.projects.locations.subscriptions.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/subscriptions",
                  "response": {
                    "$ref": "ListSubscriptionsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions"
                },
                "setIamPolicy": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:setIamPolicy",
                  "response": {
                    "$ref": "Policy"
                  },
                  "description": "Sets the IAM policy.",
                  "id": "analyticshub.projects.locations.subscriptions.setIamPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  }
                },
                "refresh": {
                  "path": "v1/{+name}:refresh",
                  "id": "analyticshub.projects.locations.subscriptions.refresh",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Refreshes a Subscription to a Data Exchange. A Data Exchange can become stale when a publisher adds or removes data. This is a long-running operation as it may create many linked datasets.",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Subscription to refresh. e.g. `projects/subscriberproject/locations/us/subscriptions/123`",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "RefreshSubscriptionRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:refresh",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "description": "Gets the details of a Subscription.",
                  "id": "analyticshub.projects.locations.subscriptions.get",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Resource name of the subscription. e.g. projects/123/locations/us/subscriptions/456",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}",
                  "response": {
                    "$ref": "Subscription"
                  }
                },
                "revoke": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "required": true,
                      "description": "Required. Resource name of the subscription to revoke. e.g. projects/123/locations/us/subscriptions/456",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "RevokeSubscriptionRequest"
                  },
                  "description": "Revokes a given subscription.",
                  "path": "v1/{+name}:revoke",
                  "id": "analyticshub.projects.locations.subscriptions.revoke",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "RevokeSubscriptionResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:revoke"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "type": "string",
                      "description": "Required. Resource name of the subscription to delete. e.g. projects/123/locations/us/subscriptions/456",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a subscription.",
                  "path": "v1/{+name}",
                  "id": "analyticshub.projects.locations.subscriptions.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}"
                },
                "getIamPolicy": {
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/subscriptions/{subscriptionsId}:getIamPolicy",
                  "parameters": {
                    "resource": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/subscriptions/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "GetIamPolicyRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "analyticshub.projects.locations.subscriptions.getIamPolicy",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/bigquery",
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:getIamPolicy",
                  "description": "Gets the IAM policy."
                }
              }
            }
          }
        }
      }
    }
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/bigquery": {
          "description": "View and manage your data in Google BigQuery and see the email address for your Google Account"
        }
      }
    }
  },
  "version": "v1",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "title": "Analytics Hub API",
  "revision": "20260412",
  "id": "analyticshub:v1",
  "ownerDomain": "google.com",
  "schemas": {
    "GetPolicyOptions": {
      "id": "GetPolicyOptions",
      "type": "object",
      "properties": {
        "requestedPolicyVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        }
      },
      "description": "Encapsulates settings provided to GetIamPolicy."
    },
    "SubscribeListingResponse": {
      "properties": {
        "subscription": {
          "description": "Subscription object created from this subscribe action.",
          "$ref": "Subscription"
        }
      },
      "description": "Message for response when you subscribe to a listing.",
      "id": "SubscribeListingResponse",
      "type": "object"
    },
    "DeadLetterPolicy": {
      "properties": {
        "deadLetterTopic": {
          "description": "Optional. The name of the topic to which dead letter messages should be published. Format is `projects/{project}/topics/{topic}`.The Pub/Sub service account associated with the enclosing subscription's parent project (i.e., service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com) must have permission to Publish() to this topic. The operation will fail if the topic does not exist. Users should ensure that there is a subscription attached to this topic since messages published to a topic with no subscriptions are lost.",
          "type": "string"
        },
        "maxDeliveryAttempts": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The maximum number of delivery attempts for any message. The value must be between 5 and 100. The number of delivery attempts is defined as 1 + (the sum of number of NACKs and number of times the acknowledgement deadline has been exceeded for the message). A NACK is any call to ModifyAckDeadline with a 0 deadline. Note that client libraries may automatically extend ack_deadlines. This field will be honored on a best effort basis. If this parameter is 0, a default value of 5 is used."
        }
      },
      "description": "Dead lettering is done on a best effort basis. The same message might be dead lettered multiple times. If validation on any of the fields fails at subscription creation/updation, the create/update subscription request will fail.",
      "id": "DeadLetterPolicy",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "RefreshSubscriptionResponse": {
      "description": "Message for response when you refresh a subscription.",
      "properties": {
        "subscription": {
          "description": "The refreshed subscription resource.",
          "$ref": "Subscription"
        }
      },
      "id": "RefreshSubscriptionResponse",
      "type": "object"
    },
    "AvroConfig": {
      "id": "AvroConfig",
      "type": "object",
      "properties": {
        "writeMetadata": {
          "description": "Optional. When true, write the subscription name, message_id, publish_time, attributes, and ordering_key as additional fields in the output. The subscription name, message_id, and publish_time fields are put in their own fields while all other message properties other than data (for example, an ordering_key, if present) are added as entries in the attributes map.",
          "type": "boolean"
        },
        "useTopicSchema": {
          "description": "Optional. When true, the output Cloud Storage file will be serialized using the topic schema, if it exists.",
          "type": "boolean"
        }
      },
      "description": "Configuration for writing message data in Avro format. Message payloads and metadata will be written to files as an Avro binary."
    },
    "JavaScriptUDF": {
      "description": "User-defined JavaScript function that can transform or filter a Pub/Sub message.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Required. JavaScript code that contains a function `function_name` with the below signature: ``` /** * Transforms a Pub/Sub message. * @return {(Object)>|null)} - To * filter a message, return `null`. To transform a message return a map * with the following keys: * - (required) 'data' : {string} * - (optional) 'attributes' : {Object} * Returning empty `attributes` will remove all attributes from the * message. * * @param {(Object)>} Pub/Sub * message. Keys: * - (required) 'data' : {string} * - (required) 'attributes' : {Object} * * @param {Object} metadata - Pub/Sub message metadata. * Keys: * - (required) 'message_id' : {string} * - (optional) 'publish_time': {string} YYYY-MM-DDTHH:MM:SSZ format * - (optional) 'ordering_key': {string} */ function (message, metadata) { } ```"
        },
        "functionName": {
          "type": "string",
          "description": "Required. Name of the JavasScript function that should applied to Pub/Sub messages."
        }
      },
      "id": "JavaScriptUDF",
      "type": "object"
    },
    "DataProvider": {
      "id": "DataProvider",
      "type": "object",
      "properties": {
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the data provider. Max Length: 1000 bytes."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the data provider."
        }
      },
      "description": "Contains details of the data provider."
    },
    "DestinationDataset": {
      "id": "DestinationDataset",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A user-friendly description of the dataset.",
          "type": "string"
        },
        "location": {
          "description": "Required. The geographic location where the dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations.",
          "type": "string"
        },
        "replicaLocations": {
          "description": "Optional. The geographic locations where the dataset should be replicated. See [BigQuery locations](https://cloud.google.com/bigquery/docs/locations) for supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "datasetReference": {
          "description": "Required. A reference that identifies the destination dataset.",
          "$ref": "DestinationDatasetReference"
        },
        "friendlyName": {
          "type": "string",
          "description": "Optional. A descriptive name for the dataset."
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels associated with this dataset. You can use these to organize and group your datasets. You can set this property when inserting or updating a dataset. See https://cloud.google.com/resource-manager/docs/creating-managing-labels for more information.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Defines the destination bigquery dataset."
    },
    "DestinationDatasetReference": {
      "properties": {
        "datasetId": {
          "description": "Required. A unique ID for this dataset, without the project name. The ID must contain only letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024 characters.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The ID of the project containing this dataset.",
          "type": "string"
        }
      },
      "id": "DestinationDatasetReference",
      "type": "object"
    },
    "TextConfig": {
      "properties": {},
      "description": "Configuration for writing message data in text format. Message payloads will be written to files as raw text, separated by a newline.",
      "id": "TextConfig",
      "type": "object"
    },
    "Routine": {
      "id": "Routine",
      "type": "object",
      "properties": {
        "routineType": {
          "description": "Required. The type of routine.",
          "enumDescriptions": [
            "Default value.",
            "Non-built-in persistent TVF."
          ],
          "type": "string",
          "enum": [
            "ROUTINE_TYPE_UNSPECIFIED",
            "TABLE_VALUED_FUNCTION"
          ]
        },
        "definitionBody": {
          "description": "Optional. The definition body of the routine.",
          "type": "string"
        }
      },
      "description": "Represents a bigquery routine."
    },
    "RevokeSubscriptionRequest": {
      "id": "RevokeSubscriptionRequest",
      "type": "object",
      "description": "Message for revoking a subscription.",
      "properties": {
        "revokeCommercial": {
          "type": "boolean",
          "description": "Optional. If the subscription is commercial then this field must be set to true, otherwise a failure is thrown. This acts as a safety guard to avoid revoking commercial subscriptions accidentally."
        }
      }
    },
    "DestinationPubSubSubscription": {
      "id": "DestinationPubSubSubscription",
      "type": "object",
      "description": "Defines the destination Pub/Sub subscription.",
      "properties": {
        "pubsubSubscription": {
          "description": "Required. Destination Pub/Sub subscription resource.",
          "$ref": "GooglePubsubV1Subscription"
        }
      }
    },
    "ListListingsResponse": {
      "description": "Message for response to the list of Listings.",
      "properties": {
        "listings": {
          "type": "array",
          "description": "The list of Listing.",
          "items": {
            "$ref": "Listing"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to request the next page of results."
        }
      },
      "id": "ListListingsResponse",
      "type": "object"
    },
    "DataExchange": {
      "id": "DataExchange",
      "type": "object",
      "description": "A data exchange is a container that lets you share data. Along with the descriptive information about the data exchange, it contains listings that reference shared datasets.",
      "properties": {
        "primaryContact": {
          "description": "Optional. Email or URL of the primary point of contact of the data exchange. Max Length: 1000 bytes.",
          "type": "string"
        },
        "sharingEnvironmentConfig": {
          "description": "Optional. Configurable data sharing environment option for a data exchange.",
          "$ref": "SharingEnvironmentConfig"
        },
        "logLinkedDatasetQueryUserEmail": {
          "type": "boolean",
          "description": "Optional. By default, false. If true, the DataExchange has an email sharing mandate enabled."
        },
        "discoveryType": {
          "type": "string",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ],
          "description": "Optional. Type of discovery on the discovery page for all the listings under this exchange. Updating this field also updates (overwrites) the discovery_type field for all the listings under this exchange.",
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ]
        },
        "documentation": {
          "type": "string",
          "description": "Optional. Documentation describing the data exchange."
        },
        "description": {
          "description": "Optional. Description of the data exchange. The description must not contain Unicode non-characters as well as C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name of the data exchange. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and must not start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "icon": {
          "description": "Optional. Base64 encoded image representing the data exchange. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the content of the fields are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire.",
          "type": "string",
          "format": "byte"
        },
        "name": {
          "description": "Output only. The resource name of the data exchange. e.g. `projects/myproject/locations/us/dataExchanges/123`.",
          "type": "string",
          "readOnly": true
        },
        "listingCount": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. Number of listings contained in the data exchange."
        }
      }
    },
    "CloudStorageConfig": {
      "properties": {
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to write to Cloud Storage. The subscription creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent](https://cloud.google.com/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        },
        "filenameDatetimeFormat": {
          "type": "string",
          "description": "Optional. User-provided format string specifying how to represent datetimes in Cloud Storage filenames. See the [datetime format guidance](https://cloud.google.com/pubsub/docs/create-cloudstorage-subscription#file_names)."
        },
        "bucket": {
          "description": "Required. User-provided name for the Cloud Storage bucket. The bucket must be created by the user. The bucket name must be without any prefix like \"gs://\". See the [bucket naming requirements] (https://cloud.google.com/storage/docs/buckets#naming).",
          "type": "string"
        },
        "textConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in text format.",
          "$ref": "TextConfig"
        },
        "filenamePrefix": {
          "type": "string",
          "description": "Optional. User-provided prefix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming)."
        },
        "maxBytes": {
          "description": "Optional. The maximum bytes that can be written to a Cloud Storage file before a new file is created. Min 1 KB, max 10 GiB. The max_bytes limit may be exceeded in cases where messages are larger than the limit.",
          "type": "string",
          "format": "int64"
        },
        "avroConfig": {
          "description": "Optional. If set, message data will be written to Cloud Storage in Avro format.",
          "$ref": "AvroConfig"
        },
        "filenameSuffix": {
          "type": "string",
          "description": "Optional. User-provided suffix for Cloud Storage filename. See the [object naming requirements](https://cloud.google.com/storage/docs/objects#naming). Must not end in \"/\"."
        },
        "maxDuration": {
          "description": "Optional. File batching settings. If no max_duration setting is specified, a max_duration of 5 minutes will be set by default. max_duration is required regardless of whether other file batching settings are specified. The maximum duration that can elapse before a new Cloud Storage file is created. Min 1 minute, max 10 minutes, default 5 minutes. May not exceed the subscription's acknowledgement deadline.",
          "type": "string",
          "format": "google-duration"
        },
        "maxMessages": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The maximum number of messages that can be written to a Cloud Storage file before a new file is created. Min 1000 messages."
        }
      },
      "description": "Configuration for a Cloud Storage subscription.",
      "id": "CloudStorageConfig",
      "type": "object"
    },
    "AIInference": {
      "id": "AIInference",
      "type": "object",
      "properties": {
        "unstructuredInference": {
          "description": "Optional. Requests and responses can be any arbitrary JSON object.",
          "$ref": "UnstructuredInference"
        },
        "endpoint": {
          "description": "Required. An endpoint to a Vertex AI model of the form `projects/{project}/locations/{location}/endpoints/{endpoint}` or `projects/{project}/locations/{location}/publishers/{publisher}/models/{model}`. Vertex AI API requests will be sent to this endpoint.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "type": "string",
          "description": "Optional. The service account to use to make prediction requests against endpoints. The resource creator or updater that specifies this field must have `iam.serviceAccounts.actAs` permission on the service account. If not specified, the Pub/Sub [service agent]({$universe.dns_names.final_documentation_domain}/iam/docs/service-agents), service-{project_number}@gcp-sa-pubsub.iam.gserviceaccount.com, is used."
        }
      },
      "description": "Configuration for making inference requests against Vertex AI models."
    },
    "Listing": {
      "id": "Listing",
      "type": "object",
      "description": "A listing is what gets published into a data exchange that a subscriber can subscribe to. It contains a reference to the data source along with descriptive information that will help subscribers find and subscribe the data.",
      "properties": {
        "restrictedExportConfig": {
          "description": "Optional. If set, restricted export configuration will be propagated and enforced on the linked dataset.",
          "$ref": "RestrictedExportConfig"
        },
        "bigqueryDataset": {
          "description": "Shared dataset i.e. BigQuery dataset source.",
          "$ref": "BigQueryDatasetSource"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE"
          ],
          "description": "Output only. Current state of the listing.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Subscribable state. Users with dataexchange.listings.subscribe permission can subscribe to this listing."
          ],
          "type": "string"
        },
        "categories": {
          "description": "Optional. Categories of the listing. Up to five categories are allowed.",
          "items": {
            "type": "string",
            "enum": [
              "CATEGORY_UNSPECIFIED",
              "CATEGORY_OTHERS",
              "CATEGORY_ADVERTISING_AND_MARKETING",
              "CATEGORY_COMMERCE",
              "CATEGORY_CLIMATE_AND_ENVIRONMENT",
              "CATEGORY_DEMOGRAPHICS",
              "CATEGORY_ECONOMICS",
              "CATEGORY_EDUCATION",
              "CATEGORY_ENERGY",
              "CATEGORY_FINANCIAL",
              "CATEGORY_GAMING",
              "CATEGORY_GEOSPATIAL",
              "CATEGORY_HEALTHCARE_AND_LIFE_SCIENCE",
              "CATEGORY_MEDIA",
              "CATEGORY_PUBLIC_SECTOR",
              "CATEGORY_RETAIL",
              "CATEGORY_SPORTS",
              "CATEGORY_SCIENCE_AND_RESEARCH",
              "CATEGORY_TRANSPORTATION_AND_LOGISTICS",
              "CATEGORY_TRAVEL_AND_TOURISM",
              "CATEGORY_GOOGLE_EARTH_ENGINE"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ]
          },
          "type": "array"
        },
        "publisher": {
          "description": "Optional. Details of the publisher who owns the listing and who can share the source data.",
          "$ref": "Publisher"
        },
        "logLinkedDatasetQueryUserEmail": {
          "type": "boolean",
          "description": "Optional. By default, false. If true, the Listing has an email sharing mandate enabled."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the listing. e.g. `projects/myproject/locations/us/dataExchanges/123/listings/456`"
        },
        "dataProvider": {
          "description": "Optional. Details of the data provider who owns the source data.",
          "$ref": "DataProvider"
        },
        "pubsubTopic": {
          "description": "Pub/Sub topic source.",
          "$ref": "PubSubTopicSource"
        },
        "icon": {
          "type": "string",
          "format": "byte",
          "description": "Optional. Base64 encoded image representing the listing. Max Size: 3.0MiB Expected image dimensions are 512x512 pixels, however the API only performs validation on size of the encoded data. Note: For byte fields, the contents of the field are base64-encoded (which increases the size of the data by 33-36%) when using JSON on the wire."
        },
        "discoveryType": {
          "description": "Optional. Type of discovery of the listing on the discovery page.",
          "enumDescriptions": [
            "Unspecified. Defaults to DISCOVERY_TYPE_PRIVATE.",
            "The Data exchange/listing can be discovered in the 'Private' results list.",
            "The Data exchange/listing can be discovered in the 'Public' results list."
          ],
          "type": "string",
          "enum": [
            "DISCOVERY_TYPE_UNSPECIFIED",
            "DISCOVERY_TYPE_PRIVATE",
            "DISCOVERY_TYPE_PUBLIC"
          ]
        },
        "documentation": {
          "description": "Optional. Documentation describing the listing.",
          "type": "string"
        },
        "primaryContact": {
          "type": "string",
          "description": "Optional. Email or URL of the primary point of contact of the listing. Max Length: 1000 bytes."
        },
        "requestAccess": {
          "type": "string",
          "description": "Optional. Email or URL of the request access of the listing. Subscribers can use this reference to request access. Max Length: 1000 bytes."
        },
        "allowOnlyMetadataSharing": {
          "type": "boolean",
          "description": "Optional. If true, the listing is only available to get the resource metadata. Listing is non subscribable."
        },
        "description": {
          "type": "string",
          "description": "Optional. Short description of the listing. The description must not contain Unicode non-characters and C0 and C1 control codes except tabs (HT), new lines (LF), carriage returns (CR), and page breaks (FF). Default value is an empty string. Max length: 2000 bytes."
        },
        "commercialInfo": {
          "description": "Output only. Commercial info contains the information about the commercial data products associated with the listing.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo"
        },
        "displayName": {
          "description": "Required. Human-readable display name of the listing. The display name must contain only Unicode letters, numbers (0-9), underscores (_), dashes (-), spaces ( ), ampersands (&) and can't start or end with spaces. Default value is an empty string. Max length: 63 bytes.",
          "type": "string"
        },
        "storedProcedureConfig": {
          "description": "Optional. If set, stored procedure configuration will be propagated and enforced on the linked dataset.",
          "$ref": "StoredProcedureConfig"
        },
        "resourceType": {
          "description": "Output only. Listing shared asset type.",
          "enumDescriptions": [
            "Not specified.",
            "BigQuery Dataset Asset.",
            "Pub/Sub Topic Asset."
          ],
          "readOnly": true,
          "enum": [
            "SHARED_RESOURCE_TYPE_UNSPECIFIED",
            "BIGQUERY_DATASET",
            "PUBSUB_TOPIC"
          ],
          "type": "string"
        }
      }
    },
    "BigQueryDatasetSource": {
      "properties": {
        "selectedResources": {
          "type": "array",
          "description": "Optional. Resource in this dataset that is selectively shared. This field is required for data clean room exchanges.",
          "items": {
            "$ref": "SelectedResource"
          }
        },
        "dataset": {
          "description": "Optional. Resource name of the dataset source for this listing. e.g. `projects/myproject/datasets/123`",
          "type": "string"
        },
        "replicaLocations": {
          "type": "array",
          "description": "Optional. A list of regions where the publisher has created shared dataset replicas.",
          "items": {
            "type": "string"
          }
        },
        "restrictedExportPolicy": {
          "description": "Optional. If set, restricted export policy will be propagated and enforced on the linked dataset.",
          "$ref": "RestrictedExportPolicy"
        },
        "effectiveReplicas": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Server-owned effective state of replicas. Contains both primary and secondary replicas. Each replica includes a system-computed (output-only) state and primary designation.",
          "items": {
            "$ref": "Replica"
          }
        }
      },
      "description": "A reference to a shared dataset. It is an existing BigQuery dataset with a collection of objects such as tables and views that you want to share with subscribers. When subscriber's subscribe to a listing, Analytics Hub creates a linked dataset in the subscriber's project. A Linked dataset is an opaque, read-only BigQuery dataset that serves as a _symbolic link_ to a shared dataset.",
      "id": "BigQueryDatasetSource",
      "type": "object"
    },
    "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfo",
      "type": "object",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. Details of the Marketplace Data Product associated with the Listing.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1ListingCommercialInfoGoogleCloudMarketplaceInfo"
        }
      },
      "description": "Commercial info contains the information about the commercial data products associated with the listing."
    },
    "ListSharedResourceSubscriptionsResponse": {
      "id": "ListSharedResourceSubscriptionsResponse",
      "type": "object",
      "properties": {
        "sharedResourceSubscriptions": {
          "type": "array",
          "description": "The list of subscriptions.",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Next page token."
        }
      },
      "description": "Message for response to the listing of shared resource subscriptions."
    },
    "ExpirationPolicy": {
      "description": "A policy that specifies the conditions for resource expiration (i.e., automatic resource deletion).",
      "properties": {
        "ttl": {
          "description": "Optional. Specifies the \"time-to-live\" duration for an associated resource. The resource expires if it is not active for a period of `ttl`. The definition of \"activity\" depends on the type of the associated resource. The minimum and maximum allowed values for `ttl` depend on the type of the associated resource, as well. If `ttl` is not set, the associated resource never expires.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "ExpirationPolicy",
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "type": "object",
      "description": "Associates `members`, or principals, with a `role`.",
      "properties": {
        "members": {
          "type": "array",
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          }
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        }
      }
    },
    "NoWrapper": {
      "id": "NoWrapper",
      "type": "object",
      "properties": {
        "writeMetadata": {
          "type": "boolean",
          "description": "Optional. When true, writes the Pub/Sub message metadata to `x-goog-pubsub-:` headers of the HTTP request. Writes the Pub/Sub message attributes to `:` headers of the HTTP request."
        }
      },
      "description": "Sets the `data` field as the HTTP body for delivery."
    },
    "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo": {
      "id": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfo",
      "type": "object",
      "properties": {
        "cloudMarketplace": {
          "description": "Output only. This is set when the subscription is commercialised via Cloud Marketplace.",
          "readOnly": true,
          "$ref": "GoogleCloudBigqueryAnalyticshubV1SubscriptionCommercialInfoGoogleCloudMarketplaceInfo"
        }
      },
      "description": "Commercial info metadata for this subscription."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
[...]
