{
  "discoveryVersion": "v1",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "type": "object",
      "properties": {
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "description": "Output only. Time when this key event was created in the property.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "deletable": {
          "type": "boolean",
          "description": "Output only. If set to true, this event can be deleted.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "readOnly": true
        },
        "countingMethod": {
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue"
        },
        "custom": {
          "type": "boolean",
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "readOnly": true
        }
      },
      "description": "A key event in a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty."
        }
      },
      "description": "A filter for a string dimension that matches a particular list of options.",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Required. The operation applied to a numeric filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal.",
            "Less than.",
            "Greater than."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "GREATER_THAN"
          ]
        },
        "value": {
          "description": "Required. The numeric or date value to match against.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "description": "A filter for numeric or date values on a dimension or metric."
    },
    "GoogleAnalyticsAdminV1alphaListKeyEventsResponse": {
      "description": "Response message for ListKeyEvents RPC.",
      "type": "object",
      "properties": {
        "keyEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
          },
          "description": "The requested Key Events"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object",
      "properties": {
        "customMetrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          },
          "description": "List of CustomMetrics."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportRequest": {
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportRequest",
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "properties": {
        "dimensions": {
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimension"
          }
        },
        "offset": {
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string",
          "format": "int64"
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetric"
          }
        },
        "dateRanges": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDateRange"
          },
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges."
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "limit": {
          "format": "int64",
          "type": "string",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination)."
        },
        "includeAllUsers": {
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.",
          "type": "boolean"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "orderBys": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response."
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "returnEntityQuota": {
          "type": "boolean",
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false."
        },
        "expandGroups": {
          "type": "boolean",
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "type": "object",
      "properties": {
        "dimensionName": {
          "type": "string",
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`."
        }
      },
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        },
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        }
      },
      "description": "Data specific to iOS app streams."
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "type": "object",
      "properties": {
        "conversionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          },
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries."
        },
        "postbackWindowSettingsEnabled": {
          "type": "boolean",
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "type": "object",
      "properties": {
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter"
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse",
      "description": "Response message for ListEventCreateRules RPC.",
      "type": "object",
      "properties": {
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "type": "object",
      "properties": {
        "eventEditRules": {
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListEventEditRules RPC."
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter",
      "description": "A filter for a string dimension that matches a particular list of options. The match is case insensitive.",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "type": "object",
      "properties": {
        "conversionEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          },
          "description": "The requested conversion events"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListConversionEvents RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "description": "To represent a number.",
      "type": "object",
      "properties": {
        "doubleValue": {
          "format": "double",
          "description": "Double value",
          "type": "number"
        },
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "type": "object",
      "properties": {
        "user": {
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\"",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
          "readOnly": true
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted."
        }
      },
      "description": "A binding of a user to a set of roles.",
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding"
    },
    "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "bigqueryLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
          },
          "description": "List of BigQueryLinks."
        }
      },
      "description": "Response message for ListBigQueryLinks RPC",
      "id": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "description": "Request message for ListAccounts RPC.",
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleTypeDate": {
      "id": "GoogleTypeDate",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "type": "object",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "month": {
          "format": "int32",
          "type": "integer",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day."
        },
        "day": {
          "format": "int32",
          "type": "integer",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object",
      "properties": {
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricValue": {
      "description": "The value of a metric.",
      "type": "object",
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
    },
    "GoogleAnalyticsAdminV1alphaCustomMetric": {
      "id": "GoogleAnalyticsAdminV1alphaCustomMetric",
      "description": "A definition for a custom metric.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description for this custom dimension. Max length of 150 characters."
        },
        "restrictedMetricType": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit."
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets."
        },
        "measurementUnit": {
          "description": "Required. The type for the custom metric's value.",
          "type": "string",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "scope": {
          "description": "Required. Immutable. The scope of this custom metric.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter",
      "type": "object",
      "properties": {
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "type": "string",
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ]
        },
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        }
      },
      "description": "Filter where the field value is a String. The match is case insensitive."
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "type": "object",
      "properties": {
        "parameter": {
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place.",
          "type": "string"
        },
        "parameterValue": {
          "type": "string",
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters)."
        }
      },
      "description": "Defines an event parameter to mutate."
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "description": "Access report data for each row.",
      "type": "object",
      "properties": {
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          }
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessRow"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateAccessBindings RPC."
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "type": "object",
      "properties": {
        "calculatedMetrics": {
          "description": "List of CalculatedMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListCalculatedMetrics RPC.",
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          },
          "description": "Required. Unordered list. A list of Subproperty event filter expressions"
        }
      },
      "description": "A list of Subproperty event filter expressions."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
      "description": "Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty.",
      "type": "object",
      "properties": {
        "applyToProperty": {
          "type": "string",
          "description": "Output only. Immutable. Resource name of the subproperty that these settings apply to.",
          "readOnly": true
        },
        "customDimensionAndMetricSyncMode": {
          "description": "Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty.",
          "type": "string",
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate."
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "type": "object",
      "properties": {
        "sequenceSteps": {
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        },
        "scope": {
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this filter."
        },
        "sequenceMaximumDuration": {
          "format": "google-duration",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "type": "string"
        }
      },
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience."
    },
    "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. Resource name of this RollupPropertySourceLink. Format: 'properties/{property_id}/rollupPropertySourceLinks/{rollup_property_source_link}' Format: 'properties/123/rollupPropertySourceLinks/456'",
          "readOnly": true,
          "type": "string"
        },
        "sourceProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the source property. Format: properties/{property_id} Example: \"properties/789\""
        }
      },
      "description": "A link that references a source property under the parent rollup property.",
      "id": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "measurementProtocolSecrets": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request."
        }
      },
      "description": "Response message for ListMeasurementProtocolSecret RPC"
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "properties": {
        "accountSummaries": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause",
      "type": "object",
      "properties": {
        "simpleFilter": {
          "description": "A simple filter that a user must satisfy to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter"
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        },
        "clauseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. Specifies whether this is an include or exclude filter clause."
        }
      },
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience)."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object",
      "properties": {
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "searchAds360Link": {
          "description": "A snapshot of a SearchAds360Link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "subpropertySyncConfig": {
          "description": "A snapshot of a SubpropertySyncConfig resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
        },
        "channelGroup": {
          "description": "A snapshot of a ChannelGroup resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "keyEvent": {
          "description": "A snapshot of a KeyEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
        },
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "reportingDataAnnotation": {
          "description": "A snapshot of a ReportingDataAnnotation resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
        },
        "skadnetworkConversionValueSchema": {
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
        },
        "userProvidedDataSettings": {
          "description": "A snapshot of a UserProvidedDataSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
        },
        "adsenseLink": {
          "description": "A snapshot of an AdSenseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "audience": {
          "description": "A snapshot of an Audience resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudience"
        },
        "calculatedMetric": {
          "description": "A snapshot of a CalculatedMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "reportingIdentitySettings": {
          "description": "A snapshot of a ReportingIdentitySettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
        },
        "displayVideo360AdvertiserLink": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of string values. Must be non-empty."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "description": "A link between a Google Analytics property and a Firebase project.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink"
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. Customer defined display name for the channel.",
          "type": "string"
        },
        "expression": {
          "description": "Required. The Filter Expression that defines the Grouping Rule.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      },
      "description": "The rules that govern how traffic is grouped into one channel."
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "type": "string",
          "description": "The string value used for the matching."
        },
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter."
        }
      },
      "description": "The filter for strings."
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "description": "A definition for a calculated metric.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'"
        },
        "metricUnit": {
          "type": "string",
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the calculated metric's value."
        },
        "formula": {
          "type": "string",
          "description": "Required. The calculated metric's definition. Maximum number of unique referenced custom metrics is 5. Formulas supports the following operations: + (addition), - (subtraction), - (negative), * (multiplication), / (division), () (parenthesis). Any valid real numbers are acceptable that fit in a Long (64bit integer) or a Double (64 bit floating point number). Example formula: \"( customEvent:parameter_name + cartPurchaseQuantity ) / 2.0\""
        },
        "invalidMetricReference": {
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters."
        },
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "calculatedMetricId": {
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\".",
          "readOnly": true,
          "type": "string"
        },
        "restrictedMetricType": {
          "description": "Output only. Types of restricted data that this metric contains.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "type": "object",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "description": "A resource message representing a data stream.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "type": "object",
      "properties": {
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter"
        },
        "fieldName": {
          "description": "Required. The dimension name to filter.",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
        }
      },
      "description": "A specific filter for a single dimension",
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "type": "object",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "readOnly": true,
          "type": "string"
        },
        "measurementId": {
          "type": "string",
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "readOnly": true
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        }
      },
      "description": "Data specific to web streams.",
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "type": "object",
      "properties": {
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        },
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        }
      },
      "description": "A logical expression of EnhancedDataSet dimension filters."
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "type": "object",
      "properties": {
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "description": "A specific filter for a single dimension or metric.",
      "type": "object",
      "properties": {
        "fieldName": {
          "type": "string",
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions)."
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
        },
        "betweenFilter": {
          "description": "A filter for numeric or date values between certain values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter"
        },
        "inAnyNDayPeriod": {
          "format": "int32",
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "type": "integer"
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter"
        },
        "atAnyPointInTime": {
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest": {
      "type": "object",
      "properties": {
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        },
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      },
      "description": "Request message for ProvisionAccountTicket RPC.",
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest",
      "type": "object",
      "properties": {
        "subpropertyEventFilter": {
          "description": "Optional. The subproperty event filter to create on an ordinary property.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
        },
        "subproperty": {
          "description": "Required. The subproperty to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "customDimensionAndMetricSynchronizationMode": {
          "description": "Optional. The subproperty feature synchronization mode for Custom Dimensions and Metrics",
          "type": "string",
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ]
        }
      },
      "description": "Request message for CreateSubproperty RPC."
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent",
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object",
      "properties": {
        "changes": {
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
          }
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "changeTime": {
          "format": "google-datetime",
          "description": "Time when change was made.",
          "type": "string"
        },
        "actorType": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ],
          "description": "The type of actor that made this change."
        },
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest",
      "description": "Request message for UpdateAccessBinding RPC.",
      "type": "object",
      "properties": {
        "accessBinding": {
          "description": "Required. The access binding to update.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "description": "Response message for ListChannelGroups RPC.",
      "type": "object",
      "properties": {
        "channelGroups": {
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList": {
      "type": "object",
      "properties": {
        "filterExpressions": {
          "description": "A list of Channel Group filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
          }
        }
      },
      "description": "A list of Channel Group filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "type": "object",
      "properties": {
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        },
        "scrollsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page."
        },
        "outboundClicksEnabled": {
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a page view event each time the website changes the browser history state."
        },
        "siteSearchEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter)."
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "formInteractionsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "description": "Request message for ReorderEventEditRules RPC.",
      "type": "object",
      "properties": {
        "eventEditRules": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data).",
      "type": "object",
      "properties": {
        "filterClauseType": {
          "type": "string",
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ],
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ],
          "description": "Required. The type for the filter clause."
        },
        "filterExpression": {
          "description": "Required. The logical expression for what events are sent to the subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "description": "Event setting conditions to match an event.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "minEventValue": {
          "format": "double",
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked.",
          "type": "number"
        },
        "maxEventCount": {
          "type": "string",
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked.",
          "format": "int64"
        },
        "minEventCount": {
          "format": "int64",
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "type": "string"
        },
        "maxEventValue": {
          "format": "double",
          "type": "number",
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEventMapping"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "dimensionOrMetricFilter": {
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        }
      },
      "description": "A logical expression of Audience dimension, metric, or event filters."
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated."
        }
      },
      "description": "Response message for ListFirebaseLinks RPC"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "type": "object",
      "properties": {
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        },
        "fieldName": {
          "type": "string",
          "description": "The dimension name or metric name."
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter"
        }
      },
      "description": "An expression to filter dimension or metric values."
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "type": "object",
      "properties": {
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          }
        },
        "applyToProperty": {
          "type": "string",
          "description": "Immutable. Resource name of the Subproperty that uses this filter."
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "type": "object",
      "properties": {
        "expressions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          },
          "description": "A list of filter expressions."
        }
      },
      "description": "A list of filter expressions.",
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinkProposalsResponse",
      "type": "object",
      "properties": {
        "displayVideo360AdvertiserLinkProposals": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
          },
          "description": "List of DisplayVideo360AdvertiserLinkProposals."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListDisplayVideo360AdvertiserLinkProposals RPC."
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "type": "object",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric"
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property.",
      "type": "object",
      "properties": {
        "startDate": {
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date.",
          "$ref": "GoogleTypeDate"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "type": "object",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        },
        "filterCondition": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition"
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        }
      },
      "description": "A logical expression of Subproperty event filters.",
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "changeHistoryEvents": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller."
        }
      },
      "description": "Response message for SearchAccounts RPC.",
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse"
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC."
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "description": "Response message for ListAccessBindings RPC.",
      "type": "object",
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The access bindings updated."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "type": "object",
      "properties": {
        "rollupProperty": {
          "description": "Required. The roll-up property to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "sourceProperties": {
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for CreateRollupProperty RPC.",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "description": "Response message for ProvisionAccountTicket RPC.",
      "type": "object",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
      "type": "object",
      "properties": {
        "matchType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP"
          ],
          "description": "Required. The match type for the string filter."
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        },
        "value": {
          "description": "Required. The string value to be matched against.",
          "type": "string"
        }
      },
      "description": "A filter for a string-type dimension that matches a particular pattern."
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "description": "Response message for CreateRollupProperty RPC.",
      "type": "object",
      "properties": {
        "rollupProperty": {
          "description": "The created roll-up property.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "rollupPropertySourceLinks": {
          "description": "The created roll-up property source links.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "type": "object",
      "properties": {
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "propertyType": {
          "description": "The property's property type.",
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      },
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "id": "GoogleAnalyticsAdminV1alphaPropertySummary"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue": {
      "description": "To represent a number.",
      "type": "object",
      "properties": {
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Integer value."
        },
        "doubleValue": {
          "format": "double",
          "description": "Double value.",
          "type": "number"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
    },
    "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSKAdNetworkConversionValueSchemasResponse",
      "type": "object",
      "properties": {
        "skadnetworkConversionValueSchemas": {
          "description": "List of SKAdNetworkConversionValueSchemas. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one SKAdNetworkConversionValueSchema per dataStream, so this will never be populated."
        }
      },
      "description": "Response message for ListSKAdNetworkConversionValueSchemas RPC"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "properties": {
        "rowCount": {
          "type": "integer",
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32"
        },
        "metricHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows."
        },
        "quota": {
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota"
        },
        "dimensionHeaders": {
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
      "description": "Specifies an event to log when a user joins the Audience.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        },
        "logCondition": {
          "description": "Required. When to log the event.",
          "type": "string",
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "type": "object",
      "properties": {
        "linkProposalState": {
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "description": "Output only. The state of this proposal."
        },
        "linkProposalInitiatingProduct": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal.",
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ]
        },
        "requestorEmail": {
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage.",
          "readOnly": true
        }
      },
[...]
