{
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "rootUrl": "https://analytics.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "false"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "id": "analytics:v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "title": "Google Analytics API",
  "version": "v3",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "servicePath": "analytics/v3/",
  "documentationLink": "https://developers.google.com/analytics/",
  "schemas": {
    "HashClientIdRequest": {
      "description": "JSON template for a hash Client Id request resource.",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "kind": {
          "default": "analytics#hashClientIdRequest",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "HashClientIdRequest"
    },
    "Uploads": {
      "id": "Uploads",
      "type": "object",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Upload"
          },
          "description": "A list of uploads."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#uploads",
          "type": "string"
        }
      },
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload."
    },
    "EntityAdWordsLink": {
      "description": "JSON template for Analytics Entity Google Ads Link.",
      "properties": {
        "kind": {
          "default": "analytics#entityAdWordsLink",
          "type": "string",
          "description": "Resource type for entity Google Ads link."
        },
        "id": {
          "type": "string",
          "description": "Entity Google Ads link ID"
        },
        "name": {
          "type": "string",
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "profileIds": {
          "description": "IDs of linked Views (Profiles) represented as strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "URL link for this Google Analytics - Google Ads link."
        },
        "entity": {
          "type": "object",
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          },
          "description": "Web property being linked."
        },
        "adWordsAccounts": {
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "array",
          "items": {
            "$ref": "AdWordsAccount"
          }
        }
      },
      "type": "object",
      "id": "EntityAdWordsLink"
    },
    "CustomMetric": {
      "properties": {
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "Index of the custom metric.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the custom metric."
        },
        "selfLink": {
          "description": "Link for the custom metric",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "description": "Time the custom metric was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom metric is active."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "kind": {
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true,
          "type": "string",
          "default": "analytics#customMetric"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            },
            "type": {
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty",
              "type": "string"
            }
          },
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs."
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom metric: HIT or PRODUCT."
        },
        "created": {
          "description": "Time the custom metric was created.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Data type of custom metric."
        }
      },
      "description": "JSON template for Analytics Custom Metric.",
      "id": "CustomMetric",
      "type": "object"
    },
    "ProfileFilterLink": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#profileFilterLink",
          "description": "Resource type for Analytics filter.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "profileRef": {
          "$ref": "ProfileRef",
          "description": "View (Profile) for this link."
        },
        "selfLink": {
          "description": "Link for this profile filter link.",
          "readOnly": true,
          "type": "string"
        },
        "filterRef": {
          "description": "Filter for this link.",
          "$ref": "FilterRef"
        },
        "rank": {
          "format": "int32",
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1."
        }
      },
      "description": "JSON template for an Analytics profile filter link.",
      "id": "ProfileFilterLink",
      "type": "object"
    },
    "AccountTicket": {
      "type": "object",
      "id": "AccountTicket",
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.",
      "properties": {
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        },
        "account": {
          "description": "Account for this ticket.",
          "$ref": "Account"
        },
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL."
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        },
        "kind": {
          "type": "string",
          "default": "analytics#accountTicket",
          "description": "Resource type for account ticket."
        }
      }
    },
    "FilterRef": {
      "id": "FilterRef",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef",
          "type": "string"
        },
        "href": {
          "type": "string",
          "description": "Link for this filter."
        },
        "accountId": {
          "description": "Account ID to which this filter belongs.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Filter ID.",
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          }
        },
        "name": {
          "description": "Name of this filter.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "JSON template for a profile filter link."
    },
    "Filters": {
      "id": "Filters",
      "type": "object",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#filters",
          "type": "string",
          "description": "Collection type."
        },
        "items": {
          "description": "A list of filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        }
      },
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter."
    },
    "UserDeletionRequest": {
      "description": "JSON template for a user deletion request resource.",
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "id": {
          "type": "object",
          "properties": {
            "userId": {
              "type": "string",
              "description": "The User's id"
            },
            "type": {
              "type": "string",
              "description": "Type of user"
            }
          },
          "description": "User ID."
        },
        "deletionRequestTime": {
          "description": "This marks the point in time for which all user data before should be deleted",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Value is \"analytics#userDeletionRequest\".",
          "type": "string",
          "default": "analytics#userDeletionRequest"
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        }
      },
      "type": "object",
      "id": "UserDeletionRequest"
    },
    "Profiles": {
      "properties": {
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#profiles"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Profile"
          },
          "description": "A list of views (profiles)."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this view (profile) collection."
        }
      },
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "id": "Profiles",
      "type": "object"
    },
    "Account": {
      "properties": {
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true
            }
          }
        },
        "childLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            },
            "type": {
              "default": "analytics#webproperties",
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            }
          },
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "type": "object"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was last modified."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time the account was created."
        },
        "kind": {
          "default": "analytics#account",
          "type": "string",
          "description": "Resource type for Analytics account."
        }
      },
      "description": "JSON template for Analytics account entry.",
      "id": "Account",
      "type": "object"
    },
    "WebPropertyRef": {
      "type": "object",
      "id": "WebPropertyRef",
      "description": "JSON template for a web property reference.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        },
        "kind": {
          "type": "string",
          "default": "analytics#webPropertyRef",
          "description": "Analytics web property reference."
        }
      }
    },
    "Webproperty": {
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "kind": {
          "description": "Resource type for Analytics WebProperty.",
          "readOnly": true,
          "type": "string",
          "default": "analytics#webproperty"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            },
            "type": {
              "default": "analytics#account",
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\"."
            }
          },
          "description": "Parent link for this web property. Points to the account to which this web property belongs."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this web property.",
          "readOnly": true
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "level": {
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true,
          "type": "string"
        },
        "updated": {
          "description": "Time this web property was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        },
        "defaultProfileId": {
          "description": "Default view (profile) ID.",
          "format": "int64",
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time this web property was created.",
          "readOnly": true
        },
        "profileCount": {
          "format": "int32",
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "readOnly": true
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "permissions": {
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Permissions the user has for this web property.",
          "type": "object"
        },
        "childLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            },
            "type": {
              "default": "analytics#profiles",
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\"."
            }
          },
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Webproperty"
    },
    "WebPropertySummary": {
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.",
      "properties": {
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "kind": {
          "description": "Resource type for Analytics WebPropertySummary.",
          "default": "analytics#webPropertySummary",
          "type": "string"
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "profiles": {
          "description": "List of profiles under this web property.",
          "type": "array",
          "items": {
            "$ref": "ProfileSummary"
          }
        }
      },
      "type": "object",
      "id": "WebPropertySummary"
    },
    "GaData": {
      "description": "Analytics data for a given view (profile).",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            },
            "type": "object"
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "query": {
          "description": "Analytics data request query parameters.",
          "properties": {
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of analytics metrics."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "max-results": {
              "description": "Maximum results per page.",
              "format": "int32",
              "type": "integer"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "sort": {
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "start-index": {
              "type": "integer",
              "format": "int32",
              "description": "Start index."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            }
          },
          "type": "object"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "sampleSize": {
          "description": "The number of samples used to calculate the result.",
          "format": "int64",
          "type": "string"
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "dataLastRefreshed": {
          "description": "The last refreshed time in seconds for Analytics data.",
          "type": "string",
          "format": "int64"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "kind": {
          "type": "string",
          "default": "analytics#gaData",
          "description": "Resource type."
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        }
      },
      "type": "object",
      "id": "GaData"
    },
    "AccountTreeResponse": {
      "type": "object",
      "id": "AccountTreeResponse",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "kind": {
          "default": "analytics#accountTreeResponse",
          "type": "string",
          "description": "Resource type for account ticket."
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "account": {
          "description": "The account created.",
          "$ref": "Account"
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        }
      }
    },
    "Goal": {
      "properties": {
        "kind": {
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal",
          "type": "string"
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            },
            "type": {
              "default": "analytics#profile",
              "type": "string",
              "description": "Value is \"analytics#profile\"."
            }
          }
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "eventDetails": {
          "type": "object",
          "properties": {
            "eventConditions": {
              "description": "List of event conditions.",
              "type": "array",
              "items": {
                "properties": {
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "comparisonValue": {
                    "type": "string",
                    "format": "int64",
                    "description": "Value used for this comparison."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  }
                },
                "type": "object"
              }
            },
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            }
          },
          "description": "Details for the goal of the type EVENT."
        },
        "visitNumPagesDetails": {
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            },
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            }
          },
          "type": "object"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "updated": {
          "description": "Time this goal was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "created": {
          "description": "Time this goal was created.",
          "format": "date-time",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "visitTimeOnSiteDetails": {
          "type": "object",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            },
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            }
          },
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE."
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Goal value."
        },
        "urlDestinationDetails": {
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION.",
          "properties": {
            "url": {
              "type": "string",
              "description": "URL for this goal."
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "steps": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "number": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Step number."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                }
              },
              "description": "List of steps configured for this goal funnel."
            },
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        }
      },
      "description": "JSON template for Analytics goal resource.",
      "id": "Goal",
      "type": "object"
    },
    "ProfileRef": {
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "kind": {
          "type": "string",
          "default": "analytics#profileRef",
          "description": "Analytics view (profile) reference."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        }
      },
      "description": "JSON template for a linked view (profile).",
      "id": "ProfileRef",
      "type": "object"
    },
    "McfData": {
      "type": "object",
      "id": "McfData",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "totalsForAllResults": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "kind": {
          "description": "Resource type.",
          "default": "analytics#mcfData",
          "type": "string"
        },
        "sampleSpace": {
          "description": "Total size of the sample space from which the samples were selected.",
          "type": "string",
          "format": "int64"
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "type": "array",
                  "items": {
                    "properties": {
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      },
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      }
                    },
                    "type": "object"
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated.",
              "type": "object"
            }
          },
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "sampleSize": {
          "description": "The number of samples used to calculate the result.",
          "type": "string",
          "format": "int64"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            },
            "type": "object"
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "query": {
          "type": "object",
          "properties": {
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of analytics metrics."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "sort": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "start-index": {
              "description": "Start index.",
              "type": "integer",
              "format": "int32"
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "max-results": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum results per page."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            }
          },
          "description": "Analytics data request query parameters."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        }
      }
    },
    "ProfileFilterLinks": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#profileFilterLinks",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "description": "A list of profile filter links."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        }
      },
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "id": "ProfileFilterLinks",
      "type": "object"
    },
    "UserRef": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        },
        "id": {
          "type": "string",
          "description": "User ID."
        }
      },
      "description": "JSON template for a user reference.",
      "id": "UserRef",
      "type": "object"
    },
    "AccountRef": {
      "description": "JSON template for a linked account.",
      "properties": {
        "kind": {
          "description": "Analytics account reference.",
          "default": "analytics#accountRef",
          "type": "string"
        },
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        }
      },
      "type": "object",
      "id": "AccountRef"
    },
    "EntityAdWordsLinks": {
      "type": "object",
      "id": "EntityAdWordsLinks",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "properties": {
        "items": {
          "description": "A list of entity Google Ads links.",
          "type": "array",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "startIndex": {
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "default": "analytics#entityAdWordsLinks",
          "description": "Collection type."
        }
      }
    },
    "UnsampledReports": {
      "properties": {
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#unsampledReports"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "UnsampledReport"
          },
          "description": "A list of unsampled reports."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "id": "UnsampledReports",
      "type": "object"
    },
    "Segment": {
      "description": "JSON template for an Analytics segment.",
      "properties": {
        "segmentId": {
          "type": "string",
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API."
        },
        "type": {
          "type": "string",
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\"."
        },
        "created": {
          "description": "Time the segment was created.",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Resource type for Analytics segment.",
          "default": "analytics#segment",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Segment ID."
        },
        "name": {
          "type": "string",
          "description": "Segment name."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        },
        "definition": {
          "type": "string",
          "description": "Segment definition."
        },
        "updated": {
          "description": "Time the segment was last modified.",
          "format": "date-time",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Segment"
    },
    "Webproperties": {
      "type": "object",
      "id": "Webproperties",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "description": "A list of web properties.",
          "type": "array",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#webproperties"
        }
      }
    },
    "CustomDimensions": {
      "id": "CustomDimensions",
      "type": "object",
      "properties": {
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "default": "analytics#customDimensions",
          "type": "string",
          "description": "Collection type."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "description": "Collection of custom dimensions.",
          "type": "array",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        }
      },
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension."
    },
    "LinkedForeignAccount": {
      "properties": {
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "eligibleForSearch": {
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true,
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "analytics#linkedForeignAccount",
          "description": "Resource type for linked foreign account."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs."
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this linked foreign account belongs.",
          "readOnly": true,
          "type": "string"
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        }
      },
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "id": "LinkedForeignAccount",
      "type": "object"
    },
    "RemarketingAudience": {
      "properties": {
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "description": {
          "type": "string",
          "description": "The description of this remarketing audience.",
          "readOnly": true
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#remarketingAudience",
          "type": "string"
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience.",
          "properties": {
            "excludeConditions": {
              "properties": {
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                },
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                }
              },
              "description": "Defines the conditions to exclude users from the audience.",
              "type": "object"
            },
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          }
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "linkedViews": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The views (profiles) that this remarketing audience is linked to."
        },
        "updated": {
          "description": "Time this remarketing audience was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "audienceDefinition": {
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "properties": {
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            }
          },
          "type": "object"
        },
        "created": {
          "description": "Time this remarketing audience was created.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Remarketing Audience ID."
        },
        "linkedAdAccounts": {
          "type": "array",
          "items": {
            "$ref": "LinkedForeignAccount"
          },
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently."
        }
      },
      "description": "JSON template for an Analytics remarketing audience.",
      "id": "RemarketingAudience",
      "type": "object"
    },
    "AdWordsAccount": {
      "description": "JSON template for an Google Ads account.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "kind": {
          "description": "Resource type for Google Ads account.",
          "type": "string",
          "default": "analytics#adWordsAccount"
        },
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        }
      },
      "type": "object",
      "id": "AdWordsAccount"
    },
    "IncludeConditions": {
      "properties": {
        "membershipDurationDays": {
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "type": "integer",
          "format": "int32"
        },
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        },
        "daysToLookBack": {
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type for include conditions.",
          "type": "string",
          "default": "analytics#includeConditions"
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        }
      },
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "id": "IncludeConditions",
      "type": "object"
    },
    "CustomMetrics": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Collection of custom metrics."
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#customMetrics",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "id": "CustomMetrics",
      "type": "object"
    },
    "ProfileSummary": {
      "properties": {
        "kind": {
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        }
      },
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "id": "ProfileSummary",
      "type": "object"
    },
    "HashClientIdResponse": {
      "id": "HashClientIdResponse",
      "type": "object",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "kind": {
          "default": "analytics#hashClientIdResponse",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "hashedClientId": {
          "type": "string"
        }
      },
      "description": "JSON template for a hash Client Id response resource."
    },
    "Segments": {
      "id": "Segments",
      "type": "object",
      "properties": {
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this segment collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "default": "analytics#segments",
          "type": "string",
          "description": "Collection type for segments."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "A list of segments.",
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        }
      },
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment."
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "properties": {
        "customDataImportUids": {
          "description": "A list of upload UIDs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request template for the delete upload data request.",
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "type": "object"
    },
    "UnsampledReport": {
      "description": "JSON template for Analytics unsampled report resource.",
      "properties": {
        "downloadType": {
          "description": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.",
          "readOnly": true,
          "type": "string"
        },
        "segment": {
          "type": "string",
          "description": "The segment for the unsampled report."
        },
        "id": {
          "type": "string",
          "description": "Unsampled report ID."
        },
        "title": {
          "type": "string",
          "description": "Title of the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time this unsampled report was created.",
          "readOnly": true
        },
        "dimensions": {
          "type": "string",
          "description": "The dimensions for the unsampled report."
        },
        "updated": {
          "description": "Time this unsampled report was last modified.",
          "readOnly": true,
          "type": "string",
          "format": "date-time"
        },
        "filters": {
          "type": "string",
          "description": "The filters for the unsampled report."
        },
        "end-date": {
          "type": "string",
          "description": "The end date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "selfLink": {
          "description": "Link for this unsampled report.",
          "readOnly": true,
          "type": "string"
        },
        "metrics": {
          "type": "string",
          "description": "The metrics for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "cloudStorageDownloadDetails": {
          "description": "Download details for a file stored in Google Cloud Storage.",
          "readOnly": true,
          "properties": {
            "bucketId": {
              "type": "string",
              "description": "Id of the bucket the file object is stored in."
            },
            "objectId": {
              "type": "string",
              "description": "Id of the file object containing the report data."
            }
          },
          "type": "object"
        },
        "start-date": {
          "description": "The start date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "type": "string"
        },
        "driveDownloadDetails": {
          "type": "object",
          "description": "Download details for a file stored in Google Drive.",
          "readOnly": true,
          "properties": {
            "documentId": {
              "type": "string",
              "description": "Id of the document/file containing the report data."
            }
          }
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this unsampled report belongs."
        },
        "kind": {
          "type": "string",
          "default": "analytics#unsampledReport",
          "description": "Resource type for an Analytics unsampled report.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this unsampled report belongs."
        },
        "status": {
          "description": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY."
        }
      },
      "type": "object",
      "id": "UnsampledReport"
    },
    "AccountTreeRequest": {
      "id": "AccountTreeRequest",
      "type": "object",
      "properties": {
        "webpropertyName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
          "default": "analytics#accountTreeRequest"
        },
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      },
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "EntityUserLink": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Entity user link ID"
        },
        "selfLink": {
          "type": "string",
          "description": "Self link for this resource."
        },
        "entity": {
          "properties": {
            "webPropertyRef": {
              "description": "Web property for this link.",
              "$ref": "WebPropertyRef"
            },
            "profileRef": {
              "$ref": "ProfileRef",
              "description": "View (Profile) for this link."
            },
            "accountRef": {
              "description": "Account for this link.",
              "$ref": "AccountRef"
            }
          },
          "description": "Entity for this link. It can be an account, a web property, or a view (profile).",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "default": "analytics#entityUserLink",
          "description": "Resource type for entity user link."
        },
        "permissions": {
          "type": "object",
          "properties": {
            "local": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable."
            },
            "effective": {
              "description": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Permissions the user has for this entity."
        },
        "userRef": {
          "$ref": "UserRef",
          "description": "User reference."
        }
      },
      "description": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity.",
      "id": "EntityUserLink",
      "type": "object"
    },
    "Experiments": {
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment.",
      "properties": {
        "kind": {
          "default": "analytics#experiments",
          "type": "string",
          "description": "Collection type."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "type": "integer",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Experiment"
          },
          "description": "A list of experiments."
        }
      },
      "type": "object",
      "id": "Experiments"
    },
    "RealtimeData": {
      "id": "RealtimeData",
      "type": "object",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "profileInfo": {
          "type": "object",
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          },
          "description": "Information for the view (profile), for which the real time data was requested."
        },
        "rows": {
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "default": "analytics#realtimeData"
        },
        "query": {
          "description": "Real time data request query parameters.",
          "properties": {
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of real time metrics."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "sort": {
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "max-results": {
              "description": "Maximum results per page.",
              "type": "integer",
              "format": "int32"
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            }
          },
          "type": "object"
        },
        "columnHeaders": {
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            },
            "type": "object"
          }
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        }
      },
      "description": "Real time data for a given view (profile)."
    },
    "Profile": {
      "type": "object",
      "id": "Profile",
      "description": "JSON template for an Analytics view (profile).",
      "properties": {
        "kind": {
          "description": "Resource type for Analytics view (profile).",
          "readOnly": true,
          "default": "analytics#profile",
          "type": "string"
        },
        "parentLink": {
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs.",
          "properties": {
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            }
          },
          "type": "object"
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "siteSearchCategoryParameters": {
          "type": "string",
          "description": "Site search category parameters for this view (profile)."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this view (profile) was created.",
          "readOnly": true
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#goals",
              "description": "Value is \"analytics#goals\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            }
          },
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile)."
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "enhancedECommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL for this view (profile)."
        },
        "updated": {
          "description": "Time this view (profile) was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "description": "Link for this view (profile).",
          "readOnly": true,
          "type": "string"
        },
        "excludeQueryParameters": {
          "type": "string",
          "description": "The query parameters that are excluded from this view (profile)."
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "currency": {
          "type": "string",
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL"
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "permissions": {
          "description": "Permissions the user has for this view (profile).",
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        }
      }
    },
    "CustomDataSources": {
      "id": "CustomDataSources",
      "type": "object",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "Collection of custom data sources.",
          "type": "array",
          "items": {
            "$ref": "CustomDataSource"
          }
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#customDataSources"
        },
[...]
