{
  "canonicalName": "Google Analytics Admin",
  "ownerDomain": "google.com",
  "revision": "20260501",
  "batchPath": "batch",
  "title": "Google Analytics Admin API",
  "fullyEncodeReservedExpansion": true,
  "id": "analyticsadmin:v1alpha",
  "discoveryVersion": "v1",
  "version": "v1alpha",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "properties": {
        "calculatedMetric": {
          "description": "A snapshot of a CalculatedMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "skadnetworkConversionValueSchema": {
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
        },
        "userProvidedDataSettings": {
          "description": "A snapshot of a UserProvidedDataSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaUserProvidedDataSettings"
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "customMetric": {
          "description": "A snapshot of a CustomMetric resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "reportingIdentitySettings": {
          "description": "A snapshot of a ReportingIdentitySettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings"
        },
        "eventCreateRule": {
          "description": "A snapshot of an EventCreateRule resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "keyEvent": {
          "description": "A snapshot of a KeyEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
        },
        "searchAds360Link": {
          "description": "A snapshot of a SearchAds360Link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
        },
        "displayVideo360AdvertiserLink": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        },
        "channelGroup": {
          "description": "A snapshot of a ChannelGroup resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
        },
        "conversionEvent": {
          "description": "A snapshot of a ConversionEvent resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
        },
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "audience": {
          "description": "A snapshot of an Audience resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudience"
        },
        "enhancedMeasurementSettings": {
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
        },
        "reportingDataAnnotation": {
          "description": "A snapshot of a ReportingDataAnnotation resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
        },
        "adsenseLink": {
          "description": "A snapshot of an AdSenseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
        },
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "subpropertySyncConfig": {
          "description": "A snapshot of a SubpropertySyncConfig resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
      "type": "object",
      "description": "A logical expression of EnhancedDataSet dimension filters.",
      "properties": {
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        },
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionValues": {
      "id": "GoogleAnalyticsAdminV1alphaConversionValues",
      "type": "object",
      "description": "Conversion value settings for a postback window for SKAdNetwork conversion value schema.",
      "properties": {
        "displayName": {
          "description": "Display name of the SKAdNetwork conversion value. The max allowed display name length is 50 UTF-16 code units.",
          "type": "string"
        },
        "fineValue": {
          "type": "integer",
          "format": "int32",
          "description": "The fine-grained conversion value. This is applicable only to the first postback window. Its valid values are [0,63], both inclusive. It must be set for postback window 1, and must not be set for postback window 2 & 3. This value is not guaranteed to be unique. If the configuration for the first postback window is re-used for second or third postback windows this field has no effect."
        },
        "lockEnabled": {
          "type": "boolean",
          "description": "If true, the SDK should lock to this conversion value for the current postback window."
        },
        "eventMappings": {
          "description": "Event conditions that must be met for this Conversion Value to be achieved. The conditions in this list are ANDed together. It must have minimum of 1 entry and maximum of 3 entries, if the postback window is enabled.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventMapping"
          },
          "type": "array"
        },
        "coarseValue": {
          "type": "string",
          "enum": [
            "COARSE_VALUE_UNSPECIFIED",
            "COARSE_VALUE_LOW",
            "COARSE_VALUE_MEDIUM",
            "COARSE_VALUE_HIGH"
          ],
          "enumDescriptions": [
            "Coarse value not specified.",
            "Coarse value of low.",
            "Coarse value of medium.",
            "Coarse value of high."
          ],
          "description": "Required. A coarse grained conversion value. This value is not guaranteed to be unique."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter": {
      "description": "A filter for numeric or date values between certain values on a dimension or metric.",
      "properties": {
        "toValue": {
          "description": "Required. Ends with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        },
        "fromValue": {
          "description": "Required. Begins with this number, inclusive.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericValue"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "eventDataRetention": {
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ]
        },
        "userDataRetention": {
          "description": "Required. The length of time that user-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroup": {
      "description": "A resource message representing a Channel Group.",
      "properties": {
        "description": {
          "description": "The description of the Channel Group. Max length of 256 characters.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name for this Channel Group resource. Format: properties/{property}/channelGroups/{channel_group}",
          "readOnly": true
        },
        "primary": {
          "type": "boolean",
          "description": "Optional. If true, this channel group will be used as the default channel group for reports. Only one channel group can be set as `primary` at any time. If the `primary` field gets set on a channel group, it will get unset on the previous primary channel group. The Google Analytics predefined channel group is the primary by default."
        },
        "groupingRule": {
          "type": "array",
          "description": "Required. The grouping rules of channels. Maximum number of rules is 50.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGroupingRule"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the Channel Group. Max length of 80 characters."
        },
        "systemDefined": {
          "readOnly": true,
          "description": "Output only. If true, then this channel group is the Default Channel Group predefined by Google Analytics. Display name and grouping rules cannot be updated for this channel group.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroup",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "type": "object",
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "properties": {
        "postbackWindowSettingsEnabled": {
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one.",
          "type": "boolean"
        },
        "conversionValues": {
          "type": "array",
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object",
      "description": "Request message for ListAccounts RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accounts": {
          "type": "array",
          "description": "Results that were accessible to the caller.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "properties": {
        "simpleFilter": {
          "description": "A simple filter that a user must satisfy to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter"
        },
        "sequenceFilter": {
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter"
        },
        "clauseType": {
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "type": "string",
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpression",
      "type": "object",
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "properties": {
        "andGroup": {
          "description": "Each of the FilterExpressions in the and_group has an AND relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "orGroup": {
          "description": "Each of the FilterExpressions in the or_group has an OR relationship.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList"
        },
        "notExpression": {
          "description": "The FilterExpression is NOT of not_expression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
        },
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessFilter"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "readOnly": true
        },
        "acquisitionConversionEventLookbackWindow": {
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days.",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ],
          "type": "string",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ]
        },
        "otherConversionEventLookbackWindow": {
          "type": "string",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days.",
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ]
        },
        "reportingAttributionModel": {
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ],
          "type": "string",
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ]
        },
        "adsWebConversionDataExportScope": {
          "type": "string",
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "description": "Current state for a particular quota group.",
      "properties": {
        "consumed": {
          "type": "integer",
          "format": "int32",
          "description": "Quota consumed by this request."
        },
        "remaining": {
          "description": "Quota remaining after this request.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "description": "Event setting conditions to match an event.",
      "properties": {
        "maxEventCount": {
          "type": "string",
          "format": "int64",
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked."
        },
        "maxEventValue": {
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked.",
          "format": "double",
          "type": "number"
        },
        "minEventValue": {
          "type": "number",
          "format": "double",
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked."
        },
        "eventName": {
          "description": "Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "minEventCount": {
          "type": "string",
          "format": "int64",
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEventMapping",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "type": "object",
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent",
      "type": "object",
      "description": "A key event in a Google Analytics property.",
      "properties": {
        "deletable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If set to true, this event can be deleted."
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "readOnly": true
        },
        "custom": {
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "readOnly": true,
          "type": "boolean"
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "countingMethod": {
          "type": "string",
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "description": "Required. The method by which Key Events will be counted across multiple events within a session."
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue"
        },
        "createTime": {
          "description": "Output only. Time when this key event was created in the property.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest": {
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest",
      "type": "object",
      "description": "Request message for SubmitUserDeletion RPC.",
      "properties": {
        "userId": {
          "description": "Google Analytics [user ID](https://firebase.google.com/docs/analytics/userid).",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Google Analytics [client ID](https://support.google.com/analytics/answer/11593727)."
        },
        "appInstanceId": {
          "description": "Firebase [application instance ID](https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics.html#getAppInstanceId).",
          "type": "string"
        },
        "userProvidedData": {
          "type": "string",
          "description": "[User-provided data](https://support.google.com/analytics/answer/14077171). May contain either one email address or one phone number. Email addresses should be normalized as such: * lowercase * remove periods before @ for gmail.com/googlemail.com addresses * remove all spaces Phone numbers should be normalized as such: * remove all non digit characters * add + prefix"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
      "type": "object",
      "description": "Data specific to iOS app streams.",
      "properties": {
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "readOnly": true
        },
        "bundleId": {
          "type": "string",
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\""
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "type": "object",
      "description": "Response message for ListConversionEvents RPC.",
      "properties": {
        "conversionEvents": {
          "type": "array",
          "description": "The requested conversion events",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition": {
      "description": "A specific filter expression",
      "properties": {
        "nullFilter": {
          "type": "boolean",
          "description": "A filter for null values."
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter"
        },
        "fieldName": {
          "description": "Required. The field that is being filtered.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics property.",
      "properties": {
        "industryCategory": {
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ]
        },
        "deleteTime": {
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units."
        },
        "parent": {
          "type": "string",
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\""
        },
        "serviceLevel": {
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "readOnly": true,
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "type": "string",
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ]
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\""
        },
        "currencyCode": {
          "type": "string",
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\""
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "propertyType": {
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when entity payload fields were last updated."
        },
        "account": {
          "type": "string",
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\""
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted."
        },
        "timeZone": {
          "type": "string",
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProperty",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        },
        "secretValue": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property."
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "type": "object",
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest": {
      "id": "GoogleAnalyticsAdminV1alphaArchiveAudienceRequest",
      "type": "object",
      "description": "Request message for ArchiveAudience RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter",
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "properties": {
        "matchType": {
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP"
          ],
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value."
          ],
          "description": "Required. The match type for the string filter."
        },
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "type": "object",
      "description": "Response message for ListSearchAds360Links RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "searchAds360Links": {
          "description": "List of SearchAds360Links.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "type": "object",
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "properties": {
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        },
        "propertySummaries": {
          "type": "array",
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "properties": {
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this link was originally created.",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account."
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true
        },
        "creatorEmailAddress": {
          "type": "string",
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true
        },
        "customerId": {
          "type": "string",
          "description": "Immutable. Google Ads customer ID."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSearchAds360Link": {
      "description": "A link between a Google Analytics property and a Search Ads 360 entity.",
      "properties": {
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserId": {
          "type": "string",
          "description": "Immutable. This field represents the Advertiser ID of the Search Ads 360 Advertiser. that has been linked."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this SearchAds360Link resource. Format: properties/{propertyId}/searchAds360Links/{linkId} Note: linkId is not the Search Ads 360 advertiser ID"
        },
        "siteStatsSharingEnabled": {
          "description": "Enables export of site stats with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "campaignDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of campaign data from Search Ads 360 into the Google Analytics property. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Search Ads 360 to the Google Analytics property. This can only be enabled if campaign_data_sharing_enabled is enabled. After link creation, this can only be updated from the Search Ads 360 product. If this field is not set on create, it will be defaulted to true."
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Search Ads 360 Advertiser. Allows users to easily identify the linked resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "type": "object",
      "description": "Defines an event parameter to mutate.",
      "properties": {
        "parameterValue": {
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters).",
          "type": "string"
        },
        "parameter": {
          "type": "string",
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "properties": {
        "metricName": {
          "type": "string",
          "description": "The metric's name; for example 'accessCount'."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "properties": {
        "sequenceMaximumDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Defines the time period in which the whole sequence must occur."
        },
        "scope": {
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "type": "string",
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        },
        "sequenceSteps": {
          "type": "array",
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest": {
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "properties": {
        "acknowledgement": {
          "type": "string",
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse": {
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionResponse",
      "type": "object",
      "description": "Response message for SubmitUserDeletion RPC.",
      "properties": {
        "deletionRequestTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Marks the moment for which all visitor data before this point should be deleted. This is set to the time at which the deletion request was received."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\""
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time when account payload fields were last updated.",
          "readOnly": true
        },
        "deleted": {
          "type": "boolean",
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Human-readable display name for this account."
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this account was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "gmpOrganization": {
          "type": "string",
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBigQueryLink": {
      "description": "A link between a Google Analytics property and BigQuery project.",
      "properties": {
        "project": {
          "type": "string",
          "description": "Immutable. The linked Google Cloud project. When creating a BigQueryLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, the returned project will always have a project that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        },
        "freshDailyExportEnabled": {
          "type": "boolean",
          "description": "If set true, enables fresh daily export to the linked Google Cloud project."
        },
        "includeAdvertisingId": {
          "type": "boolean",
          "description": "If set true, exported data will include advertising identifiers for mobile app streams."
        },
        "datasetLocation": {
          "type": "string",
          "description": "Required. Immutable. The geographic location where the created BigQuery dataset should reside. See https://cloud.google.com/bigquery/docs/locations for supported locations."
        },
        "createTime": {
          "description": "Output only. Time when the link was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "streamingExportEnabled": {
          "description": "If set true, enables streaming export to the linked Google Cloud project.",
          "type": "boolean"
        },
        "excludedEvents": {
          "description": "The list of event names that will be excluded from exports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. Resource name of this BigQuery link. Format: 'properties/{property_id}/bigQueryLinks/{bigquery_link_id}' Format: 'properties/1234/bigQueryLinks/abc567'",
          "readOnly": true,
          "type": "string"
        },
        "exportStreams": {
          "type": "array",
          "description": "The list of streams under the parent property for which data will be exported. Format: properties/{property_id}/dataStreams/{stream_id} Example: ['properties/1000/dataStreams/2000']",
          "items": {
            "type": "string"
          }
        },
        "dailyExportEnabled": {
          "description": "If set true, enables daily data export to the linked Google Cloud project.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBigQueryLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy": {
      "description": "Sorts by metric values.",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessOrderByMetricOrderBy",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingIdentitySettings": {
      "id": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings",
      "type": "object",
      "description": "A resource containing settings related to reporting identity.",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
          "type": "string"
        },
        "reportingIdentity": {
          "type": "string",
          "enum": [
            "IDENTITY_BLENDING_STRATEGY_UNSPECIFIED",
            "BLENDED",
            "OBSERVED",
            "DEVICE_BASED"
          ],
          "enumDescriptions": [
            "Unspecified blending strategy.",
            "Blended reporting identity strategy.",
            "Observed reporting identity strategy.",
            "Device-based reporting identity strategy."
          ],
          "description": "The strategy used for identifying user identities in reports."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest": {
      "id": "GoogleAnalyticsAdminV1alphaCancelDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object",
      "description": "Request message for CancelDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertyEventFiltersResponse",
      "type": "object",
      "description": "Response message for ListSubpropertyEventFilter RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subpropertyEventFilters": {
          "type": "array",
          "description": "List of subproperty event filters.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "type": "object",
      "description": "A logical expression of Audience dimension, metric, or event filters.",
      "properties": {
        "orGroup": {
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
        },
        "dimensionOrMetricFilter": {
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
      "type": "object",
      "description": "A filter for a string dimension that matches a particular list of options.",
      "properties": {
        "values": {
          "type": "array",
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest",
      "type": "object",
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "properties": {
        "actorEmail": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "items": {
            "type": "string"
          }
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number."
        },
        "resourceType": {
          "type": "array",
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "items": {
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "BigQuery link resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "KeyEvent resource",
              "CalculatedMetric resource",
              "ReportingDataAnnotation resource",
              "SubpropertySyncConfig resource",
              "ReportingIdentitySettings resource",
              "UserProvidedDataSettings resource"
            ],
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "BIGQUERY_LINK",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "KEY_EVENT",
              "CALCULATED_METRIC",
              "REPORTING_DATA_ANNOTATION",
              "SUBPROPERTY_SYNC_CONFIG",
              "REPORTING_IDENTITY_SETTINGS",
              "USER_PROVIDED_DATA_SETTINGS"
            ]
          }
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "earliestChangeTime": {
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "format": "google-datetime",
          "type": "string"
        },
        "latestChangeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made before this time (inclusive)."
        },
        "action": {
          "type": "array",
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "items": {
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "type": "string",
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "type": "object",
      "description": "Response message for ListCustomMetrics RPC.",
      "properties": {
        "customMetrics": {
          "type": "array",
          "description": "List of CustomMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
      "type": "object",
      "description": "Data specific to web streams.",
      "properties": {
        "measurementId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\""
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "description": "A binding of a user to a set of roles.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\""
        },
        "user": {
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\"",
          "type": "string"
        },
        "roles": {
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "type": "object",
      "description": "A conversion event in a Google Analytics property.",
      "properties": {
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "readOnly": true,
          "type": "boolean"
        },
        "custom": {
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string",
          "format": "google-datetime"
        },
        "defaultConversionValue": {
          "description": "Optional. Defines a default value/currency for a conversion event.",
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue"
        },
        "countingMethod": {
          "type": "string",
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEventCreateRule": {
      "description": "An Event Create Rule defines conditions that will trigger the creation of an entirely new event based upon matched criteria of a source event. Additional mutations of the parameters from the source event can be defined. Unlike Event Edit rules, Event Creation Rules have no defined order. They will all be run independently. Event Edit and Event Create rules can't be used to modify an event created from an Event Create rule.",
      "properties": {
        "eventConditions": {
          "type": "array",
          "description": "Required. Must have at least one condition, and can have up to 10 max. Conditions on the source event must match for this rule to be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMatchingCondition"
          }
        },
        "destinationEvent": {
          "type": "string",
          "description": "Required. The name of the new event to be created. This value must: * be less than 40 characters * consist only of letters, digits or _ (underscores) * start with a letter"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this EventCreateRule resource. Format: properties/{property}/dataStreams/{data_stream}/eventCreateRules/{event_create_rule}",
          "type": "string"
        },
        "sourceCopyParameters": {
          "type": "boolean",
          "description": "If true, the source parameters are copied to the new event. If false, or unset, all non-internal parameters are not copied from the source event. Parameter mutations are applied after the parameters have been copied."
        },
        "parameterMutations": {
          "type": "array",
          "description": "Parameter mutations define parameter behavior on the new event, and are applied in order. A maximum of 20 mutations can be applied.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaParameterMutation"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaEventCreateRule",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetric": {
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessMetric",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "description": "Response message for ListEventEditRules RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventEditRules": {
          "type": "array",
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "type": "object",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "type": "object",
      "description": "A link between a Google Analytics property and a Firebase project.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this FirebaseLink was originally created."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678"
        },
        "project": {
          "type": "string",
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListKeyEventsResponse": {
      "description": "Response message for ListKeyEvents RPC.",
      "properties": {
        "keyEvents": {
          "description": "The requested Key Events",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListKeyEventsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotation": {
      "description": "A Reporting Data Annotation is a comment connected to certain dates for reporting data.",
      "properties": {
        "annotationDate": {
          "description": "If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "title": {
          "description": "Required. Human-readable title for this Reporting Data Annotation.",
          "type": "string"
        },
        "systemGenerated": {
          "type": "boolean",
          "description": "Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted.",
          "readOnly": true
        },
        "name": {
          "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'",
          "type": "string"
        },
        "color": {
          "type": "string",
          "enum": [
            "COLOR_UNSPECIFIED",
            "PURPLE",
            "BROWN",
            "BLUE",
            "GREEN",
            "RED",
            "CYAN",
            "ORANGE"
          ],
          "enumDescriptions": [
            "Color unknown or not specified.",
            "Purple color.",
            "Brown color.",
            "Blue color.",
            "Green color.",
            "Red color.",
            "Cyan color.",
            "Orange color. (Only used for system-generated annotations)"
          ],
          "description": "Required. The color used for display of this Reporting Data Annotation."
        },
        "annotationDateRange": {
          "description": "If set, the Reporting Data Annotation is for a range of dates represented by this field.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange"
        },
        "description": {
          "description": "Optional. Description for this Reporting Data Annotation.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAdSenseLinksResponse",
      "type": "object",
      "description": "Response message for ListAdSenseLinks method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "adsenseLinks": {
          "type": "array",
          "description": "List of AdSenseLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678"
        },
        "applyToProperty": {
          "description": "Immutable. Resource name of the Subproperty that uses this filter.",
          "type": "string"
        },
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "type": "object",
      "description": "Status information for a link proposal.",
      "properties": {
        "linkProposalInitiatingProduct": {
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal."
        },
        "requestorEmail": {
          "readOnly": true,
          "description": "Output only. The email address of the user that proposed this linkage.",
          "type": "string"
        },
        "linkProposalState": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal.",
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "description": "A list of Audience filter expressions.",
      "properties": {
        "filterExpressions": {
          "description": "A list of Audience filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListMeasurementProtocolSecretsResponse",
      "type": "object",
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "properties": {
        "measurementProtocolSecrets": {
          "type": "array",
          "description": "A list of secrets for the parent stream specified in the request.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "type": "object",
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser.",
      "properties": {
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "readOnly": true
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest": {
      "description": "Request message for ApproveDisplayVideo360AdvertiserLinkProposal RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaApproveDisplayVideo360AdvertiserLinkProposalRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest": {
      "description": "Request message for CreateRollupProperty RPC.",
      "properties": {
        "rollupProperty": {
          "description": "Required. The roll-up property to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "sourceProperties": {
          "type": "array",
          "description": "Optional. The resource names of properties that will be sources to the created roll-up property.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaMatchingCondition": {
      "description": "Defines a condition for when an Event Edit or Event Creation rule applies to an event.",
      "properties": {
        "comparisonType": {
          "enumDescriptions": [
            "Unknown",
            "Equals, case sensitive",
            "Equals, case insensitive",
            "Contains, case sensitive",
            "Contains, case insensitive",
            "Starts with, case sensitive",
            "Starts with, case insensitive",
            "Ends with, case sensitive",
            "Ends with, case insensitive",
            "Greater than",
            "Greater than or equal",
            "Less than",
            "Less than or equal",
            "regular expression. Only supported for web streams.",
            "regular expression, case insensitive. Only supported for web streams."
          ],
          "description": "Required. The type of comparison to be applied to the value.",
          "type": "string",
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "EQUALS_CASE_INSENSITIVE",
            "CONTAINS",
            "CONTAINS_CASE_INSENSITIVE",
            "STARTS_WITH",
            "STARTS_WITH_CASE_INSENSITIVE",
            "ENDS_WITH",
            "ENDS_WITH_CASE_INSENSITIVE",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "REGULAR_EXPRESSION",
            "REGULAR_EXPRESSION_CASE_INSENSITIVE"
          ]
        },
        "negated": {
          "description": "Whether or not the result of the comparison should be negated. For example, if `negated` is true, then 'equals' comparisons would function as 'not equals'.",
          "type": "boolean"
        },
        "field": {
          "type": "string",
          "description": "Required. The name of the field that is compared against for the condition. If 'event_name' is specified this condition will apply to the name of the event. Otherwise the condition will apply to a parameter with the specified name. This value cannot contain spaces."
        },
        "value": {
          "description": "Required. The value being compared against for this condition. The runtime implementation may perform type coercion of this value to evaluate this condition based on the type of the parameter value.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMatchingCondition",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest",
      "type": "object",
      "description": "Request message for ReorderEventEditRules RPC.",
      "properties": {
        "eventEditRules": {
          "type": "array",
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "description": "The filter for strings.",
      "properties": {
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPropertySummary": {
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "properties": {
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "property": {
          "type": "string",
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\""
        },
        "parent": {
          "type": "string",
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\""
        },
        "propertyType": {
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "The property's property type.",
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        }
      },
[...]
