{
  "rootUrl": "https://analytics.googleapis.com/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "batchPath": "batch/analytics/v3",
  "id": "analytics:v3",
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query",
      "type": "string",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ]
    }
  },
  "documentationLink": "https://developers.google.com/analytics/",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "basePath": "/analytics/v3/",
  "kind": "discovery#restDescription",
  "revision": "20190807",
  "title": "Google Analytics API",
  "servicePath": "analytics/v3/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "description": "Views and manages your Google Analytics data.",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "schemas": {
    "EntityAdWordsLinks": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "description": "A list of entity Google Ads links.",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        }
      },
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "id": "EntityAdWordsLinks"
    },
    "FilterExpression": {
      "id": "FilterExpression",
      "type": "object",
      "description": "JSON template for an Analytics filter expression.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter expression",
          "default": "analytics#filterExpression"
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "fieldIndex": {
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "format": "int32"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        }
      }
    },
    "CustomDimension": {
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Link for the custom dimension",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "index": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Index of the custom dimension."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "default": "analytics#customDimension"
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Time the custom dimension was created.",
          "format": "date-time",
          "readOnly": true
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time the custom dimension was last modified."
        },
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics Custom Dimension.",
      "id": "CustomDimension"
    },
    "RemarketingAudiences": {
      "type": "object",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience.",
      "properties": {
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudiences"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "items": {
          "type": "array",
          "description": "A list of remarketing audiences.",
          "items": {
            "$ref": "RemarketingAudience"
          }
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "RemarketingAudiences"
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "properties": {
        "customDataImportUids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of upload UIDs."
        }
      },
      "type": "object",
      "description": "Request template for the delete upload data request."
    },
    "Webproperty": {
      "type": "object",
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics WebProperty.",
          "default": "analytics#webproperty",
          "readOnly": true
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true
        },
        "defaultProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Default view (profile) ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this web property."
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this web property was created."
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this web property was last modified."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "type": "array",
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            }
          }
        },
        "profileCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "View (Profile) count for this web property."
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account"
            }
          }
        }
      },
      "id": "Webproperty"
    },
    "EntityUserLink": {
      "id": "EntityUserLink",
      "properties": {
        "entity": {
          "type": "object",
          "description": "Entity for this link. It can be an account, a web property, or a view (profile).",
          "properties": {
            "profileRef": {
              "$ref": "ProfileRef",
              "description": "View (Profile) for this link."
            },
            "accountRef": {
              "$ref": "AccountRef",
              "description": "Account for this link."
            },
            "webPropertyRef": {
              "$ref": "WebPropertyRef",
              "description": "Web property for this link."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Self link for this resource."
        },
        "permissions": {
          "properties": {
            "local": {
              "type": "array",
              "description": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable.",
              "items": {
                "type": "string"
              }
            },
            "effective": {
              "type": "array",
              "description": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object",
          "description": "Permissions the user has for this entity."
        },
        "id": {
          "type": "string",
          "description": "Entity user link ID"
        },
        "userRef": {
          "$ref": "UserRef",
          "description": "User reference."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity user link.",
          "default": "analytics#entityUserLink"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity."
    },
    "AccountRef": {
      "type": "object",
      "description": "JSON template for a linked account.",
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "kind": {
          "type": "string",
          "description": "Analytics account reference.",
          "default": "analytics#accountRef"
        }
      },
      "id": "AccountRef"
    },
    "Uploads": {
      "id": "Uploads",
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "items": {
          "items": {
            "$ref": "Upload"
          },
          "type": "array",
          "description": "A list of uploads."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#uploads"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        }
      }
    },
    "Filters": {
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#filters"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "Filter"
          },
          "type": "array",
          "description": "A list of filters."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      },
      "type": "object",
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.",
      "id": "Filters"
    },
    "Accounts": {
      "id": "Accounts",
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accounts"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "items": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "A list of accounts."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      }
    },
    "ProfileFilterLinks": {
      "properties": {
        "items": {
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "type": "array",
          "description": "A list of profile filter links."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#profileFilterLinks"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      },
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "id": "ProfileFilterLinks"
    },
    "Account": {
      "properties": {
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "type": "array",
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was created."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "updated": {
          "type": "string",
          "description": "Time the account was last modified.",
          "format": "date-time"
        },
        "childLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            },
            "type": {
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\".",
              "default": "analytics#webproperties"
            }
          },
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics account.",
          "default": "analytics#account"
        }
      },
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "id": "Account"
    },
    "EntityAdWordsLink": {
      "id": "EntityAdWordsLink",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "entity": {
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          },
          "type": "object",
          "description": "Web property being linked."
        },
        "profileIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of linked Views (Profiles) represented as strings."
        },
        "selfLink": {
          "type": "string",
          "description": "URL link for this Google Analytics - Google Ads link."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity Google Ads link.",
          "default": "analytics#entityAdWordsLink"
        },
        "adWordsAccounts": {
          "items": {
            "$ref": "AdWordsAccount"
          },
          "type": "array",
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "id": {
          "type": "string",
          "description": "Entity Google Ads link ID"
        }
      },
      "type": "object",
      "description": "JSON template for Analytics Entity Google Ads Link."
    },
    "CustomMetrics": {
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customMetrics"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Collection of custom metrics."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "id": "CustomMetrics"
    },
    "HashClientIdResponse": {
      "id": "HashClientIdResponse",
      "type": "object",
      "description": "JSON template for a hash Client Id response resource.",
      "properties": {
        "hashedClientId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        },
        "clientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        }
      }
    },
    "AccountTreeRequest": {
      "id": "AccountTreeRequest",
      "properties": {
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        },
        "profileName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "EntityUserLinks": {
      "type": "object",
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "properties": {
        "items": {
          "items": {
            "$ref": "EntityUserLink"
          },
          "type": "array",
          "description": "A list of entity user links."
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityUserLinks"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      },
      "id": "EntityUserLinks"
    },
    "FilterRef": {
      "type": "object",
      "description": "JSON template for a profile filter link.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of this filter."
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          },
          "type": "string",
          "description": "Filter ID."
        },
        "href": {
          "type": "string",
          "description": "Link for this filter."
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef"
        }
      },
      "id": "FilterRef"
    },
    "Profile": {
      "id": "Profile",
      "properties": {
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics view (profile).",
          "default": "analytics#profile",
          "readOnly": true
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL for this view (profile)."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "enhancedECommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "excludeQueryParameters": {
          "type": "string",
          "description": "The query parameters that are excluded from this view (profile)."
        },
        "currency": {
          "type": "string",
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "webPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          },
          "type": "object",
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs."
        },
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        },
        "siteSearchCategoryParameters": {
          "type": "string",
          "description": "Site search category parameters for this view (profile)."
        },
        "permissions": {
          "properties": {
            "effective": {
              "readOnly": true,
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property."
            }
          },
          "type": "object",
          "description": "Permissions the user has for this view (profile)."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile).",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#goals\".",
              "default": "analytics#goals"
            }
          }
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was last modified."
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was created."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics view (profile)."
    },
    "WebPropertyRef": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "kind": {
          "type": "string",
          "description": "Analytics web property reference.",
          "default": "analytics#webPropertyRef"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        }
      },
      "type": "object",
      "description": "JSON template for a web property reference.",
      "id": "WebPropertyRef"
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "excludeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type EXCLUDE."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Name of this filter."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#filter"
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Time this filter was created.",
          "format": "date-time",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this filter was last modified."
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "includeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type INCLUDE."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#account\".",
              "default": "analytics#account"
            }
          },
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs."
        },
        "uppercaseDetails": {
          "properties": {
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type UPPER."
        },
        "advancedDetails": {
          "properties": {
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldAIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldBIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "outputToFieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type ADVANCED."
        },
        "lowercaseDetails": {
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type LOWER."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this filter.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account filter."
    },
    "CustomDataSource": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics custom data source.",
          "default": "analytics#customDataSource"
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "importBehavior": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "profilesLinked": {
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this custom data source was created."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "updated": {
          "type": "string",
          "description": "Time this custom data source was last modified.",
          "format": "date-time"
        },
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Collection of schema headers of the custom data source."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          }
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics custom data source.",
      "id": "CustomDataSource"
    },
    "Column": {
      "type": "object",
      "description": "JSON template for a metadata column.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Column id."
        },
        "attributes": {
          "type": "object",
          "description": "Map of attribute name and value for this column.",
          "additionalProperties": {
            "type": "string",
            "description": "The name of the attribute."
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics column.",
          "default": "analytics#column"
        }
      },
      "id": "Column"
    },
    "Experiment": {
      "id": "Experiment",
      "properties": {
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the experiment was last modified. This field is read-only."
        },
        "created": {
          "type": "string",
          "description": "Time the experiment was created. This field is read-only.",
          "format": "date-time"
        },
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "endTime": {
          "type": "string",
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time"
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "default": "analytics#profile"
            }
          }
        },
        "status": {
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "trafficCoverage": {
          "type": "number",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "winnerConfidenceLevel": {
          "format": "double",
          "type": "number",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED."
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "variations": {
          "type": "array",
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED.",
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                }
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "weight": {
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only.",
                "format": "double"
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              }
            }
          }
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment ID. Required for patch and update. Disallowed for create."
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "type": "integer",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "default": "analytics#experiment"
        },
        "rewriteVariationUrlsAsOriginal": {
          "type": "boolean",
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics experiment resource."
    },
    "RemarketingAudience": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "linkedAdAccounts": {
          "type": "array",
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
          "items": {
            "$ref": "LinkedForeignAccount"
          }
        },
        "audienceDefinition": {
          "type": "object",
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          }
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description of this remarketing audience."
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudience"
        },
        "linkedViews": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The views (profiles) that this remarketing audience is linked to."
        },
        "id": {
          "type": "string",
          "description": "Remarketing Audience ID."
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience.",
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            },
            "excludeConditions": {
              "type": "object",
              "description": "Defines the conditions to exclude users from the audience.",
              "properties": {
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                },
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                }
              }
            }
          }
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this remarketing audience was created."
        },
        "updated": {
          "type": "string",
          "description": "Time this remarketing audience was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience.",
      "id": "RemarketingAudience"
    },
    "Goals": {
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#goals"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "items": {
          "type": "array",
          "description": "A list of goals.",
          "items": {
            "$ref": "Goal"
          }
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      },
      "id": "Goals"
    },
    "ProfileSummary": {
      "id": "ProfileSummary",
      "properties": {
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary"
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile."
    },
    "UnsampledReport": {
      "id": "UnsampledReport",
      "properties": {
        "downloadType": {
          "type": "string",
          "description": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "type": "string",
          "description": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED."
        },
        "metrics": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "type": "string",
          "description": "The metrics for the unsampled report."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this unsampled report."
        },
        "id": {
          "type": "string",
          "description": "Unsampled report ID."
        },
        "updated": {
          "type": "string",
          "description": "Time this unsampled report was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this unsampled report was created."
        },
        "filters": {
          "type": "string",
          "description": "The filters for the unsampled report."
        },
        "title": {
          "type": "string",
          "description": "Title of the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this unsampled report belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics unsampled report.",
          "default": "analytics#unsampledReport",
          "readOnly": true
        },
        "segment": {
          "type": "string",
          "description": "The segment for the unsampled report."
        },
        "dimensions": {
          "type": "string",
          "description": "The dimensions for the unsampled report."
        },
        "driveDownloadDetails": {
          "readOnly": true,
          "type": "object",
          "description": "Download details for a file stored in Google Drive.",
          "properties": {
            "documentId": {
              "type": "string",
              "description": "Id of the document/file containing the report data."
            }
          }
        },
        "end-date": {
          "type": "string",
          "description": "The end date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "cloudStorageDownloadDetails": {
          "properties": {
            "objectId": {
              "type": "string",
              "description": "Id of the file object containing the report data."
            },
            "bucketId": {
              "type": "string",
              "description": "Id of the bucket the file object is stored in."
            }
          },
          "type": "object",
          "description": "Download details for a file stored in Google Cloud Storage.",
          "readOnly": true
        },
        "start-date": {
          "type": "string",
          "description": "The start date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this unsampled report belongs."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics unsampled report resource."
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "properties": {
        "customerId": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link."
        },
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Google Ads account.",
          "default": "analytics#adWordsAccount"
        }
      },
      "type": "object",
      "description": "JSON template for an Google Ads account."
    },
    "Experiments": {
      "id": "Experiments",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#experiments"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "items": {
          "type": "array",
          "description": "A list of experiments.",
          "items": {
            "$ref": "Experiment"
          }
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      },
      "type": "object",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment."
    },
    "CustomDimensions": {
      "id": "CustomDimensions",
      "type": "object",
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDimensions"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        },
        "items": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Collection of custom dimensions."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      }
    },
    "RealtimeData": {
      "id": "RealtimeData",
      "type": "object",
      "description": "Real time data for a given view (profile).",
      "properties": {
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#realtimeData"
        },
        "query": {
          "properties": {
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "metrics": {
              "type": "array",
              "description": "List of real time metrics.",
              "items": {
                "type": "string"
              }
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object",
          "description": "Real time data request query parameters."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            },
            "type": "object"
          }
        },
        "rows": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        }
      }
    },
    "ProfileFilterLink": {
      "id": "ProfileFilterLink",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#profileFilterLink"
        },
        "profileRef": {
          "$ref": "ProfileRef",
          "description": "View (Profile) for this link."
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "rank": {
          "format": "int32",
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1."
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this profile filter link.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics profile filter link."
    },
    "UnsampledReports": {
      "type": "object",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#unsampledReports"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "items": {
          "type": "array",
          "description": "A list of unsampled reports.",
          "items": {
            "$ref": "UnsampledReport"
          }
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "UnsampledReports"
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "errors": {
          "type": "array",
          "description": "Data import errors collection.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "uploadTime": {
          "format": "date-time",
          "type": "string",
          "description": "Time this file is uploaded."
        },
        "accountId": {
          "type": "string",
          "description": "Account Id to which this upload belongs.",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics upload.",
          "default": "analytics#upload"
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        }
      }
    },
    "Columns": {
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        },
        "items": {
          "type": "array",
          "description": "List of columns for a report type.",
          "items": {
            "$ref": "Column"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#columns"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of columns returned in the response."
        },
        "attributeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of attributes names returned by columns."
        }
      },
      "id": "Columns"
    },
    "LinkedForeignAccount": {
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for linked foreign account.",
          "default": "analytics#linkedForeignAccount"
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs."
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "readOnly": true,
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search."
        }
      },
      "id": "LinkedForeignAccount"
    },
    "Segments": {
      "id": "Segments",
      "properties": {
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type for segments.",
          "default": "analytics#segments"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this segment collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "items": {
            "$ref": "Segment"
          },
          "type": "array",
          "description": "A list of segments."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "type": "object",
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment."
    },
    "UserDeletionRequest": {
      "id": "UserDeletionRequest",
      "properties": {
        "id": {
          "properties": {
            "userId": {
              "type": "string",
              "description": "The User's id"
            },
            "type": {
              "type": "string",
              "description": "Type of user"
            }
          },
          "type": "object",
          "description": "User ID."
        },
        "kind": {
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\".",
          "default": "analytics#userDeletionRequest"
        },
        "deletionRequestTime": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted"
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        }
      },
      "type": "object",
      "description": "JSON template for a user deletion request resource."
    },
    "McfData": {
      "id": "McfData",
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "containsSampledData": {
          "type": "boolean",
[...]
