{
  "discoveryVersion": "v1",
  "resources": {
    "management": {
      "resources": {
        "webproperties": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webproperties.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              },
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the web property belongs",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "Webproperty"
              },
              "description": "Updates an existing web property. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "update": {
              "id": "analytics.management.webproperties.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the web property belongs",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              },
              "request": {
                "$ref": "Webproperty"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Updates an existing web property."
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties",
              "response": {
                "$ref": "Webproperty"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webproperties.insert",
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Webproperty"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webproperties.list",
              "description": "Lists web properties to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Webproperties"
              },
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of web properties to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "description": "Gets a web property to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true,
                  "description": "ID to retrieve the web property for.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "pattern": "[0-9]+",
                  "required": true,
                  "description": "Account ID to retrieve the web property for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.webproperties.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "update": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to update the account-user link for.",
                  "location": "path"
                },
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "description": "Removes a user from the given web property.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "linkId": {
                  "description": "Link ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "id": "analytics.management.webpropertyUserLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "analytics.management.webpropertyUserLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists webProperty-user links for a given web property.",
              "parameters": {
                "accountId": {
                  "description": "Account ID which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customDimensions.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customDimensionId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query"
                }
              },
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ]
            },
            "update": {
              "request": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "description": "Updates an existing custom dimension.",
              "httpMethod": "PUT",
              "id": "analytics.management.customDimensions.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query",
                  "type": "boolean",
                  "default": "false"
                },
                "customDimensionId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomDimensions"
              },
              "description": "Lists custom dimensions to which the user has access.",
              "id": "analytics.management.customDimensions.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "parameters": {
                "customDimensionId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the custom dimension to retrieve.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID for the custom dimension to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Get a custom dimension to which the user has access.",
              "id": "analytics.management.customDimensions.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "insert": {
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Create a new custom dimension.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customDimensions.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "response": {
                "$ref": "CustomDimension"
              },
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to create.",
                  "location": "path"
                }
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "analytics.management.accounts.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts",
              "response": {
                "$ref": "Accounts"
              },
              "description": "Lists all accounts to which the user has access.",
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of accounts to include in this response.",
                  "format": "int32",
                  "location": "query"
                }
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "insert": {
              "request": {
                "$ref": "Profile"
              },
              "description": "Create a new view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.insert",
              "httpMethod": "POST",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "response": {
                "$ref": "Profile"
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Profile"
              },
              "description": "Gets a view (profile) to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "type": "string",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to retrieve the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "pattern": "[0-9]+",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.profiles.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.profiles.list",
              "description": "Lists views (profiles) to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Profiles"
              },
              "parameters": {
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "id": "analytics.management.profiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "request": {
                "$ref": "Profile"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Updates an existing view (profile). This method supports patch semantics."
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.update",
              "httpMethod": "PUT",
              "description": "Updates an existing view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "analytics.management.profiles.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Deletes a view (profile).",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to delete the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "delete": {
              "parameters": {
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the remarketing audience belongs.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the remarketing audience belongs.",
                  "location": "path"
                }
              },
              "description": "Delete a remarketing audience.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.delete",
              "httpMethod": "DELETE"
            },
            "patch": {
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ]
            },
            "update": {
              "id": "analytics.management.remarketingAudience.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "request": {
                "$ref": "RemarketingAudience"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "description": "Updates an existing remarketing audience."
            },
            "list": {
              "description": "Lists remarketing audiences to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "max-results": {
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "location": "path"
                },
                "type": {
                  "type": "string",
                  "default": "all",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.remarketingAudience.list"
            },
            "get": {
              "httpMethod": "GET",
              "id": "analytics.management.remarketingAudience.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Gets a remarketing audience to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to retrieve.",
                  "location": "path"
                }
              }
            },
            "insert": {
              "request": {
                "$ref": "RemarketingAudience"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Creates a new remarketing audience.",
              "id": "analytics.management.remarketingAudience.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "The account ID for which to create the remarketing audience.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID for which to create the remarketing audience.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "response": {
                "$ref": "RemarketingAudience"
              }
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "analytics.management.customDataSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomDataSources"
              },
              "description": "List custom data sources to which the user has access.",
              "parameters": {
                "start-index": {
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "max-results": {
                  "format": "int32",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true
                },
                "accountId": {
                  "description": "Account Id for the custom data sources to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+",
                  "required": true
                }
              }
            }
          }
        },
        "uploads": {
          "methods": {
            "list": {
              "id": "analytics.management.uploads.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account Id for the uploads to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+"
                },
                "start-index": {
                  "format": "int32",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "max-results": {
                  "format": "int32",
                  "description": "The maximum number of uploads to include in this response.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "description": "Web property Id for the uploads to retrieve.",
                  "location": "path"
                },
                "customDataSourceId": {
                  "type": "string",
                  "description": "Custom data source Id for uploads to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": ".{22}"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "response": {
                "$ref": "Uploads"
              },
              "description": "List uploads to which the user has access."
            },
            "deleteUploadData": {
              "httpMethod": "POST",
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "id": "analytics.management.uploads.deleteUploadData",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "Delete data associated with a previous upload.",
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "required": true,
                  "description": "Account Id for the uploads to be deleted.",
                  "location": "path",
                  "type": "string"
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "location": "path",
                  "type": "string",
                  "pattern": ".{22}",
                  "required": true
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true,
                  "description": "Web property Id for the uploads to be deleted.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "analytics.management.uploads.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "response": {
                "$ref": "Upload"
              },
              "description": "List uploads to which the user has access.",
              "parameters": {
                "customDataSourceId": {
                  "type": "string",
                  "description": "Custom data source Id for upload to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "description": "Web property Id for the upload to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account Id for the upload to retrieve.",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+"
                },
                "uploadId": {
                  "pattern": ".{22}",
                  "required": true,
                  "description": "Upload Id to retrieve.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "uploadData": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "Upload data for a custom data source.",
              "mediaUpload": {
                "protocols": {
                  "simple": {
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
                    "multipart": true
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "1GB"
              },
              "parameters": {
                "webPropertyId": {
                  "description": "Web property UA-string associated with the upload.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-\\d+-\\d+",
                  "required": true
                },
                "customDataSourceId": {
                  "type": "string",
                  "required": true,
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account Id associated with the upload.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "response": {
                "$ref": "Upload"
              },
              "id": "analytics.management.uploads.uploadData",
              "supportsMediaUpload": true,
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "management/segments",
              "response": {
                "$ref": "Segments"
              },
              "description": "Lists segments to which the user has access.",
              "id": "analytics.management.segments.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "goals": {
          "methods": {
            "insert": {
              "request": {
                "$ref": "Goal"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Create a new goal.",
              "id": "analytics.management.goals.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to create the goal for.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create the goal for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to create the goal for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "response": {
                "$ref": "Goal"
              }
            },
            "list": {
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of goals to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goals"
              },
              "description": "Lists goals to which the user has access.",
              "id": "analytics.management.goals.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets a goal to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "response": {
                "$ref": "Goal"
              },
              "parameters": {
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the goal for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.goals.get"
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "response": {
                "$ref": "Goal"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.goals.patch",
              "description": "Updates an existing goal. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              }
            },
            "update": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the goal.",
                  "location": "path"
                },
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "response": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "description": "Updates an existing goal.",
              "request": {
                "$ref": "Goal"
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "description": "Removes a user from the given account.",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.delete"
            },
            "list": {
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists account-user links for a given account.",
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID to retrieve the user links for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.accountUserLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.update",
              "httpMethod": "PUT",
              "parameters": {
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the account-user link for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given account.",
              "parameterOrder": [
                "accountId",
                "linkId"
              ]
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given account.",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.insert",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "id": "analytics.management.clientId.hashClientId",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "path": "management/clientId:hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "description": "Hashes the given Client ID."
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "id": "analytics.management.unsampledReports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "description": "Deletes an unsampled report.",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the unsampled reports for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "unsampledReportId": {
                  "description": "ID of the unsampled report to be deleted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "id": "analytics.management.unsampledReports.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "UnsampledReports"
              },
              "description": "Lists unsampled reports to which the user has access."
            },
            "get": {
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "unsampledReportId": {
                  "description": "ID of the unsampled report to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "response": {
                "$ref": "UnsampledReport"
              },
              "description": "Returns a single unsampled report.",
              "id": "analytics.management.unsampledReports.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "response": {
                "$ref": "UnsampledReport"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "id": "analytics.management.unsampledReports.insert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Create a new unsampled report.",
              "request": {
                "$ref": "UnsampledReport"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "path": "management/accountSummaries",
              "response": {
                "$ref": "AccountSummaries"
              },
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "id": "analytics.management.accountSummaries.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "insert": {
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to create the link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "ID of the Google Analytics account to create the link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "httpMethod": "POST",
              "description": "Creates a webProperty-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32"
                }
              },
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "EntityAdWordsLinks"
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "update": {
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link.",
              "httpMethod": "PUT",
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                }
              }
            },
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Deletes a web property-Google Ads link.",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "description": "Web property Google Ads link ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the Google Ads link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "update": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the user link for.",
                  "location": "path"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to update the user link for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile ID) to update the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to update the user link for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Updates permissions for an existing user on the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.profileUserLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to create the user link for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "description": "Removes a user from the given view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "parameters": {
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to delete the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.profileUserLinks.delete"
            },
            "list": {
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID which the given view (profile) belongs to.",
                  "location": "path"
                }
              },
              "description": "Lists profile-user links for a given view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analytics.management.profileUserLinks.list",
              "httpMethod": "GET"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "insert": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID for the custom metric to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.insert",
              "httpMethod": "POST",
              "description": "Create a new custom metric.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomMetric"
              }
            },
            "get": {
              "id": "analytics.management.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom metric to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customMetricId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the custom metric to retrieve.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "description": "Get a custom metric to which the user has access."
            },
            "list": {
              "httpMethod": "GET",
              "id": "analytics.management.customMetrics.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomMetrics"
              },
              "description": "Lists custom metrics to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom metrics to retrieve.",
                  "location": "path"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "max-results": {
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom metric to update.",
                  "location": "path"
                },
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
[...]
