{
  "name": "analytics",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "title": "Google Analytics API",
  "schemas": {
    "CustomMetric": {
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom metric was created.",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "description": "Index of the custom metric.",
          "readOnly": true,
          "format": "int32"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom metric."
        },
        "type": {
          "type": "string",
          "description": "Data type of custom metric."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom metric was last modified.",
          "readOnly": true
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for the custom metric",
          "readOnly": true
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          },
          "type": "object",
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs."
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom metric is active."
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "kind": {
          "type": "string",
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true,
          "default": "analytics#customMetric"
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom metric: HIT or PRODUCT."
        }
      },
      "id": "CustomMetric",
      "type": "object",
      "description": "JSON template for Analytics Custom Metric."
    },
    "EntityUserLink": {
      "id": "EntityUserLink",
      "type": "object",
      "description": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity.",
      "properties": {
        "entity": {
          "properties": {
            "profileRef": {
              "description": "View (Profile) for this link.",
              "$ref": "ProfileRef"
            },
            "accountRef": {
              "description": "Account for this link.",
              "$ref": "AccountRef"
            },
            "webPropertyRef": {
              "$ref": "WebPropertyRef",
              "description": "Web property for this link."
            }
          },
          "type": "object",
          "description": "Entity for this link. It can be an account, a web property, or a view (profile)."
        },
        "kind": {
          "default": "analytics#entityUserLink",
          "type": "string",
          "description": "Resource type for entity user link."
        },
        "selfLink": {
          "type": "string",
          "description": "Self link for this resource."
        },
        "userRef": {
          "$ref": "UserRef",
          "description": "User reference."
        },
        "id": {
          "type": "string",
          "description": "Entity user link ID"
        },
        "permissions": {
          "properties": {
            "effective": {
              "type": "array",
              "description": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            },
            "local": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable."
            }
          },
          "type": "object",
          "description": "Permissions the user has for this entity."
        }
      }
    },
    "HashClientIdResponse": {
      "id": "HashClientIdResponse",
      "type": "object",
      "description": "JSON template for a hash Client Id response resource.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        },
        "clientId": {
          "type": "string"
        },
        "hashedClientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        }
      }
    },
    "Segments": {
      "properties": {
        "kind": {
          "default": "analytics#segments",
          "type": "string",
          "description": "Collection type for segments."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this segment collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "items": {
          "items": {
            "$ref": "Segment"
          },
          "type": "array",
          "description": "A list of segments."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "id": "Segments",
      "type": "object",
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment."
    },
    "ProfileRef": {
      "id": "ProfileRef",
      "type": "object",
      "description": "JSON template for a linked view (profile).",
      "properties": {
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "kind": {
          "default": "analytics#profileRef",
          "type": "string",
          "description": "Analytics view (profile) reference."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        }
      }
    },
    "ProfileSummary": {
      "id": "ProfileSummary",
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary"
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        }
      }
    },
    "Column": {
      "id": "Column",
      "type": "object",
      "description": "JSON template for a metadata column.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Column id."
        },
        "attributes": {
          "type": "object",
          "description": "Map of attribute name and value for this column.",
          "additionalProperties": {
            "type": "string",
            "description": "The name of the attribute."
          }
        },
        "kind": {
          "default": "analytics#column",
          "type": "string",
          "description": "Resource type for Analytics column."
        }
      }
    },
    "CustomMetrics": {
      "id": "CustomMetrics",
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "kind": {
          "default": "analytics#customMetrics",
          "type": "string",
          "description": "Collection type."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "items": {
          "type": "array",
          "description": "Collection of custom metrics.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      }
    },
    "FilterRef": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef"
        },
        "name": {
          "type": "string",
          "description": "Name of this filter.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Filter ID.",
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs.",
          "readOnly": true
        },
        "href": {
          "type": "string",
          "description": "Link for this filter."
        }
      },
      "id": "FilterRef",
      "type": "object",
      "description": "JSON template for a profile filter link."
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "properties": {
        "customDataImportUids": {
          "type": "array",
          "description": "A list of upload UIDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "type": "object",
      "description": "Request template for the delete upload data request."
    },
    "EntityAdWordsLink": {
      "id": "EntityAdWordsLink",
      "type": "object",
      "description": "JSON template for Analytics Entity Google Ads Link.",
      "properties": {
        "adWordsAccounts": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "items": {
            "$ref": "AdWordsAccount"
          },
          "type": "array",
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty."
        },
        "entity": {
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          },
          "type": "object",
          "description": "Web property being linked."
        },
        "kind": {
          "default": "analytics#entityAdWordsLink",
          "type": "string",
          "description": "Resource type for entity Google Ads link."
        },
        "name": {
          "type": "string",
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "profileIds": {
          "type": "array",
          "description": "IDs of linked Views (Profiles) represented as strings.",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "URL link for this Google Analytics - Google Ads link."
        },
        "id": {
          "type": "string",
          "description": "Entity Google Ads link ID"
        }
      }
    },
    "AccountTreeRequest": {
      "properties": {
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        },
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "timezone": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      },
      "id": "AccountTreeRequest",
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "properties": {
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was created."
        },
        "childLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            },
            "type": {
              "default": "analytics#webproperties",
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            }
          },
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "permissions": {
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true
            }
          },
          "type": "object",
          "description": "Permissions the user has for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "updated": {
          "type": "string",
          "description": "Time the account was last modified.",
          "format": "date-time"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics account.",
          "default": "analytics#account"
        }
      }
    },
    "Segment": {
      "id": "Segment",
      "type": "object",
      "description": "JSON template for an Analytics segment.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Segment ID."
        },
        "updated": {
          "type": "string",
          "description": "Time the segment was last modified.",
          "format": "date-time"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics segment.",
          "default": "analytics#segment"
        },
        "segmentId": {
          "type": "string",
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API."
        },
        "created": {
          "type": "string",
          "description": "Time the segment was created.",
          "format": "date-time"
        },
        "definition": {
          "type": "string",
          "description": "Segment definition."
        },
        "type": {
          "type": "string",
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\"."
        },
        "name": {
          "type": "string",
          "description": "Segment name."
        }
      }
    },
    "McfData": {
      "id": "McfData",
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "columnHeaders": {
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            }
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "query": {
          "properties": {
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of analytics metrics."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "totalsForAllResults": {
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "rows": {
          "items": {
            "items": {
              "properties": {
                "conversionPathValue": {
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      }
                    }
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated."
            },
            "type": "array"
          },
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            }
          }
        },
        "kind": {
          "default": "analytics#mcfData",
          "type": "string",
          "description": "Resource type."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        }
      }
    },
    "AccountRef": {
      "id": "AccountRef",
      "type": "object",
      "description": "JSON template for a linked account.",
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "kind": {
          "default": "analytics#accountRef",
          "type": "string",
          "description": "Analytics account reference."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        }
      }
    },
    "LinkedForeignAccount": {
      "id": "LinkedForeignAccount",
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "properties": {
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true
        },
        "kind": {
          "default": "analytics#linkedForeignAccount",
          "type": "string",
          "description": "Resource type for linked foreign account."
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs."
        }
      }
    },
    "HashClientIdRequest": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdRequest"
        },
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "id": "HashClientIdRequest",
      "type": "object",
      "description": "JSON template for a hash Client Id request resource."
    },
    "Webproperties": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#webproperties"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "id": "Webproperties",
      "type": "object",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property."
    },
    "ProfileFilterLink": {
      "id": "ProfileFilterLink",
      "type": "object",
      "description": "JSON template for an Analytics profile filter link.",
      "properties": {
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "kind": {
          "default": "analytics#profileFilterLink",
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "readOnly": true
        },
        "rank": {
          "format": "int32",
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this profile filter link.",
          "readOnly": true
        }
      }
    },
    "UnsampledReport": {
      "id": "UnsampledReport",
      "type": "object",
      "description": "JSON template for Analytics unsampled report resource.",
      "properties": {
        "start-date": {
          "type": "string",
          "description": "The start date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this unsampled report.",
          "readOnly": true
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time this unsampled report was last modified.",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "cloudStorageDownloadDetails": {
          "properties": {
            "bucketId": {
              "type": "string",
              "description": "Id of the bucket the file object is stored in."
            },
            "objectId": {
              "type": "string",
              "description": "Id of the file object containing the report data."
            }
          },
          "type": "object",
          "description": "Download details for a file stored in Google Cloud Storage.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.",
          "readOnly": true
        },
        "dimensions": {
          "type": "string",
          "description": "The dimensions for the unsampled report."
        },
        "downloadType": {
          "type": "string",
          "description": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.",
          "readOnly": true
        },
        "end-date": {
          "type": "string",
          "description": "The end date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "title": {
          "type": "string",
          "description": "Title of the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this unsampled report was created.",
          "readOnly": true
        },
        "segment": {
          "type": "string",
          "description": "The segment for the unsampled report."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this unsampled report belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics unsampled report.",
          "readOnly": true,
          "default": "analytics#unsampledReport"
        },
        "metrics": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "type": "string",
          "description": "The metrics for the unsampled report."
        },
        "filters": {
          "type": "string",
          "description": "The filters for the unsampled report."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this unsampled report belongs."
        },
        "id": {
          "type": "string",
          "description": "Unsampled report ID."
        },
        "driveDownloadDetails": {
          "properties": {
            "documentId": {
              "type": "string",
              "description": "Id of the document/file containing the report data."
            }
          },
          "type": "object",
          "description": "Download details for a file stored in Google Drive.",
          "readOnly": true
        }
      }
    },
    "AccountTicket": {
      "id": "AccountTicket",
      "type": "object",
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.",
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "Account for this ticket."
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL."
        },
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "kind": {
          "default": "analytics#accountTicket",
          "type": "string",
          "description": "Resource type for account ticket."
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        }
      }
    },
    "CustomDataSource": {
      "properties": {
        "kind": {
          "default": "analytics#customDataSource",
          "type": "string",
          "description": "Resource type for Analytics custom data source."
        },
        "schema": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Collection of schema headers of the custom data source."
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            }
          }
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            }
          }
        },
        "importBehavior": {
          "type": "string"
        },
        "profilesLinked": {
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "updated": {
          "type": "string",
          "description": "Time this custom data source was last modified.",
          "format": "date-time"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "created": {
          "type": "string",
          "description": "Time this custom data source was created.",
          "format": "date-time"
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        }
      },
      "id": "CustomDataSource",
      "type": "object",
      "description": "JSON template for an Analytics custom data source."
    },
    "UserRef": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        },
        "id": {
          "type": "string",
          "description": "User ID."
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        }
      },
      "id": "UserRef",
      "type": "object",
      "description": "JSON template for a user reference."
    },
    "RealtimeData": {
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "kind": {
          "default": "analytics#realtimeData",
          "type": "string",
          "description": "Resource type."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          }
        },
        "rows": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            }
          }
        },
        "query": {
          "properties": {
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "type": "array",
              "description": "List of real time metrics.",
              "items": {
                "type": "string"
              }
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            }
          },
          "type": "object",
          "description": "Real time data request query parameters."
        },
        "totalsForAllResults": {
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        }
      },
      "id": "RealtimeData",
      "type": "object",
      "description": "Real time data for a given view (profile)."
    },
    "RemarketingAudience": {
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true
        },
        "linkedViews": {
          "type": "array",
          "description": "The views (profiles) that this remarketing audience is linked to.",
          "items": {
            "type": "string"
          }
        },
        "linkedAdAccounts": {
          "items": {
            "$ref": "LinkedForeignAccount"
          },
          "type": "array",
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently."
        },
        "audienceDefinition": {
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "type": "object",
          "description": "The simple audience definition that will cause a user to be added to an audience."
        },
        "kind": {
          "default": "analytics#remarketingAudience",
          "type": "string",
          "description": "Collection type."
        },
        "id": {
          "type": "string",
          "description": "Remarketing Audience ID."
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "description": {
          "type": "string",
          "description": "The description of this remarketing audience.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this remarketing audience was created.",
          "readOnly": true
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience.",
          "properties": {
            "excludeConditions": {
              "type": "object",
              "description": "Defines the conditions to exclude users from the audience.",
              "properties": {
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                },
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                }
              }
            },
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            }
          }
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time this remarketing audience was last modified.",
          "readOnly": true
        }
      },
      "id": "RemarketingAudience",
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience."
    },
    "FilterExpression": {
      "properties": {
        "kind": {
          "default": "analytics#filterExpression",
          "type": "string",
          "description": "Kind value for filter expression"
        },
        "fieldIndex": {
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "format": "int32"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        }
      },
      "id": "FilterExpression",
      "type": "object",
      "description": "JSON template for an Analytics filter expression."
    },
    "Filters": {
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of filters.",
          "items": {
            "$ref": "Filter"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#filters"
        }
      },
      "id": "Filters",
      "type": "object",
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter."
    },
    "AccountSummaries": {
      "id": "AccountSummaries",
      "type": "object",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "items": {
          "items": {
            "$ref": "AccountSummary"
          },
          "type": "array",
          "description": "A list of AccountSummaries."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this AccountSummary collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accountSummaries"
        }
      }
    },
    "ProfileFilterLinks": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "kind": {
          "default": "analytics#profileFilterLinks",
          "type": "string",
          "description": "Collection type."
        },
        "items": {
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "type": "array",
          "description": "A list of profile filter links."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      },
      "id": "ProfileFilterLinks",
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link."
    },
    "UnsampledReports": {
      "id": "UnsampledReports",
      "type": "object",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "properties": {
        "kind": {
          "default": "analytics#unsampledReports",
          "type": "string",
          "description": "Collection type."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "items": {
          "type": "array",
          "description": "A list of unsampled reports.",
          "items": {
            "$ref": "UnsampledReport"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      }
    },
    "CustomDimensions": {
      "id": "CustomDimensions",
      "type": "object",
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        },
        "items": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Collection of custom dimensions."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "default": "analytics#customDimensions",
          "type": "string",
          "description": "Collection type."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      }
    },
    "UserDeletionRequest": {
      "properties": {
        "id": {
          "type": "object",
          "description": "User ID.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of user"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "deletionRequestTime": {
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted",
          "readOnly": true,
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\".",
          "default": "analytics#userDeletionRequest"
        }
      },
      "id": "UserDeletionRequest",
      "type": "object",
      "description": "JSON template for a user deletion request resource."
    },
    "Columns": {
      "id": "Columns",
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        },
        "items": {
          "items": {
            "$ref": "Column"
          },
          "type": "array",
          "description": "List of columns for a report type."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of columns returned in the response."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#columns"
        },
        "attributeNames": {
          "type": "array",
          "description": "List of attributes names returned by columns.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Goal": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "urlDestinationDetails": {
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION.",
          "properties": {
            "steps": {
              "type": "array",
              "description": "List of steps configured for this goal funnel.",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "number": {
                    "format": "int32",
                    "type": "integer",
                    "description": "Step number."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                }
              }
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            },
            "url": {
              "type": "string",
              "description": "URL for this goal."
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Time this goal was created.",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "eventDetails": {
          "type": "object",
          "description": "Details for the goal of the type EVENT.",
          "properties": {
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            },
            "eventConditions": {
              "type": "array",
              "description": "List of event conditions.",
              "items": {
                "type": "object",
                "properties": {
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  },
                  "comparisonValue": {
                    "format": "int64",
                    "type": "string",
                    "description": "Value used for this comparison."
                  },
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  }
                }
              }
            }
          }
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            },
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "updated": {
          "type": "string",
          "description": "Time this goal was last modified.",
          "format": "date-time"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "value": {
          "type": "number",
          "description": "Goal value.",
          "format": "float"
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\".",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs."
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "visitTimeOnSiteDetails": {
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            },
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            }
          },
          "type": "object",
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        }
      },
      "id": "Goal",
      "type": "object",
      "description": "JSON template for Analytics goal resource."
    },
    "Experiments": {
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of experiments.",
          "items": {
            "$ref": "Experiment"
          }
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "kind": {
          "default": "analytics#experiments",
          "type": "string",
          "description": "Collection type."
        }
      },
      "id": "Experiments",
      "type": "object",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment."
    },
    "Experiment": {
      "properties": {
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "default": "analytics#profile"
            },
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only."
            }
          },
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs."
        },
        "startTime": {
          "format": "date-time",
          "type": "string",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "id": {
          "type": "string",
          "description": "Experiment ID. Required for patch and update. Disallowed for create.",
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          }
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "variations": {
          "type": "array",
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING.",
          "items": {
            "type": "object",
            "properties": {
              "weight": {
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only.",
                "format": "double"
              },
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "name": {
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED.",
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                }
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              }
            }
          }
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "trafficCoverage": {
          "type": "number",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "winnerConfidenceLevel": {
          "type": "number",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "endTime": {
          "type": "string",
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time"
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "type": "integer",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "default": "analytics#experiment"
        },
        "created": {
          "type": "string",
          "description": "Time the experiment was created. This field is read-only.",
          "format": "date-time"
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment."
        },
        "status": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment."
        },
        "rewriteVariationUrlsAsOriginal": {
          "type": "boolean",
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED."
        },
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the experiment was last modified. This field is read-only."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        }
      },
      "id": "Experiment",
      "type": "object",
      "description": "JSON template for Analytics experiment resource."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "accountId": {
          "type": "string",
          "description": "Account Id to which this upload belongs.",
          "format": "int64"
        },
        "kind": {
          "default": "analytics#upload",
          "type": "string",
          "description": "Resource type for Analytics upload."
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        },
        "errors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Data import errors collection."
        },
        "uploadTime": {
          "type": "string",
          "description": "Time this file is uploaded.",
          "format": "date-time"
        }
      }
    },
    "Goals": {
      "id": "Goals",
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#goals",
          "type": "string",
          "description": "Collection type."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "items": {
          "items": {
            "$ref": "Goal"
          },
          "type": "array",
          "description": "A list of goals."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        }
      }
    },
    "IncludeConditions": {
      "id": "IncludeConditions",
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "properties": {
        "kind": {
          "default": "analytics#includeConditions",
          "type": "string",
          "description": "Resource type for include conditions."
        },
        "membershipDurationDays": {
          "type": "integer",
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32"
        },
        "daysToLookBack": {
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
          "format": "int32"
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        },
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        }
      }
    },
    "AccountSummary": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics AccountSummary.",
          "default": "analytics#accountSummary"
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "webProperties": {
          "items": {
            "$ref": "WebPropertySummary"
          },
          "type": "array",
          "description": "List of web properties under this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        }
      },
      "id": "AccountSummary",
      "type": "object",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles."
    },
    "Profile": {
      "id": "Profile",
      "type": "object",
      "description": "JSON template for an Analytics view (profile).",
      "properties": {
        "childLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#goals\".",
              "default": "analytics#goals"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            }
          },
          "type": "object",
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile)."
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics view (profile).",
          "readOnly": true,
          "default": "analytics#profile"
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this view (profile).",
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
              "readOnly": true
            }
          }
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this view (profile) was created.",
          "readOnly": true
        },
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this view (profile).",
          "readOnly": true
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "updated": {
          "type": "string",
          "description": "Time this view (profile) was last modified.",
          "readOnly": true,
          "format": "date-time"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "readOnly": true
        },
        "currency": {
          "type": "string",
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            }
          }
        },
        "enhancedECommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled."
        },
        "excludeQueryParameters": {
          "type": "string",
          "description": "The query parameters that are excluded from this view (profile)."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "siteSearchCategoryParameters": {
          "type": "string",
          "description": "Site search category parameters for this view (profile)."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL for this view (profile)."
        }
      }
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "type": "object",
      "description": "JSON template for Analytics Custom Dimension.",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom dimension was created.",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "description": "Index of the custom dimension.",
          "readOnly": true,
          "format": "int32"
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
[...]
