{
  "discoveryVersion": "v1",
  "batchPath": "batch/analytics/v3",
  "revision": "20190807",
  "rootUrl": "https://analytics.googleapis.com/",
  "version": "v3",
  "basePath": "/analytics/v3/",
  "schemas": {
    "RealtimeData": {
      "id": "RealtimeData",
      "type": "object",
      "description": "Real time data for a given view (profile).",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "query": {
          "type": "object",
          "description": "Real time data request query parameters.",
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "metrics": {
              "type": "array",
              "description": "List of real time metrics.",
              "items": {
                "type": "string"
              }
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            }
          }
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            }
          }
        },
        "rows": {
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "totalsForAllResults": {
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#realtimeData"
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              }
            },
            "type": "object"
          }
        }
      }
    },
    "Columns": {
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "id": "Columns",
      "properties": {
        "attributeNames": {
          "type": "array",
          "description": "List of attributes names returned by columns.",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "type": "array",
          "description": "List of columns for a report type.",
          "items": {
            "$ref": "Column"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#columns"
        },
        "totalResults": {
          "type": "integer",
          "description": "Total number of columns returned in the response.",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        }
      }
    },
    "Goal": {
      "type": "object",
      "description": "JSON template for Analytics goal resource.",
      "id": "Goal",
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\".",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs."
        },
        "eventDetails": {
          "properties": {
            "eventConditions": {
              "type": "array",
              "description": "List of event conditions.",
              "items": {
                "properties": {
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "comparisonValue": {
                    "type": "string",
                    "description": "Value used for this comparison.",
                    "format": "int64"
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  }
                },
                "type": "object"
              }
            },
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type EVENT."
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            },
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            }
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "visitTimeOnSiteDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE.",
          "properties": {
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            },
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            }
          }
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "urlDestinationDetails": {
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            },
            "steps": {
              "type": "array",
              "description": "List of steps configured for this goal funnel.",
              "items": {
                "properties": {
                  "number": {
                    "type": "integer",
                    "description": "Step number.",
                    "format": "int32"
                  },
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                },
                "type": "object"
              }
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "url": {
              "type": "string",
              "description": "URL for this goal."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION."
        },
        "updated": {
          "type": "string",
          "description": "Time this goal was last modified.",
          "format": "date-time"
        },
        "created": {
          "type": "string",
          "description": "Time this goal was created.",
          "format": "date-time"
        },
        "value": {
          "type": "number",
          "description": "Goal value.",
          "format": "float"
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        }
      }
    },
    "Account": {
      "properties": {
        "updated": {
          "type": "string",
          "description": "Time the account was last modified.",
          "format": "date-time"
        },
        "created": {
          "type": "string",
          "description": "Time the account was created.",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "childLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            },
            "type": {
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\".",
              "default": "analytics#webproperties"
            }
          },
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "type": "array",
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "items": {
                "type": "string"
              },
              "readOnly": true
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics account.",
          "default": "analytics#account"
        }
      },
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "id": "Account"
    },
    "AccountTreeResponse": {
      "id": "AccountTreeResponse",
      "type": "object",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "The account created."
        },
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeResponse"
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        }
      }
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "properties": {
        "customDataImportUids": {
          "type": "array",
          "description": "A list of upload UIDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "type": "object",
      "description": "Request template for the delete upload data request."
    },
    "Webproperty": {
      "properties": {
        "updated": {
          "type": "string",
          "description": "Time this web property was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "format": "int32",
          "readOnly": true
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Time this web property was created.",
          "format": "date-time"
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            }
          }
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics WebProperty.",
          "default": "analytics#webproperty"
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "permissions": {
          "properties": {
            "effective": {
              "type": "array",
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "items": {
                "type": "string"
              },
              "readOnly": true
            }
          },
          "type": "object",
          "description": "Permissions the user has for this web property."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this web property.",
          "readOnly": true
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account"
            }
          },
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs."
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        },
        "defaultProfileId": {
          "type": "string",
          "description": "Default view (profile) ID.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics web property.",
      "id": "Webproperty"
    },
    "Experiments": {
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#experiments"
        },
        "items": {
          "type": "array",
          "description": "A list of experiments.",
          "items": {
            "$ref": "Experiment"
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "Experiments",
      "type": "object",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment."
    },
    "Goals": {
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of goals.",
          "items": {
            "$ref": "Goal"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#goals"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "Goals",
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal."
    },
    "FilterRef": {
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this filter."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of this filter."
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          },
          "type": "string",
          "description": "Filter ID."
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs.",
          "readOnly": true
        }
      },
      "id": "FilterRef",
      "type": "object",
      "description": "JSON template for a profile filter link."
    },
    "Webproperties": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#webproperties"
        }
      },
      "type": "object",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "id": "Webproperties"
    },
    "CustomDataSources": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom data source collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom data sources.",
          "items": {
            "$ref": "CustomDataSource"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDataSources"
        }
      },
      "type": "object",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "id": "CustomDataSources"
    },
    "AccountSummaries": {
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accountSummaries"
        },
        "items": {
          "type": "array",
          "description": "A list of AccountSummaries.",
          "items": {
            "$ref": "AccountSummary"
          }
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this AccountSummary collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      },
      "id": "AccountSummaries",
      "type": "object",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary."
    },
    "CustomDataSource": {
      "type": "object",
      "description": "JSON template for an Analytics custom data source.",
      "id": "CustomDataSource",
      "properties": {
        "profilesLinked": {
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "importBehavior": {
          "type": "string"
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "schema": {
          "type": "array",
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "created": {
          "type": "string",
          "description": "Time this custom data source was created.",
          "format": "date-time"
        },
        "updated": {
          "type": "string",
          "description": "Time this custom data source was last modified.",
          "format": "date-time"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics custom data source.",
          "default": "analytics#customDataSource"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            }
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        }
      }
    },
    "GaData": {
      "properties": {
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            }
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              }
            },
            "rows": {
              "type": "array",
              "items": {
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "dataLastRefreshed": {
          "type": "string",
          "description": "The last refreshed time in seconds for Analytics data.",
          "format": "int64"
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            }
          }
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#gaData"
        },
        "profileInfo": {
          "properties": {
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        }
      },
      "id": "GaData",
      "type": "object",
      "description": "Analytics data for a given view (profile)."
    },
    "Segment": {
      "type": "object",
      "description": "JSON template for an Analytics segment.",
      "id": "Segment",
      "properties": {
        "updated": {
          "type": "string",
          "description": "Time the segment was last modified.",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Segment ID."
        },
        "type": {
          "type": "string",
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\"."
        },
        "created": {
          "type": "string",
          "description": "Time the segment was created.",
          "format": "date-time"
        },
        "definition": {
          "type": "string",
          "description": "Segment definition."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics segment.",
          "default": "analytics#segment"
        },
        "segmentId": {
          "type": "string",
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API."
        },
        "name": {
          "type": "string",
          "description": "Segment name."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        }
      }
    },
    "Experiment": {
      "properties": {
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "status": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment."
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "trafficCoverage": {
          "type": "number",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "endTime": {
          "type": "string",
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time"
        },
        "rewriteVariationUrlsAsOriginal": {
          "type": "boolean",
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED."
        },
        "winnerConfidenceLevel": {
          "type": "number",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment ID. Required for patch and update. Disallowed for create."
        },
        "minimumExperimentLengthInDays": {
          "type": "integer",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "format": "int32"
        },
        "variations": {
          "type": "array",
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING.",
          "items": {
            "properties": {
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              },
              "name": {
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                },
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED."
              },
              "weight": {
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only.",
                "format": "double"
              }
            },
            "type": "object"
          }
        },
        "updated": {
          "type": "string",
          "description": "Time the experiment was last modified. This field is read-only.",
          "format": "date-time"
        },
        "name": {
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "default": "analytics#experiment"
        },
        "startTime": {
          "type": "string",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.",
          "format": "date-time"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "created": {
          "type": "string",
          "description": "Time the experiment was created. This field is read-only.",
          "format": "date-time"
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics experiment resource.",
      "id": "Experiment"
    },
    "Column": {
      "type": "object",
      "description": "JSON template for a metadata column.",
      "id": "Column",
      "properties": {
        "id": {
          "type": "string",
          "description": "Column id."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics column.",
          "default": "analytics#column"
        },
        "attributes": {
          "additionalProperties": {
            "type": "string",
            "description": "The name of the attribute."
          },
          "type": "object",
          "description": "Map of attribute name and value for this column."
        }
      }
    },
    "EntityAdWordsLinks": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "A list of entity Google Ads links.",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks"
        }
      },
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "id": "EntityAdWordsLinks"
    },
    "Uploads": {
      "id": "Uploads",
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#uploads"
        },
        "items": {
          "type": "array",
          "description": "A list of uploads.",
          "items": {
            "$ref": "Upload"
          }
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        }
      }
    },
    "CustomMetrics": {
      "id": "CustomMetrics",
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customMetrics"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom metrics.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      }
    },
    "McfData": {
      "properties": {
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            },
            "type": "object"
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      }
                    }
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated."
            }
          }
        },
        "query": {
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#mcfData"
        },
        "profileInfo": {
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "totalsForAllResults": {
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        }
      },
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "id": "McfData"
    },
    "WebPropertyRef": {
      "id": "WebPropertyRef",
      "type": "object",
      "description": "JSON template for a web property reference.",
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "kind": {
          "type": "string",
          "description": "Analytics web property reference.",
          "default": "analytics#webPropertyRef"
        }
      }
    },
    "UserDeletionRequest": {
      "properties": {
        "deletionRequestTime": {
          "readOnly": true,
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted",
          "format": "date-time"
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "id": {
          "properties": {
            "userId": {
              "type": "string",
              "description": "The User's id"
            },
            "type": {
              "type": "string",
              "description": "Type of user"
            }
          },
          "type": "object",
          "description": "User ID."
        },
        "kind": {
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\".",
          "default": "analytics#userDeletionRequest"
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        }
      },
      "id": "UserDeletionRequest",
      "type": "object",
      "description": "JSON template for a user deletion request resource."
    },
    "CustomMetric": {
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for the custom metric"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "default": "analytics#customMetric"
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom metric is active."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom metric: HIT or PRODUCT."
        },
        "updated": {
          "type": "string",
          "description": "Time the custom metric was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Time the custom metric was created.",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "Data type of custom metric."
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom metric."
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          }
        },
        "index": {
          "type": "integer",
          "description": "Index of the custom metric.",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "CustomMetric",
      "type": "object",
      "description": "JSON template for Analytics Custom Metric."
    },
    "RemarketingAudiences": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudiences"
        },
        "items": {
          "type": "array",
          "description": "A list of remarketing audiences.",
          "items": {
            "$ref": "RemarketingAudience"
          }
        }
      },
      "type": "object",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience.",
      "id": "RemarketingAudiences"
    },
    "EntityUserLinks": {
      "id": "EntityUserLinks",
      "type": "object",
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityUserLinks"
        },
        "items": {
          "type": "array",
          "description": "A list of entity user links.",
          "items": {
            "$ref": "EntityUserLink"
          }
        }
      }
    },
    "ProfileRef": {
      "type": "object",
      "description": "JSON template for a linked view (profile).",
      "id": "ProfileRef",
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "kind": {
          "type": "string",
          "description": "Analytics view (profile) reference.",
          "default": "analytics#profileRef"
        }
      }
    },
    "Upload": {
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "id": "Upload",
      "properties": {
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics upload.",
          "default": "analytics#upload"
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        },
        "uploadTime": {
          "type": "string",
          "description": "Time this file is uploaded.",
          "format": "date-time"
        },
        "errors": {
          "type": "array",
          "description": "Data import errors collection.",
          "items": {
            "type": "string"
          }
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account Id to which this upload belongs.",
          "format": "int64"
        }
      }
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "type": "object",
      "description": "JSON template for an Google Ads account.",
      "properties": {
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        },
        "customerId": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Google Ads account.",
          "default": "analytics#adWordsAccount"
        }
      }
    },
    "ProfileFilterLinks": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#profileFilterLinks"
        },
        "items": {
          "type": "array",
          "description": "A list of profile filter links.",
          "items": {
            "$ref": "ProfileFilterLink"
          }
        }
      },
      "id": "ProfileFilterLinks",
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link."
    },
    "AccountTreeRequest": {
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields.",
      "id": "AccountTreeRequest",
      "properties": {
        "timezone": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "websiteUrl": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "profileName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        },
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      }
    },
    "WebPropertySummary": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics WebPropertySummary.",
          "default": "analytics#webPropertySummary"
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "profiles": {
          "type": "array",
          "description": "List of profiles under this web property.",
          "items": {
            "$ref": "ProfileSummary"
          }
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        }
      },
      "id": "WebPropertySummary",
      "type": "object",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property."
    },
    "Profiles": {
      "id": "Profiles",
      "type": "object",
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this view (profile) collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#profiles"
        },
        "items": {
          "type": "array",
          "description": "A list of views (profiles).",
          "items": {
            "$ref": "Profile"
          }
        }
      }
    },
    "FilterExpression": {
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter expression",
          "default": "analytics#filterExpression"
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "fieldIndex": {
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics filter expression.",
      "id": "FilterExpression"
    },
    "CustomDimension": {
      "properties": {
        "created": {
          "type": "string",
          "description": "Time the custom dimension was created.",
          "format": "date-time",
          "readOnly": true
        },
        "index": {
          "type": "integer",
          "description": "Index of the custom dimension.",
          "format": "int32",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          }
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        },
        "updated": {
          "type": "string",
          "description": "Time the custom dimension was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for the custom dimension"
        },
        "kind": {
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "default": "analytics#customDimension",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        }
      },
      "id": "CustomDimension",
      "type": "object",
      "description": "JSON template for Analytics Custom Dimension."
    },
    "Filter": {
      "id": "Filter",
      "type": "object",
      "description": "JSON template for an Analytics account filter.",
      "properties": {
        "excludeDetails": {
          "description": "Details for the filter of the type EXCLUDE.",
          "$ref": "FilterExpression"
        },
        "lowercaseDetails": {
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            }
          },
          "type": "object",
          "description": "Details for the filter of the type LOWER."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this filter.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#filter"
        },
        "uppercaseDetails": {
          "type": "object",
          "description": "Details for the filter of the type UPPER.",
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            }
          }
        },
        "advancedDetails": {
          "type": "object",
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldAIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "fieldBIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "outputToFieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            }
          }
        },
        "updated": {
          "type": "string",
          "description": "Time this filter was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Time this filter was created.",
          "format": "date-time"
        },
        "includeDetails": {
          "description": "Details for the filter of the type INCLUDE.",
          "$ref": "FilterExpression"
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "type": {
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Name of this filter."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#account\".",
              "default": "analytics#account"
            }
          },
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs."
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "searchString": {
              "type": "string",
              "description": "Term to search."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            }
          }
        }
      }
    },
    "UserRef": {
      "id": "UserRef",
      "type": "object",
      "description": "JSON template for a user reference.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        },
        "id": {
          "type": "string",
          "description": "User ID."
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        }
      }
    },
[...]
