{
  "parameters": {
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for the response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "false"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    }
  },
  "id": "analytics:v3",
  "rootUrl": "https://analytics.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "name": "analytics",
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch/analytics/v3",
  "kind": "discovery#restDescription",
  "basePath": "/analytics/v3/",
  "discoveryVersion": "v1",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "servicePath": "analytics/v3/",
  "revision": "20190807",
  "documentationLink": "https://developers.google.com/analytics/",
  "ownerDomain": "google.com",
  "resources": {
    "data": {
      "resources": {
        "mcf": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "path": "data/mcf",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "id": "analytics.data.mcf.get",
              "parameters": {
                "end-date": {
                  "required": true,
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "dimensions": {
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "pattern": "(mcf:.+)?",
                  "location": "query",
                  "type": "string"
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ]
                },
                "start-date": {
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true
                },
                "metrics": {
                  "required": true,
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "pattern": "mcf:.+",
                  "location": "query",
                  "type": "string"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "filters": {
                  "type": "string",
                  "pattern": "mcf:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data."
                },
                "ids": {
                  "required": true,
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "type": "string"
                },
                "sort": {
                  "type": "string",
                  "pattern": "(-)?mcf:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data."
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "McfData"
              }
            }
          }
        },
        "ga": {
          "methods": {
            "get": {
              "description": "Returns Analytics data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "id": "analytics.data.ga.get",
              "parameters": {
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "metrics": {
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "pattern": "ga:.+",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "dimensions": {
                  "type": "string",
                  "pattern": "(ga:.+)?",
                  "location": "query",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'."
                },
                "include-empty-rows": {
                  "description": "The response will include empty rows if this parameter is set to true, the default is true",
                  "location": "query",
                  "type": "boolean"
                },
                "segment": {
                  "type": "string",
                  "location": "query",
                  "description": "An Analytics segment to be applied to data."
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "format": "int32"
                },
                "filters": {
                  "type": "string",
                  "pattern": "ga:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data."
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+",
                  "location": "query",
                  "type": "string"
                },
                "start-date": {
                  "type": "string",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "required": true
                },
                "output": {
                  "description": "The selected format for the response. Default format is JSON.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ]
                },
                "samplingLevel": {
                  "type": "string",
                  "description": "The desired sampling level.",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ]
                },
                "end-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "GaData"
              },
              "httpMethod": "GET",
              "path": "data/ga",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "path": "data/realtime",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.data.realtime.get",
              "parameters": {
                "metrics": {
                  "required": true,
                  "type": "string",
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "format": "int32"
                },
                "dimensions": {
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'."
                },
                "filters": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "type": "string"
                },
                "ids": {
                  "required": true,
                  "type": "string",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query"
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "RealtimeData"
              },
              "description": "Returns real time data for a view (profile).",
              "parameterOrder": [
                "ids",
                "metrics"
              ]
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ],
              "httpMethod": "POST",
              "path": "userDeletion/userDeletionRequests:upsert",
              "description": "Insert or update a user deletion requests.",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "response": {
                "$ref": "UserDeletionRequest"
              }
            }
          }
        }
      }
    },
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "id": "analytics.metadata.columns.list",
              "parameters": {
                "reportType": {
                  "type": "string",
                  "pattern": "ga",
                  "location": "path",
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "required": true
                }
              },
              "response": {
                "$ref": "Columns"
              },
              "description": "Lists all columns for a report type",
              "parameterOrder": [
                "reportType"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "metadata/{reportType}/columns",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "provisioning": {
      "methods": {
        "createAccountTicket": {
          "httpMethod": "POST",
          "path": "provisioning/createAccountTicket",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "description": "Creates an account ticket.",
          "request": {
            "$ref": "AccountTicket"
          },
          "id": "analytics.provisioning.createAccountTicket",
          "response": {
            "$ref": "AccountTicket"
          }
        },
        "createAccountTree": {
          "description": "Provision account.",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "id": "analytics.provisioning.createAccountTree",
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "httpMethod": "POST",
          "path": "provisioning/createAccountTree"
        }
      }
    },
    "management": {
      "resources": {
        "profiles": {
          "methods": {
            "get": {
              "description": "Gets a view (profile) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.get",
              "parameters": {
                "accountId": {
                  "pattern": "[0-9]+",
                  "location": "path",
                  "description": "Account ID to retrieve the view (profile) for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "pattern": "[0-9]+",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the view (profile) for."
                },
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}"
            },
            "patch": {
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.patch",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}"
            },
            "insert": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new view (profile).",
              "response": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.insert",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the view (profile) for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to create the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "delete": {
              "id": "analytics.management.profiles.delete",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to delete the view (profile) for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Deletes a view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "id": "analytics.management.profiles.list",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "location": "path"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "Profiles"
              },
              "description": "Lists views (profiles) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "id": "analytics.management.profiles.update",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the view (profile) to be updated."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "description": "Updates an existing view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT"
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "get": {
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "description": "Web property-Google Ads link ID.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "description": "Creates a webProperty-Google Ads link.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "ID of the Google Analytics account to create the link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the link for.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "update": {
              "description": "Updates an existing webProperty-Google Ads link.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyAdWordsLinkId": {
                  "description": "Web property-Google Ads link ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property Google Ads link ID.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                }
              },
              "description": "Deletes a web property-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads links for."
                },
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "response": {
                "$ref": "EntityAdWordsLinks"
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "description": "Hashes the given Client ID.",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "id": "analytics.management.clientId.hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "POST",
              "path": "management/clientId:hashClientId"
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts",
              "httpMethod": "GET",
              "id": "analytics.management.accounts.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of accounts to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "Accounts"
              },
              "description": "Lists all accounts to which the user has access."
            }
          }
        },
        "webproperties": {
          "methods": {
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.update",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the web property belongs"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "description": "Updates an existing web property.",
              "response": {
                "$ref": "Webproperty"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "httpMethod": "GET",
              "id": "analytics.management.webproperties.list",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to."
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of web properties to include in this response."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Webproperties"
              },
              "description": "Lists web properties to which the user has access.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "httpMethod": "GET",
              "id": "analytics.management.webproperties.get",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve the web property for.",
                  "pattern": "[0-9]+",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "location": "path",
                  "description": "ID to retrieve the web property for.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "description": "Gets a web property to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Webproperty"
              },
              "description": "Updates an existing web property. This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "id": "analytics.management.webproperties.patch",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the web property belongs"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}"
            },
            "insert": {
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties"
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to create the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Adds a new user to the given view (profile).",
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.update",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "location": "path",
                  "description": "Link ID to update the user link for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile ID) to update the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "PUT"
            },
            "delete": {
              "description": "Removes a user from the given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileUserLinks.delete",
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to delete the user link for."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to delete the user link for."
                }
              },
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists profile-user links for a given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileUserLinks.list",
              "parameters": {
                "start-index": {
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID which the given view (profile) belongs to."
                },
                "max-results": {
                  "description": "The maximum number of profile-user links to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              }
            }
          }
        },
        "goals": {
          "methods": {
            "get": {
              "id": "analytics.management.goals.get",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the goal for.",
                  "type": "string",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Goal"
              },
              "description": "Gets a goal to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal. This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "id": "analytics.management.goals.patch",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to update the goal."
                },
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}"
            },
            "insert": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new goal.",
              "response": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to create the goal for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the goal for.",
                  "location": "path"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "description": "Updates an existing goal.",
              "response": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.update",
              "parameters": {
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to update the goal.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "description": "Lists goals to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.goals.list",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to."
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of goals to include in this response."
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Goals"
              },
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "description": "Removes a user from the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "id": "analytics.management.webpropertyUserLinks.delete",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to delete the user link for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "httpMethod": "GET",
              "id": "analytics.management.webpropertyUserLinks.list",
              "parameters": {
                "start-index": {
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID which the given web property belongs to.",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists webProperty-user links for a given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "insert": {
              "id": "analytics.management.webpropertyUserLinks.insert",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given web property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates permissions for an existing user on the given web property.",
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.webpropertyUserLinks.update",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "type": "string",
                  "required": true
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the account-user link for."
                },
                "webPropertyId": {
                  "description": "Web property ID to update the account-user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "insert": {
              "id": "analytics.management.accountUserLinks.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given account.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "update": {
              "id": "analytics.management.accountUserLinks.update",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the account-user link for."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given account.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "delete": {
              "description": "Removes a user from the given account.",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "id": "analytics.management.accountUserLinks.delete",
              "parameters": {
                "linkId": {
                  "description": "Link ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists account-user links for a given account.",
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.accountUserLinks.list",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the user links for.",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of account-user links to include in this response."
                },
                "start-index": {
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "update": {
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension.",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customDimensions.update",
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom dimension to update.",
                  "type": "string",
                  "required": true
                },
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom dimension to update."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}"
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDimensions.list",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "CustomDimensions"
              },
              "description": "Lists custom dimensions to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "insert": {
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Create a new custom dimension.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "id": "analytics.management.customDimensions.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to create.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomDimension"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Get a custom dimension to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.get",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customDimensionId": {
                  "description": "The ID of the custom dimension to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CustomDimension"
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "id": "analytics.management.customDimensions.patch",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query",
                  "default": "false",
                  "type": "boolean"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom dimension to update."
                },
                "customDimensionId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "request": {
                "$ref": "CustomDimension"
              }
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List custom data sources to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDataSources.list",
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "required": true,
                  "description": "Account Id for the custom data sources to retrieve.",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string"
                },
                "max-results": {
                  "minimum": "1",
                  "location": "query",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "CustomDataSources"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "management/accountSummaries",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "id": "analytics.management.accountSummaries.list",
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "AccountSummaries"
              }
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "httpMethod": "GET",
              "id": "analytics.management.unsampledReports.list",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "UnsampledReports"
              },
              "description": "Lists unsampled reports to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.unsampledReports.delete",
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "unsampledReportId": {
                  "location": "path",
                  "description": "ID of the unsampled report to be deleted.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "location": "path"
                }
              },
              "description": "Deletes an unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ]
            },
            "insert": {
              "id": "analytics.management.unsampledReports.insert",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "UnsampledReport"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "response": {
                "$ref": "UnsampledReport"
              },
              "description": "Create a new unsampled report.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "id": "analytics.management.unsampledReports.get",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to retrieve unsampled report for."
                },
                "unsampledReportId": {
                  "location": "path",
                  "description": "ID of the unsampled report to retrieve.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "UnsampledReport"
              },
              "description": "Returns a single unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "insert": {
              "description": "Creates a new remarketing audience.",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              },
              "id": "analytics.management.remarketingAudience.insert",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The account ID for which to create the remarketing audience.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for which to create the remarketing audience.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences"
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.remarketingAudience.get",
              "parameters": {
                "accountId": {
                  "description": "The account ID of the remarketing audience to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "remarketingAudienceId": {
                  "location": "path",
                  "description": "The ID of the remarketing audience to retrieve.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Gets a remarketing audience to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ]
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              },
              "id": "analytics.management.remarketingAudience.patch",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The account ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true
                },
                "remarketingAudienceId": {
                  "location": "path",
                  "description": "The ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "id": "analytics.management.remarketingAudience.update",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the remarketing audience to update."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "The web property ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience."
            },
            "list": {
              "id": "analytics.management.remarketingAudience.list",
              "parameters": {
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "type": {
                  "type": "string",
                  "default": "all",
                  "location": "query"
                },
                "accountId": {
[...]
