{
  "discoveryVersion": "v1",
  "rootUrl": "https://analytics.googleapis.com/",
  "id": "analytics:v3",
  "title": "Google Analytics API",
  "description": "Views and manages your Google Analytics data.",
  "basePath": "/analytics/v3/",
  "version": "v3",
  "revision": "20190807",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "documentationLink": "https://developers.google.com/analytics/",
  "parameters": {
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "description": "Data format for the response."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "false",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "protocol": "rest",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "ownerName": "Google",
  "name": "analytics",
  "ownerDomain": "google.com",
  "schemas": {
    "Segments": {
      "type": "object",
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.",
      "properties": {
        "items": {
          "description": "A list of segments.",
          "type": "array",
          "items": {
            "$ref": "Segment"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "previousLink": {
          "description": "Link to previous page for this segment collection.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#segments",
          "type": "string",
          "description": "Collection type for segments."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        }
      },
      "id": "Segments"
    },
    "Uploads": {
      "id": "Uploads",
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#uploads"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "A list of uploads.",
          "type": "array",
          "items": {
            "$ref": "Upload"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "description": "Link to next page for this upload collection.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        }
      }
    },
    "AccountTicket": {
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.",
      "properties": {
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTicket"
        },
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        },
        "account": {
          "description": "Account for this ticket.",
          "$ref": "Account"
        },
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        }
      },
      "type": "object",
      "id": "AccountTicket"
    },
    "CustomMetrics": {
      "id": "CustomMetrics",
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "nextLink": {
          "description": "Link to next page for this custom metric collection.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          },
          "description": "Collection of custom metrics."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#customMetrics",
          "description": "Collection type.",
          "type": "string"
        }
      }
    },
    "Filters": {
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "items": {
          "description": "A list of filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#filters"
        }
      },
      "type": "object",
      "id": "Filters"
    },
    "ProfileFilterLink": {
      "id": "ProfileFilterLink",
      "type": "object",
      "description": "JSON template for an Analytics profile filter link.",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this profile filter link."
        },
        "id": {
          "description": "Profile filter link ID.",
          "type": "string"
        },
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        },
        "kind": {
          "description": "Resource type for Analytics filter.",
          "type": "string",
          "default": "analytics#profileFilterLink",
          "readOnly": true
        },
        "rank": {
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "CustomMetric": {
      "type": "object",
      "description": "JSON template for Analytics Custom Metric.",
      "properties": {
        "selfLink": {
          "description": "Link for the custom metric",
          "type": "string",
          "readOnly": true
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Time the custom metric was last modified.",
          "format": "date-time"
        },
        "type": {
          "description": "Data type of custom metric.",
          "type": "string"
        },
        "id": {
          "description": "Custom metric ID.",
          "type": "string"
        },
        "active": {
          "description": "Boolean indicating whether the custom metric is active.",
          "type": "boolean"
        },
        "scope": {
          "description": "Scope of the custom metric: HIT or PRODUCT.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
          "properties": {
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            }
          }
        },
        "index": {
          "readOnly": true,
          "description": "Index of the custom metric.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "analytics#customMetric",
          "readOnly": true,
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "type": "string"
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Time the custom metric was created.",
          "format": "date-time"
        },
        "name": {
          "description": "Name of the custom metric.",
          "type": "string"
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        }
      },
      "id": "CustomMetric"
    },
    "HashClientIdResponse": {
      "id": "HashClientIdResponse",
      "type": "object",
      "description": "JSON template for a hash Client Id response resource.",
      "properties": {
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "hashedClientId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        }
      }
    },
    "AccountTreeResponse": {
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "The account created."
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeResponse"
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        }
      },
      "type": "object",
      "id": "AccountTreeResponse"
    },
    "Column": {
      "type": "object",
      "description": "JSON template for a metadata column.",
      "properties": {
        "kind": {
          "description": "Resource type for Analytics column.",
          "type": "string",
          "default": "analytics#column"
        },
        "attributes": {
          "type": "object",
          "additionalProperties": {
            "description": "The name of the attribute.",
            "type": "string"
          },
          "description": "Map of attribute name and value for this column."
        },
        "id": {
          "type": "string",
          "description": "Column id."
        }
      },
      "id": "Column"
    },
    "Segment": {
      "type": "object",
      "description": "JSON template for an Analytics segment.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\"."
        },
        "kind": {
          "default": "analytics#segment",
          "type": "string",
          "description": "Resource type for Analytics segment."
        },
        "updated": {
          "type": "string",
          "description": "Time the segment was last modified.",
          "format": "date-time"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        },
        "definition": {
          "type": "string",
          "description": "Segment definition."
        },
        "segmentId": {
          "type": "string",
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API."
        },
        "created": {
          "type": "string",
          "description": "Time the segment was created.",
          "format": "date-time"
        },
        "name": {
          "description": "Segment name.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Segment ID."
        }
      },
      "id": "Segment"
    },
    "UnsampledReports": {
      "type": "object",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "properties": {
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#unsampledReports"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "UnsampledReport"
          },
          "description": "A list of unsampled reports."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        }
      },
      "id": "UnsampledReports"
    },
    "RemarketingAudience": {
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience.",
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudience"
        },
        "audienceType": {
          "description": "The type of audience, either SIMPLE or STATE_BASED.",
          "type": "string"
        },
        "created": {
          "readOnly": true,
          "description": "Time this remarketing audience was created.",
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "linkedAdAccounts": {
          "type": "array",
          "items": {
            "$ref": "LinkedForeignAccount"
          },
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs.",
          "type": "string"
        },
        "linkedViews": {
          "description": "The views (profiles) that this remarketing audience is linked to.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audienceDefinition": {
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "type": "object"
        },
        "updated": {
          "type": "string",
          "description": "Time this remarketing audience was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "stateBasedAudienceDefinition": {
          "description": "A state based audience definition that will cause a user to be added or removed from an audience.",
          "properties": {
            "excludeConditions": {
              "description": "Defines the conditions to exclude users from the audience.",
              "properties": {
                "exclusionDuration": {
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT.",
                  "type": "string"
                },
                "segment": {
                  "description": "The segment condition that will cause a user to be removed from an audience.",
                  "type": "string"
                }
              },
              "type": "object"
            },
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            }
          },
          "type": "object"
        },
        "description": {
          "description": "The description of this remarketing audience.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Remarketing Audience ID.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this remarketing audience belongs.",
          "type": "string"
        }
      },
      "id": "RemarketingAudience"
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "description": "JSON template for an Google Ads account.",
      "properties": {
        "customerId": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "Customer ID. This field is required when creating a Google Ads link.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#adWordsAccount",
          "description": "Resource type for Google Ads account.",
          "type": "string"
        },
        "autoTaggingEnabled": {
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "IncludeConditions": {
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "properties": {
        "membershipDurationDays": {
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32",
          "type": "integer"
        },
        "isSmartList": {
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577",
          "type": "boolean"
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        },
        "daysToLookBack": {
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#includeConditions",
          "description": "Resource type for include conditions.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "IncludeConditions"
    },
    "CustomDataSources": {
      "id": "CustomDataSources",
      "type": "object",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "properties": {
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "kind": {
          "default": "analytics#customDataSources",
          "description": "Collection type.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom data source collection."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomDataSource"
          },
          "description": "Collection of custom data sources."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      }
    },
    "Experiments": {
      "type": "object",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment.",
      "properties": {
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#experiments"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Experiment"
          },
          "description": "A list of experiments."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "description": "Link to next page for this experiment collection.",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this experiment collection.",
          "type": "string"
        }
      },
      "id": "Experiments"
    },
    "EntityAdWordsLink": {
      "id": "EntityAdWordsLink",
      "description": "JSON template for Analytics Entity Google Ads Link.",
      "properties": {
        "adWordsAccounts": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty.",
          "type": "array",
          "items": {
            "$ref": "AdWordsAccount"
          }
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "type": "string"
        },
        "selfLink": {
          "description": "URL link for this Google Analytics - Google Ads link.",
          "type": "string"
        },
        "id": {
          "description": "Entity Google Ads link ID",
          "type": "string"
        },
        "entity": {
          "type": "object",
          "description": "Web property being linked.",
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          }
        },
        "profileIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of linked Views (Profiles) represented as strings."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity Google Ads link.",
          "default": "analytics#entityAdWordsLink"
        }
      },
      "type": "object"
    },
    "RealtimeData": {
      "description": "Real time data for a given view (profile).",
      "properties": {
        "profileInfo": {
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            }
          },
          "type": "object"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "kind": {
          "default": "analytics#realtimeData",
          "description": "Resource type.",
          "type": "string"
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          }
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc.",
                "type": "string"
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "query": {
          "type": "object",
          "description": "Real time data request query parameters.",
          "properties": {
            "dimensions": {
              "description": "List of real time dimensions.",
              "type": "string"
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "metrics": {
              "description": "List of real time metrics.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "sort": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which real time data is sorted."
            }
          }
        }
      },
      "type": "object",
      "id": "RealtimeData"
    },
    "EntityAdWordsLinks": {
      "id": "EntityAdWordsLinks",
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "properties": {
        "items": {
          "description": "A list of entity Google Ads links.",
          "type": "array",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "description": "Next link for this Google Ads link collection.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "kind": {
          "default": "analytics#entityAdWordsLinks",
          "description": "Collection type.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Webproperties": {
      "id": "Webproperties",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webproperty"
          },
          "description": "A list of web properties."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "default": "analytics#webproperties",
          "type": "string",
          "description": "Collection type."
        }
      },
      "type": "object"
    },
    "ProfileRef": {
      "id": "ProfileRef",
      "type": "object",
      "description": "JSON template for a linked view (profile).",
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "kind": {
          "default": "analytics#profileRef",
          "description": "Analytics view (profile) reference.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        }
      }
    },
    "LinkedForeignAccount": {
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "properties": {
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "type": {
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for linked foreign account.",
          "default": "analytics#linkedForeignAccount"
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "readOnly": true,
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search."
        },
        "id": {
          "description": "Entity ad account link ID.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "LinkedForeignAccount"
    },
    "Goals": {
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "nextLink": {
          "description": "Link to next page for this goal collection.",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this goal collection.",
          "type": "string"
        },
        "items": {
          "description": "A list of goals.",
          "type": "array",
          "items": {
            "$ref": "Goal"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#goals"
        }
      },
      "id": "Goals"
    },
    "EntityUserLink": {
      "description": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity.",
      "properties": {
        "userRef": {
          "description": "User reference.",
          "$ref": "UserRef"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity user link.",
          "default": "analytics#entityUserLink"
        },
        "id": {
          "type": "string",
          "description": "Entity user link ID"
        },
        "permissions": {
          "description": "Permissions the user has for this entity.",
          "properties": {
            "effective": {
              "description": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
              "type": "array",
              "items": {
                "type": "string"
              },
              "readOnly": true
            },
            "local": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable."
            }
          },
          "type": "object"
        },
        "selfLink": {
          "description": "Self link for this resource.",
          "type": "string"
        },
        "entity": {
          "type": "object",
          "description": "Entity for this link. It can be an account, a web property, or a view (profile).",
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef",
              "description": "Web property for this link."
            },
            "accountRef": {
              "$ref": "AccountRef",
              "description": "Account for this link."
            },
            "profileRef": {
              "$ref": "ProfileRef",
              "description": "View (Profile) for this link."
            }
          }
        }
      },
      "type": "object",
      "id": "EntityUserLink"
    },
    "Webproperty": {
      "id": "Webproperty",
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "internalWebPropertyId": {
          "readOnly": true,
          "description": "Internal ID for this web property.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#webproperty",
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics WebProperty."
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "readOnly": true
            }
          }
        },
        "websiteUrl": {
          "description": "Website url for this web property.",
          "type": "string"
        },
        "parentLink": {
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "href": {
              "description": "Link to the account for this web property.",
              "type": "string"
            },
            "type": {
              "default": "analytics#account",
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "type": "string"
            }
          },
          "type": "object"
        },
        "created": {
          "type": "string",
          "description": "Time this web property was created.",
          "format": "date-time",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "defaultProfileId": {
          "description": "Default view (profile) ID.",
          "format": "int64",
          "type": "string"
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "href": {
              "description": "Link to the list of views (profiles) for this web property.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            }
          }
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "format": "int32",
          "readOnly": true
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Link for this web property.",
          "type": "string"
        },
        "level": {
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "type": "string",
          "readOnly": true
        },
        "updated": {
          "description": "Time this web property was last modified.",
          "format": "date-time",
          "type": "string",
          "readOnly": true
        },
        "accountId": {
          "description": "Account ID to which this web property belongs.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        }
      },
      "type": "object"
    },
    "Filter": {
      "description": "JSON template for an Analytics account filter.",
      "properties": {
        "excludeDetails": {
          "description": "Details for the filter of the type EXCLUDE.",
          "$ref": "FilterExpression"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "caseSensitive": {
              "description": "Determines if the filter is case sensitive.",
              "type": "boolean"
            },
            "field": {
              "description": "Field to use in the filter.",
              "type": "string"
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            }
          }
        },
        "type": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED."
        },
        "advancedDetails": {
          "type": "object",
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "caseSensitive": {
              "description": "Indicates if the filter expressions are case sensitive.",
              "type": "boolean"
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "fieldBIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "fieldB": {
              "description": "Field B.",
              "type": "string"
            },
            "outputToFieldIndex": {
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32",
              "type": "integer"
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldARequired": {
              "description": "Indicates if field A is required to match.",
              "type": "boolean"
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldAIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "outputConstructor": {
              "description": "Expression used to construct the output value.",
              "type": "string"
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this filter.",
          "readOnly": true
        },
        "updated": {
          "readOnly": true,
          "description": "Time this filter was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "includeDetails": {
          "description": "Details for the filter of the type INCLUDE.",
          "$ref": "FilterExpression"
        },
        "lowercaseDetails": {
          "description": "Details for the filter of the type LOWER.",
          "properties": {
            "field": {
              "description": "Field to use in the filter.",
              "type": "string"
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            }
          },
          "type": "object"
        },
        "created": {
          "readOnly": true,
          "description": "Time this filter was created.",
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "description": "Name of this filter.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#filter",
          "readOnly": true
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs.",
          "properties": {
            "type": {
              "default": "analytics#account",
              "description": "Value is \"analytics#account\".",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            }
          }
        },
        "uppercaseDetails": {
          "description": "Details for the filter of the type UPPER.",
          "properties": {
            "field": {
              "description": "Field to use in the filter.",
              "type": "string"
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            }
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "Filter"
    },
    "AccountTreeRequest": {
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields.",
      "properties": {
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "webpropertyName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "default": "analytics#accountTreeRequest",
          "description": "Resource type for account ticket.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "AccountTreeRequest"
    },
    "UserDeletionRequest": {
      "id": "UserDeletionRequest",
      "description": "JSON template for a user deletion request resource.",
      "properties": {
        "firebaseProjectId": {
          "description": "Firebase Project Id",
          "type": "string"
        },
        "deletionRequestTime": {
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted",
          "format": "date-time",
          "readOnly": true
        },
        "id": {
          "description": "User ID.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of user"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          },
          "type": "object"
        },
        "propertyId": {
          "description": "Property ID",
          "type": "string"
        },
        "kind": {
          "description": "Value is \"analytics#userDeletionRequest\".",
          "type": "string",
          "default": "analytics#userDeletionRequest"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountSummary": {
      "id": "AccountSummary",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.",
      "properties": {
        "kind": {
          "description": "Resource type for Analytics AccountSummary.",
          "type": "string",
          "default": "analytics#accountSummary"
        },
        "webProperties": {
          "description": "List of web properties under this account.",
          "type": "array",
          "items": {
            "$ref": "WebPropertySummary"
          }
        },
        "starred": {
          "description": "Indicates whether this account is starred or not.",
          "type": "boolean"
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AccountSummaries": {
      "type": "object",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "kind": {
          "default": "analytics#accountSummaries",
          "description": "Collection type.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this AccountSummary collection."
        },
        "previousLink": {
          "description": "Link to previous page for this AccountSummary collection.",
          "type": "string"
        },
        "items": {
          "description": "A list of AccountSummaries.",
          "type": "array",
          "items": {
            "$ref": "AccountSummary"
          }
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "AccountSummaries"
    },
    "Accounts": {
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accounts"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "A list of accounts."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "previousLink": {
          "description": "Previous link for this account collection.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Accounts"
    },
    "McfData": {
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            }
          }
        },
        "totalResults": {
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32",
          "type": "integer"
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "totalsForAllResults": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "columnHeaders": {
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            },
            "type": "object"
          }
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "itemsPerPage": {
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated.",
              "properties": {
                "conversionPathValue": {
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "type": "array",
                  "items": {
                    "properties": {
                      "nodeValue": {
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc.",
                        "type": "string"
                      },
                      "interactionType": {
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc.",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              }
            }
          }
        },
        "kind": {
          "default": "analytics#mcfData",
          "description": "Resource type.",
          "type": "string"
        },
        "nextLink": {
          "description": "Link to next page for this Analytics data query.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "max-results": {
              "description": "Maximum results per page.",
              "format": "int32",
              "type": "integer"
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "sort": {
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "dimensions": {
              "description": "List of analytics dimensions.",
              "type": "string"
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of analytics metrics."
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "samplingLevel": {
              "description": "Desired sampling level",
              "type": "string"
            }
          }
        }
      },
      "id": "McfData"
    },
    "EntityUserLinks": {
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityUserLinks"
        },
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "previousLink": {
          "description": "Previous link for this account collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "EntityUserLink"
          },
          "description": "A list of entity user links."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "EntityUserLinks"
    },
    "GaData": {
      "type": "object",
      "description": "Analytics data for a given view (profile).",
      "properties": {
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "description": "Column Type. Either DIMENSION or METRIC.",
                "type": "string"
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            }
          }
        },
        "totalResults": {
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32",
          "type": "integer"
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "type": "object",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          }
        },
        "dataTable": {
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            },
            "rows": {
              "type": "array",
              "items": {
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    }
                  }
                },
                "type": "object"
              }
            }
          },
          "type": "object"
        },
        "nextLink": {
          "description": "Link to next page for this Analytics data query.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "sort": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "end-date": {
              "description": "End date.",
              "type": "string"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "metrics": {
              "description": "List of analytics metrics.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "segment": {
              "description": "Analytics advanced segment.",
              "type": "string"
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            }
          }
        },
        "rows": {
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "dataLastRefreshed": {
          "description": "The last refreshed time in seconds for Analytics data.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#gaData"
        }
      },
      "id": "GaData"
    },
    "ProfileFilterLinks": {
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "default": "analytics#profileFilterLinks",
          "description": "Collection type.",
          "type": "string"
        },
        "nextLink": {
          "description": "Link to next page for this profile filter link collection.",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "description": "A list of profile filter links."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      },
      "id": "ProfileFilterLinks"
    },
    "ProfileSummary": {
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "properties": {
        "kind": {
          "description": "Resource type for Analytics ProfileSummary.",
          "type": "string",
          "default": "analytics#profileSummary"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "id": {
          "description": "View (profile) ID.",
          "type": "string"
        },
        "name": {
          "description": "View (profile) name.",
          "type": "string"
        }
      },
      "id": "ProfileSummary"
    },
    "UserRef": {
      "id": "UserRef",
      "description": "JSON template for a user reference.",
      "properties": {
        "id": {
          "type": "string",
          "description": "User ID."
        },
        "email": {
          "description": "Email ID of this user.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        }
      },
      "type": "object"
    },
    "AccountRef": {
      "id": "AccountRef",
      "type": "object",
      "description": "JSON template for a linked account.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "kind": {
          "default": "analytics#accountRef",
          "description": "Analytics account reference.",
          "type": "string"
        }
      }
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "status": {
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "uploadTime": {
          "description": "Time this file is uploaded.",
          "format": "date-time",
          "type": "string"
        },
        "accountId": {
          "description": "Account Id to which this upload belongs.",
          "format": "int64",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics upload.",
          "type": "string",
          "default": "analytics#upload"
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "errors": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Data import errors collection."
        }
      }
    },
    "Goal": {
      "id": "Goal",
      "description": "JSON template for Analytics goal resource.",
      "properties": {
        "value": {
          "description": "Goal value.",
          "format": "float",
          "type": "number"
        },
        "visitTimeOnSiteDetails": {
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE.",
          "properties": {
            "comparisonType": {
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN.",
              "type": "string"
            },
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        },
        "parentLink": {
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs.",
          "properties": {
            "type": {
              "default": "analytics#profile",
              "description": "Value is \"analytics#profile\".",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            }
          },
          "type": "object"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonType": {
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL.",
              "type": "string"
            },
            "comparisonValue": {
              "description": "Value used for this comparison.",
              "format": "int64",
              "type": "string"
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Time this goal was created.",
          "format": "date-time"
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "updated": {
          "type": "string",
          "description": "Time this goal was last modified.",
          "format": "date-time"
        },
        "eventDetails": {
          "type": "object",
          "description": "Details for the goal of the type EVENT.",
          "properties": {
            "eventConditions": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "comparisonValue": {
                    "type": "string",
                    "description": "Value used for this comparison.",
                    "format": "int64"
                  },
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "comparisonType": {
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL.",
                    "type": "string"
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "type": {
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE.",
                    "type": "string"
                  }
                }
              },
              "description": "List of event conditions."
            },
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            }
          }
        },
        "urlDestinationDetails": {
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION.",
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "url": {
              "description": "URL for this goal.",
              "type": "string"
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "firstStepRequired": {
              "description": "Determines if the first step in this goal is required.",
              "type": "boolean"
            },
            "steps": {
              "description": "List of steps configured for this goal funnel.",
              "type": "array",
              "items": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "number": {
                    "type": "integer",
                    "description": "Step number.",
                    "format": "int32"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        }
      },
      "type": "object"
    },
    "Columns": {
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Column"
          },
          "description": "List of columns for a report type."
        },
        "totalResults": {
          "description": "Total number of columns returned in the response.",
          "format": "int32",
          "type": "integer"
        },
        "attributeNames": {
          "description": "List of attributes names returned by columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "etag": {
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#columns",
          "type": "string",
          "description": "Collection type."
        }
      },
      "id": "Columns"
    },
    "Profiles": {
      "type": "object",
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "properties": {
        "nextLink": {
          "description": "Link to next page for this view (profile) collection.",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this view (profile) collection.",
          "type": "string"
        },
        "items": {
          "description": "A list of views (profiles).",
          "type": "array",
          "items": {
            "$ref": "Profile"
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#profiles"
        }
      },
      "id": "Profiles"
    },
    "UnsampledReport": {
      "id": "UnsampledReport",
      "description": "JSON template for Analytics unsampled report resource.",
      "properties": {
        "kind": {
          "description": "Resource type for an Analytics unsampled report.",
          "type": "string",
          "default": "analytics#unsampledReport",
          "readOnly": true
        },
        "dimensions": {
          "description": "The dimensions for the unsampled report.",
          "type": "string"
        },
        "profileId": {
          "description": "View (Profile) ID to which this unsampled report belongs.",
          "type": "string"
        },
        "metrics": {
          "annotations": {
            "required": [
[...]
