{
  "version": "v3",
  "discoveryVersion": "v1",
  "title": "Google Analytics API",
  "ownerDomain": "google.com",
  "description": "Views and manages your Google Analytics data.",
  "name": "analytics",
  "rootUrl": "https://analytics.googleapis.com/",
  "protocol": "rest",
  "id": "analytics:v3",
  "batchPath": "batch/analytics/v3",
  "resources": {
    "data": {
      "resources": {
        "ga": {
          "methods": {
            "get": {
              "path": "data/ga",
              "id": "analytics.data.ga.get",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "description": "Returns Analytics data for a view (profile).",
              "httpMethod": "GET",
              "parameters": {
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+",
                  "location": "query"
                },
                "ids": {
                  "type": "string",
                  "required": true,
                  "location": "query",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+"
                },
                "metrics": {
                  "pattern": "ga:.+",
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "dimensions": {
                  "pattern": "(ga:.+)?",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'."
                },
                "start-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer"
                },
                "segment": {
                  "location": "query",
                  "type": "string",
                  "description": "An Analytics segment to be applied to data."
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query",
                  "type": "string"
                },
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+",
                  "location": "query"
                },
                "end-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday."
                },
                "include-empty-rows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "output": {
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "description": "The selected format for the response. Default format is JSON.",
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ]
                }
              },
              "response": {
                "$ref": "GaData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "path": "data/mcf",
              "id": "analytics.data.mcf.get",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "httpMethod": "GET",
              "parameters": {
                "end-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "samplingLevel": {
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "description": "The desired sampling level.",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ]
                },
                "filters": {
                  "pattern": "mcf:.+",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data."
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "query"
                },
                "start-date": {
                  "type": "string",
                  "required": true,
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query"
                },
                "sort": {
                  "pattern": "(-)?mcf:.+",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data."
                },
                "dimensions": {
                  "pattern": "(mcf:.+)?",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'."
                },
                "metrics": {
                  "pattern": "mcf:.+",
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed."
                }
              },
              "response": {
                "$ref": "McfData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "response": {
                "$ref": "RealtimeData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns real time data for a view (profile).",
              "httpMethod": "GET",
              "parameters": {
                "dimensions": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'."
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query"
                },
                "filters": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data."
                },
                "ids": {
                  "type": "string",
                  "required": true,
                  "location": "query",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "metrics": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified."
                }
              },
              "path": "data/realtime",
              "id": "analytics.data.realtime.get",
              "parameterOrder": [
                "ids",
                "metrics"
              ]
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "response": {
                "$ref": "UserDeletionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ],
              "path": "userDeletion/userDeletionRequests:upsert",
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "description": "Insert or update a user deletion requests.",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "profileUserLinks": {
          "methods": {
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Adds a new user to the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "id": "analytics.management.profileUserLinks.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to create the user link for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for."
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "update": {
              "id": "analytics.management.profileUserLinks.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the user link for."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web Property ID to update the user link for.",
                  "required": true
                },
                "linkId": {
                  "type": "string",
                  "description": "Link ID to update the user link for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile ID) to update the user link for.",
                  "required": true
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "httpMethod": "PUT",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "id": "analytics.management.profileUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to delete the user link for."
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                }
              },
              "description": "Removes a user from the given view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "description": "Lists profile-user links for a given view (profile).",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID which the given view (profile) belongs to.",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "id": "analytics.management.profileUserLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ]
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Segments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.segments.list",
              "path": "management/segments",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists segments to which the user has access."
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property Id to retrieve profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve profile filter link for."
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to retrieve filter link for."
                },
                "linkId": {
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Returns a single profile filter link.",
              "id": "analytics.management.profileFilterLinks.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.profileFilterLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve profile filter links for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                }
              },
              "description": "Lists all profile filter links for a profile."
            },
            "patch": {
              "httpMethod": "PATCH",
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to be updated."
                },
                "profileId": {
                  "description": "Profile ID to which filter link belongs",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "id": "analytics.management.profileFilterLinks.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ]
            },
            "insert": {
              "description": "Create a new profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to create profile filter link for."
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to create filter link for."
                }
              },
              "id": "analytics.management.profileFilterLinks.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Profile ID to which the filter link belongs.",
                  "pattern": "\\d+"
                },
                "linkId": {
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to delete.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property Id to which the profile filter link belongs.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which the profile filter link belongs.",
                  "pattern": "\\d+"
                }
              },
              "description": "Delete a profile filter link.",
              "id": "analytics.management.profileFilterLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "httpMethod": "PUT",
              "description": "Update an existing profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "id": "analytics.management.profileFilterLinks.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "parameters": {
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which profile filter link belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "pattern": "\\d+",
                  "description": "Profile ID to which filter link belongs",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to be updated."
                }
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "path": "management/accountSummaries",
              "id": "analytics.management.accountSummaries.list",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000."
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                }
              },
              "response": {
                "$ref": "AccountSummaries"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "customMetrics": {
          "methods": {
            "update": {
              "id": "analytics.management.customMetrics.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "httpMethod": "PUT",
              "description": "Updates an existing custom metric.",
              "request": {
                "$ref": "CustomMetric"
              }
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "httpMethod": "POST",
              "description": "Create a new custom metric.",
              "request": {
                "$ref": "CustomMetric"
              },
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to create."
                }
              }
            },
            "list": {
              "response": {
                "$ref": "CustomMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom metrics to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Lists custom metrics to which the user has access.",
              "id": "analytics.management.customMetrics.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics"
            },
            "patch": {
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to update."
                },
                "customMetricId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.customMetrics.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to retrieve.",
                  "required": true
                },
                "customMetricId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the custom metric to retrieve.",
                  "required": true
                }
              },
              "description": "Get a custom metric to which the user has access.",
              "id": "analytics.management.customMetrics.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "response": {
                "$ref": "CustomDataSources"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "id": "analytics.management.customDataSources.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "List custom data sources to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of custom data sources to include in this response."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "pattern": "\\d+"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              }
            }
          }
        },
        "uploads": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.uploads.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "description": "Account Id for the upload to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "uploadId": {
                  "pattern": ".{22}",
                  "description": "Upload Id to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the upload to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customDataSourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": ".{22}",
                  "description": "Custom data source Id for upload to retrieve."
                }
              },
              "description": "List uploads to which the user has access."
            },
            "uploadData": {
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "mediaUpload": {
                "maxSize": "1GB",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "simple": {
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
                    "multipart": true
                  }
                }
              },
              "id": "analytics.management.uploads.uploadData",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "supportsMediaUpload": true,
              "parameters": {
                "customDataSourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Custom data source Id to which the data being uploaded belongs."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property UA-string associated with the upload.",
                  "pattern": "UA-\\d+-\\d+"
                },
                "accountId": {
                  "pattern": "\\d+",
                  "description": "Account Id associated with the upload.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "description": "Upload data for a custom data source.",
              "httpMethod": "POST"
            },
            "deleteUploadData": {
              "description": "Delete data associated with a previous upload.",
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "customDataSourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": ".{22}",
                  "description": "Custom data source Id for the uploads to be deleted."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to be deleted."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property Id for the uploads to be deleted.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "id": "analytics.management.uploads.deleteUploadData",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "response": {
                "$ref": "Uploads"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "id": "analytics.management.uploads.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "List uploads to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer"
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for uploads to retrieve.",
                  "pattern": ".{22}",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "max-results": {
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "The maximum number of uploads to include in this response.",
                  "format": "int32"
                }
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of accounts to include in this response."
                },
                "start-index": {
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query"
                }
              },
              "description": "Lists all accounts to which the user has access.",
              "id": "analytics.management.accounts.list",
              "path": "management/accounts",
              "response": {
                "$ref": "Accounts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "pattern": "\\d+"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "get": {
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Deletes a web property-Google Ads link.",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property Google Ads link ID.",
                  "required": true
                }
              }
            },
            "update": {
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID."
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "insert": {
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the Google Analytics account to create the link for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the link for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "description": "Creates a webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks"
            }
          }
        },
        "experiments": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "DELETE",
              "parameters": {
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the experiment to delete",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to which the experiment belongs"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the experiment belongs",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to which the experiment belongs",
                  "required": true
                }
              },
              "description": "Delete an experiment."
            },
            "update": {
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "experimentId": {
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "description": "Update an existing experiment.",
              "request": {
                "$ref": "Experiment"
              },
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}"
            },
            "insert": {
              "httpMethod": "POST",
              "description": "Create a new experiment.",
              "request": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the experiment for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to create the experiment for.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the experiment for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "id": "analytics.management.experiments.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve experiments for.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve experiments for."
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                }
              },
              "description": "Lists experiments to which the user has access.",
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "PATCH",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "request": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "experimentId": {
                  "location": "path",
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "required": true
                }
              },
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "id": "analytics.management.experiments.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the experiment for."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the experiment for.",
                  "required": true,
                  "location": "path"
                },
                "experimentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Experiment ID to retrieve the experiment for."
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Returns an experiment to which the user has access.",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "id": "analytics.management.unsampledReports.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "httpMethod": "DELETE",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "required": true
                },
                "unsampledReportId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the unsampled report to be deleted."
                }
              },
              "description": "Deletes an unsampled report.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "response": {
                "$ref": "UnsampledReports"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists unsampled reports to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of unsampled reports to include in this response."
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "location": "path"
                },
                "start-index": {
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "id": "analytics.management.unsampledReports.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "insert": {
              "description": "Create a new unsampled report.",
              "request": {
                "$ref": "UnsampledReport"
              },
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to create the unsampled report for.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.unsampledReports.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "get": {
              "description": "Returns a single unsampled report.",
              "httpMethod": "GET",
              "parameters": {
                "unsampledReportId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the unsampled report to retrieve."
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for.",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "id": "analytics.management.unsampledReports.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "update": {
              "id": "analytics.management.accountUserLinks.update",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "required": true,
                  "location": "path"
                },
                "linkId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Link ID to update the account-user link for."
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given account.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT"
            },
            "delete": {
              "id": "analytics.management.accountUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                }
              },
              "description": "Removes a user from the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analytics.management.accountUserLinks.list",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve the user links for.",
                  "required": true
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "description": "Lists account-user links for a given account."
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "required": true
                }
              },
              "id": "analytics.management.accountUserLinks.insert",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "POST",
              "description": "Adds a new user to the given account.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks"
            }
          }
        },
        "webproperties": {
          "methods": {
            "insert": {
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.webproperties.insert",
              "parameterOrder": [
                "accountId"
              ]
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Updates an existing web property.",
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "PUT",
              "id": "analytics.management.webproperties.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the web property belongs",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "description": "Gets a web property to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve the web property for.",
                  "pattern": "[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID to retrieve the web property for.",
                  "pattern": "UA-[0-9]+-[0-9]+"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "id": "analytics.management.webproperties.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "description": "Lists web properties to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of web properties to include in this response."
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "path": "management/accounts/{accountId}/webproperties",
              "id": "analytics.management.webproperties.list",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Webproperties"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "httpMethod": "PATCH",
              "description": "Updates an existing web property. This method supports patch semantics.",
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the web property belongs"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "list": {
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists remarketing audiences to which the user has access.",
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audiences to retrieve."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer"
                },
                "type": {
                  "type": "string",
                  "default": "all",
                  "location": "query"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "id": "analytics.management.remarketingAudience.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "parameters": {
                "remarketingAudienceId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to update.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
[...]
