{
  "servicePath": "analytics/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        }
      }
    }
  },
  "name": "analytics",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "alt": {
      "description": "Data format for the response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "enum": [
        "json"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "default": "false",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "id": "analytics:v3",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "discoveryVersion": "v1",
  "description": "Views and manages your Google Analytics data.",
  "schemas": {
    "ProfileRef": {
      "id": "ProfileRef",
      "description": "JSON template for a linked view (profile).",
      "properties": {
        "href": {
          "description": "Link for this view (profile).",
          "type": "string"
        },
        "id": {
          "description": "View (Profile) ID.",
          "type": "string"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "kind": {
          "type": "string",
          "description": "Analytics view (profile) reference.",
          "default": "analytics#profileRef"
        }
      },
      "type": "object"
    },
    "Columns": {
      "properties": {
        "totalResults": {
          "type": "integer",
          "description": "Total number of columns returned in the response.",
          "format": "int32"
        },
        "etag": {
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed.",
          "type": "string"
        },
        "attributeNames": {
          "type": "array",
          "description": "List of attributes names returned by columns.",
          "items": {
            "type": "string"
          }
        },
        "items": {
          "description": "List of columns for a report type.",
          "items": {
            "$ref": "Column"
          },
          "type": "array"
        },
        "kind": {
          "default": "analytics#columns",
          "description": "Collection type.",
          "type": "string"
        }
      },
      "id": "Columns",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "type": "object"
    },
    "ProfileSummary": {
      "properties": {
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary"
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        }
      },
      "id": "ProfileSummary",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile.",
      "type": "object"
    },
    "Webproperties": {
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this web property collection.",
          "type": "string"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "kind": {
          "type": "string",
          "default": "analytics#webproperties",
          "description": "Collection type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "Webproperties",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "type": "object"
    },
    "WebPropertyRef": {
      "type": "object",
      "id": "WebPropertyRef",
      "description": "JSON template for a web property reference.",
      "properties": {
        "kind": {
          "default": "analytics#webPropertyRef",
          "description": "Analytics web property reference.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this web property belongs.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        }
      }
    },
    "Profile": {
      "id": "Profile",
      "description": "JSON template for an Analytics view (profile).",
      "properties": {
        "enhancedECommerceTracking": {
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled.",
          "type": "boolean"
        },
        "siteSearchQueryParameters": {
          "description": "The site search query parameters for this view (profile).",
          "type": "string"
        },
        "siteSearchCategoryParameters": {
          "description": "Site search category parameters for this view (profile).",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time this view (profile) was created.",
          "readOnly": true,
          "format": "date-time"
        },
        "updated": {
          "format": "date-time",
          "description": "Time this view (profile) was last modified.",
          "readOnly": true,
          "type": "string"
        },
        "defaultPage": {
          "description": "Default page for this view (profile).",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        },
        "permissions": {
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property.",
              "readOnly": true,
              "type": "array"
            }
          },
          "description": "Permissions the user has for this view (profile).",
          "type": "object"
        },
        "stripSiteSearchQueryParameters": {
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports.",
          "type": "boolean"
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true,
          "type": "string"
        },
        "currency": {
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL",
          "type": "string"
        },
        "parentLink": {
          "properties": {
            "href": {
              "description": "Link to the web property to which this view (profile) belongs.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          },
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs.",
          "type": "object"
        },
        "kind": {
          "type": "string",
          "default": "analytics#profile",
          "description": "Resource type for Analytics view (profile).",
          "readOnly": true
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this view (profile).",
          "readOnly": true
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "readOnly": true,
          "type": "string"
        },
        "websiteUrl": {
          "description": "Website URL for this view (profile).",
          "type": "string"
        },
        "botFilteringEnabled": {
          "description": "Indicates whether bot filtering is enabled for this view (profile).",
          "type": "boolean"
        },
        "childLink": {
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile).",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#goals\".",
              "default": "analytics#goals"
            },
            "href": {
              "description": "Link to the list of goals for this view (profile).",
              "type": "string"
            }
          },
          "type": "object"
        },
        "excludeQueryParameters": {
          "type": "string",
          "description": "The query parameters that are excluded from this view (profile)."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "stripSiteSearchCategoryParameters": {
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Uploads": {
      "id": "Uploads",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Upload"
          },
          "description": "A list of uploads."
        },
        "kind": {
          "default": "analytics#uploads",
          "description": "Collection type.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this upload collection.",
          "type": "string"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "type": "integer"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "RealtimeData": {
      "type": "object",
      "id": "RealtimeData",
      "description": "Real time data for a given view (profile).",
      "properties": {
        "kind": {
          "default": "analytics#realtimeData",
          "description": "Resource type.",
          "type": "string"
        },
        "profileInfo": {
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "description": "Internal ID for the web property to which this view (profile) belongs.",
              "type": "string"
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            }
          },
          "type": "object"
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "totalResults": {
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32",
          "type": "integer"
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "description": "Column name.",
                "type": "string"
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "rows": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "type": "array"
        },
        "query": {
          "type": "object",
          "description": "Real time data request query parameters.",
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "sort": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of dimensions or metrics based on which real time data is sorted."
            },
            "max-results": {
              "description": "Maximum results per page.",
              "format": "int32",
              "type": "integer"
            },
            "metrics": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "List of real time metrics."
            }
          }
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        }
      }
    },
    "CustomMetric": {
      "id": "CustomMetric",
      "description": "JSON template for Analytics Custom Metric.",
      "properties": {
        "id": {
          "description": "Custom metric ID.",
          "type": "string"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "type": {
          "description": "Data type of custom metric.",
          "type": "string"
        },
        "scope": {
          "description": "Scope of the custom metric: HIT or PRODUCT.",
          "type": "string"
        },
        "updated": {
          "description": "Time the custom metric was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "name": {
          "description": "Name of the custom metric.",
          "type": "string"
        },
        "created": {
          "format": "date-time",
          "description": "Time the custom metric was created.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for the custom metric",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "active": {
          "description": "Boolean indicating whether the custom metric is active.",
          "type": "boolean"
        },
        "min_value": {
          "description": "Min value of custom metric.",
          "type": "string"
        },
        "index": {
          "type": "integer",
          "format": "int32",
          "description": "Index of the custom metric.",
          "readOnly": true
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            },
            "type": {
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty",
              "type": "string"
            }
          },
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs.",
          "type": "object"
        },
        "kind": {
          "default": "analytics#customMetric",
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "HashClientIdRequest": {
      "properties": {
        "webPropertyId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdRequest"
        },
        "clientId": {
          "type": "string"
        }
      },
      "id": "HashClientIdRequest",
      "description": "JSON template for a hash Client Id request resource.",
      "type": "object"
    },
    "Experiment": {
      "id": "Experiment",
      "description": "JSON template for Analytics experiment resource.",
      "properties": {
        "snippet": {
          "description": "The snippet of code to include on the control page(s). This field is read-only.",
          "type": "string"
        },
        "created": {
          "description": "Time the experiment was created. This field is read-only.",
          "format": "date-time",
          "type": "string"
        },
        "status": {
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string"
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        },
        "servingFramework": {
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results.",
          "type": "string"
        },
        "profileId": {
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only.",
          "type": "string"
        },
        "webPropertyId": {
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only.",
          "type": "string"
        },
        "trafficCoverage": {
          "type": "number",
          "format": "double",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "editableInGaUi": {
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "updated": {
          "format": "date-time",
          "description": "Time the experiment was last modified. This field is read-only.",
          "type": "string"
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "winnerConfidenceLevel": {
          "type": "number",
          "format": "double",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED."
        },
        "rewriteVariationUrlsAsOriginal": {
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "winnerFound": {
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only.",
          "type": "boolean"
        },
        "parentLink": {
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs.",
          "properties": {
            "href": {
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "default": "analytics#profile",
              "description": "Value is \"analytics#profile\". This field is read-only."
            }
          },
          "type": "object"
        },
        "kind": {
          "default": "analytics#experiment",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "type": "string"
        },
        "optimizationType": {
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\".",
          "type": "string"
        },
        "startTime": {
          "format": "date-time",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          },
          "description": "Experiment ID. Required for patch and update. Disallowed for create."
        },
        "endTime": {
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time",
          "type": "string"
        },
        "variations": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "url": {
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED.",
                "type": "string"
              },
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "name": {
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED.",
                "type": "string",
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                }
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              },
              "weight": {
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only.",
                "format": "double"
              }
            }
          },
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING."
        },
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "FilterExpression": {
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "Determines if the filter is case sensitive.",
          "type": "boolean"
        },
        "field": {
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#filterExpression",
          "description": "Kind value for filter expression"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "fieldIndex": {
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FilterExpression",
      "description": "JSON template for an Analytics filter expression."
    },
    "Goals": {
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Goal"
          },
          "description": "A list of goals."
        },
        "kind": {
          "type": "string",
          "default": "analytics#goals",
          "description": "Collection type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this goal collection.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      },
      "id": "Goals",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "type": "object"
    },
    "HashClientIdResponse": {
      "id": "HashClientIdResponse",
      "description": "JSON template for a hash Client Id response resource.",
      "properties": {
        "webPropertyId": {
          "type": "string"
        },
        "hashedClientId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        },
        "clientId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "EntityAdWordsLinks": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "items": {
          "type": "array",
          "description": "A list of entity Google Ads links.",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "kind": {
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        }
      },
      "id": "EntityAdWordsLinks",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "type": "object"
    },
    "WebPropertySummary": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#webPropertySummary",
          "description": "Resource type for Analytics WebPropertySummary."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "websiteUrl": {
          "description": "Website url for this web property.",
          "type": "string"
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "profiles": {
          "items": {
            "$ref": "ProfileSummary"
          },
          "description": "List of profiles under this web property.",
          "type": "array"
        }
      },
      "id": "WebPropertySummary",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property."
    },
    "CustomDataSource": {
      "type": "object",
      "id": "CustomDataSource",
      "description": "JSON template for an Analytics custom data source.",
      "properties": {
        "profilesLinked": {
          "items": {
            "type": "string"
          },
          "description": "IDs of views (profiles) linked to the custom data source.",
          "type": "array"
        },
        "name": {
          "description": "Name of this custom data source.",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "description": "Time this custom data source was last modified.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\".",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            }
          }
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "type": {
          "description": "Type of the custom data source.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#customDataSource",
          "description": "Resource type for Analytics custom data source.",
          "type": "string"
        },
        "importBehavior": {
          "type": "string"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "type": {
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            }
          },
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs."
        },
        "created": {
          "description": "Time this custom data source was created.",
          "format": "date-time",
          "type": "string"
        },
        "schema": {
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "selfLink": {
          "description": "Link for this Analytics custom data source.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        }
      }
    },
    "Filters": {
      "id": "Filters",
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of filters.",
          "items": {
            "$ref": "Filter"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#filters"
        },
        "nextLink": {
          "description": "Link to next page for this filter collection.",
          "type": "string"
        },
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      },
      "type": "object"
    },
    "Account": {
      "id": "Account",
      "description": "JSON template for Analytics account entry.",
      "properties": {
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "kind": {
          "default": "analytics#account",
          "description": "Resource type for Analytics account.",
          "type": "string"
        },
        "updated": {
          "description": "Time the account was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "permissions": {
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true,
              "type": "array"
            }
          },
          "type": "object"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "childLink": {
          "properties": {
            "href": {
              "description": "Link to the list of web properties for this account.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\".",
              "default": "analytics#webproperties"
            }
          },
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "type": "object"
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "created": {
          "format": "date-time",
          "description": "Time the account was created.",
          "type": "string"
        },
        "selfLink": {
          "description": "Link for this account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "McfData": {
      "id": "McfData",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "profileInfo": {
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "description": "Table ID for view (profile).",
              "type": "string"
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "type": "string",
          "default": "analytics#mcfData",
          "description": "Resource type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "containsSampledData": {
          "description": "Determines if the Analytics data contains sampled data.",
          "type": "boolean"
        },
        "totalResults": {
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32",
          "type": "integer"
        },
        "sampleSpace": {
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "description": "Link to previous page for this Analytics data query.",
          "type": "string"
        },
        "query": {
          "properties": {
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "max-results": {
              "type": "integer",
              "format": "int32",
              "description": "Maximum results per page."
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "start-index": {
              "type": "integer",
              "format": "int32",
              "description": "Start index."
            },
            "samplingLevel": {
              "description": "Desired sampling level",
              "type": "string"
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "end-date": {
              "description": "End date.",
              "type": "string"
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            }
          },
          "description": "Analytics data request query parameters.",
          "type": "object"
        },
        "totalsForAllResults": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          },
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request."
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "description": "Column name.",
                "type": "string"
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              }
            }
          }
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc.",
                        "type": "string"
                      }
                    }
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated.",
              "type": "object"
            }
          },
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomMetrics": {
      "id": "CustomMetrics",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "previousLink": {
          "description": "Link to previous page for this custom metric collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "nextLink": {
          "description": "Link to next page for this custom metric collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom metrics.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "kind": {
          "type": "string",
          "default": "analytics#customMetrics",
          "description": "Collection type."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Segment": {
      "type": "object",
      "id": "Segment",
      "description": "JSON template for an Analytics segment.",
      "properties": {
        "name": {
          "description": "Segment name.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#segment",
          "description": "Resource type for Analytics segment."
        },
        "updated": {
          "description": "Time the segment was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "segmentId": {
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API.",
          "type": "string"
        },
        "type": {
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\".",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Segment ID."
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time the segment was created."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        },
        "definition": {
          "description": "Segment definition.",
          "type": "string"
        }
      }
    },
    "ProfileFilterLink": {
      "type": "object",
      "properties": {
        "rank": {
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "format": "int32",
          "type": "integer"
        },
        "filterRef": {
          "description": "Filter for this link.",
          "$ref": "FilterRef"
        },
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "selfLink": {
          "description": "Link for this profile filter link.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Profile filter link ID.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics filter.",
          "readOnly": true,
          "default": "analytics#profileFilterLink",
          "type": "string"
        }
      },
      "id": "ProfileFilterLink",
      "description": "JSON template for an Analytics profile filter link."
    },
    "UserRef": {
      "properties": {
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        },
        "id": {
          "description": "User ID.",
          "type": "string"
        }
      },
      "id": "UserRef",
      "description": "JSON template for a user reference.",
      "type": "object"
    },
    "AccountTreeRequest": {
      "properties": {
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "default": "analytics#accountTreeRequest",
          "description": "Resource type for account ticket.",
          "type": "string"
        },
        "timezone": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "accountName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      },
      "id": "AccountTreeRequest",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields.",
      "type": "object"
    },
    "Upload": {
      "id": "Upload",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#upload",
          "description": "Resource type for Analytics upload."
        },
        "accountId": {
          "type": "string",
          "description": "Account Id to which this upload belongs.",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "uploadTime": {
          "description": "Time this file is uploaded.",
          "format": "date-time",
          "type": "string"
        },
        "id": {
          "description": "A unique ID for this upload.",
          "type": "string"
        },
        "errors": {
          "description": "Data import errors collection.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "EntityUserLinks": {
      "id": "EntityUserLinks",
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "items": {
          "type": "array",
          "description": "A list of entity user links.",
          "items": {
            "$ref": "EntityUserLink"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityUserLinks"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        }
      },
      "type": "object"
    },
    "Profiles": {
      "id": "Profiles",
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "properties": {
        "totalResults": {
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this view (profile) collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this view (profile) collection."
        },
        "items": {
          "description": "A list of views (profiles).",
          "items": {
            "$ref": "Profile"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "analytics#profiles",
          "description": "Collection type."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AccountRef": {
      "id": "AccountRef",
      "description": "JSON template for a linked account.",
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "kind": {
          "default": "analytics#accountRef",
          "description": "Analytics account reference.",
          "type": "string"
        },
        "id": {
          "description": "Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LinkedForeignAccount": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for linked foreign account.",
          "default": "analytics#linkedForeignAccount"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs.",
          "readOnly": true
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "remarketingAudienceId": {
          "description": "Remarketing audience ID to which this linked foreign account belongs.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this linked foreign account belongs.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "eligibleForSearch": {
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.",
          "type": "string"
        }
      },
      "id": "LinkedForeignAccount",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "type": "object"
    },
    "GaData": {
      "id": "GaData",
      "description": "Analytics data for a given view (profile).",
      "properties": {
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  }
                }
              }
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "sampleSpace": {
          "type": "string",
          "format": "int64",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "dataLastRefreshed": {
          "format": "int64",
          "description": "The last refreshed time in seconds for Analytics data.",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "rows": {
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array"
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "metrics": {
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "dimensions": {
              "description": "List of analytics dimensions.",
              "type": "string"
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "max-results": {
              "format": "int32",
              "description": "Maximum results per page.",
              "type": "integer"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "start-index": {
              "description": "Start index.",
              "format": "int32",
              "type": "integer"
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            }
          }
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "sampleSize": {
          "type": "string",
          "format": "int64",
          "description": "The number of samples used to calculate the result."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#gaData"
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "nextLink": {
          "description": "Link to next page for this Analytics data query.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RemarketingAudiences": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "A list of remarketing audiences.",
          "items": {
            "$ref": "RemarketingAudience"
          }
        },
        "kind": {
          "default": "analytics#remarketingAudiences",
          "description": "Collection type.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        }
      },
      "id": "RemarketingAudiences",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience."
    },
    "CustomDataSources": {
      "type": "object",
      "id": "CustomDataSources",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "previousLink": {
          "description": "Link to previous page for this custom data source collection.",
          "type": "string"
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "items": {
          "description": "Collection of custom data sources.",
          "items": {
            "$ref": "CustomDataSource"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "analytics#customDataSources",
          "description": "Collection type."
        }
      }
    },
    "ProfileFilterLinks": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        },
        "items": {
          "description": "A list of profile filter links.",
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "analytics#profileFilterLinks",
          "description": "Collection type."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this profile filter link collection.",
          "type": "string"
        }
      },
      "id": "ProfileFilterLinks",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "type": "object"
    },
    "AccountTicket": {
      "type": "object",
      "id": "AccountTicket",
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.",
      "properties": {
        "account": {
          "description": "Account for this ticket.",
          "$ref": "Account"
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        },
        "kind": {
          "default": "analytics#accountTicket",
          "description": "Resource type for account ticket.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        }
      }
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "description": "JSON template for an Google Ads account.",
      "properties": {
        "autoTaggingEnabled": {
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation.",
          "type": "boolean"
        },
        "customerId": {
          "description": "Customer ID. This field is required when creating a Google Ads link.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "kind": {
          "description": "Resource type for Google Ads account.",
          "default": "analytics#adWordsAccount",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomDimension": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "kind": {
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "readOnly": true,
          "default": "analytics#customDimension"
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "description": "Time the custom dimension was last modified.",
          "readOnly": true
        },
        "parentLink": {
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "properties": {
            "href": {
              "description": "Link to the property to which the custom dimension belongs.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            }
          },
          "type": "object"
        },
        "scope": {
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT.",
          "type": "string"
        },
        "index": {
          "format": "int32",
          "description": "Index of the custom dimension.",
          "readOnly": true,
          "type": "integer"
        },
        "accountId": {
          "description": "Account ID.",
          "type": "string"
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        },
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "created": {
          "format": "date-time",
          "description": "Time the custom dimension was created.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for the custom dimension",
          "readOnly": true
        }
      },
      "id": "CustomDimension",
      "description": "JSON template for Analytics Custom Dimension.",
      "type": "object"
    },
    "UnsampledReports": {
      "type": "object",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer"
        },
        "items": {
          "description": "A list of unsampled reports.",
          "items": {
            "$ref": "UnsampledReport"
          },
          "type": "array"
        },
        "kind": {
          "type": "string",
          "default": "analytics#unsampledReports",
          "description": "Collection type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "UnsampledReports",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report."
    },
    "Webproperty": {
      "id": "Webproperty",
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "parentLink": {
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "type": {
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account",
              "type": "string"
            },
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            }
          }
        },
        "dataRetentionResetOnNewActivity": {
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert.",
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics WebProperty.",
          "readOnly": true,
          "default": "analytics#webproperty"
        },
        "created": {
          "description": "Time this web property was created.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "level": {
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true,
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this web property.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "defaultProfileId": {
          "type": "string",
          "format": "int64",
          "description": "Default view (profile) ID."
        },
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "readOnly": true,
          "format": "int32"
        },
        "updated": {
          "description": "Time this web property was last modified.",
          "readOnly": true,
          "format": "date-time",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "industryVertical": {
          "description": "The industry vertical/category selected for this web property.",
          "type": "string"
        },
        "dataRetentionTtl": {
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "href": {
              "description": "Link to the list of views (profiles) for this web property.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            }
          }
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "readOnly": true,
              "type": "array"
            }
          }
        }
      },
      "type": "object"
    },
    "Segments": {
      "id": "Segments",
      "description": "An segment collection lists Analytics segments that the user has access to. Each resource in the collection corresponds to a single Analytics segment.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "description": "A list of segments.",
          "items": {
            "$ref": "Segment"
          }
        },
        "kind": {
          "type": "string",
          "default": "analytics#segments",
          "description": "Collection type for segments."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "description": "Link to previous page for this segment collection.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      },
      "type": "object"
    },
    "UnsampledReport": {
      "id": "UnsampledReport",
      "description": "JSON template for Analytics unsampled report resource.",
      "properties": {
        "profileId": {
          "description": "View (Profile) ID to which this unsampled report belongs.",
          "type": "string"
        },
        "kind": {
[...]
