{
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "discoveryVersion": "v1",
  "parameters": {
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for the response.",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        }
      }
    }
  },
  "title": "Google Analytics API",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/analytics-32.png",
    "x16": "https://www.google.com/images/icons/product/analytics-16.png"
  },
  "servicePath": "analytics/v3/",
  "resources": {
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "description": "Lists all columns for a report type",
              "response": {
                "$ref": "Columns"
              },
              "path": "metadata/{reportType}/columns",
              "parameterOrder": [
                "reportType"
              ],
              "id": "analytics.metadata.columns.list",
              "httpMethod": "GET",
              "parameters": {
                "reportType": {
                  "required": true,
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "pattern": "ga",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        }
      }
    },
    "data": {
      "resources": {
        "ga": {
          "methods": {
            "get": {
              "id": "analytics.data.ga.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "type": "string",
                  "location": "query"
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "query"
                },
                "metrics": {
                  "required": true,
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "pattern": "ga:.+",
                  "location": "query",
                  "type": "string"
                },
                "dimensions": {
                  "location": "query",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "pattern": "(ga:.+)?",
                  "type": "string"
                },
                "filters": {
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+",
                  "type": "string"
                },
                "start-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "end-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+",
                  "location": "query"
                },
                "output": {
                  "location": "query",
                  "type": "string",
                  "description": "The selected format for the response. Default format is JSON.",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ]
                },
                "segment": {
                  "location": "query",
                  "type": "string",
                  "description": "An Analytics segment to be applied to data."
                },
                "include-empty-rows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true"
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "GaData"
              },
              "description": "Returns Analytics data for a view (profile).",
              "path": "data/ga",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ]
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "id": "analytics.data.realtime.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "format": "int32"
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query"
                },
                "dimensions": {
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "type": "string",
                  "location": "query"
                },
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "ids": {
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "query"
                },
                "metrics": {
                  "required": true,
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "RealtimeData"
              },
              "description": "Returns real time data for a view (profile).",
              "path": "data/realtime",
              "parameterOrder": [
                "ids",
                "metrics"
              ]
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "id": "analytics.data.mcf.get",
              "httpMethod": "GET",
              "parameters": {
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "location": "query",
                  "type": "string"
                },
                "dimensions": {
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "pattern": "(mcf:.+)?",
                  "type": "string"
                },
                "filters": {
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "pattern": "mcf:.+",
                  "type": "string"
                },
                "start-date": {
                  "required": true,
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "type": "string"
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "query"
                },
                "metrics": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "pattern": "mcf:.+"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "sort": {
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "pattern": "(-)?mcf:.+",
                  "type": "string"
                },
                "end-date": {
                  "location": "query",
                  "type": "string",
                  "required": true,
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "response": {
                "$ref": "McfData"
              },
              "path": "data/mcf",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ]
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "unsampledReports": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "description": "Returns a single unsampled report.",
              "response": {
                "$ref": "UnsampledReport"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for."
                },
                "unsampledReportId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the unsampled report to retrieve."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.unsampledReports.get",
              "httpMethod": "GET"
            },
            "list": {
              "description": "Lists unsampled reports to which the user has access.",
              "response": {
                "$ref": "UnsampledReports"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.unsampledReports.list",
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "delete": {
              "id": "analytics.management.unsampledReports.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "unsampledReportId": {
                  "type": "string",
                  "description": "ID of the unsampled report to be deleted.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes an unsampled report.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Create a new unsampled report.",
              "response": {
                "$ref": "UnsampledReport"
              },
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to create the unsampled report for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.unsampledReports.insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "UnsampledReport"
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "insert": {
              "description": "Create a new custom dimension.",
              "response": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDimensions.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimension to create.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create."
                }
              },
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "update": {
              "id": "analytics.management.customDimensions.update",
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimension to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                },
                "customDimensionId": {
                  "required": true,
                  "location": "path",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom dimension to update.",
                  "type": "string"
                }
              },
              "description": "Updates an existing custom dimension.",
              "response": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string"
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "default": "false",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "required": true,
                  "location": "path"
                },
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.customDimensions.patch",
              "httpMethod": "PATCH"
            },
            "list": {
              "id": "analytics.management.customDimensions.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "type": "string"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "accountId": {
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "CustomDimensions"
              },
              "description": "Lists custom dimensions to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "get": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom dimension to retrieve.",
                  "type": "string"
                },
                "customDimensionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the custom dimension to retrieve."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDimensions.get",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "description": "Get a custom dimension to which the user has access.",
              "response": {
                "$ref": "CustomDimension"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "id": "analytics.management.accountSummaries.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "AccountSummaries"
              },
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "path": "management/accountSummaries"
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "description": "Removes a user from the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "type": "string"
                }
              },
              "id": "analytics.management.accountUserLinks.delete",
              "httpMethod": "DELETE"
            },
            "insert": {
              "id": "analytics.management.accountUserLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "type": "string"
                }
              },
              "description": "Adds a new user to the given account.",
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "max-results": {
                  "description": "The maximum number of account-user links to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve the user links for."
                },
                "start-index": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                }
              },
              "id": "analytics.management.accountUserLinks.list",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists account-user links for a given account."
            },
            "update": {
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "description": "Updates permissions for an existing user on the given account.",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the account-user link for.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "type": "string"
                }
              },
              "id": "analytics.management.accountUserLinks.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "EntityUserLink"
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Profile"
              },
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the view (profile) to be updated."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs",
                  "type": "string"
                }
              },
              "id": "analytics.management.profiles.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Profile"
              }
            },
            "delete": {
              "description": "Deletes a view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to delete the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the view (profile) for.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "insert": {
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new view (profile).",
              "response": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.profiles.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to create the view (profile) for."
                }
              }
            },
            "update": {
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.update",
              "httpMethod": "PUT",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the view (profile) to be updated."
                }
              },
              "description": "Updates an existing view (profile).",
              "response": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "get": {
              "id": "analytics.management.profiles.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the view (profile) for.",
                  "pattern": "[0-9]+"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "pattern": "[0-9]+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "description": "Gets a view (profile) to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Profiles"
              },
              "description": "Lists views (profiles) to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access."
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.profiles.list",
              "httpMethod": "GET"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "get": {
              "id": "analytics.management.customMetrics.get",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom metric to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "customMetricId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the custom metric to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Get a custom metric to which the user has access.",
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ]
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists custom metrics to which the user has access.",
              "response": {
                "$ref": "CustomMetrics"
              },
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve."
                },
                "accountId": {
                  "description": "Account ID for the custom metrics to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of custom metrics to include in this response."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customMetrics.list",
              "httpMethod": "GET"
            },
            "patch": {
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.patch",
              "httpMethod": "PATCH",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom metric to update.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom metric to update.",
                  "type": "string"
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
                }
              }
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to create."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.customMetrics.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Create a new custom metric.",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              }
            },
            "update": {
              "description": "Updates an existing custom metric.",
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.update",
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metric to update."
                }
              },
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "delete": {
              "description": "Delete a remarketing audience.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "id": "analytics.management.remarketingAudience.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "remarketingAudienceId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the remarketing audience to delete."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to which the remarketing audience belongs."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the remarketing audience belongs."
                }
              }
            },
            "insert": {
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a new remarketing audience.",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.remarketingAudience.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account ID for which to create the remarketing audience."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for which to create the remarketing audience."
                }
              }
            },
            "update": {
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "id": "analytics.management.remarketingAudience.update",
              "httpMethod": "PUT",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update."
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "parameters": {
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.remarketingAudience.patch",
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              }
            },
            "list": {
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "type": {
                  "type": "string",
                  "default": "all",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "type": "string"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.remarketingAudience.list",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists remarketing audiences to which the user has access.",
              "response": {
                "$ref": "RemarketingAudiences"
              }
            },
            "get": {
              "parameters": {
                "remarketingAudienceId": {
                  "type": "string",
                  "description": "The ID of the remarketing audience to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The account ID of the remarketing audience to retrieve.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.remarketingAudience.get",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "description": "Gets a remarketing audience to which the user has access.",
              "response": {
                "$ref": "RemarketingAudience"
              }
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "path": "management/accounts",
              "response": {
                "$ref": "Accounts"
              },
              "description": "Lists all accounts to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of accounts to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                }
              },
              "id": "analytics.management.accounts.list",
              "httpMethod": "GET"
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "list": {
              "id": "analytics.management.webpropertyUserLinks.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID which the given web property belongs to.",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists webProperty-user links for a given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "update": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "type": "string"
                },
                "linkId": {
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to update the account-user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.webpropertyUserLinks.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "description": "Updates permissions for an existing user on the given web property.",
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "id": "analytics.management.webpropertyUserLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to delete the user link for.",
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ]
            },
            "insert": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webpropertyUserLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web Property ID to create the user link for."
                }
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            }
          }
        },
        "goals": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of goals to include in this response.",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string"
                }
              },
              "id": "analytics.management.goals.list",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goals"
              },
              "description": "Lists goals to which the user has access."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the goal for.",
                  "required": true,
                  "location": "path"
                },
                "goalId": {
                  "required": true,
                  "location": "path",
                  "description": "Goal ID to retrieve the goal for.",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the goal for.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.goals.get",
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "response": {
                "$ref": "Goal"
              },
              "description": "Gets a goal to which the user has access."
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Goal"
              },
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to create the goal for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to create the goal for."
                },
                "webPropertyId": {
                  "description": "Web property ID to create the goal for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.goals.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goal"
              },
              "description": "Create a new goal."
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to update the goal.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "required": true,
                  "location": "path"
                },
                "goalId": {
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.goals.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Goal"
              }
            },
            "patch": {
              "parameters": {
                "goalId": {
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to update the goal."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to update the goal.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to update the goal.",
                  "type": "string"
                }
              },
              "id": "analytics.management.goals.patch",
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "description": "Updates an existing goal. This method supports patch semantics.",
              "response": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Goal"
              }
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "get": {
              "id": "analytics.management.profileFilterLinks.get",
              "httpMethod": "GET",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "Profile ID to retrieve filter link for.",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to retrieve profile filter link for.",
                  "pattern": "\\d+",
                  "required": true
                },
                "linkId": {
                  "required": true,
                  "description": "ID of the profile filter link.",
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property Id to retrieve profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a single profile filter link.",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ]
            },
            "list": {
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "description": "Lists all profile filter links for a profile.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileFilterLinks.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve profile filter links for.",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "profileId": {
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "parameters": {
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the profile filter link to be updated.",
                  "pattern": "\\d+:\\d+",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "description": "Profile ID to which filter link belongs",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.profileFilterLinks.patch",
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "response": {
                "$ref": "ProfileFilterLink"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the profile filter link belongs.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Profile ID to which the filter link belongs.",
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property Id to which the profile filter link belongs.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string"
                },
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the profile filter link to delete.",
                  "pattern": "\\d+:\\d+",
                  "required": true
                }
              },
              "id": "analytics.management.profileFilterLinks.delete",
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Delete a profile filter link."
            },
            "insert": {
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profileFilterLinks.insert",
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "description": "Profile ID to create filter link for.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property Id to create profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Create a new profile filter link.",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of the profile filter link to be updated.",
                  "pattern": "\\d+:\\d+"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Profile ID to which filter link belongs",
                  "pattern": "\\d+"
                }
              },
              "id": "analytics.management.profileFilterLinks.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Update an existing profile filter link.",
              "response": {
                "$ref": "ProfileFilterLink"
              }
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property-Google Ads link ID."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "update": {
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "httpMethod": "PUT",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "description": "Web property-Google Ads link ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Updates an existing webProperty-Google Ads link.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "delete": {
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property Google Ads link ID."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a web property-Google Ads link.",
[...]
