{
  "revision": "20190807",
  "rootUrl": "https://analytics.googleapis.com/",
  "basePath": "/analytics/v3/",
  "discoveryVersion": "v1",
  "version": "v3",
  "schemas": {
    "Columns": {
      "id": "Columns",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        },
        "items": {
          "items": {
            "$ref": "Column"
          },
          "type": "array",
          "description": "List of columns for a report type."
        },
        "totalResults": {
          "type": "integer",
          "description": "Total number of columns returned in the response.",
          "format": "int32"
        },
        "attributeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of attributes names returned by columns."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#columns"
        }
      },
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type."
    },
    "AccountTreeRequest": {
      "id": "AccountTreeRequest",
      "properties": {
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "webpropertyName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        },
        "websiteUrl": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "Account": {
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "id": "Account",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics account.",
          "default": "analytics#account"
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this account.",
          "properties": {
            "effective": {
              "readOnly": true,
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW)."
            }
          }
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "created": {
          "type": "string",
          "description": "Time the account was created.",
          "format": "date-time"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was last modified."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\".",
              "default": "analytics#webproperties"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Account name."
        }
      }
    },
    "AccountSummary": {
      "id": "AccountSummary",
      "properties": {
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics AccountSummary.",
          "default": "analytics#accountSummary"
        },
        "webProperties": {
          "type": "array",
          "description": "List of web properties under this account.",
          "items": {
            "$ref": "WebPropertySummary"
          }
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles."
    },
    "McfData": {
      "id": "McfData",
      "properties": {
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      }
                    }
                  },
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes."
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated."
            }
          }
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "query": {
          "properties": {
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "columnHeaders": {
          "items": {
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#mcfData"
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "profileInfo": {
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        }
      },
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile)."
    },
    "RemarketingAudience": {
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience.",
      "id": "RemarketingAudience",
      "properties": {
        "audienceDefinition": {
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "type": "object",
          "description": "The simple audience definition that will cause a user to be added to an audience."
        },
        "id": {
          "type": "string",
          "description": "Remarketing Audience ID."
        },
        "linkedViews": {
          "type": "array",
          "description": "The views (profiles) that this remarketing audience is linked to.",
          "items": {
            "type": "string"
          }
        },
        "created": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Time this remarketing audience was created."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Time this remarketing audience was last modified.",
          "format": "date-time"
        },
        "stateBasedAudienceDefinition": {
          "properties": {
            "excludeConditions": {
              "type": "object",
              "description": "Defines the conditions to exclude users from the audience.",
              "properties": {
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                },
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                }
              }
            },
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience."
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "description": {
          "type": "string",
          "description": "The description of this remarketing audience.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudience"
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "linkedAdAccounts": {
          "type": "array",
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
          "items": {
            "$ref": "LinkedForeignAccount"
          }
        }
      }
    },
    "Accounts": {
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "id": "Accounts",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accounts"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "items": {
          "type": "array",
          "description": "A list of accounts.",
          "items": {
            "$ref": "Account"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        }
      }
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "type": "object",
      "description": "Request template for the delete upload data request.",
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "properties": {
        "customDataImportUids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of upload UIDs."
        }
      }
    },
    "RealtimeData": {
      "id": "RealtimeData",
      "properties": {
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#realtimeData"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "query": {
          "properties": {
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of real time metrics."
            }
          },
          "type": "object",
          "description": "Real time data request query parameters."
        },
        "profileInfo": {
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "rows": {
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Real time data for a given view (profile)."
    },
    "AccountSummaries": {
      "id": "AccountSummaries",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accountSummaries"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this AccountSummary collection."
        },
        "items": {
          "items": {
            "$ref": "AccountSummary"
          },
          "type": "array",
          "description": "A list of AccountSummaries."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      },
      "type": "object",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary."
    },
    "Upload": {
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "id": "Upload",
      "properties": {
        "errors": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Data import errors collection."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics upload.",
          "default": "analytics#upload"
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account Id to which this upload belongs."
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        },
        "uploadTime": {
          "format": "date-time",
          "type": "string",
          "description": "Time this file is uploaded."
        }
      }
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Google Ads account.",
          "default": "analytics#adWordsAccount"
        },
        "customerId": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link."
        },
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        }
      },
      "type": "object",
      "description": "JSON template for an Google Ads account."
    },
    "Profile": {
      "type": "object",
      "description": "JSON template for an Analytics view (profile).",
      "id": "Profile",
      "properties": {
        "currency": {
          "type": "string",
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL"
        },
        "updated": {
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was last modified.",
          "format": "date-time"
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL for this view (profile)."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile).",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#goals\".",
              "default": "analytics#goals"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            }
          }
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this view (profile).",
          "readOnly": true
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "created": {
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was created.",
          "format": "date-time"
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "siteSearchCategoryParameters": {
          "type": "string",
          "description": "Site search category parameters for this view (profile)."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics view (profile).",
          "default": "analytics#profile"
        },
        "permissions": {
          "properties": {
            "effective": {
              "readOnly": true,
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property."
            }
          },
          "type": "object",
          "description": "Permissions the user has for this view (profile)."
        },
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            },
            "href": {
              "type": "string",
              "description": "Link to the web property to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs."
        },
        "enhancedECommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "excludeQueryParameters": {
          "type": "string",
          "description": "The query parameters that are excluded from this view (profile)."
        }
      }
    },
    "Experiment": {
      "type": "object",
      "description": "JSON template for Analytics experiment resource.",
      "id": "Experiment",
      "properties": {
        "name": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only."
        },
        "variations": {
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                },
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED."
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              },
              "weight": {
                "format": "double",
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only."
              }
            }
          },
          "type": "array",
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING."
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "default": "analytics#experiment"
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "type": "integer",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs."
        },
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "status": {
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "created": {
          "type": "string",
          "description": "Time the experiment was created. This field is read-only.",
          "format": "date-time"
        },
        "endTime": {
          "type": "string",
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only.",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Experiment ID. Required for patch and update. Disallowed for create.",
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          }
        },
        "rewriteVariationUrlsAsOriginal": {
          "type": "boolean",
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED."
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "winnerConfidenceLevel": {
          "type": "number",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the experiment was last modified. This field is read-only."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "trafficCoverage": {
          "format": "double",
          "type": "number",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "startTime": {
          "type": "string",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.",
          "format": "date-time"
        }
      }
    },
    "UnsampledReports": {
      "type": "object",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "id": "UnsampledReports",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#unsampledReports"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "items": {
          "items": {
            "$ref": "UnsampledReport"
          },
          "type": "array",
          "description": "A list of unsampled reports."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        }
      }
    },
    "GaData": {
      "type": "object",
      "description": "Analytics data for a given view (profile).",
      "id": "GaData",
      "properties": {
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "rows": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "query": {
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "dataLastRefreshed": {
          "type": "string",
          "description": "The last refreshed time in seconds for Analytics data.",
          "format": "int64"
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "rows": {
              "items": {
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "type": "object"
              },
              "type": "array"
            },
            "cols": {
              "items": {
                "properties": {
                  "type": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "sampleSpace": {
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected.",
          "format": "int64"
        },
        "columnHeaders": {
          "items": {
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#gaData"
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          }
        }
      }
    },
    "HashClientIdResponse": {
      "type": "object",
      "description": "JSON template for a hash Client Id response resource.",
      "id": "HashClientIdResponse",
      "properties": {
        "hashedClientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        }
      }
    },
    "ProfileFilterLink": {
      "type": "object",
      "description": "JSON template for an Analytics profile filter link.",
      "id": "ProfileFilterLink",
      "properties": {
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#profileFilterLink"
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "profileRef": {
          "$ref": "ProfileRef",
          "description": "View (Profile) for this link."
        },
        "rank": {
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "format": "int32"
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this profile filter link."
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        }
      }
    },
    "AccountTicket": {
      "id": "AccountTicket",
      "properties": {
        "id": {
          "type": "string",
          "description": "Account ticket ID used to access the account ticket."
        },
        "redirectUri": {
          "type": "string",
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTicket"
        },
        "account": {
          "$ref": "Account",
          "description": "Account for this ticket."
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile."
    },
    "AccountRef": {
      "type": "object",
      "description": "JSON template for a linked account.",
      "id": "AccountRef",
      "properties": {
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "kind": {
          "type": "string",
          "description": "Analytics account reference.",
          "default": "analytics#accountRef"
        },
        "href": {
          "type": "string",
          "description": "Link for this account."
        }
      }
    },
    "CustomDimension": {
      "id": "CustomDimension",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for the custom dimension"
        },
        "index": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Index of the custom dimension."
        },
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            }
          }
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "default": "analytics#customDimension"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom dimension was created.",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom dimension was last modified.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics Custom Dimension."
    },
    "IncludeConditions": {
      "id": "IncludeConditions",
      "properties": {
        "membershipDurationDays": {
          "type": "integer",
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32"
        },
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        },
        "daysToLookBack": {
          "format": "int32",
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for include conditions.",
          "default": "analytics#includeConditions"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Include Conditions."
    },
    "Goal": {
      "id": "Goal",
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this goal was created."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "updated": {
          "type": "string",
          "description": "Time this goal was last modified.",
          "format": "date-time"
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Goal value."
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            },
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            }
          }
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "eventDetails": {
          "type": "object",
          "description": "Details for the goal of the type EVENT.",
          "properties": {
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            },
            "eventConditions": {
              "items": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "comparisonValue": {
                    "type": "string",
                    "description": "Value used for this comparison.",
                    "format": "int64"
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  }
                }
              },
              "type": "array",
              "description": "List of event conditions."
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "visitTimeOnSiteDetails": {
          "properties": {
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            },
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE."
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\".",
              "default": "analytics#profile"
            }
          },
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs."
        },
        "urlDestinationDetails": {
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION.",
          "properties": {
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "steps": {
              "type": "array",
              "description": "List of steps configured for this goal funnel.",
              "items": {
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  },
                  "number": {
                    "format": "int32",
                    "type": "integer",
                    "description": "Step number."
                  }
                },
                "type": "object"
              }
            },
            "url": {
              "type": "string",
              "description": "URL for this goal."
            }
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics goal resource."
    },
    "CustomMetrics": {
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "id": "CustomMetrics",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customMetrics"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom metrics.",
          "items": {
            "$ref": "CustomMetric"
          }
        }
      }
    },
    "EntityAdWordsLinks": {
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "id": "EntityAdWordsLinks",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "EntityAdWordsLink"
          },
          "type": "array",
          "description": "A list of entity Google Ads links."
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks"
        }
      }
    },
    "FilterExpression": {
      "type": "object",
      "description": "JSON template for an Analytics filter expression.",
      "id": "FilterExpression",
      "properties": {
        "fieldIndex": {
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "format": "int32"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter expression",
          "default": "analytics#filterExpression"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        }
      }
    },
    "FilterRef": {
      "id": "FilterRef",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef"
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          },
          "type": "string",
          "description": "Filter ID."
        },
        "name": {
          "type": "string",
          "description": "Name of this filter.",
          "readOnly": true
        },
        "href": {
          "type": "string",
          "description": "Link for this filter."
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Account ID to which this filter belongs."
        }
      },
      "type": "object",
      "description": "JSON template for a profile filter link."
    },
    "Filters": {
      "id": "Filters",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#filters"
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "Filter"
          },
          "type": "array",
          "description": "A list of filters."
        }
      },
      "type": "object",
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter."
    },
    "CustomDimensions": {
      "id": "CustomDimensions",
      "properties": {
        "items": {
          "items": {
            "$ref": "CustomDimension"
          },
          "type": "array",
          "description": "Collection of custom dimensions."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDimensions"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        }
      },
      "type": "object",
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension."
    },
    "ProfileSummary": {
      "id": "ProfileSummary",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary"
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile."
    },
    "UserRef": {
      "type": "object",
      "description": "JSON template for a user reference.",
      "id": "UserRef",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        },
        "id": {
          "type": "string",
          "description": "User ID."
        },
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        }
      }
    },
    "UserDeletionRequest": {
      "type": "object",
      "description": "JSON template for a user deletion request resource.",
      "id": "UserDeletionRequest",
      "properties": {
        "id": {
          "type": "object",
          "description": "User ID.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of user"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          }
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        },
        "kind": {
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\".",
          "default": "analytics#userDeletionRequest"
        },
        "deletionRequestTime": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted"
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        }
      }
    },
    "WebPropertySummary": {
      "type": "object",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.",
      "id": "WebPropertySummary",
      "properties": {
        "profiles": {
          "items": {
            "$ref": "ProfileSummary"
          },
          "type": "array",
          "description": "List of profiles under this web property."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics WebPropertySummary.",
          "default": "analytics#webPropertySummary"
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        }
      }
    },
    "CustomDataSources": {
      "id": "CustomDataSources",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDataSources"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom data source collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom data sources.",
          "items": {
            "$ref": "CustomDataSource"
          }
        }
      },
      "type": "object",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source."
    },
    "Filter": {
      "id": "Filter",
      "properties": {
        "includeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type INCLUDE."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this filter.",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#filter"
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#account\".",
              "default": "analytics#account"
            }
          }
        },
        "lowercaseDetails": {
          "properties": {
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type LOWER."
        },
        "advancedDetails": {
          "type": "object",
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "fieldBIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "outputToFieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldAIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            }
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Name of this filter."
        },
        "excludeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type EXCLUDE."
        },
        "type": {
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "searchAndReplaceDetails": {
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE."
        },
        "uppercaseDetails": {
          "properties": {
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type UPPER."
        },
        "updated": {
          "readOnly": true,
          "format": "date-time",
          "type": "string",
          "description": "Time this filter was last modified."
        },
        "created": {
          "type": "string",
          "description": "Time this filter was created.",
          "format": "date-time",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account filter."
    },
    "RemarketingAudiences": {
      "id": "RemarketingAudiences",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudiences"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "items": {
          "items": {
            "$ref": "RemarketingAudience"
          },
          "type": "array",
          "description": "A list of remarketing audiences."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      },
      "type": "object",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience."
    },
    "HashClientIdRequest": {
      "type": "object",
      "description": "JSON template for a hash Client Id request resource.",
      "id": "HashClientIdRequest",
      "properties": {
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdRequest"
        }
      }
    },
    "Uploads": {
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "id": "Uploads",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#uploads"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "items": {
          "type": "array",
          "description": "A list of uploads.",
          "items": {
            "$ref": "Upload"
          }
        }
      }
    },
    "AccountTreeResponse": {
      "type": "object",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "id": "AccountTreeResponse",
      "properties": {
        "account": {
          "$ref": "Account",
          "description": "The account created."
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeResponse"
        }
      }
    },
    "Experiments": {
      "id": "Experiments",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#experiments"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
[...]
