{
  "description": "Views and manages your Google Analytics data.",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "parameters": {
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    }
  },
  "id": "analytics:v3",
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "id": "analytics.provisioning.createAccountTree",
          "path": "provisioning/createAccountTree",
          "httpMethod": "POST",
          "description": "Provision account.",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ]
        },
        "createAccountTicket": {
          "request": {
            "$ref": "AccountTicket"
          },
          "response": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "path": "provisioning/createAccountTicket",
          "httpMethod": "POST",
          "description": "Creates an account ticket.",
          "id": "analytics.provisioning.createAccountTicket"
        }
      }
    },
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "description": "Lists all columns for a report type",
              "path": "metadata/{reportType}/columns",
              "response": {
                "$ref": "Columns"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "reportType": {
                  "type": "string",
                  "required": true,
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "pattern": "ga",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "reportType"
              ],
              "id": "analytics.metadata.columns.list"
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "response": {
                "$ref": "UserDeletionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ],
              "path": "userDeletion/userDeletionRequests:upsert",
              "httpMethod": "POST",
              "description": "Insert or update a user deletion requests."
            }
          }
        }
      }
    },
    "data": {
      "resources": {
        "mcf": {
          "methods": {
            "get": {
              "response": {
                "$ref": "McfData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "sort": {
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "type": "string",
                  "pattern": "(-)?mcf:.+"
                },
                "start-date": {
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "location": "query"
                },
                "dimensions": {
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "type": "string",
                  "pattern": "(mcf:.+)?",
                  "location": "query"
                },
                "end-date": {
                  "required": true,
                  "type": "string",
                  "location": "query",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "type": "string",
                  "pattern": "mcf:.+",
                  "location": "query"
                },
                "ids": {
                  "location": "query",
                  "pattern": "ga:[0-9]+",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "required": true,
                  "type": "string"
                },
                "samplingLevel": {
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query",
                  "description": "The desired sampling level."
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "metrics": {
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "pattern": "mcf:.+",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "httpMethod": "GET",
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "path": "data/mcf",
              "id": "analytics.data.mcf.get"
            }
          }
        },
        "ga": {
          "methods": {
            "get": {
              "path": "data/ga",
              "httpMethod": "GET",
              "description": "Returns Analytics data for a view (profile).",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "start-date": {
                  "required": true,
                  "type": "string",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "dimensions": {
                  "type": "string",
                  "pattern": "(ga:.+)?",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "location": "query"
                },
                "end-date": {
                  "location": "query",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "required": true,
                  "type": "string"
                },
                "output": {
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "description": "The selected format for the response. Default format is JSON."
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "type": "string",
                  "pattern": "(-)?ga:.+",
                  "location": "query"
                },
                "segment": {
                  "location": "query",
                  "description": "An Analytics segment to be applied to data.",
                  "type": "string"
                },
                "filters": {
                  "location": "query",
                  "type": "string",
                  "pattern": "ga:.+",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data."
                },
                "ids": {
                  "type": "string",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "location": "query"
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "location": "query",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ]
                },
                "include-empty-rows": {
                  "location": "query",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true",
                  "type": "boolean"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "metrics": {
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "pattern": "ga:.+",
                  "location": "query",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "response": {
                "$ref": "GaData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.data.ga.get"
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "id": "analytics.data.realtime.get",
              "parameters": {
                "dimensions": {
                  "location": "query",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)"
                },
                "filters": {
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)"
                },
                "ids": {
                  "pattern": "ga:[0-9]+",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "location": "query",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32"
                },
                "sort": {
                  "location": "query",
                  "type": "string",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data."
                },
                "metrics": {
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "ids",
                "metrics"
              ],
              "response": {
                "$ref": "RealtimeData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "data/realtime",
              "httpMethod": "GET",
              "description": "Returns real time data for a view (profile)."
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "customDimensions": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "description": "Updates an existing custom dimension.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update."
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "type": "boolean"
                }
              },
              "id": "analytics.management.customDimensions.update"
            },
            "insert": {
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "description": "Create a new custom dimension.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimension to create.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to create.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customDimensions.insert"
            },
            "patch": {
              "request": {
                "$ref": "CustomDimension"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "httpMethod": "PATCH",
              "id": "analytics.management.customDimensions.patch",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "customDimensionId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set."
                }
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}"
            },
            "get": {
              "httpMethod": "GET",
              "description": "Get a custom dimension to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "customDimensionId": {
                  "required": true,
                  "location": "path",
                  "description": "The ID of the custom dimension to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom dimension to retrieve."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom dimension to retrieve.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.get"
            },
            "list": {
              "id": "analytics.management.customDimensions.list",
              "response": {
                "$ref": "CustomDimensions"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom dimensions to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "description": "Lists custom dimensions to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions"
            }
          }
        },
        "experiments": {
          "methods": {
            "patch": {
              "id": "analytics.management.experiments.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "parameters": {
                "experimentId": {
                  "description": "Experiment ID of the experiment to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID of the experiment to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "request": {
                "$ref": "Experiment"
              }
            },
            "get": {
              "id": "analytics.management.experiments.get",
              "parameters": {
                "experimentId": {
                  "description": "Experiment ID to retrieve the experiment for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the experiment for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to retrieve the experiment for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "GET",
              "description": "Returns an experiment to which the user has access."
            },
            "update": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID of the experiment to update.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID of the experiment to update."
                },
                "experimentId": {
                  "required": true,
                  "location": "path",
                  "description": "Experiment ID of the experiment to update.",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update."
                }
              },
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment.",
              "id": "analytics.management.experiments.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "httpMethod": "PUT"
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Experiment"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Create a new experiment.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to create the experiment for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to create the experiment for."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the experiment for.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.insert"
            },
            "list": {
              "httpMethod": "GET",
              "description": "Lists experiments to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-index": {
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve experiments for.",
                  "location": "path"
                },
                "max-results": {
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property ID to retrieve experiments for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.experiments.list"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "experimentId": {
                  "description": "ID of the experiment to delete",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to which the experiment belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to which the experiment belongs",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the experiment belongs"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "DELETE",
              "description": "Delete an experiment.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "id": "analytics.management.experiments.delete"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "list": {
              "id": "analytics.management.customMetrics.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "httpMethod": "GET",
              "description": "Lists custom metrics to which the user has access.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metrics to retrieve."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve."
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "id": "analytics.management.customMetrics.get",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom metric to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve."
                },
                "customMetricId": {
                  "description": "The ID of the custom metric to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "httpMethod": "GET",
              "description": "Get a custom metric to which the user has access."
            },
            "patch": {
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID for the custom metric to update.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to update."
                },
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "type": "boolean"
                }
              },
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "id": "analytics.management.customMetrics.patch",
              "request": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "httpMethod": "PATCH"
            },
            "insert": {
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to create."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create."
                }
              },
              "description": "Create a new custom metric.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "id": "analytics.management.customMetrics.insert",
              "request": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "description": "Updates an existing custom metric.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom metric to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metric to update."
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "type": "boolean",
                  "default": "false",
                  "location": "query"
                }
              },
              "id": "analytics.management.customMetrics.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ]
            }
          }
        },
        "uploads": {
          "methods": {
            "deleteUploadData": {
              "id": "analytics.management.uploads.deleteUploadData",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account Id for the uploads to be deleted.",
                  "pattern": "\\d+"
                },
                "customDataSourceId": {
                  "location": "path",
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "pattern": ".{22}",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "httpMethod": "POST",
              "description": "Delete data associated with a previous upload."
            },
            "list": {
              "id": "analytics.management.uploads.list",
              "httpMethod": "GET",
              "description": "List uploads to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "response": {
                "$ref": "Uploads"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "The maximum number of uploads to include in this response."
                },
                "webPropertyId": {
                  "description": "Web property Id for the uploads to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                },
                "customDataSourceId": {
                  "pattern": ".{22}",
                  "description": "Custom data source Id for uploads to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to retrieve.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ]
            },
            "get": {
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "customDataSourceId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": ".{22}",
                  "description": "Custom data source Id for upload to retrieve."
                },
                "webPropertyId": {
                  "description": "Web property Id for the upload to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account Id for the upload to retrieve.",
                  "pattern": "\\d+",
                  "required": true,
                  "type": "string"
                },
                "uploadId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Upload Id to retrieve.",
                  "pattern": ".{22}"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "httpMethod": "GET",
              "description": "List uploads to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "id": "analytics.management.uploads.get"
            },
            "uploadData": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "1GB",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                }
              },
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "\\d+",
                  "description": "Account Id associated with the upload."
                },
                "customDataSourceId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Custom data source Id to which the data being uploaded belongs."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-\\d+-\\d+",
                  "description": "Web property UA-string associated with the upload.",
                  "location": "path"
                }
              },
              "description": "Upload data for a custom data source.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "id": "analytics.management.uploads.uploadData"
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "id": "analytics.management.clientId.hashClientId",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "POST",
              "description": "Hashes the given Client ID.",
              "path": "management/clientId:hashClientId"
            }
          }
        },
        "profiles": {
          "methods": {
            "list": {
              "id": "analytics.management.profiles.list",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access."
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Profiles"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "httpMethod": "GET",
              "description": "Lists views (profiles) to which the user has access."
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Deletes a view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to delete the view (profile) for.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to delete the view (profile) for."
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.delete"
            },
            "get": {
              "id": "analytics.management.profiles.get",
              "httpMethod": "GET",
              "description": "Gets a view (profile) to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "pattern": "[0-9]+",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the view (profile) for.",
                  "pattern": "[0-9]+",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "pattern": "UA-[0-9]+-[0-9]+"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "id": "analytics.management.profiles.patch"
            },
            "insert": {
              "description": "Create a new view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the view (profile) for.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the view (profile) for.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.profiles.insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "Profile"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "update": {
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile).",
              "id": "analytics.management.profiles.update",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "httpMethod": "PUT"
            }
          }
        },
        "filters": {
          "methods": {
            "patch": {
              "id": "analytics.management.filters.patch",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Updates an existing filter. This method supports patch semantics.",
              "parameters": {
                "filterId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the filter to be updated.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to which the filter belongs.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "request": {
                "$ref": "Filter"
              }
            },
            "get": {
              "id": "analytics.management.filters.get",
              "httpMethod": "GET",
              "description": "Returns filters to which the user has access.",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve filters for."
                },
                "filterId": {
                  "description": "Filter ID to retrieve filters for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ]
            },
            "update": {
              "request": {
                "$ref": "Filter"
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "PUT",
              "id": "analytics.management.filters.update",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "filterId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the filter to be updated.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the filter belongs.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Updates an existing filter.",
              "path": "management/accounts/{accountId}/filters/{filterId}"
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Filter"
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.filters.insert",
              "description": "Create a new filter.",
              "path": "management/accounts/{accountId}/filters",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to create filter for."
                }
              }
            },
            "list": {
              "response": {
                "$ref": "Filters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of filters to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                },
                "accountId": {
                  "description": "Account ID to retrieve filters for.",
                  "pattern": "\\d+",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "description": "Lists all filters for an account",
              "path": "management/accounts/{accountId}/filters",
              "id": "analytics.management.filters.list"
            },
            "delete": {
              "parameters": {
                "filterId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the filter to be deleted.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to delete the filter for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "httpMethod": "DELETE",
              "description": "Delete a filter.",
              "id": "analytics.management.filters.delete"
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "list": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID which the given web property belongs to.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "httpMethod": "GET",
              "description": "Lists webProperty-user links for a given web property.",
              "id": "analytics.management.webpropertyUserLinks.list"
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given web property.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "required": true,
                  "location": "path"
                },
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the account-user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.webpropertyUserLinks.update",
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "description": "Removes a user from the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to delete the user link for.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "id": "analytics.management.webpropertyUserLinks.delete"
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the user link for.",
                  "type": "string"
                }
              },
              "description": "Adds a new user to the given web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "id": "analytics.management.webpropertyUserLinks.insert"
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "id": "analytics.management.segments.list",
              "path": "management/segments",
              "httpMethod": "GET",
              "description": "Lists segments to which the user has access.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "response": {
                "$ref": "Segments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webproperties": {
          "methods": {
            "list": {
              "id": "analytics.management.webproperties.list",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of web properties to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Webproperties"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "httpMethod": "GET",
              "description": "Lists web properties to which the user has access."
            },
            "get": {
              "id": "analytics.management.webproperties.get",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]+",
                  "description": "Account ID to retrieve the web property for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "description": "ID to retrieve the web property for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "description": "Gets a web property to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}"
            },
            "patch": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID"
                },
                "accountId": {
                  "description": "Account ID to which the web property belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Updates an existing web property. This method supports patch semantics.",
              "id": "analytics.management.webproperties.patch",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "PATCH"
            },
            "insert": {
              "id": "analytics.management.webproperties.insert",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "POST"
            },
            "update": {
              "description": "Updates an existing web property.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the web property belongs"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID",
                  "type": "string"
                }
              },
              "id": "analytics.management.webproperties.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Webproperty"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "id": "analytics.management.customDataSources.list",
              "response": {
                "$ref": "CustomDataSources"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the custom data sources to retrieve."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "description": "List custom data sources to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources"
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "AccountSummaries"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accountSummaries",
              "httpMethod": "GET",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "id": "analytics.management.accountSummaries.list"
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "id": "analytics.management.unsampledReports.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to delete the unsampled report for."
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "Account ID to delete the unsampled report for.",
                  "type": "string"
                },
                "unsampledReportId": {
                  "type": "string",
                  "description": "ID of the unsampled report to be deleted.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "DELETE",
              "description": "Deletes an unsampled report.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}"
            },
            "insert": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "UnsampledReport"
              },
              "httpMethod": "POST",
              "parameters": {
                "profileId": {
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the unsampled report for.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "description": "Create a new unsampled report.",
              "id": "analytics.management.unsampledReports.insert"
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "httpMethod": "GET",
              "description": "Lists unsampled reports to which the user has access.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "format": "int32"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "required": true,
                  "location": "path"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "UnsampledReports"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.unsampledReports.list"
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "httpMethod": "GET",
              "description": "Returns a single unsampled report.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for."
                },
                "unsampledReportId": {
                  "required": true,
                  "location": "path",
                  "description": "ID of the unsampled report to retrieve.",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.unsampledReports.get"
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "description": "Removes a user from the given account.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                },
                "linkId": {
                  "required": true,
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.delete"
            },
            "insert": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Adds a new user to the given account.",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "id": "analytics.management.accountUserLinks.insert",
              "request": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST"
            },
            "update": {
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "description": "Link ID to update the account-user link for.",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID to update the account-user link for.",
[...]
