{
  "discoveryVersion": "v1",
  "version": "v3",
  "description": "Views and manages your Google Analytics data.",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/analytics-32.png",
    "x16": "https://www.google.com/images/icons/product/analytics-16.png"
  },
  "batchPath": "batch/analytics/v3",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/analytics/",
  "id": "analytics:v3",
  "protocol": "rest",
  "servicePath": "analytics/v3/",
  "name": "analytics",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "id": "analytics.provisioning.createAccountTree",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "path": "provisioning/createAccountTree",
          "description": "Provision account."
        },
        "createAccountTicket": {
          "path": "provisioning/createAccountTicket",
          "description": "Creates an account ticket.",
          "id": "analytics.provisioning.createAccountTicket",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountTicket"
          },
          "response": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ]
        }
      }
    },
    "data": {
      "resources": {
        "ga": {
          "methods": {
            "get": {
              "id": "analytics.data.ga.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GaData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-date": {
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed."
                },
                "filters": {
                  "type": "string",
                  "pattern": "ga:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data."
                },
                "samplingLevel": {
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "type": "string",
                  "description": "The desired sampling level.",
                  "location": "query"
                },
                "metrics": {
                  "pattern": "ga:.+",
                  "location": "query",
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                },
                "end-date": {
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday."
                },
                "include-empty-rows": {
                  "type": "boolean",
                  "location": "query",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true"
                },
                "output": {
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The selected format for the response. Default format is JSON."
                },
                "segment": {
                  "location": "query",
                  "description": "An Analytics segment to be applied to data.",
                  "type": "string"
                },
                "dimensions": {
                  "type": "string",
                  "pattern": "(ga:.+)?",
                  "location": "query",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'."
                },
                "ids": {
                  "type": "string",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "data/ga",
              "description": "Returns Analytics data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ]
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "McfData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.data.mcf.get",
              "parameters": {
                "sort": {
                  "pattern": "(-)?mcf:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "type": "string"
                },
                "samplingLevel": {
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "type": "string",
                  "description": "The desired sampling level.",
                  "location": "query"
                },
                "metrics": {
                  "type": "string",
                  "required": true,
                  "pattern": "mcf:.+",
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "end-date": {
                  "required": true,
                  "type": "string",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query"
                },
                "start-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "type": "string",
                  "required": true
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "pattern": "mcf:.+",
                  "location": "query",
                  "type": "string"
                },
                "ids": {
                  "required": true,
                  "type": "string",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query"
                },
                "dimensions": {
                  "pattern": "(mcf:.+)?",
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "type": "string"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "data/mcf",
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ]
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "id": "analytics.data.realtime.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "RealtimeData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "sort": {
                  "type": "string",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data."
                },
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "ids": {
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "required": true,
                  "type": "string"
                },
                "dimensions": {
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string"
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                },
                "metrics": {
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "data/realtime",
              "description": "Returns real time data for a view (profile).",
              "parameterOrder": [
                "ids",
                "metrics"
              ]
            }
          }
        }
      }
    },
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "path": "metadata/{reportType}/columns",
              "description": "Lists all columns for a report type",
              "parameterOrder": [
                "reportType"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Columns"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.metadata.columns.list",
              "parameters": {
                "reportType": {
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "pattern": "ga",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "experiments": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.update",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the experiment to update.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update.",
                  "type": "string",
                  "required": true
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID of the experiment to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "response": {
                "$ref": "Experiment"
              }
            },
            "patch": {
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update."
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID of the experiment to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID of the experiment to update."
                }
              },
              "id": "analytics.management.experiments.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "response": {
                "$ref": "Experiment"
              }
            },
            "insert": {
              "response": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "description": "Create a new experiment.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.insert",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the experiment for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the experiment for.",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to create the experiment for."
                }
              }
            },
            "delete": {
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to which the experiment belongs"
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the experiment to delete",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to which the experiment belongs",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the experiment belongs",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Delete an experiment."
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Returns an experiment to which the user has access.",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path"
                },
                "experimentId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Experiment ID to retrieve the experiment for."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the experiment for.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the experiment for.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.get"
            },
            "list": {
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to retrieve experiments for.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "pattern": "\\d+",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path",
                  "description": "Account ID to retrieve experiments for."
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of experiments to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "description": "Lists experiments to which the user has access."
            }
          }
        },
        "webproperties": {
          "methods": {
            "insert": {
              "id": "analytics.management.webproperties.insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the web property for.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties",
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameterOrder": [
                "accountId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Updates an existing web property. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webproperties.patch",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the web property belongs",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID",
                  "location": "path"
                }
              }
            },
            "update": {
              "id": "analytics.management.webproperties.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the web property belongs",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Updates an existing web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "description": "Lists web properties to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of web properties to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Webproperties"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webproperties.list"
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "description": "Gets a web property to which the user has access.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the web property for.",
                  "pattern": "[0-9]+",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "location": "path",
                  "description": "ID to retrieve the web property for."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webproperties.get"
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id for the custom data sources to retrieve."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "pattern": "\\d+",
                  "location": "path"
                }
              },
              "id": "analytics.management.customDataSources.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomDataSources"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "description": "List custom data sources to which the user has access."
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "get": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The account ID of the remarketing audience to retrieve."
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the remarketing audience to retrieve."
                }
              },
              "id": "analytics.management.remarketingAudience.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Gets a remarketing audience to which the user has access."
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "description": "Lists remarketing audiences to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.remarketingAudience.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                },
                "type": {
                  "type": "string",
                  "default": "all",
                  "location": "query"
                },
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "location": "path"
                }
              }
            },
            "update": {
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Updates an existing remarketing audience.",
              "parameters": {
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The account ID of the remarketing audience to update."
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "analytics.management.remarketingAudience.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.patch",
              "parameters": {
                "webPropertyId": {
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "The ID of the remarketing audience to update."
                }
              }
            },
            "insert": {
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "description": "Creates a new remarketing audience.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID for which to create the remarketing audience.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for which to create the remarketing audience.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.insert"
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "description": "Delete a remarketing audience.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the remarketing audience belongs."
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to which the remarketing audience belongs.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.remarketingAudience.delete"
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "path": "management/accountSummaries",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "location": "query"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "id": "analytics.management.accountSummaries.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "AccountSummaries"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "goals": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.goals.insert",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to create the goal for."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to create the goal for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the goal for."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "description": "Create a new goal.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goal"
              }
            },
            "update": {
              "id": "analytics.management.goals.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "location": "path"
                },
                "goalId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Index of the goal to be updated."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to update the goal."
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "View (Profile) ID to update the goal."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "description": "Updates an existing goal.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "response": {
                "$ref": "Goal"
              }
            },
            "patch": {
              "response": {
                "$ref": "Goal"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "description": "Updates an existing goal. This method supports patch semantics.",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to update the goal.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to update the goal."
                },
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.goals.patch"
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "description": "Lists goals to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Goals"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.goals.list",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of goals to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                }
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "description": "Gets a goal to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.goals.get",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the goal for.",
                  "type": "string",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the goal for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "update": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile ID) to update the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "location": "path",
                  "description": "Link ID to update the user link for.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.profileUserLinks.update"
            },
            "delete": {
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web Property ID to delete the user link for."
                },
                "profileId": {
                  "description": "View (Profile) ID to delete the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to delete the user link for."
                },
                "linkId": {
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.profileUserLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "description": "Removes a user from the given view (profile)."
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create the user link for."
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to create the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "analytics.management.profileUserLinks.insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Adds a new user to the given view (profile)."
            },
            "list": {
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID which the given view (profile) belongs to."
                }
              },
              "httpMethod": "GET",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analytics.management.profileUserLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "description": "Lists profile-user links for a given view (profile)."
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "type": "string",
                  "required": true
                },
                "unsampledReportId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the unsampled report to be deleted.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to delete the unsampled reports for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to delete the unsampled report for."
                }
              },
              "id": "analytics.management.unsampledReports.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "description": "Deletes an unsampled report."
            },
            "insert": {
              "id": "analytics.management.unsampledReports.insert",
              "httpMethod": "POST",
              "request": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to create the unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "description": "Create a new unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "UnsampledReport"
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "description": "Lists unsampled reports to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReports"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.unsampledReports.list",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported."
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "max-results": {
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "description": "Returns a single unsampled report.",
              "parameters": {
                "unsampledReportId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the unsampled report to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to retrieve unsampled reports for."
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.unsampledReports.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "filters": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Returns filters to which the user has access.",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.filters.get",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve filters for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "Filter ID to retrieve filters for.",
                  "location": "path"
                }
              }
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/filters",
              "description": "Lists all filters for an account",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of filters to include in this response.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path",
                  "description": "Account ID to retrieve filters for."
                }
              },
              "id": "analytics.management.filters.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "Filters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "response": {
                "$ref": "Filter"
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Updates an existing filter. This method supports patch semantics.",
              "parameters": {
                "filterId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "ID of the filter to be updated."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the filter belongs.",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.filters.patch"
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.filters.update",
              "parameters": {
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the filter belongs."
                }
              },
              "response": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Updates an existing filter.",
              "parameterOrder": [
                "accountId",
                "filterId"
              ]
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Delete a filter.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the filter for.",
                  "location": "path"
                },
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be deleted.",
                  "location": "path"
                }
              },
              "id": "analytics.management.filters.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "insert": {
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/filters",
              "description": "Create a new filter.",
              "response": {
                "$ref": "Filter"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to create filter for."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.filters.insert"
            }
          }
        },
        "customMetrics": {
          "methods": {
            "list": {
              "id": "analytics.management.customMetrics.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom metrics to retrieve."
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "description": "Lists custom metrics to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "get": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID for the custom metric to retrieve."
                },
                "customMetricId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the custom metric to retrieve.",
                  "location": "path"
                }
              },
              "id": "analytics.management.customMetrics.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "description": "Get a custom metric to which the user has access."
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom metric to create.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "description": "Create a new custom metric.",
              "response": {
                "$ref": "CustomMetric"
              }
            },
            "patch": {
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.customMetrics.patch",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom metric to update.",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false",
                  "location": "query",
                  "type": "boolean"
                },
                "accountId": {
                  "description": "Account ID for the custom metric to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "update": {
              "id": "analytics.management.customMetrics.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false",
                  "type": "boolean"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "location": "path"
                },
                "customMetricId": {
                  "location": "path",
                  "description": "Custom metric ID for the custom metric to update.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom metric to update.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "description": "Updates an existing custom metric.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ]
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "path": "management/segments",
              "description": "Lists segments to which the user has access.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Segments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.segments.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of segments to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query"
                }
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "update": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                },
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs"
                }
              },
              "id": "analytics.management.profiles.update",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile).",
              "response": {
                "$ref": "Profile"
              }
            },
            "patch": {
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.patch",
              "response": {
                "$ref": "Profile"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile). This method supports patch semantics."
            },
            "insert": {
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Web property ID to create the view (profile) for."
                }
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.insert",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "description": "Create a new view (profile).",
              "response": {
                "$ref": "Profile"
              }
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Account ID to delete the view (profile) for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the view (profile) for.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Deletes a view (profile)."
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Gets a view (profile) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "profileId": {
                  "pattern": "[0-9]+",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]+",
                  "location": "path",
                  "description": "Account ID to retrieve the view (profile) for."
                }
              }
            },
            "list": {
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of views (profiles) to include in this response."
                },
                "start-index": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                }
              },
              "id": "analytics.management.profiles.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "Profiles"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "description": "Lists views (profiles) to which the user has access."
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Accounts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.accounts.list",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of accounts to include in this response.",
                  "type": "integer",
                  "format": "int32"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "path": "management/accounts",
              "description": "Lists all accounts to which the user has access."
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "delete": {
              "id": "analytics.management.webpropertyUserLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
[...]
