{
  "servicePath": "analytics/v3/",
  "batchPath": "batch/analytics/v3",
  "ownerDomain": "google.com",
  "id": "analytics:v3",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "icons": {
    "x32": "https://www.google.com/images/icons/product/analytics-32.png",
    "x16": "https://www.google.com/images/icons/product/analytics-16.png"
  },
  "parameters": {
    "alt": {
      "description": "Data format for the response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "false"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "discoveryVersion": "v1",
  "description": "Views and manages your Google Analytics data.",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "resources": {
    "data": {
      "resources": {
        "realtime": {
          "methods": {
            "get": {
              "path": "data/realtime",
              "response": {
                "$ref": "RealtimeData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analytics.data.realtime.get",
              "description": "Returns real time data for a view (profile).",
              "parameters": {
                "ids": {
                  "type": "string",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "location": "query"
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32"
                },
                "metrics": {
                  "type": "string",
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "required": true,
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "sort": {
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "type": "string"
                },
                "dimensions": {
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'."
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "ids",
                "metrics"
              ]
            }
          }
        },
        "ga": {
          "methods": {
            "get": {
              "description": "Returns Analytics data for a view (profile).",
              "parameters": {
                "segment": {
                  "description": "An Analytics segment to be applied to data.",
                  "location": "query",
                  "type": "string"
                },
                "ids": {
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "type": "string",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "dimensions": {
                  "pattern": "(ga:.+)?",
                  "location": "query",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "type": "string"
                },
                "filters": {
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+",
                  "location": "query",
                  "type": "string"
                },
                "include-empty-rows": {
                  "type": "boolean",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true",
                  "location": "query"
                },
                "metrics": {
                  "pattern": "ga:.+",
                  "location": "query",
                  "required": true,
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "type": "string"
                },
                "start-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "required": true,
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "type": "string"
                },
                "end-date": {
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "type": "string",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday."
                },
                "output": {
                  "type": "string",
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "description": "The selected format for the response. Default format is JSON.",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "sort": {
                  "pattern": "(-)?ga:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "type": "string"
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "type": "string",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "location": "query",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ]
                }
              },
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "id": "analytics.data.ga.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "data/ga",
              "response": {
                "$ref": "GaData"
              }
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "data/mcf",
              "response": {
                "$ref": "McfData"
              },
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "type": "integer"
                },
                "dimensions": {
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "pattern": "(mcf:.+)?",
                  "location": "query",
                  "type": "string"
                },
                "filters": {
                  "type": "string",
                  "pattern": "mcf:.+",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data."
                },
                "samplingLevel": {
                  "type": "string",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "description": "The desired sampling level.",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query"
                },
                "sort": {
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "pattern": "(-)?mcf:.+",
                  "location": "query",
                  "type": "string"
                },
                "start-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "required": true,
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "type": "string"
                },
                "metrics": {
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "type": "string",
                  "pattern": "mcf:.+",
                  "location": "query",
                  "required": true
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "type": "string",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "required": true
                },
                "end-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "required": true,
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "type": "string"
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "id": "analytics.data.mcf.get"
            }
          }
        }
      }
    },
    "provisioning": {
      "methods": {
        "createAccountTicket": {
          "description": "Creates an account ticket.",
          "id": "analytics.provisioning.createAccountTicket",
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "path": "provisioning/createAccountTicket",
          "response": {
            "$ref": "AccountTicket"
          }
        },
        "createAccountTree": {
          "description": "Provision account.",
          "id": "analytics.provisioning.createAccountTree",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "path": "provisioning/createAccountTree",
          "response": {
            "$ref": "AccountTreeResponse"
          }
        }
      }
    },
    "management": {
      "resources": {
        "experiments": {
          "methods": {
            "delete": {
              "id": "analytics.management.experiments.delete",
              "description": "Delete an experiment.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the experiment belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "experimentId": {
                  "location": "path",
                  "description": "ID of the experiment to delete",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "description": "View (Profile) ID to which the experiment belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the experiment belongs"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "insert": {
              "id": "analytics.management.experiments.insert",
              "description": "Create a new experiment.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the experiment for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to create the experiment for."
                },
                "webPropertyId": {
                  "description": "Web property ID to create the experiment for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "httpMethod": "POST",
              "response": {
                "$ref": "Experiment"
              },
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "PUT",
              "id": "analytics.management.experiments.update",
              "description": "Update an existing experiment.",
              "parameters": {
                "accountId": {
                  "description": "Account ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID of the experiment to update."
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID of the experiment to update.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Experiment"
              }
            },
            "list": {
              "id": "analytics.management.experiments.list",
              "description": "Lists experiments to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to retrieve experiments for."
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "profileId": {
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve experiments for.",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "response": {
                "$ref": "Experiment"
              },
              "description": "Returns an experiment to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the experiment for.",
                  "location": "path"
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID to retrieve the experiment for."
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the experiment for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "id": "analytics.management.experiments.get"
            },
            "patch": {
              "request": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "parameters": {
                "experimentId": {
                  "description": "Experiment ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "id": "analytics.management.experiments.patch"
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "httpMethod": "DELETE",
              "id": "analytics.management.webpropertyUserLinks.delete",
              "description": "Removes a user from the given web property.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path"
                },
                "linkId": {
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ]
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given web property.",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web Property ID to create the user link for.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webpropertyUserLinks.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks"
            },
            "update": {
              "description": "Updates permissions for an existing user on the given web property.",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to update the account-user link for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to update the account-user link for."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to update the account-user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "id": "analytics.management.webpropertyUserLinks.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "list": {
              "id": "analytics.management.webpropertyUserLinks.list",
              "description": "Lists webProperty-user links for a given web property.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                },
                "accountId": {
                  "description": "Account ID which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "description": "List custom data sources to which the user has access.",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "type": "integer"
                },
                "start-index": {
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDataSources.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "response": {
                "$ref": "CustomDataSources"
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "get": {
              "description": "Get a custom metric to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID for the custom metric to retrieve."
                },
                "customMetricId": {
                  "location": "path",
                  "description": "The ID of the custom metric to retrieve.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              }
            },
            "list": {
              "description": "Lists custom metrics to which the user has access.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom metrics to retrieve.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customMetrics.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "response": {
                "$ref": "CustomMetrics"
              }
            },
            "insert": {
              "id": "analytics.management.customMetrics.insert",
              "description": "Create a new custom metric.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID for the custom dimension to create."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom metric to create.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "httpMethod": "POST",
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              }
            },
            "update": {
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "id": "analytics.management.customMetrics.update",
              "description": "Updates an existing custom metric.",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom metric to update.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom metric to update.",
                  "required": true,
                  "type": "string"
                },
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "default": "false",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "httpMethod": "PUT"
            },
            "patch": {
              "response": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "httpMethod": "PATCH",
              "id": "analytics.management.customMetrics.patch",
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "parameters": {
                "customMetricId": {
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
                  "location": "query",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom metric to update.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom metric to update.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ]
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "list": {
              "description": "Lists profile-user links for a given view (profile).",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "format": "int32"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID which the given view (profile) belongs to.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "start-index": {
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileUserLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLinks"
              }
            },
            "delete": {
              "description": "Removes a user from the given view (profile).",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "required": true,
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to delete the user link for."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web Property ID to delete the user link for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileUserLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}"
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given view (profile).",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the user link for."
                },
                "profileId": {
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to create the user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileUserLinks.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks"
            },
            "update": {
              "id": "analytics.management.profileUserLinks.update",
              "description": "Updates permissions for an existing user on the given view (profile).",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile ID) to update the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web Property ID to update the user link for."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the user link for.",
                  "required": true,
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Link ID to update the user link for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "httpMethod": "PUT",
              "response": {
                "$ref": "EntityUserLink"
              },
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "id": "analytics.management.accounts.list",
              "description": "Lists all accounts to which the user has access.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of accounts to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query"
                }
              },
              "path": "management/accounts",
              "response": {
                "$ref": "Accounts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "customDimensions": {
          "methods": {
            "get": {
              "description": "Get a custom dimension to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimension to retrieve.",
                  "required": true,
                  "type": "string"
                },
                "customDimensionId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the custom dimension to retrieve.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.get",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "response": {
                "$ref": "CustomDimensions"
              },
              "description": "Lists custom dimensions to which the user has access.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "required": true,
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDimensions.list"
            },
            "insert": {
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Create a new custom dimension.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID for the custom dimension to create."
                },
                "accountId": {
                  "description": "Account ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDimensions.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions"
            },
            "update": {
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension.",
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimension to update.",
                  "required": true,
                  "type": "string"
                },
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "id": "analytics.management.customDimensions.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}"
            },
            "patch": {
              "response": {
                "$ref": "CustomDimension"
              },
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "httpMethod": "PATCH",
              "id": "analytics.management.customDimensions.patch",
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID for the custom dimension to update."
                },
                "customDimensionId": {
                  "type": "string",
                  "required": true,
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ]
            }
          }
        },
        "profiles": {
          "methods": {
            "get": {
              "id": "analytics.management.profiles.get",
              "description": "Gets a view (profile) to which the user has access.",
              "parameters": {
                "profileId": {
                  "pattern": "[0-9]+",
                  "location": "path",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "type": "string",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "pattern": "[0-9]+",
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to retrieve the view (profile) for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "response": {
                "$ref": "Profiles"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.profiles.list",
              "description": "Lists views (profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "delete": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.delete",
              "description": "Deletes a view (profile).",
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to delete the view (profile) for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "insert": {
              "response": {
                "$ref": "Profile"
              },
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.insert",
              "description": "Create a new view (profile).",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the view (profile) for.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the view (profile) for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "httpMethod": "POST"
            },
            "update": {
              "response": {
                "$ref": "Profile"
              },
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "PUT",
              "id": "analytics.management.profiles.update",
              "description": "Updates an existing view (profile).",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the view (profile) to be updated."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the view (profile) to be updated."
                },
                "webPropertyId": {
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.patch",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "Profile"
              },
              "response": {
                "$ref": "Profile"
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "description": "Removes a user from the given account.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the user link for."
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "id": "analytics.management.accountUserLinks.delete",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}"
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given account.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the user link for."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.accountUserLinks.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/entityUserLinks"
            },
            "update": {
              "description": "Updates permissions for an existing user on the given account.",
              "parameters": {
                "linkId": {
                  "description": "Link ID to update the account-user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "id": "analytics.management.accountUserLinks.update",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "request": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "list": {
              "description": "Lists account-user links for a given account.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the user links for.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.accountUserLinks.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLinks"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer"
                }
              },
              "id": "analytics.management.accountSummaries.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accountSummaries",
              "response": {
                "$ref": "AccountSummaries"
              }
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "patch": {
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true,
                  "type": "string"
                },
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "description": "Web property-Google Ads link ID.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer"
                },
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.list"
            },
            "get": {
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "delete": {
              "description": "Deletes a web property-Google Ads link.",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "required": true,
                  "type": "string"
                },
                "webPropertyAdWordsLinkId": {
                  "description": "Web property Google Ads link ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "insert": {
              "description": "Creates a webProperty-Google Ads link.",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the link for.",
                  "required": true,
                  "type": "string"
                },
                "accountId": {
                  "location": "path",
                  "description": "ID of the Google Analytics account to create the link for.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "update": {
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "description": "Updates an existing webProperty-Google Ads link.",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "patch": {
              "id": "analytics.management.profileFilterLinks.patch",
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "parameters": {
                "linkId": {
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "type": "string",
                  "description": "ID of the profile filter link to be updated."
                },
                "accountId": {
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string"
                },
                "profileId": {
                  "description": "Profile ID to which filter link belongs",
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "description": "Web property Id to which profile filter link belongs",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              }
            },
            "get": {
              "id": "analytics.management.profileFilterLinks.get",
              "description": "Returns a single profile filter link.",
              "parameters": {
                "profileId": {
                  "description": "Profile ID to retrieve filter link for.",
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "description": "Web property Id to retrieve profile filter link for.",
                  "type": "string"
                },
                "accountId": {
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Account ID to retrieve profile filter link for.",
                  "type": "string"
                },
                "linkId": {
                  "type": "string",
                  "description": "ID of the profile filter link.",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "list": {
              "description": "Lists all profile filter links for a profile.",
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID to retrieve profile filter links for.",
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profileFilterLinks.list",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "response": {
                "$ref": "ProfileFilterLinks"
              }
            },
            "delete": {
              "description": "Delete a profile filter link.",
              "parameters": {
                "linkId": {
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "required": true,
                  "description": "ID of the profile filter link to delete.",
                  "type": "string"
                },
                "profileId": {
                  "type": "string",
                  "description": "Profile ID to which the filter link belongs.",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "description": "Web property Id to which the profile filter link belongs."
                },
                "accountId": {
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Account ID to which the profile filter link belongs.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileFilterLinks.delete",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "httpMethod": "POST",
              "id": "analytics.management.profileFilterLinks.insert",
              "description": "Create a new profile filter link.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create profile filter link for.",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "Profile ID to create filter link for.",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "type": "string",
                  "description": "Web property Id to create profile filter link for."
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              }
            },
            "update": {
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "description": "Update an existing profile filter link.",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "description": "ID of the profile filter link to be updated.",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "Profile ID to which filter link belongs",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property Id to which profile filter link belongs",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "id": "analytics.management.profileFilterLinks.update",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "response": {
                "$ref": "ProfileFilterLink"
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "path": "management/clientId:hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "description": "Hashes the given Client ID.",
              "id": "analytics.management.clientId.hashClientId"
            }
          }
        },
        "uploads": {
          "methods": {
            "list": {
              "description": "List uploads to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of uploads to include in this response.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "minimum": "1"
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for uploads to retrieve.",
                  "type": "string",
                  "pattern": ".{22}",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "pattern": "\\d+",
[...]
