{
  "version": "v3",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/analytics/",
  "basePath": "/analytics/v3/",
  "ownerName": "Google",
  "resources": {
    "management": {
      "resources": {
        "uploads": {
          "methods": {
            "uploadData": {
              "description": "Upload data for a custom data source.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "id": "analytics.management.uploads.uploadData",
              "parameters": {
                "customDataSourceId": {
                  "type": "string",
                  "required": true,
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id associated with the upload.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-\\d+-\\d+",
                  "description": "Web property UA-string associated with the upload."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Upload"
              },
              "httpMethod": "POST",
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "1GB",
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ]
            },
            "deleteUploadData": {
              "id": "analytics.management.uploads.deleteUploadData",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "httpMethod": "POST",
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Delete data associated with a previous upload.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to be deleted.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to be deleted."
                },
                "customDataSourceId": {
                  "location": "path",
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "type": "string",
                  "required": true,
                  "pattern": ".{22}"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List uploads to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the upload to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the upload to retrieve.",
                  "location": "path"
                },
                "uploadId": {
                  "type": "string",
                  "required": true,
                  "pattern": ".{22}",
                  "description": "Upload Id to retrieve.",
                  "location": "path"
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for upload to retrieve.",
                  "type": "string",
                  "required": true,
                  "pattern": ".{22}",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Upload"
              },
              "httpMethod": "GET",
              "id": "analytics.management.uploads.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List uploads to which the user has access.",
              "parameters": {
                "customDataSourceId": {
                  "type": "string",
                  "required": true,
                  "pattern": ".{22}",
                  "description": "Custom data source Id for uploads to retrieve.",
                  "location": "path"
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to retrieve."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property Id for the uploads to retrieve.",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "max-results": {
                  "description": "The maximum number of uploads to include in this response.",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "Uploads"
              },
              "httpMethod": "GET",
              "id": "analytics.management.uploads.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "The account ID for which to create the remarketing audience.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for which to create the remarketing audience.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "RemarketingAudience"
              },
              "id": "analytics.management.remarketingAudience.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "description": "Creates a new remarketing audience.",
              "request": {
                "$ref": "RemarketingAudience"
              }
            },
            "get": {
              "httpMethod": "GET",
              "id": "analytics.management.remarketingAudience.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Gets a remarketing audience to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The account ID of the remarketing audience to retrieve."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The web property ID of the remarketing audience to retrieve."
                },
                "remarketingAudienceId": {
                  "description": "The ID of the remarketing audience to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "RemarketingAudience"
              }
            },
            "update": {
              "request": {
                "$ref": "RemarketingAudience"
              },
              "description": "Updates an existing remarketing audience.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "id": "analytics.management.remarketingAudience.update",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameters": {
                "remarketingAudienceId": {
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path"
                },
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "httpMethod": "PUT"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Delete a remarketing audience.",
              "parameters": {
                "remarketingAudienceId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to delete."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the remarketing audience belongs.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the remarketing audience belongs.",
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "id": "analytics.management.remarketingAudience.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}"
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "id": "analytics.management.remarketingAudience.patch",
              "description": "Updates an existing remarketing audience. This method supports patch semantics.",
              "request": {
                "$ref": "RemarketingAudience"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "parameters": {
                "remarketingAudienceId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the remarketing audience to update."
                },
                "accountId": {
                  "description": "The account ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "The web property ID of the remarketing audience to update.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "id": "analytics.management.remarketingAudience.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "description": "Lists remarketing audiences to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of remarketing audiences to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "accountId": {
                  "description": "The account ID of the remarketing audiences to retrieve.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "type": {
                  "location": "query",
                  "default": "all",
                  "type": "string"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "profiles": {
          "methods": {
            "insert": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Profile"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the view (profile) for.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "id": "analytics.management.profiles.insert",
              "request": {
                "$ref": "Profile"
              },
              "description": "Create a new view (profile)."
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "id": "analytics.management.profiles.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Gets a view (profile) to which the user has access.",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]+",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to retrieve the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]+",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Profile"
              }
            },
            "update": {
              "description": "Updates an existing view (profile).",
              "request": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "id": "analytics.management.profiles.update",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "ID of the view (profile) to be updated."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Profile"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "delete": {
              "description": "Deletes a view (profile).",
              "parameters": {
                "profileId": {
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the view (profile) for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "id": "analytics.management.profiles.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "DELETE"
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the view (profile) belongs"
                }
              },
              "response": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "request": {
                "$ref": "Profile"
              }
            },
            "list": {
              "response": {
                "$ref": "Profiles"
              },
              "description": "Lists views (profiles) to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "id": "analytics.management.profiles.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Accounts"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists all accounts to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of accounts to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "id": "analytics.management.accounts.list",
              "path": "management/accounts",
              "httpMethod": "GET"
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "description": "Lists all profile filter links for a profile.",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1"
                },
                "accountId": {
                  "description": "Account ID to retrieve profile filter links for.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "id": "analytics.management.profileFilterLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "Profile ID to which filter link belongs",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+"
                },
                "linkId": {
                  "description": "ID of the profile filter link to be updated.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which profile filter link belongs"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "id": "analytics.management.profileFilterLinks.patch"
            },
            "delete": {
              "id": "analytics.management.profileFilterLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Delete a profile filter link.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to which the profile filter link belongs."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which the profile filter link belongs."
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to delete.",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to which the filter link belongs.",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "id": "analytics.management.profileFilterLinks.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "description": "Returns a single profile filter link.",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "description": "Profile ID to retrieve filter link for.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+"
                },
                "accountId": {
                  "description": "Account ID to retrieve profile filter link for.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to retrieve profile filter link for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property Id to which profile filter link belongs",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "linkId": {
                  "description": "ID of the profile filter link to be updated.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to which filter link belongs",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "id": "analytics.management.profileFilterLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "description": "Update an existing profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              }
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "id": "analytics.management.profileFilterLinks.insert",
              "description": "Create a new profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to create filter link for."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to create profile filter link for."
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to create profile filter link for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "ProfileFilterLink"
              }
            }
          }
        },
        "webproperties": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.insert",
              "path": "management/accounts/{accountId}/webproperties",
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "request": {
                "$ref": "Webproperty"
              }
            },
            "get": {
              "description": "Gets a web property to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve the web property for.",
                  "type": "string",
                  "required": true,
                  "pattern": "[0-9]+"
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "description": "ID to retrieve the web property for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "id": "analytics.management.webproperties.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            },
            "update": {
              "request": {
                "$ref": "Webproperty"
              },
              "description": "Updates an existing web property.",
              "id": "analytics.management.webproperties.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the web property belongs",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "PUT"
            },
            "patch": {
              "id": "analytics.management.webproperties.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "request": {
                "$ref": "Webproperty"
              },
              "description": "Updates an existing web property. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the web property belongs",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties",
              "id": "analytics.management.webproperties.list",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Lists web properties to which the user has access.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of web properties to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Webproperties"
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "insert": {
              "path": "management/accounts/{accountId}/entityUserLinks",
              "id": "analytics.management.accountUserLinks.insert",
              "description": "Adds a new user to the given account.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "delete": {
              "description": "Removes a user from the given account.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "type": "string",
                  "required": true
                },
                "linkId": {
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "id": "analytics.management.accountUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists account-user links for a given account.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the user links for.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                },
                "max-results": {
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "response": {
                "$ref": "EntityUserLinks"
              },
              "httpMethod": "GET",
              "id": "analytics.management.accountUserLinks.list",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks"
            },
            "update": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the account-user link for."
                },
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to update the account-user link for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "id": "analytics.management.accountUserLinks.update",
              "description": "Updates permissions for an existing user on the given account.",
              "request": {
                "$ref": "EntityUserLink"
              }
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "delete": {
              "id": "analytics.management.webpropertyUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given web property.",
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path"
                }
              }
            },
            "insert": {
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given web property.",
              "id": "analytics.management.webpropertyUserLinks.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web Property ID to create the user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST"
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "id": "analytics.management.webpropertyUserLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists webProperty-user links for a given web property.",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "start-index": {
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID which the given web property belongs to.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              }
            },
            "update": {
              "description": "Updates permissions for an existing user on the given web property.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.webpropertyUserLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to update the account-user link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the account-user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to update the account-user link for.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ]
            }
          }
        },
        "filters": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns filters to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve filters for."
                },
                "filterId": {
                  "type": "string",
                  "required": true,
                  "description": "Filter ID to retrieve filters for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.filters.get",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "httpMethod": "GET"
            },
            "update": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to which the filter belongs.",
                  "location": "path"
                },
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Filter"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "description": "Updates an existing filter.",
              "request": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "id": "analytics.management.filters.update"
            },
            "insert": {
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to create filter for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.filters.insert",
              "path": "management/accounts/{accountId}/filters",
              "request": {
                "$ref": "Filter"
              },
              "description": "Create a new filter."
            },
            "list": {
              "id": "analytics.management.filters.list",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/filters",
              "httpMethod": "GET",
              "response": {
                "$ref": "Filters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists all filters for an account",
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                },
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of filters to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve filters for.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+"
                }
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "analytics.management.filters.delete",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Delete a filter.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the filter for.",
                  "location": "path"
                },
                "filterId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the filter to be deleted.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Filter"
              }
            },
            "patch": {
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "id": "analytics.management.filters.patch",
              "description": "Updates an existing filter. This method supports patch semantics.",
              "request": {
                "$ref": "Filter"
              },
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the filter belongs.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Filter"
              }
            }
          }
        },
        "experiments": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "id": "analytics.management.experiments.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "Experiment"
              },
              "description": "Returns an experiment to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to retrieve the experiment for."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to retrieve the experiment for."
                },
                "experimentId": {
                  "location": "path",
                  "description": "Experiment ID to retrieve the experiment for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "Experiment"
              },
              "parameters": {
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path"
                },
                "experimentId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Experiment ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the experiment to update."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID of the experiment to update.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "id": "analytics.management.experiments.update",
              "request": {
                "$ref": "Experiment"
              },
              "description": "Update an existing experiment."
            },
            "insert": {
              "id": "analytics.management.experiments.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "description": "Create a new experiment.",
              "request": {
                "$ref": "Experiment"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID to create the experiment for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to create the experiment for.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to create the experiment for.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Experiment"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "id": "analytics.management.experiments.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Lists experiments to which the user has access.",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "View (Profile) ID to retrieve experiments for."
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to retrieve experiments for.",
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to retrieve experiments for.",
                  "type": "string",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Experiments"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update.",
                  "type": "string",
                  "required": true
                },
                "experimentId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Experiment ID of the experiment to update."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID of the experiment to update."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID of the experiment to update.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "request": {
                "$ref": "Experiment"
              }
            },
            "delete": {
              "description": "Delete an experiment.",
              "parameters": {
                "profileId": {
                  "location": "path",
                  "description": "View (Profile) ID to which the experiment belongs",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which the experiment belongs",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to which the experiment belongs",
                  "location": "path"
                },
                "experimentId": {
                  "location": "path",
                  "description": "ID of the experiment to delete",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "id": "analytics.management.experiments.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ]
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "id": "analytics.management.customDimensions.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Lists custom dimensions to which the user has access.",
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "CustomDimensions"
              }
            },
            "patch": {
              "id": "analytics.management.customDimensions.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account ID for the custom dimension to update.",
                  "type": "string",
                  "required": true
                },
                "customDimensionId": {
                  "location": "path",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "required": true,
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "default": "false",
                  "type": "boolean",
                  "location": "query"
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Get a custom dimension to which the user has access.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom dimension to retrieve."
                },
                "customDimensionId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "The ID of the custom dimension to retrieve."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "CustomDimension"
              },
              "httpMethod": "GET",
              "id": "analytics.management.customDimensions.get",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "default": "false"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom dimension to update."
                },
                "customDimensionId": {
                  "type": "string",
                  "required": true,
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom dimension to update.",
                  "type": "string",
                  "required": true
                }
              },
              "id": "analytics.management.customDimensions.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Updates an existing custom dimension."
            },
            "insert": {
              "request": {
                "$ref": "CustomDimension"
              },
              "description": "Create a new custom dimension.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "id": "analytics.management.customDimensions.insert",
              "response": {
                "$ref": "CustomDimension"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID for the custom dimension to create."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID for the custom dimension to create.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "profileUserLinks": {
          "methods": {
            "list": {
              "response": {
                "$ref": "EntityUserLinks"
              },
              "description": "Lists profile-user links for a given view (profile).",
              "parameters": {
                "max-results": {
                  "location": "query",
                  "description": "The maximum number of profile-user links to include in this response.",
                  "format": "int32",
                  "type": "integer"
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID which the given view (profile) belongs to."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "id": "analytics.management.profileUserLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "id": "analytics.management.profileUserLinks.update",
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "PUT",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "linkId": {
                  "type": "string",
                  "required": true,
                  "description": "Link ID to update the user link for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile ID) to update the user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to update the user link for."
                },
                "webPropertyId": {
                  "description": "Web Property ID to update the user link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "analytics.management.profileUserLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Removes a user from the given view (profile).",
              "parameters": {
                "linkId": {
                  "location": "path",
                  "description": "Link ID to delete the user link for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to delete the user link for."
                },
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "Account ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web Property ID to delete the user link for."
                }
              }
            },
            "insert": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Account ID to create the user link for."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web Property ID to create the user link for.",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "required": true,
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Adds a new user to the given view (profile).",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "id": "analytics.management.profileUserLinks.insert"
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property-Google Ads link ID."
                },
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "delete": {
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a web property-Google Ads link.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Web property ID to delete the Google Ads link for."
                },
                "webPropertyAdWordsLinkId": {
                  "description": "Web property Google Ads link ID.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "list": {
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "description": "Creates a webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "ID of the Google Analytics account to create the link for.",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property ID to create the link for.",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
[...]
