{
  "parameters": {
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "enum": [
        "json"
      ],
      "description": "Data format for the response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "false",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "location": "query",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "rootUrl": "https://analytics.googleapis.com/",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        }
      }
    }
  },
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "id": "analytics:v3",
  "ownerName": "Google",
  "batchPath": "batch/analytics/v3",
  "version": "v3",
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "id": "analytics.provisioning.createAccountTree",
          "path": "provisioning/createAccountTree",
          "httpMethod": "POST",
          "description": "Provision account.",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ]
        },
        "createAccountTicket": {
          "httpMethod": "POST",
          "id": "analytics.provisioning.createAccountTicket",
          "path": "provisioning/createAccountTicket",
          "description": "Creates an account ticket.",
          "request": {
            "$ref": "AccountTicket"
          },
          "response": {
            "$ref": "AccountTicket"
          },
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ]
        }
      }
    },
    "data": {
      "resources": {
        "mcf": {
          "methods": {
            "get": {
              "parameters": {
                "sort": {
                  "pattern": "(-)?mcf:.+",
                  "type": "string",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data."
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "pattern": "ga:[0-9]+"
                },
                "metrics": {
                  "required": true,
                  "pattern": "mcf:.+",
                  "type": "string",
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified."
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "type": "integer",
                  "location": "query"
                },
                "samplingLevel": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "description": "The desired sampling level."
                },
                "end-date": {
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "max-results": {
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "dimensions": {
                  "pattern": "(mcf:.+)?",
                  "type": "string",
                  "location": "query",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'."
                },
                "filters": {
                  "pattern": "mcf:.+",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "type": "string",
                  "location": "query"
                },
                "start-date": {
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "location": "query",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                }
              },
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "response": {
                "$ref": "McfData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "httpMethod": "GET",
              "id": "analytics.data.mcf.get",
              "path": "data/mcf"
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "id": "analytics.data.realtime.get",
              "path": "data/realtime",
              "parameterOrder": [
                "ids",
                "metrics"
              ],
              "httpMethod": "GET",
              "description": "Returns real time data for a view (profile).",
              "response": {
                "$ref": "RealtimeData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "filters": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "type": "string",
                  "location": "query"
                },
                "dimensions": {
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "type": "string",
                  "location": "query",
                  "pattern": "(ga:.+)|(rt:.+)"
                },
                "ids": {
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "type": "string",
                  "location": "query",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32"
                },
                "metrics": {
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "pattern": "(ga:.+)|(rt:.+)"
                },
                "sort": {
                  "type": "string",
                  "location": "query",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "pattern": "(-)?((ga:.+)|(rt:.+))"
                }
              }
            }
          }
        },
        "ga": {
          "methods": {
            "get": {
              "description": "Returns Analytics data for a view (profile).",
              "response": {
                "$ref": "GaData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "metrics": {
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "pattern": "ga:.+"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "sort": {
                  "pattern": "(-)?ga:.+",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "type": "string",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "include-empty-rows": {
                  "description": "The response will include empty rows if this parameter is set to true, the default is true",
                  "type": "boolean",
                  "location": "query"
                },
                "end-date": {
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "type": "string",
                  "location": "query",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "start-date": {
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true,
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "location": "query"
                },
                "filters": {
                  "type": "string",
                  "location": "query",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+"
                },
                "ids": {
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "required": true,
                  "pattern": "ga:[0-9]+",
                  "type": "string",
                  "location": "query"
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ]
                },
                "segment": {
                  "type": "string",
                  "location": "query",
                  "description": "An Analytics segment to be applied to data."
                },
                "output": {
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "type": "string",
                  "location": "query",
                  "description": "The selected format for the response. Default format is JSON.",
                  "enum": [
                    "dataTable",
                    "json"
                  ]
                },
                "dimensions": {
                  "pattern": "(ga:.+)?",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "type": "string",
                  "location": "query"
                }
              },
              "id": "analytics.data.ga.get",
              "path": "data/ga",
              "httpMethod": "GET",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ]
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "description": "Insert or update a user deletion requests.",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "response": {
                "$ref": "UserDeletionRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ],
              "httpMethod": "POST",
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "path": "userDeletion/userDeletionRequests:upsert"
            }
          }
        }
      }
    },
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "parameters": {
                "reportType": {
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "ga"
                }
              },
              "description": "Lists all columns for a report type",
              "response": {
                "$ref": "Columns"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "reportType"
              ],
              "id": "analytics.metadata.columns.list",
              "path": "metadata/{reportType}/columns"
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "goals": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.goals.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of goals to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to."
                },
                "accountId": {
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Lists goals to which the user has access.",
              "response": {
                "$ref": "Goals"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "description": "Updates an existing goal. This method supports patch semantics.",
              "request": {
                "$ref": "Goal"
              },
              "response": {
                "$ref": "Goal"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to update the goal.",
                  "required": true
                },
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to update the goal."
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to update the goal.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "id": "analytics.management.goals.patch"
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "description": "Updates an existing goal.",
              "request": {
                "$ref": "Goal"
              },
              "response": {
                "$ref": "Goal"
              },
              "httpMethod": "PUT",
              "id": "analytics.management.goals.update",
              "parameters": {
                "goalId": {
                  "description": "Index of the goal to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to update the goal.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to update the goal.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to update the goal.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "id": "analytics.management.goals.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "description": "Gets a goal to which the user has access.",
              "response": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve the goal for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the goal for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Goal ID to retrieve the goal for."
                }
              }
            },
            "insert": {
              "httpMethod": "POST",
              "id": "analytics.management.goals.insert",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create the goal for.",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to create the goal for.",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to create the goal for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "description": "Create a new goal.",
              "request": {
                "$ref": "Goal"
              },
              "response": {
                "$ref": "Goal"
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "insert": {
              "description": "Create a new view (profile).",
              "request": {
                "$ref": "Profile"
              },
              "response": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the view (profile) for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to create the view (profile) for.",
                  "required": true
                }
              },
              "id": "analytics.management.profiles.insert",
              "httpMethod": "POST"
            },
            "update": {
              "httpMethod": "PUT",
              "id": "analytics.management.profiles.update",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to which the view (profile) belongs",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile).",
              "request": {
                "$ref": "Profile"
              },
              "response": {
                "$ref": "Profile"
              }
            },
            "get": {
              "id": "analytics.management.profiles.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Gets a view (profile) to which the user has access.",
              "response": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the view (profile) for."
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "[0-9]+",
                  "description": "Account ID to retrieve the view (profile) for."
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "[0-9]+"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "request": {
                "$ref": "Profile"
              },
              "response": {
                "$ref": "Profile"
              },
              "httpMethod": "PATCH",
              "id": "analytics.management.profiles.patch",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to which the view (profile) belongs"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "description": "ID of the view (profile) to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.profiles.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32"
                }
              },
              "description": "Lists views (profiles) to which the user has access.",
              "response": {
                "$ref": "Profiles"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "delete": {
              "description": "Deletes a view (profile).",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "description": "ID of the view (profile) to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the view (profile) for.",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to delete the view (profile) for.",
                  "required": true
                }
              },
              "id": "analytics.management.profiles.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "DELETE"
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "httpMethod": "POST",
              "id": "analytics.management.clientId.hashClientId",
              "path": "management/clientId:hashClientId",
              "description": "Hashes the given Client ID.",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to create the unsampled report for.",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to create the unsampled report for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "required": true
                }
              },
              "id": "analytics.management.unsampledReports.insert",
              "httpMethod": "POST",
              "description": "Create a new unsampled report.",
              "request": {
                "$ref": "UnsampledReport"
              },
              "response": {
                "$ref": "UnsampledReport"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "list": {
              "id": "analytics.management.unsampledReports.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "description": "Lists unsampled reports to which the user has access.",
              "response": {
                "$ref": "UnsampledReports"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "minimum": "1",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported."
                }
              }
            },
            "delete": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "DELETE",
              "id": "analytics.management.unsampledReports.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to delete the unsampled reports for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to delete the unsampled report for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "type": "string",
                  "location": "path"
                },
                "unsampledReportId": {
                  "required": true,
                  "description": "ID of the unsampled report to be deleted.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes an unsampled report.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.unsampledReports.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve unsampled report for.",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "required": true
                },
                "unsampledReportId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the unsampled report to retrieve."
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Returns a single unsampled report.",
              "response": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "experiments": {
          "methods": {
            "delete": {
              "description": "Delete an experiment.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "experimentId": {
                  "description": "ID of the experiment to delete",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to which the experiment belongs",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to which the experiment belongs",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the experiment belongs",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "id": "analytics.management.experiments.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "description": "Lists experiments to which the user has access.",
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "View (Profile) ID to retrieve experiments for."
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve experiments for."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "type": "integer",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property ID to retrieve experiments for."
                }
              }
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID of the experiment to update."
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID of the experiment to update.",
                  "required": true
                },
                "profileId": {
                  "description": "View (Profile) ID of the experiment to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID of the experiment to update.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.patch",
              "httpMethod": "PATCH",
              "description": "Update an existing experiment. This method supports patch semantics.",
              "request": {
                "$ref": "Experiment"
              },
              "response": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ]
            },
            "get": {
              "description": "Returns an experiment to which the user has access.",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to retrieve the experiment for."
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to retrieve the experiment for.",
                  "required": true
                },
                "experimentId": {
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID to retrieve the experiment for.",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve the experiment for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ]
            },
            "update": {
              "httpMethod": "PUT",
              "id": "analytics.management.experiments.update",
              "parameters": {
                "experimentId": {
                  "type": "string",
                  "location": "path",
                  "description": "Experiment ID of the experiment to update.",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID of the experiment to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID of the experiment to update.",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID of the experiment to update."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "description": "Update an existing experiment.",
              "request": {
                "$ref": "Experiment"
              },
              "response": {
                "$ref": "Experiment"
              }
            },
            "insert": {
              "description": "Create a new experiment.",
              "request": {
                "$ref": "Experiment"
              },
              "response": {
                "$ref": "Experiment"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to create the experiment for.",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to create the experiment for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "description": "View (Profile) ID to create the experiment for.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "id": "analytics.management.experiments.insert"
            }
          }
        },
        "uploads": {
          "methods": {
            "uploadData": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "Upload data for a custom data source.",
              "response": {
                "$ref": "Upload"
              },
              "id": "analytics.management.uploads.uploadData",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "maxSize": "1GB",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                }
              },
              "supportsMediaUpload": true,
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id associated with the upload."
                },
                "customDataSourceId": {
                  "required": true,
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-\\d+-\\d+",
                  "description": "Web property UA-string associated with the upload."
                }
              }
            },
            "list": {
              "parameters": {
                "customDataSourceId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": ".{22}",
                  "description": "Custom data source Id for uploads to retrieve."
                },
                "start-index": {
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "type": "integer",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id for the uploads to retrieve."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of uploads to include in this response.",
                  "format": "int32",
                  "minimum": "1"
                },
                "accountId": {
                  "description": "Account Id for the uploads to retrieve.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "List uploads to which the user has access.",
              "response": {
                "$ref": "Uploads"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.uploads.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
            },
            "deleteUploadData": {
              "id": "analytics.management.uploads.deleteUploadData",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "description": "Delete data associated with a previous upload.",
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web property Id for the uploads to be deleted.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the uploads to be deleted."
                },
                "customDataSourceId": {
                  "required": true,
                  "pattern": ".{22}",
                  "type": "string",
                  "location": "path",
                  "description": "Custom data source Id for the uploads to be deleted."
                }
              }
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "id": "analytics.management.uploads.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "location": "path",
                  "description": "Web property Id for the upload to retrieve."
                },
                "uploadId": {
                  "description": "Upload Id to retrieve.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": ".{22}"
                },
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account Id for the upload to retrieve."
                },
                "customDataSourceId": {
                  "description": "Custom data source Id for upload to retrieve.",
                  "required": true,
                  "pattern": ".{22}",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "List uploads to which the user has access.",
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "PATCH",
              "id": "analytics.management.profileFilterLinks.patch",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which profile filter link belongs"
                },
                "linkId": {
                  "description": "ID of the profile filter link to be updated.",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "type": "string",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to which filter link belongs"
                },
                "accountId": {
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "delete": {
              "description": "Delete a profile filter link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to which the profile filter link belongs."
                },
                "linkId": {
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "type": "string",
                  "location": "path",
                  "description": "ID of the profile filter link to delete."
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to which the filter link belongs."
                },
                "webPropertyId": {
                  "description": "Web property Id to which the profile filter link belongs.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "id": "analytics.management.profileFilterLinks.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "DELETE"
            },
            "list": {
              "description": "Lists all profile filter links for a profile.",
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve profile filter links for."
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to."
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "format": "int32"
                }
              },
              "id": "analytics.management.profileFilterLinks.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "insert": {
              "description": "Create a new profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "profileId": {
                  "description": "Profile ID to create filter link for.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to create profile filter link for."
                }
              },
              "id": "analytics.management.profileFilterLinks.insert",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Returns a single profile filter link.",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link."
                },
                "profileId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+",
                  "description": "Profile ID to retrieve filter link for."
                },
                "accountId": {
                  "description": "Account ID to retrieve profile filter link for.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property Id to retrieve profile filter link for.",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.profileFilterLinks.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "id": "analytics.management.profileFilterLinks.update",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "description": "Web property Id to which profile filter link belongs"
                },
                "accountId": {
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs."
                },
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+:\\d+",
                  "description": "ID of the profile filter link to be updated."
                },
                "profileId": {
                  "description": "Profile ID to which filter link belongs",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "description": "Update an existing profile filter link.",
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "response": {
                "$ref": "ProfileFilterLink"
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "list": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve the user links for.",
                  "type": "string",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1"
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32"
                }
              },
              "description": "Lists account-user links for a given account.",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId"
              ],
              "id": "analytics.management.accountUserLinks.list",
              "path": "management/accounts/{accountId}/entityUserLinks"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to update the account-user link for.",
                  "required": true
                },
                "linkId": {
                  "type": "string",
                  "location": "path",
                  "description": "Link ID to update the account-user link for.",
                  "required": true
                }
              },
              "id": "analytics.management.accountUserLinks.update",
              "httpMethod": "PUT",
              "description": "Updates permissions for an existing user on the given account.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ]
            },
            "delete": {
              "description": "Removes a user from the given account.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to delete the user link for.",
                  "required": true
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Link ID to delete the user link for."
                }
              },
              "id": "analytics.management.accountUserLinks.delete",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "linkId"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Adds a new user to the given account.",
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.accountUserLinks.insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to create the user link for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "filters": {
          "methods": {
            "insert": {
              "id": "analytics.management.filters.insert",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to create filter for.",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/filters",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Create a new filter.",
              "request": {
                "$ref": "Filter"
              },
              "response": {
                "$ref": "Filter"
              }
            },
            "get": {
              "id": "analytics.management.filters.get",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "GET",
              "description": "Returns filters to which the user has access.",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to retrieve filters for."
                },
                "filterId": {
                  "description": "Filter ID to retrieve filters for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              }
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "description": "Updates an existing filter.",
              "request": {
                "$ref": "Filter"
              },
              "response": {
                "$ref": "Filter"
              },
              "httpMethod": "PUT",
              "id": "analytics.management.filters.update",
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the filter belongs.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filterId": {
                  "required": true,
                  "description": "ID of the filter to be updated.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "patch": {
              "description": "Updates an existing filter. This method supports patch semantics.",
              "request": {
                "$ref": "Filter"
              },
              "response": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Account ID to which the filter belongs."
                },
                "filterId": {
                  "description": "ID of the filter to be updated.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.filters.patch",
              "httpMethod": "PATCH"
            },
            "delete": {
              "id": "analytics.management.filters.delete",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "description": "Delete a filter.",
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the filter for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "filterId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the filter to be deleted.",
                  "required": true
                }
              }
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "id": "analytics.management.filters.list",
              "path": "management/accounts/{accountId}/filters",
              "parameters": {
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1"
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of filters to include in this response.",
                  "format": "int32"
                },
                "accountId": {
                  "description": "Account ID to retrieve filters for.",
                  "required": true,
                  "pattern": "\\d+",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Lists all filters for an account",
              "response": {
                "$ref": "Filters"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "insert": {
              "parameters": {
                "accountId": {
                  "description": "ID of the Google Analytics account to create the link for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to create the link for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "description": "Creates a webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property ID to retrieve the Google Ads link for."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to."
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "description": "Web property-Google Ads link ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "description": "Updates an existing webProperty-Google Ads link.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}"
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "description": "Web property-Google Ads link ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "httpMethod": "PATCH",
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "delete": {
              "description": "Deletes a web property-Google Ads link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "location": "path",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Web property Google Ads link ID."
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to delete the Google Ads link for.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "list": {
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "\\d+"
                },
                "max-results": {
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "format": "int32"
                },
                "start-index": {
                  "type": "integer",
                  "location": "query",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ]
            }
          }
        },
        "customMetrics": {
          "methods": {
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom metric to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "customMetricId": {
                  "type": "string",
                  "location": "path",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "type": "boolean",
                  "location": "query",
                  "default": "false"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom metric to update.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.customMetrics.patch",
              "httpMethod": "PATCH",
[...]
