{
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "id": "analyticsadmin:v1beta",
  "basePath": "",
  "title": "Google Analytics Admin API",
  "version": "v1beta",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "batchPath": "batch",
  "mtlsRootUrl": "https://analyticsadmin.mtls.googleapis.com/",
  "name": "analyticsadmin",
  "ownerName": "Google",
  "servicePath": "",
  "version_module": true,
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260406",
  "canonicalName": "Google Analytics Admin",
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "schemas": {
    "GoogleAnalyticsAdminV1betaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomMetric"
          },
          "description": "List of CustomMetrics.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaCustomMetric": {
      "description": "A definition for a custom metric.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaCustomMetric",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this CustomMetric resource. Format: properties/{property}/customMetrics/{customMetric}",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging name for this custom metric. If this is an event-scoped metric, then this is the event parameter name. May only contain alphanumeric and underscore charactes, starting with a letter. Max length of 40 characters for event-scoped metrics.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Metric scoped to an event."
          ],
          "description": "Required. Immutable. The scope of this custom metric.",
          "type": "string",
          "enum": [
            "METRIC_SCOPE_UNSPECIFIED",
            "EVENT"
          ]
        },
        "displayName": {
          "description": "Required. Display name for this custom metric as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "restrictedMetricType": {
          "description": "Optional. Types of restricted data that this metric may contain. Required for metrics with CURRENCY measurement unit. Must be empty for metrics with a non-CURRENCY measurement unit.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          }
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "measurementUnit": {
          "enum": [
            "MEASUREMENT_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "METERS",
            "KILOMETERS",
            "MILES",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ],
          "description": "Required. The type for the custom metric's value.",
          "type": "string",
          "enumDescriptions": [
            "MeasurementUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures miles.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpressionList": {
      "description": "A list of filter expressions.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
      "properties": {
        "expressions": {
          "description": "A list of filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessQuota": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuota",
      "properties": {
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerDay": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens."
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "description": "Properties can use up to 50 concurrent requests.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuotaStatus"
        }
      },
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaFirebaseLink": {
      "id": "GoogleAnalyticsAdminV1betaFirebaseLink",
      "properties": {
        "name": {
          "description": "Identifier. Example format: properties/1234/firebaseLinks/5678",
          "type": "string"
        },
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "A link between a Google Analytics property and a Firebase project.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource": {
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
      "properties": {
        "googleAdsLink": {
          "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
          "description": "A snapshot of a GoogleAdsLink resource in change history."
        },
        "firebaseLink": {
          "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink",
          "description": "A snapshot of a FirebaseLink resource in change history."
        },
        "measurementProtocolSecret": {
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
        },
        "dataRetentionSettings": {
          "$ref": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
          "description": "A snapshot of a data retention settings resource in change history."
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaProperty"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1betaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "dataStream": {
          "description": "A snapshot of a DataStream resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1betaDataStream"
        }
      },
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataStream": {
      "description": "A resource message representing a data stream.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataStream",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "name": {
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string"
        },
        "androidAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM."
        },
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "iosAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM."
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy": {
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy",
      "properties": {
        "metricName": {
          "description": "A metric name in the request to order by.",
          "type": "string"
        }
      },
      "description": "Sorts by metric values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessNumericFilter": {
      "description": "Filters for numeric or date values.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessNumericFilter",
      "properties": {
        "operation": {
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ],
          "description": "The operation type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ]
        },
        "value": {
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue",
          "description": "A numeric value or a date value."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionValue": {
      "description": "The value of a dimension.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionValue",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProperty": {
      "description": "A resource message representing a Google Analytics property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProperty",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "industryCategory": {
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when the entity was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleteTime": {
          "readOnly": true,
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceLevel": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "type": "string"
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "readOnly": true,
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse": {
      "description": "Response message for ProvisionAccountTicket RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketResponse",
      "properties": {
        "accountTicketId": {
          "description": "The param to be passed in the ToS link.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListDataStreamsResponse",
      "properties": {
        "dataStreams": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaDataStream"
          },
          "description": "List of DataStreams.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListDataStreams RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessInListFilter",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1betaAccessQuotaStatus",
      "properties": {
        "consumed": {
          "format": "int32",
          "description": "Quota consumed by this request.",
          "type": "integer"
        },
        "remaining": {
          "format": "int32",
          "description": "Quota remaining after this request.",
          "type": "integer"
        }
      },
      "description": "Current state for a particular quota group.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessFilterExpression": {
      "description": "Expresses dimension or metric filters. The fields in the same expression need to be either all dimensions or all metrics.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
      "properties": {
        "accessFilter": {
          "description": "A primitive filter. In the same FilterExpression, all of the filter's field names need to be either all dimensions or all metrics.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the and_group has an AND relationship."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression",
          "description": "The FilterExpression is NOT of not_expression."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpressionList",
          "description": "Each of the FilterExpressions in the or_group has an OR relationship."
        }
      }
    },
    "GoogleAnalyticsAdminV1betaNumericValue": {
      "description": "To represent a number.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaNumericValue",
      "properties": {
        "doubleValue": {
          "description": "Double value",
          "type": "number",
          "format": "double"
        },
        "int64Value": {
          "format": "int64",
          "description": "Integer value",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaCustomDimension",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "scope": {
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessFilter",
      "properties": {
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessStringFilter",
          "description": "Strings related filter."
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessInListFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessNumericFilter"
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        }
      },
      "description": "An expression to filter dimension or metric values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessMetric": {
      "id": "GoogleAnalyticsAdminV1betaAccessMetric",
      "properties": {
        "metricName": {
          "description": "The API name of the metric. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of metrics supported in this API. Metrics are referenced by name in `metricFilter` & `orderBys`.",
          "type": "string"
        }
      },
      "description": "The quantitative measurements of a report. For example, the metric `accessCount` is the total number of data access records.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDimensionHeader": {
      "description": "Describes a dimension column in the report. Dimensions requested in a report produce column entries within rows and DimensionHeaders. However, dimensions used exclusively within filters or expressions do not produce columns in a report; correspondingly, those dimensions do not produce headers.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessDimensionHeader",
      "properties": {
        "dimensionName": {
          "description": "The dimension's name; for example 'userEmail'.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "changeHistoryEvents": {
          "description": "Results that were accessible to the caller.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryEvent"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse": {
      "id": "GoogleAnalyticsAdminV1betaListGoogleAdsLinksResponse",
      "properties": {
        "googleAdsLinks": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaGoogleAdsLink"
          },
          "description": "List of GoogleAdsLinks.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListConversionEventsResponse": {
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListConversionEventsResponse",
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest": {
      "description": "Request message for AcknowledgeUserDataCollection RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionRequest",
      "properties": {
        "acknowledgement": {
          "description": "Required. An acknowledgement that the caller of this method understands the terms of user data collection. This field must contain the exact value: \"I acknowledge that I have the necessary privacy disclosures and rights from my end users for the collection and processing of their data, including the association of such data with the visitation information Google Analytics collects from my site and/or app property.\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessOrderBy": {
      "description": "Order bys define how rows will be sorted in the response. For example, ordering rows by descending access count is one ordering, and ordering rows by the country string is a different ordering.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderBy",
      "properties": {
        "metric": {
          "description": "Sorts results by a metric's values.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByMetricOrderBy"
        },
        "dimension": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
          "description": "Sorts results by a dimension's values."
        },
        "desc": {
          "description": "If true, sorts by descending order. If false or unspecified, sorts in ascending order.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListFirebaseLinksResponse",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaFirebaseLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryChange",
      "properties": {
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChangeChangeHistoryResource"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaDataStreamAndroidAppStreamData",
      "properties": {
        "firebaseAppId": {
          "readOnly": true,
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "type": "string"
        },
        "packageName": {
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\"",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse": {
      "description": "Response message for ListCustomDimensions RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListCustomDimensionsResponse",
      "properties": {
        "customDimensions": {
          "description": "List of CustomDimensions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaCustomDimension"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse": {
      "description": "Response message for ListMeasurementProtocolSecret RPC",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListMeasurementProtocolSecretsResponse",
      "properties": {
        "measurementProtocolSecrets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaMeasurementProtocolSecret"
          },
          "description": "A list of secrets for the parent stream specified in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricHeader": {
      "id": "GoogleAnalyticsAdminV1betaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest": {
      "description": "Request message for ArchiveCustomMetric RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomMetricRequest",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData": {
      "id": "GoogleAnalyticsAdminV1betaDataStreamIosAppStreamData",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "bundleId": {
          "description": "Required. Immutable. The Apple App Store Bundle ID for the app Example: \"com.example.myiosapp\"",
          "type": "string"
        }
      },
      "description": "Data specific to iOS app streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessDimension": {
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessDimension",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportResponse": {
      "description": "The customized Data Access Record Report response.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportResponse",
      "properties": {
        "dimensionHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows.",
          "type": "array"
        },
        "rows": {
          "description": "Rows of dimension value combinations and metric values in the report.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessRow"
          }
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "integer",
          "format": "int32"
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1betaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        },
        "metricHeaders": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaChangeHistoryEvent": {
      "id": "GoogleAnalyticsAdminV1betaChangeHistoryEvent",
      "properties": {
        "userActorEmail": {
          "description": "Email address of the Google account that made the change. This will be a valid email address if the actor field is set to USER, and empty otherwise. Google accounts that have been deleted will cause an error.",
          "type": "string"
        },
        "changesFiltered": {
          "description": "If true, then the list of changes returned was filtered, and does not represent all changes that occurred in this event.",
          "type": "boolean"
        },
        "id": {
          "description": "ID of this change history event. This ID is unique across Google Analytics.",
          "type": "string"
        },
        "actorType": {
          "enumDescriptions": [
            "Unknown or unspecified actor type.",
            "Changes made by the user specified in actor_email.",
            "Changes made by the Google Analytics system.",
            "Changes made by Google Analytics support team staff."
          ],
          "description": "The type of actor that made this change.",
          "type": "string",
          "enum": [
            "ACTOR_TYPE_UNSPECIFIED",
            "USER",
            "SYSTEM",
            "SUPPORT"
          ]
        },
        "changeTime": {
          "description": "Time when change was made.",
          "type": "string",
          "format": "google-datetime"
        },
        "changes": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaChangeHistoryChange"
          },
          "description": "A list of changes made in this change history event that fit the filters specified in SearchChangeHistoryEventsRequest.",
          "type": "array"
        }
      },
      "description": "A set of changes within a Google Analytics account or its child properties that resulted from the same cause. Common causes would be updates made in the Google Analytics UI, changes from customer support, or automatic Google Analytics system changes.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataSharingSettings": {
      "id": "GoogleAnalyticsAdminV1betaDataSharingSettings",
      "properties": {
        "name": {
          "description": "Identifier. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListAccountsResponse": {
      "id": "GoogleAnalyticsAdminV1betaListAccountsResponse",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccount"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Request message for ListAccounts RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessBetweenFilter",
      "properties": {
        "toValue": {
          "description": "Ends with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        },
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1betaNumericValue"
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaGoogleAdsLink",
      "properties": {
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time when this link was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string",
          "readOnly": true
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this link was originally created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessRow": {
      "id": "GoogleAnalyticsAdminV1betaAccessRow",
      "properties": {
        "dimensionValues": {
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimensionValue"
          }
        },
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetricValue"
          }
        }
      },
      "description": "Access report data for each row.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue": {
      "id": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
      "properties": {
        "value": {
          "format": "double",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccountSummary": {
      "id": "GoogleAnalyticsAdminV1betaAccountSummary",
      "properties": {
        "name": {
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "propertySummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaPropertySummary"
          },
          "description": "List of summaries for child accounts of this account.",
          "type": "array"
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        }
      },
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaConversionEvent": {
      "description": "A conversion event in a Google Analytics property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaConversionEvent",
      "properties": {
        "defaultConversionValue": {
          "$ref": "GoogleAnalyticsAdminV1betaConversionEventDefaultConversionValue",
          "description": "Optional. Defines a default value/currency for a conversion event."
        },
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "eventName": {
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "countingMethod": {
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`.",
          "type": "string",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this conversion event was created in the property.",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "type": "boolean",
          "readOnly": true
        },
        "custom": {
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListKeyEventsResponse": {
      "description": "Response message for ListKeyEvents RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListKeyEventsResponse",
      "properties": {
        "keyEvents": {
          "description": "The requested Key Events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaListAccountSummariesResponse": {
      "description": "Response message for ListAccountSummaries RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse",
      "properties": {
        "accountSummaries": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccountSummary"
          },
          "description": "Account summaries of all accounts the caller has access to.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccount",
      "properties": {
        "name": {
          "description": "Identifier. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time when this account was originally created.",
          "type": "string",
          "format": "google-datetime"
        },
        "gmpOrganization": {
          "readOnly": true,
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "deleted": {
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessMetricValue": {
      "description": "The value of a metric.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessMetricValue",
      "properties": {
        "value": {
          "description": "The measurement value. For example, this value may be '13'.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaKeyEventDefaultValue": {
      "id": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue",
      "properties": {
        "numericValue": {
          "format": "double",
          "description": "Required. This will be used to populate the \"value\" parameter for all occurrences of this Key Event (specified by event_name) where that parameter is unset.",
          "type": "number"
        },
        "currencyCode": {
          "description": "Required. When an occurrence of this Key Event (specified by event_name) has no set currency this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      },
      "description": "Defines a default value/currency for a key event.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaRunAccessReportRequest": {
      "description": "The request for a Data Access Record Report.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaRunAccessReportRequest",
      "properties": {
        "dimensions": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDimension"
          },
          "description": "The dimensions requested and displayed in the response. Requests are allowed up to 9 dimensions.",
          "type": "array"
        },
        "returnEntityQuota": {
          "description": "Toggles whether to return the current state of this Analytics Property's quota. Quota is returned in [AccessQuota](#AccessQuota). For account-level requests, this field must be false.",
          "type": "boolean"
        },
        "orderBys": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessOrderBy"
          },
          "description": "Specifies how rows are ordered in the response.",
          "type": "array"
        },
        "dateRanges": {
          "description": "Date ranges of access records to read. If multiple date ranges are requested, each response row will contain a zero based date range index. If two date ranges overlap, the access records for the overlapping days is included in the response rows for both date ranges. Requests are allowed up to 2 date ranges.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessDateRange"
          }
        },
        "offset": {
          "format": "int64",
          "description": "The row count of the start row. The first row is counted as row 0. If offset is unspecified, it is treated as 0. If offset is zero, then this method will return the first page of results with `limit` entries. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "metricFilter": {
          "description": "Metric filters allow you to restrict report response to specific metric values which match the filter. Metric filters are applied after aggregating the report's rows, similar to SQL having-clause. Dimensions cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "includeAllUsers": {
          "description": "Optional. Determines whether to include users who have never made an API call in the response. If true, all users with access to the specified property or account are included in the response, regardless of whether they have made an API call or not. If false, only the users who have made an API call will be included.",
          "type": "boolean"
        },
        "dimensionFilter": {
          "description": "Dimension filters let you restrict report response to specific dimension values which match the filter. For example, filtering on access records of a single user. To learn more, see [Fundamentals of Dimension Filters](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#dimension_filters) for examples. Metrics cannot be used in this filter.",
          "$ref": "GoogleAnalyticsAdminV1betaAccessFilterExpression"
        },
        "metrics": {
          "description": "The metrics requested and displayed in the response. Requests are allowed up to 10 metrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaAccessMetric"
          }
        },
        "limit": {
          "format": "int64",
          "description": "The number of rows to return. If unspecified, 10,000 rows are returned. The API returns a maximum of 100,000 rows per request, no matter how many you ask for. `limit` must be positive. The API may return fewer rows than the requested `limit`, if there aren't as many remaining rows as the `limit`. For instance, there are fewer than 300 possible values for the dimension `country`, so when reporting on only `country`, you can't get more than 300 rows, even if you set `limit` to a higher value. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "type": "string"
        },
        "timeZone": {
          "description": "This request's time zone if specified. If unspecified, the property's time zone is used. The request's time zone is used to interpret the start & end dates of the report. Formatted as strings from the IANA Time Zone database (https://www.iana.org/time-zones); for example \"America/New_York\" or \"Asia/Tokyo\".",
          "type": "string"
        },
        "expandGroups": {
          "description": "Optional. Decides whether to return the users within user groups. This field works only when include_all_users is set to true. If true, it will return all users with access to the specified property or account. If false, only the users with direct access will be returned.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse": {
      "id": "GoogleAnalyticsAdminV1betaAcknowledgeUserDataCollectionResponse",
      "properties": {},
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1betaDataRetentionSettings",
      "properties": {
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        },
        "userDataRetention": {
          "description": "Required. The length of time that user-level data is retained.",
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ]
        },
        "eventDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that event-level data is retained.",
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      },
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaListPropertiesResponse": {
      "description": "Response message for ListProperties RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaListPropertiesResponse",
      "properties": {
        "properties": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1betaProperty"
          },
          "description": "Results that matched the filter criteria and were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest": {
      "id": "GoogleAnalyticsAdminV1betaSearchChangeHistoryEventsRequest",
      "properties": {
        "resourceType": {
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS"
            ],
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "DataStream resource",
              "AttributionSettings resource"
            ]
          }
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`",
          "type": "string"
        },
        "action": {
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array",
          "items": {
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ],
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ]
          }
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.",
          "type": "integer"
        },
        "actorEmail": {
          "items": {
            "type": "string"
          },
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array"
        },
        "earliestChangeTime": {
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string"
        }
      },
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy": {
      "description": "Sorts by dimension values.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaAccessOrderByDimensionOrderBy",
      "properties": {
        "dimensionName": {
          "description": "A dimension name in the request to order by.",
          "type": "string"
        },
        "orderType": {
          "enum": [
            "ORDER_TYPE_UNSPECIFIED",
            "ALPHANUMERIC",
            "CASE_INSENSITIVE_ALPHANUMERIC",
            "NUMERIC"
          ],
          "description": "Controls the rule for dimension value ordering.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Alphanumeric sort by Unicode code point. For example, \"2\" < \"A\" < \"X\" < \"b\" < \"z\".",
            "Case insensitive alphanumeric sort by lower case Unicode code point. For example, \"2\" < \"A\" < \"b\" < \"X\" < \"z\".",
            "Dimension values are converted to numbers before sorting. For example in NUMERIC sort, \"25\" < \"100\", and in `ALPHANUMERIC` sort, \"100\" < \"25\". Non-numeric dimension values all have equal ordering value below all numeric values."
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1betaAccessDateRange",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaPropertySummary": {
      "id": "GoogleAnalyticsAdminV1betaPropertySummary",
      "properties": {
        "property": {
          "description": "Resource name of property referred to by this property summary Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "displayName": {
          "description": "Display name for the property referred to in this property summary.",
          "type": "string"
        },
        "propertyType": {
          "description": "The property's property type.",
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ],
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ]
        },
        "parent": {
          "description": "Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/200\"",
          "type": "string"
        }
      },
      "description": "A virtual resource representing metadata for a Google Analytics property.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaKeyEvent",
      "properties": {
        "custom": {
          "readOnly": true,
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "type": "boolean"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Time when this key event was created in the property.",
          "type": "string",
          "readOnly": true
        },
        "deletable": {
          "description": "Output only. If set to true, this event can be deleted.",
          "type": "boolean",
          "readOnly": true
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1betaKeyEventDefaultValue"
        },
        "countingMethod": {
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string",
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest": {
      "description": "Request message for ProvisionAccountTicket RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaProvisionAccountTicketRequest",
      "properties": {
        "account": {
          "description": "The account to create.",
          "$ref": "GoogleAnalyticsAdminV1betaAccount"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Cloud Console as a Redirect URI.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1betaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1betaAccessStringFilter",
      "properties": {
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "description": "The match type for this filter.",
          "type": "string"
        }
      },
      "description": "The filter for strings.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaDataStreamWebStreamData": {
      "id": "GoogleAnalyticsAdminV1betaDataStreamWebStreamData",
      "properties": {
        "firebaseAppId": {
          "description": "Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.",
          "type": "string",
          "readOnly": true
        },
        "defaultUri": {
          "description": "Domain name of the web app being measured, or empty. Example: \"http://www.google.com\", \"https://www.google.com\"",
          "type": "string"
        },
        "measurementId": {
          "description": "Output only. Analytics Measurement ID. Example: \"G-1A2BCD345E\"",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Data specific to web streams.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1betaArchiveCustomDimensionRequest",
      "properties": {}
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "resources": {
    "accountSummaries": {
      "methods": {
        "list": {
          "description": "Returns summaries of all accounts accessible by the caller.",
          "path": "v1beta/accountSummaries",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "format": "int32",
              "description": "Optional. The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
              "type": "integer"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleAnalyticsAdminV1betaListAccountSummariesResponse"
          },
          "id": "analyticsadmin.accountSummaries.list",
          "flatPath": "v1beta/accountSummaries",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.edit",
            "https://www.googleapis.com/auth/analytics.readonly"
          ]
        }
      }
    },
    "properties": {
      "resources": {
        "conversionEvents": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "id": "analyticsadmin.properties.conversionEvents.patch",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string"
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "description": "Deprecated: Use `UpdateKeyEvent` instead. Updates a conversion event with the specified attributes."
            },
            "get": {
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "description": "Deprecated: Use `GetKeyEvent` instead. Retrieve a single conversion event.",
              "deprecated": true,
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.conversionEvents.get",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to retrieve. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\"",
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "parameters": {
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListConversionEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListConversionEvents` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "deprecated": true,
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListConversionEventsResponse"
              },
              "id": "analyticsadmin.properties.conversionEvents.list",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Deprecated: Use `ListKeyEvents` instead. Returns a list of conversion events in the specified parent property. Returns an empty list if no conversion events are found.",
              "path": "v1beta/{+parent}/conversionEvents",
              "httpMethod": "GET"
            },
            "create": {
              "description": "Deprecated: Use `CreateKeyEvent` instead. Creates a conversion event with the specified attributes.",
              "path": "v1beta/{+parent}/conversionEvents",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this conversion event will be created. Format: properties/123",
                  "location": "path"
                }
              },
              "deprecated": true,
              "parameterOrder": [
                "parent"
              ],
              "id": "analyticsadmin.properties.conversionEvents.create",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaConversionEvent"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/conversionEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the conversion event to delete. Format: properties/{property}/conversionEvents/{conversion_event} Example: \"properties/123/conversionEvents/456\""
                }
              },
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "analyticsadmin.properties.conversionEvents.delete",
              "flatPath": "v1beta/properties/{propertiesId}/conversionEvents/{conversionEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "name"
              ],
              "deprecated": true,
              "description": "Deprecated: Use `DeleteKeyEvent` instead. Deletes a conversion event in a property.",
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE"
            }
          },
          "deprecated": true
        },
        "keyEvents": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "description": "Required. The resource name of the Key Event to retrieve. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\"",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "id": "analyticsadmin.properties.keyEvents.get",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve a single Key Event.",
              "path": "v1beta/{+name}",
              "httpMethod": "GET"
            },
            "list": {
              "path": "v1beta/{+parent}/keyEvents",
              "httpMethod": "GET",
              "description": "Returns a list of Key Events in the specified parent property. Returns an empty list if no Key Events are found.",
              "id": "analyticsadmin.properties.keyEvents.list",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaListKeyEventsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListKeyEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListKeyEvents` must match the call that provided the page token.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The resource name of the parent property. Example: 'properties/123'",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$"
                }
              }
            },
            "patch": {
              "description": "Updates a Key Event.",
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated. Field names must be in snake case (e.g., \"field_to_update\"). Omitted fields will not be updated. To replace the entire entity, use one path with the string \"*\" to match all fields.",
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask"
                }
              },
              "id": "analyticsadmin.properties.keyEvents.patch",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "id": "analyticsadmin.properties.keyEvents.create",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents",
              "request": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleAnalyticsAdminV1betaKeyEvent"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^properties/[^/]+$",
                  "description": "Required. The resource name of the parent property where this Key Event will be created. Format: properties/123",
                  "location": "path"
                }
              },
              "path": "v1beta/{+parent}/keyEvents",
              "httpMethod": "POST",
              "description": "Creates a Key Event."
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "id": "analyticsadmin.properties.keyEvents.delete",
              "flatPath": "v1beta/properties/{propertiesId}/keyEvents/{keyEventsId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameters": {
                "name": {
                  "pattern": "^properties/[^/]+/keyEvents/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the Key Event to delete. Format: properties/{property}/keyEvents/{key_event} Example: \"properties/123/keyEvents/456\""
                }
              },
              "path": "v1beta/{+name}",
              "httpMethod": "DELETE",
              "description": "Deletes a Key Event."
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^properties/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "Required. Example format: properties/1234"
                },
                "pageToken": {
[...]
