{
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        }
      }
    }
  },
  "servicePath": "analytics/v3/",
  "description": "Views and manages your Google Analytics data.",
  "version": "v3",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "parameters": {
    "prettyPrint": {
      "default": "false",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "userIp": {
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "batchPath": "batch/analytics/v3",
  "title": "Google Analytics API",
  "rootUrl": "https://analytics.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/analytics/",
  "id": "analytics:v3",
  "basePath": "/analytics/v3/",
  "kind": "discovery#restDescription",
  "resources": {
    "management": {
      "resources": {
        "profileUserLinks": {
          "methods": {
            "update": {
              "id": "analytics.management.profileUserLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "EntityUserLink"
              },
              "description": "Updates permissions for an existing user on the given view (profile).",
              "parameters": {
                "accountId": {
                  "description": "Account ID to update the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "linkId": {
                  "required": true,
                  "description": "Link ID to update the user link for.",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile ID) to update the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to update the user link for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.profileUserLinks.delete",
              "description": "Removes a user from the given view (profile).",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true
                },
                "linkId": {
                  "description": "Link ID to delete the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "httpMethod": "DELETE"
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.profileUserLinks.insert",
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Adds a new user to the given view (profile).",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID to create the user link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analytics.management.profileUserLinks.list",
              "description": "Lists profile-user links for a given view (profile).",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID which the given view (profile) belongs to.",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve the profile-user links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID which the given view (profile) belongs to. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "description": "The maximum number of profile-user links to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first profile-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              }
            }
          }
        },
        "experiments": {
          "methods": {
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.delete",
              "description": "Delete an experiment.",
              "parameters": {
                "experimentId": {
                  "required": true,
                  "description": "ID of the experiment to delete",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "description": "View (Profile) ID to which the experiment belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the experiment belongs",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the experiment belongs",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "DELETE"
            },
            "insert": {
              "id": "analytics.management.experiments.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "response": {
                "$ref": "Experiment"
              },
              "description": "Create a new experiment.",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to create the experiment for.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the experiment for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the experiment for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Experiment"
              }
            },
            "patch": {
              "id": "analytics.management.experiments.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "response": {
                "$ref": "Experiment"
              },
              "description": "Update an existing experiment. This method supports patch semantics.",
              "parameters": {
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "location": "path"
                },
                "profileId": {
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Experiment"
              }
            },
            "update": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Update an existing experiment.",
              "parameters": {
                "experimentId": {
                  "description": "Experiment ID of the experiment to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Experiment"
              },
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "response": {
                "$ref": "Experiment"
              },
              "id": "analytics.management.experiments.update"
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Experiments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.list",
              "description": "Lists experiments to which the user has access.",
              "parameters": {
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query"
                },
                "max-results": {
                  "description": "The maximum number of experiments to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve experiments for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve experiments for.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "id": "analytics.management.experiments.get",
              "description": "Returns an experiment to which the user has access.",
              "parameters": {
                "experimentId": {
                  "type": "string",
                  "description": "Experiment ID to retrieve the experiment for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the experiment for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve the experiment for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "response": {
                "$ref": "Experiment"
              }
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "delete": {
              "id": "analytics.management.unsampledReports.delete",
              "description": "Deletes an unsampled report.",
              "parameters": {
                "profileId": {
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "unsampledReportId": {
                  "description": "ID of the unsampled report to be deleted.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "httpMethod": "DELETE"
            },
            "insert": {
              "id": "analytics.management.unsampledReports.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "response": {
                "$ref": "UnsampledReport"
              },
              "httpMethod": "POST",
              "request": {
                "$ref": "UnsampledReport"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new unsampled report.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "description": "Web property ID to create the unsampled report for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "UnsampledReports"
              },
              "id": "analytics.management.unsampledReports.list",
              "description": "Lists unsampled reports to which the user has access.",
              "parameters": {
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "location": "path",
                  "type": "string"
                },
                "max-results": {
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "response": {
                "$ref": "UnsampledReport"
              },
              "id": "analytics.management.unsampledReports.get",
              "description": "Returns a single unsampled report.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "unsampledReportId": {
                  "type": "string",
                  "description": "ID of the unsampled report to retrieve.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "customMetrics": {
          "methods": {
            "insert": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "description": "Create a new custom metric.",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom metric to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "response": {
                "$ref": "CustomMetric"
              },
              "id": "analytics.management.customMetrics.insert"
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CustomMetric"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "location": "path"
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              }
            },
            "update": {
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomMetric"
              },
              "description": "Updates an existing custom metric.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "location": "path"
                },
                "customMetricId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "id": "analytics.management.customMetrics.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "response": {
                "$ref": "CustomMetric"
              }
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomMetrics"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customMetrics.list",
              "description": "Lists custom metrics to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "accountId": {
                  "description": "Account ID for the custom metrics to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "location": "path"
                }
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "id": "analytics.management.customMetrics.get",
              "description": "Get a custom metric to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom metric to retrieve.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "description": "Account ID for the custom metric to retrieve.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customMetricId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the custom metric to retrieve.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "goals": {
          "methods": {
            "patch": {
              "id": "analytics.management.goals.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal. This method supports patch semantics.",
              "parameters": {
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "location": "path"
                },
                "goalId": {
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Goal"
              }
            },
            "update": {
              "id": "analytics.management.goals.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "response": {
                "$ref": "Goal"
              },
              "description": "Updates an existing goal.",
              "parameters": {
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to update the goal.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Goal"
              }
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Goal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new goal.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to create the goal for.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to create the goal for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.goals.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "response": {
                "$ref": "Goal"
              }
            },
            "get": {
              "id": "analytics.management.goals.get",
              "description": "Gets a goal to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the goal for.",
                  "location": "path",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "response": {
                "$ref": "Goal"
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.goals.list",
              "description": "Lists goals to which the user has access.",
              "parameters": {
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query"
                },
                "accountId": {
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "profileId": {
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "max-results": {
                  "description": "The maximum number of goals to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Goals"
              }
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "update": {
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "httpMethod": "PUT",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing webProperty-Google Ads link.",
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "description": "Web property-Google Ads link ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "description": "Deletes a web property-Google Ads link.",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "description": "Web property Google Ads link ID.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to delete the Google Ads link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "httpMethod": "DELETE"
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a webProperty-Google Ads link.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "ID of the Google Analytics account to create the link for.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to create the link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "response": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameters": {
                "accountId": {
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              }
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "EntityAdWordsLinks"
              }
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "path": "management/segments",
              "response": {
                "$ref": "Segments"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.segments.list",
              "description": "Lists segments to which the user has access.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query"
                }
              }
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.delete",
              "description": "Removes a user from the given account.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "description": "Link ID to delete the user link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "linkId"
              ]
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Adds a new user to the given account.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "EntityUserLink"
              },
              "id": "analytics.management.accountUserLinks.insert",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "response": {
                "$ref": "EntityUserLink"
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "id": "analytics.management.accountUserLinks.list",
              "description": "Lists account-user links for a given account.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the user links for.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1"
                },
                "max-results": {
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "httpMethod": "GET"
            },
            "update": {
              "id": "analytics.management.accountUserLinks.update",
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Updates permissions for an existing user on the given account.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to update the account-user link for.",
                  "location": "path",
                  "type": "string"
                },
                "linkId": {
                  "required": true,
                  "description": "Link ID to update the account-user link for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "EntityUserLink"
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "httpMethod": "POST",
              "path": "management/clientId:hashClientId",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "id": "analytics.management.clientId.hashClientId",
              "description": "Hashes the given Client ID.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "filters": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Filter"
              },
              "description": "Updates an existing filter. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the filter belongs.",
                  "location": "path",
                  "required": true
                },
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be updated.",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "id": "analytics.management.filters.patch",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "response": {
                "$ref": "Filter"
              }
            },
            "update": {
              "request": {
                "$ref": "Filter"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing filter.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the filter belongs.",
                  "location": "path",
                  "type": "string"
                },
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be updated.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "response": {
                "$ref": "Filter"
              },
              "id": "analytics.management.filters.update"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.filters.delete",
              "description": "Delete a filter.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to delete the filter for.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be deleted.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "response": {
                "$ref": "Filter"
              }
            },
            "insert": {
              "path": "management/accounts/{accountId}/filters",
              "response": {
                "$ref": "Filter"
              },
              "id": "analytics.management.filters.insert",
              "request": {
                "$ref": "Filter"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "description": "Create a new filter.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to create filter for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "get": {
              "id": "analytics.management.filters.get",
              "description": "Returns filters to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve filters for.",
                  "location": "path",
                  "required": true
                },
                "filterId": {
                  "required": true,
                  "description": "Filter ID to retrieve filters for.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "response": {
                "$ref": "Filter"
              },
              "httpMethod": "GET"
            },
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.filters.list",
              "description": "Lists all filters for an account",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account ID to retrieve filters for.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of filters to include in this response.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "path": "management/accounts/{accountId}/filters",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Filters"
              }
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.accountSummaries.list",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accountSummaries",
              "response": {
                "$ref": "AccountSummaries"
              },
              "httpMethod": "GET"
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomDataSources"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDataSources.list",
              "description": "List custom data sources to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "minimum": "1",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "max-results": {
                  "description": "The maximum number of custom data sources to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "accounts": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.accounts.list",
              "description": "Lists all accounts to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of accounts to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "start-index": {
                  "minimum": "1",
                  "description": "An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "path": "management/accounts",
              "response": {
                "$ref": "Accounts"
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.delete",
              "description": "Deletes a view (profile).",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ]
            },
            "insert": {
              "httpMethod": "POST",
              "request": {
                "$ref": "Profile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new view (profile).",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.profiles.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "response": {
                "$ref": "Profile"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Profile"
              },
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path",
                  "type": "string"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "id": "analytics.management.profiles.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              }
            },
            "update": {
              "request": {
                "$ref": "Profile"
              },
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing view (profile).",
              "parameters": {
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "response": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.update"
            },
            "list": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Profiles"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.profiles.list",
              "description": "Lists views (profiles) to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              }
            },
            "get": {
              "id": "analytics.management.profiles.get",
              "description": "Gets a view (profile) to which the user has access.",
              "parameters": {
                "profileId": {
                  "required": true,
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+"
                },
                "webPropertyId": {
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to retrieve the view (profile) for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "Profile"
              },
              "httpMethod": "GET"
            }
          }
        },
        "webproperties": {
          "methods": {
            "insert": {
              "id": "analytics.management.webproperties.insert",
              "path": "management/accounts/{accountId}/webproperties",
              "response": {
                "$ref": "Webproperty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "Webproperty"
              }
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing web property. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "description": "Account ID to which the web property belongs",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID",
                  "location": "path",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Webproperty"
              },
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.patch"
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing web property.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID to which the web property belongs",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "response": {
                "$ref": "Webproperty"
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties",
              "parameterOrder": [
                "accountId"
              ],
              "response": {
                "$ref": "Webproperties"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.webproperties.list",
              "description": "Lists web properties to which the user has access.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of web properties to include in this response.",
                  "format": "int32",
                  "location": "query"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.get",
              "description": "Gets a web property to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "description": "ID to retrieve the web property for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to retrieve the web property for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "[0-9]+",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            }
          }
        },
        "customDimensions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDimensions.list",
              "description": "Lists custom dimensions to which the user has access.",
              "parameters": {
                "max-results": {
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "response": {
                "$ref": "CustomDimensions"
              },
              "httpMethod": "GET"
            },
            "get": {
              "httpMethod": "GET",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customDimensions.get",
              "description": "Get a custom dimension to which the user has access.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true
                },
                "customDimensionId": {
                  "type": "string",
                  "description": "The ID of the custom dimension to retrieve.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "insert": {
              "description": "Create a new custom dimension.",
              "parameters": {
                "accountId": {
                  "description": "Account ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CustomDimension"
              },
              "id": "analytics.management.customDimensions.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "response": {
                "$ref": "CustomDimension"
              }
            },
            "patch": {
              "id": "analytics.management.customDimensions.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "httpMethod": "PATCH",
              "request": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string"
                },
                "webPropertyId": {
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "customDimensionId": {
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ]
            },
            "update": {
              "id": "analytics.management.customDimensions.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "response": {
                "$ref": "CustomDimension"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing custom dimension.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string"
                },
                "customDimensionId": {
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "CustomDimension"
              }
            }
          }
        },
        "remarketingAudience": {
          "methods": {
[...]
