{
  "id": "analytics:v3",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "ownerDomain": "google.com",
  "revision": "20190807",
  "description": "Views and manages your Google Analytics data.",
  "basePath": "/analytics/v3/",
  "discoveryVersion": "v1",
  "version": "v3",
  "name": "analytics",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for the response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "default": "json",
      "location": "query",
      "enum": [
        "json"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    }
  },
  "title": "Google Analytics API",
  "resources": {
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "parameters": {
                "reportType": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API",
                  "pattern": "ga"
                }
              },
              "path": "metadata/{reportType}/columns",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists all columns for a report type",
              "parameterOrder": [
                "reportType"
              ],
              "id": "analytics.metadata.columns.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "Columns"
              }
            }
          }
        }
      }
    },
    "userDeletion": {
      "resources": {
        "userDeletionRequest": {
          "methods": {
            "upsert": {
              "response": {
                "$ref": "UserDeletionRequest"
              },
              "id": "analytics.userDeletion.userDeletionRequest.upsert",
              "httpMethod": "POST",
              "description": "Insert or update a user deletion requests.",
              "request": {
                "$ref": "UserDeletionRequest"
              },
              "path": "userDeletion/userDeletionRequests:upsert",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.user.deletion"
              ]
            }
          }
        }
      }
    },
    "data": {
      "resources": {
        "ga": {
          "methods": {
            "get": {
              "parameters": {
                "samplingLevel": {
                  "type": "string",
                  "description": "The desired sampling level.",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ]
                },
                "end-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "required": true,
                  "location": "query"
                },
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "location": "query",
                  "pattern": "ga:.+"
                },
                "ids": {
                  "pattern": "ga:[0-9]+",
                  "type": "string",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "required": true,
                  "location": "query"
                },
                "output": {
                  "location": "query",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "type": "string",
                  "description": "The selected format for the response. Default format is JSON."
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "location": "query",
                  "pattern": "(-)?ga:.+"
                },
                "dimensions": {
                  "pattern": "(ga:.+)?",
                  "type": "string",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "location": "query"
                },
                "segment": {
                  "type": "string",
                  "description": "An Analytics segment to be applied to data.",
                  "location": "query"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "include-empty-rows": {
                  "type": "boolean",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true",
                  "location": "query"
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                },
                "start-date": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "metrics": {
                  "pattern": "ga:.+",
                  "type": "string",
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "required": true,
                  "location": "query"
                }
              },
              "description": "Returns Analytics data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "path": "data/ga",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GaData"
              },
              "id": "analytics.data.ga.get",
              "httpMethod": "GET"
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "path": "data/realtime",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns real time data for a view (profile).",
              "parameterOrder": [
                "ids",
                "metrics"
              ],
              "id": "analytics.data.realtime.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "RealtimeData"
              },
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                },
                "sort": {
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "location": "query"
                },
                "filters": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "location": "query"
                },
                "dimensions": {
                  "pattern": "(ga:.+)|(rt:.+)",
                  "type": "string",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "location": "query"
                },
                "ids": {
                  "type": "string",
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "pattern": "ga:[0-9]+",
                  "location": "query",
                  "required": true
                },
                "metrics": {
                  "location": "query",
                  "required": true,
                  "type": "string",
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "pattern": "(ga:.+)|(rt:.+)"
                }
              }
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "parameters": {
                "dimensions": {
                  "pattern": "(mcf:.+)?",
                  "type": "string",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "location": "query"
                },
                "start-date": {
                  "required": true,
                  "location": "query",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo."
                },
                "metrics": {
                  "pattern": "mcf:.+",
                  "type": "string",
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "required": true,
                  "location": "query"
                },
                "end-date": {
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "type": "string",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true,
                  "location": "query"
                },
                "filters": {
                  "pattern": "mcf:.+",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "location": "query"
                },
                "ids": {
                  "required": true,
                  "location": "query",
                  "pattern": "ga:[0-9]+",
                  "type": "string",
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID."
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "location": "query"
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "location": "query",
                  "pattern": "(-)?mcf:.+"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                },
                "samplingLevel": {
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ],
                  "location": "query",
                  "type": "string",
                  "description": "The desired sampling level."
                }
              },
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "path": "data/mcf",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "McfData"
              },
              "id": "analytics.data.mcf.get",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "accountSummaries": {
          "methods": {
            "list": {
              "response": {
                "$ref": "AccountSummaries"
              },
              "id": "analytics.management.accountSummaries.list",
              "httpMethod": "GET",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.",
              "path": "management/accountSummaries",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              }
            }
          }
        },
        "customDimensions": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "CustomDimension"
              },
              "id": "analytics.management.customDimensions.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new custom dimension.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to create.",
                  "location": "path"
                }
              }
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing custom dimension.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "id": "analytics.management.customDimensions.update",
              "parameters": {
                "customDimensionId": {
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query"
                }
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "CustomDimension"
              }
            },
            "get": {
              "response": {
                "$ref": "CustomDimension"
              },
              "id": "analytics.management.customDimensions.get",
              "httpMethod": "GET",
              "description": "Get a custom dimension to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to retrieve.",
                  "location": "path",
                  "required": true
                },
                "customDimensionId": {
                  "type": "string",
                  "description": "The ID of the custom dimension to retrieve.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom dimension to update.",
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.",
                  "location": "query",
                  "default": "false"
                },
                "customDimensionId": {
                  "type": "string",
                  "description": "Custom dimension ID for the custom dimension to update.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimension to update.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.customDimensions.patch",
              "description": "Updates an existing custom dimension. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDimensionId"
              ],
              "request": {
                "$ref": "CustomDimension"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomDimension"
              },
              "httpMethod": "PATCH"
            },
            "list": {
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom dimensions to retrieve.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "location": "query",
                  "minimum": "1",
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom dimensions to retrieve.",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom dimensions to include in this response.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists custom dimensions to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDimensions.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomDimensions"
              }
            }
          }
        },
        "webPropertyAdWordsLinks": {
          "methods": {
            "update": {
              "httpMethod": "PUT",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.update",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing webProperty-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "delete": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the Google Ads link for.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyAdWordsLinkId": {
                  "type": "string",
                  "description": "Web property Google Ads link ID.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes a web property-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webPropertyAdWordsLinks.delete",
              "httpMethod": "DELETE"
            },
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the Google Analytics account to create the link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the link for.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.webPropertyAdWordsLinks.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Creates a webProperty-Google Ads link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              }
            },
            "list": {
              "response": {
                "$ref": "EntityAdWordsLinks"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.list",
              "httpMethod": "GET",
              "description": "Lists webProperty-Google Ads links for a given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of webProperty-Google Ads links to include in this response.",
                  "location": "query",
                  "format": "int32"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads links for.",
                  "location": "path"
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first webProperty-Google Ads link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              }
            },
            "get": {
              "description": "Returns a web property-Google Ads link to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.get",
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path",
                  "required": true
                },
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "EntityAdWordsLink"
              },
              "id": "analytics.management.webPropertyAdWordsLinks.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing webProperty-Google Ads link. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "webPropertyAdWordsLinkId"
              ],
              "request": {
                "$ref": "EntityAdWordsLink"
              },
              "parameters": {
                "webPropertyAdWordsLinkId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property-Google Ads link ID.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the account which the given web property belongs to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the Google Ads link for.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "path": "management/clientId:hashClientId",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Hashes the given Client ID.",
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "id": "analytics.management.clientId.hashClientId",
              "httpMethod": "POST",
              "response": {
                "$ref": "HashClientIdResponse"
              }
            }
          }
        },
        "customDataSources": {
          "methods": {
            "list": {
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for the custom data sources to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "pattern": "\\d+"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List custom data sources to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "id": "analytics.management.customDataSources.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "CustomDataSources"
              }
            }
          }
        },
        "unsampledReports": {
          "methods": {
            "list": {
              "id": "analytics.management.unsampledReports.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReports"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Lists unsampled reports to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of unsampled reports to include in this response.",
                  "location": "query"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for. Must be a specific web property ID, ~all is not supported.",
                  "location": "path"
                },
                "start-index": {
                  "format": "int32",
                  "minimum": "1",
                  "location": "query",
                  "type": "integer",
                  "description": "An index of the first unsampled report to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled reports for. Must be a specific account ID, ~all is not supported.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled reports for. Must be a specific view (profile) ID, ~all is not supported.",
                  "location": "path"
                }
              }
            },
            "delete": {
              "description": "Deletes an unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.unsampledReports.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to delete the unsampled reports for.",
                  "location": "path",
                  "required": true
                },
                "unsampledReportId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the unsampled report to be deleted.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to delete the unsampled report for.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "insert": {
              "id": "analytics.management.unsampledReports.insert",
              "description": "Create a new unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "UnsampledReport"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the unsampled report for.",
                  "location": "path"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to create the unsampled report for.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the unsampled report for.",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "UnsampledReport"
              },
              "httpMethod": "POST"
            },
            "get": {
              "parameters": {
                "unsampledReportId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the unsampled report to retrieve.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve unsampled report for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve unsampled reports for.",
                  "location": "path",
                  "required": true
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a single unsampled report.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "unsampledReportId"
              ],
              "id": "analytics.management.unsampledReports.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "UnsampledReport"
              }
            }
          }
        },
        "profiles": {
          "methods": {
            "get": {
              "id": "analytics.management.profiles.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Gets a view (profile) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "pattern": "[0-9]+",
                  "type": "string",
                  "description": "Account ID to retrieve the view (profile) for."
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the view (profile) for.",
                  "pattern": "[0-9]+",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the view (profile) for.",
                  "pattern": "UA-[0-9]+-[0-9]+"
                }
              }
            },
            "patch": {
              "id": "analytics.management.profiles.patch",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing view (profile). This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                }
              },
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Profile"
              }
            },
            "list": {
              "response": {
                "$ref": "Profiles"
              },
              "id": "analytics.management.profiles.list",
              "httpMethod": "GET",
              "description": "Lists views (profiles) to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the view (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.",
                  "location": "path"
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of views (profiles) to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "location": "query",
                  "minimum": "1"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "delete": {
              "id": "analytics.management.profiles.delete",
              "httpMethod": "DELETE",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Deletes a view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to delete the view (profile) for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the view (profile) for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the view (profile) to be deleted.",
                  "location": "path"
                }
              }
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "id": "analytics.management.profiles.insert",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to create the view (profile) for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the view (profile) for.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "Profile"
              }
            },
            "update": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the view (profile) belongs",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the view (profile) belongs",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "description": "ID of the view (profile) to be updated.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Updates an existing view (profile).",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Profile"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profiles.update",
              "response": {
                "$ref": "Profile"
              },
              "httpMethod": "PUT"
            }
          }
        },
        "uploads": {
          "methods": {
            "get": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "List uploads to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "id": "analytics.management.uploads.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Upload"
              },
              "parameters": {
                "uploadId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Upload Id to retrieve.",
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for the upload to retrieve.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account Id for the upload to retrieve.",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "customDataSourceId": {
                  "required": true,
                  "location": "path",
                  "pattern": ".{22}",
                  "type": "string",
                  "description": "Custom data source Id for upload to retrieve."
                }
              }
            },
            "deleteUploadData": {
              "description": "Delete data associated with a previous upload.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.uploads.deleteUploadData",
              "httpMethod": "POST",
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account Id for the uploads to be deleted.",
                  "required": true,
                  "location": "path"
                },
                "customDataSourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for the uploads to be deleted.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              }
            },
            "list": {
              "description": "List uploads to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Uploads"
              },
              "id": "analytics.management.uploads.list",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "description": "The maximum number of uploads to include in this response."
                },
                "start-index": {
                  "type": "integer",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "minimum": "1",
                  "location": "query"
                },
                "webPropertyId": {
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "description": "Web property Id for the uploads to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account Id for the uploads to retrieve.",
                  "pattern": "\\d+"
                },
                "customDataSourceId": {
                  "required": true,
                  "location": "path",
                  "pattern": ".{22}",
                  "type": "string",
                  "description": "Custom data source Id for uploads to retrieve."
                }
              }
            },
            "uploadData": {
              "id": "analytics.management.uploads.uploadData",
              "description": "Upload data for a custom data source.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property UA-string associated with the upload.",
                  "pattern": "UA-\\d+-\\d+",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account Id associated with the upload."
                },
                "customDataSourceId": {
                  "required": true,
                  "type": "string",
                  "description": "Custom data source Id to which the data being uploaded belongs.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Upload"
              },
              "supportsMediaUpload": true,
              "httpMethod": "POST",
              "mediaUpload": {
                "accept": [
                  "application/octet-stream"
                ],
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                },
                "maxSize": "1GB"
              }
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "delete": {
              "id": "analytics.management.webpropertyUserLinks.delete",
              "httpMethod": "DELETE",
              "description": "Removes a user from the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to delete the user link for.",
                  "location": "path",
                  "required": true
                },
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID to delete the user link for.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID to create the user link for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for.",
                  "location": "path"
                }
              },
              "id": "analytics.management.webpropertyUserLinks.insert",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "description": "Adds a new user to the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              }
            },
            "list": {
              "id": "analytics.management.webpropertyUserLinks.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "EntityUserLinks"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "description": "Lists webProperty-user links for a given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID which the given web property belongs to.",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "location": "query"
                }
              }
            },
            "update": {
              "response": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "PUT",
              "parameters": {
                "linkId": {
                  "required": true,
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the account-user link for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.webpropertyUserLinks.update",
              "description": "Updates permissions for an existing user on the given web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "update": {
              "id": "analytics.management.profileFilterLinks.update",
              "description": "Update an existing profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which profile filter link belongs.",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Profile ID to which filter link belongs"
                },
                "linkId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the profile filter link to be updated.",
                  "pattern": "\\d+:\\d+"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id to which profile filter link belongs",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "PUT"
            },
            "delete": {
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+:\\d+",
                  "type": "string",
                  "description": "ID of the profile filter link to delete."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id to which the profile filter link belongs.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the profile filter link belongs.",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Profile ID to which the filter link belongs."
                }
              },
              "id": "analytics.management.profileFilterLinks.delete",
              "httpMethod": "DELETE",
              "description": "Delete a profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "id": "analytics.management.profileFilterLinks.insert",
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account ID to create profile filter link for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Profile ID to create filter link for.",
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property Id to create profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ProfileFilterLink"
              }
            },
            "list": {
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "id": "analytics.management.profileFilterLinks.list",
              "httpMethod": "GET",
              "description": "Lists all profile filter links for a profile.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account ID to retrieve profile filter links for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true
                },
                "start-index": {
                  "minimum": "1",
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "max-results": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of profile filter links to include in this response.",
                  "location": "query"
                }
              }
            },
            "get": {
              "parameters": {
                "accountId": {
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account ID to retrieve profile filter link for.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Profile ID to retrieve filter link for.",
                  "pattern": "\\d+"
                },
                "linkId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the profile filter link.",
                  "pattern": "\\d+:\\d+"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property Id to retrieve profile filter link for.",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true
                }
              },
              "id": "analytics.management.profileFilterLinks.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Returns a single profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ]
            },
            "patch": {
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "PATCH",
              "id": "analytics.management.profileFilterLinks.patch",
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "linkId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+:\\d+",
                  "type": "string",
                  "description": "ID of the profile filter link to be updated."
                },
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "type": "string",
                  "description": "Web property Id to which profile filter link belongs"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "pattern": "\\d+",
                  "type": "string",
                  "description": "Account ID to which profile filter link belongs."
                },
                "profileId": {
                  "type": "string",
                  "description": "Profile ID to which filter link belongs",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "goals": {
          "methods": {
            "insert": {
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the goal for.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create the goal for.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the goal for.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new goal.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.insert",
              "httpMethod": "POST",
              "response": {
                "$ref": "Goal"
              }
            },
            "update": {
              "parameters": {
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing goal.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.update",
              "httpMethod": "PUT",
              "response": {
                "$ref": "Goal"
              }
            },
            "get": {
              "id": "analytics.management.goals.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Gets a goal to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "parameters": {
                "goalId": {
                  "type": "string",
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the goal for.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the goal for.",
                  "location": "path"
                }
              }
            },
            "patch": {
              "id": "analytics.management.goals.patch",
              "description": "Updates an existing goal. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "location": "path",
                  "required": true
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to update the goal.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Goal"
              },
              "httpMethod": "PATCH"
            },
            "list": {
              "response": {
                "$ref": "Goals"
              },
              "id": "analytics.management.goals.list",
              "httpMethod": "GET",
              "description": "Lists goals to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of goals to include in this response.",
                  "location": "query",
                  "format": "int32"
                },
                "start-index": {
                  "type": "integer",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "minimum": "1",
                  "location": "query",
                  "format": "int32"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "required": true
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "webproperties": {
          "methods": {
            "get": {
              "id": "analytics.management.webproperties.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "description": "Gets a web property to which the user has access.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "location": "path",
                  "pattern": "UA-[0-9]+-[0-9]+",
                  "type": "string",
                  "description": "ID to retrieve the web property for."
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the web property for.",
                  "pattern": "[0-9]+",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing web property. This method supports patch semantics.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.patch",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID",
                  "location": "path",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to which the web property belongs",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "response": {
                "$ref": "Webproperties"
              },
              "id": "analytics.management.webproperties.list",
              "httpMethod": "GET",
              "description": "Lists web properties to which the user has access.",
              "parameterOrder": [
                "accountId"
              ],
              "path": "management/accounts/{accountId}/webproperties",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "start-index": {
                  "format": "int32",
                  "location": "query",
                  "minimum": "1",
                  "type": "integer",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "location": "path",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of web properties to include in this response.",
                  "location": "query",
                  "format": "int32"
                }
              }
            },
            "insert": {
              "description": "Create a new property if the account has fewer than 20 properties. Web properties are visible in the Google Analytics interface only if they have at least one profile.",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "path": "management/accounts/{accountId}/webproperties",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.webproperties.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the web property for.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Webproperty"
              },
              "httpMethod": "POST"
            },
            "update": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Updates an existing web property.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "Webproperty"
              },
              "id": "analytics.management.webproperties.update",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the web property belongs",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "PUT",
              "response": {
                "$ref": "Webproperty"
              }
            }
          }
        },
        "customMetrics": {
          "methods": {
            "insert": {
              "httpMethod": "POST",
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "description": "Create a new custom metric.",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "id": "analytics.management.customMetrics.insert",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to create.",
                  "location": "path"
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path"
                }
              }
            },
            "update": {
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "location": "path",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
[...]
