{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "protocol": "rest",
  "servicePath": "analytics/v3/",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        }
      }
    }
  },
  "title": "Google Analytics API",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "type": "string",
      "description": "Data format for the response.",
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "schemas": {
    "Uploads": {
      "id": "Uploads",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "description": "A list of uploads.",
          "items": {
            "$ref": "Upload"
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#uploads"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        }
      },
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload."
    },
    "WebPropertySummary": {
      "type": "object",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "profiles": {
          "items": {
            "$ref": "ProfileSummary"
          },
          "type": "array",
          "description": "List of profiles under this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "kind": {
          "default": "analytics#webPropertySummary",
          "type": "string",
          "description": "Resource type for Analytics WebPropertySummary."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        }
      },
      "id": "WebPropertySummary"
    },
    "AccountSummary": {
      "properties": {
        "kind": {
          "default": "analytics#accountSummary",
          "type": "string",
          "description": "Resource type for Analytics AccountSummary."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "webProperties": {
          "items": {
            "$ref": "WebPropertySummary"
          },
          "type": "array",
          "description": "List of web properties under this account."
        }
      },
      "id": "AccountSummary",
      "type": "object",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles."
    },
    "ProfileFilterLinks": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this profile filter link collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#profileFilterLinks",
          "type": "string",
          "description": "Collection type."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "items": {
          "items": {
            "$ref": "ProfileFilterLink"
          },
          "type": "array",
          "description": "A list of profile filter links."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this profile filter link collection."
        }
      },
      "id": "ProfileFilterLinks",
      "type": "object",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link."
    },
    "ProfileRef": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Analytics view (profile) reference.",
          "default": "analytics#profileRef"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        }
      },
      "id": "ProfileRef",
      "type": "object",
      "description": "JSON template for a linked view (profile)."
    },
    "Experiments": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this experiment collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#experiments",
          "type": "string",
          "description": "Collection type."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "items": {
          "type": "array",
          "description": "A list of experiments.",
          "items": {
            "$ref": "Experiment"
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        }
      },
      "id": "Experiments",
      "type": "object",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment."
    },
    "GaData": {
      "type": "object",
      "description": "Analytics data for a given view (profile).",
      "id": "GaData",
      "properties": {
        "columnHeaders": {
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  }
                }
              },
              "type": "array"
            },
            "rows": {
              "items": {
                "type": "object",
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "type": "array"
            }
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "dataLastRefreshed": {
          "format": "int64",
          "type": "string",
          "description": "The last refreshed time in seconds for Analytics data."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "profileInfo": {
          "properties": {
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "kind": {
          "default": "analytics#gaData",
          "type": "string",
          "description": "Resource type."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "query": {
          "properties": {
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        }
      }
    },
    "UserDeletionRequest": {
      "properties": {
        "firebaseProjectId": {
          "type": "string",
          "description": "Firebase Project Id"
        },
        "kind": {
          "default": "analytics#userDeletionRequest",
          "type": "string",
          "description": "Value is \"analytics#userDeletionRequest\"."
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        },
        "deletionRequestTime": {
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted",
          "readOnly": true,
          "format": "date-time"
        },
        "id": {
          "properties": {
            "userId": {
              "type": "string",
              "description": "The User's id"
            },
            "type": {
              "type": "string",
              "description": "Type of user"
            }
          },
          "type": "object",
          "description": "User ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        }
      },
      "id": "UserDeletionRequest",
      "type": "object",
      "description": "JSON template for a user deletion request resource."
    },
    "FilterExpression": {
      "type": "object",
      "description": "JSON template for an Analytics filter expression.",
      "id": "FilterExpression",
      "properties": {
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "fieldIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION."
        },
        "kind": {
          "default": "analytics#filterExpression",
          "type": "string",
          "description": "Kind value for filter expression"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        }
      }
    },
    "RemarketingAudiences": {
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#remarketingAudiences"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "items": {
          "type": "array",
          "description": "A list of remarketing audiences.",
          "items": {
            "$ref": "RemarketingAudience"
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      },
      "id": "RemarketingAudiences",
      "type": "object",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience."
    },
    "CustomMetrics": {
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "items": {
          "items": {
            "$ref": "CustomMetric"
          },
          "type": "array",
          "description": "Collection of custom metrics."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customMetrics"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "CustomMetrics"
    },
    "HashClientIdResponse": {
      "type": "object",
      "description": "JSON template for a hash Client Id response resource.",
      "properties": {
        "hashedClientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "kind": {
          "default": "analytics#hashClientIdResponse",
          "type": "string"
        },
        "clientId": {
          "type": "string"
        }
      },
      "id": "HashClientIdResponse"
    },
    "IncludeConditions": {
      "id": "IncludeConditions",
      "properties": {
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        },
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        },
        "membershipDurationDays": {
          "type": "integer",
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "format": "int32"
        },
        "daysToLookBack": {
          "format": "int32",
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience."
        },
        "kind": {
          "default": "analytics#includeConditions",
          "type": "string",
          "description": "Resource type for include conditions."
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Include Conditions."
    },
    "WebPropertyRef": {
      "id": "WebPropertyRef",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "kind": {
          "type": "string",
          "description": "Analytics web property reference.",
          "default": "analytics#webPropertyRef"
        }
      },
      "type": "object",
      "description": "JSON template for a web property reference."
    },
    "LinkedForeignAccount": {
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "id": "LinkedForeignAccount",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for linked foreign account.",
          "default": "analytics#linkedForeignAccount"
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs.",
          "readOnly": true
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        }
      }
    },
    "ProfileSummary": {
      "properties": {
        "kind": {
          "default": "analytics#profileSummary",
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary."
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        }
      },
      "id": "ProfileSummary",
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile."
    },
    "EntityAdWordsLink": {
      "id": "EntityAdWordsLink",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the link. This field is required when creating a Google Ads link.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "entity": {
          "type": "object",
          "description": "Web property being linked.",
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Entity Google Ads link ID"
        },
        "profileIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of linked Views (Profiles) represented as strings."
        },
        "selfLink": {
          "type": "string",
          "description": "URL link for this Google Analytics - Google Ads link."
        },
        "adWordsAccounts": {
          "items": {
            "$ref": "AdWordsAccount"
          },
          "type": "array",
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty.",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          }
        },
        "kind": {
          "default": "analytics#entityAdWordsLink",
          "type": "string",
          "description": "Resource type for entity Google Ads link."
        }
      },
      "type": "object",
      "description": "JSON template for Analytics Entity Google Ads Link."
    },
    "EntityAdWordsLinks": {
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link.",
      "id": "EntityAdWordsLinks",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "items": {
          "items": {
            "$ref": "EntityAdWordsLink"
          },
          "type": "array",
          "description": "A list of entity Google Ads links."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#entityAdWordsLinks",
          "type": "string",
          "description": "Collection type."
        }
      }
    },
    "McfData": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          }
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "items": {
                    "type": "object",
                    "properties": {
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      },
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      }
                    }
                  },
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes."
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated."
            }
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "profileInfo": {
          "properties": {
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "kind": {
          "type": "string",
          "description": "Resource type.",
          "default": "analytics#mcfData"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "sampleSize": {
          "type": "string",
          "description": "The number of samples used to calculate the result.",
          "format": "int64"
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of analytics metrics."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "start-index": {
              "type": "integer",
              "description": "Start index.",
              "format": "int32"
            }
          }
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        }
      },
      "id": "McfData",
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile)."
    },
    "Filter": {
      "type": "object",
      "description": "JSON template for an Analytics account filter.",
      "id": "Filter",
      "properties": {
        "includeDetails": {
          "description": "Details for the filter of the type INCLUDE.",
          "$ref": "FilterExpression"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this filter.",
          "readOnly": true
        },
        "parentLink": {
          "properties": {
            "type": {
              "default": "analytics#account",
              "type": "string",
              "description": "Value is \"analytics#account\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            }
          },
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs."
        },
        "lowercaseDetails": {
          "properties": {
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            }
          },
          "type": "object",
          "description": "Details for the filter of the type LOWER."
        },
        "name": {
          "type": "string",
          "description": "Name of this filter.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "updated": {
          "type": "string",
          "description": "Time this filter was last modified.",
          "readOnly": true,
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "uppercaseDetails": {
          "type": "object",
          "description": "Details for the filter of the type UPPER.",
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            }
          }
        },
        "kind": {
          "default": "analytics#filter",
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "advancedDetails": {
          "type": "object",
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            },
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "fieldBIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldAIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "outputToFieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          }
        },
        "excludeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type EXCLUDE."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this filter was created.",
          "readOnly": true
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            }
          }
        }
      }
    },
    "AccountTreeRequest": {
      "id": "AccountTreeRequest",
      "properties": {
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "webpropertyName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "RealtimeData": {
      "type": "object",
      "description": "Real time data for a given view (profile).",
      "properties": {
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "kind": {
          "default": "analytics#realtimeData",
          "type": "string",
          "description": "Resource type."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          }
        },
        "columnHeaders": {
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          },
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "rows": {
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "query": {
          "type": "object",
          "description": "Real time data request query parameters.",
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "dimensions": {
              "type": "string",
              "description": "List of real time dimensions."
            },
            "sort": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of dimensions or metrics based on which real time data is sorted."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            },
            "metrics": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "List of real time metrics."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        }
      },
      "id": "RealtimeData"
    },
    "AccountRef": {
      "id": "AccountRef",
      "properties": {
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "kind": {
          "type": "string",
          "description": "Analytics account reference.",
          "default": "analytics#accountRef"
        },
        "href": {
          "type": "string",
          "description": "Link for this account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        }
      },
      "type": "object",
      "description": "JSON template for a linked account."
    },
    "HashClientIdRequest": {
      "type": "object",
      "description": "JSON template for a hash Client Id request resource.",
      "properties": {
        "clientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdRequest"
        }
      },
      "id": "HashClientIdRequest"
    },
    "Webproperty": {
      "id": "Webproperty",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "updated": {
          "type": "string",
          "description": "Time this web property was last modified.",
          "readOnly": true,
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        },
        "kind": {
          "default": "analytics#webproperty",
          "type": "string",
          "description": "Resource type for Analytics WebProperty.",
          "readOnly": true
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "readOnly": true
            }
          }
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this web property was created.",
          "readOnly": true
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "readOnly": true
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            },
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            }
          }
        },
        "defaultProfileId": {
          "type": "string",
          "description": "Default view (profile) ID.",
          "format": "int64"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this web property.",
          "readOnly": true
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\".",
              "default": "analytics#account"
            }
          }
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "type": "object",
      "description": "JSON template for an Analytics web property."
    },
    "Webproperties": {
      "type": "object",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "id": "Webproperties",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#webproperties"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      }
    },
    "Goals": {
      "type": "object",
      "description": "A goal collection lists Analytics goals to which the user has access. Each view (profile) can have a set of goals. Each resource in the Goal collection corresponds to a single Analytics goal.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this goal collection."
        },
        "items": {
          "items": {
            "$ref": "Goal"
          },
          "type": "array",
          "description": "A list of goals."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#goals",
          "type": "string",
          "description": "Collection type."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this goal collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        }
      },
      "id": "Goals"
    },
    "Goal": {
      "properties": {
        "kind": {
          "default": "analytics#goal",
          "type": "string",
          "description": "Resource type for an Analytics goal."
        },
        "value": {
          "format": "float",
          "type": "number",
          "description": "Goal value."
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "updated": {
          "type": "string",
          "description": "Time this goal was last modified.",
          "format": "date-time"
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "created": {
          "type": "string",
          "description": "Time this goal was created.",
          "format": "date-time"
        },
        "visitTimeOnSiteDetails": {
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            },
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE."
        },
        "eventDetails": {
          "type": "object",
          "description": "Details for the goal of the type EVENT.",
          "properties": {
            "eventConditions": {
              "items": {
                "type": "object",
                "properties": {
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "comparisonValue": {
                    "type": "string",
                    "description": "Value used for this comparison.",
                    "format": "int64"
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  }
                }
              },
              "type": "array",
              "description": "List of event conditions."
            },
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            }
          }
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\".",
              "default": "analytics#profile"
            },
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            }
          }
        },
        "urlDestinationDetails": {
          "properties": {
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            },
            "steps": {
              "type": "array",
              "description": "List of steps configured for this goal funnel.",
              "items": {
                "type": "object",
                "properties": {
                  "number": {
                    "type": "integer",
                    "description": "Step number.",
                    "format": "int32"
                  },
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                }
              }
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "url": {
              "type": "string",
              "description": "URL for this goal."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "visitNumPagesDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            },
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            }
          }
        }
      },
      "id": "Goal",
      "type": "object",
      "description": "JSON template for Analytics goal resource."
    },
    "Account": {
      "type": "object",
      "description": "JSON template for Analytics account entry.",
      "id": "Account",
      "properties": {
        "kind": {
          "default": "analytics#account",
          "type": "string",
          "description": "Resource type for Analytics account."
        },
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was last modified."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was created."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for an account entry. Points to the list of web properties for this account.",
          "properties": {
            "type": {
              "default": "analytics#webproperties",
              "type": "string",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            }
          }
        },
        "permissions": {
          "properties": {
            "effective": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true
            }
          },
          "type": "object",
          "description": "Permissions the user has for this account."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this account."
        }
      }
    },
    "Upload": {
      "properties": {
        "kind": {
          "default": "analytics#upload",
          "type": "string",
          "description": "Resource type for Analytics upload."
        },
        "uploadTime": {
          "type": "string",
          "description": "Time this file is uploaded.",
          "format": "date-time"
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account Id to which this upload belongs."
        },
        "errors": {
          "type": "array",
          "description": "Data import errors collection.",
          "items": {
            "type": "string"
          }
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        }
      },
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation."
    },
    "FilterRef": {
      "properties": {
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs.",
          "readOnly": true
        },
        "href": {
          "type": "string",
          "description": "Link for this filter."
        },
        "id": {
          "type": "string",
          "description": "Filter ID.",
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          }
        },
        "name": {
          "type": "string",
          "description": "Name of this filter.",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Kind value for filter reference.",
          "default": "analytics#filterRef"
        }
      },
      "id": "FilterRef",
      "type": "object",
      "description": "JSON template for a profile filter link."
    },
    "CustomDimension": {
      "type": "object",
      "description": "JSON template for Analytics Custom Dimension.",
      "properties": {
        "kind": {
          "default": "analytics#customDimension",
          "type": "string",
          "description": "Kind value for a custom dimension. Set to \"analytics#customDimension\". It is a read-only field.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Custom dimension ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom dimension is active."
        },
        "index": {
          "format": "int32",
          "type": "integer",
          "description": "Index of the custom dimension.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the custom dimension."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom dimension: HIT, SESSION, USER or PRODUCT."
        },
        "updated": {
          "type": "string",
          "description": "Time the custom dimension was last modified.",
          "readOnly": true,
          "format": "date-time"
        },
        "created": {
          "type": "string",
          "description": "Time the custom dimension was created.",
          "readOnly": true,
          "format": "date-time"
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom dimension belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\"."
            }
          },
          "type": "object",
          "description": "Parent link for the custom dimension. Points to the property to which the custom dimension belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for the custom dimension",
          "readOnly": true
        }
      },
      "id": "CustomDimension"
    },
    "EntityUserLink": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Entity user link ID"
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this entity.",
          "properties": {
            "local": {
              "items": {
                "type": "string"
              },
              "type": "array",
              "description": "Permissions that a user has been assigned at this very level. Does not include any implied or inherited permissions. Local permissions are modifiable."
            },
            "effective": {
              "type": "array",
              "description": "Effective permissions represent all the permissions that a user has for this entity. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent entity. Effective permissions are read-only.",
              "readOnly": true,
              "items": {
                "type": "string"
              }
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Self link for this resource."
        },
        "entity": {
          "properties": {
            "accountRef": {
              "description": "Account for this link.",
              "$ref": "AccountRef"
            },
            "webPropertyRef": {
              "description": "Web property for this link.",
              "$ref": "WebPropertyRef"
            },
            "profileRef": {
              "$ref": "ProfileRef",
              "description": "View (Profile) for this link."
            }
          },
          "type": "object",
          "description": "Entity for this link. It can be an account, a web property, or a view (profile)."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for entity user link.",
          "default": "analytics#entityUserLink"
        },
        "userRef": {
          "description": "User reference.",
          "$ref": "UserRef"
        }
      },
      "id": "EntityUserLink",
      "type": "object",
      "description": "JSON template for an Analytics Entity-User Link. Returns permissions that a user has for an entity."
    },
    "Profiles": {
      "type": "object",
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "default": "analytics#profiles",
          "type": "string",
          "description": "Collection type."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "items": {
          "items": {
            "$ref": "Profile"
          },
          "type": "array",
          "description": "A list of views (profiles)."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this view (profile) collection."
        }
      },
      "id": "Profiles"
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "properties": {
        "customDataImportUids": {
          "type": "array",
          "description": "A list of upload UIDs.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Request template for the delete upload data request."
    },
    "CustomDataSource": {
      "type": "object",
      "description": "JSON template for an Analytics custom data source.",
      "properties": {
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this custom data source was created."
        },
        "schema": {
          "type": "array",
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "kind": {
          "default": "analytics#customDataSource",
          "type": "string",
          "description": "Resource type for Analytics custom data source."
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "importBehavior": {
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "updated": {
          "type": "string",
          "description": "Time this custom data source was last modified.",
          "format": "date-time"
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            }
          },
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            }
          }
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "profilesLinked": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source."
        }
      },
      "id": "CustomDataSource"
    },
    "AccountTreeResponse": {
      "type": "object",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeResponse"
        },
        "profile": {
          "description": "View (Profile) for the account.",
          "$ref": "Profile"
        },
        "account": {
          "$ref": "Account",
          "description": "The account created."
        }
      },
      "id": "AccountTreeResponse"
    },
    "ProfileFilterLink": {
      "type": "object",
      "description": "JSON template for an Analytics profile filter link.",
      "properties": {
        "rank": {
          "format": "int32",
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1."
        },
        "filterRef": {
          "description": "Filter for this link.",
          "$ref": "FilterRef"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "readOnly": true,
          "default": "analytics#profileFilterLink"
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this profile filter link.",
          "readOnly": true
        }
      },
      "id": "ProfileFilterLink"
    },
    "Accounts": {
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "items": {
            "$ref": "Account"
          },
          "type": "array",
          "description": "A list of accounts."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#accounts"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "id": "Accounts"
    },
    "CustomMetric": {
      "type": "object",
      "description": "JSON template for Analytics Custom Metric.",
      "id": "CustomMetric",
      "properties": {
        "created": {
          "type": "string",
          "description": "Time the custom metric was created.",
          "readOnly": true,
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "Data type of custom metric."
        },
        "kind": {
          "default": "analytics#customMetric",
          "type": "string",
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "Boolean indicating whether the custom metric is active."
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the custom metric was last modified.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name of the custom metric."
        },
        "scope": {
          "type": "string",
          "description": "Scope of the custom metric: HIT or PRODUCT."
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of the parent link. Set to \"analytics#webproperty\".",
              "default": "analytics#webproperty"
            },
            "href": {
              "type": "string",
              "description": "Link to the property to which the custom metric belongs."
            }
          },
          "type": "object",
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for the custom metric",
          "readOnly": true
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "index": {
          "type": "integer",
          "description": "Index of the custom metric.",
          "readOnly": true,
          "format": "int32"
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        }
      }
    },
    "Columns": {
      "properties": {
        "items": {
          "items": {
            "$ref": "Column"
          },
          "type": "array",
          "description": "List of columns for a report type."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of columns returned in the response."
        },
        "attributeNames": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of attributes names returned by columns."
        },
        "kind": {
          "default": "analytics#columns",
          "type": "string",
          "description": "Collection type."
        },
        "etag": {
          "type": "string",
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed."
        }
      },
      "id": "Columns",
      "type": "object",
      "description": "Lists columns (dimensions and metrics) for a particular report type."
    },
    "Segments": {
      "id": "Segments",
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this segment collection."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "items": {
          "type": "array",
          "description": "A list of segments.",
          "items": {
            "$ref": "Segment"
          }
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "kind": {
          "default": "analytics#segments",
          "type": "string",
          "description": "Collection type for segments."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this segment collection."
        }
      },
      "type": "object",
[...]
