{
  "servicePath": "analytics/v3/",
  "batchPath": "batch/analytics/v3",
  "description": "Views and manages your Google Analytics data.",
  "discoveryVersion": "v1",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "rootUrl": "https://analytics.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/analytics-16.png",
    "x32": "https://www.google.com/images/icons/product/analytics-32.png"
  },
  "revision": "20190807",
  "kind": "discovery#restDescription",
  "schemas": {
    "Account": {
      "id": "Account",
      "description": "JSON template for Analytics account entry.",
      "properties": {
        "id": {
          "description": "Account ID.",
          "type": "string"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the account was last modified."
        },
        "created": {
          "description": "Time the account was created.",
          "type": "string",
          "format": "date-time"
        },
        "kind": {
          "description": "Resource type for Analytics account.",
          "type": "string",
          "default": "analytics#account"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        },
        "permissions": {
          "properties": {
            "effective": {
              "description": "All the permissions that the user has for this account. These include any implied permissions (e.g., EDIT implies VIEW).",
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "description": "Permissions the user has for this account.",
          "type": "object"
        },
        "name": {
          "description": "Account name.",
          "type": "string"
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#webproperties",
              "description": "Type of the child link. Its value is \"analytics#webproperties\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the list of web properties for this account."
            }
          },
          "description": "Child link for an account entry. Points to the list of web properties for this account."
        },
        "selfLink": {
          "description": "Link for this account.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Filter": {
      "type": "object",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this filter."
        },
        "parentLink": {
          "description": "Parent link for this filter. Points to the account to which this filter belongs.",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#account",
              "description": "Value is \"analytics#account\"."
            },
            "href": {
              "description": "Link to the account to which this filter belongs.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "analytics#filter",
          "description": "Resource type for Analytics filter."
        },
        "advancedDetails": {
          "properties": {
            "fieldARequired": {
              "description": "Indicates if field A is required to match.",
              "type": "boolean"
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            },
            "fieldBIndex": {
              "type": "integer",
              "format": "int32",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "outputToFieldIndex": {
              "type": "integer",
              "format": "int32",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "fieldAIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          },
          "description": "Details for the filter of the type ADVANCED.",
          "type": "object"
        },
        "excludeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type EXCLUDE."
        },
        "updated": {
          "description": "Time this filter was last modified.",
          "format": "date-time",
          "readOnly": true,
          "type": "string"
        },
        "uppercaseDetails": {
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32",
              "type": "integer"
            }
          },
          "description": "Details for the filter of the type UPPER.",
          "type": "object"
        },
        "accountId": {
          "description": "Account ID to which this filter belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this filter.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          }
        },
        "searchAndReplaceDetails": {
          "properties": {
            "caseSensitive": {
              "description": "Determines if the filter is case sensitive.",
              "type": "boolean"
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "field": {
              "description": "Field to use in the filter.",
              "type": "string"
            }
          },
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "type": "object"
        },
        "includeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type INCLUDE."
        },
        "type": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED."
        },
        "lowercaseDetails": {
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          },
          "description": "Details for the filter of the type LOWER.",
          "type": "object"
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this filter was created."
        },
        "id": {
          "description": "Filter ID.",
          "type": "string"
        }
      },
      "id": "Filter",
      "description": "JSON template for an Analytics account filter."
    },
    "Filters": {
      "type": "object",
      "id": "Filters",
      "description": "A filter collection lists filters created by users in an Analytics account. Each resource in the collection corresponds to a filter.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#filters",
          "description": "Collection type."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this filter collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this filter collection."
        },
        "items": {
          "description": "A list of filters.",
          "type": "array",
          "items": {
            "$ref": "Filter"
          }
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ProfileRef": {
      "type": "object",
      "id": "ProfileRef",
      "description": "JSON template for a linked view (profile).",
      "properties": {
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "id": {
          "description": "View (Profile) ID.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        },
        "kind": {
          "description": "Analytics view (profile) reference.",
          "type": "string",
          "default": "analytics#profileRef"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "name": {
          "description": "Name of this view (profile).",
          "type": "string"
        }
      }
    },
    "Webproperties": {
      "properties": {
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#webproperties"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "nextLink": {
          "description": "Link to next page for this web property collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webproperty"
          },
          "description": "A list of web properties."
        }
      },
      "id": "Webproperties",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "type": "object"
    },
    "AnalyticsDataimportDeleteUploadDataRequest": {
      "properties": {
        "customDataImportUids": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of upload UIDs."
        }
      },
      "id": "AnalyticsDataimportDeleteUploadDataRequest",
      "description": "Request template for the delete upload data request.",
      "type": "object"
    },
    "UserDeletionRequest": {
      "type": "object",
      "id": "UserDeletionRequest",
      "description": "JSON template for a user deletion request resource.",
      "properties": {
        "id": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Type of user"
            },
            "userId": {
              "type": "string",
              "description": "The User's id"
            }
          },
          "description": "User ID.",
          "type": "object"
        },
        "propertyId": {
          "type": "string",
          "description": "Property ID"
        },
        "kind": {
          "type": "string",
          "default": "analytics#userDeletionRequest",
          "description": "Value is \"analytics#userDeletionRequest\"."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "deletionRequestTime": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "This marks the point in time for which all user data before should be deleted"
        },
        "firebaseProjectId": {
          "description": "Firebase Project Id",
          "type": "string"
        }
      }
    },
    "UserRef": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#userRef"
        },
        "id": {
          "description": "User ID.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "Email ID of this user."
        }
      },
      "id": "UserRef",
      "description": "JSON template for a user reference.",
      "type": "object"
    },
    "AccountTreeResponse": {
      "type": "object",
      "id": "AccountTreeResponse",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
          "default": "analytics#accountTreeResponse"
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "account": {
          "$ref": "Account",
          "description": "The account created."
        },
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        }
      }
    },
    "ProfileSummary": {
      "type": "object",
      "properties": {
        "id": {
          "description": "View (profile) ID.",
          "type": "string"
        },
        "name": {
          "description": "View (profile) name.",
          "type": "string"
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "kind": {
          "type": "string",
          "default": "analytics#profileSummary",
          "description": "Resource type for Analytics ProfileSummary."
        }
      },
      "id": "ProfileSummary",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile."
    },
    "RemarketingAudience": {
      "type": "object",
      "id": "RemarketingAudience",
      "description": "JSON template for an Analytics remarketing audience.",
      "properties": {
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this remarketing audience belongs.",
          "readOnly": true,
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this remarketing audience belongs.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "created": {
          "description": "Time this remarketing audience was created.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "id": {
          "description": "Remarketing Audience ID.",
          "type": "string"
        },
        "audienceDefinition": {
          "type": "object",
          "properties": {
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          },
          "description": "The simple audience definition that will cause a user to be added to an audience."
        },
        "description": {
          "type": "string",
          "readOnly": true,
          "description": "The description of this remarketing audience."
        },
        "linkedAdAccounts": {
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
          "type": "array",
          "items": {
            "$ref": "LinkedForeignAccount"
          }
        },
        "linkedViews": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The views (profiles) that this remarketing audience is linked to."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs.",
          "type": "string"
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        },
        "stateBasedAudienceDefinition": {
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience.",
          "properties": {
            "excludeConditions": {
              "properties": {
                "exclusionDuration": {
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT.",
                  "type": "string"
                },
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                }
              },
              "description": "Defines the conditions to exclude users from the audience.",
              "type": "object"
            },
            "includeConditions": {
              "$ref": "IncludeConditions",
              "description": "Defines the conditions to include users to the audience."
            }
          }
        },
        "updated": {
          "type": "string",
          "format": "date-time",
          "readOnly": true,
          "description": "Time this remarketing audience was last modified."
        },
        "kind": {
          "type": "string",
          "default": "analytics#remarketingAudience",
          "description": "Collection type."
        }
      }
    },
    "CustomMetrics": {
      "type": "object",
      "properties": {
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this custom metric collection.",
          "type": "string"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "kind": {
          "type": "string",
          "default": "analytics#customMetrics",
          "description": "Collection type."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "description": "Collection of custom metrics.",
          "type": "array",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        }
      },
      "id": "CustomMetrics",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric."
    },
    "WebPropertySummary": {
      "properties": {
        "kind": {
          "description": "Resource type for Analytics WebPropertySummary.",
          "type": "string",
          "default": "analytics#webPropertySummary"
        },
        "profiles": {
          "description": "List of profiles under this web property.",
          "type": "array",
          "items": {
            "$ref": "ProfileSummary"
          }
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "name": {
          "description": "Web property name.",
          "type": "string"
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "internalWebPropertyId": {
          "description": "Internal ID for this web property.",
          "type": "string"
        },
        "level": {
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM.",
          "type": "string"
        }
      },
      "id": "WebPropertySummary",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property.",
      "type": "object"
    },
    "Column": {
      "properties": {
        "attributes": {
          "type": "object",
          "description": "Map of attribute name and value for this column.",
          "additionalProperties": {
            "description": "The name of the attribute.",
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "Column id."
        },
        "kind": {
          "type": "string",
          "default": "analytics#column",
          "description": "Resource type for Analytics column."
        }
      },
      "id": "Column",
      "description": "JSON template for a metadata column.",
      "type": "object"
    },
    "CustomDataSource": {
      "type": "object",
      "properties": {
        "description": {
          "description": "Description of custom data source.",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "type": {
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\".",
              "type": "string"
            },
            "href": {
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source.",
              "type": "string"
            }
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "profilesLinked": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of views (profiles) linked to the custom data source."
        },
        "updated": {
          "description": "Time this custom data source was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "description": "Link to the web property to which this custom data source belongs.",
              "type": "string"
            },
            "type": {
              "description": "Value is \"analytics#webproperty\".",
              "type": "string",
              "default": "analytics#webproperty"
            }
          },
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs."
        },
        "kind": {
          "description": "Resource type for Analytics custom data source.",
          "type": "string",
          "default": "analytics#customDataSource"
        },
        "schema": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Collection of schema headers of the custom data source."
        },
        "accountId": {
          "description": "Account ID to which this custom data source belongs.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "importBehavior": {
          "type": "string"
        },
        "created": {
          "description": "Time this custom data source was created.",
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        }
      },
      "id": "CustomDataSource",
      "description": "JSON template for an Analytics custom data source."
    },
    "Goal": {
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "kind": {
          "description": "Resource type for an Analytics goal.",
          "type": "string",
          "default": "analytics#goal"
        },
        "parentLink": {
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs.",
          "properties": {
            "type": {
              "description": "Value is \"analytics#profile\".",
              "type": "string",
              "default": "analytics#profile"
            },
            "href": {
              "description": "Link to the view (profile) to which this goal belongs.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "eventDetails": {
          "properties": {
            "eventConditions": {
              "description": "List of event conditions.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "comparisonValue": {
                    "format": "int64",
                    "type": "string",
                    "description": "Value used for this comparison."
                  }
                }
              }
            },
            "useEventValue": {
              "description": "Determines if the event value should be used as the value for this goal.",
              "type": "boolean"
            }
          },
          "description": "Details for the goal of the type EVENT.",
          "type": "object"
        },
        "urlDestinationDetails": {
          "description": "Details for the goal of the type URL_DESTINATION.",
          "properties": {
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "url": {
              "description": "URL for this goal.",
              "type": "string"
            },
            "firstStepRequired": {
              "description": "Determines if the first step in this goal is required.",
              "type": "boolean"
            },
            "matchType": {
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX.",
              "type": "string"
            },
            "steps": {
              "description": "List of steps configured for this goal funnel.",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "name": {
                    "description": "Step name.",
                    "type": "string"
                  },
                  "number": {
                    "format": "int32",
                    "type": "integer",
                    "description": "Step number."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  }
                }
              }
            }
          },
          "type": "object"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time this goal was last modified."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "visitTimeOnSiteDetails": {
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE.",
          "properties": {
            "comparisonType": {
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN.",
              "type": "string"
            },
            "comparisonValue": {
              "description": "Value used for this comparison.",
              "type": "string",
              "format": "int64"
            }
          },
          "type": "object"
        },
        "active": {
          "description": "Determines whether this goal is active.",
          "type": "boolean"
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "value": {
          "description": "Goal value.",
          "type": "number",
          "format": "float"
        },
        "visitNumPagesDetails": {
          "properties": {
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            },
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            }
          },
          "description": "Details for the goal of the type VISIT_NUM_PAGES.",
          "type": "object"
        },
        "id": {
          "description": "Goal ID.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time this goal was created."
        }
      },
      "id": "Goal",
      "description": "JSON template for Analytics goal resource.",
      "type": "object"
    },
    "HashClientIdResponse": {
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdResponse"
        },
        "webPropertyId": {
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "hashedClientId": {
          "type": "string"
        }
      },
      "id": "HashClientIdResponse",
      "description": "JSON template for a hash Client Id response resource.",
      "type": "object"
    },
    "EntityUserLinks": {
      "id": "EntityUserLinks",
      "description": "An entity user link collection provides a list of Analytics ACL links Each resource in this collection corresponds to a single link.",
      "properties": {
        "nextLink": {
          "description": "Next link for this account collection.",
          "type": "string"
        },
        "items": {
          "description": "A list of entity user links.",
          "type": "array",
          "items": {
            "$ref": "EntityUserLink"
          }
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "type": "string",
          "default": "analytics#entityUserLinks",
          "description": "Collection type."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "Experiments": {
      "properties": {
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "items": {
          "description": "A list of experiments.",
          "type": "array",
          "items": {
            "$ref": "Experiment"
          }
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this experiment collection."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "previousLink": {
          "description": "Link to previous page for this experiment collection.",
          "type": "string"
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#experiments"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      },
      "id": "Experiments",
      "description": "An experiment collection lists Analytics experiments to which the user has access. Each view (profile) can have a set of experiments. Each resource in the Experiment collection corresponds to a single Analytics experiment.",
      "type": "object"
    },
    "RemarketingAudiences": {
      "type": "object",
      "id": "RemarketingAudiences",
      "description": "A remarketing audience collection lists Analytics remarketing audiences to which the user has access. Each resource in the collection corresponds to a single Analytics remarketing audience.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#remarketingAudiences",
          "description": "Collection type."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32",
          "type": "integer"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "RemarketingAudience"
          },
          "description": "A list of remarketing audiences."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this remarketing audience collection."
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      }
    },
    "Uploads": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#uploads"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "previousLink": {
          "description": "Link to previous page for this upload collection.",
          "type": "string"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "items": {
          "description": "A list of uploads.",
          "type": "array",
          "items": {
            "$ref": "Upload"
          }
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Uploads",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload."
    },
    "ProfileFilterLink": {
      "properties": {
        "profileRef": {
          "$ref": "ProfileRef",
          "description": "View (Profile) for this link."
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        },
        "rank": {
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "description": "Resource type for Analytics filter.",
          "readOnly": true,
          "type": "string",
          "default": "analytics#profileFilterLink"
        },
        "selfLink": {
          "description": "Link for this profile filter link.",
          "type": "string",
          "readOnly": true
        },
        "id": {
          "description": "Profile filter link ID.",
          "type": "string"
        }
      },
      "id": "ProfileFilterLink",
      "description": "JSON template for an Analytics profile filter link.",
      "type": "object"
    },
    "UnsampledReport": {
      "properties": {
        "updated": {
          "description": "Time this unsampled report was last modified.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "filters": {
          "description": "The filters for the unsampled report.",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for an Analytics unsampled report.",
          "type": "string",
          "default": "analytics#unsampledReport",
          "readOnly": true
        },
        "dimensions": {
          "type": "string",
          "description": "The dimensions for the unsampled report."
        },
        "start-date": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "description": "The start date for the unsampled report."
        },
        "status": {
          "description": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.",
          "readOnly": true,
          "type": "string"
        },
        "downloadType": {
          "description": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field.",
          "type": "string",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this unsampled report."
        },
        "id": {
          "description": "Unsampled report ID.",
          "type": "string"
        },
        "created": {
          "description": "Time this unsampled report was created.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "cloudStorageDownloadDetails": {
          "description": "Download details for a file stored in Google Cloud Storage.",
          "properties": {
            "objectId": {
              "type": "string",
              "description": "Id of the file object containing the report data."
            },
            "bucketId": {
              "description": "Id of the bucket the file object is stored in.",
              "type": "string"
            }
          },
          "readOnly": true,
          "type": "object"
        },
        "profileId": {
          "description": "View (Profile) ID to which this unsampled report belongs.",
          "type": "string"
        },
        "metrics": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "description": "The metrics for the unsampled report."
        },
        "end-date": {
          "description": "The end date for the unsampled report.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "segment": {
          "type": "string",
          "description": "The segment for the unsampled report."
        },
        "driveDownloadDetails": {
          "readOnly": true,
          "type": "object",
          "description": "Download details for a file stored in Google Drive.",
          "properties": {
            "documentId": {
              "type": "string",
              "description": "Id of the document/file containing the report data."
            }
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this unsampled report belongs."
        },
        "title": {
          "description": "Title of the unsampled report.",
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        }
      },
      "id": "UnsampledReport",
      "description": "JSON template for Analytics unsampled report resource.",
      "type": "object"
    },
    "Segment": {
      "type": "object",
      "properties": {
        "created": {
          "type": "string",
          "format": "date-time",
          "description": "Time the segment was created."
        },
        "id": {
          "description": "Segment ID.",
          "type": "string"
        },
        "updated": {
          "description": "Time the segment was last modified.",
          "format": "date-time",
          "type": "string"
        },
        "type": {
          "description": "Type for a segment. Possible values are \"BUILT_IN\" or \"CUSTOM\".",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics segment.",
          "type": "string",
          "default": "analytics#segment"
        },
        "definition": {
          "type": "string",
          "description": "Segment definition."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this segment."
        },
        "name": {
          "type": "string",
          "description": "Segment name."
        },
        "segmentId": {
          "description": "Segment ID. Can be used with the 'segment' parameter in Core Reporting API.",
          "type": "string"
        }
      },
      "id": "Segment",
      "description": "JSON template for an Analytics segment."
    },
    "EntityAdWordsLink": {
      "type": "object",
      "id": "EntityAdWordsLink",
      "description": "JSON template for Analytics Entity Google Ads Link.",
      "properties": {
        "entity": {
          "type": "object",
          "properties": {
            "webPropertyRef": {
              "$ref": "WebPropertyRef"
            }
          },
          "description": "Web property being linked."
        },
        "id": {
          "description": "Entity Google Ads link ID",
          "type": "string"
        },
        "adWordsAccounts": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "array",
          "items": {
            "$ref": "AdWordsAccount"
          },
          "description": "A list of Google Ads client accounts. These cannot be MCC accounts. This field is required when creating a Google Ads link. It cannot be empty."
        },
        "profileIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "IDs of linked Views (Profiles) represented as strings."
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "string",
          "description": "Name of the link. This field is required when creating a Google Ads link."
        },
        "kind": {
          "type": "string",
          "default": "analytics#entityAdWordsLink",
          "description": "Resource type for entity Google Ads link."
        },
        "selfLink": {
          "type": "string",
          "description": "URL link for this Google Analytics - Google Ads link."
        }
      }
    },
    "AccountTicket": {
      "id": "AccountTicket",
      "description": "JSON template for an Analytics account ticket. The account ticket consists of the ticket ID and the basic information for the account, property and profile.",
      "properties": {
        "webproperty": {
          "$ref": "Webproperty",
          "description": "Web property for the account."
        },
        "kind": {
          "type": "string",
          "default": "analytics#accountTicket",
          "description": "Resource type for account ticket."
        },
        "account": {
          "$ref": "Account",
          "description": "Account for this ticket."
        },
        "id": {
          "description": "Account ticket ID used to access the account ticket.",
          "type": "string"
        },
        "redirectUri": {
          "description": "Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in APIs console as a callback URL.",
          "type": "string"
        },
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        }
      },
      "type": "object"
    },
    "FilterRef": {
      "properties": {
        "href": {
          "description": "Link for this filter.",
          "type": "string"
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.profileFilterLinks.insert"
            ]
          },
          "type": "string",
          "description": "Filter ID."
        },
        "accountId": {
          "readOnly": true,
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "kind": {
          "description": "Kind value for filter reference.",
          "type": "string",
          "default": "analytics#filterRef"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Name of this filter."
        }
      },
      "id": "FilterRef",
      "description": "JSON template for a profile filter link.",
      "type": "object"
    },
    "IncludeConditions": {
      "properties": {
        "isSmartList": {
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577",
          "type": "boolean"
        },
        "kind": {
          "description": "Resource type for include conditions.",
          "type": "string",
          "default": "analytics#includeConditions"
        },
        "membershipDurationDays": {
          "description": "Number of days (in the range 1 to 540) a user remains in the audience.",
          "type": "integer",
          "format": "int32"
        },
        "daysToLookBack": {
          "format": "int32",
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience."
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        }
      },
      "id": "IncludeConditions",
      "description": "JSON template for an Analytics Remarketing Include Conditions.",
      "type": "object"
    },
    "UnsampledReports": {
      "type": "object",
      "properties": {
        "nextLink": {
          "description": "Link to next page for this unsampled report collection.",
          "type": "string"
        },
        "items": {
          "description": "A list of unsampled reports.",
          "type": "array",
          "items": {
            "$ref": "UnsampledReport"
          }
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#unsampledReports"
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "totalResults": {
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      },
      "id": "UnsampledReports",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report."
    },
    "Columns": {
      "id": "Columns",
      "description": "Lists columns (dimensions and metrics) for a particular report type.",
      "properties": {
        "attributeNames": {
          "description": "List of attributes names returned by columns.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#columns"
        },
        "etag": {
          "description": "Etag of collection. This etag can be compared with the last response etag to check if response has changed.",
          "type": "string"
        },
        "totalResults": {
          "description": "Total number of columns returned in the response.",
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Column"
          },
          "description": "List of columns for a report type."
        }
      },
      "type": "object"
    },
    "LinkedForeignAccount": {
      "type": "object",
      "properties": {
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs."
        },
        "status": {
          "description": "The status of this foreign account link.",
          "type": "string"
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs.",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this linked foreign account belongs.",
          "type": "string"
        },
        "remarketingAudienceId": {
          "description": "Remarketing audience ID to which this linked foreign account belongs.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "eligibleForSearch": {
          "description": "Boolean indicating whether this is eligible for search.",
          "readOnly": true,
          "type": "boolean"
        },
        "kind": {
          "type": "string",
          "default": "analytics#linkedForeignAccount",
          "description": "Resource type for linked foreign account."
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        }
      },
      "id": "LinkedForeignAccount",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link."
    },
    "RealtimeData": {
      "properties": {
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "profileInfo": {
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "webPropertyId": {
              "description": "Web Property ID to which this view (profile) belongs.",
              "type": "string"
            },
            "accountId": {
              "description": "Account ID to which this view (profile) belongs.",
              "type": "string"
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            }
          },
          "type": "object"
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "query": {
          "description": "Real time data request query parameters.",
          "properties": {
            "dimensions": {
              "description": "List of real time dimensions.",
              "type": "string"
            },
            "max-results": {
              "description": "Maximum results per page.",
              "format": "int32",
              "type": "integer"
            },
            "sort": {
              "description": "List of dimensions or metrics based on which real time data is sorted.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "filters": {
              "description": "Comma-separated list of dimension or metric filters.",
              "type": "string"
            },
            "ids": {
              "description": "Unique table ID.",
              "type": "string"
            },
            "metrics": {
              "description": "List of real time metrics.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "type": "object"
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "columnHeaders": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "name": {
                "description": "Column name.",
                "type": "string"
              }
            }
          },
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "default": "analytics#realtimeData"
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        }
      },
      "id": "RealtimeData",
      "description": "Real time data for a given view (profile).",
      "type": "object"
    },
    "Webproperty": {
      "id": "Webproperty",
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "selfLink": {
          "description": "Link for this web property.",
          "readOnly": true,
          "type": "string"
        },
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            },
            "type": {
              "type": "string",
              "default": "analytics#profiles",
              "description": "Type of the parent link. Its value is \"analytics#profiles\"."
            }
          },
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property."
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "defaultProfileId": {
          "description": "Default view (profile) ID.",
          "format": "int64",
          "type": "string"
        },
        "permissions": {
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "readOnly": true,
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account."
            }
          },
          "type": "object"
        },
        "profileCount": {
          "type": "integer",
          "format": "int32",
          "readOnly": true,
          "description": "View (Profile) count for this web property."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "type": {
              "type": "string",
              "default": "analytics#account",
              "description": "Type of the parent link. Its value is \"analytics#account\"."
            },
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            }
          }
        },
        "starred": {
          "description": "Indicates whether this web property is starred or not.",
          "type": "boolean"
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "default": "analytics#webproperty",
          "description": "Resource type for Analytics WebProperty."
        },
        "updated": {
          "description": "Time this web property was last modified.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "name": {
          "description": "Name of this web property.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "internalWebPropertyId": {
          "description": "Internal ID for this web property.",
          "readOnly": true,
          "type": "string"
        },
        "websiteUrl": {
          "description": "Website url for this web property.",
          "type": "string"
        },
        "created": {
          "description": "Time this web property was created.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "level": {
          "type": "string",
          "readOnly": true,
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "id": {
          "description": "Web property ID of the form UA-XXXXX-YY.",
          "type": "string"
        },
        "dataRetentionResetOnNewActivity": {
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "CustomDataSources": {
      "properties": {
        "kind": {
          "description": "Collection type.",
          "type": "string",
          "default": "analytics#customDataSources"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "previousLink": {
          "description": "Link to previous page for this custom data source collection.",
          "type": "string"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "nextLink": {
          "description": "Link to next page for this custom data source collection.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CustomDataSource"
          },
          "description": "Collection of custom data sources."
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "CustomDataSources",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "type": "object"
    },
    "AccountSummaries": {
      "id": "AccountSummaries",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
      "properties": {
        "kind": {
          "type": "string",
          "default": "analytics#accountSummaries",
          "description": "Collection type."
        },
        "startIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "username": {
          "description": "Email ID of the authenticated user",
          "type": "string"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "AccountSummary"
          },
          "description": "A list of AccountSummaries."
        },
        "nextLink": {
          "description": "Link to next page for this AccountSummary collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      },
      "type": "object"
    },
    "CustomMetric": {
      "properties": {
        "index": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Index of the custom metric."
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "description": "Link to the property to which the custom metric belongs.",
              "type": "string"
            },
            "type": {
              "type": "string",
              "default": "analytics#webproperty",
              "description": "Type of the parent link. Set to \"analytics#webproperty\"."
            }
          },
          "description": "Parent link for the custom metric. Points to the property to which the custom metric belongs."
        },
        "kind": {
          "description": "Kind value for a custom metric. Set to \"analytics#customMetric\". It is a read-only field.",
          "readOnly": true,
          "type": "string",
          "default": "analytics#customMetric"
        },
        "min_value": {
          "type": "string",
          "description": "Min value of custom metric."
        },
        "updated": {
          "description": "Time the custom metric was last modified.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "max_value": {
          "type": "string",
          "description": "Max value of custom metric."
        },
        "selfLink": {
          "description": "Link for the custom metric",
          "type": "string",
          "readOnly": true
        },
        "webPropertyId": {
          "type": "string",
          "description": "Property ID."
        },
        "scope": {
          "description": "Scope of the custom metric: HIT or PRODUCT.",
          "type": "string"
        },
        "type": {
          "description": "Data type of custom metric.",
          "type": "string"
        },
        "created": {
          "description": "Time the custom metric was created.",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Custom metric ID."
        },
        "name": {
          "type": "string",
          "description": "Name of the custom metric."
        },
        "accountId": {
          "description": "Account ID.",
          "type": "string"
        },
        "active": {
          "description": "Boolean indicating whether the custom metric is active.",
          "type": "boolean"
        }
      },
      "id": "CustomMetric",
      "description": "JSON template for Analytics Custom Metric.",
      "type": "object"
    },
    "Profile": {
      "properties": {
        "botFilteringEnabled": {
          "type": "boolean",
          "description": "Indicates whether bot filtering is enabled for this view (profile)."
        },
        "type": {
          "description": "View (Profile) type. Supported types: WEB or APP.",
          "type": "string"
        },
        "eCommerceTracking": {
          "type": "boolean",
          "description": "Indicates whether ecommerce tracking is enabled for this view (profile)."
        },
        "name": {
          "description": "Name of this view (profile).",
          "type": "string"
        },
        "accountId": {
          "description": "Account ID to which this view (profile) belongs.",
          "type": "string"
        },
        "currency": {
          "description": "The currency type associated with this view (profile), defaults to USD. The supported values are:\nUSD, JPY, EUR, GBP, AUD, KRW, BRL, CNY, DKK, RUB, SEK, NOK, PLN, TRY, TWD, HKD, THB, IDR, ARS, MXN, VND, PHP, INR, CHF, CAD, CZK, NZD, HUF, BGN, LTL, ZAR, UAH, AED, BOB, CLP, COP, EGP, HRK, ILS, MAD, MYR, PEN, PKR, RON, RSD, SAR, SGD, VEF, LVL",
          "type": "string"
        },
        "kind": {
          "description": "Resource type for Analytics view (profile).",
          "type": "string",
          "default": "analytics#profile",
          "readOnly": true
        },
        "permissions": {
          "properties": {
            "effective": {
              "readOnly": true,
              "type": "array",
              "items": {
                "type": "string"
              },
              "description": "All the permissions that the user has for this view (profile). These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent web property."
            }
          },
          "description": "Permissions the user has for this view (profile).",
          "type": "object"
        },
        "enhancedECommerceTracking": {
          "description": "Indicates whether enhanced ecommerce tracking is enabled for this view (profile). This property can only be enabled if ecommerce tracking is enabled.",
          "type": "boolean"
        },
        "siteSearchQueryParameters": {
          "type": "string",
          "description": "The site search query parameters for this view (profile)."
        },
        "selfLink": {
          "description": "Link for this view (profile).",
          "type": "string",
          "readOnly": true
        },
        "created": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was created."
        },
        "id": {
          "description": "View (Profile) ID.",
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website URL for this view (profile)."
        },
        "excludeQueryParameters": {
          "description": "The query parameters that are excluded from this view (profile).",
          "type": "string"
        },
        "stripSiteSearchCategoryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search category parameters from the URLs in your reports."
        },
        "internalWebPropertyId": {
          "description": "Internal ID for the web property to which this view (profile) belongs.",
          "readOnly": true,
          "type": "string"
        },
        "defaultPage": {
          "type": "string",
          "description": "Default page for this view (profile)."
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this view (profile) was last modified."
        },
        "timezone": {
          "type": "string",
          "description": "Time zone for which this view (profile) has been configured. Time zones are identified by strings from the TZ database."
        },
        "parentLink": {
          "type": "object",
          "properties": {
            "href": {
              "description": "Link to the web property to which this view (profile) belongs.",
              "type": "string"
            },
            "type": {
              "description": "Value is \"analytics#webproperty\".",
              "type": "string",
              "default": "analytics#webproperty"
            }
          },
          "description": "Parent link for this view (profile). Points to the web property to which this view (profile) belongs."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        },
        "stripSiteSearchQueryParameters": {
          "type": "boolean",
          "description": "Whether or not Analytics will strip search query parameters from the URLs in your reports."
        },
        "siteSearchCategoryParameters": {
          "type": "string",
          "description": "Site search category parameters for this view (profile)."
        },
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of goals for this view (profile)."
            },
            "type": {
              "description": "Value is \"analytics#goals\".",
              "type": "string",
              "default": "analytics#goals"
            }
          },
          "description": "Child link for this view (profile). Points to the list of goals for this view (profile)."
        },
        "webPropertyId": {
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Profile",
      "description": "JSON template for an Analytics view (profile).",
      "type": "object"
    },
    "McfData": {
      "type": "object",
      "properties": {
        "previousLink": {
          "description": "Link to previous page for this Analytics data query.",
          "type": "string"
        },
        "profileInfo": {
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "profileName": {
              "description": "View (Profile) name.",
              "type": "string"
            },
            "profileId": {
              "description": "View (Profile) ID.",
              "type": "string"
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            }
          },
          "description": "Information for the view (profile), for which the Analytics data was requested.",
          "type": "object"
        },
        "totalsForAllResults": {
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric.",
            "type": "string"
          },
          "type": "object"
        },
        "totalResults": {
          "type": "integer",
          "format": "int32",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "columnHeaders": {
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "description": "Column name.",
                "type": "string"
              }
            }
          }
        },
        "id": {
          "description": "Unique ID for this data response.",
          "type": "string"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "rows": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated.",
              "properties": {
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                },
                "conversionPathValue": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      }
                    }
                  },
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes."
                }
              },
              "type": "object"
            }
          },
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request."
        },
        "containsSampledData": {
          "description": "Determines if the Analytics data contains sampled data.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Link to this page.",
          "type": "string"
        },
        "query": {
          "properties": {
            "sort": {
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "start-index": {
              "description": "Start index.",
              "type": "integer",
              "format": "int32"
            },
            "end-date": {
              "description": "End date.",
              "type": "string"
            },
            "dimensions": {
              "description": "List of analytics dimensions.",
              "type": "string"
            },
            "segment": {
              "description": "Analytics advanced segment.",
              "type": "string"
            },
            "start-date": {
              "description": "Start date.",
              "type": "string"
            },
            "max-results": {
              "description": "Maximum results per page.",
              "format": "int32",
              "type": "integer"
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "metrics": {
              "description": "List of analytics metrics.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "samplingLevel": {
              "description": "Desired sampling level",
              "type": "string"
            }
          },
          "description": "Analytics data request query parameters.",
          "type": "object"
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "kind": {
          "description": "Resource type.",
          "type": "string",
          "default": "analytics#mcfData"
        },
        "itemsPerPage": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        }
      },
      "id": "McfData",
      "description": "Multi-Channel Funnels data for a given view (profile)."
    },
    "AccountTreeRequest": {
      "properties": {
        "profileName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "timezone": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "webpropertyName": {
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          },
          "type": "string"
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "description": "Resource type for account ticket.",
          "type": "string",
          "default": "analytics#accountTreeRequest"
        }
      },
      "id": "AccountTreeRequest",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields.",
      "type": "object"
    },
    "AdWordsAccount": {
      "type": "object",
      "properties": {
        "autoTaggingEnabled": {
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation.",
          "type": "boolean"
        },
        "customerId": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "description": "Customer ID. This field is required when creating a Google Ads link."
        },
        "kind": {
          "description": "Resource type for Google Ads account.",
          "type": "string",
          "default": "analytics#adWordsAccount"
        }
      },
      "id": "AdWordsAccount",
      "description": "JSON template for an Google Ads account."
    },
    "ProfileFilterLinks": {
      "type": "object",
      "id": "ProfileFilterLinks",
      "description": "A profile filter link collection lists profile filter links between profiles and filters. Each resource in the collection corresponds to a profile filter link.",
      "properties": {
        "items": {
          "description": "A list of profile filter links.",
          "type": "array",
          "items": {
            "$ref": "ProfileFilterLink"
          }
        },
        "nextLink": {
          "description": "Link to next page for this profile filter link collection.",
          "type": "string"
        },
        "itemsPerPage": {
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "type": "integer",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "default": "analytics#profileFilterLinks",
          "description": "Collection type."
        },
        "startIndex": {
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32",
          "type": "integer"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "previousLink": {
          "description": "Link to previous page for this profile filter link collection.",
          "type": "string"
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        }
      }
    },
    "FilterExpression": {
      "type": "object",
      "id": "FilterExpression",
      "description": "JSON template for an Analytics filter expression.",
      "properties": {
        "field": {
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),",
          "type": "string"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "expressionValue": {
          "description": "Filter expression value",
          "type": "string"
        },
        "fieldIndex": {
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION.",
          "type": "integer",
          "format": "int32"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "kind": {
          "description": "Kind value for filter expression",
          "type": "string",
          "default": "analytics#filterExpression"
        }
      }
    },
    "WebPropertyRef": {
      "properties": {
[...]
