{
  "protocol": "rest",
  "servicePath": "analytics/v3/",
  "title": "Google Analytics API",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "baseUrl": "https://www.googleapis.com/analytics/v3/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "View your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics": {
          "description": "View and manage your Google Analytics data"
        },
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.user.deletion": {
          "description": "Manage Google Analytics user deletion requests"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.provision": {
          "description": "Create a new Google Analytics account along with its default property and view"
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "type": "string",
      "enum": [
        "json"
      ],
      "description": "Data format for the response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "false",
      "location": "query"
    },
    "userIp": {
      "location": "query",
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "resources": {
    "provisioning": {
      "methods": {
        "createAccountTree": {
          "path": "provisioning/createAccountTree",
          "request": {
            "$ref": "AccountTreeRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "response": {
            "$ref": "AccountTreeResponse"
          },
          "id": "analytics.provisioning.createAccountTree",
          "description": "Provision account."
        },
        "createAccountTicket": {
          "scopes": [
            "https://www.googleapis.com/auth/analytics.provision"
          ],
          "id": "analytics.provisioning.createAccountTicket",
          "description": "Creates an account ticket.",
          "response": {
            "$ref": "AccountTicket"
          },
          "request": {
            "$ref": "AccountTicket"
          },
          "path": "provisioning/createAccountTicket",
          "httpMethod": "POST"
        }
      }
    },
    "data": {
      "resources": {
        "ga": {
          "methods": {
            "get": {
              "path": "data/ga",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to Analytics data.",
                  "pattern": "ga:.+",
                  "location": "query"
                },
                "ids": {
                  "required": true,
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "location": "query",
                  "type": "string",
                  "pattern": "ga:[0-9]+"
                },
                "metrics": {
                  "type": "string",
                  "pattern": "ga:.+",
                  "required": true,
                  "description": "A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.",
                  "location": "query"
                },
                "samplingLevel": {
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "description": "The desired sampling level.",
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ]
                },
                "dimensions": {
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.",
                  "pattern": "(ga:.+)?"
                },
                "start-date": {
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true,
                  "location": "query"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "segment": {
                  "type": "string",
                  "description": "An Analytics segment to be applied to data.",
                  "location": "query"
                },
                "end-date": {
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "description": "End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.",
                  "required": true,
                  "location": "query"
                },
                "output": {
                  "type": "string",
                  "enum": [
                    "dataTable",
                    "json"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.",
                    "Returns the response in standard JSON format."
                  ],
                  "description": "The selected format for the response. Default format is JSON."
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "include-empty-rows": {
                  "location": "query",
                  "type": "boolean",
                  "description": "The response will include empty rows if this parameter is set to true, the default is true"
                },
                "sort": {
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.",
                  "pattern": "(-)?ga:.+"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "GaData"
              },
              "id": "analytics.data.ga.get",
              "description": "Returns Analytics data for a view (profile)."
            }
          }
        },
        "mcf": {
          "methods": {
            "get": {
              "id": "analytics.data.mcf.get",
              "description": "Returns Analytics Multi-Channel Funnels data for a view (profile).",
              "response": {
                "$ref": "McfData"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "parameters": {
                "dimensions": {
                  "type": "string",
                  "description": "A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.",
                  "pattern": "(mcf:.+)?",
                  "location": "query"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed."
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.",
                  "pattern": "(-)?mcf:.+",
                  "location": "query"
                },
                "start-date": {
                  "description": "Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true,
                  "location": "query",
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "filters": {
                  "location": "query",
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to the Analytics data.",
                  "pattern": "mcf:.+"
                },
                "end-date": {
                  "type": "string",
                  "pattern": "[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)",
                  "location": "query",
                  "description": "End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.",
                  "required": true
                },
                "ids": {
                  "location": "query",
                  "required": true,
                  "description": "Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "type": "string",
                  "pattern": "ga:[0-9]+"
                },
                "metrics": {
                  "description": "A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.",
                  "required": true,
                  "location": "query",
                  "type": "string",
                  "pattern": "mcf:.+"
                },
                "samplingLevel": {
                  "description": "The desired sampling level.",
                  "enumDescriptions": [
                    "Returns response with a sample size that balances speed and accuracy.",
                    "Returns a fast response with a smaller sample size.",
                    "Returns a more accurate response using a large sample size, but this may result in the response being slower."
                  ],
                  "location": "query",
                  "type": "string",
                  "enum": [
                    "DEFAULT",
                    "FASTER",
                    "HIGHER_PRECISION"
                  ]
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "ids",
                "start-date",
                "end-date",
                "metrics"
              ],
              "path": "data/mcf"
            }
          }
        },
        "realtime": {
          "methods": {
            "get": {
              "parameterOrder": [
                "ids",
                "metrics"
              ],
              "path": "data/realtime",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of entries to include in this feed.",
                  "format": "int32",
                  "location": "query"
                },
                "dimensions": {
                  "type": "string",
                  "description": "A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "filters": {
                  "type": "string",
                  "description": "A comma-separated list of dimension or metric filters to be applied to real time data.",
                  "pattern": "(ga:.+)|(rt:.+)",
                  "location": "query"
                },
                "metrics": {
                  "required": true,
                  "description": "A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.",
                  "location": "query",
                  "type": "string",
                  "pattern": "(ga:.+)|(rt:.+)"
                },
                "ids": {
                  "type": "string",
                  "pattern": "ga:[0-9]+",
                  "required": true,
                  "description": "Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.",
                  "location": "query"
                },
                "sort": {
                  "type": "string",
                  "description": "A comma-separated list of dimensions or metrics that determine the sort order for real time data.",
                  "pattern": "(-)?((ga:.+)|(rt:.+))",
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.data.realtime.get",
              "description": "Returns real time data for a view (profile).",
              "response": {
                "$ref": "RealtimeData"
              }
            }
          }
        }
      }
    },
    "metadata": {
      "resources": {
        "columns": {
          "methods": {
            "list": {
              "path": "metadata/{reportType}/columns",
              "parameterOrder": [
                "reportType"
              ],
              "httpMethod": "GET",
              "parameters": {
                "reportType": {
                  "type": "string",
                  "pattern": "ga",
                  "location": "path",
                  "required": true,
                  "description": "Report type. Allowed Values: 'ga'. Where 'ga' corresponds to the Core Reporting API"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Columns"
              },
              "id": "analytics.metadata.columns.list",
              "description": "Lists all columns for a report type"
            }
          }
        }
      }
    },
    "management": {
      "resources": {
        "customDataSources": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "CustomDataSources"
              },
              "id": "analytics.management.customDataSources.list",
              "description": "List custom data sources to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "The maximum number of custom data sources to include in this response.",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "description": "Web property Id for the custom data sources to retrieve."
                },
                "accountId": {
                  "location": "path",
                  "description": "Account Id for the custom data sources to retrieve.",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                }
              }
            }
          }
        },
        "clientId": {
          "methods": {
            "hashClientId": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.clientId.hashClientId",
              "description": "Hashes the given Client ID.",
              "response": {
                "$ref": "HashClientIdResponse"
              },
              "request": {
                "$ref": "HashClientIdRequest"
              },
              "path": "management/clientId:hashClientId",
              "httpMethod": "POST"
            }
          }
        },
        "filters": {
          "methods": {
            "patch": {
              "id": "analytics.management.filters.patch",
              "description": "Updates an existing filter. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the filter belongs."
                },
                "filterId": {
                  "type": "string",
                  "description": "ID of the filter to be updated.",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "request": {
                "$ref": "Filter"
              }
            },
            "get": {
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "filterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Filter ID to retrieve filters for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve filters for."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Filter"
              },
              "id": "analytics.management.filters.get",
              "description": "Returns filters to which the user has access."
            },
            "insert": {
              "response": {
                "$ref": "Filter"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters",
              "id": "analytics.management.filters.insert",
              "description": "Create a new filter.",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to create filter for.",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Filter"
              },
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "request": {
                "$ref": "Filter"
              },
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "httpMethod": "PUT",
              "id": "analytics.management.filters.update",
              "description": "Updates an existing filter.",
              "parameters": {
                "filterId": {
                  "required": true,
                  "type": "string",
                  "description": "ID of the filter to be updated.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the filter belongs."
                }
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Filter"
              },
              "id": "analytics.management.filters.delete",
              "description": "Delete a filter.",
              "path": "management/accounts/{accountId}/filters/{filterId}",
              "parameterOrder": [
                "accountId",
                "filterId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the filter for."
                },
                "filterId": {
                  "location": "path",
                  "type": "string",
                  "description": "ID of the filter to be deleted.",
                  "required": true
                }
              }
            },
            "list": {
              "path": "management/accounts/{accountId}/filters",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "description": "Account ID to retrieve filters for.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of filters to include in this response."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Filters"
              },
              "id": "analytics.management.filters.list",
              "description": "Lists all filters for an account"
            }
          }
        },
        "webpropertyUserLinks": {
          "methods": {
            "update": {
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to update the account-user link for."
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "required": true
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "required": true
                }
              },
              "id": "analytics.management.webpropertyUserLinks.update",
              "description": "Updates permissions for an existing user on the given web property.",
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "response": {
                "$ref": "EntityUserLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for."
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "required": true
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID to delete the user link for.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}",
              "id": "analytics.management.webpropertyUserLinks.delete",
              "description": "Removes a user from the given web property.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ]
            },
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web Property ID to create the user link for."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for."
                }
              },
              "id": "analytics.management.webpropertyUserLinks.insert",
              "description": "Adds a new user to the given web property."
            },
            "list": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "Web Property ID for the webProperty-user links to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID which the given web property belongs to.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of webProperty-user Links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first webProperty-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "id": "analytics.management.webpropertyUserLinks.list",
              "description": "Lists webProperty-user links for a given web property."
            }
          }
        },
        "uploads": {
          "methods": {
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId",
                "uploadId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "Account Id for the upload to retrieve.",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                },
                "uploadId": {
                  "required": true,
                  "description": "Upload Id to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property Id for the upload to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "customDataSourceId": {
                  "type": "string",
                  "pattern": ".{22}",
                  "required": true,
                  "description": "Custom data source Id for upload to retrieve.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.uploads.get",
              "description": "List uploads to which the user has access.",
              "response": {
                "$ref": "Upload"
              }
            },
            "deleteUploadData": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.uploads.deleteUploadData",
              "description": "Delete data associated with a previous upload.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "request": {
                "$ref": "AnalyticsDataimportDeleteUploadDataRequest"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData",
              "parameters": {
                "customDataSourceId": {
                  "location": "path",
                  "description": "Custom data source Id for the uploads to be deleted.",
                  "required": true,
                  "type": "string",
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property Id for the uploads to be deleted.",
                  "required": true,
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "accountId": {
                  "description": "Account Id for the uploads to be deleted.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                }
              },
              "httpMethod": "POST"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.uploads.list",
              "description": "List uploads to which the user has access.",
              "response": {
                "$ref": "Uploads"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "The maximum number of uploads to include in this response.",
                  "location": "query"
                },
                "customDataSourceId": {
                  "required": true,
                  "description": "Custom data source Id for uploads to retrieve.",
                  "location": "path",
                  "type": "string",
                  "pattern": ".{22}"
                },
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "required": true,
                  "description": "Web property Id for the uploads to retrieve."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "A 1-based index of the first upload to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account Id for the uploads to retrieve.",
                  "type": "string",
                  "pattern": "\\d+"
                }
              },
              "httpMethod": "GET"
            },
            "uploadData": {
              "httpMethod": "POST",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customDataSourceId"
              ],
              "response": {
                "$ref": "Upload"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "customDataSourceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Custom data source Id to which the data being uploaded belongs."
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property UA-string associated with the upload.",
                  "required": true,
                  "type": "string",
                  "pattern": "UA-\\d+-\\d+"
                },
                "accountId": {
                  "description": "Account Id associated with the upload.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                }
              },
              "supportsMediaUpload": true,
              "mediaUpload": {
                "maxSize": "1GB",
                "protocols": {
                  "simple": {
                    "multipart": true,
                    "path": "/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  },
                  "resumable": {
                    "multipart": true,
                    "path": "/resumable/upload/analytics/v3/management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads"
                  }
                },
                "accept": [
                  "application/octet-stream"
                ]
              },
              "id": "analytics.management.uploads.uploadData",
              "description": "Upload data for a custom data source."
            }
          }
        },
        "profileFilterLinks": {
          "methods": {
            "insert": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id to create profile filter link for.",
                  "required": true
                },
                "accountId": {
                  "description": "Account ID to create profile filter link for.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Profile ID to create filter link for."
                }
              },
              "id": "analytics.management.profileFilterLinks.insert",
              "description": "Create a new profile filter link."
            },
            "patch": {
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PATCH",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              },
              "id": "analytics.management.profileFilterLinks.patch",
              "description": "Update an existing profile filter link. This method supports patch semantics.",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id to which profile filter link belongs",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs.",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                },
                "linkId": {
                  "type": "string",
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "required": true,
                  "description": "ID of the profile filter link to be updated."
                },
                "profileId": {
                  "description": "Profile ID to which filter link belongs",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "id": "analytics.management.profileFilterLinks.get",
              "description": "Returns a single profile filter link.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "required": true,
                  "description": "Account ID to retrieve profile filter link for.",
                  "location": "path"
                },
                "linkId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the profile filter link.",
                  "type": "string",
                  "pattern": "\\d+:\\d+"
                },
                "profileId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "required": true,
                  "description": "Profile ID to retrieve filter link for."
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property Id to retrieve profile filter link for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "location": "path"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of profile filter links to include in this response."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "description": "Account ID to retrieve profile filter links for.",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to."
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                }
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "response": {
                "$ref": "ProfileFilterLinks"
              },
              "id": "analytics.management.profileFilterLinks.list",
              "description": "Lists all profile filter links for a profile.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "update": {
              "id": "analytics.management.profileFilterLinks.update",
              "description": "Update an existing profile filter link.",
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)",
                  "location": "path",
                  "description": "Web property Id to which profile filter link belongs",
                  "required": true
                },
                "accountId": {
                  "location": "path",
                  "description": "Account ID to which profile filter link belongs.",
                  "required": true,
                  "type": "string",
                  "pattern": "\\d+"
                },
                "linkId": {
                  "description": "ID of the profile filter link to be updated.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+:\\d+"
                },
                "profileId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "Profile ID to which filter link belongs",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ProfileFilterLink"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "request": {
                "$ref": "ProfileFilterLink"
              }
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.profileFilterLinks.delete",
              "description": "Delete a profile filter link.",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "location": "path",
                  "description": "Account ID to which the profile filter link belongs.",
                  "required": true
                },
                "linkId": {
                  "type": "string",
                  "pattern": "\\d+:\\d+",
                  "location": "path",
                  "required": true,
                  "description": "ID of the profile filter link to delete."
                },
                "profileId": {
                  "required": true,
                  "description": "Profile ID to which the filter link belongs.",
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "webPropertyId": {
                  "location": "path",
                  "description": "Web property Id to which the profile filter link belongs.",
                  "required": true,
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                }
              },
              "httpMethod": "DELETE"
            }
          }
        },
        "accountSummaries": {
          "methods": {
            "list": {
              "path": "management/accountSummaries",
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of account summaries to include in this response, where the largest acceptable value is 1000."
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "AccountSummaries"
              },
              "id": "analytics.management.accountSummaries.list",
              "description": "Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access."
            }
          }
        },
        "customMetrics": {
          "methods": {
            "list": {
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of custom metrics to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metrics to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metrics to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customMetrics.list",
              "description": "Lists custom metrics to which the user has access.",
              "response": {
                "$ref": "CustomMetrics"
              }
            },
            "update": {
              "id": "analytics.management.customMetrics.update",
              "description": "Updates an existing custom metric.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID for the custom metric to update."
                },
                "customMetricId": {
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                },
                "ignoreCustomDataSourceLinks": {
                  "default": "false",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.",
                  "location": "query"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "PUT"
            },
            "insert": {
              "id": "analytics.management.customMetrics.insert",
              "description": "Create a new custom metric.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for the custom dimension to create.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to create.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "httpMethod": "POST"
            },
            "patch": {
              "id": "analytics.management.customMetrics.patch",
              "description": "Updates an existing custom metric. This method supports patch semantics.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to update.",
                  "required": true
                },
                "customMetricId": {
                  "location": "path",
                  "type": "string",
                  "description": "Custom metric ID for the custom metric to update.",
                  "required": true
                },
                "ignoreCustomDataSourceLinks": {
                  "location": "query",
                  "default": "false",
                  "type": "boolean",
                  "description": "Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set."
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID for the custom metric to update.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "request": {
                "$ref": "CustomMetric"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "httpMethod": "PATCH"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.customMetrics.get",
              "description": "Get a custom metric to which the user has access.",
              "response": {
                "$ref": "CustomMetric"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "customMetricId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID for the custom metric to retrieve.",
                  "required": true
                },
                "customMetricId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the custom metric to retrieve."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID for the custom metric to retrieve.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            }
          }
        },
        "experiments": {
          "methods": {
            "insert": {
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "POST",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "id": "analytics.management.experiments.insert",
              "description": "Create a new experiment.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the experiment for."
                },
                "profileId": {
                  "location": "path",
                  "type": "string",
                  "description": "View (Profile) ID to create the experiment for.",
                  "required": true
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the experiment for."
                }
              }
            },
            "get": {
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to retrieve the experiment for."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the experiment for.",
                  "location": "path"
                },
                "experimentId": {
                  "required": true,
                  "type": "string",
                  "description": "Experiment ID to retrieve the experiment for.",
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the experiment for.",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "id": "analytics.management.experiments.get",
              "description": "Returns an experiment to which the user has access.",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "patch": {
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Experiment"
              },
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "location": "path"
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "experimentId": {
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path"
                }
              },
              "id": "analytics.management.experiments.patch",
              "description": "Update an existing experiment. This method supports patch semantics."
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.experiments.list",
              "description": "Lists experiments to which the user has access.",
              "response": {
                "$ref": "Experiments"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments",
              "parameters": {
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of experiments to include in this response."
                },
                "webPropertyId": {
                  "required": true,
                  "description": "Web property ID to retrieve experiments for.",
                  "location": "path",
                  "type": "string",
                  "pattern": "UA-(\\d+)-(\\d+)"
                },
                "start-index": {
                  "location": "query",
                  "description": "An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1"
                },
                "accountId": {
                  "description": "Account ID to retrieve experiments for.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "\\d+"
                },
                "profileId": {
                  "type": "string",
                  "pattern": "\\d+",
                  "description": "View (Profile) ID to retrieve experiments for.",
                  "required": true,
                  "location": "path"
                }
              },
              "httpMethod": "GET"
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "id": "analytics.management.experiments.delete",
              "description": "Delete an experiment.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "httpMethod": "DELETE",
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to which the experiment belongs"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to which the experiment belongs",
                  "required": true
                },
                "experimentId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the experiment to delete"
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to which the experiment belongs",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "update": {
              "httpMethod": "PUT",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "experimentId"
              ],
              "request": {
                "$ref": "Experiment"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}",
              "response": {
                "$ref": "Experiment"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "experimentId": {
                  "type": "string",
                  "description": "Experiment ID of the experiment to update.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID of the experiment to update.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID of the experiment to update.",
                  "required": true
                }
              },
              "id": "analytics.management.experiments.update",
              "description": "Update an existing experiment."
            }
          }
        },
        "goals": {
          "methods": {
            "update": {
              "id": "analytics.management.goals.update",
              "description": "Updates an existing goal.",
              "parameters": {
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated.",
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "required": true
                },
                "accountId": {
                  "type": "string",
                  "description": "Account ID to update the goal.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to update the goal."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "httpMethod": "PUT"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Goals"
              },
              "id": "analytics.management.goals.list",
              "description": "Lists goals to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.",
                  "required": true,
                  "location": "path"
                },
                "profileId": {
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.",
                  "location": "path"
                },
                "start-index": {
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32",
                  "description": "An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query"
                },
                "webPropertyId": {
                  "location": "path",
                  "type": "string",
                  "description": "Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.",
                  "required": true
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of goals to include in this response.",
                  "format": "int32",
                  "location": "query"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "httpMethod": "PATCH",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Goal"
              },
              "parameters": {
                "goalId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Index of the goal to be updated."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to update the goal."
                },
                "profileId": {
                  "type": "string",
                  "description": "View (Profile) ID to update the goal.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to update the goal.",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "analytics.management.goals.patch",
              "description": "Updates an existing goal. This method supports patch semantics."
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "response": {
                "$ref": "Goal"
              },
              "id": "analytics.management.goals.get",
              "description": "Gets a goal to which the user has access.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId",
                "goalId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to retrieve the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to retrieve the goal for."
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to retrieve the goal for.",
                  "required": true,
                  "location": "path"
                },
                "goalId": {
                  "required": true,
                  "type": "string",
                  "description": "Goal ID to retrieve the goal for.",
                  "location": "path"
                }
              }
            },
            "insert": {
              "parameters": {
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Web property ID to create the goal for."
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the goal for.",
                  "location": "path"
                },
                "profileId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "View (Profile) ID to create the goal for."
                }
              },
              "id": "analytics.management.goals.insert",
              "description": "Create a new goal.",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "profileId"
              ],
              "request": {
                "$ref": "Goal"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "Goal"
              }
            }
          }
        },
        "remarketingAudience": {
          "methods": {
            "list": {
              "parameters": {
                "webPropertyId": {
                  "type": "string",
                  "description": "The web property ID of the remarketing audiences to retrieve.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of remarketing audiences to include in this response."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audiences to retrieve."
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                },
                "type": {
                  "location": "query",
                  "type": "string",
                  "default": "all"
                }
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "id": "analytics.management.remarketingAudience.list",
              "description": "Lists remarketing audiences to which the user has access.",
              "response": {
                "$ref": "RemarketingAudiences"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ]
            },
            "delete": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "Account ID to which the remarketing audience belongs.",
                  "location": "path"
                },
                "webPropertyId": {
                  "type": "string",
                  "description": "Web property ID to which the remarketing audience belongs.",
                  "required": true,
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The ID of the remarketing audience to delete."
                }
              },
              "httpMethod": "DELETE",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "id": "analytics.management.remarketingAudience.delete",
              "description": "Delete a remarketing audience.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ]
            },
            "update": {
              "id": "analytics.management.remarketingAudience.update",
              "description": "Updates an existing remarketing audience.",
              "parameters": {
                "remarketingAudienceId": {
                  "type": "string",
                  "description": "The ID of the remarketing audience to update.",
                  "required": true,
                  "location": "path"
                },
                "webPropertyId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to update."
                },
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update."
                }
              },
              "response": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "httpMethod": "PUT",
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              }
            },
            "insert": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "response": {
                "$ref": "RemarketingAudience"
              },
              "parameterOrder": [
                "accountId",
                "webPropertyId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences",
              "httpMethod": "POST",
              "id": "analytics.management.remarketingAudience.insert",
              "description": "Creates a new remarketing audience.",
              "parameters": {
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "Web property ID for which to create the remarketing audience.",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "type": "string",
                  "description": "The account ID for which to create the remarketing audience.",
                  "location": "path"
                }
              }
            },
            "get": {
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The account ID of the remarketing audience to retrieve."
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to retrieve.",
                  "location": "path"
                },
                "remarketingAudienceId": {
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the remarketing audience to retrieve.",
                  "required": true
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "id": "analytics.management.remarketingAudience.get",
              "description": "Gets a remarketing audience to which the user has access.",
              "response": {
                "$ref": "RemarketingAudience"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "accountId",
                "webPropertyId",
                "remarketingAudienceId"
              ],
              "request": {
                "$ref": "RemarketingAudience"
              },
              "path": "management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}",
              "response": {
                "$ref": "RemarketingAudience"
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.edit"
              ],
              "parameters": {
                "remarketingAudienceId": {
                  "required": true,
                  "type": "string",
                  "description": "The ID of the remarketing audience to update.",
                  "location": "path"
                },
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The account ID of the remarketing audience to update.",
                  "required": true
                },
                "webPropertyId": {
                  "required": true,
                  "type": "string",
                  "description": "The web property ID of the remarketing audience to update.",
                  "location": "path"
                }
              },
              "id": "analytics.management.remarketingAudience.patch",
              "description": "Updates an existing remarketing audience. This method supports patch semantics."
            }
          }
        },
        "segments": {
          "methods": {
            "list": {
              "response": {
                "$ref": "Segments"
              },
              "id": "analytics.management.segments.list",
              "description": "Lists segments to which the user has access.",
              "scopes": [
                "https://www.googleapis.com/auth/analytics",
                "https://www.googleapis.com/auth/analytics.edit",
                "https://www.googleapis.com/auth/analytics.readonly"
              ],
              "httpMethod": "GET",
              "parameters": {
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of segments to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "format": "int32",
                  "type": "integer",
                  "minimum": "1",
                  "location": "query",
                  "description": "An index of the first segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter."
                }
              },
              "path": "management/segments"
            }
          }
        },
        "accountUserLinks": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to delete the user link for."
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to delete the user link for.",
                  "required": true
                }
              },
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "id": "analytics.management.accountUserLinks.delete",
              "description": "Removes a user from the given account."
            },
            "update": {
              "id": "analytics.management.accountUserLinks.update",
              "description": "Updates permissions for an existing user on the given account.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "Account ID to update the account-user link for.",
                  "required": true
                },
                "linkId": {
                  "location": "path",
                  "type": "string",
                  "description": "Link ID to update the account-user link for.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users"
              ],
              "response": {
                "$ref": "EntityUserLink"
              },
              "parameterOrder": [
                "accountId",
                "linkId"
              ],
              "request": {
                "$ref": "EntityUserLink"
              },
              "path": "management/accounts/{accountId}/entityUserLinks/{linkId}",
              "httpMethod": "PUT"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/analytics.manage.users",
                "https://www.googleapis.com/auth/analytics.manage.users.readonly"
              ],
              "response": {
                "$ref": "EntityUserLinks"
              },
              "id": "analytics.management.accountUserLinks.list",
              "description": "Lists account-user links for a given account.",
              "path": "management/accounts/{accountId}/entityUserLinks",
              "parameterOrder": [
                "accountId"
              ],
              "httpMethod": "GET",
              "parameters": {
                "accountId": {
                  "type": "string",
                  "description": "Account ID to retrieve the user links for.",
                  "required": true,
                  "location": "path"
                },
                "max-results": {
                  "type": "integer",
                  "description": "The maximum number of account-user links to include in this response.",
                  "format": "int32",
                  "location": "query"
                },
                "start-index": {
                  "description": "An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.",
                  "location": "query",
                  "type": "integer",
                  "minimum": "1",
                  "format": "int32"
                }
              }
            },
            "insert": {
              "id": "analytics.management.accountUserLinks.insert",
              "description": "Adds a new user to the given account.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Account ID to create the user link for."
                }
              },
              "scopes": [
[...]
