{
  "discoveryVersion": "v1",
  "description": "Manage properties in Google Analytics. Warning: Creating multiple Customer Applications, Accounts, or Projects to simulate or act as a single Customer Application, Account, or Project (respectively) or to circumvent Service-specific usage limits or quotas is a direct violation of Google Cloud Platform Terms of Service as well as Google APIs Terms of Service. These actions can result in immediate termination of your GCP project(s) without any warning.",
  "servicePath": "",
  "version_module": true,
  "ownerDomain": "google.com",
  "canonicalName": "Google Analytics Admin",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://analyticsadmin.googleapis.com/",
  "basePath": "",
  "documentationLink": "http://code.google.com/apis/analytics/docs/mgmt/home.html",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Format: properties/{ordinary_property_id}/subpropertySyncConfigs/{subproperty_id} Example: properties/1234/subpropertySyncConfigs/5678",
          "type": "string"
        },
        "applyToProperty": {
          "description": "Output only. Immutable. Resource name of the subproperty that these settings apply to.",
          "type": "string",
          "readOnly": true
        },
        "customDimensionAndMetricSyncMode": {
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ],
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "description": "Required. Specifies the Custom Dimension / Metric synchronization mode for the subproperty. If set to ALL, Custom Dimension / Metric synchronization will be immediately enabled. Local configuration of Custom Dimensions / Metrics will not be allowed on the subproperty so long as the synchronization mode is set to ALL. If set to NONE, Custom Dimensions / Metric synchronization is disabled. Custom Dimensions / Metrics must be configured explicitly on the Subproperty.",
          "type": "string"
        }
      },
      "description": "Subproperty synchronization configuration controls how ordinary property configurations are synchronized to subproperties. This resource is provisioned automatically for each subproperty.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "description": "A definition for a CustomDimension.",
      "type": "object",
      "properties": {
        "parameterName": {
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "type": "string",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ]
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "description": "A list of ExpandedDataSet filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList",
      "description": "A list of ExpandedDataSet filter expressions.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "description": "Response message for ListAudiences RPC.",
      "type": "object",
      "properties": {
        "audiences": {
          "description": "List of Audiences.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse"
    },
    "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse": {
      "description": "Response message for ListFirebaseLinks RPC",
      "type": "object",
      "properties": {
        "firebaseLinks": {
          "description": "List of FirebaseLinks. This will have at most one value.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList": {
      "properties": {
        "filterExpressions": {
          "description": "Required. Unordered list. A list of Subproperty event filter expressions",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList",
      "description": "A list of Subproperty event filter expressions.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse": {
      "description": "Response message for ListReportingDataAnnotation RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "reportingDataAnnotations": {
          "description": "List of Reporting Data Annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterClause": {
      "properties": {
        "clauseType": {
          "enumDescriptions": [
            "Unspecified clause type.",
            "Users will be included in the Audience if the filter clause is met.",
            "Users will be excluded from the Audience if the filter clause is met."
          ],
          "description": "Required. Specifies whether this is an include or exclude filter clause.",
          "type": "string",
          "enum": [
            "AUDIENCE_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "simpleFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
          "description": "A simple filter that a user must satisfy to be a member of the Audience."
        },
        "sequenceFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
          "description": "Filters that must occur in a specific order for the user to be a member of the Audience."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterClause",
      "description": "A clause for defining either a simple or sequence filter. A filter can be inclusive (For example, users satisfying the filter clause are included in the Audience) or exclusive (For example, users satisfying the filter clause are excluded from the Audience).",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to delete. A maximum of 1000 access bindings can be deleted in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchDeleteAccessBindingsRequest",
      "description": "Request message for BatchDeleteAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "properties": {
        "requestorEmail": {
          "readOnly": true,
          "description": "Output only. The email address of the user that proposed this linkage.",
          "type": "string"
        },
        "linkProposalState": {
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "description": "Output only. The state of this proposal.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ]
        },
        "linkProposalInitiatingProduct": {
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "description": "Output only. The source of this proposal.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ]
        }
      },
      "description": "Status information for a link proposal.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "properties": {
        "betweenFilter": {
          "description": "A filter for two values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter"
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        },
        "stringFilter": {
          "description": "Strings related filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "description": "An expression to filter dimension or metric values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaNumericValue": {
      "properties": {
        "int64Value": {
          "description": "Integer value",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "format": "double",
          "description": "Double value",
          "type": "number"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaNumericValue",
      "description": "To represent a number.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingIdentitySettings": {
      "properties": {
        "reportingIdentity": {
          "enum": [
            "IDENTITY_BLENDING_STRATEGY_UNSPECIFIED",
            "BLENDED",
            "OBSERVED",
            "DEVICE_BASED"
          ],
          "description": "The strategy used for identifying user identities in reports.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified blending strategy.",
            "Blended reporting identity strategy.",
            "Observed reporting identity strategy.",
            "Device-based reporting identity strategy."
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. Resource name for this reporting identity settings singleton resource. Format: properties/{property_id}/reportingIdentitySettings Example: \"properties/1234/reportingIdentitySettings\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings",
      "description": "A resource containing settings related to reporting identity.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomMetricsResponse",
      "properties": {
        "customMetrics": {
          "description": "List of CustomMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListCustomMetrics RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink": {
      "description": "A link between a Google Analytics property and a Display & Video 360 advertiser.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
      "properties": {
        "name": {
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLink resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinks/{linkId} Note: linkId is not the Display & Video 360 Advertiser ID",
          "type": "string",
          "readOnly": true
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video 360 Advertiser.",
          "type": "string",
          "readOnly": true
        },
        "adsPersonalizationEnabled": {
          "description": "Enables personalized advertising features with this integration. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360 into the Google Analytics property. This can only be enabled if `campaign_data_sharing_enabled` is true. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360 into the Google Analytics property. After link creation, this can only be updated from the Display & Video 360 product. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "properties": {
        "formInteractionsEnabled": {
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default.",
          "type": "boolean"
        },
        "searchQueryParameter": {
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.",
          "type": "string"
        },
        "scrollsEnabled": {
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page.",
          "type": "boolean"
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "type": "string",
          "readOnly": true
        },
        "siteSearchEnabled": {
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).",
          "type": "boolean"
        },
        "outboundClicksEnabled": {
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.",
          "type": "boolean"
        },
        "videoEngagementEnabled": {
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.",
          "type": "boolean"
        },
        "uriQueryParameter": {
          "description": "Additional URL query parameters. Max length is 1024 characters.",
          "type": "string"
        },
        "streamEnabled": {
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.",
          "type": "boolean"
        },
        "fileDownloadsEnabled": {
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.",
          "type": "boolean"
        }
      },
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "properties": {
        "validationEmail": {
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal.",
          "type": "string"
        },
        "advertiserId": {
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID.",
          "type": "string"
        },
        "linkProposalStatusDetails": {
          "readOnly": true,
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
          "description": "Output only. The status information for this link proposal."
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "costDataSharingEnabled": {
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "adsPersonalizationEnabled": {
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "type": "string"
        },
        "advertiserDisplayName": {
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "description": "A proposal for a link between a Google Analytics property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "properties": {
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "The created subproperty event filter."
        },
        "subproperty": {
          "description": "The created subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse",
      "description": "Response message for ProvisionSubproperty RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "properties": {
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "serverErrorsPerProjectPerHour": {
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "tokensPerHour": {
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse": {
      "description": "Response message for ListSubpropertySyncConfigs RPC.",
      "type": "object",
      "properties": {
        "subpropertySyncConfigs": {
          "description": "List of `SubpropertySyncConfig` resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse"
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "description": "A binding of a user to a set of roles.",
      "type": "object",
      "properties": {
        "user": {
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\"",
          "type": "string"
        },
        "roles": {
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding"
    },
    "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest": {
      "description": "Request message for SubmitUserDeletion RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaSubmitUserDeletionRequest",
      "properties": {
        "userId": {
          "description": "Google Analytics [user ID](https://firebase.google.com/docs/analytics/userid).",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Firebase [application instance ID](https://firebase.google.com/docs/reference/android/com/google/firebase/analytics/FirebaseAnalytics.html#getAppInstanceId).",
          "type": "string"
        },
        "clientId": {
          "description": "Google Analytics [client ID](https://support.google.com/analytics/answer/11593727).",
          "type": "string"
        },
        "userProvidedData": {
          "description": "[User-provided data](https://support.google.com/analytics/answer/14077171). May contain either one email address or one phone number. Email addresses should be normalized as such: * lowercase * remove periods before @ for gmail.com/googlemail.com addresses * remove all spaces Phone numbers should be normalized as such: * remove all non digit characters * add + prefix",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataSharingSettings": {
      "description": "A resource message representing data sharing settings of a Google Analytics account.",
      "type": "object",
      "properties": {
        "sharingWithOthersEnabled": {
          "description": "Enable features like predictions, modeled data, and benchmarking that can provide you with richer business insights when you contribute aggregated measurement data. The data you share (including information about the property from which it is shared) is aggregated and de-identified before being used to generate business insights. This field maps to the \"Modeling contributions & business insights\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: \"accounts/1000/dataSharingSettings\"",
          "type": "string",
          "readOnly": true
        },
        "sharingWithGoogleAnySalesEnabled": {
          "deprecated": true,
          "description": "Deprecated. This field is no longer used and always returns false.",
          "type": "boolean"
        },
        "sharingWithGoogleSupportEnabled": {
          "description": "Allows Google technical support representatives access to your Google Analytics data and account when necessary to provide service and find solutions to technical issues. This field maps to the \"Technical support\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleAssignedSalesEnabled": {
          "description": "Allows Google access to your Google Analytics account data, including account usage and configuration data, product spending, and users associated with your Google Analytics account, so that Google can help you make the most of Google products, providing you with insights, offers, recommendations, and optimization tips across Google Analytics and other Google products for business. This field maps to the \"Recommendations for your business\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        },
        "sharingWithGoogleProductsEnabled": {
          "description": "Allows Google to use the data to improve other Google products or services. This fields maps to the \"Google products & services\" field in the Google Analytics Admin UI.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataSharingSettings"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "properties": {
        "expandedDataSets": {
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "description": "Response message for ListExpandedDataSets RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDataStreamsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDataStreamsResponse",
      "properties": {
        "dataStreams": {
          "description": "List of DataStreams.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDataStream"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListDataStreams RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter": {
      "properties": {
        "fieldName": {
          "description": "Required. The dimension name to filter.",
          "type": "string"
        },
        "inListFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter",
          "description": "A filter for a string dimension that matches a particular list of options."
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
          "description": "A filter for a string-type dimension that matches a particular pattern."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
      "description": "A specific filter for a single dimension",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccount": {
      "description": "A resource message representing a Google Analytics account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAccount",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when account payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "deleted": {
          "description": "Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time when this account was originally created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "gmpOrganization": {
          "readOnly": true,
          "description": "Output only. The URI for a Google Marketing Platform organization resource. Only set when this account is connected to a GMP organization. Format: marketingplatformadmin.googleapis.com/organizations/{org_id}",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this account.",
          "type": "string"
        },
        "regionCode": {
          "description": "Country of business. Must be a Unicode CLDR region code.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Resource name of this account. Format: accounts/{account} Example: \"accounts/100\"",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventFilter": {
      "description": "A filter that matches events of a single event name. If an event parameter is specified, only the subset of events that match both the single event name and the parameter filter expressions match this event filter.",
      "type": "object",
      "properties": {
        "eventName": {
          "description": "Required. Immutable. The name of the event to match against.",
          "type": "string"
        },
        "eventParameterFilterExpression": {
          "description": "Optional. If specified, this filter matches events that match both the single event name and the parameter filter expressions. AudienceEventFilter inside the parameter filter expression cannot be set (For example, nested event filters are not supported). This should be a single and_group of dimension_or_metric_filter or not_expression; ANDs of ORs are not supported. Also, if it includes a filter for \"eventCount\", only that one will be considered; all the other filters will be ignored.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "properties": {
        "value": {
          "format": "double",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "type": "number"
        },
        "currencyCode": {
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest": {
      "description": "Request message for BatchCreateAccessBindings RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsRequest",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to create. A maximum of 1000 access bindings can be created in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotation": {
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
      "properties": {
        "name": {
          "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'",
          "type": "string"
        },
        "title": {
          "description": "Required. Human-readable title for this Reporting Data Annotation.",
          "type": "string"
        },
        "annotationDate": {
          "description": "If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "annotationDateRange": {
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
          "description": "If set, the Reporting Data Annotation is for a range of dates represented by this field."
        },
        "color": {
          "enum": [
            "COLOR_UNSPECIFIED",
            "PURPLE",
            "BROWN",
            "BLUE",
            "GREEN",
            "RED",
            "CYAN",
            "ORANGE"
          ],
          "description": "Required. The color used for display of this Reporting Data Annotation.",
          "type": "string",
          "enumDescriptions": [
            "Color unknown or not specified.",
            "Purple color.",
            "Brown color.",
            "Blue color.",
            "Green color.",
            "Red color.",
            "Cyan color.",
            "Orange color. (Only used for system-generated annotations)"
          ]
        },
        "description": {
          "description": "Optional. Description for this Reporting Data Annotation.",
          "type": "string"
        },
        "systemGenerated": {
          "readOnly": true,
          "description": "Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted.",
          "type": "boolean"
        }
      },
      "description": "A Reporting Data Annotation is a comment connected to certain dates for reporting data.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "properties": {
        "eventEditRules": {
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "description": "Response message for ListEventEditRules RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "description": "Settings values for data retention. This is a singleton resource.",
      "type": "object",
      "properties": {
        "eventDataRetention": {
          "description": "Required. The length of time that event-level data is retained.",
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings",
          "type": "string"
        },
        "resetUserDataOnNewActivity": {
          "description": "If true, reset the retention period for the user identifier with every event from that user.",
          "type": "boolean"
        },
        "userDataRetention": {
          "description": "Required. The length of time that user-level data is retained.",
          "type": "string",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "properties": {
        "displayName": {
          "description": "Display name for the account referred to in this account summary.",
          "type": "string"
        },
        "propertySummaries": {
          "description": "List of summaries for child accounts of this account.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        },
        "name": {
          "description": "Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\"",
          "type": "string"
        },
        "account": {
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\"",
          "type": "string"
        }
      },
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "properties": {
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "type": {
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ]
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "iosAppStreamData": {
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData"
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\"",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units.",
          "type": "string"
        },
        "webStreamData": {
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData"
        }
      },
      "description": "A resource message representing a data stream.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
      "properties": {
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        },
        "logCondition": {
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "description": "Required. When to log the event.",
          "type": "string",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ]
        }
      },
      "description": "Specifies an event to log when a user joins the Audience.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "description": "A description of a change to a single Google Analytics resource.",
      "type": "object",
      "properties": {
        "resource": {
          "description": "Resource name of the resource whose changes are described by this entry.",
          "type": "string"
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resourceBeforeChange": {
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "properties": {
        "displayVideo360AdvertiserLinks": {
          "description": "List of DisplayVideo360AdvertiserLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "properties": {
        "startDate": {
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaParameterMutation": {
      "description": "Defines an event parameter to mutate.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaParameterMutation",
      "properties": {
        "parameter": {
          "description": "Required. The name of the parameter to mutate. This value must: * be less than 40 characters. * be unique across across all mutations within the rule * consist only of letters, digits or _ (underscores) For event edit rules, the name may also be set to 'event_name' to modify the event_name in place.",
          "type": "string"
        },
        "parameterValue": {
          "description": "Required. The value mutation to perform. * Must be less than 100 characters. * To specify a constant value for the param, use the value's string. * To copy value from another parameter, use syntax like \"[[other_parameter]]\" For more details, see this [help center article](https://support.google.com/analytics/answer/10085872#modify-an-event&zippy=%2Cin-this-article%2Cmodify-parameters).",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList": {
      "description": "A list of Audience filter expressions.",
      "type": "object",
      "properties": {
        "filterExpressions": {
          "description": "A list of Audience filter expressions.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression": {
      "description": "A logical expression of EnhancedDataSet dimension filters.",
      "type": "object",
      "properties": {
        "andGroup": {
          "description": "A list of expressions to be AND’ed together. It must contain a ExpandedDataSetFilterExpression with either not_expression or dimension_filter. This must be set for the top level ExpandedDataSetFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpressionList"
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "A filter expression to be NOT'ed (that is, inverted, complemented). It must include a dimension_filter. This cannot be set on the top level ExpandedDataSetFilterExpression."
        },
        "filter": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilter",
          "description": "A filter on a single dimension. This cannot be set on the top level ExpandedDataSetFilterExpression."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse": {
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaAcknowledgeUserDataCollectionResponse",
      "description": "Response message for AcknowledgeUserDataCollection RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "properties": {
        "fromValue": {
          "description": "Begins with this number.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      },
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimension": {
      "id": "GoogleAnalyticsAdminV1alphaAccessDimension",
      "properties": {
        "dimensionName": {
          "description": "The API name of the dimension. See [Data Access Schema](https://developers.google.com/analytics/devguides/config/admin/v1/access-api-schema) for the list of dimensions supported in this API. Dimensions are referenced by name in `dimensionFilter` and `orderBys`.",
          "type": "string"
        }
      },
      "description": "Dimensions are attributes of your data. For example, the dimension `userEmail` indicates the email of the user that accessed reporting data. Dimension values in report responses are strings.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSearchAds360LinksResponse",
      "properties": {
        "searchAds360Links": {
          "description": "List of SearchAds360Links.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListSearchAds360Links RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse": {
      "properties": {
        "googleAdsLinks": {
          "description": "List of GoogleAdsLinks.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse",
      "description": "Response message for ListGoogleAdsLinks RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression": {
      "description": "A logical expression of Channel Group dimension filters.",
      "type": "object",
      "properties": {
        "filter": {
          "description": "A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
          "description": "A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group."
        },
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
          "description": "A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "type": "object",
      "properties": {
        "accessBindings": {
          "description": "The access bindings updated.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse"
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest": {
      "description": "Request message for SearchChangeHistoryEvents RPC.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Optional. If set, only return changes if they are for a resource that matches at least one of these types.",
          "type": "array",
          "items": {
            "enum": [
              "CHANGE_HISTORY_RESOURCE_TYPE_UNSPECIFIED",
              "ACCOUNT",
              "PROPERTY",
              "FIREBASE_LINK",
              "GOOGLE_ADS_LINK",
              "GOOGLE_SIGNALS_SETTINGS",
              "CONVERSION_EVENT",
              "MEASUREMENT_PROTOCOL_SECRET",
              "CUSTOM_DIMENSION",
              "CUSTOM_METRIC",
              "DATA_RETENTION_SETTINGS",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK",
              "DISPLAY_VIDEO_360_ADVERTISER_LINK_PROPOSAL",
              "SEARCH_ADS_360_LINK",
              "DATA_STREAM",
              "ATTRIBUTION_SETTINGS",
              "EXPANDED_DATA_SET",
              "CHANNEL_GROUP",
              "BIGQUERY_LINK",
              "ENHANCED_MEASUREMENT_SETTINGS",
              "DATA_REDACTION_SETTINGS",
              "SKADNETWORK_CONVERSION_VALUE_SCHEMA",
              "ADSENSE_LINK",
              "AUDIENCE",
              "EVENT_CREATE_RULE",
              "KEY_EVENT",
              "CALCULATED_METRIC",
              "REPORTING_DATA_ANNOTATION",
              "SUBPROPERTY_SYNC_CONFIG",
              "REPORTING_IDENTITY_SETTINGS"
            ],
            "type": "string",
            "enumDescriptions": [
              "Resource type unknown or not specified.",
              "Account resource",
              "Property resource",
              "FirebaseLink resource",
              "GoogleAdsLink resource",
              "GoogleSignalsSettings resource",
              "ConversionEvent resource",
              "MeasurementProtocolSecret resource",
              "CustomDimension resource",
              "CustomMetric resource",
              "DataRetentionSettings resource",
              "DisplayVideo360AdvertiserLink resource",
              "DisplayVideo360AdvertiserLinkProposal resource",
              "SearchAds360Link resource",
              "DataStream resource",
              "AttributionSettings resource",
              "ExpandedDataSet resource",
              "ChannelGroup resource",
              "BigQuery link resource",
              "EnhancedMeasurementSettings resource",
              "DataRedactionSettings resource",
              "SKAdNetworkConversionValueSchema resource",
              "AdSenseLink resource",
              "Audience resource",
              "EventCreateRule resource",
              "KeyEvent resource",
              "CalculatedMetric resource",
              "ReportingDataAnnotation resource",
              "SubpropertySyncConfig resource",
              "ReportingIdentitySettings resource"
            ]
          }
        },
        "action": {
          "description": "Optional. If set, only return changes that match one or more of these types of actions.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Action type unknown or not specified.",
              "Resource was created in this change.",
              "Resource was updated in this change.",
              "Resource was deleted in this change."
            ],
            "enum": [
              "ACTION_TYPE_UNSPECIFIED",
              "CREATED",
              "UPDATED",
              "DELETED"
            ]
          }
        },
        "actorEmail": {
          "description": "Optional. If set, only return changes if they are made by a user in this list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of ChangeHistoryEvent items to return. If unspecified, at most 50 items will be returned. The maximum value is 200 (higher values will be coerced to the maximum). Note that the service may return a page with fewer items than this value specifies (potentially even zero), and that there still may be additional pages. If you want a particular number of items, you'll need to continue requesting additional pages using `page_token` until you get the needed number.",
          "type": "integer"
        },
        "latestChangeTime": {
          "description": "Optional. If set, only return changes made before this time (inclusive).",
          "type": "string",
          "format": "google-datetime"
        },
        "property": {
          "description": "Optional. Resource name for a child property. If set, only return changes made to this property or its child resources. Format: properties/{propertyId} Example: `properties/100`",
          "type": "string"
        },
        "earliestChangeTime": {
          "format": "google-datetime",
          "description": "Optional. If set, only return changes made after this time (inclusive).",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `SearchChangeHistoryEvents` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchChangeHistoryEvents` must match the call that provided the page token.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsRequest"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSimpleFilter",
      "properties": {
        "scope": {
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ]
        },
        "filterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters."
        }
      },
      "description": "Defines a simple filter that a user must satisfy to be a member of the Audience.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "description": "Access report data for each row.",
      "type": "object",
      "properties": {
        "dimensionValues": {
          "description": "List of dimension values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          }
        },
        "metricValues": {
          "description": "List of metric values. These values are in the same order as specified in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessRow"
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest",
      "properties": {
        "eventEditRules": {
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for ReorderEventEditRules RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "description": "Response message for ListChannelGroups RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "properties": {
        "channelGroups": {
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options.",
      "type": "object",
      "properties": {
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true.",
          "type": "boolean"
        },
        "values": {
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "properties": {
        "requests": {
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateAccessBindings RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "description": "Response message for ListCalculatedMetrics RPC.",
      "type": "object",
      "properties": {
        "calculatedMetrics": {
          "description": "List of CalculatedMetrics.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse"
    },
    "GoogleAnalyticsAdminV1alphaProperty": {
      "description": "A resource message representing a Google Analytics property.",
      "type": "object",
      "properties": {
        "industryCategory": {
          "enum": [
            "INDUSTRY_CATEGORY_UNSPECIFIED",
            "AUTOMOTIVE",
            "BUSINESS_AND_INDUSTRIAL_MARKETS",
            "FINANCE",
            "HEALTHCARE",
            "TECHNOLOGY",
            "TRAVEL",
            "OTHER",
            "ARTS_AND_ENTERTAINMENT",
            "BEAUTY_AND_FITNESS",
            "BOOKS_AND_LITERATURE",
            "FOOD_AND_DRINK",
            "GAMES",
            "HOBBIES_AND_LEISURE",
            "HOME_AND_GARDEN",
            "INTERNET_AND_TELECOM",
            "LAW_AND_GOVERNMENT",
            "NEWS",
            "ONLINE_COMMUNITIES",
            "PEOPLE_AND_SOCIETY",
            "PETS_AND_ANIMALS",
            "REAL_ESTATE",
            "REFERENCE",
            "SCIENCE",
            "SPORTS",
            "JOBS_AND_EDUCATION",
            "SHOPPING"
          ],
          "description": "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK",
          "type": "string",
          "enumDescriptions": [
            "Industry category unspecified",
            "Automotive",
            "Business and industrial markets",
            "Finance",
            "Healthcare",
            "Technology",
            "Travel",
            "Other",
            "Arts and entertainment",
            "Beauty and fitness",
            "Books and literature",
            "Food and drink",
            "Games",
            "Hobbies and leisure",
            "Home and garden",
            "Internet and telecom",
            "Law and government",
            "News",
            "Online communities",
            "People and society",
            "Pets and animals",
            "Real estate",
            "Reference",
            "Science",
            "Sports",
            "Jobs and education",
            "Shopping"
          ]
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. If set, the time at which this property was trashed. If not set, then this property is not currently in the trash can.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. If set, the time at which this trashed property will be permanently deleted. If not set, then this property is not currently in the trash can and is not slated to be deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. Time when entity payload fields were last updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Resource name of this property. Format: properties/{property_id} Example: \"properties/1000\"",
          "type": "string"
        },
        "propertyType": {
          "enumDescriptions": [
            "Unknown or unspecified property type",
            "Ordinary Google Analytics property",
            "Google Analytics subproperty",
            "Google Analytics rollup property"
          ],
          "description": "Immutable. The property type for this Property resource. When creating a property, if the type is \"PROPERTY_TYPE_UNSPECIFIED\", then \"ORDINARY_PROPERTY\" will be implied.",
          "type": "string",
          "enum": [
            "PROPERTY_TYPE_UNSPECIFIED",
            "PROPERTY_TYPE_ORDINARY",
            "PROPERTY_TYPE_SUBPROPERTY",
            "PROPERTY_TYPE_ROLLUP"
          ]
        },
        "timeZone": {
          "description": "Required. Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: \"America/Los_Angeles\"",
          "type": "string"
        },
        "serviceLevel": {
          "readOnly": true,
          "enum": [
            "SERVICE_LEVEL_UNSPECIFIED",
            "GOOGLE_ANALYTICS_STANDARD",
            "GOOGLE_ANALYTICS_360"
          ],
          "enumDescriptions": [
            "Service level not specified or invalid.",
            "The standard version of Google Analytics.",
            "The paid, premium version of Google Analytics."
          ],
          "description": "Output only. The Google Analytics service level that applies to this property.",
          "type": "string"
        },
        "parent": {
          "description": "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account}, properties/{property} Example: \"accounts/100\", \"properties/101\"",
          "type": "string"
        },
        "currencyCode": {
          "description": "The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: \"USD\", \"EUR\", \"JPY\"",
          "type": "string"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when the entity was originally created.",
          "type": "string"
        },
        "account": {
          "description": "Immutable. The resource name of the parent account Format: accounts/{account_id} Example: \"accounts/123\"",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaProperty"
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "properties": {}
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "properties": {
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this link was last updated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this link was originally created.",
          "type": "string"
        },
        "creatorEmailAddress": {
          "readOnly": true,
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "canManageClients": {
          "readOnly": true,
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "type": "boolean"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessNumericFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessNumericFilter",
      "properties": {
        "operation": {
          "description": "The operation type for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Equal",
            "Less than",
            "Less than or equal",
            "Greater than",
            "Greater than or equal"
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL"
          ]
        },
        "value": {
          "description": "A numeric value or a date value.",
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue"
        }
      },
      "description": "Filters for numeric or date values.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "properties": {
        "scope": {
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "type": "string",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ]
        },
        "sequenceMaximumDuration": {
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "type": "string",
          "format": "google-duration"
        },
        "sequenceSteps": {
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        }
      },
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyRequest",
      "properties": {
        "subpropertyEventFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
          "description": "Optional. The subproperty event filter to create on an ordinary property."
        },
        "subproperty": {
          "description": "Required. The subproperty to create.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "customDimensionAndMetricSynchronizationMode": {
          "enum": [
            "SYNCHRONIZATION_MODE_UNSPECIFIED",
            "NONE",
            "ALL"
          ],
          "enumDescriptions": [
            "Synchronization mode unknown or not specified.",
            "Entities are not synchronized. Local edits are allowed on the subproperty.",
            "Entities are synchronized from parent property. Local mutations are not allowed on the subproperty (Create / Update / Delete)"
          ],
          "description": "Optional. The subproperty feature synchronization mode for Custom Dimensions and Metrics",
          "type": "string"
        }
      },
      "description": "Request message for CreateSubproperty RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSet": {
      "properties": {
        "displayName": {
          "description": "Required. The display name of the ExpandedDataSet. Max 200 chars.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
          "type": "string",
          "readOnly": true
        },
        "dataCollectionStartTime": {
          "description": "Output only. Time when expanded data set began (or will begin) collecing data.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dimensionNames": {
          "description": "Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "metricNames": {
          "description": "Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dimensionFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row."
        },
        "description": {
          "description": "Optional. The description of the ExpandedDataSet. Max 50 chars.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
      "description": "A resource message representing an `ExpandedDataSet`.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep": {
      "properties": {
        "scope": {
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "description": "Required. Immutable. Specifies the scope for this step.",
          "type": "string"
        },
        "filterExpression": {
          "description": "Required. Immutable. A logical expression of Audience dimension, metric, or event filters in each step.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "immediatelyFollows": {
          "description": "Optional. If true, the event satisfying this step must be the very next event after the event satisfying the last step. If unset or false, this step indirectly follows the prior step; for example, there may be events between the prior step and this step. It is ignored for the first step.",
          "type": "boolean"
        },
        "constraintDuration": {
          "format": "google-duration",
          "description": "Optional. When set, this step must be satisfied within the constraint_duration of the previous step (For example, t[i] - t[i-1] <= constraint_duration). If not set, there is no duration requirement (the duration is effectively unlimited). It is ignored for the first step.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep",
      "description": "A condition that must occur in the specified step order for this user to match the sequence.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time when this key event was created in the property.",
          "type": "string"
        },
        "custom": {
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "type": "boolean",
          "readOnly": true
        },
        "deletable": {
          "readOnly": true,
          "description": "Output only. If set to true, this event can be deleted.",
          "type": "boolean"
        },
        "countingMethod": {
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ],
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "type": "string"
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "defaultValue": {
          "description": "Optional. Defines a default value/currency for a key event.",
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue"
        },
        "name": {
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent"
    },
    "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse": {
      "description": "Response message for CreateRollupProperty RPC.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaCreateRollupPropertyResponse",
      "properties": {
        "rollupProperty": {
          "$ref": "GoogleAnalyticsAdminV1alphaProperty",
          "description": "The created roll-up property."
        },
        "rollupPropertySourceLinks": {
          "description": "The created roll-up property source links.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricHeader": {
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricHeader",
      "properties": {
        "metricName": {
          "description": "The metric's name; for example 'accessCount'.",
          "type": "string"
        }
      },
      "description": "Describes a metric column in the report. Visible metrics requested in a report produce column entries within rows and MetricHeaders. However, metrics used exclusively within filters or expressions do not produce columns in a report; correspondingly, those metrics do not produce headers.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter": {
      "description": "A filter for a string dimension that matches a particular list of options. The match is case insensitive.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterInListFilter"
    },
    "GoogleAnalyticsAdminV1alphaFirebaseLink": {
      "properties": {
        "project": {
          "description": "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time when this FirebaseLink was originally created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. Example format: properties/1234/firebaseLinks/5678",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaFirebaseLink",
      "description": "A link between a Google Analytics property and a Firebase project.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse": {
      "description": "Response message for ListEventCreateRules RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "eventCreateRules": {
          "description": "List of EventCreateRules. These will be ordered stably, but in an arbitrary order.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListEventCreateRulesResponse"
    },
    "GoogleAnalyticsAdminV1alphaAudience": {
      "description": "A resource message representing an Audience.",
      "type": "object",
      "id": "GoogleAnalyticsAdminV1alphaAudience",
      "properties": {
        "createTime": {
          "description": "Output only. Time when the Audience was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "eventTrigger": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
          "description": "Optional. Specifies an event to log when a user joins the Audience. If not set, no event is logged when a user joins the Audience."
        },
        "exclusionDurationMode": {
          "enum": [
            "AUDIENCE_EXCLUSION_DURATION_MODE_UNSPECIFIED",
            "EXCLUDE_TEMPORARILY",
            "EXCLUDE_PERMANENTLY"
          ],
          "description": "Immutable. Specifies how long an exclusion lasts for users that meet the exclusion filter. It is applied to all EXCLUDE filter clauses and is ignored when there is no EXCLUDE filter clause in the Audience.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Exclude users from the Audience during periods when they meet the filter clause.",
            "Exclude users from the Audience if they've ever met the filter clause."
          ]
        },
        "filterClauses": {
          "description": "Required. Immutable. Unordered list. Filter clauses that define the Audience. All clauses will be AND’ed together.",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterClause"
          }
        },
        "adsPersonalizationEnabled": {
          "readOnly": true,
          "description": "Output only. It is automatically set by GA to false if this is an NPA Audience and is excluded from ads personalization.",
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name for this Audience resource. Format: properties/{propertyId}/audiences/{audienceId}",
          "type": "string"
        },
        "description": {
          "description": "Required. The description of the Audience.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the Audience.",
          "type": "string"
        },
        "membershipDurationDays": {
          "format": "int32",
          "description": "Required. Immutable. The duration a user should stay in an Audience. It cannot be set to more than 540 days.",
          "type": "integer"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "properties": {
        "conversionEvents": {
          "description": "The requested conversion events",
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListConversionEvents RPC.",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
[...]
