{
  "id": "analytics:v3",
  "discoveryVersion": "v1",
  "description": "Views and manages your Google Analytics data.",
  "title": "Google Analytics API",
  "name": "analytics",
  "basePath": "/analytics/v3/",
  "documentationLink": "https://developers.google.com/analytics/",
  "ownerName": "Google",
  "version": "v3",
  "etag": "\"9eZ1uxVRThTDhLJCZHhqs3eQWz4/o_TVyaWurnALX6ZIQ952-U5m22Y\"",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "An opaque string that represents a user for quota purposes. Must not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "description": "Data format for the response.",
      "location": "query",
      "enum": [
        "json"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "userIp": {
      "type": "string",
      "description": "Deprecated. Please use quotaUser instead.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "false"
    }
  },
  "revision": "20190807",
  "servicePath": "analytics/v3/",
  "schemas": {
    "Goal": {
      "properties": {
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this goal belongs."
        },
        "parentLink": {
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\".",
              "default": "analytics#profile"
            },
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this goal belongs."
            }
          },
          "type": "object",
          "description": "Parent link for a goal. Points to the view (profile) to which this goal belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this goal belongs."
        },
        "name": {
          "type": "string",
          "description": "Goal name."
        },
        "id": {
          "type": "string",
          "description": "Goal ID."
        },
        "type": {
          "type": "string",
          "description": "Goal type. Possible values are URL_DESTINATION, VISIT_TIME_ON_SITE, VISIT_NUM_PAGES, AND EVENT."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this goal belongs. The web property ID is of the form UA-XXXXX-YY."
        },
        "active": {
          "type": "boolean",
          "description": "Determines whether this goal is active."
        },
        "visitNumPagesDetails": {
          "properties": {
            "comparisonValue": {
              "format": "int64",
              "type": "string",
              "description": "Value used for this comparison."
            },
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN, or EQUAL."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type VISIT_NUM_PAGES."
        },
        "eventDetails": {
          "type": "object",
          "description": "Details for the goal of the type EVENT.",
          "properties": {
            "eventConditions": {
              "type": "array",
              "description": "List of event conditions.",
              "items": {
                "type": "object",
                "properties": {
                  "matchType": {
                    "type": "string",
                    "description": "Type of the match to be performed. Possible values are REGEXP, BEGINS_WITH, or EXACT."
                  },
                  "expression": {
                    "type": "string",
                    "description": "Expression used for this match."
                  },
                  "comparisonValue": {
                    "format": "int64",
                    "type": "string",
                    "description": "Value used for this comparison."
                  },
                  "comparisonType": {
                    "type": "string",
                    "description": "Type of comparison. Possible values are LESS_THAN, GREATER_THAN or EQUAL."
                  },
                  "type": {
                    "type": "string",
                    "description": "Type of this event condition. Possible values are CATEGORY, ACTION, LABEL, or VALUE."
                  }
                }
              }
            },
            "useEventValue": {
              "type": "boolean",
              "description": "Determines if the event value should be used as the value for this goal."
            }
          }
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this goal belongs."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time this goal was created."
        },
        "urlDestinationDetails": {
          "properties": {
            "firstStepRequired": {
              "type": "boolean",
              "description": "Determines if the first step in this goal is required."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the goal URL must exactly match the capitalization of visited URLs."
            },
            "matchType": {
              "type": "string",
              "description": "Match type for the goal URL. Possible values are HEAD, EXACT, or REGEX."
            },
            "steps": {
              "type": "array",
              "description": "List of steps configured for this goal funnel.",
              "items": {
                "type": "object",
                "properties": {
                  "number": {
                    "format": "int32",
                    "type": "integer",
                    "description": "Step number."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL for this step."
                  },
                  "name": {
                    "type": "string",
                    "description": "Step name."
                  }
                }
              }
            },
            "url": {
              "type": "string",
              "description": "URL for this goal."
            }
          },
          "type": "object",
          "description": "Details for the goal of the type URL_DESTINATION."
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time this goal was last modified."
        },
        "value": {
          "type": "number",
          "description": "Goal value.",
          "format": "float"
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this goal."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics goal.",
          "default": "analytics#goal"
        },
        "visitTimeOnSiteDetails": {
          "type": "object",
          "description": "Details for the goal of the type VISIT_TIME_ON_SITE.",
          "properties": {
            "comparisonType": {
              "type": "string",
              "description": "Type of comparison. Possible values are LESS_THAN or GREATER_THAN."
            },
            "comparisonValue": {
              "type": "string",
              "description": "Value used for this comparison.",
              "format": "int64"
            }
          }
        }
      },
      "id": "Goal",
      "type": "object",
      "description": "JSON template for Analytics goal resource."
    },
    "UnsampledReport": {
      "id": "UnsampledReport",
      "type": "object",
      "description": "JSON template for Analytics unsampled report resource.",
      "properties": {
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this unsampled report."
        },
        "kind": {
          "readOnly": true,
          "type": "string",
          "description": "Resource type for an Analytics unsampled report.",
          "default": "analytics#unsampledReport"
        },
        "status": {
          "type": "string",
          "description": "Status of this unsampled report. Possible values are PENDING, COMPLETED, or FAILED.",
          "readOnly": true
        },
        "created": {
          "type": "string",
          "description": "Time this unsampled report was created.",
          "format": "date-time",
          "readOnly": true
        },
        "filters": {
          "type": "string",
          "description": "The filters for the unsampled report."
        },
        "dimensions": {
          "type": "string",
          "description": "The dimensions for the unsampled report."
        },
        "metrics": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "type": "string",
          "description": "The metrics for the unsampled report."
        },
        "cloudStorageDownloadDetails": {
          "readOnly": true,
          "properties": {
            "bucketId": {
              "type": "string",
              "description": "Id of the bucket the file object is stored in."
            },
            "objectId": {
              "type": "string",
              "description": "Id of the file object containing the report data."
            }
          },
          "type": "object",
          "description": "Download details for a file stored in Google Cloud Storage."
        },
        "updated": {
          "type": "string",
          "description": "Time this unsampled report was last modified.",
          "format": "date-time",
          "readOnly": true
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this unsampled report belongs."
        },
        "end-date": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          },
          "type": "string",
          "description": "The end date for the unsampled report."
        },
        "start-date": {
          "type": "string",
          "description": "The start date for the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this unsampled report belongs."
        },
        "downloadType": {
          "readOnly": true,
          "type": "string",
          "description": "The type of download you need to use for the report data file. Possible values include `GOOGLE_DRIVE` and `GOOGLE_CLOUD_STORAGE`. If the value is `GOOGLE_DRIVE`, see the `driveDownloadDetails` field. If the value is `GOOGLE_CLOUD_STORAGE`, see the `cloudStorageDownloadDetails` field."
        },
        "title": {
          "type": "string",
          "description": "Title of the unsampled report.",
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.unsampledReports.insert"
            ]
          }
        },
        "id": {
          "type": "string",
          "description": "Unsampled report ID."
        },
        "driveDownloadDetails": {
          "properties": {
            "documentId": {
              "type": "string",
              "description": "Id of the document/file containing the report data."
            }
          },
          "readOnly": true,
          "type": "object",
          "description": "Download details for a file stored in Google Drive."
        },
        "segment": {
          "type": "string",
          "description": "The segment for the unsampled report."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this unsampled report belongs. The web property ID is of the form UA-XXXXX-YY."
        }
      }
    },
    "WebPropertyRef": {
      "properties": {
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "kind": {
          "default": "analytics#webPropertyRef",
          "type": "string",
          "description": "Analytics web property reference."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "href": {
          "type": "string",
          "description": "Link for this web property."
        }
      },
      "id": "WebPropertyRef",
      "type": "object",
      "description": "JSON template for a web property reference."
    },
    "Webproperty": {
      "id": "Webproperty",
      "type": "object",
      "description": "JSON template for an Analytics web property.",
      "properties": {
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this web property was last modified."
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "level": {
          "readOnly": true,
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "childLink": {
          "type": "object",
          "description": "Child link for this web property. Points to the list of views (profiles) for this web property.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of views (profiles) for this web property."
            },
            "type": {
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#profiles\".",
              "default": "analytics#profiles"
            }
          }
        },
        "dataRetentionTtl": {
          "type": "string",
          "description": "The length of time for which user and event data is retained.\nThis property cannot be set on insert."
        },
        "permissions": {
          "type": "object",
          "description": "Permissions the user has for this web property.",
          "properties": {
            "effective": {
              "readOnly": true,
              "type": "array",
              "description": "All the permissions that the user has for this web property. These include any implied permissions (e.g., EDIT implies VIEW) or inherited permissions from the parent account.",
              "items": {
                "type": "string"
              }
            }
          }
        },
        "created": {
          "type": "string",
          "description": "Time this web property was created.",
          "format": "date-time",
          "readOnly": true
        },
        "defaultProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Default view (profile) ID."
        },
        "kind": {
          "default": "analytics#webproperty",
          "type": "string",
          "description": "Resource type for Analytics WebProperty.",
          "readOnly": true
        },
        "profileCount": {
          "type": "integer",
          "description": "View (Profile) count for this web property.",
          "format": "int32",
          "readOnly": true
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this web property.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "dataRetentionResetOnNewActivity": {
          "type": "boolean",
          "description": "Set to true to reset the retention period of the user identifier with each new event from that user (thus setting the expiration date to current time plus retention period).\nSet to false to delete data associated with the user identifier automatically after the rentention period.\nThis property cannot be set on insert."
        },
        "name": {
          "type": "string",
          "description": "Name of this web property."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this web property belongs."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this web property. Points to the account to which this web property belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account for this web property."
            },
            "type": {
              "default": "analytics#account",
              "type": "string",
              "description": "Type of the parent link. Its value is \"analytics#account\"."
            }
          }
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property.",
          "readOnly": true
        },
        "industryVertical": {
          "type": "string",
          "description": "The industry vertical/category selected for this web property."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        }
      }
    },
    "GaData": {
      "id": "GaData",
      "type": "object",
      "description": "Analytics data for a given view (profile).",
      "properties": {
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          }
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if Analytics data contains samples."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response.",
          "format": "int32"
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "dataLastRefreshed": {
          "format": "int64",
          "type": "string",
          "description": "The last refreshed time in seconds for Analytics data."
        },
        "kind": {
          "default": "analytics#gaData",
          "type": "string",
          "description": "Resource type."
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        },
        "profileInfo": {
          "properties": {
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "dataTable": {
          "type": "object",
          "properties": {
            "cols": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string"
                  },
                  "label": {
                    "type": "string"
                  }
                }
              }
            },
            "rows": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "c": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "v": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "query": {
          "properties": {
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            }
          },
          "type": "object",
          "description": "Analytics data request query parameters."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        }
      }
    },
    "AccountTreeResponse": {
      "id": "AccountTreeResponse",
      "type": "object",
      "description": "JSON template for an Analytics account tree response. The account tree response is used in the provisioning api to return the result of creating an account, property, and view (profile).",
      "properties": {
        "profile": {
          "$ref": "Profile",
          "description": "View (Profile) for the account."
        },
        "account": {
          "description": "The account created.",
          "$ref": "Account"
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeResponse"
        },
        "webproperty": {
          "description": "Web property for the account.",
          "$ref": "Webproperty"
        }
      }
    },
    "Webproperties": {
      "id": "Webproperties",
      "type": "object",
      "description": "A web property collection lists Analytics web properties to which the user has access. Each resource in the collection corresponds to a single Analytics web property.",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of web properties.",
          "items": {
            "$ref": "Webproperty"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this web property collection."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#webproperties"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this web property collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      }
    },
    "CustomDataSource": {
      "id": "CustomDataSource",
      "type": "object",
      "description": "JSON template for an Analytics custom data source.",
      "properties": {
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this custom data source belongs."
        },
        "description": {
          "type": "string",
          "description": "Description of custom data source."
        },
        "id": {
          "type": "string",
          "description": "Custom data source ID."
        },
        "schema": {
          "type": "array",
          "description": "Collection of schema headers of the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "Type of the custom data source."
        },
        "name": {
          "type": "string",
          "description": "Name of this custom data source."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this custom data source belongs."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for this custom data source. Points to the web property to which this custom data source belongs.",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the web property to which this custom data source belongs."
            },
            "type": {
              "default": "analytics#webproperty",
              "type": "string",
              "description": "Value is \"analytics#webproperty\"."
            }
          }
        },
        "uploadType": {
          "type": "string",
          "description": "Upload type of the custom data source."
        },
        "profilesLinked": {
          "type": "array",
          "description": "IDs of views (profiles) linked to the custom data source.",
          "items": {
            "type": "string"
          }
        },
        "updated": {
          "type": "string",
          "description": "Time this custom data source was last modified.",
          "format": "date-time"
        },
        "childLink": {
          "type": "object",
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the list of daily uploads for this custom data source. Link to the list of uploads for this custom data source."
            },
            "type": {
              "type": "string",
              "description": "Value is \"analytics#dailyUploads\". Value is \"analytics#uploads\"."
            }
          }
        },
        "importBehavior": {
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Time this custom data source was created.",
          "format": "date-time"
        },
        "kind": {
          "default": "analytics#customDataSource",
          "type": "string",
          "description": "Resource type for Analytics custom data source."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this Analytics custom data source."
        }
      }
    },
    "Filter": {
      "id": "Filter",
      "type": "object",
      "description": "JSON template for an Analytics account filter.",
      "properties": {
        "created": {
          "type": "string",
          "description": "Time this filter was created.",
          "format": "date-time",
          "readOnly": true
        },
        "advancedDetails": {
          "type": "object",
          "description": "Details for the filter of the type ADVANCED.",
          "properties": {
            "extractB": {
              "type": "string",
              "description": "Expression to extract from field B."
            },
            "fieldBIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "fieldAIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "outputToFieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            },
            "extractA": {
              "type": "string",
              "description": "Expression to extract from field A."
            },
            "fieldB": {
              "type": "string",
              "description": "Field B."
            },
            "fieldA": {
              "type": "string",
              "description": "Field A."
            },
            "outputToField": {
              "type": "string",
              "description": "Output field."
            },
            "fieldBRequired": {
              "type": "boolean",
              "description": "Indicates if field B is required to match."
            },
            "outputConstructor": {
              "type": "string",
              "description": "Expression used to construct the output value."
            },
            "fieldARequired": {
              "type": "boolean",
              "description": "Indicates if field A is required to match."
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Indicates if the filter expressions are case sensitive."
            },
            "overrideOutputField": {
              "type": "boolean",
              "description": "Indicates if the existing value of the output field, if any, should be overridden by the output expression."
            }
          }
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this filter was last modified."
        },
        "selfLink": {
          "readOnly": true,
          "type": "string",
          "description": "Link for this filter."
        },
        "kind": {
          "readOnly": true,
          "default": "analytics#filter",
          "type": "string",
          "description": "Resource type for Analytics filter."
        },
        "lowercaseDetails": {
          "type": "object",
          "description": "Details for the filter of the type LOWER.",
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          }
        },
        "parentLink": {
          "properties": {
            "href": {
              "type": "string",
              "description": "Link to the account to which this filter belongs."
            },
            "type": {
              "default": "analytics#account",
              "type": "string",
              "description": "Value is \"analytics#account\"."
            }
          },
          "type": "object",
          "description": "Parent link for this filter. Points to the account to which this filter belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this filter belongs."
        },
        "excludeDetails": {
          "$ref": "FilterExpression",
          "description": "Details for the filter of the type EXCLUDE."
        },
        "searchAndReplaceDetails": {
          "type": "object",
          "description": "Details for the filter of the type SEARCH_AND_REPLACE.",
          "properties": {
            "fieldIndex": {
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION.",
              "format": "int32"
            },
            "caseSensitive": {
              "type": "boolean",
              "description": "Determines if the filter is case sensitive."
            },
            "replaceString": {
              "type": "string",
              "description": "Term to replace the search term with."
            },
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "searchString": {
              "type": "string",
              "description": "Term to search."
            }
          }
        },
        "name": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Name of this filter."
        },
        "id": {
          "type": "string",
          "description": "Filter ID."
        },
        "type": {
          "annotations": {
            "required": [
              "analytics.management.filters.insert",
              "analytics.management.filters.update"
            ]
          },
          "type": "string",
          "description": "Type of this filter. Possible values are INCLUDE, EXCLUDE, LOWERCASE, UPPERCASE, SEARCH_AND_REPLACE and ADVANCED."
        },
        "uppercaseDetails": {
          "type": "object",
          "description": "Details for the filter of the type UPPER.",
          "properties": {
            "field": {
              "type": "string",
              "description": "Field to use in the filter."
            },
            "fieldIndex": {
              "format": "int32",
              "type": "integer",
              "description": "The Index of the custom dimension. Required if field is a CUSTOM_DIMENSION."
            }
          }
        },
        "includeDetails": {
          "description": "Details for the filter of the type INCLUDE.",
          "$ref": "FilterExpression"
        }
      }
    },
    "FilterExpression": {
      "id": "FilterExpression",
      "type": "object",
      "description": "JSON template for an Analytics filter expression.",
      "properties": {
        "expressionValue": {
          "type": "string",
          "description": "Filter expression value"
        },
        "field": {
          "type": "string",
          "description": "Field to filter. Possible values:  \n- Content and Traffic  \n- PAGE_REQUEST_URI, \n- PAGE_HOSTNAME, \n- PAGE_TITLE, \n- REFERRAL, \n- COST_DATA_URI (Campaign target URL), \n- HIT_TYPE, \n- INTERNAL_SEARCH_TERM, \n- INTERNAL_SEARCH_TYPE, \n- SOURCE_PROPERTY_TRACKING_ID,   \n- Campaign or AdGroup  \n- CAMPAIGN_SOURCE, \n- CAMPAIGN_MEDIUM, \n- CAMPAIGN_NAME, \n- CAMPAIGN_AD_GROUP, \n- CAMPAIGN_TERM, \n- CAMPAIGN_CONTENT, \n- CAMPAIGN_CODE, \n- CAMPAIGN_REFERRAL_PATH,   \n- E-Commerce  \n- TRANSACTION_COUNTRY, \n- TRANSACTION_REGION, \n- TRANSACTION_CITY, \n- TRANSACTION_AFFILIATION (Store or order location), \n- ITEM_NAME, \n- ITEM_CODE, \n- ITEM_VARIATION, \n- TRANSACTION_ID, \n- TRANSACTION_CURRENCY_CODE, \n- PRODUCT_ACTION_TYPE,   \n- Audience/Users  \n- BROWSER, \n- BROWSER_VERSION, \n- BROWSER_SIZE, \n- PLATFORM, \n- PLATFORM_VERSION, \n- LANGUAGE, \n- SCREEN_RESOLUTION, \n- SCREEN_COLORS, \n- JAVA_ENABLED (Boolean Field), \n- FLASH_VERSION, \n- GEO_SPEED (Connection speed), \n- VISITOR_TYPE, \n- GEO_ORGANIZATION (ISP organization), \n- GEO_DOMAIN, \n- GEO_IP_ADDRESS, \n- GEO_IP_VERSION,   \n- Location  \n- GEO_COUNTRY, \n- GEO_REGION, \n- GEO_CITY,   \n- Event  \n- EVENT_CATEGORY, \n- EVENT_ACTION, \n- EVENT_LABEL,   \n- Other  \n- CUSTOM_FIELD_1, \n- CUSTOM_FIELD_2, \n- USER_DEFINED_VALUE,   \n- Application  \n- APP_ID, \n- APP_INSTALLER_ID, \n- APP_NAME, \n- APP_VERSION, \n- SCREEN, \n- IS_APP (Boolean Field), \n- IS_FATAL_EXCEPTION (Boolean Field), \n- EXCEPTION_DESCRIPTION,   \n- Mobile device  \n- IS_MOBILE (Boolean Field, Deprecated. Use DEVICE_CATEGORY=mobile), \n- IS_TABLET (Boolean Field, Deprecated. Use DEVICE_CATEGORY=tablet), \n- DEVICE_CATEGORY, \n- MOBILE_HAS_QWERTY_KEYBOARD (Boolean Field), \n- MOBILE_HAS_NFC_SUPPORT (Boolean Field), \n- MOBILE_HAS_CELLULAR_RADIO (Boolean Field), \n- MOBILE_HAS_WIFI_SUPPORT (Boolean Field), \n- MOBILE_BRAND_NAME, \n- MOBILE_MODEL_NAME, \n- MOBILE_MARKETING_NAME, \n- MOBILE_POINTING_METHOD,   \n- Social  \n- SOCIAL_NETWORK, \n- SOCIAL_ACTION, \n- SOCIAL_ACTION_TARGET,   \n- Custom dimension  \n- CUSTOM_DIMENSION (See accompanying field index),"
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Determines if the filter is case sensitive."
        },
        "kind": {
          "default": "analytics#filterExpression",
          "type": "string",
          "description": "Kind value for filter expression"
        },
        "matchType": {
          "type": "string",
          "description": "Match type for this filter. Possible values are BEGINS_WITH, EQUAL, ENDS_WITH, CONTAINS, or MATCHES. GEO_DOMAIN, GEO_IP_ADDRESS, PAGE_REQUEST_URI, or PAGE_HOSTNAME filters can use any match type; all other filters must use MATCHES."
        },
        "fieldIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The Index of the custom dimension. Set only if the field is a is CUSTOM_DIMENSION."
        }
      }
    },
    "IncludeConditions": {
      "properties": {
        "isSmartList": {
          "type": "boolean",
          "description": "Boolean indicating whether this segment is a smart list. https://support.google.com/analytics/answer/4628577"
        },
        "daysToLookBack": {
          "format": "int32",
          "type": "integer",
          "description": "The look-back window lets you specify a time frame for evaluating the behavior that qualifies users for your audience. For example, if your filters include users from Central Asia, and Transactions Greater than 2, and you set the look-back window to 14 days, then any user from Central Asia whose cumulative transactions exceed 2 during the last 14 days is added to the audience."
        },
        "membershipDurationDays": {
          "format": "int32",
          "type": "integer",
          "description": "Number of days (in the range 1 to 540) a user remains in the audience."
        },
        "kind": {
          "default": "analytics#includeConditions",
          "type": "string",
          "description": "Resource type for include conditions."
        },
        "segment": {
          "type": "string",
          "description": "The segment condition that will cause a user to be added to an audience."
        }
      },
      "id": "IncludeConditions",
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Include Conditions."
    },
    "Upload": {
      "id": "Upload",
      "type": "object",
      "description": "Metadata returned for an upload operation.",
      "properties": {
        "accountId": {
          "format": "int64",
          "type": "string",
          "description": "Account Id to which this upload belongs."
        },
        "kind": {
          "default": "analytics#upload",
          "type": "string",
          "description": "Resource type for Analytics upload."
        },
        "uploadTime": {
          "type": "string",
          "description": "Time this file is uploaded.",
          "format": "date-time"
        },
        "customDataSourceId": {
          "type": "string",
          "description": "Custom data source Id to which this data import belongs."
        },
        "errors": {
          "type": "array",
          "description": "Data import errors collection.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "A unique ID for this upload."
        },
        "status": {
          "type": "string",
          "description": "Upload status. Possible values: PENDING, COMPLETED, FAILED, DELETING, DELETED."
        }
      }
    },
    "HashClientIdResponse": {
      "properties": {
        "hashedClientId": {
          "type": "string"
        },
        "kind": {
          "default": "analytics#hashClientIdResponse",
          "type": "string"
        },
        "clientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        }
      },
      "id": "HashClientIdResponse",
      "type": "object",
      "description": "JSON template for a hash Client Id response resource."
    },
    "ProfileSummary": {
      "properties": {
        "id": {
          "type": "string",
          "description": "View (profile) ID."
        },
        "type": {
          "type": "string",
          "description": "View (Profile) type. Supported types: WEB or APP."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics ProfileSummary.",
          "default": "analytics#profileSummary"
        },
        "name": {
          "type": "string",
          "description": "View (profile) name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this view (profile) is starred or not."
        }
      },
      "id": "ProfileSummary",
      "type": "object",
      "description": "JSON template for an Analytics ProfileSummary. ProfileSummary returns basic information (i.e., summary) for a profile."
    },
    "AdWordsAccount": {
      "id": "AdWordsAccount",
      "type": "object",
      "description": "JSON template for an Google Ads account.",
      "properties": {
        "autoTaggingEnabled": {
          "type": "boolean",
          "description": "True if auto-tagging is enabled on the Google Ads account. Read-only after the insert operation."
        },
        "customerId": {
          "annotations": {
            "required": [
              "analytics.management.webPropertyAdWordsLinks.insert",
              "analytics.management.webPropertyAdWordsLinks.update"
            ]
          },
          "type": "string",
          "description": "Customer ID. This field is required when creating a Google Ads link."
        },
        "kind": {
          "default": "analytics#adWordsAccount",
          "type": "string",
          "description": "Resource type for Google Ads account."
        }
      }
    },
    "McfData": {
      "id": "McfData",
      "type": "object",
      "description": "Multi-Channel Funnels data for a given view (profile).",
      "properties": {
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "kind": {
          "default": "analytics#mcfData",
          "type": "string",
          "description": "Resource type."
        },
        "sampleSpace": {
          "format": "int64",
          "type": "string",
          "description": "Total size of the sample space from which the samples were selected."
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of rows the response can contain, regardless of the actual number of rows returned. Its value ranges from 1 to 10,000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "rows": {
          "type": "array",
          "description": "Analytics data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "properties": {
                "conversionPathValue": {
                  "type": "array",
                  "description": "A conversion path dimension value, containing a list of interactions with their attributes.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "interactionType": {
                        "type": "string",
                        "description": "Type of an interaction on conversion path. Such as CLICK, IMPRESSION etc."
                      },
                      "nodeValue": {
                        "type": "string",
                        "description": "Node value of an interaction on conversion path. Such as source, medium etc."
                      }
                    }
                  }
                },
                "primitiveValue": {
                  "type": "string",
                  "description": "A primitive dimension value. A primitive metric value."
                }
              },
              "type": "object",
              "description": "A union object representing a dimension or metric value. Only one of \"primitiveValue\" or \"conversionPathValue\" attribute will be populated."
            }
          }
        },
        "sampleSize": {
          "format": "int64",
          "type": "string",
          "description": "The number of samples used to calculate the result."
        },
        "containsSampledData": {
          "type": "boolean",
          "description": "Determines if the Analytics data contains sampled data."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              },
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension and metric values data types such as INTEGER, DOUBLE, CURRENCY, MCF_SEQUENCE etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              }
            }
          }
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this Analytics data query."
        },
        "totalsForAllResults": {
          "type": "object",
          "description": "Total values for the requested metrics over all the results, not just the results returned in this response. The order of the metric totals is same as the metric order specified in the request.",
          "additionalProperties": {
            "type": "string",
            "description": "Key-value pair for the total value of a metric. Key is the metric name and the value is the total value for that metric."
          }
        },
        "query": {
          "type": "object",
          "description": "Analytics data request query parameters.",
          "properties": {
            "segment": {
              "type": "string",
              "description": "Analytics advanced segment."
            },
            "start-index": {
              "format": "int32",
              "type": "integer",
              "description": "Start index."
            },
            "dimensions": {
              "type": "string",
              "description": "List of analytics dimensions."
            },
            "metrics": {
              "type": "array",
              "description": "List of analytics metrics.",
              "items": {
                "type": "string"
              }
            },
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "start-date": {
              "type": "string",
              "description": "Start date."
            },
            "end-date": {
              "type": "string",
              "description": "End date."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "samplingLevel": {
              "type": "string",
              "description": "Desired sampling level"
            },
            "sort": {
              "type": "array",
              "description": "List of dimensions or metrics based on which Analytics data is sorted.",
              "items": {
                "type": "string"
              }
            },
            "max-results": {
              "type": "integer",
              "description": "Maximum results per page.",
              "format": "int32"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "profileInfo": {
          "properties": {
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            }
          },
          "type": "object",
          "description": "Information for the view (profile), for which the Analytics data was requested."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this Analytics data query."
        }
      }
    },
    "CustomDataSources": {
      "id": "CustomDataSources",
      "type": "object",
      "description": "Lists Analytics custom data sources to which the user has access. Each resource in the collection corresponds to a single Analytics custom data source.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom data source collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom data source collection."
        },
        "items": {
          "type": "array",
          "description": "Collection of custom data sources.",
          "items": {
            "$ref": "CustomDataSource"
          }
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customDataSources"
        }
      }
    },
    "CustomMetrics": {
      "id": "CustomMetrics",
      "type": "object",
      "description": "A custom metric collection lists Analytics custom metrics to which the user has access. Each resource in the collection corresponds to a single Analytics custom metric.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom metric collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "items": {
          "type": "array",
          "description": "Collection of custom metrics.",
          "items": {
            "$ref": "CustomMetric"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom metric collection."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#customMetrics"
        }
      }
    },
    "UnsampledReports": {
      "id": "UnsampledReports",
      "type": "object",
      "description": "An unsampled report collection lists Analytics unsampled reports to which the user has access. Each view (profile) can have a set of unsampled reports. Each resource in the unsampled report collection corresponds to a single Analytics unsampled report.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this unsampled report collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result.",
          "format": "int32"
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this unsampled report collection."
        },
        "items": {
          "type": "array",
          "description": "A list of unsampled reports.",
          "items": {
            "$ref": "UnsampledReport"
          }
        },
        "kind": {
          "default": "analytics#unsampledReports",
          "type": "string",
          "description": "Collection type."
        }
      }
    },
    "LinkedForeignAccount": {
      "id": "LinkedForeignAccount",
      "type": "object",
      "description": "JSON template for an Analytics Remarketing Audience Foreign Link.",
      "properties": {
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this linked foreign account belongs."
        },
        "eligibleForSearch": {
          "readOnly": true,
          "type": "boolean",
          "description": "Boolean indicating whether this is eligible for search."
        },
        "id": {
          "type": "string",
          "description": "Entity ad account link ID."
        },
        "type": {
          "type": "string",
          "description": "The type of the foreign account. For example, `ADWORDS_LINKS`, `DBM_LINKS`, `MCC_LINKS` or `OPTIMIZE`."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this linked foreign account belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this linked foreign account belongs."
        },
        "linkedAccountId": {
          "type": "string",
          "description": "The foreign account ID. For example the an Google Ads `linkedAccountId` has the following format XXX-XXX-XXXX."
        },
        "remarketingAudienceId": {
          "type": "string",
          "description": "Remarketing audience ID to which this linked foreign account belongs."
        },
        "status": {
          "type": "string",
          "description": "The status of this foreign account link."
        },
        "kind": {
          "default": "analytics#linkedForeignAccount",
          "type": "string",
          "description": "Resource type for linked foreign account."
        }
      }
    },
    "ProfileRef": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Analytics view (profile) reference.",
          "default": "analytics#profileRef"
        },
        "name": {
          "type": "string",
          "description": "Name of this view (profile)."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this view (profile) belongs."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this view (profile) belongs."
        },
        "id": {
          "type": "string",
          "description": "View (Profile) ID."
        },
        "href": {
          "type": "string",
          "description": "Link for this view (profile)."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this view (profile) belongs."
        }
      },
      "id": "ProfileRef",
      "type": "object",
      "description": "JSON template for a linked view (profile)."
    },
    "AccountSummary": {
      "id": "AccountSummary",
      "type": "object",
      "description": "JSON template for an Analytics AccountSummary. An AccountSummary is a lightweight tree comprised of properties/profiles.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Account ID."
        },
        "webProperties": {
          "type": "array",
          "description": "List of web properties under this account.",
          "items": {
            "$ref": "WebPropertySummary"
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics AccountSummary.",
          "default": "analytics#accountSummary"
        },
        "name": {
          "type": "string",
          "description": "Account name."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this account is starred or not."
        }
      }
    },
    "WebPropertySummary": {
      "properties": {
        "kind": {
          "default": "analytics#webPropertySummary",
          "type": "string",
          "description": "Resource type for Analytics WebPropertySummary."
        },
        "name": {
          "type": "string",
          "description": "Web property name."
        },
        "profiles": {
          "type": "array",
          "description": "List of profiles under this web property.",
          "items": {
            "$ref": "ProfileSummary"
          }
        },
        "websiteUrl": {
          "type": "string",
          "description": "Website url for this web property."
        },
        "id": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY."
        },
        "level": {
          "type": "string",
          "description": "Level for this web property. Possible values are STANDARD or PREMIUM."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for this web property."
        },
        "starred": {
          "type": "boolean",
          "description": "Indicates whether this web property is starred or not."
        }
      },
      "id": "WebPropertySummary",
      "type": "object",
      "description": "JSON template for an Analytics WebPropertySummary. WebPropertySummary returns basic information (i.e., summary) for a web property."
    },
    "Profiles": {
      "id": "Profiles",
      "type": "object",
      "description": "A view (profile) collection lists Analytics views (profiles) to which the user has access. Each resource in the collection corresponds to a single Analytics view (profile).",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of views (profiles).",
          "items": {
            "$ref": "Profile"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this view (profile) collection."
        },
        "kind": {
          "default": "analytics#profiles",
          "type": "string",
          "description": "Collection type."
        },
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this view (profile) collection."
        },
        "totalResults": {
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response.",
          "format": "int32"
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      }
    },
    "Column": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics column.",
          "default": "analytics#column"
        },
        "id": {
          "type": "string",
          "description": "Column id."
        },
        "attributes": {
          "type": "object",
          "description": "Map of attribute name and value for this column.",
          "additionalProperties": {
            "type": "string",
            "description": "The name of the attribute."
          }
        }
      },
      "id": "Column",
      "type": "object",
      "description": "JSON template for a metadata column."
    },
    "AccountTreeRequest": {
      "properties": {
        "webpropertyName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "profileName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "accountName": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "timezone": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "websiteUrl": {
          "type": "string",
          "annotations": {
            "required": [
              "analytics.provisioning.createAccountTree"
            ]
          }
        },
        "kind": {
          "type": "string",
          "description": "Resource type for account ticket.",
          "default": "analytics#accountTreeRequest"
        }
      },
      "id": "AccountTreeRequest",
      "type": "object",
      "description": "JSON template for an Analytics account tree requests. The account tree request is used in the provisioning api to create an account, property, and view (profile). It contains the basic information required to make these fields."
    },
    "EntityAdWordsLinks": {
      "properties": {
        "startIndex": {
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter.",
          "format": "int32"
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this Google Ads link collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "kind": {
          "type": "string",
          "description": "Collection type.",
          "default": "analytics#entityAdWordsLinks"
        },
        "items": {
          "type": "array",
          "description": "A list of entity Google Ads links.",
          "items": {
            "$ref": "EntityAdWordsLink"
          }
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this Google Ads link collection."
        }
      },
      "id": "EntityAdWordsLinks",
      "type": "object",
      "description": "An entity Google Ads link collection provides a list of GA-Google Ads links Each resource in this collection corresponds to a single link."
    },
    "Experiment": {
      "id": "Experiment",
      "type": "object",
      "description": "JSON template for Analytics experiment resource.",
      "properties": {
        "objectiveMetric": {
          "type": "string",
          "description": "The metric that the experiment is optimizing. Valid values: \"ga:goal(n)Completions\", \"ga:adsenseAdsClicks\", \"ga:adsenseAdsViewed\", \"ga:adsenseRevenue\", \"ga:bounces\", \"ga:pageviews\", \"ga:sessionDuration\", \"ga:transactions\", \"ga:transactionRevenue\". This field is required if status is \"RUNNING\" and servingFramework is one of \"REDIRECT\" or \"API\"."
        },
        "snippet": {
          "type": "string",
          "description": "The snippet of code to include on the control page(s). This field is read-only."
        },
        "trafficCoverage": {
          "type": "number",
          "description": "A floating-point number in (0, 1]. Specifies the fraction of the traffic that participates in the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED.",
          "format": "double"
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this experiment belongs. This field is read-only."
        },
        "id": {
          "annotations": {
            "required": [
              "analytics.management.experiments.patch",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment ID. Required for patch and update. Disallowed for create."
        },
        "internalWebPropertyId": {
          "type": "string",
          "description": "Internal ID for the web property to which this experiment belongs. This field is read-only."
        },
        "kind": {
          "type": "string",
          "description": "Resource type for an Analytics experiment. This field is read-only.",
          "default": "analytics#experiment"
        },
        "winnerFound": {
          "type": "boolean",
          "description": "Boolean specifying whether a winner has been found for this experiment. This field is read-only."
        },
        "status": {
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          },
          "type": "string",
          "description": "Experiment status. Possible values: \"DRAFT\", \"READY_TO_RUN\", \"RUNNING\", \"ENDED\". Experiments can be created in the \"DRAFT\", \"READY_TO_RUN\" or \"RUNNING\" state. This field is required when creating an experiment."
        },
        "optimizationType": {
          "type": "string",
          "description": "Whether the objectiveMetric should be minimized or maximized. Possible values: \"MAXIMUM\", \"MINIMUM\". Optional--defaults to \"MAXIMUM\". Cannot be specified without objectiveMetric. Cannot be modified when status is \"RUNNING\" or \"ENDED\"."
        },
        "rewriteVariationUrlsAsOriginal": {
          "type": "boolean",
          "description": "Boolean specifying whether variations URLS are rewritten to match those of the original. This field may not be changed for an experiments whose status is ENDED."
        },
        "endTime": {
          "format": "date-time",
          "type": "string",
          "description": "The ending time of the experiment (the time the status changed from RUNNING to ENDED). This field is present only if the experiment has ended. This field is read-only."
        },
        "created": {
          "format": "date-time",
          "type": "string",
          "description": "Time the experiment was created. This field is read-only."
        },
        "minimumExperimentLengthInDays": {
          "format": "int32",
          "type": "integer",
          "description": "An integer number in [3, 90]. Specifies the minimum length of the experiment. Can be changed for a running experiment. This field may not be changed for an experiments whose status is ENDED."
        },
        "reasonExperimentEnded": {
          "type": "string",
          "description": "Why the experiment ended. Possible values: \"STOPPED_BY_USER\", \"WINNER_FOUND\", \"EXPERIMENT_EXPIRED\", \"ENDED_WITH_NO_WINNER\", \"GOAL_OBJECTIVE_CHANGED\". \"ENDED_WITH_NO_WINNER\" means that the experiment didn't expire but no winner was projected to be found. If the experiment status is changed via the API to ENDED this field is set to STOPPED_BY_USER. This field is read-only."
        },
        "profileId": {
          "type": "string",
          "description": "View (Profile) ID to which this experiment belongs. This field is read-only."
        },
        "variations": {
          "type": "array",
          "description": "Array of variations. The first variation in the array is the original. The number of variations may not change once an experiment is in the RUNNING state. At least two variations are required before status can be set to RUNNING.",
          "items": {
            "type": "object",
            "properties": {
              "name": {
                "annotations": {
                  "required": [
                    "analytics.management.experiments.insert",
                    "analytics.management.experiments.update"
                  ]
                },
                "type": "string",
                "description": "The name of the variation. This field is required when creating an experiment. This field may not be changed for an experiment whose status is ENDED."
              },
              "won": {
                "type": "boolean",
                "description": "True if the experiment has ended and this variation performed (statistically) significantly better than the original. This field is read-only."
              },
              "status": {
                "type": "string",
                "description": "Status of the variation. Possible values: \"ACTIVE\", \"INACTIVE\". INACTIVE variations are not served. This field may not be changed for an experiment whose status is ENDED."
              },
              "url": {
                "type": "string",
                "description": "The URL of the variation. This field may not be changed for an experiment whose status is RUNNING or ENDED."
              },
              "weight": {
                "format": "double",
                "type": "number",
                "description": "Weight that this variation should receive. Only present if the experiment is running. This field is read-only."
              }
            }
          }
        },
        "name": {
          "type": "string",
          "description": "Experiment name. This field may not be changed for an experiment whose status is ENDED. This field is required when creating an experiment.",
          "annotations": {
            "required": [
              "analytics.management.experiments.insert",
              "analytics.management.experiments.update"
            ]
          }
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID to which this experiment belongs. The web property ID is of the form UA-XXXXX-YY. This field is read-only."
        },
        "description": {
          "type": "string",
          "description": "Notes about this experiment."
        },
        "parentLink": {
          "type": "object",
          "description": "Parent link for an experiment. Points to the view (profile) to which this experiment belongs.",
          "properties": {
            "type": {
              "type": "string",
              "description": "Value is \"analytics#profile\". This field is read-only.",
              "default": "analytics#profile"
            },
            "href": {
              "type": "string",
              "description": "Link to the view (profile) to which this experiment belongs. This field is read-only."
            }
          }
        },
        "servingFramework": {
          "type": "string",
          "description": "The framework used to serve the experiment variations and evaluate the results. One of:  \n- REDIRECT: Google Analytics redirects traffic to different variation pages, reports the chosen variation and evaluates the results.\n- API: Google Analytics chooses and reports the variation to serve and evaluates the results; the caller is responsible for serving the selected variation.\n- EXTERNAL: The variations will be served externally and the chosen variation reported to Google Analytics. The caller is responsible for serving the selected variation and evaluating the results."
        },
        "editableInGaUi": {
          "type": "boolean",
          "description": "If true, the end user will be able to edit the experiment via the Google Analytics user interface."
        },
        "winnerConfidenceLevel": {
          "format": "double",
          "type": "number",
          "description": "A floating-point number in (0, 1). Specifies the necessary confidence level to choose a winner. This field may not be changed for an experiments whose status is ENDED."
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this experiment. This field is read-only."
        },
        "startTime": {
          "type": "string",
          "description": "The starting time of the experiment (the time the status changed from READY_TO_RUN to RUNNING). This field is present only if the experiment has started. This field is read-only.",
          "format": "date-time"
        },
        "updated": {
          "format": "date-time",
          "type": "string",
          "description": "Time the experiment was last modified. This field is read-only."
        },
        "equalWeighting": {
          "type": "boolean",
          "description": "Boolean specifying whether to distribute traffic evenly across all variations. If the value is False, content experiments follows the default behavior of adjusting traffic dynamically based on variation performance. Optional -- defaults to False. This field may not be changed for an experiment whose status is ENDED."
        }
      }
    },
    "ProfileFilterLink": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Resource type for Analytics filter.",
          "default": "analytics#profileFilterLink",
          "readOnly": true
        },
        "selfLink": {
          "type": "string",
          "description": "Link for this profile filter link.",
          "readOnly": true
        },
        "id": {
          "type": "string",
          "description": "Profile filter link ID."
        },
        "profileRef": {
          "description": "View (Profile) for this link.",
          "$ref": "ProfileRef"
        },
        "rank": {
          "type": "integer",
          "description": "The rank of this profile filter link relative to the other filters linked to the same profile.\nFor readonly (i.e., list and get) operations, the rank always starts at 1.\nFor write (i.e., create, update, or delete) operations, you may specify a value between 0 and 255 inclusively, [0, 255]. In order to insert a link at the end of the list, either don't specify a rank or set a rank to a number greater than the largest rank in the list. In order to insert a link to the beginning of the list specify a rank that is less than or equal to 1. The new link will move all existing filters with the same or lower rank down the list. After the link is inserted/updated/deleted all profile filter links will be renumbered starting at 1.",
          "format": "int32"
        },
        "filterRef": {
          "$ref": "FilterRef",
          "description": "Filter for this link."
        }
      },
      "id": "ProfileFilterLink",
      "type": "object",
      "description": "JSON template for an Analytics profile filter link."
    },
    "Uploads": {
      "id": "Uploads",
      "type": "object",
      "description": "Upload collection lists Analytics uploads to which the user has access. Each custom data source can have a set of uploads. Each resource in the upload collection corresponds to a single Analytics data upload.",
      "properties": {
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this upload collection."
        },
        "items": {
          "type": "array",
          "description": "A list of uploads.",
          "items": {
            "$ref": "Upload"
          }
        },
        "kind": {
          "default": "analytics#uploads",
          "type": "string",
          "description": "Collection type."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this upload collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of resources in the result."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        }
      }
    },
    "Accounts": {
      "id": "Accounts",
      "type": "object",
      "description": "An account collection provides a list of Analytics accounts to which a user has access. The account collection is the entry point to all management information. Each resource in the collection corresponds to a single Analytics account.",
      "properties": {
        "items": {
          "type": "array",
          "description": "A list of accounts.",
          "items": {
            "$ref": "Account"
          }
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of entries the response can contain, regardless of the actual number of entries returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Previous link for this account collection."
        },
        "kind": {
          "default": "analytics#accounts",
          "type": "string",
          "description": "Collection type."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the entries, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Next link for this account collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        }
      }
    },
    "RemarketingAudience": {
      "properties": {
        "created": {
          "type": "string",
          "description": "Time this remarketing audience was created.",
          "format": "date-time",
          "readOnly": true
        },
        "audienceDefinition": {
          "type": "object",
          "description": "The simple audience definition that will cause a user to be added to an audience.",
          "properties": {
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            }
          }
        },
        "linkedAdAccounts": {
          "type": "array",
          "description": "The linked ad accounts associated with this remarketing audience. A remarketing audience can have only one linkedAdAccount currently.",
          "items": {
            "$ref": "LinkedForeignAccount"
          }
        },
        "updated": {
          "format": "date-time",
          "readOnly": true,
          "type": "string",
          "description": "Time this remarketing audience was last modified."
        },
        "stateBasedAudienceDefinition": {
          "properties": {
            "excludeConditions": {
              "properties": {
                "exclusionDuration": {
                  "type": "string",
                  "description": "Whether to make the exclusion TEMPORARY or PERMANENT."
                },
                "segment": {
                  "type": "string",
                  "description": "The segment condition that will cause a user to be removed from an audience."
                }
              },
              "type": "object",
              "description": "Defines the conditions to exclude users from the audience."
            },
            "includeConditions": {
              "description": "Defines the conditions to include users to the audience.",
              "$ref": "IncludeConditions"
            }
          },
          "type": "object",
          "description": "A state based audience definition that will cause a user to be added or removed from an audience."
        },
        "kind": {
          "default": "analytics#remarketingAudience",
          "type": "string",
          "description": "Collection type."
        },
        "internalWebPropertyId": {
          "readOnly": true,
          "type": "string",
          "description": "Internal ID for the web property to which this remarketing audience belongs."
        },
        "accountId": {
          "type": "string",
          "description": "Account ID to which this remarketing audience belongs."
        },
        "name": {
          "type": "string",
          "description": "The name of this remarketing audience."
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "The description of this remarketing audience."
        },
        "id": {
          "type": "string",
          "description": "Remarketing Audience ID."
        },
        "webPropertyId": {
          "type": "string",
          "description": "Web property ID of the form UA-XXXXX-YY to which this remarketing audience belongs."
        },
        "linkedViews": {
          "type": "array",
          "description": "The views (profiles) that this remarketing audience is linked to.",
          "items": {
            "type": "string"
          }
        },
        "audienceType": {
          "type": "string",
          "description": "The type of audience, either SIMPLE or STATE_BASED."
        }
      },
      "id": "RemarketingAudience",
      "type": "object",
      "description": "JSON template for an Analytics remarketing audience."
    },
    "HashClientIdRequest": {
      "properties": {
        "clientId": {
          "type": "string"
        },
        "webPropertyId": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "default": "analytics#hashClientIdRequest"
        }
      },
      "id": "HashClientIdRequest",
      "type": "object",
      "description": "JSON template for a hash Client Id request resource."
    },
    "CustomDimensions": {
      "id": "CustomDimensions",
      "type": "object",
      "description": "A custom dimension collection lists Analytics custom dimensions to which the user has access. Each resource in the collection corresponds to a single Analytics custom dimension.",
      "properties": {
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this custom dimension collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "itemsPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter."
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this custom dimension collection."
        },
        "items": {
          "type": "array",
          "description": "Collection of custom dimensions.",
          "items": {
            "$ref": "CustomDimension"
          }
        },
        "kind": {
          "default": "analytics#customDimensions",
          "type": "string",
          "description": "Collection type."
        }
      }
    },
    "AccountSummaries": {
      "id": "AccountSummaries",
      "type": "object",
      "description": "An AccountSummary collection lists a summary of accounts, properties and views (profiles) to which the user has access. Each resource in the collection corresponds to a single AccountSummary.",
      "properties": {
        "username": {
          "type": "string",
          "description": "Email ID of the authenticated user"
        },
        "startIndex": {
          "format": "int32",
          "type": "integer",
          "description": "The starting index of the resources, which is 1 by default or otherwise specified by the start-index query parameter."
        },
        "nextLink": {
          "type": "string",
          "description": "Link to next page for this AccountSummary collection."
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of results for the query, regardless of the number of results in the response."
        },
        "kind": {
          "default": "analytics#accountSummaries",
          "type": "string",
          "description": "Collection type."
        },
        "items": {
          "type": "array",
          "description": "A list of AccountSummaries.",
          "items": {
            "$ref": "AccountSummary"
          }
        },
        "itemsPerPage": {
          "type": "integer",
          "description": "The maximum number of resources the response can contain, regardless of the actual number of resources returned. Its value ranges from 1 to 1000 with a value of 1000 by default, or otherwise specified by the max-results query parameter.",
          "format": "int32"
        },
        "previousLink": {
          "type": "string",
          "description": "Link to previous page for this AccountSummary collection."
        }
      }
    },
    "RealtimeData": {
      "properties": {
        "columnHeaders": {
          "type": "array",
          "description": "Column headers that list dimension names followed by the metric names. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "object",
            "properties": {
              "dataType": {
                "type": "string",
                "description": "Data type. Dimension column headers have only STRING as the data type. Metric column headers have data types for metric values such as INTEGER, DOUBLE, CURRENCY etc."
              },
              "name": {
                "type": "string",
                "description": "Column name."
              },
              "columnType": {
                "type": "string",
                "description": "Column Type. Either DIMENSION or METRIC."
              }
            }
          }
        },
        "totalResults": {
          "format": "int32",
          "type": "integer",
          "description": "The total number of rows for the query, regardless of the number of rows in the response."
        },
        "profileInfo": {
          "type": "object",
          "description": "Information for the view (profile), for which the real time data was requested.",
          "properties": {
            "internalWebPropertyId": {
              "type": "string",
              "description": "Internal ID for the web property to which this view (profile) belongs."
            },
            "tableId": {
              "type": "string",
              "description": "Table ID for view (profile)."
            },
            "profileName": {
              "type": "string",
              "description": "View (Profile) name."
            },
            "profileId": {
              "type": "string",
              "description": "View (Profile) ID."
            },
            "webPropertyId": {
              "type": "string",
              "description": "Web Property ID to which this view (profile) belongs."
            },
            "accountId": {
              "type": "string",
              "description": "Account ID to which this view (profile) belongs."
            }
          }
        },
        "rows": {
          "type": "array",
          "description": "Real time data rows, where each row contains a list of dimension values followed by the metric values. The order of dimensions and metrics is same as specified in the request.",
          "items": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "id": {
          "type": "string",
          "description": "Unique ID for this data response."
        },
        "query": {
          "properties": {
            "filters": {
              "type": "string",
              "description": "Comma-separated list of dimension or metric filters."
            },
            "ids": {
              "type": "string",
              "description": "Unique table ID."
            },
            "max-results": {
              "format": "int32",
              "type": "integer",
              "description": "Maximum results per page."
            },
            "dimensions": {
              "type": "string",
[...]
