{
  "canonicalName": "Google Analytics Admin",
  "protocol": "rest",
  "revision": "20260406",
  "title": "Google Analytics Admin API",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/analytics.edit": {
          "description": "Edit Google Analytics management entities"
        },
        "https://www.googleapis.com/auth/analytics.manage.users": {
          "description": "Manage Google Analytics Account users by email address"
        },
        "https://www.googleapis.com/auth/analytics.manage.users.readonly": {
          "description": "View Google Analytics user permissions"
        },
        "https://www.googleapis.com/auth/analytics.readonly": {
          "description": "See and download your Google Analytics data"
        }
      }
    }
  },
  "baseUrl": "https://analyticsadmin.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "GoogleAnalyticsAdminV1alphaAccessStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
      "type": "object",
      "description": "The filter for strings.",
      "properties": {
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full match for the regular expression with the string value.",
            "Partial match for the regular expression with the string value."
          ],
          "description": "The match type for this filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ]
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "If true, the string value is case sensitive."
        },
        "value": {
          "description": "The string value used for the matching.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchCreateAccessBindingsResponse",
      "type": "object",
      "description": "Response message for BatchCreateAccessBindings RPC.",
      "properties": {
        "accessBindings": {
          "type": "array",
          "description": "The access bindings created.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          }
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaGoogleAdsLink": {
      "description": "A link between a Google Analytics property and a Google Ads account.",
      "properties": {
        "name": {
          "description": "Identifier. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID.",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "description": "Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update, it will be defaulted to true.",
          "type": "boolean"
        },
        "canManageClients": {
          "description": "Output only. If true, this link is for a Google Ads manager account.",
          "readOnly": true,
          "type": "boolean"
        },
        "updateTime": {
          "description": "Output only. Time when this link was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "customerId": {
          "description": "Immutable. Google Ads customer ID.",
          "type": "string"
        },
        "creatorEmailAddress": {
          "description": "Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this link was originally created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGoogleAdsLink",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter",
      "type": "object",
      "description": "A filter for a string dimension that matches a particular list of options.",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The list of possible string values to match against. Must be non-empty.",
          "type": "array"
        },
        "caseSensitive": {
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
      "type": "object",
      "description": "A logical expression of Subproperty event filters.",
      "properties": {
        "notExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression",
          "description": "A filter expression to be NOT'ed (inverted, complemented). It can only include a filter. This cannot be set on the top level SubpropertyEventFilterExpression."
        },
        "orGroup": {
          "description": "A list of expressions to OR’ed together. Must only contain not_expression or filter_condition expressions.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpressionList"
        },
        "filterCondition": {
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterCondition",
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level SubpropertyEventFilterExpression."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAudiencesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAudiencesResponse",
      "type": "object",
      "description": "Response message for ListAudiences RPC.",
      "properties": {
        "audiences": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudience"
          },
          "description": "List of Audiences."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListChannelGroupsResponse",
      "type": "object",
      "description": "Response message for ListChannelGroups RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "channelGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
          },
          "description": "List of ChannelGroup. These will be ordered stably, but in an arbitrary order."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest": {
      "description": "Request message for BatchUpdateAccessBindings RPC.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaUpdateAccessBindingRequest"
          },
          "description": "Required. The requests specifying the access bindings to update. A maximum of 1000 access bindings can be updated in a batch."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaPostbackWindow": {
      "description": "Settings for a SKAdNetwork conversion postback window.",
      "properties": {
        "conversionValues": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionValues"
          },
          "description": "Ordering of the repeated field will be used to prioritize the conversion value settings. Lower indexed entries are prioritized higher. The first conversion value setting that evaluates to true will be selected. It must have at least one entry if enable_postback_window_settings is set to true. It can have maximum of 128 entries.",
          "type": "array"
        },
        "postbackWindowSettingsEnabled": {
          "type": "boolean",
          "description": "If enable_postback_window_settings is true, conversion_values must be populated and will be used for determining when and how to set the Conversion Value on a client device and exporting schema to linked Ads accounts. If false, the settings are not used, but are retained in case they may be used in the future. This must always be true for postback_window_one."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaPostbackWindow",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessDimensionValue": {
      "description": "The value of a dimension.",
      "properties": {
        "value": {
          "description": "The dimension value. For example, this value may be 'France' for the 'country' dimension.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDimensionValue",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest": {
      "id": "GoogleAnalyticsAdminV1alphaReorderEventEditRulesRequest",
      "type": "object",
      "description": "Request message for ReorderEventEditRules RPC.",
      "properties": {
        "eventEditRules": {
          "items": {
            "type": "string"
          },
          "description": "Required. EventEditRule resource names for the specified data stream, in the needed processing order. All EventEditRules for the stream must be present in the list.",
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData": {
      "description": "Data specific to Android app streams.",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name for the app being measured. Example: \"com.example.myandroidapp\""
        },
        "firebaseAppId": {
          "type": "string",
          "description": "Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotation": {
      "description": "A Reporting Data Annotation is a comment connected to certain dates for reporting data.",
      "properties": {
        "annotationDate": {
          "$ref": "GoogleTypeDate",
          "description": "If set, the Reporting Data Annotation is for a specific date represented by this field. The date must be a valid date with year, month and day set. The date may be in the past, present, or future."
        },
        "description": {
          "description": "Optional. Description for this Reporting Data Annotation.",
          "type": "string"
        },
        "color": {
          "type": "string",
          "enum": [
            "COLOR_UNSPECIFIED",
            "PURPLE",
            "BROWN",
            "BLUE",
            "GREEN",
            "RED",
            "CYAN",
            "ORANGE"
          ],
          "enumDescriptions": [
            "Color unknown or not specified.",
            "Purple color.",
            "Brown color.",
            "Blue color.",
            "Green color.",
            "Red color.",
            "Cyan color.",
            "Orange color. (Only used for system-generated annotations)"
          ],
          "description": "Required. The color used for display of this Reporting Data Annotation."
        },
        "systemGenerated": {
          "description": "Output only. If true, this annotation was generated by the Google Analytics system. System-generated annotations cannot be updated or deleted.",
          "readOnly": true,
          "type": "boolean"
        },
        "title": {
          "type": "string",
          "description": "Required. Human-readable title for this Reporting Data Annotation."
        },
        "annotationDateRange": {
          "description": "If set, the Reporting Data Annotation is for a range of dates represented by this field.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange"
        },
        "name": {
          "description": "Required. Identifier. Resource name of this Reporting Data Annotation. Format: 'properties/{property_id}/reportingDataAnnotations/{reporting_data_annotation}' Format: 'properties/123/reportingDataAnnotations/456'",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGroupingRule": {
      "description": "The rules that govern how traffic is grouped into one channel.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Required. Customer defined display name for the channel."
        },
        "expression": {
          "description": "Required. The Filter Expression that defines the Grouping Rule.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaGroupingRule",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChange": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChange",
      "type": "object",
      "description": "A description of a change to a single Google Analytics resource.",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Action type unknown or not specified.",
            "Resource was created in this change.",
            "Resource was updated in this change.",
            "Resource was deleted in this change."
          ],
          "description": "The type of action that changed this resource.",
          "type": "string",
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "CREATED",
            "UPDATED",
            "DELETED"
          ]
        },
        "resourceAfterChange": {
          "description": "Resource contents from after the change was made. If this resource was deleted in this change, this field will be missing.",
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource"
        },
        "resource": {
          "type": "string",
          "description": "Resource name of the resource whose changes are described by this entry."
        },
        "resourceBeforeChange": {
          "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
          "description": "Resource contents from before the change was made. If this resource was created in this change, this field will be missing."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter",
      "type": "object",
      "description": "A specific filter for a single dimension or metric.",
      "properties": {
        "fieldName": {
          "description": "Required. Immutable. The dimension name or metric name to filter. If the field name refers to a custom dimension or metric, a scope prefix will be added to the front of the custom dimensions or metric name. For more on scope prefixes or custom dimensions/metrics, reference the [Google Analytics Data API documentation] (https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#custom_dimensions).",
          "type": "string"
        },
        "inListFilter": {
          "description": "A filter for a string dimension that matches a particular list of options.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterInListFilter"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterBetweenFilter",
          "description": "A filter for numeric or date values between certain values on a dimension or metric."
        },
        "stringFilter": {
          "description": "A filter for a string-type dimension that matches a particular pattern.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterStringFilter"
        },
        "atAnyPointInTime": {
          "type": "boolean",
          "description": "Optional. Indicates whether this filter needs dynamic evaluation or not. If set to true, users join the Audience if they ever met the condition (static evaluation). If unset or set to false, user evaluation for an Audience is dynamic; users are added to an Audience when they meet the conditions and then removed when they no longer meet them. This can only be set when Audience scope is ACROSS_ALL_SESSIONS."
        },
        "numericFilter": {
          "description": "A filter for numeric or date values on a dimension or metric.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilterNumericFilter"
        },
        "inAnyNDayPeriod": {
          "description": "Optional. If set, specifies the time window for which to evaluate data in number of days. If not set, then audience data is evaluated against lifetime data (For example, infinite time window). For example, if set to 1 day, only the current day's data is evaluated. The reference point is the current day when at_any_point_in_time is unset or false. It can only be set when Audience scope is ACROSS_ALL_SESSIONS and cannot be greater than 60 days.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessBinding": {
      "description": "A binding of a user to a set of roles.",
      "properties": {
        "user": {
          "type": "string",
          "description": "If set, the email address of the user to set roles for. Format: \"someuser@gmail.com\""
        },
        "name": {
          "description": "Output only. Resource name of this binding. Format: accounts/{account}/accessBindings/{access_binding} or properties/{property}/accessBindings/{access_binding} Example: \"accounts/100/accessBindings/200\"",
          "readOnly": true,
          "type": "string"
        },
        "roles": {
          "description": "A list of roles for to grant to the parent resource. Valid values: predefinedRoles/viewer predefinedRoles/analyst predefinedRoles/editor predefinedRoles/admin predefinedRoles/no-cost-data predefinedRoles/no-revenue-data For users, if an empty list of roles is set, this AccessBinding will be deleted.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessBinding",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse": {
      "description": "Response message for ListRollupPropertySourceLinks RPC.",
      "properties": {
        "rollupPropertySourceLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaRollupPropertySourceLink"
          },
          "description": "List of RollupPropertySourceLinks."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListRollupPropertySourceLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaRunAccessReportResponse": {
      "id": "GoogleAnalyticsAdminV1alphaRunAccessReportResponse",
      "type": "object",
      "description": "The customized Data Access Record Report response.",
      "properties": {
        "metricHeaders": {
          "description": "The header for a column in the report that corresponds to a specific metric. The number of MetricHeaders and ordering of MetricHeaders matches the metrics present in rows.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricHeader"
          },
          "type": "array"
        },
        "rowCount": {
          "description": "The total number of rows in the query result. `rowCount` is independent of the number of rows returned in the response, the `limit` request parameter, and the `offset` request parameter. For example if a query returns 175 rows and includes `limit` of 50 in the API request, the response will contain `rowCount` of 175 but only 50 rows. To learn more about this pagination parameter, see [Pagination](https://developers.google.com/analytics/devguides/reporting/data/v1/basics#pagination).",
          "format": "int32",
          "type": "integer"
        },
        "rows": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessRow"
          },
          "description": "Rows of dimension value combinations and metric values in the report."
        },
        "dimensionHeaders": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionHeader"
          },
          "description": "The header for a column in the report that corresponds to a specific dimension. The number of DimensionHeaders and ordering of DimensionHeaders matches the dimensions present in rows."
        },
        "quota": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuota",
          "description": "The quota state for this Analytics property including this request. This field doesn't work with account-level requests."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListSubpropertySyncConfigsResponse",
      "type": "object",
      "description": "Response message for ListSubpropertySyncConfigs RPC.",
      "properties": {
        "subpropertySyncConfigs": {
          "type": "array",
          "description": "List of `SubpropertySyncConfig` resources.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionEvent": {
      "id": "GoogleAnalyticsAdminV1alphaConversionEvent",
      "type": "object",
      "description": "A conversion event in a Google Analytics property.",
      "properties": {
        "deletable": {
          "type": "boolean",
          "description": "Output only. If set, this event can currently be deleted with DeleteConversionEvent.",
          "readOnly": true
        },
        "defaultConversionValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
          "description": "Optional. Defines a default value/currency for a conversion event."
        },
        "name": {
          "description": "Identifier. Resource name of this conversion event. Format: properties/{property}/conversionEvents/{conversion_event}",
          "type": "string"
        },
        "eventName": {
          "type": "string",
          "description": "Immutable. The event name for this conversion event. Examples: 'click', 'purchase'"
        },
        "countingMethod": {
          "type": "string",
          "enum": [
            "CONVERSION_COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Conversion.",
            "An Event instance is considered a Conversion at most once per session per user."
          ],
          "description": "Optional. The method by which conversions will be counted across multiple events within a session. If this value is not provided, it will be set to `ONCE_PER_EVENT`."
        },
        "custom": {
          "description": "Output only. If set to true, this conversion event refers to a custom event. If set to false, this conversion event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom conversion events that may be created per property.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this conversion event was created in the property.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter": {
      "description": "Filter where the field value is a String. The match is case insensitive.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "matchType": {
          "description": "Required. The match type for the string filter.",
          "enumDescriptions": [
            "Default match type.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression match with the string value.",
            "Partial regular expression match with the string value."
          ],
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterStringFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilter",
      "type": "object",
      "description": "Defines filters that must occur in a specific order for the user to be a member of the Audience.",
      "properties": {
        "sequenceMaximumDuration": {
          "type": "string",
          "description": "Optional. Defines the time period in which the whole sequence must occur.",
          "format": "google-duration"
        },
        "sequenceSteps": {
          "type": "array",
          "description": "Required. An ordered sequence of steps. A user must complete each step in order to join the sequence filter.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAudienceSequenceFilterAudienceSequenceStep"
          }
        },
        "scope": {
          "description": "Required. Immutable. Specifies the scope for this filter.",
          "enumDescriptions": [
            "Scope is not specified.",
            "User joins the Audience if the filter condition is met within one event.",
            "User joins the Audience if the filter condition is met within one session.",
            "User joins the Audience if the filter condition is met by any event across any session."
          ],
          "enum": [
            "AUDIENCE_FILTER_SCOPE_UNSPECIFIED",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_EVENT",
            "AUDIENCE_FILTER_SCOPE_WITHIN_SAME_SESSION",
            "AUDIENCE_FILTER_SCOPE_ACROSS_ALL_SESSIONS"
          ],
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccountSummariesResponse",
      "type": "object",
      "description": "Response message for ListAccountSummaries RPC.",
      "properties": {
        "accountSummaries": {
          "type": "array",
          "description": "Account summaries of all accounts the caller has access to.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccountSummary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal": {
      "description": "A proposal for a link between a Google Analytics property and a Display & Video 360 advertiser. A proposal is converted to a DisplayVideo360AdvertiserLink once approved. Google Analytics admins approve inbound proposals while Display & Video 360 admins approve outbound proposals.",
      "properties": {
        "advertiserId": {
          "type": "string",
          "description": "Immutable. The Display & Video 360 Advertiser's advertiser ID."
        },
        "linkProposalStatusDetails": {
          "description": "Output only. The status information for this link proposal.",
          "readOnly": true,
          "$ref": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails"
        },
        "advertiserDisplayName": {
          "type": "string",
          "description": "Output only. The display name of the Display & Video Advertiser. Only populated for proposals that originated from Display & Video 360.",
          "readOnly": true
        },
        "validationEmail": {
          "description": "Input only. On a proposal being sent to Display & Video 360, this field must be set to the email address of an admin on the target advertiser. This is used to verify that the Google Analytics admin is aware of at least one admin on the Display & Video 360 Advertiser. This does not restrict approval of the proposal to a single user. Any admin on the Display & Video 360 Advertiser may approve the proposal.",
          "type": "string"
        },
        "costDataSharingEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables the import of cost data from Display & Video 360. This can only be enabled if campaign_data_sharing_enabled is enabled. If this field is not set on create, it will be defaulted to true."
        },
        "campaignDataSharingEnabled": {
          "description": "Immutable. Enables the import of campaign data from Display & Video 360. If this field is not set on create, it will be defaulted to true.",
          "type": "boolean"
        },
        "name": {
          "description": "Identifier. The resource name for this DisplayVideo360AdvertiserLinkProposal resource. Format: properties/{propertyId}/displayVideo360AdvertiserLinkProposals/{proposalId} Note: proposalId is not the Display & Video 360 Advertiser ID",
          "type": "string"
        },
        "adsPersonalizationEnabled": {
          "type": "boolean",
          "description": "Immutable. Enables personalized advertising features with this integration. If this field is not set on create, it will be defaulted to true."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDataStream": {
      "description": "A resource message representing a data stream.",
      "properties": {
        "webStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamWebStreamData",
          "description": "Data specific to web streams. Must be populated if type is WEB_DATA_STREAM."
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable display name for the Data Stream. Required for web data streams. The max allowed display name length is 255 UTF-16 code units."
        },
        "createTime": {
          "description": "Output only. Time when this stream was originally created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when stream payload fields were last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "androidAppStreamData": {
          "description": "Data specific to Android app streams. Must be populated if type is ANDROID_APP_DATA_STREAM.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamAndroidAppStreamData"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this Data Stream. Format: properties/{property_id}/dataStreams/{stream_id} Example: \"properties/1000/dataStreams/2000\""
        },
        "type": {
          "enumDescriptions": [
            "Type unknown or not specified.",
            "Web data stream.",
            "Android app data stream.",
            "iOS app data stream."
          ],
          "description": "Required. Immutable. The type of this DataStream resource.",
          "type": "string",
          "enum": [
            "DATA_STREAM_TYPE_UNSPECIFIED",
            "WEB_DATA_STREAM",
            "ANDROID_APP_DATA_STREAM",
            "IOS_APP_DATA_STREAM"
          ]
        },
        "iosAppStreamData": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStreamIosAppStreamData",
          "description": "Data specific to iOS app streams. Must be populated if type is IOS_APP_DATA_STREAM."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaDataStream",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListAccessBindingsResponse",
      "type": "object",
      "description": "Response message for ListAccessBindings RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "accessBindings": {
          "description": "List of AccessBindings. These will be ordered stably, but in an arbitrary order.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "type": "array"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceFilterExpression": {
      "description": "A logical expression of Audience dimension, metric, or event filters.",
      "properties": {
        "notExpression": {
          "description": "A filter expression to be NOT'ed (For example, inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression"
        },
        "eventFilter": {
          "description": "Creates a filter that matches a specific event. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceEventFilter"
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain AudienceFilterExpressions with or_group. This must be set for the top level AudienceFilterExpression."
        },
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceFilterExpressionList",
          "description": "A list of expressions to OR’ed together. It cannot contain AudienceFilterExpressions with and_group or or_group."
        },
        "dimensionOrMetricFilter": {
          "description": "A filter on a single dimension or metric. This cannot be set on the top level AudienceFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaAudienceDimensionOrMetricFilter"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAudienceFilterExpression",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails": {
      "description": "Status information for a link proposal.",
      "properties": {
        "linkProposalInitiatingProduct": {
          "enumDescriptions": [
            "Unspecified product.",
            "This proposal was created by a user from Google Analytics.",
            "This proposal was created by a user from a linked product (not Google Analytics)."
          ],
          "type": "string",
          "enum": [
            "LINK_PROPOSAL_INITIATING_PRODUCT_UNSPECIFIED",
            "GOOGLE_ANALYTICS",
            "LINKED_PRODUCT"
          ],
          "description": "Output only. The source of this proposal.",
          "readOnly": true
        },
        "linkProposalState": {
          "description": "Output only. The state of this proposal.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "This proposal is awaiting review from a Google Analytics user. This proposal will automatically expire after some time.",
            "This proposal is awaiting review from a user of a linked product. This proposal will automatically expire after some time.",
            "This proposal has been withdrawn by an admin on the initiating product. This proposal will be automatically deleted after some time.",
            "This proposal has been declined by an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal expired due to lack of response from an admin on the receiving product. This proposal will be automatically deleted after some time.",
            "This proposal has become obsolete because a link was directly created to the same external product resource that this proposal specifies. This proposal will be automatically deleted after some time."
          ],
          "enum": [
            "LINK_PROPOSAL_STATE_UNSPECIFIED",
            "AWAITING_REVIEW_FROM_GOOGLE_ANALYTICS",
            "AWAITING_REVIEW_FROM_LINKED_PRODUCT",
            "WITHDRAWN",
            "DECLINED",
            "EXPIRED",
            "OBSOLETE"
          ],
          "type": "string"
        },
        "requestorEmail": {
          "type": "string",
          "description": "Output only. The email address of the user that proposed this linkage.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaLinkProposalStatusDetails",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList": {
      "description": "A list of filter expressions.",
      "properties": {
        "expressions": {
          "type": "array",
          "description": "A list of filter expressions.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessFilterExpression"
          }
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessFilterExpressionList",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings": {
      "id": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings",
      "type": "object",
      "description": "Settings values for Google Signals. This is a singleton resource.",
      "properties": {
        "state": {
          "description": "Status of this setting.",
          "enumDescriptions": [
            "Google Signals status defaults to GOOGLE_SIGNALS_STATE_UNSPECIFIED to represent that the user has not made an explicit choice.",
            "Google Signals is enabled.",
            "Google Signals is disabled."
          ],
          "enum": [
            "GOOGLE_SIGNALS_STATE_UNSPECIFIED",
            "GOOGLE_SIGNALS_ENABLED",
            "GOOGLE_SIGNALS_DISABLED"
          ],
          "type": "string"
        },
        "consent": {
          "type": "string",
          "enum": [
            "GOOGLE_SIGNALS_CONSENT_UNSPECIFIED",
            "GOOGLE_SIGNALS_CONSENT_CONSENTED",
            "GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED"
          ],
          "enumDescriptions": [
            "Google Signals consent value defaults to GOOGLE_SIGNALS_CONSENT_UNSPECIFIED. This will be treated as GOOGLE_SIGNALS_CONSENT_NOT_CONSENTED.",
            "Terms of service have been accepted",
            "Terms of service have not been accepted"
          ],
          "description": "Output only. Terms of Service acceptance.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this setting. Format: properties/{property_id}/googleSignalsSettings Example: \"properties/1000/googleSignalsSettings\"",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAttributionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaAttributionSettings",
      "type": "object",
      "description": "The attribution settings used for a given property. This is a singleton resource.",
      "properties": {
        "adsWebConversionDataExportScope": {
          "description": "Required. The Conversion Export Scope for data exported to linked Ads Accounts.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "No data export scope selected yet. Export scope can never be changed back to this value.",
            "Paid and organic channels are eligible to receive conversion credit, but only credit assigned to Google Ads channels will appear in your Ads accounts. To learn more, see [Paid and Organic channels](https://support.google.com/analytics/answer/10632359).",
            "Only Google Ads paid channels are eligible to receive conversion credit. To learn more, see [Google Paid channels](https://support.google.com/analytics/answer/10632359)."
          ],
          "enum": [
            "ADS_WEB_CONVERSION_DATA_EXPORT_SCOPE_UNSPECIFIED",
            "NOT_SELECTED_YET",
            "PAID_AND_ORGANIC_CHANNELS",
            "GOOGLE_PAID_CHANNELS"
          ],
          "type": "string"
        },
        "otherConversionEventLookbackWindow": {
          "type": "string",
          "enum": [
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_60_DAYS",
            "OTHER_CONVERSION_EVENT_LOOKBACK_WINDOW_90_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "30-day lookback window.",
            "60-day lookback window.",
            "90-day lookback window."
          ],
          "description": "Required. The lookback window for all other, non-acquisition conversion events. The default window size is 90 days."
        },
        "acquisitionConversionEventLookbackWindow": {
          "type": "string",
          "enum": [
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_UNSPECIFIED",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_7_DAYS",
            "ACQUISITION_CONVERSION_EVENT_LOOKBACK_WINDOW_30_DAYS"
          ],
          "enumDescriptions": [
            "Lookback window size unspecified.",
            "7-day lookback window.",
            "30-day lookback window."
          ],
          "description": "Required. The lookback window configuration for acquisition conversion events. The default window size is 30 days."
        },
        "reportingAttributionModel": {
          "enum": [
            "REPORTING_ATTRIBUTION_MODEL_UNSPECIFIED",
            "PAID_AND_ORGANIC_CHANNELS_DATA_DRIVEN",
            "PAID_AND_ORGANIC_CHANNELS_LAST_CLICK",
            "GOOGLE_PAID_CHANNELS_LAST_CLICK"
          ],
          "type": "string",
          "description": "Required. The reporting attribution model used to calculate conversion credit in this property's reports. Changing the attribution model will apply to both historical and future data. These changes will be reflected in reports with conversion and revenue data. User and session data will be unaffected.",
          "enumDescriptions": [
            "Reporting attribution model unspecified.",
            "Data-driven attribution distributes credit for the conversion based on data for each conversion event. Each Data-driven model is specific to each advertiser and each conversion event. Previously CROSS_CHANNEL_DATA_DRIVEN",
            "Ignores direct traffic and attributes 100% of the conversion value to the last channel that the customer clicked through (or engaged view through for YouTube) before converting. Previously CROSS_CHANNEL_LAST_CLICK",
            "Attributes 100% of the conversion value to the last Google Paid channel that the customer clicked through before converting. Previously ADS_PREFERRED_LAST_CLICK"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this attribution settings resource. Format: properties/{property_id}/attributionSettings Example: \"properties/1000/attributionSettings\"",
          "readOnly": true
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessRow": {
      "id": "GoogleAnalyticsAdminV1alphaAccessRow",
      "type": "object",
      "description": "Access report data for each row.",
      "properties": {
        "metricValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessMetricValue"
          },
          "description": "List of metric values. These values are in the same order as specified in the request."
        },
        "dimensionValues": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessDimensionValue"
          },
          "description": "List of dimension values. These values are in the same order as specified in the request."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessInListFilter": {
      "description": "The result needs to be in a list of string values.",
      "properties": {
        "values": {
          "description": "The list of string values. Must be non-empty.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "caseSensitive": {
          "description": "If true, the string value is case sensitive.",
          "type": "boolean"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessInListFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListDisplayVideo360AdvertiserLinksResponse",
      "type": "object",
      "description": "Response message for ListDisplayVideo360AdvertiserLinks RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "displayVideo360AdvertiserLinks": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink"
          },
          "description": "List of DisplayVideo360AdvertiserLinks."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAudienceEventTrigger": {
      "id": "GoogleAnalyticsAdminV1alphaAudienceEventTrigger",
      "type": "object",
      "description": "Specifies an event to log when a user joins the Audience.",
      "properties": {
        "logCondition": {
          "type": "string",
          "enum": [
            "LOG_CONDITION_UNSPECIFIED",
            "AUDIENCE_JOINED",
            "AUDIENCE_MEMBERSHIP_RENEWED"
          ],
          "enumDescriptions": [
            "Log condition is not specified.",
            "The event should be logged only when a user is joined.",
            "The event should be logged whenever the Audience condition is met, even if the user is already a member of the Audience."
          ],
          "description": "Required. When to log the event."
        },
        "eventName": {
          "description": "Required. The event name that will be logged.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessFilter",
      "type": "object",
      "description": "An expression to filter dimension or metric values.",
      "properties": {
        "inListFilter": {
          "description": "A filter for in list values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessInListFilter"
        },
        "betweenFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
          "description": "A filter for two values."
        },
        "fieldName": {
          "description": "The dimension name or metric name.",
          "type": "string"
        },
        "numericFilter": {
          "description": "A filter for numeric or date values.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessNumericFilter"
        },
        "stringFilter": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessStringFilter",
          "description": "Strings related filter."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessQuota": {
      "description": "Current state of all quotas for this Analytics property. If any quota for a property is exhausted, all requests to that property will return Resource Exhausted errors.",
      "properties": {
        "tokensPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use 50,000 tokens per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas."
        },
        "tokensPerDay": {
          "description": "Properties can use 250,000 tokens per day. Most requests consume fewer than 10 tokens.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "concurrentRequests": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties can use up to 50 concurrent requests."
        },
        "tokensPerProjectPerHour": {
          "description": "Properties can use up to 25% of their tokens per project per hour. This amounts to Analytics 360 Properties can use 12,500 tokens per project per hour. An API request consumes a single number of tokens, and that number is deducted from all of the hourly, daily, and per project hourly quotas.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus"
        },
        "serverErrorsPerProjectPerHour": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
          "description": "Properties and cloud project pairs can have up to 50 server errors per hour."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessQuota",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse": {
      "description": "Response message for ListExpandedDataSets RPC.",
      "properties": {
        "expandedDataSets": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
          },
          "description": "List of ExpandedDataSet. These will be ordered stably, but in an arbitrary order.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListExpandedDataSetsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest": {
      "id": "GoogleAnalyticsAdminV1alphaDeleteAccessBindingRequest",
      "type": "object",
      "description": "Request message for DeleteAccessBinding RPC.",
      "properties": {
        "name": {
          "description": "Required. Formats: - accounts/{account}/accessBindings/{accessBinding} - properties/{property}/accessBindings/{accessBinding}",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessBetweenFilter": {
      "id": "GoogleAnalyticsAdminV1alphaAccessBetweenFilter",
      "type": "object",
      "description": "To express that the result needs to be between two numbers (inclusive).",
      "properties": {
        "fromValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Begins with this number."
        },
        "toValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaNumericValue",
          "description": "Ends with this number."
        }
      }
    },
    "GoogleProtobufEmpty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret": {
      "description": "A secret value used for sending hits to Measurement Protocol.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name of this secret. This secret may be a child of any type of stream. Format: properties/{property}/dataStreams/{dataStream}/measurementProtocolSecrets/{measurementProtocolSecret}"
        },
        "displayName": {
          "description": "Required. Human-readable display name for this secret.",
          "type": "string"
        },
        "secretValue": {
          "description": "Output only. The measurement protocol secret value. Pass this value to the api_secret field of the Measurement Protocol API when sending hits to this secret's parent property.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListEventEditRulesResponse",
      "type": "object",
      "description": "Response message for ListEventEditRules RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "eventEditRules": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaEventEditRule"
          },
          "description": "List of EventEditRules. These will be ordered stably, but in an arbitrary order."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource": {
      "id": "GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource",
      "type": "object",
      "description": "A snapshot of a resource as before or after the result of a change in change history.",
      "properties": {
        "reportingIdentitySettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaReportingIdentitySettings",
          "description": "A snapshot of a ReportingIdentitySettings resource in change history."
        },
        "bigqueryLink": {
          "description": "A snapshot of a BigQuery link resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
        },
        "calculatedMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
          "description": "A snapshot of a CalculatedMetric resource in change history."
        },
        "googleSignalsSettings": {
          "description": "A snapshot of a GoogleSignalsSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleSignalsSettings"
        },
        "displayVideo360AdvertiserLinkProposal": {
          "description": "A snapshot of a DisplayVideo360AdvertiserLinkProposal resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLinkProposal"
        },
        "dataStream": {
          "$ref": "GoogleAnalyticsAdminV1alphaDataStream",
          "description": "A snapshot of a DataStream resource in change history."
        },
        "displayVideo360AdvertiserLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaDisplayVideo360AdvertiserLink",
          "description": "A snapshot of a DisplayVideo360AdvertiserLink resource in change history."
        },
        "searchAds360Link": {
          "$ref": "GoogleAnalyticsAdminV1alphaSearchAds360Link",
          "description": "A snapshot of a SearchAds360Link resource in change history."
        },
        "dataRetentionSettings": {
          "description": "A snapshot of a data retention settings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRetentionSettings"
        },
        "subpropertySyncConfig": {
          "description": "A snapshot of a SubpropertySyncConfig resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertySyncConfig"
        },
        "eventCreateRule": {
          "$ref": "GoogleAnalyticsAdminV1alphaEventCreateRule",
          "description": "A snapshot of an EventCreateRule resource in change history."
        },
        "customDimension": {
          "description": "A snapshot of a CustomDimension resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
        },
        "reportingDataAnnotation": {
          "description": "A snapshot of a ReportingDataAnnotation resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
        },
        "googleAdsLink": {
          "description": "A snapshot of a GoogleAdsLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaGoogleAdsLink"
        },
        "conversionEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent",
          "description": "A snapshot of a ConversionEvent resource in change history."
        },
        "keyEvent": {
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEvent",
          "description": "A snapshot of a KeyEvent resource in change history."
        },
        "measurementProtocolSecret": {
          "$ref": "GoogleAnalyticsAdminV1alphaMeasurementProtocolSecret",
          "description": "A snapshot of a MeasurementProtocolSecret resource in change history."
        },
        "firebaseLink": {
          "description": "A snapshot of a FirebaseLink resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaFirebaseLink"
        },
        "attributionSettings": {
          "description": "A snapshot of AttributionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAttributionSettings"
        },
        "dataRedactionSettings": {
          "description": "A snapshot of DataRedactionSettings resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaDataRedactionSettings"
        },
        "customMetric": {
          "$ref": "GoogleAnalyticsAdminV1alphaCustomMetric",
          "description": "A snapshot of a CustomMetric resource in change history."
        },
        "skadnetworkConversionValueSchema": {
          "description": "A snapshot of SKAdNetworkConversionValueSchema resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaSKAdNetworkConversionValueSchema"
        },
        "enhancedMeasurementSettings": {
          "$ref": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
          "description": "A snapshot of EnhancedMeasurementSettings resource in change history."
        },
        "adsenseLink": {
          "$ref": "GoogleAnalyticsAdminV1alphaAdSenseLink",
          "description": "A snapshot of an AdSenseLink resource in change history."
        },
        "property": {
          "description": "A snapshot of a Property resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        },
        "channelGroup": {
          "description": "A snapshot of a ChannelGroup resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroup"
        },
        "audience": {
          "$ref": "GoogleAnalyticsAdminV1alphaAudience",
          "description": "A snapshot of an Audience resource in change history."
        },
        "expandedDataSet": {
          "description": "A snapshot of an ExpandedDataSet resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSet"
        },
        "account": {
          "description": "A snapshot of an Account resource in change history.",
          "$ref": "GoogleAnalyticsAdminV1alphaAccount"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings": {
      "id": "GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings",
      "type": "object",
      "description": "Singleton resource under a web DataStream, configuring measurement of additional site interactions and content.",
      "properties": {
        "scrollsEnabled": {
          "description": "If enabled, capture scroll events each time a visitor gets to the bottom of a page.",
          "type": "boolean"
        },
        "videoEngagementEnabled": {
          "type": "boolean",
          "description": "If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site."
        },
        "name": {
          "description": "Output only. Resource name of the Enhanced Measurement Settings. Format: properties/{property_id}/dataStreams/{data_stream}/enhancedMeasurementSettings Example: \"properties/1000/dataStreams/2000/enhancedMeasurementSettings\"",
          "readOnly": true,
          "type": "string"
        },
        "siteSearchEnabled": {
          "description": "If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).",
          "type": "boolean"
        },
        "streamEnabled": {
          "type": "boolean",
          "description": "Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected."
        },
        "fileDownloadsEnabled": {
          "type": "boolean",
          "description": "If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension."
        },
        "formInteractionsEnabled": {
          "description": "If enabled, capture a form interaction event each time a visitor interacts with a form on your website. False by default.",
          "type": "boolean"
        },
        "outboundClicksEnabled": {
          "type": "boolean",
          "description": "If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain."
        },
        "uriQueryParameter": {
          "type": "string",
          "description": "Additional URL query parameters. Max length is 1024 characters."
        },
        "pageChangesEnabled": {
          "description": "If enabled, capture a page view event each time the website changes the browser history state.",
          "type": "boolean"
        },
        "searchQueryParameter": {
          "type": "string",
          "description": "Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter": {
      "description": "A resource message representing a Google Analytics subproperty event filter.",
      "properties": {
        "applyToProperty": {
          "description": "Immutable. Resource name of the Subproperty that uses this filter.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Format: properties/{ordinary_property_id}/subpropertyEventFilters/{sub_property_event_filter} Example: properties/1234/subpropertyEventFilters/5678",
          "readOnly": true
        },
        "filterClauses": {
          "description": "Required. Unordered list. Filter clauses that define the SubpropertyEventFilter. All clauses are AND'ed together to determine what data is sent to the subproperty.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause"
          },
          "type": "array"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSet": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSet",
      "type": "object",
      "description": "A resource message representing an `ExpandedDataSet`.",
      "properties": {
        "description": {
          "description": "Optional. The description of the ExpandedDataSet. Max 50 chars.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the ExpandedDataSet. Max 200 chars.",
          "type": "string"
        },
        "dimensionNames": {
          "items": {
            "type": "string"
          },
          "description": "Immutable. The list of dimensions included in the ExpandedDataSet. See the [API Dimensions](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#dimensions) for the list of dimension names.",
          "type": "array"
        },
        "dimensionFilterExpression": {
          "$ref": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterExpression",
          "description": "Immutable. A logical expression of ExpandedDataSet filters applied to dimension included in the ExpandedDataSet. This filter is used to reduce the number of rows and thus the chance of encountering `other` row."
        },
        "dataCollectionStartTime": {
          "type": "string",
          "description": "Output only. Time when expanded data set began (or will begin) collecing data.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "metricNames": {
          "type": "array",
          "description": "Immutable. The list of metrics included in the ExpandedDataSet. See the [API Metrics](https://developers.google.com/analytics/devguides/reporting/data/v1/api-schema#metrics) for the list of dimension names.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The resource name for this ExpandedDataSet resource. Format: properties/{property_id}/expandedDataSets/{expanded_data_set}",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange": {
      "description": "Represents a Reporting Data Annotation's date range, both start and end dates are inclusive. Time zones are based on the parent property.",
      "properties": {
        "startDate": {
          "description": "Required. The start date for this range. Must be a valid date with year, month, and day set. The date may be in the past, present, or future.",
          "$ref": "GoogleTypeDate"
        },
        "endDate": {
          "description": "Required. The end date for this range. Must be a valid date with year, month, and day set. This date must be greater than or equal to the start date.",
          "$ref": "GoogleTypeDate"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaReportingDataAnnotationDateRange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListReportingDataAnnotationsResponse",
      "type": "object",
      "description": "Response message for ListReportingDataAnnotation RPC.",
      "properties": {
        "reportingDataAnnotations": {
          "description": "List of Reporting Data Annotations.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaReportingDataAnnotation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaDataRetentionSettings": {
      "id": "GoogleAnalyticsAdminV1alphaDataRetentionSettings",
      "type": "object",
      "description": "Settings values for data retention. This is a singleton resource.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this DataRetentionSetting resource. Format: properties/{property}/dataRetentionSettings"
        },
        "eventDataRetention": {
          "description": "Required. The length of time that event-level data is retained.",
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ],
          "type": "string"
        },
        "resetUserDataOnNewActivity": {
          "type": "boolean",
          "description": "If true, reset the retention period for the user identifier with every event from that user."
        },
        "userDataRetention": {
          "enumDescriptions": [
            "Data retention time duration is not specified.",
            "The data retention time duration is 2 months.",
            "The data retention time duration is 14 months.",
            "The data retention time duration is 26 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 38 months. Available to 360 properties only. Available for event data only.",
            "The data retention time duration is 50 months. Available to 360 properties only. Available for event data only."
          ],
          "description": "Required. The length of time that user-level data is retained.",
          "type": "string",
          "enum": [
            "RETENTION_DURATION_UNSPECIFIED",
            "TWO_MONTHS",
            "FOURTEEN_MONTHS",
            "TWENTY_SIX_MONTHS",
            "THIRTY_EIGHT_MONTHS",
            "FIFTY_MONTHS"
          ]
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaExpandedDataSetFilterStringFilter",
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The string value to be matched against."
        },
        "matchType": {
          "enumDescriptions": [
            "Unspecified",
            "Exact match of the string value.",
            "Contains the string value."
          ],
          "description": "Required. The match type for the string filter.",
          "type": "string",
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "CONTAINS"
          ]
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the match is case-sensitive. If false, the match is case-insensitive. Must be true when match_type is EXACT. Must be false when match_type is CONTAINS."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse": {
      "description": "Response message for ListBigQueryLinks RPC",
      "properties": {
        "bigqueryLinks": {
          "description": "List of BigQueryLinks.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaBigQueryLink"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListBigQueryLinksResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterConditionStringFilter",
      "type": "object",
      "description": "A filter for a string-type dimension that matches a particular pattern.",
      "properties": {
        "value": {
          "description": "Required. The string value used for the matching.",
          "type": "string"
        },
        "matchType": {
          "enum": [
            "MATCH_TYPE_UNSPECIFIED",
            "EXACT",
            "BEGINS_WITH",
            "ENDS_WITH",
            "CONTAINS",
            "FULL_REGEXP",
            "PARTIAL_REGEXP"
          ],
          "type": "string",
          "description": "Required. The match type for the string filter.",
          "enumDescriptions": [
            "Match type unknown or not specified.",
            "Exact match of the string value.",
            "Begins with the string value.",
            "Ends with the string value.",
            "Contains the string value.",
            "Full regular expression matches with the string value.",
            "Partial regular expression matches with the string value."
          ]
        },
        "caseSensitive": {
          "type": "boolean",
          "description": "Optional. If true, the string value is case sensitive. If false, the match is case-insensitive."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaKeyEvent": {
      "description": "A key event in a Google Analytics property.",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Time when this key event was created in the property.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "defaultValue": {
          "$ref": "GoogleAnalyticsAdminV1alphaKeyEventDefaultValue",
          "description": "Optional. Defines a default value/currency for a key event."
        },
        "custom": {
          "description": "Output only. If set to true, this key event refers to a custom event. If set to false, this key event refers to a default event in GA. Default events typically have special meaning in GA. Default events are usually created for you by the GA system, but in some cases can be created by property admins. Custom events count towards the maximum number of custom key events that may be created per property.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Output only. Resource name of this key event. Format: properties/{property}/keyEvents/{key_event}",
          "readOnly": true
        },
        "eventName": {
          "description": "Immutable. The event name for this key event. Examples: 'click', 'purchase'",
          "type": "string"
        },
        "countingMethod": {
          "enum": [
            "COUNTING_METHOD_UNSPECIFIED",
            "ONCE_PER_EVENT",
            "ONCE_PER_SESSION"
          ],
          "type": "string",
          "description": "Required. The method by which Key Events will be counted across multiple events within a session.",
          "enumDescriptions": [
            "Counting method not specified.",
            "Each Event instance is considered a Key Event.",
            "An Event instance is considered a Key Event at most once per session per user."
          ]
        },
        "deletable": {
          "type": "boolean",
          "description": "Output only. If set to true, this event can be deleted.",
          "readOnly": true
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaKeyEvent",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse": {
      "id": "GoogleAnalyticsAdminV1alphaProvisionSubpropertyResponse",
      "type": "object",
      "description": "Response message for ProvisionSubproperty RPC.",
      "properties": {
        "subpropertyEventFilter": {
          "description": "The created subproperty event filter.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilter"
        },
        "subproperty": {
          "description": "The created subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaProperty"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest": {
      "description": "Request message for CreateAccessBinding RPC.",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. Formats: - accounts/{account} - properties/{property}"
        },
        "accessBinding": {
          "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding",
          "description": "Required. The access binding to create."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaCreateAccessBindingRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessMetricValue": {
      "id": "GoogleAnalyticsAdminV1alphaAccessMetricValue",
      "type": "object",
      "description": "The value of a metric.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The measurement value. For example, this value may be '13'."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListCustomDimensionsResponse",
      "type": "object",
      "description": "Response message for ListCustomDimensions RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "customDimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCustomDimension"
          },
          "description": "List of CustomDimensions."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest": {
      "description": "Request message for ArchiveCustomDimension RPC.",
      "properties": {},
      "id": "GoogleAnalyticsAdminV1alphaArchiveCustomDimensionRequest",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaBatchUpdateAccessBindingsResponse",
      "type": "object",
      "description": "Response message for BatchUpdateAccessBindings RPC.",
      "properties": {
        "accessBindings": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccessBinding"
          },
          "description": "The access bindings updated."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaCustomDimension": {
      "id": "GoogleAnalyticsAdminV1alphaCustomDimension",
      "type": "object",
      "description": "A definition for a CustomDimension.",
      "properties": {
        "displayName": {
          "description": "Required. Display name for this custom dimension as shown in the Analytics UI. Max length of 82 characters, alphanumeric plus space and underscore starting with a letter. Legacy system-generated display names may contain square brackets, but updates to this field will never permit square brackets.",
          "type": "string"
        },
        "scope": {
          "description": "Required. Immutable. The scope of this dimension.",
          "enumDescriptions": [
            "Scope unknown or not specified.",
            "Dimension scoped to an event.",
            "Dimension scoped to a user.",
            "Dimension scoped to eCommerce items"
          ],
          "enum": [
            "DIMENSION_SCOPE_UNSPECIFIED",
            "EVENT",
            "USER",
            "ITEM"
          ],
          "type": "string"
        },
        "parameterName": {
          "type": "string",
          "description": "Required. Immutable. Tagging parameter name for this custom dimension. If this is a user-scoped dimension, then this is the user property name. If this is an event-scoped dimension, then this is the event parameter name. If this is an item-scoped dimension, then this is the parameter name found in the eCommerce items array. May only contain alphanumeric and underscore characters, starting with a letter. Max length of 24 characters for user-scoped dimensions, 40 characters for event-scoped dimensions."
        },
        "description": {
          "description": "Optional. Description for this custom dimension. Max length of 150 characters.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Resource name for this CustomDimension resource. Format: properties/{property}/customDimensions/{customDimension}",
          "type": "string"
        },
        "disallowAdsPersonalization": {
          "description": "Optional. If set to true, sets this dimension as NPA and excludes it from ads personalization. This is currently only supported by user-scoped custom dimensions.",
          "type": "boolean"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaMatchingCondition": {
      "description": "Defines a condition for when an Event Edit or Event Creation rule applies to an event.",
      "properties": {
        "field": {
          "type": "string",
          "description": "Required. The name of the field that is compared against for the condition. If 'event_name' is specified this condition will apply to the name of the event. Otherwise the condition will apply to a parameter with the specified name. This value cannot contain spaces."
        },
        "negated": {
          "description": "Whether or not the result of the comparison should be negated. For example, if `negated` is true, then 'equals' comparisons would function as 'not equals'.",
          "type": "boolean"
        },
        "comparisonType": {
          "enum": [
            "COMPARISON_TYPE_UNSPECIFIED",
            "EQUALS",
            "EQUALS_CASE_INSENSITIVE",
            "CONTAINS",
            "CONTAINS_CASE_INSENSITIVE",
            "STARTS_WITH",
            "STARTS_WITH_CASE_INSENSITIVE",
            "ENDS_WITH",
            "ENDS_WITH_CASE_INSENSITIVE",
            "GREATER_THAN",
            "GREATER_THAN_OR_EQUAL",
            "LESS_THAN",
            "LESS_THAN_OR_EQUAL",
            "REGULAR_EXPRESSION",
            "REGULAR_EXPRESSION_CASE_INSENSITIVE"
          ],
          "type": "string",
          "description": "Required. The type of comparison to be applied to the value.",
          "enumDescriptions": [
            "Unknown",
            "Equals, case sensitive",
            "Equals, case insensitive",
            "Contains, case sensitive",
            "Contains, case insensitive",
            "Starts with, case sensitive",
            "Starts with, case insensitive",
            "Ends with, case sensitive",
            "Ends with, case insensitive",
            "Greater than",
            "Greater than or equal",
            "Less than",
            "Less than or equal",
            "regular expression. Only supported for web streams.",
            "regular expression, case insensitive. Only supported for web streams."
          ]
        },
        "value": {
          "description": "Required. The value being compared against for this condition. The runtime implementation may perform type coercion of this value to evaluate this condition based on the type of the parameter value.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaMatchingCondition",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaEventMapping": {
      "id": "GoogleAnalyticsAdminV1alphaEventMapping",
      "type": "object",
      "description": "Event setting conditions to match an event.",
      "properties": {
        "eventName": {
          "description": "Required. Name of the Google Analytics event. It must always be set. The max allowed display name length is 40 UTF-16 code units.",
          "type": "string"
        },
        "minEventCount": {
          "type": "string",
          "description": "At least one of the following four min/max values must be set. The values set will be ANDed together to qualify an event. The minimum number of times the event occurred. If not set, minimum event count won't be checked.",
          "format": "int64"
        },
        "maxEventCount": {
          "description": "The maximum number of times the event occurred. If not set, maximum event count won't be checked.",
          "format": "int64",
          "type": "string"
        },
        "minEventValue": {
          "description": "The minimum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, minimum event value won't be checked.",
          "format": "double",
          "type": "number"
        },
        "maxEventValue": {
          "type": "number",
          "description": "The maximum revenue generated due to the event. Revenue currency will be defined at the property level. If not set, maximum event value won't be checked.",
          "format": "double"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause": {
      "id": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterClause",
      "type": "object",
      "description": "A clause for defining a filter. A filter may be inclusive (events satisfying the filter clause are included in the subproperty's data) or exclusive (events satisfying the filter clause are excluded from the subproperty's data).",
      "properties": {
        "filterClauseType": {
          "enumDescriptions": [
            "Filter clause type unknown or not specified.",
            "Events will be included in the Sub property if the filter clause is met.",
            "Events will be excluded from the Sub property if the filter clause is met."
          ],
          "description": "Required. The type for the filter clause.",
          "type": "string",
          "enum": [
            "FILTER_CLAUSE_TYPE_UNSPECIFIED",
            "INCLUDE",
            "EXCLUDE"
          ]
        },
        "filterExpression": {
          "description": "Required. The logical expression for what events are sent to the subproperty.",
          "$ref": "GoogleAnalyticsAdminV1alphaSubpropertyEventFilterExpression"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaAccessDateRange": {
      "description": "A contiguous range of days: startDate, startDate + 1, ..., endDate.",
      "properties": {
        "startDate": {
          "type": "string",
          "description": "The inclusive start date for the query in the format `YYYY-MM-DD`. Cannot be after `endDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone."
        },
        "endDate": {
          "description": "The inclusive end date for the query in the format `YYYY-MM-DD`. Cannot be before `startDate`. The format `NdaysAgo`, `yesterday`, or `today` is also accepted, and in that case, the date is inferred based on the current time in the request's time zone.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccessDateRange",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse": {
      "description": "Response message for ListCalculatedMetrics RPC.",
      "properties": {
        "calculatedMetrics": {
          "description": "List of CalculatedMetrics.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaCalculatedMetric"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListCalculatedMetricsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression": {
      "description": "A logical expression of Channel Group dimension filters.",
      "properties": {
        "orGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
          "description": "A list of expressions to OR’ed together. It cannot contain ChannelGroupFilterExpressions with and_group or or_group."
        },
        "filter": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilter",
          "description": "A filter on a single dimension. This cannot be set on the top level ChannelGroupFilterExpression."
        },
        "andGroup": {
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpressionList",
          "description": "A list of expressions to be AND’ed together. It can only contain ChannelGroupFilterExpressions with or_group. This must be set for the top level ChannelGroupFilterExpression."
        },
        "notExpression": {
          "description": "A filter expression to be NOT'ed (that is inverted, complemented). It can only include a dimension_or_metric_filter. This cannot be set on the top level ChannelGroupFilterExpression.",
          "$ref": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaChannelGroupFilterExpression",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaListAccountsResponse": {
      "description": "Request message for ListAccounts RPC.",
      "properties": {
        "accounts": {
          "type": "array",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaAccount"
          },
          "description": "Results that were accessible to the caller."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaListAccountsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccessQuotaStatus": {
      "id": "GoogleAnalyticsAdminV1alphaAccessQuotaStatus",
      "type": "object",
      "description": "Current state for a particular quota group.",
      "properties": {
        "consumed": {
          "description": "Quota consumed by this request.",
          "format": "int32",
          "type": "integer"
        },
        "remaining": {
          "type": "integer",
          "description": "Quota remaining after this request.",
          "format": "int32"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaListConversionEventsResponse": {
      "id": "GoogleAnalyticsAdminV1alphaListConversionEventsResponse",
      "type": "object",
      "description": "Response message for ListConversionEvents RPC.",
      "properties": {
        "conversionEvents": {
          "type": "array",
          "description": "The requested conversion events",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaConversionEvent"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue": {
      "id": "GoogleAnalyticsAdminV1alphaConversionEventDefaultConversionValue",
      "type": "object",
      "description": "Defines a default value/currency for a conversion event. Both value and currency must be provided.",
      "properties": {
        "value": {
          "type": "number",
          "description": "This value will be used to populate the value for all conversions of the specified event_name where the event \"value\" parameter is unset.",
          "format": "double"
        },
        "currencyCode": {
          "type": "string",
          "description": "When a conversion event for this event_name has no set currency, this currency will be applied as the default. Must be in ISO 4217 currency code format. See https://en.wikipedia.org/wiki/ISO_4217 for more information."
        }
      }
    },
    "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse": {
      "description": "Response message for SearchAccounts RPC.",
      "properties": {
        "changeHistoryEvents": {
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaChangeHistoryEvent"
          },
          "description": "Results that were accessible to the caller.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaSearchChangeHistoryEventsResponse",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaAccountSummary": {
      "description": "A virtual resource representing an overview of an account and all its child Google Analytics properties.",
      "properties": {
        "account": {
          "type": "string",
          "description": "Resource name of account referred to by this account summary Format: accounts/{account_id} Example: \"accounts/1000\""
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this account summary. Format: accountSummaries/{account_id} Example: \"accountSummaries/1000\""
        },
        "propertySummaries": {
          "type": "array",
          "description": "List of summaries for child accounts of this account.",
          "items": {
            "$ref": "GoogleAnalyticsAdminV1alphaPropertySummary"
          }
        },
        "displayName": {
          "type": "string",
          "description": "Display name for the account referred to in this account summary."
        }
      },
      "id": "GoogleAnalyticsAdminV1alphaAccountSummary",
      "type": "object"
    },
    "GoogleAnalyticsAdminV1alphaCalculatedMetric": {
      "id": "GoogleAnalyticsAdminV1alphaCalculatedMetric",
      "type": "object",
      "description": "A definition for a calculated metric.",
      "properties": {
        "metricUnit": {
          "enumDescriptions": [
            "MetricUnit unspecified or missing.",
            "This metric uses default units.",
            "This metric measures a currency.",
            "This metric measures feet.",
            "This metric measures miles.",
            "This metric measures meters.",
            "This metric measures kilometers.",
            "This metric measures milliseconds.",
            "This metric measures seconds.",
            "This metric measures minutes.",
            "This metric measures hours."
          ],
          "description": "Required. The type for the calculated metric's value.",
          "type": "string",
          "enum": [
            "METRIC_UNIT_UNSPECIFIED",
            "STANDARD",
            "CURRENCY",
            "FEET",
            "MILES",
            "METERS",
            "KILOMETERS",
            "MILLISECONDS",
            "SECONDS",
            "MINUTES",
            "HOURS"
          ]
        },
        "restrictedMetricType": {
          "description": "Output only. Types of restricted data that this metric contains.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "Type unknown or unspecified.",
              "Metric reports cost data.",
              "Metric reports revenue data."
            ],
            "type": "string",
            "enum": [
              "RESTRICTED_METRIC_TYPE_UNSPECIFIED",
              "COST_DATA",
              "REVENUE_DATA"
            ]
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Resource name for this CalculatedMetric. Format: 'properties/{property_id}/calculatedMetrics/{calculated_metric_id}'"
        },
        "invalidMetricReference": {
          "description": "Output only. If true, this calculated metric has a invalid metric reference. Anything using a calculated metric with invalid_metric_reference set to true may fail, produce warnings, or produce unexpected results.",
          "readOnly": true,
          "type": "boolean"
        },
        "description": {
          "description": "Optional. Description for this calculated metric. Max length of 4096 characters.",
          "type": "string"
        },
        "calculatedMetricId": {
          "type": "string",
          "description": "Output only. The ID to use for the calculated metric. In the UI, this is referred to as the \"API name.\" The calculated_metric_id is used when referencing this calculated metric from external APIs. For example, \"calcMetric:{calculated_metric_id}\".",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name for this calculated metric as shown in the Google Analytics UI. Max length 82 characters."
        },
        "formula": {
          "type": "string",
[...]
