{
  "id": "androiddeviceprovisioning:v1",
  "discoveryVersion": "v1",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "title": "Android Device Provisioning Partner API",
  "canonicalName": "Android Provisioning Partner",
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "protocol": "rest",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "CustomerUnclaimDeviceRequest": {
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "id": "CustomerUnclaimDeviceRequest",
      "type": "object"
    },
    "DevicesLongRunningOperationResponse": {
      "type": "object",
      "id": "DevicesLongRunningOperationResponse",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "perDeviceStatus": {
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array"
        },
        "successCount": {
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "type": "object",
      "description": "Identifies one claim request.",
      "properties": {
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "customerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed."
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "simlockProfileId": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile."
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "type": "object",
      "description": "Request message for customer to remove the configuration from device.",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      }
    },
    "CustomerListCustomersResponse": {
      "description": "Response message for listing my customers.",
      "properties": {
        "customers": {
          "type": "array",
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      },
      "type": "object",
      "id": "CustomerListCustomersResponse"
    },
    "FindDevicesByOwnerResponse": {
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "FindDevicesByOwnerResponse",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      }
    },
    "Configuration": {
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "properties": {
        "contactPhone": {
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.",
          "type": "string"
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "configurationName": {
          "type": "string",
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins."
        },
        "companyName": {
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.",
          "type": "string"
        },
        "customMessage": {
          "type": "string",
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned."
        },
        "forcedResetTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "Configuration"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      }
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "configurationId": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section."
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object",
      "id": "ClaimDeviceRequest"
    },
    "UpdateDeviceMetadataRequest": {
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "PerDeviceStatusInBatch": {
      "description": "Captures the processing status for each device in the operation.",
      "properties": {
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "deviceId": {
          "description": "If processing succeeds, the device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "errorMessage": {
          "description": "If processing fails, a developer message explaining what went wrong.",
          "type": "string"
        },
        "status": {
          "description": "The result status of the device after processing.",
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ]
        }
      },
      "type": "object",
      "id": "PerDeviceStatusInBatch"
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device.",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeDays": {
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "ListCustomersResponse": {
      "type": "object",
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      }
    },
    "UpdateMetadataArguments": {
      "description": "Identifies metadata updates to one device.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        }
      },
      "id": "UpdateMetadataArguments",
      "type": "object"
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "properties": {
        "deviceId": {
          "format": "int64",
          "type": "string",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "readOnly": true,
          "items": {
            "$ref": "DeviceClaim"
          },
          "type": "array"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        }
      },
      "id": "Device",
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "type": "array",
          "description": "Required. A list of device claims.",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      },
      "type": "object",
      "id": "ClaimDevicesRequest"
    },
    "UnclaimDevicesRequest": {
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      },
      "id": "UnclaimDevicesRequest",
      "type": "object"
    },
    "DeviceMetadata": {
      "id": "DeviceMetadata",
      "type": "object",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs."
        }
      }
    },
    "OperationPerDevice": {
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        }
      },
      "id": "OperationPerDevice",
      "type": "object"
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "type": "array",
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "items": {
            "$ref": "Dpc"
          }
        }
      },
      "type": "object",
      "id": "CustomerListDpcsResponse"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "FindDevicesByOwnerRequest": {
      "id": "FindDevicesByOwnerRequest",
      "type": "object",
      "description": "Request to find devices by customers.",
      "properties": {
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string",
          "format": "int64"
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "customerId": {
          "description": "The list of customer IDs to search for.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "googleWorkspaceCustomerId": {
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleWorkspaceAccount": {
      "type": "object",
      "id": "GoogleWorkspaceAccount",
      "description": "A Google Workspace customer.",
      "properties": {
        "customerId": {
          "type": "string",
          "description": "Required. The customer ID."
        },
        "preProvisioningTokens": {
          "type": "array",
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomerListDevicesResponse": {
      "description": "Response message of customer's liting devices.",
      "properties": {
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CustomerListDevicesResponse"
    },
    "DeviceIdentifier": {
      "id": "DeviceIdentifier",
      "type": "object",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device"
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "model": {
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).",
          "type": "string"
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "meid": {
          "description": "The device’s MEID number.",
          "type": "string"
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        }
      }
    },
    "GetDeviceSimLockStateRequest": {
      "description": "Request to get a device's SIM lock status.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object",
      "id": "GetDeviceSimLockStateRequest"
    },
    "Dpc": {
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "properties": {
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true
        },
        "dpcName": {
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "Dpc"
    },
    "Company": {
      "type": "object",
      "id": "Company",
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "properties": {
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "adminEmails": {
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)",
          "type": "string"
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        },
        "googleWorkspaceAccount": {
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies.",
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount"
        },
        "companyId": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "readOnly": true
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal."
        },
        "termsStatus": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus."
        }
      }
    },
    "CustomerApplyConfigurationRequest": {
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
          "type": "string"
        }
      },
      "id": "CustomerApplyConfigurationRequest",
      "type": "object"
    },
    "ListVendorsResponse": {
      "type": "object",
      "id": "ListVendorsResponse",
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer",
          "format": "int32"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "vendors": {
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "items": {
            "$ref": "Company"
          }
        }
      }
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListVendorCustomersResponse"
    },
    "GetDeviceSimLockStateResponse": {
      "description": "Response containing a device's SimLock state.",
      "properties": {
        "simLockState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      },
      "type": "object",
      "id": "GetDeviceSimLockStateResponse"
    },
    "CreateCustomerRequest": {
      "type": "object",
      "id": "CreateCustomerRequest",
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      }
    },
    "DevicesLongRunningOperationMetadata": {
      "type": "object",
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field."
        },
        "devicesCount": {
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32",
          "type": "integer"
        },
        "processingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ],
          "description": "The processing status of the operation."
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "devices": {
          "type": "array",
          "description": "Found devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "DeviceClaim": {
      "id": "DeviceClaim",
      "type": "object",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "vacationModeExpireTime": {
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime",
          "type": "string"
        },
        "vacationModeStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'."
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "sectionType": {
          "description": "Output only. The type of claim made on the device.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The ID of the Google Workspace account that owns the Chrome OS device."
        },
        "resellerId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the reseller that claimed the device."
        },
        "ownerCompanyId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the Customer that purchased the device."
        }
      }
    },
    "PartnerUnclaim": {
      "description": "Identifies one unclaim request.",
      "properties": {
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "type": "string",
          "format": "google-datetime"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "type": "string",
          "format": "int64"
        },
        "vacationModeDays": {
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "type": "integer",
          "format": "int32"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        }
      },
      "type": "object",
      "id": "PartnerUnclaim"
    },
    "DeviceReference": {
      "type": "object",
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "The ID of the device."
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object",
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      }
    },
    "ClaimDeviceResponse": {
      "type": "object",
      "id": "ClaimDeviceResponse",
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
        },
        "deviceId": {
          "description": "The device ID of the claimed device.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "id": "FindDevicesByDeviceIdentifierRequest",
      "type": "object",
      "description": "Request to find devices.",
      "properties": {
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        }
      }
    }
  },
  "revision": "20260304",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    }
  },
  "name": "androiddeviceprovisioning",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "resources": {
    "partners": {
      "resources": {
        "vendors": {
          "methods": {
            "list": {
              "description": "Lists the vendors of the partner.",
              "flatPath": "v1/partners/{partnersId}/vendors",
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to be returned."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "path": "v1/{+parent}/vendors"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "description": "Lists the customers of the vendor.",
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results returned by the server."
                    },
                    "parent": {
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "path": "v1/{+parent}/customers"
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "findByOwner": {
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "httpMethod": "POST",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`."
                }
              },
              "description": "Gets a device.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}"
            },
            "unclaim": {
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Empty"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:unclaim"
            },
            "updateMetadataAsync": {
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The reseller partner ID."
                }
              },
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "httpMethod": "POST"
            },
            "findByIdentifier": {
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the reseller partner."
                }
              }
            },
            "getSimLockState": {
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "description": "Gets a device's SIM lock state.",
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:getSimLockState"
            },
            "unclaimAsync": {
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "parameters": {
                "partnerId": {
                  "location": "path",
                  "description": "Required. The reseller partner ID.",
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync"
            },
            "metadata": {
              "httpMethod": "POST",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameters": {
                "metadataOwnerId": {
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID."
                },
                "deviceId": {
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the device."
                }
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "response": {
                "$ref": "DeviceMetadata"
              }
            },
            "claim": {
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "format": "int64",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:claim",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "httpMethod": "POST"
            },
            "claimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "format": "int64"
                }
              },
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "customers": {
          "methods": {
            "list": {
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "ListCustomersResponse"
              },
              "path": "v1/partners/{+partnerId}/customers",
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "flatPath": "v1/partners/{partnersId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server."
                },
                "partnerId": {
                  "format": "int64",
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The ID of the reseller partner."
                }
              }
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/customers",
              "flatPath": "v1/partners/{partnersId}/customers",
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Company"
              },
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "id": "androiddeviceprovisioning.partners.customers.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "required": true
                }
              }
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "parameterOrder": [],
          "path": "v1/customers",
          "flatPath": "v1/customers",
          "description": "Lists the user's customer accounts.",
          "id": "androiddeviceprovisioning.customers.list",
          "httpMethod": "GET",
          "parameters": {
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive)."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator"
            }
          }
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "removeConfiguration": {
              "path": "v1/{+parent}/devices:removeConfiguration",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "description": "Removes a configuration from device.",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              }
            },
            "get": {
              "response": {
                "$ref": "Device"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "description": "Gets the details of a device.",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`."
                }
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "path": "v1/{+parent}/devices",
              "description": "Lists a customer's devices.",
              "flatPath": "v1/customers/{customersId}/devices",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "format": "int64",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token specifying which result page to return."
                },
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              }
            },
            "unclaim": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/devices:unclaim",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`."
                }
              }
            },
            "applyConfiguration": {
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "response": {
                "$ref": "Empty"
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/devices:applyConfiguration"
            }
          }
        },
        "configurations": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "Configuration"
              },
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "type": "string",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Updates a configuration's field values.",
              "httpMethod": "PATCH"
            },
            "list": {
              "path": "v1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              },
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "description": "Lists a customer's configurations.",
              "flatPath": "v1/customers/{customersId}/configurations"
            },
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path"
                }
              },
              "description": "Gets the details of a configuration.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "create": {
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "Configuration"
              },
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "POST",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "path": "v1/{+parent}/configurations",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "type": "string",
                  "pattern": "^customers/[^/]+$",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "path": "v1/{+parent}/dpcs"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/operations/{operationsId}",
          "id": "androiddeviceprovisioning.operations.get",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "type": "string",
              "pattern": "^operations/.*$",
              "required": true,
              "location": "path",
              "description": "The name of the operation resource."
            }
          }
        }
      }
    }
  },
  "version": "v1",
  "ownerDomain": "google.com",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/"
}