{
  "discoveryVersion": "v1",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "revision": "20260311",
  "ownerDomain": "google.com",
  "title": "Google Play Android Developer API",
  "resources": {
    "internalappsharingartifacts": {
      "methods": {
        "uploadapk": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "maxSize": "1073741824"
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java."
        },
        "uploadbundle": {
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "supportsMediaUpload": true,
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            },
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240"
          },
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "users": {
      "methods": {
        "create": {
          "path": "androidpublisher/v3/{+parent}/users",
          "parameters": {
            "parent": {
              "description": "Required. The developer account to add the user to. Format: developers/{developer}",
              "type": "string",
              "required": true,
              "pattern": "^developers/[^/]+$",
              "location": "path"
            }
          },
          "request": {
            "$ref": "User"
          },
          "description": "Grant access for a user to the given developer account.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "parameterOrder": [
            "parent"
          ],
          "id": "androidpublisher.users.create",
          "httpMethod": "POST",
          "response": {
            "$ref": "User"
          }
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.users.patch",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "User"
          },
          "path": "androidpublisher/v3/{+name}",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "request": {
            "$ref": "User"
          },
          "description": "Updates access for the user to the developer account."
        },
        "list": {
          "path": "androidpublisher/v3/{+parent}/users",
          "description": "Lists all users with access to a developer account.",
          "parameters": {
            "parent": {
              "pattern": "^developers/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "type": "string"
            },
            "pageSize": {
              "format": "int32",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination.",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A token received from a previous call to this method, in order to retrieve further results.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ListUsersResponse"
          },
          "id": "androidpublisher.users.list",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "androidpublisher.users.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "type": "string",
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path"
            }
          },
          "description": "Removes all access for the user to the given developer account.",
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "grants": {
      "methods": {
        "delete": {
          "id": "androidpublisher.grants.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "type": "string"
            }
          },
          "description": "Removes all access for the user to the given package or developer account.",
          "path": "androidpublisher/v3/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ]
        },
        "create": {
          "description": "Grant access for a user to the given package.",
          "request": {
            "$ref": "Grant"
          },
          "parameters": {
            "parent": {
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/{+parent}/grants",
          "response": {
            "$ref": "Grant"
          },
          "id": "androidpublisher.grants.create",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "description": "Updates access for the user to the given package.",
          "request": {
            "$ref": "Grant"
          },
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "type": "string"
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/{+name}",
          "response": {
            "$ref": "Grant"
          },
          "id": "androidpublisher.grants.patch",
          "httpMethod": "PATCH",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "orders": {
      "methods": {
        "refund": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "id": "androidpublisher.orders.refund",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "type": "string",
              "required": true
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            },
            "orderId": {
              "required": true,
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded."
        },
        "get": {
          "description": "Get order details for a single order.",
          "parameters": {
            "packageName": {
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "type": "string",
              "required": true
            },
            "orderId": {
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "id": "androidpublisher.orders.get",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "batchget": {
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "description": "Get order details for a list of orders.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "type": "string"
            },
            "orderIds": {
              "repeated": true,
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "id": "androidpublisher.orders.batchget",
          "httpMethod": "GET"
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "id": "androidpublisher.reviews.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Review"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            }
          },
          "description": "Gets a single review."
        },
        "list": {
          "description": "Lists all reviews.",
          "parameters": {
            "startIndex": {
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "How many results the list operation should return.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "id": "androidpublisher.reviews.list",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "reply": {
          "id": "androidpublisher.reviews.reply",
          "httpMethod": "POST",
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "reviewId": {
              "required": true,
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string"
            }
          },
          "description": "Replies to a single review, or updates an existing reply.",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.insert",
          "httpMethod": "POST",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "delete": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "location": "query"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "batchUpdate": {
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "id": "androidpublisher.inappproducts.batchUpdate",
          "httpMethod": "POST",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate"
        },
        "batchGet": {
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "id": "androidpublisher.inappproducts.batchGet",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "repeated": true,
              "description": "Unique identifier for the in-app products.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet"
        },
        "batchDelete": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchDelete",
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "update": {
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "allowMissing": {
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "location": "query",
              "type": "boolean"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "latencyTolerance": {
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "InAppProduct"
          },
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "id": "androidpublisher.inappproducts.update",
          "httpMethod": "PUT",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ]
        },
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.get",
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "list": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first product.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "type": "integer",
              "deprecated": true,
              "format": "uint32",
              "location": "query"
            },
            "startIndex": {
              "location": "query",
              "deprecated": true,
              "format": "uint32",
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "type": "integer"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "id": "androidpublisher.inappproducts.list",
          "httpMethod": "GET"
        },
        "patch": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.patch",
          "httpMethod": "PATCH",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string",
              "location": "query",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ]
            }
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "required": true,
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              },
              "description": "Returns the list of previously created system APK variants.",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "id": "androidpublisher.systemapks.variants.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ]
            },
            "get": {
              "response": {
                "$ref": "Variant"
              },
              "id": "androidpublisher.systemapks.variants.get",
              "httpMethod": "GET",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Returns a previously created system APK variant.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "required": true,
                  "format": "uint32",
                  "location": "path"
                },
                "versionCode": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              },
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}"
            },
            "create": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "versionCode": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Variant"
              },
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "Variant"
              }
            },
            "download": {
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "useMediaDownloadService": true,
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "required": true,
                  "format": "uint32",
                  "location": "path"
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path"
                }
              },
              "supportsMediaDownload": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.download",
              "httpMethod": "GET"
            }
          }
        }
      }
    },
    "monetization": {
      "resources": {
        "onetimeproducts": {
          "methods": {
            "delete": {
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.delete",
              "httpMethod": "DELETE",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "required": true,
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "location": "path",
                  "type": "string"
                },
                "latencyTolerance": {
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
                  "type": "string"
                }
              },
              "description": "Deletes a one-time product."
            },
            "batchUpdate": {
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "description": "Creates or updates one or more one-time products.",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              }
            },
            "batchGet": {
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "description": "Reads one or more one-time products.",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "productIds": {
                  "repeated": true,
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "httpMethod": "GET"
            },
            "batchDelete": {
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Deletes one or more one-time products.",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "parameterOrder": [
                "packageName"
              ]
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "description": "Reads a single one-time product.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) of the product to retrieve.",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "required": true,
                  "description": "Required. The product ID of the product to retrieve.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "OneTimeProduct"
              },
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "httpMethod": "GET"
            },
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "description": "Lists all one-time products under a given app.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. The parent app (package name) for which the one-time product should be read.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "httpMethod": "GET"
            },
            "patch": {
              "response": {
                "$ref": "OneTimeProduct"
              },
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "httpMethod": "PATCH",
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates or updates a one-time product.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Required. Immutable. Package name of the parent app.",
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "required": true,
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "location": "path",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The list of fields to be updated.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "regionsVersion.version": {
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "location": "query",
                  "type": "string"
                },
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "location": "query",
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "type": "string"
                },
                "allowMissing": {
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "request": {
                "$ref": "OneTimeProduct"
              },
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}"
            }
          },
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "required": true,
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "httpMethod": "POST"
                },
                "batchDelete": {
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "batchUpdate": {
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Creates or updates one or more one-time product offers.",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate"
                    },
                    "batchGet": {
                      "description": "Reads one or more one-time product offers.",
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "batchUpdateStates": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "parameters": {
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "description": "Updates a batch of one-time product offer states.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates"
                    },
                    "batchDelete": {
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "description": "Deletes one or more one-time product offers.",
                      "parameters": {
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      }
                    },
                    "activate": {
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "parameters": {
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to activate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Activates a one-time product offer.",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ]
                    },
                    "deactivate": {
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Deactivates a one-time product offer.",
                      "parameters": {
                        "offerId": {
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate"
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "parameters": {
                        "offerId": {
                          "required": true,
                          "description": "Required. The offer ID of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "description": "Cancels a one-time product offer."
                    },
                    "list": {
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "parameters": {
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "location": "path",
                          "type": "string"
                        },
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "httpMethod": "GET",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "subscriptions": {
          "resources": {
            "basePlans": {
              "methods": {
                "migratePrices": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "parameters": {
                    "packageName": {
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "productId": {
                      "required": true,
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "basePlanId": {
                      "required": true,
                      "description": "Required. The unique base plan ID of the base plan to update prices on.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  }
                },
                "batchMigratePrices": {
                  "response": {
                    "$ref": "BatchMigrateBasePlanPricesResponse"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchMigratePrices",
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "description": "Batch variant of the MigrateBasePlanPrices endpoint. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the Subscription resources.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchMigrateBasePlanPricesRequest"
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices"
                },
                "activate": {
                  "response": {
                    "$ref": "Subscription"
                  },
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the base plan to activate.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to activate.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to activate.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate"
                },
                "deactivate": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "parameters": {
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to deactivate.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "productId": {
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Subscription"
                  }
                },
                "batchUpdateStates": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the updated base plans.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated base plans belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  },
                  "description": "Activates or deactivates base plans across one or multiple subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchUpdateStates",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "BatchUpdateBasePlanStatesResponse"
                  }
                },
                "delete": {
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "required": true,
                      "description": "Required. The parent subscription (ID) of the base plan to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "basePlanId": {
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible.",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ]
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "get": {
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the offer to get.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) of the offer to get.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "basePlanId": {
                          "required": true,
                          "description": "Required. The parent base plan (ID) of the offer to get.",
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The unique offer ID of the offer to get.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "description": "Reads a single offer",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "SubscriptionOffer"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListSubscriptionOffersResponse"
                      },
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.list",
                      "httpMethod": "GET",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "description": "Lists all offers under a given subscription.",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) for which the subscriptions should be read.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "productId": {
                          "description": "Required. The parent subscription (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListSubscriptionsOffers` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSubscriptionOffers` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 50 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "type": "integer"
                        },
                        "basePlanId": {
                          "required": true,
                          "description": "Required. The parent base plan (ID) for which the offers should be read. May be specified as '-' to read all offers under a subscription or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers"
                    },
                    "patch": {
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}",
                      "request": {
                        "$ref": "SubscriptionOffer"
                      },
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "description": "Required. Immutable. The package name of the app the parent subscription belongs to.",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
                          "location": "path",
[...]
