{
  "ownerName": "Google",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "basePath": "",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "ownerDomain": "google.com",
  "version": "v1",
  "canonicalName": "Android Provisioning Partner",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "title": "Android Device Provisioning Partner API",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "list": {
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.customers.list",
              "httpMethod": "GET",
              "path": "v1/partners/{+partnerId}/customers",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                }
              },
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "response": {
                "$ref": "ListCustomersResponse"
              }
            },
            "create": {
              "flatPath": "v1/partners/{partnersId}/customers",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "path": "v1/{+parent}/customers",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+$"
                }
              },
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "response": {
                "$ref": "Company"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        },
        "vendors": {
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.partners.vendors.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/partners/{partnersId}/vendors",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "path": "v1/{+parent}/vendors",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^partners/[^/]+$",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists the vendors of the partner.",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/customers",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^partners/[^/]+/vendors/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists the customers of the vendor.",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  }
                }
              }
            }
          }
        },
        "devices": {
          "methods": {
            "unclaimAsync": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "request": {
                "$ref": "UnclaimDevicesRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "claim": {
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:claim",
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claim",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "response": {
                "$ref": "ClaimDeviceResponse"
              }
            },
            "findByOwner": {
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "path": "v1/partners/{+partnerId}/devices:findByOwner",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              }
            },
            "metadata": {
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata",
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "response": {
                "$ref": "DeviceMetadata"
              },
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "parameters": {
                "metadataOwnerId": {
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                },
                "deviceId": {
                  "description": "Required. The ID of the device.",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "httpMethod": "POST"
            },
            "unclaim": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "findByIdentifier": {
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              }
            },
            "claimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST"
            },
            "getSimLockState": {
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "parameters": {
                "partnerId": {
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the partner.",
                  "location": "path",
                  "format": "int64"
                }
              },
              "description": "Gets a device's SIM lock state."
            },
            "updateMetadataAsync": {
              "httpMethod": "POST",
              "parameterOrder": [
                "partnerId"
              ],
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "parameters": {
                "partnerId": {
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$"
                }
              },
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.",
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "pattern": "^partners/[^/]+/devices/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets a device.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.partners.devices.get"
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "path": "v1/customers",
          "parameters": {
            "pageSize": {
              "type": "integer",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "type": "string",
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query"
            }
          },
          "description": "Lists the user's customer accounts.",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "httpMethod": "GET",
          "id": "androiddeviceprovisioning.customers.list",
          "flatPath": "v1/customers",
          "parameterOrder": []
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "list": {
              "flatPath": "v1/customers/{customersId}/configurations",
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "httpMethod": "GET",
              "path": "v1/{+parent}/configurations",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists a customer's configurations.",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              }
            },
            "get": {
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path"
                }
              },
              "description": "Gets the details of a configuration.",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "flatPath": "v1/customers/{customersId}/configurations",
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "request": {
                "$ref": "Configuration"
              },
              "path": "v1/{+parent}/configurations",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "request": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "response": {
                "$ref": "Configuration"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                }
              },
              "description": "Updates a configuration's field values."
            },
            "delete": {
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "location": "path"
                }
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "id": "androiddeviceprovisioning.customers.configurations.delete"
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/dpcs",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              },
              "httpMethod": "GET"
            }
          }
        },
        "devices": {
          "methods": {
            "unclaim": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:unclaim",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path"
                }
              },
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.",
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "flatPath": "v1/customers/{customersId}/devices:unclaim"
            },
            "removeConfiguration": {
              "path": "v1/{+parent}/devices:removeConfiguration",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Removes a configuration from device.",
              "response": {
                "$ref": "Empty"
              },
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Device"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+/devices/[^/]+$",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path"
                }
              },
              "description": "Gets the details of a device.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "id": "androiddeviceprovisioning.customers.devices.get"
            },
            "list": {
              "path": "v1/{+parent}/devices",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "type": "string",
                  "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "location": "query",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token specifying which result page to return.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists a customer's devices.",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.devices.list",
              "flatPath": "v1/customers/{customersId}/devices",
              "parameterOrder": [
                "parent"
              ]
            },
            "applyConfiguration": {
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/{+parent}/devices:applyConfiguration",
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "pattern": "^customers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "get": {
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/operations/{operationsId}",
          "id": "androiddeviceprovisioning.operations.get",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$"
            }
          },
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        }
      }
    }
  },
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "schemas": {
    "PerDeviceStatusInBatch": {
      "type": "object",
      "properties": {
        "status": {
          "description": "The result status of the device after processing.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "type": "string",
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ]
        },
        "deviceId": {
          "type": "string",
          "description": "If processing succeeds, the device ID of the device.",
          "format": "int64"
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "errorIdentifier": {
          "description": "If processing fails, the error type.",
          "type": "string"
        }
      },
      "id": "PerDeviceStatusInBatch",
      "description": "Captures the processing status for each device in the operation."
    },
    "ListVendorCustomersResponse": {
      "id": "ListVendorCustomersResponse",
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "customers": {
          "description": "List of customers of the vendor.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "Company": {
      "id": "Company",
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
        },
        "companyId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64"
        },
        "googleWorkspaceAccount": {
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
        },
        "languageCode": {
          "type": "string",
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "termsStatus": {
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "type": "string",
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ],
          "readOnly": true,
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus."
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "adminEmails": {
          "type": "array",
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "items": {
            "type": "string"
          }
        },
        "skipWelcomeEmail": {
          "type": "boolean",
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer."
        }
      },
      "type": "object"
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "type": "string",
          "readOnly": true
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "configurationId": {
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "forcedResetTime": {
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset.",
          "format": "google-duration",
          "type": "string"
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "dpcResourcePath": {
          "type": "string",
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`."
        }
      },
      "id": "Configuration",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases."
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "properties": {
        "preProvisioningTokens": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        }
      },
      "id": "GoogleWorkspaceAccount",
      "description": "A Google Workspace customer.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Device": {
      "properties": {
        "deviceId": {
          "description": "Output only. The ID of the device. Assigned by the server.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
          "$ref": "DeviceIdentifier"
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "Device",
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "type": "object"
    },
    "FindDevicesByOwnerRequest": {
      "id": "FindDevicesByOwnerRequest",
      "description": "Request to find devices by customers.",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "customerId": {
          "type": "array",
          "description": "The list of customer IDs to search for.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "googleWorkspaceCustomerId": {
          "description": "The list of IDs of Google Workspace accounts to search for.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "DeviceClaim": {
      "type": "object",
      "properties": {
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The ID of the Google Workspace account that owns the Chrome OS device."
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "readOnly": true,
          "description": "Output only. The type of claim made on the device.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "ownerCompanyId": {
          "type": "string",
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64"
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "type": "string",
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "resellerId": {
          "type": "string",
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64"
        },
        "vacationModeStartTime": {
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "vacationModeExpireTime": {
          "type": "string",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        }
      },
      "id": "DeviceClaim",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim)."
    },
    "CustomerListCustomersResponse": {
      "id": "CustomerListCustomersResponse",
      "description": "Response message for listing my customers.",
      "properties": {
        "customers": {
          "type": "array",
          "description": "The customer accounts the calling user is a member of.",
          "items": {
            "$ref": "Company"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GetDeviceSimLockStateRequest": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "GetDeviceSimLockStateRequest",
      "description": "Request to get a device's SIM lock status."
    },
    "DeviceMetadata": {
      "type": "object",
      "id": "DeviceMetadata",
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "type": "object",
          "description": "Metadata entries recorded as key-value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "type": "object",
      "id": "UpdateDeviceMetadataInBatchRequest",
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      }
    },
    "ListCustomersResponse": {
      "type": "object",
      "id": "ListCustomersResponse",
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "customers": {
          "description": "List of customers related to this reseller partner.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      }
    },
    "ListVendorsResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "type": "integer",
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "vendors": {
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.",
          "items": {
            "$ref": "Company"
          },
          "type": "array"
        }
      },
      "id": "ListVendorsResponse",
      "description": "Response message to list vendors of the partner."
    },
    "PartnerUnclaim": {
      "id": "PartnerUnclaim",
      "description": "Identifies one unclaim request.",
      "properties": {
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "type": "object"
    },
    "CustomerListDevicesResponse": {
      "properties": {
        "devices": {
          "type": "array",
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "id": "CustomerListDevicesResponse",
      "description": "Response message of customer's liting devices.",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "id": "ClaimDeviceResponse",
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceId": {
          "description": "The device ID of the claimed device.",
          "format": "int64",
          "type": "string"
        },
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierResponse",
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "type": "array",
          "description": "Found devices.",
          "items": {
            "$ref": "Device"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Dpc": {
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).",
          "readOnly": true,
          "type": "string"
        },
        "dpcName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        }
      },
      "id": "Dpc",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play."
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "description": "Request message for customer to remove the configuration from device.",
      "properties": {
        "device": {
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator",
          "$ref": "DeviceReference"
        }
      },
      "type": "object"
    },
    "ClaimDeviceRequest": {
      "id": "ClaimDeviceRequest",
      "description": "Request message to claim a device on behalf of a customer.",
      "properties": {
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "configurationId": {
          "type": "string",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64"
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier of the device to claim.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "Optional. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnclaimDevicesRequest": {
      "type": "object",
      "id": "UnclaimDevicesRequest",
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "description": "Required. The list of devices to unclaim.",
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array"
        }
      }
    },
    "UpdateMetadataArguments": {
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        },
        "deviceIdentifier": {
          "description": "Required. Device identifier.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "UpdateMetadataArguments",
      "description": "Identifies metadata updates to one device."
    },
    "OperationPerDevice": {
      "type": "object",
      "id": "OperationPerDevice",
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "claim": {
          "description": "A copy of the original device-claim request received by the server.",
          "$ref": "PartnerClaim"
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        }
      }
    },
    "GetDeviceSimLockStateResponse": {
      "type": "object",
      "id": "GetDeviceSimLockStateResponse",
      "description": "Response containing a device's SimLock state.",
      "properties": {
        "simLockState": {
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "type": "string",
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      }
    },
    "DeviceIdentifier": {
      "type": "object",
      "id": "DeviceIdentifier",
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "imei2": {
          "type": "string",
          "description": "The device’s second IMEI number."
        },
        "serialNumber": {
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models.",
          "type": "string"
        },
        "manufacturer": {
          "type": "string",
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names)."
        },
        "deviceType": {
          "description": "The type of the device",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "type": "string",
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ]
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "meid2": {
          "type": "string",
          "description": "The device’s second MEID number."
        }
      }
    },
    "ClaimDevicesRequest": {
      "properties": {
        "claims": {
          "description": "Required. A list of device claims.",
          "items": {
            "$ref": "PartnerClaim"
          },
          "type": "array"
        }
      },
      "id": "ClaimDevicesRequest",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "type": "object"
    },
    "CustomerListDpcsResponse": {
      "id": "CustomerListDpcsResponse",
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "type": "array",
          "description": "The list of DPCs available to the customer that support zero-touch enrollment.",
          "items": {
            "$ref": "Dpc"
          }
        }
      },
      "type": "object"
    },
    "CreateCustomerRequest": {
      "type": "object",
      "id": "CreateCustomerRequest",
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      }
    },
    "FindDevicesByOwnerResponse": {
      "type": "object",
      "properties": {
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "devices": {
          "description": "The customer's devices.",
          "items": {
            "$ref": "Device"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      },
      "id": "FindDevicesByOwnerResponse",
      "description": "Response containing found devices."
    },
    "UnclaimDeviceRequest": {
      "type": "object",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. The device identifier you used when you claimed this device.",
          "$ref": "DeviceIdentifier"
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "vacationModeExpireTime": {
          "description": "The expiration time of the vacation unlock.",
          "format": "google-datetime",
          "type": "string"
        },
        "deviceId": {
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        }
      },
      "id": "UnclaimDeviceRequest",
      "description": "Request message to unclaim a device."
    },
    "UpdateDeviceMetadataRequest": {
      "type": "object",
      "id": "UpdateDeviceMetadataRequest",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "CustomerListConfigurationsResponse": {
      "type": "object",
      "id": "CustomerListConfigurationsResponse",
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          }
        }
      }
    },
    "DevicesLongRunningOperationResponse": {
      "type": "object",
      "id": "DevicesLongRunningOperationResponse",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "perDeviceStatus": {
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.",
          "items": {
            "$ref": "OperationPerDevice"
          }
        },
        "successCount": {
          "type": "integer",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.",
          "format": "int32"
        }
      }
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "type": "object",
      "id": "FindDevicesByDeviceIdentifierRequest",
      "description": "Request to find devices.",
      "properties": {
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        },
        "pageToken": {
          "type": "string",
          "description": "A token specifying which result page to return."
        },
        "deviceIdentifier": {
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed.",
          "$ref": "DeviceIdentifier"
        }
      }
    },
    "DevicesLongRunningOperationMetadata": {
      "properties": {
        "processingStatus": {
          "description": "The processing status of the operation.",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "type": "string",
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        },
        "devicesCount": {
          "type": "integer",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "format": "int32"
        },
        "progress": {
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "DevicesLongRunningOperationMetadata",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "type": "object"
    },
    "CustomerUnclaimDeviceRequest": {
      "id": "CustomerUnclaimDeviceRequest",
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.",
          "$ref": "DeviceReference"
        }
      },
      "type": "object"
    },
    "CustomerApplyConfigurationRequest": {
      "type": "object",
      "properties": {
        "device": {
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator",
          "$ref": "DeviceReference"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      },
      "id": "CustomerApplyConfigurationRequest",
      "description": "Request message for customer to assign a configuration to device."
    },
    "PartnerClaim": {
      "id": "PartnerClaim",
      "description": "Identifies one claim request.",
      "properties": {
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "type": "string",
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "customerId": {
          "type": "string",
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64"
        },
        "googleWorkspaceCustomerId": {
          "description": "The Google Workspace customer ID.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "Required. Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "configurationId": {
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DeviceReference": {
      "type": "object",
      "id": "DeviceReference",
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "type": "string",
          "description": "The ID of the device.",
          "format": "int64"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    }
  },
  "id": "androiddeviceprovisioning:v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "servicePath": "",
  "version_module": true,
  "name": "androiddeviceprovisioning",
  "revision": "20260427",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}