{
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "title": "Android Device Provisioning Partner API",
  "kind": "discovery#restDescription",
  "canonicalName": "Android Provisioning Partner",
  "name": "androiddeviceprovisioning",
  "id": "androiddeviceprovisioning:v1",
  "rootUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "version": "v1",
  "documentationLink": "https://developers.google.com/zero-touch/",
  "ownerDomain": "google.com",
  "baseUrl": "https://androiddeviceprovisioning.googleapis.com/",
  "mtlsRootUrl": "https://androiddeviceprovisioning.mtls.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "version_module": true,
  "protocol": "rest",
  "batchPath": "batch",
  "revision": "20260408",
  "schemas": {
    "DevicesLongRunningOperationMetadata": {
      "id": "DevicesLongRunningOperationMetadata",
      "type": "object",
      "description": "Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "progress": {
          "type": "integer",
          "description": "The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.",
          "format": "int32"
        },
        "devicesCount": {
          "format": "int32",
          "description": "The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.",
          "type": "integer"
        },
        "processingStatus": {
          "description": "The processing status of the operation.",
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Pending.",
            "In progress.",
            "Processed. This doesn't mean all items were processed successfully, you should check the `response` field for the result of every item."
          ],
          "enum": [
            "BATCH_PROCESS_STATUS_UNSPECIFIED",
            "BATCH_PROCESS_PENDING",
            "BATCH_PROCESS_IN_PROGRESS",
            "BATCH_PROCESS_PROCESSED"
          ]
        }
      }
    },
    "UpdateDeviceMetadataRequest": {
      "id": "UpdateDeviceMetadataRequest",
      "type": "object",
      "description": "Request to set metadata for a device.",
      "properties": {
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Required. The metadata to attach to the device."
        }
      }
    },
    "ClaimDeviceRequest": {
      "description": "Request message to claim a device on behalf of a customer.",
      "properties": {
        "preProvisioningToken": {
          "type": "string",
          "description": "Optional. Must and can only be set for Chrome OS devices."
        },
        "simlockProfileId": {
          "type": "string",
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64"
        },
        "deviceMetadata": {
          "$ref": "DeviceMetadata",
          "description": "Optional. The metadata to attach to the device."
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier of the device to claim."
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "configurationId": {
          "format": "int64",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "type": "string"
        }
      },
      "id": "ClaimDeviceRequest",
      "type": "object"
    },
    "Dpc": {
      "id": "Dpc",
      "type": "object",
      "description": "An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`)."
        },
        "packageName": {
          "description": "Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.",
          "readOnly": true,
          "type": "string"
        },
        "dpcName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface."
        }
      }
    },
    "DeviceMetadata": {
      "description": "Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
      "properties": {
        "entries": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata entries recorded as key-value pairs."
        }
      },
      "id": "DeviceMetadata",
      "type": "object"
    },
    "ClaimDeviceResponse": {
      "description": "Response message containing device id of the claim.",
      "properties": {
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "The device ID of the claimed device."
        },
        "deviceName": {
          "description": "The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
          "type": "string"
        }
      },
      "id": "ClaimDeviceResponse",
      "type": "object"
    },
    "CustomerUnclaimDeviceRequest": {
      "description": "Request message for customer to unclaim a device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator."
        }
      },
      "id": "CustomerUnclaimDeviceRequest",
      "type": "object"
    },
    "CustomerApplyConfigurationRequest": {
      "id": "CustomerApplyConfigurationRequest",
      "type": "object",
      "description": "Request message for customer to assign a configuration to device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator"
        },
        "configuration": {
          "type": "string",
          "description": "Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`."
        }
      }
    },
    "UnclaimDeviceRequest": {
      "description": "Request message to unclaim a device.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. The device identifier you used when you claimed this device."
        },
        "deviceId": {
          "format": "int64",
          "description": "Required. The device ID returned by `ClaimDevice`.",
          "type": "string"
        },
        "vacationModeDays": {
          "type": "integer",
          "format": "int32",
          "description": "The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        },
        "vacationModeExpireTime": {
          "format": "google-datetime",
          "description": "The expiration time of the vacation unlock.",
          "type": "string"
        }
      },
      "id": "UnclaimDeviceRequest",
      "type": "object"
    },
    "Configuration": {
      "id": "Configuration",
      "type": "object",
      "description": "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases.",
      "properties": {
        "forcedResetTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. The timeout before forcing factory reset the device if the device doesn't go through provisioning in the setup wizard, usually due to lack of network connectivity during setup wizard. Ranges from 0-6 hours, with 2 hours being the default if unset."
        },
        "contactPhone": {
          "type": "string",
          "description": "Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses."
        },
        "customMessage": {
          "description": "A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.",
          "type": "string"
        },
        "configurationName": {
          "description": "Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.",
          "type": "string"
        },
        "dpcResourcePath": {
          "description": "Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.",
          "type": "string"
        },
        "companyName": {
          "type": "string",
          "description": "Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning."
        },
        "isDefault": {
          "description": "Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.",
          "type": "boolean"
        },
        "dpcExtras": {
          "description": "The JSON-formatted EMM provisioning extras that are passed to the DPC.",
          "type": "string"
        },
        "configurationId": {
          "format": "int64",
          "description": "Output only. The ID of the configuration. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "contactEmail": {
          "type": "string",
          "description": "Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input."
        }
      }
    },
    "FindDevicesByDeviceIdentifierRequest": {
      "id": "FindDevicesByDeviceIdentifierRequest",
      "type": "object",
      "description": "Request to find devices.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for. If serial number is provided then case insensitive serial number matches are allowed."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "limit": {
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "FindDevicesByOwnerRequest": {
      "description": "Request to find devices by customers.",
      "properties": {
        "customerId": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array",
          "description": "The list of customer IDs to search for."
        },
        "googleWorkspaceCustomerId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of IDs of Google Workspace accounts to search for."
        },
        "pageToken": {
          "description": "A token specifying which result page to return.",
          "type": "string"
        },
        "limit": {
          "format": "int64",
          "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
          "type": "string"
        },
        "sectionType": {
          "description": "Required. The section type of the device's provisioning record.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ]
        }
      },
      "id": "FindDevicesByOwnerRequest",
      "type": "object"
    },
    "GetDeviceSimLockStateResponse": {
      "id": "GetDeviceSimLockStateResponse",
      "type": "object",
      "description": "Response containing a device's SimLock state.",
      "properties": {
        "simLockState": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Device is not SIM locked.",
            "Device is SIM locked to the partner querying SIM lock state.",
            "Device is SIM locked to a different partner."
          ],
          "enum": [
            "SIM_LOCK_STATE_UNSPECIFIED",
            "UNLOCKED",
            "LOCKED_TO_PARTNER",
            "LOCKED_TO_OTHER_PARTNER"
          ]
        }
      }
    },
    "CreateCustomerRequest": {
      "description": "Request message to create a customer.",
      "properties": {
        "customer": {
          "description": "Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.",
          "$ref": "Company"
        }
      },
      "id": "CreateCustomerRequest",
      "type": "object"
    },
    "DeviceIdentifier": {
      "description": "Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceType": {
          "type": "string",
          "enumDescriptions": [
            "Device type is not specified.",
            "Android device",
            "Chrome OS device"
          ],
          "enum": [
            "DEVICE_TYPE_UNSPECIFIED",
            "DEVICE_TYPE_ANDROID",
            "DEVICE_TYPE_CHROME_OS"
          ],
          "description": "The type of the device"
        },
        "manufacturer": {
          "description": "The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).",
          "type": "string"
        },
        "meid": {
          "type": "string",
          "description": "The device’s MEID number."
        },
        "imei2": {
          "description": "The device’s second IMEI number.",
          "type": "string"
        },
        "chromeOsAttestedDeviceId": {
          "type": "string",
          "description": "An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices."
        },
        "imei": {
          "description": "The device’s IMEI number. Validated on input.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible)."
        },
        "serialNumber": {
          "type": "string",
          "description": "The manufacturer's serial number for the device. This value might not be unique across different device models."
        },
        "meid2": {
          "description": "The device’s second MEID number.",
          "type": "string"
        }
      },
      "id": "DeviceIdentifier",
      "type": "object"
    },
    "Device": {
      "description": "An Android or Chrome OS device registered for zero-touch enrollment.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
        },
        "claims": {
          "description": "Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.",
          "items": {
            "$ref": "DeviceClaim"
          },
          "readOnly": true,
          "type": "array"
        },
        "deviceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the device. Assigned by the server.",
          "format": "int64"
        },
        "deviceMetadata": {
          "description": "The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).",
          "$ref": "DeviceMetadata"
        },
        "configuration": {
          "description": "Not available to resellers.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server."
        }
      },
      "id": "Device",
      "type": "object"
    },
    "CustomerListDpcsResponse": {
      "description": "Response message of customer's listing DPCs.",
      "properties": {
        "dpcs": {
          "items": {
            "$ref": "Dpc"
          },
          "type": "array",
          "description": "The list of DPCs available to the customer that support zero-touch enrollment."
        }
      },
      "id": "CustomerListDpcsResponse",
      "type": "object"
    },
    "CustomerListDevicesResponse": {
      "description": "Response message of customer's liting devices.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        },
        "devices": {
          "description": "The customer's devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "id": "CustomerListDevicesResponse",
      "type": "object"
    },
    "DeviceReference": {
      "description": "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).",
      "properties": {
        "deviceId": {
          "format": "int64",
          "description": "The ID of the device.",
          "type": "string"
        },
        "deviceIdentifier": {
          "description": "The hardware IDs of the device.",
          "$ref": "DeviceIdentifier"
        }
      },
      "id": "DeviceReference",
      "type": "object"
    },
    "CustomerListConfigurationsResponse": {
      "description": "Response message of customer's listing configuration.",
      "properties": {
        "configurations": {
          "description": "The configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        }
      },
      "id": "CustomerListConfigurationsResponse",
      "type": "object"
    },
    "PartnerUnclaim": {
      "id": "PartnerUnclaim",
      "type": "object",
      "description": "Identifies one unclaim request.",
      "properties": {
        "deviceIdentifier": {
          "description": "Required. Device identifier of the device.",
          "$ref": "DeviceIdentifier"
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeDays": {
          "type": "integer",
          "description": "Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)",
          "format": "int32"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "vacationModeExpireTime": {
          "type": "string",
          "description": "Optional. The expiration time of the vacation unlock.",
          "format": "google-datetime"
        }
      }
    },
    "FindDevicesByDeviceIdentifierResponse": {
      "id": "FindDevicesByDeviceIdentifierResponse",
      "type": "object",
      "description": "Response containing found devices.",
      "properties": {
        "devices": {
          "description": "Found devices.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        },
        "totalSize": {
          "type": "integer",
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to access the next page of results. Omitted if no further results are available."
        }
      }
    },
    "UnclaimDevicesRequest": {
      "id": "UnclaimDevicesRequest",
      "type": "object",
      "description": "Request to unclaim devices asynchronously in batch.",
      "properties": {
        "unclaims": {
          "items": {
            "$ref": "PartnerUnclaim"
          },
          "type": "array",
          "description": "Required. The list of devices to unclaim."
        }
      }
    },
    "Company": {
      "description": "A reseller, vendor, or customer in the zero-touch reseller and customer APIs.",
      "properties": {
        "companyId": {
          "description": "Output only. The ID of the company. Assigned by the server.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "googleWorkspaceAccount": {
          "readOnly": true,
          "$ref": "GoogleWorkspaceAccount",
          "description": "Output only. The Google Workspace account associated with this customer. Only used for customer Companies."
        },
        "name": {
          "description": "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server.",
          "readOnly": true,
          "type": "string"
        },
        "termsStatus": {
          "description": "Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value should never be set if the enum is present.",
            "None of the company's users have accepted the ToS.",
            "One (or more) of the company's users has accepted the ToS.",
            "None of the company's users has accepted the current ToS but at least one user accepted a previous ToS."
          ],
          "enum": [
            "TERMS_STATUS_UNSPECIFIED",
            "TERMS_STATUS_NOT_ACCEPTED",
            "TERMS_STATUS_ACCEPTED",
            "TERMS_STATUS_STALE"
          ]
        },
        "languageCode": {
          "type": "string",
          "description": "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
        },
        "companyName": {
          "description": "Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.",
          "type": "string"
        },
        "ownerEmails": {
          "description": "Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "skipWelcomeEmail": {
          "description": "Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer.",
          "type": "boolean"
        },
        "adminEmails": {
          "description": "Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Company",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ListVendorCustomersResponse": {
      "description": "Response message to list customers of the vendor.",
      "properties": {
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of customers of the vendor."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      },
      "id": "ListVendorCustomersResponse",
      "type": "object"
    },
    "UpdateMetadataArguments": {
      "id": "UpdateMetadataArguments",
      "type": "object",
      "description": "Identifies metadata updates to one device.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Device identifier."
        },
        "deviceId": {
          "description": "Required. Device ID of the device.",
          "format": "int64",
          "type": "string"
        },
        "deviceMetadata": {
          "description": "Required. The metadata to update.",
          "$ref": "DeviceMetadata"
        }
      }
    },
    "OperationPerDevice": {
      "id": "OperationPerDevice",
      "type": "object",
      "description": "A task for each device in the operation. Corresponds to each device change in the request.",
      "properties": {
        "claim": {
          "$ref": "PartnerClaim",
          "description": "A copy of the original device-claim request received by the server."
        },
        "unclaim": {
          "description": "A copy of the original device-unclaim request received by the server.",
          "$ref": "PartnerUnclaim"
        },
        "result": {
          "description": "The processing result for each device.",
          "$ref": "PerDeviceStatusInBatch"
        },
        "updateMetadata": {
          "description": "A copy of the original metadata-update request received by the server.",
          "$ref": "UpdateMetadataArguments"
        }
      }
    },
    "ListVendorsResponse": {
      "id": "ListVendorsResponse",
      "type": "object",
      "description": "Response message to list vendors of the partner.",
      "properties": {
        "vendors": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object."
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Omitted if no further results are available."
        }
      }
    },
    "CustomerRemoveConfigurationRequest": {
      "id": "CustomerRemoveConfigurationRequest",
      "type": "object",
      "description": "Request message for customer to remove the configuration from device.",
      "properties": {
        "device": {
          "$ref": "DeviceReference",
          "description": "Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "error": {
          "$ref": "Status",
          "description": "This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "FindDevicesByOwnerResponse": {
      "id": "FindDevicesByOwnerResponse",
      "type": "object",
      "description": "Response containing found devices.",
      "properties": {
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "format": "int32",
          "description": "The total count of items in the list irrespective of pagination.",
          "type": "integer"
        },
        "devices": {
          "type": "array",
          "items": {
            "$ref": "Device"
          },
          "description": "The customer's devices."
        }
      }
    },
    "UpdateDeviceMetadataInBatchRequest": {
      "description": "Request to update device metadata in batch.",
      "properties": {
        "updates": {
          "description": "Required. The list of metadata updates.",
          "items": {
            "$ref": "UpdateMetadataArguments"
          },
          "type": "array"
        }
      },
      "id": "UpdateDeviceMetadataInBatchRequest",
      "type": "object"
    },
    "DevicesLongRunningOperationResponse": {
      "id": "DevicesLongRunningOperationResponse",
      "type": "object",
      "description": "Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
      "properties": {
        "successCount": {
          "type": "integer",
          "format": "int32",
          "description": "A summary of how many items in the operation the server processed successfully. Updated as the operation progresses."
        },
        "perDeviceStatus": {
          "items": {
            "$ref": "OperationPerDevice"
          },
          "type": "array",
          "description": "The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request."
        }
      }
    },
    "ListCustomersResponse": {
      "description": "Response message of all customers related to this partner.",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Omitted if no further results are available.",
          "type": "string"
        },
        "totalSize": {
          "description": "The total count of items in the list irrespective of pagination.",
          "format": "int32",
          "type": "integer"
        },
        "customers": {
          "type": "array",
          "items": {
            "$ref": "Company"
          },
          "description": "List of customers related to this reseller partner."
        }
      },
      "id": "ListCustomersResponse",
      "type": "object"
    },
    "GetDeviceSimLockStateRequest": {
      "description": "Request to get a device's SIM lock status.",
      "properties": {
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. The device identifier to search for."
        }
      },
      "id": "GetDeviceSimLockStateRequest",
      "type": "object"
    },
    "GoogleWorkspaceAccount": {
      "description": "A Google Workspace customer.",
      "properties": {
        "preProvisioningTokens": {
          "description": "Output only. The pre-provisioning tokens previously used to claim devices.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "customerId": {
          "description": "Required. The customer ID.",
          "type": "string"
        }
      },
      "id": "GoogleWorkspaceAccount",
      "type": "object"
    },
    "DeviceClaim": {
      "id": "DeviceClaim",
      "type": "object",
      "description": "A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).",
      "properties": {
        "sectionType": {
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Output only. The type of claim made on the device.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ]
        },
        "vacationModeExpireTime": {
          "type": "string",
          "description": "The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "resellerId": {
          "description": "The ID of the reseller that claimed the device.",
          "format": "int64",
          "type": "string"
        },
        "additionalService": {
          "description": "The Additional service registered for the device.",
          "type": "string",
          "enumDescriptions": [
            "No additional service.",
            "Device protection service, also known as Android Enterprise Essentials. To claim a device with the device protection service you must enroll with the partnership team."
          ],
          "enum": [
            "ADDITIONAL_SERVICE_UNSPECIFIED",
            "DEVICE_PROTECTION"
          ]
        },
        "ownerCompanyId": {
          "description": "The ID of the Customer that purchased the device.",
          "format": "int64",
          "type": "string"
        },
        "vacationModeStartTime": {
          "type": "string",
          "description": "The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.",
          "format": "google-datetime"
        },
        "googleWorkspaceCustomerId": {
          "description": "The ID of the Google Workspace account that owns the Chrome OS device.",
          "type": "string"
        }
      }
    },
    "CustomerListCustomersResponse": {
      "id": "CustomerListCustomersResponse",
      "type": "object",
      "description": "Response message for listing my customers.",
      "properties": {
        "customers": {
          "items": {
            "$ref": "Company"
          },
          "type": "array",
          "description": "The customer accounts the calling user is a member of."
        },
        "nextPageToken": {
          "description": "A token used to access the next page of results. Omitted if no further results are available.",
          "type": "string"
        }
      }
    },
    "PartnerClaim": {
      "description": "Identifies one claim request.",
      "properties": {
        "deviceMetadata": {
          "description": "Required. The metadata to attach to the device at claim.",
          "$ref": "DeviceMetadata"
        },
        "preProvisioningToken": {
          "description": "Optional. Must and can only be set for Chrome OS devices.",
          "type": "string"
        },
        "simlockProfileId": {
          "description": "Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.",
          "format": "int64",
          "type": "string"
        },
        "sectionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified section type.",
            "SIM-lock section type.",
            "Zero-touch enrollment section type."
          ],
          "enum": [
            "SECTION_TYPE_UNSPECIFIED",
            "SECTION_TYPE_SIM_LOCK",
            "SECTION_TYPE_ZERO_TOUCH"
          ],
          "description": "Required. The section type of the device's provisioning record."
        },
        "deviceIdentifier": {
          "$ref": "DeviceIdentifier",
          "description": "Required. Required. Device identifier of the device."
        },
        "customerId": {
          "description": "The ID of the customer for whom the device is being claimed.",
          "format": "int64",
          "type": "string"
        },
        "googleWorkspaceCustomerId": {
          "type": "string",
          "description": "The Google Workspace customer ID."
        },
        "configurationId": {
          "type": "string",
          "description": "Optional. The ID of the configuration applied to the device section.",
          "format": "int64"
        }
      },
      "id": "PartnerClaim",
      "type": "object"
    },
    "PerDeviceStatusInBatch": {
      "description": "Captures the processing status for each device in the operation.",
      "properties": {
        "status": {
          "type": "string",
          "enumDescriptions": [
            "Invalid code. Shouldn't be used.",
            "Unknown error. We don't expect this error to occur here.",
            "Other error. We know/expect this error, but there's no defined error code for the error.",
            "Success.",
            "Permission denied.",
            "Invalid device identifier.",
            "Invalid section type.",
            "This section is claimed by another company.",
            "Invalid pre-provisioning token.",
            "Revoked pre-provisioning token.",
            "Status used to indicate a failure due to a device limit being exceeded"
          ],
          "enum": [
            "SINGLE_DEVICE_STATUS_UNSPECIFIED",
            "SINGLE_DEVICE_STATUS_UNKNOWN_ERROR",
            "SINGLE_DEVICE_STATUS_OTHER_ERROR",
            "SINGLE_DEVICE_STATUS_SUCCESS",
            "SINGLE_DEVICE_STATUS_PERMISSION_DENIED",
            "SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER",
            "SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE",
            "SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS",
            "SINGLE_DEVICE_STATUS_INVALID_TOKEN",
            "SINGLE_DEVICE_STATUS_REVOKED_TOKEN",
            "SINGLE_DEVICE_STATUS_DEVICE_LIMIT_EXCEEDED"
          ],
          "description": "The result status of the device after processing."
        },
        "errorMessage": {
          "type": "string",
          "description": "If processing fails, a developer message explaining what went wrong."
        },
        "errorIdentifier": {
          "type": "string",
          "description": "If processing fails, the error type."
        },
        "deviceId": {
          "type": "string",
          "format": "int64",
          "description": "If processing succeeds, the device ID of the device."
        }
      },
      "id": "PerDeviceStatusInBatch",
      "type": "object"
    },
    "ClaimDevicesRequest": {
      "id": "ClaimDevicesRequest",
      "type": "object",
      "description": "Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.",
      "properties": {
        "claims": {
          "description": "Required. A list of device claims.",
          "type": "array",
          "items": {
            "$ref": "PartnerClaim"
          }
        }
      }
    }
  },
  "basePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Automates Android zero-touch enrollment for device resellers, customers, and EMMs.",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "name"
          ],
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          },
          "id": "androiddeviceprovisioning.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameters": {
            "name": {
              "type": "string",
              "description": "The name of the operation resource.",
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$"
            }
          },
          "flatPath": "v1/operations/{operationsId}"
        }
      }
    },
    "partners": {
      "resources": {
        "customers": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/customers",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/customers",
              "description": "Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.",
              "id": "androiddeviceprovisioning.partners.customers.create",
              "response": {
                "$ref": "Company"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CreateCustomerRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$"
                }
              }
            },
            "list": {
              "description": "Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.",
              "flatPath": "v1/partners/{partnersId}/customers",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to be returned. If not specified or 0, all the records are returned.",
                  "location": "query",
                  "type": "integer"
                },
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^[^/]+$",
                  "format": "int64"
                },
                "pageToken": {
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "partnerId"
              ],
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.partners.customers.list",
              "path": "v1/partners/{+partnerId}/customers",
              "response": {
                "$ref": "ListCustomersResponse"
              }
            }
          }
        },
        "devices": {
          "methods": {
            "findByIdentifier": {
              "path": "v1/partners/{+partnerId}/devices:findByIdentifier",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:findByIdentifier",
              "description": "Finds devices by hardware identifiers, such as IMEI.",
              "response": {
                "$ref": "FindDevicesByDeviceIdentifierResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByIdentifier",
              "parameterOrder": [
                "partnerId"
              ],
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "FindDevicesByDeviceIdentifierRequest"
              }
            },
            "getSimLockState": {
              "path": "v1/partners/{+partnerId}/devices:getSimLockState",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:getSimLockState",
              "description": "Gets a device's SIM lock state.",
              "id": "androiddeviceprovisioning.partners.devices.getSimLockState",
              "response": {
                "$ref": "GetDeviceSimLockStateResponse"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "GetDeviceSimLockStateRequest"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the partner.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              }
            },
            "updateMetadataAsync": {
              "id": "androiddeviceprovisioning.partners.devices.updateMetadataAsync",
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "request": {
                "$ref": "UpdateDeviceMetadataInBatchRequest"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                }
              },
              "path": "v1/partners/{+partnerId}/devices:updateMetadataAsync",
              "httpMethod": "POST",
              "flatPath": "v1/partners/{partnersId}/devices:updateMetadataAsync",
              "description": "Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only."
            },
            "unclaimAsync": {
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:unclaimAsync",
              "description": "Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "flatPath": "v1/partners/{partnersId}/devices:unclaimAsync",
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaimAsync",
              "parameters": {
                "partnerId": {
                  "format": "int64",
                  "pattern": "^[^/]+$",
                  "description": "Required. The reseller partner ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "UnclaimDevicesRequest"
              }
            },
            "findByOwner": {
              "parameters": {
                "partnerId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "FindDevicesByOwnerRequest"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "response": {
                "$ref": "FindDevicesByOwnerResponse"
              },
              "id": "androiddeviceprovisioning.partners.devices.findByOwner",
              "description": "Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.",
              "flatPath": "v1/partners/{partnersId}/devices:findByOwner",
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:findByOwner"
            },
            "claim": {
              "parameterOrder": [
                "partnerId"
              ],
              "id": "androiddeviceprovisioning.partners.devices.claim",
              "response": {
                "$ref": "ClaimDeviceResponse"
              },
              "request": {
                "$ref": "ClaimDeviceRequest"
              },
              "parameters": {
                "partnerId": {
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "httpMethod": "POST",
              "path": "v1/partners/{+partnerId}/devices:claim",
              "description": "Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.",
              "flatPath": "v1/partners/{partnersId}/devices:claim"
            },
            "claimAsync": {
              "flatPath": "v1/partners/{partnersId}/devices:claimAsync",
              "description": "Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).",
              "path": "v1/partners/{+partnerId}/devices:claimAsync",
              "httpMethod": "POST",
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                }
              },
              "request": {
                "$ref": "ClaimDevicesRequest"
              },
              "response": {
                "$ref": "Operation"
              },
              "id": "androiddeviceprovisioning.partners.devices.claimAsync",
              "parameterOrder": [
                "partnerId"
              ]
            },
            "unclaim": {
              "request": {
                "$ref": "UnclaimDeviceRequest"
              },
              "parameters": {
                "partnerId": {
                  "type": "string",
                  "description": "Required. The ID of the reseller partner.",
                  "location": "path",
                  "required": true,
                  "pattern": "^[^/]+$",
                  "format": "int64"
                }
              },
              "id": "androiddeviceprovisioning.partners.devices.unclaim",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "partnerId"
              ],
              "flatPath": "v1/partners/{partnersId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment.",
              "path": "v1/partners/{+partnerId}/devices:unclaim",
              "httpMethod": "POST"
            },
            "get": {
              "path": "v1/{+name}",
              "response": {
                "$ref": "Device"
              },
              "id": "androiddeviceprovisioning.partners.devices.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+/devices/[^/]+$"
                }
              },
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}",
              "description": "Gets a device."
            },
            "metadata": {
              "parameterOrder": [
                "metadataOwnerId",
                "deviceId"
              ],
              "response": {
                "$ref": "DeviceMetadata"
              },
              "id": "androiddeviceprovisioning.partners.devices.metadata",
              "parameters": {
                "deviceId": {
                  "pattern": "^[^/]+$",
                  "format": "int64",
                  "description": "Required. The ID of the device.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "metadataOwnerId": {
                  "description": "Required. The owner of the newly set metadata. Set this to the partner ID.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "format": "int64",
                  "pattern": "^[^/]+$"
                }
              },
              "request": {
                "$ref": "UpdateDeviceMetadataRequest"
              },
              "httpMethod": "POST",
              "path": "v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata",
              "description": "Updates reseller metadata associated with the device. Android devices only.",
              "flatPath": "v1/partners/{partnersId}/devices/{devicesId}/metadata"
            }
          }
        },
        "vendors": {
          "resources": {
            "customers": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/customers",
                  "response": {
                    "$ref": "ListVendorCustomersResponse"
                  },
                  "id": "androiddeviceprovisioning.partners.vendors.customers.list",
                  "description": "Lists the customers of the vendor.",
                  "parameters": {
                    "pageToken": {
                      "description": "A token identifying a page of results returned by the server.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "The maximum number of results to be returned.",
                      "location": "query",
                      "format": "int32"
                    },
                    "parent": {
                      "pattern": "^partners/[^/]+/vendors/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/partners/{partnersId}/vendors/{vendorsId}/customers"
                }
              }
            }
          },
          "methods": {
            "list": {
              "description": "Lists the vendors of the partner.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token identifying a page of results returned by the server.",
                  "location": "query"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The resource name in the format `partners/[PARTNER_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^partners/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to be returned.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1/partners/{partnersId}/vendors",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/vendors",
              "response": {
                "$ref": "ListVendorsResponse"
              },
              "id": "androiddeviceprovisioning.partners.vendors.list"
            }
          }
        }
      }
    },
    "customers": {
      "methods": {
        "list": {
          "description": "Lists the user's customer accounts.",
          "parameters": {
            "pageToken": {
              "description": "A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "type": "integer",
              "description": "Required. The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).",
              "location": "query",
              "format": "int32"
            }
          },
          "flatPath": "v1/customers",
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "v1/customers",
          "response": {
            "$ref": "CustomerListCustomersResponse"
          },
          "id": "androiddeviceprovisioning.customers.list"
        }
      },
      "resources": {
        "devices": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "A token specifying which result page to return.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                },
                "pageSize": {
                  "description": "Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.",
                  "location": "query",
                  "format": "int64",
                  "type": "string"
                }
              },
              "flatPath": "v1/customers/{customersId}/devices",
              "description": "Lists a customer's devices.",
              "path": "v1/{+parent}/devices",
              "response": {
                "$ref": "CustomerListDevicesResponse"
              },
              "id": "androiddeviceprovisioning.customers.devices.list",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            },
            "unclaim": {
              "id": "androiddeviceprovisioning.customers.devices.unclaim",
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "CustomerUnclaimDeviceRequest"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "path": "v1/{+parent}/devices:unclaim",
              "httpMethod": "POST",
              "flatPath": "v1/customers/{customersId}/devices:unclaim",
              "description": "Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again."
            },
            "get": {
              "description": "Gets the details of a device.",
              "flatPath": "v1/customers/{customersId}/devices/{devicesId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The device to get. An API resource name in the format `customers/[CUSTOMER_ID]/devices/[DEVICE_ID]`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/devices/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.devices.get",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Device"
              }
            },
            "removeConfiguration": {
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.removeConfiguration",
              "response": {
                "$ref": "Empty"
              },
              "request": {
                "$ref": "CustomerRemoveConfigurationRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "description": "Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:removeConfiguration",
              "description": "Removes a configuration from device.",
              "flatPath": "v1/customers/{customersId}/devices:removeConfiguration"
            },
            "applyConfiguration": {
              "description": "Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.",
              "flatPath": "v1/customers/{customersId}/devices:applyConfiguration",
              "httpMethod": "POST",
              "path": "v1/{+parent}/devices:applyConfiguration",
              "request": {
                "$ref": "CustomerApplyConfigurationRequest"
              },
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "androiddeviceprovisioning.customers.devices.applyConfiguration",
              "response": {
                "$ref": "Empty"
              }
            }
          }
        },
        "dpcs": {
          "methods": {
            "list": {
              "description": "Lists the DPCs (device policy controllers) that support zero-touch enrollment.",
              "flatPath": "v1/customers/{customersId}/dpcs",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.dpcs.list",
              "path": "v1/{+parent}/dpcs",
              "response": {
                "$ref": "CustomerListDpcsResponse"
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "description": "Required. The configuration to get. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "description": "Gets the details of a configuration.",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.get",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "id": "androiddeviceprovisioning.customers.configurations.create",
              "parameters": {
                "parent": {
                  "pattern": "^customers/[^/]+$",
                  "type": "string",
                  "description": "Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "Configuration"
              },
              "httpMethod": "POST",
              "path": "v1/{+parent}/configurations",
              "description": "Creates a new configuration. Once created, a customer can apply the configuration to devices.",
              "flatPath": "v1/customers/{customersId}/configurations"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "id": "androiddeviceprovisioning.customers.configurations.delete",
              "path": "v1/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameters": {
                "name": {
                  "pattern": "^customers/[^/]+/configurations/[^/]+$",
                  "type": "string",
                  "description": "Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "description": "Lists a customer's configurations.",
              "flatPath": "v1/customers/{customersId}/configurations",
              "parameters": {
                "parent": {
                  "description": "Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.",
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "pattern": "^customers/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "id": "androiddeviceprovisioning.customers.configurations.list",
              "path": "v1/{+parent}/configurations",
              "response": {
                "$ref": "CustomerListConfigurationsResponse"
              }
            },
            "patch": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "description": "Updates a configuration's field values.",
              "flatPath": "v1/customers/{customersId}/configurations/{configurationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "androiddeviceprovisioning.customers.configurations.patch",
              "response": {
                "$ref": "Configuration"
              },
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "updateMask": {
                  "description": "Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "type": "string",
                  "description": "Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.",
                  "location": "path",
                  "required": true,
                  "pattern": "^customers/[^/]+/configurations/[^/]+$"
                }
              }
            }
          }
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true
}