{
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "name": "androidpublisher",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://developers.google.com/android-publisher",
  "version": "v3",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "kind": "discovery#restDescription",
  "title": "Google Play Android Developer API",
  "discoveryVersion": "v1",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Android Publisher",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "schemas": {
    "OfferTag": {
      "type": "object",
      "description": "Represents a custom tag specified for a product offer.",
      "id": "OfferTag",
      "properties": {
        "tag": {
          "type": "string",
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters."
        }
      }
    },
    "SubscriptionItemPriceChangeDetails": {
      "description": "Price change related information of a subscription item.",
      "id": "SubscriptionItemPriceChangeDetails",
      "properties": {
        "priceChangeMode": {
          "description": "Price change mode specifies how the subscription item price is changing.",
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ]
        },
        "priceChangeState": {
          "type": "string",
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ],
          "description": "State the price change is currently in."
        },
        "expectedNewPriceChargeTime": {
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect.",
          "type": "string",
          "format": "google-datetime"
        },
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        }
      },
      "type": "object"
    },
    "BatchGetSubscriptionsResponse": {
      "id": "BatchGetSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "type": "object"
    },
    "PreorderOfferDetails": {
      "description": "Offer details information related to a preorder line item.",
      "id": "PreorderOfferDetails",
      "properties": {
        "preorderReleaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when a preordered item is released for a preorder purchase."
        }
      },
      "type": "object"
    },
    "DeferredItemReplacement": {
      "id": "DeferredItemReplacement",
      "properties": {
        "productId": {
          "description": "The product_id going to replace the existing product_id.",
          "type": "string"
        }
      },
      "description": "Information related to deferred item replacement.",
      "type": "object"
    },
    "Money": {
      "type": "object",
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        }
      }
    },
    "BatchUpdateSubscriptionsResponse": {
      "id": "BatchUpdateSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "description": "The updated subscriptions list.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "description": "Response message for BatchUpdateSubscription.",
      "type": "object"
    },
    "ListOneTimeProductsResponse": {
      "id": "ListOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "description": "The one-time products from the specified app.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for ListOneTimeProducts.",
      "type": "object"
    },
    "SubscriptionPurchaseV2": {
      "id": "SubscriptionPurchaseV2",
      "properties": {
        "pausedStateContext": {
          "description": "Additional context around paused subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_PAUSED.",
          "$ref": "PausedStateContext"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription was granted. Not set for pending subscriptions (subscription was created but awaiting payment during signup)."
        },
        "etag": {
          "description": "Entity tag representing the current state of the subscription. The developer will provide this etag for subscription actions. This etag is always present for auto-renewing and prepaid subscriptions.",
          "type": "string"
        },
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing country/region code of the user at the time the subscription was granted."
        },
        "lineItems": {
          "description": "Item-level info for a subscription purchase. The items in the same purchase should be either all with AutoRenewingPlan or all with PrepaidPlan.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionPurchaseLineItem"
          }
        },
        "externalAccountIdentifiers": {
          "description": "User account identifier in the third-party service.",
          "$ref": "ExternalAccountIdentifiers"
        },
        "acknowledgementState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The subscription is not acknowledged yet.",
            "The subscription is acknowledged."
          ],
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ],
          "description": "The acknowledgement state of the subscription."
        },
        "canceledStateContext": {
          "description": "Additional context around canceled subscriptions. Only present if the subscription currently has subscription_state SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED.",
          "$ref": "CanceledStateContext"
        },
        "subscribeWithGoogleInfo": {
          "description": "User profile associated with purchases made with 'Subscribe with Google'.",
          "$ref": "SubscribeWithGoogleInfo"
        },
        "kind": {
          "description": "This kind represents a SubscriptionPurchaseV2 object in the androidpublisher service.",
          "type": "string"
        },
        "latestOrderId": {
          "type": "string",
          "description": "Deprecated: Use line_items.latest_successful_order_id instead. The order id of the latest order associated with the purchase of the subscription. For autoRenewing subscription, this is the order id of signup order if it is not renewed yet, or the last recurring order id (success, pending, or declined order). For prepaid subscription, this is the order id associated with the queried purchase token.",
          "deprecated": true
        },
        "testPurchase": {
          "description": "Only present if this subscription purchase is a test purchase.",
          "$ref": "TestPurchase"
        },
        "linkedPurchaseToken": {
          "type": "string",
          "description": "The purchase token of the old subscription if this subscription is one of the following: * Re-signup of a canceled but non-lapsed subscription * Upgrade/downgrade from a previous subscription. * Convert from prepaid to auto renewing subscription. * Convert from an auto renewing subscription to prepaid. * Topup a prepaid subscription."
        },
        "subscriptionState": {
          "description": "The current state of the subscription.",
          "enum": [
            "SUBSCRIPTION_STATE_UNSPECIFIED",
            "SUBSCRIPTION_STATE_PENDING",
            "SUBSCRIPTION_STATE_ACTIVE",
            "SUBSCRIPTION_STATE_PAUSED",
            "SUBSCRIPTION_STATE_IN_GRACE_PERIOD",
            "SUBSCRIPTION_STATE_ON_HOLD",
            "SUBSCRIPTION_STATE_CANCELED",
            "SUBSCRIPTION_STATE_EXPIRED",
            "SUBSCRIPTION_STATE_PENDING_PURCHASE_CANCELED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified subscription state.",
            "Subscription was created but awaiting payment during signup. In this state, all items are awaiting payment.",
            "Subscription is active. - (1) If the subscription is an auto renewing plan, at least one item is auto_renew_enabled and not expired. - (2) If the subscription is a prepaid plan, at least one item is not expired.",
            "Subscription is paused. The state is only available when the subscription is an auto renewing plan. In this state, all items are in paused state.",
            "Subscription is in grace period. The state is only available when the subscription is an auto renewing plan. In this state, all items are in grace period.",
            "Subscription is on hold (suspended). The state is only available when the subscription is an auto renewing plan. In this state, all items are on hold.",
            "Subscription is canceled but not expired yet. The state is only available when the subscription is an auto renewing plan. All items have auto_renew_enabled set to false.",
            "Subscription is expired. All items have expiry_time in the past.",
            "Pending transaction for subscription is canceled. If this pending purchase was for an existing subscription, use linked_purchase_token to get the current state of that subscription."
          ]
        },
        "outOfAppPurchaseContext": {
          "description": "Additional context for out of app purchases. This information is only present for re-subscription purchases (subscription purchases made after the previous subscription of the same product has expired) made through the Google Play subscriptions center. This field will be removed after you acknowledge the subscription.",
          "$ref": "OutOfAppPurchaseContext"
        }
      },
      "description": "Indicates the status of a user's subscription purchase.",
      "type": "object"
    },
    "AcquisitionTargetingRule": {
      "id": "AcquisitionTargetingRule",
      "properties": {
        "scope": {
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\".",
          "$ref": "TargetingRuleScope"
        }
      },
      "description": "Represents a targeting rule of the form: User never had {scope} before.",
      "type": "object"
    },
    "DeferredItemRemoval": {
      "description": "Information related to deferred item replacement.",
      "id": "DeferredItemRemoval",
      "properties": {},
      "type": "object"
    },
    "BatchMigrateBasePlanPricesRequest": {
      "type": "object",
      "id": "BatchMigrateBasePlanPricesRequest",
      "properties": {
        "requests": {
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          }
        }
      },
      "description": "Request message for BatchMigrateBasePlanPrices."
    },
    "MigrateBasePlanPricesRequest": {
      "type": "object",
      "description": "Request message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesRequest",
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "regionalPriceMigrations": {
          "description": "Required. The regional prices to update.",
          "type": "array",
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          }
        },
        "basePlanId": {
          "description": "Required. The unique base plan ID of the base plan to update prices on.",
          "type": "string"
        },
        "productId": {
          "type": "string",
          "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource."
        },
        "packageName": {
          "type": "string",
          "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource."
        }
      }
    },
    "TrackConfig": {
      "id": "TrackConfig",
      "properties": {
        "track": {
          "type": "string",
          "description": "Required. Identifier of the new track. For default tracks, this field consists of the track alias only. Form factor tracks have a special prefix as an identifier, for example `wear:production`, `automotive:production`. This prefix must match the value of the `form_factor` field, if it is not a default track. [More on track name](https://developers.google.com/android-publisher/tracks#ff-track-name)"
        },
        "formFactor": {
          "type": "string",
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Default track.",
            "Wear form factor track.",
            "Automotive form factor track."
          ],
          "description": "Required. Form factor of the new track. Defaults to the default track.",
          "enum": [
            "FORM_FACTOR_UNSPECIFIED",
            "DEFAULT",
            "WEAR",
            "AUTOMOTIVE"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Fallback value, do not use.",
            "Closed testing track."
          ],
          "description": "Required. Type of the new track. Currently, the only supported value is closedTesting.",
          "enum": [
            "TRACK_TYPE_UNSPECIFIED",
            "CLOSED_TESTING"
          ]
        }
      },
      "description": "Configurations of the new track.",
      "type": "object"
    },
    "InappproductsDeleteRequest": {
      "description": "Request to delete an in-app product.",
      "id": "InappproductsDeleteRequest",
      "properties": {
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RegionalTaxConfig": {
      "type": "object",
      "id": "RegionalTaxConfig",
      "properties": {
        "eligibleForStreamingServiceTaxRate": {
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States.",
          "type": "boolean"
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "streamingTaxType": {
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax).",
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ]
        }
      },
      "description": "Details about taxation in a given geographical region."
    },
    "BatchUpdateSubscriptionsRequest": {
      "description": "Request message for BatchUpdateSubscription.",
      "id": "BatchUpdateSubscriptionsRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscriptions.",
          "type": "array",
          "items": {
            "$ref": "UpdateSubscriptionRequest"
          }
        }
      },
      "type": "object"
    },
    "TracksListResponse": {
      "id": "TracksListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "Track"
          },
          "description": "All tracks (including tracks with no releases)."
        }
      },
      "description": "Response listing all tracks.",
      "type": "object"
    },
    "BaseDetails": {
      "type": "object",
      "id": "BaseDetails",
      "properties": {},
      "description": "Details of a base price pricing phase."
    },
    "ProrationPeriodOfferPhase": {
      "id": "ProrationPeriodOfferPhase",
      "properties": {
        "originalOfferPhaseType": {
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ]
        }
      },
      "description": "Details about proration period offer phase.",
      "type": "object"
    },
    "OneTimeProductOfferNoPriceOverrideOptions": {
      "type": "object",
      "description": "Options for one-time product offers without a regional price override.",
      "id": "OneTimeProductOfferNoPriceOverrideOptions",
      "properties": {}
    },
    "DeobfuscationFile": {
      "type": "object",
      "id": "DeobfuscationFile",
      "properties": {
        "symbolType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "description": "The type of the deobfuscation file."
        }
      },
      "description": "Represents a deobfuscation file."
    },
    "ConvertRegionPricesRequest": {
      "id": "ConvertRegionPricesRequest",
      "properties": {
        "price": {
          "description": "The intital price to convert other regions from. Tax exclusive.",
          "$ref": "Money"
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Optional. Product tax category code in context. Product tax category determines the transaction tax rates applied to the product that will be factored into the price calculation. If not set, tax rates for the default product tax category will be used. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        }
      },
      "description": "Request message for ConvertRegionPrices.",
      "type": "object"
    },
    "Price": {
      "type": "object",
      "description": "Definition of a price, i.e. currency and units.",
      "id": "Price",
      "properties": {
        "currency": {
          "description": "3 letter Currency code, as defined by ISO 4217. See java/com/google/common/money/CurrencyCode.java",
          "type": "string"
        },
        "priceMicros": {
          "type": "string",
          "description": "Price in 1/million of the currency base unit, represented as a string."
        }
      }
    },
    "OneTimeProductPurchaseOption": {
      "id": "OneTimeProductPurchaseOption",
      "properties": {
        "taxAndComplianceSettings": {
          "description": "Optional. Details about taxes and legal compliance.",
          "$ref": "PurchaseOptionTaxAndComplianceSettings"
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the purchase option, i.e., whether it's active. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE",
            "INACTIVE_PUBLISHED"
          ],
          "enumDescriptions": [
            "Default value, should never be used.",
            "The purchase option is not and has never been available to users.",
            "The purchase option is available to users.",
            "The purchase option is not available to users anymore.",
            "The purchase option is not available for purchase anymore, but we continue to expose its offer via the Play Billing Library for backwards compatibility. Only automatically migrated purchase options can be in this state."
          ]
        },
        "purchaseOptionId": {
          "description": "Required. Immutable. The unique identifier of this purchase option. Must be unique within the one-time product. It must start with a number or lower-case letter, and can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-). The maximum length is 63 characters.",
          "type": "string"
        },
        "rentOption": {
          "description": "A purchase option that can be rented.",
          "$ref": "OneTimeProductRentPurchaseOption"
        },
        "buyOption": {
          "description": "A purchase option that can be bought.",
          "$ref": "OneTimeProductBuyPurchaseOption"
        },
        "regionalPricingAndAvailabilityConfigs": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductPurchaseOptionRegionalPricingAndAvailabilityConfig"
          },
          "description": "Regional pricing and availability information for this purchase option."
        },
        "offerTags": {
          "description": "Optional. List of up to 20 custom tags specified for this purchase option, and returned to the app through the billing library. Offers for this purchase option will also receive these tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "newRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the purchase option will not be automatically available in any new locations Play may launch in the future.",
          "$ref": "OneTimeProductPurchaseOptionNewRegionsConfig"
        }
      },
      "description": "A single purchase option for a one-time product.",
      "type": "object"
    },
    "BatchUpdateOneTimeProductsResponse": {
      "id": "BatchUpdateOneTimeProductsResponse",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of updated one-time products list, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      },
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "type": "object"
    },
    "OrderDetails": {
      "type": "object",
      "description": "Detailed information about the order at creation time.",
      "id": "OrderDetails",
      "properties": {
        "taxInclusive": {
          "type": "boolean",
          "description": "Indicates whether the listed price was tax inclusive or not."
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "id": "SubscriptionPurchaseLineItem",
      "properties": {
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "autoRenewingPlan": {
          "description": "The item is auto renewing.",
          "$ref": "AutoRenewingPlan"
        },
        "signupPromotion": {
          "description": "Promotion details about this item. Only set if a promotion was applied during signup.",
          "$ref": "SignupPromotion"
        },
        "deferredItemRemoval": {
          "description": "Information for deferred item removal.",
          "$ref": "DeferredItemRemoval"
        },
        "offerPhase": {
          "description": "Current offer phase details for this item.",
          "$ref": "OfferPhase"
        },
        "latestSuccessfulOrderId": {
          "type": "string",
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to)."
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        },
        "prepaidPlan": {
          "description": "The item is prepaid.",
          "$ref": "PrepaidPlan"
        },
        "deferredItemReplacement": {
          "description": "Information for deferred item replacement.",
          "$ref": "DeferredItemReplacement"
        },
        "productId": {
          "description": "The purchased product ID (for example, 'monthly001').",
          "type": "string"
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews)."
        }
      },
      "description": "Item-level info for a subscription purchase.",
      "type": "object"
    },
    "FreeTrialOfferPhase": {
      "type": "object",
      "id": "FreeTrialOfferPhase",
      "properties": {},
      "description": "Details about free trial offer phase."
    },
    "DeletePurchaseOptionRequest": {
      "description": "Request message for deleting a purchase option.",
      "id": "DeletePurchaseOptionRequest",
      "properties": {
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to delete."
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to delete.",
          "type": "string"
        },
        "force": {
          "description": "Optional. This field has no effect for purchase options with no offers under them. For purchase options with associated offers: * If `force` is set to false (default), an error will be returned. * If `force` is set to true, any associated offers under the purchase option will be deleted.",
          "type": "boolean"
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to delete."
        }
      },
      "type": "object"
    },
    "PausedStateContext": {
      "type": "object",
      "description": "Information specific to a subscription in paused state.",
      "id": "PausedStateContext",
      "properties": {
        "autoResumeTime": {
          "description": "Time at which the subscription will be automatically resumed.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListSubscriptionOffersResponse": {
      "description": "Response message for ListSubscriptionOffers.",
      "id": "ListSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "description": "The subscription offers from the specified subscription."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "RentalDetails": {
      "type": "object",
      "description": "Details of a rental purchase.",
      "id": "RentalDetails",
      "properties": {}
    },
    "RevocationContextFullRefund": {
      "type": "object",
      "id": "RevocationContextFullRefund",
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a full refund."
    },
    "SubscriptionOfferPhase": {
      "id": "SubscriptionOfferPhase",
      "properties": {
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "regionalConfigs": {
          "type": "array",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          },
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config."
        },
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A single phase of a subscription offer.",
      "type": "object"
    },
    "PreorderDetails": {
      "type": "object",
      "description": "Details of a pre-order purchase.",
      "id": "PreorderDetails",
      "properties": {}
    },
    "ExternalAccountIdentifiers": {
      "id": "ExternalAccountIdentifiers",
      "properties": {
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "externalAccountId": {
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        }
      },
      "description": "User account identifier in the third-party service.",
      "type": "object"
    },
    "BatchGetOneTimeProductOffersResponse": {
      "id": "BatchGetOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object"
    },
    "TargetingRuleScopeAnySubscriptionInApp": {
      "type": "object",
      "id": "TargetingRuleScopeAnySubscriptionInApp",
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to any subscription in the parent app."
    },
    "RemoteInAppUpdateDataPerBundle": {
      "description": "Data related to the recovery action at bundle level.",
      "id": "RemoteInAppUpdateDataPerBundle",
      "properties": {
        "versionCode": {
          "description": "Version Code corresponding to the target bundle.",
          "type": "string",
          "format": "int64"
        },
        "totalDeviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of devices affected by this recovery action associated with bundle of the app."
        },
        "recoveredDeviceCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of devices which have been rescued."
        }
      },
      "type": "object"
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "description": "Response message for BatchUpdateOneTimeProductOffers.",
      "id": "BatchUpdateOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "type": "object"
    },
    "GeneratedApksListResponse": {
      "type": "object",
      "description": "Response to list generated APKs.",
      "id": "GeneratedApksListResponse",
      "properties": {
        "generatedApks": {
          "description": "All generated APKs, grouped by the APK signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          }
        }
      }
    },
    "UpdatePurchaseOptionStateRequest": {
      "description": "Request message to update the state of a one-time product purchase option.",
      "id": "UpdatePurchaseOptionStateRequest",
      "properties": {
        "activatePurchaseOptionRequest": {
          "description": "Activates a purchase option. Once activated, the purchase option will be available.",
          "$ref": "ActivatePurchaseOptionRequest"
        },
        "deactivatePurchaseOptionRequest": {
          "description": "Deactivates a purchase option. Once deactivated, the purchase option will become unavailable.",
          "$ref": "DeactivatePurchaseOptionRequest"
        }
      },
      "type": "object"
    },
    "UpdateSubscriptionRequest": {
      "type": "object",
      "id": "UpdateSubscriptionRequest",
      "properties": {
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "subscription": {
          "description": "Required. The subscription to update.",
          "$ref": "Subscription"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored.",
          "type": "boolean"
        }
      },
      "description": "Request message for UpdateSubscription."
    },
    "GeneratedRecoveryApk": {
      "type": "object",
      "id": "GeneratedRecoveryApk",
      "properties": {
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module which recovery apk belongs to."
        },
        "recoveryId": {
          "description": "ID of the recovery action.",
          "type": "string",
          "format": "int64"
        },
        "recoveryStatus": {
          "description": "The status of the recovery action corresponding to the recovery apk.",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ]
        }
      },
      "description": "Download metadata for an app recovery module."
    },
    "SubscriptionListing": {
      "type": "object",
      "id": "SubscriptionListing",
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\"."
        },
        "benefits": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits."
        },
        "title": {
          "type": "string",
          "description": "Required. The title of this subscription in the language of this listing. Plain text."
        },
        "description": {
          "description": "The description of this subscription in the language of this listing. Maximum length - 200 characters. Plain text.",
          "type": "string"
        }
      },
      "description": "The consumer-visible metadata of a subscription."
    },
    "GeneratedStandaloneApk": {
      "type": "object",
      "id": "GeneratedStandaloneApk",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "variantId": {
          "type": "integer",
          "format": "int32",
          "description": "ID of the generated variant."
        }
      },
      "description": "Download metadata for a standalone APK."
    },
    "OneTimeProductTaxAndComplianceSettings": {
      "description": "Details about taxation, Google Play policy and legal compliance for one-time products.",
      "id": "OneTimeProductTaxAndComplianceSettings",
      "properties": {
        "regionalTaxConfigs": {
          "description": "Regional tax configuration.",
          "type": "array",
          "items": {
            "$ref": "RegionalTaxConfig"
          }
        },
        "productTaxCategoryCode": {
          "description": "Product tax category code to assign to the one-time product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this one-time product is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        }
      },
      "type": "object"
    },
    "OrderHistory": {
      "type": "object",
      "description": "Details about events which modified the order.",
      "id": "OrderHistory",
      "properties": {
        "cancellationEvent": {
          "description": "Details of when the order was canceled.",
          "$ref": "CancellationEvent"
        },
        "partialRefundEvents": {
          "type": "array",
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "description": "Details of the partial refund events for this order."
        },
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "refundEvent": {
          "description": "Details of when the order was fully refunded.",
          "$ref": "RefundEvent"
        }
      }
    },
    "BatchUpdateBasePlanStatesResponse": {
      "description": "Response message for BatchUpdateBasePlanStates.",
      "id": "BatchUpdateBasePlanStatesResponse",
      "properties": {
        "subscriptions": {
          "description": "The list of updated subscriptions. This list will match the requests one to one, in the same order.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        }
      },
      "type": "object"
    },
    "Image": {
      "description": "An uploaded image. The resource for ImagesService.",
      "id": "Image",
      "properties": {
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the image."
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "type": "object",
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesResponse",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          }
        }
      }
    },
    "TargetingInfo": {
      "description": "Targeting information about the generated apks.",
      "id": "TargetingInfo",
      "properties": {
        "variant": {
          "description": "List of the created variants.",
          "type": "array",
          "items": {
            "$ref": "SplitApkVariant"
          }
        },
        "packageName": {
          "type": "string",
          "description": "The package name of this app."
        },
        "assetSliceSet": {
          "description": "List of created asset slices.",
          "type": "array",
          "items": {
            "$ref": "AssetSliceSet"
          }
        }
      },
      "type": "object"
    },
    "Testers": {
      "type": "object",
      "id": "Testers",
      "properties": {
        "googleGroups": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "All testing Google Groups, as email addresses."
        }
      },
      "description": "The testers of an app. The resource for TestersService. Note: while it is possible in the Play Console UI to add testers via email lists, email lists are not supported by this resource."
    },
    "VoidedPurchasesListResponse": {
      "type": "object",
      "description": "Response for the voidedpurchases.list API.",
      "id": "VoidedPurchasesListResponse",
      "properties": {
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      }
    },
    "Variant": {
      "type": "object",
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant",
      "properties": {
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        },
        "variantId": {
          "description": "Output only. The ID of a previously created system APK variant.",
          "readOnly": true,
          "type": "integer",
          "format": "uint32"
        },
        "deviceSpec": {
          "description": "The device spec used to generate the APK.",
          "$ref": "DeviceSpec"
        }
      }
    },
    "UpdateBasePlanStateRequest": {
      "id": "UpdateBasePlanStateRequest",
      "properties": {
        "activateBasePlanRequest": {
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
          "$ref": "ActivateBasePlanRequest"
        },
        "deactivateBasePlanRequest": {
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription",
          "$ref": "DeactivateBasePlanRequest"
        }
      },
      "description": "Request message to update the state of a subscription base plan.",
      "type": "object"
    },
    "AppVersionRange": {
      "type": "object",
      "description": "Data format for a continuous range of app versions.",
      "id": "AppVersionRange",
      "properties": {
        "versionCodeStart": {
          "description": "Lowest app version in the range, inclusive.",
          "type": "string",
          "format": "int64"
        },
        "versionCodeEnd": {
          "type": "string",
          "format": "int64",
          "description": "Highest app version in the range, inclusive."
        }
      }
    },
    "ListAppRecoveriesResponse": {
      "type": "object",
      "id": "ListAppRecoveriesResponse",
      "properties": {
        "recoveryActions": {
          "type": "array",
          "items": {
            "$ref": "AppRecoveryAction"
          },
          "description": "List of recovery actions associated with the requested package name."
        }
      },
      "description": "Response message for ListAppRecoveries. -- api-linter: core::0158::response-next-page-token-field=disabled"
    },
    "VariantTargeting": {
      "type": "object",
      "description": "Targeting on the level of variants.",
      "id": "VariantTargeting",
      "properties": {
        "screenDensityTargeting": {
          "description": "The screen densities that this variant supports",
          "$ref": "ScreenDensityTargeting"
        },
        "abiTargeting": {
          "description": "The abi that the variant targets",
          "$ref": "AbiTargeting"
        },
        "textureCompressionFormatTargeting": {
          "description": "Texture-compression-format-level targeting",
          "$ref": "TextureCompressionFormatTargeting"
        },
        "sdkVersionTargeting": {
          "description": "The sdk version that the variant targets",
          "$ref": "SdkVersionTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting",
          "$ref": "MultiAbiTargeting"
        }
      }
    },
    "ListOneTimeProductOffersResponse": {
      "description": "Response message for ListOneTimeProductOffers.",
      "id": "ListOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The one_time_product offers from the specified request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "UsesPermission": {
      "description": "A permission used by this APK.",
      "id": "UsesPermission",
      "properties": {
        "name": {
          "description": "The name of the permission requested.",
          "type": "string"
        },
        "maxSdkVersion": {
          "type": "integer",
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required."
        }
      },
      "type": "object"
    },
    "DeobfuscationFilesUploadResponse": {
      "description": "Responses for the upload.",
      "id": "DeobfuscationFilesUploadResponse",
      "properties": {
        "deobfuscationFile": {
          "description": "The uploaded Deobfuscation File configuration.",
          "$ref": "DeobfuscationFile"
        }
      },
      "type": "object"
    },
    "SystemInitiatedCancellation": {
      "type": "object",
      "id": "SystemInitiatedCancellation",
      "properties": {},
      "description": "Information specific to cancellations initiated by Google system."
    },
    "SubscriptionOfferTargeting": {
      "type": "object",
      "id": "SubscriptionOfferTargeting",
      "properties": {
        "upgradeRule": {
          "description": "Offer targeting rule for upgrading users' existing plans.",
          "$ref": "UpgradeTargetingRule"
        },
        "acquisitionRule": {
          "description": "Offer targeting rule for new user acquisition.",
          "$ref": "AcquisitionTargetingRule"
        }
      },
      "description": "Defines the rule a user needs to satisfy to receive this offer."
    },
    "Abi": {
      "type": "object",
      "id": "Abi",
      "properties": {
        "alias": {
          "description": "Alias for an abi.",
          "enum": [
            "UNSPECIFIED_CPU_ARCHITECTURE",
            "ARMEABI",
            "ARMEABI_V7A",
            "ARM64_V8A",
            "X86",
            "X86_64",
            "RISCV64"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified abi.",
            "ARMEABI abi.",
            "ARMEABI_V7A abi.",
            "ARM64_V8A abi.",
            "X86 abi.",
            "X86_64 abi.",
            "RISCV64 abi."
          ]
        }
      },
      "description": "Represents an Abi."
    },
    "DeviceRam": {
      "id": "DeviceRam",
      "properties": {
        "minBytes": {
          "type": "string",
          "format": "int64",
          "description": "Minimum RAM in bytes (bound included)."
        },
        "maxBytes": {
          "description": "Maximum RAM in bytes (bound excluded).",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Conditions about a device's RAM capabilities.",
      "type": "object"
    },
    "OneTimePurchaseDetails": {
      "type": "object",
      "description": "Details of a one-time purchase.",
      "id": "OneTimePurchaseDetails",
      "properties": {
        "quantity": {
          "type": "integer",
          "format": "int32",
          "description": "The number of items purchased (for multi-quantity item purchases)."
        },
        "purchaseOptionId": {
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer.",
          "type": "string"
        },
        "preorderDetails": {
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled.",
          "$ref": "PreorderDetails"
        },
        "rentalDetails": {
          "description": "The details of a rent purchase. Only set if it is a rent purchase.",
          "$ref": "RentalDetails"
        },
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        }
      }
    },
    "ImagesUploadResponse": {
      "description": "Response for uploading an image.",
      "id": "ImagesUploadResponse",
      "properties": {
        "image": {
          "description": "The uploaded image.",
          "$ref": "Image"
        }
      },
      "type": "object"
    },
    "ReviewsListResponse": {
      "id": "ReviewsListResponse",
      "properties": {
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "reviews": {
          "description": "List of reviews.",
          "type": "array",
          "items": {
            "$ref": "Review"
          }
        },
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        }
      },
      "description": "Response listing reviews.",
      "type": "object"
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "id": "CanceledStateContext",
      "properties": {
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "systemInitiatedCancellation": {
          "description": "Subscription was canceled by the system, for example because of a billing problem.",
          "$ref": "SystemInitiatedCancellation"
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        }
      },
      "type": "object"
    },
    "DeactivateBasePlanRequest": {
      "id": "DeactivateBasePlanRequest",
      "properties": {
        "productId": {
          "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the base plan to deactivate."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to deactivate."
        }
      },
      "description": "Request message for DeactivateBasePlan.",
      "type": "object"
    },
    "CancellationContext": {
      "id": "CancellationContext",
      "properties": {
        "cancellationType": {
          "type": "string",
          "enumDescriptions": [
            "Cancellation type unspecified.",
            "Cancellation requested by the user, and the subscription can be restored. It only stops the subscription's next renewal. For an installment subscription, users still need to finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments",
            "Cancellation requested by the developer, and the subscription cannot be restored. It stops the subscription's next payment. For an installment subscription, users will not need to pay the next payment and finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments"
          ],
          "description": "Required. The type of cancellation for the purchased subscription.",
          "enum": [
            "CANCELLATION_TYPE_UNSPECIFIED",
            "USER_REQUESTED_STOP_RENEWALS",
            "DEVELOPER_REQUESTED_STOP_PAYMENTS"
          ]
        }
      },
      "description": "Cancellation context of the purchases.subscriptionsv2.cancel API.",
      "type": "object"
    },
    "ExternalTransactionAddress": {
      "id": "ExternalTransactionAddress",
      "properties": {
        "administrativeArea": {
          "type": "string",
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\"."
        },
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        }
      },
      "description": "User's address for the external transaction.",
      "type": "object"
    },
    "ReviewsReplyResponse": {
      "description": "Response on status of replying to a review.",
      "id": "ReviewsReplyResponse",
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "type": "object"
    },
    "CancellationEvent": {
      "id": "CancellationEvent",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the order was canceled."
        }
      },
      "description": "Details of when the order was canceled.",
      "type": "object"
    },
    "RefundExternalTransactionRequest": {
      "type": "object",
      "id": "RefundExternalTransactionRequest",
      "properties": {
        "fullRefund": {
          "description": "A full-amount refund.",
          "$ref": "FullRefund"
        },
        "refundTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. The time that the transaction was refunded."
        },
        "partialRefund": {
          "description": "A partial refund.",
          "$ref": "PartialRefund"
        }
      },
      "description": "A request to refund an existing external transaction."
    },
    "BatchUpdatePurchaseOptionStatesRequest": {
      "type": "object",
      "description": "Request message for BatchUpdatePurchaseOptionStates.",
      "id": "BatchUpdatePurchaseOptionStatesRequest",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different purchase options.",
          "type": "array",
          "items": {
            "$ref": "UpdatePurchaseOptionStateRequest"
          }
        }
      }
    },
    "ApkSet": {
      "id": "ApkSet",
      "properties": {
        "moduleMetadata": {
          "description": "Metadata about the module represented by this ApkSet",
          "$ref": "ModuleMetadata"
        },
        "apkDescription": {
          "type": "array",
          "items": {
            "$ref": "ApkDescription"
          },
          "description": "Description of the generated apks."
        }
      },
      "description": "A set of apks representing a module.",
      "type": "object"
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "type": "object",
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "properties": {
        "relativeDiscount": {
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "type": "number",
          "format": "double"
        },
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "RegionalSubscriptionOfferPhaseFreePriceOverride"
        },
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "regionCode": {
          "description": "Required. Immutable. The region to which this config applies.",
          "type": "string"
        }
      },
      "description": "Configuration for a single phase of a subscription offer in a single region."
    },
    "OneTimeProductOfferRegionalPricingAndAvailabilityConfig": {
      "id": "OneTimeProductOfferRegionalPricingAndAvailabilityConfig",
      "properties": {
        "noOverride": {
          "description": "The price defined in the purchase option for this region will be used.",
          "$ref": "OneTimeProductOfferNoPriceOverrideOptions"
        },
        "availability": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified availability. Must not be used.",
            "The offer is available to users.",
            "The offer is no longer available to users. This value can only be used if the availability was previously set as AVAILABLE."
          ],
          "enum": [
            "AVAILABILITY_UNSPECIFIED",
            "AVAILABLE",
            "NO_LONGER_AVAILABLE"
          ],
          "description": "Required. The availability for this region."
        },
        "relativeDiscount": {
          "type": "number",
          "format": "double",
          "description": "The fraction of the purchase option price that the user pays for this offer. For example, if the purchase option price for this region is $12, then a 50% discount would correspond to a price of $6. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region."
        },
        "absoluteDiscount": {
          "description": "The absolute value of the discount that is subtracted from the purchase option price. It should be between 0 and the purchase option price.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g., \"US\"."
        }
      },
      "description": "Regional pricing and availability configuration for a one-time product offer.",
      "type": "object"
    },
    "OfferDetails": {
      "type": "object",
      "description": "Offer details information related to a purchase line item.",
      "id": "OfferDetails",
      "properties": {
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID. Present for all base plan and offers."
        },
        "offerTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The latest offer tags associated with the offer. It includes tags inherited from the base plan."
        },
        "offerId": {
          "description": "The offer ID. Only present for discounted offers.",
          "type": "string"
        }
      }
    },
    "DeviceTier": {
      "type": "object",
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier.",
      "id": "DeviceTier",
      "properties": {
        "level": {
          "type": "integer",
          "format": "int32",
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration."
        },
        "deviceGroupNames": {
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Comment": {
      "type": "object",
      "id": "Comment",
      "properties": {
        "userComment": {
          "description": "A comment from a user.",
          "$ref": "UserComment"
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      },
      "description": "An entry of conversation between user and developer."
    },
    "ExternalSubscription": {
      "type": "object",
      "id": "ExternalSubscription",
      "properties": {
        "subscriptionType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "This is a recurring subscription where the user is charged every billing cycle.",
            "This is a prepaid subscription where the user pays up front."
          ],
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "RECURRING",
            "PREPAID"
          ],
          "description": "Required. The type of the external subscription."
        }
      },
      "description": "Details of an external subscription."
    },
    "PrepaidBasePlanType": {
      "type": "object",
      "description": "Represents a base plan that does not automatically renew at the end of the base plan, and must be manually renewed by the user.",
      "id": "PrepaidBasePlanType",
      "properties": {
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "timeExtension": {
          "description": "Whether users should be able to extend this prepaid base plan in Google Play surfaces. Defaults to TIME_EXTENSION_ACTIVE if not specified.",
          "enum": [
            "TIME_EXTENSION_UNSPECIFIED",
            "TIME_EXTENSION_ACTIVE",
            "TIME_EXTENSION_INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Time extension is active. Users are allowed to top-up or extend their prepaid plan.",
            "Time extension is inactive. Users cannot top-up or extend their prepaid plan."
          ]
        }
      }
    },
    "RevocationContextProratedRefund": {
      "id": "RevocationContextProratedRefund",
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a prorated refund.",
      "type": "object"
    },
    "IntroductoryPriceDetails": {
      "id": "IntroductoryPriceDetails",
      "properties": {},
      "description": "Details of an introductory price pricing phase.",
      "type": "object"
    },
    "ExternalOfferDetails": {
      "type": "object",
      "id": "ExternalOfferDetails",
      "properties": {
        "installedAppCategory": {
          "description": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads.",
          "enum": [
            "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ]
        },
        "appDownloadEventExternalTransactionId": {
          "description": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps.",
          "type": "string"
        },
        "linkType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ],
          "description": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play.",
          "enum": [
            "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ]
        },
        "installedAppPackage": {
          "type": "string",
          "description": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD."
        }
      },
      "description": "Reporting details unique to the external offers program."
    },
    "UserCountrySet": {
      "type": "object",
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "id": "UserCountrySet",
      "properties": {
        "name": {
          "type": "string",
          "description": "Country set name."
        },
        "countryCodes": {
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DeferralContext": {
      "type": "object",
      "description": "Deferral context of the purchases.subscriptionsv2.defer API.",
      "id": "DeferralContext",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Required. The API will fail if the etag does not match the latest etag for this subscription. The etag is retrieved from purchases.subscriptionsv2.get: https://developers.google.com/android-publisher/api-ref/rest/v3/purchases.subscriptionsv2/get"
        },
        "deferDuration": {
          "description": "Required. The duration by which all subscription items should be deferred.",
          "type": "string",
          "format": "google-duration"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If set to \"true\", the request is a dry run to validate the effect of Defer, the subscription would not be impacted."
        }
      }
    },
    "RevokeSubscriptionPurchaseResponse": {
      "id": "RevokeSubscriptionPurchaseResponse",
      "properties": {},
      "description": "Response for the purchases.subscriptionsv2.revoke API.",
      "type": "object"
    },
    "UpdateOneTimeProductOfferRequest": {
      "type": "object",
      "id": "UpdateOneTimeProductOfferRequest",
      "properties": {
        "allowMissing": {
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored.",
          "type": "boolean"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "oneTimeProductOffer": {
          "description": "Required. The one-time product offer to update.",
          "$ref": "OneTimeProductOffer"
        }
      },
      "description": "Request message for UpdateOneTimeProductOffer."
    },
    "ConvertedRegionPrice": {
      "type": "object",
      "description": "A converted region price.",
      "id": "ConvertedRegionPrice",
      "properties": {
        "price": {
          "description": "The converted price tax inclusive.",
          "$ref": "Money"
        },
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "The region code of the region."
        }
      }
    },
    "BatchDeletePurchaseOptionsRequest": {
      "id": "BatchDeletePurchaseOptionsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeletePurchaseOptionRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete purchase options from different one-time products."
        }
      },
      "description": "Request message for BatchDeletePurchaseOption.",
      "type": "object"
    },
    "SystemApkOptions": {
      "type": "object",
      "description": "Options for system APKs.",
      "id": "SystemApkOptions",
      "properties": {
        "rotated": {
          "description": "Whether to use the rotated key for signing the system APK.",
          "type": "boolean"
        },
        "uncompressedNativeLibraries": {
          "description": "Whether system APK was generated with uncompressed native libraries.",
          "type": "boolean"
        },
        "uncompressedDexFiles": {
          "type": "boolean",
          "description": "Whether system APK was generated with uncompressed dex files."
        }
      }
    },
    "RemoteInAppUpdateData": {
      "type": "object",
      "id": "RemoteInAppUpdateData",
      "properties": {
        "remoteAppUpdateDataPerBundle": {
          "type": "array",
          "items": {
            "$ref": "RemoteInAppUpdateDataPerBundle"
          },
          "description": "Data related to the recovery action at bundle level."
        }
      },
      "description": "Data related to Remote In-App Update action such as recovered user count, affected user count etc."
    },
    "ApkBinary": {
      "type": "object",
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      }
    },
    "UserCountriesTargeting": {
      "id": "UserCountriesTargeting",
      "properties": {
        "countryCodes": {
          "description": "List of country codes in the two-letter CLDR territory format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclude": {
          "type": "boolean",
          "description": "Indicates if the list above is exclusive."
        }
      },
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "type": "object"
    },
    "TextureCompressionFormat": {
      "description": "Represents texture compression format.",
      "id": "TextureCompressionFormat",
      "properties": {
        "alias": {
          "enum": [
            "UNSPECIFIED_TEXTURE_COMPRESSION_FORMAT",
            "ETC1_RGB8",
            "PALETTED",
            "THREE_DC",
            "ATC",
            "LATC",
            "DXT1",
            "S3TC",
            "PVRTC",
            "ASTC",
            "ETC2"
          ],
          "description": "Alias for texture compression format.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified format.",
            "ETC1_RGB8 format.",
            "PALETTED format.",
            "THREE_DC format.",
            "ATC format.",
            "LATC format.",
            "DXT1 format.",
            "S3TC format.",
            "PVRTC format.",
            "ASTC format.",
            "ETC2 format."
          ]
        }
      },
      "type": "object"
    },
    "RevocationContextItemBasedRefund": {
      "id": "RevocationContextItemBasedRefund",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. If the subscription is a subscription with add-ons, the product id of the subscription item to revoke."
        }
      },
      "description": "Used to determine what specific item to revoke in a subscription with multiple items.",
      "type": "object"
    },
    "AddTargetingResponse": {
      "description": "Response message for AddTargeting.",
      "id": "AddTargetingResponse",
      "properties": {},
      "type": "object"
    },
    "VanityCode": {
      "description": "A multiple use, predefined promotion code.",
      "id": "VanityCode",
      "properties": {
        "promotionCode": {
          "type": "string",
          "description": "The promotion code."
        }
      },
      "type": "object"
    },
    "MigrateBasePlanPricesResponse": {
      "description": "Response message for MigrateBasePlanPrices.",
      "id": "MigrateBasePlanPricesResponse",
      "properties": {},
      "type": "object"
    },
    "Apk": {
      "description": "Information about an APK. The resource for ApksService.",
      "id": "Apk",
      "properties": {
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of the APK, as specified in the manifest file."
        },
        "binary": {
          "description": "Information about the binary payload of this APK.",
          "$ref": "ApkBinary"
        }
      },
      "type": "object"
    },
    "TestPurchaseContext": {
      "description": "Context about a test purchase.",
      "id": "TestPurchaseContext",
      "properties": {
        "fopType": {
          "description": "The fop type of the test purchase.",
          "enum": [
            "FOP_TYPE_UNSPECIFIED",
            "TEST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Fop type unspecified. This value should never be set.",
            "The purchase was made using a test card."
          ]
        }
      },
      "type": "object"
    },
    "BatchUpdateBasePlanStatesRequest": {
      "type": "object",
      "description": "Request message for BatchUpdateBasePlanStates.",
      "id": "BatchUpdateBasePlanStatesRequest",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "type": "array",
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          }
        }
      }
    },
    "OutOfAppPurchaseContext": {
      "id": "OutOfAppPurchaseContext",
      "properties": {
        "expiredPurchaseToken": {
          "description": "The purchase token of the last expired subscription. This purchase token must only be used to help identify the user if the link between the purchaseToken and user is stored in your database. This cannot be used to call the Google Developer API if it has been more than 60 days since expiry.",
          "type": "string"
        },
        "expiredExternalAccountIdentifiers": {
          "description": "User account identifier from the last expired subscription for this SKU.",
          "$ref": "ExternalAccountIdentifiers"
        }
      },
      "description": "Information specific to an out of app purchase.",
      "type": "object"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "id": "BatchDeleteOneTimeProductsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products."
        }
      },
      "type": "object"
    },
    "BatchUpdateOneTimeProductsRequest": {
      "type": "object",
      "description": "Request message for BatchUpdateOneTimeProduct.",
      "id": "BatchUpdateOneTimeProductsRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products.",
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          }
        }
      }
    },
    "ListUsersResponse": {
      "description": "A response containing one or more users with access to an account.",
      "id": "ListUsersResponse",
      "properties": {
        "users": {
          "type": "array",
          "items": {
            "$ref": "User"
          },
          "description": "The resulting users."
        },
        "nextPageToken": {
          "description": "A token to pass to subsequent calls in order to retrieve subsequent results. This will not be set if there are no more results to return.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TestPurchase": {
      "id": "TestPurchase",
      "properties": {},
      "description": "Whether this subscription purchase is a test purchase.",
      "type": "object"
    },
    "OfferPhase": {
      "type": "object",
      "id": "OfferPhase",
      "properties": {
        "freeTrial": {
          "description": "Set when the offer phase is a free trial.",
          "$ref": "FreeTrialOfferPhase"
        },
        "introductoryPrice": {
          "description": "Set when the offer phase is an introductory price offer phase.",
          "$ref": "IntroductoryPriceOfferPhase"
        },
        "basePrice": {
          "description": "Set when the offer phase is a base plan pricing phase.",
          "$ref": "BasePriceOfferPhase"
        },
        "prorationPeriod": {
          "description": "Set when the offer phase is a proration period.",
          "$ref": "ProrationPeriodOfferPhase"
        }
      },
      "description": "Offer phase details."
    },
    "TrackTargetedCountry": {
      "type": "object",
      "id": "TrackTargetedCountry",
      "properties": {
        "countryCode": {
          "type": "string",
          "description": "The country that can be targeted, as a two-letter CLDR code."
        }
      },
      "description": "Representation of a single country where the contents of a track can be made available."
    },
    "InappproductsBatchUpdateRequest": {
      "description": "Request to update or insert one or more in-app products.",
      "id": "InappproductsBatchUpdateRequest",
      "properties": {
        "requests": {
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "type": "array",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          }
        }
      },
      "type": "object"
    },
    "CancelAppRecoveryRequest": {
      "description": "Request message for CancelAppRecovery.",
      "id": "CancelAppRecoveryRequest",
      "properties": {},
      "type": "object"
    },
    "DeleteOneTimeProductRequest": {
      "description": "Request message for deleting a one-time product.",
      "id": "DeleteOneTimeProductRequest",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The one-time product ID of the one-time product to delete."
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the one-time product to delete.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SdkVersionTargeting": {
      "id": "SdkVersionTargeting",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "SdkVersion"
          },
          "description": "Value of an sdk version."
        },
        "alternatives": {
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "type": "array",
[...]
