{
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "discoveryVersion": "v1",
  "version": "v3",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "servicePath": "",
  "id": "androidpublisher:v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "canonicalName": "Android Publisher",
  "title": "Google Play Android Developer API",
  "documentationLink": "https://developers.google.com/android-publisher",
  "name": "androidpublisher",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidpublisher": {
          "description": "View and manage your Google Play Developer account"
        }
      }
    }
  },
  "schemas": {
    "OneTimeProductListing": {
      "type": "object",
      "properties": {
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g., \"en-US\".",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of this product in the language of this listing. The maximum length is 55 characters.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Required. The description of this product in the language of this listing. The maximum length is 200 characters."
        }
      },
      "id": "OneTimeProductListing",
      "description": "Regional store listing for a one-time product."
    },
    "InappproductsDeleteRequest": {
      "type": "object",
      "properties": {
        "sku": {
          "description": "Unique identifier for the in-app product.",
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        }
      },
      "description": "Request to delete an in-app product.",
      "id": "InappproductsDeleteRequest"
    },
    "BatchUpdateSubscriptionsResponse": {
      "description": "Response message for BatchUpdateSubscription.",
      "id": "BatchUpdateSubscriptionsResponse",
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The updated subscriptions list.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      }
    },
    "Grant": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Immutable. The package name of the app. This will be empty for draft apps."
        },
        "appLevelPermissions": {
          "type": "array",
          "description": "The permissions granted to the user for this app.",
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ]
          }
        }
      },
      "id": "Grant",
      "description": "An access grant resource."
    },
    "OneTimePurchaseDetails": {
      "type": "object",
      "properties": {
        "preorderDetails": {
          "description": "The details of a pre-order purchase. Only set if it is a pre-order purchase. Note that this field will be set even after pre-order is fulfilled.",
          "$ref": "PreorderDetails"
        },
        "rentalDetails": {
          "$ref": "RentalDetails",
          "description": "The details of a rent purchase. Only set if it is a rent purchase."
        },
        "offerId": {
          "description": "The offer ID of the one-time purchase offer.",
          "type": "string"
        },
        "quantity": {
          "format": "int32",
          "type": "integer",
          "description": "The number of items purchased (for multi-quantity item purchases)."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "ID of the purchase option. This field is set for both purchase options and variant offers. For purchase options, this ID identifies the purchase option itself. For variant offers, this ID refers to the associated purchase option, and in conjunction with offer_id it identifies the variant offer."
        }
      },
      "description": "Details of a one-time purchase.",
      "id": "OneTimePurchaseDetails"
    },
    "AcquisitionTargetingRule": {
      "type": "object",
      "properties": {
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\"."
        }
      },
      "id": "AcquisitionTargetingRule",
      "description": "Represents a targeting rule of the form: User never had {scope} before."
    },
    "ItemReplacement": {
      "type": "object",
      "properties": {
        "productId": {
          "description": "The product ID of the subscription line item being replaced.",
          "type": "string"
        },
        "replacementMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified replacement mode.",
            "The new plan will be prorated and credited from the old plan.",
            "The user will be charged a prorated price for the new plan.",
            "The new plan will replace the old one without prorating the time.",
            "The user will be charged the full price for the new plan.",
            "The old plan will be cancelled and the new plan will be effective after the old one expires.",
            "The plan will remain unchanged with this replacement."
          ],
          "enum": [
            "REPLACEMENT_MODE_UNSPECIFIED",
            "WITH_TIME_PRORATION",
            "CHARGE_PRORATED_PRICE",
            "WITHOUT_PRORATION",
            "CHARGE_FULL_PRICE",
            "DEFERRED",
            "KEEP_EXISTING"
          ],
          "description": "The replacement mode applied during the purchase."
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription line item being replaced.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID of the subscription line item being replaced, if applicable.",
          "type": "string"
        }
      },
      "description": "Details about a subscription line item that is being replaced.",
      "id": "ItemReplacement"
    },
    "OneTimeProduct": {
      "id": "OneTimeProduct",
      "description": "A single one-time product for an app.",
      "type": "object",
      "properties": {
        "restrictedPaymentCountries": {
          "description": "Optional. Countries where the purchase of this one-time product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
          "$ref": "RestrictedPaymentCountries"
        },
        "packageName": {
          "description": "Required. Immutable. Package name of the parent app.",
          "type": "string"
        },
        "regionsVersion": {
          "description": "Output only. The version of the regions configuration that was used to generate the one-time product.",
          "$ref": "RegionsVersion",
          "readOnly": true
        },
        "productId": {
          "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
          "type": "string"
        },
        "offerTags": {
          "type": "array",
          "description": "Optional. List of up to 20 custom tags specified for this one-time product, and returned to the app through the billing library. Purchase options and offers for this product will also receive these tags in the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "listings": {
          "type": "array",
          "description": "Required. Set of localized title and description data. Must not have duplicate entries with the same language_code.",
          "items": {
            "$ref": "OneTimeProductListing"
          }
        },
        "taxAndComplianceSettings": {
          "$ref": "OneTimeProductTaxAndComplianceSettings",
          "description": "Details about taxes and legal compliance."
        },
        "purchaseOptions": {
          "type": "array",
          "description": "Required. The set of purchase options for this one-time product.",
          "items": {
            "$ref": "OneTimeProductPurchaseOption"
          }
        }
      }
    },
    "ArtifactSummary": {
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The version code of the artifact.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ArtifactSummary",
      "description": "Summary of an artifact."
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "type": "object",
      "properties": {
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "absoluteDiscounts": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "relativeDiscount": {
          "format": "double",
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in."
        },
        "free": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
          "description": "Set to specify this offer is free to obtain."
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase."
    },
    "PartialRefundEvent": {
      "id": "PartialRefundEvent",
      "description": "Details of the partial refund events for this order.",
      "type": "object",
      "properties": {
        "state": {
          "description": "The state of the partial refund.",
          "type": "string",
          "enumDescriptions": [
            "State unspecified. This value is not used.",
            "The partial refund has been created, but not yet processed.",
            "The partial refund was processed successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "PROCESSED_SUCCESSFULLY"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the partial refund was created."
        },
        "processTime": {
          "description": "The time when the partial refund was processed.",
          "format": "google-datetime",
          "type": "string"
        },
        "refundDetails": {
          "description": "Details for the partial refund.",
          "$ref": "RefundDetails"
        }
      }
    },
    "OtherRegionsBasePlanConfig": {
      "type": "object",
      "properties": {
        "newSubscriberAvailability": {
          "description": "Whether the base plan is available for new subscribers in any new locations Play may launch in. If not specified, this will default to false.",
          "type": "boolean"
        },
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "id": "OtherRegionsBasePlanConfig",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "InappproductsBatchUpdateRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. Individual update requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsUpdateRequest"
          },
          "type": "array"
        }
      },
      "description": "Request to update or insert one or more in-app products.",
      "id": "InappproductsBatchUpdateRequest"
    },
    "TracksListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "type": "array",
          "description": "All tracks (including tracks with no releases).",
          "items": {
            "$ref": "Track"
          }
        }
      },
      "description": "Response listing all tracks.",
      "id": "TracksListResponse"
    },
    "InappproductsBatchUpdateResponse": {
      "description": "Response for a batch in-app product update.",
      "id": "InappproductsBatchUpdateResponse",
      "type": "object",
      "properties": {
        "inappproducts": {
          "type": "array",
          "description": "The updated or inserted in-app products.",
          "items": {
            "$ref": "InAppProduct"
          }
        }
      }
    },
    "DeobfuscationFile": {
      "description": "Represents a deobfuscation file.",
      "id": "DeobfuscationFile",
      "type": "object",
      "properties": {
        "symbolType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified deobfuscation file type.",
            "Proguard deobfuscation file type.",
            "Native debugging symbols file type."
          ],
          "enum": [
            "deobfuscationFileTypeUnspecified",
            "proguard",
            "nativeCode"
          ],
          "description": "The type of the deobfuscation file."
        }
      }
    },
    "InappproductsBatchDeleteRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          },
          "type": "array"
        }
      },
      "description": "Request to delete multiple in-app products.",
      "id": "InappproductsBatchDeleteRequest"
    },
    "UserComment": {
      "type": "object",
      "properties": {
        "appVersionCode": {
          "description": "Integer version code of the app as installed at the time the review was written. May be absent.",
          "format": "int32",
          "type": "integer"
        },
        "androidOsVersion": {
          "description": "Integer Android SDK version of the user's device at the time the review was written, e.g. 23 is Marshmallow. May be absent.",
          "format": "int32",
          "type": "integer"
        },
        "lastModified": {
          "description": "The last time at which this comment was updated.",
          "$ref": "Timestamp"
        },
        "thumbsDownCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs down."
        },
        "reviewerLanguage": {
          "description": "Language code for the reviewer. This is taken from the device settings so is not guaranteed to match the language the review is written in. May be absent.",
          "type": "string"
        },
        "appVersionName": {
          "description": "String version name of the app as installed at the time the review was written. May be absent.",
          "type": "string"
        },
        "thumbsUpCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of users who have given this review a thumbs up."
        },
        "deviceMetadata": {
          "description": "Information about the characteristics of the user's device.",
          "$ref": "DeviceMetadata"
        },
        "device": {
          "type": "string",
          "description": "Codename for the reviewer's device, e.g. klte, flounder. May be absent."
        },
        "originalText": {
          "description": "Untranslated text of the review, where the review was translated. If the review was not translated this is left blank.",
          "type": "string"
        },
        "text": {
          "description": "The content of the comment, i.e. review body. In some cases users have been able to write a review with separate title and body; in those cases the title and body are concatenated and separated by a tab character.",
          "type": "string"
        },
        "starRating": {
          "description": "The star rating associated with the review, from 1 to 5.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "UserComment",
      "description": "User entry from conversation between user and developer."
    },
    "ListSubscriptionOffersResponse": {
      "id": "ListSubscriptionOffersResponse",
      "description": "Response message for ListSubscriptionOffers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "subscriptionOffers": {
          "type": "array",
          "description": "The subscription offers from the specified subscription.",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      }
    },
    "RestrictedPaymentCountries": {
      "type": "object",
      "properties": {
        "regionCodes": {
          "type": "array",
          "description": "Required. Region codes to impose payment restrictions on, as defined by ISO 3166-2, e.g. \"US\".",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Countries where the purchase of this product is restricted to payment methods registered in the same country. If empty, no payment location restrictions are imposed.",
      "id": "RestrictedPaymentCountries"
    },
    "MigrateBasePlanPricesResponse": {
      "type": "object",
      "properties": {},
      "id": "MigrateBasePlanPricesResponse",
      "description": "Response message for MigrateBasePlanPrices."
    },
    "FreeTrialDetails": {
      "description": "Details of a free trial pricing phase.",
      "id": "FreeTrialDetails",
      "type": "object",
      "properties": {}
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "type": "object",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array"
        }
      },
      "description": "Response message for BatchUpdateOneTimeProductOffers.",
      "id": "BatchUpdateOneTimeProductOffersResponse"
    },
    "SubscriptionPriceChange": {
      "id": "SubscriptionPriceChange",
      "description": "Contains the price change information for a subscription that can be used to control the user journey for the price change in the app. This can be in the form of seeking confirmation from the user or tailoring the experience for a successful conversion.",
      "type": "object",
      "properties": {
        "newPrice": {
          "$ref": "Price",
          "description": "The new price the subscription will renew with if the price change is accepted by the user."
        },
        "state": {
          "format": "int32",
          "type": "integer",
          "description": "The current state of the price change. Possible values are: 0. Outstanding: State for a pending price change waiting for the user to agree. In this state, you can optionally seek confirmation from the user using the In-App API. 1. Accepted: State for an accepted price change that the subscription will renew with unless it's canceled. The price change takes effect on a future date when the subscription renews. Note that the change might not occur when the subscription is renewed next."
        }
      }
    },
    "RegionalTaxConfig": {
      "type": "object",
      "properties": {
        "streamingTaxType": {
          "type": "string",
          "enumDescriptions": [
            "No telecommunications tax collected.",
            "US-specific telecommunications tax tier for video streaming, on demand, rentals / subscriptions / pay-per-view.",
            "US-specific telecommunications tax tier for video streaming of pre-recorded content like movies, tv shows.",
            "US-specific telecommunications tax tier for video streaming of multi-channel programming.",
            "US-specific telecommunications tax tier for audio streaming, rental / subscription.",
            "US-specific telecommunications tax tier for audio streaming, sale / permanent download.",
            "US-specific telecommunications tax tier for multi channel audio streaming like radio."
          ],
          "enum": [
            "STREAMING_TAX_TYPE_UNSPECIFIED",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_SALES",
            "STREAMING_TAX_TYPE_TELCO_VIDEO_MULTI_CHANNEL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_RENTAL",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_SALES",
            "STREAMING_TAX_TYPE_TELCO_AUDIO_MULTI_CHANNEL"
          ],
          "description": "To collect communications or amusement taxes in the United States, choose the appropriate tax category. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498#streaming_tax)."
        },
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "taxTier": {
          "description": "Tax tier to specify reduced tax rate. Developers who sell digital news, magazines, newspapers, books, or audiobooks in various regions may be eligible for reduced tax rates. [Learn more](https://support.google.com/googleplay/android-developer/answer/10463498).",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "TAX_TIER_UNSPECIFIED",
            "TAX_TIER_BOOKS_1",
            "TAX_TIER_NEWS_1",
            "TAX_TIER_NEWS_2",
            "TAX_TIER_MUSIC_OR_AUDIO_1",
            "TAX_TIER_LIVE_OR_BROADCAST_1"
          ]
        },
        "eligibleForStreamingServiceTaxRate": {
          "type": "boolean",
          "description": "You must tell us if your app contains streaming products to correctly charge US state and local sales tax. Field only supported in the United States."
        }
      },
      "description": "Details about taxation in a given geographical region.",
      "id": "RegionalTaxConfig"
    },
    "BatchMigrateBasePlanPricesRequest": {
      "id": "BatchMigrateBasePlanPricesRequest",
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          },
          "type": "array"
        }
      }
    },
    "OrderHistory": {
      "type": "object",
      "properties": {
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "refundEvent": {
          "description": "Details of when the order was fully refunded.",
          "$ref": "RefundEvent"
        },
        "partialRefundEvents": {
          "type": "array",
          "description": "Details of the partial refund events for this order.",
          "items": {
            "$ref": "PartialRefundEvent"
          }
        },
        "cancellationEvent": {
          "description": "Details of when the order was canceled.",
          "$ref": "CancellationEvent"
        }
      },
      "description": "Details about events which modified the order.",
      "id": "OrderHistory"
    },
    "OneTimeProductPreOrderOffer": {
      "description": "Configuration specific to pre-order offers.",
      "id": "OneTimeProductPreOrderOffer",
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. Time when the pre-order will start being available."
        },
        "endTime": {
          "description": "Required. Time when the pre-order will stop being available.",
          "type": "string",
          "format": "google-datetime"
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time on which the product associated with the pre-order will be released and the pre-order orders fulfilled."
        },
        "priceChangeBehavior": {
          "description": "Required. Immutable. Specifies how price changes affect pre-existing pre-orders.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified price change behavior. Must not be used.",
            "The buyer gets charged the minimum between the initial price at the time of pre-order and the final offer price on the release date.",
            "The buyer gets the same price as the one they pre-ordered, regardless of any price changes that may have happened after the pre-order."
          ],
          "enum": [
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_UNSPECIFIED",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_TWO_POINT_LOWEST",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_NEW_ORDERS_ONLY"
          ]
        }
      }
    },
    "AutoRenewingPlan": {
      "type": "object",
      "properties": {
        "recurringPrice": {
          "$ref": "Money",
          "description": "The current recurring price of the auto renewing plan. Note that the price does not take into account discounts and does not include taxes for tax-exclusive pricing, please call orders.get API instead if transaction details are needed."
        },
        "priceStepUpConsentDetails": {
          "description": "The information of the latest price step-up consent.",
          "$ref": "PriceStepUpConsentDetails"
        },
        "autoRenewEnabled": {
          "description": "If the subscription is currently set to auto-renew, e.g. the user has not canceled the subscription",
          "type": "boolean"
        },
        "priceChangeDetails": {
          "$ref": "SubscriptionItemPriceChangeDetails",
          "description": "The information of the last price change for the item since subscription signup."
        },
        "installmentDetails": {
          "$ref": "InstallmentPlan",
          "description": "The installment plan commitment and state related info for the auto renewing plan."
        }
      },
      "id": "AutoRenewingPlan",
      "description": "Information related to an auto renewing plan."
    },
    "DeviceFeatureTargeting": {
      "description": "Targeting for a device feature.",
      "id": "DeviceFeatureTargeting",
      "type": "object",
      "properties": {
        "requiredFeature": {
          "$ref": "DeviceFeature",
          "description": "Feature of the device."
        }
      }
    },
    "ExpansionFile": {
      "id": "ExpansionFile",
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object",
      "properties": {
        "fileSize": {
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "type": "string",
          "format": "int64"
        },
        "referencesVersion": {
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "SubscriptionPurchaseLineItem": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "offerDetails": {
          "description": "The offer details for this item.",
          "$ref": "OfferDetails"
        },
        "autoRenewingPlan": {
          "$ref": "AutoRenewingPlan",
          "description": "The item is auto renewing."
        },
        "offerPhase": {
          "description": "Current offer phase details for this item.",
          "$ref": "OfferPhase"
        },
        "itemReplacement": {
          "description": "Details of the item being replaced. This field is only populated if this item replaced another item in a previous subscription and is only available for 60 days after the purchase time.",
          "$ref": "ItemReplacement"
        },
        "latestSuccessfulOrderId": {
          "type": "string",
          "description": "The order id of the latest successful order associated with this item. Not present if the item is not owned by the user yet (e.g. the item being deferred replaced to)."
        },
        "deferredItemRemoval": {
          "$ref": "DeferredItemRemoval",
          "description": "Information for deferred item removal."
        },
        "prepaidPlan": {
          "$ref": "PrepaidPlan",
          "description": "The item is prepaid."
        },
        "expiryTime": {
          "description": "Time at which the subscription expired or will expire unless the access is extended (ex. renews).",
          "type": "string",
          "format": "google-datetime"
        },
        "deferredItemReplacement": {
          "$ref": "DeferredItemReplacement",
          "description": "Information for deferred item replacement."
        },
        "signupPromotion": {
          "description": "Promotion details about this item. Only set if a promotion was applied during signup.",
          "$ref": "SignupPromotion"
        }
      },
      "description": "Item-level info for a subscription purchase.",
      "id": "SubscriptionPurchaseLineItem"
    },
    "ListReleaseSummariesResponse": {
      "id": "ListReleaseSummariesResponse",
      "description": "Response listing all releases for a given track that are either ready to be sent for review, in review, approved, not approved or available.",
      "type": "object",
      "properties": {
        "releases": {
          "type": "array",
          "description": "List of releases for this track. There will be a maximum of 20 releases returned.",
          "items": {
            "$ref": "ReleaseSummary"
          }
        }
      }
    },
    "ExternalTransactionAddress": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Required. Two letter region code based on ISO-3166-1 Alpha-2 (UN region codes).",
          "type": "string"
        },
        "administrativeArea": {
          "description": "Optional. Top-level administrative subdivision of the country/region. Only required for transactions in India. Valid values are \"ANDAMAN AND NICOBAR ISLANDS\", \"ANDHRA PRADESH\", \"ARUNACHAL PRADESH\", \"ASSAM\", \"BIHAR\", \"CHANDIGARH\", \"CHHATTISGARH\", \"DADRA AND NAGAR HAVELI\", \"DADRA AND NAGAR HAVELI AND DAMAN AND DIU\", \"DAMAN AND DIU\", \"DELHI\", \"GOA\", \"GUJARAT\", \"HARYANA\", \"HIMACHAL PRADESH\", \"JAMMU AND KASHMIR\", \"JHARKHAND\", \"KARNATAKA\", \"KERALA\", \"LADAKH\", \"LAKSHADWEEP\", \"MADHYA PRADESH\", \"MAHARASHTRA\", \"MANIPUR\", \"MEGHALAYA\", \"MIZORAM\", \"NAGALAND\", \"ODISHA\", \"PUDUCHERRY\", \"PUNJAB\", \"RAJASTHAN\", \"SIKKIM\", \"TAMIL NADU\", \"TELANGANA\", \"TRIPURA\", \"UTTAR PRADESH\", \"UTTARAKHAND\", and \"WEST BENGAL\".",
          "type": "string"
        }
      },
      "description": "User's address for the external transaction.",
      "id": "ExternalTransactionAddress"
    },
    "ApkTargeting": {
      "id": "ApkTargeting",
      "description": "Represents a set of apk-level targetings.",
      "type": "object",
      "properties": {
        "abiTargeting": {
          "description": "The abi that the apk targets",
          "$ref": "AbiTargeting"
        },
        "multiAbiTargeting": {
          "$ref": "MultiAbiTargeting",
          "description": "Multi-api-level targeting."
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "textureCompressionFormatTargeting": {
          "$ref": "TextureCompressionFormatTargeting",
          "description": "Texture-compression-format-level targeting"
        }
      }
    },
    "BatchGetSubscriptionsResponse": {
      "type": "object",
      "properties": {
        "subscriptions": {
          "description": "The list of requested subscriptions, in the same order as the request.",
          "items": {
            "$ref": "Subscription"
          },
          "type": "array"
        }
      },
      "id": "BatchGetSubscriptionsResponse",
      "description": "Response message for BatchGetSubscriptions endpoint."
    },
    "DeviceId": {
      "description": "Identifier of a device.",
      "id": "DeviceId",
      "type": "object",
      "properties": {
        "buildBrand": {
          "description": "Value of Build.BRAND.",
          "type": "string"
        },
        "buildDevice": {
          "description": "Value of Build.DEVICE.",
          "type": "string"
        }
      }
    },
    "GeneratedRecoveryApk": {
      "id": "GeneratedRecoveryApk",
      "description": "Download metadata for an app recovery module.",
      "type": "object",
      "properties": {
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryStatus": {
          "type": "string",
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "description": "The status of the recovery action corresponding to the recovery apk."
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module which recovery apk belongs to."
        },
        "recoveryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the recovery action."
        }
      }
    },
    "ConvertRegionPricesRequest": {
      "id": "ConvertRegionPricesRequest",
      "description": "Request message for ConvertRegionPrices.",
      "type": "object",
      "properties": {
        "price": {
          "description": "The intital price to convert other regions from. Tax exclusive.",
          "$ref": "Money"
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Optional. Product tax category code in context. Product tax category determines the transaction tax rates applied to the product that will be factored into the price calculation. If not set, tax rates for the default product tax category will be used. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        }
      }
    },
    "PointsDetails": {
      "type": "object",
      "properties": {
        "pointsSpent": {
          "description": "The number of Play Points applied in this order. E.g. for a 100 points for $2 coupon, this is 100. For coupon stacked with base offer, this is the total points spent across both.",
          "type": "string",
          "format": "int64"
        },
        "pointsOfferId": {
          "type": "string",
          "description": "ID unique to the play points offer in use for this order."
        },
        "pointsDiscountRateMicros": {
          "description": "The percentage rate which the Play Points promotion reduces the cost by. E.g. for a 100 points for $2 coupon, this is 500,000. Since $2 has an estimate of 200 points, but the actual Points required, 100, is 50% of this, and 50% in micros is 500,000. Between 0 and 1,000,000.",
          "format": "int64",
          "type": "string"
        },
        "pointsCouponValue": {
          "$ref": "Money",
          "description": "The monetary value of a Play Points coupon. This is the discount the coupon provides, which may not be the total amount. Only set when Play Points coupons have been used. E.g. for a 100 points for $2 coupon, this is $2."
        }
      },
      "description": "Details relating to any Play Points applied to an order.",
      "id": "PointsDetails"
    },
    "PausedStateContext": {
      "id": "PausedStateContext",
      "description": "Information specific to a subscription in paused state.",
      "type": "object",
      "properties": {
        "autoResumeTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the subscription will be automatically resumed."
        }
      }
    },
    "InstallmentPlan": {
      "id": "InstallmentPlan",
      "description": "Information to a installment plan.",
      "type": "object",
      "properties": {
        "initialCommittedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of payments the user is initially committed for."
        },
        "subsequentCommittedPaymentsCount": {
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment.",
          "type": "integer",
          "format": "int32"
        },
        "pendingCancellation": {
          "$ref": "PendingCancellation",
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments."
        },
        "remainingCommittedPaymentsCount": {
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ExternalTransactionTestPurchase": {
      "id": "ExternalTransactionTestPurchase",
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "type": "object",
      "properties": {}
    },
    "OfferPhaseDetails": {
      "id": "OfferPhaseDetails",
      "description": "Details of a pricing phase for the entitlement period funded by this order.",
      "type": "object",
      "properties": {
        "prorationPeriodDetails": {
          "description": "The order funds a proration period.",
          "$ref": "ProrationPeriodDetails"
        },
        "freeTrialDetails": {
          "$ref": "FreeTrialDetails",
          "description": "The order funds a free trial period."
        },
        "introductoryPriceDetails": {
          "description": "The order funds an introductory pricing period.",
          "$ref": "IntroductoryPriceDetails"
        },
        "baseDetails": {
          "description": "The order funds a base price period.",
          "$ref": "BaseDetails"
        }
      }
    },
    "ScreenDensityTargeting": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of a screen density.",
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array"
        },
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "ScreenDensity"
          }
        }
      },
      "id": "ScreenDensityTargeting",
      "description": "Targeting based on screen density."
    },
    "BatchGetOneTimeProductsResponse": {
      "id": "BatchGetOneTimeProductsResponse",
      "description": "Response message for the BatchGetOneTimeProducts endpoint.",
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "description": "The list of requested one-time products, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      }
    },
    "BatchUpdateOneTimeProductsResponse": {
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "id": "BatchUpdateOneTimeProductsResponse",
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "description": "The list of updated one-time products list, in the same order as the request.",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array"
        }
      }
    },
    "ReleaseSummary": {
      "type": "object",
      "properties": {
        "releaseLifecycleState": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "The release is not yet ready and can be still edited.",
            "The release is ready to be sent for review and awaiting developer action.",
            "Submitted and undergoing the review process.",
            "Passed review and is ready to be published (due to managed publishing).",
            "Failed the review process.",
            "Currently available to users on the track. This includes fully or partially rolled out releases to users and any halted release that can be resumed."
          ],
          "enum": [
            "RELEASE_LIFECYCLE_STATE_UNSPECIFIED",
            "RELEASE_LIFECYCLE_STATE_DRAFT",
            "RELEASE_LIFECYCLE_STATE_NOT_SENT_FOR_REVIEW",
            "RELEASE_LIFECYCLE_STATE_IN_REVIEW",
            "RELEASE_LIFECYCLE_STATE_APPROVED_NOT_PUBLISHED",
            "RELEASE_LIFECYCLE_STATE_NOT_APPROVED",
            "RELEASE_LIFECYCLE_STATE_PUBLISHED"
          ],
          "description": "The lifecycle state of a release."
        },
        "track": {
          "description": "Identifier of the track. More on [track name](https://developers.google.com/android-publisher/tracks).",
          "type": "string"
        },
        "releaseName": {
          "type": "string",
          "description": "Name of the release."
        },
        "activeArtifacts": {
          "type": "array",
          "description": "List of active artifacts on this release.",
          "items": {
            "$ref": "ArtifactSummary"
          }
        }
      },
      "description": "Summary of a release.",
      "id": "ReleaseSummary"
    },
    "ConvertRegionPricesResponse": {
      "type": "object",
      "properties": {
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "convertedRegionPrices": {
          "type": "object",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          },
          "description": "Map from region code to converted region price."
        },
        "regionVersion": {
          "$ref": "RegionsVersion",
          "description": "The region version at which the prices were generated."
        }
      },
      "description": "Response message for ConvertRegionPrices.",
      "id": "ConvertRegionPricesResponse"
    },
    "BatchGetOneTimeProductOffersRequest": {
      "id": "BatchGetOneTimeProductOffersRequest",
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers.",
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          },
          "type": "array"
        }
      }
    },
    "IntroductoryPriceDetails": {
      "description": "Details of an introductory price pricing phase.",
      "id": "IntroductoryPriceDetails",
      "type": "object",
      "properties": {}
    },
    "Apk": {
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "The version code of the APK, as specified in the manifest file.",
          "format": "int32",
          "type": "integer"
        },
        "binary": {
          "$ref": "ApkBinary",
          "description": "Information about the binary payload of this APK."
        }
      },
      "id": "Apk",
      "description": "Information about an APK. The resource for ApksService."
    },
    "SubscriptionCancelSurveyResult": {
      "id": "SubscriptionCancelSurveyResult",
      "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
      "type": "object",
      "properties": {
        "cancelSurveyReason": {
          "type": "integer",
          "format": "int32",
          "description": "The cancellation reason the user chose in the survey. Possible values are: 0. Other 1. I don't use this service enough 2. Technical issues 3. Cost-related reasons 4. I found a better app"
        },
        "userInputCancelReason": {
          "description": "The customized input cancel reason from the user. Only present when cancelReason is 0.",
          "type": "string"
        }
      }
    },
    "RevocationContextFullRefund": {
      "type": "object",
      "properties": {},
      "id": "RevocationContextFullRefund",
      "description": "Used to determine if the refund type in the RevocationContext is a full refund."
    },
    "RegionalSubscriptionOfferPhaseFreePriceOverride": {
      "id": "RegionalSubscriptionOfferPhaseFreePriceOverride",
      "description": "Represents the free price override configuration for a single phase of a subscription offer",
      "type": "object",
      "properties": {}
    },
    "ExternalAccountIds": {
      "id": "ExternalAccountIds",
      "description": "User account identifier in your app.",
      "type": "object",
      "properties": {
        "obfuscatedAccountId": {
          "type": "string",
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user account in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid to set this field for purchases made using the standard in-app billing flow."
        },
        "obfuscatedProfileId": {
          "type": "string",
          "description": "Optional. Specifies an optional obfuscated string that is uniquely associated with the purchaser's user profile in your app. If you pass this value, Google Play can use it to detect irregular activity. Do not use this field to store any Personally Identifiable Information (PII) such as emails in cleartext. Attempting to store PII in this field will result in purchases being blocked. Google Play recommends that you use either encryption or a one-way hash to generate an obfuscated identifier to send to Google Play. This identifier is limited to 64 characters. This field can only be set for resubscription purchases. See https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid to set this field for purchases made using the standard in-app billing flow."
        }
      }
    },
    "PartialRefund": {
      "description": "A partial refund of a transaction.",
      "id": "PartialRefund",
      "type": "object",
      "properties": {
        "refundId": {
          "type": "string",
          "description": "Required. A unique id distinguishing this partial refund. If the refund is successful, subsequent refunds with the same id will fail. Must be unique across refunds for one individual transaction."
        },
        "refundPreTaxAmount": {
          "description": "Required. The pre-tax amount of the partial refund. Should be less than the remaining pre-tax amount of the transaction.",
          "$ref": "Price"
        }
      }
    },
    "InternalAppSharingArtifact": {
      "type": "object",
      "properties": {
        "downloadUrl": {
          "type": "string",
          "description": "The download URL generated for the uploaded artifact. Users that are authorized to download can follow the link to the Play Store app to install it."
        },
        "certificateFingerprint": {
          "description": "The sha256 fingerprint of the certificate used to sign the generated artifact.",
          "type": "string"
        },
        "sha256": {
          "description": "The sha256 hash of the artifact represented as a lowercase hexadecimal number, matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "An artifact resource which gets created when uploading an APK or Android App Bundle through internal app sharing.",
      "id": "InternalAppSharingArtifact"
    },
    "ListOneTimeProductsResponse": {
      "id": "ListOneTimeProductsResponse",
      "description": "Response message for ListOneTimeProducts.",
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "description": "The one-time products from the specified app.",
          "items": {
            "$ref": "OneTimeProduct"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "DeferSubscriptionPurchaseResponse": {
      "type": "object",
      "properties": {
        "itemExpiryTimeDetails": {
          "description": "The new expiry time for each subscription items.",
          "items": {
            "$ref": "ItemExpiryTimeDetails"
          },
          "type": "array"
        }
      },
      "id": "DeferSubscriptionPurchaseResponse",
      "description": "Response for the v2 purchases.subscriptions.defer API."
    },
    "ApkBinary": {
      "type": "object",
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the APK payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "sha256": {
          "description": "A sha256 hash of the APK payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "description": "Represents the binary payload of an APK.",
      "id": "ApkBinary"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesResponse",
      "type": "object",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          },
          "type": "array"
        }
      }
    },
    "DeactivatePurchaseOptionRequest": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate."
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to deactivate."
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The purchase option ID of the purchase option to deactivate."
        }
      },
      "description": "Request message for UpdatePurchaseOptionState.",
      "id": "DeactivatePurchaseOptionRequest"
    },
    "BatchUpdateSubscriptionOfferStatesResponse": {
      "type": "object",
      "properties": {
        "subscriptionOffers": {
          "description": "The updated subscription offers list.",
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array"
        }
      },
      "description": "Response message for BatchUpdateSubscriptionOfferStates.",
      "id": "BatchUpdateSubscriptionOfferStatesResponse"
    },
    "UserInitiatedCancellation": {
      "type": "object",
      "properties": {
        "cancelTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access."
        },
        "cancelSurveyResult": {
          "$ref": "CancelSurveyResult",
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey)."
        }
      },
      "id": "UserInitiatedCancellation",
      "description": "Information specific to cancellations initiated by users."
    },
    "OneTimeProductOfferNoPriceOverrideOptions": {
      "description": "Options for one-time product offers without a regional price override.",
      "id": "OneTimeProductOfferNoPriceOverrideOptions",
      "type": "object",
      "properties": {}
    },
    "ReplacementCancellation": {
      "type": "object",
      "properties": {},
      "id": "ReplacementCancellation",
      "description": "Information specific to cancellations caused by subscription replacement."
    },
    "Review": {
      "type": "object",
      "properties": {
        "reviewId": {
          "type": "string",
          "description": "Unique identifier for this review."
        },
        "authorName": {
          "type": "string",
          "description": "The name of the user who wrote the review."
        },
        "comments": {
          "description": "A repeated field containing comments for the review.",
          "items": {
            "$ref": "Comment"
          },
          "type": "array"
        }
      },
      "id": "Review",
      "description": "An Android app review."
    },
    "ManagedProductTaxAndComplianceSettings": {
      "description": "Details about taxation and legal compliance for managed products.",
      "id": "ManagedProductTaxAndComplianceSettings",
      "type": "object",
      "properties": {
        "eeaWithdrawalRightType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information."
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "type": "object",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          }
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the in-app product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "regionalProductAgeRatingInfos": {
          "type": "array",
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this in-app product is declared as a product representing a tokenized digital asset."
        }
      }
    },
    "ReviewsReplyResponse": {
      "id": "ReviewsReplyResponse",
      "description": "Response on status of replying to a review.",
      "type": "object",
      "properties": {
        "result": {
          "$ref": "ReviewReplyResult",
          "description": "The result of replying/updating a reply to review."
        }
      }
    },
    "UpdateSubscriptionOfferStateRequest": {
      "id": "UpdateSubscriptionOfferStateRequest",
      "description": "Request message to update the state of a subscription offer.",
      "type": "object",
      "properties": {
        "activateSubscriptionOfferRequest": {
          "description": "Activates an offer. Once activated, the offer will be available to new subscribers.",
          "$ref": "ActivateSubscriptionOfferRequest"
        },
        "deactivateSubscriptionOfferRequest": {
          "$ref": "DeactivateSubscriptionOfferRequest",
          "description": "Deactivates an offer. Once deactivated, the offer will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
        }
      }
    },
    "Targeting": {
      "description": "Targeting details for a recovery action such as regions, android sdk levels, app versions etc.",
      "id": "Targeting",
      "type": "object",
      "properties": {
        "regions": {
          "description": "Targeting is based on the user account region.",
          "$ref": "Regions"
        },
        "androidSdks": {
          "description": "Targeting is based on android api levels of devices.",
          "$ref": "AndroidSdks"
        },
        "allUsers": {
          "$ref": "AllUsers",
          "description": "All users are targeted."
        },
        "versionRange": {
          "$ref": "AppVersionRange",
          "description": "Target version codes as a range."
        },
        "versionList": {
          "description": "Target version codes as a list.",
          "$ref": "AppVersionList"
        }
      }
    },
    "ModuleTargeting": {
      "type": "object",
      "properties": {
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        },
        "deviceFeatureTargeting": {
          "description": "Targeting for device features.",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          },
          "type": "array"
        },
        "userCountriesTargeting": {
          "$ref": "UserCountriesTargeting",
          "description": "Countries-level targeting"
        }
      },
      "id": "ModuleTargeting",
      "description": "Targeting on the module level."
    },
    "RentalDetails": {
      "description": "Details of a rental purchase.",
      "id": "RentalDetails",
      "type": "object",
      "properties": {}
    },
    "AddTargetingRequest": {
      "type": "object",
      "properties": {
        "targetingUpdate": {
          "$ref": "TargetingUpdate",
          "description": "Specifies targeting updates such as regions, android sdk versions etc."
        }
      },
      "id": "AddTargetingRequest",
      "description": "Request message for AddTargeting."
    },
    "ProrationPeriodOfferPhase": {
      "type": "object",
      "properties": {
        "originalOfferPhaseType": {
          "description": "The original offer phase type before the proration period. Only set when the proration period is updated from an existing offer phase.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified original offer phase type.",
            "The subscription is in the base pricing phase (e.g. full price).",
            "The subscription is in an introductory pricing phase.",
            "The subscription is in a free trial."
          ],
          "enum": [
            "ORIGINAL_OFFER_PHASE_TYPE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        }
      },
      "id": "ProrationPeriodOfferPhase",
      "description": "Details about proration period offer phase."
    },
    "AppEdit": {
      "type": "object",
      "properties": {
        "expiryTimeSeconds": {
          "description": "Output only. The time (as seconds since Epoch) at which the edit will expire and will be no longer valid for use.",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier of the edit. Can be used in subsequent API calls."
        }
      },
      "description": "An app edit. The resource for EditsService.",
      "id": "AppEdit"
    },
    "Image": {
      "id": "Image",
      "description": "An uploaded image. The resource for ImagesService.",
      "type": "object",
      "properties": {
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "sha256": {
          "description": "A sha256 hash of the image.",
          "type": "string"
        }
      }
    },
    "SystemInitiatedCancellation": {
      "type": "object",
      "properties": {},
      "description": "Information specific to cancellations initiated by Google system.",
      "id": "SystemInitiatedCancellation"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "id": "BatchDeleteOneTimeProductsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "type": "array"
        }
      }
    },
    "OtherRegionsSubscriptionOfferPhasePrices": {
      "type": "object",
      "properties": {
        "usdPrice": {
          "description": "Required. Price in USD to use for any new locations Play may launch in.",
          "$ref": "Money"
        },
        "eurPrice": {
          "description": "Required. Price in EUR to use for any new locations Play may launch in.",
          "$ref": "Money"
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhasePrices",
      "description": "Pricing information for any new locations Play may launch in."
    },
    "Variant": {
      "type": "object",
      "properties": {
        "variantId": {
          "type": "integer",
          "readOnly": true,
          "format": "uint32",
          "description": "Output only. The ID of a previously created system APK variant."
        },
        "deviceSpec": {
          "$ref": "DeviceSpec",
          "description": "The device spec used to generate the APK."
        },
        "options": {
          "description": "Optional. Options applied to the generated APK.",
          "$ref": "SystemApkOptions"
        }
      },
      "description": "APK that is suitable for inclusion in a system image. The resource of SystemApksService.",
      "id": "Variant"
    },
    "ExternallyHostedApk": {
      "description": "Defines an APK available for this application that is hosted externally and not uploaded to Google Play. This function is only available to organizations using Managed Play whose application is configured to restrict distribution to the organizations.",
      "id": "ExternallyHostedApk",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name."
        },
        "maximumSdk": {
          "description": "The maximum SDK supported by this APK (optional).",
          "type": "integer",
          "format": "int32"
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of this APK."
        },
        "fileSha1Base64": {
          "description": "The sha1 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "usesPermissions": {
          "type": "array",
          "description": "The permissions requested by this APK.",
          "items": {
            "$ref": "UsesPermission"
          }
        },
        "certificateBase64s": {
          "description": "A certificate (or array of certificates if a certificate-chain is used) used to sign this APK, represented as a base64 encoded byte array.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "usesFeatures": {
          "description": "The features required by this APK (optional).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "fileSha256Base64": {
          "description": "The sha256 checksum of this APK, represented as a base64 encoded byte array.",
          "type": "string"
        },
        "iconBase64": {
          "type": "string",
          "description": "The icon image from the APK, as a base64 encoded byte array."
        },
        "nativeCodes": {
          "type": "array",
          "description": "The native code environments supported by this APK (optional).",
          "items": {
            "type": "string"
          }
        },
        "fileSize": {
          "description": "The file size in bytes of this APK.",
          "type": "string",
          "format": "int64"
        },
        "applicationLabel": {
          "description": "The application label.",
          "type": "string"
        },
        "versionName": {
          "type": "string",
          "description": "The version name of this APK."
        },
        "externallyHostedUrl": {
          "description": "The URL at which the APK is hosted. This must be an https URL.",
          "type": "string"
        },
        "minimumSdk": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum SDK targeted by this APK."
        }
      }
    },
    "GetSubscriptionOfferRequest": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to get."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to get."
        },
        "productId": {
          "description": "Required. The parent subscription (ID) of the offer to get.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The unique offer ID of the offer to get."
        }
      },
      "description": "Request message for GetSubscriptionOffer.",
      "id": "GetSubscriptionOfferRequest"
    },
    "ImagesDeleteAllResponse": {
      "type": "object",
      "properties": {
        "deleted": {
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          },
          "type": "array"
        }
      },
      "description": "Response for deleting all images.",
      "id": "ImagesDeleteAllResponse"
    },
    "TargetingRuleScope": {
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "id": "TargetingRuleScope",
      "type": "object",
      "properties": {
        "thisSubscription": {
          "$ref": "TargetingRuleScopeThisSubscription",
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined."
        },
        "anySubscriptionInApp": {
          "$ref": "TargetingRuleScopeAnySubscriptionInApp",
          "description": "The scope of the current targeting rule is any subscription in the parent app."
        },
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        }
      }
    },
    "BatchUpdatePurchaseOptionStatesResponse": {
      "id": "BatchUpdatePurchaseOptionStatesResponse",
      "description": "Response message for BatchUpdatePurchaseOptionStates.",
      "type": "object",
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "description": "The list of updated one-time products. This list will match the requests one to one, in the same order.",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      }
    },
    "SignupPromotion": {
      "id": "SignupPromotion",
      "description": "The promotion applied on this item when purchased.",
      "type": "object",
      "properties": {
        "oneTimeCode": {
          "$ref": "OneTimeCode",
          "description": "A one-time code was applied."
        },
        "vanityCode": {
          "$ref": "VanityCode",
          "description": "A vanity code was applied."
        }
      }
    },
    "InappproductsBatchGetResponse": {
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "id": "InappproductsBatchGetResponse",
      "type": "object",
      "properties": {
        "inappproduct": {
          "description": "The list of requested in-app products, in the same order as the request.",
          "items": {
            "$ref": "InAppProduct"
          },
          "type": "array"
        }
      }
    },
    "CancelAppRecoveryResponse": {
      "type": "object",
      "properties": {},
      "id": "CancelAppRecoveryResponse",
      "description": "Response message for CancelAppRecovery."
    },
    "ExternalTransaction": {
      "type": "object",
      "properties": {
        "originalTaxAmount": {
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "oneTimeTransaction": {
          "$ref": "OneTimeExternalTransaction",
          "description": "This is a one-time transaction and not part of a subscription."
        },
        "recurringTransaction": {
          "$ref": "RecurringExternalTransaction",
          "description": "This transaction is part of a recurring series of transactions."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction."
        },
        "transactionState": {
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "type": "string",
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "readOnly": true,
          "description": "Output only. The current state of the transaction."
        },
        "transactionTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Required. The time when the transaction was completed."
        },
        "originalPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied."
        },
        "currentPreTaxAmount": {
          "readOnly": true,
          "$ref": "Price",
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction."
        },
        "transactionProgramCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The transaction program code, used to help determine service fee for eligible apps participating in partner programs. Developers participating in the Play Media Experience Program (https://play.google.com/console/about/programs/mediaprogram/) must provide the program code when reporting alternative billing transactions. If you are an eligible developer, please contact your BDM for more information on how to set this field. Note: this field can not be used for external offers transactions."
        },
        "testPurchase": {
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "$ref": "ExternalTransactionTestPurchase",
          "readOnly": true
        },
        "externalOfferDetails": {
          "$ref": "ExternalOfferDetails",
          "description": "Optional. Details necessary to accurately report external offers transactions."
        },
        "userTaxAddress": {
          "description": "Required. User address for tax computation.",
          "$ref": "ExternalTransactionAddress"
        },
        "currentTaxAmount": {
          "$ref": "Price",
          "readOnly": true,
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction."
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app')."
        },
        "externalTransactionId": {
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The details of an external transaction.",
      "id": "ExternalTransaction"
    },
    "LocalizedText": {
      "description": "Localized text in given language.",
      "id": "LocalizedText",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The text in the given language."
        },
        "language": {
          "description": "Language localization code (a BCP-47 language tag; for example, \"de-AT\" for Austrian German).",
          "type": "string"
        }
      }
    },
    "SafetyLabelsUpdateResponse": {
      "type": "object",
      "properties": {},
      "id": "SafetyLabelsUpdateResponse",
      "description": "Response for SafetyLabelsUpdate rpc."
    },
    "DeleteOneTimeProductRequest": {
      "id": "DeleteOneTimeProductRequest",
      "description": "Request message for deleting a one-time product.",
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the one-time product to delete."
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "productId": {
          "description": "Required. The one-time product ID of the one-time product to delete.",
          "type": "string"
        }
      }
    },
    "SubscriptionDetails": {
      "id": "SubscriptionDetails",
      "description": "Details of a subscription purchase.",
      "type": "object",
      "properties": {
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "servicePeriodStartTime": {
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "type": "string",
          "format": "google-datetime"
        },
        "offerPhaseDetails": {
          "$ref": "OfferPhaseDetails",
          "description": "The pricing phase details for the entitlement period funded by this order."
        },
        "servicePeriodEndTime": {
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get.",
          "type": "string",
          "format": "google-datetime"
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "offerPhase": {
          "type": "string",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ],
          "description": "The pricing phase for the billing period funded by this order. Deprecated. Use offer_phase_details instead."
        }
      }
    },
    "BatchUpdateBasePlanStatesRequest": {
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchUpdateBasePlanStatesRequest",
      "description": "Request message for BatchUpdateBasePlanStates."
    },
    "User": {
      "description": "A user resource.",
      "id": "User",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\"."
        },
        "accessState": {
          "description": "Output only. The state of the user's access to the Play Console.",
          "type": "string",
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ]
        },
        "partial": {
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner.",
          "type": "boolean",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "Immutable. The user's email address."
        },
        "grants": {
          "description": "Output only. Per-app permissions for the user.",
          "items": {
            "$ref": "Grant"
          },
          "type": "array",
          "readOnly": true
        },
        "expirationTime": {
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future.",
          "type": "string",
          "format": "google-datetime"
        },
        "developerAccountPermissions": {
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer."
            ],
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL"
            ]
          },
          "type": "array"
        }
      }
    },
    "RecurringExternalTransaction": {
      "type": "object",
      "properties": {
        "initialExternalTransactionId": {
          "type": "string",
          "description": "The external transaction id of the first transaction of this recurring series of transactions. For example, for a subscription this would be the transaction id of the first payment. Required when creating recurring external transactions."
        },
        "externalTransactionToken": {
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched. Required only for the initial purchase.",
          "type": "string"
        },
        "migratedTransactionProgram": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified transaction program. Not used.",
            "User choice billing, where a user may choose between Google Play Billing developer-managed billing.",
            "Alternative billing only, where users may only use developer-manager billing."
          ],
          "enum": [
            "EXTERNAL_TRANSACTION_PROGRAM_UNSPECIFIED",
            "USER_CHOICE_BILLING",
            "ALTERNATIVE_BILLING_ONLY"
          ],
          "description": "Input only. Provided during the call to Create. Must only be used when migrating a subscription from manual monthly reporting to automated reporting."
        },
        "otherRecurringProduct": {
          "$ref": "OtherRecurringProduct",
          "description": "Details of a recurring external transaction product which doesn't belong to any other specific category."
        },
        "externalSubscription": {
          "$ref": "ExternalSubscription",
          "description": "Details of an external subscription."
        }
      },
      "id": "RecurringExternalTransaction",
      "description": "Represents a transaction that is part of a recurring series of payments. This can be a subscription or a one-time product with multiple payments (such as preorder)."
    },
    "AutoRenewingBasePlanType": {
      "type": "object",
      "properties": {
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "accountHoldDuration": {
          "type": "string",
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "legacyCompatible": {
          "description": "Whether the renewing base plan is backward compatible. The backward compatible base plan is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one renewing base plan can be marked as legacy compatible for a given subscription.",
          "type": "boolean"
        },
        "gracePeriodDuration": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "legacyCompatibleSubscriptionOfferId": {
          "type": "string",
          "description": "Subscription offer id which is legacy compatible. The backward compatible subscription offer is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one subscription offer can be marked as legacy compatible for a given renewing base plan. To have no Subscription offer as legacy compatible set this field as empty string."
        },
        "prorationMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE."
        },
        "resubscribeState": {
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
[...]
