{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/androidenterprise": {
          "description": "Manage corporate Android devices"
        }
      }
    }
  },
  "canonicalName": "Android Enterprise",
  "description": "Manages the deployment of apps to Android Enterprise devices.",
  "ownerDomain": "google.com",
  "basePath": "",
  "protocol": "rest",
  "title": "Google Play EMM API",
  "mtlsRootUrl": "https://androidenterprise.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/android/work/play/emm-api",
  "version": "v1",
  "name": "androidenterprise",
  "baseUrl": "https://androidenterprise.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "EnrollmentTokenGoogleAuthenticationOptions": {
      "description": "Options for Google authentication during the enrollment.",
      "type": "object",
      "properties": {
        "authenticationRequirement": {
          "type": "string",
          "description": "[Optional] Specifies whether user should authenticate with Google during enrollment. This setting, if specified,`GoogleAuthenticationSettings` specified for the enterprise resource is ignored for devices enrolled with this token.",
          "enum": [
            "authenticationRequirementUnspecified",
            "optional",
            "required"
          ],
          "enumDescriptions": [
            "The value is unused.",
            "Google authentication is optional for the user. This means the user can choose to skip Google authentication during enrollment.",
            "Google authentication is required for the user. This means the user must authenticate with a Google account to proceed."
          ]
        },
        "requiredAccountEmail": {
          "type": "string",
          "description": "[Optional] Specifies the managed Google account that the user must use during enrollment.`AuthenticationRequirement` must be set to`REQUIRED` if this field is set."
        }
      },
      "id": "EnrollmentTokenGoogleAuthenticationOptions"
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object",
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        }
      }
    },
    "Administrator": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The admin's email address.",
          "type": "string"
        }
      },
      "description": "This represents an enterprise admin who can manage the enterprise in the managed Google Play store.",
      "id": "Administrator"
    },
    "ManagedPropertyBundle": {
      "id": "ManagedPropertyBundle",
      "type": "object",
      "properties": {
        "managedProperty": {
          "description": "The list of managed properties.",
          "type": "array",
          "items": {
            "$ref": "ManagedProperty"
          }
        }
      },
      "description": "A bundle of managed properties."
    },
    "Device": {
      "type": "object",
      "properties": {
        "androidId": {
          "description": "The Google Play Services Android ID for the device encoded as a lowercase hex string. For example, \"123456789abcdef0\".",
          "type": "string"
        },
        "retailBrand": {
          "description": "Retail brand for the device, if set. See android.os.Build.BRAND",
          "type": "string"
        },
        "report": {
          "description": "The device report updated with the latest app states.",
          "$ref": "DeviceReport"
        },
        "latestBuildFingerprint": {
          "type": "string",
          "description": "The build fingerprint of the device if known."
        },
        "sdkVersion": {
          "format": "int32",
          "description": "API compatibility version.",
          "type": "integer"
        },
        "device": {
          "type": "string",
          "description": "The internal hardware codename of the device. This comes from android.os.Build.DEVICE. (field named \"device\" per logs/wireless/android/android_checkin.proto)"
        },
        "product": {
          "type": "string",
          "description": "The product name of the device. This comes from android.os.Build.PRODUCT."
        },
        "model": {
          "description": "The model name of the device. This comes from android.os.Build.MODEL.",
          "type": "string"
        },
        "maker": {
          "description": "The manufacturer of the device. This comes from android.os.Build.MANUFACTURER.",
          "type": "string"
        },
        "managementType": {
          "description": "Identifies the extent to which the device is controlled by a managed Google Play EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device that has the EMM's device policy controller (DPC) as the device owner. - \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile owner) in addition to a separate, personal profile that is unavailable to the DPC. - \"containerApp\", no longer used (deprecated). - \"unmanagedProfile\", a device that has been allowed (by the domain's admin, using the Admin Console to enable the privilege) to use managed Google Play, but the profile is itself not owned by a DPC. ",
          "enum": [
            "managedDevice",
            "managedProfile",
            "containerApp",
            "unmanagedProfile"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "policy": {
          "description": "The policy enforced on the device.",
          "$ref": "Policy"
        }
      },
      "description": "A Devices resource represents a mobile device managed by the EMM and belonging to a specific enterprise user.",
      "id": "Device"
    },
    "ManagedConfigurationsForDeviceListResponse": {
      "type": "object",
      "properties": {
        "managedConfigurationForDevice": {
          "type": "array",
          "description": "A managed configuration for an app on a specific device.",
          "items": {
            "$ref": "ManagedConfiguration"
          }
        }
      },
      "id": "ManagedConfigurationsForDeviceListResponse"
    },
    "GoogleAuthenticationSettings": {
      "id": "GoogleAuthenticationSettings",
      "description": "Contains settings for Google-provided user authentication.",
      "type": "object",
      "properties": {
        "googleAuthenticationRequired": {
          "enumDescriptions": [
            "This value is unused.",
            "Google authentication is not required.",
            "User is required to be successfully authenticated by Google."
          ],
          "description": "Whether Google authentication is required.",
          "enum": [
            "googleAuthenticationRequiredUnspecified",
            "notRequired",
            "required"
          ],
          "type": "string"
        },
        "dedicatedDevicesAllowed": {
          "type": "string",
          "description": "Whether dedicated devices are allowed.",
          "enum": [
            "dedicatedDevicesAllowedUnspecified",
            "disallowed",
            "allowed"
          ],
          "enumDescriptions": [
            "This value is unused.",
            "Dedicated devices are not allowed.",
            "Dedicated devices are allowed."
          ]
        }
      }
    },
    "Permission": {
      "id": "Permission",
      "description": "A Permissions resource represents some extra capability, to be granted to an Android app, which requires explicit consent. An enterprise admin must consent to these permissions on behalf of their users before an entitlement for the app can be created. The permissions collection is read-only. The information provided for each permission (localized name and description) is intended to be used in the MDM user interface when obtaining consent from the enterprise.",
      "type": "object",
      "properties": {
        "description": {
          "description": "A longer description of the Permissions resource, giving more details of what it affects.",
          "type": "string"
        },
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission."
        },
        "name": {
          "description": "The name of the permission.",
          "type": "string"
        }
      }
    },
    "AdministratorWebTokenSpecStoreBuilder": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Organize apps page is displayed. Default is true."
        }
      },
      "id": "AdministratorWebTokenSpecStoreBuilder"
    },
    "EnterpriseAuthenticationAppLinkConfig": {
      "id": "EnterpriseAuthenticationAppLinkConfig",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An authentication url.",
          "type": "string"
        }
      },
      "description": "An authentication URL configuration for the authenticator app of an identity provider."
    },
    "ServiceAccountKeysListResponse": {
      "id": "ServiceAccountKeysListResponse",
      "deprecated": true,
      "type": "object",
      "properties": {
        "serviceAccountKey": {
          "type": "array",
          "description": "The service account credentials.",
          "items": {
            "$ref": "ServiceAccountKey"
          }
        }
      }
    },
    "NewDeviceEvent": {
      "description": "An event generated when a new device is ready to be managed.",
      "type": "object",
      "properties": {
        "deviceId": {
          "description": "The Android ID of the device. This field will always be present.",
          "type": "string"
        },
        "dpcPackageName": {
          "type": "string",
          "description": "Policy app on the device."
        },
        "userId": {
          "description": "The ID of the user. This field will always be present.",
          "type": "string"
        },
        "managementType": {
          "type": "string",
          "description": "Identifies the extent to which the device is controlled by an Android EMM in various deployment configurations. Possible values include: - \"managedDevice\", a device where the DPC is set as device owner, - \"managedProfile\", a device where the DPC is set as profile owner. ",
          "enum": [
            "managedDevice",
            "managedProfile"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "id": "NewDeviceEvent"
    },
    "WebAppsListResponse": {
      "id": "WebAppsListResponse",
      "type": "object",
      "properties": {
        "webApp": {
          "items": {
            "$ref": "WebApp"
          },
          "type": "array",
          "description": "The manifest describing a web app."
        }
      }
    },
    "Entitlement": {
      "id": "Entitlement",
      "type": "object",
      "properties": {
        "reason": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The reason for the entitlement. For example, \"free\" for free apps. This property is temporary: it will be replaced by the acquisition kind field of group licenses.",
          "enum": [
            "free",
            "groupLicense",
            "userPurchase"
          ],
          "type": "string"
        },
        "productId": {
          "description": "The ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        }
      },
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations. "
    },
    "ServiceAccountKey": {
      "id": "ServiceAccountKey",
      "type": "object",
      "properties": {
        "id": {
          "description": "An opaque, unique identifier for this ServiceAccountKey. Assigned by the server.",
          "type": "string"
        },
        "publicData": {
          "description": "Public key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials key type, this is identical to the cert that can be retrieved by using the X.509 cert url inside of the credentials file.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Google Credentials File format.",
            "PKCS12 format. The password for the PKCS12 file is 'notasecret'. For more information, see https://tools.ietf.org/html/rfc7292. The data for keys of this type are base64 encoded according to RFC 4648 Section 4. See http://tools.ietf.org/html/rfc4648#section-4."
          ],
          "type": "string",
          "enum": [
            "googleCredentials",
            "pkcs12"
          ],
          "annotations": {
            "required": [
              "androidenterprise.serviceaccountkeys.insert"
            ]
          },
          "description": "The file format of the generated key data."
        },
        "data": {
          "description": "The body of the private key credentials file, in string format. This is only populated when the ServiceAccountKey is created, and is not stored by Google. When type is \"pkcs12\", the contents of the data field is base64 encoded and has the password \"notasecret\".",
          "type": "string"
        }
      },
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations "
    },
    "AppVersion": {
      "id": "AppVersion",
      "type": "object",
      "properties": {
        "versionCode": {
          "description": "Unique increasing identifier for the app version.",
          "type": "integer",
          "format": "int32"
        },
        "track": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Deprecated, use trackId instead.",
          "enum": [
            "appTrackUnspecified",
            "production",
            "beta",
            "alpha"
          ],
          "type": "string"
        },
        "versionString": {
          "description": "The string used in the Play store by the app developer to identify the version. The string is not necessarily unique or localized (for example, the string could be \"1.4\").",
          "type": "string"
        },
        "trackId": {
          "description": "Track ids that the app version is published in. Replaces the track field (deprecated), but doesn't include the production track (see isProduction instead).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isProduction": {
          "description": "True if this version is a production APK.",
          "type": "boolean"
        },
        "targetSdkVersion": {
          "description": "The SDK version this app targets, as specified in the manifest of the APK. See http://developer.android.com/guide/topics/manifest/uses-sdk-element.html",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "This represents a single version of the app."
    },
    "ManagedConfigurationsForUserListResponse": {
      "id": "ManagedConfigurationsForUserListResponse",
      "type": "object",
      "properties": {
        "managedConfigurationForUser": {
          "items": {
            "$ref": "ManagedConfiguration"
          },
          "type": "array",
          "description": "A managed configuration for an app for a specific user."
        }
      }
    },
    "ManagedConfigurationsSettingsListResponse": {
      "id": "ManagedConfigurationsSettingsListResponse",
      "type": "object",
      "properties": {
        "managedConfigurationsSettings": {
          "items": {
            "$ref": "ManagedConfigurationsSettings"
          },
          "type": "array",
          "description": "A managed configurations settings for an app that may be assigned to a group of users in an enterprise."
        }
      }
    },
    "ProductPolicy": {
      "id": "ProductPolicy",
      "description": "The policy for a product.",
      "type": "object",
      "properties": {
        "managedConfiguration": {
          "description": "The managed configuration for the product.",
          "$ref": "ManagedConfiguration"
        },
        "trackIds": {
          "items": {
            "type": "string"
          },
          "description": "Grants the device visibility to the specified product release track(s), identified by trackIds. The list of release tracks of a product can be obtained by calling Products.Get.",
          "type": "array"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the product. For example, \"app:com.google.android.gm\"."
        },
        "tracks": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Deprecated. Use trackIds instead."
        },
        "autoUpdateMode": {
          "type": "string",
          "description": "The auto-update mode for the product. When autoUpdateMode is used, it always takes precedence over the user's choice. So when a user makes changes to the device settings manually, these changes are ignored.",
          "enum": [
            "autoUpdateModeUnspecified",
            "autoUpdateDefault",
            "autoUpdatePostponed",
            "autoUpdateHighPriority"
          ],
          "enumDescriptions": [
            "Unspecified. Defaults to AUTO_UPDATE_DEFAULT.",
            "The app is automatically updated with low priority to minimize the impact on the user. The app is updated when the following constraints are met: * The device is not actively used * The device is connected to an unmetered network * The device is charging The device is notified about a new update within 24 hours after it is published by the developer, after which the app is updated the next time the constraints above are met.",
            "The app is not automatically updated for a maximum of 90 days after the app becomes out of date. 90 days after the app becomes out of date, the latest available version is installed automatically with low priority (see AUTO_UPDATE_DEFAULT). After the app is updated it is not automatically updated again until 90 days after it becomes out of date again. The user can still manually update the app from the Play Store at any time.",
            "The app is updated as soon as possible. No constraints are applied. The device is notified as soon as possible about a new app update after it is published by the developer."
          ]
        },
        "autoInstallPolicy": {
          "description": "The auto-install policy for the product.",
          "$ref": "AutoInstallPolicy"
        },
        "enterpriseAuthenticationAppLinkConfigs": {
          "description": "An authentication URL configuration for the authenticator app of an identity provider. This helps to launch the identity provider's authenticator app during the authentication happening in a private app using Android WebView. Authenticator app should already be the default handler for the authentication url on the device.",
          "type": "array",
          "items": {
            "$ref": "EnterpriseAuthenticationAppLinkConfig"
          }
        }
      }
    },
    "ManagedConfiguration": {
      "id": "ManagedConfiguration",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        },
        "managedProperty": {
          "type": "array",
          "description": "The set of managed properties for this configuration.",
          "items": {
            "$ref": "ManagedProperty"
          }
        },
        "productId": {
          "description": "The ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\".",
          "type": "string"
        },
        "configurationVariables": {
          "description": "Contains the ID of the managed configuration profile and the set of configuration variables (if any) defined for the user.",
          "$ref": "ConfigurationVariables"
        }
      },
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations "
    },
    "ProductSigningCertificate": {
      "id": "ProductSigningCertificate",
      "type": "object",
      "properties": {
        "certificateHashSha256": {
          "description": "The base64 urlsafe encoded SHA2-256 hash of the certificate.",
          "type": "string"
        },
        "certificateHashSha1": {
          "description": "The base64 urlsafe encoded SHA1 hash of the certificate. (This field is deprecated in favor of SHA2-256. It should not be used and may be removed at any time.)",
          "type": "string"
        }
      }
    },
    "EnrollmentToken": {
      "type": "object",
      "properties": {
        "enrollmentTokenType": {
          "enumDescriptions": [
            "The value is unused.",
            "The enrollment token is for a userless device.",
            "The enrollment token is for a user device."
          ],
          "description": "[Required] The type of the enrollment token.",
          "enum": [
            "enrollmentTokenTypeUnspecified",
            "userlessDevice",
            "userDevice"
          ],
          "type": "string"
        },
        "duration": {
          "format": "google-duration",
          "type": "string",
          "description": "[Optional] The length of time the enrollment token is valid, ranging from 1 minute to [`Durations.MAX_VALUE`](https://developers.google.com/protocol-buffers/docs/reference/java/com/google/protobuf/util/Durations.html#MAX_VALUE), approximately 10,000 years. If not specified, the default duration is 1 hour."
        },
        "googleAuthenticationOptions": {
          "description": "[Optional] Provides options related to Google authentication during the enrollment.",
          "$ref": "EnrollmentTokenGoogleAuthenticationOptions"
        },
        "token": {
          "type": "string",
          "description": "The token value that's passed to the device and authorizes the device to enroll. This is a read-only field generated by the server."
        }
      },
      "description": "A token used to enroll a device.",
      "id": "EnrollmentToken"
    },
    "WebAppIcon": {
      "description": "Icon for a web app.",
      "type": "object",
      "properties": {
        "imageData": {
          "type": "string",
          "description": "The actual bytes of the image in a base64url encoded string (c.f. RFC4648, section 5 \"Base 64 Encoding with URL and Filename Safe Alphabet\"). - The image type can be png or jpg. - The image should ideally be square. - The image should ideally have a size of 512x512. "
        }
      },
      "id": "WebAppIcon"
    },
    "StorePage": {
      "type": "object",
      "properties": {
        "link": {
          "type": "array",
          "description": "Ordered list of pages a user should be able to reach from this page. The list can't include this page. It is recommended that the basic pages are created first, before adding the links between pages. The API doesn't verify that the pages exist or the pages are reachable.",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "Unique ID of this page. Assigned by the server. Immutable once assigned.",
          "type": "string"
        },
        "name": {
          "items": {
            "$ref": "LocalizedText"
          },
          "type": "array",
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry."
        }
      },
      "description": "Definition of a managed Google Play store page, made of a localized name and links to other pages. A page also contains clusters defined as a subcollection.",
      "id": "StorePage"
    },
    "Product": {
      "description": "A Products resource represents an app in the Google Play store that is available to at least some users in the enterprise. (Some apps are restricted to a single enterprise, and no information about them is made available outside that enterprise.) The information provided for each product (localized name, icon, link to the full Google Play details page) is intended to allow a basic representation of the product within an EMM user interface.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The localized promotional description, if available."
        },
        "fullDescription": {
          "type": "string",
          "description": "The localized full app store description, if available."
        },
        "recentChanges": {
          "type": "string",
          "description": "A description of the recent changes made to the app."
        },
        "features": {
          "items": {
            "type": "string",
            "enum": [
              "featureUnknown",
              "vpnApp"
            ],
            "enumDescriptions": [
              "",
              "The app is a VPN."
            ]
          },
          "description": "Noteworthy features (if any) of this product.",
          "type": "array"
        },
        "authorName": {
          "description": "The name of the author of the product (for example, the app developer).",
          "type": "string"
        },
        "distributionChannel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "How and to whom the package is made available. The value publicGoogleHosted means that the package is available through the Play store and not restricted to a specific enterprise. The value privateGoogleHosted means that the package is a private app (restricted to an enterprise) but hosted by Google. The value privateSelfHosted means that the package is a private app (restricted to an enterprise) and is privately hosted.",
          "enum": [
            "publicGoogleHosted",
            "privateGoogleHosted",
            "privateSelfHosted"
          ],
          "type": "string"
        },
        "category": {
          "type": "string",
          "description": "The app category (e.g. RACING, SOCIAL, etc.)"
        },
        "lastUpdatedTimestampMillis": {
          "format": "int64",
          "type": "string",
          "description": "The approximate time (within 7 days) the app was last published, expressed in milliseconds since epoch."
        },
        "workDetailsUrl": {
          "type": "string",
          "description": "A link to the managed Google Play details page for the product, for use by an Enterprise admin."
        },
        "appRestrictionsSchema": {
          "description": "The app restriction schema",
          "$ref": "AppRestrictionsSchema"
        },
        "appVersion": {
          "items": {
            "$ref": "AppVersion"
          },
          "type": "array",
          "description": "App versions currently available for this product."
        },
        "availableTracks": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Deprecated, use appTracks instead."
        },
        "appTracks": {
          "description": "The tracks visible to the enterprise.",
          "type": "array",
          "items": {
            "$ref": "TrackInfo"
          }
        },
        "availableCountries": {
          "description": "The countries which this app is available in.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "contentRating": {
          "description": "The content rating for this app.",
          "enum": [
            "ratingUnknown",
            "all",
            "preTeen",
            "teen",
            "mature"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "minAndroidSdkVersion": {
          "format": "int32",
          "description": "The minimum Android SDK necessary to run the app.",
          "type": "integer"
        },
        "title": {
          "description": "The name of the product.",
          "type": "string"
        },
        "smallIconUrl": {
          "type": "string",
          "description": "A link to a smaller image that can be used as an icon for the product. This image is suitable for use at up to 128px x 128px."
        },
        "productId": {
          "type": "string",
          "description": "A string of the form *app:<package name>*. For example, app:com.google.android.gm represents the Gmail app."
        },
        "requiresContainerApp": {
          "type": "boolean",
          "description": "Deprecated."
        },
        "permissions": {
          "type": "array",
          "description": "A list of permissions required by the app.",
          "items": {
            "$ref": "ProductPermission"
          }
        },
        "signingCertificate": {
          "description": "The certificate used to sign this product.",
          "$ref": "ProductSigningCertificate"
        },
        "detailsUrl": {
          "description": "A link to the (consumer) Google Play details page for the product.",
          "type": "string"
        },
        "iconUrl": {
          "type": "string",
          "description": "A link to an image that can be used as an icon for the product. This image is suitable for use at up to 512px x 512px."
        },
        "screenshotUrls": {
          "description": "A list of screenshot links representing the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "productPricing": {
          "description": "Whether this product is free, free with in-app purchases, or paid. If the pricing is unknown, this means the product is not generally available anymore (even though it might still be available to people who own it).",
          "enum": [
            "unknown",
            "free",
            "freeWithInAppPurchase",
            "paid"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown pricing, used to denote an approved product that is not generally available.",
            "The product is free.",
            "The product is free, but offers in-app purchases.",
            "The product is paid."
          ]
        }
      },
      "id": "Product"
    },
    "AppRestrictionsSchema": {
      "description": "Represents the list of app restrictions available to be pre-configured for the product.",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Deprecated."
        },
        "restrictions": {
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          },
          "type": "array",
          "description": "The set of restrictions that make up this schema."
        }
      },
      "id": "AppRestrictionsSchema"
    },
    "ServiceAccount": {
      "description": "A service account identity, including the name and credentials that can be used to authenticate as the service account.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The account name of the service account, in the form of an email address. Assigned by the server.",
          "type": "string"
        },
        "key": {
          "description": "Credentials that can be used to authenticate as this ServiceAccount.",
          "$ref": "ServiceAccountKey"
        }
      },
      "id": "ServiceAccount"
    },
    "TrackInfo": {
      "description": "Id to name association of a track.",
      "type": "object",
      "properties": {
        "trackId": {
          "type": "string",
          "description": "Unmodifiable, unique track identifier. This identifier is the releaseTrackId in the url of the play developer console page that displays the track information."
        },
        "trackAlias": {
          "type": "string",
          "description": "A modifiable name for a track. This is the visible name in the play developer console."
        }
      },
      "id": "TrackInfo"
    },
    "SignupInfo": {
      "id": "SignupInfo",
      "type": "object",
      "properties": {
        "kind": {
          "description": "Deprecated.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL under which the Admin can sign up for an enterprise. The page pointed to cannot be rendered in an iframe."
        },
        "completionToken": {
          "description": "An opaque token that will be required, along with the Enterprise Token, for obtaining the enterprise resource from CompleteSignup.",
          "type": "string"
        }
      },
      "description": "A resource returned by the GenerateSignupUrl API, which contains the Signup URL and Completion Token."
    },
    "Enterprise": {
      "type": "object",
      "properties": {
        "primaryDomain": {
          "type": "string",
          "description": "The enterprise's primary domain, such as \"example.com\"."
        },
        "enterpriseType": {
          "enumDescriptions": [
            "This value is not used.",
            "The enterprise belongs to a managed Google domain.",
            "The enterprise is a managed Google Play Accounts enterprise."
          ],
          "description": "The type of the enterprise.",
          "enum": [
            "enterpriseTypeUnspecified",
            "managedGoogleDomain",
            "managedGooglePlayAccountsEnterprise"
          ],
          "type": "string"
        },
        "administrator": {
          "description": "Admins of the enterprise. This is only supported for enterprises created via the EMM-initiated flow.",
          "type": "array",
          "items": {
            "$ref": "Administrator"
          }
        },
        "managedGoogleDomainType": {
          "description": "The type of managed Google domain",
          "enum": [
            "managedGoogleDomainTypeUnspecified",
            "typeTeam",
            "typeDomain"
          ],
          "type": "string",
          "enumDescriptions": [
            "The managed Google domain type is not specified.",
            "The managed Google domain is an email-verified team.",
            "The managed Google domain is domain-verified."
          ]
        },
        "id": {
          "type": "string",
          "description": "The unique ID for the enterprise."
        },
        "name": {
          "type": "string",
          "description": "The name of the enterprise, for example, \"Example, Inc\"."
        },
        "googleAuthenticationSettings": {
          "description": "Output only. Settings for Google-provided user authentication.",
          "$ref": "GoogleAuthenticationSettings",
          "readOnly": true
        }
      },
      "description": "An Enterprises resource represents the binding between an EMM and a specific organization. That binding can be instantiated in one of two different ways using this API as follows: - For Google managed domain customers, the process involves using Enterprises.enroll and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin console and the Google API Console) and submitted to the EMM through a more-or-less manual process. - For managed Google Play Accounts customers, the process involves using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction with the managed Google Play sign-up UI (Google-provided mechanism) to create the binding without manual steps. As an EMM, you can support either or both approaches in your EMM console. See Create an Enterprise for details.",
      "id": "Enterprise"
    },
    "DevicesListResponse": {
      "type": "object",
      "properties": {
        "device": {
          "description": "A managed device.",
          "type": "array",
          "items": {
            "$ref": "Device"
          }
        }
      },
      "id": "DevicesListResponse"
    },
    "GroupLicenseUsersListResponse": {
      "type": "object",
      "properties": {
        "user": {
          "description": "A user of an enterprise.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      },
      "id": "GroupLicenseUsersListResponse"
    },
    "ConfigurationVariables": {
      "type": "object",
      "properties": {
        "mcmId": {
          "description": "The ID of the managed configurations settings.",
          "type": "string"
        },
        "variableSet": {
          "description": "The variable set that is attributed to the user.",
          "type": "array",
          "items": {
            "$ref": "VariableSet"
          }
        }
      },
      "description": "A configuration variables resource contains the managed configuration settings ID to be applied to a single user, as well as the variable set that is attributed to the user. The variable set will be used to replace placeholders in the managed configuration settings.",
      "id": "ConfigurationVariables"
    },
    "ApprovalUrlInfo": {
      "id": "ApprovalUrlInfo",
      "description": "Information on an approval URL.",
      "type": "object",
      "properties": {
        "approvalUrl": {
          "type": "string",
          "description": "A URL that displays a product's permissions and that can also be used to approve the product with the Products.approve call."
        }
      }
    },
    "ManagedConfigurationsSettings": {
      "id": "ManagedConfigurationsSettings",
      "description": "A managed configurations settings resource contains the set of managed properties that have been configured for an Android app to be applied to a set of users. The app's developer would have defined configurable properties in the managed configurations schema.",
      "type": "object",
      "properties": {
        "mcmId": {
          "type": "string",
          "description": "The ID of the managed configurations settings."
        },
        "name": {
          "description": "The name of the managed configurations settings.",
          "type": "string"
        },
        "lastUpdatedTimestampMillis": {
          "description": "The last updated time of the managed configuration settings in milliseconds since 1970-01-01T00:00:00Z.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeviceState": {
      "type": "object",
      "properties": {
        "accountState": {
          "type": "string",
          "description": "The state of the Google account on the device. \"enabled\" indicates that the Google account on the device can be used to access Google services (including Google Play), while \"disabled\" means that it cannot. A new device is initially in the \"disabled\" state.",
          "enum": [
            "enabled",
            "disabled"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        }
      },
      "description": "The state of a user's device, as accessed by the getState and setState methods on device resources.",
      "id": "DeviceState"
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "properties": {
        "autoUpdatePolicy": {
          "description": "Controls when automatic app updates on the device can be applied. Recommended alternative: autoUpdateMode which is set per app, provides greater flexibility around update frequency. When autoUpdateMode is set to AUTO_UPDATE_POSTPONED or AUTO_UPDATE_HIGH_PRIORITY, autoUpdatePolicy has no effect. - choiceToTheUser allows the device's user to configure the app update policy. - always enables auto updates. - never disables auto updates. - wifiOnly enables auto updates only when the device is connected to wifi. *Important:* Changes to app update policies don't affect updates that are in progress. Any policy changes will apply to subsequent app updates. ",
          "enumDescriptions": [
            "The auto update policy is not set.",
            "The user can control auto-updates.",
            "Apps are never auto-updated.",
            "Apps are auto-updated over WiFi only.",
            "Apps are auto-updated at any time. Data charges may apply."
          ],
          "deprecated": true,
          "enum": [
            "autoUpdatePolicyUnspecified",
            "choiceToTheUser",
            "never",
            "wifiOnly",
            "always"
          ],
          "type": "string"
        },
        "productAvailabilityPolicy": {
          "enumDescriptions": [
            "Unspecified, applies the user available product set by default.",
            "The approved products with product availability set to AVAILABLE in the product policy are available.",
            "All products are available except those explicitly marked as unavailable in the product availability policy."
          ],
          "description": "The availability granted to the device for the specified products. \"all\" gives the device access to all products, regardless of approval status. \"all\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks. \"whitelist\" grants the device access the products specified in productPolicy[]. Only products that are approved or products that were previously approved (products with revoked approval) by the enterprise can be whitelisted. If no value is provided, the availability set at the user level is applied by default.",
          "enum": [
            "productAvailabilityPolicyUnspecified",
            "whitelist",
            "all"
          ],
          "type": "string"
        },
        "policyId": {
          "description": "An identifier for the policy that will be passed with the app install feedback sent from the Play Store.",
          "type": "string"
        },
        "deviceReportPolicy": {
          "enumDescriptions": [
            "The device report policy is not set.",
            "Device reports are disabled.",
            "Device reports are enabled."
          ],
          "description": "Whether the device reports app states to the EMM. The default value is \"deviceReportDisabled\".",
          "enum": [
            "deviceReportPolicyUnspecified",
            "deviceReportDisabled",
            "deviceReportEnabled"
          ],
          "type": "string"
        },
        "productPolicy": {
          "description": "The list of product policies. The productAvailabilityPolicy needs to be set to WHITELIST or ALL for the product policies to be applied.",
          "type": "array",
          "items": {
            "$ref": "ProductPolicy"
          }
        },
        "maintenanceWindow": {
          "description": "The maintenance window defining when apps running in the foreground should be updated.",
          "$ref": "MaintenanceWindow"
        }
      },
      "description": "The device policy for a given managed device."
    },
    "AppRestrictionsSchemaRestriction": {
      "id": "AppRestrictionsSchemaRestriction",
      "type": "object",
      "properties": {
        "restrictionType": {
          "type": "string",
          "description": "The type of the restriction.",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ],
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ]
        },
        "key": {
          "type": "string",
          "description": "The unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\"."
        },
        "defaultValue": {
          "description": "The default value of the restriction. bundle and bundleArray restrictions never have a default value.",
          "$ref": "AppRestrictionsSchemaRestrictionRestrictionValue"
        },
        "title": {
          "description": "The name of the restriction.",
          "type": "string"
        },
        "entryValue": {
          "description": "For choice or multiselect restrictions, the list of possible entries' machine-readable values. These values should be used in the configuration, either as a single string value for a choice restriction or in a stringArray for a multiselect restriction.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "A longer description of the restriction, giving more detail of what it affects."
        },
        "entry": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "For choice or multiselect restrictions, the list of possible entries' human-readable names."
        },
        "nestedRestriction": {
          "type": "array",
          "description": "For bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction is always nested within a bundleArray restriction, and a bundleArray restriction is at most two levels deep.",
          "items": {
            "$ref": "AppRestrictionsSchemaRestriction"
          }
        }
      },
      "description": "A restriction in the App Restriction Schema represents a piece of configuration that may be pre-applied."
    },
    "EnterpriseUpgradeEvent": {
      "id": "EnterpriseUpgradeEvent",
      "type": "object",
      "properties": {
        "upgradeState": {
          "description": "The upgrade state.",
          "enum": [
            "upgradeStateUnspecified",
            "upgradeStateSucceeded"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified. This value is not used.",
            "The upgrade has succeeded."
          ]
        }
      },
      "description": "An event generated when an enterprise is upgraded."
    },
    "ProductsApproveRequest": {
      "id": "ProductsApproveRequest",
      "type": "object",
      "properties": {
        "approvedPermissions": {
          "type": "string",
          "description": "Sets how new permission requests for the product are handled. \"allPermissions\" automatically approves all current and future permissions for the product. \"currentPermissionsOnly\" approves the current set of permissions for the product, but any future permissions added through updates will require manual reapproval. If not specified, only the current set of permissions will be approved.",
          "enum": [
            "currentPermissionsOnly",
            "allPermissions"
          ],
          "enumDescriptions": [
            "Approve only the permissions the product requires at approval time. If an update requires additional permissions, the app will not be updated on devices associated with enterprise users until the additional permissions are approved.",
            "All current and future permissions the app requires are automatically approved."
          ]
        },
        "approvalUrlInfo": {
          "description": "The approval URL that was shown to the user. Only the permissions shown to the user with that URL will be accepted, which may not be the product's entire set of permissions. For example, the URL may only display new permissions from an update after the product was approved, or not include new permissions if the product was updated since the URL was generated.",
          "$ref": "ApprovalUrlInfo"
        }
      }
    },
    "LocalizedText": {
      "id": "LocalizedText",
      "type": "object",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The BCP47 tag for a locale. (e.g. \"en-US\", \"de\")."
        },
        "text": {
          "description": "The text localized in the associated locale.",
          "type": "string"
        }
      },
      "description": "A localized string with its locale."
    },
    "ProductsGenerateApprovalUrlResponse": {
      "id": "ProductsGenerateApprovalUrlResponse",
      "type": "object",
      "properties": {
        "url": {
          "type": "string",
          "description": "A URL that can be rendered in an iframe to display the permissions (if any) of a product. This URL can be used to approve the product only once and only within 24 hours of being generated, using the Products.approve call. If the product is currently unapproved and has no permissions, this URL will point to an empty page. If the product is currently approved, a URL will only be generated if that product has added permissions since it was last approved, and the URL will only display those new permissions that have not yet been accepted."
        }
      }
    },
    "ProductPermission": {
      "type": "object",
      "properties": {
        "permissionId": {
          "type": "string",
          "description": "An opaque string uniquely identifying the permission."
        },
        "state": {
          "type": "string",
          "description": "Whether the permission has been accepted or not.",
          "enum": [
            "required",
            "accepted"
          ],
          "enumDescriptions": [
            "The permission is required by the app but has not yet been accepted by the enterprise.",
            "The permission has been accepted by the enterprise."
          ]
        }
      },
      "description": "A product permissions resource represents the set of permissions required by a specific app and whether or not they have been accepted by an enterprise admin. The API can be used to read the set of permissions, and also to update the set to indicate that permissions have been accepted.",
      "id": "ProductPermission"
    },
    "AppState": {
      "id": "AppState",
      "type": "object",
      "properties": {
        "keyedAppState": {
          "items": {
            "$ref": "KeyedAppState"
          },
          "type": "array",
          "description": "List of keyed app states. This field will always be present."
        },
        "packageName": {
          "description": "The package name of the app. This field will always be present.",
          "type": "string"
        }
      },
      "description": "List of states set by the app."
    },
    "EnterprisesSendTestPushNotificationResponse": {
      "id": "EnterprisesSendTestPushNotificationResponse",
      "type": "object",
      "properties": {
        "topicName": {
          "description": "The name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled account will be sent.",
          "type": "string"
        },
        "messageId": {
          "type": "string",
          "description": "The message ID of the test push notification that was sent."
        }
      }
    },
    "GenerateEnterpriseUpgradeUrlResponse": {
      "id": "GenerateEnterpriseUpgradeUrlResponse",
      "description": "Response message for generating a URL to upgrade an existing managed Google Play Accounts enterprise to a managed Google domain.",
      "type": "object",
      "properties": {
        "url": {
          "description": "A URL for an enterprise admin to upgrade their enterprise. The page can't be rendered in an iframe.",
          "type": "string"
        }
      }
    },
    "EntitlementsListResponse": {
      "id": "EntitlementsListResponse",
      "type": "object",
      "properties": {
        "entitlement": {
          "items": {
            "$ref": "Entitlement"
          },
          "description": "An entitlement of a user to a product (e.g. an app). For example, a free app that they have installed, or a paid app that they have been allocated a license to.",
          "type": "array"
        }
      }
    },
    "EnterprisesListResponse": {
      "id": "EnterprisesListResponse",
      "type": "object",
      "properties": {
        "enterprise": {
          "items": {
            "$ref": "Enterprise"
          },
          "description": "An enterprise.",
          "type": "array"
        }
      }
    },
    "EnterpriseAccount": {
      "id": "EnterpriseAccount",
      "description": "A service account that can be used to authenticate as the enterprise to API calls that require such authentication.",
      "type": "object",
      "properties": {
        "accountEmail": {
          "type": "string",
          "description": "The email address of the service account."
        }
      }
    },
    "DeviceReport": {
      "id": "DeviceReport",
      "type": "object",
      "properties": {
        "lastUpdatedTimestampMillis": {
          "description": "The timestamp of the last report update in milliseconds since epoch. This field will always be present.",
          "type": "string",
          "format": "int64"
        },
        "appState": {
          "items": {
            "$ref": "AppState"
          },
          "type": "array",
          "description": "List of app states set by managed apps on the device. App states are defined by the app's developers. This field will always be present."
        }
      },
      "description": "Device report updated with the latest app states for managed apps on the device."
    },
    "Notification": {
      "id": "Notification",
      "description": "A notification of one event relating to an enterprise.",
      "type": "object",
      "properties": {
        "newDeviceEvent": {
          "description": "Notifications about new devices.",
          "$ref": "NewDeviceEvent"
        },
        "enterpriseId": {
          "type": "string",
          "description": "The ID of the enterprise for which the notification is sent. This will always be present."
        },
        "appRestrictionsSchemaChangeEvent": {
          "description": "Notifications about new app restrictions schema changes.",
          "$ref": "AppRestrictionsSchemaChangeEvent"
        },
        "productAvailabilityChangeEvent": {
          "description": "Notifications about product availability changes.",
          "$ref": "ProductAvailabilityChangeEvent"
        },
        "deviceReportUpdateEvent": {
          "description": "Notifications about device report updates.",
          "$ref": "DeviceReportUpdateEvent"
        },
        "appUpdateEvent": {
          "description": "Notifications about app updates.",
          "$ref": "AppUpdateEvent"
        },
        "timestampMillis": {
          "format": "int64",
          "description": "The time when the notification was published in milliseconds since 1970-01-01T00:00:00Z. This will always be present.",
          "type": "string"
        },
        "productApprovalEvent": {
          "description": "Notifications about changes to a product's approval status.",
          "$ref": "ProductApprovalEvent"
        },
        "newPermissionsEvent": {
          "description": "Notifications about new app permissions.",
          "$ref": "NewPermissionsEvent"
        },
        "enterpriseUpgradeEvent": {
          "description": "Notifications about enterprise upgrade.",
          "$ref": "EnterpriseUpgradeEvent"
        },
        "notificationType": {
          "type": "string",
          "description": "Type of the notification.",
          "enum": [
            "unknown",
            "testNotification",
            "productApproval",
            "installFailure",
            "appUpdate",
            "newPermissions",
            "appRestricionsSchemaChange",
            "productAvailabilityChange",
            "newDevice",
            "deviceReportUpdate",
            "enterpriseUpgrade"
          ],
          "enumDescriptions": [
            "",
            "A test push notification.",
            "Notification about change to a product's approval status.",
            "Notification about an app installation failure.",
            "Notification about app update.",
            "Notification about new app permissions.",
            "Notification about new app restrictions schema change.",
            "Notification about product availability change.",
            "Notification about a new device.",
            "Notification about an updated device report.",
            "Notification about an enterprise upgrade."
          ]
        },
        "installFailureEvent": {
          "description": "Notifications about an app installation failure.",
          "$ref": "InstallFailureEvent"
        }
      }
    },
    "AdministratorWebToken": {
      "id": "AdministratorWebToken",
      "description": "A token authorizing an admin to access an iframe.",
      "type": "object",
      "properties": {
        "token": {
          "description": "An opaque token to be passed to the Play front-end to generate an iframe.",
          "type": "string"
        }
      }
    },
    "ProductAvailabilityChangeEvent": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the product availability changed. This field will always be present."
        },
        "availabilityStatus": {
          "enumDescriptions": [
            "Conveys no information.",
            "The previously unavailable product is again available on Google Play.",
            "The product was removed from Google Play.",
            "The product was unpublished by the developer."
          ],
          "description": "The new state of the product. This field will always be present.",
          "enum": [
            "unknown",
            "available",
            "removed",
            "unpublished"
          ],
          "type": "string"
        }
      },
      "description": "An event generated whenever a product's availability changes.",
      "id": "ProductAvailabilityChangeEvent"
    },
    "MaintenanceWindow": {
      "type": "object",
      "properties": {
        "startTimeAfterMidnightMs": {
          "description": "Start time of the maintenance window, in milliseconds after midnight on the device. Windows can span midnight.",
          "type": "string",
          "format": "int64"
        },
        "durationMs": {
          "type": "string",
          "description": "Duration of the maintenance window, in milliseconds. The duration must be between 30 minutes and 24 hours (inclusive).",
          "format": "int64"
        }
      },
      "description": "Maintenance window for managed Google Play Accounts. This allows Play store to update the apps on the foreground in the designated window.",
      "id": "MaintenanceWindow"
    },
    "KeyedAppState": {
      "type": "object",
      "properties": {
        "message": {
          "description": "Free-form, human-readable message describing the app state. For example, an error message. To prevent XSS, we recommend removing any HTML from the message before displaying it.",
          "type": "string"
        },
        "data": {
          "type": "string",
          "description": "Additional field intended for machine-readable data. For example, a number or JSON object. To prevent XSS, we recommend removing any HTML from the data before displaying it."
        },
        "key": {
          "type": "string",
          "description": "Key indicating what the app is providing a state for. The content of the key is set by the app's developer. To prevent XSS, we recommend removing any HTML from the key before displaying it. This field will always be present."
        },
        "stateTimestampMillis": {
          "format": "int64",
          "description": "Timestamp of when the app set the state in milliseconds since epoch. This field will always be present.",
          "type": "string"
        },
        "severity": {
          "description": "Severity of the app state. This field will always be present.",
          "enum": [
            "severityUnknown",
            "severityInfo",
            "severityError"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "description": "Represents a keyed app state containing a key, timestamp, severity level, optional description, and optional data.",
      "id": "KeyedAppState"
    },
    "AdministratorWebTokenSpecManagedConfigurations": {
      "id": "AdministratorWebTokenSpecManagedConfigurations",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the Managed Configuration page is displayed. Default is true.",
          "type": "boolean"
        }
      }
    },
    "AuthenticationToken": {
      "id": "AuthenticationToken",
      "description": "An AuthenticationToken is used by the EMM's device policy client on a device to provision the given EMM-managed user on that device.",
      "type": "object",
      "properties": {
        "token": {
          "description": "The authentication token to be passed to the device policy client on the device where it can be used to provision the account for which this token was generated.",
          "type": "string"
        }
      }
    },
    "GroupLicense": {
      "type": "object",
      "properties": {
        "permissions": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The permission approval status of the product. This field is only set if the product is approved. Possible states are: - \"currentApproved\", the current set of permissions is approved, but additional permissions will require the administrator to reapprove the product (If the product was approved without specifying the approved permissions setting, then this is the default behavior.), - \"needsReapproval\", the product has unapproved permissions. No additional product licenses can be assigned until the product is reapproved, - \"allCurrentAndFutureApproved\", the current permissions are approved and any future permission updates will be automatically approved without administrator review. ",
          "enum": [
            "currentApproved",
            "needsReapproval",
            "allCurrentAndFutureApproved"
          ]
        },
        "productId": {
          "description": "The ID of the product that the license is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        },
        "numPurchased": {
          "format": "int32",
          "description": "The number of purchased licenses (possibly in multiple purchases). If this field is omitted, then there is no limit on the number of licenses that can be provisioned (for example, if the acquisition kind is \"free\").",
          "type": "integer"
        },
        "acquisitionKind": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "How this group license was acquired. \"bulkPurchase\" means that this Grouplicenses resource was created because the enterprise purchased licenses for this product; otherwise, the value is \"free\" (for free products).",
          "enum": [
            "free",
            "bulkPurchase"
          ]
        },
        "approval": {
          "description": "Whether the product to which this group license relates is currently approved by the enterprise. Products are approved when a group license is first created, but this approval may be revoked by an enterprise admin via Google Play. Unapproved products will not be visible to end users in collections, and new entitlements to them should not normally be created.",
          "enum": [
            "approved",
            "unapproved"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "numProvisioned": {
          "description": "The total number of provisioned licenses for this product. Returned by read operations, but ignored in write operations.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": " *Deprecated:* New integrations cannot use this method and can refer to our new recommendations ",
      "id": "GroupLicense"
    },
    "ProductSet": {
      "id": "ProductSet",
      "description": "A set of products.",
      "type": "object",
      "properties": {
        "productId": {
          "type": "array",
          "description": "The list of product IDs making up the set of products.",
          "items": {
            "type": "string"
          }
        },
        "productSetBehavior": {
          "enumDescriptions": [
            "This value should never be sent and ignored if received.",
            "This product set constitutes a whitelist.",
            "This product set represents all products. For Android app it represents only \"production\" track. (The value of the productId field is therefore ignored).",
            "This product set represents all approved products. For Android app it represents only \"production\" track. (The value of the product_id field is therefore ignored)."
          ],
          "type": "string",
          "description": "The interpretation of this product set. \"unknown\" should never be sent and is ignored if received. \"whitelist\" means that the user is entitled to access the product set. \"includeAll\" means that all products are accessible, including products that are approved, products with revoked approval, and products that have never been approved. \"allApproved\" means that the user is entitled to access all products that are approved for the enterprise. If the value is \"allApproved\" or \"includeAll\", the productId field is ignored. If no value is provided, it is interpreted as \"whitelist\" for backwards compatibility. Further \"allApproved\" or \"includeAll\" does not enable automatic visibility of \"alpha\" or \"beta\" tracks for Android app. Use ProductVisibility to enable \"alpha\" or \"beta\" tracks per user.",
          "enum": [
            "unknown",
            "whitelist",
            "includeAll",
            "allApproved"
          ]
        },
        "productVisibility": {
          "items": {
            "$ref": "ProductVisibility"
          },
          "description": "Additional list of product IDs making up the product set. Unlike the productID array, in this list It's possible to specify which tracks (alpha, beta, production) of a product are visible to the user. See ProductVisibility and its fields for more information. Specifying the same product ID both here and in the productId array is not allowed and it will result in an error.",
          "type": "array"
        }
      }
    },
    "VariableSet": {
      "id": "VariableSet",
      "type": "object",
      "properties": {
        "placeholder": {
          "description": "The placeholder string; defined by EMM.",
          "type": "string"
        },
        "userValue": {
          "type": "string",
          "description": "The value of the placeholder, specific to the user."
        }
      },
      "description": "A variable set is a key-value pair of EMM-provided placeholders and its corresponding value, which is attributed to a user. For example, $FIRSTNAME could be a placeholder, and its value could be Alice. Placeholders should start with a '$' sign and should be alphanumeric only."
    },
    "ProductsListResponse": {
      "id": "ProductsListResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination information for token pagination.",
          "$ref": "TokenPagination"
        },
        "product": {
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "description": "Information about a product (e.g. an app) in the Google Play store, for display to an enterprise admin."
        }
      }
    },
    "StoreCluster": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Unique ID of this cluster. Assigned by the server. Immutable once assigned."
        },
        "name": {
          "items": {
            "$ref": "LocalizedText"
          },
          "description": "Ordered list of localized strings giving the name of this page. The text displayed is the one that best matches the user locale, or the first entry if there is no good match. There needs to be at least one entry.",
          "type": "array"
        },
        "productId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of products in the order they are displayed in the cluster. There should not be duplicates within a cluster."
        },
        "orderInPage": {
          "type": "string",
          "description": "String (US-ASCII only) used to determine order of this cluster within the parent page's elements. Page elements are sorted in lexicographic order of this field. Duplicated values are allowed, but ordering between elements with duplicate order is undefined. The value of this field is never visible to a user, it is used solely for the purpose of defining an ordering. Maximum length is 256 characters."
        }
      },
      "description": "Definition of a managed Google Play store cluster, a list of products displayed as part of a store page.",
      "id": "StoreCluster"
    },
    "UsersListResponse": {
      "id": "UsersListResponse",
      "type": "object",
      "properties": {
        "user": {
          "description": "A user of an enterprise.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        }
      }
    },
    "WebApp": {
      "id": "WebApp",
      "description": "A WebApps resource represents a web app created for an enterprise. Web apps are published to managed Google Play and can be distributed like other Android apps. On a user's device, a web app opens its specified URL.",
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "The title of the web app as displayed to the user (e.g., amongst a list of other applications, or as a label for an icon)."
        },
        "isPublished": {
          "description": "A flag whether the app has been published to the Play store yet.",
          "type": "boolean"
        },
        "icons": {
          "description": "A list of icons representing this website. If absent, a default icon (for create) or the current icon (for update) will be used.",
          "type": "array",
          "items": {
            "$ref": "WebAppIcon"
          }
        },
        "displayMode": {
          "enumDescriptions": [
            "",
            "Opens the web app with a minimal set of browser UI elements for controlling navigation and viewing the page URL.",
            "Opens the web app to look and feel like a standalone native application. The browser UI elements and page URL are not visible, however the system status bar and back button are visible.",
            "Opens the web app in full screen without any visible controls. The browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area."
          ],
          "description": "The display mode of the web app. Possible values include: - \"minimalUi\", the device's status bar, navigation bar, the app's URL, and a refresh button are visible when the app is open. For HTTP URLs, you can only select this option. - \"standalone\", the device's status bar and navigation bar are visible when the app is open. - \"fullScreen\", the app opens in full screen mode, hiding the device's status and navigation bars. All browser UI elements, page URL, system status bar and back button are not visible, and the web app takes up the entirety of the available display area. ",
          "enum": [
            "displayModeUnspecified",
            "minimalUi",
            "standalone",
            "fullScreen"
          ],
          "type": "string"
        },
        "versionCode": {
          "format": "int64",
          "type": "string",
          "description": "The current version of the app. Note that the version can automatically increase during the lifetime of the web app, while Google does internal housekeeping to keep the web app up-to-date."
        },
        "startUrl": {
          "description": "The start URL, i.e. the URL that should load when the user opens the application.",
          "type": "string"
        },
        "webAppId": {
          "description": "The ID of the application. A string of the form \"app:<package name>\" where the package name always starts with the prefix \"com.google.enterprise.webapp.\" followed by a random id.",
          "type": "string"
        }
      }
    },
    "AdministratorWebTokenSpecWebApps": {
      "id": "AdministratorWebTokenSpecWebApps",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Web Apps page is displayed. Default is true."
        }
      }
    },
    "AdministratorWebTokenSpecPrivateApps": {
      "id": "AdministratorWebTokenSpecPrivateApps",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the Private Apps page is displayed. Default is true."
        }
      }
    },
    "AppUpdateEvent": {
      "description": "An event generated when a new version of an app is uploaded to Google Play. Notifications are sent for new public versions only: alpha, beta, or canary versions do not generate this event. To fetch up-to-date version history for an app, use Products.Get on the EMM API.",
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field will always be present."
        }
      },
      "id": "AppUpdateEvent"
    },
    "AutoInstallPolicy": {
      "type": "object",
      "properties": {
        "autoInstallPriority": {
          "description": "The priority of the install, as an unsigned integer. A lower number means higher priority.",
          "type": "integer",
          "format": "int32"
        },
        "autoInstallConstraint": {
          "items": {
            "$ref": "AutoInstallConstraint"
          },
          "description": "The constraints for auto-installing the app. You can specify a maximum of one constraint.",
          "type": "array"
        },
        "minimumVersionCode": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum version of the app. If a lower version of the app is installed, then the app will be auto-updated according to the auto-install constraints, instead of waiting for the regular auto-update. You can set a minimum version code for at most 20 apps per device."
        },
        "autoInstallMode": {
          "enumDescriptions": [
            "",
            "The product is not installed automatically, the user needs to install it from the Play Store.",
            "The product is automatically installed once, if the user uninstalls the product it will not be installed again.",
            "The product is automatically installed, if the user uninstalls the product it will be installed again. On managed devices the DPC should block uninstall."
          ],
          "type": "string",
          "description": "The auto-install mode. If unset, defaults to \"doNotAutoInstall\". An app is automatically installed regardless of a set maintenance window.",
          "enum": [
            "autoInstallModeUnspecified",
            "doNotAutoInstall",
            "autoInstallOnce",
            "forceAutoInstall"
          ]
        }
      },
      "id": "AutoInstallPolicy"
    },
    "InstallsListResponse": {
      "id": "InstallsListResponse",
      "type": "object",
      "properties": {
        "install": {
          "items": {
            "$ref": "Install"
          },
          "description": "An installation of an app for a user on a specific device. The existence of an install implies that the user must have an entitlement to the app.",
          "type": "array"
        }
      }
    },
    "NotificationSet": {
      "description": "A resource returned by the PullNotificationSet API, which contains a collection of notifications for enterprises associated with the service account authenticated for the request.",
      "type": "object",
      "properties": {
        "notificationSetId": {
          "type": "string",
          "description": "The notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification API. This will be omitted if no notifications are present."
        },
        "notification": {
          "items": {
            "$ref": "Notification"
          },
          "type": "array",
          "description": "The notifications received, or empty if no notifications are present."
        }
      },
      "id": "NotificationSet"
    },
    "AppRestrictionsSchemaChangeEvent": {
      "id": "AppRestrictionsSchemaChangeEvent",
      "description": "An event generated when a new app version is uploaded to Google Play and its app restrictions schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema on the EMM API.",
      "type": "object",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction schema changed. This field will always be present.",
          "type": "string"
        }
      }
    },
    "AutoInstallConstraint": {
      "description": "The auto-install constraint. Defines a set of restrictions for installation. At least one of the fields must be set.",
      "type": "object",
      "properties": {
        "deviceIdleStateConstraint": {
          "enumDescriptions": [
            "",
            "Device doesn't have to be idle, app can be installed while the user is interacting with the device.",
            "Device has to be idle."
          ],
          "description": "Device idle state constraint.",
          "enum": [
            "deviceIdleStateConstraintUnspecified",
            "deviceIdleNotRequired",
            "deviceIdleRequired"
          ],
          "type": "string"
        },
        "networkTypeConstraint": {
          "type": "string",
          "description": "Network type constraint.",
          "enum": [
            "networkTypeConstraintUnspecified",
            "anyNetwork",
            "unmeteredNetwork"
          ],
          "enumDescriptions": [
            "",
            "Any active networks (Wi-Fi, cellular, etc.).",
            "Any unmetered network (e.g. Wi-FI)."
          ]
        },
        "chargingStateConstraint": {
          "type": "string",
          "description": "Charging state constraint.",
          "enum": [
            "chargingStateConstraintUnspecified",
            "chargingNotRequired",
            "chargingRequired"
          ],
          "enumDescriptions": [
            "",
            "Device doesn't have to be charging.",
            "Device has to be charging."
          ]
        }
      },
      "id": "AutoInstallConstraint"
    },
    "ProductVisibility": {
      "type": "object",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The product ID to make visible to the user. Required for each item in the productVisibility list."
        },
        "tracks": {
          "description": "Deprecated. Use trackIds instead.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "appTrackUnspecified",
              "production",
              "beta",
              "alpha"
            ]
          }
        },
        "trackIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Grants the user visibility to the specified product track(s), identified by trackIds."
        }
      },
      "description": "A product to be made visible to a user.",
      "id": "ProductVisibility"
    },
    "StoreLayoutClustersListResponse": {
      "type": "object",
      "properties": {
        "cluster": {
          "items": {
            "$ref": "StoreCluster"
          },
          "type": "array",
          "description": "A store cluster of an enterprise."
        }
      },
      "id": "StoreLayoutClustersListResponse"
    },
    "AppRestrictionsSchemaRestrictionRestrictionValue": {
      "id": "AppRestrictionsSchemaRestrictionRestrictionValue",
      "type": "object",
      "properties": {
        "valueBool": {
          "description": "The boolean value - this will only be present if type is bool.",
          "type": "boolean"
        },
        "valueString": {
          "type": "string",
          "description": "The string value - this will be present for types string, choice and hidden."
        },
        "valueMultiselect": {
          "description": "The list of string values - this will only be present if type is multiselect.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "enumDescriptions": [
            "A restriction of boolean type.",
            "A restriction of string type.",
            "A restriction of integer type.",
            "A choice of one item from a set.",
            "A choice of multiple items from a set.",
            "A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).",
            "[M+ devices only] A bundle of restrictions",
            "[M+ devices only] An array of restriction bundles"
          ],
          "description": "The type of the value being provided.",
          "enum": [
            "bool",
            "string",
            "integer",
            "choice",
            "multiselect",
            "hidden",
            "bundle",
            "bundleArray"
          ],
          "type": "string"
        },
        "valueInteger": {
          "format": "int32",
          "type": "integer",
          "description": "The integer value - this will only be present if type is integer."
        }
      },
      "description": "A typed value for the restriction."
    },
    "AdministratorWebTokenSpecPlaySearch": {
      "id": "AdministratorWebTokenSpecPlaySearch",
      "type": "object",
      "properties": {
        "approveApps": {
          "description": "Allow access to the iframe in approve mode. Default is false.",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the managed Play Search apps page is displayed. Default is true."
        }
      }
    },
    "ManagedProperty": {
      "id": "ManagedProperty",
      "description": "A managed property of a managed configuration. The property must match one of the properties in the app restrictions schema of the product. Exactly one of the value fields must be populated, and it must match the property's type in the app restrictions schema.",
      "type": "object",
      "properties": {
        "valueBundleArray": {
          "items": {
            "$ref": "ManagedPropertyBundle"
          },
          "type": "array",
          "description": "The list of bundles of properties - this will only be present if type of the property is bundle_array."
        },
        "valueBool": {
          "description": "The boolean value - this will only be present if type of the property is bool.",
          "type": "boolean"
        },
        "valueString": {
          "description": "The string value - this will only be present if type of the property is string, choice or hidden.",
          "type": "string"
        },
        "valueStringArray": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The list of string values - this will only be present if type of the property is multiselect."
        },
        "valueBundle": {
          "description": "The bundle of managed properties - this will only be present if type of the property is bundle.",
          "$ref": "ManagedPropertyBundle"
        },
        "key": {
          "description": "The unique key that identifies the property.",
          "type": "string"
        },
        "valueInteger": {
          "format": "int32",
          "description": "The integer value - this will only be present if type of the property is integer.",
          "type": "integer"
        }
      }
    },
    "ProductApprovalEvent": {
      "id": "ProductApprovalEvent",
      "description": "An event generated when a product's approval status is changed.",
      "type": "object",
      "properties": {
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the approval status has changed. This field will always be present.",
          "type": "string"
        },
        "approved": {
          "type": "string",
          "description": "Whether the product was approved or unapproved. This field will always be present.",
          "enum": [
            "unknown",
            "approved",
            "unapproved"
          ],
          "enumDescriptions": [
            "Conveys no information.",
            "The product was approved.",
            "The product was unapproved."
          ]
        }
      }
    },
    "User": {
      "description": "A Users resource represents an account associated with an enterprise. The account may be specific to a device or to an individual user (who can then use the account across multiple devices). The account may provide access to managed Google Play only, or to other Google services, depending on the identity model: - The Google managed domain identity model requires synchronization to Google account sources (via primaryEmail). - The managed Google Play Accounts identity model provides a dynamic means for enterprises to create user or device accounts as needed. These accounts provide access to managed Google Play. ",
      "type": "object",
      "properties": {
        "id": {
          "description": "The unique ID for the user.",
          "type": "string"
        },
        "managementType": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "The entity that manages the user. With googleManaged users, the source of truth is Google so EMMs have to make sure a Google Account exists for the user. With emmManaged users, the EMM is in charge.",
          "enum": [
            "googleManaged",
            "emmManaged"
          ]
        },
        "accountType": {
          "description": "The type of account that this user represents. A userAccount can be installed on multiple devices, but a deviceAccount is specific to a single device. An EMM-managed user (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed user (googleManaged) is always a userAccount.",
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "enum": [
            "deviceAccount",
            "userAccount"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "primaryEmail": {
          "type": "string",
          "description": "The user's primary email address, for example, \"jsmith@example.com\". Will always be set for Google managed users and not set for EMM managed users."
        },
        "displayName": {
          "type": "string",
          "description": "The name that will appear in user interfaces. Setting this property is optional when creating EMM-managed users. If you do set this property, use something generic about the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for Google-managed user accounts. @mutable androidenterprise.users.update"
        },
        "accountIdentifier": {
          "annotations": {
            "required": [
              "androidenterprise.users.insert"
            ]
          },
          "type": "string",
          "description": "A unique identifier you create for this user, such as \"user342\" or \"asset#44418\". Do not use personally identifiable information (PII) for this property. Must always be set for EMM-managed users. Not set for Google-managed users."
        }
      },
      "id": "User"
    },
    "AdministratorWebTokenSpec": {
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "Unknown permission.",
              "Permission to approve and unapprove apps.",
              "Permission to manage app restrictions."
            ],
            "type": "string",
            "enum": [
              "unknown",
              "approveApps",
              "manageMcm"
            ]
          },
          "type": "array",
          "description": "Deprecated. Use PlaySearch.approveApps."
        },
        "parent": {
          "description": "The URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be hosted at other URIs. This URI must be https. Use whitespaces to separate multiple parent URIs.",
          "type": "string"
        },
        "webApps": {
          "description": "Options for displaying the Web Apps page.",
          "$ref": "AdministratorWebTokenSpecWebApps"
        },
        "managedConfigurations": {
          "description": "Options for displaying the Managed Configuration page.",
          "$ref": "AdministratorWebTokenSpecManagedConfigurations"
        },
        "playSearch": {
          "description": "Options for displaying the managed Play Search apps page.",
          "$ref": "AdministratorWebTokenSpecPlaySearch"
        },
        "storeBuilder": {
          "description": "Options for displaying the Organize apps page.",
          "$ref": "AdministratorWebTokenSpecStoreBuilder"
        },
        "zeroTouch": {
          "description": "Options for displaying the Zero Touch page.",
          "$ref": "AdministratorWebTokenSpecZeroTouch"
        },
        "privateApps": {
          "description": "Options for displaying the Private Apps page.",
          "$ref": "AdministratorWebTokenSpecPrivateApps"
        }
      },
      "description": "Specification for a token used to generate iframes. The token specifies what data the admin is allowed to modify and the URI the iframe is allowed to communiate with.",
      "id": "AdministratorWebTokenSpec"
    },
    "InstallFailureEvent": {
      "id": "InstallFailureEvent",
      "description": "An event generated when an app installation failed on a device",
      "type": "object",
      "properties": {
        "deviceId": {
          "type": "string",
          "description": "The Android ID of the device. This field will always be present."
        },
        "userId": {
          "type": "string",
          "description": "The ID of the user. This field will always be present."
        },
        "failureReason": {
          "type": "string",
          "description": "The reason for the installation failure. This field will always be present.",
          "enum": [
            "unknown",
            "timeout"
          ],
          "enumDescriptions": [
            "Used whenever no better reason for failure can be provided.",
            "Used when the installation timed out. This can cover a number of situations, for example when the device did not have connectivity at any point during the retry period, or if the device is OOM."
          ]
        },
        "productId": {
          "description": "The id of the product (e.g. \"app:com.google.android.gm\") for which the install failure event occured. This field will always be present.",
          "type": "string"
        },
        "failureDetails": {
          "description": "Additional details on the failure if applicable.",
          "type": "string"
        }
      }
    },
    "PageInfo": {
      "id": "PageInfo",
      "type": "object",
      "properties": {
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        },
        "resultPerPage": {
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        }
      },
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned."
    },
    "Install": {
      "id": "Install",
      "type": "object",
      "properties": {
        "versionCode": {
          "format": "int32",
          "description": "The version of the installed product. Guaranteed to be set only if the install state is \"installed\".",
          "type": "integer"
        },
        "installState": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "description": "Install state. The state \"installPending\" means that an install request has recently been made and download to the device is in progress. The state \"installed\" means that the app has been installed. This field is read-only.",
          "enum": [
            "installed",
            "installPending"
          ]
        },
        "productId": {
          "description": "The ID of the product that the install is for. For example, \"app:com.google.android.gm\".",
          "type": "string"
        }
      },
      "description": "The existence of an Installs resource indicates that an app is installed on a particular device (or that an install is pending). The API can be used to create an install resource using the update method. This triggers the actual install of the app on the device. If the user does not already have an entitlement for the app, then an attempt is made to create one. If this fails (for example, because the app is not free and there is no available license), then the creation of the install fails. The API can also be used to update an installed app. If the update method is used on an existing install, then the app will be updated to the latest available version. Note that it is not possible to force the installation of a specific version of an app: the version code is read-only. If a user installs an app themselves (as permitted by the enterprise), then again an install resource and possibly an entitlement resource are automatically created. The API can also be used to delete an install resource, which triggers the removal of the app from the device. Note that deleting an install does not automatically remove the corresponding entitlement, even if there are no remaining installs. The install resource will also be deleted if the user uninstalls the app themselves."
    },
    "ProductPermissions": {
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "$ref": "ProductPermission"
          },
          "description": "The permissions required by the app.",
          "type": "array"
        },
        "productId": {
          "type": "string",
          "description": "The ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\"."
        }
      },
      "description": "Information about the permissions required by a specific app and whether they have been accepted by the enterprise.",
      "id": "ProductPermissions"
    },
    "NewPermissionsEvent": {
      "id": "NewPermissionsEvent",
      "description": "An event generated when new permissions are added to an app.",
      "type": "object",
      "properties": {
        "requestedPermissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions that the app is currently requesting. Use Permissions.Get on the EMM API to retrieve details about these permissions.",
          "type": "array"
        },
        "approvedPermissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The set of permissions that the enterprise admin has already approved for this application. Use Permissions.Get on the EMM API to retrieve details about these permissions."
        },
        "productId": {
[...]
