{
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "discoveryVersion": "v1",
  "schemas": {
    "SubscriptionOffer": {
      "type": "object",
      "description": "A single, temporary offer",
      "properties": {
        "otherRegionsConfig": {
          "description": "The configuration for any new locations Play may launch in the future.",
          "$ref": "OtherRegionsSubscriptionOfferConfig"
        },
        "offerId": {
          "type": "string",
          "description": "Required. Immutable. Unique ID of this subscription offer. Must be unique within the base plan."
        },
        "targeting": {
          "$ref": "SubscriptionOfferTargeting",
          "description": "The requirements that users need to fulfil to be eligible for this offer. Represents the requirements that Play will evaluate to decide whether an offer should be returned. Developers may further filter these offers themselves."
        },
        "packageName": {
          "type": "string",
          "description": "Required. Immutable. The package name of the app the parent subscription belongs to."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The ID of the base plan to which this offer is an extension."
        },
        "state": {
          "type": "string",
          "description": "Output only. The current state of this offer. Can be changed using Activate and Deactivate actions. NB: the base plan state supersedes this state, so an active offer may not be available if the base plan is not active.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Default value, should never be used.",
            "The subscription offer is not and has never been available to users.",
            "The subscription offer is available to new and existing users.",
            "The subscription offer is not available to new users. Existing users retain access."
          ]
        },
        "phases": {
          "description": "Required. The phases of this subscription offer. Must contain at least one and at most two entries. Users will always receive all these phases in the specified order.",
          "type": "array",
          "items": {
            "$ref": "SubscriptionOfferPhase"
          }
        },
        "offerTags": {
          "type": "array",
          "description": "List of up to 20 custom tags specified for this offer, and returned to the app through the billing library.",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "productId": {
          "description": "Required. Immutable. The ID of the parent subscription this offer belongs to.",
          "type": "string"
        },
        "regionalConfigs": {
          "items": {
            "$ref": "RegionalSubscriptionOfferConfig"
          },
          "type": "array",
          "description": "Required. The region-specific configuration of this offer. Must contain at least one entry."
        }
      },
      "id": "SubscriptionOffer"
    },
    "CancelAppRecoveryResponse": {
      "type": "object",
      "description": "Response message for CancelAppRecovery.",
      "properties": {},
      "id": "CancelAppRecoveryResponse"
    },
    "ApksAddExternallyHostedRequest": {
      "id": "ApksAddExternallyHostedRequest",
      "properties": {
        "externallyHostedApk": {
          "description": "The definition of the externally-hosted APK and where it is located.",
          "$ref": "ExternallyHostedApk"
        }
      },
      "description": "Request to create a new externally hosted APK.",
      "type": "object"
    },
    "RemoteInAppUpdate": {
      "id": "RemoteInAppUpdate",
      "properties": {
        "isRemoteInAppUpdateRequested": {
          "type": "boolean",
          "description": "Required. Set to true if Remote In-App Update action type is needed."
        }
      },
      "description": "Object representation for Remote in-app update action type.",
      "type": "object"
    },
    "ApksAddExternallyHostedResponse": {
      "type": "object",
      "description": "Response for creating a new externally hosted APK.",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      },
      "id": "ApksAddExternallyHostedResponse"
    },
    "BatchUpdateSubscriptionOfferStatesRequest": {
      "id": "BatchUpdateSubscriptionOfferStatesRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateSubscriptionOfferStateRequest"
          },
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers.",
          "type": "array"
        }
      },
      "description": "Request message for BatchUpdateSubscriptionOfferStates.",
      "type": "object"
    },
    "PurchaseStateContext": {
      "properties": {
        "purchaseState": {
          "description": "Output only. The purchase state of the purchase.",
          "readOnly": true,
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ],
          "type": "string"
        }
      },
      "id": "PurchaseStateContext",
      "type": "object",
      "description": "Context about the purchase state."
    },
    "UpdateOneTimeProductOfferRequest": {
      "type": "object",
      "description": "Request message for UpdateOneTimeProductOffer.",
      "properties": {
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this offer update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the offer.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "description": "Optional. If set to true, and the offer with the given package_name, product_id, purchase_option_id and offer_id doesn't exist, an offer will be created. If a new offer is created, the update_mask is ignored.",
          "type": "boolean"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        },
        "oneTimeProductOffer": {
          "$ref": "OneTimeProductOffer",
          "description": "Required. The one-time product offer to update."
        }
      },
      "id": "UpdateOneTimeProductOfferRequest"
    },
    "AddTargetingResponse": {
      "properties": {},
      "id": "AddTargetingResponse",
      "type": "object",
      "description": "Response message for AddTargeting."
    },
    "Image": {
      "type": "object",
      "description": "An uploaded image. The resource for ImagesService.",
      "properties": {
        "sha1": {
          "description": "A sha1 hash of the image.",
          "type": "string"
        },
        "id": {
          "description": "A unique id representing this image.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "A URL that will serve a preview of the image."
        },
        "sha256": {
          "type": "string",
          "description": "A sha256 hash of the image."
        }
      },
      "id": "Image"
    },
    "BatchGetSubscriptionsResponse": {
      "description": "Response message for BatchGetSubscriptions endpoint.",
      "type": "object",
      "id": "BatchGetSubscriptionsResponse",
      "properties": {
        "subscriptions": {
          "type": "array",
          "description": "The list of requested subscriptions, in the same order as the request.",
          "items": {
            "$ref": "Subscription"
          }
        }
      }
    },
    "ConvertedRegionPrice": {
      "id": "ConvertedRegionPrice",
      "properties": {
        "price": {
          "description": "The converted price tax inclusive.",
          "$ref": "Money"
        },
        "regionCode": {
          "type": "string",
          "description": "The region code of the region."
        },
        "taxAmount": {
          "description": "The tax amount of the converted price.",
          "$ref": "Money"
        }
      },
      "description": "A converted region price.",
      "type": "object"
    },
    "PaidAppDetails": {
      "description": "Details of a paid app purchase.",
      "type": "object",
      "id": "PaidAppDetails",
      "properties": {}
    },
    "RefundDetails": {
      "description": "Details for a partial or full refund.",
      "type": "object",
      "id": "RefundDetails",
      "properties": {
        "total": {
          "$ref": "Money",
          "description": "The total amount refunded, including tax."
        },
        "tax": {
          "$ref": "Money",
          "description": "The amount of tax refunded."
        }
      }
    },
    "MultiAbi": {
      "properties": {
        "abi": {
          "items": {
            "$ref": "Abi"
          },
          "description": "A list of targeted ABIs, as represented by the Android Platform",
          "type": "array"
        }
      },
      "id": "MultiAbi",
      "type": "object",
      "description": "Represents a list of ABIs."
    },
    "PendingCancellation": {
      "description": "This is an indicator of whether there is a pending cancellation on the virtual installment plan. The cancellation will happen only after the user finished all committed payments.",
      "type": "object",
      "id": "PendingCancellation",
      "properties": {}
    },
    "SubscriptionDetails": {
      "description": "Details of a subscription purchase.",
      "type": "object",
      "id": "SubscriptionDetails",
      "properties": {
        "offerPhase": {
          "type": "string",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "The pricing phase for the billing period funded by this order. Deprecated. Use offer_phase_details instead.",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        },
        "servicePeriodEndTime": {
          "format": "google-datetime",
          "description": "The end of the billing period funded by this order. This is a snapshot of the billing/service period end time at the moment the order was processed, and should be used only for accounting. To get the current end time of the subscription service period, use purchases.subscriptionsv2.get.",
          "type": "string"
        },
        "offerId": {
          "description": "The offer ID for the current subscription offer.",
          "type": "string"
        },
        "basePlanId": {
          "description": "The base plan ID of the subscription.",
          "type": "string"
        },
        "servicePeriodStartTime": {
          "type": "string",
          "description": "The start of the billing period funded by this order. This is a snapshot of the billing/service period start time at the moment the order was processed, and should be used only for accounting.",
          "format": "google-datetime"
        },
        "offerPhaseDetails": {
          "$ref": "OfferPhaseDetails",
          "description": "The pricing phase details for the entitlement period funded by this order."
        }
      }
    },
    "InappproductsUpdateRequest": {
      "id": "InappproductsUpdateRequest",
      "properties": {
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        },
        "packageName": {
          "type": "string",
          "description": "Package name of the app."
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        },
        "allowMissing": {
          "type": "boolean",
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created."
        },
        "autoConvertMissingPrices": {
          "type": "boolean",
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
        }
      },
      "description": "Request to update an in-app product.",
      "type": "object"
    },
    "BatchGetOneTimeProductOffersResponse": {
      "id": "BatchGetOneTimeProductOffersResponse",
      "properties": {
        "oneTimeProductOffers": {
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "type": "array",
          "description": "The list of updated one-time product offers, in the same order as the request."
        }
      },
      "description": "Response message for the BatchGetOneTimeProductOffers endpoint.",
      "type": "object"
    },
    "TargetingRuleScope": {
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "type": "object",
      "id": "TargetingRuleScope",
      "properties": {
        "thisSubscription": {
          "$ref": "TargetingRuleScopeThisSubscription",
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined."
        },
        "anySubscriptionInApp": {
          "description": "The scope of the current targeting rule is any subscription in the parent app.",
          "$ref": "TargetingRuleScopeAnySubscriptionInApp"
        },
        "specificSubscriptionInApp": {
          "type": "string",
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app."
        }
      }
    },
    "TestPurchaseContext": {
      "properties": {
        "fopType": {
          "description": "The fop type of the test purchase.",
          "enum": [
            "FOP_TYPE_UNSPECIFIED",
            "TEST"
          ],
          "type": "string",
          "enumDescriptions": [
            "Fop type unspecified. This value should never be set.",
            "The purchase was made using a test card."
          ]
        }
      },
      "id": "TestPurchaseContext",
      "type": "object",
      "description": "Context about a test purchase."
    },
    "SdkVersion": {
      "id": "SdkVersion",
      "properties": {
        "min": {
          "description": "Inclusive minimum value of an sdk version.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents an sdk version.",
      "type": "object"
    },
    "BatchUpdateSubscriptionOfferStatesResponse": {
      "description": "Response message for BatchUpdateSubscriptionOfferStates.",
      "type": "object",
      "id": "BatchUpdateSubscriptionOfferStatesResponse",
      "properties": {
        "subscriptionOffers": {
          "items": {
            "$ref": "SubscriptionOffer"
          },
          "type": "array",
          "description": "The updated subscription offers list."
        }
      }
    },
    "MultiAbiTargeting": {
      "id": "MultiAbiTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "MultiAbi"
          }
        },
        "value": {
          "items": {
            "$ref": "MultiAbi"
          },
          "type": "array",
          "description": "Value of a multi abi."
        }
      },
      "description": "Targeting based on multiple abis.",
      "type": "object"
    },
    "UserInitiatedCancellation": {
      "properties": {
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "CancelSurveyResult"
        },
        "cancelTime": {
          "type": "string",
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access.",
          "format": "google-datetime"
        }
      },
      "id": "UserInitiatedCancellation",
      "type": "object",
      "description": "Information specific to cancellations initiated by users."
    },
    "VoidedPurchasesListResponse": {
      "properties": {
        "tokenPagination": {
          "$ref": "TokenPagination",
          "description": "Pagination information for token pagination."
        },
        "voidedPurchases": {
          "type": "array",
          "items": {
            "$ref": "VoidedPurchase"
          }
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        }
      },
      "id": "VoidedPurchasesListResponse",
      "type": "object",
      "description": "Response for the voidedpurchases.list API."
    },
    "DeviceTierConfig": {
      "properties": {
        "deviceTierSet": {
          "description": "Definition of the set of device tiers for the app.",
          "$ref": "DeviceTierSet"
        },
        "deviceTierConfigId": {
          "format": "int64",
          "description": "Output only. The device tier config ID.",
          "readOnly": true,
          "type": "string"
        },
        "userCountrySets": {
          "description": "Definition of user country sets for the app.",
          "type": "array",
          "items": {
            "$ref": "UserCountrySet"
          }
        },
        "deviceGroups": {
          "items": {
            "$ref": "DeviceGroup"
          },
          "type": "array",
          "description": "Definition of device groups for the app."
        }
      },
      "id": "DeviceTierConfig",
      "type": "object",
      "description": "Configuration describing device targeting criteria for the content of an app."
    },
    "ExternalAccountIdentifiers": {
      "properties": {
        "externalAccountId": {
          "type": "string",
          "description": "User account identifier in the third-party service. Only present if account linking happened as part of the subscription purchase flow."
        },
        "obfuscatedExternalAccountId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Present for the following purchases: * If account linking happened as part of the subscription purchase flow. * It was specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made."
        },
        "obfuscatedExternalProfileId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made.",
          "type": "string"
        }
      },
      "id": "ExternalAccountIdentifiers",
      "type": "object",
      "description": "User account identifier in the third-party service."
    },
    "BatchUpdateOneTimeProductsResponse": {
      "type": "object",
      "description": "Response message for BatchUpdateOneTimeProduct.",
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The list of updated one-time products list, in the same order as the request.",
          "type": "array"
        }
      },
      "id": "BatchUpdateOneTimeProductsResponse"
    },
    "ActivateOneTimeProductOfferRequest": {
      "id": "ActivateOneTimeProductOfferRequest",
      "properties": {
        "offerId": {
          "description": "Required. The offer ID of the offer to activate.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to activate."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The parent purchase option (ID) of the offer to activate."
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to activate.",
          "type": "string"
        }
      },
      "description": "Request message for ActivateOneTimeProductOffer.",
      "type": "object"
    },
    "BatchUpdateSubscriptionOffersResponse": {
      "description": "Response message for BatchUpdateSubscriptionOffers.",
      "type": "object",
      "id": "BatchUpdateSubscriptionOffersResponse",
      "properties": {
        "subscriptionOffers": {
          "type": "array",
          "description": "The updated subscription offers list.",
          "items": {
            "$ref": "SubscriptionOffer"
          }
        }
      }
    },
    "ConvertedOtherRegionsPrice": {
      "type": "object",
      "description": "Converted other regions prices.",
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes."
        },
        "eurPrice": {
          "$ref": "Money",
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes."
        }
      },
      "id": "ConvertedOtherRegionsPrice"
    },
    "ListOneTimeProductOffersResponse": {
      "type": "object",
      "description": "Response message for ListOneTimeProductOffers.",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The one_time_product offers from the specified request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListOneTimeProductOffersResponse"
    },
    "IntroductoryPriceDetails": {
      "properties": {},
      "id": "IntroductoryPriceDetails",
      "type": "object",
      "description": "Details of an introductory price pricing phase."
    },
    "ConvertRegionPricesRequest": {
      "id": "ConvertRegionPricesRequest",
      "properties": {
        "productTaxCategoryCode": {
          "description": "Optional. Product tax category code in context. Product tax category determines the transaction tax rates applied to the product that will be factored into the price calculation. If not set, tax rates for the default product tax category will be used. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information.",
          "type": "string"
        },
        "price": {
          "description": "The intital price to convert other regions from. Tax exclusive.",
          "$ref": "Money"
        }
      },
      "description": "Request message for ConvertRegionPrices.",
      "type": "object"
    },
    "DeviceSelector": {
      "properties": {
        "forbiddenSystemFeatures": {
          "type": "array",
          "description": "A device that has any of these system features is excluded by this selector, even if it matches all other conditions.",
          "items": {
            "$ref": "SystemFeature"
          }
        },
        "systemOnChips": {
          "items": {
            "$ref": "SystemOnChip"
          },
          "description": "Optional. The SoCs included by this selector. Only works for Android S+ devices.",
          "type": "array"
        },
        "excludedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models excluded by this selector, even if they match all other conditions.",
          "type": "array"
        },
        "includedDeviceIds": {
          "items": {
            "$ref": "DeviceId"
          },
          "description": "Device models included by this selector.",
          "type": "array"
        },
        "deviceRam": {
          "description": "Conditions on the device's RAM.",
          "$ref": "DeviceRam"
        },
        "requiredSystemFeatures": {
          "items": {
            "$ref": "SystemFeature"
          },
          "type": "array",
          "description": "A device needs to have all these system features to be included by the selector."
        }
      },
      "id": "DeviceSelector",
      "type": "object",
      "description": "Selector for a device group. A selector consists of a set of conditions on the device that should all match (logical AND) to determine a device group eligibility. For instance, if a selector specifies RAM conditions, device model inclusion and device model exclusion, a device is considered to match if: device matches RAM conditions AND device matches one of the included device models AND device doesn't match excluded device models"
    },
    "ActivateBasePlanRequest": {
      "id": "ActivateBasePlanRequest",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the base plan to activate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to activate."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the base plan to activate."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      },
      "description": "Request message for ActivateBasePlan.",
      "type": "object"
    },
    "User": {
      "properties": {
        "name": {
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
          "type": "string"
        },
        "expirationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future."
        },
        "partial": {
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner.",
          "readOnly": true,
          "type": "boolean"
        },
        "accessState": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "description": "Output only. The state of the user's access to the Play Console.",
          "readOnly": true,
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ]
        },
        "email": {
          "description": "Immutable. The user's email address.",
          "type": "string"
        },
        "developerAccountPermissions": {
          "type": "array",
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL"
            ]
          }
        },
        "grants": {
          "items": {
            "$ref": "Grant"
          },
          "description": "Output only. Per-app permissions for the user.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "User",
      "type": "object",
      "description": "A user resource."
    },
    "OrderHistory": {
      "id": "OrderHistory",
      "properties": {
        "cancellationEvent": {
          "$ref": "CancellationEvent",
          "description": "Details of when the order was canceled."
        },
        "refundEvent": {
          "description": "Details of when the order was fully refunded.",
          "$ref": "RefundEvent"
        },
        "processedEvent": {
          "$ref": "ProcessedEvent",
          "description": "Details of when the order was processed."
        },
        "partialRefundEvents": {
          "description": "Details of the partial refund events for this order.",
          "type": "array",
          "items": {
            "$ref": "PartialRefundEvent"
          }
        }
      },
      "description": "Details about events which modified the order.",
      "type": "object"
    },
    "DeployAppRecoveryRequest": {
      "id": "DeployAppRecoveryRequest",
      "properties": {},
      "description": "Request message for DeployAppRecovery.",
      "type": "object"
    },
    "ProductLineItem": {
      "description": "Contains item-level info for a ProductPurchaseV2.",
      "type": "object",
      "id": "ProductLineItem",
      "properties": {
        "productId": {
          "type": "string",
          "description": "The purchased product ID (for example, 'monthly001')."
        },
        "productOfferDetails": {
          "$ref": "ProductOfferDetails",
          "description": "The offer details for this item."
        }
      }
    },
    "StandaloneApkMetadata": {
      "properties": {
        "fusedModuleName": {
          "items": {
            "type": "string"
          },
          "description": "Names of the modules fused in this standalone APK.",
          "type": "array"
        }
      },
      "id": "StandaloneApkMetadata",
      "type": "object",
      "description": "Holds data specific to Standalone APKs."
    },
    "InappproductsListResponse": {
      "description": "Response listing all in-app products.",
      "type": "object",
      "id": "InappproductsListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#inappproductsListResponse\")."
        },
        "inappproduct": {
          "items": {
            "$ref": "InAppProduct"
          },
          "description": "All in-app products.",
          "type": "array"
        },
        "pageInfo": {
          "deprecated": true,
          "$ref": "PageInfo",
          "description": "Deprecated and unset."
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        }
      }
    },
    "RevocationContext": {
      "id": "RevocationContext",
      "properties": {
        "proratedRefund": {
          "description": "Optional. Used when users should be refunded a prorated amount they paid for their subscription based on the amount of time remaining in a subscription.",
          "$ref": "RevocationContextProratedRefund"
        },
        "itemBasedRefund": {
          "description": "Optional. Used when a specific item should be refunded in a subscription with add-on items.",
          "$ref": "RevocationContextItemBasedRefund"
        },
        "fullRefund": {
          "description": "Optional. Used when users should be refunded the full amount of latest charge on each item in the subscription.",
          "$ref": "RevocationContextFullRefund"
        }
      },
      "description": "Revocation context of the purchases.subscriptionsv2.revoke API.",
      "type": "object"
    },
    "BatchGetOrdersResponse": {
      "properties": {
        "orders": {
          "items": {
            "$ref": "Order"
          },
          "description": "Details for the requested order IDs.",
          "type": "array"
        }
      },
      "id": "BatchGetOrdersResponse",
      "type": "object",
      "description": "Response for the orders.batchGet API."
    },
    "GeneratedApksListResponse": {
      "description": "Response to list generated APKs.",
      "type": "object",
      "id": "GeneratedApksListResponse",
      "properties": {
        "generatedApks": {
          "description": "All generated APKs, grouped by the APK signing key.",
          "type": "array",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          }
        }
      }
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "properties": {
        "oneTimeProductOffers": {
          "items": {
            "$ref": "OneTimeProductOffer"
          },
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array"
        }
      },
      "id": "BatchUpdateOneTimeProductOffersResponse",
      "type": "object",
      "description": "Response message for BatchUpdateOneTimeProductOffers."
    },
    "PageInfo": {
      "type": "object",
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "properties": {
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        },
        "resultPerPage": {
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response.",
          "type": "integer",
          "format": "int32"
        },
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "PageInfo"
    },
    "SafetyLabelsUpdateResponse": {
      "properties": {},
      "id": "SafetyLabelsUpdateResponse",
      "type": "object",
      "description": "Response for SafetyLabelsUpdate rpc."
    },
    "OneTimeCode": {
      "description": "A single use promotion code.",
      "type": "object",
      "id": "OneTimeCode",
      "properties": {}
    },
    "BasePriceOfferPhase": {
      "description": "Details about base price offer phase.",
      "type": "object",
      "id": "BasePriceOfferPhase",
      "properties": {}
    },
    "InstallmentsBasePlanType": {
      "type": "object",
      "description": "Represents an installments base plan where a user commits to a specified number of payments.",
      "properties": {
        "resubscribeState": {
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ]
        },
        "gracePeriodDuration": {
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive.",
          "type": "string"
        },
        "accountHoldDuration": {
          "type": "string",
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "billingPeriodDuration": {
          "type": "string",
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created."
        },
        "committedPaymentsCount": {
          "description": "Required. Immutable. The number of payments the user is committed to. It is immutable after the base plan is created.",
          "type": "integer",
          "format": "int32"
        },
        "renewalType": {
          "description": "Required. Immutable. Installments base plan renewal type. Determines the behavior at the end of the initial commitment. The renewal type is immutable after the base plan is created.",
          "enum": [
            "RENEWAL_TYPE_UNSPECIFIED",
            "RENEWAL_TYPE_RENEWS_WITHOUT_COMMITMENT",
            "RENEWAL_TYPE_RENEWS_WITH_COMMITMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified state.",
            "Renews periodically for the billing period duration without commitment.",
            "Renews with the commitment of the same duration as the initial one."
          ]
        },
        "prorationMode": {
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ]
        }
      },
      "id": "InstallmentsBasePlanType"
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "properties": {
        "relativeDiscount": {
          "format": "double",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "type": "number"
        },
        "otherRegionsPrices": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "free": {
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
          "description": "Set to specify this offer is free to obtain."
        },
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        }
      },
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "type": "object",
      "description": "Configuration for any new locations Play may launch in for a single offer phase."
    },
    "RemoteInAppUpdateDataPerBundle": {
      "properties": {
        "versionCode": {
          "format": "int64",
          "description": "Version Code corresponding to the target bundle.",
          "type": "string"
        },
        "totalDeviceCount": {
          "description": "Total number of devices affected by this recovery action associated with bundle of the app.",
          "type": "string",
          "format": "int64"
        },
        "recoveredDeviceCount": {
          "type": "string",
          "description": "Total number of devices which have been rescued.",
          "format": "int64"
        }
      },
      "id": "RemoteInAppUpdateDataPerBundle",
      "type": "object",
      "description": "Data related to the recovery action at bundle level."
    },
    "PreorderOfferDetails": {
      "type": "object",
      "description": "Offer details information related to a preorder line item.",
      "properties": {
        "preorderReleaseTime": {
          "format": "google-datetime",
          "description": "The time when a preordered item is released for a preorder purchase.",
          "type": "string"
        }
      },
      "id": "PreorderOfferDetails"
    },
    "ModuleTargeting": {
      "properties": {
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the variant targets"
        },
        "deviceFeatureTargeting": {
          "type": "array",
          "description": "Targeting for device features.",
          "items": {
            "$ref": "DeviceFeatureTargeting"
          }
        },
        "userCountriesTargeting": {
          "$ref": "UserCountriesTargeting",
          "description": "Countries-level targeting"
        }
      },
      "id": "ModuleTargeting",
      "type": "object",
      "description": "Targeting on the module level."
    },
    "ApkDescription": {
      "properties": {
        "targeting": {
          "description": "Apk-level targeting.",
          "$ref": "ApkTargeting"
        },
        "splitApkMetadata": {
          "description": "Set only for Split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "standaloneApkMetadata": {
          "$ref": "StandaloneApkMetadata",
          "description": "Set only for standalone APKs."
        },
        "path": {
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API.",
          "type": "string"
        },
        "instantApkMetadata": {
          "description": "Set only for Instant split APKs.",
          "$ref": "SplitApkMetadata"
        },
        "assetSliceMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for asset slices."
        }
      },
      "id": "ApkDescription",
      "type": "object",
      "description": "Description of the created apks."
    },
    "DeactivateOneTimeProductOfferRequest": {
      "id": "DeactivateOneTimeProductOfferRequest",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        },
        "purchaseOptionId": {
          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
          "type": "string"
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to deactivate."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to deactivate."
        }
      },
      "description": "Request message for DeactivateOneTimeProductOffer.",
      "type": "object"
    },
    "UpdateSubscriptionRequest": {
      "description": "Request message for UpdateSubscription.",
      "type": "object",
      "id": "UpdateSubscriptionRequest",
      "properties": {
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ]
        },
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the subscription.",
          "$ref": "RegionsVersion"
        },
        "allowMissing": {
          "type": "boolean",
          "description": "Optional. If set to true, and the subscription with the given package_name and product_id doesn't exist, the subscription will be created. If a new subscription is created, update_mask is ignored."
        },
        "subscription": {
          "$ref": "Subscription",
          "description": "Required. The subscription to update."
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated.",
          "type": "string",
          "format": "google-fieldmask"
        }
      }
    },
    "OtherRegionsSubscriptionOfferPhaseFreePriceOverride": {
      "id": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride",
      "properties": {},
      "description": "Represents the free price override configuration for any new locations Play may launch for a single offer phase.",
      "type": "object"
    },
    "BatchMigrateBasePlanPricesRequest": {
      "type": "object",
      "description": "Request message for BatchMigrateBasePlanPrices.",
      "properties": {
        "requests": {
          "description": "Required. Up to 100 price migration requests. All requests must update different base plans.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesRequest"
          }
        }
      },
      "id": "BatchMigrateBasePlanPricesRequest"
    },
    "SystemApksListResponse": {
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "id": "SystemApksListResponse",
      "type": "object",
      "description": "Response to list previously created system APK variants."
    },
    "AppVersionList": {
      "type": "object",
      "description": "Data format for a list of app versions.",
      "properties": {
        "versionCodes": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "List of app version codes.",
          "type": "array"
        }
      },
      "id": "AppVersionList"
    },
    "DeviceGroup": {
      "properties": {
        "deviceSelectors": {
          "items": {
            "$ref": "DeviceSelector"
          },
          "type": "array",
          "description": "Device selectors for this group. A device matching any of the selectors is included in this group."
        },
        "name": {
          "description": "The name of the group.",
          "type": "string"
        }
      },
      "id": "DeviceGroup",
      "type": "object",
      "description": "A group of devices. A group is defined by a set of device selectors. A device belongs to the group if it matches any selector (logical OR)."
    },
    "BatchUpdateOneTimeProductOffersRequest": {
      "id": "BatchUpdateOneTimeProductOffersRequest",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different offers.",
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductOfferRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateOneTimeProductOffers.",
      "type": "object"
    },
    "ListSubscriptionsResponse": {
      "type": "object",
      "description": "Response message for ListSubscriptions.",
      "properties": {
        "subscriptions": {
          "description": "The subscriptions from the specified app.",
          "type": "array",
          "items": {
            "$ref": "Subscription"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSubscriptionsResponse"
    },
    "SubscriptionOfferPhase": {
      "description": "A single phase of a subscription offer.",
      "type": "object",
      "id": "SubscriptionOfferPhase",
      "properties": {
        "regionalConfigs": {
          "type": "array",
          "description": "Required. The region-specific configuration of this offer phase. This list must contain exactly one entry for each region for which the subscription offer has a regional config.",
          "items": {
            "$ref": "RegionalSubscriptionOfferPhaseConfig"
          }
        },
        "duration": {
          "description": "Required. The duration of a single recurrence of this phase. Specified in ISO 8601 format.",
          "type": "string"
        },
        "recurrenceCount": {
          "description": "Required. The number of times this phase repeats. If this offer phase is not free, each recurrence charges the user the price of this offer phase.",
          "type": "integer",
          "format": "int32"
        },
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseConfig"
        }
      }
    },
    "ExternalTransactionTestPurchase": {
      "description": "Represents a transaction performed using a test account. These transactions will not be charged by Google.",
      "type": "object",
      "id": "ExternalTransactionTestPurchase",
      "properties": {}
    },
    "PausedStateContext": {
      "description": "Information specific to a subscription in paused state.",
      "type": "object",
      "id": "PausedStateContext",
      "properties": {
        "autoResumeTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time at which the subscription will be automatically resumed."
        }
      }
    },
    "SplitApkMetadata": {
      "type": "object",
      "description": "Holds data specific to Split APKs.",
      "properties": {
        "isMasterSplit": {
          "description": "Indicates whether this APK is the main split of the module.",
          "type": "boolean"
        },
        "splitId": {
          "type": "string",
          "description": "Id of the split."
        }
      },
      "id": "SplitApkMetadata"
    },
    "ConvertRegionPricesResponse": {
      "description": "Response message for ConvertRegionPrices.",
      "type": "object",
      "id": "ConvertRegionPricesResponse",
      "properties": {
        "convertedRegionPrices": {
          "description": "Map from region code to converted region price.",
          "additionalProperties": {
            "$ref": "ConvertedRegionPrice"
          },
          "type": "object"
        },
        "convertedOtherRegionsPrice": {
          "$ref": "ConvertedOtherRegionsPrice",
          "description": "Converted other regions prices in USD and EUR, to use for countries where Play doesn't support a country's local currency."
        },
        "regionVersion": {
          "$ref": "RegionsVersion",
          "description": "The region version at which the prices were generated."
        }
      }
    },
    "PurchaseOptionTaxAndComplianceSettings": {
      "description": "Details about taxation, Google Play policy and legal compliance for one-time product purchase options.",
      "type": "object",
      "id": "PurchaseOptionTaxAndComplianceSettings",
      "properties": {
        "withdrawalRightType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "Optional. Digital content or service classification for products distributed to users in eligible regions. If unset, it defaults to `WITHDRAWAL_RIGHT_DIGITAL_CONTENT`. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ]
        }
      }
    },
    "SubscriptionItemPriceChangeDetails": {
      "properties": {
        "expectedNewPriceChargeTime": {
          "description": "The renewal time at which the price change will become effective for the user. This is subject to change(to a future time) due to cases where the renewal time shifts like pause. This field is only populated if the price change has not taken effect.",
          "type": "string",
          "format": "google-datetime"
        },
        "newPrice": {
          "description": "New recurring price for the subscription item.",
          "$ref": "Money"
        },
        "priceChangeMode": {
          "type": "string",
          "enumDescriptions": [
            "Price change mode unspecified. This value should never be set.",
            "If the subscription price is decreasing.",
            "If the subscription price is increasing and the user needs to accept it.",
            "If the subscription price is increasing with opt out mode."
          ],
          "description": "Price change mode specifies how the subscription item price is changing.",
          "enum": [
            "PRICE_CHANGE_MODE_UNSPECIFIED",
            "PRICE_DECREASE",
            "PRICE_INCREASE",
            "OPT_OUT_PRICE_INCREASE"
          ]
        },
        "priceChangeState": {
          "type": "string",
          "enumDescriptions": [
            "Price change state unspecified. This value should not be used.",
            "Waiting for the user to agree for the price change.",
            "The price change is confirmed to happen for the user.",
            "The price change is applied, i.e. the user has started being charged the new price.",
            "The price change was canceled."
          ],
          "description": "State the price change is currently in.",
          "enum": [
            "PRICE_CHANGE_STATE_UNSPECIFIED",
            "OUTSTANDING",
            "CONFIRMED",
            "APPLIED",
            "CANCELED"
          ]
        }
      },
      "id": "SubscriptionItemPriceChangeDetails",
      "type": "object",
      "description": "Price change related information of a subscription item."
    },
    "RegionalSubscriptionOfferPhaseConfig": {
      "properties": {
        "price": {
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "relativeDiscount": {
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in this region.",
          "format": "double"
        },
        "absoluteDiscount": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for this region.",
          "$ref": "Money"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "RegionalSubscriptionOfferPhaseFreePriceOverride"
        },
        "regionCode": {
          "type": "string",
          "description": "Required. Immutable. The region to which this config applies."
        }
      },
      "id": "RegionalSubscriptionOfferPhaseConfig",
      "type": "object",
      "description": "Configuration for a single phase of a subscription offer in a single region."
    },
    "RevokeSubscriptionPurchaseRequest": {
      "description": "Request for the purchases.subscriptionsv2.revoke API.",
      "type": "object",
      "id": "RevokeSubscriptionPurchaseRequest",
      "properties": {
        "revocationContext": {
          "description": "Required. Additional details around the subscription revocation.",
          "$ref": "RevocationContext"
        }
      }
    },
    "Grant": {
      "id": "Grant",
      "properties": {
        "name": {
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
          "type": "string"
        },
        "appLevelPermissions": {
          "description": "The permissions granted to the user for this app.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ]
          }
        },
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        }
      },
      "description": "An access grant resource.",
      "type": "object"
    },
    "SplitApkVariant": {
      "description": "Variant is a group of APKs that covers a part of the device configuration space. APKs from multiple variants are never combined on one device.",
      "type": "object",
      "id": "SplitApkVariant",
      "properties": {
        "variantNumber": {
          "description": "Number of the variant, starting at 0 (unless overridden). A device will receive APKs from the first variant that matches the device configuration, with higher variant numbers having priority over lower variant numbers.",
          "type": "integer",
          "format": "int32"
        },
        "targeting": {
          "$ref": "VariantTargeting",
          "description": "Variant-level targeting."
        },
        "apkSet": {
          "items": {
            "$ref": "ApkSet"
          },
          "type": "array",
          "description": "Set of APKs, one set per module."
        }
      }
    },
    "ProductPurchaseV2": {
      "id": "ProductPurchaseV2",
      "properties": {
        "regionCode": {
          "type": "string",
          "description": "ISO 3166-1 alpha-2 billing region code of the user at the time the product was granted."
        },
        "productLineItem": {
          "items": {
            "$ref": "ProductLineItem"
          },
          "type": "array",
          "description": "Contains item-level info for a ProductPurchaseV2."
        },
        "testPurchaseContext": {
          "$ref": "TestPurchaseContext",
          "description": "Information related to test purchases. This will only be set for test purchases."
        },
        "purchaseCompletionTime": {
          "type": "string",
          "description": "The time when the purchase was successful, i.e., when the PurchaseState has changed to PURCHASED. This field will not be present until the payment is complete. For example, if the user initiated a pending transaction (https://developer.android.com/google/play/billing/integrate#pending), this field will not be populated until the user successfully completes the steps required to complete the transaction.",
          "format": "google-datetime"
        },
        "orderId": {
          "description": "The order id associated with the purchase of the inapp product. May not be set if there is no order associated with the purchase.",
          "type": "string"
        },
        "obfuscatedExternalAccountId": {
          "description": "An obfuscated version of the id that is uniquely associated with the user's account in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedaccountid when the purchase was made.",
          "type": "string"
        },
        "obfuscatedExternalProfileId": {
          "type": "string",
          "description": "An obfuscated version of the id that is uniquely associated with the user's profile in your app. Only present if specified using https://developer.android.com/reference/com/android/billingclient/api/BillingFlowParams.Builder#setobfuscatedprofileid when the purchase was made."
        },
        "purchaseStateContext": {
          "description": "Information about the purchase state of the purchase.",
          "$ref": "PurchaseStateContext"
        },
        "acknowledgementState": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified acknowledgement state.",
            "The purchase is not acknowledged yet.",
            "The purchase is acknowledged."
          ],
          "description": "Output only. The acknowledgement state of the purchase.",
          "readOnly": true,
          "enum": [
            "ACKNOWLEDGEMENT_STATE_UNSPECIFIED",
            "ACKNOWLEDGEMENT_STATE_PENDING",
            "ACKNOWLEDGEMENT_STATE_ACKNOWLEDGED"
          ]
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a ProductPurchaseV2 object in the androidpublisher service."
        }
      },
      "description": "A ProductPurchaseV2 resource indicates the status of a user's inapp product purchase.",
      "type": "object"
    },
    "ScreenDensity": {
      "properties": {
        "densityAlias": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified screen density.",
            "NODPI screen density.",
            "LDPI screen density.",
            "MDPI screen density.",
            "TVDPI screen density.",
            "HDPI screen density.",
            "XHDPI screen density.",
            "XXHDPI screen density.",
            "XXXHDPI screen density."
          ],
          "description": "Alias for a screen density.",
          "enum": [
            "DENSITY_UNSPECIFIED",
            "NODPI",
            "LDPI",
            "MDPI",
            "TVDPI",
            "HDPI",
            "XHDPI",
            "XXHDPI",
            "XXXHDPI"
          ]
        },
        "densityDpi": {
          "format": "int32",
          "description": "Value for density dpi.",
          "type": "integer"
        }
      },
      "id": "ScreenDensity",
      "type": "object",
      "description": "Represents a screen density."
    },
    "OfferTag": {
      "properties": {
        "tag": {
          "description": "Must conform with RFC-1034. That is, this string can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 20 characters.",
          "type": "string"
        }
      },
      "id": "OfferTag",
      "type": "object",
      "description": "Represents a custom tag specified for a product offer."
    },
    "InstallmentPlan": {
      "id": "InstallmentPlan",
      "properties": {
        "subsequentCommittedPaymentsCount": {
          "format": "int32",
          "type": "integer",
          "description": "Total number of payments the user will be committed for after each commitment period. Empty means the installment plan will fall back to a normal auto-renew subscription after initial commitment."
        },
        "remainingCommittedPaymentsCount": {
          "format": "int32",
          "description": "Total number of committed payments remaining to be paid for in this renewal cycle.",
          "type": "integer"
        },
        "pendingCancellation": {
          "$ref": "PendingCancellation",
          "description": "If present, this installment plan is pending to be canceled. The cancellation will happen only after the user finished all committed payments."
        },
        "initialCommittedPaymentsCount": {
          "format": "int32",
          "description": "Total number of payments the user is initially committed for.",
          "type": "integer"
        }
      },
      "description": "Information to a installment plan.",
      "type": "object"
    },
    "RentOfferDetails": {
      "type": "object",
      "description": "Offer details information related to a rental line item.",
      "properties": {},
      "id": "RentOfferDetails"
    },
    "SubscriptionTaxAndComplianceSettings": {
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "regionalProductAgeRatingInfos": {
          "type": "array",
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "eeaWithdrawalRightType": {
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the subscription. Product tax category determines the transaction tax rates applied to the subscription. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "isTokenizedDigitalAsset": {
          "type": "boolean",
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset."
        }
      },
      "description": "Details about taxation, Google Play policy, and legal compliance for subscription products.",
      "type": "object"
    },
    "TargetingInfo": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of this app."
        },
        "variant": {
          "items": {
            "$ref": "SplitApkVariant"
          },
          "type": "array",
          "description": "List of the created variants."
        },
        "assetSliceSet": {
          "items": {
            "$ref": "AssetSliceSet"
          },
          "description": "List of created asset slices.",
          "type": "array"
        }
      },
      "id": "TargetingInfo",
      "type": "object",
      "description": "Targeting information about the generated apks."
    },
    "PreorderDetails": {
      "id": "PreorderDetails",
      "properties": {},
      "description": "Details of a pre-order purchase.",
      "type": "object"
    },
    "ArtifactSummary": {
      "properties": {
        "versionCode": {
          "type": "integer",
          "description": "Artifact's version code",
          "format": "int32"
        }
      },
      "id": "ArtifactSummary",
      "type": "object",
      "description": "Summary of an artifact."
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "type": "object",
      "id": "CanceledStateContext",
      "properties": {
        "replacementCancellation": {
          "$ref": "ReplacementCancellation",
          "description": "Subscription was replaced by a new subscription."
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        },
        "systemInitiatedCancellation": {
          "$ref": "SystemInitiatedCancellation",
          "description": "Subscription was canceled by the system, for example because of a billing problem."
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        }
      }
    },
    "UsesPermission": {
      "type": "object",
      "description": "A permission used by this APK.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the permission requested."
        },
        "maxSdkVersion": {
          "format": "int32",
          "description": "Optionally, the maximum SDK version for which the permission is required.",
          "type": "integer"
        }
      },
      "id": "UsesPermission"
    },
    "DeviceFeatureTargeting": {
      "properties": {
        "requiredFeature": {
          "description": "Feature of the device.",
          "$ref": "DeviceFeature"
        }
      },
      "id": "DeviceFeatureTargeting",
      "type": "object",
      "description": "Targeting for a device feature."
    },
    "OneTimeProductBuyPurchaseOption": {
      "type": "object",
      "description": "A purchase option that can be bought.",
      "properties": {
        "multiQuantityEnabled": {
          "type": "boolean",
          "description": "Optional. Whether this purchase option allows multi-quantity. Multi-quantity allows buyer to purchase more than one item in a single checkout."
        },
        "legacyCompatible": {
          "type": "boolean",
          "description": "Optional. Whether this purchase option will be available in legacy PBL flows that do not support one-time products model. Up to one \"buy\" purchase option can be marked as backwards compatible."
        }
      },
      "id": "OneTimeProductBuyPurchaseOption"
    },
    "ExternalTransaction": {
      "type": "object",
      "description": "The details of an external transaction.",
      "properties": {
        "transactionState": {
          "description": "Output only. The current state of the transaction.",
          "readOnly": true,
          "enum": [
            "TRANSACTION_STATE_UNSPECIFIED",
            "TRANSACTION_REPORTED",
            "TRANSACTION_CANCELED"
          ],
          "enumDescriptions": [
            "Unspecified transaction state. Not used.",
            "The transaction has been successfully reported to Google.",
            "The transaction has been fully refunded."
          ],
          "type": "string"
        },
        "currentPreTaxAmount": {
          "description": "Output only. The current transaction amount before tax. This represents the current pre-tax amount including any refunds that may have been applied to this transaction.",
          "readOnly": true,
          "$ref": "Price"
        },
        "externalOfferDetails": {
          "$ref": "ExternalOfferDetails",
          "description": "Optional. Details necessary to accurately report external offers transactions."
        },
        "externalTransactionId": {
          "type": "string",
          "description": "Output only. The id of this transaction. All transaction ids under the same package name must be unique. Set when creating the external transaction.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when this transaction was created. This is the time when Google was notified of the transaction.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "oneTimeTransaction": {
          "$ref": "OneTimeExternalTransaction",
          "description": "This is a one-time transaction and not part of a subscription."
        },
        "currentTaxAmount": {
          "description": "Output only. The current tax amount. This represents the current tax amount including any refunds that may have been applied to this transaction.",
          "readOnly": true,
          "$ref": "Price"
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The resource name of the external transaction. The package name of the application the inapp products were sold (for example, 'com.some.app').",
          "readOnly": true
        },
        "recurringTransaction": {
          "description": "This transaction is part of a recurring series of transactions.",
          "$ref": "RecurringExternalTransaction"
        },
        "transactionTime": {
          "format": "google-datetime",
          "description": "Required. The time when the transaction was completed.",
          "type": "string"
        },
        "transactionProgramCode": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The transaction program code, used to help determine service fee for eligible apps participating in partner programs. Developers participating in the Play Media Experience Program (https://play.google.com/console/about/programs/mediaprogram/) must provide the program code when reporting alternative billing transactions. If you are an eligible developer, please contact your BDM for more information on how to set this field. Note: this field can not be used for external offers transactions."
        },
        "testPurchase": {
          "description": "Output only. If set, this transaction was a test purchase. Google will not charge for a test transaction.",
          "readOnly": true,
          "$ref": "ExternalTransactionTestPurchase"
        },
        "originalTaxAmount": {
          "description": "Required. The original tax amount. This represents the tax amount originally notified to Google before any refunds were applied.",
          "$ref": "Price"
        },
        "originalPreTaxAmount": {
          "$ref": "Price",
          "description": "Required. The original transaction amount before taxes. This represents the pre-tax amount originally notified to Google before any refunds were applied."
        },
        "userTaxAddress": {
          "description": "Required. User address for tax computation.",
          "$ref": "ExternalTransactionAddress"
        }
      },
      "id": "ExternalTransaction"
    },
    "BasePlan": {
      "description": "A single base plan for a subscription.",
      "type": "object",
      "id": "BasePlan",
      "properties": {
        "otherRegionsConfig": {
          "description": "Pricing information for any new locations Play may launch in the future. If omitted, the BasePlan will not be automatically available any new locations Play may launch in the future.",
          "$ref": "OtherRegionsBasePlanConfig"
        },
        "autoRenewingBasePlanType": {
          "$ref": "AutoRenewingBasePlanType",
          "description": "Set when the base plan automatically renews at a regular interval."
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. Immutable. The unique identifier of this base plan. Must be unique within the subscription, and conform with RFC-1034. That is, this ID can only contain lower-case letters (a-z), numbers (0-9), and hyphens (-), and be at most 63 characters."
        },
        "state": {
          "description": "Output only. The state of the base plan, i.e. whether it's active. Draft and inactive base plans can be activated or deleted. Active base plans can be made inactive. Inactive base plans can be canceled. This field cannot be changed by updating the resource. Use the dedicated endpoints instead.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "Unspecified state.",
            "The base plan is currently in a draft state, and hasn't been activated. It can be safely deleted at this point.",
            "The base plan is active and available for new subscribers.",
            "The base plan is inactive and only available for existing subscribers."
          ],
          "type": "string"
        },
        "offerTags": {
          "description": "List of up to 20 custom tags specified for this base plan, and returned to the app through the billing library. Subscription offers for this base plan will also receive these offer tags in the billing library.",
          "type": "array",
          "items": {
            "$ref": "OfferTag"
          }
        },
        "installmentsBasePlanType": {
          "description": "Set for installments base plans where a user is committed to a specified number of payments.",
          "$ref": "InstallmentsBasePlanType"
        },
        "prepaidBasePlanType": {
          "$ref": "PrepaidBasePlanType",
          "description": "Set when the base plan does not automatically renew at the end of the billing period."
        },
        "regionalConfigs": {
          "description": "Region-specific information for this base plan.",
          "type": "array",
          "items": {
            "$ref": "RegionalBasePlanConfig"
          }
        }
      }
    },
    "BatchDeleteOneTimeProductOffersRequest": {
      "properties": {
        "requests": {
          "items": {
            "$ref": "DeleteOneTimeProductOfferRequest"
          },
          "type": "array",
          "description": "Required. A list of update requests of up to 100 elements. All requests must correspond to different offers."
        }
      },
      "id": "BatchDeleteOneTimeProductOffersRequest",
      "type": "object",
      "description": "Request message for BatchDeleteOneTimeProductOffers."
    },
    "UpdateBasePlanStateRequest": {
      "id": "UpdateBasePlanStateRequest",
      "properties": {
        "activateBasePlanRequest": {
          "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
          "$ref": "ActivateBasePlanRequest"
        },
        "deactivateBasePlanRequest": {
          "$ref": "DeactivateBasePlanRequest",
          "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
        }
      },
      "description": "Request message to update the state of a subscription base plan.",
      "type": "object"
    },
    "BatchMigrateBasePlanPricesResponse": {
      "type": "object",
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "properties": {
        "responses": {
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          }
        }
      },
      "id": "BatchMigrateBasePlanPricesResponse"
    },
    "Comment": {
      "description": "An entry of conversation between user and developer.",
      "type": "object",
      "id": "Comment",
      "properties": {
        "userComment": {
          "$ref": "UserComment",
          "description": "A comment from a user."
        },
        "developerComment": {
          "description": "A comment from a developer.",
          "$ref": "DeveloperComment"
        }
      }
    },
    "InappproductsBatchDeleteRequest": {
      "id": "InappproductsBatchDeleteRequest",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          }
        }
      },
      "description": "Request to delete multiple in-app products.",
      "type": "object"
    },
    "DeferredItemRemoval": {
      "description": "Information related to deferred item replacement.",
      "type": "object",
      "id": "DeferredItemRemoval",
      "properties": {}
    },
    "RevocationContextFullRefund": {
      "properties": {},
      "id": "RevocationContextFullRefund",
      "type": "object",
      "description": "Used to determine if the refund type in the RevocationContext is a full refund."
    },
    "AbiTargeting": {
      "id": "AbiTargeting",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits.",
          "items": {
            "$ref": "Abi"
          }
        },
        "value": {
          "items": {
            "$ref": "Abi"
          },
          "type": "array",
          "description": "Value of an abi."
        }
      },
      "description": "Targeting based on Abi.",
      "type": "object"
    },
    "UserCountriesTargeting": {
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "type": "object",
      "id": "UserCountriesTargeting",
      "properties": {
        "countryCodes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of country codes in the two-letter CLDR territory format."
        },
        "exclude": {
          "type": "boolean",
          "description": "Indicates if the list above is exclusive."
        }
      }
    },
    "GeneratedSplitApk": {
      "properties": {
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this APK belongs to."
        },
        "downloadId": {
          "type": "string",
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method."
        },
        "variantId": {
          "type": "integer",
          "description": "ID of the generated variant.",
          "format": "int32"
        },
        "splitId": {
          "description": "Split ID. Empty for the main split of the base module.",
          "type": "string"
        }
      },
      "id": "GeneratedSplitApk",
      "type": "object",
      "description": "Download metadata for a split APK."
    },
    "CountryTargeting": {
      "properties": {
        "countries": {
          "type": "array",
          "description": "Countries to target, specified as two letter [CLDR codes](https://unicode.org/cldr/charts/latest/supplemental/territory_containment_un_m_49.html).",
          "items": {
            "type": "string"
          }
        },
        "includeRestOfWorld": {
          "type": "boolean",
          "description": "Include \"rest of world\" as well as explicitly targeted countries."
        }
      },
      "id": "CountryTargeting",
      "type": "object",
      "description": "Country targeting specification."
    },
    "TokenPagination": {
      "id": "TokenPagination",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        },
        "previousPageToken": {
          "type": "string"
        }
      },
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object"
    },
    "PriceStepUpConsentDetails": {
      "type": "object",
      "description": "Information related to a price step-up that requires user consent.",
      "properties": {
        "consentDeadlineTime": {
          "format": "google-datetime",
          "description": "The deadline by which the user must provide consent. If consent is not provided by this time, the subscription will be canceled.",
          "type": "string"
        },
        "newPrice": {
          "$ref": "Money",
          "description": "The new price which requires user consent."
        },
        "state": {
          "type": "string",
          "description": "Output only. The state of the price step-up consent.",
          "readOnly": true,
          "enum": [
            "CONSENT_STATE_UNSPECIFIED",
            "PENDING",
            "CONFIRMED",
            "COMPLETED"
          ],
          "enumDescriptions": [
            "Unspecified consent state.",
            "The user has not yet provided consent.",
            "The user has consented, and the new price is waiting to take effect.",
            "The user has consented, and the new price has taken effect."
          ]
        }
      },
      "id": "PriceStepUpConsentDetails"
    },
    "TextureCompressionFormatTargeting": {
      "id": "TextureCompressionFormatTargeting",
      "properties": {
        "value": {
          "description": "The list of targeted TCFs. Should not be empty.",
          "type": "array",
          "items": {
            "$ref": "TextureCompressionFormat"
          }
        },
        "alternatives": {
          "items": {
            "$ref": "TextureCompressionFormat"
          },
          "description": "List of alternative TCFs (TCFs targeted by the sibling splits).",
          "type": "array"
        }
      },
      "description": "Targeting by a texture compression format.",
      "type": "object"
    },
    "TargetingUpdate": {
      "description": "Update type for targeting. Note it is always a subset Targeting.",
      "type": "object",
      "id": "TargetingUpdate",
      "properties": {
        "allUsers": {
          "description": "All users are targeted.",
          "$ref": "AllUsers"
        },
        "androidSdks": {
          "$ref": "AndroidSdks",
          "description": "Additional android sdk levels are targeted by the recovery action."
        },
        "regions": {
          "description": "Additional regions are targeted by the recovery action.",
          "$ref": "Regions"
        }
      }
    },
    "BatchUpdatePurchaseOptionStatesResponse": {
      "properties": {
        "oneTimeProducts": {
          "type": "array",
          "description": "The list of updated one-time products. This list will match the requests one to one, in the same order.",
          "items": {
            "$ref": "OneTimeProduct"
          }
        }
      },
      "id": "BatchUpdatePurchaseOptionStatesResponse",
      "type": "object",
      "description": "Response message for BatchUpdatePurchaseOptionStates."
    },
    "AssetModuleMetadata": {
      "properties": {
        "name": {
          "description": "Module name.",
          "type": "string"
        },
        "deliveryType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
[...]
