{
  "ownerName": "Google",
  "version": "v3",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://androidpublisher.googleapis.com/",
  "id": "androidpublisher:v3",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "name": "androidpublisher",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "ownerDomain": "google.com",
  "resources": {
    "orders": {
      "methods": {
        "batchget": {
          "response": {
            "$ref": "BatchGetOrdersResponse"
          },
          "httpMethod": "GET",
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "id": "androidpublisher.orders.batchget",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            },
            "orderIds": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Get order details for a list of orders.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "refund": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "orderId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased."
            },
            "packageName": {
              "required": true,
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "location": "path",
              "type": "string"
            },
            "revoke": {
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional).",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "id": "androidpublisher.orders.refund",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST"
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.orders.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            },
            "orderId": {
              "location": "path",
              "type": "string",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "description": "Get order details for a single order.",
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "response": {
            "$ref": "Order"
          },
          "httpMethod": "GET"
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Returns a previously created system APK variant.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "variantId": {
                  "required": true,
                  "format": "uint32",
                  "type": "integer",
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path"
                },
                "versionCode": {
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "id": "androidpublisher.systemapks.variants.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "httpMethod": "GET",
              "response": {
                "$ref": "Variant"
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "versionCode": {
                  "location": "path",
                  "type": "string",
                  "description": "The version code of the App Bundle.",
                  "required": true,
                  "format": "int64"
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "request": {
                "$ref": "Variant"
              },
              "id": "androidpublisher.systemapks.variants.create",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "POST",
              "response": {
                "$ref": "Variant"
              }
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.systemapks.variants.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "description": "Returns the list of previously created system APK variants.",
              "parameters": {
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true,
                  "format": "int64",
                  "location": "path"
                },
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "httpMethod": "GET",
              "response": {
                "$ref": "SystemApksListResponse"
              }
            },
            "download": {
              "httpMethod": "GET",
              "supportsMediaDownload": true,
              "useMediaDownloadService": true,
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "id": "androidpublisher.systemapks.variants.download",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string"
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "type": "integer",
                  "required": true,
                  "format": "uint32",
                  "location": "path"
                },
                "versionCode": {
                  "location": "path",
                  "required": true,
                  "format": "int64",
                  "type": "string",
                  "description": "The version code of the App Bundle."
                }
              },
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        }
      }
    },
    "generatedapks": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.generatedapks.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "versionCode": {
              "location": "path",
              "type": "integer",
              "description": "Version code of the app bundle.",
              "required": true,
              "format": "int32"
            }
          },
          "parameterOrder": [
            "packageName",
            "versionCode"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GeneratedApksListResponse"
          }
        },
        "download": {
          "httpMethod": "GET",
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "id": "androidpublisher.generatedapks.download",
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "parameters": {
            "downloadId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method."
            },
            "versionCode": {
              "required": true,
              "format": "int32",
              "description": "Version code of the app bundle.",
              "type": "integer",
              "location": "path"
            },
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "description": "Downloads a single signed APK generated from an app bundle.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "inappproducts": {
      "methods": {
        "get": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "batchUpdate": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "httpMethod": "POST",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "id": "androidpublisher.inappproducts.batchUpdate",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ]
        },
        "batchDelete": {
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "id": "androidpublisher.inappproducts.batchDelete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete"
        },
        "update": {
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.update",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "latencyTolerance": {
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "sku": {
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "allowMissing": {
              "location": "query",
              "type": "boolean",
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created."
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        },
        "batchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchGet",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "location": "query",
              "type": "string",
              "description": "Unique identifier for the in-app products.",
              "repeated": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          },
          "httpMethod": "GET"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.insert",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "POST"
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Pagination token. If empty, list starts at the first product."
            },
            "startIndex": {
              "location": "query",
              "type": "integer",
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "deprecated": true,
              "format": "uint32"
            },
            "maxResults": {
              "location": "query",
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "deprecated": true,
              "type": "integer",
              "format": "uint32"
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.inappproducts.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "delete": {
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "description": "Package name of the app.",
              "location": "path",
              "type": "string"
            },
            "sku": {
              "required": true,
              "description": "Unique identifier for the in-app product.",
              "location": "path",
              "type": "string"
            },
            "latencyTolerance": {
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "httpMethod": "DELETE",
          "id": "androidpublisher.inappproducts.delete",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "InAppProduct"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "sku": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product."
            },
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "location": "query",
              "type": "boolean"
            },
            "latencyTolerance": {
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string",
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ]
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.patch",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}"
        }
      }
    },
    "applications": {
      "methods": {
        "dataSafety": {
          "id": "androidpublisher.applications.dataSafety",
          "flatPath": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "request": {
            "$ref": "SafetyLabelsUpdateRequest"
          },
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. Package name of the app.",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Writes the Safety Labels declaration of an app.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "SafetyLabelsUpdateResponse"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/dataSafety"
        }
      },
      "resources": {
        "deviceTierConfigs": {
          "methods": {
            "list": {
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "response": {
                "$ref": "ListDeviceTierConfigsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.",
                  "format": "int32"
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page."
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "description": "Returns created device tier configs, ordered by descending creation time.",
              "id": "androidpublisher.applications.deviceTierConfigs.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "DeviceTierConfig"
              },
              "id": "androidpublisher.applications.deviceTierConfigs.create",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "description": "Creates a new device tier config for an app.",
              "parameters": {
                "allowUnknownDevices": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether the service should accept device IDs that are unknown to Play's device catalog."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "Package name of the app.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "httpMethod": "POST",
              "response": {
                "$ref": "DeviceTierConfig"
              }
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "deviceTierConfigId": {
                  "required": true,
                  "format": "int64",
                  "description": "Required. Id of an existing device tier config.",
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "packageName",
                "deviceTierConfigId"
              ],
              "description": "Returns a particular device tier config.",
              "id": "androidpublisher.applications.deviceTierConfigs.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}"
            }
          }
        },
        "tracks": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListReleaseSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "path": "androidpublisher/v3/{+parent}/releases",
                  "id": "androidpublisher.applications.tracks.releases.list",
                  "flatPath": "androidpublisher/v3/applications/{applicationsId}/tracks/{tracksId}/releases",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent track, which owns this collection of releases. Format: applications/{package_name}/tracks/{track}",
                      "type": "string",
                      "pattern": "^applications/[^/]+/tracks/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the list of all releases for a given track. This excludes any releases that are obsolete.",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "internalappsharingartifacts": {
      "methods": {
        "uploadbundle": {
          "id": "androidpublisher.internalappsharingartifacts.uploadbundle",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
          "description": "Uploads an app bundle to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "mediaUpload": {
            "accept": [
              "application/octet-stream"
            ],
            "maxSize": "10737418240",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle",
                "multipart": true
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/bundle"
        },
        "uploadapk": {
          "response": {
            "$ref": "InternalAppSharingArtifact"
          },
          "httpMethod": "POST",
          "supportsMediaUpload": true,
          "path": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "id": "androidpublisher.internalappsharingartifacts.uploadapk",
          "flatPath": "androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "mediaUpload": {
            "maxSize": "1073741824",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/androidpublisher/v3/applications/internalappsharing/{packageName}/artifacts/apk"
              }
            },
            "accept": [
              "application/octet-stream",
              "application/vnd.android.package-archive"
            ]
          },
          "description": "Uploads an APK to internal app sharing. If you are using the Google API client libraries, please increase the timeout of the http request before calling this endpoint (a timeout of 2 minutes is recommended). See [Timeouts and Errors](https://developers.google.com/api-client-library/java/google-api-java-client/errors) for an example in java.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "reviews": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "parameters": {
            "reviewId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Unique identifier for a review."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "translationLanguage": {
              "location": "query",
              "type": "string",
              "description": "Language localization code."
            }
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "description": "Gets a single review.",
          "id": "androidpublisher.reviews.get",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}",
          "response": {
            "$ref": "Review"
          },
          "httpMethod": "GET"
        },
        "list": {
          "description": "Lists all reviews.",
          "parameters": {
            "token": {
              "description": "Pagination token. If empty, list starts at the first review.",
              "location": "query",
              "type": "string"
            },
            "startIndex": {
              "description": "The index of the first element to return.",
              "location": "query",
              "type": "integer",
              "format": "uint32"
            },
            "maxResults": {
              "format": "uint32",
              "location": "query",
              "type": "integer",
              "description": "How many results the list operation should return."
            },
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "translationLanguage": {
              "description": "Language localization code.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.reviews.list",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ReviewsListResponse"
          },
          "path": "androidpublisher/v3/applications/{packageName}/reviews"
        },
        "reply": {
          "parameters": {
            "packageName": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "Package name of the app."
            },
            "reviewId": {
              "description": "Unique identifier for a review.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "reviewId"
          ],
          "description": "Replies to a single review, or updates an existing reply.",
          "id": "androidpublisher.reviews.reply",
          "flatPath": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply",
          "request": {
            "$ref": "ReviewsReplyRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ReviewsReplyResponse"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/applications/{packageName}/reviews/{reviewId}:reply"
        }
      }
    },
    "purchases": {
      "resources": {
        "subscriptions": {
          "methods": {
            "refund": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deprecated: Use orders.refund instead. Refunds a user's subscription purchase, but the subscription remains valid until its expiration time and it will continue to recur.",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "description": "\"The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.refund",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:refund",
              "deprecated": true,
              "httpMethod": "POST"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptions.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "parameters": {
                "subscriptionId": {
                  "required": true,
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.get instead. Checks whether a user's subscription purchase is valid and returns its expiry time.",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}",
              "response": {
                "$ref": "SubscriptionPurchase"
              },
              "httpMethod": "GET",
              "deprecated": true
            },
            "cancel": {
              "description": "Cancels a user's subscription purchase. The subscription remains valid until its expiration time. Newer version is available at purchases.subscriptionsv2.cancel for better client library support.",
              "parameters": {
                "packageName": {
                  "required": true,
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string"
                },
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "subscriptionId": {
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.subscriptions.cancel",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "defer": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "response": {
                "$ref": "SubscriptionPurchasesDeferResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "subscriptionId": {
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "description": "Defers a user's subscription purchase until a specified future expiration time.",
              "id": "androidpublisher.purchases.subscriptions.defer",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer",
              "request": {
                "$ref": "SubscriptionPurchasesDeferRequest"
              }
            },
            "acknowledge": {
              "description": "Acknowledges a subscription purchase.",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "Note: Since May 21, 2025, subscription_id is not required, and not recommended for subscription with add-ons. The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "request": {
                "$ref": "SubscriptionPurchasesAcknowledgeRequest"
              },
              "id": "androidpublisher.purchases.subscriptions.acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:acknowledge"
            },
            "revoke": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke",
              "deprecated": true,
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Deprecated: Use purchases.subscriptionsv2.revoke instead. Refunds and immediately revokes a user's subscription purchase. Access to the subscription will be terminated immediately and it will stop recurring.",
              "parameters": {
                "token": {
                  "description": "The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which this subscription was purchased (for example, 'com.some.thing')."
                },
                "subscriptionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The purchased subscription ID (for example, 'monthly001').",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "subscriptionId",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptions.revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:revoke"
            }
          }
        },
        "voidedpurchases": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "response": {
                "$ref": "VoidedPurchasesListResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "id": "androidpublisher.purchases.voidedpurchases.list",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/voidedpurchases",
              "description": "Lists the purchases that were canceled, refunded or charged-back.",
              "parameters": {
                "type": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The type of voided purchases that you want to see in the response. Possible values are: 0. Only voided in-app product purchases will be returned in the response. This is the default value. 1. Both voided in-app purchases and voided subscription purchases will be returned in the response. Note: Before requesting to receive voided subscription purchases, you must switch to use orderId in the response which uniquely identifies one-time purchases and subscriptions. Otherwise, you will receive multiple subscription orders with the same PurchaseToken, because subscription renewal orders share the same PurchaseToken."
                },
                "includeQuantityBasedPartialRefund": {
                  "description": "Optional. Whether to include voided purchases of quantity-based partial refunds, which are applicable only to multi-quantity purchases. If true, additional voided purchases may be returned with voidedQuantity that indicates the refund quantity of a quantity-based partial refund. The default value is false.",
                  "location": "query",
                  "type": "boolean"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application for which voided purchases need to be returned (for example, 'com.some.thing').",
                  "required": true
                },
                "startTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the oldest voided purchase that you want to see in the response. The value of this parameter cannot be older than 30 days and is ignored if a pagination token is set. Default value is current time minus 30 days. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                },
                "maxResults": {
                  "format": "uint32",
                  "location": "query",
                  "type": "integer",
                  "description": "Defines how many results the list operation should return. The default number depends on the resource collection."
                },
                "startIndex": {
                  "description": "Defines the index of the first element to return. This can only be used if indexed paging is enabled.",
                  "location": "query",
                  "type": "integer",
                  "format": "uint32"
                },
                "token": {
                  "description": "Defines the token of the page to return, usually taken from TokenPagination. This can only be used if token paging is enabled.",
                  "location": "query",
                  "type": "string"
                },
                "endTime": {
                  "format": "int64",
                  "location": "query",
                  "type": "string",
                  "description": "The time, in milliseconds since the Epoch, of the newest voided purchase that you want to see in the response. The value of this parameter cannot be greater than the current time and is ignored if a pagination token is set. Default value is current time. Note: This filter is applied on the time at which the record is seen as voided by our systems and not the actual voided time returned in the response."
                }
              },
              "parameterOrder": [
                "packageName"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "subscriptionsv2": {
          "methods": {
            "defer": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "request": {
                "$ref": "DeferSubscriptionPurchaseRequest"
              },
              "id": "androidpublisher.purchases.subscriptionsv2.defer",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "description": "Defers the renewal of a subscription.",
              "parameters": {
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:defer",
              "httpMethod": "POST",
              "response": {
                "$ref": "DeferSubscriptionPurchaseResponse"
              }
            },
            "revoke": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "response": {
                "$ref": "RevokeSubscriptionPurchaseResponse"
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.purchases.subscriptionsv2.revoke",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:revoke",
              "request": {
                "$ref": "RevokeSubscriptionPurchaseRequest"
              },
              "parameters": {
                "token": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The token provided to the user's device when the subscription was purchased."
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing')."
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "description": "Revoke a subscription purchase for the user."
            },
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}",
              "httpMethod": "GET",
              "response": {
                "$ref": "SubscriptionPurchaseV2"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Get metadata about a subscription",
              "parameters": {
                "packageName": {
                  "description": "The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "id": "androidpublisher.purchases.subscriptionsv2.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}"
            },
            "cancel": {
              "request": {
                "$ref": "CancelSubscriptionPurchaseRequest"
              },
              "id": "androidpublisher.purchases.subscriptionsv2.cancel",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel",
              "description": "Cancel a subscription purchase for the user.",
              "parameters": {
                "packageName": {
                  "description": "Required. The package of the application for which this subscription was purchased (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "Required. The token provided to the user's device when the subscription was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "CancelSubscriptionPurchaseResponse"
              },
              "path": "androidpublisher/v3/applications/{packageName}/purchases/subscriptionsv2/tokens/{token}:cancel"
            }
          }
        },
        "productsv2": {
          "methods": {
            "getproductpurchasev2": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "parameters": {
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "token"
              ],
              "id": "androidpublisher.purchases.productsv2.getproductpurchasev2",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/productsv2/tokens/{token}",
              "httpMethod": "GET",
              "response": {
                "$ref": "ProductPurchaseV2"
              }
            }
          }
        },
        "products": {
          "methods": {
            "get": {
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}",
              "response": {
                "$ref": "ProductPurchase"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "parameters": {
                "productId": {
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "description": "Checks the purchase and consumption status of an inapp item.",
              "id": "androidpublisher.purchases.products.get",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}"
            },
            "consume": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "httpMethod": "POST",
              "id": "androidpublisher.purchases.products.consume",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:consume",
              "description": "Consumes a purchase for an inapp item.",
              "parameters": {
                "productId": {
                  "required": true,
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "location": "path",
                  "type": "string"
                },
                "packageName": {
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing').",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "token": {
                  "required": true,
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ]
            },
            "acknowledge": {
              "description": "Acknowledges a purchase of an inapp item.",
              "parameters": {
                "productId": {
                  "location": "path",
                  "type": "string",
                  "description": "The inapp product SKU (for example, 'com.some.thing.inapp1').",
                  "required": true
                },
                "token": {
                  "description": "The token provided to the user's device when the inapp product was purchased.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "packageName": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The package name of the application the inapp product was sold in (for example, 'com.some.thing')."
                }
              },
              "parameterOrder": [
                "packageName",
                "productId",
                "token"
              ],
              "request": {
                "$ref": "ProductPurchasesAcknowledgeRequest"
              },
              "id": "androidpublisher.purchases.products.acknowledge",
              "flatPath": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "httpMethod": "POST",
              "path": "androidpublisher/v3/applications/{packageName}/purchases/products/{productId}/tokens/{token}:acknowledge"
            }
          }
        }
      }
    },
    "users": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ListUsersResponse"
          },
          "httpMethod": "GET",
          "path": "androidpublisher/v3/{+parent}/users",
          "id": "androidpublisher.users.list",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "parameters": {
            "pageToken": {
              "description": "A token received from a previous call to this method, in order to retrieve further results.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "The maximum number of results to return. This must be set to -1 to disable pagination.",
              "format": "int32"
            },
            "parent": {
              "pattern": "^developers/[^/]+$",
              "location": "path",
              "type": "string",
              "description": "Required. The developer account to fetch users from. Format: developers/{developer}",
              "required": true
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Lists all users with access to a developer account.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "create": {
          "path": "androidpublisher/v3/{+parent}/users",
          "response": {
            "$ref": "User"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.users.create",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users",
          "request": {
            "$ref": "User"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. The developer account to add the user to. Format: developers/{developer}",
              "required": true,
              "pattern": "^developers/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Grant access for a user to the given developer account."
        },
        "patch": {
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "User"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "request": {
            "$ref": "User"
          },
          "id": "androidpublisher.users.patch",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "description": "Updates access for the user to the developer account.",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\"."
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            }
          },
          "parameterOrder": [
            "name"
          ]
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.users.delete",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "description": "Required. The name of the user to delete. Format: developers/{developer}/users/{email}",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Removes all access for the user to the given developer account."
        }
      }
    },
    "grants": {
      "methods": {
        "create": {
          "path": "androidpublisher/v3/{+parent}/grants",
          "response": {
            "$ref": "Grant"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.create",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "request": {
            "$ref": "Grant"
          },
          "parameters": {
            "parent": {
              "required": true,
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "type": "string",
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Grant access for a user to the given package."
        },
        "patch": {
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Grant"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Updates access for the user to the given package.",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name.",
              "type": "string",
              "required": true
            },
            "updateMask": {
              "format": "google-fieldmask",
              "description": "Optional. The list of fields to be updated.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "Grant"
          },
          "id": "androidpublisher.grants.patch",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}"
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.grants.delete",
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "description": "Removes all access for the user to the given package or developer account.",
          "parameters": {
            "name": {
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "refundexternaltransaction": {
          "response": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/{+name}:refund",
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "parameters": {
            "name": {
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "type": "string",
              "required": true,
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Refunds or partially refunds an existing external transaction.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "createexternaltransaction": {
          "response": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "POST",
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions",
          "request": {
            "$ref": "ExternalTransaction"
          },
          "parameters": {
            "parent": {
              "pattern": "^applications/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}"
            },
            "externalTransactionId": {
              "location": "query",
              "type": "string",
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked."
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "description": "Creates a new external transaction.",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "getexternaltransaction": {
          "description": "Gets an existing external transaction.",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "path": "androidpublisher/v3/{+name}"
        }
      }
    },
    "monetization": {
      "resources": {
        "onetimeproducts": {
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "httpMethod": "POST",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "parameters": {
                    "productId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\"."
                    },
                    "packageName": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the updated purchase options."
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                },
                "batchDelete": {
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "parameters": {
                    "packageName": {
                      "required": true,
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "location": "path",
                      "type": "string"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "httpMethod": "POST",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "batchGet": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options."
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "description": "Reads one or more one-time product offers.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "httpMethod": "POST"
                    },
                    "batchUpdateStates": {
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "parameters": {
                        "packageName": {
                          "required": true,
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "required": true,
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "location": "path",
                          "type": "string"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "description": "Updates a batch of one-time product offer states.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      }
                    },
                    "cancel": {
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "parameters": {
                        "purchaseOptionId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to cancel."
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to cancel.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "description": "Cancels a one-time product offer.",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "httpMethod": "POST",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel"
                    },
                    "deactivate": {
                      "description": "Deactivates a one-time product offer.",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true
                        },
                        "productId": {
                          "required": true,
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "location": "path",
                          "type": "string"
                        },
                        "offerId": {
                          "location": "path",
                          "type": "string",
[...]
