{
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "kind": "discovery#restDescription",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "batchPath": "batch",
  "protocol": "rest",
  "rootUrl": "https://androidpublisher.googleapis.com/",
  "canonicalName": "Android Publisher",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "Google Play Android Developer API",
  "ownerDomain": "google.com",
  "resources": {
    "orders": {
      "methods": {
        "refund": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Refunds a user's subscription or in-app purchase order. Orders older than 3 years cannot be refunded.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "parameters": {
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true
            },
            "revoke": {
              "location": "query",
              "type": "boolean",
              "description": "Whether to revoke the purchased item. If set to true, access to the subscription or in-app item will be terminated immediately. If the item is a recurring subscription, all future payments will also be terminated. Consumed in-app items need to be handled by developer's app. (optional)."
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            }
          },
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}:refund",
          "httpMethod": "POST",
          "id": "androidpublisher.orders.refund"
        },
        "get": {
          "path": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "parameterOrder": [
            "packageName",
            "orderId"
          ],
          "id": "androidpublisher.orders.get",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders/{orderId}",
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "orderId": {
              "type": "string",
              "location": "path",
              "description": "Required. The order ID provided to the user when the subscription or in-app order was purchased.",
              "required": true
            }
          },
          "response": {
            "$ref": "Order"
          },
          "description": "Get order details for a single order."
        },
        "batchget": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "path": "androidpublisher/v3/applications/{packageName}/orders:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.orders.batchget",
          "description": "Get order details for a list of orders.",
          "httpMethod": "GET",
          "parameters": {
            "orderIds": {
              "description": "Required. The list of order IDs to retrieve order details for. There must be between 1 and 1000 (inclusive) order IDs per request. If any order ID is not found or does not match the provided package, the entire request will fail with an error. The order IDs must be distinct.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. The package name of the application for which this subscription or in-app item was purchased (for example, 'com.some.thing').",
              "required": true
            }
          },
          "response": {
            "$ref": "BatchGetOrdersResponse"
          }
        }
      }
    },
    "applications": {
      "resources": {
        "deviceTierConfigs": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "parameterOrder": [
                "packageName"
              ],
              "id": "androidpublisher.applications.deviceTierConfigs.list",
              "description": "Returns created device tier configs, ordered by descending creation time.",
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListDeviceTierConfigs` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of device tier configs to return. The service may return fewer than this value. If unspecified, at most 10 device tier configs will be returned. The maximum value for this field is 100; values above 100 will be coerced to 100. Device tier configs will be ordered by descending creation time.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListDeviceTierConfigsResponse"
              }
            },
            "create": {
              "id": "androidpublisher.applications.deviceTierConfigs.create",
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "request": {
                "$ref": "DeviceTierConfig"
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "allowUnknownDevices": {
                  "description": "Whether the service should accept device IDs that are unknown to Play's device catalog.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "httpMethod": "POST",
              "description": "Creates a new device tier config for an app."
            },
            "get": {
              "response": {
                "$ref": "DeviceTierConfig"
              },
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "deviceTierConfigId": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Id of an existing device tier config.",
                  "format": "int64",
                  "location": "path"
                }
              },
              "description": "Returns a particular device tier config.",
              "id": "androidpublisher.applications.deviceTierConfigs.get",
              "path": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "parameterOrder": [
                "packageName",
                "deviceTierConfigId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/deviceTierConfigs/{deviceTierConfigId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            }
          }
        },
        "tracks": {
          "resources": {
            "releases": {
              "methods": {
                "list": {
                  "description": "Returns the list of all releases for a given track. This excludes any releases that are obsolete.",
                  "response": {
                    "$ref": "ListReleaseSummariesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "pattern": "^applications/[^/]+/tracks/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent track, which owns this collection of releases. Format: applications/{package_name}/tracks/{track}"
                    }
                  },
                  "flatPath": "androidpublisher/v3/applications/{applicationsId}/tracks/{tracksId}/releases",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "id": "androidpublisher.applications.tracks.releases.list",
                  "path": "androidpublisher/v3/{+parent}/releases",
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            }
          }
        }
      },
      "methods": {
        "dataSafety": {
          "description": "Writes the Safety Labels declaration of an app.",
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Required. Package name of the app.",
              "required": true
            }
          },
          "response": {
            "$ref": "SafetyLabelsUpdateResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "path": "androidpublisher/v3/applications/{packageName}/dataSafety",
          "request": {
            "$ref": "SafetyLabelsUpdateRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "id": "androidpublisher.applications.dataSafety"
        }
      }
    },
    "generatedapks": {
      "methods": {
        "list": {
          "description": "Returns download metadata for all APKs that were generated from a given app bundle.",
          "response": {
            "$ref": "GeneratedApksListResponse"
          },
          "httpMethod": "GET",
          "parameters": {
            "packageName": {
              "location": "path",
              "type": "string",
              "description": "Package name of the app.",
              "required": true
            },
            "versionCode": {
              "location": "path",
              "format": "int32",
              "description": "Version code of the app bundle.",
              "type": "integer",
              "required": true
            }
          },
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.generatedapks.list",
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}",
          "parameterOrder": [
            "packageName",
            "versionCode"
          ]
        },
        "download": {
          "httpMethod": "GET",
          "parameters": {
            "versionCode": {
              "location": "path",
              "format": "int32",
              "description": "Version code of the app bundle.",
              "type": "integer",
              "required": true
            },
            "downloadId": {
              "description": "Download ID, which uniquely identifies the APK to download. Can be obtained from the response of `generatedapks.list` method.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "packageName": {
              "type": "string",
              "location": "path",
              "description": "Package name of the app.",
              "required": true
            }
          },
          "description": "Downloads a single signed APK generated from an app bundle.",
          "useMediaDownloadService": true,
          "id": "androidpublisher.generatedapks.download",
          "path": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "parameterOrder": [
            "packageName",
            "versionCode",
            "downloadId"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/generatedApks/{versionCode}/downloads/{downloadId}:download",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        }
      }
    },
    "grants": {
      "methods": {
        "delete": {
          "path": "androidpublisher/v3/{+name}",
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "description": "Required. The name of the grant to delete. Format: developers/{developer}/users/{email}/grants/{package_name}",
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "androidpublisher.grants.delete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "description": "Removes all access for the user to the given package or developer account."
        },
        "patch": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants/{grantsId}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.patch",
          "path": "androidpublisher/v3/{+name}",
          "request": {
            "$ref": "Grant"
          },
          "parameterOrder": [
            "name"
          ],
          "description": "Updates access for the user to the given package.",
          "response": {
            "$ref": "Grant"
          },
          "httpMethod": "PATCH",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^developers/[^/]+/users/[^/]+/grants/[^/]+$",
              "location": "path",
              "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
            },
            "updateMask": {
              "description": "Optional. The list of fields to be updated.",
              "type": "string",
              "format": "google-fieldmask",
              "location": "query"
            }
          }
        },
        "create": {
          "flatPath": "androidpublisher/v3/developers/{developersId}/users/{usersId}/grants",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.grants.create",
          "parameterOrder": [
            "parent"
          ],
          "path": "androidpublisher/v3/{+parent}/grants",
          "request": {
            "$ref": "Grant"
          },
          "description": "Grant access for a user to the given package.",
          "response": {
            "$ref": "Grant"
          },
          "parameters": {
            "parent": {
              "pattern": "^developers/[^/]+/users/[^/]+$",
              "location": "path",
              "description": "Required. The user which needs permission. Format: developers/{developer}/users/{user}",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "inappproducts": {
      "methods": {
        "batchUpdate": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchUpdate",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchUpdate",
          "request": {
            "$ref": "InappproductsBatchUpdateRequest"
          },
          "parameterOrder": [
            "packageName"
          ],
          "description": "Updates or inserts one or more in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "response": {
            "$ref": "InappproductsBatchUpdateResponse"
          },
          "httpMethod": "POST",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "get": {
          "response": {
            "$ref": "InAppProduct"
          },
          "httpMethod": "GET",
          "parameters": {
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Gets an in-app product, which can be a managed product or a subscription. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "id": "androidpublisher.inappproducts.get",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ]
        },
        "patch": {
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.patch",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "PATCH",
          "parameters": {
            "autoConvertMissingPrices": {
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
              "type": "boolean",
              "location": "query"
            },
            "latencyTolerance": {
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string"
            },
            "sku": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "InAppProduct"
          },
          "description": "Patches an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information."
        },
        "list": {
          "description": "Lists all in-app products - both managed products and subscriptions. If an app has a large number of in-app products, the response may be paginated. In this case the response field `tokenPagination.nextPageToken` will be set and the caller should provide its value as a `token` request parameter to retrieve the next page. This method should no longer be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "response": {
            "$ref": "InappproductsListResponse"
          },
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "maxResults": {
              "location": "query",
              "format": "uint32",
              "deprecated": true,
              "description": "Deprecated and ignored. The page size is determined by the server.",
              "type": "integer"
            },
            "token": {
              "type": "string",
              "location": "query",
              "description": "Pagination token. If empty, list starts at the first product."
            },
            "startIndex": {
              "description": "Deprecated and ignored. Set the `token` parameter to retrieve the next page.",
              "deprecated": true,
              "format": "uint32",
              "location": "query",
              "type": "integer"
            }
          },
          "httpMethod": "GET",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.list",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts"
        },
        "batchDelete": {
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "id": "androidpublisher.inappproducts.batchDelete",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchDelete",
          "request": {
            "$ref": "InappproductsBatchDeleteRequest"
          },
          "description": "Deletes in-app products (managed products or subscriptions). Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput. This method should not be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "httpMethod": "POST"
        },
        "batchGet": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts:batchGet",
          "id": "androidpublisher.inappproducts.batchGet",
          "description": "Reads multiple in-app products, which can be managed products or subscriptions. This method should not be used to retrieve subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "sku": {
              "description": "Unique identifier for the in-app products.",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "InappproductsBatchGetResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "request": {
            "$ref": "InAppProduct"
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "id": "androidpublisher.inappproducts.update",
          "description": "Updates an in-app product (a managed product or a subscription). This method should no longer be used to update subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "httpMethod": "PUT",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "allowMissing": {
              "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
              "location": "query",
              "type": "boolean"
            },
            "sku": {
              "description": "Unique identifier for the in-app product.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "autoConvertMissingPrices": {
              "location": "query",
              "type": "boolean",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            },
            "latencyTolerance": {
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ]
            }
          },
          "response": {
            "$ref": "InAppProduct"
          }
        },
        "delete": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "description": "Deletes an in-app product (a managed product or a subscription). This method should no longer be used to delete subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "parameters": {
            "latencyTolerance": {
              "location": "query",
              "enumDescriptions": [
                "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
              ],
              "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
              "enum": [
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
              ],
              "type": "string"
            },
            "sku": {
              "location": "path",
              "type": "string",
              "description": "Unique identifier for the in-app product.",
              "required": true
            },
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "parameterOrder": [
            "packageName",
            "sku"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts/{sku}",
          "httpMethod": "DELETE",
          "id": "androidpublisher.inappproducts.delete"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "parameterOrder": [
            "packageName"
          ],
          "path": "androidpublisher/v3/applications/{packageName}/inappproducts",
          "request": {
            "$ref": "InAppProduct"
          },
          "id": "androidpublisher.inappproducts.insert",
          "description": "Creates an in-app product (a managed product or a subscription). This method should no longer be used to create subscriptions. See [this article](https://android-developers.googleblog.com/2023/06/changes-to-google-play-developer-api-june-2023.html) for more information.",
          "parameters": {
            "packageName": {
              "description": "Package name of the app.",
              "required": true,
              "location": "path",
              "type": "string"
            },
            "autoConvertMissingPrices": {
              "type": "boolean",
              "location": "query",
              "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false."
            }
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "InAppProduct"
          }
        }
      }
    },
    "systemapks": {
      "resources": {
        "variants": {
          "methods": {
            "list": {
              "response": {
                "$ref": "SystemApksListResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                },
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Returns the list of previously created system APK variants.",
              "id": "androidpublisher.systemapks.variants.list",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "create": {
              "description": "Creates an APK which is suitable for inclusion in a system image from an already uploaded Android App Bundle.",
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "description": "Package name of the app.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "versionCode": {
                  "location": "path",
                  "format": "int64",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Variant"
              },
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants",
              "request": {
                "$ref": "Variant"
              },
              "parameterOrder": [
                "packageName",
                "versionCode"
              ],
              "id": "androidpublisher.systemapks.variants.create"
            },
            "get": {
              "response": {
                "$ref": "Variant"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "versionCode": {
                  "description": "The version code of the App Bundle.",
                  "location": "path",
                  "format": "int64",
                  "required": true,
                  "type": "string"
                },
                "variantId": {
                  "description": "The ID of a previously created system APK variant.",
                  "format": "uint32",
                  "location": "path",
                  "required": true,
                  "type": "integer"
                }
              },
              "httpMethod": "GET",
              "description": "Returns a previously created system APK variant.",
              "id": "androidpublisher.systemapks.variants.get",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "download": {
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Package name of the app.",
                  "required": true
                },
                "versionCode": {
                  "format": "int64",
                  "location": "path",
                  "description": "The version code of the App Bundle.",
                  "type": "string",
                  "required": true
                },
                "variantId": {
                  "required": true,
                  "type": "integer",
                  "description": "The ID of a previously created system APK variant.",
                  "location": "path",
                  "format": "uint32"
                }
              },
              "httpMethod": "GET",
              "useMediaDownloadService": true,
              "description": "Downloads a previously created system APK which is suitable for inclusion in a system image.",
              "parameterOrder": [
                "packageName",
                "versionCode",
                "variantId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "id": "androidpublisher.systemapks.variants.download",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/systemApks/{versionCode}/variants/{variantId}:download",
              "supportsMediaDownload": true
            }
          }
        }
      }
    },
    "externaltransactions": {
      "methods": {
        "getexternaltransaction": {
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the external transaction to retrieve. Format: applications/{package_name}/externalTransactions/{external_transaction}",
              "location": "path",
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$"
            }
          },
          "httpMethod": "GET",
          "response": {
            "$ref": "ExternalTransaction"
          },
          "description": "Gets an existing external transaction.",
          "parameterOrder": [
            "name"
          ],
          "path": "androidpublisher/v3/{+name}",
          "id": "androidpublisher.externaltransactions.getexternaltransaction",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}"
        },
        "refundexternaltransaction": {
          "id": "androidpublisher.externaltransactions.refundexternaltransaction",
          "path": "androidpublisher/v3/{+name}:refund",
          "request": {
            "$ref": "RefundExternalTransactionRequest"
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions/{externalTransactionsId}:refund",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "response": {
            "$ref": "ExternalTransaction"
          },
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "pattern": "^applications/[^/]+/externalTransactions/[^/]+$",
              "location": "path",
              "description": "Required. The name of the external transaction that will be refunded. Format: applications/{package_name}/externalTransactions/{external_transaction}"
            }
          },
          "description": "Refunds or partially refunds an existing external transaction."
        },
        "createexternaltransaction": {
          "httpMethod": "POST",
          "parameters": {
            "parent": {
              "description": "Required. The parent resource where this external transaction will be created. Format: applications/{package_name}",
              "location": "path",
              "pattern": "^applications/[^/]+$",
              "required": true,
              "type": "string"
            },
            "externalTransactionId": {
              "description": "Required. The id to use for the external transaction. Must be unique across all other transactions for the app. This value should be 1-63 characters and valid characters are /a-zA-Z0-9_-/. Do not use this field to store any Personally Identifiable Information (PII) such as emails. Attempting to store PII in this field may result in requests being blocked.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "ExternalTransaction"
          },
          "description": "Creates a new external transaction.",
          "path": "androidpublisher/v3/{+parent}/externalTransactions",
          "request": {
            "$ref": "ExternalTransaction"
          },
          "parameterOrder": [
            "parent"
          ],
          "id": "androidpublisher.externaltransactions.createexternaltransaction",
          "scopes": [
            "https://www.googleapis.com/auth/androidpublisher"
          ],
          "flatPath": "androidpublisher/v3/applications/{applicationsId}/externalTransactions"
        }
      }
    },
    "monetization": {
      "resources": {
        "onetimeproducts": {
          "methods": {
            "list": {
              "id": "androidpublisher.monetization.onetimeproducts.list",
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "response": {
                "$ref": "ListOneTimeProductsResponse"
              },
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time product should be read.",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListOneTimeProducts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListOneTimeProducts` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. The maximum number of one-time product to return. The service may return fewer than this value. If unspecified, at most 50 one-time products will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                }
              },
              "httpMethod": "GET",
              "description": "Lists all one-time products under a given app."
            },
            "get": {
              "response": {
                "$ref": "OneTimeProduct"
              },
              "httpMethod": "GET",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) of the product to retrieve.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "productId": {
                  "description": "Required. The product ID of the product to retrieve.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Reads a single one-time product.",
              "id": "androidpublisher.monetization.onetimeproducts.get",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "patch": {
              "description": "Creates or updates a one-time product.",
              "response": {
                "$ref": "OneTimeProduct"
              },
              "httpMethod": "PATCH",
              "parameters": {
                "productId": {
                  "description": "Required. Immutable. Unique product ID of the product. Unique within the parent app. Product IDs must start with a number or lowercase letter, and can contain numbers (0-9), lowercase letters (a-z), underscores (_), and periods (.).",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "latencyTolerance": {
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "location": "query",
                  "description": "Optional. The latency tolerance for the propagation of this product upsert. Defaults to latency-sensitive.",
                  "type": "string",
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ]
                },
                "allowMissing": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. If set to true, and the one-time product with the given package_name and product_id doesn't exist, the one-time product will be created. If a new one-time product is created, update_mask is ignored."
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to be updated."
                },
                "regionsVersion.version": {
                  "description": "Required. A string representing the version of available regions being used for the specified resource. Regional prices and latest supported version for the resource have to be specified according to the information published in [this article](https://support.google.com/googleplay/android-developer/answer/10532353). Each time the supported locations substantially change, the version will be incremented. Using this field will ensure that creating and updating the resource with an older region's version and set of regional prices and currencies will succeed even though a new version is available.",
                  "type": "string",
                  "location": "query"
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. Immutable. Package name of the parent app.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.patch",
              "path": "androidpublisher/v3/applications/{packageName}/onetimeproducts/{productId}",
              "request": {
                "$ref": "OneTimeProduct"
              },
              "parameterOrder": [
                "packageName",
                "productId"
              ]
            },
            "batchUpdate": {
              "response": {
                "$ref": "BatchUpdateOneTimeProductsResponse"
              },
              "httpMethod": "POST",
              "parameters": {
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the one-time products should be updated. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "required": true
                }
              },
              "description": "Creates or updates one or more one-time products.",
              "id": "androidpublisher.monetization.onetimeproducts.batchUpdate",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "request": {
                "$ref": "BatchUpdateOneTimeProductsRequest"
              },
              "parameterOrder": [
                "packageName"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchUpdate",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "delete": {
              "id": "androidpublisher.monetization.onetimeproducts.delete",
              "parameters": {
                "productId": {
                  "description": "Required. The one-time product ID of the one-time product to delete.",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "latencyTolerance": {
                  "enum": [
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
                    "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
                  ],
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
                    "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
                    "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
                  ],
                  "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) of the one-time product to delete.",
                  "required": true
                }
              },
              "parameterOrder": [
                "packageName",
                "productId"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "httpMethod": "DELETE",
              "description": "Deletes a one-time product.",
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ]
            },
            "batchGet": {
              "description": "Reads one or more one-time products.",
              "response": {
                "$ref": "BatchGetOneTimeProductsResponse"
              },
              "httpMethod": "GET",
              "parameters": {
                "productIds": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Required. A list of up to 100 product IDs to retrieve. All IDs must be different."
                },
                "packageName": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent app (package name) for which the products should be retrieved. Must be equal to the package_name field on all requests.",
                  "required": true
                }
              },
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "id": "androidpublisher.monetization.onetimeproducts.batchGet",
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchGet",
              "parameterOrder": [
                "packageName"
              ]
            },
            "batchDelete": {
              "description": "Deletes one or more one-time products.",
              "parameters": {
                "packageName": {
                  "description": "Required. The parent app (package name) for which the one-time products should be deleted. Must be equal to the package_name field on all the OneTimeProduct resources.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/androidpublisher"
              ],
              "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "parameterOrder": [
                "packageName"
              ],
              "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts:batchDelete",
              "request": {
                "$ref": "BatchDeleteOneTimeProductsRequest"
              },
              "id": "androidpublisher.monetization.onetimeproducts.batchDelete"
            }
          },
          "resources": {
            "purchaseOptions": {
              "methods": {
                "batchUpdateStates": {
                  "response": {
                    "$ref": "BatchUpdatePurchaseOptionStatesResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the updated purchase options.",
                      "required": true
                    },
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The product ID of the parent one-time product, if all updated purchase options belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                      "required": true
                    }
                  },
                  "description": "Activates or deactivates purchase options across one or multiple one-time products.",
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchUpdateStates",
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdatePurchaseOptionStatesRequest"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchUpdateStates",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ]
                },
                "batchDelete": {
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) of the purchase options to delete.",
                      "required": true
                    },
                    "productId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The product ID of the parent one-time product, if all purchase options to delete belong to the same one-time product. If this batch delete spans multiple one-time products, set this field to \"-\".",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Deletes purchase options across one or multiple one-time products. By default this operation will fail if there are any existing offers under the deleted purchase options. Use the force parameter to override the default behavior.",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete",
                  "request": {
                    "$ref": "BatchDeletePurchaseOptionsRequest"
                  },
                  "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.batchDelete",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions:batchDelete"
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "activate": {
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offer to activate.",
                          "required": true
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to activate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to activate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to activate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "description": "Activates a one-time product offer.",
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.activate",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "request": {
                        "$ref": "ActivateOneTimeProductOfferRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:activate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
                    },
                    "list": {
                      "description": "Lists all offers under a given app, product, or purchase option.",
                      "response": {
                        "$ref": "ListOneTimeProductOffersResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be read. May be specified as '-' to read all offers under a one-time product or an app. Must be specified as '-' if product_id is specified as '-'.",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) for which the offers should be read.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListOneTimeProductsOffers` call. Provide this to retrieve the subsequent page. When paginating, product_id, package_name and purchase_option_id provided to `ListOneTimeProductsOffersRequest` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent one-time product (ID) for which the offers should be read. May be specified as '-' to read all offers under an app.",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. The maximum number of offers to return. The service may return fewer than this value. If unspecified, at most 50 offers will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.list",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "batchGet": {
                      "description": "Reads one or more one-time product offers.",
                      "httpMethod": "POST",
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "purchaseOptionId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true
                        },
                        "productId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "BatchGetOneTimeProductOffersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchGet",
                      "request": {
                        "$ref": "BatchGetOneTimeProductOffersRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchGet"
                    },
                    "batchUpdateStates": {
                      "description": "Updates a batch of one-time product offer states.",
                      "parameters": {
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the updated one-time product offers.",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The purchase option ID of the parent purchase option, if all updated offers belong to the same purchase option. If this batch update spans multiple purchase options, set this field to \"-\".",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same one-time product. If this batch update spans multiple one-time products, set this field to \"-\".",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdateStates",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOfferStatesRequest"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdateStates"
                    },
                    "batchDelete": {
                      "description": "Deletes one or more one-time product offers.",
                      "httpMethod": "POST",
                      "parameters": {
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all offers to delete belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) for which the offers should be deleted. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent app (package name) of the offers to delete. Must be equal to the package_name field on all the OneTimeProductOffer resources.",
                          "required": true
                        }
                      },
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchDelete",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchDelete",
                      "request": {
                        "$ref": "BatchDeleteOneTimeProductOffersRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ]
                    },
                    "cancel": {
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:cancel",
                      "request": {
                        "$ref": "CancelOneTimeProductOfferRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.cancel",
                      "description": "Cancels a one-time product offer.",
                      "httpMethod": "POST",
                      "parameters": {
                        "productId": {
                          "description": "Required. The parent one-time product (ID) of the offer to cancel.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "description": "Required. The parent purchase option (ID) of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to cancel.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to cancel.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      }
                    },
                    "deactivate": {
                      "description": "Deactivates a one-time product offer.",
                      "response": {
                        "$ref": "OneTimeProductOffer"
                      },
                      "parameters": {
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent one-time product (ID) of the offer to deactivate.",
                          "required": true
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) of the offer to deactivate.",
                          "required": true
                        },
                        "packageName": {
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "offerId": {
                          "description": "Required. The offer ID of the offer to deactivate.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "httpMethod": "POST",
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.deactivate",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId",
                        "offerId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers/{offerId}:deactivate",
                      "request": {
                        "$ref": "DeactivateOneTimeProductOfferRequest"
                      }
                    },
                    "batchUpdate": {
                      "parameters": {
                        "packageName": {
                          "description": "Required. The parent app (package name) of the updated offers. Must be equal to the package_name field on all the updated OneTimeProductOffer resources.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "productId": {
                          "description": "Required. The product ID of the parent one-time product, if all updated offers belong to the same product. If this request spans multiple one-time products, set this field to \"-\".",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        },
                        "purchaseOptionId": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent purchase option (ID) for which the offers should be updated. May be specified as '-' to update offers from multiple purchase options.",
                          "required": true
                        }
                      },
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "BatchUpdateOneTimeProductOffersResponse"
                      },
                      "description": "Creates or updates one or more one-time product offers.",
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "purchaseOptionId"
                      ],
                      "path": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate",
                      "request": {
                        "$ref": "BatchUpdateOneTimeProductOffersRequest"
                      },
                      "id": "androidpublisher.monetization.onetimeproducts.purchaseOptions.offers.batchUpdate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/oneTimeProducts/{productId}/purchaseOptions/{purchaseOptionId}/offers:batchUpdate"
                    }
                  }
                }
              }
            }
          }
        },
        "subscriptions": {
          "resources": {
            "basePlans": {
              "methods": {
                "delete": {
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to delete.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "packageName": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the base plan to delete.",
                      "required": true
                    },
                    "basePlanId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The unique offer ID of the base plan to delete.",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}",
                  "description": "Deletes a base plan. Can only be done for draft base plans. This action is irreversible."
                },
                "migratePrices": {
                  "id": "androidpublisher.monetization.subscriptions.basePlans.migratePrices",
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "request": {
                    "$ref": "MigrateBasePlanPricesRequest"
                  },
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:migratePrices",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "MigrateBasePlanPricesResponse"
                  },
                  "parameters": {
                    "productId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
                      "required": true
                    },
                    "packageName": {
                      "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to update prices on.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Migrates subscribers from one or more legacy price cohorts to the current price. Requests result in Google Play notifying affected subscribers. Only up to 250 simultaneous legacy price cohorts are supported."
                },
                "deactivate": {
                  "id": "androidpublisher.monetization.subscriptions.basePlans.deactivate",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "request": {
                    "$ref": "DeactivateBasePlanRequest"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:deactivate",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "response": {
                    "$ref": "Subscription"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "productId": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent subscription (ID) of the base plan to deactivate.",
                      "required": true
                    },
                    "packageName": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent app (package name) of the base plan to deactivate.",
                      "required": true
                    },
                    "basePlanId": {
                      "description": "Required. The unique base plan ID of the base plan to deactivate.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Deactivates a base plan. Once deactivated, the base plan will become unavailable to new subscribers, but existing subscribers will maintain their subscription"
                },
                "batchUpdateStates": {
                  "description": "Activates or deactivates base plans across one or multiple subscriptions. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "httpMethod": "POST",
                  "parameters": {
                    "packageName": {
                      "description": "Required. The parent app (package name) of the updated base plans.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated base plans belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "BatchUpdateBasePlanStatesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchUpdateStates",
                  "request": {
                    "$ref": "BatchUpdateBasePlanStatesRequest"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchUpdateStates"
                },
                "batchMigratePrices": {
                  "description": "Batch variant of the MigrateBasePlanPrices endpoint. Set the latencyTolerance field on nested requests to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT to achieve maximum update throughput.",
                  "response": {
                    "$ref": "BatchMigrateBasePlanPricesResponse"
                  },
                  "parameters": {
                    "packageName": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent app (package name) for which the subscriptions should be created or updated. Must be equal to the package_name field on all the Subscription resources.",
                      "required": true
                    },
                    "productId": {
                      "description": "Required. The product ID of the parent subscription, if all updated offers belong to the same subscription. If this batch update spans multiple subscriptions, set this field to \"-\". Must be set.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.batchMigratePrices",
                  "parameterOrder": [
                    "packageName",
                    "productId"
                  ],
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans:batchMigratePrices",
                  "request": {
                    "$ref": "BatchMigrateBasePlanPricesRequest"
                  }
                },
                "activate": {
                  "scopes": [
                    "https://www.googleapis.com/auth/androidpublisher"
                  ],
                  "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}:activate",
                  "request": {
                    "$ref": "ActivateBasePlanRequest"
                  },
                  "parameterOrder": [
                    "packageName",
                    "productId",
                    "basePlanId"
                  ],
                  "id": "androidpublisher.monetization.subscriptions.basePlans.activate",
                  "description": "Activates a base plan. Once activated, base plans will be available to new subscribers.",
                  "httpMethod": "POST",
                  "parameters": {
                    "basePlanId": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The unique base plan ID of the base plan to activate.",
                      "required": true
                    },
                    "packageName": {
                      "description": "Required. The parent app (package name) of the base plan to activate.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "productId": {
                      "description": "Required. The parent subscription (ID) of the base plan to activate.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Subscription"
                  }
                }
              },
              "resources": {
                "offers": {
                  "methods": {
                    "deactivate": {
                      "response": {
                        "$ref": "SubscriptionOffer"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "basePlanId": {
                          "description": "Required. The parent base plan (ID) of the offer to deactivate.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "offerId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The unique offer ID of the offer to deactivate.",
                          "required": true
                        },
                        "packageName": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent app (package name) of the offer to deactivate.",
                          "required": true
                        },
                        "productId": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent subscription (ID) of the offer to deactivate.",
                          "required": true
                        }
                      },
                      "description": "Deactivates a subscription offer. Once deactivated, existing subscribers will maintain their subscription, but the offer will become unavailable to new subscribers.",
                      "id": "androidpublisher.monetization.subscriptions.basePlans.offers.deactivate",
                      "path": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "request": {
                        "$ref": "DeactivateSubscriptionOfferRequest"
                      },
                      "parameterOrder": [
                        "packageName",
                        "productId",
                        "basePlanId",
                        "offerId"
                      ],
                      "flatPath": "androidpublisher/v3/applications/{packageName}/subscriptions/{productId}/basePlans/{basePlanId}/offers/{offerId}:deactivate",
                      "scopes": [
                        "https://www.googleapis.com/auth/androidpublisher"
                      ]
[...]
