{
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "servicePath": "",
  "canonicalName": "Apigee",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "endpoints": [
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "location": "eu",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.sa.rep.googleapis.com/",
      "location": "sa",
      "description": "Regional Endpoint"
    }
  ],
  "version_module": true,
  "ownerName": "Google",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "apigee",
  "discoveryVersion": "v1",
  "revision": "20260409",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "title": "Apigee API",
  "rootUrl": "https://apigee.googleapis.com/",
  "schemas": {
    "GoogleCloudApigeeV1ScoreComponentRecommendationAction": {
      "description": "Action to improve security score.",
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationAction",
      "properties": {
        "actionContext": {
          "description": "Action context for the action.",
          "$ref": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext"
        },
        "description": {
          "type": "string",
          "description": "Description of the action."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusRequest": {
      "description": "Request for ReportInstanceStatus.",
      "id": "GoogleCloudApigeeV1ReportInstanceStatusRequest",
      "properties": {
        "instanceUid": {
          "type": "string",
          "description": "A unique ID for the instance which is guaranteed to be unique in case the user installs multiple hybrid runtimes with the same instance ID."
        },
        "reportTime": {
          "description": "The time the report was generated in the runtime. Used to prevent an old status from overwriting a newer one. An instance should space out it's status reports so that clock skew does not play a factor.",
          "type": "string",
          "format": "google-datetime"
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceStatus"
          },
          "description": "Status for config resources"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest": {
      "id": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest",
      "description": "Request for UpdateAppGroupAppKey",
      "type": "object",
      "properties": {
        "action": {
          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body.",
          "type": "string"
        },
        "appGroupAppKey": {
          "description": "Note that only Scopes and Attributes of the AppGroupAppKey can be amended. Scopes and Attributes mentioned in the request will be inserted and the existing scopes and attributes will be removed.",
          "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of API products that will be associated with the credential. This list will be appended to the existing list of associated API Products for this App Key. Duplicates will be ignored."
        }
      }
    },
    "GoogleIamV1SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "id": "GoogleIamV1SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "GoogleIamV1Policy"
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OASDocumentation": {
      "type": "object",
      "properties": {
        "spec": {
          "description": "Required. The documentation file contents for the OpenAPI Specification. JSON and YAML file formats are supported.",
          "$ref": "GoogleCloudApigeeV1DocumentationFile"
        },
        "format": {
          "readOnly": true,
          "enum": [
            "FORMAT_UNSPECIFIED",
            "YAML",
            "JSON"
          ],
          "type": "string",
          "description": "Output only. The format of the input specification file contents.",
          "enumDescriptions": [
            "The format is not available.",
            "YAML format.",
            "JSON format."
          ]
        }
      },
      "id": "GoogleCloudApigeeV1OASDocumentation",
      "description": "OpenAPI Specification documentation for a catalog item."
    },
    "GoogleCloudApigeeV1DnsZonePeeringConfig": {
      "type": "object",
      "properties": {
        "targetProjectId": {
          "type": "string",
          "description": "Required. The ID of the project that contains the producer VPC network."
        },
        "targetNetworkId": {
          "description": "Required. The VPC network where the records for that private DNS zone's namespace are available. Apigee will be performing DNS peering with this VPC network.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1DnsZonePeeringConfig",
      "description": "Fields for DNS PEERING zone."
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "description": "Response for ListEnvironmentResources",
      "type": "object",
      "properties": {
        "resourceFile": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resources files."
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperMonetizationConfig": {
      "description": "Monetization configuration for the developer.",
      "id": "GoogleCloudApigeeV1DeveloperMonetizationConfig",
      "properties": {
        "billingType": {
          "type": "string",
          "enum": [
            "BILLING_TYPE_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "description": "Billing type.",
          "enumDescriptions": [
            "The default/unset value.",
            "Developer pays in advance for the use of APIs and the charged amount is deducted from their account balance.",
            "Developer does not maintain an account balance. The API provider bills the developer for API usage."
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest": {
      "type": "object",
      "properties": {
        "adjustment": {
          "description": "* A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged developer i.e. the balance of the developer will decrease. * A negative value of `adjustment` means that that the API provider wants to adjust the balance for an over-charged developer i.e. the balance of the developer will increase. NOTE: An adjustment cannot increase the balance of the developer beyond the balance as of the most recent credit. For example, if a developer's balance is updated to be $100, and they spend $10, a negative adjustment can only increase the balance of the developer to $100.",
          "$ref": "GoogleTypeMoney"
        }
      },
      "id": "GoogleCloudApigeeV1AdjustDeveloperBalanceRequest",
      "description": "Request for AdjustDeveloperBalance."
    },
    "GoogleCloudApigeeV1GraphQLOperationConfig": {
      "type": "object",
      "properties": {
        "apiSource": {
          "description": "Required. Name of the API proxy endpoint or remote service with which the GraphQL operation and quota are associated.",
          "type": "string"
        },
        "quota": {
          "description": "Quota parameters to be enforced for the resources, methods, and API source combination. If none are specified, quota enforcement will not be done.",
          "$ref": "GoogleCloudApigeeV1Quota"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Custom attributes associated with the operation."
        },
        "operations": {
          "description": "Required. List of GraphQL name/operation type pairs for the proxy or remote service to which quota will be applied. If only operation types are specified, the quota will be applied to all GraphQL requests irrespective of the GraphQL name. **Note**: Currently, you can specify only a single GraphQLOperation. Specifying more than one will cause the operation to fail.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GraphQLOperation"
          }
        }
      },
      "id": "GoogleCloudApigeeV1GraphQLOperationConfig",
      "description": "Binds the resources in a proxy or remote service with the GraphQL operation and its associated quota enforcement."
    },
    "GoogleCloudApigeeV1ProfileConfigMTLS": {
      "description": "Checks to see if you have configured mTLS for the target server.",
      "id": "GoogleCloudApigeeV1ProfileConfigMTLS",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceConfig": {
      "id": "GoogleCloudApigeeV1RuntimeTraceConfig",
      "description": "NEXT ID: 10 RuntimeTraceConfig defines the configurations for distributed trace in an environment.",
      "type": "object",
      "properties": {
        "revisionId": {
          "type": "string",
          "description": "Revision number which can be used by the runtime to detect if the trace config has changed between two versions."
        },
        "samplingConfig": {
          "description": "Trace configuration for all API proxies in an environment.",
          "$ref": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig"
        },
        "traceProtocol": {
          "description": "Optional. The trace protocol to use.",
          "enumDescriptions": [
            "Protocol unspecified. Defaults to OPEN_CENSUS.",
            "Uses OpenCensus protocol.",
            "Uses OpenTelemetry Protocol (OTLP)."
          ],
          "type": "string",
          "enum": [
            "TRACE_PROTOCOL_UNSPECIFIED",
            "OPEN_CENSUS",
            "OTLP"
          ]
        },
        "name": {
          "description": "Name of the trace config in the following format: `organizations/{org}/environment/{env}/traceConfig`",
          "type": "string"
        },
        "openTelemetryProtocolEnabled": {
          "deprecated": true,
          "description": "Optional. If `true`, the runtime uses OpenTelemetry Protocol (OTLP) to send trace data. Configuration Requirements (if `open_telemetry_protocol_enabled` is `true`): - Allowed `Exporter`s: `CLOUD_TRACE` or `OPEN_TELEMETRY_COLLECTOR`. - If `Exporter` is `OPEN_TELEMETRY_COLLECTOR`: - `endpoint` refers to a valid OTLP collector URL. - If `Exporter` is `CLOUD_TRACE`: - `endpoint` refers to a valid project ID Deprecated: Use trace_protocol instead.",
          "type": "boolean"
        },
        "endpoint": {
          "description": "Endpoint of the exporter.",
          "type": "string"
        },
        "overrides": {
          "description": "List of trace configuration overrides for spicific API proxies.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RuntimeTraceConfigOverride"
          }
        },
        "revisionCreateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The timestamp that the revision was created or updated."
        },
        "exporter": {
          "type": "string",
          "enum": [
            "EXPORTER_UNSPECIFIED",
            "JAEGER",
            "CLOUD_TRACE",
            "OPEN_TELEMETRY_COLLECTOR",
            "OPEN_TELEMETRY_CLOUD_TRACE"
          ],
          "description": "Exporter that is used to view the distributed trace captured using OpenCensus. An exporter sends traces to any backend that is capable of consuming them. Recorded spans can be exported by registered exporters.",
          "enumDescriptions": [
            "Exporter unspecified",
            "Exports events to Jaeger. Compatible with OpenCensus protocol.",
            "Exports events to Cloud Trace. Compatible with OpenCensus protocol.",
            "OpenTelemetry Collector. Compatible with OpenTelemetry protocol.",
            "Exports events to Cloud Trace. Compatible with OpenTelemetry protocol."
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ControlPlaneAccess": {
      "properties": {
        "synchronizerIdentities": {
          "description": "Optional. Array of service accounts to grant access to control plane resources (for the Synchronizer component). The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "analyticsPublisherIdentities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of service accounts authorized to publish analytics data to the control plane (for the Message Processor component)."
        },
        "name": {
          "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ControlPlaneAccess is the request body and response body of UpdateControlPlaneAccess. and the response body of GetControlPlaneAccess. The input identities contains an array of service accounts to grant access to the respective control plane resource, with each service account specified using the following format: `serviceAccount:`***service-account-name***. The ***service-account-name*** is formatted like an email address. For example: `my-control-plane-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one.",
      "id": "GoogleCloudApigeeV1ControlPlaneAccess"
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse",
      "description": "The response for `ListApiCategoriesRequest`. Next ID: 6",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "errorCode": {
          "type": "string",
          "description": "Unique error code for the request, if any."
        },
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "data": {
          "description": "The API category resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategory"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListOfDevelopersResponse": {
      "id": "GoogleCloudApigeeV1ListOfDevelopersResponse",
      "properties": {
        "developer": {
          "description": "List of developers.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Developer"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportResultMetadata": {
      "id": "GoogleCloudApigeeV1SecurityReportResultMetadata",
      "description": "Contains informations about the security report results.",
      "type": "object",
      "properties": {
        "self": {
          "type": "string",
          "description": "Self link of the query results. Example: `/organizations/myorg/environments/myenv/securityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result` or following format if query is running at host level: `/organizations/myorg/hostSecurityReports/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd/result`"
        },
        "expires": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Expire_time is set to 7 days after report creation. Query result will be unaccessable after this time. Example: \"2021-05-04T13:38:52-07:00\""
        }
      }
    },
    "GoogleCloudApigeeV1DeleteResponse": {
      "description": "Response for certain delete operations.",
      "id": "GoogleCloudApigeeV1DeleteResponse",
      "properties": {
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "errorCode": {
          "description": "Unique error code for the request, if any.",
          "type": "string"
        },
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "gcpResource": {
          "description": "Google Cloud name of deleted resource.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "properties": {
        "ratePlans": {
          "description": "List of rate plans in an organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          }
        },
        "nextStartKey": {
          "type": "string",
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for ListRatePlans.",
      "id": "GoogleCloudApigeeV1ListRatePlansResponse"
    },
    "GoogleCloudApigeeV1Stats": {
      "properties": {
        "environments": {
          "description": "List of query results on the environment level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsEnvironmentStats"
          }
        },
        "hosts": {
          "description": "List of query results grouped by host.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1StatsHostStats"
          }
        },
        "metaData": {
          "description": "Metadata information.",
          "$ref": "GoogleCloudApigeeV1Metadata"
        }
      },
      "type": "object",
      "description": "Encapsulates a `stats` response.",
      "id": "GoogleCloudApigeeV1Stats"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsResponse": {
      "type": "object",
      "properties": {
        "assessmentTime": {
          "description": "The time of the assessment api call.",
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is blank, there are no subsequent pages."
        },
        "securityAssessmentResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAssessmentResult"
          },
          "description": "Default sort order is by resource name in alphabetic order."
        }
      },
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsResponse",
      "description": "Response for BatchComputeSecurityAssessmentResults."
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "id": "GoogleCloudApigeeV1Point",
      "properties": {
        "id": {
          "type": "string",
          "description": "Name of a step in the transaction."
        },
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentGroupConfig": {
      "id": "GoogleCloudApigeeV1DeploymentGroupConfig",
      "description": "DeploymentGroupConfig represents a deployment group that should be present in a particular environment.",
      "type": "object",
      "properties": {
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the deployment group has changed between two versions.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the deployment group in the following format: `organizations/{org}/environments/{env}/deploymentGroups/{group}`."
        },
        "uid": {
          "type": "string",
          "description": "Unique ID. The ID will only change if the deployment group is deleted and recreated."
        },
        "deploymentGroupType": {
          "description": "Type of the deployment group, which will be either Standard or Extensible.",
          "enumDescriptions": [
            "Unspecified type",
            "Standard type",
            "Extensible Type"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_GROUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "EXTENSIBLE"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileV2": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the security profile creation."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the security profile v2 resource. Format: organizations/{org}/securityProfilesV2/{profile}"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the security profile."
        },
        "updateTime": {
          "description": "Output only. The time of the security profile update.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "googleDefined": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the security profile is google defined."
        },
        "riskAssessmentType": {
          "description": "Optional. The risk assessment type of the security profile. Defaults to ADVANCED_API_SECURITY.",
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ],
          "type": "string",
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ]
        },
        "profileAssessmentConfigs": {
          "description": "Required. The configuration for each assessment in this profile. Key is the name/id of the assessment.",
          "additionalProperties": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig"
          },
          "type": "object"
        }
      },
      "id": "GoogleCloudApigeeV1SecurityProfileV2",
      "description": "Security profile for risk assessment version 2."
    },
    "GoogleCloudApigeeV1SecurityActionFlag": {
      "properties": {
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityActionHttpHeader"
          },
          "description": "Optional. A list of HTTP headers to be sent to the target in case of a FLAG SecurityAction. Limit 5 headers per SecurityAction. At least one is mandatory."
        }
      },
      "type": "object",
      "description": "The message that should be set in the case of a Flag action.",
      "id": "GoogleCloudApigeeV1SecurityActionFlag"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1Binding"
          }
        },
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "auditConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy."
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse": {
      "description": "Response for ListSecurityMonitoringConditions.",
      "id": "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse",
      "properties": {
        "securityMonitoringConditions": {
          "description": "List of security monitoring conditions in the organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1MoveApiProxyRequest": {
      "type": "object",
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the proxy to. If unspecified, the proxy will be moved to the organization level.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1MoveApiProxyRequest",
      "description": "Moves an API Proxy to a different Space."
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "description": "Properties for the schema field.",
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`."
        },
        "custom": {
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Data type of the field."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityReportMetadata": {
      "properties": {
        "timeUnit": {
          "description": "Query GroupBy time unit. Example: \"seconds\", \"minute\", \"hour\"",
          "type": "string"
        },
        "endTimestamp": {
          "description": "End timestamp of the query range.",
          "type": "string",
          "format": "google-datetime"
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics of the SecurityReport. Example: [\"name:bot_count,func:sum,alias:sum_bot_count\"]"
        },
        "startTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Start timestamp of the query range."
        },
        "dimensions": {
          "description": "Dimensions of the SecurityReport.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "MIME type / Output format.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata for the security report.",
      "id": "GoogleCloudApigeeV1SecurityReportMetadata"
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "description": "A representation of a configuration override.",
      "type": "object",
      "properties": {
        "samplingConfig": {
          "description": "Trace configuration to override.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        },
        "apiProxy": {
          "type": "string",
          "description": "ID of the API proxy that will have its trace configuration overridden."
        },
        "name": {
          "type": "string",
          "description": "ID of the trace configuration override specified as a system-generated UUID."
        }
      }
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsRequest": {
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsRequest",
      "description": "QueryTimeSeriesStatsRequest represents a query that returns a collection of time series sequences grouped by their values.",
      "type": "object",
      "properties": {
        "pageSize": {
          "description": "Page size represents the number of time series sequences, one per unique set of dimensions and their values.",
          "type": "integer",
          "format": "int32"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of dimension names to group the aggregations by. If no dimensions are passed, a single trend line representing the requested metric aggregations grouped by environment is returned."
        },
        "timestampOrder": {
          "enum": [
            "ORDER_UNSPECIFIED",
            "ASCENDING",
            "DESCENDING"
          ],
          "type": "string",
          "description": "Order the sequences in increasing or decreasing order of timestamps. Default is descending order of timestamps (latest first).",
          "enumDescriptions": [
            "Unspecified order. Default is Descending.",
            "Ascending sort order.",
            "Descending sort order."
          ]
        },
        "filter": {
          "description": "Filter further on specific dimension values. Follows the same grammar as custom report's filter expressions. Example, apiproxy eq 'foobar'. https://cloud.google.com/apigee/docs/api-platform/analytics/analytics-reference#filters",
          "type": "string"
        },
        "timeRange": {
          "description": "Required. Time range for the stats.",
          "$ref": "GoogleTypeInterval"
        },
        "metrics": {
          "description": "Required. List of metrics and their aggregations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1MetricAggregation"
          }
        },
        "windowSize": {
          "enum": [
            "WINDOW_SIZE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "MONTH"
          ],
          "type": "string",
          "description": "Time buckets to group the stats by.",
          "enumDescriptions": [
            "Unspecified window size. Default is 1 hour.",
            "1 Minute window",
            "1 Hour window",
            "1 Day window",
            "1 Month window"
          ]
        },
        "pageToken": {
          "description": "Page token stands for a specific collection of time series sequences.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported."
        },
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        }
      },
      "type": "object"
    },
    "GoogleIamV1AuditConfig": {
      "type": "object",
      "properties": {
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        },
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        }
      },
      "id": "GoogleIamV1AuditConfig",
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging."
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "description": "The response for ListAsyncQueries.",
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "properties": {
        "queries": {
          "description": "The asynchronous queries belong to requested resource name.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityActionHttpHeader": {
      "id": "GoogleCloudApigeeV1SecurityActionHttpHeader",
      "description": "An HTTP header.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "The header value to be sent to the target."
        },
        "name": {
          "type": "string",
          "description": "The header name to be sent to the target."
        }
      }
    },
    "GoogleCloudApigeeV1AccessSet": {
      "description": "Set action. For example, \"Set\" : { \"name\" : \"target.name\", \"success\" : true, \"value\" : \"default\" }",
      "id": "GoogleCloudApigeeV1AccessSet",
      "properties": {
        "value": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        },
        "name": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ProfileConfigThreat": {
      "description": "By default, following policies will be included: - XMLThreatProtection - JSONThreatProtection",
      "id": "GoogleCloudApigeeV1ProfileConfigThreat",
      "properties": {},
      "type": "object"
    },
    "GoogleCloudApigeeV1ExportRequest": {
      "description": "Request body for [CreateExportRequest]",
      "id": "GoogleCloudApigeeV1ExportRequest",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Display name of the export job."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the export job."
        },
        "outputFormat": {
          "description": "Optional. Output format of the export. Valid values include: `csv` or `json`. Defaults to `json`. Note: Configure the delimiter for CSV output using the `csvDelimiter` property.",
          "type": "string"
        },
        "csvDelimiter": {
          "type": "string",
          "description": "Optional. Delimiter used in the CSV file, if `outputFormat` is set to `csv`. Defaults to the `,` (comma) character. Supported delimiter characters include comma (`,`), pipe (`|`), and tab (`\\t`)."
        },
        "datastoreName": {
          "type": "string",
          "description": "Required. Name of the preconfigured datastore."
        },
        "dateRange": {
          "description": "Required. Date range of the data to export.",
          "$ref": "GoogleCloudApigeeV1DateRange"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "properties": {
        "dimensions": {
          "description": "Dimensions of the AsyncQuery.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "startTimestamp": {
          "description": "Start timestamp of the query range.",
          "type": "string"
        },
        "endTimestamp": {
          "type": "string",
          "description": "End timestamp of the query range."
        },
        "timeUnit": {
          "type": "string",
          "description": "Query GroupBy time unit."
        },
        "metrics": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]"
        },
        "outputFormat": {
          "type": "string",
          "description": "Output format."
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryMetadata"
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "properties": {
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        },
        "name": {
          "description": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudApigeeV1ReferenceConfig"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "type": "object",
      "properties": {
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in `prod` from being accessed by API proxies deployed in `test`."
        },
        "quota": {
          "description": "Number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "displayName": {
          "description": "Name displayed in the UI or developer portal to developers registering for API access.",
          "type": "string"
        },
        "llmQuotaTimeUnit": {
          "type": "string",
          "description": "Optional. Time unit defined for the `llm_quota_interval`. Valid values include `minute`, `hour`, `day`, or `month`."
        },
        "proxies": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Apigee rejects requests to API proxies that are not listed. **Note:** The API proxy names must already exist in the specified environment as they will be validated upon creation."
        },
        "llmQuotaInterval": {
          "description": "Optional. Time interval over which the number of tokens from LLM responses is calculated.",
          "type": "string"
        },
        "graphqlOperationGroup": {
          "description": "Configuration used to group Apigee proxies or remote services with graphQL operation name, graphQL operation type and quotas. This grouping allows us to precisely set quota for a particular combination of graphQL name and operation type for a particular proxy request. If graphQL name is not set, this would imply quota will be applied on all graphQL requests matching the operation type.",
          "$ref": "GoogleCloudApigeeV1GraphQLOperationGroup"
        },
        "quotaInterval": {
          "type": "string",
          "description": "Time interval over which the number of request messages is calculated."
        },
        "quotaTimeUnit": {
          "description": "Time unit defined for the `quotaInterval`. Valid values include `minute`, `hour`, `day`, or `month`.",
          "type": "string"
        },
        "lastModifiedAt": {
          "description": "Response only. Modified time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of OAuth scopes that are validated at runtime. Apigee validates that the scopes in any access token presented match the scopes defined in the OAuth policy associated with the API product."
        },
        "llmQuota": {
          "description": "Optional. Number of LLM tokens permitted per app by this API product for the specified `llm_quota_interval` and `llm_quota_time_unit`. For example, an `llm_quota` of 50,000, for an `llm_quota_interval` of 12 and an `llm_quota_time_unit` of hours means 50,000 llm tokens are allowed to be used every 12 hours.",
          "type": "string"
        },
        "apiResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of API resources to be bundled in the API product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - `/**`: Indicates that all sub-URIs are included. - `/*` : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see Managing API products."
        },
        "approvalType": {
          "type": "string",
          "description": "Flag that specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. **Note:** Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities."
        },
        "name": {
          "type": "string",
          "description": "Internal name of the API product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`. **Note:** The internal name cannot be edited when updating the API product."
        },
        "grpcOperationGroup": {
          "description": "Optional. Configuration used to group Apigee proxies with gRPC services and method names. This grouping allows us to set quota for a particular proxy with the gRPC service name and method. If a method name is not set, this implies quota and authorization are applied to all gRPC methods implemented by that proxy for that particular gRPC service.",
          "$ref": "GoogleCloudApigeeV1GrpcOperationGroup"
        },
        "llmOperationGroup": {
          "description": "Optional. Configuration used to group Apigee proxies with resources, method types, LLM model and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources, specific LLM model and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and llm operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1LlmOperationGroup"
        },
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "quotaCounterScope": {
          "description": "Scope of the quota decides how the quota counter gets applied and evaluate for quota violation. If the Scope is set as PROXY, then all the operations defined for the APIproduct that are associated with the same proxy will share the same quota counter set at the APIproduct level, making it a global counter at a proxy level. If the Scope is set as OPERATION, then each operations get the counter set at the API product dedicated, making it a local counter. Note that, the QuotaCounterScope applies only when an operation does not have dedicated quota set for itself.",
          "enumDescriptions": [
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), set at product level will be used as a global counter for quota evaluation by all the operations associated with a particular proxy.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association. This behavior mimics the same as QUOTA_COUNTER_SCOPE_UNSPECIFIED.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a global counter for quota evaluation by all the operations."
          ],
          "type": "string",
          "enum": [
            "QUOTA_COUNTER_SCOPE_UNSPECIFIED",
            "PROXY",
            "OPERATION",
            "PRODUCT"
          ]
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal, but can be accessed by external developers."
        },
        "description": {
          "type": "string",
          "description": "Description of the API product. Include key information about the API product that is not captured by other fields."
        },
        "operationGroup": {
          "description": "Configuration used to group Apigee proxies or remote services with resources, method types, and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1OperationGroup"
        },
        "space": {
          "description": "Optional. The resource ID of the parent Space. If not set, the parent resource will be the Organization. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ApiProduct"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment": {
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
      "description": "Tuple representing a base path and the deployment containing it.",
      "type": "object",
      "properties": {
        "revision": {
          "description": "Name of the deployed API proxy revision containing the base path.",
          "type": "string"
        },
        "apiProxy": {
          "type": "string",
          "description": "Name of the deployed API proxy revision containing the base path."
        },
        "basepath": {
          "description": "Base path receiving traffic.",
          "type": "string"
        },
        "environment": {
          "description": "Name of the environment in which the proxy is deployed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeConfig": {
      "description": "Runtime configuration for the organization. Response for GetRuntimeConfig.",
      "id": "GoogleCloudApigeeV1RuntimeConfig",
      "properties": {
        "analyticsBucket": {
          "description": "Cloud Storage bucket used for uploading Analytics records.",
          "type": "string"
        },
        "tenantProjectId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Tenant project ID associated with the Apigee organization. The tenant project is used to host Google-managed resources that are dedicated to this Apigee organization. Clients have limited access to resources within the tenant project used to support Apigee runtime instances. Access to the tenant project is managed using SetSyncAuthorization. It can be empty if the tenant project hasn't been created yet."
        },
        "name": {
          "description": "Name of the resource in the following format: `organizations/{org}/runtimeConfig`.",
          "type": "string"
        },
        "traceBucket": {
          "description": "Cloud Storage bucket used for uploading Trace records.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. It could be `completed` or `failed`"
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message of test connection failure"
        }
      },
      "type": "object",
      "description": "The response for TestDatastore",
      "id": "GoogleCloudApigeeV1TestDatastoreResponse"
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence": {
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence",
      "description": "A sequence of time series.",
      "type": "object",
      "properties": {
        "dimensions": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Map of dimensions and their values that uniquely identifies a time series sequence."
        },
        "points": {
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          },
          "description": "List of points. First value of each inner list is a timestamp."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityActionsResponse": {
      "type": "object",
      "properties": {
        "securityActions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAction"
          },
          "description": "The SecurityActions for the specified environment."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityActionsResponse",
      "description": "Contains a list of SecurityActions in response to a ListSecurityActionRequest."
    },
    "GoogleCloudApigeeV1SetAddonEnablementRequest": {
      "id": "GoogleCloudApigeeV1SetAddonEnablementRequest",
      "description": "Request for SetAddonEnablement.",
      "type": "object",
      "properties": {
        "analyticsEnabled": {
          "type": "boolean",
          "description": "If the Analytics should be enabled in the environment."
        },
        "apiSecurityEnabled": {
          "description": "If the API Security should be enabled in the environment.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1DimensionMetric": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Comma joined dimension names. E.g. \"dim1_name,dim2_name\". Deprecated. If name already has comma before join, we may get wrong splits. Please use individual_names.",
          "deprecated": true
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "List of metrics."
        },
        "individualNames": {
          "description": "Individual dimension names. E.g. [\"dim1_name\", \"dim2_name\"].",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1DimensionMetric",
      "description": "Encapsulates a metric grouped by dimension."
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest": {
      "description": "Request for BatchUpdateSecurityIncident.",
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsRequest",
      "properties": {
        "requests": {
          "description": "Optional. Required. The request message specifying the resources to update. A maximum of 1000 can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Attribute": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the attribute.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "API key of the attribute."
        }
      },
      "id": "GoogleCloudApigeeV1Attribute",
      "description": "Key-value pair to store extra metadata."
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute": {
      "description": "Route deployed in the ingress routing table.",
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute",
      "properties": {
        "envgroup": {
          "description": "Environment group where this route is installed.",
          "type": "string"
        },
        "percentage": {
          "description": "Percentage of ingress replicas reporting this route.",
          "type": "integer",
          "format": "int32"
        },
        "basepath": {
          "description": "Base path in the routing table.",
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "Destination environment. This will be empty if the route is not yet reported."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1AccessLoggingConfig": {
      "id": "GoogleCloudApigeeV1AccessLoggingConfig",
      "description": "Access logging configuration enables customers to ship the access logs from the tenant projects to their own project's cloud logging. The feature is at the instance level ad disabled by default. It can be enabled during CreateInstance or UpdateInstance.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Boolean flag that specifies whether the customer access log feature is enabled.",
          "type": "boolean"
        },
        "filter": {
          "type": "string",
          "description": "Optional. Ship the access log entries that match the status_code defined in the filter. The status_code is the only expected/supported filter field. (Ex: status_code) The filter will parse it to the Common Expression Language semantics for expression evaluation to build the filter condition. (Ex: \"filter\": status_code >= 200 && status_code < 300 )"
        }
      }
    },
    "EdgeConfigstoreBundleBadBundleViolation": {
      "description": "A message type used to describe a single bundle validation error.",
      "id": "EdgeConfigstoreBundleBadBundleViolation",
      "properties": {
        "filename": {
          "description": "The filename (including relative path from the bundle root) in which the error occurred.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "A description of why the bundle is invalid and how to fix it."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSpacesResponse": {
      "type": "object",
      "properties": {
        "spaces": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Space"
          },
          "description": "List of Apigee organization spaces."
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1ListSpacesResponse",
      "description": "A response to a ListSpaces request containing the list of organization spaces and a page token for the next page."
    },
    "GoogleCloudApigeeV1Subscription": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Full name of the Pub/Sub subcription. Use the following structure in your request: `subscription \"projects/foo/subscription/bar\"`"
        }
      },
      "type": "object",
      "description": "Pub/Sub subscription of an environment.",
      "id": "GoogleCloudApigeeV1Subscription"
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "properties": {
        "requestJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "faultXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseXPaths": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads."
        },
        "faultJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Name of the debug mask."
        },
        "namespaces": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Map of namespaces to URIs."
        },
        "variables": {
          "description": "List of variables that should be masked from the debug output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceDeploymentStatus": {
      "id": "GoogleCloudApigeeV1InstanceDeploymentStatus",
      "description": "The status of a deployment as reported by a single instance.",
      "type": "object",
      "properties": {
        "deployedRoutes": {
          "description": "Current routes deployed in the ingress routing table. A route which is missing will appear in `missing_routes`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRoute"
          }
        },
        "instance": {
          "description": "ID of the instance reporting the status.",
          "type": "string"
        },
        "deployedRevisions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceDeploymentStatusDeployedRevision"
          },
          "description": "Revisions currently deployed in MPs."
        }
      }
    },
    "GoogleCloudApigeeV1ApiSecurityConfig": {
      "description": "Configurations of the API Security add-on.",
      "id": "GoogleCloudApigeeV1ApiSecurityConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Flag that specifies whether the API security add-on is enabled."
        },
        "expiresAt": {
          "description": "Output only. Time at which the API Security add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1OperationGroup": {
      "properties": {
        "operationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1OperationConfig"
          },
          "description": "Required. List of operation configurations for either Apigee API proxies or other remote services that are associated with this API product."
        },
        "operationConfigType": {
          "description": "Flag that specifes whether the configuration is for Apigee API proxy or a remote service. Valid values include `proxy` or `remoteservice`. Defaults to `proxy`. Set to `proxy` when Apigee API proxies are associated with the API product. Set to `remoteservice` when non-Apigee proxies like Istio-Envoy are associated with the API product.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "List of operation configuration details associated with Apigee API proxies or remote services. Remote services are non-Apigee proxies, such as Istio-Envoy.",
      "id": "GoogleCloudApigeeV1OperationGroup"
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink": {
      "properties": {
        "text": {
          "type": "string",
          "description": "The text of the url. (ie: \"Learn more\")"
        },
        "uri": {
          "type": "string",
          "description": "The link itself."
        }
      },
      "type": "object",
      "description": "The format for a link in the recommendation.",
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "id": "GoogleCloudApigeeV1TargetServer",
      "properties": {
        "host": {
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123.",
          "type": "string"
        },
        "port": {
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "type": "integer",
          "format": "int32"
        },
        "isEnabled": {
          "type": "boolean",
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true."
        },
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "HTTP2",
            "GRPC_TARGET",
            "GRPC",
            "EXTERNAL_CALLOUT"
          ],
          "type": "string",
          "description": "Immutable. The protocol used by this TargetServer.",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetSever uses HTTP2.",
            "The TargetServer uses GRPC.",
            "GRPC TargetServer to be used in ExternalCallout Policy. Prefer to use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once EXTERNAL _CALLOUT generally available.",
            "The TargetServer is to be used in the ExternalCallout Policy"
          ]
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "properties": {
        "createdAt": {
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "Output only. ID of the attachment.",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "type": "string",
          "description": "ID of the attached environment."
        }
      },
      "type": "object",
      "description": "InstanceAttachment represents the installation of an environment onto an instance.",
      "id": "GoogleCloudApigeeV1InstanceAttachment"
    },
    "GoogleCloudApigeeV1ApiDoc": {
      "description": "`ApiDoc` represents an API catalog item. Catalog items are used in two ways in a portal: - Users can browse and interact with a visual representation of the API documentation - The `api_product_name` field provides a link to a backing [API product] (/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). Through this link, portal users can create and manage developer apps linked to one or more API products.",
      "id": "GoogleCloudApigeeV1ApiDoc",
      "properties": {
        "edgeAPIProductName": {
          "type": "string",
          "description": "Optional. Immutable. DEPRECATED: use the `apiProductName` field instead"
        },
        "specId": {
          "description": "Optional. DEPRECATED: DO NOT USE",
          "deprecated": true,
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The ID of the catalog item."
        },
        "published": {
          "description": "Optional. Denotes whether the catalog item is published to the portal or is in a draft state. When the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), the visibility can be set to public on creation by setting the anonAllowed flag to true or further managed in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)) before it can be visible to any users. If not enrolled in the audience management feature, the visibility is managed by the `anonAllowed` flag.",
          "type": "boolean"
        },
        "graphqlSchema": {
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods",
          "type": "string"
        },
        "categoryIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The IDs of the API categories to which this catalog item belongs."
        },
        "apiProductName": {
          "description": "Required. Immutable. The `name` field of the associated [API product](/apigee/docs/reference/apis/apigee/rest/v1/organizations.apiproducts). A portal may have only one catalog item associated with a given API product.",
          "type": "string"
        },
        "graphqlSchemaDisplayName": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods"
        },
        "title": {
          "description": "Required. The user-facing name of the catalog item. `title` must be a non-empty string with a max length of 255 characters.",
          "type": "string"
        },
        "imageUrl": {
          "description": "Optional. Location of the image used for the catalog item in the catalog. This can be either an image with an external URL or a file path for [image files stored in the portal](/apigee/docs/api-platform/publish/portal/portal-files\"), for example, `/files/book-tree.jpg`. When specifying the URL of an external image, the image won't be uploaded to your assets; additionally, loading the image in the integrated portal will be subject to its availability, which may be blocked or restricted by [content security policies](/apigee/docs/api-platform/publish/portal/csp). Max length of file path is 2,083 characters.",
          "type": "string"
        },
        "visibility": {
          "description": "Optional. DEPRECATED: use the `published` field instead",
          "type": "boolean"
        },
        "siteId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The ID of the parent portal."
        },
        "requireCallbackUrl": {
          "description": "Optional. Whether a callback URL is required when this catalog item's API product is enabled in a developer app. When true, a portal user will be required to input a URL when managing the app (this is typically used for the app's OAuth flow).",
          "type": "boolean"
        },
        "modified": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the catalog item was last modified in milliseconds since epoch."
        },
        "anonAllowed": {
          "description": "Optional. Boolean flag that manages user access to the catalog item. When true, the catalog item has public visibility and can be viewed anonymously; otherwise, only registered users may view it. Note: when the parent portal is enrolled in the [audience management feature](https://cloud.google.com/apigee/docs/api-platform/publish/portal/portal-audience#enrolling_in_the_beta_release_of_the_audience_management_feature), and this flag is set to false, visibility is set to an indeterminate state and must be explicitly specified in the management UI (see [Manage the visibility of an API in your portal](https://cloud.google.com/apigee/docs/api-platform/publish/portal/publish-apis#visibility)). Additionally, when enrolled in the audience management feature, updates to this flag will be ignored as visibility permissions must be updated in the management UI.",
          "type": "boolean"
        },
        "graphqlEndpointUrl": {
          "deprecated": true,
          "description": "Optional. DEPRECATED: manage documentation through the `getDocumentation` and `updateDocumentation` methods",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the catalog item. Max length is 10,000 characters."
        }
      },
      "type": "object"
    },
    "GoogleRpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "GoogleCloudApigeeV1ProfileConfig": {
      "description": "ProfileConfig defines a set of categories and policies which will be used to compute security score.",
      "id": "GoogleCloudApigeeV1ProfileConfig",
      "properties": {
        "categories": {
          "description": "List of categories of profile config.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ProfileConfigCategory"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DocumentationFile": {
      "id": "GoogleCloudApigeeV1DocumentationFile",
      "description": "Documentation file contents for a catalog item.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Required. A display name for the file, shown in the management UI. Max length is 255 characters.",
          "type": "string"
        },
        "contents": {
          "type": "string",
          "format": "byte",
          "description": "Required. The file contents. The max size is 4 MB."
        }
      }
    },
    "GoogleCloudApigeeV1ListInstancesResponse": {
      "description": "Response for ListInstances.",
      "id": "GoogleCloudApigeeV1ListInstancesResponse",
      "properties": {
        "instances": {
          "description": "Instances in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Instance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListInstance request to retrieve the next page of content. If omitted, no subsequent pages exist."
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray": {
      "properties": {
        "resources": {
          "description": "Required. The array of resources. For Apigee, the proxies are resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource"
          }
        }
      },
      "type": "object",
      "description": "Message for the array of resources. For Apigee, the proxies are resources.",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray"
    },
    "GoogleCloudApigeeV1ApiDocDocumentationResponse": {
      "properties": {
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Unique error code for the request, if any."
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Description of the operation."
        },
        "status": {
          "description": "Output only. Status of the operation.",
          "type": "string",
          "readOnly": true
        },
        "data": {
          "readOnly": true,
          "description": "Output only. The documentation resource.",
          "$ref": "GoogleCloudApigeeV1ApiDocDocumentation"
        },
        "requestId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Unique ID of the request."
        }
      },
      "type": "object",
      "description": "The catalog item documentation wrapped with response status, error_code, etc.",
      "id": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
    },
    "EdgeConfigstoreBundleBadBundle": {
      "type": "object",
      "properties": {
        "violations": {
          "description": "Describes all precondition violations.",
          "type": "array",
          "items": {
            "$ref": "EdgeConfigstoreBundleBadBundleViolation"
          }
        }
      },
      "id": "EdgeConfigstoreBundleBadBundle",
      "description": "Describes why a bundle is invalid. Intended for use in error details."
    },
    "GoogleCloudApigeeV1SecurityReportQueryMetric": {
      "id": "GoogleCloudApigeeV1SecurityReportQueryMetric",
      "description": "Metric of the Query",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name."
        },
        "aggregationFunction": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Operand value should be provided when operator is set."
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        },
        "operator": {
          "type": "string",
          "description": "One of `+`, `-`, `/`, `%`, `*`."
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileScoringConfig": {
      "description": "Security configurations to manage scoring.",
      "id": "GoogleCloudApigeeV1SecurityProfileScoringConfig",
      "properties": {
        "title": {
          "description": "Title of the config.",
          "type": "string"
        },
        "scorePath": {
          "type": "string",
          "description": "Path of the component config used for scoring."
        },
        "description": {
          "description": "Description of the config.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse": {
      "description": "Response for ListSecurityProfileRevisions.",
      "id": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse",
      "properties": {
        "securityProfiles": {
          "description": "List of security profile revisions. The revisions may be attached or unattached to any environment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Result": {
      "type": "object",
      "properties": {
        "ActionResult": {
          "type": "string",
          "description": "Type of the action result. Can be one of the five: DebugInfo, RequestMessage, ResponseMessage, ErrorMessage, VariableAccess"
        },
        "timestamp": {
          "description": "Timestamp of when the result is recorded. Its format is dd-mm-yy hh:mm:ss:xxx. For example, `\"timestamp\" : \"12-08-19 00:31:59:960\"`",
          "type": "string"
        },
        "properties": {
          "description": "Name value pairs used for DebugInfo ActionResult.",
          "$ref": "GoogleCloudApigeeV1Properties"
        },
        "uRI": {
          "type": "string",
          "description": "The relative path of the api proxy. for example, `\"uRI\" : \"/iloveapis\"`"
        },
        "headers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Property"
          },
          "description": "A list of HTTP headers. for example, '\"headers\" : [ { \"name\" : \"Content-Length\", \"value\" : \"83\" }, { \"name\" : \"Content-Type\", \"value\" : \"application/json\" } ]'"
        },
        "accessList": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Access"
          },
          "description": "A list of variable access actions agaist the api proxy. Supported values: Get, Set, Remove."
        },
        "reasonPhrase": {
          "type": "string",
          "description": "HTTP response phrase"
        },
        "content": {
          "type": "string",
          "description": "Error message content. for example, \"content\" : \"{\\\"fault\\\":{\\\"faultstring\\\":\\\"API timed out\\\",\\\"detail\\\":{\\\"errorcode\\\":\\\"flow.APITimedOut\\\"}}}\""
        },
        "verb": {
          "type": "string",
          "description": "HTTP method verb"
        },
        "statusCode": {
          "description": "HTTP response code",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1Result",
      "description": "Result is short for \"action result\", could be different types identified by \"action_result\" field. Supported types: 1. DebugInfo : generic debug info collected by runtime recorded as a list of properties. For example, the contents could be virtual host info, state change result, or execution metadata. Required fields : properties, timestamp 2. RequestMessage: information of a http request. Contains headers, request URI and http methods type.Required fields : headers, uri, verb 3. ResponseMessage: information of a http response. Contains headers, reason phrase and http status code. Required fields : headers, reasonPhrase, statusCode 4. ErrorMessage: information of a http error message. Contains detail error message, reason phrase and status code. Required fields : content, headers, reasonPhrase, statusCode 5. VariableAccess: a list of variable access actions, can be Get, Set and Remove. Required fields : accessList"
    },
    "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse": {
      "description": "Response for BatchUpdateSecurityIncident.",
      "id": "GoogleCloudApigeeV1BatchUpdateSecurityIncidentsResponse",
      "properties": {
        "securityIncidents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "readOnly": true,
          "description": "Output only. Updated security incidents"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1GrpcOperationGroup": {
      "id": "GoogleCloudApigeeV1GrpcOperationGroup",
      "description": "List of gRPC operation configuration details associated with Apigee API proxies.",
      "type": "object",
      "properties": {
        "operationConfigs": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GrpcOperationConfig"
          },
          "description": "Required. List of operation configurations for either Apigee API proxies that are associated with this API product."
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigAbuse": {
      "id": "GoogleCloudApigeeV1ProfileConfigAbuse",
      "description": "Checks for abuse, which includes any requests sent to the API for purposes other than what it is intended for, such as high volumes of requests, data scraping, and abuse related to authorization.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApigeeV1ListSecurityIncidentsResponse": {
      "properties": {
        "securityIncidents": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityIncident"
          },
          "description": "List of security incidents in the organization"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object",
      "description": "Response for ListSecurityIncidents.",
      "id": "GoogleCloudApigeeV1ListSecurityIncidentsResponse"
    },
    "GoogleCloudApigeeV1ListDatastoresResponse": {
      "id": "GoogleCloudApigeeV1ListDatastoresResponse",
      "description": "The response for ListDatastores",
      "type": "object",
      "properties": {
        "datastores": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Datastore"
          },
          "description": "A list of datastores"
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentGroupAttachmentsResponse",
      "description": "Response for ListEnvironmentGroupAttachments.",
      "type": "object",
      "properties": {
        "environmentGroupAttachments": {
          "description": "EnvironmentGroupAttachments for the specified environment group.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EnvironmentGroupAttachment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListEnvironmentGroupAttachments request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm": {
      "description": "Resolves the client ip based on a custom header.",
      "id": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm",
      "properties": {
        "ipHeaderName": {
          "description": "The name of the header to extract the client ip from.",
          "type": "string"
        },
        "ipHeaderIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index of the ip in the header. (By default, value is 0 if missing)"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "properties": {
        "startTime": {
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "apiproduct": {
          "description": "Name of the API product for which the developer is purchasing a subscription.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Name of the API product subscription.",
          "readOnly": true,
          "type": "string"
        },
        "lastModifiedAt": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch."
        },
        "endTime": {
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "createdAt": {
          "type": "string",
          "format": "int64",
[...]
