{
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "rootUrl": "https://apigee.googleapis.com/",
  "revision": "20260218",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "baseUrl": "https://apigee.googleapis.com/",
  "id": "apigee:v1",
  "ownerDomain": "google.com",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://apigee.us.rep.googleapis.com/",
      "location": "us"
    },
    {
      "location": "eu",
      "endpointUrl": "https://apigee.eu.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apigee.in.rep.googleapis.com/",
      "location": "in",
      "description": "Regional Endpoint"
    }
  ],
  "basePath": "",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "organizations": {
      "methods": {
        "getSyncAuthorization": {
          "request": {
            "$ref": "GoogleCloudApigeeV1GetSyncAuthorizationRequest"
          },
          "id": "apigee.organizations.getSyncAuthorization",
          "description": "Lists the service accounts with the permissions required to allow the Synchronizer to download environment data from the control plane. An ETag is returned in the response to `getSyncAuthorization`. Pass that ETag when calling [setSyncAuthorization](setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:getSyncAuthorization",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getSyncAuthorization"
        },
        "get": {
          "id": "apigee.organizations.get",
          "description": "Gets the profile for an Apigee organization. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/{+name}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "apigee.organizations.update",
          "description": "Updates the properties for an Apigee organization. No other fields in the organization profile will be updated.",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "httpMethod": "PUT"
        },
        "updateSecuritySettings": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Identifier. Full resource name is always `organizations/{org}/securitySettings`.",
              "required": true,
              "pattern": "^organizations/[^/]+/securitySettings$",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "Optional. The list of fields to update. Allowed fields are: - ml_retraining_feedback_enabled"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "path": "v1/{+name}",
          "request": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "id": "apigee.organizations.updateSecuritySettings",
          "description": "UpdateSecuritySettings updates the current security settings for API Security."
        },
        "setSyncAuthorization": {
          "request": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "id": "apigee.organizations.setSyncAuthorization",
          "description": "Sets the permissions required to allow the Synchronizer to download environment data from the control plane. You must call this API to enable proper functioning of hybrid. Pass the ETag when calling `setSyncAuthorization` to ensure that you are updating the correct version. To get an ETag, call [getSyncAuthorization](getSyncAuthorization). If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. For more information, see [Configure the Synchronizer](https://cloud.google.com/apigee/docs/hybrid/latest/synchronizer-access). **Note**: Available to Apigee hybrid only.",
          "response": {
            "$ref": "GoogleCloudApigeeV1SyncAuthorization"
          },
          "path": "v1/{+name}:setSyncAuthorization",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+$",
              "type": "string",
              "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}:setSyncAuthorization"
        },
        "getRuntimeConfig": {
          "httpMethod": "GET",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleCloudApigeeV1RuntimeConfig"
          },
          "id": "apigee.organizations.getRuntimeConfig",
          "description": "Get runtime config for an organization.",
          "flatPath": "v1/organizations/{organizationsId}/runtimeConfig",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. Name of the runtime config for the organization in the following format: 'organizations/{org}/runtimeConfig'.",
              "location": "path",
              "pattern": "^organizations/[^/]+/runtimeConfig$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getProjectMapping": {
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Apigee organization name in the following format: `organizations/{org}`",
              "required": true,
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}:getProjectMapping",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1OrganizationProjectMapping"
          },
          "path": "v1/{+name}:getProjectMapping",
          "id": "apigee.organizations.getProjectMapping",
          "description": "Gets the project ID and region for an Apigee organization."
        },
        "getDeployedIngressConfig": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/deployedIngressConfig$",
              "type": "string",
              "description": "Required. Name of the deployed configuration for the organization in the following format: 'organizations/{org}/deployedIngressConfig'.",
              "required": true,
              "location": "path"
            },
            "view": {
              "enumDescriptions": [
                "The default/unset value. The API will default to the BASIC view.",
                "Include all ingress config data necessary for the runtime to configure ingress, but no more. Routing rules will include only basepath and destination environment. This the default value.",
                "Include all ingress config data, including internal debug info for each routing rule such as the proxy claiming a particular basepath and when the routing rule first appeared in the env group."
              ],
              "location": "query",
              "description": "When set to FULL, additional details about the specific deployments receiving traffic will be included in the IngressConfig response's RoutingRules.",
              "type": "string",
              "enum": [
                "INGRESS_CONFIG_VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/deployedIngressConfig",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1IngressConfig"
          },
          "path": "v1/{+name}",
          "id": "apigee.organizations.getDeployedIngressConfig",
          "description": "Gets the deployed ingress configuration for an organization."
        },
        "delete": {
          "flatPath": "v1/organizations/{organizationsId}",
          "parameters": {
            "name": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            },
            "retention": {
              "enum": [
                "DELETION_RETENTION_UNSPECIFIED",
                "MINIMUM"
              ],
              "type": "string",
              "description": "Optional. This setting is applicable only for organizations that are soft-deleted (i.e., BillingType is not EVALUATION). It controls how long Organization data will be retained after the initial delete operation completes. During this period, the Organization may be restored to its last known state. After this period, the Organization will no longer be able to be restored. **Note: During the data retention period specified using this field, the Apigee organization cannot be recreated in the same Google Cloud project.**",
              "enumDescriptions": [
                "Default data retention setting of seven days will be applied.",
                "Organization data will be retained for the minimum period of 24 hours."
              ],
              "location": "query"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "httpMethod": "DELETE",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "id": "apigee.organizations.delete",
          "description": "Delete an Apigee organization. For organizations with BillingType EVALUATION, an immediate deletion is performed. For paid organizations (Subscription or Pay-as-you-go), a soft-deletion is performed. The organization can be restored within the soft-deletion period, which is specified using the `retention` field in the request or by filing a support ticket with Apigee. During the data retention period specified in the request, the Apigee organization cannot be recreated in the same Google Cloud project. **IMPORTANT: The default data retention setting for this operation is 7 days. To permanently delete the organization in 24 hours, set the retention parameter to `MINIMUM`.**"
        },
        "create": {
          "parameters": {
            "parent": {
              "description": "Required. Name of the Google Cloud project in which to associate the Apigee organization. Pass the information as a query parameter using the following structure in your request: `projects/`",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "flatPath": "v1/organizations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/organizations",
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1Organization"
          },
          "id": "apigee.organizations.create",
          "description": "Creates an Apigee organization. See [Create an Apigee organization](https://cloud.google.com/apigee/docs/api-platform/get-started/create-org)."
        },
        "getSecuritySettings": {
          "parameters": {
            "name": {
              "pattern": "^organizations/[^/]+/securitySettings$",
              "type": "string",
              "description": "Required. The name of the SecuritySettings to retrieve. This will always be: 'organizations/{org}/securitySettings'.",
              "required": true,
              "location": "path"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/securitySettings",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "GoogleCloudApigeeV1SecuritySettings"
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "apigee.organizations.getSecuritySettings",
          "description": "GetSecuritySettings gets the security settings for API Security."
        },
        "list": {
          "path": "v1/{+parent}",
          "response": {
            "$ref": "GoogleCloudApigeeV1ListOrganizationsResponse"
          },
          "httpMethod": "GET",
          "id": "apigee.organizations.list",
          "description": "Lists the Apigee organizations and associated Google Cloud projects that you have permission to access. See [Understanding organizations](https://cloud.google.com/apigee/docs/api-platform/fundamentals/organization-structure).",
          "flatPath": "v1/organizations",
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Use the following structure in your request: `organizations`",
              "required": true,
              "pattern": "^organizations$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "setAddons": {
          "httpMethod": "POST",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "path": "v1/{+org}:setAddons",
          "request": {
            "$ref": "GoogleCloudApigeeV1SetAddonsRequest"
          },
          "id": "apigee.organizations.setAddons",
          "description": "Configures the add-ons for the Apigee organization. The existing add-on configuration will be fully replaced.",
          "parameters": {
            "org": {
              "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`",
              "required": true,
              "location": "path",
              "pattern": "^organizations/[^/]+$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "org"
          ],
          "flatPath": "v1/organizations/{organizationsId}:setAddons",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "getControlPlaneAccess": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "name": {
              "location": "path",
              "description": "Required. Resource name of the Control Plane Access. Use the following structure in your request: `organizations/{org}/controlPlaneAccess`",
              "required": true,
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "id": "apigee.organizations.getControlPlaneAccess",
          "description": "Lists the service accounts allowed to access Apigee control plane directly for limited functionality. **Note**: Available to Apigee hybrid only.",
          "httpMethod": "GET",
          "response": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "path": "v1/{+name}"
        },
        "updateControlPlaneAccess": {
          "id": "apigee.organizations.updateControlPlaneAccess",
          "description": "Updates the permissions required to allow Apigee runtime-plane components access to the control plane. Currently, the permissions required are to: 1. Allow runtime components to publish analytics data to the control plane. **Note**: Available to Apigee hybrid only.",
          "request": {
            "$ref": "GoogleCloudApigeeV1ControlPlaneAccess"
          },
          "httpMethod": "PATCH",
          "path": "v1/{+name}",
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "v1/organizations/{organizationsId}/controlPlaneAccess",
          "parameters": {
            "name": {
              "required": true,
              "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\"",
              "location": "path",
              "pattern": "^organizations/[^/]+/controlPlaneAccess$",
              "type": "string"
            },
            "updateMask": {
              "location": "query",
              "format": "google-fieldmask",
              "type": "string",
              "description": "List of fields to be updated. Fields that can be updated: synchronizer_identities, publisher_identities."
            }
          },
          "parameterOrder": [
            "name"
          ]
        }
      },
      "resources": {
        "endpointAttachments": {
          "methods": {
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.endpointAttachments.delete",
              "description": "Deletes an endpoint attachment."
            },
            "create": {
              "path": "v1/{+parent}/endpointAttachments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.endpointAttachments.create",
              "description": "Creates an endpoint attachment. **Note:** Not supported for Apigee hybrid.",
              "request": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Organization the endpoint attachment will be created in.",
                  "location": "path"
                },
                "endpointAttachmentId": {
                  "description": "ID to use for the endpoint attachment. ID must start with a lowercase letter followed by up to 31 lowercase letters, numbers, or hyphens, and cannot end with a hyphen. The minimum length is 2.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.endpointAttachments.get",
              "description": "Gets the endpoint attachment."
            },
            "list": {
              "id": "apigee.organizations.endpointAttachments.list",
              "description": "Lists the endpoint attachments in an organization.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse"
              },
              "path": "v1/{+parent}/endpointAttachments",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to list endpoint attachments. Use the following structure in your request: `organizations/{org}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token, returned from a previous `ListEndpointAttachments` call, that you can use to retrieve the next page."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of endpoint attachments to return. If unspecified, at most 25 attachments will be returned."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments"
            }
          }
        },
        "environments": {
          "methods": {
            "getApiSecurityRuntimeConfig": {
              "id": "apigee.organizations.environments.getApiSecurityRuntimeConfig",
              "description": "Gets the API Security runtime configuration for an environment. This named ApiSecurityRuntimeConfig to prevent conflicts with ApiSecurityConfig from addon config.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the environment API Security Runtime configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/apiSecurityRuntimeConfig$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/apiSecurityRuntimeConfig"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "id": "apigee.organizations.environments.delete",
              "description": "Deletes an environment from an organization. **Warning: You must delete all key value maps and key value entries before you delete an environment.** Otherwise, if you re-create the environment the key value map entry operations will encounter encryption/decryption discrepancies."
            },
            "modifyEnvironment": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{environment}`.",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "List of fields to be updated. Fields that can be updated: node_config."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.modifyEnvironment",
              "description": "Updates properties for an Apigee environment with patch semantics using a field mask. **Note:** Not supported for Apigee hybrid."
            },
            "unsubscribe": {
              "httpMethod": "POST",
              "path": "v1/{+parent}:unsubscribe",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "apigee.organizations.environments.unsubscribe",
              "description": "Deletes a subscription for the environment's Pub/Sub topic.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:unsubscribe",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateDebugmask": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "parameters": {
                "replaceRepeatedFields": {
                  "description": "Boolean flag that specifies whether to replace existing values in the debug mask when doing an update. Set to true to replace existing values. The default behavior is to append the values (false).",
                  "location": "query",
                  "type": "boolean"
                },
                "updateMask": {
                  "description": "Field debug mask to support partial updates.",
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$",
                  "type": "string",
                  "location": "path",
                  "description": "Name of the debug mask.",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.environments.updateDebugmask",
              "description": "Updates the debug mask singleton resource for an environment.",
              "request": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              }
            },
            "updateSecurityActionsConfig": {
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "id": "apigee.organizations.environments.updateSecurityActionsConfig",
              "description": "UpdateSecurityActionConfig updates the current SecurityActions configuration. This method is used to enable/disable the feature at the environment level.",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "path": "v1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "This is a singleton resource, the name will always be set by SecurityActions and any user input will be ignored. The name is always: `organizations/{org}/environments/{env}/security_actions_config`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/securityActionsConfig$",
                  "type": "string"
                },
                "updateMask": {
                  "type": "string",
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "The list of fields to update."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActionsConfig"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.get",
              "description": "Gets environment details.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.environments.update",
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "httpMethod": "PUT"
            },
            "getDebugmask": {
              "id": "apigee.organizations.environments.getDebugmask",
              "description": "Gets the debug mask singleton resource for an environment.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1DebugMask"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/debugmask",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the debug mask. Use the following structure in your request: `organizations/{org}/environments/{env}/debugmask`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/debugmask$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "getDeployedConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployedConfig",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/deployedConfig$",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the environment deployed configuration resource. Use the following structure in your request: `organizations/{org}/environments/{env}/deployedConfig`",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.environments.getDeployedConfig",
              "description": "Gets the deployed configuration for an environment.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1EnvironmentConfig"
              }
            },
            "getAddonsConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/addonsConfig",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/addonsConfig$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Name of the add-ons config. Must be in the format of `/organizations/{org}/environments/{env}/addonsConfig`",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.environments.getAddonsConfig",
              "description": "Gets the add-ons config of an environment.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1AddonsConfig"
              }
            },
            "setIamPolicy": {
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "path": "v1/{+resource}:setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "id": "apigee.organizations.environments.setIamPolicy",
              "description": "Sets the IAM policy on an environment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.setIamPolicy` permission to call this API.",
              "parameters": {
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:setIamPolicy",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getTraceConfig": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\"."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "apigee.organizations.environments.getTraceConfig",
              "description": "Get distributed trace configuration in an environment."
            },
            "updateEnvironment": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "path": "v1/{+name}",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              },
              "id": "apigee.organizations.environments.updateEnvironment",
              "description": "Updates an existing environment. When updating properties, you must pass all existing properties to the API, even if they are not being changed. If you omit properties from the payload, the properties are removed. To get the current list of properties for the environment, use the [Get Environment API](get). **Note**: Both `PUT` and `POST` methods are supported for updating an existing environment.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "getIamPolicy": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "options.requestedPolicyVersion": {
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "resource": {
                  "location": "path",
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:getIamPolicy",
              "id": "apigee.organizations.environments.getIamPolicy",
              "description": "Gets the IAM policy on an environment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.environments.getIamPolicy` permission to call this API.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "path": "v1/{+resource}:getIamPolicy"
            },
            "getSecurityActionsConfig": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the SecurityActionsConfig to retrieve. This will always be: `organizations/{org}/environments/{env}/security_actions_config`",
                  "required": true,
                  "pattern": "^organizations/[^/]+/environments/[^/]+/securityActionsConfig$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/securityActionsConfig",
              "id": "apigee.organizations.environments.getSecurityActionsConfig",
              "description": "GetSecurityActionConfig returns the current SecurityActions configuration.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityActionsConfig"
              },
              "path": "v1/{+name}",
              "httpMethod": "GET"
            },
            "subscribe": {
              "path": "v1/{+parent}:subscribe",
              "response": {
                "$ref": "GoogleCloudApigeeV1Subscription"
              },
              "httpMethod": "POST",
              "id": "apigee.organizations.environments.subscribe",
              "description": "Creates a subscription for the environment's Pub/Sub topic. The server will assign a random name for this subscription. The \"name\" and \"push_config\" must *not* be specified.",
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:subscribe",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the environment. Use the following structure in your request: `organizations/{org}/environments/{env}`",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "updateTraceConfig": {
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "response": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "id": "apigee.organizations.environments.updateTraceConfig",
              "description": "Updates the trace configurations in an environment. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
              "request": {
                "$ref": "GoogleCloudApigeeV1TraceConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig",
              "parameters": {
                "name": {
                  "description": "Required. Name of the trace configuration. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                  "required": true,
                  "location": "path",
                  "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                  "type": "string"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "List of fields to be updated."
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/environments",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the organization in which the environment will be created. Use the following structure in your request: `organizations/{org}`",
                  "required": true,
                  "location": "path"
                },
                "name": {
                  "description": "Optional. Name of the environment.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "path": "v1/{+parent}/environments",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apigee.organizations.environments.create",
              "description": "Creates an environment in an organization.",
              "request": {
                "$ref": "GoogleCloudApigeeV1Environment"
              }
            },
            "testIamPermissions": {
              "parameters": {
                "resource": {
                  "location": "path",
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/environments/[^/]+$",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}:testIamPermissions",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "path": "v1/{+resource}:testIamPermissions",
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "id": "apigee.organizations.environments.testIamPermissions",
              "description": "Tests the permissions of a user on an environment, and returns a subset of permissions that the user has on the environment. If the environment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned)."
            }
          },
          "resources": {
            "flowhooks": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.flowhooks.get",
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "attachSharedFlowToFlowHook": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "httpMethod": "PUT",
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                  "description": "Attaches a shared flow to a flow hook.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  }
                },
                "detachSharedFlowFromFlowHook": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "description": "Detaches a shared flow from a flow hook.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "traceConfig": {
              "resources": {
                "overrides": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListTraceConfigOverridesResponse"
                      },
                      "path": "v1/{+parent}/overrides",
                      "id": "apigee.organizations.environments.traceConfig.overrides.list",
                      "description": "Lists all of the distributed trace configuration overrides in an environment.",
                      "parameters": {
                        "pageSize": {
                          "description": "Maximum number of trace configuration overrides to return. If not specified, the maximum number returned is 25. The maximum number cannot exceed 100.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "type": "string",
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig\".",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A page token, returned from a previous `ListTraceConfigOverrides` call. Token value that can be used to retrieve the subsequent page. When paginating, all other parameters provided to `ListTraceConfigOverrides` must match those specified in the call to obtain the page token."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Parent resource of the trace configuration override. Use the following structure in your request. \"organizations/*/environments/*/traceConfig\".",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/overrides",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "httpMethod": "POST",
                      "id": "apigee.organizations.environments.traceConfig.overrides.create",
                      "description": "Creates a trace configuration override. The response contains a system-generated UUID, that can be used to view, update, or delete the configuration override. Use the List API to view the existing trace configuration overrides.",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      }
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\"."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.traceConfig.overrides.delete",
                      "description": "Deletes a distributed trace configuration override.",
                      "httpMethod": "DELETE",
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      }
                    },
                    "get": {
                      "id": "apigee.organizations.environments.traceConfig.overrides.get",
                      "description": "Gets a trace configuration override.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}"
                    },
                    "patch": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Name of the trace configuration override. Use the following structure in your request: \"organizations/*/environments/*/traceConfig/overrides/*\".",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/traceConfig/overrides/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string",
                          "description": "List of fields to be updated."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/traceConfig/overrides/{overridesId}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "id": "apigee.organizations.environments.traceConfig.overrides.patch",
                      "description": "Updates a distributed trace configuration override. Note that the repeated fields have replace semantics when included in the field mask and that they will be overwritten by the value of the fields in the request body.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1TraceConfigOverride"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH"
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Deployment"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.deployments.get",
                  "description": "Gets a particular deployment of Api proxy or a shared flow in an environment",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the api proxy or the shared flow deployment. Use the following structure in your request: `organizations/{org}/environments/{env}/deployments/{deployment}`",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "setIamPolicy": {
                  "id": "apigee.organizations.environments.deployments.setIamPolicy",
                  "description": "Sets the IAM policy on a deployment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.deployments.setIamPolicy` permission to call this API.",
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:setIamPolicy",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:setIamPolicy",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "getIamPolicy": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "resource": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:getIamPolicy",
                  "id": "apigee.organizations.environments.deployments.getIamPolicy",
                  "description": "Gets the IAM policy on a deployment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.deployments.getIamPolicy` permission to call this API.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "path": "v1/{+resource}:getIamPolicy"
                },
                "testIamPermissions": {
                  "id": "apigee.organizations.environments.deployments.testIamPermissions",
                  "description": "Tests the permissions of a user on a deployment, and returns a subset of permissions that the user has on the deployment. If the deployment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned).",
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+resource}:testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:testIamPermissions",
                  "parameters": {
                    "resource": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "resource"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "path": "v1/{+parent}/deployments",
                  "id": "apigee.organizations.environments.deployments.list",
                  "description": "Lists all deployments of API proxies or shared flows in an environment.",
                  "parameters": {
                    "sharedFlows": {
                      "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "parent": {
                      "description": "Required. Name of the environment for which to return deployment information in the following format: `organizations/{org}/environments/{env}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "keystores": {
              "resources": {
                "aliases": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "location": "path",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.environments.keystores.aliases.delete",
                      "description": "Deletes an alias."
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "id": "apigee.organizations.environments.keystores.aliases.get",
                      "description": "Gets an alias."
                    },
                    "update": {
                      "id": "apigee.organizations.environments.keystores.aliases.update",
                      "description": "Updates the certificate in an alias. The updated certificate must be in PEM- or DER-encoded X.509 format.",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "parameters": {
                        "ignoreExpiryValidation": {
                          "description": "Required. Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`"
                        },
                        "ignoreNewlineValidation": {
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getCertificate": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/certificate",
                      "id": "apigee.organizations.environments.keystores.aliases.getCertificate",
                      "description": "Gets the certificate from an alias in PEM-encoded form.",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "path": "v1/{+name}/certificate",
                      "httpMethod": "GET"
                    },
                    "create": {
                      "parameters": {
                        "ignoreExpiryValidation": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed."
                        },
                        "alias": {
                          "description": "Alias for the key/certificate pair. Values must match the regular expression `[\\w\\s-.]{1,255}`. This must be provided for all formats except `selfsignedcert`; self-signed certs may specify the alias in either this parameter or the JSON body.",
                          "type": "string",
                          "location": "query"
                        },
                        "ignoreNewlineValidation": {
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "_password": {
                          "description": "DEPRECATED: For improved security, specify the password in the request body instead of using the query parameter. To specify the password in the request body, set `Content-type: multipart/form-data` part with name `password`. Password for the private key file, if required.",
                          "type": "string",
                          "location": "query"
                        },
                        "format": {
                          "description": "Required. Format of the data. Valid values include: `selfsignedcert`, `keycertfile`, or `pkcs12`",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "path": "v1/{+parent}/aliases",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.create",
                      "description": "Creates an alias from a key/certificate pair. The structure of the request is controlled by the `format` query parameter: - `keycertfile` - Separate PEM-encoded key and certificate files are uploaded. Set `Content-Type: multipart/form-data` and include the `keyFile`, `certFile`, and `password` (if keys are encrypted) fields in the request body. If uploading to a truststore, omit `keyFile`. - `pkcs12` - A PKCS12 file is uploaded. Set `Content-Type: multipart/form-data`, provide the file in the `file` field, and include the `password` field if the file is encrypted in the request body. - `selfsignedcert` - A new private key and certificate are generated. Set `Content-Type: application/json` and include CertificateGenerationSpec in the request body."
                    },
                    "csr": {
                      "httpMethod": "GET",
                      "path": "v1/{+name}/csr",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.csr",
                      "description": "Generates a PKCS #10 Certificate Signing Request for the private key in an alias.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/csr",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "id": "apigee.organizations.environments.keystores.create",
                  "description": "Creates a keystore or truststore. - Keystore: Contains certificates and their associated keys. - Truststore: Contains trusted certificates used to validate a server's certificate. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "path": "v1/{+parent}/keystores",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    },
                    "name": {
                      "description": "Optional. Name of the keystore. Overrides the value in Keystore.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores"
                },
                "get": {
                  "id": "apigee.organizations.environments.keystores.get",
                  "description": "Gets a keystore or truststore.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "httpMethod": "DELETE",
                  "id": "apigee.organizations.environments.keystores.delete",
                  "description": "Deletes a keystore or truststore."
                }
              }
            },
            "targetservers": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the TargetServer to get. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.targetservers.get",
                  "description": "Gets a TargetServer resource.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  }
                },
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the TargetServer to replace. Must be of the form `organizations/{org}/environments/{env}/targetservers/{target_server_id}`.",
                      "required": true,
                      "location": "path",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/targetservers/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers/{targetserversId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "id": "apigee.organizations.environments.targetservers.update",
                  "description": "Updates an existing TargetServer. Note that this operation has PUT semantics; it will replace the entirety of the existing TargetServer with the resource in the request body.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "PUT"
                },
                "create": {
                  "id": "apigee.organizations.environments.targetservers.create",
                  "description": "Creates a TargetServer in the specified environment.",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/targetservers",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1TargetServer"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/targetservers",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent environment name under which the TargetServer will be created. Must be of the form `organizations/{org}/environments/{env}`.",
                      "required": true,
                      "location": "path"
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
[...]
