{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "discoveryVersion": "v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "resources": {
    "projects": {
      "methods": {
        "provisionOrganization": {
          "parameters": {
            "project": {
              "description": "Required. Name of the GCP project with which to associate the Apigee organization.",
              "type": "string",
              "location": "path",
              "required": true,
              "pattern": "^projects/[^/]+$"
            }
          },
          "flatPath": "v1/projects/{projectsId}:provisionOrganization",
          "description": "Provisions a new Apigee organization with a functioning runtime. This is the standard way to create trial organizations for a free Apigee trial.",
          "parameterOrder": [
            "project"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "GoogleCloudApigeeV1ProvisionOrganizationRequest"
          },
          "response": {
            "$ref": "GoogleLongrunningOperation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "apigee.projects.provisionOrganization",
          "path": "v1/{+project}:provisionOrganization"
        }
      }
    },
    "organizations": {
      "resources": {
        "securityFeedback": {
          "methods": {
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityFeedback.create",
              "path": "v1/{+parent}/securityFeedback",
              "parameters": {
                "securityFeedbackId": {
                  "location": "query",
                  "description": "Optional. The id for this feedback report. If not provided, it will be set to a system-generated UUID.",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback",
              "description": "Creates a new report containing customer feedback."
            },
            "get": {
              "id": "apigee.organizations.securityFeedback.get",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a specific customer feedback report.",
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the SecurityFeedback. Format: `organizations/{org}/securityFeedback/{feedback_id}` Example: organizations/apigee-organization-name/securityFeedback/feedback-id",
                  "type": "string"
                }
              }
            },
            "patch": {
              "description": "Updates a specific feedback report.",
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "description": "Optional. The list of fields to update.",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "id": "apigee.organizations.securityFeedback.patch",
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "Deletes a specific feedback report. Used for \"undo\" of a feedback submission.",
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the SecurityFeedback to delete. Use the following structure in your request: `organizations/{org}/securityFeedback/{feedback_id}`",
                  "type": "string"
                }
              },
              "id": "apigee.organizations.securityFeedback.delete",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/securityFeedback",
              "id": "apigee.organizations.securityFeedback.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityFeedbackResponse"
              },
              "description": "Lists all feedback reports which have already been submitted.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization. Format: `organizations/{org}`. Example: organizations/apigee-organization-name/securityFeedback",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of feedback reports to return. The service may return fewer than this value. LINT.IfChange(documented_page_size_limits) If unspecified, at most 10 feedback reports will be returned. The maximum value is 100; values above 100 will be coerced to 100. LINT.ThenChange( //depot/google3/edge/sense/boq/service/v1/securityfeedback/securityfeedback_rpc.go:page_size_limits )",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListSecurityFeedback` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSecurityFeedback` must match the call that provided the page token.",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback"
            }
          }
        },
        "datacollectors": {
          "methods": {
            "create": {
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization in which to create the data collector in the following format: `organizations/{org}`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "dataCollectorId": {
                  "location": "query",
                  "description": "ID of the data collector. Overrides any ID in the data collector resource. Must be a string beginning with `dc_` that contains only letters, numbers, and underscores.",
                  "type": "string"
                }
              },
              "description": "Creates a new data collector.",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.datacollectors.create",
              "path": "v1/{+parent}/datacollectors"
            },
            "get": {
              "path": "v1/{+name}",
              "id": "apigee.organizations.datacollectors.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "description": "Gets a data collector.",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}"
            },
            "patch": {
              "description": "Updates a data collector.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$"
                },
                "updateMask": {
                  "description": "List of fields to be updated.",
                  "type": "string",
                  "format": "google-fieldmask",
                  "location": "query"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "id": "apigee.organizations.datacollectors.patch",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1DataCollector"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.datacollectors.delete",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors/{datacollectorsId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/datacollectors/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the data collector in the following format: `organizations/{org}/datacollectors/{data_collector_id}`.",
                  "type": "string"
                }
              },
              "description": "Deletes a data collector."
            },
            "list": {
              "path": "v1/{+parent}/datacollectors",
              "id": "apigee.organizations.datacollectors.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDataCollectorsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Lists all data collectors.",
              "flatPath": "v1/organizations/{organizationsId}/datacollectors",
              "parameters": {
                "pageToken": {
                  "description": "Page token, returned from a previous ListDataCollectors call, that you can use to retrieve the next page.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which to list data collectors in the following format: `organizations/{org}`.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "description": "Maximum number of data collectors to return. The page size defaults to 25.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        },
        "keyvaluemaps": {
          "resources": {
            "entries": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                  },
                  "path": "v1/{+parent}/entries",
                  "id": "apigee.organizations.keyvaluemaps.entries.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher."
                },
                "get": {
                  "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "parameters": {
                    "name": {
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "id": "apigee.organizations.keyvaluemaps.entries.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "apigee.organizations.keyvaluemaps.entries.create",
                  "path": "v1/{+parent}/entries",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string"
                    }
                  }
                },
                "update": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.keyvaluemaps.entries.update",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "description": "Update key value entry scoped to an organization, environment, or API proxy for an existing key."
                },
                "delete": {
                  "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "id": "apigee.organizations.keyvaluemaps.entries.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "path": "v1/{+parent}/keyvaluemaps",
              "id": "apigee.organizations.keyvaluemaps.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a key value map in an organization.",
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization in which to create the key value map file. Use the following structure in your request: `organizations/{org}`",
                  "type": "string"
                }
              }
            },
            "get": {
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "parameters": {
                "name": {
                  "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$"
                }
              },
              "description": "Get the key value map scoped to an organization, environment, or API proxy.",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.keyvaluemaps.get",
              "path": "v1/{+name}"
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/keyvaluemaps/{keyvaluemap}`",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "description": "Deletes a key value map from an organization.",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.keyvaluemaps.delete",
              "path": "v1/{+name}"
            },
            "update": {
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "type": "string"
                }
              },
              "description": "Update the key value map scoped to an organization, environment, or API proxy.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "apigee.organizations.keyvaluemaps.update"
            }
          }
        },
        "environments": {
          "resources": {
            "optimizedStats": {
              "methods": {
                "get": {
                  "parameters": {
                    "sort": {
                      "location": "query",
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`.",
                      "type": "string"
                    },
                    "limit": {
                      "location": "query",
                      "description": "Maximum number of result items to return.",
                      "type": "string"
                    },
                    "timeUnit": {
                      "location": "query",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Filter that enables you to drill-down on specific dimension values.",
                      "type": "string"
                    },
                    "timeRange": {
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`",
                      "type": "string"
                    },
                    "aggTable": {
                      "location": "query",
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "type": "string"
                    },
                    "tsAscending": {
                      "location": "query",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`.",
                      "type": "boolean"
                    },
                    "accuracy": {
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "string"
                    },
                    "sonar": {
                      "location": "query",
                      "description": "Routes the query to API Monitoring for the last hour.",
                      "type": "boolean"
                    },
                    "topk": {
                      "location": "query",
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "type": "string"
                    },
                    "realtime": {
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "boolean"
                    },
                    "offset": {
                      "location": "query",
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                      "type": "string"
                    },
                    "select": {
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                      "type": "string",
                      "location": "query"
                    },
                    "tzo": {
                      "description": "Timezone offset value.",
                      "type": "string",
                      "location": "query"
                    },
                    "sortby": {
                      "location": "query",
                      "description": "Comma-separated list of metrics to sort the final result.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "description": "Similar to GetStats except that the response is less verbose.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.optimizedStats.get"
                }
              }
            },
            "keystores": {
              "methods": {
                "create": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "type": "string"
                    },
                    "name": {
                      "location": "query",
                      "description": "Optional. Name of the keystore. Overrides the value in Keystore.",
                      "type": "string"
                    }
                  },
                  "description": "Creates a keystore or truststore. - Keystore: Contains certificates and their associated keys. - Truststore: Contains trusted certificates used to validate a server's certificate. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/keystores",
                  "id": "apigee.organizations.environments.keystores.create"
                },
                "get": {
                  "description": "Gets a keystore or truststore.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.keystores.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "description": "Deletes a keystore or truststore.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.keystores.delete",
                  "path": "v1/{+name}"
                }
              },
              "resources": {
                "aliases": {
                  "methods": {
                    "create": {
                      "description": "Creates an alias from a key/certificate pair. The structure of the request is controlled by the `format` query parameter: - `keycertfile` - Separate PEM-encoded key and certificate files are uploaded. Set `Content-Type: multipart/form-data` and include the `keyFile`, `certFile`, and `password` (if keys are encrypted) fields in the request body. If uploading to a truststore, omit `keyFile`. - `pkcs12` - A PKCS12 file is uploaded. Set `Content-Type: multipart/form-data`, provide the file in the `file` field, and include the `password` field if the file is encrypted in the request body. - `selfsignedcert` - A new private key and certificate are generated. Set `Content-Type: application/json` and include CertificateGenerationSpec in the request body.",
                      "parameters": {
                        "format": {
                          "location": "query",
                          "description": "Required. Format of the data. Valid values include: `selfsignedcert`, `keycertfile`, or `pkcs12`",
                          "type": "string"
                        },
                        "ignoreExpiryValidation": {
                          "location": "query",
                          "description": "Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean"
                        },
                        "_password": {
                          "description": "DEPRECATED: For improved security, specify the password in the request body instead of using the query parameter. To specify the password in the request body, set `Content-type: multipart/form-data` part with name `password`. Password for the private key file, if required.",
                          "type": "string",
                          "location": "query"
                        },
                        "ignoreNewlineValidation": {
                          "location": "query",
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "type": "boolean"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                          "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                          "type": "string"
                        },
                        "alias": {
                          "description": "Alias for the key/certificate pair. Values must match the regular expression `[\\w\\s-.]{1,255}`. This must be provided for all formats except `selfsignedcert`; self-signed certs may specify the alias in either this parameter or the JSON body.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases",
                      "id": "apigee.organizations.environments.keystores.aliases.create",
                      "path": "v1/{+parent}/aliases",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$"
                        }
                      },
                      "description": "Gets an alias."
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.delete",
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$"
                        }
                      },
                      "description": "Deletes an alias."
                    },
                    "csr": {
                      "description": "Generates a PKCS #10 Certificate Signing Request for the private key in an alias.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/csr",
                      "path": "v1/{+name}/csr",
                      "id": "apigee.organizations.environments.keystores.aliases.csr",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      }
                    },
                    "update": {
                      "description": "Updates the certificate in an alias. The updated certificate must be in PEM- or DER-encoded X.509 format.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
                          "type": "string"
                        },
                        "ignoreExpiryValidation": {
                          "description": "Required. Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "ignoreNewlineValidation": {
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "apigee.organizations.environments.keystores.aliases.update",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "getCertificate": {
                      "description": "Gets the certificate from an alias in PEM-encoded form.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/certificate",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string"
                        }
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.getCertificate",
                      "path": "v1/{+name}/certificate",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "queries": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAsyncQueriesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/queries",
                  "id": "apigee.organizations.environments.queries.list",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries",
                  "parameters": {
                    "from": {
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                      "type": "string"
                    },
                    "inclQueriesWithoutReport": {
                      "description": "Flag to include asynchronous queries that don't have a report denifition.",
                      "type": "string",
                      "location": "query"
                    },
                    "to": {
                      "location": "query",
                      "description": "Filter response list by returning asynchronous queries that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                      "type": "string"
                    },
                    "submittedBy": {
                      "description": "Filter response list by user who submitted queries.",
                      "type": "string",
                      "location": "query"
                    },
                    "dataset": {
                      "description": "Filter response list by dataset. Example: `api`, `mint`",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "status": {
                      "location": "query",
                      "description": "Filter response list by asynchronous query status.",
                      "type": "string"
                    }
                  },
                  "description": "Return a list of Asynchronous Queries"
                },
                "getResult": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.queries.getResult",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+/result$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}/result`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}/result",
                  "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`"
                },
                "getResulturl": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.queries.getResulturl",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}/resulturl",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the asynchronous query result to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}/resulturl`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+/resulturl$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is sent to the client as a list of urls to JSON files."
                },
                "create": {
                  "description": "Submit a query to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. The parent resource name. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    }
                  },
                  "id": "apigee.organizations.environments.queries.create",
                  "path": "v1/{+parent}/queries",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Query"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AsyncQuery"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/queries/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the asynchronous query to get. Must be of the form `organizations/{org}/environments/{env}/queries/{queryId}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/queries/{queriesId}",
                  "description": "Get query status If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AsyncQuery"
                  },
                  "path": "v1/{+name}",
                  "id": "apigee.organizations.environments.queries.get"
                }
              }
            },
            "sharedflows": {
              "resources": {
                "revisions": {
                  "methods": {
                    "undeploy": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the shared flow revision to undeploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "description": "Undeploys a shared flow revision from an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.delete` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.undeploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "path": "v1/{+name}/deployments",
                      "id": "apigee.organizations.environments.sharedflows.revisions.undeploy"
                    },
                    "deploy": {
                      "id": "apigee.organizations.environments.sharedflows.revisions.deploy",
                      "path": "v1/{+name}/deployments",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Deploys a revision of a shared flow. If another revision of the same shared flow is currently deployed, set the `override` parameter to `true` to have this revision replace the currently deployed revision. You cannot use a shared flow until it has been deployed to an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.create` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.deploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "parameters": {
                        "serviceAccount": {
                          "description": "Google Cloud IAM service account. The service account represents the identity of the deployed proxy, and determines what permissions it has. The format must be `{ACCOUNT_ID}@{PROJECT}.iam.gserviceaccount.com`.",
                          "type": "string",
                          "location": "query"
                        },
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "description": "Required. Name of the shared flow revision to deploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource being deployed has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string"
                        },
                        "override": {
                          "location": "query",
                          "description": "Flag that specifies whether the new deployment replaces other deployed revisions of the shared flow in the environment. Set `override` to `true` to replace other deployed revisions. By default, `override` is `false` and the deployment is rejected if other revisions of the shared flow are deployed in the environment.",
                          "type": "boolean"
                        }
                      }
                    },
                    "getDeployments": {
                      "description": "Gets the deployment of a shared flow revision and actual state reported by runtime pods.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}/deployments",
                      "id": "apigee.organizations.environments.sharedflows.revisions.getDeployments",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "list": {
                      "description": "Lists all deployments of a shared flow in an environment.",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/deployments",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "apigee.organizations.environments.sharedflows.deployments.list",
                      "path": "v1/{+parent}/deployments",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            },
            "resourcefiles": {
              "methods": {
                "list": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "type": {
                      "location": "query",
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string"
                    }
                  },
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.environments.resourcefiles.list",
                  "path": "v1/{+parent}/resourcefiles"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "path": "v1/{+parent}/resourcefiles",
                  "id": "apigee.organizations.environments.resourcefiles.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the resource file in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Name of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles",
                  "description": "Creates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files)."
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "parameters": {
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the contents of a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "id": "apigee.organizations.environments.resourcefiles.get"
                },
                "update": {
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.resourcefiles.update",
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "type": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the resource file to update. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "description": "Updates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files)."
                },
                "delete": {
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "id": "apigee.organizations.environments.resourcefiles.delete",
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "description": "Deletes a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "parameters": {
                    "type": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the resource file to delete. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}"
                },
                "listEnvironmentResources": {
                  "id": "apigee.organizations.environments.resourcefiles.listEnvironmentResources",
                  "path": "v1/{+parent}/resourcefiles/{type}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent",
                    "type"
                  ],
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`.",
                      "type": "string"
                    },
                    "type": {
                      "location": "path",
                      "required": true,
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "references": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/references",
                  "id": "apigee.organizations.environments.references.create",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent environment name under which the Reference will be created. Must be of the form `organizations/{org}/environments/{env}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    }
                  },
                  "description": "Creates a Reference in the specified environment."
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to get. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$"
                    }
                  },
                  "description": "Gets a Reference resource.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.references.get",
                  "path": "v1/{+name}"
                },
                "delete": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the Reference to delete. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$"
                    }
                  },
                  "description": "Deletes a Reference from an environment. Returns the deleted Reference resource.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.references.delete",
                  "path": "v1/{+name}"
                },
                "update": {
                  "id": "apigee.organizations.environments.references.update",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Reference"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Reference. Note that this operation has PUT semantics; it will replace the entirety of the existing Reference with the resource in the request body.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/references/[^/]+$",
                      "description": "Required. The name of the Reference to update. Must be of the form `organizations/{org}/environments/{env}/references/{ref}`.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/references/{referencesId}"
                }
              }
            },
            "stats": {
              "methods": {
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/stats/{statsId}",
                  "parameters": {
                    "aggTable": {
                      "location": "query",
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "type": "string"
                    },
                    "tsAscending": {
                      "location": "query",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends that you set this value to `true` if you are using `sortby` with `sort=DESC`.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/stats/.*$",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/stats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy` or `target_host`. The value of dimensions should be a comma-separated list, as shown below: `organizations/{org}/environments/{env}/stats/apiproxy,request_verb`",
                      "type": "string"
                    },
                    "timeRange": {
                      "description": "Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`",
                      "type": "string",
                      "location": "query"
                    },
                    "timeUnit": {
                      "location": "query",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or` month`.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Filter that enables you to drill down on specific dimension values.",
                      "type": "string",
                      "location": "query"
                    },
                    "sort": {
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include: `DESC` and `ASC`.",
                      "type": "string",
                      "location": "query"
                    },
                    "limit": {
                      "location": "query",
                      "description": "Maximum number of result items to return.",
                      "type": "string"
                    },
                    "tzo": {
                      "description": "Timezone offset value.",
                      "type": "string",
                      "location": "query"
                    },
                    "sortby": {
                      "description": "Comma-separated list of metrics to sort the final result.",
                      "type": "string",
                      "location": "query"
                    },
                    "select": {
                      "location": "query",
                      "description": "Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`",
                      "type": "string"
                    },
                    "topk": {
                      "location": "query",
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "type": "string"
                    },
                    "realtime": {
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "offset": {
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                      "type": "string",
                      "location": "query"
                    },
                    "sonar": {
                      "location": "query",
                      "description": "Routes the query to API Monitoring for the last hour.",
                      "type": "boolean"
                    },
                    "accuracy": {
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "type": "string"
                    }
                  },
                  "description": "Retrieve metrics grouped by dimensions. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. You can optionally pass dimensions as path parameters to the `stats` API. If dimensions are not specified, the metrics are computed on the entire set of data for the given time range.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Stats"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.stats.get",
                  "path": "v1/{+name}"
                }
              }
            },
            "flowhooks": {
              "methods": {
                "attachSharedFlowToFlowHook": {
                  "description": "Attaches a shared flow to a flow hook.",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$"
                    }
                  },
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                  "path": "v1/{+name}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "id": "apigee.organizations.environments.flowhooks.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "detachSharedFlowFromFlowHook": {
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Detaches a shared flow from a flow hook.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}"
                }
              }
            },
            "analytics": {
              "resources": {
                "admin": {
                  "methods": {
                    "getSchemav2": {
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/analytics/admin/schemav2",
                      "parameters": {
                        "disableCache": {
                          "description": "Flag that specifies whether the schema is be read from the database or cache. Set to `true` to read the schema from the database. Defaults to cache.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "description": "Required. Path to the schema. Use the following structure in your request: `organizations/{org}/environments/{env}/analytics/admin/schemav2`.",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/analytics/admin/schemav2$",
                          "location": "path",
[...]
