{
  "version": "v1",
  "rootUrl": "https://apigee.googleapis.com/",
  "basePath": "",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "id": "apigee:v1",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "batchPath": "batch",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "apigee",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "title": "Apigee API",
  "ownerName": "Google",
  "resources": {
    "organizations": {
      "resources": {
        "hostSecurityReports": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}",
              "id": "apigee.organizations.hostSecurityReports.get",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/securityReports/{reportId}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\""
            },
            "getResultView": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/resultView$",
                  "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/securityReports/{reportId}/resultView`.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostSecurityReports.getResultView",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/resultView",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
              },
              "description": "After the query is completed, use this API to view the query result when result size is small.",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
              },
              "parameters": {
                "submittedBy": {
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query",
                  "type": "string"
                },
                "from": {
                  "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "dataset": {
                  "description": "Filter response list by dataset. Example: `api`, `mint`",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of security report to return in the list response.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "to": {
                  "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "envgroupHostname": {
                  "description": "Required. Filter response list by hostname.",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Token returned from the previous list response to fetch the next page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "required": true
                },
                "status": {
                  "description": "Filter response list by security report status.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.hostSecurityReports.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "description": "Return a list of Security Reports at host level.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/hostSecurityReports"
            },
            "getResult": {
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/result$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/securityReports/{reportId}/result`.",
                  "required": true
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/result",
              "id": "apigee.organizations.hostSecurityReports.getResult",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleApiHttpBody"
              }
            },
            "create": {
              "path": "v1/{+parent}/hostSecurityReports",
              "httpMethod": "POST",
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
              },
              "id": "apigee.organizations.hostSecurityReports.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              }
            }
          }
        },
        "appgroups": {
          "resources": {
            "balance": {
              "methods": {
                "adjust": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupBalance"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/balance$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Account balance for the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group}/balance`"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/balance:adjust",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AdjustAppGroupBalanceRequest"
                  },
                  "id": "apigee.organizations.appgroups.balance.adjust",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Adjust the prepaid balance for the AppGroup. This API will be used in scenarios where the AppGroup has been under-charged or over-charged.",
                  "path": "v1/{+name}:adjust",
                  "httpMethod": "POST"
                },
                "credit": {
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/balance:credit",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1CreditAppGroupBalanceRequest"
                  },
                  "id": "apigee.organizations.appgroups.balance.credit",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/balance$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Account balance for the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group}/balance`"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupBalance"
                  },
                  "path": "v1/{+name}:credit",
                  "httpMethod": "POST",
                  "description": "Credits the account balance for the AppGroup."
                }
              }
            },
            "subscriptions": {
              "methods": {
                "create": {
                  "description": "Creates a subscription to an API product. ",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/subscriptions",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the appgroup that is purchasing a subscription to the API product. Use the following structure in your request: `organizations/{org}/appgroups/{appgroup}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.appgroups.subscriptions.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/subscriptions",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AppGroupSubscription"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupSubscription"
                  }
                },
                "get": {
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/subscriptions/{subscriptionsId}",
                  "id": "apigee.organizations.appgroups.subscriptions.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the AppGroupSubscription to retrieve. Format: `organizations/{org}/appgroups/{appgroup}/subscriptions/{subscription}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/subscriptions/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupSubscription"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Get an api product subscription for an appgroup."
                },
                "expire": {
                  "description": "Expires an API product subscription immediately.",
                  "path": "v1/{+name}:expire",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/subscriptions/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the API product subscription. Use the following structure in your request: `organizations/{org}/appgroups/{appgroup}/subscriptions/{subscription}`",
                      "required": true
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/subscriptions/{subscriptionsId}:expire",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ExpireAppGroupSubscriptionRequest"
                  },
                  "id": "apigee.organizations.appgroups.subscriptions.expire",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupSubscription"
                  }
                },
                "list": {
                  "id": "apigee.organizations.appgroups.subscriptions.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/subscriptions",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListAppGroupSubscriptions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAppGroupSubscriptions` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the appgroup. Use the following structure in your request: `organizations/{org}/appgroups/{appgroup}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of subscriptions to return. The service may return fewer than this value. If unspecified, at most 100 subscriptions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAppGroupSubscriptionsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/subscriptions",
                  "description": "List all api product subscriptions for an appgroup."
                }
              }
            },
            "apps": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "GET",
                  "description": "Lists all apps created by an AppGroup in an Apigee organization. Optionally, you can request an expanded view of the AppGroup apps. Lists all AppGroupApps in an AppGroup. A maximum of 1000 AppGroup apps are returned in the response if PageSize is not specified, or if the PageSize is greater than 1000.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListAppGroupAppsResponse"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps",
                  "id": "apigee.organizations.appgroups.apps.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. Page token. If provides, must be a valid AppGroup app returned from a previous call that can be used to retrieve the next page.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                      "required": true,
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number entries to return. If unspecified, at most 1000 entries will be returned.",
                      "location": "query",
                      "type": "integer"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "id": "apigee.organizations.appgroups.apps.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "description": "Creates an app and associates it with an AppGroup. This API associates the AppGroup app with the specified API product and auto-generates an API key for the app to use in calls to API proxies inside that API product. The `name` is the unique ID of the app that you can use in API calls.",
                  "path": "v1/{+parent}/apps",
                  "httpMethod": "POST"
                },
                "delete": {
                  "description": "Deletes an AppGroup app. **Note**: The delete operation is asynchronous. The AppGroup app is deleted immediately, but its associated resources, such as app keys or access tokens, may take anywhere from a few seconds to a few minutes to be deleted.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.appgroups.apps.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Returns the details for an AppGroup app.",
                  "id": "apigee.organizations.appgroups.apps.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  }
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "id": "apigee.organizations.appgroups.apps.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1AppGroupApp"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                      "description": "Required. Name of the AppGroup app. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}`",
                      "required": true
                    },
                    "action": {
                      "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke`. The `Content-Type` header must be set to `application/octet-stream`, with empty body.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PUT",
                  "path": "v1/{+name}",
                  "description": "Updates the details for an AppGroup app. In addition, you can add an API product to an AppGroup app and automatically generate an API key for the app to use when calling APIs in the API product. If you want to use an existing API key for the API product, add the API product to the API key using the UpdateAppGroupAppKey API. Using this API, you cannot update the app name, as it is the primary key used to identify the app and cannot be changed. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource."
                }
              },
              "resources": {
                "keys": {
                  "methods": {
                    "create": {
                      "description": "Creates a custom consumer key and secret for a AppGroup app. This is particularly useful if you want to migrate existing consumer keys and secrets to Apigee from another system. Consumer keys and secrets can contain letters, numbers, underscores, and hyphens. No other special characters are allowed. To avoid service disruptions, a consumer key and secret should not exceed 2 KBs each. **Note**: When creating the consumer key and secret, an association to API products will not be made. Therefore, you should not specify the associated API products in your request. Instead, use the UpdateAppGroupAppKey API to make the association after the consumer key and secret are created. If a consumer key and secret already exist, you can keep them or delete them using the DeleteAppGroupAppKey API.",
                      "path": "v1/{+parent}/keys",
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+$",
                          "required": true,
                          "description": "Required. Parent of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys`"
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "id": "apigee.organizations.appgroups.apps.keys.create",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "required": true
                        }
                      },
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "id": "apigee.organizations.appgroups.apps.keys.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "description": "Deletes an app's consumer key and removes all API products associated with the app. After the consumer key is deleted, it cannot be used to access any APIs.",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.appgroups.apps.keys.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "description": "Gets details for a consumer key for a AppGroup app, including the key and secret value, associated API products, and other information.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}"
                    },
                    "updateAppGroupAppKey": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest"
                      },
                      "id": "apigee.organizations.appgroups.apps.keys.updateAppGroupAppKey",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}`",
                          "required": true
                        }
                      },
                      "path": "v1/{+name}",
                      "httpMethod": "POST",
                      "description": "Adds an API product to an AppGroupAppKey, enabling the app that holds the key to access the API resources bundled in the API product. In addition, you can add attributes and scopes to the AppGroupAppKey. This API replaces the existing attributes with those specified in the request. Include or exclude any existing attributes that you want to retain or delete, respectively. You can use the same key to access all API products associated with the app."
                    }
                  },
                  "resources": {
                    "apiproducts": {
                      "methods": {
                        "updateAppGroupAppKeyApiProduct": {
                          "description": "Approves or revokes the consumer key for an API product. After a consumer key is approved, the app can use it to access APIs. A consumer key that is revoked or pending cannot be used to access an API. Any access tokens associated with a revoked consumer key will remain active. However, Apigee checks the status of the consumer key and if set to `revoked` will not allow access to the API.",
                          "httpMethod": "POST",
                          "path": "v1/{+name}",
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Name of the API product in the developer app key in the following format: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "required": true
                            },
                            "action": {
                              "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apigee.organizations.appgroups.apps.keys.apiproducts.updateAppGroupAppKeyApiProduct",
                          "parameterOrder": [
                            "name"
                          ],
                          "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "response": {
                            "$ref": "GoogleProtobufEmpty"
                          }
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE",
                          "description": "Removes an API product from an app's consumer key. After the API product is removed, the app cannot access the API resources defined in that API product. **Note**: The consumer key is not removed, only its association with the API product.",
                          "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/apps/{appsId}/keys/{keysId}/apiproducts/{apiproductsId}",
                          "id": "apigee.organizations.appgroups.apps.keys.apiproducts.delete",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "pattern": "^organizations/[^/]+/appgroups/[^/]+/apps/[^/]+/keys/[^/]+/apiproducts/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "Required. Parent of the AppGroup app key. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}/apps/{app}/keys/{key}/apiproducts/{apiproduct}`",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "GoogleCloudApigeeV1AppGroupAppKey"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1/{+parent}/appgroups",
              "httpMethod": "GET",
              "description": "Lists all AppGroups in an organization. A maximum of 1000 AppGroups are returned in the response if PageSize is not specified, or if the PageSize is greater than 1000.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListAppGroupsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups",
              "id": "apigee.organizations.appgroups.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the Apigee organization. Use the following structure in your request: `organizations/{org}`.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "description": "Count of AppGroups a single page can have in the response. If unspecified, at most 1000 AppGroups will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The starting index record for listing the AppGroups.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "The filter expression to be used to get the list of AppGroups, where filtering can be done on status, channelId or channelUri of the app group. Examples: filter=status=active\", filter=channelId=, filter=channelUri=",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "getBalance": {
              "description": "Gets the account balance for the AppGroup.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroupBalance"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+/balance$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Account balance for the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group}/balance`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/balance",
              "id": "apigee.organizations.appgroups.getBalance",
              "parameterOrder": [
                "name"
              ]
            },
            "updateMonetizationConfig": {
              "path": "v1/{+name}",
              "httpMethod": "PUT",
              "description": "Updates the monetization configuration for the AppGroup. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroupMonetizationConfig"
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/monetizationConfig",
              "request": {
                "$ref": "GoogleCloudApigeeV1AppGroupMonetizationConfig"
              },
              "id": "apigee.organizations.appgroups.updateMonetizationConfig",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+/monetizationConfig$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Monetization configuration for the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group}/monetizationConfig`"
                }
              }
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups",
              "request": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "id": "apigee.organizations.appgroups.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the Apigee organization in which the AppGroup is created. Use the following structure in your request: `organizations/{org}`.",
                  "required": true
                }
              },
              "path": "v1/{+parent}/appgroups",
              "httpMethod": "POST",
              "description": "Creates an AppGroup. Once created, user can register apps under the AppGroup to obtain secret key and password. At creation time, the AppGroup's state is set as `active`."
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.appgroups.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "description": "Returns the AppGroup details for the provided AppGroup name in the request URI.",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            },
            "delete": {
              "description": "Deletes an AppGroup. All app and API keys associations with the AppGroup are also removed. **Warning**: This API will permanently delete the AppGroup and related artifacts. **Note**: The delete operation is asynchronous. The AppGroup is deleted immediately, but its associated resources, such as apps and API keys, may take anywhere from a few seconds to a few minutes to be deleted.",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "id": "apigee.organizations.appgroups.delete",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              }
            },
            "update": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group_name}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+$"
                },
                "action": {
                  "description": "Activate or de-activate the AppGroup by setting the action as `active` or `inactive`. The `Content-Type` header must be set to `application/octet-stream`, with empty body.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.appgroups.update",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroup"
              },
              "description": "Updates an AppGroup. This API replaces the existing AppGroup details with those specified in the request. Include or exclude any existing details that you want to retain or delete, respectively. Note that the state of the AppGroup should be updated using `action`, and not via AppGroup. **Note:** We recommend that you avoid making concurrent update requests for the same resource. Near-simultaneous writes to the same entity can result in conflicts and unexpected behavior. Ensure operations are sequential when modifying a single resource.",
              "httpMethod": "PUT",
              "path": "v1/{+name}"
            },
            "getMonetizationConfig": {
              "description": "Gets the monetization configuration for the AppGroup.",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Monetization configuration for the AppGroup. Use the following structure in your request: `organizations/{org}/appgroups/{app_group}/monetizationConfig`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/appgroups/[^/]+/monetizationConfig$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/appgroups/{appgroupsId}/monetizationConfig",
              "id": "apigee.organizations.appgroups.getMonetizationConfig",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1AppGroupMonetizationConfig"
              }
            }
          }
        },
        "spaces": {
          "methods": {
            "patch": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the space in the following format: `organizations/{org}/spaces/{space_id}`.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. List of fields to be updated. Fields that can be updated: display_name.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.spaces.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1Space"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1Space"
              },
              "description": "Updates a space.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}"
            },
            "list": {
              "path": "v1/{+parent}/spaces",
              "httpMethod": "GET",
              "description": "Lists spaces under an organization.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSpacesResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/spaces",
              "id": "apigee.organizations.spaces.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSpaces` call. Provide this to retrieve the subsequent page. When paginating, all parameters must match the original call.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Use the following structure in your request: `organizations`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of spaces to return. The service may return fewer than this value. If unspecified, at most 50 spaces will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "setIamPolicy": {
              "parameters": {
                "resource": {
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.spaces.setIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}:setIamPolicy",
              "request": {
                "$ref": "GoogleIamV1SetIamPolicyRequest"
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              },
              "description": "IAM META APIs Callers must have apigee.spaces.setIamPolicy.",
              "httpMethod": "POST",
              "path": "v1/{+resource}:setIamPolicy"
            },
            "getIamPolicy": {
              "path": "v1/{+resource}:getIamPolicy",
              "httpMethod": "GET",
              "description": "Callers must have apigee.spaces.getIamPolicy.",
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}:getIamPolicy",
              "id": "apigee.organizations.spaces.getIamPolicy",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "options.requestedPolicyVersion": {
                  "format": "int32",
                  "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                  "location": "query",
                  "type": "integer"
                },
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "GoogleIamV1Policy"
              }
            },
            "create": {
              "path": "v1/{+parent}/spaces",
              "httpMethod": "POST",
              "description": "Create a space under an organization.",
              "response": {
                "$ref": "GoogleCloudApigeeV1Space"
              },
              "flatPath": "v1/organizations/{organizationsId}/spaces",
              "request": {
                "$ref": "GoogleCloudApigeeV1Space"
              },
              "id": "apigee.organizations.spaces.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the Google Cloud project in which to associate the Apigee space. Pass the information as a query parameter using the following structure in your request: `organizations/`"
                },
                "spaceId": {
                  "description": "Required. Resource ID of the space.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Get a space under an Organization.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$",
                  "required": true,
                  "description": "Required. Apigee organization space name in the following format: `organizations/{org}/spaces/{space}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.spaces.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1Space"
              }
            },
            "delete": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Apigee organization space name in the following format: `organizations/{org}/spaces/{space}`",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.spaces.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "description": "Deletes an organization space.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}"
            },
            "testIamPermissions": {
              "path": "v1/{+resource}:testIamPermissions",
              "httpMethod": "POST",
              "description": "Callers don't need any permissions.",
              "response": {
                "$ref": "GoogleIamV1TestIamPermissionsResponse"
              },
              "flatPath": "v1/organizations/{organizationsId}/spaces/{spacesId}:testIamPermissions",
              "request": {
                "$ref": "GoogleIamV1TestIamPermissionsRequest"
              },
              "id": "apigee.organizations.spaces.testIamPermissions",
              "parameterOrder": [
                "resource"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "resource": {
                  "required": true,
                  "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/spaces/[^/]+$"
                }
              }
            }
          }
        },
        "securityProfiles": {
          "methods": {
            "create": {
              "description": "CreateSecurityProfile create a new custom security profile.",
              "httpMethod": "POST",
              "path": "v1/{+parent}/securityProfiles",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of organization. Format: organizations/{org}",
                  "required": true
                },
                "securityProfileId": {
                  "description": "Required. The ID to use for the SecurityProfile, which will become the final component of the action's resource name. This value should be 1-63 characters and validated by \"(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)\".",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.create",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              }
            },
            "patch": {
              "description": "UpdateSecurityProfile update the metadata of security profile.",
              "httpMethod": "PATCH",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$"
                },
                "updateMask": {
                  "description": "Required. The list of fields to update.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.patch",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              }
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfilesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfiles` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. For a specific organization, list of all the security profiles. Format: `organizations/{org}`"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of profiles to return. The service may return fewer than this value. If unspecified, at most 50 profiles will be returned.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "id": "apigee.organizations.securityProfiles.list",
              "parameterOrder": [
                "parent"
              ],
              "description": "ListSecurityProfiles lists all the security profiles associated with the org including attached and unattached profiles.",
              "path": "v1/{+parent}/securityProfiles",
              "httpMethod": "GET"
            },
            "listRevisions": {
              "description": "ListSecurityProfileRevisions lists all the revisions of the security profile.",
              "path": "v1/{+name}:listRevisions",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfileRevisions` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "required": true,
                  "description": "Required. For a specific profile, list all the revisions. Format: `organizations/{org}/securityProfiles/{profile}`",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of profile revisions to return. The service may return fewer than this value. If unspecified, at most 50 revisions will be returned.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}:listRevisions",
              "id": "apigee.organizations.securityProfiles.listRevisions",
              "parameterOrder": [
                "name"
              ]
            },
            "delete": {
              "description": "DeleteSecurityProfile delete a profile with all its revisions.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of profile. Format: organizations/{org}/securityProfiles/{profile}",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "required": true,
                  "description": "Required. Security profile in the following format: `organizations/{org}/securityProfiles/{profile}'. Profile may optionally contain revision ID. If revision ID is not provided, the response will contain latest revision by default. Example: organizations/testOrg/securityProfiles/testProfile@5"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "description": "GetSecurityProfile gets the specified security profile. Returns NOT_FOUND if security profile is not present for the specified organization.",
              "httpMethod": "GET",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "delete": {
                  "description": "DeleteSecurityProfileEnvironmentAssociation removes profile environment association i.e. detaches environment from security profile.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the environment attachment to delete. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true,
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}",
                  "id": "apigee.organizations.securityProfiles.environments.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  }
                },
                "computeEnvironmentScores": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse"
                  },
                  "id": "apigee.organizations.securityProfiles.environments.computeEnvironmentScores",
                  "parameterOrder": [
                    "profileEnvironment"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}:computeEnvironmentScores",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest"
                  },
                  "parameters": {
                    "profileEnvironment": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "Required. Name of organization and environment and profile id for which score needs to be computed. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "path": "v1/{+profileEnvironment}:computeEnvironmentScores",
                  "description": "ComputeEnvironmentScores calculates scores for requested time range for the specified security profile and environment."
                },
                "create": {
                  "id": "apigee.organizations.securityProfiles.environments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                      "required": true,
                      "description": "Required. Name of organization and security profile ID. Format: organizations/{org}/securityProfiles/{profile}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/environments",
                  "description": "CreateSecurityProfileEnvironmentAssociation creates profile environment association i.e. attaches environment to security profile."
                }
              }
            }
          }
        },
        "keyvaluemaps": {
          "methods": {
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "required": true,
                  "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "id": "apigee.organizations.keyvaluemaps.update",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "description": "Update the key value map scoped to an organization, environment, or API proxy.",
              "path": "v1/{+name}",
              "httpMethod": "PUT"
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Name of the organization in which to create the key value map file. Use the following structure in your request: `organizations/{org}`",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps",
              "request": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "id": "apigee.organizations.keyvaluemaps.create",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "description": "Creates a key value map in an organization.",
              "path": "v1/{+parent}/keyvaluemaps",
              "httpMethod": "POST"
            },
            "delete": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                  "required": true,
                  "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/keyvaluemaps/{keyvaluemap}`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.keyvaluemaps.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "description": "Deletes a key value map from an organization.",
              "httpMethod": "DELETE",
              "path": "v1/{+name}"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1KeyValueMap"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$"
                }
              },
              "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}",
              "id": "apigee.organizations.keyvaluemaps.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get the key value map scoped to an organization, environment, or API proxy.",
              "path": "v1/{+name}",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "entries": {
              "methods": {
                "update": {
                  "path": "v1/{+name}",
                  "httpMethod": "PUT",
                  "description": "Update key value entry scoped to an organization, environment, or API proxy for an existing key.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "id": "apigee.organizations.keyvaluemaps.entries.update",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true
                    }
                  }
                },
                "get": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "id": "apigee.organizations.keyvaluemaps.entries.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                    }
                  },
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                  "id": "apigee.organizations.keyvaluemaps.entries.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/entries",
                  "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "id": "apigee.organizations.keyvaluemaps.entries.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                  }
                },
                "list": {
                  "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/entries",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.keyvaluemaps.entries.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/keyvaluemaps/{keyvaluemapsId}/entries",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                  }
                }
              }
            }
          }
        },
        "securityFeedback": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "id": "apigee.organizations.securityFeedback.patch",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid.",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Optional. The list of fields to update.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "httpMethod": "PATCH",
              "description": "Updates a specific feedback report."
            },
            "list": {
              "description": "Lists all feedback reports which have already been submitted.",
              "httpMethod": "GET",
              "path": "v1/{+parent}/securityFeedback",
              "parameters": {
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListSecurityFeedback` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSecurityFeedback` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the organization. Format: `organizations/{org}`. Example: organizations/apigee-organization-name/securityFeedback"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of feedback reports to return. The service may return fewer than this value. LINT.IfChange(documented_page_size_limits) If unspecified, at most 10 feedback reports will be returned. The maximum value is 100; values above 100 will be coerced to 100. LINT.ThenChange( //depot/google3/edge/sense/boq/service/v1/securityfeedback/securityfeedback_rpc.go:page_size_limits )",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityFeedback.list",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityFeedbackResponse"
              }
            },
            "create": {
              "path": "v1/{+parent}/securityFeedback",
              "httpMethod": "POST",
              "description": "Creates a new report containing customer feedback.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              },
              "id": "apigee.organizations.securityFeedback.create",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "securityFeedbackId": {
                  "description": "Optional. The id for this feedback report. If not provided, it will be set to a system-generated UUID.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "get": {
              "description": "Gets a specific customer feedback report.",
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the SecurityFeedback. Format: `organizations/{org}/securityFeedback/{feedback_id}` Example: organizations/apigee-organization-name/securityFeedback/feedback-id",
                  "location": "path",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityFeedback.get",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityFeedback"
              }
            },
            "delete": {
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "apigee.organizations.securityFeedback.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityFeedback/{securityFeedbackId}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityFeedback/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the SecurityFeedback to delete. Use the following structure in your request: `organizations/{org}/securityFeedback/{feedback_id}`"
                }
              },
[...]
