{
  "revision": "20260327",
  "batchPath": "batch",
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Apigee",
  "rootUrl": "https://apigee.googleapis.com/",
  "baseUrl": "https://apigee.googleapis.com/",
  "basePath": "",
  "title": "Apigee API",
  "version_module": true,
  "resources": {
    "hybrid": {
      "resources": {
        "issuers": {
          "methods": {
            "list": {
              "path": "v1/{+name}",
              "flatPath": "v1/hybrid/issuers",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "Required. Must be of the form `hybrid/issuers`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^hybrid/issuers$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.hybrid.issuers.list",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists hybrid services and its trusted issuers service account ids. This api is authenticated and unauthorized(allow all the users) and used by runtime authn-authz service to query control plane's issuer service account ids.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListHybridIssuersResponse"
              }
            }
          }
        }
      }
    },
    "organizations": {
      "resources": {
        "hostStats": {
          "methods": {
            "get": {
              "id": "apigee.organizations.hostStats.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Retrieve metrics grouped by dimensions in host level. The types of metrics you can retrieve include traffic, message counts, API call latency, response size, and cache hits and counts. Dimensions let you view metrics in meaningful groups. You can optionally pass dimensions as path parameters to the `stats` API. If dimensions are not specified, the metrics are computed on the entire set of data for the given time range.",
              "response": {
                "$ref": "GoogleCloudApigeeV1Stats"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/hostStats/{hostStatsId}",
              "httpMethod": "GET",
              "parameters": {
                "filter": {
                  "description": "Flag that enables drill-down on specific dimension values.",
                  "type": "string",
                  "location": "query"
                },
                "envgroupHostname": {
                  "description": "Required. Hostname for which the interactive query will be executed.",
                  "location": "query",
                  "type": "string"
                },
                "timeUnit": {
                  "location": "query",
                  "type": "string",
                  "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`."
                },
                "realtime": {
                  "location": "query",
                  "type": "boolean",
                  "description": "No longer used by Apigee. Supported for backwards compatibility."
                },
                "tzo": {
                  "type": "string",
                  "location": "query",
                  "description": "Timezone offset value."
                },
                "timeRange": {
                  "location": "query",
                  "type": "string",
                  "description": "Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`"
                },
                "sortby": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of metrics to sort the final result."
                },
                "sort": {
                  "description": "Flag that specifies if the sort order should be ascending or descending. Valid values are `DESC` and `ASC`.",
                  "type": "string",
                  "location": "query"
                },
                "select": {
                  "type": "string",
                  "location": "query",
                  "description": "Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`"
                },
                "limit": {
                  "type": "string",
                  "location": "query",
                  "description": "Maximum number of result items to return."
                },
                "topk": {
                  "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/hostStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of dimensions should be a comma-separated list as shown below `organizations/{org}/hostStats/apiproxy,request_verb`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostStats/.*$"
                },
                "offset": {
                  "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`.",
                  "location": "query",
                  "type": "string"
                },
                "tsAscending": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends that you set this value to `true` if you are using `sortby` with `sort=DESC`."
                },
                "accuracy": {
                  "description": "No longer used by Apigee. Supported for backwards compatibility.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          }
        },
        "sites": {
          "resources": {
            "apicategories": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/apicategories",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new API category.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "id": "apigee.organizations.sites.apicategories.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.sites.apicategories.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes an API category.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeleteResponse"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "description": "Gets an API category.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "id": "apigee.organizations.sites.apicategories.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories/{apicategoriesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apicategories/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the category. Use the following structure in your request: `organizations/{org}/sites/{site}/apicategories/{apicategory}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiCategory"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiCategoryResponse"
                  },
                  "description": "Updates an API category.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.sites.apicategories.patch"
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apicategories",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apicategories",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apigee.organizations.sites.apicategories.list",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiCategoriesResponse"
                  },
                  "description": "Returns the API categories associated with a portal."
                }
              }
            },
            "apidocs": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.sites.apidocs.get",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  },
                  "description": "Gets a catalog item."
                },
                "update": {
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDoc"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "description": "Updates a catalog item.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  },
                  "id": "apigee.organizations.sites.apidocs.update",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDoc"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apidocs",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs",
                  "id": "apigee.organizations.sites.apidocs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a new catalog item.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the catalog item. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1DeleteResponse"
                  },
                  "description": "Deletes a catalog item.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.sites.apidocs.delete"
                },
                "getDocumentation": {
                  "id": "apigee.organizations.sites.apidocs.getDocumentation",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets the documentation for the specified catalog item.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}/documentation",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+/documentation$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the catalog item documentation. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}/documentation`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "apigee.organizations.sites.apidocs.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Returns the catalog items associated with a portal.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiDocsResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the portal. Use the following structure in your request: `organizations/{org}/sites/{site}`"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return. The service may return fewer than this value. If unspecified, at most 25 books will be returned. The maximum value is 100; values above 100 will be coerced to 100."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListApiDocs` call. Provide this to retrieve the subsequent page."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apidocs",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs"
                },
                "updateDocumentation": {
                  "description": "Updates the documentation for the specified catalog item. Note that the documentation file contents will not be populated in the return message.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentationResponse"
                  },
                  "id": "apigee.organizations.sites.apidocs.updateDocumentation",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/sites/{sitesId}/apidocs/{apidocsId}/documentation",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the catalog item documentation. Use the following structure in your request: `organizations/{org}/sites/{site}/apidocs/{apidoc}/documentation`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/sites/[^/]+/apidocs/[^/]+/documentation$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ApiDocDocumentation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "deployments": {
          "methods": {
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.deployments.list",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
              },
              "description": "Lists all deployments of API proxies or shared flows.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which to return deployment information in the following format: `organizations/{org}`"
                },
                "sharedFlows": {
                  "type": "boolean",
                  "location": "query",
                  "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/deployments",
              "flatPath": "v1/organizations/{organizationsId}/deployments"
            }
          }
        },
        "securityMonitoringConditions": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the security monitoring condition to get. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$"
                },
                "riskAssessmentType": {
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "type": "string",
                  "location": "query",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "id": "apigee.organizations.securityMonitoringConditions.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Get a security monitoring condition.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              }
            },
            "create": {
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name. Format: `organizations/{org}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^organizations/[^/]+$",
                  "type": "string"
                },
                "securityMonitoringConditionId": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional: The security monitoring condition id. If not specified, a monitoring condition uuid will be generated by the backend. This value should be 4-63 characters, and valid characters are /a-z-/."
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/securityMonitoringConditions",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "description": "Create a security monitoring condition.",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.securityMonitoringConditions.create"
            },
            "delete": {
              "httpMethod": "DELETE",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the security monitoring condition to delete. Format: `organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$"
                },
                "riskAssessmentType": {
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "location": "query",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}",
              "description": "Delete a security monitoring condition.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              },
              "id": "apigee.organizations.securityMonitoringConditions.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "path": "v1/{+parent}/securityMonitoringConditions",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "Optional. The maximum number of monitoring conditions to return."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `ListSecurityMonitoringConditions` call. Provide this to retrieve the subsequent page."
                },
                "filter": {
                  "description": "Optional. Filter for the monitoring conditions. When RiskAssessmentType is APIGEE, monitoring conditions can be filtered by profile and scope. For example: `profile=profile1 AND scope=env1` When RiskAssessmentType is API_HUB, monitoring conditions can be filtered by profile and api_hub_gateway. For example: `profile=profile1 AND api_hub_gateway=gateway1`",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. For a specific organization, list all the security monitoring conditions. Format: `organizations/{org}`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                },
                "riskAssessmentType": {
                  "location": "query",
                  "enum": [
                    "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
                    "APIGEE",
                    "API_HUB"
                  ],
                  "description": "Optional. The risk assessment type of the security monitoring condition. Defaults to ADVANCED_API_SECURITY.",
                  "type": "string",
                  "enumDescriptions": [
                    "Risk assessment type is not specified.",
                    "Risk assessment type is Apigee.",
                    "Risk assessment type is API Hub."
                  ]
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse"
              },
              "description": "List security monitoring conditions.",
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.securityMonitoringConditions.list"
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.securityMonitoringConditions.patch",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "description": "Update a security monitoring condition.",
              "httpMethod": "PATCH",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/securityMonitoringConditions/[^/]+$",
                  "type": "string",
                  "description": "Identifier. Name of the security monitoring condition resource. Format: organizations/{org}/securityMonitoringConditions/{security_monitoring_condition}",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "description": "Optional. The list of fields to update. Valid fields to update are `include_all_resources` and `include`.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityMonitoringConditions/{securityMonitoringConditionsId}"
            }
          }
        },
        "hostSecurityReports": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.hostSecurityReports.get",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "description": "Get status of a query submitted at host level. If the query is still in progress, the `state` is set to \"running\" After the query has completed successfully, `state` is set to \"completed\"",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the security report to get. Must be of the form `organizations/{org}/securityReports/{reportId}`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.hostSecurityReports.create",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReport"
              },
              "description": "Submit a query at host level to be processed in the background. If the submission of the query succeeds, the API returns a 201 status and an ID that refer to the query. In addition to the HTTP status 201, the `state` of \"enqueued\" means that the request succeeded.",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`.",
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityReportQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+parent}/hostSecurityReports",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports"
            },
            "getResult": {
              "response": {
                "$ref": "GoogleApiHttpBody"
              },
              "description": "After the query is completed, use this API to retrieve the results. If the request succeeds, and there is a non-zero result set, the result is downloaded to the client as a zipped JSON file. The name of the downloaded file will be: OfflineQueryResult-.zip Example: `OfflineQueryResult-9cfc0d85-0f30-46d6-ae6f-318d0cb961bd.zip`",
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.hostSecurityReports.getResult",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/result$",
                  "type": "string",
                  "description": "Required. Name of the security report result to get. Must be of the form `organizations/{org}/securityReports/{reportId}/result`.",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/result"
            },
            "getResultView": {
              "id": "apigee.organizations.hostSecurityReports.getResultView",
              "parameterOrder": [
                "name"
              ],
              "description": "After the query is completed, use this API to view the query result when result size is small.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityReportResultView"
              },
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+/hostSecurityReports/[^/]+/resultView$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the security report result view to get. Must be of the form `organizations/{org}/securityReports/{reportId}/resultView`."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports/{hostSecurityReportsId}/resultView"
            },
            "list": {
              "path": "v1/{+parent}/hostSecurityReports",
              "flatPath": "v1/organizations/{organizationsId}/hostSecurityReports",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name. Must be of the form `organizations/{org}`."
                },
                "status": {
                  "location": "query",
                  "type": "string",
                  "description": "Filter response list by security report status."
                },
                "submittedBy": {
                  "description": "Filter response list by user who submitted queries.",
                  "location": "query",
                  "type": "string"
                },
                "from": {
                  "description": "Filter response list by returning security reports that created after this date time. Time must be in ISO date-time format like '2011-12-03T10:15:30Z'.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "location": "query",
                  "description": "The maximum number of security report to return in the list response."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Token returned from the previous list response to fetch the next page."
                },
                "dataset": {
                  "type": "string",
                  "location": "query",
                  "description": "Filter response list by dataset. Example: `api`, `mint`"
                },
                "to": {
                  "description": "Filter response list by returning security reports that created before this date time. Time must be in ISO date-time format like '2011-12-03T10:16:30Z'.",
                  "type": "string",
                  "location": "query"
                },
                "envgroupHostname": {
                  "location": "query",
                  "type": "string",
                  "description": "Required. Filter response list by hostname."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Return a list of Security Reports at host level.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityReportsResponse"
              },
              "id": "apigee.organizations.hostSecurityReports.list",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "securityAssessmentResults": {
          "methods": {
            "batchCompute": {
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.securityAssessmentResults.batchCompute",
              "response": {
                "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsResponse"
              },
              "description": "Compute RAV2 security scores for a set of resources.",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the organization for which the score needs to be computed in the following format: `organizations/{org}/securityAssessmentResults`",
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityAssessmentResults$"
                }
              },
              "request": {
                "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}:batchCompute",
              "flatPath": "v1/organizations/{organizationsId}/securityAssessmentResults:batchCompute"
            }
          }
        },
        "environments": {
          "resources": {
            "sharedflows": {
              "resources": {
                "revisions": {
                  "methods": {
                    "undeploy": {
                      "description": "Undeploys a shared flow revision from an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.delete` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.undeploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`",
                      "response": {
                        "$ref": "GoogleProtobufEmpty"
                      },
                      "id": "apigee.organizations.environments.sharedflows.revisions.undeploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/deployments",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the shared flow revision to undeploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "getDeployments": {
                      "description": "Gets the deployment of a shared flow revision and actual state reported by runtime pods.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "id": "apigee.organizations.environments.sharedflows.revisions.getDeployments",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}/deployments",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "deploy": {
                      "description": "Deploys a revision of a shared flow. If another revision of the same shared flow is currently deployed, set the `override` parameter to `true` to have this revision replace the currently deployed revision. You cannot use a shared flow until it has been deployed to an environment. For a request path `organizations/{org}/environments/{env}/sharedflows/{sf}/revisions/{rev}/deployments`, two permissions are required: * `apigee.deployments.create` on the resource `organizations/{org}/environments/{env}` * `apigee.sharedflowrevisions.deploy` on the resource `organizations/{org}/sharedflows/{sf}/revisions/{rev}`",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Deployment"
                      },
                      "id": "apigee.organizations.environments.sharedflows.revisions.deploy",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "parameters": {
                        "serviceAccount": {
                          "type": "string",
                          "location": "query",
                          "description": "Google Cloud IAM service account. The service account represents the identity of the deployed proxy, and determines what permissions it has. The format must be `{ACCOUNT_ID}@{PROJECT}.iam.gserviceaccount.com`."
                        },
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+/revisions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the shared flow revision to deploy in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}/revisions/{rev}` If the shared flow resource being deployed has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true
                        },
                        "override": {
                          "description": "Flag that specifies whether the new deployment replaces other deployed revisions of the shared flow in the environment. Set `override` to `true` to replace other deployed revisions. By default, `override` is `false` and the deployment is rejected if other revisions of the shared flow are deployed in the environment.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}/deployments",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/revisions/{revisionsId}/deployments"
                    }
                  }
                },
                "deployments": {
                  "methods": {
                    "list": {
                      "description": "Lists all deployments of a shared flow in an environment.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "id": "apigee.organizations.environments.sharedflows.deployments.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/sharedflows/[^/]+$",
                          "type": "string",
                          "description": "Required. Name representing a shared flow in an environment in the following format: `organizations/{org}/environments/{env}/sharedflows/{sharedflow}` If the shared flow resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/deployments",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/sharedflows/{sharedflowsId}/deployments"
                    }
                  }
                }
              }
            },
            "flowhooks": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the flow hook in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "description": "Returns the name of the shared flow attached to the specified flow hook. If there's no shared flow attached to the flow hook, the API does not return an error; it simply does not return a name in the response.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.flowhooks.get"
                },
                "detachSharedFlowFromFlowHook": {
                  "id": "apigee.organizations.environments.flowhooks.detachSharedFlowFromFlowHook",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Detaches a shared flow from a flow hook.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the flow hook to detach in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}"
                },
                "attachSharedFlowToFlowHook": {
                  "id": "apigee.organizations.environments.flowhooks.attachSharedFlowToFlowHook",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Attaches a shared flow to a flow hook.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/flowhooks/{flowhooksId}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/flowhooks/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the flow hook to which the shared flow should be attached in the following format: `organizations/{org}/environments/{env}/flowhooks/{flowhook}`"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1FlowHook"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "keystores": {
              "resources": {
                "aliases": {
                  "methods": {
                    "update": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "httpMethod": "PUT",
                      "parameters": {
                        "ignoreNewlineValidation": {
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "ignoreExpiryValidation": {
                          "description": "Required. Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed.",
                          "type": "boolean",
                          "location": "query"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`"
                        }
                      },
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.update",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "description": "Updates the certificate in an alias. The updated certificate must be in PEM- or DER-encoded X.509 format."
                    },
                    "csr": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.csr",
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "description": "Generates a PKCS #10 Certificate Signing Request for the private key in an alias.",
                      "path": "v1/{+name}/csr",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/csr",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an alias.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.get",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "description": "Creates an alias from a key/certificate pair. The structure of the request is controlled by the `format` query parameter: - `keycertfile` - Separate PEM-encoded key and certificate files are uploaded. Set `Content-Type: multipart/form-data` and include the `keyFile`, `certFile`, and `password` (if keys are encrypted) fields in the request body. If uploading to a truststore, omit `keyFile`. - `pkcs12` - A PKCS12 file is uploaded. Set `Content-Type: multipart/form-data`, provide the file in the `file` field, and include the `password` field if the file is encrypted in the request body. - `selfsignedcert` - A new private key and certificate are generated. Set `Content-Type: application/json` and include CertificateGenerationSpec in the request body.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "alias": {
                          "type": "string",
                          "location": "query",
                          "description": "Alias for the key/certificate pair. Values must match the regular expression `[\\w\\s-.]{1,255}`. This must be provided for all formats except `selfsignedcert`; self-signed certs may specify the alias in either this parameter or the JSON body."
                        },
                        "ignoreExpiryValidation": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Flag that specifies whether to ignore expiry validation. If set to `true`, no expiry validation will be performed."
                        },
                        "format": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Format of the data. Valid values include: `selfsignedcert`, `keycertfile`, or `pkcs12`"
                        },
                        "ignoreNewlineValidation": {
                          "description": "Flag that specifies whether to ignore newline validation. If set to `true`, no error is thrown when the file contains a certificate chain with no newline between each certificate. Defaults to `false`.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                          "type": "string"
                        },
                        "_password": {
                          "description": "DEPRECATED: For improved security, specify the password in the request body instead of using the query parameter. To specify the password in the request body, set `Content-type: multipart/form-data` part with name `password`. Password for the private key file, if required.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "request": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/aliases",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases"
                    },
                    "delete": {
                      "description": "Deletes an alias.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1Alias"
                      },
                      "id": "apigee.organizations.environments.keystores.aliases.delete",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}"
                    },
                    "getCertificate": {
                      "response": {
                        "$ref": "GoogleApiHttpBody"
                      },
                      "description": "Gets the certificate from an alias in PEM-encoded form.",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.environments.keystores.aliases.getCertificate",
                      "path": "v1/{+name}/certificate",
                      "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}/aliases/{aliasesId}/certificate",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the alias. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+/aliases/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "create": {
                  "id": "apigee.organizations.environments.keystores.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a keystore or truststore. - Keystore: Contains certificates and their associated keys. - Truststore: Contains trusted certificates used to validate a server's certificate. These certificates are typically self-signed certificates or certificates that are not signed by a trusted CA.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the keystore. Use the following format in your request: `organizations/{org}/environments/{env}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "name": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. Name of the keystore. Overrides the value in Keystore."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/keystores",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "description": "Deletes a keystore or truststore.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.keystores.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets a keystore or truststore.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Keystore"
                  },
                  "id": "apigee.organizations.environments.keystores.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/keystores/{keystoresId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the keystore. Use the following format in your request: `organizations/{org}/environments/{env}/keystores/{keystore}`.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/keystores/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "resourcefiles": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to create the resource file in the following format: `organizations/{org}/environments/{env}`."
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "Required. Name of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/resourcefiles",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles",
                  "description": "Creates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.create",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "description": "Deletes a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.delete",
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`."
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the resource file to delete. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource file type. {{ resource_file_type }}"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. ID of the resource file. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the contents of a resource file. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.get",
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ]
                },
                "update": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ResourceFile"
                  },
                  "description": "Updates a resource file. Specify the `Content-Type` as `application/octet-stream` or `multipart/form-data`. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "parameterOrder": [
                    "parent",
                    "type",
                    "name"
                  ],
                  "id": "apigee.organizations.environments.resourcefiles.update",
                  "path": "v1/{+parent}/resourcefiles/{type}/{name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}/{name}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the environment in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string"
                    },
                    "type": {
                      "description": "Required. Resource file type. {{ resource_file_type }}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. ID of the resource file to update. Must match the regular expression: [a-zA-Z0-9:/\\\\!@#$%^&{}\\[\\]()+\\-=,.~'` ]{1,255}"
                    }
                  },
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "id": "apigee.organizations.environments.resourcefiles.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/resourcefiles",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`."
                    },
                    "type": {
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "listEnvironmentResources": {
                  "id": "apigee.organizations.environments.resourcefiles.listEnvironmentResources",
                  "parameterOrder": [
                    "parent",
                    "type"
                  ],
                  "description": "Lists all resource files, optionally filtering by type. For more information about resource files, see [Resource files](https://cloud.google.com/apigee/docs/api-platform/develop/resource-files).",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the environment in which to list resource files in the following format: `organizations/{org}/environments/{env}`.",
                      "location": "path",
                      "required": true
                    },
                    "type": {
                      "description": "Optional. Type of resource files to list. {{ resource_file_type }}",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/resourcefiles/{type}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/resourcefiles/{type}"
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the environment for which to return deployment information in the following format: `organizations/{org}/environments/{env}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+$"
                    },
                    "sharedFlows": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Flag that specifies whether to return shared flow or API proxy deployments. Set to `true` to return shared flow deployments; set to `false` to return API proxy deployments. Defaults to `false`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments",
                  "id": "apigee.organizations.environments.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all deployments of API proxies or shared flows in an environment.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  }
                },
                "setIamPolicy": {
                  "description": "Sets the IAM policy on a deployment, if the policy already exists it will be replaced. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.deployments.setIamPolicy` permission to call this API.",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "id": "apigee.organizations.environments.deployments.setIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "GoogleIamV1SetIamPolicyRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+resource}:setIamPolicy",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:setIamPolicy"
                },
                "testIamPermissions": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "id": "apigee.organizations.environments.deployments.testIamPermissions",
                  "response": {
                    "$ref": "GoogleIamV1TestIamPermissionsResponse"
                  },
                  "description": "Tests the permissions of a user on a deployment, and returns a subset of permissions that the user has on the deployment. If the deployment does not exist, an empty permission set is returned (a NOT_FOUND error is not returned).",
                  "path": "v1/{+resource}:testIamPermissions",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "request": {
                    "$ref": "GoogleIamV1TestIamPermissionsRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the api proxy or the shared flow deployment. Use the following structure in your request: `organizations/{org}/environments/{env}/deployments/{deployment}`",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.environments.deployments.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets a particular deployment of Api proxy or a shared flow in an environment",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Deployment"
                  }
                },
                "getIamPolicy": {
                  "path": "v1/{+resource}:getIamPolicy",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/deployments/{deploymentsId}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "type": "string",
                      "pattern": "^organizations/[^/]+/environments/[^/]+/deployments/[^/]+$"
                    },
                    "options.requestedPolicyVersion": {
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the IAM policy on a deployment. For more information, see [Manage users, roles, and permissions using the API](https://cloud.google.com/apigee/docs/api-platform/system-administration/manage-users-roles). You must have the `apigee.deployments.getIamPolicy` permission to call this API.",
                  "response": {
                    "$ref": "GoogleIamV1Policy"
                  },
                  "id": "apigee.organizations.environments.deployments.getIamPolicy",
                  "parameterOrder": [
                    "resource"
                  ]
                }
              }
            },
            "optimizedStats": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/environments/{environmentsId}/optimizedStats/{optimizedStatsId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "limit": {
                      "description": "Maximum number of result items to return.",
                      "location": "query",
                      "type": "string"
                    },
                    "topk": {
                      "description": "Top number of results to return. For example, to return the top 5 results, set `topk=5`.",
                      "location": "query",
                      "type": "string"
                    },
                    "select": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. Comma-separated list of metrics. For example: `sum(message_count),sum(error_count)`"
                    },
                    "accuracy": {
                      "description": "No longer used by Apigee. Supported for backwards compatibility.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/environments/[^/]+/optimizedStats/.*$",
                      "type": "string",
                      "description": "Required. Resource name for which the interactive query will be executed. Use the following format in your request: `organizations/{org}/environments/{env}/optimizedStats/{dimensions}` Dimensions let you view metrics in meaningful groupings, such as `apiproxy`, `target_host`. The value of `dimensions` should be a comma-separated list as shown below: `organizations/{org}/environments/{env}/optimizedStats/apiproxy,request_verb`",
                      "location": "path",
                      "required": true
                    },
                    "offset": {
                      "type": "string",
                      "location": "query",
                      "description": "Offset value. Use `offset` with `limit` to enable pagination of results. For example, to display results 11-20, set limit to `10` and offset to `10`."
                    },
                    "tsAscending": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Flag that specifies whether to list timestamps in ascending (`true`) or descending (`false`) order. Apigee recommends setting this value to `true` if you are using `sortby` with `sort=DESC`."
                    },
                    "timeRange": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Time interval for the interactive query. Time range is specified in GMT as `start~end`. For example: `04/15/2017 00:00~05/15/2017 23:59`"
                    },
                    "aggTable": {
                      "description": "Table name used to query custom aggregate tables. If this parameter is skipped, then Apigee will try to retrieve the data from fact tables which will be expensive.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Filter that enables you to drill-down on specific dimension values."
                    },
                    "timeUnit": {
                      "type": "string",
                      "location": "query",
                      "description": "Granularity of metrics returned. Valid values include: `second`, `minute`, `hour`, `day`, `week`, or `month`."
                    },
                    "realtime": {
                      "type": "boolean",
                      "location": "query",
                      "description": "No longer used by Apigee. Supported for backwards compatibility."
                    },
                    "tzo": {
                      "description": "Timezone offset value.",
                      "type": "string",
                      "location": "query"
                    },
                    "sonar": {
                      "description": "Routes the query to API Monitoring for the last hour.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "sortby": {
                      "type": "string",
                      "location": "query",
                      "description": "Comma-separated list of metrics to sort the final result."
                    },
                    "sort": {
                      "location": "query",
                      "type": "string",
                      "description": "Flag that specifies whether the sort order should be ascending or descending. Valid values include `DESC` and `ASC`."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.optimizedStats.get",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1OptimizedStats"
                  },
                  "description": "Similar to GetStats except that the response is less verbose."
                }
              }
            },
            "stats": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apigee.organizations.environments.stats.get",
                  "response": {
[...]
