{
  "servicePath": "",
  "basePath": "",
  "discoveryVersion": "v1",
  "revision": "20260327",
  "batchPath": "batch",
  "schemas": {
    "GoogleCloudApigeeV1Developer": {
      "id": "GoogleCloudApigeeV1Developer",
      "type": "object",
      "properties": {
        "appFamily": {
          "description": "Developer app family.",
          "type": "string"
        },
        "createdAt": {
          "description": "Output only. Time at which the developer was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Required. User name of the developer. Not used by Apigee hybrid."
        },
        "lastName": {
          "description": "Required. Last name of the developer.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Status of the developer. Valid values are `active` and `inactive`."
        },
        "companies": {
          "description": "List of companies associated with the developer.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "apps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of apps associated with the developer."
        },
        "organizationName": {
          "readOnly": true,
          "description": "Output only. Name of the Apigee organization in which the developer resides.",
          "type": "string"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Time at which the developer was last modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "Required. Email address of the developer. This value is used to uniquely identify the developer in Apigee hybrid. Note that the email address has to be in lowercase only."
        },
        "attributes": {
          "description": "Optional. Developer attributes (name/value pairs). The custom attribute limit is 18.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "firstName": {
          "description": "Required. First name of the developer.",
          "type": "string"
        },
        "developerId": {
          "description": "ID of the developer. **Note**: IDs are generated internally by Apigee and are not guaranteed to stay the same over time.",
          "type": "string"
        },
        "accessType": {
          "description": "Access type.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultResource": {
      "description": "Resource for which we are computing security assessment.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment."
        },
        "apiHubDeploymentDetails": {
          "description": "Output only. Additional details for the API Hub deployment.",
          "readOnly": true,
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails"
        },
        "type": {
          "description": "Required. Type of this resource.",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "API_PROXY",
            "API_HUB_DEPLOYMENT"
          ],
          "type": "string",
          "enumDescriptions": [
            "ResourceType not specified.",
            "Resource is an Apigee Proxy.",
            "Resource is an API Hub deployment."
          ]
        },
        "resourceRevisionId": {
          "description": "The revision id for the resource. In case of Apigee, this is proxy revision id.",
          "type": "string"
        },
        "apiHubGatewayType": {
          "description": "Optional. ",
          "enum": [
            "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X",
            "APIGEE_HYBRID",
            "APIGEE_EDGE",
            "APIGEE_OPDK"
          ],
          "type": "string",
          "enumDescriptions": [
            "Gateway type is not specified.",
            "Gateway is Apigee X for API Hub.",
            "Gateway is Apigee Hybrid for API Hub.",
            "Gateway is Apigee Edge for API Hub.",
            "Gateway is Apigee OPDK for API Hub."
          ]
        }
      },
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultResource",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext": {
      "id": "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext",
      "type": "object",
      "description": "FeedbackContext captures the intent of the submitted feedback.",
      "properties": {
        "attribute": {
          "description": "Required. The attribute the user is providing feedback about.",
          "enum": [
            "ATTRIBUTE_UNSPECIFIED",
            "ATTRIBUTE_ENVIRONMENTS",
            "ATTRIBUTE_IP_ADDRESS_RANGES"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified attribute.",
            "Values will be a list of environments.",
            "Values will be a list of IP addresses. This could be either IPv4 or IPv6."
          ]
        },
        "values": {
          "description": "Required. The values of the attribute the user is providing feedback about.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1EndpointChainingRule": {
      "id": "GoogleCloudApigeeV1EndpointChainingRule",
      "type": "object",
      "description": "EndpointChainingRule specifies the proxies contained in a particular deployment group, so that other deployment groups can find them in chaining calls.",
      "properties": {
        "proxyIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of proxy ids which may be found in the given deployment group."
        },
        "deploymentGroup": {
          "description": "The deployment group to target for cross-shard chaining calls to these proxies.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AppGroupAppKey": {
      "properties": {
        "consumerKey": {
          "description": "Immutable. Consumer key.",
          "type": "string"
        },
        "expiresAt": {
          "type": "string",
          "description": "Output only. Time the AppGroup app expires in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "expiresInSeconds": {
          "type": "string",
          "description": "Immutable. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "format": "int64"
        },
        "attributes": {
          "description": "List of attributes associated with the credential.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app."
        },
        "issuedAt": {
          "type": "string",
          "description": "Output only. Time the AppGroup app was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "apiProducts": {
          "readOnly": true,
          "description": "Output only. List of API products and its status for which the credential can be used. **Note**: Use UpdateAppGroupAppKeyApiProductRequest API to make the association after the consumer key and secret are created.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1APIProductAssociation"
          }
        }
      },
      "description": "AppGroupAppKey contains all the information associated with the credentials.",
      "id": "GoogleCloudApigeeV1AppGroupAppKey",
      "type": "object"
    },
    "GoogleCloudApigeeV1AdvancedApiOpsConfig": {
      "id": "GoogleCloudApigeeV1AdvancedApiOpsConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Advanced API Ops add-on is enabled.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the Advanced API Ops add-on."
    },
    "GoogleCloudApigeeV1TraceConfigOverride": {
      "properties": {
        "apiProxy": {
          "description": "ID of the API proxy that will have its trace configuration overridden.",
          "type": "string"
        },
        "name": {
          "description": "ID of the trace configuration override specified as a system-generated UUID.",
          "type": "string"
        },
        "samplingConfig": {
          "description": "Trace configuration to override.",
          "$ref": "GoogleCloudApigeeV1TraceSamplingConfig"
        }
      },
      "description": "A representation of a configuration override.",
      "id": "GoogleCloudApigeeV1TraceConfigOverride",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListApiProductsResponse": {
      "properties": {
        "apiProduct": {
          "description": "Lists all API product names defined for an organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProduct"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListApiProductsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1SyncAuthorization": {
      "id": "GoogleCloudApigeeV1SyncAuthorization",
      "type": "object",
      "properties": {
        "identities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Array of service accounts to grant access to control plane resources, each specified using the following format: `serviceAccount:` service-account-name. The service-account-name is formatted like an email address. For example: `my-synchronizer-manager-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one. The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts)."
        },
        "etag": {
          "description": "Entity tag (ETag) used for optimistic concurrency control as a way to help prevent simultaneous updates from overwriting each other. For example, when you call [getSyncAuthorization](organizations/getSyncAuthorization) an ETag is returned in the response. Pass that ETag when calling the [setSyncAuthorization](organizations/setSyncAuthorization) to ensure that you are updating the correct version. If you don't pass the ETag in the call to `setSyncAuthorization`, then the existing authorization is overwritten indiscriminately. **Note**: We strongly recommend that you use the ETag in the read-modify-write cycle to avoid race conditions.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "description": "InstanceAttachment represents the installation of an environment onto an instance.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. ID of the attachment."
        },
        "environment": {
          "description": "ID of the attached environment.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "format": "int64"
        }
      },
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeleteCustomReportResponse": {
      "properties": {
        "message": {
          "type": "string",
          "description": "The response contains only a message field."
        }
      },
      "id": "GoogleCloudApigeeV1DeleteCustomReportResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityFeedbackResponse": {
      "description": "Response for ListSecurityFeedback",
      "properties": {
        "securityFeedback": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedback"
          },
          "description": "List of SecurityFeedback reports."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` in `ListSecurityFeedbackRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListSecurityFeedbackResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListInstanceAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListInstanceAttachmentsResponse",
      "type": "object",
      "properties": {
        "attachments": {
          "description": "Attachments for the instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1InstanceAttachment"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListInstanceAttachments request to retrieve the next page of content. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for ListInstanceAttachments."
    },
    "GoogleCloudApigeeV1ListDeploymentsResponse": {
      "properties": {
        "deployments": {
          "description": "List of deployments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Deployment"
          }
        }
      },
      "id": "GoogleCloudApigeeV1ListDeploymentsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1AppGroupBalance": {
      "description": "AppGroupBalance for the AppGroup.",
      "properties": {
        "wallets": {
          "readOnly": true,
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AppGroupBalanceWallet"
          }
        }
      },
      "id": "GoogleCloudApigeeV1AppGroupBalance",
      "type": "object"
    },
    "GoogleCloudApigeeV1EndpointAttachment": {
      "id": "GoogleCloudApigeeV1EndpointAttachment",
      "type": "object",
      "description": "Apigee endpoint attachment. For more information, see [Southbound networking patterns] (https://cloud.google.com/apigee/docs/api-platform/architecture/southbound-networking-patterns-endpoints).",
      "properties": {
        "serviceAttachment": {
          "description": "Format: projects/*/regions/*/serviceAttachments/*",
          "type": "string"
        },
        "name": {
          "description": "Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Resource is in an unspecified state.",
            "Resource is being created.",
            "Resource is provisioned and ready to use.",
            "The resource is being deleted.",
            "The resource is being updated."
          ],
          "description": "Output only. State of the endpoint attachment. Values other than `ACTIVE` mean the resource is not ready to use.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "UPDATING"
          ],
          "readOnly": true,
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Required. Location of the endpoint attachment."
        },
        "host": {
          "type": "string",
          "description": "Output only. Host that can be used in either the HTTP target endpoint directly or as the host in target server.",
          "readOnly": true
        },
        "connectionState": {
          "type": "string",
          "enumDescriptions": [
            "The connection state has not been set.",
            "The connection state is unavailable at this time, possibly because the endpoint attachment is currently being provisioned.",
            "The connection is pending acceptance by the PSC producer.",
            "The connection has been accepted by the PSC producer.",
            "The connection has been rejected by the PSC producer.",
            "The connection has been closed by the PSC producer and will not serve traffic going forward.",
            "The connection has been frozen by the PSC producer and will not serve traffic.",
            "The connection has been accepted by the PSC producer, but it is not ready to serve the traffic due to producer side issues.",
            "The connection has been accepted by the PSC producer, but it will only serve capacity limited traffic. The producer needs to take further actions to increase capacity for this connection."
          ],
          "description": "Output only. State of the endpoint attachment connection to the service attachment.",
          "enum": [
            "CONNECTION_STATE_UNSPECIFIED",
            "UNAVAILABLE",
            "PENDING",
            "ACCEPTED",
            "REJECTED",
            "CLOSED",
            "FROZEN",
            "NEEDS_ATTENTION",
            "ACCEPTED_LIMITED_CAPACITY"
          ],
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink": {
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink",
      "type": "object",
      "properties": {
        "text": {
          "description": "The text of the url. (ie: \"Learn more\")",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The link itself."
        }
      },
      "description": "The format for a link in the recommendation."
    },
    "GoogleCloudApigeeV1DeploymentGroupConfig": {
      "properties": {
        "name": {
          "description": "Name of the deployment group in the following format: `organizations/{org}/environments/{env}/deploymentGroups/{group}`.",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment group is deleted and recreated.",
          "type": "string"
        },
        "revisionId": {
          "description": "Revision number which can be used by the runtime to detect if the deployment group has changed between two versions.",
          "format": "int64",
          "type": "string"
        },
        "deploymentGroupType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "Standard type",
            "Extensible Type"
          ],
          "description": "Type of the deployment group, which will be either Standard or Extensible.",
          "enum": [
            "DEPLOYMENT_GROUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "EXTENSIBLE"
          ]
        }
      },
      "description": "DeploymentGroupConfig represents a deployment group that should be present in a particular environment.",
      "id": "GoogleCloudApigeeV1DeploymentGroupConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperSubscription": {
      "description": "Structure of a DeveloperSubscription.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time when the API product subscription ends in milliseconds since epoch.",
          "format": "int64"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the API product subscription starts in milliseconds since epoch.",
          "format": "int64"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API product subscription.",
          "type": "string"
        },
        "apiproduct": {
          "type": "string",
          "description": "Name of the API product for which the developer is purchasing a subscription."
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Time when the API product subscription was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Time when the API product subscription was last modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApigeeV1DeveloperSubscription",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeveloperApp": {
      "id": "GoogleCloudApigeeV1DeveloperApp",
      "type": "object",
      "properties": {
        "appId": {
          "description": "ID of the developer app. This ID is not user specified but is automatically generated on app creation. appId is a UUID.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "createdAt": {
          "description": "Output only. Time the developer app was created in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "appFamily": {
          "type": "string",
          "description": "Developer app family."
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the developer app. The specified scopes must already exist for the API product that you associate with the developer app."
        },
        "keyExpiresIn": {
          "type": "string",
          "description": "Expiration time, in milliseconds, for the consumer key that is generated for the developer app. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "format": "int64"
        },
        "name": {
          "description": "Name of the developer app.",
          "type": "string"
        },
        "credentials": {
          "readOnly": true,
          "description": "Output only. Set of credentials for the developer app consisting of the consumer key/secret pairs associated with the API products.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          }
        },
        "developerId": {
          "type": "string",
          "description": "ID of the developer."
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes for the developer app."
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to developer apps.",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of API products associated with the developer app."
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Time the developer app was modified in milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResult": {
      "properties": {
        "resource": {
          "description": "The assessed resource.",
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultResource"
        },
        "createTime": {
          "type": "string",
          "description": "The time of the assessment of this resource. This could lag behind `assessment_time` due to caching within the backend.",
          "format": "google-datetime"
        },
        "error": {
          "description": "The error status if scoring fails.",
          "$ref": "GoogleRpcStatus"
        },
        "scoringResult": {
          "description": "The result of the assessment.",
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResult"
        }
      },
      "description": "The security assessment result for one resource.",
      "id": "GoogleCloudApigeeV1SecurityAssessmentResult",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeTraceSamplingConfig": {
      "properties": {
        "sampler": {
          "description": "Sampler of distributed tracing. OFF is the default value.",
          "enum": [
            "SAMPLER_UNSPECIFIED",
            "OFF",
            "PROBABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Sampler unspecified.",
            "OFF means distributed trace is disabled, or the sampling probability is 0.",
            "PROBABILITY means traces are captured on a probability that defined by sampling_rate. The sampling rate is limited to 0 to 0.5 when this is set."
          ]
        },
        "samplingRate": {
          "type": "number",
          "description": "Field sampling rate. This value is only applicable when using the PROBABILITY sampler. The supported values are > 0 and <= 0.5.",
          "format": "float"
        }
      },
      "description": "NEXT ID: 3 RuntimeTraceSamplingConfig represents the detail settings of distributed tracing. Only the fields that are defined in the distributed trace configuration can be overridden using the distribute trace configuration override APIs.",
      "id": "GoogleCloudApigeeV1RuntimeTraceSamplingConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ReportInstanceStatusResponse": {
      "id": "GoogleCloudApigeeV1ReportInstanceStatusResponse",
      "type": "object",
      "description": "Placeholder for future enhancements to status reporting protocol",
      "properties": {}
    },
    "GoogleCloudApigeeV1ListAppGroupsResponse": {
      "id": "GoogleCloudApigeeV1ListAppGroupsResponse",
      "type": "object",
      "description": "ListAppGroupsResponse contains the 0 or more AppGroups, along with the optional page token and the total count of apps.",
      "properties": {
        "appGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AppGroup"
          },
          "description": "List of AppGroups."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be sent as `next_page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "totalSize": {
          "type": "integer",
          "description": "Total count of AppGroups.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperBalance": {
      "id": "GoogleCloudApigeeV1DeveloperBalance",
      "type": "object",
      "description": "Account balance for the developer.",
      "properties": {
        "wallets": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DeveloperBalanceWallet"
          },
          "description": "Output only. List of all wallets. Each individual wallet stores the account balance for a particular currency.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1Property": {
      "id": "GoogleCloudApigeeV1Property",
      "type": "object",
      "description": "A single property entry in the Properties message.",
      "properties": {
        "name": {
          "description": "The property key",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The property value"
        }
      }
    },
    "GoogleCloudApigeeV1ReferenceConfig": {
      "id": "GoogleCloudApigeeV1ReferenceConfig",
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "Name of the referenced resource in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` Only references to keystore resources are supported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Name of the reference in the following format: `organizations/{org}/environments/{env}/references/{reference}`"
        }
      }
    },
    "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm": {
      "description": "Resolves the client ip based on a custom header.",
      "properties": {
        "ipHeaderName": {
          "type": "string",
          "description": "The name of the header to extract the client ip from."
        },
        "ipHeaderIndex": {
          "description": "The index of the ip in the header. (By default, value is 0 if missing)",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudApigeeV1EnvironmentConfigClientIPResolutionConfigHeaderIndexAlgorithm",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListAsyncQueriesResponse": {
      "properties": {
        "queries": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AsyncQuery"
          },
          "description": "The asynchronous queries belong to requested resource name."
        }
      },
      "description": "The response for ListAsyncQueries.",
      "id": "GoogleCloudApigeeV1ListAsyncQueriesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListCustomReportsResponse": {
      "id": "GoogleCloudApigeeV1ListCustomReportsResponse",
      "type": "object",
      "description": "This message encapsulates a list of custom report definitions",
      "properties": {
        "qualifier": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReport"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListApiCategoriesResponse": {
      "id": "GoogleCloudApigeeV1ListApiCategoriesResponse",
      "type": "object",
      "description": "The response for `ListApiCategoriesRequest`. Next ID: 6",
      "properties": {
        "message": {
          "type": "string",
          "description": "Description of the operation."
        },
        "status": {
          "type": "string",
          "description": "Status of the operation."
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiCategory"
          },
          "description": "The API category resources."
        },
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "errorCode": {
          "description": "Unique error code for the request, if any.",
          "type": "string"
        }
      }
    },
    "GoogleTypeExpr": {
      "properties": {
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "GoogleTypeExpr",
      "type": "object"
    },
    "GoogleCloudApigeeV1Point": {
      "description": "Point is a group of information collected by runtime plane at critical points of the message flow of the processed API request. This is a list of supported point IDs, categorized to three major buckets. For each category, debug points that we are currently supporting are listed below: - Flow status debug points: StateChange FlowInfo Condition Execution DebugMask Error - Flow control debug points: FlowCallout Paused Resumed FlowReturn BreakFlow Error - Runtime debug points: ScriptExecutor FlowCalloutStepDefinition CustomTarget StepDefinition Oauth2ServicePoint RaiseFault NodeJS The detail information of the given debug point is stored in a list of results.",
      "properties": {
        "id": {
          "description": "Name of a step in the transaction.",
          "type": "string"
        },
        "results": {
          "description": "List of results extracted from a given debug point.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Result"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Point",
      "type": "object"
    },
    "GoogleCloudApigeeV1DocumentationFile": {
      "id": "GoogleCloudApigeeV1DocumentationFile",
      "type": "object",
      "description": "Documentation file contents for a catalog item.",
      "properties": {
        "contents": {
          "type": "string",
          "description": "Required. The file contents. The max size is 4 MB.",
          "format": "byte"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A display name for the file, shown in the management UI. Max length is 255 characters."
        }
      }
    },
    "GoogleCloudApigeeV1UpdateSecurityIncidentRequest": {
      "id": "GoogleCloudApigeeV1UpdateSecurityIncidentRequest",
      "type": "object",
      "properties": {
        "securityIncident": {
          "description": "Required. The security incident to update. Must contain all existing populated fields of the current incident.",
          "$ref": "GoogleCloudApigeeV1SecurityIncident"
        },
        "updateMask": {
          "description": "Required. The list of fields to update. Allowed fields are: LINT.IfChange(allowed_update_fields_comment) - observability LINT.ThenChange()",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "description": "Request for UpdateSecurityIncident."
    },
    "GoogleCloudApigeeV1OperationMetadataProgress": {
      "id": "GoogleCloudApigeeV1OperationMetadataProgress",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Description of the operation's progress."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "State of the operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NOT_STARTED",
            "IN_PROGRESS",
            "FINISHED"
          ]
        },
        "percentDone": {
          "type": "integer",
          "description": "The percentage of the operation progress.",
          "format": "int32"
        },
        "details": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "The additional details of the progress.",
          "type": "object"
        }
      },
      "description": "Information about operation progress."
    },
    "GoogleCloudApigeeV1SecurityProfileV2": {
      "id": "GoogleCloudApigeeV1SecurityProfileV2",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time of the security profile update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the security profile."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of the security profile v2 resource. Format: organizations/{org}/securityProfilesV2/{profile}"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the security profile creation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "googleDefined": {
          "readOnly": true,
          "description": "Output only. Whether the security profile is google defined.",
          "type": "boolean"
        },
        "riskAssessmentType": {
          "description": "Optional. The risk assessment type of the security profile. Defaults to ADVANCED_API_SECURITY.",
          "enum": [
            "RISK_ASSESSMENT_TYPE_UNSPECIFIED",
            "APIGEE",
            "API_HUB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Risk assessment type is not specified.",
            "Risk assessment type is Apigee.",
            "Risk assessment type is API Hub."
          ]
        },
        "profileAssessmentConfigs": {
          "description": "Required. The configuration for each assessment in this profile. Key is the name/id of the assessment.",
          "additionalProperties": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfig"
          },
          "type": "object"
        }
      },
      "description": "Security profile for risk assessment version 2."
    },
    "GoogleCloudApigeeV1LlmOperation": {
      "properties": {
        "methods": {
          "description": "Optional. methods refers to the REST verbs as in https://httpwg.org/specs/rfc9110.html For example: GET, POST, PUT, DELETE, etc. They need to be in uppercase. When none specified, all verb types are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "resource": {
          "description": "Required. REST resource path associated with the API proxy or remote service.",
          "type": "string"
        },
        "model": {
          "type": "string",
          "description": "Required. LLM model name associated with the API proxy"
        }
      },
      "description": "Represents the pairing of REST resource path, model and the actions (verbs) allowed on the resource path.",
      "id": "GoogleCloudApigeeV1LlmOperation",
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentClientIPResolutionConfigHeaderIndexAlgorithm": {
      "id": "GoogleCloudApigeeV1EnvironmentClientIPResolutionConfigHeaderIndexAlgorithm",
      "type": "object",
      "description": "Resolves the client ip based on a custom header.",
      "properties": {
        "ipHeaderName": {
          "description": "Required. The name of the header to extract the client ip from.",
          "type": "string"
        },
        "ipHeaderIndex": {
          "type": "integer",
          "description": "Required. The index of the ip in the header. Positive indices 0, 1, 2, 3 chooses indices from the left (first ips) Negative indices -1, -2, -3 chooses indices from the right (last ips)",
          "format": "int32"
        }
      }
    },
    "GoogleIamV1AuditConfig": {
      "properties": {
        "service": {
          "type": "string",
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services."
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "type": "array",
          "items": {
            "$ref": "GoogleIamV1AuditLogConfig"
          }
        }
      },
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "GoogleIamV1AuditConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse": {
      "id": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse",
      "type": "object",
      "description": "Response for ListSecurityProfileRevisions.",
      "properties": {
        "securityProfiles": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfile"
          },
          "description": "List of security profile revisions. The revisions may be attached or unattached to any environment."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "GoogleCloudApigeeV1ListSecurityProfilesV2Response": {
      "id": "GoogleCloudApigeeV1ListSecurityProfilesV2Response",
      "type": "object",
      "description": "Response for ListSecurityProfilesV2.",
      "properties": {
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "securityProfilesV2": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityProfileV2"
          },
          "description": "List of security profiles in the organization."
        }
      }
    },
    "GoogleCloudApigeeV1ApiCategoryResponse": {
      "id": "GoogleCloudApigeeV1ApiCategoryResponse",
      "type": "object",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Unique ID of the request."
        },
        "errorCode": {
          "description": "Unique error code for the request, if any.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "data": {
          "description": "The API category resource.",
          "$ref": "GoogleCloudApigeeV1ApiCategory"
        }
      },
      "description": "The API category resource wrapped with response status, error_code, etc."
    },
    "GoogleCloudApigeeV1ArchiveDeployment": {
      "id": "GoogleCloudApigeeV1ArchiveDeployment",
      "type": "object",
      "properties": {
        "createdAt": {
          "description": "Output only. The time at which the Archive Deployment was created in milliseconds since the epoch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "updatedAt": {
          "readOnly": true,
          "description": "Output only. The time at which the Archive Deployment was updated in milliseconds since the epoch.",
          "format": "int64",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "description": "Output only. A reference to the LRO that created this Archive Deployment in the following format: `organizations/{org}/operations/{id}`",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User-supplied key-value pairs used to organize ArchiveDeployments. Label keys must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: \\p{Ll}\\p{Lo}{0,62} Label values must be between 1 and 63 characters long, have a UTF-8 encoding of maximum 128 bytes, and must conform to the following PCRE regular expression: [\\p{Ll}\\p{Lo}\\p{N}_-]{0,63} No more than 64 labels can be associated with a given store."
        },
        "gcsUri": {
          "type": "string",
          "description": "Input only. The Google Cloud Storage signed URL returned from GenerateUploadUrl and used to upload the Archive zip file."
        },
        "name": {
          "description": "Name of the Archive Deployment in the following format: `organizations/{org}/environments/{env}/archiveDeployments/{id}`.",
          "type": "string"
        }
      },
      "description": "Archive Deployment information."
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray": {
      "properties": {
        "apis": {
          "description": "Required. The array of API Hub API IDs. Format: `projects/{project}/locations/{location}/apis/{api}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for the array of API Hub APIs.",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray",
      "type": "object"
    },
    "GoogleCloudApigeeV1AsyncQuery": {
      "properties": {
        "name": {
          "description": "Asynchronous Query Name.",
          "type": "string"
        },
        "queryParams": {
          "description": "Contains information like metrics, dimenstions etc of the AsyncQuery.",
          "$ref": "GoogleCloudApigeeV1QueryMetadata"
        },
        "reportDefinitionId": {
          "description": "Asynchronous Report ID.",
          "type": "string"
        },
        "resultRows": {
          "type": "string",
          "description": "ResultRows is available only after the query is completed.",
          "format": "int64"
        },
        "state": {
          "description": "Query state could be \"enqueued\", \"running\", \"completed\", \"failed\".",
          "type": "string"
        },
        "error": {
          "type": "string",
          "description": "Error is set when query fails."
        },
        "self": {
          "type": "string",
          "description": "Self link of the query. Example: `/organizations/myorg/environments/myenv/queries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd` or following format if query is running at host level: `/organizations/myorg/hostQueries/9cfc0d85-0f30-46d6-ae6f-318d0cb961bd`"
        },
        "envgroupHostname": {
          "description": "Hostname is available only when query is executed at host level.",
          "type": "string"
        },
        "created": {
          "type": "string",
          "description": "Creation time of the query."
        },
        "updated": {
          "description": "Last updated timestamp for the query.",
          "type": "string"
        },
        "result": {
          "description": "Result is available only after the query is completed.",
          "$ref": "GoogleCloudApigeeV1AsyncQueryResult"
        },
        "executionTime": {
          "description": "ExecutionTime is available only after the query is completed.",
          "type": "string"
        },
        "resultFileSize": {
          "type": "string",
          "description": "ResultFileSize is available only after the query is completed."
        }
      },
      "id": "GoogleCloudApigeeV1AsyncQuery",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListArchiveDeploymentsResponse": {
      "id": "GoogleCloudApigeeV1ListArchiveDeploymentsResponse",
      "type": "object",
      "description": "Response for ListArchiveDeployments method.",
      "properties": {
        "archiveDeployments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ArchiveDeployment"
          },
          "description": "Archive Deployments in the specified environment."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token that you can include in a ListArchiveDeployments request to retrieve the next page. If omitted, no subsequent pages exist."
        }
      }
    },
    "GoogleCloudApigeeV1PodStatus": {
      "id": "GoogleCloudApigeeV1PodStatus",
      "type": "object",
      "properties": {
        "statusCode": {
          "type": "string",
          "description": "Code associated with the deployment status."
        },
        "deploymentTime": {
          "description": "Time the proxy was deployed in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "deploymentStatus": {
          "type": "string",
          "description": "Status of the deployment. Valid values include: - `deployed`: Successful. - `error` : Failed. - `pending` : Pod has not yet reported on the deployment."
        },
        "deploymentStatusTime": {
          "type": "string",
          "description": "Time the deployment status was reported in milliseconds since epoch.",
          "format": "int64"
        },
        "appVersion": {
          "description": "Version of the application running in the pod.",
          "type": "string"
        },
        "podStatusTime": {
          "type": "string",
          "description": "Time the pod status was reported in milliseconds since epoch.",
          "format": "int64"
        },
        "podName": {
          "type": "string",
          "description": "Name of the pod which is reporting the status."
        },
        "podStatus": {
          "description": "Overall status of the pod (not this specific deployment). Valid values include: - `active`: Up to date. - `stale` : Recently out of date. Pods that have not reported status in a long time are excluded from the output.",
          "type": "string"
        },
        "statusCodeDetails": {
          "type": "string",
          "description": "Human-readable message associated with the status code."
        }
      }
    },
    "GoogleCloudApigeeV1ResourceConfig": {
      "properties": {
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/resourcefiles/{type}/{file}/revisions/{rev}` Only environment-scoped resource files are supported.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Location of the resource as a URI."
        }
      },
      "id": "GoogleCloudApigeeV1ResourceConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1GenerateUploadUrlResponse": {
      "properties": {
        "uploadUri": {
          "description": "The Google Cloud Storage signed URL that can be used to upload a new Archive zip file.",
          "type": "string"
        }
      },
      "description": "Response for GenerateUploadUrl method.",
      "id": "GoogleCloudApigeeV1GenerateUploadUrlResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryMetadata": {
      "id": "GoogleCloudApigeeV1QueryMetadata",
      "type": "object",
      "properties": {
        "endTimestamp": {
          "type": "string",
          "description": "End timestamp of the query range."
        },
        "outputFormat": {
          "description": "Output format.",
          "type": "string"
        },
        "timeUnit": {
          "description": "Query GroupBy time unit.",
          "type": "string"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Dimensions of the AsyncQuery."
        },
        "startTimestamp": {
          "type": "string",
          "description": "Start timestamp of the query range."
        },
        "metrics": {
          "description": "Metrics of the AsyncQuery. Example: [\"name:message_count,func:sum,alias:sum_message_count\"]",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "properties": {
        "resourceFile": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resources files."
        }
      },
      "description": "Response for ListEnvironmentResources",
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityActionConditionConfig": {
      "properties": {
        "accessTokens": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of access_tokens. Limit 1000 per action."
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of API Products. Limit 1000 per action."
        },
        "asns": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Optional. A list of ASN numbers to act on, e.g. 23. https://en.wikipedia.org/wiki/Autonomous_system_(Internet) This uses int64 instead of uint32 because of https://linter.aip.dev/141/forbidden-types."
        },
        "ipAddressRanges": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of IP addresses. This could be either IPv4 or IPv6. Limited to 100 per action."
        },
        "developerApps": {
          "description": "Optional. A list of developer apps. Limit 1000 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "developers": {
          "description": "Optional. A list of developers. Limit 1000 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userAgents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of user agents to deny. We look for exact matches. Limit 50 per action."
        },
        "apiKeys": {
          "description": "Optional. A list of API keys. Limit 1000 per action.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "botReasons": {
          "description": "Optional. A list of Bot Reasons. Current options: Flooder, Brute Guessor, Static Content Scraper, OAuth Abuser, Robot Abuser, TorListRule, Advanced Anomaly Detection, Advanced API Scraper, Search Engine Crawlers, Public Clouds, Public Cloud AWS, Public Cloud Azure, and Public Cloud Google.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "httpMethods": {
          "description": "Optional. Act only on particular HTTP methods. E.g. A read-only API can block POST/PUT/DELETE methods. Accepted values are: GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE and PATCH.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "regionCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of countries/region codes to act on, e.g. US. This follows https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2."
        }
      },
      "description": "The following are a list of conditions. A valid SecurityAction must contain at least one condition. Within a condition, each element is ORed. Across conditions elements are ANDed. For example if a SecurityAction has the following: ip_address_ranges: [\"ip1\", \"ip2\"] and bot_reasons: [\"Flooder\", \"Robot Abuser\"] then this is interpreted as: enforce the action if the incoming request has ((ip_address_ranges = \"ip1\" OR ip_address_ranges = \"ip2\") AND (bot_reasons=\"Flooder\" OR bot_reasons=\"Robot Abuser\")). Conditions other than ip_address_ranges and bot_reasons cannot be ANDed.",
      "id": "GoogleCloudApigeeV1SecurityActionConditionConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1TestDatastoreResponse": {
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. It could be `completed` or `failed`",
          "readOnly": true
        },
        "error": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Error message of test connection failure"
        }
      },
      "description": "The response for TestDatastore",
      "id": "GoogleCloudApigeeV1TestDatastoreResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1StatsEnvironmentStats": {
      "id": "GoogleCloudApigeeV1StatsEnvironmentStats",
      "type": "object",
      "description": "Encapsulates the environment wrapper: ``` \"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.52056245E8\" ] } ], \"name\": \"prod\" } ]```",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DimensionMetric"
          },
          "description": "List of metrics grouped under dimensions."
        },
        "name": {
          "type": "string",
          "description": "Name of the environment."
        },
        "metrics": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Metric"
          },
          "description": "In the final response, only one of the following fields will be present based on the dimensions provided. If no dimensions are provided, then only top-level metrics is provided. If dimensions are included, then there will be a top-level dimensions field under environments which will contain metrics values and the dimension name. Example: ``` \"environments\": [ { \"dimensions\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.14049521E8\" ] } ], \"name\": \"nit_proxy\" } ], \"name\": \"prod\" } ]``` or ```\"environments\": [ { \"metrics\": [ { \"name\": \"sum(message_count)\", \"values\": [ \"2.19026331E8\" ] } ], \"name\": \"prod\" } ]``` List of metric values."
        }
      }
    },
    "GoogleCloudApigeeV1SchemaSchemaProperty": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Time the field was created in RFC3339 string form. For example: `2016-02-26T10:23:09.592Z`."
        },
        "custom": {
          "type": "string",
          "description": "Flag that specifies whether the field is standard in the dataset or a custom field created by the customer. `true` indicates that it is a custom field."
        },
        "type": {
          "type": "string",
          "description": "Data type of the field."
        }
      },
      "description": "Properties for the schema field.",
      "id": "GoogleCloudApigeeV1SchemaSchemaProperty",
      "type": "object"
    },
    "GoogleCloudApigeeV1NodeConfig": {
      "id": "GoogleCloudApigeeV1NodeConfig",
      "type": "object",
      "description": "NodeConfig for setting the min/max number of nodes associated with the environment.",
      "properties": {
        "minNodeCount": {
          "type": "string",
          "description": "Optional. The minimum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended minimum number of nodes for that gateway.",
          "format": "int64"
        },
        "maxNodeCount": {
          "description": "Optional. The maximum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended maximum number of nodes for that gateway.",
          "format": "int64",
          "type": "string"
        },
        "currentAggregateNodeCount": {
          "readOnly": true,
          "description": "Output only. The current total number of gateway nodes that each environment currently has across all instances.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiSecurityConfig": {
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the API security add-on is enabled.",
          "type": "boolean"
        },
        "expiresAt": {
          "type": "string",
          "description": "Output only. Time at which the API Security add-on expires in milliseconds since epoch. If unspecified, the add-on will never expire.",
          "format": "int64",
          "readOnly": true
        }
      },
      "description": "Configurations of the API Security add-on.",
      "id": "GoogleCloudApigeeV1ApiSecurityConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "description": "The response for GetAsyncQueryResultUrl",
      "properties": {
        "urls": {
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          }
        }
      },
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse",
      "type": "object"
    },
    "GoogleTypeTimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "format": "int32",
          "type": "integer"
        },
        "hours": {
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32"
        },
        "seconds": {
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "format": "int32"
        }
      },
      "id": "GoogleTypeTimeOfDay",
      "type": "object"
    },
    "GoogleCloudApigeeV1MoveApiProductRequest": {
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the API product to. If unspecified, the API product will be moved to the organization level.",
          "type": "string"
        }
      },
      "description": "Moves API product to a different space.",
      "id": "GoogleCloudApigeeV1MoveApiProductRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page.",
          "format": "int32"
        },
        "pageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "timeRange": {
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned, and both the start and end dates must be within the last 90 days.",
          "$ref": "GoogleTypeInterval"
        },
        "filters": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          },
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\""
        }
      },
      "description": "Request for ComputeEnvironmentScores.",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "type": "object"
    },
    "GoogleCloudApigeeV1TargetServer": {
      "id": "GoogleCloudApigeeV1TargetServer",
      "type": "object",
      "description": "TargetServer configuration. TargetServers are used to decouple a proxy TargetEndpoint HTTPTargetConnections from concrete URLs for backend services.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The resource id of this target server. Values must match the regular expression "
        },
        "description": {
          "type": "string",
          "description": "Optional. A human-readable description of this TargetServer."
        },
        "host": {
          "type": "string",
          "description": "Required. The host name this target connects to. Value must be a valid hostname as described by RFC-1123."
        },
        "port": {
          "type": "integer",
          "description": "Required. The port number this target connects to on the given host. Value must be between 1 and 65535, inclusive.",
          "format": "int32"
        },
        "sSLInfo": {
          "description": "Optional. Specifies TLS configuration info for this TargetServer. The JSON name is `sSLInfo` for legacy/backwards compatibility reasons -- Edge originally supported SSL, and the name is still used for TLS configuration.",
          "$ref": "GoogleCloudApigeeV1TlsInfo"
        },
        "isEnabled": {
          "description": "Optional. Enabling/disabling a TargetServer is useful when TargetServers are used in load balancing configurations, and one or more TargetServers need to taken out of rotation periodically. Defaults to true.",
          "type": "boolean"
        },
        "protocol": {
          "type": "string",
          "enumDescriptions": [
            "UNSPECIFIED defaults to HTTP for backwards compatibility.",
            "The TargetServer uses HTTP.",
            "The TargetSever uses HTTP2.",
            "The TargetServer uses GRPC.",
            "GRPC TargetServer to be used in ExternalCallout Policy. Prefer to use EXTERNAL_CALLOUT instead. TODO(b/266125112) deprecate once EXTERNAL _CALLOUT generally available.",
            "The TargetServer is to be used in the ExternalCallout Policy"
          ],
          "description": "Immutable. The protocol used by this TargetServer.",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "HTTP",
            "HTTP2",
            "GRPC_TARGET",
            "GRPC",
            "EXTERNAL_CALLOUT"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ControlPlaneAccess": {
      "id": "GoogleCloudApigeeV1ControlPlaneAccess",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ControlPlaneAccess. Format: \"organizations/{org}/controlPlaneAccess\""
        },
        "analyticsPublisherIdentities": {
          "description": "Optional. Array of service accounts authorized to publish analytics data to the control plane (for the Message Processor component).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "synchronizerIdentities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Array of service accounts to grant access to control plane resources (for the Synchronizer component). The service accounts must have **Apigee Synchronizer Manager** role. See also [Create service accounts](https://cloud.google.com/apigee/docs/hybrid/latest/sa-about#create-the-service-accounts)."
        }
      },
      "description": "ControlPlaneAccess is the request body and response body of UpdateControlPlaneAccess. and the response body of GetControlPlaneAccess. The input identities contains an array of service accounts to grant access to the respective control plane resource, with each service account specified using the following format: `serviceAccount:`***service-account-name***. The ***service-account-name*** is formatted like an email address. For example: `my-control-plane-service_account@my_project_id.iam.gserviceaccount.com` You might specify multiple service accounts, for example, if you have multiple environments and wish to assign a unique service account to each one."
    },
    "GoogleLongrunningListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "GoogleLongrunningListOperationsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ServiceIssuersMapping": {
      "id": "GoogleCloudApigeeV1ServiceIssuersMapping",
      "type": "object",
      "properties": {
        "service": {
          "type": "string",
          "description": "String indicating the Apigee service name."
        },
        "emailIds": {
          "description": "List of trusted issuer email ids.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1AccessRemove": {
      "id": "GoogleCloudApigeeV1AccessRemove",
      "type": "object",
      "description": "Remove action. For example, \"Remove\" : { \"name\" : \"target.name\", \"success\" : true }",
      "properties": {
        "name": {
          "type": "string"
        },
        "success": {
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1APIProductAssociation": {
      "description": "APIProductAssociation has the API product and its administrative state association.",
      "properties": {
        "apiproduct": {
          "type": "string",
          "description": "API product to be associated with the credential."
        },
        "status": {
          "description": "The API product credential associated status. Valid values are `approved` or `revoked`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1APIProductAssociation",
      "type": "object"
    },
    "GoogleCloudApigeeV1SecurityActionHttpHeader": {
      "properties": {
        "name": {
          "description": "The header name to be sent to the target.",
          "type": "string"
        },
        "value": {
          "description": "The header value to be sent to the target.",
          "type": "string"
        }
      },
      "description": "An HTTP header.",
      "id": "GoogleCloudApigeeV1SecurityActionHttpHeader",
      "type": "object"
    },
    "GoogleCloudApigeeV1AppGroup": {
      "id": "GoogleCloudApigeeV1AppGroup",
      "type": "object",
      "description": "AppGroup contains the request/response fields representing the logical grouping of apps. Note that appgroup_id, create_time and update_time cannot be changed by the user, and gets updated by the system. The name and the organization once provided cannot be edited subsequently.",
      "properties": {
        "appGroupId": {
          "type": "string",
          "description": "Output only. Internal identifier that cannot be edited",
          "readOnly": true
        },
        "channelId": {
          "description": "channel identifier identifies the owner maintaing this grouping.",
          "type": "string"
        },
        "organization": {
          "type": "string",
          "description": "Immutable. the org the app group is created"
        },
        "channelUri": {
          "type": "string",
          "description": "A reference to the associated storefront/marketplace."
        },
        "displayName": {
          "type": "string",
          "description": "app group name displayed in the UI"
        },
        "name": {
          "description": "Immutable. Name of the AppGroup. Characters you can use in the name are restricted to: A-Z0-9._\\-$ %.",
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "description": "Output only. Created time as milliseconds since epoch.",
          "format": "int64",
          "readOnly": true
        },
        "lastModifiedAt": {
          "readOnly": true,
          "description": "Output only. Modified time as milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "A list of attributes"
        },
        "email": {
          "description": "Optional. Email of the AppGroup.",
          "type": "string"
        },
        "status": {
          "description": "Valid values are `active` or `inactive`. Note that the status of the AppGroup should be updated via UpdateAppGroupRequest by setting the action as `active` or `inactive`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1NatAddress": {
      "id": "GoogleCloudApigeeV1NatAddress",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. Resource ID of the NAT address.",
          "type": "string"
        },
        "ipAddress": {
          "description": "Output only. The static IPV4 address.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "description": "Output only. State of the nat address.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic."
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest",
      "type": "object",
      "description": "Request for BatchComputeSecurityAssessmentResults.",
      "properties": {
        "pageSize": {
          "type": "integer",
          "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 50 results will be returned.",
          "format": "int32"
        },
        "includeAllResources": {
          "description": "Include all resources under the scope.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll"
        },
        "profile": {
          "type": "string",
          "description": "Required. Name of the profile that is used for computation."
        },
        "include": {
          "description": "Include only these resources.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray"
        },
        "apiHubApis": {
          "description": "An array of API Hub APIs to assess. A maximum of 1 API can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray"
        },
        "scope": {
          "description": "Optional. Scope of the resources for the computation. When computing scores for Apigee proxies, the scope should be set to the environment of the resources. When computing scores for API Hub deployments, api_hub_scope should be set instead.",
          "type": "string"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `BatchComputeSecurityAssessmentResults` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        },
        "apiHubGateways": {
          "description": "An array of API Hub Gateways to assess. A maximum of 3 gateways can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray"
        }
      }
    },
    "GoogleCloudApigeeV1TlsInfo": {
      "properties": {
        "enabled": {
          "description": "Required. Enables TLS. If false, neither one-way nor two-way TLS will be enabled.",
          "type": "boolean"
        },
        "keyStore": {
          "description": "Required if `client_auth_enabled` is true. The resource ID of the keystore.",
          "type": "string"
        },
        "ciphers": {
          "description": "The SSL/TLS cipher suites to be used. For programmable proxies, it must be one of the cipher suite names listed in: http://docs.oracle.com/javase/8/docs/technotes/guides/security/StandardNames.html#ciphersuites. For configurable proxies, it must follow the configuration specified in: https://commondatastorage.googleapis.com/chromium-boringssl-docs/ssl.h.html#Cipher-suite-configuration. This setting has no effect for configurable proxies when negotiating TLS 1.3.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyAlias": {
          "type": "string",
          "description": "Required if `client_auth_enabled` is true. The resource ID for the alias containing the private key and cert."
        },
        "ignoreValidationErrors": {
          "description": "If true, Edge ignores TLS certificate errors. Valid when configuring TLS for target servers and target endpoints, and when configuring virtual hosts that use 2-way TLS. When used with a target endpoint/target server, if the backend system uses SNI and returns a cert with a subject Distinguished Name (DN) that does not match the hostname, there is no way to ignore the error and the connection fails.",
          "type": "boolean"
        },
        "commonName": {
          "description": "The TLS Common Name of the certificate.",
          "$ref": "GoogleCloudApigeeV1TlsInfoCommonName"
        },
        "trustStore": {
          "type": "string",
          "description": "The resource ID of the truststore."
        },
        "enforce": {
          "description": "TLS is strictly enforced.",
          "type": "boolean"
        },
        "protocols": {
          "description": "The TLS versioins to be used.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "clientAuthEnabled": {
          "description": "Optional. Enables two-way TLS.",
          "type": "boolean"
        }
      },
      "description": "TLS configuration information for virtual hosts and TargetServers.",
      "id": "GoogleCloudApigeeV1TlsInfo",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "id": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig",
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Time that the API Security Runtime configuration was updated.",
          "format": "google-datetime"
        },
        "location": {
          "description": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "description": "Unique ID for the API Security Runtime configuration. The ID will only change if the environment is deleted and recreated."
        },
        "revisionId": {
          "type": "string",
          "description": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed.",
          "format": "int64"
        }
      },
      "description": "Response for GetApiSecurityRuntimeConfig[EnvironmentService.GetApiSecurityRuntimeConfig]."
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "type": "object",
      "description": "Request for GetSyncAuthorization.",
      "properties": {}
    },
    "GoogleCloudApigeeV1ResourceFiles": {
      "id": "GoogleCloudApigeeV1ResourceFiles",
      "type": "object",
      "properties": {
        "resourceFile": {
          "description": "List of resource files.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          }
        }
      },
      "description": "List of resource files."
    },
    "GoogleCloudApigeeV1IntegrationConfig": {
      "description": "Configuration for the Integration add-on.",
      "properties": {
        "enabled": {
          "description": "Flag that specifies whether the Integration add-on is enabled.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApigeeV1IntegrationConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1CustomReport": {
      "id": "GoogleCloudApigeeV1CustomReport",
      "type": "object",
      "properties": {
        "timeUnit": {
          "type": "string",
          "description": "This field contains the time unit of aggregation for the report"
        },
        "toTime": {
          "type": "string",
          "description": "Legacy field: not used. Contains the end time for the report"
        },
        "comments": {
          "description": "Legacy field: not used. This field contains a list of comments associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createdAt": {
          "readOnly": true,
          "description": "Output only. Unix time when the app was created json key: createdAt",
          "format": "int64",
          "type": "string"
        },
        "tags": {
          "description": "Legacy field: not used. This field contains a list of tags associated with custom report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "chartType": {
          "description": "This field contains the chart type for the report",
          "type": "string"
        },
        "topk": {
          "description": "Legacy field: not used. This field contains the top k parameter value for restricting the result",
          "type": "string"
        },
        "lastViewedAt": {
          "description": "Output only. Last viewed time of this entity as milliseconds since epoch",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "fromTime": {
          "description": "Legacy field: not used. Contains the from time for the report",
          "type": "string"
        },
        "organization": {
          "description": "Output only. Organization name",
          "readOnly": true,
          "type": "string"
        },
        "environment": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Environment name"
        },
        "dimensions": {
          "description": "This contains the list of dimensions for the report",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "offset": {
          "description": "Legacy field: not used. This field contains the offset for the data",
          "type": "string"
        },
        "metrics": {
          "description": "Required. This contains the list of metrics",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1CustomReportMetric"
          }
        },
        "limit": {
          "type": "string",
          "description": "Legacy field: not used This field contains the limit for the result retrieved"
        },
        "filter": {
          "type": "string",
          "description": "This field contains the filter expression"
        },
        "lastModifiedAt": {
          "type": "string",
          "description": "Output only. Modified time of this entity as milliseconds since epoch. json key: lastModifiedAt",
          "format": "int64",
          "readOnly": true
        },
        "properties": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ReportProperty"
          },
          "description": "This field contains report properties such as ui metadata etc."
        },
        "displayName": {
          "description": "This is the display name for the report",
          "type": "string"
        },
        "name": {
          "description": "Required. Unique identifier for the report T his is a legacy field used to encode custom report unique id",
          "type": "string"
        },
        "sortOrder": {
          "description": "Legacy field: not used much. Contains the sort order for the sort columns",
          "type": "string"
        },
        "sortByCols": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Legacy field: not used much. Contains the list of sort by columns"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray": {
      "properties": {
        "gatewayTypes": {
          "description": "Required. The array of API Hub Gateway Types.",
          "type": "array",
          "items": {
            "enum": [
              "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
              "APIGEE_X",
              "APIGEE_HYBRID",
              "APIGEE_EDGE",
              "APIGEE_OPDK"
            ],
            "type": "string",
            "enumDescriptions": [
              "Gateway type is not specified.",
              "Gateway is Apigee X for API Hub.",
              "Gateway is Apigee Hybrid for API Hub.",
              "Gateway is Apigee Edge for API Hub.",
              "Gateway is Apigee OPDK for API Hub."
            ]
          }
        }
      },
      "description": "Message for the array of API Hub Gateway Types.",
      "id": "GoogleCloudApigeeV1SecurityProfileV2ProfileAssessmentConfigApiHubGatewayTypeArray",
      "type": "object"
    },
    "GoogleCloudApigeeV1ProfileConfigMediation": {
      "properties": {},
      "description": "By default, following policies will be included: - OASValidation - SOAPMessageValidation",
      "id": "GoogleCloudApigeeV1ProfileConfigMediation",
      "type": "object"
    },
    "GoogleCloudApigeeV1RuntimeAnalyticsConfig": {
      "id": "GoogleCloudApigeeV1RuntimeAnalyticsConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "If the Analytics is enabled or not.",
          "type": "boolean"
        },
        "billingPipelineEnabled": {
          "type": "boolean",
          "description": "If Runtime should send billing data to AX or not."
        }
      },
      "description": "Runtime configuration for the Analytics add-on."
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "type": "object",
      "description": "Configuration detail for datastore",
      "properties": {
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Google Cloud project in which the datastore exists",
          "type": "string"
        },
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "bucketName": {
          "type": "string",
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type."
        }
      }
    },
    "GoogleCloudApigeeV1AdjustAppGroupBalanceRequest": {
      "id": "GoogleCloudApigeeV1AdjustAppGroupBalanceRequest",
      "type": "object",
      "description": "Request for AdjustAppGroupBalance.",
      "properties": {
        "adjustment": {
          "description": "Required. * A positive value of `adjustment` means that that the API provider wants to adjust the balance for an under-charged AppGroup i.e. the balance of the AppGroup will decrease. * A negative value of `adjustment` is not supported. Use credit balance API instead.",
          "$ref": "GoogleTypeMoney"
        }
      }
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter": {
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter",
      "type": "object",
      "properties": {
        "scorePath": {
          "description": "Optional. Return scores for this component. Example: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\"",
          "type": "string"
        }
      },
      "description": "Filter scores by component path. Used custom filter instead of AIP-160 as the use cases are highly constrained and predictable."
    },
    "GoogleCloudApigeeV1Credential": {
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with this credential."
        },
        "expiresAt": {
          "description": "Time the credential will expire in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "status": {
          "type": "string",
          "description": "Status of the credential. Valid values include `approved` or `revoked`."
        },
        "issuedAt": {
          "description": "Time the credential was issued in milliseconds since epoch.",
          "format": "int64",
          "type": "string"
        },
        "apiProducts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          },
          "description": "List of API products this credential can be used for."
        },
        "scopes": {
          "description": "List of scopes to apply to the app. Specified scopes must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GoogleCloudApigeeV1Credential",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDebugSessionsResponse": {
      "id": "GoogleCloudApigeeV1ListDebugSessionsResponse",
      "type": "object",
      "properties": {
        "sessions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Session"
          },
          "description": "Session info that includes debug session ID and the first transaction creation timestamp."
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListDebugSessionsRequest to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1KeystoreConfig": {
      "properties": {
        "aliases": {
          "description": "Aliases in the keystore.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1AliasRevisionConfig"
          }
        },
        "name": {
          "description": "Resource name in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1KeystoreConfig",
      "type": "object"
    },
    "GoogleCloudApigeeV1QueryTimeSeriesStatsResponse": {
      "description": "Represents security stats result as a collection of time series sequences.",
      "properties": {
        "columns": {
          "description": "Column names corresponding to the same order as the inner values in the stats field.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "values": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponseSequence"
          },
          "description": "Results of the query returned as a JSON array."
        },
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApigeeV1QueryTimeSeriesStatsResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSpacesResponse": {
      "description": "A response to a ListSpaces request containing the list of organization spaces and a page token for the next page.",
      "properties": {
        "spaces": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Space"
          },
          "description": "List of Apigee organization spaces."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "GoogleCloudApigeeV1ListSpacesResponse",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "id": "GoogleCloudApigeeV1ApiProduct",
      "type": "object",
      "properties": {
        "llmOperationGroup": {
          "description": "Optional. Configuration used to group Apigee proxies with resources, method types, LLM model and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources, specific LLM model and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and llm operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1LlmOperationGroup"
        },
        "environments": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
