{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "apigee:v1",
  "servicePath": "",
  "basePath": "",
  "protocol": "rest",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "baseUrl": "https://apigee.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://apigee.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "name": "apigee",
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    }
  },
  "rootUrl": "https://apigee.googleapis.com/",
  "batchPath": "batch",
  "revision": "20260402",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "version_module": true,
  "canonicalName": "Apigee",
  "kind": "discovery#restDescription",
  "title": "Apigee API",
  "schemas": {
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation": {
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation",
      "properties": {
        "link": {
          "description": "The link for the recommendation.",
          "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendationLink"
        },
        "description": {
          "description": "The description of the recommendation.",
          "type": "string"
        }
      },
      "description": "The format of the assessment recommendation.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SharedFlow": {
      "description": "The metadata describing a shared flow",
      "type": "object",
      "id": "GoogleCloudApigeeV1SharedFlow",
      "properties": {
        "name": {
          "description": "The ID of the shared flow.",
          "type": "string"
        },
        "metaData": {
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Metadata describing the shared flow."
        },
        "revision": {
          "items": {
            "type": "string"
          },
          "description": "A list of revisions of this shared flow.",
          "type": "array"
        },
        "latestRevisionId": {
          "description": "The id of the most recently created revision for this shared flow.",
          "type": "string"
        },
        "space": {
          "description": "Optional. The ID of the space associated with this shared flow. Any IAM policies applied to the space will control access to this shared flow. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse": {
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse",
      "properties": {
        "scores": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Score"
          },
          "description": "List of scores. One score per day.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A page token, received from a previous `ComputeScore` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        }
      },
      "description": "Response for ComputeEnvironmentScores.",
      "type": "object"
    },
    "GoogleLongrunningOperation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "GoogleRpcStatus",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "GoogleCloudApigeeV1RuntimeAnalyticsConfig": {
      "description": "Runtime configuration for the Analytics add-on.",
      "type": "object",
      "id": "GoogleCloudApigeeV1RuntimeAnalyticsConfig",
      "properties": {
        "enabled": {
          "description": "If the Analytics is enabled or not.",
          "type": "boolean"
        },
        "billingPipelineEnabled": {
          "description": "If Runtime should send billing data to AX or not.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse": {
      "id": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponse",
      "properties": {
        "urls": {
          "description": "The list of Signed URLs generated by the CreateAsyncQuery request",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1GetAsyncQueryResultUrlResponseURLInfo"
          }
        }
      },
      "description": "The response for GetAsyncQueryResultUrl",
      "type": "object"
    },
    "GoogleCloudApigeeV1DatastoreConfig": {
      "id": "GoogleCloudApigeeV1DatastoreConfig",
      "properties": {
        "datasetName": {
          "description": "BigQuery dataset name Required for `bigquery` target_type.",
          "type": "string"
        },
        "tablePrefix": {
          "description": "Prefix of BigQuery table Required for `bigquery` target_type.",
          "type": "string"
        },
        "path": {
          "description": "Path of Cloud Storage bucket Required for `gcs` target_type.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. Google Cloud project in which the datastore exists",
          "type": "string"
        },
        "bucketName": {
          "description": "Name of the Cloud Storage bucket. Required for `gcs` target_type.",
          "type": "string"
        }
      },
      "description": "Configuration detail for datastore",
      "type": "object"
    },
    "GoogleCloudApigeeV1NatAddress": {
      "id": "GoogleCloudApigeeV1NatAddress",
      "properties": {
        "name": {
          "description": "Required. Resource ID of the NAT address.",
          "type": "string"
        },
        "ipAddress": {
          "readOnly": true,
          "description": "Output only. The static IPV4 address.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "RESERVED",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "The resource is in an unspecified state.",
            "The NAT address is being created.",
            "The NAT address is reserved but not yet used for Internet egress.",
            "The NAT address is active and used for Internet egress.",
            "The NAT address is being deleted."
          ],
          "readOnly": true,
          "description": "Output only. State of the nat address.",
          "type": "string"
        }
      },
      "description": "Apigee NAT(network address translation) address. A NAT address is a static external IP address used for Internet egress traffic.",
      "type": "object"
    },
    "GoogleCloudApigeeV1EnvironmentGroupConfig": {
      "description": "EnvironmentGroupConfig is a revisioned snapshot of an EnvironmentGroup and its associated routing rules.",
      "type": "object",
      "id": "GoogleCloudApigeeV1EnvironmentGroupConfig",
      "properties": {
        "uid": {
          "description": "A unique id for the environment group config that will only change if the environment group is deleted and recreated.",
          "type": "string"
        },
        "name": {
          "description": "Name of the environment group in the following format: `organizations/{org}/envgroups/{envgroup}`.",
          "type": "string"
        },
        "hostnames": {
          "description": "Host names for the environment group.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endpointChainingRules": {
          "items": {
            "$ref": "GoogleCloudApigeeV1EndpointChainingRule"
          },
          "description": "A list of proxies in each deployment group for proxy chaining calls.",
          "type": "array"
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision id that defines the ordering of the EnvironmentGroupConfig resource. The higher the revision, the more recently the configuration was deployed.",
          "type": "string"
        },
        "routingRules": {
          "description": "Ordered list of routing rules defining how traffic to this environment group's hostnames should be routed to different environments.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RoutingRule"
          }
        },
        "location": {
          "description": "When this message appears in the top-level IngressConfig, this field will be populated in lieu of the inlined routing_rules and hostnames fields. Some URL for downloading the full EnvironmentGroupConfig for this group.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityReportResultView": {
      "description": "The response for security report result view APIs.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SecurityReportResultView",
      "properties": {
        "rows": {
          "items": {
            "type": "any"
          },
          "description": "Rows of security report result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array"
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        },
        "error": {
          "description": "Error message when there is a failure.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "description": "Error code when there is a failure.",
          "type": "integer"
        },
        "metadata": {
          "description": "Metadata contains information like metrics, dimenstions etc of the security report.",
          "$ref": "GoogleCloudApigeeV1SecurityReportMetadata"
        }
      }
    },
    "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext": {
      "description": "Action context are all the relevant details for the action.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ScoreComponentRecommendationActionActionContext",
      "properties": {
        "documentationLink": {
          "description": "Documentation link for the action.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray",
      "properties": {
        "gateways": {
          "description": "Required. The array of API Hub Gateway IDs. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for the array of API Hub Gateways.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest": {
      "description": "Request for ComputeEnvironmentScores.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest",
      "properties": {
        "filters": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequestFilter"
          },
          "description": "Optional. Filters are used to filter scored components. Return all the components if no filter is mentioned. Example: [{ \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" }, { \"scorePath\": \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\", }] This will return components with path: \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/source\" OR \"/org@myorg/envgroup@myenvgroup/env@myenv/proxies/proxy@myproxy/target\"",
          "type": "array"
        },
        "pageToken": {
          "description": "Optional. A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "timeRange": {
          "$ref": "GoogleTypeInterval",
          "description": "Required. Time range for score calculation. At most 14 days of scores will be returned, and both the start and end dates must be within the last 90 days."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of subcomponents to be returned in a single page. The service may return fewer than this value. If unspecified, at most 100 subcomponents will be returned in a single page.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperBalanceWallet": {
      "id": "GoogleCloudApigeeV1DeveloperBalanceWallet",
      "properties": {
        "balance": {
          "description": "Current remaining balance of the developer for a particular currency.",
          "$ref": "GoogleTypeMoney"
        },
        "lastCreditTime": {
          "description": "Output only. Time at which the developer last added credit to the account in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "description": "Wallet used to manage an account balance for a particular currency.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SharedFlowRevision": {
      "id": "GoogleCloudApigeeV1SharedFlowRevision",
      "properties": {
        "contextInfo": {
          "description": "A textual description of the shared flow revision.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "description": "Time at which this shared flow revision was created, in milliseconds since epoch.",
          "type": "string"
        },
        "sharedFlows": {
          "items": {
            "type": "string"
          },
          "description": "A list of the shared flow names included in this shared flow revision.",
          "type": "array"
        },
        "lastModifiedAt": {
          "description": "Time at which this shared flow revision was most recently modified, in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "entityMetaDataAsProperties": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A Key-Value map of metadata about this shared flow revision.",
          "type": "object"
        },
        "revision": {
          "description": "The resource ID of this revision.",
          "type": "string"
        },
        "resources": {
          "items": {
            "type": "string"
          },
          "description": "A list of the resources included in this shared flow revision formatted as \"{type}://{name}\".",
          "type": "array"
        },
        "type": {
          "description": "The string \"Application\"",
          "type": "string"
        },
        "resourceFiles": {
          "description": "The resource files included in this shared flow revision.",
          "$ref": "GoogleCloudApigeeV1ResourceFiles"
        },
        "configurationVersion": {
          "description": "The version of the configuration schema to which this shared flow conforms. The only supported value currently is majorVersion 4 and minorVersion 0. This setting may be used in the future to enable evolution of the shared flow format.",
          "$ref": "GoogleCloudApigeeV1ConfigVersion"
        },
        "displayName": {
          "description": "The human readable name of this shared flow.",
          "type": "string"
        },
        "name": {
          "description": "The resource ID of the parent shared flow.",
          "type": "string"
        },
        "policies": {
          "items": {
            "type": "string"
          },
          "description": "A list of policy names included in this shared flow revision.",
          "type": "array"
        },
        "description": {
          "description": "Description of the shared flow revision.",
          "type": "string"
        }
      },
      "description": "The metadata describing a shared flow revision.",
      "type": "object"
    },
    "GoogleCloudApigeeV1AddonsConfig": {
      "description": "Add-on configurations for the Apigee organization.",
      "type": "object",
      "id": "GoogleCloudApigeeV1AddonsConfig",
      "properties": {
        "advancedApiOpsConfig": {
          "description": "Configuration for the Advanced API Ops add-on.",
          "$ref": "GoogleCloudApigeeV1AdvancedApiOpsConfig"
        },
        "apiSecurityConfig": {
          "description": "Configuration for the API Security add-on.",
          "$ref": "GoogleCloudApigeeV1ApiSecurityConfig"
        },
        "analyticsConfig": {
          "description": "Configuration for the Analytics add-on. Only used in organizations.environments.addonsConfig.",
          "$ref": "GoogleCloudApigeeV1AnalyticsConfig"
        },
        "monetizationConfig": {
          "$ref": "GoogleCloudApigeeV1MonetizationConfig",
          "description": "Configuration for the Monetization add-on."
        },
        "integrationConfig": {
          "$ref": "GoogleCloudApigeeV1IntegrationConfig",
          "description": "Configuration for the Integration add-on."
        },
        "connectorsPlatformConfig": {
          "description": "Configuration for the Connectors Platform add-on.",
          "$ref": "GoogleCloudApigeeV1ConnectorsPlatformConfig"
        }
      }
    },
    "GoogleCloudApigeeV1ProfileConfigMTLS": {
      "description": "Checks to see if you have configured mTLS for the target server.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ProfileConfigMTLS",
      "properties": {}
    },
    "GoogleCloudApigeeV1RatePlan": {
      "description": "Rate plan details.",
      "type": "object",
      "id": "GoogleCloudApigeeV1RatePlan",
      "properties": {
        "billingPeriod": {
          "enum": [
            "BILLING_PERIOD_UNSPECIFIED",
            "WEEKLY",
            "MONTHLY"
          ],
          "description": "Frequency at which the customer will be billed.",
          "type": "string",
          "enumDescriptions": [
            "Billing period not specified.",
            "Weekly billing period. **Note**: Not supported by Apigee at this time.",
            "Monthly billing period."
          ]
        },
        "state": {
          "description": "Current state of the rate plan (draft or published).",
          "type": "string",
          "enumDescriptions": [
            "State of the rate plan is not specified.",
            "Rate plan is in draft mode and only visible to API providers.",
            "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "PUBLISHED"
          ]
        },
        "lastModifiedAt": {
          "description": "Output only. Time the rate plan was last modified in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "startTime": {
          "description": "Time when the rate plan becomes active in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "apiproduct": {
          "description": "Name of the API product that the rate plan is associated with.",
          "type": "string"
        },
        "paymentFundingModel": {
          "enumDescriptions": [
            "Billing account type not specified.",
            "Prepaid billing account type. Developer pays in advance for the use of your API products. Funds are deducted from their prepaid account balance. **Note**: Not supported by Apigee at this time.",
            "Postpaid billing account type. Developer is billed through an invoice after using your API products."
          ],
          "enum": [
            "PAYMENT_FUNDING_MODEL_UNSPECIFIED",
            "PREPAID",
            "POSTPAID"
          ],
          "deprecated": true,
          "description": "DEPRECATED: This field is no longer supported and will eventually be removed when Apigee Hybrid 1.5/1.6 is no longer supported. Instead, use the `billingType` field inside `DeveloperMonetizationConfig` resource. Flag that specifies the billing account type, prepaid or postpaid.",
          "type": "string"
        },
        "revenueShareType": {
          "enum": [
            "REVENUE_SHARE_TYPE_UNSPECIFIED",
            "FIXED",
            "VOLUME_BANDED"
          ],
          "description": "Method used to calculate the revenue that is shared with developers.",
          "type": "string",
          "enumDescriptions": [
            "Revenue share type is not specified.",
            "Fixed percentage of the total revenue will be shared. The percentage to be shared can be configured by the API provider.",
            "Amount of revenue shared depends on the number of API calls. The API call volume ranges and the revenue share percentage for each volume can be configured by the API provider. **Note**: Not supported by Apigee at this time."
          ]
        },
        "currencyCode": {
          "description": "Currency to be used for billing. Consists of a three-letter code as defined by the [ISO 4217](https://en.wikipedia.org/wiki/ISO_4217) standard.",
          "type": "string"
        },
        "createdAt": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Time that the rate plan was created in milliseconds since epoch.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the rate plan.",
          "type": "string"
        },
        "endTime": {
          "description": "Time when the rate plan will expire in milliseconds since epoch. Set to 0 or `null` to indicate that the rate plan should never expire.",
          "type": "string",
          "format": "int64"
        },
        "consumptionPricingType": {
          "enum": [
            "CONSUMPTION_PRICING_TYPE_UNSPECIFIED",
            "FIXED_PER_UNIT",
            "BANDED",
            "TIERED",
            "STAIRSTEP"
          ],
          "description": "Pricing model used for consumption-based charges.",
          "type": "string",
          "enumDescriptions": [
            "Pricing model not specified. This is the default.",
            "Fixed rate charged for each API call.",
            "Variable rate charged for each API call based on price tiers. Example: * 1-100 calls cost $2 per call * 101-200 calls cost $1.50 per call * 201-300 calls cost $1 per call * Total price for 50 calls: 50 x $2 = $100 * Total price for 150 calls: 100 x $2 + 50 x $1.5 = $275 * Total price for 250 calls: 100 x $2 + 100 x $1.5 + 50 x $1 = $400.",
            "**Note**: Not supported by Apigee at this time.",
            "**Note**: Not supported by Apigee at this time."
          ]
        },
        "revenueShareRates": {
          "description": "Details of the revenue sharing model.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RevenueShareRange"
          }
        },
        "description": {
          "description": "Description of the rate plan.",
          "type": "string"
        },
        "setupFee": {
          "$ref": "GoogleTypeMoney",
          "description": "Initial, one-time fee paid when purchasing the API product."
        },
        "fixedRecurringFee": {
          "description": "Fixed amount that is charged at a defined interval and billed in advance of use of the API product. The fee will be prorated for the first billing period.",
          "$ref": "GoogleTypeMoney"
        },
        "fixedFeeFrequency": {
          "description": "Frequency at which the fixed fee is charged.",
          "type": "integer",
          "format": "int32"
        },
        "consumptionPricingRates": {
          "items": {
            "$ref": "GoogleCloudApigeeV1RateRange"
          },
          "description": "API call volume ranges and the fees charged when the total number of API calls is within a given range. The method used to calculate the final fee depends on the selected pricing model. For example, if the pricing model is `BANDED` and the ranges are defined as follows: ``` { \"start\": 1, \"end\": 100, \"fee\": 2 }, { \"start\": 101, \"end\": 200, \"fee\": 1.50 }, { \"start\": 201, \"end\": 0, \"fee\": 1 }, } ``` Then the following fees would be charged based on the total number of API calls (assuming the currency selected is `USD`): * 50 calls cost 50 x $2 = $100 * 150 calls cost 100 x $2 + 50 x $1.5 = $275 * 250 calls cost 100 x $2 + 100 x $1.5 + 50 x $1 = $400 * 500 calls cost 100 x $2 + 100 x $1.5 + 300 x $1 = $650",
          "type": "array"
        },
        "displayName": {
          "description": "Display name of the rate plan.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1QueryMetric": {
      "id": "GoogleCloudApigeeV1QueryMetric",
      "properties": {
        "function": {
          "description": "Aggregation function: avg, min, max, or sum.",
          "type": "string"
        },
        "operator": {
          "description": "One of `+`, `-`, `/`, `%`, `*`.",
          "type": "string"
        },
        "value": {
          "description": "Operand value should be provided when operator is set.",
          "type": "string"
        },
        "name": {
          "description": "Required. Metric name.",
          "type": "string"
        },
        "alias": {
          "description": "Alias for the metric. Alias will be used to replace metric name in query results.",
          "type": "string"
        }
      },
      "description": "More info about Metric: https://docs.apigee.com/api-platform/analytics/analytics-reference#metrics",
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray": {
      "description": "Message for the array of API Hub APIs.",
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray",
      "properties": {
        "apis": {
          "description": "Required. The array of API Hub API IDs. Format: `projects/{project}/locations/{location}/apis/{api}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListEnvironmentResourcesResponse": {
      "id": "GoogleCloudApigeeV1ListEnvironmentResourcesResponse",
      "properties": {
        "resourceFile": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ResourceFile"
          },
          "description": "List of resources files.",
          "type": "array"
        }
      },
      "description": "Response for ListEnvironmentResources",
      "type": "object"
    },
    "GoogleCloudApigeeV1MoveApiProductRequest": {
      "id": "GoogleCloudApigeeV1MoveApiProductRequest",
      "properties": {
        "space": {
          "description": "Optional. Resource ID of the space to move the API product to. If unspecified, the API product will be moved to the organization level.",
          "type": "string"
        }
      },
      "description": "Moves API product to a different space.",
      "type": "object"
    },
    "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest": {
      "id": "GoogleCloudApigeeV1UpdateAppGroupAppKeyRequest",
      "properties": {
        "appGroupAppKey": {
          "$ref": "GoogleCloudApigeeV1AppGroupAppKey",
          "description": "Note that only Scopes and Attributes of the AppGroupAppKey can be amended. Scopes and Attributes mentioned in the request will be inserted and the existing scopes and attributes will be removed."
        },
        "apiProducts": {
          "description": "The list of API products that will be associated with the credential. This list will be appended to the existing list of associated API Products for this App Key. Duplicates will be ignored.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "action": {
          "description": "Approve or revoke the consumer key by setting this value to `approve` or `revoke` respectively. The `Content-Type` header, if set, must be set to `application/octet-stream`, with empty body.",
          "type": "string"
        }
      },
      "description": "Request for UpdateAppGroupAppKey",
      "type": "object"
    },
    "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest": {
      "description": "Request for ExpireDeveloperSubscription.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ExpireDeveloperSubscriptionRequest",
      "properties": {}
    },
    "GoogleCloudApigeeV1Quota": {
      "id": "GoogleCloudApigeeV1Quota",
      "properties": {
        "interval": {
          "description": "Required. Time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "limit": {
          "description": "Required. Upper limit allowed for the time interval and time unit specified. Requests exceeding this limit will be rejected.",
          "type": "string"
        },
        "timeUnit": {
          "description": "Time unit defined for the `interval`. Valid values include `minute`, `hour`, `day`, or `month`. If `limit` and `interval` are valid, the default value is `hour`; otherwise, the default is null.",
          "type": "string"
        }
      },
      "description": "Quota contains the essential parameters needed that can be applied on the resources, methods, API source combination associated with this API product. While Quota is optional, setting it prevents requests from exceeding the provisioned parameters.",
      "type": "object"
    },
    "GoogleCloudApigeeV1NodeConfig": {
      "description": "NodeConfig for setting the min/max number of nodes associated with the environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1NodeConfig",
      "properties": {
        "minNodeCount": {
          "format": "int64",
          "description": "Optional. The minimum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended minimum number of nodes for that gateway.",
          "type": "string"
        },
        "maxNodeCount": {
          "description": "Optional. The maximum total number of gateway nodes that the is reserved for all instances that has the specified environment. If not specified, the default is determined by the recommended maximum number of nodes for that gateway.",
          "type": "string",
          "format": "int64"
        },
        "currentAggregateNodeCount": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The current total number of gateway nodes that each environment currently has across all instances.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1LlmOperation": {
      "id": "GoogleCloudApigeeV1LlmOperation",
      "properties": {
        "methods": {
          "description": "Optional. methods refers to the REST verbs as in https://httpwg.org/specs/rfc9110.html For example: GET, POST, PUT, DELETE, etc. They need to be in uppercase. When none specified, all verb types are allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "model": {
          "description": "Required. LLM model name associated with the API proxy",
          "type": "string"
        },
        "resource": {
          "description": "Required. REST resource path associated with the API proxy or remote service.",
          "type": "string"
        }
      },
      "description": "Represents the pairing of REST resource path, model and the actions (verbs) allowed on the resource path.",
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource": {
      "description": "Resource for which we are computing security assessment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArrayResource",
      "properties": {
        "type": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "API_PROXY",
            "API_HUB_DEPLOYMENT"
          ],
          "description": "Required. Type of this resource.",
          "type": "string",
          "enumDescriptions": [
            "ResourceType not specified.",
            "Resource is an Apigee Proxy.",
            "Resource is an API Hub deployment."
          ]
        },
        "name": {
          "description": "Required. Name of this resource. For an Apigee API Proxy, this should be the id of the API proxy. For an API Hub Deployment, this should be the id of the deployment.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AppGroupAppKey": {
      "description": "AppGroupAppKey contains all the information associated with the credentials.",
      "type": "object",
      "id": "GoogleCloudApigeeV1AppGroupAppKey",
      "properties": {
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "issuedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the AppGroup app was created in milliseconds since epoch.",
          "type": "string"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array"
        },
        "expiresInSeconds": {
          "description": "Immutable. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "apiProducts": {
          "description": "Output only. List of API products and its status for which the credential can be used. **Note**: Use UpdateAppGroupAppKeyApiProductRequest API to make the association after the consumer key and secret are created.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1APIProductAssociation"
          }
        },
        "attributes": {
          "description": "List of attributes associated with the credential.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "expiresAt": {
          "description": "Output only. Time the AppGroup app expires in milliseconds since epoch.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "consumerKey": {
          "description": "Immutable. Consumer key.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1RoutingRule": {
      "id": "GoogleCloudApigeeV1RoutingRule",
      "properties": {
        "environment": {
          "description": "Name of an environment bound to the environment group in the following format: `organizations/{org}/environments/{env}`. Only one of environment or deployment_group will be set.",
          "type": "string"
        },
        "otherTargets": {
          "items": {
            "type": "string"
          },
          "description": "Conflicting targets, which will be resource names specifying either deployment groups or environments.",
          "type": "array"
        },
        "envGroupRevision": {
          "format": "int64",
          "description": "The env group config revision_id when this rule was added or last updated. This value is set when the rule is created and will only update if the the environment_id changes. It is used to determine if the runtime is up to date with respect to this rule. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string"
        },
        "receiver": {
          "description": "The resource name of the proxy revision that is receiving this basepath in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string"
        },
        "deploymentGroup": {
          "description": "Name of a deployment group in an environment bound to the environment group in the following format: `organizations/{org}/environment/{env}/deploymentGroups/{group}` Only one of environment or deployment_group will be set.",
          "type": "string"
        },
        "basepath": {
          "description": "URI path prefix used to route to the specified environment. May contain one or more wildcards. For example, path segments consisting of a single `*` character will match any string.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "The unix timestamp when this rule was updated. This is updated whenever env_group_revision is updated. This field is omitted from the IngressConfig unless the GetDeployedIngressConfig API is called with view=FULL.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1App": {
      "id": "GoogleCloudApigeeV1App",
      "properties": {
        "appId": {
          "description": "ID of the app.",
          "type": "string"
        },
        "companyName": {
          "description": "Name of the company that owns the app.",
          "type": "string"
        },
        "developerEmail": {
          "description": "Email of the developer.",
          "type": "string"
        },
        "attributes": {
          "description": "List of attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          }
        },
        "name": {
          "description": "Name of the app.",
          "type": "string"
        },
        "apiProducts": {
          "description": "List of API products associated with the app.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1ApiProductRef"
          }
        },
        "keyExpiresIn": {
          "format": "int64",
          "description": "Duration, in milliseconds, of the consumer key that will be generated for the app. The default value, -1, indicates an infinite validity period. Once set, the expiration can't be updated. json key: keyExpiresIn",
          "type": "string"
        },
        "status": {
          "description": "Status of the credential.",
          "type": "string"
        },
        "credentials": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApigeeV1Credential"
          },
          "description": "Output only. Set of credentials for the app. Credentials are API key/secret pairs associated with API products.",
          "type": "array"
        },
        "callbackUrl": {
          "description": "Callback URL used by OAuth 2.0 authorization servers to communicate authorization codes back to apps.",
          "type": "string"
        },
        "developerId": {
          "description": "ID of the developer.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Last modified time as milliseconds since epoch.",
          "type": "string"
        },
        "appGroup": {
          "description": "Name of the AppGroup",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Unix time when the app was created.",
          "type": "string"
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already exist on the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1Metadata": {
      "description": "Encapsulates additional information about query execution.",
      "type": "object",
      "id": "GoogleCloudApigeeV1Metadata",
      "properties": {
        "errors": {
          "description": "List of error messages as strings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notices": {
          "description": "List of additional information such as data source, if result was truncated. For example: ``` \"notices\": [ \"Source:Postgres\", \"PG Host:uappg0rw.e2e.apigeeks.net\", \"query served by:4b64601e-40de-4eb1-bfb9-eeee7ac929ed\", \"Table used: edge.api.uapgroup2.agg_api\" ]```",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudApigeeV1ListRatePlansResponse": {
      "id": "GoogleCloudApigeeV1ListRatePlansResponse",
      "properties": {
        "ratePlans": {
          "description": "List of rate plans in an organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1RatePlan"
          }
        },
        "nextStartKey": {
          "description": "Value that can be sent as `startKey` to retrieve the next page of content. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response for ListRatePlans.",
      "type": "object"
    },
    "GoogleCloudApigeeV1CertInfo": {
      "description": "X.509 certificate as defined in RFC 5280.",
      "type": "object",
      "id": "GoogleCloudApigeeV1CertInfo",
      "properties": {
        "expiryDate": {
          "description": "X.509 `notAfter` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "subjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "description": "X.509 subject alternative names (SANs) extension.",
          "type": "array"
        },
        "publicKey": {
          "description": "Public key component of the X.509 subject public key info.",
          "type": "string"
        },
        "sigAlgName": {
          "description": "X.509 signatureAlgorithm.",
          "type": "string"
        },
        "issuer": {
          "description": "X.509 issuer.",
          "type": "string"
        },
        "isValid": {
          "description": "Flag that specifies whether the certificate is valid. Flag is set to `Yes` if the certificate is valid, `No` if expired, or `Not yet` if not yet valid.",
          "type": "string"
        },
        "subject": {
          "description": "X.509 subject.",
          "type": "string"
        },
        "basicConstraints": {
          "description": "X.509 basic constraints extension.",
          "type": "string"
        },
        "validFrom": {
          "description": "X.509 `notBefore` validity period in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "serialNumber": {
          "description": "X.509 serial number.",
          "type": "string"
        },
        "version": {
          "format": "int32",
          "description": "X.509 version.",
          "type": "integer"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation": {
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendation",
      "properties": {
        "scoreImpact": {
          "format": "int32",
          "description": "Score impact indicates the impact on the overall score if the assessment were to pass.",
          "type": "integer"
        },
        "displayName": {
          "description": "The display name of the assessment.",
          "type": "string"
        },
        "recommendations": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityAssessmentResultScoringResultAssessmentRecommendationRecommendation"
          },
          "description": "The recommended steps of the assessment.",
          "type": "array"
        },
        "verdict": {
          "enum": [
            "VERDICT_UNSPECIFIED",
            "PASS",
            "FAIL",
            "NOT_APPLICABLE"
          ],
          "description": "Verdict indicates the assessment result.",
          "type": "string",
          "enumDescriptions": [
            "The verdict is unspecified.",
            "The assessment has passed.",
            "The assessment has failed.",
            "The verdict is not applicable."
          ]
        },
        "weight": {
          "enum": [
            "WEIGHT_UNSPECIFIED",
            "MINOR",
            "MODERATE",
            "MAJOR"
          ],
          "description": "The weight of the assessment which was set in the profile.",
          "type": "string",
          "enumDescriptions": [
            "The weight is unspecified.",
            "The weight is minor.",
            "The weight is moderate.",
            "The weight is major."
          ]
        }
      },
      "description": "The message format of a recommendation from the assessment.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProduct": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProduct",
      "properties": {
        "quotaCounterScope": {
          "enum": [
            "QUOTA_COUNTER_SCOPE_UNSPECIFIED",
            "PROXY",
            "OPERATION",
            "PRODUCT"
          ],
          "description": "Scope of the quota decides how the quota counter gets applied and evaluate for quota violation. If the Scope is set as PROXY, then all the operations defined for the APIproduct that are associated with the same proxy will share the same quota counter set at the APIproduct level, making it a global counter at a proxy level. If the Scope is set as OPERATION, then each operations get the counter set at the API product dedicated, making it a local counter. Note that, the QuotaCounterScope applies only when an operation does not have dedicated quota set for itself.",
          "type": "string",
          "enumDescriptions": [
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), set at product level will be used as a global counter for quota evaluation by all the operations associated with a particular proxy.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a local counter for quota evaluation by all the operations, independent of proxy association. This behavior mimics the same as QUOTA_COUNTER_SCOPE_UNSPECIFIED.",
            "When quota is not explicitly defined for each operation(REST/GraphQL), the limits set at product level will be used as a global counter for quota evaluation by all the operations."
          ]
        },
        "description": {
          "description": "Description of the API product. Include key information about the API product that is not captured by other fields.",
          "type": "string"
        },
        "space": {
          "description": "Optional. The resource ID of the parent Space. If not set, the parent resource will be the Organization. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        },
        "name": {
          "description": "Internal name of the API product. Characters you can use in the name are restricted to: `A-Z0-9._\\-$ %`. **Note:** The internal name cannot be edited when updating the API product.",
          "type": "string"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "Array of attributes that may be used to extend the default API product profile with customer-specific metadata. You can specify a maximum of 18 attributes. Use this property to specify the access level of the API product as either `public`, `private`, or `internal`. Only products marked `public` are available to developers in the Apigee developer portal. For example, you can set a product to `internal` while it is in development and then change access to `public` when it is ready to release on the portal. API products marked as `private` do not appear on the portal, but can be accessed by external developers.",
          "type": "array"
        },
        "displayName": {
          "description": "Name displayed in the UI or developer portal to developers registering for API access.",
          "type": "string"
        },
        "quotaTimeUnit": {
          "description": "Time unit defined for the `quotaInterval`. Valid values include `minute`, `hour`, `day`, or `month`.",
          "type": "string"
        },
        "grpcOperationGroup": {
          "$ref": "GoogleCloudApigeeV1GrpcOperationGroup",
          "description": "Optional. Configuration used to group Apigee proxies with gRPC services and method names. This grouping allows us to set quota for a particular proxy with the gRPC service name and method. If a method name is not set, this implies quota and authorization are applied to all gRPC methods implemented by that proxy for that particular gRPC service."
        },
        "llmQuotaTimeUnit": {
          "description": "Optional. Time unit defined for the `llm_quota_interval`. Valid values include `minute`, `hour`, `day`, or `month`.",
          "type": "string"
        },
        "quota": {
          "description": "Number of request messages permitted per app by this API product for the specified `quotaInterval` and `quotaTimeUnit`. For example, a `quota` of 50, for a `quotaInterval` of 12 and a `quotaTimeUnit` of hours means 50 requests are allowed every 12 hours.",
          "type": "string"
        },
        "proxies": {
          "description": "Comma-separated list of API proxy names to which this API product is bound. By specifying API proxies, you can associate resources in the API product with specific API proxies, preventing developers from accessing those resources through other API proxies. Apigee rejects requests to API proxies that are not listed. **Note:** The API proxy names must already exist in the specified environment as they will be validated upon creation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "llmQuotaInterval": {
          "description": "Optional. Time interval over which the number of tokens from LLM responses is calculated.",
          "type": "string"
        },
        "environments": {
          "description": "Comma-separated list of environment names to which the API product is bound. Requests to environments that are not listed are rejected. By specifying one or more environments, you can bind the resources listed in the API product to a specific environment, preventing developers from accessing those resources through API proxies deployed in another environment. This setting is used, for example, to prevent resources associated with API proxies in `prod` from being accessed by API proxies deployed in `test`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "approvalType": {
          "description": "Flag that specifies how API keys are approved to access the APIs defined by the API product. If set to `manual`, the consumer key is generated and returned in \"pending\" state. In this case, the API keys won't work until they have been explicitly approved. If set to `auto`, the consumer key is generated and returned in \"approved\" state and can be used immediately. **Note:** Typically, `auto` is used to provide access to free or trial API products that provide limited quota or capabilities.",
          "type": "string"
        },
        "llmOperationGroup": {
          "description": "Optional. Configuration used to group Apigee proxies with resources, method types, LLM model and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources, specific LLM model and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and llm operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1LlmOperationGroup"
        },
        "quotaInterval": {
          "description": "Time interval over which the number of request messages is calculated.",
          "type": "string"
        },
        "lastModifiedAt": {
          "format": "int64",
          "description": "Response only. Modified time of this environment as milliseconds since epoch.",
          "type": "string"
        },
        "createdAt": {
          "description": "Response only. Creation time of this environment as milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "apiResources": {
          "description": "Comma-separated list of API resources to be bundled in the API product. By default, the resource paths are mapped from the `proxy.pathsuffix` variable. The proxy path suffix is defined as the URI fragment following the ProxyEndpoint base path. For example, if the `apiResources` element is defined to be `/forecastrss` and the base path defined for the API proxy is `/weather`, then only requests to `/weather/forecastrss` are permitted by the API product. You can select a specific path, or you can select all subpaths with the following wildcard: - `/**`: Indicates that all sub-URIs are included. - `/*` : Indicates that only URIs one level down are included. By default, / supports the same resources as /** as well as the base path defined by the API proxy. For example, if the base path of the API proxy is `/v1/weatherapikey`, then the API product supports requests to `/v1/weatherapikey` and to any sub-URIs, such as `/v1/weatherapikey/forecastrss`, `/v1/weatherapikey/region/CA`, and so on. For more information, see Managing API products.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "graphqlOperationGroup": {
          "description": "Configuration used to group Apigee proxies or remote services with graphQL operation name, graphQL operation type and quotas. This grouping allows us to precisely set quota for a particular combination of graphQL name and operation type for a particular proxy request. If graphQL name is not set, this would imply quota will be applied on all graphQL requests matching the operation type.",
          "$ref": "GoogleCloudApigeeV1GraphQLOperationGroup"
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Comma-separated list of OAuth scopes that are validated at runtime. Apigee validates that the scopes in any access token presented match the scopes defined in the OAuth policy associated with the API product.",
          "type": "array"
        },
        "llmQuota": {
          "description": "Optional. Number of LLM tokens permitted per app by this API product for the specified `llm_quota_interval` and `llm_quota_time_unit`. For example, an `llm_quota` of 50,000, for an `llm_quota_interval` of 12 and an `llm_quota_time_unit` of hours means 50,000 llm tokens are allowed to be used every 12 hours.",
          "type": "string"
        },
        "operationGroup": {
          "description": "Configuration used to group Apigee proxies or remote services with resources, method types, and quotas. The resource refers to the resource URI (excluding the base path). With this grouping, the API product creator is able to fine-tune and give precise control over which REST methods have access to specific resources and how many calls can be made (using the `quota` setting). **Note:** The `api_resources` setting cannot be specified for both the API product and operation group; otherwise the call will fail.",
          "$ref": "GoogleCloudApigeeV1OperationGroup"
        }
      }
    },
    "GoogleCloudApigeeV1DeveloperAppKey": {
      "type": "object",
      "id": "GoogleCloudApigeeV1DeveloperAppKey",
      "properties": {
        "attributes": {
          "items": {
            "$ref": "GoogleCloudApigeeV1Attribute"
          },
          "description": "List of attributes associated with the credential.",
          "type": "array"
        },
        "consumerKey": {
          "description": "Consumer key.",
          "type": "string"
        },
        "expiresAt": {
          "description": "Time the developer app expires in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "scopes": {
          "description": "Scopes to apply to the app. The specified scope names must already be defined for the API product that you associate with the app.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consumerSecret": {
          "description": "Secret key.",
          "type": "string"
        },
        "issuedAt": {
          "description": "Time the developer app was created in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "Status of the credential. Valid values include `approved` or `revoked`.",
          "type": "string"
        },
        "expiresInSeconds": {
          "format": "int64",
          "description": "Input only. Expiration time, in seconds, for the consumer key. If not set or left to the default value of `-1`, the API key never expires. The expiration time can't be updated after it is set.",
          "type": "string"
        },
        "apiProducts": {
          "items": {
            "type": "any"
          },
          "description": "List of API products for which the credential can be used. **Note**: Do not specify the list of API products when creating a consumer key and secret for a developer app. Instead, use the UpdateDeveloperAppKey API to make the association after the consumer key and secret are created.",
          "type": "array"
        }
      }
    },
    "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails": {
      "id": "GoogleCloudApigeeV1SecurityAssessmentResultResourceApiHubDeploymentDetails",
      "properties": {
        "displayName": {
          "description": "The display name of the API Hub deployment.",
          "type": "string"
        },
        "gatewayType": {
          "enum": [
            "API_HUB_GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X",
            "APIGEE_HYBRID",
            "APIGEE_EDGE",
            "APIGEE_OPDK"
          ],
          "description": "The gateway type for the API Hub deployment.",
          "type": "string",
          "enumDescriptions": [
            "Gateway type is not specified.",
            "Gateway is Apigee X for API Hub.",
            "Gateway is Apigee Hybrid for API Hub.",
            "Gateway is Apigee Edge for API Hub.",
            "Gateway is Apigee OPDK for API Hub."
          ]
        },
        "sourceProject": {
          "description": "The source project for the API Hub deployment.",
          "type": "string"
        },
        "gateway": {
          "description": "The gateway for the API Hub deployment. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "resourceUri": {
          "description": "The resource uri for the API Hub deployment.",
          "type": "string"
        }
      },
      "description": "Additional details if the resource is an API Hub deployment.",
      "type": "object"
    },
    "GoogleCloudApigeeV1KeyValueEntry": {
      "id": "GoogleCloudApigeeV1KeyValueEntry",
      "properties": {
        "name": {
          "description": "Resource URI that can be used to identify the scope of the key value map entries.",
          "type": "string"
        },
        "value": {
          "description": "Required. Data or payload that is being retrieved and associated with the unique key.",
          "type": "string"
        }
      },
      "description": "Key value map pair where the value represents the data associated with the corresponding key. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DataCollector": {
      "description": "Data collector configuration.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DataCollector",
      "properties": {
        "createdAt": {
          "description": "Output only. The time at which the data collector was created in milliseconds since the epoch.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "description": {
          "description": "A description of the data collector.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTEGER",
            "FLOAT",
            "STRING",
            "BOOLEAN",
            "DATETIME"
          ],
          "description": "Immutable. The type of data this data collector will collect.",
          "type": "string",
          "enumDescriptions": [
            "For future compatibility.",
            "For integer values.",
            "For float values.",
            "For string values.",
            "For boolean values.",
            "For datetime values."
          ]
        },
        "lastModifiedAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The time at which the Data Collector was last updated in milliseconds since the epoch.",
          "type": "string"
        },
        "name": {
          "description": "ID of the data collector. Must begin with `dc_`.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1AsyncQueryResultView": {
      "id": "GoogleCloudApigeeV1AsyncQueryResultView",
      "properties": {
        "metadata": {
          "$ref": "GoogleCloudApigeeV1QueryMetadata",
          "description": "Metadata contains information like metrics, dimenstions etc of the AsyncQuery."
        },
        "code": {
          "description": "Error code when there is a failure.",
          "type": "integer",
          "format": "int32"
        },
        "error": {
          "description": "Error message when there is a failure.",
          "type": "string"
        },
        "rows": {
          "items": {
            "type": "any"
          },
          "description": "Rows of query result. Each row is a JSON object. Example: {sum(message_count): 1, developer_app: \"(not set)\",…}",
          "type": "array"
        },
        "state": {
          "description": "State of retrieving ResultView.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1DeleteResponse": {
      "description": "Response for certain delete operations.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DeleteResponse",
      "properties": {
        "status": {
          "description": "Status of the operation.",
          "type": "string"
        },
        "message": {
          "description": "Description of the operation.",
          "type": "string"
        },
        "requestId": {
          "description": "Unique ID of the request.",
          "type": "string"
        },
        "errorCode": {
          "description": "Unique error code for the request, if any.",
          "type": "string"
        },
        "gcpResource": {
          "description": "Google Cloud name of deleted resource.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1GetSyncAuthorizationRequest": {
      "id": "GoogleCloudApigeeV1GetSyncAuthorizationRequest",
      "properties": {},
      "description": "Request for GetSyncAuthorization.",
      "type": "object"
    },
    "GoogleCloudApigeeV1GraphQLOperation": {
      "description": "Represents the pairing of GraphQL operation types and the GraphQL operation name.",
      "type": "object",
      "id": "GoogleCloudApigeeV1GraphQLOperation",
      "properties": {
        "operationTypes": {
          "description": "Required. GraphQL operation types. Valid values include `query` or `mutation`. **Note**: Apigee does not currently support `subscription` types.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operation": {
          "description": "GraphQL operation name. The name and operation type will be used to apply quotas. If no name is specified, the quota will be applied to all GraphQL operations irrespective of their operation names in the payload.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListHybridIssuersResponse": {
      "id": "GoogleCloudApigeeV1ListHybridIssuersResponse",
      "properties": {
        "issuers": {
          "items": {
            "$ref": "GoogleCloudApigeeV1ServiceIssuersMapping"
          },
          "description": "Lists of hybrid services and its trusted issuer email ids.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1TlsInfoConfig": {
      "id": "GoogleCloudApigeeV1TlsInfoConfig",
      "properties": {
        "keyAlias": {
          "description": "Name of the alias used for client-side authentication in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}/aliases/{alias}`",
          "type": "string"
        },
        "commonName": {
          "$ref": "GoogleCloudApigeeV1CommonNameConfig",
          "description": "Common name to validate the target server against."
        },
        "protocols": {
          "description": "List of TLS protocols that are granted access.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trustStore": {
          "description": "Name of the keystore or keystore reference containing trusted certificates for the server in the following format: `organizations/{org}/environments/{env}/keystores/{keystore}` or `organizations/{org}/environments/{env}/references/{reference}`",
          "type": "string"
        },
        "ciphers": {
          "items": {
            "type": "string"
          },
          "description": "List of ciphers that are granted access.",
          "type": "array"
        },
        "enforce": {
          "description": "Flag that enforces TLS settings",
          "type": "boolean"
        },
        "ignoreValidationErrors": {
          "description": "Flag that specifies whether to ignore TLS certificate validation errors. Set to `true` to ignore errors.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Flag that specifies whether one-way TLS is enabled. Set to `true` to enable one-way TLS.",
          "type": "boolean"
        },
        "keyAliasReference": {
          "$ref": "GoogleCloudApigeeV1KeyAliasReference",
          "description": "Reference name and alias pair to use for client-side authentication."
        },
        "clientAuthEnabled": {
          "description": "Flag that specifies whether client-side authentication is enabled for the target server. Enables two-way TLS.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiProxy": {
      "description": "Metadata describing the API proxy",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProxy",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the API proxy.",
          "type": "string"
        },
        "metaData": {
          "readOnly": true,
          "$ref": "GoogleCloudApigeeV1EntityMetadata",
          "description": "Output only. Metadata describing the API proxy."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "User labels applied to this API Proxy.",
          "type": "object"
        },
        "revision": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. List of revisions defined for the API proxy.",
          "type": "array"
        },
        "latestRevisionId": {
          "readOnly": true,
          "description": "Output only. The id of the most recently created revision for this api proxy.",
          "type": "string"
        },
        "space": {
          "description": "Optional. The id of the space this proxy is associated with. Any IAM policies applied to the space will control access to this proxy. To learn how Spaces can be used to manage resources, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
          "type": "string"
        },
        "readOnly": {
          "description": "Output only. Whether this proxy is read-only. A read-only proxy cannot have new revisions created through calls to CreateApiProxyRevision. A proxy is read-only if it was generated by an archive.",
          "type": "boolean",
          "readOnly": true
        },
        "apiProxyType": {
          "enumDescriptions": [
            "API proxy type not specified.",
            "Programmable API Proxies enable you to develop APIs with highly flexible behavior using bundled policy configuration and one or more programming languages to describe complex sequential and/or conditional flows of logic.",
            "Configurable API Proxies enable you to develop efficient APIs using simple configuration while complex execution control flow logic is handled by Apigee. This type only works with the ARCHIVE deployment type and cannot be combined with the PROXY deployment type."
          ],
          "enum": [
            "API_PROXY_TYPE_UNSPECIFIED",
            "PROGRAMMABLE",
            "CONFIGURABLE"
          ],
          "description": "Output only. The type of the API proxy.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApigeeV1Space": {
      "id": "GoogleCloudApigeeV1Space",
      "properties": {
        "displayName": {
          "description": "Optional. Display name of the space.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Create timestamp of the space.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last modified timestamp of the space.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Id of the space. This field is used as the resource name, and must follow [AIP-122](https://google.aip.dev/122) guidelines.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Organization space resource.",
      "type": "object"
    },
    "GoogleCloudApigeeV1SetAddonsRequest": {
      "description": "Request for SetAddons.",
      "type": "object",
      "id": "GoogleCloudApigeeV1SetAddonsRequest",
      "properties": {
        "addonsConfig": {
          "$ref": "GoogleCloudApigeeV1AddonsConfig",
          "description": "Required. Add-on configurations."
        }
      }
    },
    "GoogleCloudApigeeV1LlmOperationGroup": {
      "id": "GoogleCloudApigeeV1LlmOperationGroup",
      "properties": {
        "operationConfigs": {
          "items": {
            "$ref": "GoogleCloudApigeeV1LlmOperationConfig"
          },
          "description": "Required. List of LLM operation configurations for either Apigee API proxies that are associated with this API product.",
          "type": "array"
        }
      },
      "description": "List of LLM operation configuration details associated with Apigee API proxies.",
      "type": "object"
    },
    "GoogleIamV1Policy": {
      "id": "GoogleIamV1Policy",
      "properties": {
        "auditConfigs": {
          "items": {
            "$ref": "GoogleIamV1AuditConfig"
          },
          "description": "Specifies cloud audit logging configuration for this policy.",
          "type": "array"
        },
        "version": {
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer"
        },
        "bindings": {
          "items": {
            "$ref": "GoogleIamV1Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "GoogleCloudApigeeV1ListDataCollectorsResponse": {
      "id": "GoogleCloudApigeeV1ListDataCollectorsResponse",
      "properties": {
        "dataCollectors": {
          "description": "Data collectors in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1DataCollector"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in a ListDataCollectors request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for ListDataCollectors.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict": {
      "description": "Describes a routing conflict that may cause a deployment not to receive traffic at some base path.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentChangeReportRoutingConflict",
      "properties": {
        "environmentGroup": {
          "description": "Name of the environment group in which this conflict exists.",
          "type": "string"
        },
        "conflictingDeployment": {
          "$ref": "GoogleCloudApigeeV1DeploymentChangeReportRoutingDeployment",
          "description": "Existing base path/deployment causing the conflict."
        },
        "description": {
          "description": "Human-readable description of this conflict.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1QueryTabularStatsResponse": {
      "description": "Encapsulates two kinds of stats that are results of the dimensions and aggregations requested. - Tabular rows. - Time series data. Example of tabular rows, Represents security stats results as a row of flat values.",
      "type": "object",
      "id": "GoogleCloudApigeeV1QueryTabularStatsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Next page token.",
          "type": "string"
        },
        "columns": {
          "items": {
            "type": "string"
          },
          "description": "Column names corresponding to the same order as the inner values in the stats field.",
          "type": "array"
        },
        "values": {
          "description": "Resultant rows from the executed query.",
          "type": "array",
          "items": {
            "type": "array",
            "items": {
              "type": "any"
            }
          }
        }
      }
    },
    "GoogleCloudApigeeV1SecurityFeedback": {
      "id": "GoogleCloudApigeeV1SecurityFeedback",
      "properties": {
        "feedbackContexts": {
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityFeedbackFeedbackContext"
          },
          "description": "Required. One or more attribute/value pairs for constraining the feedback.",
          "type": "array"
        },
        "displayName": {
          "description": "Optional. The display name of the feedback.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Identifier. The feedback name is intended to be a system-generated uuid.",
          "type": "string"
        },
        "reason": {
          "description": "Optional. The reason for the feedback.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified reason.",
            "The feedback is created for an internal system.",
            "The feedback is created for a non-risk client.",
            "The feedback is created for to label NAT.",
            "The feedback is created for a penetration test.",
            "The feedback is created for other reasons."
          ],
          "enum": [
            "REASON_UNSPECIFIED",
            "INTERNAL_SYSTEM",
            "NON_RISK_CLIENT",
            "NAT",
            "PENETRATION_TEST",
            "OTHER"
          ]
        },
        "comment": {
          "description": "Optional. Optional text the user can provide for additional, unstructured context.",
          "type": "string"
        },
        "feedbackType": {
          "enum": [
            "FEEDBACK_TYPE_UNSPECIFIED",
            "EXCLUDED_DETECTION"
          ],
          "description": "Required. The type of feedback being submitted.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified feedback type.",
            "Feedback identifying attributes to be excluded from detections."
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when this specific feedback id was updated.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when this specific feedback id was created.",
          "type": "string"
        }
      },
      "description": "Represents a feedback report from an Advanced API Security customer.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiCategory": {
      "id": "GoogleCloudApigeeV1ApiCategory",
      "properties": {
        "name": {
          "description": "Name of the category.",
          "type": "string"
        },
        "siteId": {
          "description": "Name of the portal.",
          "type": "string"
        },
        "id": {
          "description": "ID of the category (a UUID).",
          "type": "string"
        },
        "updateTime": {
          "description": "Time the category was last modified in milliseconds since epoch.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "`ApiCategory` represents an API category. [Catalog items](/apigee/docs/reference/apis/apigee/rest/v1/organizations.sites.apidocs) can be tagged with API categories; users viewing the API catalog in the portal will have the option to browse the catalog by category.",
      "type": "object"
    },
    "GoogleCloudApigeeV1DebugMask": {
      "id": "GoogleCloudApigeeV1DebugMask",
      "properties": {
        "namespaces": {
          "description": "Map of namespaces to URIs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "responseXPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML response message payloads.",
          "type": "array"
        },
        "variables": {
          "description": "List of variables that should be masked from the debug output.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestXPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of XPaths that specify the XML elements to be filtered from XML request message payloads.",
          "type": "array"
        },
        "faultXPaths": {
          "description": "List of XPaths that specify the XML elements to be filtered from XML payloads in error flows.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseJSONPaths": {
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON response message payloads.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "requestJSONPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON request message payloads.",
          "type": "array"
        },
        "name": {
          "description": "Name of the debug mask.",
          "type": "string"
        },
        "faultJSONPaths": {
          "items": {
            "type": "string"
          },
          "description": "List of JSON paths that specify the JSON elements to be filtered from JSON payloads in error flows.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse": {
      "description": "Response for ListSecurityMonitoringConditions.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ListSecurityMonitoringConditionsResponse",
      "properties": {
        "securityMonitoringConditions": {
          "description": "List of security monitoring conditions in the organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1SecurityMonitoringCondition"
          }
        },
        "nextPageToken": {
          "description": "A token that can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1DeploymentGroupConfig": {
      "description": "DeploymentGroupConfig represents a deployment group that should be present in a particular environment.",
      "type": "object",
      "id": "GoogleCloudApigeeV1DeploymentGroupConfig",
      "properties": {
        "name": {
          "description": "Name of the deployment group in the following format: `organizations/{org}/environments/{env}/deploymentGroups/{group}`.",
          "type": "string"
        },
        "uid": {
          "description": "Unique ID. The ID will only change if the deployment group is deleted and recreated.",
          "type": "string"
        },
        "revisionId": {
          "format": "int64",
          "description": "Revision number which can be used by the runtime to detect if the deployment group has changed between two versions.",
          "type": "string"
        },
        "deploymentGroupType": {
          "description": "Type of the deployment group, which will be either Standard or Extensible.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "Standard type",
            "Extensible Type"
          ],
          "enum": [
            "DEPLOYMENT_GROUP_TYPE_UNSPECIFIED",
            "STANDARD",
            "EXTENSIBLE"
          ]
        }
      }
    },
    "GoogleCloudApigeeV1ApiProductRef": {
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiProductRef",
      "properties": {
        "status": {
          "description": "Status of the API product. Valid values are `approved` or `revoked`.",
          "type": "string"
        },
        "apiproduct": {
          "description": "Name of the API product.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ApiDebugSession": {
      "description": "Session carries the debug session id and its creation time.",
      "type": "object",
      "id": "GoogleCloudApigeeV1ApiDebugSession",
      "properties": {
        "environmentId": {
          "description": "The environment ID of the deployed API proxy.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The first transaction creation timestamp in millisecond, recorded by UAP.",
          "type": "string"
        },
        "id": {
          "description": "The debug session ID.",
          "type": "string"
        },
        "apiProxyRevisionId": {
          "description": "The revision ID of the deployed API proxy.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApigeeV1ListEndpointAttachmentsResponse": {
      "id": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse",
      "properties": {
        "endpointAttachments": {
          "description": "Endpoint attachments in the specified organization.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApigeeV1EndpointAttachment"
          }
        },
        "nextPageToken": {
          "description": "Page token that you can include in an `ListEndpointAttachments` request to retrieve the next page. If omitted, no subsequent pages exist.",
          "type": "string"
        }
      },
      "description": "Response for ListEndpointAttachments method.",
      "type": "object"
    },
    "GoogleCloudApigeeV1InstanceAttachment": {
      "id": "GoogleCloudApigeeV1InstanceAttachment",
      "properties": {
        "environment": {
          "description": "ID of the attached environment.",
          "type": "string"
        },
        "createdAt": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Time the attachment was created in milliseconds since epoch.",
          "type": "string"
        },
        "name": {
          "description": "Output only. ID of the attachment.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "InstanceAttachment represents the installation of an environment onto an instance.",
      "type": "object"
    },
    "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest": {
      "id": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequest",
      "properties": {
        "include": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestResourceArray",
          "description": "Include only these resources."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. The maximum number of results to return. The service may return fewer than this value. If unspecified, at most 50 results will be returned.",
          "type": "integer"
        },
        "apiHubApis": {
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubApiArray",
          "description": "An array of API Hub APIs to assess. A maximum of 1 API can be assessed."
        },
        "includeAllResources": {
          "description": "Include all resources under the scope.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestIncludeAll"
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous `BatchComputeSecurityAssessmentResults` call. Provide this to retrieve the subsequent page.",
          "type": "string"
        },
        "profile": {
          "description": "Required. Name of the profile that is used for computation.",
          "type": "string"
        },
        "scope": {
          "description": "Optional. Scope of the resources for the computation. When computing scores for Apigee proxies, the scope should be set to the environment of the resources. When computing scores for API Hub deployments, api_hub_scope should be set instead.",
          "type": "string"
        },
        "apiHubGateways": {
          "description": "An array of API Hub Gateways to assess. A maximum of 3 gateways can be assessed.",
          "$ref": "GoogleCloudApigeeV1BatchComputeSecurityAssessmentResultsRequestApiHubGatewayArray"
        }
      },
      "description": "Request for BatchComputeSecurityAssessmentResults.",
      "type": "object"
    },
    "GoogleCloudApigeeV1ApiSecurityRuntimeConfig": {
      "id": "GoogleCloudApigeeV1ApiSecurityRuntimeConfig",
      "properties": {
        "revisionId": {
          "description": "Revision ID of the API Security Runtime configuration. The higher the value, the more recently the configuration was deployed.",
          "type": "string",
          "format": "int64"
        },
        "location": {
          "items": {
            "type": "string"
          },
          "description": "A list of up to 5 Cloud Storage Blobs that contain SecurityActions.",
          "type": "array"
        },
        "updateTime": {
          "description": "Time that the API Security Runtime configuration was updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Name of the environment API Security Runtime configuration resource. Format: `organizations/{org}/environments/{env}/apiSecurityRuntimeConfig`",
          "type": "string"
        },
[...]
