{
  "documentationLink": "https://cloud.google.com/apigee-api-management/",
  "name": "apigee",
  "discoveryVersion": "v1",
  "description": "Use the Apigee API to programmatically develop and manage APIs with a set of RESTful operations. Develop and secure API proxies, deploy and undeploy API proxy revisions, monitor APIs, configure environments, manage users, and more. Note: This product is available as a free trial for a time period of 60 days.",
  "servicePath": "",
  "resources": {
    "organizations": {
      "resources": {
        "apiproducts": {
          "resources": {
            "attributes": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/attributes",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.attributes.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attributes"
                  },
                  "description": "Lists all API product attributes."
                },
                "get": {
                  "description": "Gets the value of an API product attribute.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.attributes.get",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}"
                },
                "delete": {
                  "id": "apigee.organizations.apiproducts.attributes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$",
                      "description": "Required. Name of the API product attribute. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/attributes/{attribute}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "description": "Deletes an API product attribute."
                },
                "updateApiProductAttribute": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.attributes.updateApiProductAttribute",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes/{attributesId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1Attribute"
                  },
                  "description": "Updates the value of an API product attribute. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds."
                }
              }
            },
            "rateplans": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.rateplans.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "description": "Gets the details of a rate plan."
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.rateplans.update",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "description": "Required. Name of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "description": "Updates an existing rate plan.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  }
                },
                "delete": {
                  "description": "Deletes a rate plan.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. ID of the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}/rateplans/{rateplan}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+/rateplans/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans/{rateplansId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.rateplans.delete"
                },
                "create": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apiproducts.rateplans.create",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "description": "Required. Name of the API product that is associated with the rate plan. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/rateplans",
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "description": "Create a rate plan that is associated with an API product in an organization. Using rate plans, API product owners can monetize their API products by configuring one or more of the following: - Billing frequency - Initial setup fees for using an API product - Payment funding model (postpaid only) - Fixed recurring or consumption-based charges for using an API product - Revenue sharing with developer partners An API product can have multiple rate plans associated with it but *only one* rate plan can be active at any point of time. **Note: From the developer's perspective, they purchase API products not rate plans.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1RatePlan"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apiproducts.rateplans.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` Use `organizations/{org}/apiproducts/-` to return rate plans for all API products within the organization. If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                      "location": "path"
                    },
                    "count": {
                      "description": "Number of rate plans to return in the API call. Use with the `startKey` parameter to provide more targeted filtering. The maximum limit is 1000. Defaults to 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Name of the attribute used for sorting. Valid values include: * `name`: Name of the rate plan. * `state`: State of the rate plan (`DRAFT`, `PUBLISHED`). * `startTime`: Time when the rate plan becomes active. * `endTime`: Time when the rate plan expires. **Note**: Not supported by Apigee at this time.",
                      "type": "string"
                    },
                    "expand": {
                      "location": "query",
                      "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API. Defaults to `false`.",
                      "type": "boolean"
                    },
                    "startKey": {
                      "description": "Name of the rate plan from which to start displaying the list of rate plans. If omitted, the list starts from the first item. For example, to view the rate plans from 51-150, set the value of `startKey` to the name of the 51st rate plan and set the value of `count` to 100.",
                      "type": "string",
                      "location": "query"
                    },
                    "state": {
                      "description": "State of the rate plans (`DRAFT`, `PUBLISHED`) that you want to display.",
                      "type": "string",
                      "enum": [
                        "STATE_UNSPECIFIED",
                        "DRAFT",
                        "PUBLISHED"
                      ],
                      "enumDescriptions": [
                        "State of the rate plan is not specified.",
                        "Rate plan is in draft mode and only visible to API providers.",
                        "Rate plan is published and will become visible to developers for the configured duration (between `startTime` and `endTime`)."
                      ],
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/rateplans",
                  "path": "v1/{+parent}/rateplans",
                  "description": "Lists all the rate plans for an API product.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListRatePlansResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "move": {
              "path": "v1/{+name}:move",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}:move",
              "parameters": {
                "name": {
                  "description": "Required. API product to move in the following format: `organizations/{org}/apiproducts/{apiproduct}",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.apiproducts.move",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveApiProductRequest"
              },
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Moves an API product to a different space."
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Creates an API product in an organization. You create API products after you have proxied backend services using API proxies. An API product is a collection of API resources combined with quota settings and metadata that you can use to deliver customized and productized API bundles to your developer community. This metadata can include: - Scope - Environments - API proxies - Extensible profile API products enable you repackage APIs on the fly, without having to do any additional coding or configuration. Apigee recommends that you start with a simple API product including only required elements. You then provision credentials to apps to enable them to start testing your APIs. After you have authentication and authorization working against a simple API product, you can iterate to create finer-grained API products, defining different sets of API resources for each API product. **WARNING:** - If you don't specify an API proxy in the request body, *any* app associated with the product can make calls to *any* API in your entire organization. - If you don't specify an environment in the request body, the product allows access to all environments. For more information, see What is an API product?",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "path": "v1/{+parent}/apiproducts",
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. Name of the organization in which the API product will be created. Use the following structure in your request: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.apiproducts.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "list": {
              "id": "apigee.organizations.apiproducts.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts",
              "path": "v1/{+parent}/apiproducts",
              "parameters": {
                "startKey": {
                  "location": "query",
                  "description": "Gets a list of API products starting with a specific API product in the list. For example, if you're returning 50 API products at a time (using the `count` query parameter), you can view products 50-99 by entering the name of the 50th API product in the first API (without using `startKey`). Product name is case sensitive.",
                  "type": "string"
                },
                "attributename": {
                  "description": "Name of the attribute used to filter the search.",
                  "type": "string",
                  "location": "query"
                },
                "space": {
                  "location": "query",
                  "description": "Optional. The Space to list API products for. When none provided, all the spaces the user has list access, will be used implicitly, and the same following rules will apply. Can be used in conjunction with start_key, expand and count for paginated response. Composite queries with attributename and attributevalue are not supported yet.",
                  "type": "string"
                },
                "attributevalue": {
                  "description": "Value of the attribute used to filter the search.",
                  "type": "string",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization. Use the following structure in your request: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "count": {
                  "format": "int64",
                  "description": "Enter the number of API products you want returned in the API call. The limit is 1000.",
                  "type": "string",
                  "location": "query"
                },
                "expand": {
                  "description": "Flag that specifies whether to expand the results. Set to `true` to get expanded details about each API.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProductsResponse"
              },
              "description": "Lists all API product names for an organization. Filter the list by passing an `attributename` and `attibutevalue`. The maximum number of API products returned is 1000. You can paginate the list of API products returned using the `startKey` and `count` query parameters. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview)."
            },
            "delete": {
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "path": "v1/{+name}",
              "httpMethod": "DELETE",
              "id": "apigee.organizations.apiproducts.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Deletes an API product from an organization. Deleting an API product causes app requests to the resource URIs defined in the API product to fail. Ensure that you create a new API product to serve existing apps, unless your intention is to disable access to the resources defined in the API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Gets configuration details for an API product. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via the UI or the API. View the list of API products to verify the internal name.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apiproducts.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "update": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              },
              "description": "Updates an existing API product. You must include all required values, whether or not you are updating them, as well as any optional values that you are updating. The API product name required in the request URL is the internal name of the product, not the display name. While they may be the same, it depends on whether the API product was created via UI or API. View the list of API products to identify their internal names.",
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path.To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apiproducts.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProduct"
              }
            },
            "attributes": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "description": "Updates or creates API product attributes. This API **replaces** the current list of attributes with the attributes specified in the request body. In this way, you can update existing attributes, add new attributes, or delete existing attributes by omitting them from the request body. **Note**: OAuth access tokens and Key Management Service (KMS) entities (apps, developers, and API products) are cached for 180 seconds (current default). Any custom attributes associated with entities also get cached for at least 180 seconds after entity is accessed during runtime. In this case, the `ExpiresIn` element on the OAuthV2 policy won't be able to expire an access token in less than 180 seconds.",
              "id": "apigee.organizations.apiproducts.attributes",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Attributes"
              },
              "flatPath": "v1/organizations/{organizationsId}/apiproducts/{apiproductsId}/attributes",
              "path": "v1/{+name}/attributes",
              "parameters": {
                "name": {
                  "description": "Required. Name of the API product. Use the following structure in your request: `organizations/{org}/apiproducts/{apiproduct}` If the API Product resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apiproducts/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "dnsZones": {
          "methods": {
            "create": {
              "path": "v1/{+parent}/dnsZones",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones",
              "parameters": {
                "parent": {
                  "description": "Required. Organization where the DNS zone will be created.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "dnsZoneId": {
                  "location": "query",
                  "description": "Required. User assigned ID for this resource. Must be unique within the organization. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.dnsZones.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1DnsZone"
              },
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates a new DNS zone."
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListDnsZonesResponse"
              },
              "description": "Enumerates DNS zones that have been created but not yet deleted.",
              "path": "v1/{+parent}/dnsZones",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. Maximum number of DNS zones to return. If unspecified, at most 25 DNS zones will be returned.",
                  "type": "integer",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Name of the organization for which to list the DNS zones. Use the following structure in your request: `organizations/{org}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token, returned from a previous `ListDnsZones` call, that you can use to retrieve the next page.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.dnsZones.list",
              "httpMethod": "GET"
            },
            "get": {
              "response": {
                "$ref": "GoogleCloudApigeeV1DnsZone"
              },
              "description": "Fetches the representation of an existing DNS zone.",
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones/{dnsZonesId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the DNS zone to fetch. Use the following structure in your request: `organizations/{org}/dnsZones/{dns_zone}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/dnsZones/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.dnsZones.get",
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.dnsZones.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the DNS zone to delete. Use the following structure in your request: `organizations/{org}/dnsZones/{dns_zone}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/dnsZones/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/dnsZones/{dnsZonesId}",
              "description": "Deletes a previously created DNS zone.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        },
        "apis": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "id": "apigee.organizations.apis.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the API proxy in the following format: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "path": "v1/{+name}",
              "description": "Gets an API proxy including a list of existing revisions.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              }
            },
            "delete": {
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "description": "Required. Name of the API proxy in the following format: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.apis.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "description": "Deletes an API proxy and all associated endpoints, policies, resources, and revisions. The API proxy must be undeployed before you can delete it."
            },
            "patch": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "description": "Updates an existing API proxy.",
              "id": "apigee.organizations.apis.patch",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              },
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}",
              "path": "v1/{+name}",
              "parameters": {
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$",
                  "description": "Required. API proxy to update in the following format: `organizations/{org}/apis/{api}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
              },
              "description": "Creates an API proxy. The API proxy created will not be accessible at runtime until it is deployed to an environment. Create a new API proxy by setting the `name` query parameter to the name of the API proxy. Import an API proxy configuration bundle stored in zip format on your local machine to your organization by doing the following: * Set the `name` query parameter to the name of the API proxy. * Set the `action` query parameter to `import`. * Set the `Content-Type` header to `multipart/form-data`. * Pass as a file the name of API proxy configuration bundle stored in zip format on your local machine using the `file` form field. **Note**: To validate the API proxy configuration bundle only without importing it, set the `action` query parameter to `validate`. When importing an API proxy configuration bundle, if the API proxy does not exist, it will be created. If the API proxy exists, then a new revision is created. Invalid API proxy configurations are rejected, and a list of validation errors is returned to the client.",
              "id": "apigee.organizations.apis.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleApiHttpBody"
              },
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "path": "v1/{+parent}/apis",
              "parameters": {
                "action": {
                  "location": "query",
                  "description": "Action to perform when importing an API proxy configuration bundle. Set this parameter to one of the following values: * `import` to import the API proxy configuration bundle. * `validate` to validate the API proxy configuration bundle without importing it.",
                  "type": "string"
                },
                "space": {
                  "location": "query",
                  "description": "Optional. The ID of the space associated with this proxy. Any IAM policies applied to the space will affect access to this proxy. Note that this field is only respected when creating a new proxy. It has no effect when creating a new revision for an existing proxy.",
                  "type": "string"
                },
                "validate": {
                  "description": "Ignored. All uploads are validated regardless of the value of this field. Maintained for compatibility with Apigee Edge API.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in the following format: `organizations/{org}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "name": {
                  "location": "query",
                  "description": "Name of the API proxy. Restrict the characters used to: A-Za-z0-9._-",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "description": "Lists the names of all API proxies in an organization. The names returned correspond to the names defined in the configuration files for each API proxy. If the resource has the `space` attribute set, the response may not return all resources. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListApiProxiesResponse"
              },
              "httpMethod": "GET",
              "id": "apigee.organizations.apis.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "space": {
                  "location": "query",
                  "description": "Optional. The space ID to filter the list of proxies (optional). If unspecified, all proxies in the organization will be listed.",
                  "type": "string"
                },
                "includeMetaData": {
                  "description": "Flag that specifies whether to include API proxy metadata in the response.",
                  "type": "boolean",
                  "location": "query"
                },
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the organization in the following format: `organizations/{org}` If the resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "includeRevisions": {
                  "description": "Flag that specifies whether to include a list of revisions in the response.",
                  "type": "boolean",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis",
              "path": "v1/{+parent}/apis"
            },
            "move": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. API proxy to move in the following format: `organizations/{org}/apis/{api}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/apis/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}:move",
              "path": "v1/{+name}:move",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1MoveApiProxyRequest"
              },
              "id": "apigee.organizations.apis.move",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Moves an API proxy to a different space.",
              "response": {
                "$ref": "GoogleCloudApigeeV1ApiProxy"
              }
            }
          },
          "resources": {
            "deployments": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.deployments.list",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/deployments",
                  "parameters": {
                    "parent": {
                      "description": "Required. Name of the API proxy for which to return deployment information in the following format: `organizations/{org}/apis/{api}` If the API proxy resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                  },
                  "description": "Lists all deployments of an API proxy."
                }
              }
            },
            "keyvaluemaps": {
              "methods": {
                "create": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Creates a key value map in an API proxy.",
                  "path": "v1/{+parent}/keyvaluemaps",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$",
                      "description": "Required. Name of the environment in which to create the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.keyvaluemaps.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  }
                },
                "get": {
                  "description": "Get the key value map scoped to an organization, environment, or API proxy.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "httpMethod": "GET",
                  "id": "apigee.organizations.apis.keyvaluemaps.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "path": "v1/{+name}"
                },
                "update": {
                  "description": "Update the key value map scoped to an organization, environment, or API proxy.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                      "description": "Required. Scope as indicated by the URI in which to fetch the key value map. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.keyvaluemaps.update"
                },
                "delete": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1KeyValueMap"
                  },
                  "description": "Deletes a key value map from an API proxy.",
                  "id": "apigee.organizations.apis.keyvaluemaps.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the key value map. Use the following structure in your request: `organizations/{org}/apis/{api}/keyvaluemaps/{keyvaluemap}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "entries": {
                  "methods": {
                    "create": {
                      "description": "Creates key value entries in a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "path": "v1/{+parent}/entries"
                    },
                    "list": {
                      "description": "Lists key value entries for key values maps scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher.",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListKeyValueEntriesResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. Maximum number of key value entries to return. If unspecified, at most 100 entries will be returned.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "parent": {
                          "description": "Required. Scope as indicated by the URI in which to list key value maps. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. Page token. If provides, must be a valid key value entry returned from a previous call that can be used to retrieve the next page.",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/entries",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.list"
                    },
                    "get": {
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "description": "Required. Scope as indicated by the URI in which to fetch the key value map entry/value. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "description": "Get the key value entry value for a key value map scoped to an organization, environment, or API proxy. **Note**: Supported for Apigee hybrid 1.8.x and higher."
                    },
                    "delete": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "description": "Deletes a key value entry from a key value map scoped to an organization, environment, or API proxy. **Notes:** * After you delete the key value entry, the policy consuming the entry will continue to function with its cached values for a few minutes. This is expected behavior. * Supported for Apigee hybrid 1.8.x and higher.",
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.delete",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "DELETE",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. Scope as indicated by the URI in which to delete the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}/entries/{entry}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}/entries/{entry}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "update": {
                      "path": "v1/{+name}",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/keyvaluemaps/{keyvaluemapsId}/entries/{entriesId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Scope as indicated by the URI in which to create the key value map entry. Use **one** of the following structures in your request: * `organizations/{organization}/apis/{api}/keyvaluemaps/{keyvaluemap}`. * `organizations/{organization}/environments/{environment}/keyvaluemaps/{keyvaluemap}` * `organizations/{organization}/keyvaluemaps/{keyvaluemap}`. If the KeyValueMap is under an API Proxy resource that has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/keyvaluemaps/[^/]+/entries/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apigee.organizations.apis.keyvaluemaps.entries.update",
                      "httpMethod": "PUT",
                      "request": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "response": {
                        "$ref": "GoogleCloudApigeeV1KeyValueEntry"
                      },
                      "description": "Update key value entry scoped to an organization, environment, or API proxy for an existing key."
                    }
                  }
                }
              }
            },
            "revisions": {
              "methods": {
                "updateApiProxyRevision": {
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  },
                  "description": "Updates an existing API proxy revision by uploading the API proxy configuration bundle as a zip file from your local machine. You can update only API proxy revisions that have never been deployed. After deployment, an API proxy revision becomes immutable, even if it is undeployed. Set the `Content-Type` header to either `multipart/form-data` or `application/octet-stream`.",
                  "id": "apigee.organizations.apis.revisions.updateApiProxyRevision",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleApiHttpBody"
                  },
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision to update in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "validate": {
                      "location": "query",
                      "description": "Ignored. All uploads are validated regardless of the value of this field. Maintained for compatibility with Apigee Edge API.",
                      "type": "boolean"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "format": {
                      "description": "Format used when downloading the API proxy configuration revision. Set to `bundle` to download the API proxy configuration revision as a zip file.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.revisions.get",
                  "description": "Gets an API proxy revision. To download the API proxy configuration bundle for the specified revision as a zip file, set the `format` query parameter to `bundle`. If you are using curl, specify `-o filename.zip` to save the output to a file; otherwise, it displays to `stdout`. Then, develop the API proxy configuration locally and upload the updated API proxy configuration revision, as described in [updateApiProxyRevision](updateApiProxyRevision).",
                  "response": {
                    "$ref": "GoogleApiHttpBody"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.revisions.delete",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$",
                      "description": "Required. API proxy revision in the following format: `organizations/{org}/apis/{api}/revisions/{rev}` If the API Proxy resource has the `space` attribute set, IAM permissions are checked against the Space resource path. To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}",
                  "description": "Deletes an API proxy revision and all policies, resources, endpoints, and revisions associated with it. The API proxy revision must be undeployed before you can delete it.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ApiProxyRevision"
                  }
                }
              },
              "resources": {
                "deployments": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudApigeeV1ListDeploymentsResponse"
                      },
                      "description": "Lists all deployments of an API proxy revision.",
                      "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/revisions/{revisionsId}/deployments",
                      "path": "v1/{+parent}/deployments",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. Name of the API proxy revision for which to return deployment information in the following format: `organizations/{org}/apis/{api}/revisions/{rev}`. If the API proxy resource has the `space` attribute set, IAM permissions are checked differently . To learn more, read the [Apigee Spaces Overview](https://cloud.google.com/apigee/docs/api-platform/system-administration/spaces/apigee-spaces-overview).",
                          "required": true,
                          "type": "string",
                          "pattern": "^organizations/[^/]+/apis/[^/]+/revisions/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apigee.organizations.apis.revisions.deployments.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            },
            "debugsessions": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/debugsessions",
                  "flatPath": "v1/organizations/{organizationsId}/apis/{apisId}/debugsessions",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the API Proxy for which to list debug sessions. Must be of the form: `organizations/{organization}/apis/{api}`.",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/apis/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. Page token, returned from a previous ListApiDebugSessions call, that you can use to retrieve the next page.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Maximum number of debug sessions to return. The page size defaults to 25.",
                      "type": "integer"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.apis.debugsessions.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ListApiDebugSessionsResponse"
                  },
                  "description": "Lists debug sessions that are currently active in the given API Proxy."
                }
              }
            }
          }
        },
        "endpointAttachments": {
          "methods": {
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.endpointAttachments.create",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "path": "v1/{+parent}/endpointAttachments",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments",
              "parameters": {
                "parent": {
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Organization the endpoint attachment will be created in.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "endpointAttachmentId": {
                  "description": "ID to use for the endpoint attachment. ID must start with a lowercase letter followed by up to 31 lowercase letters, numbers, or hyphens, and cannot end with a hyphen. The minimum length is 2.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "description": "Creates an endpoint attachment. **Note:** Not supported for Apigee hybrid."
            },
            "list": {
              "path": "v1/{+parent}/endpointAttachments",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments",
              "parameters": {
                "parent": {
                  "description": "Required. Name of the organization for which to list endpoint attachments. Use the following structure in your request: `organizations/{org}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. Page token, returned from a previous `ListEndpointAttachments` call, that you can use to retrieve the next page.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "Optional. Maximum number of endpoint attachments to return. If unspecified, at most 25 attachments will be returned.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.endpointAttachments.list",
              "httpMethod": "GET",
              "response": {
                "$ref": "GoogleCloudApigeeV1ListEndpointAttachmentsResponse"
              },
              "description": "Lists the endpoint attachments in an organization."
            },
            "get": {
              "description": "Gets the endpoint attachment.",
              "response": {
                "$ref": "GoogleCloudApigeeV1EndpointAttachment"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "id": "apigee.organizations.endpointAttachments.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.endpointAttachments.delete",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/endpointAttachments/[^/]+$",
                  "description": "Required. Name of the endpoint attachment. Use the following structure in your request: `organizations/{org}/endpointAttachments/{endpoint_attachment}`",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/endpointAttachments/{endpointAttachmentsId}",
              "description": "Deletes an endpoint attachment.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              }
            }
          }
        },
        "securityProfiles": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.patch",
              "parameters": {
                "name": {
                  "description": "Immutable. Name of the security profile resource. Format: organizations/{org}/securityProfiles/{profile}",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "description": "UpdateSecurityProfile update the metadata of security profile.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              }
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "apigee.organizations.securityProfiles.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                  "description": "Required. Name of profile. Format: organizations/{org}/securityProfiles/{profile}",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}",
              "path": "v1/{+name}",
              "description": "DeleteSecurityProfile delete a profile with all its revisions.",
              "response": {
                "$ref": "GoogleProtobufEmpty"
              }
            },
            "get": {
              "description": "GetSecurityProfile gets the specified security profile. Returns NOT_FOUND if security profile is not present for the specified organization.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. Security profile in the following format: `organizations/{org}/securityProfiles/{profile}'. Profile may optionally contain revision ID. If revision ID is not provided, the response will contain latest revision by default. Example: organizations/testOrg/securityProfiles/testProfile@5",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}"
            },
            "list": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfilesResponse"
              },
              "description": "ListSecurityProfiles lists all the security profiles associated with the org including attached and unattached profiles.",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "path": "v1/{+parent}/securityProfiles",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of profiles to return. The service may return fewer than this value. If unspecified, at most 50 profiles will be returned.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. For a specific organization, list of all the security profiles. Format: `organizations/{org}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$",
                  "location": "path"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfiles` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "id": "apigee.organizations.securityProfiles.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "listRevisions": {
              "response": {
                "$ref": "GoogleCloudApigeeV1ListSecurityProfileRevisionsResponse"
              },
              "description": "ListSecurityProfileRevisions lists all the revisions of the security profile.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apigee.organizations.securityProfiles.listRevisions",
              "httpMethod": "GET",
              "path": "v1/{+name}:listRevisions",
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}:listRevisions",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. For a specific profile, list all the revisions. Format: `organizations/{org}/securityProfiles/{profile}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$"
                },
                "pageToken": {
                  "description": "A page token, received from a previous `ListSecurityProfileRevisions` call. Provide this to retrieve the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of profile revisions to return. The service may return fewer than this value. If unspecified, at most 50 revisions will be returned.",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "description": "CreateSecurityProfile create a new custom security profile.",
              "response": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "parameters": {
                "securityProfileId": {
                  "location": "query",
                  "description": "Required. The ID to use for the SecurityProfile, which will become the final component of the action's resource name. This value should be 1-63 characters and validated by \"(^[a-z]([a-z0-9-]{0,61}[a-z0-9])?$)\".",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. Name of organization. Format: organizations/{org}",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+$"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/organizations/{organizationsId}/securityProfiles",
              "path": "v1/{+parent}/securityProfiles",
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1SecurityProfile"
              },
              "id": "apigee.organizations.securityProfiles.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "environments": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/environments",
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+$",
                      "description": "Required. Name of organization and security profile ID. Format: organizations/{org}/securityProfiles/{profile}",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.securityProfiles.environments.create",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "response": {
                    "$ref": "GoogleCloudApigeeV1SecurityProfileEnvironmentAssociation"
                  },
                  "description": "CreateSecurityProfileEnvironmentAssociation creates profile environment association i.e. attaches environment to security profile."
                },
                "delete": {
                  "description": "DeleteSecurityProfileEnvironmentAssociation removes profile environment association i.e. detaches environment from security profile.",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apigee.organizations.securityProfiles.environments.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the environment attachment to delete. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}"
                },
                "computeEnvironmentScores": {
                  "description": "ComputeEnvironmentScores calculates scores for requested time range for the specified security profile and environment.",
                  "response": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresResponse"
                  },
                  "parameters": {
                    "profileEnvironment": {
                      "location": "path",
                      "description": "Required. Name of organization and environment and profile id for which score needs to be computed. Format: organizations/{org}/securityProfiles/{profile}/environments/{env}",
                      "required": true,
                      "type": "string",
                      "pattern": "^organizations/[^/]+/securityProfiles/[^/]+/environments/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "profileEnvironment"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/securityProfiles/{securityProfilesId}/environments/{environmentsId}:computeEnvironmentScores",
                  "path": "v1/{+profileEnvironment}:computeEnvironmentScores",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudApigeeV1ComputeEnvironmentScoresRequest"
                  },
                  "id": "apigee.organizations.securityProfiles.environments.computeEnvironmentScores",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "developers": {
          "methods": {
            "create": {
              "response": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "description": "Creates a developer. Once created, the developer can register an app and obtain an API key. At creation time, a developer is set as `active`. To change the developer status, use the SetDeveloperStatus API.",
              "id": "apigee.organizations.developers.create",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "GoogleCloudApigeeV1Developer"
              },
              "flatPath": "v1/organizations/{organizationsId}/developers",
              "path": "v1/{+parent}/developers",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^organizations/[^/]+$",
                  "description": "Required. Name of the Apigee organization in which the developer is created. Use the following structure in your request: `organizations/{org}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "update": {
              "flatPath": "v1/organizations/{organizationsId}/developers/{developersId}",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Email address of the developer. Use the following structure in your request: `organizations/{org}/developers/{developer_email}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^organizations/[^/]+/developers/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "apigee.organizations.developers.update",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "PUT",
              "request": {
[...]
