{
  "revision": "20260425",
  "baseUrl": "https://apihub.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "endpoints": [
    {
      "endpointUrl": "https://apihub.asia-east1.rep.googleapis.com/",
      "location": "asia-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-southeast1",
      "endpointUrl": "https://apihub.asia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://apihub.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "endpointUrl": "https://apihub.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.europe-west9.rep.googleapis.com/",
      "location": "europe-west9",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://apihub.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://apihub.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west1",
      "endpointUrl": "https://apihub.us-west1.rep.googleapis.com/"
    }
  ],
  "documentationLink": "https://cloud.google.com/apigee/docs/api-hub/what-is-api-hub",
  "protocol": "rest",
  "basePath": "",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "title": "API hub API",
  "description": "",
  "id": "apihub:v1",
  "version_module": true,
  "name": "apihub",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "lookupRuntimeProjectAttachment": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apihub.projects.locations.lookupRuntimeProjectAttachment",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:lookupRuntimeProjectAttachment",
              "description": "Look up a runtime project attachment. This API can be called in the context of any project.",
              "response": {
                "$ref": "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse"
              },
              "path": "v1/{+name}:lookupRuntimeProjectAttachment",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Runtime project ID to look up runtime project attachment for. Lookup happens across all regions. Expected format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "list": {
              "id": "apihub.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                }
              },
              "httpMethod": "GET"
            },
            "get": {
              "description": "Gets information about a location.",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apihub.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "httpMethod": "GET"
            },
            "retrieveApiViews": {
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. A page token, received from a previous `RetrieveApiViews` call. Provide this to retrieve the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return. Default to 100.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "API_VIEW_TYPE_UNSPECIFIED",
                    "MCP_SERVER",
                    "MCP_TOOL"
                  ],
                  "description": "Required. The view type to return.",
                  "enumDescriptions": [
                    "The default view type.",
                    "The MCP server view in API hub.",
                    "The MCP tool view in API hub."
                  ],
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. The filter expression."
                }
              },
              "httpMethod": "GET",
              "path": "v1/{+parent}:retrieveApiViews",
              "parameterOrder": [
                "parent"
              ],
              "description": "Retrieve API views.",
              "response": {
                "$ref": "GoogleCloudApihubV1RetrieveApiViewsResponse"
              },
              "id": "apihub.projects.locations.retrieveApiViews",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveApiViews",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "searchResources": {
              "httpMethod": "POST",
              "parameters": {
                "location": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The resource name of the location which will be of the type `projects/{project_id}/locations/{location_id}`. This field is used to identify the instance of API-Hub in which resources should be searched.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apihub.projects.locations.searchResources",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchResources",
              "response": {
                "$ref": "GoogleCloudApihubV1SearchResourcesResponse"
              },
              "description": "Search across API-Hub resources.",
              "path": "v1/{+location}:searchResources",
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudApihubV1SearchResourcesRequest"
              }
            },
            "collectApiData": {
              "parameters": {
                "location": {
                  "type": "string",
                  "description": "Required. The regional location of the API hub instance and its resources. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "path": "v1/{+location}:collectApiData",
              "parameterOrder": [
                "location"
              ],
              "request": {
                "$ref": "GoogleCloudApihubV1CollectApiDataRequest"
              },
              "description": "Collect API data from a source and push it to Hub's collect layer.",
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apihub.projects.locations.collectApiData",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:collectApiData",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "apis": {
              "methods": {
                "list": {
                  "id": "apihub.projects.locations.apis.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apis",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List API resources in the API hub.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListApisResponse"
                  },
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListApis` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListApis` must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of API resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An expression that filters the list of ApiResources. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>`, `:` or `=`. Filters are not case sensitive. The following fields in the `ApiResource` are eligible for filtering: * `owner.email` - The email of the team which owns the ApiResource. Allowed comparison operators: `=`. * `create_time` - The time at which the ApiResource was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `display_name` - The display name of the ApiResource. Allowed comparison operators: `=`. * `target_user.enum_values.values.id` - The allowed value id of the target users attribute associated with the ApiResource. Allowed comparison operator is `:`. * `target_user.enum_values.values.display_name` - The allowed value display name of the target users attribute associated with the ApiResource. Allowed comparison operator is `:`. * `team.enum_values.values.id` - The allowed value id of the team attribute associated with the ApiResource. Allowed comparison operator is `:`. * `team.enum_values.values.display_name` - The allowed value display name of the team attribute associated with the ApiResource. Allowed comparison operator is `:`. * `business_unit.enum_values.values.id` - The allowed value id of the business unit attribute associated with the ApiResource. Allowed comparison operator is `:`. * `business_unit.enum_values.values.display_name` - The allowed value display name of the business unit attribute associated with the ApiResource. Allowed comparison operator is `:`. * `maturity_level.enum_values.values.id` - The allowed value id of the maturity level attribute associated with the ApiResource. Allowed comparison operator is `:`. * `maturity_level.enum_values.values.display_name` - The allowed value display name of the maturity level attribute associated with the ApiResource. Allowed comparison operator is `:`. * `api_style.enum_values.values.id` - The allowed value id of the api style attribute associated with the ApiResource. Allowed comparison operator is `:`. * `api_style.enum_values.values.display_name` - The allowed value display name of the api style attribute associated with the ApiResource. Allowed comparison operator is `:`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. A filter function is also supported in the filter string. The filter function is `id(name)`. The `id(name)` function returns the id of the resource name. For example, `id(name) = \\\"api-1\\\"` is equivalent to `name = \\\"projects/test-project-id/locations/test-location-id/apis/api-1\\\"` provided the parent is `projects/test-project-id/locations/test-location-id`. Another supported filter function is `plugins(source_metadata)`. This function filters for resources that are associated with a specific plugin. For example, `plugins(source_metadata) : \"projects/test-project-id/locations/test-location-id/plugins/test-plugin-id\"` will return resources sourced from the given plugin. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `owner.email = \\\"apihub@google.com\\\"` - - The owner team email is _apihub@google.com_. * `owner.email = \\\"apihub@google.com\\\" AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The owner team email is _apihub@google.com_ and the api was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `owner.email = \\\"apihub@google.com\\\" OR team.enum_values.values.id: apihub-team-id` - The filter string specifies the APIs where the owner team email is _apihub@google.com_ or the id of the allowed value associated with the team attribute is _apihub-team-id_. * `owner.email = \\\"apihub@google.com\\\" OR team.enum_values.values.display_name: ApiHub Team` - The filter string specifies the APIs where the owner team email is _apihub@google.com_ or the display name of the allowed value associated with the team attribute is `ApiHub Team`. * `owner.email = \\\"apihub@google.com\\\" AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.enum_values.values.id: test_enum_id AND attributes.projects/test-project-id/locations/test-location-id/ attributes/1765\\0f90-4a29-5431-b3d0-d5532da3764c.string_values.values: test_string_value` - The filter string specifies the APIs where the owner team email is _apihub@google.com_ and the id of the allowed value associated with the user defined attribute of type enum is _test_enum_id_ and the value of the user defined attribute of type string is _test_.."
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of API resources to return. The service may return fewer than this value. If unspecified, at most 50 Apis will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    }
                  },
                  "httpMethod": "GET"
                },
                "get": {
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the API resource to retrieve. Format: `projects/{project}/locations/{location}/apis/{api}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Api"
                  },
                  "description": "Get API resource details including the API versions contained in it.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.apis.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1Api"
                  },
                  "description": "Update an API resource in the API hub. The following fields in the API can be updated: * display_name * description * owner * documentation * target_user * team * business_unit * maturity_level * api_style * attributes * fingerprint The update_mask should be used to specify the fields being updated. Updating the owner field requires complete owner message and updates both owner and email fields.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Api"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.apis.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Identifier. The name of the API resource in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The list of fields to update."
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the API resource to delete. Format: `projects/{project}/locations/{location}/apis/{api}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. If set to true, any versions from this API will also be deleted. Otherwise, the request will only work if the API has no versions.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "id": "apihub.projects.locations.apis.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete an API resource in the API hub. API can only be deleted if all underlying versions are deleted."
                },
                "create": {
                  "id": "apihub.projects.locations.apis.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/apis",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Api"
                  },
                  "description": "Create an API resource in the API hub. Once an API resource is created, versions can be added to it.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Api"
                  },
                  "parameters": {
                    "apiId": {
                      "description": "Optional. The ID to use for the API resource, which will become the final component of the API's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another API resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource for the API resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "versions": {
                  "methods": {
                    "patch": {
                      "description": "Update API version. The following fields in the version can be updated currently: * display_name * description * documentation * deployments * lifecycle * compliance * accreditation * attributes The update_mask should be used to specify the fields being updated.",
                      "response": {
                        "$ref": "GoogleCloudApihubV1Version"
                      },
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApihubV1Version"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.apis.versions.patch",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Identifier. The name of the version. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                          "type": "string"
                        },
                        "updateMask": {
                          "type": "string",
                          "format": "google-fieldmask",
                          "location": "query",
                          "description": "Required. The list of fields to update."
                        }
                      },
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Get details about the API version of an API resource. This will include information about the specs and operations present in the API version as well as the deployments linked to it.",
                      "response": {
                        "$ref": "GoogleCloudApihubV1Version"
                      },
                      "id": "apihub.projects.locations.apis.versions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the API version to retrieve. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET"
                    },
                    "list": {
                      "id": "apihub.projects.locations.apis.versions.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApihubV1ListVersionsResponse"
                      },
                      "description": "List API versions of an API resource in the API hub.",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent which owns this collection of API versions i.e., the API resource Format: `projects/{project}/locations/{location}/apis/{api}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "description": "Optional. An expression that filters the list of Versions. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string, a number, or a boolean. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Version` are eligible for filtering: * `display_name` - The display name of the Version. Allowed comparison operators: `=`. * `create_time` - The time at which the Version was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `lifecycle.enum_values.values.id` - The allowed value id of the lifecycle attribute associated with the Version. Allowed comparison operators: `:`. * `lifecycle.enum_values.values.display_name` - The allowed value display name of the lifecycle attribute associated with the Version. Allowed comparison operators: `:`. * `compliance.enum_values.values.id` - The allowed value id of the compliances attribute associated with the Version. Allowed comparison operators: `:`. * `compliance.enum_values.values.display_name` - The allowed value display name of the compliances attribute associated with the Version. Allowed comparison operators: `:`. * `accreditation.enum_values.values.id` - The allowed value id of the accreditations attribute associated with the Version. Allowed comparison operators: `:`. * `accreditation.enum_values.values.display_name` - The allowed value display name of the accreditations attribute associated with the Version. Allowed comparison operators: `:`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `lifecycle.enum_values.values.id: preview-id` - The filter string specifies that the id of the allowed value associated with the lifecycle attribute of the Version is _preview-id_. * `lifecycle.enum_values.values.display_name: \\\"Preview Display Name\\\"` - The filter string specifies that the display name of the allowed value associated with the lifecycle attribute of the Version is `Preview Display Name`. * `lifecycle.enum_values.values.id: preview-id AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The id of the allowed value associated with the lifecycle attribute of the Version is _preview-id_ and it was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `compliance.enum_values.values.id: gdpr-id OR compliance.enum_values.values.id: pci-dss-id` - The id of the allowed value associated with the compliance attribute is _gdpr-id_ or _pci-dss-id_. * `lifecycle.enum_values.values.id: preview-id AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.string_values.values: test` - The filter string specifies that the id of the allowed value associated with the lifecycle attribute of the Version is _preview-id_ and the value of the user defined attribute of type string is _test_.",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. The maximum number of versions to return. The service may return fewer than this value. If unspecified, at most 50 versions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListVersions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource for API version. Format: `projects/{project}/locations/{location}/apis/{api}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+$"
                        },
                        "versionId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the API version, which will become the final component of the version's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another version in the API resource. * If not provided, a system generated id will be used. This value should be 4-500 characters, overall resource name which will be of format `projects/{project}/locations/{location}/apis/{api}/versions/{version}`, its length is limited to 700 characters and valid characters are /a-z[0-9]-_/.",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.apis.versions.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions",
                      "response": {
                        "$ref": "GoogleCloudApihubV1Version"
                      },
                      "description": "Create an API version for an API resource in the API hub.",
                      "path": "v1/{+parent}/versions",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GoogleCloudApihubV1Version"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The name of the version to delete. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$"
                        },
                        "force": {
                          "description": "Optional. If set to true, any specs from this version will also be deleted. Otherwise, the request will only work if the version has no specs.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apihub.projects.locations.apis.versions.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}",
                      "response": {
                        "$ref": "Empty"
                      },
                      "description": "Delete an API version. Version can only be deleted if all underlying specs, operations, definitions and linked deployments are deleted.",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  },
                  "resources": {
                    "definitions": {
                      "methods": {
                        "get": {
                          "id": "apihub.projects.locations.apis.versions.definitions.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/definitions/{definitionsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "description": "Get details about a definition in an API version.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1Definition"
                          },
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the definition to retrieve. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/definitions/{definition}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/definitions/[^/]+$",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        }
                      }
                    },
                    "operations": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent resource for the operation resource. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "apiOperationId": {
                              "description": "Optional. The ID to use for the operation resource, which will become the final component of the operation's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another operation resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, overall resource name which will be of format `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`, its length is limited to 700 characters, and valid characters are /a-z[0-9]-_/.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "id": "apihub.projects.locations.apis.versions.operations.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/operations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/operations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApihubV1ApiOperation"
                          },
                          "response": {
                            "$ref": "GoogleCloudApihubV1ApiOperation"
                          },
                          "description": "Create an apiOperation in an API version. An apiOperation can be created only if the version has no apiOperations which were created by parsing a spec."
                        },
                        "delete": {
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the operation resource to delete. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/operations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "description": "Delete an operation in an API version and we can delete only the operations created via create API. If the operation was created by parsing the spec, then it can be deleted by editing or deleting the spec.",
                          "id": "apihub.projects.locations.apis.versions.operations.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/operations/{operationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "patch": {
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Identifier. The name of the operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/operations/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "type": "string",
                              "description": "Required. The list of fields to update.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.operations.patch",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/operations/{operationsId}",
                          "response": {
                            "$ref": "GoogleCloudApihubV1ApiOperation"
                          },
                          "description": "Update an operation in an API version. The following fields in the ApiOperation resource can be updated: * details.description * details.documentation * details.http_operation.path * details.http_operation.method * details.deprecated * attributes * details.mcp_tool.title * details.mcp_tool.description * details.mcp_tool.input_schema * details.mcp_tool.output_schema * details.input_schema * details.output_schema * details.mcp_tool.annotations.title * details.mcp_tool.annotations.read_only_hint * details.mcp_tool.annotations.destructive_hint * details.mcp_tool.annotations.idempotent_hint * details.mcp_tool.annotations.open_world_hint * details.mcp_tool.annotations.additional_hints The update_mask should be used to specify the fields being updated. An operation can be updated only if the operation was created via CreateApiOperation API. If the operation was created by parsing the spec, then it can be edited by updating the spec.",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApihubV1ApiOperation"
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "GoogleCloudApihubV1ApiOperation"
                          },
                          "description": "Get details about a particular operation in API version.",
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.operations.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/operations/{operationsId}",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the operation to retrieve. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/operations/[^/]+$",
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent which owns this collection of operations i.e., the API version. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. An expression that filters the list of ApiOperations. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string or a boolean. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `ApiOperation` are eligible for filtering: * `name` - The ApiOperation resource name. Allowed comparison operators: `=`. * `details.http_operation.path.path` - The http operation's complete path relative to server endpoint. Allowed comparison operators: `=`. * `details.http_operation.method` - The http operation method type. Allowed comparison operators: `=`. * `details.deprecated` - Indicates if the ApiOperation is deprecated. Allowed values are True / False indicating the deprycation status of the ApiOperation. Allowed comparison operators: `=`. * `create_time` - The time at which the ApiOperation was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `details.deprecated = True` - The ApiOperation is deprecated. * `details.http_operation.method = GET AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The method of the http operation of the ApiOperation is _GET_ and the spec was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `details.http_operation.method = GET OR details.http_operation.method = POST`. - The http operation of the method of ApiOperation is _GET_ or _POST_. * `details.deprecated = True AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.string_values.values: test` - The filter string specifies that the ApiOperation is deprecated and the value of the user defined attribute of type string is _test_."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Optional. The maximum number of operations to return. The service may return fewer than this value. If unspecified, at most 50 operations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListApiOperations` must match the call that provided the page token."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.operations.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/operations",
                          "response": {
                            "$ref": "GoogleCloudApihubV1ListApiOperationsResponse"
                          },
                          "description": "List operations in an API version.",
                          "path": "v1/{+parent}/operations",
                          "parameterOrder": [
                            "parent"
                          ]
                        }
                      }
                    },
                    "specs": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent, which owns this collection of specs. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "description": "Optional. An expression that filters the list of Specs. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>`, `:` or `=`. Filters are not case sensitive. The following fields in the `Spec` are eligible for filtering: * `display_name` - The display name of the Spec. Allowed comparison operators: `=`. * `create_time` - The time at which the Spec was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `spec_type.enum_values.values.id` - The allowed value id of the spec_type attribute associated with the Spec. Allowed comparison operators: `:`. * `spec_type.enum_values.values.display_name` - The allowed value display name of the spec_type attribute associated with the Spec. Allowed comparison operators: `:`. * `lint_response.json_values.values` - The json value of the lint_response attribute associated with the Spec. Allowed comparison operators: `:`. * `mime_type` - The MIME type of the Spec. Allowed comparison operators: `=`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `spec_type.enum_values.values.id: rest-id` - The filter string specifies that the id of the allowed value associated with the spec_type attribute is _rest-id_. * `spec_type.enum_values.values.display_name: \\\"Rest Display Name\\\"` - The filter string specifies that the display name of the allowed value associated with the spec_type attribute is `Rest Display Name`. * `spec_type.enum_values.values.id: grpc-id AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The id of the allowed value associated with the spec_type attribute is _grpc-id_ and the spec was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `spec_type.enum_values.values.id: rest-id OR spec_type.enum_values.values.id: grpc-id` - The id of the allowed value associated with the spec_type attribute is _rest-id_ or _grpc-id_. * `spec_type.enum_values.values.id: rest-id AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.enum_values.values.id: test` - The filter string specifies that the id of the allowed value associated with the spec_type attribute is _rest-id_ and the id of the allowed value associated with the user defined attribute of type enum is _test_.",
                              "type": "string"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "location": "query",
                              "description": "Optional. The maximum number of specs to return. The service may return fewer than this value. If unspecified, at most 50 specs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListSpecs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListSpecs` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "id": "apihub.projects.locations.apis.versions.specs.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/specs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List specs corresponding to a particular API resource.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1ListSpecsResponse"
                          }
                        },
                        "get": {
                          "description": "Get details about the information parsed from a spec. Note that this method does not return the raw spec contents. Use GetSpecContents method to retrieve the same.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1Spec"
                          },
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.specs.get",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the spec to retrieve. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "patch": {
                          "id": "apihub.projects.locations.apis.versions.specs.patch",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApihubV1Spec"
                          },
                          "description": "Update spec. The following fields in the spec can be updated: * display_name * source_uri * lint_response * attributes * contents * spec_type In case of an OAS spec, updating spec contents can lead to: 1. Creation, deletion and update of operations. 2. Creation, deletion and update of definitions. 3. Update of other info parsed out from the new spec. In case of contents or source_uri being present in update mask, spec_type must also be present. Also, spec_type can not be present in update mask if contents or source_uri is not present. The update_mask should be used to specify the fields being updated.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1Spec"
                          },
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Identifier. The name of the spec. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "location": "query",
                              "description": "Required. The list of fields to update."
                            }
                          },
                          "httpMethod": "PATCH"
                        },
                        "lint": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.specs.lint",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:lint",
                          "description": "Lints the requested spec and updates the corresponding API Spec with the lint response. This lint response will be available in all subsequent Get and List Spec calls to Core service.",
                          "response": {
                            "$ref": "Empty"
                          },
                          "path": "v1/{+name}:lint",
                          "parameterOrder": [
                            "name"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApihubV1LintSpecRequest"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the spec to be linted. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "POST"
                        },
                        "fetchAdditionalSpecContent": {
                          "description": "Fetch additional spec content.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1FetchAdditionalSpecContentResponse"
                          },
                          "path": "v1/{+name}:fetchAdditionalSpecContent",
                          "parameterOrder": [
                            "name"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.specs.fetchAdditionalSpecContent",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:fetchAdditionalSpecContent",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "description": "Required. The name of the spec whose contents need to be retrieved. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "location": "path",
                              "required": true
                            },
                            "specContentType": {
                              "description": "Optional. The type of the spec contents to be retrieved.",
                              "enumDescriptions": [
                                "Unspecified spec content type. Defaults to spec content uploaded by the user.",
                                "The spec content type for boosted spec.",
                                "The spec content type for OpenAPI spec. This enum is used for OpenAPI specs ingested via APIGEE X Gateway."
                              ],
                              "location": "query",
                              "enum": [
                                "SPEC_CONTENT_TYPE_UNSPECIFIED",
                                "BOOSTED_SPEC_CONTENT",
                                "GATEWAY_OPEN_API_SPEC"
                              ],
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET"
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          },
                          "description": "Delete a spec. Deleting a spec will also delete the associated operations from the version.",
                          "id": "apihub.projects.locations.apis.versions.specs.delete",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. The name of the spec to delete. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$"
                            }
                          }
                        },
                        "getContents": {
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the spec whose contents need to be retrieved. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+/specs/[^/]+$",
                              "location": "path",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "apihub.projects.locations.apis.versions.specs.getContents",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs/{specsId}:contents",
                          "response": {
                            "$ref": "GoogleCloudApihubV1SpecContents"
                          },
                          "description": "Get spec contents.",
                          "path": "v1/{+name}:contents",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "create": {
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent resource for Spec. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
                              "pattern": "^projects/[^/]+/locations/[^/]+/apis/[^/]+/versions/[^/]+$",
                              "type": "string"
                            },
                            "specId": {
                              "type": "string",
                              "description": "Optional. The ID to use for the spec, which will become the final component of the spec's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another spec in the API resource. * If not provided, a system generated id will be used. This value should be 4-500 characters, overall resource name which will be of format `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`, its length is limited to 1000 characters and valid characters are /a-z[0-9]-_/.",
                              "location": "query"
                            }
                          },
                          "httpMethod": "POST",
                          "id": "apihub.projects.locations.apis.versions.specs.create",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apis/{apisId}/versions/{versionsId}/specs",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+parent}/specs",
                          "parameterOrder": [
                            "parent"
                          ],
                          "request": {
                            "$ref": "GoogleCloudApihubV1Spec"
                          },
                          "description": "Add a spec to an API version in the API hub. Multiple specs can be added to an API version. Note, while adding a spec, at least one of `contents` or `source_uri` must be provided. If `contents` is provided, then `spec_type` must also be provided. On adding a spec with contents to the version, the operations present in it will be added to the version.Note that the file contents in the spec should be of the same type as defined in the `projects/{project}/locations/{location}/attributes/system-spec-type` attribute associated with spec resource. Note that specs of various types can be uploaded, however parsing of details is supported for OpenAPI spec currently. In order to access the information parsed from the spec, use the GetSpec method. In order to access the raw contents for a particular spec, use the GetSpecContents method. In order to access the operations parsed from the spec, use the ListAPIOperations method.",
                          "response": {
                            "$ref": "GoogleCloudApihubV1Spec"
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "dependencies": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent which owns this collection of dependency resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "description": "Optional. An expression that filters the list of Dependencies. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. Allowed comparison operator is `=`. Filters are not case sensitive. The following fields in the `Dependency` are eligible for filtering: * `consumer.operation_resource_name` - The operation resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `consumer.external_api_resource_name` - The external api resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.operation_resource_name` - The operation resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.external_api_resource_name` - The external api resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. For example, `consumer.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\" OR supplier.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\"` - The dependencies with either consumer or supplier operation resource name as _projects/p1/locations/global/apis/a1/versions/v1/operations/o1_.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The maximum number of dependency resources to return. The service may return fewer than this value. If unspecified, at most 50 dependencies will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListDependencies` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDependencies` must match the call that provided the page token.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "id": "apihub.projects.locations.dependencies.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/dependencies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "List dependencies based on the provided filter and pagination parameters.",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDependenciesResponse"
                  }
                },
                "get": {
                  "id": "apihub.projects.locations.dependencies.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "description": "Get details about a dependency resource in the API hub.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the dependency resource to retrieve. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$"
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. The list of fields to update."
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "description": "Update a dependency based on the update_mask provided in the request. The following fields in the dependency can be updated: * description",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.dependencies.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Delete the dependency resource.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.dependencies.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the dependency resource to delete. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource for the dependency resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "dependencyId": {
                      "description": "Optional. The ID to use for the dependency resource, which will become the final component of the dependency's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if duplicate id is provided by the client. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are `a-z[0-9]-_`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "description": "Create a dependency between two entities in the API hub.",
                  "path": "v1/{+parent}/dependencies",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apihub.projects.locations.dependencies.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies"
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of deployment resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of Deployments. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Deployments` are eligible for filtering: * `display_name` - The display name of the Deployment. Allowed comparison operators: `=`. * `create_time` - The time at which the Deployment was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. * `resource_uri` - A URI to the deployment resource. Allowed comparison operators: `=`. * `api_versions` - The API versions linked to this deployment. Allowed comparison operators: `:`. * `source_project` - The project/organization at source for the deployment. Allowed comparison operators: `=`. * `source_environment` - The environment at source for the deployment. Allowed comparison operators: `=`. * `deployment_type.enum_values.values.id` - The allowed value id of the deployment_type attribute associated with the Deployment. Allowed comparison operators: `:`. * `deployment_type.enum_values.values.display_name` - The allowed value display name of the deployment_type attribute associated with the Deployment. Allowed comparison operators: `:`. * `slo.string_values.values` -The allowed string value of the slo attribute associated with the deployment. Allowed comparison operators: `:`. * `environment.enum_values.values.id` - The allowed value id of the environment attribute associated with the deployment. Allowed comparison operators: `:`. * `environment.enum_values.values.display_name` - The allowed value display name of the environment attribute associated with the deployment. Allowed comparison operators: `:`. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.id` - The allowed value id of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-id is a placeholder that can be replaced with any user defined enum attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.enum_values.values.display_name` - The allowed value display name of the user defined enum attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-enum-display-name is a placeholder that can be replaced with any user defined enum attribute enum name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.string_values.values` - The allowed value of the user defined string attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-string is a placeholder that can be replaced with any user defined string attribute name. * `attributes.projects/test-project-id/locations/test-location-id/ attributes/user-defined-attribute-id.json_values.values` - The allowed value of the user defined JSON attribute associated with the Resource. Allowed comparison operator is `:`. Here user-defined-attribute-json is a placeholder that can be replaced with any user defined JSON attribute name. A filter function is also supported in the filter string. The filter function is `id(name)`. The `id(name)` function returns the id of the resource name. For example, `id(name) = \\\"deployment-1\\\"` is equivalent to `name = \\\"projects/test-project-id/locations/test-location-id/deployments/deployment-1\\\"` provided the parent is `projects/test-project-id/locations/test-location-id`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `environment.enum_values.values.id: staging-id` - The allowed value id of the environment attribute associated with the Deployment is _staging-id_. * `environment.enum_values.values.display_name: \\\"Staging Deployment\\\"` - The allowed value display name of the environment attribute associated with the Deployment is `Staging Deployment`. * `environment.enum_values.values.id: production-id AND create_time < \\\"2021-08-15T14:50:00Z\\\" AND create_time > \\\"2021-08-10T12:00:00Z\\\"` - The allowed value id of the environment attribute associated with the Deployment is _production-id_ and Deployment was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `environment.enum_values.values.id: production-id OR slo.string_values.values: \\\"99.99%\\\"` - The allowed value id of the environment attribute Deployment is _production-id_ or string value of the slo attribute is _99.99%_. * `environment.enum_values.values.id: staging-id AND attributes.projects/test-project-id/locations/test-location-id/ attributes/17650f90-4a29-4971-b3c0-d5532da3764b.string_values.values: test` - The filter string specifies that the allowed value id of the environment attribute associated with the Deployment is _staging-id_ and the value of the user defined attribute of type string is _test_.",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of deployment resources to return. The service may return fewer than this value. If unspecified, at most 50 deployments will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
[...]
