{
  "version_module": true,
  "revision": "20260311",
  "title": "API hub API",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "id": "apihub:v1",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    },
    "GoogleCloudApihubV1StringAttributeValues": {
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Required. The attribute values in case attribute data type is string or JSON.",
          "type": "array"
        }
      },
      "description": "The attribute values of data type string or JSON.",
      "type": "object",
      "id": "GoogleCloudApihubV1StringAttributeValues"
    },
    "GoogleCloudApihubV1AllowedValue": {
      "description": "The value that can be assigned to the attribute when the data type is enum.",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. The detailed description of the allowed value.",
          "type": "string"
        },
        "id": {
          "description": "Required. The ID of the allowed value. * If provided, the same will be used. The service will throw an error if the specified id is already used by another allowed value in the same attribute resource. * If not provided, a system generated id derived from the display name will be used. In this case, the service will handle conflict resolution by adding a system generated suffix in case of duplicates. This value should be 4-63 characters, and valid characters are /a-z-/.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the allowed value.",
          "type": "string"
        },
        "immutable": {
          "description": "Optional. When set to true, the allowed value cannot be updated or deleted by the user. It can only be true for System defined attributes.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApihubV1AllowedValue"
    },
    "GoogleCloudApihubV1AdditionalSpecContent": {
      "id": "GoogleCloudApihubV1AdditionalSpecContent",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the spec content was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "specContentType": {
          "enumDescriptions": [
            "Unspecified spec content type. Defaults to spec content uploaded by the user.",
            "The spec content type for boosted spec.",
            "The spec content type for OpenAPI spec. This enum is used for OpenAPI specs ingested via APIGEE X Gateway."
          ],
          "enum": [
            "SPEC_CONTENT_TYPE_UNSPECIFIED",
            "BOOSTED_SPEC_CONTENT",
            "GATEWAY_OPEN_API_SPEC"
          ],
          "description": "Required. The type of the spec content.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the spec content was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels of the spec content e.g. specboost addon version.",
          "type": "object"
        },
        "specContents": {
          "description": "Optional. The additional spec contents.",
          "$ref": "GoogleCloudApihubV1SpecContents"
        }
      },
      "description": "The additional spec content for the spec. This contains the metadata and the last update time for the additional spec content.",
      "type": "object"
    },
    "GoogleCloudApihubV1ConfigVariable": {
      "id": "GoogleCloudApihubV1ConfigVariable",
      "description": "ConfigVariable represents a additional configuration variable present in a PluginInstance Config or AuthConfig, based on a ConfigVariableTemplate.",
      "type": "object",
      "properties": {
        "multiIntValues": {
          "description": "Optional. The config variable value in case of config variable of type multi integer.",
          "$ref": "GoogleCloudApihubV1MultiIntValues"
        },
        "boolValue": {
          "description": "Optional. The config variable value in case of config variable of type boolean.",
          "type": "boolean"
        },
        "secretValue": {
          "description": "Optional. The config variable value in case of config variable of type secret.",
          "$ref": "GoogleCloudApihubV1Secret"
        },
        "key": {
          "description": "Output only. Key will be the id to uniquely identify the config variable.",
          "type": "string",
          "readOnly": true
        },
        "multiStringValues": {
          "description": "Optional. The config variable value in case of config variable of type multi string.",
          "$ref": "GoogleCloudApihubV1MultiStringValues"
        },
        "stringValue": {
          "description": "Optional. The config variable value in case of config variable of type string.",
          "type": "string"
        },
        "enumValue": {
          "description": "Optional. The config variable value in case of config variable of type enum.",
          "$ref": "GoogleCloudApihubV1ConfigValueOption"
        },
        "multiSelectValues": {
          "description": "Optional. The config variable value in case of config variable of type multi select.",
          "$ref": "GoogleCloudApihubV1MultiSelectValues"
        },
        "intValue": {
          "description": "Optional. The config variable value in case of config variable of type integer.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GoogleCloudApihubV1Api": {
      "properties": {
        "businessUnit": {
          "description": "Optional. The business unit owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-business-unit` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "owner": {
          "description": "Optional. Owner details for the API resource.",
          "$ref": "GoogleCloudApihubV1Owner"
        },
        "team": {
          "description": "Optional. The team owning the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-team` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "apiRequirements": {
          "description": "Optional. The api requirement doc associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "apiFunctionalRequirements": {
          "description": "Optional. The api functional requirements associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-functional-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "name": {
          "description": "Identifier. The name of the API resource in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the API resource was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiStyle": {
          "description": "Optional. The style of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-style` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "displayName": {
          "description": "Required. The display name of the API resource.",
          "type": "string"
        },
        "selectedVersion": {
          "description": "Optional. The selected version for an API resource. This can be used when special handling is needed on client side for particular version of the API. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
          "type": "string"
        },
        "fingerprint": {
          "description": "Optional. Fingerprint of the API resource. This must be unique for each API resource. It can neither be unset nor be updated to an existing fingerprint of another API resource.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time at which the API resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. The description of the API resource.",
          "type": "string"
        },
        "maturityLevel": {
          "description": "Optional. The maturity level of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-maturity-level` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "documentation": {
          "description": "Optional. The documentation for the API resource.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "targetUser": {
          "description": "Optional. The target users for the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-target-user` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the API resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        },
        "apiTechnicalRequirements": {
          "description": "Optional. The api technical requirements associated with the API resource. Carinality is 1 for this attribute. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-api-technical-requirements` attribute. The value of the attribute should be a proper URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "versions": {
          "description": "Output only. The list of versions present in an API resource. Note: An API resource can be associated with more than 1 version. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "sourceMetadata": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "description": "Output only. The list of sources and metadata from the sources of the API resource.",
          "type": "array"
        }
      },
      "description": "An API resource in the API Hub.",
      "type": "object",
      "id": "GoogleCloudApihubV1Api"
    },
    "GoogleCloudApihubV1Path": {
      "properties": {
        "path": {
          "description": "Optional. Complete path relative to server endpoint. Note: Even though this field is optional, it is required for CreateApiOperation API and we will fail the request if not provided.",
          "type": "string"
        },
        "description": {
          "description": "Optional. A short description for the path applicable to all operations.",
          "type": "string"
        }
      },
      "description": "The path details derived from the spec.",
      "type": "object",
      "id": "GoogleCloudApihubV1Path"
    },
    "GoogleCloudApihubV1SearchResourcesResponse": {
      "id": "GoogleCloudApihubV1SearchResourcesResponse",
      "description": "Response for the SearchResources method.",
      "type": "object",
      "properties": {
        "searchResults": {
          "items": {
            "$ref": "GoogleCloudApihubV1SearchResult"
          },
          "description": "List of search results according to the filter and search query specified. The order of search results represents the ranking.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Pass this token in the SearchResourcesRequest to continue to list results. If all results have been returned, this field is an empty string or not present in the response.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1AttributeValues": {
      "id": "GoogleCloudApihubV1AttributeValues",
      "description": "The attribute values associated with resource.",
      "type": "object",
      "properties": {
        "enumValues": {
          "description": "The attribute values associated with a resource in case attribute data type is enum.",
          "$ref": "GoogleCloudApihubV1EnumAttributeValues"
        },
        "jsonValues": {
          "description": "The attribute values associated with a resource in case attribute data type is JSON.",
          "$ref": "GoogleCloudApihubV1StringAttributeValues"
        },
        "attribute": {
          "readOnly": true,
          "description": "Output only. The name of the attribute. Format: projects/{project}/locations/{location}/attributes/{attribute}",
          "type": "string"
        },
        "stringValues": {
          "description": "The attribute values associated with a resource in case attribute data type is string.",
          "$ref": "GoogleCloudApihubV1StringAttributeValues"
        },
        "uriValues": {
          "description": "The attribute values associated with a resource in case attribute data type is URL, URI or IP, like gs://bucket-name/object-name.",
          "$ref": "GoogleCloudApihubV1StringAttributeValues"
        }
      }
    },
    "GoogleCloudApihubV1AuthConfigTemplate": {
      "id": "GoogleCloudApihubV1AuthConfigTemplate",
      "description": "AuthConfigTemplate represents the authentication template for a plugin.",
      "type": "object",
      "properties": {
        "supportedAuthTypes": {
          "items": {
            "enumDescriptions": [
              "Authentication type not specified.",
              "No authentication.",
              "Google service account authentication.",
              "Username and password authentication.",
              "API Key authentication.",
              "Oauth 2.0 client credentials grant authentication."
            ],
            "enum": [
              "AUTH_TYPE_UNSPECIFIED",
              "NO_AUTH",
              "GOOGLE_SERVICE_ACCOUNT",
              "USER_PASSWORD",
              "API_KEY",
              "OAUTH2_CLIENT_CREDENTIALS"
            ],
            "type": "string"
          },
          "description": "Required. The list of authentication types supported by the plugin.",
          "type": "array"
        },
        "serviceAccount": {
          "description": "Optional. The service account of the plugin hosting service. This service account should be granted the required permissions on the Auth Config parameters provided while creating the plugin instances corresponding to this plugin. For example, if the plugin instance auth config requires a secret manager secret, the service account should be granted the secretmanager.versions.access permission on the corresponding secret, if the plugin instance auth config contains a service account, the service account should be granted the iam.serviceAccounts.getAccessToken permission on the corresponding service account.",
          "$ref": "GoogleCloudApihubV1GoogleServiceAccountConfig"
        }
      }
    },
    "GoogleCloudApihubV1OperationDetails": {
      "description": "The operation details parsed from the spec.",
      "type": "object",
      "properties": {
        "documentation": {
          "description": "Optional. Additional external documentation for this operation. For OpenAPI spec, this will map to `operation.documentation` in the spec.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "description": {
          "description": "Optional. Description of the operation behavior. For OpenAPI spec, this will map to `operation.description` in the spec, in case description is empty, `operation.summary` will be used.",
          "type": "string"
        },
        "mcpTool": {
          "description": "The MCP Tool Operation.",
          "$ref": "GoogleCloudApihubV1McpTool"
        },
        "httpOperation": {
          "description": "The HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        },
        "deprecated": {
          "description": "Optional. For OpenAPI spec, this will be set if `operation.deprecated`is marked as `true` in the spec.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudApihubV1OperationDetails"
    },
    "GoogleCloudApihubV1ListPluginInstancesResponse": {
      "id": "GoogleCloudApihubV1ListPluginInstancesResponse",
      "properties": {
        "pluginInstances": {
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstance"
          },
          "description": "The plugin instances from the specified parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The ListPluginInstances method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1Version": {
      "id": "GoogleCloudApihubV1Version",
      "description": "Represents a version of the API resource in API hub. This is also referred to as the API version.",
      "type": "object",
      "properties": {
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        },
        "description": {
          "description": "Optional. The description of the version.",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. The documentation of the version.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "createTime": {
          "description": "Output only. The time at which the version was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceMetadata": {
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "readOnly": true,
          "description": "Output only. The list of sources and metadata from the sources of the version.",
          "type": "array"
        },
        "apiOperations": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The operations contained in the API version. These operations will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "array"
        },
        "definitions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The definitions contained in the API version. These definitions will be added to the version when a new spec is added or when an existing spec is updated. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/definitions/{definition}`",
          "type": "array"
        },
        "specs": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The specs associated with this version. Note that an API version can be associated with multiple specs. Format is `projects/{project}/locations/{location}/apis/{api}/versions/{version}/specs/{spec}`",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the version. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the version was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "deployments": {
          "description": "Optional. The deployments linked to this API version. Note: A particular API version could be deployed to multiple deployments (for dev deployment, UAT deployment, etc) Format is `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lifecycle": {
          "description": "Optional. The lifecycle of the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-lifecycle` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "selectedDeployment": {
          "description": "Optional. The selected deployment for a Version resource. This can be used when special handling is needed on client side for a particular deployment linked to the version. Format is `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the version.",
          "type": "string"
        },
        "compliance": {
          "description": "Optional. The compliance associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-compliance` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "accreditation": {
          "description": "Optional. The accreditations associated with the API version. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-accreditation` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      }
    },
    "GoogleCloudApihubV1CollectApiDataRequest": {
      "id": "GoogleCloudApihubV1CollectApiDataRequest",
      "properties": {
        "actionId": {
          "description": "Required. The action ID to be used for collecting the API data. This should map to one of the action IDs specified in action configs in the plugin.",
          "type": "string"
        },
        "collectionType": {
          "enumDescriptions": [
            "The default value. This value is used if the collection type is omitted.",
            "The collection type is upsert. This should be used when an API is created or updated at the source.",
            "The collection type is delete. This should be used when an API is deleted at the source."
          ],
          "enum": [
            "COLLECTION_TYPE_UNSPECIFIED",
            "COLLECTION_TYPE_UPSERT",
            "COLLECTION_TYPE_DELETE"
          ],
          "description": "Required. The type of collection. Applies to all entries in api_data.",
          "type": "string"
        },
        "pluginInstance": {
          "description": "Required. The plugin instance collecting the API data. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`.",
          "type": "string"
        },
        "apiData": {
          "description": "Required. The API data to be collected.",
          "$ref": "GoogleCloudApihubV1ApiData"
        }
      },
      "description": "The CollectApiData method's request.",
      "type": "object"
    },
    "GoogleCloudApihubV1AllDataAddonConfig": {
      "properties": {
        "enabled": {
          "description": "Required. If true, the addon is enabled for all data in the API hub.",
          "type": "boolean"
        }
      },
      "description": "Configuration for addons which act on all data in the API hub. This is used to specify if the addon is enabled for all data in the API hub.",
      "type": "object",
      "id": "GoogleCloudApihubV1AllDataAddonConfig"
    },
    "GoogleCloudLocationListLocationsResponse": {
      "id": "GoogleCloudLocationListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudLocationLocation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1MultiStringValues": {
      "properties": {
        "values": {
          "description": "Optional. The config variable value of data type multi string.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The config variable value of data type multi string.",
      "type": "object",
      "id": "GoogleCloudApihubV1MultiStringValues"
    },
    "GoogleCloudApihubV1DisablePluginInstanceActionRequest": {
      "id": "GoogleCloudApihubV1DisablePluginInstanceActionRequest",
      "properties": {
        "actionId": {
          "description": "Required. The action id to disable.",
          "type": "string"
        }
      },
      "description": "The DisablePluginInstanceAction method's request.",
      "type": "object"
    },
    "GoogleCloudApihubV1EnablePluginInstanceActionRequest": {
      "id": "GoogleCloudApihubV1EnablePluginInstanceActionRequest",
      "properties": {
        "actionId": {
          "description": "Required. The action id to enable.",
          "type": "string"
        }
      },
      "description": "The EnablePluginInstanceAction method's request.",
      "type": "object"
    },
    "GoogleCloudApihubV1MatchResult": {
      "id": "GoogleCloudApihubV1MatchResult",
      "description": "MatchResult represents the result of matching a discovered API operation with a catalog API operation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the matched API Operation. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "GoogleCloudApihubV1Issue": {
      "id": "GoogleCloudApihubV1Issue",
      "description": "Issue contains the details of a single issue found by the linter.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. Severity level of the rule violation.",
          "type": "string",
          "enumDescriptions": [
            "Severity unspecified.",
            "Severity error.",
            "Severity warning.",
            "Severity info.",
            "Severity hint."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "SEVERITY_ERROR",
            "SEVERITY_WARNING",
            "SEVERITY_INFO",
            "SEVERITY_HINT"
          ]
        },
        "message": {
          "description": "Required. Human-readable message describing the issue found by the linter.",
          "type": "string"
        },
        "range": {
          "description": "Required. Object describing where in the file the issue was found.",
          "$ref": "GoogleCloudApihubV1Range"
        },
        "path": {
          "items": {
            "type": "string"
          },
          "description": "Required. An array of strings indicating the location in the analyzed document where the rule was triggered.",
          "type": "array"
        },
        "code": {
          "description": "Required. Rule code unique to each rule defined in linter.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1APIMetadata": {
      "description": "The API metadata.",
      "type": "object",
      "properties": {
        "originalId": {
          "description": "Optional. The unique identifier of the API in the system where it was originally created.",
          "type": "string"
        },
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the API was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalCreateTime": {
          "description": "Optional. Timestamp indicating when the API was created at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "versions": {
          "description": "Optional. The list of versions present in an API resource.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1VersionMetadata"
          }
        },
        "api": {
          "description": "Required. The API resource to be pushed to Hub's collect layer. The ID of the API resource will be generated by Hub to ensure uniqueness across all APIs across systems.",
          "$ref": "GoogleCloudApihubV1Api"
        }
      },
      "id": "GoogleCloudApihubV1APIMetadata"
    },
    "GoogleCloudApihubV1ListDeploymentsResponse": {
      "id": "GoogleCloudApihubV1ListDeploymentsResponse",
      "description": "The ListDeployments method's response.",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The deployment resources present in the API hub.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Deployment"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1ExternalApi": {
      "id": "GoogleCloudApihubV1ExternalApi",
      "properties": {
        "displayName": {
          "description": "Required. Display name of the external API. Max length is 63 characters (Unicode Code Points).",
          "type": "string"
        },
        "endpoints": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of endpoints on which this API is accessible.",
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "paths": {
          "description": "Optional. List of paths served by this API.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "documentation": {
          "description": "Optional. Documentation of the external API.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "description": {
          "description": "Optional. Description of the external API. Max length is 2000 characters (Unicode Code Points).",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Format: `projects/{project}/locations/{location}/externalApi/{externalApi}`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the Version resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        }
      },
      "description": "An external API represents an API being provided by external sources. This can be used to model third-party APIs and can be used to define dependencies.",
      "type": "object"
    },
    "GoogleCloudApihubV1ToolAnnotations": {
      "properties": {
        "readOnlyHint": {
          "description": "Optional. Hint indicating if the tool is read-only.",
          "type": "boolean"
        },
        "idempotentHint": {
          "description": "Optional. Hint indicating if the tool is idempotent.",
          "type": "boolean"
        },
        "title": {
          "description": "Optional. A human-readable title for the tool (if different from Tool.title).",
          "type": "string"
        },
        "destructiveHint": {
          "description": "Optional. Hint indicating if the tool may have destructive side effects.",
          "type": "boolean"
        },
        "additionalHints": {
          "description": "Optional. Additional hints which may help tools and not covered in defaults.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "openWorldHint": {
          "description": "Optional. Hint indicating if the tool interacts with the open world (e.g., internet).",
          "type": "boolean"
        }
      },
      "description": "Annotations for a Tool.",
      "type": "object",
      "id": "GoogleCloudApihubV1ToolAnnotations"
    },
    "GoogleCloudApihubV1Header": {
      "id": "GoogleCloudApihubV1Header",
      "description": "An aggregation of HTTP header occurrences.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of this Header across transactions.",
          "type": "string",
          "format": "int64"
        },
        "dataType": {
          "description": "Data type of header",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      }
    },
    "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse": {
      "description": "The ListRuntimeProjectAttachments method's response.",
      "type": "object",
      "properties": {
        "runtimeProjectAttachment": {
          "description": "Runtime project attachment for a project if exists, empty otherwise.",
          "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
        }
      },
      "id": "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse"
    },
    "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails": {
      "id": "GoogleCloudApihubV1ApplicationIntegrationEndpointDetails",
      "properties": {
        "uri": {
          "description": "Required. The endpoint URI should be a valid REST URI for triggering an Application Integration. Format: `https://integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute` or `https://{location}-integrations.googleapis.com/v1/{name=projects/*/locations/*/integrations/*}:execute`",
          "type": "string"
        },
        "triggerId": {
          "description": "Required. The API trigger ID of the Application Integration workflow.",
          "type": "string"
        }
      },
      "description": "The details of the Application Integration endpoint to be triggered for curation.",
      "type": "object"
    },
    "GoogleCloudApihubV1HttpOperationDetails": {
      "properties": {
        "request": {
          "description": "Optional. Request metadata.",
          "$ref": "GoogleCloudApihubV1HttpRequest"
        },
        "response": {
          "description": "Optional. Response metadata.",
          "$ref": "GoogleCloudApihubV1HttpResponse"
        },
        "httpOperation": {
          "description": "Required. An HTTP Operation.",
          "$ref": "GoogleCloudApihubV1HttpOperation"
        },
        "pathParams": {
          "description": "Optional. Path params of HttpOperation",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1PathParam"
          }
        },
        "queryParams": {
          "description": "Optional. Query params of HttpOperation",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1QueryParam"
          }
        }
      },
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "type": "object",
      "id": "GoogleCloudApihubV1HttpOperationDetails"
    },
    "GoogleCloudApihubV1Secret": {
      "description": "Secret provides a reference to entries in Secret Manager.",
      "type": "object",
      "properties": {
        "secretVersion": {
          "description": "Required. The resource name of the secret version in the format, format as: `projects/*/secrets/*/versions/*`.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1Secret"
    },
    "GoogleCloudApihubV1GoogleServiceAccountConfig": {
      "id": "GoogleCloudApihubV1GoogleServiceAccountConfig",
      "properties": {
        "serviceAccount": {
          "description": "Required. The service account to be used for authenticating request. The `iam.serviceAccounts.getAccessToken` permission should be granted on this service account to the impersonator service account.",
          "type": "string"
        }
      },
      "description": "Config for Google service account authentication.",
      "type": "object"
    },
    "GoogleCloudApihubV1McpTool": {
      "description": "Details describing an MCP Tool.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the tool, unique within its parent scope (version).",
          "type": "string"
        },
        "annotations": {
          "description": "Optional. Optional annotations for the tool.",
          "$ref": "GoogleCloudApihubV1ToolAnnotations"
        },
        "description": {
          "description": "Optional. Description of what the tool does.",
          "type": "string"
        },
        "inputSchema": {
          "description": "Optional. Input schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        },
        "title": {
          "description": "Optional. Optional title for the tool.",
          "type": "string"
        },
        "outputSchema": {
          "description": "Optional. Output schema for the operation. This can be parsed only from MCP schema type.",
          "$ref": "GoogleCloudApihubV1OperationSchema"
        }
      },
      "id": "GoogleCloudApihubV1McpTool"
    },
    "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView": {
      "properties": {
        "apiOperation": {
          "description": "Optional. The API operation.",
          "$ref": "GoogleCloudApihubV1ApiOperation"
        },
        "deployment": {
          "description": "Optional. The deployment.",
          "$ref": "GoogleCloudApihubV1Deployment"
        },
        "api": {
          "description": "Optional. The API.",
          "$ref": "GoogleCloudApihubV1Api"
        },
        "version": {
          "description": "Optional. The version.",
          "$ref": "GoogleCloudApihubV1Version"
        }
      },
      "description": "A flattened view of an API, its version, one of its operations and one of the linked deployments. If there are no deployments linked to the operation then the result will be empty.",
      "type": "object",
      "id": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView"
    },
    "GoogleCloudApihubV1ApiData": {
      "id": "GoogleCloudApihubV1ApiData",
      "description": "The API data to be collected.",
      "type": "object",
      "properties": {
        "apiMetadataList": {
          "description": "Optional. The list of API metadata.",
          "$ref": "GoogleCloudApihubV1ApiMetadataList"
        }
      }
    },
    "GoogleCloudApihubV1PathParam": {
      "id": "GoogleCloudApihubV1PathParam",
      "properties": {
        "position": {
          "description": "Optional. Segment location in the path, 1-indexed",
          "type": "integer",
          "format": "int32"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Optional. Data type of path param",
          "type": "string"
        }
      },
      "description": "HTTP Path parameter.",
      "type": "object"
    },
    "GoogleCloudCommonOperationMetadata": {
      "properties": {
        "cancelRequested": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "statusDetail": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "GoogleCloudCommonOperationMetadata"
    },
    "GoogleCloudApihubV1Config": {
      "id": "GoogleCloudApihubV1Config",
      "description": "Available configurations to provision an ApiHub Instance.",
      "type": "object",
      "properties": {
        "vertexLocation": {
          "description": "Optional. The name of the Vertex AI location where the data store is stored.",
          "type": "string"
        },
        "encryptionType": {
          "description": "Optional. Encryption type for the region. If the encryption type is CMEK, the cmek_key_name must be provided. If no encryption type is provided, GMEK will be used.",
          "type": "string",
          "enumDescriptions": [
            "Encryption type unspecified.",
            "Default encryption using Google managed encryption key.",
            "Encryption using customer managed encryption key."
          ],
          "enum": [
            "ENCRYPTION_TYPE_UNSPECIFIED",
            "GMEK",
            "CMEK"
          ]
        },
        "cmekKeyName": {
          "description": "Optional. The Customer Managed Encryption Key (CMEK) used for data encryption. The CMEK name should follow the format of `projects/([^/]+)/locations/([^/]+)/keyRings/([^/]+)/cryptoKeys/([^/]+)`, where the location must match the instance location. If the CMEK is not provided, a GMEK will be created for the instance.",
          "type": "string"
        },
        "agentRegistrySyncConfig": {
          "description": "Optional. The configuration for syncing MCP data in the API Hub instance to the Agent Registry.",
          "$ref": "GoogleCloudApihubV1AgentRegistrySyncConfig"
        },
        "disableSearch": {
          "description": "Optional. If true, the search will be disabled for the instance. The default value is false.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudApihubV1ApiView": {
      "id": "GoogleCloudApihubV1ApiView",
      "properties": {
        "mcpToolView": {
          "description": "MCP tools view.",
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionOperationDeploymentView"
        },
        "mcpServerView": {
          "description": "MCP server view.",
          "$ref": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView"
        }
      },
      "description": "The view of an API.",
      "type": "object"
    },
    "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest": {
      "id": "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest",
      "properties": {
        "dataType": {
          "description": "Required. Type of data to be managed.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "Proxy deployment manifest.",
            "Environment manifest.",
            "Proxy bundle.",
            "Shared flow bundle."
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "PROXY_DEPLOYMENT_MANIFEST",
            "ENVIRONMENT_MANIFEST",
            "PROXY_BUNDLE",
            "SHARED_FLOW_BUNDLE"
          ]
        },
        "relativePath": {
          "description": "Required. Relative path of data being managed for a given plugin instance.",
          "type": "string"
        },
        "action": {
          "enumDescriptions": [
            "Default unspecified action.",
            "Upload or upsert data.",
            "Delete data."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "UPLOAD",
            "DELETE"
          ],
          "description": "Required. Action to be performed.",
          "type": "string"
        },
        "data": {
          "description": "Required. Data to be managed.",
          "type": "string",
          "format": "byte"
        }
      },
      "description": "The ManagePluginInstanceSourceData method's request.",
      "type": "object"
    },
    "GoogleCloudApihubV1ApigeeXHybridConfig": {
      "id": "GoogleCloudApihubV1ApigeeXHybridConfig",
      "description": "Configuration for Apigee X and Apigee Hybrid gateways. Applicability of a filter is determined by the filter being provided. If none of the filters are provided the addon will be enabled for all data brought in by the gateway plugin instance.",
      "type": "object",
      "properties": {
        "environmentFilter": {
          "description": "Optional. The filter to apply on the resources managed by the gateway plugin instance. If provided this filter applies environment specific filtering.",
          "$ref": "GoogleCloudApihubV1EnvironmentFilter"
        }
      }
    },
    "GoogleCloudApihubV1Owner": {
      "properties": {
        "displayName": {
          "description": "Optional. The name of the owner.",
          "type": "string"
        },
        "email": {
          "description": "Required. The email of the owner.",
          "type": "string"
        }
      },
      "description": "Owner details.",
      "type": "object",
      "id": "GoogleCloudApihubV1Owner"
    },
    "GoogleCloudApihubV1Oauth2ClientCredentialsConfig": {
      "id": "GoogleCloudApihubV1Oauth2ClientCredentialsConfig",
      "description": "Parameters to support Oauth 2.0 client credentials grant authentication. See https://tools.ietf.org/html/rfc6749#section-1.3.4 for more details.",
      "type": "object",
      "properties": {
        "clientId": {
          "description": "Required. The client identifier.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Required. Secret version reference containing the client secret. The `secretmanager.versions.access` permission should be granted to the service account accessing the secret.",
          "$ref": "GoogleCloudApihubV1Secret"
        }
      }
    },
    "GoogleCloudApihubV1ListSpecsResponse": {
      "description": "The ListSpecs method's response.",
      "type": "object",
      "properties": {
        "specs": {
          "description": "The specs corresponding to an API Version.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1Spec"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ListSpecsResponse"
    },
    "GoogleCloudApihubV1Plugin": {
      "description": "A plugin resource in the API Hub.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The type of the API. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-plugin-type` attribute. The number of allowed values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute. Note this field is not required for plugins developed via plugin framework.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "displayName": {
          "description": "Required. The display name of the plugin. Max length is 50 characters (Unicode code points).",
          "type": "string"
        },
        "actionsConfig": {
          "items": {
            "$ref": "GoogleCloudApihubV1PluginActionConfig"
          },
          "description": "Optional. The configuration of actions supported by the plugin. **REQUIRED**: This field must be provided when creating or updating a Plugin. The server will reject requests if this field is missing.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the plugin. Format: `projects/{project}/locations/{location}/plugins/{plugin}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp indicating when the plugin was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "pluginCategory": {
          "description": "Optional. The category of the plugin, identifying its primary category or purpose. This field is required for all plugins.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified plugin type.",
            "API_GATEWAY plugins represent plugins built for API Gateways like Apigee.",
            "API_PRODUCER plugins represent plugins built for API Producers like Cloud Run, Application Integration etc."
          ],
          "enum": [
            "PLUGIN_CATEGORY_UNSPECIFIED",
            "API_GATEWAY",
            "API_PRODUCER"
          ]
        },
        "hostingService": {
          "description": "Optional. This field is optional. It is used to notify the plugin hosting service for any lifecycle changes of the plugin instance and trigger execution of plugin instance actions in case of API hub managed actions. This field should be provided if the plugin instance lifecycle of the developed plugin needs to be managed from API hub. Also, in this case the plugin hosting service interface needs to be implemented. This field should not be provided if the plugin wants to manage plugin instance lifecycle events outside of hub interface and use plugin framework for only registering of plugin and plugin instances to capture the source of data into hub. Note, in this case the plugin hosting service interface is not required to be implemented. Also, the plugin instance lifecycle actions will be disabled from API hub's UI.",
          "$ref": "GoogleCloudApihubV1HostingService"
        },
        "configTemplate": {
          "description": "Optional. The configuration template for the plugin.",
          "$ref": "GoogleCloudApihubV1ConfigTemplate"
        },
        "gatewayType": {
          "enumDescriptions": [
            "The gateway type is not specified.",
            "The gateway type is Apigee X and Hybrid.",
            "The gateway type is Apigee Edge Public Cloud.",
            "The gateway type is Apigee Edge Private Cloud.",
            "The gateway type is Cloud API Gateway.",
            "The gateway type is Cloud Endpoints.",
            "The gateway type is API Discovery.",
            "The gateway type for any other types of gateways."
          ],
          "enum": [
            "GATEWAY_TYPE_UNSPECIFIED",
            "APIGEE_X_AND_HYBRID",
            "APIGEE_EDGE_PUBLIC_CLOUD",
            "APIGEE_EDGE_PRIVATE_CLOUD",
            "CLOUD_API_GATEWAY",
            "CLOUD_ENDPOINTS",
            "API_DISCOVERY",
            "OTHERS"
          ],
          "description": "Optional. The type of the gateway.",
          "type": "string"
        },
        "documentation": {
          "description": "Optional. The documentation of the plugin, that explains how to set up and use the plugin.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "description": {
          "description": "Optional. The plugin description. Max length is 2000 characters (Unicode code points).",
          "type": "string"
        },
        "ownershipType": {
          "readOnly": true,
          "enum": [
            "OWNERSHIP_TYPE_UNSPECIFIED",
            "SYSTEM_OWNED",
            "USER_OWNED"
          ],
          "description": "Output only. The type of the plugin, indicating whether it is 'SYSTEM_OWNED' or 'USER_OWNED'.",
          "type": "string",
          "enumDescriptions": [
            "Default unspecified type.",
            "System owned plugins are defined by API hub and are available out of the box in API hub.",
            "User owned plugins are defined by the user and need to be explicitly added to API hub via CreatePlugin method."
          ]
        },
        "state": {
          "description": "Output only. Represents the state of the plugin. Note this field will not be set for plugins developed via plugin framework as the state will be managed at plugin instance level.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The plugin is enabled.",
            "The plugin is disabled."
          ]
        },
        "createTime": {
          "description": "Output only. Timestamp indicating when the plugin was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "GoogleCloudApihubV1Plugin"
    },
    "GoogleCloudApihubV1GatewayPluginConfig": {
      "id": "GoogleCloudApihubV1GatewayPluginConfig",
      "description": "Configuration for a gateway plugin. This is used to specify configs for different gateways.",
      "type": "object",
      "properties": {
        "apigeeEdgeConfig": {
          "description": "Configuration for Apigee Edge gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeEdgeConfig"
        },
        "apigeeXHybridConfig": {
          "description": "Configuration for Apigee X and Apigee Hybrid gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeXHybridConfig"
        },
        "pluginInstance": {
          "description": "Required. The name of the gateway plugin instance for which the config is to be specified. Format: projects/{project}/locations/{location}/plugins/{plugin}/pluginInstances/{plugin_instance}",
          "type": "string"
        },
        "apigeeOpdkConfig": {
          "description": "Configuration for Apigee OPDK gateways.",
          "$ref": "GoogleCloudApihubV1ApigeeOPDKConfig"
        }
      }
    },
    "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse": {
      "description": "Message for response to listing DiscoveredApiOperations",
      "type": "object",
      "properties": {
        "discoveredApiOperations": {
          "description": "The DiscoveredApiOperations from the specified project, location and DiscoveredApiObservation.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1DiscoveredApiOperation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse"
    },
    "GoogleCloudApihubV1PluginInstance": {
      "description": "Represents a plugin instance resource in the API Hub. A PluginInstance is a specific instance of a hub plugin with its own configuration, state, and execution details.",
      "type": "object",
      "properties": {
        "errorMessage": {
          "description": "Output only. Error message describing the failure, if any, during Create, Delete or ApplyConfig operation corresponding to the plugin instance.This field will only be populated if the plugin instance is in the ERROR or FAILED state.",
          "type": "string",
          "readOnly": true
        },
        "additionalConfig": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1ConfigVariable"
          },
          "description": "Optional. The additional information for this plugin instance corresponding to the additional config template of the plugin. This information will be sent to plugin hosting service on each call to plugin hosted service. The key will be the config_variable_template.display_name to uniquely identify the config variable.",
          "type": "object"
        },
        "displayName": {
          "description": "Required. The display name for this plugin instance. Max length is 255 characters.",
          "type": "string"
        },
        "actions": {
          "items": {
            "$ref": "GoogleCloudApihubV1PluginInstanceAction"
          },
          "description": "Required. The action status for the plugin instance.",
          "type": "array"
        },
        "sourceEnvironmentsConfig": {
          "description": "Optional. The source environment's config present in the gateway instance linked to the plugin instance. The key is the `source_environment` name from the SourceEnvironment message.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1SourceEnvironment"
          }
        },
        "authConfig": {
          "description": "Optional. The authentication information for this plugin instance.",
          "$ref": "GoogleCloudApihubV1AuthConfig"
        },
        "name": {
          "description": "Identifier. The unique name of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Timestamp indicating when the plugin instance was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current state of the plugin instance (e.g., enabled, disabled, provisioning).",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "APPLYING_CONFIG",
            "ERROR",
            "FAILED",
            "DELETING"
          ],
          "enumDescriptions": [
            "Default unspecified state.",
            "The plugin instance is being created.",
            "The plugin instance is active and ready for executions. This is the only state where executions can run on the plugin instance.",
            "The updated config that contains additional_config and auth_config is being applied.",
            "The ERROR state can come while applying config. Users can retrigger ApplyPluginInstanceConfig to restore the plugin instance back to active state. Note, In case the ERROR state happens while applying config (auth_config, additional_config), the plugin instance will reflect the config which was trying to be applied while error happened. In order to overwrite, trigger ApplyConfig with a new config.",
            "The plugin instance is in a failed state. This indicates that an unrecoverable error occurred during a previous operation (Create, Delete).",
            "The plugin instance is being deleted. Delete is only possible if there is no other operation running on the plugin instance and plugin instance action."
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Timestamp indicating when the plugin instance was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceProjectId": {
          "description": "Optional. The source project id of the plugin instance. This will be the id of runtime project in case of Google Cloud based plugins and org id in case of non-Google Cloud based plugins. This field will be a required field for Google provided on-ramp plugins.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1PluginInstance"
    },
    "GoogleCloudApihubV1DiscoveredApiObservation": {
      "id": "GoogleCloudApihubV1DiscoveredApiObservation",
      "properties": {
        "lastEventDetectedTime": {
          "description": "Optional. Last event detected time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "serverIps": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array"
        },
        "unknownOperationsCount": {
          "readOnly": true,
          "description": "Output only. The number of unknown API Operations.",
          "type": "string",
          "format": "int64"
        },
        "apiOperationCount": {
          "description": "Optional. The number of observed API Operations.",
          "type": "string",
          "format": "int64"
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The location of the observation source.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the discovered API Observation. Format: `projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Update time stamp of the observation in API Hub.",
          "type": "string",
          "format": "google-datetime"
        },
        "sourceTypes": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Source type not specified.",
              "Google Cloud external load balancer.",
              "Google Cloud internal load balancer."
            ],
            "enum": [
              "SOURCE_TYPE_UNSPECIFIED",
              "GCP_XLB",
              "GCP_ILB"
            ]
          },
          "description": "Optional. The type of the source from which the observation was collected.",
          "type": "array"
        },
        "hostname": {
          "description": "Optional. The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "sourceMetadata": {
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1SourceMetadata",
          "description": "Output only. The metadata of the source from which the observation was collected."
        },
        "style": {
          "description": "Optional. Style of ApiObservation",
          "type": "string",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ]
        },
        "origin": {
          "description": "Optional. For an observation pushed from a Google Cloud resource, this would be the Google Cloud project id.",
          "type": "string"
        },
        "knownOperationsCount": {
          "description": "Output only. The number of known API Operations.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Create time stamp of the observation in API Hub.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Respresents an API Observation observed in one of the sources.",
      "type": "object"
    },
    "GoogleCloudApihubV1LintSpecRequest": {
      "id": "GoogleCloudApihubV1LintSpecRequest",
      "description": "The LintSpec method's request.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudApihubV1Dependency": {
      "properties": {
        "errorDetail": {
          "description": "Output only. Error details of a dependency if the system has detected it internally.",
          "readOnly": true,
          "$ref": "GoogleCloudApihubV1DependencyErrorDetail"
        },
        "consumer": {
          "description": "Required. Immutable. The entity acting as the consumer in the dependency.",
          "$ref": "GoogleCloudApihubV1DependencyEntityReference"
        },
        "description": {
          "description": "Optional. Human readable description corresponding of the dependency.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the dependency was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "supplier": {
          "description": "Required. Immutable. The entity acting as the supplier in the dependency.",
          "$ref": "GoogleCloudApihubV1DependencyEntityReference"
        },
        "discoveryMode": {
          "readOnly": true,
          "enum": [
            "DISCOVERY_MODE_UNSPECIFIED",
            "MANUAL"
          ],
          "description": "Output only. Discovery mode of the dependency.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Manual mode of discovery when the dependency is defined by the user."
          ]
        },
        "attributes": {
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          },
          "description": "Optional. The list of user defined attributes associated with the dependency resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object"
        },
        "state": {
          "description": "Output only. State of the dependency.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROPOSED",
            "VALIDATED"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Dependency will be in a proposed state when it is newly identified by the API hub on its own.",
            "Dependency will be in a validated state when it is validated by the admin or manually created in the API hub."
          ]
        },
        "createTime": {
          "description": "Output only. The time at which the dependency was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "A dependency resource defined in the API hub describes a dependency directed from a consumer to a supplier entity. A dependency can be defined between two Operations or between an Operation and External API.",
      "type": "object",
      "id": "GoogleCloudApihubV1Dependency"
    },
    "GoogleCloudApihubV1ListHostProjectRegistrationsResponse": {
      "id": "GoogleCloudApihubV1ListHostProjectRegistrationsResponse",
      "properties": {
        "hostProjectRegistrations": {
          "items": {
            "$ref": "GoogleCloudApihubV1HostProjectRegistration"
          },
          "description": "The list of host project registrations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The ListHostProjectRegistrations method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1ListPluginsResponse": {
      "description": "The ListPlugins method's response.",
      "type": "object",
      "properties": {
        "plugins": {
          "items": {
            "$ref": "GoogleCloudApihubV1Plugin"
          },
          "description": "The plugins from the specified parent resource.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1ListPluginsResponse"
    },
    "GoogleCloudApihubV1ListApiOperationsResponse": {
      "properties": {
        "apiOperations": {
          "items": {
            "$ref": "GoogleCloudApihubV1ApiOperation"
          },
          "description": "The operations corresponding to an API version.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The ListApiOperations method's response.",
      "type": "object",
      "id": "GoogleCloudApihubV1ListApiOperationsResponse"
    },
    "GoogleCloudApihubV1Point": {
      "id": "GoogleCloudApihubV1Point",
      "properties": {
        "line": {
          "description": "Required. Line number (zero-indexed).",
          "type": "integer",
          "format": "int32"
        },
        "character": {
          "description": "Required. Character position within the line (zero-indexed).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Point within the file (line and character).",
      "type": "object"
    },
    "GoogleCloudApihubV1ListExternalApisResponse": {
      "id": "GoogleCloudApihubV1ListExternalApisResponse",
      "properties": {
        "externalApis": {
          "items": {
            "$ref": "GoogleCloudApihubV1ExternalApi"
          },
          "description": "The External API resources present in the API hub.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "The ListExternalApis method's response.",
      "type": "object"
    },
    "GoogleCloudApihubV1SourceEnvironment": {
      "id": "GoogleCloudApihubV1SourceEnvironment",
      "description": "Message representing the source environment details.",
      "type": "object",
      "properties": {
        "sourceEnvironmentUri": {
          "description": "The location where additional information about source environments can be found. The location should be relative path of the environment manifest with respect to a plugin instance.",
          "type": "string"
        },
        "sourceEnvironment": {
          "description": "Required. The name of the environment at the source. This should map to Deployment.",
          "type": "string"
        },
        "createTime": {
          "description": "Optional. The time at which the environment was created at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Optional. The time at which the environment was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudApihubV1ApiMetadataList": {
      "id": "GoogleCloudApihubV1ApiMetadataList",
      "properties": {
        "apiMetadata": {
          "description": "Required. The list of API metadata.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1APIMetadata"
          }
        }
      },
      "description": "The message to hold repeated API metadata.",
      "type": "object"
    },
    "GoogleCloudApihubV1PluginInstanceActionID": {
      "id": "GoogleCloudApihubV1PluginInstanceActionID",
      "properties": {
        "pluginInstance": {
          "description": "Output only. Plugin instance that is using the curation. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string",
          "readOnly": true
        },
        "actionId": {
          "description": "Output only. The action ID that is using the curation. This should map to one of the action IDs specified in action configs in the plugin.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "The plugin instance and associated action that is using the curation.",
      "type": "object"
    },
    "GoogleCloudApihubV1Documentation": {
      "id": "GoogleCloudApihubV1Documentation",
      "description": "Documentation details.",
      "type": "object",
      "properties": {
        "externalUri": {
          "description": "Optional. The uri of the externally hosted documentation.",
          "type": "string"
        }
      }
    },
    "GoogleCloudApihubV1EnablePluginRequest": {
      "description": "The EnablePlugin method's request.",
      "type": "object",
      "properties": {},
      "id": "GoogleCloudApihubV1EnablePluginRequest"
    },
    "GoogleCloudApihubV1GatewayPluginAddonConfig": {
      "id": "GoogleCloudApihubV1GatewayPluginAddonConfig",
      "description": "Configuration for gateway plugin addons. This is used to specify the list of gateway plugin configs for which the addon is enabled.",
      "type": "object",
      "properties": {
        "gatewayPluginConfigs": {
          "description": "Required. The list of gateway plugin configs for which the addon is enabled. Each gateway plugin config should have a unique plugin instance.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1GatewayPluginConfig"
          }
        }
      }
    },
    "GoogleCloudApihubV1LookupApiHubInstanceResponse": {
      "id": "GoogleCloudApihubV1LookupApiHubInstanceResponse",
      "description": "The LookupApiHubInstance method's response.`",
      "type": "object",
      "properties": {
        "apiHubInstance": {
          "description": "API Hub instance for a project if it exists, empty otherwise.",
          "$ref": "GoogleCloudApihubV1ApiHubInstance"
        }
      }
    },
    "GoogleCloudApihubV1FlattenedApiVersionDeploymentView": {
      "properties": {
        "version": {
          "description": "Optional. The version.",
          "$ref": "GoogleCloudApihubV1Version"
        },
        "api": {
          "description": "Optional. The API.",
          "$ref": "GoogleCloudApihubV1Api"
        },
        "deployment": {
          "description": "Optional. The deployment.",
          "$ref": "GoogleCloudApihubV1Deployment"
        }
      },
      "description": "A flattened view of an API, its version and one of the linked deployments.",
      "type": "object",
      "id": "GoogleCloudApihubV1FlattenedApiVersionDeploymentView"
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "GoogleRpcStatus"
    },
    "GoogleCloudApihubV1DependencyEntityReference": {
      "description": "Reference to an entity participating in a dependency.",
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "description": "Output only. Display name of the entity.",
          "type": "string"
        },
        "operationResourceName": {
          "description": "The resource name of an operation in the API Hub. Format: `projects/{project}/locations/{location}/apis/{api}/versions/{version}/operations/{operation}`",
          "type": "string"
        },
        "externalApiResourceName": {
          "description": "The resource name of an external API in the API Hub. Format: `projects/{project}/locations/{location}/externalApis/{external_api}`",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1DependencyEntityReference"
    },
    "GoogleCloudApihubV1DisablePluginRequest": {
      "properties": {},
      "description": "The DisablePlugin method's request.",
      "type": "object",
      "id": "GoogleCloudApihubV1DisablePluginRequest"
    },
    "GoogleCloudApihubV1Deployment": {
      "description": "Details of the deployment where APIs are hosted. A deployment could represent an Apigee proxy, API gateway, other Google Cloud services or non-Google Cloud services as well. A deployment entity is a root level entity in the API hub and exists independent of any API.",
      "type": "object",
      "properties": {
        "documentation": {
          "description": "Optional. The documentation of the deployment.",
          "$ref": "GoogleCloudApihubV1Documentation"
        },
        "sourceProject": {
          "description": "Optional. The project to which the deployment belongs. For Google Cloud gateways, this will refer to the project identifier. For others like Edge/OPDK, this will refer to the org identifier.",
          "type": "string"
        },
        "sourceEnvironment": {
          "description": "Optional. The environment at source for the deployment. For example: prod, dev, staging, etc.",
          "type": "string"
        },
        "description": {
          "description": "Optional. The description of the deployment.",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. The list of user defined attributes associated with the deployment resource. The key is the attribute name. It will be of the format: `projects/{project}/locations/{location}/attributes/{attribute}`. The value is the attribute values associated with the resource.",
          "type": "object",
          "additionalProperties": {
            "$ref": "GoogleCloudApihubV1AttributeValues"
          }
        },
        "createTime": {
          "description": "Output only. The time at which the deployment was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sourceMetadata": {
          "readOnly": true,
          "items": {
            "$ref": "GoogleCloudApihubV1SourceMetadata"
          },
          "description": "Output only. The list of sources and metadata from the sources of the deployment.",
          "type": "array"
        },
        "slo": {
          "description": "Optional. The SLO for this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-slo` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "managementUrl": {
          "description": "Optional. The uri where users can navigate to for the management of the deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-management-url` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URL.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "sourceUri": {
          "description": "Optional. The uri where additional source specific information for this deployment can be found. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-source-uri` The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. The value of the attribute should be a valid URI, and in case of Cloud Storage URI, it should point to a Cloud Storage object, not a directory.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "environment": {
          "description": "Optional. The environment mapping to this deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-environment` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "resourceUri": {
          "description": "Required. The resource URI identifies the deployment within its gateway. For Apigee gateways, its recommended to use the format: organizations/{org}/environments/{env}/apis/{api}. For ex: if a proxy with name `orders` is deployed in `staging` environment of `cymbal` organization, the resource URI would be: `organizations/cymbal/environments/staging/apis/orders`.",
          "type": "string"
        },
        "apiVersions": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The API versions linked to this deployment. Note: A particular deployment could be linked to multiple different API versions (of same or different APIs).",
          "type": "array"
        },
        "name": {
          "description": "Identifier. The name of the deployment. Format: `projects/{project}/locations/{location}/deployments/{deployment}`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time at which the deployment was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "endpoints": {
          "items": {
            "type": "string"
          },
          "description": "Required. The endpoints at which this deployment resource is listening for API requests. This could be a list of complete URIs, hostnames or an IP addresses.",
          "type": "array"
        },
        "deploymentType": {
          "description": "Required. The type of deployment. This maps to the following system defined attribute: `projects/{project}/locations/{location}/attributes/system-deployment-type` attribute. The number of values for this attribute will be based on the cardinality of the attribute. The same can be retrieved via GetAttribute API. All values should be from the list of allowed values defined for the attribute.",
          "$ref": "GoogleCloudApihubV1AttributeValues"
        },
        "displayName": {
          "description": "Required. The display name of the deployment.",
          "type": "string"
        }
      },
      "id": "GoogleCloudApihubV1Deployment"
    },
    "GoogleCloudApihubV1ApiHubInstance": {
      "properties": {
        "name": {
          "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Last update timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "Optional. Description of the ApiHub instance.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Creation timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "stateMessage": {
          "readOnly": true,
          "description": "Output only. Extra information about ApiHub instance state. Currently the message would be populated when state is `FAILED`.",
          "type": "string"
        },
        "labels": {
          "description": "Optional. Instance labels to represent user-provided metadata. Refer to cloud documentation on labels for more details. https://cloud.google.com/compute/docs/labeling-resources",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "config": {
          "description": "Required. Config of the ApiHub instance.",
          "$ref": "GoogleCloudApihubV1Config"
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The ApiHub instance has not been initialized or has been deleted.",
            "The ApiHub instance is being created.",
            "The ApiHub instance has been created and is ready for use.",
            "The ApiHub instance is being updated.",
            "The ApiHub instance is being deleted.",
            "The ApiHub instance encountered an error during a state change."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. The current state of the ApiHub instance.",
          "type": "string"
        }
      },
      "description": "An ApiHubInstance represents the instance resources of the API Hub. Currently, only one ApiHub instance is allowed for each project.",
      "type": "object",
      "id": "GoogleCloudApihubV1ApiHubInstance"
    },
    "GoogleCloudApihubV1ExecutePluginInstanceActionRequest": {
      "id": "GoogleCloudApihubV1ExecutePluginInstanceActionRequest",
      "description": "The ExecutePluginInstanceAction method's request.",
      "type": "object",
      "properties": {
        "actionExecutionDetail": {
          "description": "Required. The execution details for the action to execute.",
          "$ref": "GoogleCloudApihubV1ActionExecutionDetail"
        }
      }
    },
    "GoogleCloudApihubV1MultiSelectValues": {
      "id": "GoogleCloudApihubV1MultiSelectValues",
      "description": "The config variable value of data type multi select.",
      "type": "object",
      "properties": {
        "values": {
          "description": "Optional. The config variable value of data type multi select.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudApihubV1ConfigValueOption"
          }
        }
      }
    },
    "GoogleCloudApihubV1SpecMetadata": {
      "properties": {
        "spec": {
          "description": "Required. The spec resource to be pushed to Hub's collect layer. The ID of the spec will be generated by Hub.",
          "$ref": "GoogleCloudApihubV1Spec"
        },
        "originalCreateTime": {
          "description": "Optional. Timestamp indicating when the spec was created at the source.",
          "type": "string",
          "format": "google-datetime"
        },
        "originalId": {
          "description": "Optional. The unique identifier of the spec in the system where it was originally created.",
          "type": "string"
        },
        "originalUpdateTime": {
          "description": "Required. Timestamp indicating when the spec was last updated at the source.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "The metadata associated with a spec of the API version.",
      "type": "object",
      "id": "GoogleCloudApihubV1SpecMetadata"
    },
    "GoogleCloudApihubV1ListAddonsResponse": {
      "properties": {
        "addons": {
          "items": {
            "$ref": "GoogleCloudApihubV1Addon"
          },
          "description": "The list of addons.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "The ListAddons method's response.",
      "type": "object",
      "id": "GoogleCloudApihubV1ListAddonsResponse"
    },
    "GoogleCloudApihubV1PluginInstanceActionSource": {
      "properties": {
        "pluginInstance": {
          "readOnly": true,
          "description": "Output only. The resource name of the source plugin instance. Format is `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
          "type": "string"
        },
        "actionId": {
          "description": "Output only. The id of the plugin instance action.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "PluginInstanceActionSource represents the plugin instance action source.",
      "type": "object",
      "id": "GoogleCloudApihubV1PluginInstanceActionSource"
    },
    "GoogleCloudApihubV1SpecContents": {
      "id": "GoogleCloudApihubV1SpecContents",
      "description": "The spec contents.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The mime type of the content for example application/json, application/yaml, application/wsdl etc.",
          "type": "string"
        },
        "contents": {
          "description": "Required. The contents of the spec.",
          "type": "string",
          "format": "byte"
        }
      }
    },
    "GoogleCloudApihubV1AddonConfig": {
      "id": "GoogleCloudApihubV1AddonConfig",
      "description": "Configuration for the addon.",
      "type": "object",
      "properties": {
        "allDataAddonConfig": {
          "description": "Configuration for addons which act on all data in the API hub.",
          "$ref": "GoogleCloudApihubV1AllDataAddonConfig"
        },
        "gatewayPluginAddonConfig": {
          "description": "Configuration for gateway plugin addons.",
[...]
