{
  "discoveryVersion": "v1",
  "servicePath": "",
  "name": "apihub",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "id": "apihub.projects.locations.list",
              "response": {
                "$ref": "GoogleCloudLocationListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                }
              }
            },
            "searchResources": {
              "request": {
                "$ref": "GoogleCloudApihubV1SearchResourcesRequest"
              },
              "response": {
                "$ref": "GoogleCloudApihubV1SearchResourcesResponse"
              },
              "id": "apihub.projects.locations.searchResources",
              "description": "Search across API-Hub resources.",
              "path": "v1/{+location}:searchResources",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:searchResources",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "location": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "description": "Required. The resource name of the location which will be of the type `projects/{project_id}/locations/{location_id}`. This field is used to identify the instance of API-Hub in which resources should be searched.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "parameterOrder": [
                "location"
              ]
            },
            "get": {
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "apihub.projects.locations.get",
              "response": {
                "$ref": "GoogleCloudLocationLocation"
              }
            },
            "collectApiData": {
              "parameters": {
                "location": {
                  "location": "path",
                  "description": "Required. The regional location of the API hub instance and its resources. Format: `projects/{project}/locations/{location}`",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "location"
              ],
              "description": "Collect API data from a source and push it to Hub's collect layer.",
              "path": "v1/{+location}:collectApiData",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:collectApiData",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "GoogleLongrunningOperation"
              },
              "id": "apihub.projects.locations.collectApiData",
              "request": {
                "$ref": "GoogleCloudApihubV1CollectApiDataRequest"
              }
            },
            "lookupRuntimeProjectAttachment": {
              "description": "Look up a runtime project attachment. This API can be called in the context of any project.",
              "path": "v1/{+name}:lookupRuntimeProjectAttachment",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:lookupRuntimeProjectAttachment",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Runtime project ID to look up runtime project attachment for. Lookup happens across all regions. Expected format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GoogleCloudApihubV1LookupRuntimeProjectAttachmentResponse"
              },
              "id": "apihub.projects.locations.lookupRuntimeProjectAttachment"
            },
            "retrieveApiViews": {
              "id": "apihub.projects.locations.retrieveApiViews",
              "response": {
                "$ref": "GoogleCloudApihubV1RetrieveApiViewsResponse"
              },
              "path": "v1/{+parent}:retrieveApiViews",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}:retrieveApiViews",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Retrieve API views.",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name. Format: `projects/{project}/locations/{location}`.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. The filter expression.",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of results to return. Default to 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "view": {
                  "enum": [
                    "API_VIEW_TYPE_UNSPECIFIED",
                    "MCP_SERVER",
                    "MCP_TOOL"
                  ],
                  "type": "string",
                  "description": "Required. The view type to return.",
                  "enumDescriptions": [
                    "The default view type.",
                    "The MCP server view in API hub.",
                    "The MCP tool view in API hub."
                  ],
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `RetrieveApiViews` call. Provide this to retrieve the subsequent page.",
                  "type": "string"
                }
              }
            }
          },
          "resources": {
            "discoveredApiObservations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDiscoveredApiObservationsResponse"
                  },
                  "id": "apihub.projects.locations.discoveredApiObservations.list",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists all the DiscoveredAPIObservations in a given project and location.",
                  "path": "v1/{+parent}/discoveredApiObservations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "apihub.projects.locations.discoveredApiObservations.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1DiscoveredApiObservation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a DiscoveredAPIObservation in a given project, location and ApiObservation.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the DiscoveredApiObservation to retrieve. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              },
              "resources": {
                "discoveredApiOperations": {
                  "methods": {
                    "list": {
                      "path": "v1/{+parent}/discoveredApiOperations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}/discoveredApiOperations",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists all the DiscoveredAPIOperations in a given project, location and ApiObservation.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The parent, which owns this collection of DiscoveredApiOperations. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. DiscoveredApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A page token, received from a previous `ListDiscoveredApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDiscoveredApiApiOperations` must match the call that provided the page token.",
                          "type": "string"
                        }
                      },
                      "id": "apihub.projects.locations.discoveredApiObservations.discoveredApiOperations.list",
                      "response": {
                        "$ref": "GoogleCloudApihubV1ListDiscoveredApiOperationsResponse"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The name of the DiscoveredApiOperation to retrieve. Format: projects/{project}/locations/{location}/discoveredApiObservations/{discovered_api_observation}/discoveredApiOperations/{discovered_api_operation}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredApiObservations/[^/]+/discoveredApiOperations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a DiscoveredAPIOperation in a given project, location, ApiObservation and ApiOperation.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredApiObservations/{discoveredApiObservationsId}/discoveredApiOperations/{discoveredApiOperationsId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApihubV1DiscoveredApiOperation"
                      },
                      "id": "apihub.projects.locations.discoveredApiObservations.discoveredApiOperations.get"
                    }
                  }
                }
              }
            },
            "plugins": {
              "methods": {
                "disable": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "id": "apihub.projects.locations.plugins.disable",
                  "request": {
                    "$ref": "GoogleCloudApihubV1DisablePluginRequest"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the plugin to disable. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Disables a plugin. The `state` of the plugin after disabling is `DISABLED`",
                  "path": "v1/{+name}:disable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}:disable",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1EnablePluginRequest"
                  },
                  "id": "apihub.projects.locations.plugins.enable",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "path": "v1/{+name}:enable",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}:enable",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables a plugin. The `state` of the plugin after enabling is `ENABLED`",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the plugin to enable. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "id": "apihub.projects.locations.plugins.create",
                  "description": "Create an API Hub plugin resource in the API hub. Once a plugin is created, it can be used to create plugin instances.",
                  "path": "v1/{+parent}/plugins",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pluginId": {
                      "description": "Optional. The ID to use for the Plugin resource, which will become the final component of the Plugin's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another Plugin resource in the API hub instance. * If not provided, a system generated id will be used. This value should be 4-63 characters, overall resource name which will be of format `projects/{project}/locations/{location}/plugins/{plugin}`, its length is limited to 1000 characters and valid characters are /a-z[0-9]-_/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "id": "apihub.projects.locations.plugins.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Plugin"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the plugin to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get an API Hub plugin."
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Plugin resource to delete. Format: `projects/{project}/locations/{location}/plugins/{plugin}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete a Plugin in API hub. Note, only user owned plugins can be deleted via this method.",
                  "id": "apihub.projects.locations.plugins.delete",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "list": {
                  "id": "apihub.projects.locations.plugins.list",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListPluginsResponse"
                  },
                  "path": "v1/{+parent}/plugins",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List all the plugins in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of plugins. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Plugins` are eligible for filtering: * `plugin_category` - The category of the Plugin. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `plugin_category = ON_RAMP` - The plugin is of category on ramp.",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of hub plugins to return. The service may return fewer than this value. If unspecified, at most 50 hub plugins will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListPlugins` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListPlugins` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "getStyleGuide": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  },
                  "id": "apihub.projects.locations.plugins.getStyleGuide",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the spec to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Get the style guide being used for linting.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "updateStyleGuide": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Optional. The list of fields to update.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The name of the style guide. Format: `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the styleGuide to be used for liniting in by API hub.",
                  "id": "apihub.projects.locations.plugins.updateStyleGuide",
                  "response": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1StyleGuide"
                  }
                }
              },
              "resources": {
                "instances": {
                  "methods": {
                    "patch": {
                      "parameters": {
                        "updateMask": {
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Optional. The list of fields to update.",
                          "type": "string"
                        },
                        "name": {
                          "location": "path",
                          "description": "Identifier. The unique name of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Updates a plugin instance in the API hub. The following fields in the plugin_instance can be updated currently: * display_name * schedule_cron_expression The update_mask should be used to specify the fields being updated. To update the auth_config and additional_config of the plugin instance, use the ApplyPluginInstanceConfig method.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "httpMethod": "PATCH",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "id": "apihub.projects.locations.plugins.instances.patch",
                      "request": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      }
                    },
                    "create": {
                      "id": "apihub.projects.locations.plugins.instances.create",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "request": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "Required. The parent of the plugin instance resource. Format: `projects/{project}/locations/{location}/plugins/{plugin}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$",
                          "type": "string",
                          "required": true
                        },
                        "pluginInstanceId": {
                          "location": "query",
                          "description": "Optional. The ID to use for the plugin instance, which will become the final component of the plugin instance's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another plugin instance in the plugin resource. * If not provided, a system generated id will be used. This value should be 4-63 characters, and valid characters are /a-z[0-9]-_/.",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/instances",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Plugin instance in the API hub."
                    },
                    "delete": {
                      "description": "Deletes a plugin instance in the API hub.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the plugin instance to delete. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "apihub.projects.locations.plugins.instances.delete"
                    },
                    "executeAction": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "apihub.projects.locations.plugins.instances.executeAction",
                      "request": {
                        "$ref": "GoogleCloudApihubV1ExecutePluginInstanceActionRequest"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the plugin instance to execute. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Executes a plugin instance in the API hub.",
                      "path": "v1/{+name}:executeAction",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:executeAction",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "manageSourceData": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the plugin instance for which data needs to be managed. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path"
                        }
                      },
                      "path": "v1/{+name}:manageSourceData",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:manageSourceData",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Manages data for a given plugin instance.",
                      "id": "apihub.projects.locations.plugins.instances.manageSourceData",
                      "response": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataResponse"
                      },
                      "request": {
                        "$ref": "GoogleCloudApihubV1ManagePluginInstanceSourceDataRequest"
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. An expression that filters the list of plugin instances. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `PluginInstances` are eligible for filtering: * `state` - The state of the Plugin Instance. Allowed comparison operators: `=`. * `source_project_id` - The source project id of the Plugin Instance. Allowed comparison operators: `=`. A filter function is also supported in the filter string. The filter function is `id(name)`. The `id(name)` function returns the id of the resource name. For example, `id(name) = \\\"plugin-instance-1\\\"` is equivalent to `name = \\\"projects/test-project-id/locations/test-location-id/plugins/plugin-1/instances/plugin-instance-1\\\"` provided the parent is `projects/test-project-id/locations/test-location-id/plugins/plugin-1`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `state = ENABLED` - The plugin instance is in enabled state.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource where this plugin will be created. Format: `projects/{project}/locations/{location}/plugins/{plugin}`. To list plugin instances for multiple plugins, use the - character instead of the plugin ID.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+$"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "description": "Optional. The maximum number of hub plugins to return. The service may return fewer than this value. If unspecified, at most 50 hub plugins will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListPluginInstances` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListPluginInstances` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "v1/{+parent}/instances",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "List all the plugins in a given project and location. `-` can be used as wildcard value for {plugin_id}",
                      "id": "apihub.projects.locations.plugins.instances.list",
                      "response": {
                        "$ref": "GoogleCloudApihubV1ListPluginInstancesResponse"
                      }
                    },
                    "enableAction": {
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "id": "apihub.projects.locations.plugins.instances.enableAction",
                      "request": {
                        "$ref": "GoogleCloudApihubV1EnablePluginInstanceActionRequest"
                      },
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The name of the plugin instance to enable. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Enables a plugin instance in the API hub.",
                      "path": "v1/{+name}:enableAction",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:enableAction",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "description": "Get an API Hub plugin instance.",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The name of the plugin instance to retrieve. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudApihubV1PluginInstance"
                      },
                      "id": "apihub.projects.locations.plugins.instances.get"
                    },
                    "disableAction": {
                      "request": {
                        "$ref": "GoogleCloudApihubV1DisablePluginInstanceActionRequest"
                      },
                      "id": "apihub.projects.locations.plugins.instances.disableAction",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:disableAction",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/instances/{instancesId}:disableAction",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Disables a plugin instance in the API hub.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the plugin instance to disable. Format: `projects/{project}/locations/{location}/plugins/{plugin}/instances/{instance}`",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/instances/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "styleGuide": {
                  "methods": {
                    "getContents": {
                      "id": "apihub.projects.locations.plugins.styleGuide.getContents",
                      "response": {
                        "$ref": "GoogleCloudApihubV1StyleGuideContents"
                      },
                      "path": "v1/{+name}:contents",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/plugins/{pluginsId}/styleGuide:contents",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Get the contents of the style guide.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The name of the StyleGuide whose contents need to be retrieved. There is exactly one style guide resource per project per location. The expected format is `projects/{project}/locations/{location}/plugins/{plugin}/styleGuide`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/plugins/[^/]+/styleGuide$"
                        }
                      }
                    }
                  }
                }
              }
            },
            "dependencies": {
              "methods": {
                "patch": {
                  "id": "apihub.projects.locations.dependencies.patch",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Identifier. The name of the dependency in the API Hub. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update a dependency based on the update_mask provided in the request. The following fields in the dependency can be updated: * description"
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "id": "apihub.projects.locations.dependencies.create",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  },
                  "path": "v1/{+parent}/dependencies",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a dependency between two entities in the API hub.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource for the dependency resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true
                    },
                    "dependencyId": {
                      "description": "Optional. The ID to use for the dependency resource, which will become the final component of the dependency's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if duplicate id is provided by the client. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are `a-z[0-9]-_`.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get details about a dependency resource in the API hub.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the dependency resource to retrieve. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "apihub.projects.locations.dependencies.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Dependency"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies/{dependenciesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete the dependency resource.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the dependency resource to delete. Format: `projects/{project}/locations/{location}/dependencies/{dependency}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/dependencies/[^/]+$"
                    }
                  },
                  "id": "apihub.projects.locations.dependencies.delete",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "path": "v1/{+parent}/dependencies",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/dependencies",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List dependencies based on the provided filter and pagination parameters.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. The maximum number of dependency resources to return. The service may return fewer than this value. If unspecified, at most 50 dependencies will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListDependencies` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListDependencies` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of Dependencies. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. Allowed comparison operator is `=`. Filters are not case sensitive. The following fields in the `Dependency` are eligible for filtering: * `consumer.operation_resource_name` - The operation resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `consumer.external_api_resource_name` - The external api resource name for the consumer entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.operation_resource_name` - The operation resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. * `supplier.external_api_resource_name` - The external api resource name for the supplier entity involved in a dependency. Allowed comparison operators: `=`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. For example, `consumer.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\" OR supplier.operation_resource_name = \\\"projects/p1/locations/global/apis/a1/versions/v1/operations/o1\\\"` - The dependencies with either consumer or supplier operation resource name as _projects/p1/locations/global/apis/a1/versions/v1/operations/o1_.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent which owns this collection of dependency resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "id": "apihub.projects.locations.dependencies.list",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListDependenciesResponse"
                  }
                }
              }
            },
            "apiHubInstances": {
              "methods": {
                "patch": {
                  "id": "apihub.projects.locations.apiHubInstances.patch",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "Optional. The list of fields to update.",
                      "type": "string",
                      "location": "query",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update an Api Hub instance. The following fields in the ApiHubInstance can be updated: * disable_search * vertex_location * agent_registry_sync_config The update_mask should be used to specify the fields being updated."
                },
                "create": {
                  "description": "Provisions instance resources for the API Hub.",
                  "path": "v1/{+parent}/apiHubInstances",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "apiHubInstanceId": {
                      "location": "query",
                      "description": "Optional. Identifier to assign to the Api Hub instance. Must be unique within scope of the parent resource. If the field is not provided, system generated id will be used. This value should be 4-40 characters, and valid characters are `/a-z[0-9]-_/`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apihub.projects.locations.apiHubInstances.create"
                },
                "delete": {
                  "description": "Deletes the API hub instance. Deleting the API hub instance will also result in the removal of all associated runtime project attachments and the host project registration.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the Api Hub instance to delete. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "id": "apihub.projects.locations.apiHubInstances.delete"
                },
                "get": {
                  "description": "Gets details of a single API Hub instance.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances/{apiHubInstancesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Api Hub instance to retrieve. Format: `projects/{project}/locations/{location}/apiHubInstances/{apiHubInstance}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/apiHubInstances/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ApiHubInstance"
                  },
                  "id": "apihub.projects.locations.apiHubInstances.get"
                },
                "lookup": {
                  "id": "apihub.projects.locations.apiHubInstances.lookup",
                  "response": {
                    "$ref": "GoogleCloudApihubV1LookupApiHubInstanceResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. There will always be only one Api Hub instance for a Google Cloud project across all locations. The parent resource for the Api Hub instance resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+parent}/apiHubInstances:lookup",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/apiHubInstances:lookup",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Looks up an Api Hub instance in a given Google Cloud project. There will always be only one Api Hub instance for a Google Cloud project across all locations."
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "id": "apihub.projects.locations.operations.get",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apihub.projects.locations.operations.delete",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "apihub.projects.locations.operations.list",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "apihub.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "request": {
                    "$ref": "GoogleLongrunningCancelOperationRequest"
                  }
                }
              }
            },
            "externalApis": {
              "methods": {
                "list": {
                  "id": "apihub.projects.locations.externalApis.list",
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListExternalApisResponse"
                  },
                  "path": "v1/{+parent}/externalApis",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List External API resources in the API hub.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The parent, which owns this collection of External API resources. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. The maximum number of External API resources to return. The service may return fewer than this value. If unspecified, at most 50 ExternalApis will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListExternalApis` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListExternalApis` must match the call that provided the page token.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "description": "Get details about an External API resource in the API hub.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the External API resource to retrieve. Format: `projects/{project}/locations/{location}/externalApis/{externalApi}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "id": "apihub.projects.locations.externalApis.get"
                },
                "delete": {
                  "id": "apihub.projects.locations.externalApis.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the External API resource to delete. Format: `projects/{project}/locations/{location}/externalApis/{externalApi}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Delete an External API resource in the API hub."
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "id": "apihub.projects.locations.externalApis.patch",
                  "request": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Identifier. Format: `projects/{project}/locations/{location}/externalApi/{externalApi}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/externalApis/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "description": "Required. The list of fields to update.",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Update an External API resource in the API hub. The following fields can be updated: * display_name * description * documentation * endpoints * paths The update_mask should be used to specify the fields being updated.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis/{externalApisId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for the External API resource. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "externalApiId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the External API resource, which will become the final component of the External API's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another External API resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Create an External API resource in the API hub.",
                  "path": "v1/{+parent}/externalApis",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/externalApis",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  },
                  "id": "apihub.projects.locations.externalApis.create",
                  "request": {
                    "$ref": "GoogleCloudApihubV1ExternalApi"
                  }
                }
              }
            },
            "attributes": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "id": "apihub.projects.locations.attributes.create",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "path": "v1/{+parent}/attributes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Create a user defined attribute. Certain pre defined attributes are already created by the API hub. These attributes will have type as `SYSTEM_DEFINED` and can be listed via ListAttributes method. Allowed values for the same can be updated via UpdateAttribute method.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "attributeId": {
                      "location": "query",
                      "description": "Optional. The ID to use for the attribute, which will become the final component of the attribute's resource name. This field is optional. * If provided, the same will be used. The service will throw an error if the specified id is already used by another attribute resource in the API hub. * If not provided, a system generated id will be used. This value should be 4-500 characters, and valid characters are /a-z[0-9]-_/.",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the attribute. The following fields in the Attribute resource can be updated: * display_name The display name can be updated for user defined attributes only. * description The description can be updated for user defined attributes only. * allowed_values To update the list of allowed values, clients need to use the fetched list of allowed values and add or remove values to or from the same list. The mutable allowed values can be updated for both user defined and System defined attributes. The immutable allowed values cannot be updated or deleted. The updated list of allowed values cannot be empty. If an allowed value that is already used by some resource's attribute is deleted, then the association between the resource and the attribute value will also be deleted. * cardinality The cardinality can be updated for user defined attributes only. Cardinality can only be increased during an update. The update_mask should be used to specify the fields being updated.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. The list of fields to update.",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Identifier. The name of the attribute in the API Hub. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  },
                  "id": "apihub.projects.locations.attributes.patch",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the attribute to retrieve. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Get details about the attribute.",
                  "id": "apihub.projects.locations.attributes.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1Attribute"
                  }
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apihub.projects.locations.attributes.delete",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the attribute to delete. Format: `projects/{project}/locations/{location}/attributes/{attribute}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/attributes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete an attribute. Note: System defined attributes cannot be deleted. All associations of the attribute being deleted with any API hub resource will also get deleted.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes/{attributesId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "description": "List all attributes.",
                  "path": "v1/{+parent}/attributes",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/attributes",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of attribute resources to return. The service may return fewer than this value. If unspecified, at most 50 attributes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListAttributes` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAttributes` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. An expression that filters the list of Attributes. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string or a boolean. The comparison operator must be one of: `<`, `>` or `=`. Filters are not case sensitive. The following fields in the `Attribute` are eligible for filtering: * `display_name` - The display name of the Attribute. Allowed comparison operators: `=`. * `definition_type` - The definition type of the attribute. Allowed comparison operators: `=`. * `scope` - The scope of the attribute. Allowed comparison operators: `=`. * `data_type` - The type of the data of the attribute. Allowed comparison operators: `=`. * `mandatory` - Denotes whether the attribute is mandatory or not. Allowed comparison operators: `=`. * `create_time` - The time at which the Attribute was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. Allowed comparison operators: `>` and `<`. Expressions are combined with either `AND` logic operator or `OR` logical operator but not both of them together i.e. only one of the `AND` or `OR` operator can be used throughout the filter string and both the operators cannot be used together. No other logical operators are supported. At most three filter fields are allowed in the filter string and if provided more than that then `INVALID_ARGUMENT` error is returned by the API. Here are a few examples: * `display_name = production` - - The display name of the attribute is _production_. * `(display_name = production) AND (create_time < \\\"2021-08-15T14:50:00Z\\\") AND (create_time > \\\"2021-08-10T12:00:00Z\\\")` - The display name of the attribute is _production_ and the attribute was created before _2021-08-15 14:50:00 UTC_ and after _2021-08-10 12:00:00 UTC_. * `display_name = production OR scope = api` - The attribute where the display name is _production_ or the scope is _api_.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource for Attribute. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1ListAttributesResponse"
                  },
                  "id": "apihub.projects.locations.attributes.list"
                }
              }
            },
            "runtimeProjectAttachments": {
              "methods": {
                "get": {
                  "id": "apihub.projects.locations.runtimeProjectAttachments.get",
                  "response": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments/{runtimeProjectAttachmentsId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a runtime project attachment.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the API resource to retrieve. Format: `projects/{project}/locations/{location}/runtimeProjectAttachments/{runtime_project_attachment}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeProjectAttachments/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "description": "Delete a runtime project attachment in the API Hub. This call will detach the runtime project from the host project.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments/{runtimeProjectAttachmentsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The name of the Runtime Project Attachment to delete. Format: `projects/{project}/locations/{location}/runtimeProjectAttachments/{runtime_project_attachment}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeProjectAttachments/[^/]+$"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apihub.projects.locations.runtimeProjectAttachments.delete"
                },
                "create": {
                  "parameters": {
                    "runtimeProjectAttachmentId": {
                      "location": "query",
                      "description": "Required. The ID to use for the Runtime Project Attachment, which will become the final component of the Runtime Project Attachment's name. The ID must be the same as the project ID of the Google cloud project specified in the runtime_project_attachment.runtime_project field.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource for the Runtime Project Attachment. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Attaches a runtime project to the host project.",
                  "path": "v1/{+parent}/runtimeProjectAttachments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  },
                  "id": "apihub.projects.locations.runtimeProjectAttachments.create",
                  "request": {
                    "$ref": "GoogleCloudApihubV1RuntimeProjectAttachment"
                  }
                },
                "list": {
                  "description": "List runtime projects attached to the host project.",
                  "path": "v1/{+parent}/runtimeProjectAttachments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/runtimeProjectAttachments",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Hint for how to order the results.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListRuntimeProjectAttachments` call. Provide this to retrieve the subsequent page. When paginating, all other parameters (except page_size) provided to `ListRuntimeProjectAttachments` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression that filters the list of RuntimeProjectAttachments. A filter expression consists of a field name, a comparison operator, and a value for filtering. The value must be a string. All standard operators as documented at https://google.aip.dev/160 are supported. The following fields in the `RuntimeProjectAttachment` are eligible for filtering: * `name` - The name of the RuntimeProjectAttachment. * `create_time` - The time at which the RuntimeProjectAttachment was created. The value should be in the (RFC3339)[https://tools.ietf.org/html/rfc3339] format. * `runtime_project` - The Google cloud project associated with the RuntimeProjectAttachment.",
                      "type": "string",
                      "location": "query"
                    },
[...]
