{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "version": "v2",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://apikeys.mtls.googleapis.com/",
  "id": "apikeys:v2",
  "version_module": true,
  "name": "apikeys",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "V2ApiTarget": {
      "description": "A restriction for a specific service and optionally one or multiple specific methods. Both fields are case insensitive.",
      "id": "V2ApiTarget",
      "type": "object",
      "properties": {
        "service": {
          "description": "The service for this restriction. It should be the canonical service name, for example: `translate.googleapis.com`. You can use [`gcloud services list`](https://cloud.google.com/sdk/gcloud/reference/services/list) to get a list of services that are enabled in the project.",
          "type": "string"
        },
        "methods": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. List of one or more methods that can be called. If empty, all methods for the service are allowed. A wildcard (*) can be used as the last symbol. Valid examples: `google.cloud.translate.v2.TranslateService.GetSupportedLanguage` `TranslateText` `Get*` `translate.googleapis.com.Get*`"
        }
      }
    },
    "V2UndeleteKeyRequest": {
      "id": "V2UndeleteKeyRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for `UndeleteKey` method."
    },
    "V2GetKeyStringResponse": {
      "id": "V2GetKeyStringResponse",
      "type": "object",
      "properties": {
        "keyString": {
          "description": "An encrypted and signed value of the key.",
          "type": "string"
        }
      },
      "description": "Response message for `GetKeyString` method."
    },
    "V2Key": {
      "description": "The representation of a key managed by the API Keys API.",
      "id": "V2Key",
      "type": "object",
      "properties": {
        "uid": {
          "description": "Output only. Unique id in UUID4 format.",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "A checksum computed by the server based on the current value of the Key resource. This may be sent on update and delete requests to ensure the client has an up-to-date value before proceeding. See https://google.aip.dev/154.",
          "type": "string"
        },
        "serviceAccountEmail": {
          "description": "Optional. The email address of [the service account](https://cloud.google.com/iam/docs/service-accounts) the key is bound to.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A timestamp when this key was deleted. If the resource is not deleted, this must be empty.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. A timestamp identifying the time this key was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "annotations": {
          "description": "Annotations is an unstructured key-value map stored with a policy that may be set by external tools to store and retrieve arbitrary metadata. They are not queryable and should be preserved when modifying objects.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Human-readable display name of this key that you can modify. The maximum length is 63 characters.",
          "type": "string"
        },
        "keyString": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An encrypted and signed value held by this key. This field can be accessed only through the `GetKeyString` method."
        },
        "restrictions": {
          "$ref": "V2Restrictions",
          "description": "Key restrictions."
        },
        "createTime": {
          "description": "Output only. A timestamp identifying the time this key was originally created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "V2ListKeysResponse": {
      "properties": {
        "keys": {
          "items": {
            "$ref": "V2Key"
          },
          "type": "array",
          "description": "A list of API keys."
        },
        "nextPageToken": {
          "description": "The pagination token for the next page of results.",
          "type": "string"
        }
      },
      "id": "V2ListKeysResponse",
      "type": "object",
      "description": "Response message for `ListKeys` method."
    },
    "V2IosKeyRestrictions": {
      "description": "The iOS apps that are allowed to use the key.",
      "properties": {
        "allowedBundleIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of bundle IDs that are allowed when making API calls with this key."
        }
      },
      "id": "V2IosKeyRestrictions",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "V2Restrictions": {
      "description": "Describes the restrictions on the key.",
      "properties": {
        "serverKeyRestrictions": {
          "description": "The IP addresses of callers that are allowed to use the key.",
          "$ref": "V2ServerKeyRestrictions"
        },
        "apiTargets": {
          "type": "array",
          "items": {
            "$ref": "V2ApiTarget"
          },
          "description": "A restriction for a specific service and optionally one or more specific methods. Requests are allowed if they match any of these restrictions. If no restrictions are specified, all targets are allowed."
        },
        "androidKeyRestrictions": {
          "description": "The Android apps that are allowed to use the key.",
          "$ref": "V2AndroidKeyRestrictions"
        },
        "iosKeyRestrictions": {
          "$ref": "V2IosKeyRestrictions",
          "description": "The iOS apps that are allowed to use the key."
        },
        "browserKeyRestrictions": {
          "$ref": "V2BrowserKeyRestrictions",
          "description": "The HTTP referrers (websites) that are allowed to use the key."
        }
      },
      "id": "V2Restrictions",
      "type": "object"
    },
    "V2AndroidKeyRestrictions": {
      "description": "The Android apps that are allowed to use the key.",
      "id": "V2AndroidKeyRestrictions",
      "type": "object",
      "properties": {
        "allowedApplications": {
          "items": {
            "$ref": "V2AndroidApplication"
          },
          "type": "array",
          "description": "A list of Android applications that are allowed to make API calls with this key."
        }
      }
    },
    "V2AndroidApplication": {
      "id": "V2AndroidApplication",
      "type": "object",
      "properties": {
        "sha1Fingerprint": {
          "description": "The SHA1 fingerprint of the application. For example, both sha1 formats are acceptable : DA:39:A3:EE:5E:6B:4B:0D:32:55:BF:EF:95:60:18:90:AF:D8:07:09 or DA39A3EE5E6B4B0D3255BFEF95601890AFD80709. Output format is the latter.",
          "type": "string"
        },
        "packageName": {
          "description": "The package name of the application.",
          "type": "string"
        }
      },
      "description": "Identifier of an Android application for key use."
    },
    "V2ServerKeyRestrictions": {
      "properties": {
        "allowedIps": {
          "description": "A list of the caller IP addresses that are allowed to make API calls with this key.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "V2ServerKeyRestrictions",
      "type": "object",
      "description": "The IP addresses of callers that are allowed to use the key."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "V2BrowserKeyRestrictions": {
      "description": "The HTTP referrers (websites) that are allowed to use the key.",
      "id": "V2BrowserKeyRestrictions",
      "type": "object",
      "properties": {
        "allowedReferrers": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of regular expressions for the referrer URLs that are allowed to make API calls with this key."
        }
      }
    },
    "V2LookupKeyResponse": {
      "description": "Response message for `LookupKey` method.",
      "id": "V2LookupKeyResponse",
      "type": "object",
      "properties": {
        "parent": {
          "description": "The project that owns the key with the value specified in the request.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the API key. If the API key has been purged, resource name is empty.",
          "type": "string"
        }
      }
    }
  },
  "revision": "20260507",
  "documentationLink": "https://cloud.google.com/api-keys/docs",
  "canonicalName": "Api Keys Service",
  "ownerName": "Google",
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "path": "v2/{+name}",
          "id": "apikeys.operations.get",
          "flatPath": "v2/operations/{operationsId}",
          "httpMethod": "GET",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameters": {
            "name": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The name of the operation resource.",
              "pattern": "^operations/[^/]+$"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "keys": {
              "methods": {
                "getKeyString": {
                  "httpMethod": "GET",
                  "description": "Get the key string for an API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}/keyString",
                  "id": "apikeys.projects.locations.keys.getKeyString",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}/keyString",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "V2GetKeyStringResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the API key to be retrieved.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    }
                  }
                },
                "undelete": {
                  "path": "v2/{+name}:undelete",
                  "id": "apikeys.projects.locations.keys.undelete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}:undelete",
                  "httpMethod": "POST",
                  "description": "Undeletes an API key which was deleted within 30 days. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "V2UndeleteKeyRequest"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Required. The resource name of the API key to be undeleted."
                    }
                  }
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "description": "Patches the modifiable fields of an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}",
                  "id": "apikeys.projects.locations.keys.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "request": {
                    "$ref": "V2Key"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$",
                      "description": "Identifier. The resource name of the key. The `name` has the form: `projects//locations/global/keys/`. For example: `projects/123456867718/locations/global/keys/b7ff1f9f-8275-410a-94dd-3855ee9b5dd2` NOTE: Key is a global resource; hence the only supported value for location is `global`."
                    },
                    "updateMask": {
                      "description": "The field mask specifies which fields to be updated as part of this request. All other fields are ignored. Mutable fields are: `display_name`, `restrictions`, and `annotations`. If an update mask is not provided, the service treats it as an implied mask equivalent to all allowed fields that are set on the wire. If the field mask has a special value \"*\", the service treats it equivalent to replace all allowed mutable fields.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes an API key. Deleted key can be retrieved within 30 days of deletion. Afterward, key will be purged from the project. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "path": "v2/{+name}",
                  "id": "apikeys.projects.locations.keys.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the API key to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    },
                    "etag": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The etag known to the client for the expected state of the key. This is to be used for optimistic concurrency."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project in which the API key is created. The parent field must be in format of \"projects//locations/global\".",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "keyId": {
                      "location": "query",
                      "type": "string",
                      "description": "User specified key id (optional). If specified, it will become the final component of the key resource name. The id must be unique within the project, must conform with RFC-1034, is restricted to lower-cased letters, and has a maximum length of 63 characters. In another word, the id must match the regular expression: `[a-z]([a-z0-9-]{0,61}[a-z0-9])?`. The id must NOT be a UUID-like string."
                    }
                  },
                  "request": {
                    "$ref": "V2Key"
                  },
                  "id": "apikeys.projects.locations.keys.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "path": "v2/{+parent}/keys",
                  "description": "Creates a new API key. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "POST"
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Requests a specific page of results."
                    },
                    "showDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Indicate that keys deleted in the past 30 days should also be returned."
                    },
                    "pageSize": {
                      "description": "Optional. Specifies the maximum number of results to be returned at a time.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Lists all API keys associated with this project. The parent field must be in format of \"projects//locations/global\".",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "V2ListKeysResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists the API keys owned by a project. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "GET",
                  "id": "apikeys.projects.locations.keys.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys",
                  "path": "v2/{+parent}/keys"
                },
                "get": {
                  "description": "Gets the metadata for an API key. The key string of the API key isn't included in the response. NOTE: Key is a global resource; hence the only supported value for location is `global`.",
                  "httpMethod": "GET",
                  "id": "apikeys.projects.locations.keys.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/keys/{keysId}",
                  "path": "v2/{+name}",
                  "response": {
                    "$ref": "V2Key"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name of the API key to get.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/keys/[^/]+$"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "keys": {
      "methods": {
        "lookupKey": {
          "path": "v2/keys:lookupKey",
          "id": "apikeys.keys.lookupKey",
          "flatPath": "v2/keys:lookupKey",
          "httpMethod": "GET",
          "description": "Find the parent project and resource name of the API key that matches the key string in the request. If the API key has been purged, resource name will not be set. The service account must have the `apikeys.keys.lookup` permission on the parent project.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "V2LookupKeyResponse"
          },
          "parameters": {
            "keyString": {
              "description": "Required. Finds the project that owns the key string value.",
              "location": "query",
              "type": "string"
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://apikeys.googleapis.com/",
  "baseUrl": "https://apikeys.googleapis.com/",
  "basePath": "",
  "batchPath": "batch",
  "title": "API Keys API",
  "servicePath": "",
  "description": "Manages the API keys associated with developer projects.",
  "protocol": "rest"
}