{
  "kind": "discovery#restDescription",
  "rootUrl": "https://apim.googleapis.com/",
  "documentationLink": "https://cloud.google.com/apigee/",
  "canonicalName": "API Management",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "id": "apim:v1alpha",
  "basePath": "",
  "revision": "20260311",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "baseUrl": "https://apim.googleapis.com/",
  "version": "v1alpha",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "title": "API Management API",
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "schemas": {
    "ListApiObservationTagsResponse": {
      "properties": {
        "apiObservationTags": {
          "description": "The tags from the specified project",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Message for response to listing tags",
      "type": "object",
      "id": "ListApiObservationTagsResponse"
    },
    "OperationMetadata": {
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "id": "OperationMetadata"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "BatchEditTagsApiObservationsRequest": {
      "id": "BatchEditTagsApiObservationsRequest",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          }
        }
      }
    },
    "ListObservationSourcesResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "observationSources": {
          "items": {
            "$ref": "ObservationSource"
          },
          "description": "The ObservationSource from the specified project and location.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Message for response to listing ObservationSources",
      "type": "object",
      "id": "ListObservationSourcesResponse"
    },
    "HttpOperation": {
      "properties": {
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        },
        "method": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "description": "HTTP Method.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        },
        "pathParams": {
          "description": "Path params of HttpOperation",
          "type": "array",
          "items": {
            "$ref": "HttpOperationPathParam"
          }
        },
        "request": {
          "$ref": "HttpOperationHttpRequest",
          "description": "Request metadata."
        },
        "queryParams": {
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          },
          "description": "Query params of HttpOperation",
          "type": "object"
        },
        "response": {
          "description": "Response metadata.",
          "$ref": "HttpOperationHttpResponse"
        }
      },
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "type": "object",
      "id": "HttpOperation"
    },
    "ListApiObservationsResponse": {
      "id": "ListApiObservationsResponse",
      "description": "Message for response to listing ApiObservations",
      "type": "object",
      "properties": {
        "apiObservations": {
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "The ApiObservation from the specified project and location and ObservationJobs.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "DisableObservationJobRequest": {
      "id": "DisableObservationJobRequest",
      "properties": {},
      "description": "Message for disabling an ObservationJob",
      "type": "object"
    },
    "Entitlement": {
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "type": "object",
      "properties": {
        "billingProjectNumber": {
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement creation.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time of the entitlement update.",
          "type": "string",
          "format": "google-datetime"
        },
        "apiObservationEntitled": {
          "description": "Whether API Observation is entitled.",
          "type": "boolean"
        }
      },
      "id": "Entitlement"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "ApiOperation": {
      "id": "ApiOperation",
      "properties": {
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this API Operation.",
          "type": "string"
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        },
        "lastSeenTime": {
          "format": "google-datetime",
          "description": "Last seen time stamp",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "firstSeenTime": {
          "description": "First seen time stamp",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Message describing ApiOperation object",
      "type": "object"
    },
    "ListObservationJobsResponse": {
      "description": "Message for response to listing ObservationJobs",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "observationJobs": {
          "description": "The ObservationJob from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListObservationJobsResponse"
    },
    "GclbObservationSource": {
      "id": "GclbObservationSource",
      "properties": {
        "pscNetworkConfigs": {
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network.",
          "type": "array",
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          }
        }
      },
      "description": "The GCLB observation source.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "EnableObservationJobRequest": {
      "description": "Message for enabling an ObservationJob",
      "type": "object",
      "properties": {},
      "id": "EnableObservationJobRequest"
    },
    "HttpOperationPathParam": {
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter.",
      "type": "object",
      "properties": {
        "position": {
          "format": "int32",
          "description": "Segment location in the path, 1-indexed",
          "type": "integer"
        },
        "dataType": {
          "description": "Data type of path param",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      }
    },
    "BatchEditTagsApiObservationsResponse": {
      "id": "BatchEditTagsApiObservationsResponse",
      "description": "Message for response to edit Tags for ApiObservations",
      "type": "object",
      "properties": {
        "apiObservations": {
          "description": "ApiObservations that were changed",
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      }
    },
    "EditTagsApiObservationsRequest": {
      "properties": {
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        },
        "tagActions": {
          "items": {
            "$ref": "TagAction"
          },
          "description": "Required. Tag actions to be applied",
          "type": "array"
        }
      },
      "description": "Message for requesting edit tags for ApiObservation",
      "type": "object",
      "id": "EditTagsApiObservationsRequest"
    },
    "HttpOperationQueryParam": {
      "description": "An aggregation of HTTP query parameter occurrences.",
      "type": "object",
      "properties": {
        "dataType": {
          "description": "Data type of path param",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "description": "The number of occurrences of this query parameter across transactions.",
          "type": "string"
        }
      },
      "id": "HttpOperationQueryParam"
    },
    "ListApiOperationsResponse": {
      "id": "ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation.",
          "type": "array",
          "items": {
            "$ref": "ApiOperation"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Message for response to listing ApiOperations",
      "type": "object"
    },
    "HttpOperationHeader": {
      "id": "HttpOperationHeader",
      "properties": {
        "dataType": {
          "description": "Data type of header",
          "type": "string",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        },
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of this Header across transactions.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "An aggregation of HTTP header occurrences.",
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "ObservationJob": {
      "description": "Message describing ObservationJob object",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "sources": {
          "description": "Optional. These should be of the same kind of source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. The observation job state",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "ObservationJob"
    },
    "HttpOperationHttpRequest": {
      "description": "An aggregation of HTTP requests.",
      "type": "object",
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "description": "Unordered map from header name to header metadata",
          "type": "object"
        }
      },
      "id": "HttpOperationHttpRequest"
    },
    "ObservationSource": {
      "id": "ObservationSource",
      "properties": {
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp",
          "type": "string",
          "readOnly": true
        },
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation source state",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Observation source configuration types",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "id": "GclbObservationSourcePscNetworkConfig",
      "description": "Network information for setting up a PSC connection.",
      "type": "object",
      "properties": {
        "network": {
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      }
    },
    "ApiObservation": {
      "properties": {
        "lastEventDetectedTime": {
          "format": "google-datetime",
          "description": "Last event detected time stamp",
          "type": "string"
        },
        "style": {
          "description": "Style of ApiObservation",
          "type": "string",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ]
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "User-defined tags to organize and sort",
          "type": "array"
        },
        "serverIps": {
          "items": {
            "type": "string"
          },
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "sourceLocations": {
          "items": {
            "type": "string"
          },
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\"",
          "type": "array"
        },
        "apiOperationCount": {
          "description": "The number of observed API Operations.",
          "type": "string",
          "format": "int64"
        },
        "updateTime": {
          "description": "Update time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "hostname": {
          "description": "The hostname of requests processed for this Observation.",
          "type": "string"
        }
      },
      "description": "Message describing ApiObservation object",
      "type": "object",
      "id": "ApiObservation"
    },
    "HttpOperationHttpResponse": {
      "id": "HttpOperationHttpResponse",
      "properties": {
        "headers": {
          "description": "Unordered map from header name to header metadata",
          "type": "object",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        },
        "responseCodes": {
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of status code to observed count",
          "type": "object"
        }
      },
      "description": "An aggregation of HTTP responses.",
      "type": "object"
    },
    "TagAction": {
      "id": "TagAction",
      "properties": {
        "action": {
          "description": "Required. Action to be applied",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "tag": {
          "description": "Required. Tag to be added or removed",
          "type": "string"
        }
      },
      "description": "Message for edit tag action",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "id": "Location"
    }
  },
  "name": "apim",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listApiObservationTags": {
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "httpMethod": "GET",
              "id": "apim.projects.locations.listApiObservationTags",
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "type": "integer",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "id": "apim.projects.locations.get",
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "getEntitlement": {
              "response": {
                "$ref": "Entitlement"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "httpMethod": "GET",
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "parameters": {
                "name": {
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apim.projects.locations.getEntitlement",
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}"
            },
            "list": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1alpha/{+name}/locations",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "id": "apim.projects.locations.list",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "apim.projects.locations.operations.get"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "id": "apim.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE"
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "apim.projects.locations.operations.cancel",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.operations.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "observationSources": {
              "methods": {
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationSources.get",
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled.",
                  "id": "apim.projects.locations.observationSources.delete",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "create": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/observationSources",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "type": "string"
                    },
                    "observationSourceId": {
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "id": "apim.projects.locations.observationSources.create"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "path": "v1alpha/{+parent}/observationSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationSources.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ListObservationSources gets all ObservationSources for a given project and location."
                }
              }
            },
            "observationJobs": {
              "methods": {
                "disable": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:disable",
                  "description": "Disables the given ObservationJob.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.disable"
                },
                "create": {
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationJobs.create",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "type": "string"
                    },
                    "observationJobId": {
                      "location": "query",
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationJobs.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  }
                },
                "enable": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}:enable",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enables the given ObservationJob.",
                  "id": "apim.projects.locations.observationJobs.enable",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationJobs.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ObservationJob"
                  }
                },
                "delete": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationJobs.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "apiObservations": {
                  "methods": {
                    "list": {
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/apiObservations",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "httpMethod": "GET"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1alpha/{+name}",
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ApiObservation"
                      }
                    },
                    "batchEditTags": {
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "httpMethod": "POST"
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "get": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "path": "v1alpha/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "GetApiOperation retrieves a single ApiOperation by name."
                        },
                        "list": {
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "path": "v1alpha/{+parent}/apiOperations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "parameters": {
                            "pageToken": {
                              "location": "query",
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "location": "path",
                              "required": true,
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                              "type": "string"
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}