{
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "version_module": true,
  "protocol": "rest",
  "version": "v1alpha",
  "documentationLink": "https://cloud.google.com/apigee/",
  "canonicalName": "API Management",
  "discoveryVersion": "v1",
  "revision": "20260422",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "name": "apim",
  "ownerDomain": "google.com",
  "rootUrl": "https://apim.googleapis.com/",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "apim:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listApiObservationTags": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "apim.projects.locations.listApiObservationTags",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "path": "v1alpha/{+parent}:listApiObservationTags"
            },
            "getEntitlement": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "apim.projects.locations.getEntitlement",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "parameters": {
                "name": {
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$",
                  "required": true
                }
              },
              "response": {
                "$ref": "Entitlement"
              }
            },
            "list": {
              "id": "apim.projects.locations.list",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "path": "v1alpha/{+name}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                }
              }
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "apim.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              }
            }
          },
          "resources": {
            "observationSources": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationSources.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. Value for parent."
                    },
                    "observationSourceId": {
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "path": "v1alpha/{+parent}/observationSources"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationSources.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.observationSources.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationSources.list",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/observationSources",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  }
                }
              }
            },
            "observationJobs": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationJobs.create",
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/observationJobs",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "parameters": {
                    "observationJobId": {
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationJobs.delete"
                },
                "disable": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationJobs.disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  },
                  "description": "Disables the given ObservationJob.",
                  "path": "v1alpha/{+name}:disable"
                },
                "get": {
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.observationJobs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "enable": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  },
                  "description": "Enables the given ObservationJob.",
                  "path": "v1alpha/{+name}:enable",
                  "httpMethod": "POST",
                  "id": "apim.projects.locations.observationJobs.enable",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "apim.projects.locations.observationJobs.list",
                  "httpMethod": "GET",
                  "path": "v1alpha/{+parent}/observationJobs",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token."
                    },
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  }
                }
              },
              "resources": {
                "apiObservations": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "path": "v1alpha/{+name}",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}",
                      "description": "GetApiObservation retrieves a single ApiObservation by name."
                    },
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        }
                      },
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "path": "v1alpha/{+parent}/apiObservations",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.list"
                    },
                    "batchEditTags": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}"
                        }
                      },
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags"
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "get": {
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "required": true
                            }
                          },
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "path": "v1alpha/{+name}",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameterOrder": [
                            "name"
                          ],
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get"
                        },
                        "list": {
                          "httpMethod": "GET",
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "required": true,
                              "location": "path",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "path": "v1alpha/{+parent}/apiOperations"
                        }
                      }
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v1alpha/{+name}/operations"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "apim.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "id": "apim.projects.locations.operations.cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v1alpha/{+name}:cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "API Management API",
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "servicePath": "",
  "baseUrl": "https://apim.googleapis.com/",
  "schemas": {
    "ListObservationJobsResponse": {
      "type": "object",
      "id": "ListObservationJobsResponse",
      "description": "Message for response to listing ObservationJobs",
      "properties": {
        "observationJobs": {
          "description": "The ObservationJob from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "HttpOperationHttpResponse": {
      "type": "object",
      "id": "HttpOperationHttpResponse",
      "description": "An aggregation of HTTP responses.",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        },
        "responseCodes": {
          "description": "Map of status code to observed count",
          "additionalProperties": {
            "format": "int64",
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object"
    },
    "GclbObservationSource": {
      "type": "object",
      "id": "GclbObservationSource",
      "description": "The GCLB observation source.",
      "properties": {
        "pscNetworkConfigs": {
          "type": "array",
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network."
        }
      }
    },
    "ObservationJob": {
      "type": "object",
      "properties": {
        "sources": {
          "description": "Optional. These should be of the same kind of source.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
          "type": "string"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation job state"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime"
        }
      },
      "id": "ObservationJob",
      "description": "Message describing ObservationJob object"
    },
    "HttpOperationQueryParam": {
      "type": "object",
      "id": "HttpOperationQueryParam",
      "description": "An aggregation of HTTP query parameter occurrences.",
      "properties": {
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "count": {
          "description": "The number of occurrences of this query parameter across transactions.",
          "format": "int64",
          "type": "string"
        },
        "dataType": {
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Data type of path param",
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "HttpOperationHttpRequest": {
      "type": "object",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        }
      },
      "id": "HttpOperationHttpRequest",
      "description": "An aggregation of HTTP requests."
    },
    "DisableObservationJobRequest": {
      "type": "object",
      "id": "DisableObservationJobRequest",
      "description": "Message for disabling an ObservationJob",
      "properties": {}
    },
    "EnableObservationJobRequest": {
      "properties": {},
      "id": "EnableObservationJobRequest",
      "description": "Message for enabling an ObservationJob",
      "type": "object"
    },
    "ListApiObservationsResponse": {
      "type": "object",
      "properties": {
        "apiObservations": {
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          },
          "description": "The ApiObservation from the specified project and location and ObservationJobs."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListApiObservationsResponse",
      "description": "Message for response to listing ApiObservations"
    },
    "ObservationSource": {
      "type": "object",
      "properties": {
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource For MVP, each region can only have 1 source."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation source state"
        }
      },
      "id": "ObservationSource",
      "description": "Observation source configuration types"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "format": "google-datetime"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "BatchEditTagsApiObservationsRequest": {
      "properties": {
        "requests": {
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch.",
          "type": "array",
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          }
        }
      },
      "id": "BatchEditTagsApiObservationsRequest",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "type": "object"
    },
    "ListObservationSourcesResponse": {
      "properties": {
        "observationSources": {
          "description": "The ObservationSource from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationSource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListObservationSourcesResponse",
      "description": "Message for response to listing ObservationSources",
      "type": "object"
    },
    "HttpOperationHeader": {
      "type": "object",
      "id": "HttpOperationHeader",
      "description": "An aggregation of HTTP header occurrences.",
      "properties": {
        "dataType": {
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Header name."
        },
        "count": {
          "description": "The number of occurrences of this Header across transactions.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "EditTagsApiObservationsRequest": {
      "id": "EditTagsApiObservationsRequest",
      "description": "Message for requesting edit tags for ApiObservation",
      "properties": {
        "tagActions": {
          "type": "array",
          "items": {
            "$ref": "TagAction"
          },
          "description": "Required. Tag actions to be applied"
        },
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "HttpOperationPathParam": {
      "type": "object",
      "id": "HttpOperationPathParam",
      "description": "HTTP Path parameter.",
      "properties": {
        "position": {
          "description": "Segment location in the path, 1-indexed",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "description": "Data type of path param"
        }
      }
    },
    "ListApiObservationTagsResponse": {
      "type": "object",
      "id": "ListApiObservationTagsResponse",
      "description": "Message for response to listing tags",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "apiObservationTags": {
          "description": "The tags from the specified project",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Entitlement": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the entitlement creation.",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time of the entitlement update.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "apiObservationEntitled": {
          "type": "boolean",
          "description": "Whether API Observation is entitled."
        },
        "billingProjectNumber": {
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled.",
          "format": "int64",
          "type": "string"
        }
      },
      "id": "Entitlement",
      "description": "Entitlement stores data related to API Observation entitlement for a given project"
    },
    "ListApiOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiOperations": {
          "type": "array",
          "items": {
            "$ref": "ApiOperation"
          },
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation."
        }
      },
      "id": "ListApiOperationsResponse",
      "description": "Message for response to listing ApiOperations",
      "type": "object"
    },
    "ApiObservation": {
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "User-defined tags to organize and sort"
        },
        "hostname": {
          "type": "string",
          "description": "The hostname of requests processed for this Observation."
        },
        "sourceLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
        },
        "updateTime": {
          "description": "Update time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "style": {
          "type": "string",
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "description": "Style of ApiObservation"
        },
        "apiOperationCount": {
          "description": "The number of observed API Operations.",
          "format": "int64",
          "type": "string"
        },
        "lastEventDetectedTime": {
          "type": "string",
          "description": "Last event detected time stamp",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Create time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "serverIps": {
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Identifier. Name of resource"
        }
      },
      "id": "ApiObservation",
      "description": "Message describing ApiObservation object",
      "type": "object"
    },
    "TagAction": {
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "description": "Required. Action to be applied",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ]
        },
        "tag": {
          "type": "string",
          "description": "Required. Tag to be added or removed"
        }
      },
      "id": "TagAction",
      "description": "Message for edit tag action",
      "type": "object"
    },
    "ApiOperation": {
      "type": "object",
      "properties": {
        "lastSeenTime": {
          "description": "Last seen time stamp",
          "format": "google-datetime",
          "type": "string"
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "firstSeenTime": {
          "type": "string",
          "description": "First seen time stamp",
          "format": "google-datetime"
        },
        "count": {
          "type": "string",
          "description": "The number of occurrences of this API Operation.",
          "format": "int64"
        }
      },
      "id": "ApiOperation",
      "description": "Message describing ApiOperation object"
    },
    "BatchEditTagsApiObservationsResponse": {
      "id": "BatchEditTagsApiObservationsResponse",
      "description": "Message for response to edit Tags for ApiObservations",
      "properties": {
        "apiObservations": {
          "description": "ApiObservations that were changed",
          "type": "array",
          "items": {
            "$ref": "ApiObservation"
          }
        }
      },
      "type": "object"
    },
    "HttpOperation": {
      "id": "HttpOperation",
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "properties": {
        "response": {
          "description": "Response metadata.",
          "$ref": "HttpOperationHttpResponse"
        },
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        },
        "pathParams": {
          "type": "array",
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "description": "Path params of HttpOperation"
        },
        "queryParams": {
          "type": "object",
          "description": "Query params of HttpOperation",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          }
        },
        "request": {
          "description": "Request metadata.",
          "$ref": "HttpOperationHttpRequest"
        },
        "method": {
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "type": "string",
          "description": "HTTP Method.",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GclbObservationSourcePscNetworkConfig": {
      "type": "object",
      "id": "GclbObservationSourcePscNetworkConfig",
      "description": "Network information for setting up a PSC connection.",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}"
        },
        "network": {
          "type": "string",
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`"
        }
      }
    }
  },
  "basePath": "",
  "ownerName": "Google"
}