{
  "canonicalName": "API Management",
  "description": "Enables users to discover shadow APIs in existing Google Cloud infrastructure.",
  "discoveryVersion": "v1",
  "schemas": {
    "HttpOperation": {
      "id": "HttpOperation",
      "properties": {
        "request": {
          "description": "Request metadata.",
          "$ref": "HttpOperationHttpRequest"
        },
        "response": {
          "$ref": "HttpOperationHttpResponse",
          "description": "Response metadata."
        },
        "method": {
          "type": "string",
          "enum": [
            "HTTP_METHOD_UNSPECIFIED",
            "GET",
            "HEAD",
            "POST",
            "PUT",
            "PATCH",
            "DELETE",
            "TRACE",
            "OPTIONS",
            "CONNECT"
          ],
          "description": "HTTP Method.",
          "enumDescriptions": [
            "Unspecified HTTP method",
            "GET HTTP method",
            "HEAD HTTP method",
            "POST HTTP method",
            "PUT HTTP method",
            "PATCH HTTP method",
            "DELETE HTTP method",
            "TRACE HTTP method",
            "OPTIONS HTTP method",
            "CONNECT HTTP method"
          ]
        },
        "path": {
          "description": "Path of the HTTP request.",
          "type": "string"
        },
        "pathParams": {
          "items": {
            "$ref": "HttpOperationPathParam"
          },
          "type": "array",
          "description": "Path params of HttpOperation"
        },
        "queryParams": {
          "description": "Query params of HttpOperation",
          "additionalProperties": {
            "$ref": "HttpOperationQueryParam"
          },
          "type": "object"
        }
      },
      "description": "An HTTP-based API Operation, sometimes called a \"REST\" Operation.",
      "type": "object"
    },
    "ListApiObservationTagsResponse": {
      "description": "Message for response to listing tags",
      "id": "ListApiObservationTagsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservationTags": {
          "description": "The tags from the specified project",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ListObservationJobsResponse": {
      "description": "Message for response to listing ObservationJobs",
      "id": "ListObservationJobsResponse",
      "properties": {
        "observationJobs": {
          "description": "The ObservationJob from the specified project and location.",
          "type": "array",
          "items": {
            "$ref": "ObservationJob"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Entitlement": {
      "id": "Entitlement",
      "properties": {
        "billingProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "Project number of associated billing project that has Apigee and Advanced API Security entitled."
        },
        "name": {
          "description": "Identifier. The entitlement resource name `projects/{project}/locations/{location}/entitlement`",
          "type": "string"
        },
        "apiObservationEntitled": {
          "description": "Whether API Observation is entitled.",
          "type": "boolean"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time of the entitlement creation."
        },
        "updateTime": {
          "description": "Output only. The time of the entitlement update.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Entitlement stores data related to API Observation entitlement for a given project",
      "type": "object"
    },
    "HttpOperationPathParam": {
      "type": "object",
      "description": "HTTP Path parameter.",
      "id": "HttpOperationPathParam",
      "properties": {
        "position": {
          "description": "Segment location in the path, 1-indexed",
          "format": "int32",
          "type": "integer"
        },
        "dataType": {
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "type": "string"
        }
      }
    },
    "HttpOperationQueryParam": {
      "id": "HttpOperationQueryParam",
      "properties": {
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this query parameter across transactions."
        },
        "name": {
          "description": "Name of query param",
          "type": "string"
        },
        "dataType": {
          "type": "string",
          "description": "Data type of path param",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ],
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ]
        }
      },
      "description": "An aggregation of HTTP query parameter occurrences.",
      "type": "object"
    },
    "BatchEditTagsApiObservationsResponse": {
      "type": "object",
      "description": "Message for response to edit Tags for ApiObservations",
      "id": "BatchEditTagsApiObservationsResponse",
      "properties": {
        "apiObservations": {
          "description": "ApiObservations that were changed",
          "items": {
            "$ref": "ApiObservation"
          },
          "type": "array"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata",
      "properties": {
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListApiObservationsResponse": {
      "type": "object",
      "description": "Message for response to listing ApiObservations",
      "id": "ListApiObservationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apiObservations": {
          "items": {
            "$ref": "ApiObservation"
          },
          "type": "array",
          "description": "The ApiObservation from the specified project and location and ObservationJobs."
        }
      }
    },
    "HttpOperationHttpResponse": {
      "description": "An aggregation of HTTP responses.",
      "id": "HttpOperationHttpResponse",
      "properties": {
        "headers": {
          "type": "object",
          "description": "Unordered map from header name to header metadata",
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          }
        },
        "responseCodes": {
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "format": "int64"
          },
          "description": "Map of status code to observed count"
        }
      },
      "type": "object"
    },
    "EditTagsApiObservationsRequest": {
      "description": "Message for requesting edit tags for ApiObservation",
      "id": "EditTagsApiObservationsRequest",
      "properties": {
        "apiObservationId": {
          "description": "Required. Identifier of ApiObservation need to be edit tags Format example: \"apigee.googleapis.com|us-west1|443\"",
          "type": "string"
        },
        "tagActions": {
          "items": {
            "$ref": "TagAction"
          },
          "type": "array",
          "description": "Required. Tag actions to be applied"
        }
      },
      "type": "object"
    },
    "ListObservationSourcesResponse": {
      "id": "ListObservationSourcesResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "observationSources": {
          "description": "The ObservationSource from the specified project and location.",
          "items": {
            "$ref": "ObservationSource"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Message for response to listing ObservationSources",
      "type": "object"
    },
    "TagAction": {
      "type": "object",
      "id": "TagAction",
      "properties": {
        "tag": {
          "description": "Required. Tag to be added or removed",
          "type": "string"
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ADD",
            "REMOVE"
          ],
          "description": "Required. Action to be applied",
          "enumDescriptions": [
            "Unspecified.",
            "Addition of a Tag.",
            "Removal of a Tag."
          ],
          "type": "string"
        }
      },
      "description": "Message for edit tag action"
    },
    "ObservationJob": {
      "description": "Message describing ObservationJob object",
      "id": "ObservationJob",
      "properties": {
        "state": {
          "description": "Output only. The observation job state",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ENABLING",
            "ENABLED",
            "DISABLING",
            "DISABLED",
            "DELETING",
            "ERROR"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state",
            "Job is in the creating state",
            "Job is in the enabling state",
            "Job is enabled",
            "Job is in the disabling state",
            "Job is disabled",
            "Job is being deleted",
            "Job is in an error state"
          ]
        },
        "sources": {
          "description": "Optional. These should be of the same kind of source.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. name of resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ApiOperation": {
      "type": "object",
      "description": "Message describing ApiOperation object",
      "id": "ApiOperation",
      "properties": {
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "firstSeenTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "First seen time stamp"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this API Operation."
        },
        "httpOperation": {
          "description": "An HTTP Operation.",
          "$ref": "HttpOperation"
        },
        "lastSeenTime": {
          "description": "Last seen time stamp",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "BatchEditTagsApiObservationsRequest": {
      "type": "object",
      "description": "Message for requesting batch edit tags for ApiObservations",
      "id": "BatchEditTagsApiObservationsRequest",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "EditTagsApiObservationsRequest"
          },
          "description": "Required. The request message specifying the resources to update. A maximum of 1000 apiObservations can be modified in a batch."
        }
      }
    },
    "HttpOperationHeader": {
      "id": "HttpOperationHeader",
      "properties": {
        "dataType": {
          "type": "string",
          "enum": [
            "DATA_TYPE_UNSPECIFIED",
            "BOOL",
            "INTEGER",
            "FLOAT",
            "STRING",
            "UUID"
          ],
          "description": "Data type of header",
          "enumDescriptions": [
            "Unspecified data type",
            "Boolean data type",
            "Integer data type",
            "Float data type",
            "String data type",
            "UUID data type"
          ]
        },
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "count": {
          "format": "int64",
          "type": "string",
          "description": "The number of occurrences of this Header across transactions."
        }
      },
      "description": "An aggregation of HTTP header occurrences.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GclbObservationSourcePscNetworkConfig": {
      "id": "GclbObservationSourcePscNetworkConfig",
      "properties": {
        "network": {
          "description": "Required. The VPC network. Format: `projects/{project_id}/global/networks/{network}`",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. The subnetwork in the source region that will be used to connect to the Cloud Load Balancers via PSC NEGs. Must belong to `network`. Format: projects/{project_id}/regions/{region}/subnetworks/{subnet}",
          "type": "string"
        }
      },
      "description": "Network information for setting up a PSC connection.",
      "type": "object"
    },
    "EnableObservationJobRequest": {
      "id": "EnableObservationJobRequest",
      "properties": {},
      "description": "Message for enabling an ObservationJob",
      "type": "object"
    },
    "ListApiOperationsResponse": {
      "type": "object",
      "description": "Message for response to listing ApiOperations",
      "id": "ListApiOperationsResponse",
      "properties": {
        "apiOperations": {
          "type": "array",
          "items": {
            "$ref": "ApiOperation"
          },
          "description": "The ApiOperations from the specified project and location and ObservationJob and ApiObservation."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ObservationSource": {
      "id": "ObservationSource",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified state",
            "Source is in the creating state",
            "Source has been created and is ready to use",
            "Source is being deleted",
            "Source is in an error state"
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "CREATED",
            "DELETING",
            "ERROR"
          ],
          "description": "Output only. The observation source state"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp"
        },
        "gclbObservationSource": {
          "description": "The GCLB observation source",
          "$ref": "GclbObservationSource"
        },
        "name": {
          "description": "Identifier. name of resource For MVP, each region can only have 1 source.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Observation source configuration types",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "HttpOperationHttpRequest": {
      "id": "HttpOperationHttpRequest",
      "properties": {
        "headers": {
          "additionalProperties": {
            "$ref": "HttpOperationHeader"
          },
          "description": "Unordered map from header name to header metadata",
          "type": "object"
        }
      },
      "description": "An aggregation of HTTP requests.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "ApiObservation": {
      "description": "Message describing ApiObservation object",
      "id": "ApiObservation",
      "properties": {
        "serverIps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The IP address (IPv4 or IPv6) of the origin server that the request was sent to. This field can include port information. Examples: `\"192.168.1.1\"`, `\"10.0.0.1:80\"`, `\"FE80::0202:B3FF:FE1E:8329\"`."
        },
        "apiOperationCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of observed API Operations."
        },
        "createTime": {
          "description": "Create time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "style": {
          "description": "Style of ApiObservation",
          "enumDescriptions": [
            "Unknown style",
            "Style is Rest API",
            "Style is Grpc API",
            "Style is GraphQL API"
          ],
          "enum": [
            "STYLE_UNSPECIFIED",
            "REST",
            "GRPC",
            "GRAPHQL"
          ],
          "type": "string"
        },
        "hostname": {
          "description": "The hostname of requests processed for this Observation.",
          "type": "string"
        },
        "lastEventDetectedTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Last event detected time stamp"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Update time stamp"
        },
        "name": {
          "description": "Identifier. Name of resource",
          "type": "string"
        },
        "tags": {
          "description": "User-defined tags to organize and sort",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "sourceLocations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Location of the Observation Source, for example \"us-central1\" or \"europe-west1.\""
        }
      },
      "type": "object"
    },
    "GclbObservationSource": {
      "description": "The GCLB observation source.",
      "id": "GclbObservationSource",
      "properties": {
        "pscNetworkConfigs": {
          "type": "array",
          "items": {
            "$ref": "GclbObservationSourcePscNetworkConfig"
          },
          "description": "Required. The VPC networks where traffic will be observed. All load balancers within this network will be observed. Currently, this is limited to only one network."
        }
      },
      "type": "object"
    },
    "DisableObservationJobRequest": {
      "description": "Message for disabling an ObservationJob",
      "id": "DisableObservationJobRequest",
      "properties": {},
      "type": "object"
    }
  },
  "servicePath": "",
  "id": "apim:v1alpha",
  "basePath": "",
  "title": "API Management API",
  "name": "apim",
  "version_module": true,
  "baseUrl": "https://apim.googleapis.com/",
  "revision": "20260422",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "mtlsRootUrl": "https://apim.mtls.googleapis.com/",
  "protocol": "rest",
  "batchPath": "batch",
  "rootUrl": "https://apim.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/apigee/",
  "version": "v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "listApiObservationTags": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}:listApiObservationTags",
              "parameters": {
                "parent": {
                  "description": "Required. The parent, which owns this collection of tags. Format: projects/{project}/locations/{location}",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "Optional. The maximum number of tags to return. The service may return fewer than this value. If unspecified, at most 10 tags will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListApiObservationTags` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservationTags` must match the call that provided the page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "ListApiObservationTags lists all extant tags on any observation in the given project.",
              "httpMethod": "GET",
              "id": "apim.projects.locations.listApiObservationTags",
              "response": {
                "$ref": "ListApiObservationTagsResponse"
              },
              "path": "v1alpha/{+parent}:listApiObservationTags",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "apim.projects.locations.list",
              "httpMethod": "GET",
              "path": "v1alpha/{+name}/locations",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "type": "string",
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations"
            },
            "getEntitlement": {
              "description": "GetEntitlement returns the entitlement for the provided project.",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Required. The entitlement resource name Format: projects/{project}/locations/{location}/entitlement",
                  "pattern": "^projects/[^/]+/locations/[^/]+/entitlement$"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/entitlement",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Entitlement"
              },
              "id": "apim.projects.locations.getEntitlement",
              "httpMethod": "GET"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "id": "apim.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "path": "v1alpha/{+name}",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "delete": {
                  "id": "apim.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "apim.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.operations.get"
                },
                "cancel": {
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1alpha/{+name}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "apim.projects.locations.operations.cancel",
                  "httpMethod": "POST"
                }
              }
            },
            "observationJobs": {
              "methods": {
                "disable": {
                  "path": "v1alpha/{+name}:disable",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "apim.projects.locations.observationJobs.disable",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the ObservationJob to disable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                    }
                  },
                  "description": "Disables the given ObservationJob.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:disable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "DisableObservationJobRequest"
                  }
                },
                "create": {
                  "id": "apim.projects.locations.observationJobs.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "ObservationJob"
                  },
                  "parameters": {
                    "observationJobId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. The ID to use for the Observation Job. This value should be 4-63 characters, and valid characters are /a-z-/."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource where this ObservationJob will be created. Format: projects/{project}/locations/{location}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "CreateObservationJob creates a new ObservationJob but does not have any effecton its own. It is a configuration that can be used in an Observation Job to collect data about existing APIs.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "DeleteObservationJob deletes an ObservationJob. This method will fail if the observation job is currently being used by any ObservationSource, even if not enabled.",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "id": "apim.projects.locations.observationJobs.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "enable": {
                  "path": "v1alpha/{+name}:enable",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationJobs.enable",
                  "httpMethod": "POST",
                  "description": "Enables the given ObservationJob.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "description": "Required. The name of the ObservationJob to enable. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}:enable",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "EnableObservationJobRequest"
                  }
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ObservationJob"
                  },
                  "id": "apim.projects.locations.observationJobs.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}",
                  "description": "GetObservationJob retrieves a single ObservationJob by name.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                      "description": "Required. The name of the ObservationJob to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{job}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs",
                  "description": "ListObservationJobs gets all ObservationJobs for a given project and location.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent, which owns this collection of ObservationJobs. Format: projects/{project}/locations/{location}",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of ObservationJobs to return. The service may return fewer than this value. If unspecified, at most 10 ObservationJobs will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListObservationJobs` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationJobs` must match the call that provided the page token."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/observationJobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListObservationJobsResponse"
                  },
                  "id": "apim.projects.locations.observationJobs.list"
                }
              },
              "resources": {
                "apiObservations": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/apiObservations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListApiObservationsResponse"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.list",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations",
                      "description": "ListApiObservations gets all ApiObservations for a given project and location and ObservationJob.",
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent, which owns this collection of ApiObservations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum number of ApiObservations to return. The service may return fewer than this value. If unspecified, at most 10 ApiObservations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A page token, received from a previous `ListApiObservations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiObservations` must match the call that provided the page token."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "apim.projects.locations.observationJobs.apiObservations.get",
                      "response": {
                        "$ref": "ApiObservation"
                      },
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the ApiObservation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "GetApiObservation retrieves a single ApiObservation by name.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}"
                    },
                    "batchEditTags": {
                      "description": "BatchEditTagsApiObservations adds or removes Tags for ApiObservations.",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource shared by all ApiObservations being edited. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+$"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations:batchEditTags",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "request": {
                        "$ref": "BatchEditTagsApiObservationsRequest"
                      },
                      "path": "v1alpha/{+parent}/apiObservations:batchEditTags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "BatchEditTagsApiObservationsResponse"
                      },
                      "id": "apim.projects.locations.observationJobs.apiObservations.batchEditTags",
                      "httpMethod": "POST"
                    }
                  },
                  "resources": {
                    "apiOperations": {
                      "methods": {
                        "get": {
                          "description": "GetApiOperation retrieves a single ApiOperation by name.",
                          "parameters": {
                            "name": {
                              "description": "Required. The name of the ApiOperation to retrieve. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}/apiOperation/{api_operation}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+/apiOperations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations/{apiOperationsId}",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+name}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "ApiOperation"
                          },
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.get",
                          "httpMethod": "GET"
                        },
                        "list": {
                          "parameters": {
                            "parent": {
                              "description": "Required. The parent, which owns this collection of ApiOperations. Format: projects/{project}/locations/{location}/observationJobs/{observation_job}/apiObservations/{api_observation}",
                              "pattern": "^projects/[^/]+/locations/[^/]+/observationJobs/[^/]+/apiObservations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "description": "Optional. The maximum number of ApiOperations to return. The service may return fewer than this value. If unspecified, at most 10 ApiOperations will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. A page token, received from a previous `ListApiApiOperations` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListApiApiOperations` must match the call that provided the page token."
                            }
                          },
                          "description": "ListApiOperations gets all ApiOperations for a given project and location and ObservationJob and ApiObservation.",
                          "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationJobs/{observationJobsId}/apiObservations/{apiObservationsId}/apiOperations",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1alpha/{+parent}/apiOperations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "apim.projects.locations.observationJobs.apiObservations.apiOperations.list",
                          "response": {
                            "$ref": "ListApiOperationsResponse"
                          },
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                }
              }
            },
            "observationSources": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListObservationSourcesResponse"
                  },
                  "id": "apim.projects.locations.observationSources.list",
                  "path": "v1alpha/{+parent}/observationSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "description": "ListObservationSources gets all ObservationSources for a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent, which owns this collection of ObservationSources. Format: projects/{project}/locations/{location}"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. The maximum number of ObservationSources to return. The service may return fewer than this value. If unspecified, at most 10 ObservationSources will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `ListObservationSources` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListObservationSources` must match the call that provided the page token."
                    }
                  }
                },
                "create": {
                  "path": "v1alpha/{+parent}/observationSources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationSources.create",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources",
                  "description": "CreateObservationSource creates a new ObservationSource but does not affect any deployed infrastructure. It is a configuration that can be used in an Observation Job to collect data about APIs running in user's dataplane.",
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "observationSourceId": {
                      "description": "Required. The ID to use for the Observation Source. This value should be 4-63 characters, and valid characters are /a-z-/.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "ObservationSource"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "DeleteObservationSource deletes an observation source. This method will fail if the observation source is currently being used by any ObservationJob, even if not enabled.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "description": "Required. Name of the resource Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "apim.projects.locations.observationSources.delete",
                  "httpMethod": "DELETE",
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v1alpha/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ObservationSource"
                  },
                  "id": "apim.projects.locations.observationSources.get",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/observationSources/{observationSourcesId}",
                  "description": "GetObservationSource retrieves a single ObservationSource by name.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/observationSources/[^/]+$",
                      "description": "Required. The name of the ObservationSource to retrieve. Format: projects/{project}/locations/{location}/observationSources/{source}",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}