{
  "title": "App Engine Admin API",
  "description": "Provisions and manages developers' App Engine applications.",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://appengine.googleapis.com/",
  "rootUrl": "https://appengine.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "schemas": {
    "AuthorizedDomain": {
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "type": "object",
      "properties": {
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        }
      }
    },
    "Location": {
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "ManagedCertificate": {
      "type": "object",
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine.",
      "properties": {
        "lastRenewalTime": {
          "type": "string",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "format": "google-datetime"
        },
        "status": {
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enum": [
            "UNSPECIFIED_STATUS",
            "OK",
            "PENDING",
            "FAILED_RETRYING_INTERNAL",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENTLY_NOT_VISIBLE",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to a system failure and will be retried. System failure is likely transient, and subsequent renewal attempts may succeed. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted. Most recent renewal failed due to an invalid DNS setup and will not be retried. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ]
        }
      }
    },
    "CreateVersionMetadataV1": {
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CreateVersionMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "OperationMetadataV1": {
      "properties": {
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "GoogleAppengineV1betaLocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "type": "object"
    },
    "GceTag": {
      "properties": {
        "tag": {
          "type": "string",
          "description": "The administrative_tag name."
        },
        "parent": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported."
        }
      },
      "id": "GceTag",
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "type": "object"
    },
    "CertificateRawData": {
      "type": "object",
      "id": "CertificateRawData",
      "description": "An SSL certificate obtained from a certificate authority.",
      "properties": {
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        },
        "privateKey": {
          "type": "string",
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly"
        }
      }
    },
    "LocationMetadata": {
      "type": "object",
      "id": "LocationMetadata",
      "description": "Metadata for the given google.cloud.location.Location.",
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine flexible environment is available in the given location.@OutputOnly"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        }
      }
    },
    "ResourceEvent": {
      "type": "object",
      "id": "ResourceEvent",
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "properties": {
        "eventId": {
          "type": "string",
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required"
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        },
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      }
    },
    "ListAuthorizedCertificatesResponse": {
      "type": "object",
      "id": "ListAuthorizedCertificatesResponse",
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer."
        }
      }
    },
    "AuthorizedCertificate": {
      "properties": {
        "id": {
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "domainNames": {
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "domainMappingsCount": {
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "format": "int32",
          "type": "integer"
        },
        "certificateRawData": {
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority.",
          "$ref": "CertificateRawData"
        },
        "expireTime": {
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        },
        "visibleDomainMappings": {
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "AuthorizedCertificate",
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains."
    },
    "ProjectEvent": {
      "properties": {
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "phase": {
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required",
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events.",
      "type": "object"
    },
    "OperationMetadataV1Beta": {
      "properties": {
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "endTime": {
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "insertTime": {
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        }
      },
      "type": "object",
      "id": "OperationMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "CreateVersionMetadataV1Alpha": {
      "id": "CreateVersionMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "domainMappings": {
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array",
          "description": "The domain mappings for the application."
        }
      },
      "type": "object",
      "id": "ListDomainMappingsResponse",
      "description": "Response message for DomainMappings.ListDomainMappings."
    },
    "CreateVersionMetadataV1Beta": {
      "type": "object",
      "id": "CreateVersionMetadataV1Beta",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1beta.CreateVersionRequest.",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "ContainerState": {
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ]
        },
        "currentReasons": {
          "$ref": "Reasons"
        },
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        }
      },
      "id": "ContainerState",
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "DomainMapping": {
      "type": "object",
      "id": "DomainMapping",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        },
        "resourceRecords": {
          "readOnly": true,
          "items": {
            "$ref": "ResourceRecord"
          },
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "type": "array"
        },
        "name": {
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "type": "string",
          "readOnly": true
        },
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available."
        }
      }
    },
    "SslSettings": {
      "properties": {
        "certificateId": {
          "type": "string",
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify no_managed_certificate on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345."
        },
        "isManagedCertificate": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the mapped certificate is an App Engine managed certificate. Managed certificates are created by default with a domain mapping. To opt out, specify no_managed_certificate on a CREATE or UPDATE request.@OutputOnly"
        }
      },
      "id": "SslSettings",
      "description": "SSL configuration for a DomainMapping resource.",
      "type": "object"
    },
    "ResourceRecord": {
      "type": "object",
      "id": "ResourceRecord",
      "description": "A DNS resource record.",
      "properties": {
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "type": "string",
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1)."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "description": "Resource record type. Example: AAAA.",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ]
        }
      }
    },
    "ProjectsMetadata": {
      "id": "ProjectsMetadata",
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object",
      "properties": {
        "consumerProjectState": {
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "type": "string",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ]
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "The consumer project number.",
          "format": "int64"
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "type": "array",
          "items": {
            "$ref": "GceTag"
          }
        },
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        },
        "producerProjectNumber": {
          "description": "The producer project number.",
          "format": "int64",
          "type": "string"
        },
        "isGceProjectDeprovisioning": {
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "deprecated": true,
          "type": "boolean"
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "tenantProjectId": {
          "type": "string",
          "description": "The tenant project id."
        },
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "The tenant project number.",
          "format": "int64"
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "type": "object",
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "type": "object",
      "id": "ListAuthorizedDomainsResponse",
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } ",
      "type": "object",
      "properties": {}
    },
    "Reasons": {
      "type": "object",
      "id": "Reasons",
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)",
      "properties": {
        "billing": {
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ]
        },
        "serviceManagement": {
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ]
        },
        "dataGovernance": {
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ],
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ]
        },
        "abuse": {
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ]
        },
        "serviceActivation": {
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ]
        }
      }
    }
  },
  "name": "appengine",
  "revision": "20260429",
  "protocol": "rest",
  "parameters": {
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "version": "v1alpha",
  "kind": "discovery#restDescription",
  "id": "appengine:v1alpha",
  "resources": {
    "apps": {
      "resources": {
        "authorizedDomains": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "appengine.apps.authorizedDomains.list",
              "description": "Lists all domains the user is authorized to administer.",
              "flatPath": "v1alpha/apps/{appsId}/authorizedDomains",
              "parameters": {
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/apps/{appsId}/authorizedDomains",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              }
            }
          }
        },
        "domainMappings": {
          "methods": {
            "get": {
              "description": "Gets the specified domain mapping.",
              "httpMethod": "GET",
              "id": "appengine.apps.domainMappings.get",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "DomainMapping"
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "patch": {
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "request": {
                "$ref": "DomainMapping"
              },
              "id": "appengine.apps.domainMappings.patch",
              "httpMethod": "PATCH",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                  "location": "query",
                  "type": "boolean"
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "domainMappingsId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            },
            "create": {
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "parameters": {
                "appsId": {
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "type": "string"
                },
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                  "location": "query",
                  "type": "boolean"
                },
                "overrideStrategy": {
                  "location": "query",
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ]
                }
              },
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Operation"
              },
              "httpMethod": "POST",
              "id": "appengine.apps.domainMappings.create",
              "request": {
                "$ref": "DomainMapping"
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains."
            },
            "list": {
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "parameters": {
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "response": {
                "$ref": "ListDomainMappingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "id": "appengine.apps.domainMappings.list",
              "httpMethod": "GET",
              "description": "Lists the domain mappings on an application."
            },
            "delete": {
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "id": "appengine.apps.domainMappings.delete",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Operation"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                },
                "appsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "httpMethod": "GET",
              "id": "appengine.apps.operations.get",
              "path": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "operationsId": {
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "httpMethod": "GET",
              "id": "appengine.apps.operations.list",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/apps/{appsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "flatPath": "v1alpha/apps/{appsId}/operations",
              "parameters": {
                "returnPartialSuccess": {
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "The standard list page token.",
                  "location": "query"
                },
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "parameterOrder": [
                "appsId"
              ]
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "appengine.apps.locations.list",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1alpha/apps/{appsId}/locations",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "appsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/apps/{appsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "get": {
              "path": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "locationsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "id": "appengine.apps.locations.get"
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "list": {
              "id": "appengine.apps.authorizedCertificates.list",
              "httpMethod": "GET",
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Maximum results to return per page.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                },
                "view": {
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "description": "Controls the set of fields returned in the LIST response.",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ]
                }
              },
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.delete",
              "httpMethod": "DELETE"
            },
            "create": {
              "description": "Uploads the specified SSL certificate.",
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.create",
              "httpMethod": "POST",
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true
                }
              }
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "view": {
                  "description": "Controls the set of fields returned in the GET response.",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "location": "query"
                },
                "appsId": {
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "type": "string"
                },
                "authorizedCertificatesId": {
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "appengine.apps.authorizedCertificates.get",
              "httpMethod": "GET",
              "description": "Gets the specified SSL certificate."
            },
            "patch": {
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "appsId": {
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "type": "string",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "location": "query",
                  "format": "google-fieldmask"
                },
                "authorizedCertificatesId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "httpMethod": "PATCH",
              "id": "appengine.apps.authorizedCertificates.patch"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "projectsId": {
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path"
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "description": "Gets information about a location.",
              "id": "appengine.projects.locations.get",
              "httpMethod": "GET"
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "parameters": {
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "projectsId": {
                  "type": "string",
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                }
              },
              "parameterOrder": [
                "projectsId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "id": "appengine.projects.locations.list",
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "appengine.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "locationsId": {
                      "required": true,
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "type": "string"
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "operationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "id": "appengine.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ]
                }
              }
            },
            "applications": {
              "resources": {
                "domainMappings": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "overrideStrategy": {
                          "location": "query",
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ],
                          "type": "string",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ]
                        },
                        "locationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "applicationsId": {
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "httpMethod": "POST"
                    },
                    "get": {
                      "description": "Gets the specified domain mapping.",
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "locationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "domainMappingsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ]
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "locationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "updateMask": {
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "location": "query",
                          "format": "google-fieldmask",
                          "type": "string"
                        },
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "projectsId": {
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "required": true
                        },
                        "noManagedCertificate": {
                          "type": "boolean",
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "httpMethod": "GET",
                      "description": "Lists the domain mappings on an application.",
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "applicationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "format": "int32"
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings"
                    },
                    "delete": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "applicationsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        },
                        "locationsId": {
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path"
                        },
                        "domainMappingsId": {
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "DELETE",
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
[...]
