{
  "ownerName": "Google",
  "baseUrl": "https://appengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "description": "Provisions and manages developers' App Engine applications.",
  "kind": "discovery#restDescription",
  "title": "App Engine Admin API",
  "basePath": "",
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "id": "appengine:v1alpha",
  "version": "v1alpha",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "rootUrl": "https://appengine.googleapis.com/",
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "mtlsRootUrl": "https://appengine.mtls.googleapis.com/",
  "name": "appengine",
  "protocol": "rest",
  "revision": "20260504",
  "resources": {
    "apps": {
      "resources": {
        "operations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list filter."
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation's parent resource.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The standard list page token."
                },
                "returnPartialSuccess": {
                  "location": "query",
                  "type": "boolean",
                  "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation."
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "type": "integer",
                  "location": "query"
                }
              },
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
              "flatPath": "v1alpha/apps/{appsId}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId"
              ],
              "id": "appengine.apps.operations.list",
              "path": "v1alpha/apps/{appsId}/operations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "operationsId"
              ],
              "id": "appengine.apps.operations.get",
              "path": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "operationsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "appsId": {
                  "description": "Part of `name`. The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1alpha/apps/{appsId}/operations/{operationsId}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "authorizedDomains": {
          "methods": {
            "list": {
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results."
                }
              },
              "description": "Lists all domains the user is authorized to administer.",
              "response": {
                "$ref": "ListAuthorizedDomainsResponse"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedDomains",
              "id": "appengine.apps.authorizedDomains.list",
              "path": "v1alpha/apps/{appsId}/authorizedDomains",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "authorizedCertificates": {
          "methods": {
            "get": {
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                },
                "view": {
                  "location": "query",
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "description": "Controls the set of fields returned in the GET response.",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "type": "string"
                }
              },
              "description": "Gets the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.get",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "httpMethod": "GET"
            },
            "delete": {
              "httpMethod": "DELETE",
              "id": "appengine.apps.authorizedCertificates.delete",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "authorizedCertificatesId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes the specified SSL certificate."
            },
            "patch": {
              "httpMethod": "PATCH",
              "parameterOrder": [
                "appsId",
                "authorizedCertificatesId"
              ],
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "id": "appengine.apps.authorizedCertificates.patch",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345."
                },
                "authorizedCertificatesId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated.",
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates/{authorizedCertificatesId}",
              "response": {
                "$ref": "AuthorizedCertificate"
              }
            },
            "list": {
              "response": {
                "$ref": "ListAuthorizedCertificatesResponse"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "view": {
                  "enum": [
                    "BASIC_CERTIFICATE",
                    "FULL_CERTIFICATE"
                  ],
                  "location": "query",
                  "type": "string",
                  "enumDescriptions": [
                    "Basic certificate information, including applicable domains and expiration date.",
                    "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                  ],
                  "description": "Controls the set of fields returned in the LIST response."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Maximum results to return per page."
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists all SSL certificates the user is authorized to administer.",
              "id": "appengine.apps.authorizedCertificates.list",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET"
            },
            "create": {
              "response": {
                "$ref": "AuthorizedCertificate"
              },
              "flatPath": "v1alpha/apps/{appsId}/authorizedCertificates",
              "parameters": {
                "appsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                }
              },
              "description": "Uploads the specified SSL certificate.",
              "id": "appengine.apps.authorizedCertificates.create",
              "path": "v1alpha/apps/{appsId}/authorizedCertificates",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "request": {
                "$ref": "AuthorizedCertificate"
              },
              "httpMethod": "POST"
            }
          }
        },
        "domainMappings": {
          "methods": {
            "patch": {
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "parameters": {
                "domainMappingsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. See documentation of `appsId`."
                },
                "noManagedCertificate": {
                  "location": "query",
                  "type": "boolean",
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask."
                },
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "description": "Required. Standard field mask for the set of fields to be updated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
              "id": "appengine.apps.domainMappings.patch",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "request": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "DomainMapping"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "description": "Gets the specified domain mapping.",
              "httpMethod": "GET",
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ],
              "id": "appengine.apps.domainMappings.get",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "delete": {
              "flatPath": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "domainMappingsId": {
                  "description": "Part of `name`. See documentation of `appsId`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource.",
              "httpMethod": "DELETE",
              "id": "appengine.apps.domainMappings.delete",
              "path": "v1alpha/apps/{appsId}/domainMappings/{domainMappingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId",
                "domainMappingsId"
              ]
            },
            "list": {
              "httpMethod": "GET",
              "id": "appengine.apps.domainMappings.list",
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "parameters": {
                "appsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                },
                "pageSize": {
                  "type": "integer",
                  "location": "query",
                  "description": "Maximum results to return per page.",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists the domain mappings on an application.",
              "flatPath": "v1alpha/apps/{appsId}/domainMappings",
              "response": {
                "$ref": "ListDomainMappingsResponse"
              }
            },
            "create": {
              "id": "appengine.apps.domainMappings.create",
              "path": "v1alpha/apps/{appsId}/domainMappings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "request": {
                "$ref": "DomainMapping"
              },
              "httpMethod": "POST",
              "parameters": {
                "noManagedCertificate": {
                  "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                  "type": "boolean",
                  "location": "query"
                },
                "appsId": {
                  "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "overrideStrategy": {
                  "type": "string",
                  "enumDescriptions": [
                    "Strategy unspecified. Defaults to STRICT.",
                    "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                    "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                  ],
                  "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                  "enum": [
                    "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                    "STRICT",
                    "OVERRIDE"
                  ],
                  "location": "query"
                }
              },
              "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
              "response": {
                "$ref": "Operation"
              },
              "flatPath": "v1alpha/apps/{appsId}/domainMappings"
            }
          }
        },
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1alpha/apps/{appsId}/locations",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string",
                  "location": "query"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160)."
                },
                "appsId": {
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "appengine.apps.locations.list",
              "path": "v1alpha/apps/{appsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "appsId"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "appsId",
                "locationsId"
              ],
              "id": "appengine.apps.locations.get",
              "path": "v1alpha/apps/{appsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "httpMethod": "GET",
              "parameters": {
                "appsId": {
                  "description": "Part of `name`. Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "locationsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. See documentation of `appsId`."
                }
              },
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1alpha/apps/{appsId}/locations/{locationsId}"
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "id": "appengine.projects.locations.list",
              "path": "v1alpha/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameterOrder": [
                "projectsId"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/locations",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "projectsId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "Part of `name`. The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like \"displayName=tokyo\", and is documented in more detail in AIP-160 (https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A page token received from the next_page_token field in the response. Send that page token to receive the subsequent page."
                }
              },
              "description": "Lists information about the supported locations for this service.This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: Global locations: If name is empty, the method lists the public locations available to all projects. Project-specific locations: If name follows the format projects/{project}, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project.For gRPC and client library implementations, the resource name is passed as the name field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "projectsId",
                "locationsId"
              ],
              "id": "appengine.projects.locations.get",
              "path": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/appengine.admin",
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "parameters": {
                "projectsId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Part of `name`. Resource name for the location."
                },
                "locationsId": {
                  "description": "Part of `name`. See documentation of `projectsId`.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets information about a location.",
              "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "parameters": {
                    "locationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to true, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field.This can only be true when reading across collections. For example, when parent is set to \"projects/example/locations/-\".This field is not supported by default and will result in an UNIMPLEMENTED error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation's parent resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "id": "appengine.projects.locations.operations.list",
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "parameterOrder": [
                    "projectsId",
                    "locationsId"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "locationsId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Part of `name`. See documentation of `projectsId`."
                    },
                    "projectsId": {
                      "description": "Part of `name`. The name of the operation resource.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "operationsId": {
                      "description": "Part of `name`. See documentation of `projectsId`.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "projectsId",
                    "locationsId",
                    "operationsId"
                  ],
                  "id": "appengine.projects.locations.operations.get",
                  "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/appengine.admin",
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "httpMethod": "GET"
                }
              }
            },
            "applications": {
              "resources": {
                "domainMappings": {
                  "methods": {
                    "patch": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/domainMappings/example.com."
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated. Only applicable if ssl_settings.certificate_id is specified in the update mask.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Required. Standard field mask for the set of fields to be updated.",
                          "format": "google-fieldmask"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "domainMappingsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "description": "Updates the specified domain mapping. To map an SSL certificate to a domain mapping, update certificate_id to point to an AuthorizedCertificate resource. A user must be authorized to administer the associated domain in order to update a DomainMapping resource.",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "id": "appengine.projects.locations.applications.domainMappings.patch",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH"
                    },
                    "get": {
                      "response": {
                        "$ref": "DomainMapping"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "domainMappingsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/domainMappings/example.com."
                        },
                        "locationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Gets the specified domain mapping.",
                      "id": "appengine.projects.locations.applications.domainMappings.get",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.domainMappings.delete",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "domainMappingsId"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings/{domainMappingsId}",
                      "parameters": {
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/domainMappings/example.com.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "domainMappingsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "description": "Deletes the specified domain mapping. A user must be authorized to administer the associated domain in order to delete a DomainMapping resource."
                    },
                    "list": {
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "response": {
                        "$ref": "ListDomainMappingsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "description": "Maximum results to return per page.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        }
                      },
                      "description": "Lists the domain mappings on an application.",
                      "httpMethod": "GET",
                      "id": "appengine.projects.locations.applications.domainMappings.list",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ]
                    },
                    "create": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "parameters": {
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "overrideStrategy": {
                          "description": "Whether the domain creation should override any existing mappings for this domain. By default, overrides are rejected.",
                          "enumDescriptions": [
                            "Strategy unspecified. Defaults to STRICT.",
                            "Overrides not allowed. If a mapping already exists for the specified domain, the request will return an ALREADY_EXISTS (409).",
                            "Overrides allowed. If a mapping already exists for the specified domain, the request will overwrite it. Note that this might stop another Google product from serving. For example, if the domain is mapped to another App Engine application, that app will no longer serve from that domain."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "UNSPECIFIED_DOMAIN_OVERRIDE_STRATEGY",
                            "STRICT",
                            "OVERRIDE"
                          ]
                        },
                        "projectsId": {
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "noManagedCertificate": {
                          "description": "Whether a managed certificate should be provided by App Engine. If true, a certificate ID must be manaually set in the DomainMapping resource to configure SSL for this domain. If false, a managed certificate will be provisioned and a certificate ID will be automatically populated.",
                          "type": "boolean",
                          "location": "query"
                        }
                      },
                      "description": "Maps a domain to an application. A user must be authorized to administer a domain in order to map it to an application. For a list of available authorized domains, see AuthorizedDomains.ListAuthorizedDomains.",
                      "id": "appengine.projects.locations.applications.domainMappings.create",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/domainMappings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "request": {
                        "$ref": "DomainMapping"
                      },
                      "httpMethod": "POST"
                    }
                  }
                },
                "authorizedDomains": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedDomains.list",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Lists all domains the user is authorized to administer.",
                      "response": {
                        "$ref": "ListAuthorizedDomainsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedDomains"
                    }
                  }
                },
                "authorizedCertificates": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "id": "appengine.projects.locations.applications.authorizedCertificates.get",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. Required. Name of the resource requested. Example: apps/myapp/authorizedCertificates/12345."
                        },
                        "view": {
                          "description": "Controls the set of fields returned in the GET response.",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ]
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Gets the specified SSL certificate."
                    },
                    "delete": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.delete",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. Required. Name of the resource to delete. Example: apps/myapp/authorizedCertificates/12345."
                        },
                        "applicationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "authorizedCertificatesId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        }
                      },
                      "description": "Deletes the specified SSL certificate."
                    },
                    "patch": {
                      "id": "appengine.projects.locations.applications.authorizedCertificates.patch",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId",
                        "authorizedCertificatesId"
                      ],
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates/{authorizedCertificatesId}",
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `name`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "description": "Part of `name`. Required. Name of the resource to update. Example: apps/myapp/authorizedCertificates/12345.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "authorizedCertificatesId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `name`. See documentation of `projectsId`."
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "description": "Standard field mask for the set of fields to be updated. Updates are only supported on the certificate_raw_data and display_name fields.",
                          "format": "google-fieldmask"
                        }
                      },
                      "description": "Updates the specified SSL certificate. To renew a certificate and maintain its existing domain mappings, update certificate_data with a new certificate. The new certificate must be applicable to the same domains as the original certificate. The certificate display_name may also be updated."
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        },
                        "applicationsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "locationsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. See documentation of `projectsId`."
                        },
                        "projectsId": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "view": {
                          "type": "string",
                          "enumDescriptions": [
                            "Basic certificate information, including applicable domains and expiration date.",
                            "The information from BASIC_CERTIFICATE, plus detailed information on the domain mappings that have this certificate mapped."
                          ],
                          "description": "Controls the set of fields returned in the LIST response.",
                          "enum": [
                            "BASIC_CERTIFICATE",
                            "FULL_CERTIFICATE"
                          ],
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Maximum results to return per page.",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "description": "Lists all SSL certificates the user is authorized to administer.",
                      "response": {
                        "$ref": "ListAuthorizedCertificatesResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "id": "appengine.projects.locations.applications.authorizedCertificates.list",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/appengine.admin",
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "httpMethod": "GET"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "projectsId",
                        "locationsId",
                        "applicationsId"
                      ],
                      "request": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "id": "appengine.projects.locations.applications.authorizedCertificates.create",
                      "path": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/locations/{locationsId}/applications/{applicationsId}/authorizedCertificates",
                      "response": {
                        "$ref": "AuthorizedCertificate"
                      },
                      "parameters": {
                        "applicationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "projectsId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Part of `parent`. Required. Name of the parent Application resource. Example: apps/myapp."
                        },
                        "locationsId": {
                          "description": "Part of `parent`. See documentation of `projectsId`.",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Uploads the specified SSL certificate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ContainerState": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container."
        },
        "previousReasons": {
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state.",
          "$ref": "Reasons"
        },
        "currentReasons": {
          "$ref": "Reasons"
        }
      },
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "id": "ContainerState"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}.",
          "type": "string"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object"
    },
    "ProjectsMetadata": {
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "id": "ProjectsMetadata",
      "type": "object",
      "properties": {
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "producerProjectNumber": {
          "format": "int64",
          "description": "The producer project number.",
          "type": "string"
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "items": {
            "$ref": "GceTag"
          },
          "type": "array"
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "isGceProjectDeprovisioning": {
          "deprecated": true,
          "type": "boolean",
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future."
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        },
        "tenantProjectNumber": {
          "format": "int64",
          "description": "The tenant project number.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "type": "string",
          "description": "The consumer project number.",
          "format": "int64"
        },
        "consumerProjectState": {
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel."
        }
      }
    },
    "SslSettings": {
      "id": "SslSettings",
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify no_managed_certificate on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "isManagedCertificate": {
          "description": "Output only. Whether the mapped certificate is an App Engine managed certificate. Managed certificates are created by default with a domain mapping. To opt out, specify no_managed_certificate on a CREATE or UPDATE request.@OutputOnly",
          "type": "boolean",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "ProjectEvent": {
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events.",
      "properties": {
        "phase": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
        },
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "state": {
          "description": "The state of the organization that led to this event.",
          "$ref": "ContainerState"
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Reasons": {
      "properties": {
        "abuse": {
          "type": "string",
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ]
        },
        "dataGovernance": {
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ],
          "type": "string",
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ]
        },
        "serviceActivation": {
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "type": "string",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ]
        },
        "serviceManagement": {
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "type": "string",
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ]
        },
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ]
        }
      },
      "type": "object",
      "id": "Reasons",
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)"
    },
    "CreateVersionMetadataV1Alpha": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "id": "ListDomainMappingsResponse",
      "type": "object",
      "properties": {
        "domainMappings": {
          "items": {
            "$ref": "DomainMapping"
          },
          "type": "array",
          "description": "The domain mappings for the application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ResourceRecord": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "type": "string",
          "enum": [
            "A",
            "AAAA",
            "CNAME"
          ],
          "enumDescriptions": [
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ]
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        }
      },
      "description": "A DNS resource record.",
      "id": "ResourceRecord"
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "GoogleAppengineV1betaLocationMetadata",
      "type": "object",
      "properties": {
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "id": "OperationMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation.",
      "properties": {
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse"
    },
    "OperationMetadataV1Beta": {
      "type": "object",
      "properties": {
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "user": {
[...]
