{
  "fullyEncodeReservedExpansion": true,
  "description": "Provisions and manages developers' App Engine applications.",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "parameters": {
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "title": "App Engine Admin API",
  "ownerName": "Google",
  "rootUrl": "https://appengine.googleapis.com/",
  "revision": "20260429",
  "schemas": {
    "UrlDispatchRule": {
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "type": "object",
      "properties": {
        "path": {
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters.",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\"."
        },
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        }
      },
      "id": "UrlDispatchRule"
    },
    "Runtime": {
      "description": "Runtime versions for App Engine.",
      "id": "Runtime",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "User-friendly display name, e.g. 'Node.js 12', etc."
        },
        "endOfSupportDate": {
          "description": "Date when Runtime is end of support.",
          "$ref": "Date"
        },
        "supportedOperatingSystems": {
          "description": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "decommissionedDate": {
          "description": "Date when Runtime is decommissioned.",
          "$ref": "Date"
        },
        "name": {
          "type": "string",
          "description": "The name of the runtime, e.g., 'go113', 'nodejs12', etc."
        },
        "environment": {
          "enumDescriptions": [
            "Default value.",
            "App Engine Standard.",
            "App Engine Flexible"
          ],
          "description": "The environment of the runtime.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "type": "string"
        },
        "warnings": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Warning messages, e.g., a deprecation warning."
        },
        "stage": {
          "type": "string",
          "description": "The stage of life this runtime is in, e.g., BETA, GA, etc.",
          "enum": [
            "RUNTIME_STAGE_UNSPECIFIED",
            "DEVELOPMENT",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DECOMMISSIONED",
            "END_OF_SUPPORT"
          ],
          "enumDescriptions": [
            "Not specified.",
            "The runtime is in development.",
            "The runtime is in the Alpha stage.",
            "The runtime is in the Beta stage.",
            "The runtime is generally available.",
            "The runtime is deprecated.",
            "The runtime is no longer supported.",
            "The runtime is end of support."
          ]
        },
        "deprecationDate": {
          "description": "Date when Runtime is deprecated.",
          "$ref": "Date"
        }
      }
    },
    "CpuUtilization": {
      "type": "object",
      "properties": {
        "aggregationWindowLength": {
          "description": "Period of time over which CPU utilization is calculated.",
          "format": "google-duration",
          "type": "string"
        },
        "targetUtilization": {
          "type": "number",
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
        }
      },
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage."
    },
    "ListDomainMappingsResponse": {
      "id": "ListDomainMappingsResponse",
      "type": "object",
      "properties": {
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "Response message for DomainMappings.ListDomainMappings."
    },
    "ListRuntimesResponse": {
      "description": "Response message for Applications.ListRuntimes.",
      "id": "ListRuntimesResponse",
      "type": "object",
      "properties": {
        "runtimes": {
          "description": "The runtimes available to the requested application.",
          "type": "array",
          "items": {
            "$ref": "Runtime"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListAuthorizedDomainsResponse": {
      "id": "ListAuthorizedDomainsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        },
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        }
      },
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains."
    },
    "Deployment": {
      "description": "Code and application artifacts used to deploy a version to App Engine.",
      "id": "Deployment",
      "type": "object",
      "properties": {
        "container": {
          "description": "The Docker image for the container that runs the version. Only applicable for instances running in the App Engine flexible environment.",
          "$ref": "ContainerInfo"
        },
        "cloudBuildOptions": {
          "description": "Options for any Google Cloud Build builds created as a part of this deployment.These options will only be used if a new build is created, such as when deploying to the App Engine flexible environment using files or zip.",
          "$ref": "CloudBuildOptions"
        },
        "zip": {
          "description": "The zip file for this deployment, if this is a zip deployment.",
          "$ref": "ZipInfo"
        },
        "files": {
          "description": "Manifest of the files stored in Google Cloud Storage that are included as part of this version. All files must be readable using the credentials supplied with this call.",
          "type": "object",
          "additionalProperties": {
            "$ref": "FileInfo"
          }
        }
      }
    },
    "ResourceRecord": {
      "description": "A DNS resource record.",
      "id": "ResourceRecord",
      "type": "object",
      "properties": {
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Resource record type. Example: AAAA.",
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ],
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ]
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        }
      }
    },
    "UrlMap": {
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "id": "UrlMap",
      "type": "object",
      "properties": {
        "urlRegex": {
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "authFailAction": {
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "type": "string"
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        },
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "type": "string"
        },
        "redirectHttpResponseCode": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ]
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "type": "string"
        },
        "script": {
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\".",
          "$ref": "ScriptHandler"
        }
      }
    },
    "OperationMetadataV1Alpha": {
      "id": "OperationMetadataV1Alpha",
      "type": "object",
      "properties": {
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "type": "string",
          "description": "User who requested this operation.@OutputOnly"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "BatchUpdateIngressRulesResponse": {
      "id": "BatchUpdateIngressRulesResponse",
      "type": "object",
      "properties": {
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The full list of ingress FirewallRules for this application."
        }
      },
      "description": "Response message for Firewall.UpdateAllIngressRules."
    },
    "FeatureSettings": {
      "id": "FeatureSettings",
      "type": "object",
      "properties": {
        "splitHealthChecks": {
          "description": "Boolean value indicating if split health checks should be used instead of the legacy health checks. At an app.yaml level, this means defaulting to 'readiness_check' and 'liveness_check' values instead of 'health_check' ones. Once the legacy 'health_check' behavior is deprecated, and this value is always true, this setting can be removed.",
          "type": "boolean"
        },
        "useContainerOptimizedOs": {
          "description": "If true, use Container-Optimized OS (https://cloud.google.com/container-optimized-os/) base image for VMs, rather than a base Debian image.",
          "type": "boolean"
        }
      },
      "description": "The feature specific settings to be used in the application. These define behaviors that are user configurable."
    },
    "BasicScaling": {
      "type": "object",
      "properties": {
        "maxInstances": {
          "type": "integer",
          "description": "Maximum number of instances to create for this version.",
          "format": "int32"
        },
        "idleTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration of time after the last request that an instance must wait before the instance is shut down."
        }
      },
      "id": "BasicScaling",
      "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
    },
    "ApiEndpointHandler": {
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "id": "ApiEndpointHandler",
      "description": "Uses Google Cloud Endpoints to handle requests."
    },
    "Application": {
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "id": "Application",
      "type": "object",
      "properties": {
        "codeBucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "dispatchRules": {
          "items": {
            "$ref": "UrlDispatchRule"
          },
          "type": "array",
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported."
        },
        "defaultHostname": {
          "readOnly": true,
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly",
          "type": "string"
        },
        "sslPolicy": {
          "type": "string",
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ],
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ]
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "defaultBucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly"
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ],
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ]
        },
        "featureSettings": {
          "description": "The feature specific settings to be used in the application.",
          "$ref": "FeatureSettings"
        },
        "defaultCookieExpiration": {
          "description": "Cookie expiration policy for this application.",
          "format": "google-duration",
          "type": "string"
        },
        "servingStatus": {
          "description": "Serving status of this application.",
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "type": "string"
        },
        "gcrDomain": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application."
        },
        "id": {
          "type": "string",
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp."
        },
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "locationId": {
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should be a resource name ending with operations/{unique_id}."
        }
      }
    },
    "Instance": {
      "id": "Instance",
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Relative name of the instance within the version. Example: instance-1."
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time that this instance was started.@OutputOnly",
          "type": "string"
        },
        "vmId": {
          "readOnly": true,
          "description": "Output only. Virtual machine ID of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "vmStatus": {
          "readOnly": true,
          "description": "Output only. Status of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "errors": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of errors since this instance was started.",
          "type": "integer"
        },
        "vmName": {
          "readOnly": true,
          "description": "Output only. Name of the virtual machine where this instance lives. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "averageLatency": {
          "type": "integer",
          "description": "Output only. Average latency (ms) over the last minute.",
          "readOnly": true,
          "format": "int32"
        },
        "appEngineRelease": {
          "type": "string",
          "description": "Output only. App Engine release this instance is running on.",
          "readOnly": true
        },
        "vmZoneName": {
          "type": "string",
          "description": "Output only. Zone where the virtual machine is located. Only applicable for instances in App Engine flexible environment.",
          "readOnly": true
        },
        "requests": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of requests since this instance was started.",
          "type": "integer"
        },
        "memoryUsage": {
          "type": "string",
          "description": "Output only. Total memory in use (bytes).",
          "readOnly": true,
          "format": "int64"
        },
        "vmDebugEnabled": {
          "readOnly": true,
          "description": "Output only. Whether this instance is in debug mode. Only applicable for instances in App Engine flexible environment.",
          "type": "boolean"
        },
        "vmIp": {
          "readOnly": true,
          "description": "Output only. The IP address of this instance. Only applicable for instances in App Engine flexible environment.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the Instance resource in the API. Example: apps/myapp/services/default/versions/v1/instances/instance-1."
        },
        "qps": {
          "type": "number",
          "description": "Output only. Average queries per second (QPS) over the last minute.",
          "readOnly": true,
          "format": "float"
        },
        "availability": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Availability of the instance.",
          "enum": [
            "UNSPECIFIED",
            "RESIDENT",
            "DYNAMIC"
          ]
        },
        "vmLiveness": {
          "enumDescriptions": [
            "There is no liveness health check for the instance. Only applicable for instances in App Engine standard environment.",
            "The health checking system is aware of the instance but its health is not known at the moment.",
            "The instance is reachable i.e. a connection to the application health checking endpoint can be established, and conforms to the requirements defined by the health check.",
            "The instance is reachable, but does not conform to the requirements defined by the health check.",
            "The instance is being drained. The existing connections to the instance have time to complete, but the new ones are being refused.",
            "The instance is unreachable i.e. a connection to the application health checking endpoint cannot be established, or the server does not respond within the specified timeout."
          ],
          "description": "Output only. The liveness health check of this instance. Only applicable for instances in App Engine flexible environment.",
          "enum": [
            "LIVENESS_STATE_UNSPECIFIED",
            "UNKNOWN",
            "HEALTHY",
            "UNHEALTHY",
            "DRAINING",
            "TIMEOUT"
          ],
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "An Instance resource is the computing unit that App Engine uses to automatically scale an application."
    },
    "ResourceEvent": {
      "id": "ResourceEvent",
      "type": "object",
      "properties": {
        "eventId": {
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        },
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        }
      },
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event."
    },
    "FirewallRule": {
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
      "type": "object",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "sourceRange": {
          "type": "string",
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32."
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "description": "The action to take on matched requests.",
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ]
        },
        "description": {
          "type": "string",
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters."
        }
      },
      "id": "FirewallRule"
    },
    "DomainMapping": {
      "type": "object",
      "properties": {
        "sslSettings": {
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL.",
          "$ref": "SslSettings"
        },
        "resourceRecords": {
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly",
          "readOnly": true,
          "items": {
            "$ref": "ResourceRecord"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly"
        },
        "id": {
          "type": "string",
          "description": "Relative name of the domain serving the application. Example: example.com."
        }
      },
      "id": "DomainMapping",
      "description": "A domain serving an App Engine application."
    },
    "Service": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels."
        },
        "name": {
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest"
        },
        "split": {
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service.",
          "$ref": "TrafficSplit"
        },
        "networkSettings": {
          "description": "Ingress settings for this service. Will apply to all versions.",
          "$ref": "NetworkSettings"
        }
      },
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service."
    },
    "LivenessCheck": {
      "id": "LivenessCheck",
      "type": "object",
      "properties": {
        "checkInterval": {
          "format": "google-duration",
          "description": "Interval between health checks.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "timeout": {
          "type": "string",
          "description": "Time before the check is considered failed.",
          "format": "google-duration"
        },
        "initialDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The initial delay before starting to execute the checks."
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy."
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "successThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive successful checks required before considering the VM healthy."
        }
      },
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances."
    },
    "CreateVersionMetadataV1": {
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "type": "string",
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly"
        }
      }
    },
    "ApiConfigHandler": {
      "id": "ApiConfigHandler",
      "type": "object",
      "properties": {
        "script": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        },
        "securityLevel": {
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "description": "Security (HTTPS) enforcement for this URL.",
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "type": "string"
        },
        "login": {
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "description": "Level of login required to access this resource. Defaults to optional.",
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ],
          "type": "string"
        },
        "authFailAction": {
          "type": "string",
          "description": "Action to take when users access resources that require authentication. Defaults to redirect.",
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ]
        },
        "url": {
          "type": "string",
          "description": "URL to serve the endpoint at."
        }
      },
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration for API handlers."
    },
    "Network": {
      "id": "Network",
      "type": "object",
      "properties": {
        "subnetworkName": {
          "type": "string",
          "description": "Google Cloud Platform sub-network where the virtual machines are created. Specify the short name, not the resource path.If a subnetwork name is specified, a network name will also be required unless it is for the default network. If the network that the instance is being created in is a Legacy network, then the IP address is allocated from the IPv4Range. If the network that the instance is being created in is an auto Subnet Mode Network, then only network name should be specified (not the subnetwork_name) and the IP address is created from the IPCidrRange of the subnetwork that exists in that zone for that network. If the network that the instance is being created in is a custom Subnet Mode Network, then the subnetwork_name must be specified and the IP address is created from the IPCidrRange of the subnetwork.If specified, the subnetwork must exist in the same region as the App Engine flexible environment application."
        },
        "instanceIpMode": {
          "type": "string",
          "description": "The IP mode for instances. Only applicable in the App Engine flexible environment.",
          "enum": [
            "INSTANCE_IP_MODE_UNSPECIFIED",
            "EXTERNAL",
            "INTERNAL"
          ],
          "enumDescriptions": [
            "Unspecified is treated as EXTERNAL.",
            "Instances are created with both internal and external IP addresses.",
            "Instances are created with internal IP addresses only."
          ]
        },
        "instanceTag": {
          "type": "string",
          "description": "Tag to apply to the instance during creation. Only applicable in the App Engine flexible environment."
        },
        "sessionAffinity": {
          "description": "Enable session affinity. Only applicable in the App Engine flexible environment.",
          "type": "boolean"
        },
        "forwardedPorts": {
          "description": "List of ports, or port pairs, to forward from the virtual machine to the application container. Only applicable in the App Engine flexible environment.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Google Compute Engine network where the virtual machines are created. Specify the short name, not the resource path.Defaults to default."
        }
      },
      "description": "Extra network settings. Only applicable in the App Engine flexible environment."
    },
    "Version": {
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "id": "Version",
      "type": "object",
      "properties": {
        "versionUrl": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
        },
        "endpointsApiService": {
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
          "$ref": "EndpointsApiService"
        },
        "zones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated."
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest"
        },
        "envVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set."
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "items": {
            "$ref": "Library"
          },
          "type": "array"
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "createdBy": {
          "readOnly": true,
          "description": "Output only. Email address of the user who created this version.@OutputOnly",
          "type": "string"
        },
        "diskUsageBytes": {
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "defaultExpiration": {
          "type": "string",
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set."
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "network": {
          "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
          "$ref": "Network"
        },
        "flexibleRuntimeSettings": {
          "description": "Settings for App Engine flexible runtimes.",
          "$ref": "FlexibleRuntimeSettings"
        },
        "vm": {
          "type": "boolean",
          "description": "Whether to deploy this version in a container on a virtual machine."
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "threadsafe": {
          "type": "boolean",
          "description": "Whether multiple requests can be dispatched to this version at once."
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        },
        "createTime": {
          "description": "Time that this version was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "servingStatus": {
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "type": "string"
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances",
          "$ref": "LivenessCheck"
        },
        "name": {
          "type": "string",
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "readOnly": true
        },
        "healthCheck": {
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment.",
          "$ref": "HealthCheck"
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "readinessCheck": {
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation.",
          "$ref": "ReadinessCheck"
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "betaSettings": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Metadata settings that are supplied to this version to enable beta runtime features."
        },
        "runtimeMainExecutablePath": {
          "type": "string",
          "description": "The path or name of the app's main executable."
        },
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "runtimeChannel": {
          "type": "string",
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel."
        },
        "basicScaling": {
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity.",
          "$ref": "BasicScaling"
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "errorHandlers": {
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          },
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set."
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "buildEnvVariables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set."
        },
        "apiConfig": {
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "deprecated": true,
          "$ref": "ApiConfigHandler"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "inboundServices": {
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service.",
          "items": {
            "type": "string",
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ],
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ]
          },
          "type": "array"
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "handlers": {
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          }
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        }
      }
    },
    "FlexibleRuntimeSettings": {
      "id": "FlexibleRuntimeSettings",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "type": "string",
          "description": "The operating system of the application runtime."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "The runtime version of an App Engine flexible application."
        }
      },
      "description": "Runtime settings for the App Engine flexible environment."
    },
    "Date": {
      "id": "Date",
      "type": "object",
      "properties": {
        "year": {
          "format": "int32",
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer"
        },
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp"
    },
    "NetworkSettings": {
      "description": "A NetworkSettings resource is a container for ingress settings for a version or service.",
      "id": "NetworkSettings",
      "type": "object",
      "properties": {
        "ingressTrafficAllowed": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "Allow HTTP traffic from public and private sources.",
            "Allow HTTP traffic from only private VPC sources.",
            "Allow HTTP traffic from private VPC sources and through load balancers."
          ],
          "description": "The ingress settings for version or service.",
          "enum": [
            "INGRESS_TRAFFIC_ALLOWED_UNSPECIFIED",
            "INGRESS_TRAFFIC_ALLOWED_ALL",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_ONLY",
            "INGRESS_TRAFFIC_ALLOWED_INTERNAL_AND_LB"
          ]
        }
      }
    },
    "StaticFilesHandler": {
      "id": "StaticFilesHandler",
      "type": "object",
      "properties": {
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        },
        "expiration": {
          "type": "string",
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers."
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "applicationReadable": {
          "type": "boolean",
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas."
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        }
      },
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them."
    },
    "SslSettings": {
      "id": "SslSettings",
      "type": "object",
      "properties": {
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "sslManagementType": {
          "type": "string",
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "enum": [
            "SSL_MANAGEMENT_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "enumDescriptions": [
            "Defaults to AUTOMATIC.",
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ]
        },
        "pendingManagedCertificateId": {
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "SSL configuration for a DomainMapping resource."
    },
    "ListIngressRulesResponse": {
      "description": "Response message for Firewall.ListIngressRules.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "ingressRules": {
          "type": "array",
          "items": {
            "$ref": "FirewallRule"
          },
          "description": "The ingress FirewallRules for this application."
        }
      },
      "id": "ListIngressRulesResponse"
    },
    "ScriptHandler": {
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "type": "object",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "id": "ScriptHandler"
    },
    "ExportAppImageRequest": {
      "description": "Request message for Versions.ExportAppImage.",
      "id": "ExportAppImageRequest",
      "type": "object",
      "properties": {
        "destinationRepository": {
          "type": "string",
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist."
        }
      }
    },
    "LocationMetadata": {
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "standardEnvironmentAvailable": {
          "type": "boolean",
          "description": "App Engine standard environment is available in the given location.@OutputOnly"
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "type": "boolean"
        }
      }
    },
    "OperationMetadataV1Beta": {
      "description": "Metadata for the given google.longrunning.Operation.",
      "type": "object",
      "properties": {
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "insertTime": {
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Beta"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1beta.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1Beta"
    },
    "ListServicesResponse": {
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services belonging to the requested application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListServicesResponse",
      "description": "Response message for Services.ListServices."
    },
    "GceTag": {
      "id": "GceTag",
      "type": "object",
      "properties": {
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        },
        "parent": {
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info."
    },
    "ReadinessCheck": {
      "id": "ReadinessCheck",
      "type": "object",
      "properties": {
        "appStartTimeout": {
          "type": "string",
          "description": "A maximum time limit on application initialization, measured from moment the application successfully replies to a healthcheck until it is ready to serve traffic.",
          "format": "google-duration"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Readiness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "successThreshold": {
          "description": "Number of consecutive successful checks required before receiving traffic.",
          "format": "uint32",
          "type": "integer"
        },
        "failureThreshold": {
          "format": "uint32",
          "description": "Number of consecutive failed checks required before removing traffic.",
          "type": "integer"
        },
        "path": {
          "type": "string",
          "description": "The request path."
        },
        "timeout": {
          "description": "Time before the check is considered failed.",
          "format": "google-duration",
          "type": "string"
        },
        "checkInterval": {
          "type": "string",
          "description": "Interval between health checks.",
          "format": "google-duration"
        }
      },
      "description": "Readiness checking configuration for VM instances. Unhealthy instances are removed from traffic rotation."
    },
    "Entrypoint": {
      "description": "The entrypoint for the application.",
      "type": "object",
      "properties": {
        "shell": {
          "type": "string",
          "description": "The format should be a shell command that can be fed to bash -c."
        }
      },
      "id": "Entrypoint"
    },
    "OperationMetadataV1": {
      "type": "object",
      "properties": {
        "insertTime": {
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Durable messages that persist on every operation poll. @OutputOnly"
        },
        "ephemeralMessage": {
          "type": "string",
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "method": {
          "type": "string",
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        }
      },
      "id": "OperationMetadataV1",
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "ContainerInfo": {
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "id": "ContainerInfo",
      "type": "object",
      "properties": {
        "image": {
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
          "type": "string"
        }
      }
    },
    "DiskUtilization": {
      "type": "object",
      "properties": {
        "targetWriteOpsPerSecond": {
          "format": "int32",
          "description": "Target ops written per second.",
          "type": "integer"
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes read per second.",
          "type": "integer"
        },
        "targetWriteBytesPerSecond": {
          "type": "integer",
          "description": "Target bytes written per second.",
          "format": "int32"
        },
        "targetReadOpsPerSecond": {
          "format": "int32",
          "description": "Target ops read per seconds.",
          "type": "integer"
        }
      },
      "id": "DiskUtilization",
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment."
    },
    "CreateVersionMetadataV1Alpha": {
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "id": "CreateVersionMetadataV1Alpha",
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest."
    },
    "Reasons": {
      "type": "object",
      "properties": {
        "serviceActivation": {
          "type": "string",
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ]
        },
        "dataGovernance": {
          "type": "string",
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ]
        },
        "abuse": {
          "type": "string",
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ]
        },
        "serviceManagement": {
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ]
        },
        "billing": {
          "type": "string",
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ],
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ]
        }
      },
      "id": "Reasons",
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)"
    },
    "FileInfo": {
      "id": "FileInfo",
      "type": "object",
      "properties": {
        "sourceUrl": {
          "type": "string",
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'."
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "mimeType": {
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
          "type": "string"
        }
      },
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately."
    },
    "ListVersionsResponse": {
      "description": "Response message for Versions.ListVersions.",
      "type": "object",
      "properties": {
        "versions": {
          "description": "The versions belonging to the requested service.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListVersionsResponse"
    },
    "ErrorHandler": {
      "description": "Custom static error page to be served when an error occurs.",
      "id": "ErrorHandler",
      "type": "object",
      "properties": {
        "errorCode": {
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "description": "Error condition this handler applies to.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        },
        "staticFile": {
          "type": "string",
          "description": "Static file content to be served for this error."
        }
      }
    },
    "ListAuthorizedCertificatesResponse": {
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse",
      "type": "object",
      "properties": {
        "certificates": {
          "items": {
            "$ref": "AuthorizedCertificate"
          },
          "type": "array",
          "description": "The SSL certificates the user is authorized to administer."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "NetworkUtilization": {
      "id": "NetworkUtilization",
      "type": "object",
      "properties": {
        "targetSentBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes sent per second.",
          "type": "integer"
        },
        "targetReceivedBytesPerSecond": {
          "description": "Target bytes received per second.",
          "format": "int32",
          "type": "integer"
        },
        "targetSentPacketsPerSecond": {
          "type": "integer",
          "description": "Target packets sent per second.",
          "format": "int32"
        },
        "targetReceivedPacketsPerSecond": {
          "type": "integer",
          "description": "Target packets received per second.",
          "format": "int32"
        }
      },
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment."
    },
    "Library": {
      "description": "Third-party Python runtime library that is required by the application.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the library. Example: \"django\".",
          "type": "string"
        },
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        }
      },
      "id": "Library"
    },
    "RepairApplicationRequest": {
      "description": "Request message for 'Applications.RepairApplication'.",
      "id": "RepairApplicationRequest",
      "type": "object",
      "properties": {}
    },
    "EndpointsApiService": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "rolloutStrategy": {
          "type": "string",
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted.",
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ]
        },
        "disableTraceSampling": {
          "type": "boolean",
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled."
        },
        "configId": {
          "type": "string",
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted."
        }
      },
      "id": "EndpointsApiService",
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview)."
    },
    "ManagedCertificate": {
      "type": "object",
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ],
          "type": "string"
        },
        "lastRenewalTime": {
          "format": "google-datetime",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "type": "string"
        }
      },
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine."
    },
    "RequestUtilization": {
      "description": "Target scaling by request utilization. Only applicable in the App Engine flexible environment.",
      "type": "object",
      "properties": {
        "targetConcurrentRequests": {
          "description": "Target number of concurrent requests.",
          "format": "int32",
          "type": "integer"
        },
        "targetRequestCountPerSecond": {
          "description": "Target requests per second.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "RequestUtilization"
    },
    "Status": {
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status"
    },
    "ProjectsMetadata": {
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "type": "object",
      "properties": {
        "p4ServiceAccount": {
          "type": "string",
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH."
        },
        "tenantProjectNumber": {
          "format": "int64",
          "description": "The tenant project number.",
          "type": "string"
        },
        "producerProjectId": {
          "type": "string",
          "description": "The producer project id."
        },
        "tenantProjectId": {
          "type": "string",
          "description": "The tenant project id."
        },
        "consumerProjectState": {
          "type": "string",
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ]
        },
        "producerProjectNumber": {
          "format": "int64",
          "description": "The producer project number.",
          "type": "string"
        },
        "consumerProjectNumber": {
          "format": "int64",
          "description": "The consumer project number.",
          "type": "string"
        },
        "isGceProjectDeprovisioning": {
          "type": "boolean",
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "deprecated": true
        },
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "type": "array",
          "items": {
            "$ref": "GceTag"
          }
        }
      },
      "id": "ProjectsMetadata"
    },
    "ZipInfo": {
      "id": "ZipInfo",
      "type": "object",
      "properties": {
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        },
        "filesCount": {
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "The zip file information for a zip deployment."
    },
    "CloudBuildOptions": {
[...]
