{
  "baseUrl": "https://appengine.googleapis.com/",
  "servicePath": "",
  "basePath": "",
  "ownerDomain": "google.com",
  "version": "v1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "rootUrl": "https://appengine.googleapis.com/",
  "documentationLink": "https://cloud.google.com/appengine/docs/admin-api/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/appengine.admin": {
          "description": "View and manage your applications deployed on Google App Engine"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "name": "appengine",
  "version_module": true,
  "title": "App Engine Admin API",
  "ownerName": "Google",
  "id": "appengine:v1",
  "description": "Provisions and manages developers' App Engine applications.",
  "protocol": "rest",
  "schemas": {
    "ProjectEvent": {
      "type": "object",
      "id": "ProjectEvent",
      "description": "The request sent to CLHs during project events.",
      "properties": {
        "projectMetadata": {
          "description": "The projects metadata for this project. required",
          "$ref": "ProjectsMetadata"
        },
        "state": {
          "$ref": "ContainerState",
          "description": "The state of the organization that led to this event."
        },
        "phase": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "CONTAINER_EVENT_PHASE_UNSPECIFIED",
            "BEFORE_RESOURCE_HANDLING",
            "AFTER_RESOURCE_HANDLING"
          ],
          "description": "Phase indicates when in the container event propagation this event is being communicated. Events are sent before and after the per-resource events are propagated. required"
        },
        "eventId": {
          "description": "The unique ID for this project event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        }
      }
    },
    "ListDomainMappingsResponse": {
      "type": "object",
      "id": "ListDomainMappingsResponse",
      "description": "Response message for DomainMappings.ListDomainMappings.",
      "properties": {
        "domainMappings": {
          "description": "The domain mappings for the application.",
          "type": "array",
          "items": {
            "$ref": "DomainMapping"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "OperationMetadataV1": {
      "id": "OperationMetadataV1",
      "type": "object",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Time that this operation completed.@OutputOnly",
          "format": "google-datetime"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1"
        },
        "insertTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation was created.@OutputOnly"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for the given google.longrunning.Operation."
    },
    "Date": {
      "type": "object",
      "id": "Date",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: A full date, with non-zero year, month, and day values. A month and day, with a zero year (for example, an anniversary). A year on its own, with a zero month and a zero day. A year and month, with a zero day (for example, a credit card expiration date).Related types: google.type.TimeOfDay google.type.DateTime google.protobuf.Timestamp",
      "properties": {
        "month": {
          "format": "int32",
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer"
        },
        "day": {
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
          "format": "int32",
          "type": "integer"
        },
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "IdentityAwareProxy": {
      "id": "IdentityAwareProxy",
      "type": "object",
      "properties": {
        "oauth2ClientId": {
          "description": "OAuth2 client ID to use for the authentication flow.",
          "type": "string"
        },
        "oauth2ClientSecret": {
          "description": "OAuth2 client secret to use for the authentication flow.For security reasons, this value cannot be retrieved via the API. Instead, the SHA-256 hash of the value is returned in the oauth2_client_secret_sha256 field.@InputOnly",
          "type": "string"
        },
        "oauth2ClientSecretSha256": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hex-encoded SHA-256 hash of the client secret.@OutputOnly"
        },
        "enabled": {
          "description": "Whether the serving infrastructure will authenticate and authorize all incoming requests.If true, the oauth2_client_id and oauth2_client_secret fields must be non-empty.",
          "type": "boolean"
        }
      },
      "description": "Identity-Aware Proxy"
    },
    "CreateVersionMetadataV1": {
      "id": "CreateVersionMetadataV1",
      "type": "object",
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1.CreateVersionRequest."
    },
    "Runtime": {
      "id": "Runtime",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "User-friendly display name, e.g. 'Node.js 12', etc.",
          "type": "string"
        },
        "stage": {
          "type": "string",
          "description": "The stage of life this runtime is in, e.g., BETA, GA, etc.",
          "enumDescriptions": [
            "Not specified.",
            "The runtime is in development.",
            "The runtime is in the Alpha stage.",
            "The runtime is in the Beta stage.",
            "The runtime is generally available.",
            "The runtime is deprecated.",
            "The runtime is no longer supported.",
            "The runtime is end of support."
          ],
          "enum": [
            "RUNTIME_STAGE_UNSPECIFIED",
            "DEVELOPMENT",
            "ALPHA",
            "BETA",
            "GA",
            "DEPRECATED",
            "DECOMMISSIONED",
            "END_OF_SUPPORT"
          ]
        },
        "environment": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "App Engine Standard.",
            "App Engine Flexible"
          ],
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "STANDARD",
            "FLEXIBLE"
          ],
          "description": "The environment of the runtime."
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Warning messages, e.g., a deprecation warning."
        },
        "decommissionedDate": {
          "description": "Date when Runtime is decommissioned.",
          "$ref": "Date"
        },
        "endOfSupportDate": {
          "description": "Date when Runtime is end of support.",
          "$ref": "Date"
        },
        "supportedOperatingSystems": {
          "description": "Supported operating systems for the runtime, e.g., 'ubuntu22', etc.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deprecationDate": {
          "description": "Date when Runtime is deprecated.",
          "$ref": "Date"
        },
        "name": {
          "description": "The name of the runtime, e.g., 'go113', 'nodejs12', etc.",
          "type": "string"
        }
      },
      "description": "Runtime versions for App Engine."
    },
    "AuthorizedCertificate": {
      "properties": {
        "displayName": {
          "description": "The user-specified display name of the certificate. This is not guaranteed to be unique. Example: My Certificate.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "description": "The time when this certificate expires. To update the renewal time on this certificate, upload an SSL certificate with a different expiration time using AuthorizedCertificates.UpdateAuthorizedCertificate.@OutputOnly",
          "format": "google-datetime"
        },
        "id": {
          "description": "Output only. Relative name of the certificate. This is a unique value autogenerated on AuthorizedCertificate resource creation. Example: 12345.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "domainMappingsCount": {
          "format": "int32",
          "description": "Aggregate count of the domain mappings with this certificate mapped. This count includes domain mappings on applications for which the user does not have VIEWER permissions.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly",
          "type": "integer"
        },
        "certificateRawData": {
          "$ref": "CertificateRawData",
          "description": "The SSL certificate serving the AuthorizedCertificate resource. This must be obtained independently from a certificate authority."
        },
        "managedCertificate": {
          "description": "Only applicable if this certificate is managed by App Engine. Managed certificates are tied to the lifecycle of a DomainMapping and cannot be updated or deleted via the AuthorizedCertificates API. If this certificate is manually administered by the user, this field will be empty.@OutputOnly",
          "$ref": "ManagedCertificate"
        },
        "visibleDomainMappings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The full paths to user visible Domain Mapping resources that have this certificate mapped. Example: apps/myapp/domainMappings/example.com.This may not represent the full list of mapped domain mappings if the user does not have VIEWER permissions on all of the applications that have this certificate mapped. See domain_mappings_count for a complete count.Only returned by GET or LIST requests when specifically requested by the view=FULL_CERTIFICATE option.@OutputOnly"
        },
        "domainNames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Topmost applicable domains of this certificate. This certificate applies to these domains and their subdomains. Example: example.com.@OutputOnly"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full path to the AuthorizedCertificate resource in the API. Example: apps/myapp/authorizedCertificates/12345.@OutputOnly"
        }
      },
      "description": "An SSL certificate that a user has been authorized to administer. A user is authorized to administer any certificate that applies to one of their authorized domains.",
      "id": "AuthorizedCertificate",
      "type": "object"
    },
    "ProjectsMetadata": {
      "properties": {
        "consumerProjectId": {
          "description": "The consumer project id.",
          "type": "string"
        },
        "gceTag": {
          "description": "The GCE tags associated with the consumer project and those inherited due to their ancestry, if any. Not supported by CCFE.",
          "type": "array",
          "items": {
            "$ref": "GceTag"
          }
        },
        "isGceProjectDeprovisioning": {
          "description": "DEPRECATED: Indicates whether the GCE project is in the DEPROVISIONING state. This field is a temporary workaround (see b/475310865) to allow GCE extensions to bypass certain checks during deprovisioning. It will be replaced by a permanent solution in the future.",
          "deprecated": true,
          "type": "boolean"
        },
        "tenantProjectNumber": {
          "type": "string",
          "description": "The tenant project number.",
          "format": "int64"
        },
        "consumerProjectState": {
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ],
          "description": "The CCFE state of the consumer project. It is the same state that is communicated to the CLH during project events. Notice that this field is not set in the DB, it is only set in this proto when communicated to CLH in the side channel.",
          "type": "string"
        },
        "p4ServiceAccount": {
          "description": "The service account authorized to operate on the consumer project. Note: CCFE only propagates P4SA with default tag to CLH.",
          "type": "string"
        },
        "tenantProjectId": {
          "description": "The tenant project id.",
          "type": "string"
        },
        "producerProjectNumber": {
          "type": "string",
          "format": "int64",
          "description": "The producer project number."
        },
        "consumerProjectNumber": {
          "description": "The consumer project number.",
          "format": "int64",
          "type": "string"
        },
        "producerProjectId": {
          "description": "The producer project id.",
          "type": "string"
        }
      },
      "description": "ProjectsMetadata is the metadata CCFE stores about the all the relevant projects (tenant, consumer, producer).",
      "id": "ProjectsMetadata",
      "type": "object"
    },
    "AuthorizedDomain": {
      "type": "object",
      "id": "AuthorizedDomain",
      "description": "A domain that a user has been authorized to administer. To authorize use of a domain, verify ownership via Search Console (https://search.google.com/search-console/welcome).",
      "properties": {
        "name": {
          "description": "Full path to the AuthorizedDomain resource in the API. Example: apps/myapp/authorizedDomains/example.com.@OutputOnly",
          "type": "string"
        },
        "id": {
          "description": "Fully qualified domain name of the domain authorized for use. Example: example.com.",
          "type": "string"
        }
      }
    },
    "ResourceRecord": {
      "type": "object",
      "id": "ResourceRecord",
      "description": "A DNS resource record.",
      "properties": {
        "rrdata": {
          "description": "Data for this record. Values vary by record type, as defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).",
          "type": "string"
        },
        "name": {
          "description": "Relative name of the object affected by this record. Only applicable for CNAME records. Example: 'www'.",
          "type": "string"
        },
        "type": {
          "description": "Resource record type. Example: AAAA.",
          "enumDescriptions": [
            "An unknown resource record.",
            "An A resource record. Data is an IPv4 address.",
            "An AAAA resource record. Data is an IPv6 address.",
            "A CNAME resource record. Data is a domain name to be aliased."
          ],
          "enum": [
            "RECORD_TYPE_UNSPECIFIED",
            "A",
            "AAAA",
            "CNAME"
          ],
          "type": "string"
        }
      }
    },
    "HealthCheck": {
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances. Only applicable for instances in App Engine flexible environment.",
      "properties": {
        "restartThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before an instance is restarted."
        },
        "disableHealthCheck": {
          "description": "Whether to explicitly disable health checks for this instance.",
          "type": "boolean"
        },
        "unhealthyThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed health checks required before removing traffic."
        },
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Time before the health check is considered failed."
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "host": {
          "description": "Host header to send when performing an HTTP health check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "healthyThreshold": {
          "type": "integer",
          "description": "Number of consecutive successful health checks required before receiving traffic.",
          "format": "uint32"
        }
      },
      "type": "object",
      "id": "HealthCheck"
    },
    "FlexibleRuntimeSettings": {
      "id": "FlexibleRuntimeSettings",
      "type": "object",
      "properties": {
        "operatingSystem": {
          "description": "The operating system of the application runtime.",
          "type": "string"
        },
        "runtimeVersion": {
          "description": "The runtime version of an App Engine flexible application.",
          "type": "string"
        }
      },
      "description": "Runtime settings for the App Engine flexible environment."
    },
    "ListServicesResponse": {
      "id": "ListServicesResponse",
      "type": "object",
      "properties": {
        "services": {
          "type": "array",
          "items": {
            "$ref": "Service"
          },
          "description": "The services belonging to the requested application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Services.ListServices."
    },
    "StandardSchedulerSettings": {
      "properties": {
        "minInstances": {
          "type": "integer",
          "description": "Minimum number of instances to run for this version. Set to zero to disable min_instances configuration.",
          "format": "int32"
        },
        "maxInstances": {
          "format": "int32",
          "description": "Maximum number of instances to run for this version. Set to 2147483647 to disable max_instances configuration.",
          "type": "integer"
        },
        "targetThroughputUtilization": {
          "description": "Target throughput utilization ratio to maintain when scaling",
          "format": "double",
          "type": "number"
        },
        "targetCpuUtilization": {
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling.",
          "type": "number"
        }
      },
      "description": "Scheduler settings for standard environment.",
      "id": "StandardSchedulerSettings",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Application": {
      "properties": {
        "gcrDomain": {
          "description": "Output only. The Google Container Registry domain used for storing managed build docker images for this application.",
          "readOnly": true,
          "type": "string"
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetApplicationRequest",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "defaultCookieExpiration": {
          "description": "Cookie expiration policy for this application.",
          "format": "google-duration",
          "type": "string"
        },
        "locationId": {
          "description": "Location from which this application runs. Application instances run out of the data centers in the specified location, which is also where all of the application's end user content is stored.Defaults to us-central.View the list of supported locations (https://cloud.google.com/appengine/docs/locations).",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string"
        },
        "servingStatus": {
          "enumDescriptions": [
            "Serving status is unspecified.",
            "Application is serving.",
            "Application has been disabled by the user.",
            "Application has been disabled by the system."
          ],
          "enum": [
            "UNSPECIFIED",
            "SERVING",
            "USER_DISABLED",
            "SYSTEM_DISABLED"
          ],
          "description": "Serving status of this application.",
          "type": "string"
        },
        "iap": {
          "$ref": "IdentityAwareProxy"
        },
        "featureSettings": {
          "$ref": "FeatureSettings",
          "description": "The feature specific settings to be used in the application."
        },
        "id": {
          "description": "Identifier of the Application resource. This identifier is equivalent to the project ID of the Google Cloud Platform project where you want to deploy your application. Example: myapp.",
          "type": "string"
        },
        "authDomain": {
          "description": "Google Apps authentication domain that controls which users can access this application.Defaults to open access for any Google Account.",
          "type": "string"
        },
        "codeBucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Google Cloud Storage bucket that can be used for storing files associated with this application. This bucket is associated with the application and can be used by the gcloud deployment commands.@OutputOnly"
        },
        "defaultBucket": {
          "description": "Output only. Google Cloud Storage bucket that can be used by this application to store content.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the application. This is the app-level default identity. If no identity provided during create version, Admin API will fallback to this one.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "Database type is unspecified.",
            "Cloud Datastore",
            "Cloud Firestore Native",
            "Cloud Firestore in Datastore Mode"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "CLOUD_DATASTORE",
            "CLOUD_FIRESTORE",
            "CLOUD_DATASTORE_COMPATIBILITY"
          ],
          "description": "The type of the Cloud Firestore or Cloud Datastore database associated with this application."
        },
        "sslPolicy": {
          "enumDescriptions": [
            "Required by linter. Will work same as DEFAULT",
            "DEFAULT is to allow all TLS versions and cipher suites supported by App Engine",
            "MODERN is to allow only TLS 1.2 and TLS 1.3 along with Modern cipher suites only"
          ],
          "enum": [
            "SSL_POLICY_UNSPECIFIED",
            "DEFAULT",
            "MODERN"
          ],
          "description": "The SSL policy that will be applied to the application. If set to Modern it will restrict traffic with TLS < 1.2 and allow only Modern Ciphers suite",
          "type": "string"
        },
        "dispatchRules": {
          "description": "HTTP path dispatch rules for requests to the application that do not explicitly target a service or version. Rules are order-dependent. Up to 20 dispatch rules can be supported.",
          "type": "array",
          "items": {
            "$ref": "UrlDispatchRule"
          }
        },
        "defaultHostname": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Hostname used to reach this application, as resolved by App Engine.@OutputOnly"
        }
      },
      "description": "An Application resource contains the top-level configuration of an App Engine application.",
      "id": "Application",
      "type": "object"
    },
    "Volume": {
      "type": "object",
      "id": "Volume",
      "description": "Volumes mounted within the app container. Only applicable in the App Engine flexible environment.",
      "properties": {
        "name": {
          "description": "Unique name for the volume.",
          "type": "string"
        },
        "volumeType": {
          "description": "Underlying volume type, e.g. 'tmpfs'.",
          "type": "string"
        },
        "sizeGb": {
          "format": "double",
          "description": "Volume size in gigabytes.",
          "type": "number"
        }
      }
    },
    "Library": {
      "type": "object",
      "id": "Library",
      "description": "Third-party Python runtime library that is required by the application.",
      "properties": {
        "name": {
          "description": "Name of the library. Example: \"django\".",
          "type": "string"
        },
        "version": {
          "description": "Version of the library to select, or \"latest\".",
          "type": "string"
        }
      }
    },
    "ScriptHandler": {
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "description": "Executes a script to handle the request that matches the URL pattern.",
      "id": "ScriptHandler",
      "type": "object"
    },
    "ExportAppImageRequest": {
      "type": "object",
      "id": "ExportAppImageRequest",
      "description": "Request message for Versions.ExportAppImage.",
      "properties": {
        "destinationRepository": {
          "description": "Optional. The full resource name of the AR repository to export to. Format: projects/{project}/locations/{location}/repositories/{repository} If not specified, defaults to projects/{project}/locations/{location}/repositories/gae-standard in the same region as the app. The default repository will be created if it does not exist.",
          "type": "string"
        }
      }
    },
    "UrlDispatchRule": {
      "properties": {
        "domain": {
          "description": "Domain name to match against. The wildcard \"*\" is supported if specified before a period: \"*.\".Defaults to matching all domains: \"*\".",
          "type": "string"
        },
        "path": {
          "description": "Pathname within the host. Must start with a \"/\". A single \"*\" can be included at the end of the path.The sum of the lengths of the domain and path may not exceed 100 characters.",
          "type": "string"
        },
        "service": {
          "description": "Resource ID of a service in this application that should serve the matched request. The service must already exist. Example: default.",
          "type": "string"
        }
      },
      "description": "Rules to match an HTTP request and dispatch that request to a service.",
      "id": "UrlDispatchRule",
      "type": "object"
    },
    "ListAuthorizedCertificatesResponse": {
      "properties": {
        "certificates": {
          "description": "The SSL certificates the user is authorized to administer.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedCertificate"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for AuthorizedCertificates.ListAuthorizedCertificates.",
      "id": "ListAuthorizedCertificatesResponse",
      "type": "object"
    },
    "Reasons": {
      "description": "Containers transition between and within states based on reasons sent from various systems. CCFE will provide the CLH with reasons for the current state per system.The current systems that CCFE supports are: Service Management (Inception) Data Governance (Wipeout) Abuse (Ares) Billing (Internal Cloud Billing API) Service Activation (Service Controller)",
      "properties": {
        "abuse": {
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the abuse system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "If a container is deemed abusive we receive a suspend signal. Suspend is a reason to put the container into an INTERNAL_OFF state.",
            "Containers that were once considered abusive can later be deemed non-abusive. When this happens we must reinstate the container. Reinstate is a reason to put the container into an ON state."
          ],
          "enum": [
            "ABUSE_UNKNOWN_REASON",
            "ABUSE_CONTROL_PLANE_SYNC",
            "SUSPEND",
            "REINSTATE"
          ]
        },
        "billing": {
          "type": "string",
          "enumDescriptions": [
            "An unknown reason indicates that the billing system has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "Minor infractions cause a probation signal to be sent. Probation is a reason to put the container into a ON state even though it is a negative signal. CCFE will block mutations for this container while it is on billing probation, but the CLH is expected to serve non-mutation requests.",
            "When a billing account is closed, it is a stronger signal about non-payment. Close is a reason to put the container into an INTERNAL_OFF state.",
            "Consumers can re-open billing accounts and update accounts to pull them out of probation. When this happens, we get a signal that the account is open. Open is a reason to put the container into an ON state."
          ],
          "enum": [
            "BILLING_UNKNOWN_REASON",
            "BILLING_CONTROL_PLANE_SYNC",
            "PROBATION",
            "CLOSE",
            "OPEN"
          ]
        },
        "serviceManagement": {
          "enumDescriptions": [
            "An unknown reason indicates that we have not received a signal from service management about this container. Since containers are created by request of service management, this reason should never be set.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a customer activates an API CCFE notifies the CLH and sets the container to the ON state.",
            "When a customer deactivates and API service management starts a two-step process to perform the deactivation. The first step is to prepare. Prepare is a reason to put the container in a EXTERNAL_OFF state.",
            "If the deactivation is cancelled, service managed needs to abort the deactivation. Abort is a reason to put the container in an ON state.",
            "If the deactivation is followed through with, service management needs to finish deactivation. Commit is a reason to put the container in a DELETED state."
          ],
          "enum": [
            "SERVICE_MANAGEMENT_UNKNOWN_REASON",
            "SERVICE_MANAGEMENT_CONTROL_PLANE_SYNC",
            "ACTIVATION",
            "PREPARE_DEACTIVATION",
            "ABORT_DEACTIVATION",
            "COMMIT_DEACTIVATION"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            true,
            true,
            true
          ],
          "type": "string"
        },
        "serviceActivation": {
          "description": "Consumer Container denotes if the service is active within a project or not. This information could be used to clean up resources in case service in DISABLED_FULL i.e. Service is inactive > 30 days.",
          "enumDescriptions": [
            "Default Unspecified status",
            "Service is active in the project.",
            "Service is disabled in the project recently i.e., within last 24 hours.",
            "Service has been disabled for configured grace_period (default 30 days).",
            "Happens when PSM cannot determine the status of service in a project Could happen due to variety of reasons like PERMISSION_DENIED or Project got deleted etc."
          ],
          "enum": [
            "SERVICE_ACTIVATION_STATUS_UNSPECIFIED",
            "SERVICE_ACTIVATION_ENABLED",
            "SERVICE_ACTIVATION_DISABLED",
            "SERVICE_ACTIVATION_DISABLED_FULL",
            "SERVICE_ACTIVATION_UNKNOWN_REASON"
          ],
          "type": "string"
        },
        "dataGovernance": {
          "enumDescriptions": [
            "An unknown reason indicates that data governance has not sent a signal for this container.",
            "Due to various reasons CCFE might proactively restate a container state to a CLH to ensure that the CLH and CCFE are both aware of the container state. This reason can be tied to any of the states.",
            "When a container is deleted we retain some data for a period of time to allow the consumer to change their mind. Data governance sends a signal to hide the data when this occurs. Hide is a reason to put the container in an INTERNAL_OFF state.",
            "The decision to un-delete a container can be made. When this happens data governance tells us to unhide any hidden data. Unhide is a reason to put the container in an ON state.",
            "After a period of time data must be completely removed from our systems. When data governance sends a purge signal we need to remove data. Purge is a reason to put the container in a DELETED state. Purge is the only event that triggers a delete mutation. All other events have update semantics."
          ],
          "enum": [
            "DATA_GOVERNANCE_UNKNOWN_REASON",
            "DATA_GOVERNANCE_CONTROL_PLANE_SYNC",
            "HIDE",
            "UNHIDE",
            "PURGE"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "Reasons"
    },
    "Entrypoint": {
      "properties": {
        "shell": {
          "description": "The format should be a shell command that can be fed to bash -c.",
          "type": "string"
        }
      },
      "description": "The entrypoint for the application.",
      "id": "Entrypoint",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). Each Status message contains three pieces of data: error code, error message, and error details.You can find out more about this error model and how to work with it in the API Design Guide (https://cloud.google.com/apis/design/errors)."
    },
    "DomainMapping": {
      "type": "object",
      "id": "DomainMapping",
      "description": "A domain serving an App Engine application.",
      "properties": {
        "resourceRecords": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ResourceRecord"
          },
          "description": "Output only. The resource records required to configure this domain mapping. These records must be added to the domain's DNS configuration in order to serve the application via this domain mapping.@OutputOnly"
        },
        "name": {
          "description": "Output only. Full path to the DomainMapping resource in the API. Example: apps/myapp/domainMapping/example.com.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "id": {
          "description": "Relative name of the domain serving the application. Example: example.com.",
          "type": "string"
        },
        "sslSettings": {
          "$ref": "SslSettings",
          "description": "SSL configuration for this domain. If unconfigured, this domain will not serve with SSL."
        }
      }
    },
    "LocationMetadata": {
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location.",
          "readOnly": true,
          "type": "boolean"
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location.",
      "id": "LocationMetadata",
      "type": "object"
    },
    "StaticFilesHandler": {
      "type": "object",
      "id": "StaticFilesHandler",
      "description": "Files served directly to the user for a given URL, such as images, CSS stylesheets, or JavaScript source files. Static file handlers describe which files in the application directory are static files, and which URLs serve them.",
      "properties": {
        "applicationReadable": {
          "description": "Whether files should also be uploaded as code data. By default, files declared in static file handlers are uploaded as static data and are only served to end users; they cannot be read by the application. If enabled, uploads are charged against both your code and static data storage resource quotas.",
          "type": "boolean"
        },
        "path": {
          "description": "Path to the static files matched by the URL pattern, from the application root directory. The path can refer to text matched in groupings in the URL pattern.",
          "type": "string"
        },
        "uploadPathRegex": {
          "description": "Regular expression that matches the file paths for all files that should be referenced by this handler.",
          "type": "string"
        },
        "httpHeaders": {
          "description": "HTTP headers to use for all responses from these URLs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "mimeType": {
          "description": "MIME type used to serve all files served by this handler.Defaults to file-specific MIME types, which are derived from each file's filename extension.",
          "type": "string"
        },
        "requireMatchingFile": {
          "description": "Whether this handler should match the request if the file referenced by the handler does not exist.",
          "type": "boolean"
        },
        "expiration": {
          "format": "google-duration",
          "description": "Time a static file served by this handler should be cached by web proxies and browsers.",
          "type": "string"
        }
      }
    },
    "GceTag": {
      "description": "For use only by GCE. GceTag is a wrapper around the GCE administrative tag with parent info.",
      "properties": {
        "tag": {
          "description": "The administrative_tag name.",
          "type": "string"
        },
        "parent": {
          "description": "The parents(s) of the tag. Eg. projects/123, folders/456 It usually contains only one parent. But, in some corner cases, it can contain multiple parents. Currently, organizations are not supported.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "GceTag"
    },
    "AutomaticScaling": {
      "description": "Automatic scaling is based on request rate, response latencies, and other application metrics.",
      "properties": {
        "standardSchedulerSettings": {
          "description": "Scheduler settings for standard environment.",
          "$ref": "StandardSchedulerSettings"
        },
        "cpuUtilization": {
          "$ref": "CpuUtilization",
          "description": "Target scaling by CPU usage."
        },
        "minIdleInstances": {
          "type": "integer",
          "description": "Minimum number of idle instances that should be maintained for this version. Only applicable for the default version of a service.",
          "format": "int32"
        },
        "diskUtilization": {
          "$ref": "DiskUtilization",
          "description": "Target scaling by disk usage."
        },
        "maxTotalInstances": {
          "description": "Maximum number of instances that should be started to handle requests for this version.",
          "format": "int32",
          "type": "integer"
        },
        "requestUtilization": {
          "$ref": "RequestUtilization",
          "description": "Target scaling by request utilization."
        },
        "minTotalInstances": {
          "format": "int32",
          "description": "Minimum number of running instances that should be maintained for this version.",
          "type": "integer"
        },
        "maxIdleInstances": {
          "format": "int32",
          "description": "Maximum number of idle instances that should be maintained for this version.",
          "type": "integer"
        },
        "networkUtilization": {
          "description": "Target scaling by network usage.",
          "$ref": "NetworkUtilization"
        },
        "maxConcurrentRequests": {
          "format": "int32",
          "description": "Number of concurrent requests an automatic scaling instance can accept before the scheduler spawns a new instance.Defaults to a runtime-specific value.",
          "type": "integer"
        },
        "coolDownPeriod": {
          "type": "string",
          "description": "The time period that the Autoscaler (https://cloud.google.com/compute/docs/autoscaler/) should wait before it starts collecting information from a new instance. This prevents the autoscaler from collecting information when the instance is initializing, during which the collected usage would not be reliable. Only applicable in the App Engine flexible environment.",
          "format": "google-duration"
        },
        "maxPendingLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Maximum amount of time that a request should wait in the pending queue before starting a new instance to handle it."
        },
        "minPendingLatency": {
          "type": "string",
          "format": "google-duration",
          "description": "Minimum amount of time a request should wait in the pending queue before starting a new instance to handle it."
        }
      },
      "type": "object",
      "id": "AutomaticScaling"
    },
    "RepairApplicationRequest": {
      "properties": {},
      "description": "Request message for 'Applications.RepairApplication'.",
      "id": "RepairApplicationRequest",
      "type": "object"
    },
    "LivenessCheck": {
      "properties": {
        "timeout": {
          "format": "google-duration",
          "description": "Time before the check is considered failed.",
          "type": "string"
        },
        "checkInterval": {
          "description": "Interval between health checks.",
          "format": "google-duration",
          "type": "string"
        },
        "host": {
          "description": "Host header to send when performing a HTTP Liveness check. Example: \"myapp.appspot.com\"",
          "type": "string"
        },
        "failureThreshold": {
          "type": "integer",
          "format": "uint32",
          "description": "Number of consecutive failed checks required before considering the VM unhealthy."
        },
        "successThreshold": {
          "type": "integer",
          "description": "Number of consecutive successful checks required before considering the VM healthy.",
          "format": "uint32"
        },
        "initialDelay": {
          "type": "string",
          "format": "google-duration",
          "description": "The initial delay before starting to execute the checks."
        },
        "path": {
          "description": "The request path.",
          "type": "string"
        }
      },
      "description": "Health checking configuration for VM instances. Unhealthy instances are killed and replaced with new instances.",
      "id": "LivenessCheck",
      "type": "object"
    },
    "ZipInfo": {
      "properties": {
        "filesCount": {
          "type": "integer",
          "format": "int32",
          "description": "An estimate of the number of files in a zip for a zip deployment. If set, must be greater than or equal to the actual number of files. Used for optimizing performance; if not provided, deployment may be slow."
        },
        "sourceUrl": {
          "description": "URL of the zip file to deploy from. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "description": "The zip file information for a zip deployment.",
      "id": "ZipInfo",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: \"projects/example-project/locations/us-east1\"",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: \"us-east1\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"} ",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "Service": {
      "type": "object",
      "id": "Service",
      "description": "A Service resource is a logical component of an application that can share state and communicate in a secure fashion with other services. For example, an application that handles customer requests might include separate services to handle tasks such as backend data analysis or API requests from mobile devices. Each service has a collection of versions that define a specific set of code used to implement the functionality of that service.",
      "properties": {
        "networkSettings": {
          "$ref": "NetworkSettings",
          "description": "Ingress settings for this service. Will apply to all versions."
        },
        "split": {
          "$ref": "TrafficSplit",
          "description": "Mapping that defines fractional HTTP traffic diversion to different versions within the service."
        },
        "generatedCustomerMetadata": {
          "type": "object",
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetServiceRequest",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Full path to the Service resource in the API. Example: apps/myapp/services/default.@OutputOnly"
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Relative name of the service within the application. Example: default.@OutputOnly"
        },
        "labels": {
          "description": "A set of labels to apply to this service. Labels are key/value pairs that describe the service and all resources that belong to it (e.g., versions). The labels can be used to search and group resources, and are propagated to the usage and billing reports, enabling fine-grain analysis of costs. An example of using labels is to tag resources belonging to different environments (e.g., \"env=prod\", \"env=qa\"). Label keys and values can be no longer than 63 characters and can only contain lowercase letters, numeric characters, underscores, dashes, and international characters. Label keys must start with a lowercase letter or an international character. Each service can have at most 32 labels.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Resources": {
      "description": "Machine resources for a version.",
      "properties": {
        "kmsKeyReference": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. Only should be used by Cloud Composer to encrypt the vm disk",
          "type": "string"
        },
        "cpu": {
          "type": "number",
          "format": "double",
          "description": "Number of CPU cores needed."
        },
        "memoryGb": {
          "type": "number",
          "format": "double",
          "description": "Memory (GB) needed."
        },
        "diskGb": {
          "type": "number",
          "description": "Disk size (GB) needed.",
          "format": "double"
        },
        "volumes": {
          "description": "User specified volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        }
      },
      "type": "object",
      "id": "Resources"
    },
    "FirewallRule": {
      "type": "object",
      "id": "FirewallRule",
      "description": "A single firewall rule that is evaluated against incoming traffic and provides an action to take on matched requests. A positive integer between 1, Int32.MaxValue-1 that defines the order of rule evaluation. Rules with the lowest priority are evaluated first.A default rule at priority Int32.MaxValue matches all IPv4 and IPv6 traffic when no previous rule matches. Only the action of this rule can be modified by the user.",
      "properties": {
        "priority": {
          "type": "integer",
          "format": "int32"
        },
        "sourceRange": {
          "description": "IP address or range, defined using CIDR notation, of requests that this rule applies to. You can use the wildcard character \"*\" to match all IPs equivalent to \"0/0\" and \"::/0\" together. Examples: 192.168.1.1 or 192.168.0.0/16 or 2001:db8::/32 or 2001:0db8:0000:0042:0000:8a2e:0370:7334. Truncation will be silently performed on addresses which are not properly truncated. For example, 1.2.3.4/24 is accepted as the same address as 1.2.3.0/24. Similarly, for IPv6, 2001:db8::1/32 is accepted as the same address as 2001:db8::/32.",
          "type": "string"
        },
        "description": {
          "description": "An optional string description of this rule. This field has a maximum length of 400 characters.",
          "type": "string"
        },
        "action": {
          "type": "string",
          "description": "The action to take on matched requests.",
          "enumDescriptions": [
            "",
            "Matching requests are allowed.",
            "Matching requests are denied."
          ],
          "enum": [
            "UNSPECIFIED_ACTION",
            "ALLOW",
            "DENY"
          ]
        }
      }
    },
    "ManualScaling": {
      "properties": {
        "instances": {
          "type": "integer",
          "format": "int32",
          "description": "Number of instances to assign to the service at the start. This number can later be altered by using the Modules API (https://cloud.google.com/appengine/docs/python/modules/functions) set_num_instances() function."
        }
      },
      "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time.",
      "id": "ManualScaling",
      "type": "object"
    },
    "ListAuthorizedDomainsResponse": {
      "description": "Response message for AuthorizedDomains.ListAuthorizedDomains.",
      "properties": {
        "domains": {
          "description": "The authorized domains belonging to the user.",
          "type": "array",
          "items": {
            "$ref": "AuthorizedDomain"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListAuthorizedDomainsResponse"
    },
    "UrlMap": {
      "type": "object",
      "id": "UrlMap",
      "description": "URL pattern and description of how the URL should be handled. App Engine can handle URLs by executing application code or by serving static files uploaded with the version, such as images, CSS, or JavaScript.",
      "properties": {
        "script": {
          "$ref": "ScriptHandler",
          "description": "Executes a script to handle the requests that match this URL pattern. Only the auto value is supported for Node.js in the App Engine standard environment, for example \"script\": \"auto\"."
        },
        "authFailAction": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. AUTH_FAIL_ACTION_REDIRECT is assumed.",
            "Redirects user to \"accounts.google.com\". The user is redirected back to the application URL after signing in or creating an account.",
            "Rejects request with a 401 HTTP status code and an error message."
          ],
          "enum": [
            "AUTH_FAIL_ACTION_UNSPECIFIED",
            "AUTH_FAIL_ACTION_REDIRECT",
            "AUTH_FAIL_ACTION_UNAUTHORIZED"
          ],
          "description": "Action to take when users access resources that require authentication. Defaults to redirect."
        },
        "redirectHttpResponseCode": {
          "type": "string",
          "description": "30x code to use when performing redirects for the secure field. Defaults to 302.",
          "enumDescriptions": [
            "Not specified. 302 is assumed.",
            "301 Moved Permanently code.",
            "302 Moved Temporarily code.",
            "303 See Other code.",
            "307 Temporary Redirect code."
          ],
          "enum": [
            "REDIRECT_HTTP_RESPONSE_CODE_UNSPECIFIED",
            "REDIRECT_HTTP_RESPONSE_CODE_301",
            "REDIRECT_HTTP_RESPONSE_CODE_302",
            "REDIRECT_HTTP_RESPONSE_CODE_303",
            "REDIRECT_HTTP_RESPONSE_CODE_307"
          ]
        },
        "securityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used, and respond accordingly.",
            "Requests for a URL that match this handler that use HTTPS are automatically redirected to the HTTP equivalent URL.",
            "Both HTTP and HTTPS requests with URLs that match the handler succeed without redirects. The application can examine the request to determine which protocol was used and respond accordingly.",
            "Requests for a URL that match this handler that do not use HTTPS are automatically redirected to the HTTPS URL with the same path. Query parameters are reserved for the redirect."
          ],
          "enum": [
            "SECURE_UNSPECIFIED",
            "SECURE_DEFAULT",
            "SECURE_NEVER",
            "SECURE_OPTIONAL",
            "SECURE_ALWAYS"
          ],
          "description": "Security (HTTPS) enforcement for this URL."
        },
        "apiEndpoint": {
          "description": "Uses API Endpoints to handle requests.",
          "$ref": "ApiEndpointHandler"
        },
        "login": {
          "type": "string",
          "description": "Level of login required to access this resource. Not supported for Node.js in the App Engine standard environment.",
          "enumDescriptions": [
            "Not specified. LOGIN_OPTIONAL is assumed.",
            "Does not require that the user is signed in.",
            "If the user is not signed in, the auth_fail_action is taken. In addition, if the user is not an administrator for the application, they are given an error message regardless of auth_fail_action. If the user is an administrator, the handler proceeds.",
            "If the user has signed in, the handler proceeds normally. Otherwise, the auth_fail_action is taken."
          ],
          "enum": [
            "LOGIN_UNSPECIFIED",
            "LOGIN_OPTIONAL",
            "LOGIN_ADMIN",
            "LOGIN_REQUIRED"
          ]
        },
        "urlRegex": {
          "description": "URL prefix. Uses regular expression syntax, which means regexp special characters must be escaped, but should not contain groupings. All URLs that begin with this prefix are handled by this handler, using the portion of the URL after the prefix as part of the file path.",
          "type": "string"
        },
        "staticFiles": {
          "description": "Returns the contents of a file, such as an image, as the response.",
          "$ref": "StaticFilesHandler"
        }
      }
    },
    "DebugInstanceRequest": {
      "id": "DebugInstanceRequest",
      "type": "object",
      "properties": {
        "sshKey": {
          "description": "Public SSH key to add to the instance. Examples: [USERNAME]:ssh-rsa [KEY_VALUE] [USERNAME] [USERNAME]:ssh-rsa [KEY_VALUE] google-ssh {\"userName\":\"[USERNAME]\",\"expireOn\":\"[EXPIRE_TIME]\"}For more information, see Adding and Removing SSH Keys (https://cloud.google.com/compute/docs/instances/adding-removing-ssh-keys).",
          "type": "string"
        }
      },
      "description": "Request message for Instances.DebugInstance."
    },
    "ContainerState": {
      "type": "object",
      "id": "ContainerState",
      "description": "ContainerState contains the externally-visible container state that is used to communicate the state and reasoning for that state to the CLH. This data is not persisted by CCFE, but is instead derived from CCFE's internal representation of the container state.",
      "properties": {
        "currentReasons": {
          "$ref": "Reasons"
        },
        "state": {
          "type": "string",
          "description": "The current state of the container. This state is the culmination of all of the opinions from external systems that CCFE knows about of the container.",
          "enumDescriptions": [
            "A container should never be in an unknown state. Receipt of a container with this state is an error.",
            "CCFE considers the container to be serving or transitioning into serving.",
            "CCFE considers the container to be in an OFF state. This could occur due to various factors. The state could be triggered by Google-internal audits (ex. abuse suspension, billing closed) or cleanups trigged by compliance systems (ex. data governance hide). User-initiated events such as service management deactivation trigger a container to an OFF state.CLHs might choose to do nothing in this case or to turn off costly resources. CLHs need to consider the customer experience if an ON/OFF/ON sequence of state transitions occurs vs. the cost of deleting resources, keeping metadata about resources, or even keeping resources live for a period of time.CCFE will not send any new customer requests to the CLH when the container is in an OFF state. However, CCFE will allow all previous customer requests relayed to CLH to complete.",
            "This state indicates that the container has been (or is being) completely removed. This is often due to a data governance purge request and therefore resources should be deleted when this state is reached."
          ],
          "enum": [
            "UNKNOWN_STATE",
            "ON",
            "OFF",
            "DELETED"
          ]
        },
        "previousReasons": {
          "$ref": "Reasons",
          "description": "The previous and current reasons for a container state will be sent for a container event. CLHs that need to know the signal that caused the container event to trigger (edges) as opposed to just knowing the state can act upon differences in the previous and current reasons.Reasons will be provided for every system: service management, data governance, abuse, and billing.If this is a CCFE-triggered event used for reconciliation then the current reasons will be set to their *_CONTROL_PLANE_SYNC state. The previous reasons will contain the last known set of non-unknown non-control_plane_sync reasons for the state."
        }
      }
    },
    "TrafficSplit": {
      "description": "Traffic routing configuration for versions within a single service. Traffic splits define how traffic directed to the service is assigned to versions.",
      "properties": {
        "shardBy": {
          "type": "string",
          "description": "Mechanism used to determine which version a request is sent to. The traffic selection algorithm will be stable for either type until allocations are changed.",
          "enumDescriptions": [
            "Diversion method unspecified.",
            "Diversion based on a specially named cookie, \"GOOGAPPUID.\" The cookie must be set by the application itself or no diversion will occur.",
            "Diversion based on applying the modulus operation to a fingerprint of the IP address.",
            "Diversion based on weighted random assignment. An incoming request is randomly routed to a version in the traffic split, with probability proportional to the version's traffic share."
          ],
          "enum": [
            "UNSPECIFIED",
            "COOKIE",
            "IP",
            "RANDOM"
          ]
        },
        "allocations": {
          "description": "Mapping from version IDs within the service to fractional (0.000, 1] allocations of traffic for that version. Each version can be specified only once, but some versions in the service may not have any traffic allocation. Services that have traffic allocated cannot be deleted until either the service is deleted or their traffic allocation is removed. Allocations must sum to 1. Up to two decimal place precision is supported for IP-based splits and up to three decimal places is supported for cookie-based splits.",
          "additionalProperties": {
            "type": "number",
            "format": "double"
          },
          "type": "object"
        }
      },
      "type": "object",
      "id": "TrafficSplit"
    },
    "Version": {
      "properties": {
        "diskUsageBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Total size in bytes of all the files that are included in this version and currently hosted on the App Engine disk.@OutputOnly",
          "format": "int64"
        },
        "runtimeMainExecutablePath": {
          "description": "The path or name of the app's main executable.",
          "type": "string"
        },
        "instanceClass": {
          "description": "Instance class that is used to run this version. Valid values are: AutomaticScaling: F1, F2, F4, F4_1G ManualScaling or BasicScaling: B1, B2, B4, B8, B4_1GDefaults to F1 for AutomaticScaling and B1 for ManualScaling or BasicScaling.",
          "type": "string"
        },
        "runtimeChannel": {
          "description": "The channel of the runtime to use. Only available for some runtimes. Defaults to the default channel.",
          "type": "string"
        },
        "nobuildFilesRegex": {
          "description": "Files that match this pattern will not be built into this version. Only applicable for Go runtimes.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "threadsafe": {
          "description": "Whether multiple requests can be dispatched to this version at once.",
          "type": "boolean"
        },
        "deployment": {
          "description": "Code and application artifacts that make up this version.Only returned in GET requests if view=FULL is set.",
          "$ref": "Deployment"
        },
        "zones": {
          "description": "The Google Compute Engine zones that are supported by this version in the App Engine flexible environment. Deprecated.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vm": {
          "description": "Whether to deploy this version in a container on a virtual machine.",
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Full path to the Version resource in the API. Example: apps/myapp/services/default/versions/v1.@OutputOnly",
          "readOnly": true,
          "type": "string"
        },
        "appEngineApis": {
          "description": "Allows App Engine second generation runtimes to access the legacy bundled services.",
          "type": "boolean"
        },
        "betaSettings": {
          "type": "object",
          "description": "Metadata settings that are supplied to this version to enable beta runtime features.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "generatedCustomerMetadata": {
          "description": "Additional Google Generated Customer Metadata, this field won't be provided by default and can be requested by setting the IncludeExtraData field in GetVersionRequest",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "defaultExpiration": {
          "format": "google-duration",
          "description": "Duration that static files should be cached by web proxies and browsers. Only applicable if the corresponding StaticFilesHandler (https://cloud.google.com/appengine/docs/admin-api/reference/rest/v1/apps.services.versions#StaticFilesHandler) does not specify its own expiration time.Only returned in GET requests if view=FULL is set.",
          "type": "string"
        },
        "apiConfig": {
          "$ref": "ApiConfigHandler",
          "description": "Serving configuration for Google Cloud Endpoints (https://cloud.google.com/endpoints).Only returned in GET requests if view=FULL is set.",
          "deprecated": true
        },
        "envVariables": {
          "type": "object",
          "description": "Environment variables available to the application.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "id": {
          "description": "Relative name of the version within the service. Example: v1. Version names can contain only lowercase letters, numbers, or hyphens. Reserved names: \"default\", \"latest\", and any name with the prefix \"ah-\".",
          "type": "string"
        },
        "entrypoint": {
          "description": "The entrypoint for the application.",
          "$ref": "Entrypoint"
        },
        "servingStatus": {
          "type": "string",
          "description": "Current serving status of this version. Only the versions with a SERVING status create instances and can be billed.SERVING_STATUS_UNSPECIFIED is an invalid value. Defaults to SERVING.",
          "enumDescriptions": [
            "Not specified.",
            "Currently serving. Instances are created according to the scaling settings of the version.",
            "Disabled. No instances will be created and the scaling settings are ignored until the state of the version changes to SERVING."
          ],
          "enum": [
            "SERVING_STATUS_UNSPECIFIED",
            "SERVING",
            "STOPPED"
          ]
        },
        "serviceAccount": {
          "description": "The identity that the deployed version will run as. Admin API will use the App Engine Appspot service account as default if this field is neither provided in app.yaml file nor through CLI flag.",
          "type": "string"
        },
        "createdBy": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Email address of the user who created this version.@OutputOnly"
        },
        "readinessCheck": {
          "$ref": "ReadinessCheck",
          "description": "Configures readiness health checking for instances. Unhealthy instances are not put into the backend traffic rotation."
        },
        "basicScaling": {
          "$ref": "BasicScaling",
          "description": "A service with basic scaling will create an instance when the application receives a request. The instance will be turned down when the app becomes idle. Basic scaling is ideal for work that is intermittent or driven by user activity."
        },
        "inboundServices": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Not specified.",
              "Allows an application to receive mail.",
              "Allows an application to receive email-bound notifications.",
              "Allows an application to receive error stanzas.",
              "Allows an application to receive instant messages.",
              "Allows an application to receive user subscription POSTs.",
              "Allows an application to receive a user's chat presence.",
              "Registers an application for notifications when a client connects or disconnects from a channel.",
              "Enables warmup requests."
            ],
            "enum": [
              "INBOUND_SERVICE_UNSPECIFIED",
              "INBOUND_SERVICE_MAIL",
              "INBOUND_SERVICE_MAIL_BOUNCE",
              "INBOUND_SERVICE_XMPP_ERROR",
              "INBOUND_SERVICE_XMPP_MESSAGE",
              "INBOUND_SERVICE_XMPP_SUBSCRIBE",
              "INBOUND_SERVICE_XMPP_PRESENCE",
              "INBOUND_SERVICE_CHANNEL_PRESENCE",
              "INBOUND_SERVICE_WARMUP"
            ]
          },
          "description": "Before an application can receive email or XMPP messages, the application must be configured to enable the service."
        },
        "endpointsApiService": {
          "description": "Cloud Endpoints configuration.If endpoints_api_service is set, the Cloud Endpoints Extensible Service Proxy will be provided to serve the API implemented by the app.",
          "$ref": "EndpointsApiService"
        },
        "livenessCheck": {
          "description": "Configures liveness health checking for instances. Unhealthy instances are stopped and replaced with new instances",
          "$ref": "LivenessCheck"
        },
        "versionUrl": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Serving URL for this version. Example: \"https://myversion-dot-myservice-dot-myapp.appspot.com\"@OutputOnly"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Time that this version was created.@OutputOnly",
          "type": "string"
        },
        "handlers": {
          "type": "array",
          "items": {
            "$ref": "UrlMap"
          },
          "description": "An ordered list of URL-matching patterns that should be applied to incoming requests. The first matching URL handles the request and other request handlers are not attempted.Only returned in GET requests if view=FULL is set."
        },
        "network": {
          "description": "Extra network settings. Only applicable in the App Engine flexible environment.",
          "$ref": "Network"
        },
        "runtimeApiVersion": {
          "description": "The version of the API in the given runtime environment. Please see the app.yaml reference for valid values at https://cloud.google.com/appengine/docs/standard//config/appref",
          "type": "string"
        },
        "flexibleRuntimeSettings": {
          "$ref": "FlexibleRuntimeSettings",
          "description": "Settings for App Engine flexible runtimes."
        },
        "env": {
          "description": "App Engine execution environment for this version.Defaults to standard.",
          "type": "string"
        },
        "automaticScaling": {
          "description": "Automatic scaling is based on request rate, response latencies, and other application metrics. Instances are dynamically created and destroyed as needed in order to handle traffic.",
          "$ref": "AutomaticScaling"
        },
        "resources": {
          "description": "Machine resources for this version. Only applicable in the App Engine flexible environment.",
          "$ref": "Resources"
        },
        "libraries": {
          "description": "Configuration for third-party Python runtime libraries that are required by the application.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "Library"
          }
        },
        "vpcAccessConnector": {
          "description": "Enables VPC connectivity for standard apps.",
          "$ref": "VpcAccessConnector"
        },
        "errorHandlers": {
          "description": "Custom static error pages. Limited to 10KB per page.Only returned in GET requests if view=FULL is set.",
          "type": "array",
          "items": {
            "$ref": "ErrorHandler"
          }
        },
        "healthCheck": {
          "$ref": "HealthCheck",
          "description": "Configures health checking for instances. Unhealthy instances are stopped and replaced with new instances. Only applicable in the App Engine flexible environment."
        },
        "buildEnvVariables": {
          "type": "object",
          "description": "Environment variables available to the build environment.Only returned in GET requests if view=FULL is set.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "manualScaling": {
          "description": "A service with manual scaling runs continuously, allowing you to perform complex initialization and rely on the state of its memory over time. Manually scaled versions are sometimes referred to as \"backends\".",
          "$ref": "ManualScaling"
        },
        "runtime": {
          "description": "Desired runtime. Example: python27.",
          "type": "string"
        }
      },
      "description": "A Version resource is a specific set of source code and configuration files that are deployed into a service.",
      "id": "Version",
      "type": "object"
    },
    "EndpointsApiService": {
      "properties": {
        "disableTraceSampling": {
          "description": "Enable or disable trace sampling. By default, this is set to false for enabled.",
          "type": "boolean"
        },
        "rolloutStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Not specified. Defaults to FIXED.",
            "Endpoints service configuration ID will be fixed to the configuration ID specified by config_id.",
            "Endpoints service configuration ID will be updated with each rollout."
          ],
          "enum": [
            "UNSPECIFIED_ROLLOUT_STRATEGY",
            "FIXED",
            "MANAGED"
          ],
          "description": "Endpoints rollout strategy. If FIXED, config_id must be specified. If MANAGED, config_id must be omitted."
        },
        "name": {
          "description": "Endpoints service name which is the name of the \"service\" resource in the Service Management API. For example \"myapi.endpoints.myproject.cloud.goog\"",
          "type": "string"
        },
        "configId": {
          "description": "Endpoints service configuration ID as specified by the Service Management API. For example \"2016-09-19r1\".By default, the rollout strategy for Endpoints is RolloutStrategy.FIXED. This means that Endpoints starts up with a particular configuration ID. When a new configuration is rolled out, Endpoints must be given the new configuration ID. The config_id field is used to give the configuration ID and is required in this case.Endpoints also has a rollout strategy called RolloutStrategy.MANAGED. When using this, Endpoints fetches the latest configuration and does not need the configuration ID. In this case, config_id must be omitted.",
          "type": "string"
        }
      },
      "description": "Google Cloud Endpoints (https://cloud.google.com/endpoints) configuration. The Endpoints API Service provides tooling for serving Open API and gRPC endpoints via an NGINX proxy. Only valid for App Engine Flexible environment deployments.The fields here refer to the name and configuration ID of a \"service\" resource in the Service Management API (https://cloud.google.com/service-management/overview).",
      "id": "EndpointsApiService",
      "type": "object"
    },
    "ListInstancesResponse": {
      "properties": {
        "instances": {
          "type": "array",
          "items": {
            "$ref": "Instance"
          },
          "description": "The instances belonging to the requested version."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Instances.ListInstances.",
      "id": "ListInstancesResponse",
      "type": "object"
    },
    "SslSettings": {
      "type": "object",
      "id": "SslSettings",
      "description": "SSL configuration for a DomainMapping resource.",
      "properties": {
        "pendingManagedCertificateId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. ID of the managed AuthorizedCertificate resource currently being provisioned, if applicable. Until the new managed certificate has been successfully provisioned, the previous SSL state will be preserved. Once the provisioning process completes, the certificate_id field will reflect the new managed certificate and this field will be left empty. To remove SSL support while there is still a pending managed certificate, clear the certificate_id field with an UpdateDomainMappingRequest.@OutputOnly"
        },
        "certificateId": {
          "description": "ID of the AuthorizedCertificate resource configuring SSL for the application. Clearing this field will remove SSL support.By default, a managed certificate is automatically created for every domain mapping. To omit SSL support or to configure SSL manually, specify SslManagementType.MANUAL on a CREATE or UPDATE request. You must be authorized to administer the AuthorizedCertificate resource to manually map it to a DomainMapping resource. Example: 12345.",
          "type": "string"
        },
        "sslManagementType": {
          "enumDescriptions": [
            "Defaults to AUTOMATIC.",
            "SSL support for this domain is configured automatically. The mapped SSL certificate will be automatically renewed.",
            "SSL support for this domain is configured manually by the user. Either the domain has no SSL support or a user-obtained SSL certificate has been explicitly mapped to this domain."
          ],
          "enum": [
            "SSL_MANAGEMENT_TYPE_UNSPECIFIED",
            "AUTOMATIC",
            "MANUAL"
          ],
          "description": "SSL management type for this domain. If AUTOMATIC, a managed certificate is automatically provisioned. If MANUAL, certificate_id must be manually specified in order to configure SSL for this domain.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets ListOperationsRequest.return_partial_success and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ListRuntimesResponse": {
      "properties": {
        "runtimes": {
          "type": "array",
          "items": {
            "$ref": "Runtime"
          },
          "description": "The runtimes available to the requested application."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for Applications.ListRuntimes.",
      "id": "ListRuntimesResponse",
      "type": "object"
    },
    "OperationMetadataV1Alpha": {
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time that this operation completed.@OutputOnly"
        },
        "ephemeralMessage": {
          "description": "Ephemeral message that may change every time the operation is polled. @OutputOnly",
          "type": "string"
        },
        "createVersionMetadata": {
          "$ref": "CreateVersionMetadataV1Alpha"
        },
        "insertTime": {
          "type": "string",
          "description": "Time that this operation was created.@OutputOnly",
          "format": "google-datetime"
        },
        "user": {
          "description": "User who requested this operation.@OutputOnly",
          "type": "string"
        },
        "target": {
          "description": "Name of the resource that this operation is acting on. Example: apps/myapp/services/default.@OutputOnly",
          "type": "string"
        },
        "method": {
          "description": "API method that initiated this operation. Example: google.appengine.v1alpha.Versions.CreateVersion.@OutputOnly",
          "type": "string"
        },
        "warning": {
          "description": "Durable messages that persist on every operation poll. @OutputOnly",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Metadata for the given google.longrunning.Operation.",
      "id": "OperationMetadataV1Alpha",
      "type": "object"
    },
    "CreateVersionMetadataV1Alpha": {
      "properties": {
        "cloudBuildId": {
          "description": "The Cloud Build ID if one was created as part of the version create. @OutputOnly",
          "type": "string"
        }
      },
      "description": "Metadata for the given google.longrunning.Operation during a google.appengine.v1alpha.CreateVersionRequest.",
      "id": "CreateVersionMetadataV1Alpha",
      "type": "object"
    },
    "ResourceEvent": {
      "description": "The request that is passed to CLH during per-resource events. The request will be sent with update semantics in all cases except for data governance purge events. These events will be sent with delete semantics and the CLH is expected to delete the resource receiving this event.",
      "properties": {
        "state": {
          "description": "The state of the project that led to this event.",
          "$ref": "ContainerState"
        },
        "name": {
          "description": "The name of the resource for which this event is. required",
          "type": "string"
        },
        "eventId": {
          "description": "The unique ID for this per-resource event. CLHs can use this value to dedup repeated calls. required",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ResourceEvent"
    },
    "ManagedCertificate": {
      "type": "object",
      "id": "ManagedCertificate",
      "description": "A certificate managed by App Engine.",
      "properties": {
        "lastRenewalTime": {
          "type": "string",
          "description": "Time at which the certificate was last renewed. The renewal process is fully managed. Certificate renewal will automatically occur before the certificate expires. Renewal errors can be tracked via ManagementStatus.@OutputOnly",
          "format": "google-datetime"
        },
        "status": {
          "type": "string",
          "description": "Status of certificate management. Refers to the most recent certificate acquisition or renewal attempt.@OutputOnly",
          "enumDescriptions": [
            "",
            "Certificate was successfully obtained and inserted into the serving system.",
            "Certificate is under active attempts to acquire or renew.",
            "Most recent renewal failed due to an invalid DNS setup and will be retried. Renewal attempts will continue to fail until the certificate domain's DNS configuration is fixed. The last successfully provisioned certificate may still be serving.",
            "All renewal attempts have been exhausted, likely due to an invalid DNS setup.",
            "Most recent renewal failed due to an explicit CAA record that does not include one of the in-use CAs (Google CA and Let's Encrypt). Renewals will continue to fail until the CAA is reconfigured. The last successfully provisioned certificate may still be serving.",
            "Most recent renewal failed due to a CAA retrieval failure. This means that the domain's DNS provider does not properly handle CAA records, failing requests for CAA records when no CAA records are defined. Renewals will continue to fail until the DNS provider is changed or a CAA record is added for the given domain. The last successfully provisioned certificate may still be serving."
          ],
          "enum": [
            "MANAGEMENT_STATUS_UNSPECIFIED",
            "OK",
            "PENDING",
            "FAILED_RETRYING_NOT_VISIBLE",
            "FAILED_PERMANENT",
            "FAILED_RETRYING_CAA_FORBIDDEN",
            "FAILED_RETRYING_CAA_CHECKING"
          ]
        }
      }
    },
    "CertificateRawData": {
      "type": "object",
      "id": "CertificateRawData",
      "description": "An SSL certificate obtained from a certificate authority.",
      "properties": {
        "publicCertificate": {
          "description": "PEM encoded x.509 public key certificate. This field is set once on certificate creation. Must include the header and footer. Example: -----BEGIN CERTIFICATE----- -----END CERTIFICATE----- ",
          "type": "string"
        },
        "privateKey": {
          "description": "Unencrypted PEM encoded RSA private key. This field is set once on certificate creation and then encrypted. The key size must be 2048 bits or fewer. Must include the header and footer. Example: -----BEGIN RSA PRIVATE KEY----- -----END RSA PRIVATE KEY----- @InputOnly",
          "type": "string"
        }
      }
    },
    "ContainerInfo": {
      "properties": {
        "image": {
          "description": "URI to the hosted container image in Google Container Registry. The URI must be fully qualified and include a tag or digest. Examples: \"gcr.io/my-project/image:tag\" or \"gcr.io/my-project/image@digest\"",
          "type": "string"
        }
      },
      "description": "Docker image that is used to create a container and start a VM instance for the version that you deploy. Only applicable for instances running in the App Engine flexible environment.",
      "id": "ContainerInfo",
      "type": "object"
    },
    "CpuUtilization": {
      "type": "object",
      "id": "CpuUtilization",
      "description": "Target scaling by CPU usage.",
      "properties": {
        "aggregationWindowLength": {
          "description": "Period of time over which CPU utilization is calculated.",
          "format": "google-duration",
          "type": "string"
        },
        "targetUtilization": {
          "type": "number",
          "format": "double",
          "description": "Target CPU utilization ratio to maintain when scaling. Must be between 0 and 1."
        }
      }
    },
    "FileInfo": {
      "id": "FileInfo",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "The MIME type of the file.Defaults to the value from Google Cloud Storage.",
          "type": "string"
        },
        "sha1Sum": {
          "description": "The SHA1 hash of the file, in hex.",
          "type": "string"
        },
        "sourceUrl": {
          "description": "URL source to use to fetch this file. Must be a URL to a resource in Google Cloud Storage in the form 'http(s)://storage.googleapis.com//'.",
          "type": "string"
        }
      },
      "description": "Single source file that is part of the version to be deployed. Each source file that is deployed must be specified separately."
    },
    "ErrorHandler": {
      "properties": {
        "staticFile": {
          "description": "Static file content to be served for this error.",
          "type": "string"
        },
        "errorCode": {
          "description": "Error condition this handler applies to.",
          "enumDescriptions": [
            "Not specified. ERROR_CODE_DEFAULT is assumed.",
            "All other error types.",
            "Application has exceeded a resource quota.",
            "Client blocked by the application's Denial of Service protection configuration.",
            "Deadline reached before the application responds."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "ERROR_CODE_DEFAULT",
            "ERROR_CODE_OVER_QUOTA",
            "ERROR_CODE_DOS_API_DENIAL",
            "ERROR_CODE_TIMEOUT"
          ],
          "type": "string"
        },
        "mimeType": {
          "description": "MIME type of file. Defaults to text/html.",
          "type": "string"
        }
      },
      "description": "Custom static error page to be served when an error occurs.",
      "id": "ErrorHandler",
      "type": "object"
    },
    "GoogleAppengineV1betaLocationMetadata": {
      "id": "GoogleAppengineV1betaLocationMetadata",
      "type": "object",
      "properties": {
        "standardEnvironmentAvailable": {
          "description": "App Engine standard environment is available in the given location.@OutputOnly",
          "type": "boolean"
        },
        "searchApiAvailable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Search API (https://cloud.google.com/appengine/docs/standard/python/search) is available in the given location."
        },
        "flexibleEnvironmentAvailable": {
          "description": "App Engine flexible environment is available in the given location.@OutputOnly",
          "type": "boolean"
        }
      },
      "description": "Metadata for the given google.cloud.location.Location."
    },
    "VpcAccessConnector": {
      "type": "object",
      "id": "VpcAccessConnector",
      "description": "VPC access connector specification.",
      "properties": {
        "name": {
          "description": "Full Serverless VPC Access Connector name e.g. projects/my-project/locations/us-central1/connectors/c1.",
          "type": "string"
        },
        "egressSetting": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Force the use of VPC Access for all egress traffic from the function.",
            "Use the VPC Access Connector for private IP space from RFC1918."
          ],
          "enum": [
            "EGRESS_SETTING_UNSPECIFIED",
            "ALL_TRAFFIC",
            "PRIVATE_IP_RANGES"
          ],
          "description": "The egress setting for the connector, controlling what traffic is diverted through it."
        }
      }
    },
    "ApiEndpointHandler": {
      "description": "Uses Google Cloud Endpoints to handle requests.",
      "properties": {
        "scriptPath": {
          "description": "Path to the script from the application root directory.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ApiEndpointHandler"
    },
    "DiskUtilization": {
      "properties": {
        "targetWriteBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes written per second.",
          "type": "integer"
        },
        "targetWriteOpsPerSecond": {
          "type": "integer",
          "format": "int32",
          "description": "Target ops written per second."
        },
        "targetReadBytesPerSecond": {
          "format": "int32",
          "description": "Target bytes read per second.",
          "type": "integer"
        },
        "targetReadOpsPerSecond": {
          "type": "integer",
          "description": "Target ops read per seconds.",
          "format": "int32"
        }
      },
      "description": "Target scaling by disk usage. Only applicable in the App Engine flexible environment.",
      "id": "DiskUtilization",
      "type": "object"
    },
    "NetworkUtilization": {
      "type": "object",
      "id": "NetworkUtilization",
      "description": "Target scaling by network usage. Only applicable in the App Engine flexible environment.",
      "properties": {
        "targetReceivedBytesPerSecond": {
[...]
