{
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "canonicalName": "Artifact Registry",
  "title": "Artifact Registry API",
  "id": "artifactregistry:v1",
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "fullyEncodeReservedExpansion": true,
  "name": "artifactregistry",
  "version_module": true,
  "servicePath": "",
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "basePath": "",
  "revision": "20260505",
  "schemas": {
    "Expr": {
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "type": "object"
    },
    "DockerImage": {
      "id": "DockerImage",
      "type": "object",
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime",
      "properties": {
        "name": {
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf",
          "type": "string"
        },
        "imageManifests": {
          "type": "array",
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "items": {
            "$ref": "ImageManifest"
          }
        },
        "buildTime": {
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "format": "google-datetime",
          "type": "string"
        },
        "uploadTime": {
          "type": "string",
          "description": "Time the image was uploaded.",
          "format": "google-datetime"
        },
        "artifactType": {
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags attached to this image.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the docker image was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "imageSizeBytes": {
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "format": "int64",
          "type": "string"
        },
        "mediaType": {
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource.",
          "type": "string"
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "UploadGenericArtifactRequest": {
      "properties": {
        "versionId": {
          "type": "string",
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed."
        },
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        },
        "filename": {
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@].",
          "type": "string"
        }
      },
      "id": "UploadGenericArtifactRequest",
      "type": "object",
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListDockerImagesResponse": {
      "properties": {
        "dockerImages": {
          "type": "array",
          "description": "The docker images returned.",
          "items": {
            "$ref": "DockerImage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      },
      "description": "The response from listing docker images.",
      "id": "ListDockerImagesResponse",
      "type": "object"
    },
    "UpstreamPolicy": {
      "properties": {
        "priority": {
          "type": "integer",
          "description": "Entries with a greater priority value take precedence in the pull order.",
          "format": "int32"
        },
        "repository": {
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`.",
          "type": "string"
        },
        "id": {
          "description": "The user-provided ID of the upstream policy.",
          "type": "string"
        }
      },
      "id": "UpstreamPolicy",
      "type": "object",
      "description": "Artifact policy configuration for the repository contents."
    },
    "ImportAptArtifactsErrorInfo": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "id": "ImportAptArtifactsErrorInfo",
      "type": "object",
      "description": "Error information explaining why a package was not imported."
    },
    "UploadGoModuleMediaResponse": {
      "description": "The response to upload a Go module.",
      "id": "UploadGoModuleMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "NpmRepository": {
      "properties": {
        "publicRepository": {
          "enumDescriptions": [
            "Unspecified repository.",
            "npmjs."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "NPMJS"
          ],
          "description": "One of the publicly available Npm repositories supported by Artifact Registry.",
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository"
        }
      },
      "id": "NpmRepository",
      "type": "object",
      "description": "Configuration for a Npm remote repository."
    },
    "UploadAptArtifactRequest": {
      "properties": {},
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest",
      "type": "object"
    },
    "ImportAptArtifactsResponse": {
      "id": "ImportAptArtifactsResponse",
      "type": "object",
      "description": "The response message from importing APT artifacts.",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          }
        },
        "errors": {
          "type": "array",
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          }
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "id": "GoogleDevtoolsArtifactregistryV1File",
      "type": "object",
      "properties": {
        "hashes": {
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        },
        "sizeBytes": {
          "type": "string",
          "description": "The size of the File in bytes.",
          "format": "int64"
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "fetchTime": {
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the File was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the File was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "owner": {
          "description": "The name of the Package or Version that owns this file, if any.",
          "type": "string"
        }
      }
    },
    "UploadAptArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadAptArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "MavenArtifact": {
      "description": "MavenArtifact represents a maven artifact.",
      "id": "MavenArtifact",
      "type": "object",
      "properties": {
        "groupId": {
          "description": "Group ID for the artifact. Example: com.google.guava",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the artifact was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact.",
          "type": "string"
        },
        "artifactId": {
          "description": "Artifact ID for the artifact.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the artifact was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "Version of this artifact.",
          "type": "string"
        },
        "pomUri": {
          "type": "string",
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom"
        }
      }
    },
    "ExportedFile": {
      "description": "The exported artifact file.",
      "id": "ExportedFile",
      "type": "object",
      "properties": {
        "name": {
          "description": "Name of the exported artifact file. Format: `projects/p1/locations/us/repositories/repo1/files/file1`",
          "type": "string"
        },
        "gcsObjectPath": {
          "description": "Cloud Storage Object path of the exported file. Examples: `dst_bucket/file1`, `dst_bucket/sub_dir/file1`",
          "type": "string"
        },
        "hashes": {
          "type": "array",
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          }
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "type": "object",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\".",
          "type": "string"
        }
      }
    },
    "ImportYumArtifactsMetadata": {
      "id": "ImportYumArtifactsMetadata",
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "properties": {}
    },
    "Binding": {
      "properties": {
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object"
    },
    "ProjectConfig": {
      "properties": {
        "name": {
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig",
          "type": "string"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "description": "The Artifact Registry logging configurations that apply to a Project.",
      "id": "ProjectConfig",
      "type": "object"
    },
    "ImportGoogetArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportGoogetArtifactsErrorInfo",
      "type": "object",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      }
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "type": "object",
      "description": "The request to import new yum artifacts.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ExportArtifactMetadata": {
      "description": "The LRO metadata for exporting an artifact.",
      "id": "ExportArtifactMetadata",
      "type": "object",
      "properties": {
        "exportedFiles": {
          "description": "The exported artifact files.",
          "items": {
            "$ref": "ExportedFile"
          },
          "type": "array"
        }
      }
    },
    "ImportAptArtifactsRequest": {
      "id": "ImportAptArtifactsRequest",
      "type": "object",
      "description": "The request to import new apt artifacts.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      }
    },
    "ImportGoogetArtifactsRequest": {
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "id": "ImportGoogetArtifactsRequest",
      "type": "object",
      "description": "The request to import new googet artifacts."
    },
    "ListPythonPackagesResponse": {
      "id": "ListPythonPackagesResponse",
      "type": "object",
      "description": "The response from listing python packages.",
      "properties": {
        "pythonPackages": {
          "type": "array",
          "description": "The python packages returned.",
          "items": {
            "$ref": "PythonPackage"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      }
    },
    "VirtualRepositoryConfig": {
      "description": "Virtual repository configuration.",
      "id": "VirtualRepositoryConfig",
      "type": "object",
      "properties": {
        "upstreamPolicies": {
          "type": "array",
          "description": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository.",
          "items": {
            "$ref": "UpstreamPolicy"
          }
        }
      }
    },
    "ImportYumArtifactsErrorInfo": {
      "id": "ImportYumArtifactsErrorInfo",
      "type": "object",
      "description": "Error information explaining why a package was not imported.",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      }
    },
    "PythonPackage": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Time the package was updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and python_package forms a unique package name:`projects//locations//repository//pythonPackages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/pythonPackages/ python_package:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and python_package:1.0.0\" is the python package.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package for the artifact."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time the package was created.",
          "format": "google-datetime"
        },
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Required. URL to access the package. Example: us-west4-python.pkg.dev/test-project/test-repo/python_package/file-name-1.0.0.tar.gz"
        }
      },
      "id": "PythonPackage",
      "type": "object",
      "description": "PythonPackage represents a python artifact."
    },
    "ExportArtifactRequest": {
      "properties": {
        "sourceVersion": {
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}",
          "type": "string"
        },
        "sourceTag": {
          "type": "string",
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "gcsPath": {
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten.",
          "type": "string"
        }
      },
      "description": "The request for exporting an artifact to a destination.",
      "id": "ExportArtifactRequest",
      "type": "object"
    },
    "UploadGoogetArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "id": "UploadGoogetArtifactMediaResponse",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
      "type": "object",
      "properties": {
        "repositoryBase": {
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "type": "string",
          "description": "A common public repository base for Yum."
        },
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        }
      }
    },
    "MavenRepository": {
      "description": "Configuration for a Maven remote repository.",
      "id": "MavenRepository",
      "type": "object",
      "properties": {
        "publicRepository": {
          "enumDescriptions": [
            "Unspecified repository.",
            "Maven Central."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "MAVEN_CENTRAL"
          ],
          "description": "One of the publicly available Maven repositories supported by Artifact Registry.",
          "type": "string"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "id": "GoogleDevtoolsArtifactregistryV1Rule",
      "type": "object",
      "properties": {
        "condition": {
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects.",
          "$ref": "Expr"
        },
        "action": {
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "type": "string",
          "description": "The action this rule takes."
        },
        "name": {
          "type": "string",
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`."
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ]
        },
        "packageId": {
          "type": "string",
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository."
        }
      }
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "type": "object",
      "description": "The request to upload an artifact.",
      "properties": {}
    },
    "ImportGoogetArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportGoogetArtifactsGcsSource",
      "type": "object",
      "properties": {
        "uris": {
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      }
    },
    "ListAttachmentsResponse": {
      "properties": {
        "attachments": {
          "type": "array",
          "description": "The attachments returned.",
          "items": {
            "$ref": "Attachment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return."
        }
      },
      "id": "ListAttachmentsResponse",
      "type": "object",
      "description": "The response from listing attachments."
    },
    "UploadGenericArtifactMetadata": {
      "properties": {},
      "id": "UploadGenericArtifactMetadata",
      "type": "object",
      "description": "The operation metadata for uploading generic artifacts."
    },
    "CleanupPolicyCondition": {
      "id": "CleanupPolicyCondition",
      "type": "object",
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied.",
      "properties": {
        "newerThan": {
          "type": "string",
          "description": "Match versions newer than a duration.",
          "format": "google-duration"
        },
        "tagPrefixes": {
          "type": "array",
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        },
        "packageNamePrefixes": {
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tagState": {
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ],
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "type": "string",
          "description": "Match versions by tag status."
        },
        "olderThan": {
          "description": "Match versions older than a duration.",
          "format": "google-duration",
          "type": "string"
        },
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "UploadKfpArtifactMediaResponse": {
      "id": "UploadKfpArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact.",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "CleanupPolicyMostRecentVersions": {
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions.",
      "id": "CleanupPolicyMostRecentVersions",
      "type": "object",
      "properties": {
        "packageNamePrefixes": {
          "type": "array",
          "description": "List of package name prefixes that will apply this rule.",
          "items": {
            "type": "string"
          }
        },
        "keepCount": {
          "type": "integer",
          "description": "Minimum number of versions to keep.",
          "format": "int32"
        }
      }
    },
    "ImportGoogetArtifactsMetadata": {
      "id": "ImportGoogetArtifactsMetadata",
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "properties": {}
    },
    "MavenRepositoryConfig": {
      "id": "MavenRepositoryConfig",
      "type": "object",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type.",
      "properties": {
        "versionPolicy": {
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "type": "string",
          "description": "Version policy defines the versions that the registry will accept."
        },
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        }
      }
    },
    "PlatformLogsConfig": {
      "description": "The platform logs config for a project or a repository.",
      "id": "PlatformLogsConfig",
      "type": "object",
      "properties": {
        "loggingState": {
          "type": "string",
          "description": "Optional. The state of the platform logs: enabled or disabled.",
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "severityLevel": {
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "type": "string",
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here."
        }
      }
    },
    "ImportAptArtifactsGcsSource": {
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportAptArtifactsGcsSource",
      "type": "object"
    },
    "UploadGoogetArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadGoogetArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "type": "object",
      "description": "Customer-specified publicly available remote repository.",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\".",
          "type": "string"
        }
      }
    },
    "Repository": {
      "description": "A Repository for storing artifacts with a specific format.",
      "id": "Repository",
      "type": "object",
      "properties": {
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "mode": {
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ],
          "description": "Optional. The mode of the repository.",
          "type": "string"
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "format": {
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ],
          "description": "Optional. The format of packages that are stored in the repository.",
          "type": "string"
        },
        "cleanupPolicyDryRun": {
          "type": "boolean",
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository."
        },
        "name": {
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
          "type": "string"
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "labels": {
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The time when the repository was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "kmsKeyName": {
          "type": "string",
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created."
        },
        "cleanupPolicies": {
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length.",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "type": "object"
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        },
        "description": {
          "type": "string",
          "description": "The user-provided description of the repository."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the repository was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "dockerConfig": {
          "description": "Docker repository config contains repository level configuration for the repositories of docker type.",
          "$ref": "DockerRepositoryConfig"
        },
        "registryUri": {
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "type": "string",
          "readOnly": true
        },
        "sizeBytes": {
          "type": "string",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "Attachment": {
      "description": "An Attachment refers to additional metadata that can be attached to artifacts in Artifact Registry. An attachment consists of one or more files.",
      "id": "Attachment",
      "type": "object",
      "properties": {
        "annotations": {
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Artifact Registry. See https://google.aip.dev/128#annotations for more details such as format and size limitations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "target": {
          "description": "Required. The target the attachment is for, can be a Version, Package or Repository. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
          "type": "string"
        },
        "attachmentNamespace": {
          "type": "string",
          "description": "The namespace this attachment belongs to. E.g. If an attachment is created by artifact analysis, namespace is set to `artifactanalysis.googleapis.com`."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the attachment was last updated.",
          "format": "google-datetime"
        },
        "files": {
          "description": "Required. The files that belong to this attachment. If the file ID part contains slashes, they are escaped. E.g. `projects/p1/locations/us-central1/repositories/repo1/files/sha:`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "description": "Type of attachment. E.g. `application/vnd.spdx+json`",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the attachment. E.g. `projects/p1/locations/us/repositories/repo/attachments/sbom`."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the attachment was created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "ociVersionName": {
          "type": "string",
          "description": "Output only. The name of the OCI version that this attachment created. Only populated for Docker attachments. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
          "readOnly": true
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "type": "object",
      "description": "Customer-specified publicly available remote repository."
    },
    "GenericArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\""
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the Generic module is created.",
          "format": "google-datetime",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The version of the generic artifact."
        },
        "updateTime": {
          "description": "Output only. The time when the Generic module is updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "GenericArtifact",
      "type": "object",
      "description": "GenericArtifact represents a generic artifact"
    },
    "UploadYumArtifactResponse": {
      "id": "UploadYumArtifactResponse",
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "items": {
            "$ref": "YumArtifact"
          },
          "type": "array"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\"."
        }
      }
    },
    "UploadGoogetArtifactResponse": {
      "properties": {
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        }
      },
      "id": "UploadGoogetArtifactResponse",
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "UsernamePasswordCredentials": {
      "id": "UsernamePasswordCredentials",
      "type": "object",
      "description": "Username and password credentials.",
      "properties": {
        "username": {
          "description": "The username to access the remote repository.",
          "type": "string"
        },
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        }
      }
    },
    "DockerRepository": {
      "id": "DockerRepository",
      "type": "object",
      "description": "Configuration for a Docker remote repository.",
      "properties": {
        "publicRepository": {
          "type": "string",
          "description": "One of the publicly available Docker repositories supported by Artifact Registry.",
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ]
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
        }
      }
    },
    "Version": {
      "properties": {
        "fingerprints": {
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array",
          "readOnly": true
        },
        "updateTime": {
          "description": "The time when the version was last updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        },
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the version was created.",
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the version, as specified in its metadata."
        },
        "metadata": {
          "readOnly": true,
          "type": "object",
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          }
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "id": "Version",
      "type": "object"
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "type": "object",
      "description": "The response from listing rules.",
      "properties": {
        "rules": {
          "description": "The rules returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of rules, or empty if there are no more rules to return."
        }
      }
    },
    "ListPackagesResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        },
        "packages": {
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        }
      },
      "id": "ListPackagesResponse",
      "type": "object",
      "description": "The response from listing packages."
    },
    "ListVersionsResponse": {
      "description": "The response from listing versions.",
      "id": "ListVersionsResponse",
      "type": "object",
      "properties": {
        "versions": {
          "description": "The versions returned.",
          "items": {
            "$ref": "Version"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return."
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "type": "object",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\".",
          "type": "string"
        }
      }
    },
    "GoModule": {
      "description": "GoModule represents a Go module.",
      "id": "GoModule",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the Go module is created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The resource name of a Go module."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time when the Go module is updated.",
          "format": "google-datetime"
        },
        "version": {
          "type": "string",
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version."
        }
      }
    },
    "Package": {
      "id": "Package",
      "type": "object",
      "description": "Packages are named collections of versions.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "The time when the package was created.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped."
        },
        "annotations": {
          "type": "object",
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "ImportYumArtifactsResponse": {
      "description": "The response message from importing YUM artifacts.",
      "id": "ImportYumArtifactsResponse",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          },
          "type": "array"
        },
        "yumArtifacts": {
          "type": "array",
          "description": "The yum artifacts imported.",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      }
    },
    "BatchDeleteVersionsRequest": {
      "id": "BatchDeleteVersionsRequest",
      "type": "object",
      "description": "The request to delete multiple versions across a repository.",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "description": "If true, the request is performed without deleting data, following AIP-163.",
          "type": "boolean"
        }
      }
    },
    "KfpArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true
        },
        "version": {
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard.",
          "type": "string"
        }
      },
      "description": "A detailed representation of a KFP artifact.",
      "id": "KfpArtifact",
      "type": "object"
    },
    "NpmPackage": {
      "properties": {
        "version": {
          "description": "Version of this package.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Package for the artifact."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time the package was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags attached to this package.",
          "items": {
            "type": "string"
          }
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time the package was updated.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "NpmPackage",
      "type": "object",
      "description": "NpmPackage represents an npm artifact."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository",
      "type": "object",
      "description": "Publicly available Apt repositories constructed from a common repository base and a custom repository path.",
      "properties": {
        "repositoryBase": {
          "enumDescriptions": [
            "Unspecified repository base.",
            "Debian.",
            "Ubuntu LTS/Pro.",
            "Archived Debian."
          ],
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "DEBIAN",
            "UBUNTU",
            "DEBIAN_SNAPSHOT"
          ],
          "type": "string",
          "description": "A common public repository base for Apt."
        },
        "repositoryPath": {
          "type": "string",
          "description": "A custom field to define a path to a specific repository from the base."
        }
      }
    },
    "UploadFileRequest": {
      "id": "UploadFileRequest",
      "type": "object",
      "description": "The request to upload a file.",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded."
        }
      }
    },
    "UploadGenericArtifactMediaResponse": {
      "description": "The response to upload a generic artifact.",
      "id": "UploadGenericArtifactMediaResponse",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "UploadGoogetArtifactRequest": {
      "properties": {},
      "id": "UploadGoogetArtifactRequest",
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "RemoteRepositoryConfig": {
      "properties": {
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        },
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "description": {
          "type": "string",
          "description": "The description of the remote source."
        },
        "mavenRepository": {
          "description": "Specific settings for a Maven remote repository.",
          "$ref": "MavenRepository"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "aptRepository": {
          "description": "Specific settings for an Apt remote repository.",
          "$ref": "AptRepository"
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        }
      },
      "id": "RemoteRepositoryConfig",
      "type": "object",
      "description": "Remote repository configuration."
    },
    "UpstreamCredentials": {
      "properties": {
        "usernamePasswordCredentials": {
          "description": "Use username and password to access the remote repository.",
          "$ref": "UsernamePasswordCredentials"
        }
      },
      "description": "The credentials to access the remote repository.",
      "id": "UpstreamCredentials",
      "type": "object"
    },
    "UploadGoModuleMetadata": {
      "properties": {},
      "id": "UploadGoModuleMetadata",
      "type": "object",
      "description": "The operation metadata for uploading go modules."
    },
    "ProjectSettings": {
      "description": "The Artifact Registry settings that apply to a Project.",
      "id": "ProjectSettings",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
        },
        "pullPercent": {
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32",
          "type": "integer"
        },
        "legacyRedirectionState": {
          "type": "string",
          "description": "The redirection state of the legacy repositories in this project.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ]
        }
      }
    },
    "UploadYumArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadYumArtifactMetadata",
      "type": "object",
      "properties": {}
    },
    "ListRepositoriesResponse": {
      "properties": {
        "repositories": {
          "type": "array",
          "description": "The repositories returned.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      },
      "description": "The response from listing repositories.",
      "id": "ListRepositoriesResponse",
      "type": "object"
    },
    "YumRepository": {
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Yum repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Yum remote repository.",
      "id": "YumRepository",
      "type": "object"
    },
    "Hash": {
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ],
          "description": "The algorithm used to compute the hash value.",
          "type": "string"
        },
        "value": {
          "description": "The hash value.",
          "format": "byte",
          "type": "string"
        }
      },
      "id": "Hash",
      "type": "object",
      "description": "A hash of file content."
    },
    "ListNpmPackagesResponse": {
      "id": "ListNpmPackagesResponse",
      "type": "object",
      "description": "The response from listing npm packages.",
      "properties": {
        "npmPackages": {
          "description": "The npm packages returned.",
          "items": {
            "$ref": "NpmPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      }
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UploadYumArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "id": "UploadYumArtifactMediaResponse",
      "type": "object"
    },
    "ListFilesResponse": {
      "description": "The response from listing files.",
      "id": "ListFilesResponse",
      "type": "object",
      "properties": {
        "files": {
          "description": "The files returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1File"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return."
        }
      }
    },
    "GoogetArtifact": {
      "id": "GoogetArtifact",
      "type": "object",
      "description": "A detailed representation of a GooGet artifact.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact."
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The GooGet package name of the artifact."
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        }
      }
    },
    "DownloadFileResponse": {
      "properties": {},
      "id": "DownloadFileResponse",
      "type": "object",
      "description": "The response to download a file."
    },
    "UploadFileMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a generic artifact.",
      "id": "UploadFileMediaResponse",
      "type": "object"
    },
    "VulnerabilityScanningConfig": {
      "properties": {
        "enablementState": {
          "readOnly": true,
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "type": "string",
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ]
        },
        "enablementConfig": {
          "enumDescriptions": [
            "Not set. This will be treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
            "Scanning is Enabled, but dependent on API enablement.",
            "No automatic vulnerability scanning will be performed for this repository."
          ],
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ],
          "type": "string",
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled."
        },
        "lastEnableTime": {
          "type": "string",
          "description": "Output only. The last time this repository config was enabled.",
          "format": "google-datetime",
          "readOnly": true
        },
        "enablementStateReason": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Reason for the repository state."
        }
      },
      "id": "VulnerabilityScanningConfig",
      "type": "object",
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state."
    },
    "VPCSCConfig": {
      "description": "The Artifact Registry VPC SC config that apply to a Project.",
      "id": "VPCSCConfig",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set"
        },
        "vpcscPolicy": {
          "type": "string",
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny).",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ],
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ]
        }
      }
    },
    "ImportYumArtifactsGcsSource": {
      "properties": {
        "uris": {
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "id": "ImportYumArtifactsGcsSource",
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "AptArtifact": {
      "properties": {
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact."
        },
        "component": {
          "description": "Output only. Repository component of the artifact.",
          "type": "string",
          "readOnly": true
        },
        "packageName": {
          "readOnly": true,
          "description": "Output only. The Apt package name of the artifact.",
          "type": "string"
        },
        "packageType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "type": "string"
        },
        "controlFile": {
          "type": "string",
          "description": "Output only. Contents of the artifact's control metadata file.",
          "format": "byte",
          "readOnly": true
        }
      },
      "id": "AptArtifact",
      "type": "object",
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "ListMavenArtifactsResponse": {
      "description": "The response from listing maven artifacts.",
      "id": "ListMavenArtifactsResponse",
      "type": "object",
      "properties": {
        "mavenArtifacts": {
          "type": "array",
          "description": "The maven artifacts returned.",
          "items": {
            "$ref": "MavenArtifact"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "id": "UploadAptArtifactMediaResponse",
      "type": "object",
      "description": "The response to upload an artifact."
    },
    "UploadKfpArtifactRequest": {
      "description": "The request to upload an artifact.",
      "id": "UploadKfpArtifactRequest",
      "type": "object",
      "properties": {
        "tags": {
          "description": "Tags to be created with the version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the package version."
        }
      }
    },
    "CleanupPolicy": {
      "id": "CleanupPolicy",
      "type": "object",
      "description": "Artifact policy configuration for repository cleanup policies.",
      "properties": {
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        },
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the cleanup policy."
        },
        "action": {
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ],
          "type": "string",
          "description": "Policy action."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "YumArtifact": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "type": "string",
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        }
      },
      "id": "YumArtifact",
      "type": "object",
      "description": "A detailed representation of a Yum artifact."
    },
    "OperationMetadata": {
      "description": "Metadata type for longrunning-operations, currently empty.",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {}
    },
    "ImportGoogetArtifactsResponse": {
      "properties": {
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          },
          "type": "array"
        },
        "googetArtifacts": {
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          },
          "type": "array"
        }
      },
      "id": "ImportGoogetArtifactsResponse",
      "type": "object",
      "description": "The response message from importing artifacts."
    },
    "UploadGoModuleRequest": {
      "id": "UploadGoModuleRequest",
      "type": "object",
      "description": "The request to upload a Go module.",
      "properties": {}
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "id": "ListTagsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return."
        },
        "tags": {
          "type": "array",
          "description": "The tags returned.",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "SetIamPolicyRequest": {
      "properties": {
        "policy": {
[...]
