{
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "title": "Artifact Registry API",
  "discoveryVersion": "v1",
  "canonicalName": "Artifact Registry",
  "rootUrl": "https://artifactregistry.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260320",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "documentationLink": "https://cloud.google.com/artifacts/docs/",
  "mtlsRootUrl": "https://artifactregistry.mtls.googleapis.com/",
  "version_module": true,
  "description": "Store and manage build artifacts in a scalable and integrated service built on Google infrastructure.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "schemas": {
    "ImportYumArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "type": "object",
      "id": "ImportYumArtifactsMetadata",
      "properties": {}
    },
    "ImportYumArtifactsGcsSource": {
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object)."
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "type": "object",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ImportAptArtifactsResponse": {
      "type": "object",
      "id": "ImportAptArtifactsResponse",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "description": "Detailed error info for packages that were not imported."
        },
        "aptArtifacts": {
          "type": "array",
          "items": {
            "$ref": "AptArtifact"
          },
          "description": "The Apt artifacts imported."
        }
      },
      "description": "The response message from importing APT artifacts."
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ProjectSettings": {
      "type": "object",
      "id": "ProjectSettings",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set"
        },
        "pullPercent": {
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "type": "integer",
          "format": "int32"
        },
        "legacyRedirectionState": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "description": "The redirection state of the legacy repositories in this project.",
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ]
        }
      },
      "description": "The Artifact Registry settings that apply to a Project."
    },
    "YumArtifact": {
      "id": "YumArtifact",
      "properties": {
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact."
        },
        "packageName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The yum package name of the artifact."
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ]
        }
      },
      "type": "object",
      "description": "A detailed representation of a Yum artifact."
    },
    "Hash": {
      "description": "A hash of file content.",
      "type": "object",
      "id": "Hash",
      "properties": {
        "type": {
          "type": "string",
          "description": "The algorithm used to compute the hash value.",
          "enumDescriptions": [
            "Unspecified.",
            "SHA256 hash.",
            "MD5 hash.",
            "Dirsum SHA256 hash."
          ],
          "enum": [
            "HASH_TYPE_UNSPECIFIED",
            "SHA256",
            "MD5",
            "DIRSUM_SHA256"
          ]
        },
        "value": {
          "type": "string",
          "format": "byte",
          "description": "The hash value."
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "type": "string",
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        }
      },
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
    },
    "UploadAptArtifactMediaResponse": {
      "id": "UploadAptArtifactMediaResponse",
      "properties": {
        "operation": {
          "$ref": "Operation",
          "description": "Operation to be returned to the user."
        }
      },
      "type": "object",
      "description": "The response to upload an artifact."
    },
    "MavenRepositoryConfig": {
      "id": "MavenRepositoryConfig",
      "properties": {
        "versionPolicy": {
          "type": "string",
          "description": "Version policy defines the versions that the registry will accept.",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ]
        },
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type."
    },
    "ImportAptArtifactsRequest": {
      "description": "The request to import new apt artifacts.",
      "id": "ImportAptArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportAptArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "type": "object",
      "description": "Request message for `SetIamPolicy` method."
    },
    "ImportYumArtifactsResponse": {
      "description": "The response message from importing YUM artifacts.",
      "type": "object",
      "id": "ImportYumArtifactsResponse",
      "properties": {
        "yumArtifacts": {
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          },
          "description": "The yum artifacts imported."
        },
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "type": "array",
          "items": {
            "$ref": "ImportYumArtifactsErrorInfo"
          }
        }
      }
    },
    "UploadYumArtifactRequest": {
      "id": "UploadYumArtifactRequest",
      "properties": {},
      "type": "object",
      "description": "The request to upload an artifact."
    },
    "ListVersionsResponse": {
      "description": "The response from listing versions.",
      "type": "object",
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "type": "array",
          "items": {
            "$ref": "Version"
          },
          "description": "The versions returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return."
        }
      }
    },
    "ListTagsResponse": {
      "description": "The response from listing tags.",
      "type": "object",
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        }
      }
    },
    "Version": {
      "type": "object",
      "id": "Version",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped."
        },
        "metadata": {
          "type": "object",
          "readOnly": true,
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact"
        },
        "relatedTags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the version, as specified in its metadata."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the version was created."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the version was last updated."
        }
      },
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes."
    },
    "ImportAptArtifactsMetadata": {
      "type": "object",
      "id": "ImportAptArtifactsMetadata",
      "properties": {},
      "description": "The operation metadata for importing artifacts."
    },
    "ListPackagesResponse": {
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return.",
          "type": "string"
        },
        "packages": {
          "description": "The packages returned.",
          "type": "array",
          "items": {
            "$ref": "Package"
          }
        }
      },
      "type": "object"
    },
    "UploadAptArtifactResponse": {
      "id": "UploadAptArtifactResponse",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "items": {
            "$ref": "AptArtifact"
          },
          "description": "The Apt artifacts updated."
        }
      },
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "UploadYumArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "id": "UploadYumArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object"
    },
    "AptArtifact": {
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html",
      "id": "AptArtifact",
      "properties": {
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Apt package name of the artifact."
        },
        "packageType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "description": "Output only. An artifact is a binary or source package.",
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ]
        },
        "component": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Repository component of the artifact."
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Operating system architecture of the artifact."
        },
        "controlFile": {
          "description": "Output only. Contents of the artifact's control metadata file.",
          "type": "string",
          "format": "byte",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Tag": {
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped."
        }
      },
      "type": "object"
    },
    "ImportAptArtifactsGcsSource": {
      "description": "Google Cloud Storage location where the artifacts currently reside.",
      "id": "ImportAptArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object)."
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsRequest": {
      "description": "The request to import new yum artifacts.",
      "id": "ImportYumArtifactsRequest",
      "properties": {
        "gcsSource": {
          "$ref": "ImportYumArtifactsGcsSource",
          "description": "Google Cloud Storage location where input content is located."
        }
      },
      "type": "object"
    },
    "UploadAptArtifactRequest": {
      "description": "The request to upload an artifact.",
      "id": "UploadAptArtifactRequest",
      "properties": {},
      "type": "object"
    },
    "UploadYumArtifactResponse": {
      "id": "UploadYumArtifactResponse",
      "properties": {
        "yumArtifacts": {
          "description": "The Yum artifacts updated.",
          "type": "array",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "type": "object",
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object"
    },
    "UploadAptArtifactMetadata": {
      "type": "object",
      "id": "UploadAptArtifactMetadata",
      "properties": {},
      "description": "The operation metadata for uploading artifacts."
    },
    "Repository": {
      "id": "Repository",
      "properties": {
        "format": {
          "type": "string",
          "description": "Optional. The format of packages that are stored in the repository.",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON"
          ]
        },
        "mavenConfig": {
          "$ref": "MavenRepositoryConfig",
          "description": "Maven repository config contains repository level configuration for the repositories of maven type."
        },
        "updateTime": {
          "description": "Output only. The time when the repository was last updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "The user-provided description of the repository.",
          "type": "string"
        },
        "sizeBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs."
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "createTime": {
          "description": "Output only. The time when the repository was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "satisfiesPzi": {
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "A Repository for storing artifacts with a specific format."
    },
    "DownloadFileResponse": {
      "description": "The response to download a file.",
      "id": "DownloadFileResponse",
      "properties": {},
      "type": "object"
    },
    "ImportAptArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "type": "object",
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The detailed error status."
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1beta2File": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1beta2File",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the File was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time when the File was last updated."
        },
        "sizeBytes": {
          "description": "The size of the File in bytes.",
          "type": "string",
          "format": "int64"
        },
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
        },
        "hashes": {
          "description": "The hashes of the file content.",
          "type": "array",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "description": "Files store content that is potentially associated with Packages or Versions."
    },
    "ListRepositoriesResponse": {
      "id": "ListRepositoriesResponse",
      "properties": {
        "repositories": {
          "type": "array",
          "items": {
            "$ref": "Repository"
          },
          "description": "The repositories returned."
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The response from listing repositories."
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "properties": {},
      "type": "object",
      "description": "The operation metadata for uploading artifacts."
    },
    "Status": {
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListFilesResponse": {
      "id": "ListFilesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of files, or empty if there are no more files to return."
        },
        "files": {
          "type": "array",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1beta2File"
          },
          "description": "The files returned."
        }
      },
      "type": "object",
      "description": "The response from listing files."
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "properties": {},
      "description": "Metadata type for longrunning-operations, currently empty."
    },
    "ImportYumArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportYumArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "description": "Error information explaining why a package was not imported."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "Policy": {
      "type": "object",
      "id": "Policy",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "type": "array",
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/)."
    },
    "Location": {
      "id": "Location",
      "properties": {
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      },
      "type": "object",
      "description": "A resource that represents a Google Cloud location."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "Binding": {
      "type": "object",
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        }
      },
      "description": "Associates `members`, or principals, with a `role`."
    },
    "Package": {
      "id": "Package",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The display name of the package."
        },
        "createTime": {
          "description": "The time when the package was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the package was last updated. This includes publishing a new version of the package."
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Packages are named collections of versions."
    }
  },
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "ownerDomain": "google.com",
  "version": "v1beta2",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "endpoints": [
    {
      "location": "africa-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.africa-south1.rep.googleapis.com/"
    },
    {
      "location": "asia-east1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-east1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-northeast2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-northeast3.rep.googleapis.com/",
      "location": "asia-northeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.asia-south2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "location": "australia-southeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.australia-southeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-central2.rep.googleapis.com/",
      "location": "europe-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-north1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-north1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-north2.rep.googleapis.com/",
      "location": "europe-north2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west10.rep.googleapis.com/",
      "location": "europe-west10",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west2",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west2.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west3.rep.googleapis.com/",
      "location": "europe-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.europe-west4.rep.googleapis.com/",
      "location": "europe-west4",
      "description": "Regional Endpoint"
    },
    {
      "location": "europe-west6",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west6.rep.googleapis.com/"
    },
    {
      "location": "europe-west8",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west8.rep.googleapis.com/"
    },
    {
      "location": "europe-west9",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.me-central1.rep.googleapis.com/",
      "location": "me-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.me-west1.rep.googleapis.com/",
      "location": "me-west1",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-northeast1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.northamerica-northeast1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.northamerica-south1.rep.googleapis.com/",
      "location": "northamerica-south1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1",
      "description": "Regional Endpoint"
    },
    {
      "location": "southamerica-west1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.southamerica-west1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-central2.rep.googleapis.com/",
      "location": "us-central2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east5",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east5.rep.googleapis.com/"
    },
    {
      "location": "us-south1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-south1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west3.rep.googleapis.com/",
      "location": "us-west3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west4.rep.googleapis.com/",
      "location": "us-west4",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.us-west8.rep.googleapis.com/",
      "location": "us-west8",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://artifactregistry.me-central2.rep.googleapis.com/",
      "location": "me-central2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-east7",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.us-east7.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://artifactregistry.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    },
    {
      "location": "eu",
      "description": "Regional Endpoint",
      "endpointUrl": "https://artifactregistry.eu.rep.googleapis.com/"
    }
  ],
  "name": "artifactregistry",
  "id": "artifactregistry:v1beta2",
  "basePath": "",
  "ownerName": "Google",
  "servicePath": "",
  "batchPath": "batch",
  "resources": {
    "projects": {
      "methods": {
        "getProjectSettings": {
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProjectSettings"
          },
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "description": "Retrieves the Settings for the Project.",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "description": "Required. The name of the projectSettings resource.",
              "type": "string",
              "pattern": "^projects/[^/]+/projectSettings$",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "path": "v1beta2/{+name}",
          "id": "artifactregistry.projects.getProjectSettings"
        },
        "updateProjectSettings": {
          "id": "artifactregistry.projects.updateProjectSettings",
          "path": "v1beta2/{+name}",
          "httpMethod": "PATCH",
          "parameters": {
            "updateMask": {
              "description": "Field mask to support partial updates.",
              "location": "query",
              "type": "string",
              "format": "google-fieldmask"
            },
            "name": {
              "pattern": "^projects/[^/]+/projectSettings$",
              "location": "path",
              "type": "string",
              "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Updates the Settings for the Project.",
          "flatPath": "v1beta2/projects/{projectsId}/projectSettings",
          "request": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "ProjectSettings"
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "flatPath": "v1beta2/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1beta2/{+name}/locations",
              "id": "artifactregistry.projects.locations.list",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true,
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ]
            },
            "get": {
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "path": "v1beta2/{+name}",
              "id": "artifactregistry.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "repositories": {
              "methods": {
                "delete": {
                  "path": "v1beta2/{+name}",
                  "id": "artifactregistry.projects.locations.repositories.delete",
                  "description": "Deletes a repository and all of its contents. The returned Operation will finish once the repository has been deleted. It will not have any Operation metadata and will return a google.protobuf.Empty response.",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The name of the repository to delete."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Repository"
                  },
                  "request": {
                    "$ref": "Repository"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates a repository.",
                  "id": "artifactregistry.projects.locations.repositories.patch",
                  "path": "v1beta2/{+name}"
                },
                "setIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "request": {
                    "$ref": "SetIamPolicyRequest"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:setIamPolicy",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates the IAM policy for a given resource.",
                  "id": "artifactregistry.projects.locations.repositories.setIamPolicy",
                  "path": "v1beta2/{+resource}:setIamPolicy"
                },
                "testIamPermissions": {
                  "id": "artifactregistry.projects.locations.repositories.testIamPermissions",
                  "path": "v1beta2/{+resource}:testIamPermissions",
                  "httpMethod": "POST",
                  "parameters": {
                    "resource": {
                      "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Tests if the caller has a list of permissions on a resource.",
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:testIamPermissions",
                  "request": {
                    "$ref": "TestIamPermissionsRequest"
                  },
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "TestIamPermissionsResponse"
                  }
                },
                "create": {
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "request": {
                    "$ref": "Repository"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "artifactregistry.projects.locations.repositories.create",
                  "path": "v1beta2/{+parent}/repositories",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the parent resource where the repository will be created.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "repositoryId": {
                      "type": "string",
                      "description": "Required. The repository id to use for this repository.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a repository. The returned Operation will finish once the repository has been created. Its response will be the created Repository."
                },
                "getIamPolicy": {
                  "parameterOrder": [
                    "resource"
                  ],
                  "response": {
                    "$ref": "Policy"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}:getIamPolicy",
                  "httpMethod": "GET",
                  "parameters": {
                    "resource": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                    },
                    "options.requestedPolicyVersion": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Gets the IAM policy for a given resource.",
                  "id": "artifactregistry.projects.locations.repositories.getIamPolicy",
                  "path": "v1beta2/{+resource}:getIamPolicy"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRepositoriesResponse"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories",
                  "httpMethod": "GET",
                  "parameters": {
                    "orderBy": {
                      "description": "Optional. The field to order the results by.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the parent resource whose repositories will be listed.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of repositories to return. Maximum page size is 1,000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous list request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "description": "Lists repositories.",
                  "id": "artifactregistry.projects.locations.repositories.list",
                  "path": "v1beta2/{+parent}/repositories"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Repository"
                  },
                  "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}",
                  "description": "Gets a repository.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the repository to retrieve."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-platform.read-only"
                  ],
                  "path": "v1beta2/{+name}",
                  "id": "artifactregistry.projects.locations.repositories.get"
                }
              },
              "resources": {
                "yumArtifacts": {
                  "methods": {
                    "upload": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "UploadYumArtifactMediaResponse"
                      },
                      "request": {
                        "$ref": "UploadYumArtifactRequest"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:create",
                      "description": "Directly uploads a Yum artifact. The returned Operation will complete once the resources are uploaded. Package, Version, and File resources are created based on the imported artifact. Imported artifacts that conflict with existing resources are ignored.",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "required": true,
                          "description": "The name of the parent resource where the artifacts will be uploaded.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta2/{+parent}/yumArtifacts:create",
                      "supportsMediaUpload": true,
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.upload",
                      "mediaUpload": {
                        "protocols": {
                          "simple": {
                            "multipart": true,
                            "path": "/upload/v1beta2/{+parent}/yumArtifacts:create"
                          }
                        },
                        "accept": [
                          "*/*"
                        ]
                      }
                    },
                    "import": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/yumArtifacts:import",
                      "request": {
                        "$ref": "ImportYumArtifactsRequest"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "artifactregistry.projects.locations.repositories.yumArtifacts.import",
                      "path": "v1beta2/{+parent}/yumArtifacts:import",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The name of the parent resource where the artifacts will be imported."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Imports Yum (RPM) artifacts. The returned Operation will complete once the resources are imported. Package, Version, and File resources are created based on the imported artifacts. Imported artifacts that conflict with existing resources are ignored."
                    }
                  }
                },
                "packages": {
                  "methods": {
                    "list": {
                      "id": "artifactregistry.projects.locations.repositories.packages.list",
                      "path": "v1beta2/{+parent}/packages",
                      "httpMethod": "GET",
                      "parameters": {
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. The field to order the results by.",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The name of the parent resource whose packages will be listed.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+$",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "The maximum number of packages to return. Maximum page size is 1,000.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "The next_page_token value returned from a previous list request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Lists packages.",
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListPackagesResponse"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Package"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. The name of the package to retrieve.",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-platform.read-only"
                      ],
                      "description": "Gets a package.",
                      "id": "artifactregistry.projects.locations.repositories.packages.get",
                      "path": "v1beta2/{+name}"
                    },
                    "patch": {
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Package"
                      },
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "request": {
                        "$ref": "Package"
                      },
                      "httpMethod": "PATCH",
                      "parameters": {
                        "updateMask": {
                          "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                          "location": "query",
                          "type": "string",
                          "format": "google-fieldmask"
                        },
                        "name": {
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path",
                          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates a package.",
                      "id": "artifactregistry.projects.locations.repositories.packages.patch",
                      "path": "v1beta2/{+name}"
                    },
                    "delete": {
                      "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1beta2/{+name}",
                      "id": "artifactregistry.projects.locations.repositories.packages.delete",
                      "description": "Deletes a package and all of its versions and tags. The returned operation will complete once the package has been deleted.",
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The name of the package to delete.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  },
                  "resources": {
                    "tags": {
                      "methods": {
                        "patch": {
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "request": {
                            "$ref": "Tag"
                          },
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Tag"
                          },
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.patch",
                          "path": "v1beta2/{+name}",
                          "httpMethod": "PATCH",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded."
                            },
                            "updateMask": {
                              "type": "string",
                              "format": "google-fieldmask",
                              "description": "The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates a tag."
                        },
                        "delete": {
                          "path": "v1beta2/{+name}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.delete",
                          "description": "Deletes a tag.",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "description": "The name of the tag to delete.",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Empty"
                          }
                        },
                        "create": {
                          "description": "Creates a tag.",
                          "httpMethod": "POST",
                          "parameters": {
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the parent resource where the tag will be created."
                            },
                            "tagId": {
                              "type": "string",
                              "description": "The tag id to use for this repository.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1beta2/{+parent}/tags",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.create",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "Tag"
                          },
                          "request": {
                            "$ref": "Tag"
                          },
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags"
                        },
                        "list": {
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.list",
                          "path": "v1beta2/{+parent}/tags",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "The name of the parent package whose tags will be listed. For example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`.",
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+$",
                              "location": "path"
                            },
                            "filter": {
                              "type": "string",
                              "description": "An expression for filtering the results of the request. Filter rules are case insensitive. The fields eligible for filtering are: * `name` * `version` Examples of using a filter: To filter the results of your request to tags with the name `my-tag` in package `my-package` in repository `my-repo` in project \"`y-project` in the us-central region, append the following filter expression to your request: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my-tag\"` You can also use wildcards to match any number of characters before or after the value: * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/my*\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag\"` * `name=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/tags/*tag*\"` To filter the results of your request to tags applied to the version `1.0` in package `my-package`, append the following filter expression to your request: * `version=\"projects/my-project/locations/us-central1/repositories/my-repo/packages/my-package/versions/1.0\"`",
                              "location": "query"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "The maximum number of tags to return. Maximum page size is 1,000.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "location": "query"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "description": "Lists tags.",
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags",
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListTagsResponse"
                          }
                        },
                        "get": {
                          "path": "v1beta2/{+name}",
                          "id": "artifactregistry.projects.locations.repositories.packages.tags.get",
                          "description": "Gets a tag.",
                          "httpMethod": "GET",
                          "parameters": {
                            "name": {
                              "required": true,
                              "description": "The name of the tag to retrieve.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/tags/[^/]+$",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-platform.read-only"
                          ],
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/tags/{tagsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Tag"
                          }
                        }
                      }
                    },
                    "versions": {
                      "methods": {
                        "delete": {
                          "flatPath": "v1beta2/projects/{projectsId}/locations/{locationsId}/repositories/{repositoriesId}/packages/{packagesId}/versions/{versionsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "path": "v1beta2/{+name}",
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.delete",
                          "description": "Deletes a version and all of its content. The returned operation will complete once the version has been deleted.",
                          "httpMethod": "DELETE",
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/repositories/[^/]+/packages/[^/]+/versions/[^/]+$",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "description": "The name of the version to delete."
                            },
                            "force": {
                              "description": "By default, a version that is tagged may not be deleted. If force=true, the version and any tags pointing to the version are deleted.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "list": {
                          "id": "artifactregistry.projects.locations.repositories.packages.versions.list",
                          "path": "v1beta2/{+parent}/versions",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageSize": {
                              "description": "The maximum number of versions to return. Maximum page size is 1,000.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "The next_page_token value returned from a previous list request, if any.",
                              "location": "query"
                            },
                            "view": {
[...]
