{
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "version_module": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "baseUrl": "https://artifactregistry.googleapis.com/",
  "schemas": {
    "ListPythonPackagesResponse": {
      "type": "object",
      "description": "The response from listing python packages.",
      "id": "ListPythonPackagesResponse",
      "properties": {
        "pythonPackages": {
          "description": "The python packages returned.",
          "items": {
            "$ref": "PythonPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return.",
          "type": "string"
        }
      }
    },
    "UpstreamCredentials": {
      "description": "The credentials to access the remote repository.",
      "id": "UpstreamCredentials",
      "properties": {
        "usernamePasswordCredentials": {
          "description": "Use username and password to access the remote repository.",
          "$ref": "UsernamePasswordCredentials"
        }
      },
      "type": "object"
    },
    "UpstreamPolicy": {
      "description": "Artifact policy configuration for the repository contents.",
      "id": "UpstreamPolicy",
      "properties": {
        "id": {
          "type": "string",
          "description": "The user-provided ID of the upstream policy."
        },
        "repository": {
          "type": "string",
          "description": "A reference to the repository resource, for example: `projects/p1/locations/us-central1/repositories/repo1`."
        },
        "priority": {
          "description": "Entries with a greater priority value take precedence in the pull order.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "AptArtifact": {
      "type": "object",
      "id": "AptArtifact",
      "properties": {
        "controlFile": {
          "type": "string",
          "format": "byte",
          "description": "Output only. Contents of the artifact's control metadata file.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The Apt package name of the artifact.",
          "readOnly": true
        },
        "component": {
          "description": "Output only. Repository component of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "architecture": {
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package.",
            "Source package."
          ],
          "type": "string"
        }
      },
      "description": "A detailed representation of an Apt artifact. Information in the record is derived from the archive's control file. See https://www.debian.org/doc/debian-policy/ch-controlfields.html"
    },
    "UploadKfpArtifactMetadata": {
      "id": "UploadKfpArtifactMetadata",
      "properties": {},
      "description": "The operation metadata for uploading KFP artifacts.",
      "type": "object"
    },
    "PythonRepository": {
      "type": "object",
      "id": "PythonRepository",
      "properties": {
        "publicRepository": {
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "PYPI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "PyPI."
          ],
          "description": "One of the publicly available Python repositories supported by Artifact Registry."
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository"
        }
      },
      "description": "Configuration for a Python remote repository."
    },
    "GenericArtifact": {
      "type": "object",
      "description": "GenericArtifact represents a generic artifact",
      "id": "GenericArtifact",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the Generic module is created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "updateTime": {
          "description": "Output only. The time when the Generic module is updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Resource name of the generic artifact. project, location, repository, package_id and version_id create a unique generic artifact. i.e. \"projects/test-project/locations/us-west4/repositories/test-repo/ genericArtifacts/package_id:version_id\""
        },
        "version": {
          "description": "The version of the generic artifact.",
          "type": "string"
        }
      }
    },
    "UploadGoModuleRequest": {
      "id": "UploadGoModuleRequest",
      "properties": {},
      "description": "The request to upload a Go module.",
      "type": "object"
    },
    "UploadKfpArtifactRequest": {
      "type": "object",
      "id": "UploadKfpArtifactRequest",
      "properties": {
        "tags": {
          "description": "Tags to be created with the version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "description": {
          "type": "string",
          "description": "Description of the package version."
        }
      },
      "description": "The request to upload an artifact."
    },
    "ImportAptArtifactsResponse": {
      "type": "object",
      "description": "The response message from importing APT artifacts.",
      "id": "ImportAptArtifactsResponse",
      "properties": {
        "aptArtifacts": {
          "description": "The Apt artifacts imported.",
          "items": {
            "$ref": "AptArtifact"
          },
          "type": "array"
        },
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportAptArtifactsErrorInfo"
          },
          "type": "array"
        }
      }
    },
    "ListAttachmentsResponse": {
      "type": "object",
      "description": "The response from listing attachments.",
      "id": "ListAttachmentsResponse",
      "properties": {
        "attachments": {
          "description": "The attachments returned.",
          "items": {
            "$ref": "Attachment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of attachments, or empty if there are no more attachments to return.",
          "type": "string"
        }
      }
    },
    "ListRulesResponse": {
      "type": "object",
      "description": "The response from listing rules.",
      "id": "ListRulesResponse",
      "properties": {
        "rules": {
          "description": "The rules returned.",
          "items": {
            "$ref": "GoogleDevtoolsArtifactregistryV1Rule"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of rules, or empty if there are no more rules to return.",
          "type": "string"
        }
      }
    },
    "UploadYumArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "id": "UploadYumArtifactResponse",
      "properties": {
        "yumArtifacts": {
          "type": "array",
          "description": "The Yum artifacts updated.",
          "items": {
            "$ref": "YumArtifact"
          }
        }
      },
      "type": "object"
    },
    "UploadYumArtifactRequest": {
      "type": "object",
      "description": "The request to upload an artifact.",
      "id": "UploadYumArtifactRequest",
      "properties": {}
    },
    "UploadAptArtifactResponse": {
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "id": "UploadAptArtifactResponse",
      "properties": {
        "aptArtifacts": {
          "type": "array",
          "description": "The Apt artifacts updated.",
          "items": {
            "$ref": "AptArtifact"
          }
        }
      },
      "type": "object"
    },
    "Binding": {
      "id": "Binding",
      "properties": {
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "role": {
          "type": "string",
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles)."
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Associates `members`, or principals, with a `role`.",
      "type": "object"
    },
    "ImportAptArtifactsMetadata": {
      "id": "ImportAptArtifactsMetadata",
      "properties": {},
      "description": "The operation metadata for importing artifacts.",
      "type": "object"
    },
    "VPCSCConfig": {
      "type": "object",
      "id": "VPCSCConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the project's VPC SC Config. Always of the form: projects/{projectID}/locations/{location}/vpcscConfig In update request: never set In response: always set"
        },
        "vpcscPolicy": {
          "description": "The project per location VPC SC policy that defines the VPC SC behavior for the Remote Repository (Allow/Deny).",
          "enum": [
            "VPCSC_POLICY_UNSPECIFIED",
            "DENY",
            "ALLOW"
          ],
          "type": "string",
          "enumDescriptions": [
            "VPCSC_POLICY_UNSPECIFIED - the VPS SC policy is not defined. When VPS SC policy is not defined - the Service will use the default behavior (VPCSC_DENY).",
            "VPCSC_DENY - repository will block the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter.",
            "VPCSC_ALLOW - repository will allow the requests to the Upstreams for the Remote Repositories if the resource is in the perimeter."
          ]
        }
      },
      "description": "The Artifact Registry VPC SC config that apply to a Project."
    },
    "ImageManifest": {
      "description": "Details of a single image manifest within a multi-arch image.",
      "id": "ImageManifest",
      "properties": {
        "architecture": {
          "description": "Optional. The CPU architecture of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"amd64\", \"arm64\", \"ppc64le\", \"s390x\", \"riscv64\", \"mips64le\", etc.",
          "type": "string"
        },
        "digest": {
          "type": "string",
          "description": "Optional. The manifest digest, in the format \"sha256:\"."
        },
        "os": {
          "type": "string",
          "description": "Optional. The operating system of the image. Values are provided by the Docker client and are not validated by Artifact Registry. Example values include \"linux\", \"windows\", \"darwin\", \"aix\", etc."
        },
        "variant": {
          "type": "string",
          "description": "Optional. The variant of the CPU in the image, for example `v7` to specify ARMv7 when architecture is `arm`."
        },
        "osVersion": {
          "description": "Optional. The OS version of the image, for example on Windows `10.0.14393.1066`.",
          "type": "string"
        },
        "osFeatures": {
          "description": "Optional. The required OS features for the image, for example on Windows `win32k`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mediaType": {
          "description": "Optional. The media type of the manifest, e.g., \"application/vnd.docker.distribution.manifest.v2+json\"",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogetArtifact": {
      "type": "object",
      "description": "A detailed representation of a GooGet artifact.",
      "id": "GoogetArtifact",
      "properties": {
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true,
          "type": "string"
        },
        "packageName": {
          "description": "Output only. The GooGet package name of the artifact.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DockerImage": {
      "type": "object",
      "description": "DockerImage represents a docker artifact. The following fields are returned as untyped metadata in the Version resource, using camelcase keys (i.e. metadata.imageSizeBytes): * imageSizeBytes * mediaType * buildTime",
      "id": "DockerImage",
      "properties": {
        "uploadTime": {
          "description": "Time the image was uploaded.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Required. registry_location, project_id, repository_name and image id forms a unique image name:`projects//locations//repositories//dockerImages/`. For example, \"projects/test-project/locations/us-west4/repositories/test-repo/dockerImages/ nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf\" is the image's digest."
        },
        "imageManifests": {
          "description": "Optional. For multi-arch images (manifest lists), this field contains the list of image manifests.",
          "items": {
            "$ref": "ImageManifest"
          },
          "type": "array"
        },
        "tags": {
          "description": "Tags attached to this image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the docker image was last updated.",
          "readOnly": true
        },
        "buildTime": {
          "description": "The time this image was built. This field is returned as the 'metadata.buildTime' field in the Version resource. The build time is returned to the client as an RFC 3339 string, which can be easily used with the JavaScript Date constructor.",
          "type": "string",
          "format": "google-datetime"
        },
        "uri": {
          "type": "string",
          "description": "Required. URL to access the image. Example: us-west4-docker.pkg.dev/test-project/test-repo/nginx@sha256:e9954c1fc875017be1c3e36eca16be2d9e9bccc4bf072163515467d6a823c7cf"
        },
        "imageSizeBytes": {
          "description": "Calculated size of the image. This field is returned as the 'metadata.imageSizeBytes' field in the Version resource.",
          "type": "string",
          "format": "int64"
        },
        "artifactType": {
          "type": "string",
          "description": "ArtifactType of this image, e.g. \"application/vnd.example+type\". If the `subject_digest` is set and no `artifact_type` is given, the `media_type` will be considered as the `artifact_type`. This field is returned as the `metadata.artifactType` field in the Version resource."
        },
        "mediaType": {
          "type": "string",
          "description": "Media type of this image, e.g. \"application/vnd.docker.distribution.manifest.v2+json\". This field is returned as the 'metadata.mediaType' field in the Version resource."
        }
      }
    },
    "Attachment": {
      "description": "An Attachment refers to additional metadata that can be attached to artifacts in Artifact Registry. An attachment consists of one or more files.",
      "id": "Attachment",
      "properties": {
        "type": {
          "description": "Type of attachment. E.g. `application/vnd.spdx+json`",
          "type": "string"
        },
        "target": {
          "description": "Required. The target the attachment is for, can be a Version, Package or Repository. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
          "type": "string"
        },
        "attachmentNamespace": {
          "type": "string",
          "description": "The namespace this attachment belongs to. E.g. If an attachment is created by artifact analysis, namespace is set to `artifactanalysis.googleapis.com`."
        },
        "files": {
          "description": "Required. The files that belong to this attachment. If the file ID part contains slashes, they are escaped. E.g. `projects/p1/locations/us-central1/repositories/repo1/files/sha:`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "The name of the attachment. E.g. `projects/p1/locations/us/repositories/repo/attachments/sbom`."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the attachment was last updated.",
          "readOnly": true
        },
        "ociVersionName": {
          "type": "string",
          "description": "Output only. The name of the OCI version that this attachment created. Only populated for Docker attachments. E.g. `projects/p1/locations/us-central1/repositories/repo1/packages/p1/versions/v1`.",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. These attributes can only be set and used by the user, and not by Artifact Registry. See https://google.aip.dev/128#annotations for more details such as format and size limitations."
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the attachment was created.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "MavenArtifact": {
      "type": "object",
      "id": "MavenArtifact",
      "properties": {
        "createTime": {
          "description": "Output only. Time the artifact was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "groupId": {
          "type": "string",
          "description": "Group ID for the artifact. Example: com.google.guava"
        },
        "artifactId": {
          "type": "string",
          "description": "Artifact ID for the artifact."
        },
        "pomUri": {
          "description": "Required. URL to access the pom file of the artifact. Example: us-west4-maven.pkg.dev/test-project/test-repo/com/google/guava/guava/31.0/guava-31.0.pom",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Time the artifact was updated.",
          "readOnly": true
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and maven_artifact forms a unique artifact For example, \"projects/test-project/locations/us-west4/repositories/test-repo/mavenArtifacts/ com.google.guava:guava:31.0-jre\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and \"com.google.guava:guava:31.0-jre\" is the maven artifact.",
          "type": "string"
        },
        "version": {
          "description": "Version of this artifact.",
          "type": "string"
        }
      },
      "description": "MavenArtifact represents a maven artifact."
    },
    "UploadGoogetArtifactResponse": {
      "id": "UploadGoogetArtifactResponse",
      "properties": {
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        }
      },
      "description": "The response of the completed artifact upload operation. This response is contained in the Operation and available to users.",
      "type": "object"
    },
    "ImportAptArtifactsRequest": {
      "type": "object",
      "id": "ImportAptArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportAptArtifactsGcsSource"
        }
      },
      "description": "The request to import new apt artifacts."
    },
    "ImportAptArtifactsGcsSource": {
      "type": "object",
      "id": "ImportAptArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository": {
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.yum.registry/\"."
        }
      },
      "description": "Customer-specified publicly available remote repository.",
      "type": "object"
    },
    "UsernamePasswordCredentials": {
      "id": "UsernamePasswordCredentials",
      "properties": {
        "username": {
          "type": "string",
          "description": "The username to access the remote repository."
        },
        "passwordSecretVersion": {
          "description": "The Secret Manager key version that holds the password to access the remote repository. Must be in the format of `projects/{project}/secrets/{secret}/versions/{version}`.",
          "type": "string"
        }
      },
      "description": "Username and password credentials.",
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.apt.registry/\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Repository": {
      "id": "Repository",
      "properties": {
        "format": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified package format.",
            "Docker package format.",
            "Maven package format.",
            "NPM package format.",
            "APT package format.",
            "YUM package format.",
            "GooGet package format.",
            "Python package format.",
            "Kubeflow Pipelines package format.",
            "Go package format.",
            "Generic package format.",
            "Ruby package format."
          ],
          "enum": [
            "FORMAT_UNSPECIFIED",
            "DOCKER",
            "MAVEN",
            "NPM",
            "APT",
            "YUM",
            "GOOGET",
            "PYTHON",
            "KFP",
            "GO",
            "GENERIC",
            "RUBY"
          ],
          "description": "Optional. The format of packages that are stored in the repository."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels with user-defined metadata. This field may contain up to 64 entries. Label keys and values may be no longer than 63 characters. Label keys must begin with a lowercase letter and may only contain lowercase letters, numeric characters, underscores, and dashes."
        },
        "cleanupPolicies": {
          "type": "object",
          "additionalProperties": {
            "$ref": "CleanupPolicy"
          },
          "description": "Optional. Cleanup policies for this repository. Cleanup policies indicate when certain package versions can be automatically deleted. Map keys are policy IDs supplied by users during policy creation. They must unique within a repository and be under 128 characters in length."
        },
        "cleanupPolicyDryRun": {
          "type": "boolean",
          "description": "Optional. If true, the cleanup pipeline is prevented from deleting versions in this repository."
        },
        "vulnerabilityScanningConfig": {
          "description": "Optional. Config and state for vulnerability scanning of resources within this Repository.",
          "$ref": "VulnerabilityScanningConfig"
        },
        "kmsKeyName": {
          "description": "The Cloud KMS resource name of the customer managed encryption key that's used to encrypt the contents of the Repository. Has the form: `projects/my-project/locations/my-region/keyRings/my-kr/cryptoKeys/my-key`. This value may not be changed after the Repository has been created.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the repository, for example: `projects/p1/locations/us-central1/repositories/repo1`. For each location in a project, repository names must be unique."
        },
        "mavenConfig": {
          "description": "Maven repository config contains repository level configuration for the repositories of maven type.",
          "$ref": "MavenRepositoryConfig"
        },
        "satisfiesPzs": {
          "description": "Output only. Whether or not this repository satisfies PZS.",
          "readOnly": true,
          "type": "boolean"
        },
        "disallowUnspecifiedMode": {
          "description": "Optional. If this is true, an unspecified repo type will be treated as error rather than defaulting to standard.",
          "type": "boolean"
        },
        "remoteRepositoryConfig": {
          "description": "Configuration specific for a Remote Repository.",
          "$ref": "RemoteRepositoryConfig"
        },
        "updateTime": {
          "description": "Output only. The time when the repository was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "registryUri": {
          "type": "string",
          "description": "Output only. The repository endpoint, for example: `us-docker.pkg.dev/my-proj/my-repo`.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the repository was created.",
          "readOnly": true
        },
        "mode": {
          "description": "Optional. The mode of the repository.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified mode.",
            "A standard repository storing artifacts.",
            "A virtual repository to serve artifacts from one or more sources.",
            "A remote repository to serve artifacts from a remote source.",
            "An AOSS repository provides artifacts from AOSS upstreams.",
            "Replacement of AOSS_REPOSITORY."
          ],
          "enum": [
            "MODE_UNSPECIFIED",
            "STANDARD_REPOSITORY",
            "VIRTUAL_REPOSITORY",
            "REMOTE_REPOSITORY",
            "AOSS_REPOSITORY",
            "ASSURED_OSS_REPOSITORY"
          ]
        },
        "description": {
          "type": "string",
          "description": "The user-provided description of the repository."
        },
        "satisfiesPzi": {
          "type": "boolean",
          "description": "Output only. Whether or not this repository satisfies PZI.",
          "readOnly": true
        },
        "virtualRepositoryConfig": {
          "description": "Configuration specific for a Virtual Repository.",
          "$ref": "VirtualRepositoryConfig"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        },
        "sizeBytes": {
          "description": "Output only. The size, in bytes, of all artifact storage in this repository. Repositories that are generally available or in public preview use this to calculate storage costs.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "dockerConfig": {
          "description": "Docker repository config contains repository level configuration for the repositories of docker type.",
          "$ref": "DockerRepositoryConfig"
        }
      },
      "description": "A Repository for storing artifacts with a specific format.",
      "type": "object"
    },
    "ListTagsResponse": {
      "type": "object",
      "description": "The response from listing tags.",
      "id": "ListTagsResponse",
      "properties": {
        "tags": {
          "type": "array",
          "description": "The tags returned.",
          "items": {
            "$ref": "Tag"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of tags, or empty if there are no more tags to return.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "description": "Metadata type for longrunning-operations, currently empty.",
      "id": "OperationMetadata",
      "properties": {}
    },
    "VirtualRepositoryConfig": {
      "id": "VirtualRepositoryConfig",
      "properties": {
        "upstreamPolicies": {
          "description": "Policies that configure the upstream artifacts distributed by the Virtual Repository. Upstream policies cannot be set on a standard repository.",
          "items": {
            "$ref": "UpstreamPolicy"
          },
          "type": "array"
        }
      },
      "description": "Virtual repository configuration.",
      "type": "object"
    },
    "UploadGoogetArtifactMediaResponse": {
      "id": "UploadGoogetArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact.",
      "type": "object"
    },
    "ExportArtifactResponse": {
      "id": "ExportArtifactResponse",
      "properties": {
        "exportedVersion": {
          "description": "The exported version. Should be the same as the request version with fingerprint resource name.",
          "$ref": "Version"
        }
      },
      "description": "The response for exporting an artifact to a destination.",
      "type": "object"
    },
    "ListRepositoriesResponse": {
      "type": "object",
      "description": "The response from listing repositories.",
      "id": "ListRepositoriesResponse",
      "properties": {
        "repositories": {
          "type": "array",
          "description": "The repositories returned.",
          "items": {
            "$ref": "Repository"
          }
        },
        "nextPageToken": {
          "description": "The token to retrieve the next page of repositories, or empty if there are no more repositories to return.",
          "type": "string"
        }
      }
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "CleanupPolicyMostRecentVersions": {
      "id": "CleanupPolicyMostRecentVersions",
      "properties": {
        "packageNamePrefixes": {
          "type": "array",
          "description": "List of package name prefixes that will apply this rule.",
          "items": {
            "type": "string"
          }
        },
        "keepCount": {
          "type": "integer",
          "format": "int32",
          "description": "Minimum number of versions to keep."
        }
      },
      "description": "CleanupPolicyMostRecentVersions is an alternate condition of a CleanupPolicy for retaining a minimum number of versions.",
      "type": "object"
    },
    "UploadGenericArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload a generic artifact.",
      "id": "UploadGenericArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the custom remote repository, for ex: \"https://registry-1.docker.io\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1File": {
      "type": "object",
      "description": "Files store content that is potentially associated with Packages or Versions.",
      "id": "GoogleDevtoolsArtifactregistryV1File",
      "properties": {
        "owner": {
          "type": "string",
          "description": "The name of the Package or Version that owns this file, if any."
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the File was last updated.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of the file, for example: `projects/p1/locations/us-central1/repositories/repo1/files/a%2Fb%2Fc.txt`. If the file ID part contains slashes, they are escaped."
        },
        "sizeBytes": {
          "format": "int64",
          "type": "string",
          "description": "The size of the File in bytes."
        },
        "createTime": {
          "description": "Output only. The time when the File was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "hashes": {
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          },
          "type": "array"
        },
        "fetchTime": {
          "description": "Output only. The time when the last attempt to refresh the file's data was made. Only set when the repository is remote.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Client specified annotations."
        }
      }
    },
    "ExportArtifactMetadata": {
      "type": "object",
      "description": "The LRO metadata for exporting an artifact.",
      "id": "ExportArtifactMetadata",
      "properties": {
        "exportedFiles": {
          "description": "The exported artifact files.",
          "items": {
            "$ref": "ExportedFile"
          },
          "type": "array"
        }
      }
    },
    "ListMavenArtifactsResponse": {
      "type": "object",
      "id": "ListMavenArtifactsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        },
        "mavenArtifacts": {
          "type": "array",
          "description": "The maven artifacts returned.",
          "items": {
            "$ref": "MavenArtifact"
          }
        }
      },
      "description": "The response from listing maven artifacts."
    },
    "UploadGoogetArtifactRequest": {
      "id": "UploadGoogetArtifactRequest",
      "properties": {},
      "description": "The request to upload an artifact.",
      "type": "object"
    },
    "ImportAptArtifactsErrorInfo": {
      "description": "Error information explaining why a package was not imported.",
      "id": "ImportAptArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportAptArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "MavenRepository": {
      "description": "Configuration for a Maven remote repository.",
      "id": "MavenRepository",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository"
        },
        "publicRepository": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "Maven Central."
          ],
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "MAVEN_CENTRAL"
          ],
          "description": "One of the publicly available Maven repositories supported by Artifact Registry."
        }
      },
      "type": "object"
    },
    "CleanupPolicyCondition": {
      "type": "object",
      "id": "CleanupPolicyCondition",
      "properties": {
        "tagPrefixes": {
          "type": "array",
          "description": "Match versions by tag prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        },
        "olderThan": {
          "description": "Match versions older than a duration.",
          "type": "string",
          "format": "google-duration"
        },
        "newerThan": {
          "type": "string",
          "format": "google-duration",
          "description": "Match versions newer than a duration."
        },
        "versionNamePrefixes": {
          "description": "Match versions by version name prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "packageNamePrefixes": {
          "type": "array",
          "description": "Match versions by package prefix. Applied on any prefix match.",
          "items": {
            "type": "string"
          }
        },
        "tagState": {
          "description": "Match versions by tag status.",
          "enum": [
            "TAG_STATE_UNSPECIFIED",
            "TAGGED",
            "UNTAGGED",
            "ANY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Tag status not specified.",
            "Applies to tagged versions only.",
            "Applies to untagged versions only.",
            "Applies to all versions."
          ]
        }
      },
      "description": "CleanupPolicyCondition is a set of conditions attached to a CleanupPolicy. If multiple entries are set, all must be satisfied for the condition to be satisfied."
    },
    "ImportGoogetArtifactsRequest": {
      "id": "ImportGoogetArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "description": "The request to import new googet artifacts.",
      "type": "object"
    },
    "GoModule": {
      "type": "object",
      "id": "GoModule",
      "properties": {
        "name": {
          "description": "The resource name of a Go module.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version of the Go module. Must be a valid canonical version as defined in https://go.dev/ref/mod#glos-canonical-version."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the Go module is created.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the Go module is updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "GoModule represents a Go module."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "UploadYumArtifactMediaResponse": {
      "description": "The response to upload an artifact.",
      "id": "UploadYumArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object"
    },
    "PlatformLogsConfig": {
      "description": "The platform logs config for a project or a repository.",
      "id": "PlatformLogsConfig",
      "properties": {
        "loggingState": {
          "description": "Optional. The state of the platform logs: enabled or disabled.",
          "type": "string",
          "enumDescriptions": [
            "Platform logs settings for the parent resource haven't been set. This is the default state or when the user clears the settings for the parent.",
            "Platform logs are enabled.",
            "Platform logs are disabled."
          ],
          "enum": [
            "LOGGING_STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ]
        },
        "severityLevel": {
          "description": "Optional. The severity level for the logs. Logs will be generated if their severity level is >= than the value of the severity level mentioned here.",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "DEBUG",
            "INFO",
            "NOTICE",
            "WARNING",
            "ERROR",
            "CRITICAL",
            "ALERT",
            "EMERGENCY"
          ],
          "type": "string",
          "enumDescriptions": [
            "No severity level specified, meaning everything is being logged.",
            "Debug or trace information.",
            "Routine information, such as ongoing status or performance.",
            "Normal but significant events, such as start up, shut down, or a configuration change.",
            "Warning events that might cause problems.",
            "Error events that are likely to cause problems.",
            "Critical events that cause more severe problems or outages.",
            "Alert events that require a person must take an action immediately.",
            "One or more systems are unusable."
          ]
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigMavenRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.maven.registry/\".",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "RemoteRepositoryConfig": {
      "type": "object",
      "id": "RemoteRepositoryConfig",
      "properties": {
        "dockerRepository": {
          "description": "Specific settings for a Docker remote repository.",
          "$ref": "DockerRepository"
        },
        "commonRepository": {
          "description": "Common remote repository settings. Used as the remote repository upstream URL.",
          "$ref": "CommonRemoteRepository"
        },
        "pythonRepository": {
          "description": "Specific settings for a Python remote repository.",
          "$ref": "PythonRepository"
        },
        "npmRepository": {
          "description": "Specific settings for an Npm remote repository.",
          "$ref": "NpmRepository"
        },
        "description": {
          "type": "string",
          "description": "The description of the remote source."
        },
        "mavenRepository": {
          "description": "Specific settings for a Maven remote repository.",
          "$ref": "MavenRepository"
        },
        "yumRepository": {
          "description": "Specific settings for a Yum remote repository.",
          "$ref": "YumRepository"
        },
        "aptRepository": {
          "description": "Specific settings for an Apt remote repository.",
          "$ref": "AptRepository"
        },
        "disableUpstreamValidation": {
          "description": "Input only. A create/update remote repo option to avoid making a HEAD/GET request to validate a remote repo and any supplied upstream credentials.",
          "type": "boolean"
        },
        "upstreamCredentials": {
          "description": "Optional. The credentials used to access the remote repository.",
          "$ref": "UpstreamCredentials"
        }
      },
      "description": "Remote repository configuration."
    },
    "ExportedFile": {
      "description": "The exported artifact file.",
      "id": "ExportedFile",
      "properties": {
        "gcsObjectPath": {
          "type": "string",
          "description": "Cloud Storage Object path of the exported file. Examples: `dst_bucket/file1`, `dst_bucket/sub_dir/file1`"
        },
        "name": {
          "description": "Name of the exported artifact file. Format: `projects/p1/locations/us/repositories/repo1/files/file1`",
          "type": "string"
        },
        "hashes": {
          "type": "array",
          "description": "The hashes of the file content.",
          "items": {
            "$ref": "Hash"
          }
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigPythonRepositoryCustomRepository",
      "properties": {
        "uri": {
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.python.registry/\".",
          "type": "string"
        }
      },
      "description": "Customer-specified publicly available remote repository."
    },
    "ImportYumArtifactsMetadata": {
      "type": "object",
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportYumArtifactsMetadata",
      "properties": {}
    },
    "ListPackagesResponse": {
      "description": "The response from listing packages.",
      "id": "ListPackagesResponse",
      "properties": {
        "packages": {
          "description": "The packages returned.",
          "items": {
            "$ref": "Package"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of packages, or empty if there are no more packages to return."
        }
      },
      "type": "object"
    },
    "ImportGoogetArtifactsResponse": {
      "id": "ImportGoogetArtifactsResponse",
      "properties": {
        "googetArtifacts": {
          "type": "array",
          "description": "The GooGet artifacts updated.",
          "items": {
            "$ref": "GoogetArtifact"
          }
        },
        "errors": {
          "description": "Detailed error info for packages that were not imported.",
          "items": {
            "$ref": "ImportGoogetArtifactsErrorInfo"
          },
          "type": "array"
        }
      },
      "description": "The response message from importing artifacts.",
      "type": "object"
    },
    "UploadGoModuleMetadata": {
      "id": "UploadGoModuleMetadata",
      "properties": {},
      "description": "The operation metadata for uploading go modules.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsResponse",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListNpmPackagesResponse": {
      "id": "ListNpmPackagesResponse",
      "properties": {
        "npmPackages": {
          "type": "array",
          "description": "The npm packages returned.",
          "items": {
            "$ref": "NpmPackage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of artifacts, or empty if there are no more artifacts to return."
        }
      },
      "description": "The response from listing npm packages.",
      "type": "object"
    },
    "ProjectSettings": {
      "type": "object",
      "description": "The Artifact Registry settings that apply to a Project.",
      "id": "ProjectSettings",
      "properties": {
        "legacyRedirectionState": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false
          ],
          "enumDescriptions": [
            "No redirection status has been set.",
            "Redirection is disabled.",
            "Redirection is enabled.",
            "Redirection is enabled, and has been finalized so cannot be reverted.",
            "Redirection is enabled and missing images are copied from GCR",
            "Redirection is partially enabled and missing images are copied from GCR"
          ],
          "enum": [
            "REDIRECTION_STATE_UNSPECIFIED",
            "REDIRECTION_FROM_GCR_IO_DISABLED",
            "REDIRECTION_FROM_GCR_IO_ENABLED",
            "REDIRECTION_FROM_GCR_IO_FINALIZED",
            "REDIRECTION_FROM_GCR_IO_ENABLED_AND_COPYING",
            "REDIRECTION_FROM_GCR_IO_PARTIAL_AND_COPYING"
          ],
          "description": "The redirection state of the legacy repositories in this project."
        },
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/projectSettings In update request: never set In response: always set",
          "type": "string"
        },
        "pullPercent": {
          "description": "The percentage of pull traffic to redirect from GCR to AR when using partial redirection.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "UploadAptArtifactMediaResponse": {
      "type": "object",
      "id": "UploadAptArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload an artifact."
    },
    "Version": {
      "description": "The body of a version resource. A version resource represents a collection of components, such as files and other data. This may correspond to a version in many package management schemes.",
      "id": "Version",
      "properties": {
        "relatedTags": {
          "description": "Output only. A list of related tags. Will contain up to 100 tags that reference this version.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "description": {
          "description": "Optional. Description of the version, as specified in its metadata.",
          "type": "string"
        },
        "fingerprints": {
          "type": "array",
          "description": "Output only. Immutable reference for the version, calculated based on the version's content. Currently we only support dirsum_sha256 hash algorithm. Additional hash algorithms may be added in the future.",
          "readOnly": true,
          "items": {
            "$ref": "Hash"
          }
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the version was created."
        },
        "name": {
          "type": "string",
          "description": "The name of the version, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/art1`. If the package or version ID parts contain slashes, the slashes are escaped."
        },
        "updateTime": {
          "description": "The time when the version was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "description": "Output only. Repository-specific Metadata stored against this version. The fields returned are defined by the underlying repository-specific resource. Currently, the resources could be: DockerImage MavenArtifact",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1Rule": {
      "id": "GoogleDevtoolsArtifactregistryV1Rule",
      "properties": {
        "packageId": {
          "type": "string",
          "description": "The package ID the rule applies to. If empty, this rule applies to all packages inside the repository."
        },
        "name": {
          "description": "The name of the rule, for example: `projects/p1/locations/us-central1/repositories/repo1/rules/rule1`.",
          "type": "string"
        },
        "operation": {
          "type": "string",
          "enumDescriptions": [
            "Operation not specified.",
            "Download operation."
          ],
          "enum": [
            "OPERATION_UNSPECIFIED",
            "DOWNLOAD"
          ]
        },
        "condition": {
          "description": "Optional. A CEL expression for conditions that must be met in order for the rule to apply. If not provided, the rule matches all objects.",
          "$ref": "Expr"
        },
        "action": {
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Allow the operation.",
            "Deny the operation."
          ],
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action this rule takes."
        }
      },
      "description": "A rule defines the deny or allow action of the operation it applies to and the conditions required for the rule to apply. You can set one rule for an entire repository and one rule for each package within.",
      "type": "object"
    },
    "UploadYumArtifactMetadata": {
      "id": "UploadYumArtifactMetadata",
      "properties": {},
      "description": "The operation metadata for uploading artifacts.",
      "type": "object"
    },
    "UploadGoModuleMediaResponse": {
      "id": "UploadGoModuleMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation to be returned to the user.",
          "$ref": "Operation"
        }
      },
      "description": "The response to upload a Go module.",
      "type": "object"
    },
    "UploadFileMediaResponse": {
      "description": "The response to upload a generic artifact.",
      "id": "UploadFileMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      },
      "type": "object"
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository": {
      "type": "object",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository",
      "properties": {
        "repositoryPath": {
          "description": "A custom field to define a path to a specific repository from the base.",
          "type": "string"
        },
        "repositoryBase": {
          "enum": [
            "REPOSITORY_BASE_UNSPECIFIED",
            "CENTOS",
            "CENTOS_DEBUG",
            "CENTOS_VAULT",
            "CENTOS_STREAM",
            "ROCKY",
            "EPEL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository base.",
            "CentOS.",
            "CentOS Debug.",
            "CentOS Vault.",
            "CentOS Stream.",
            "Rocky.",
            "Fedora Extra Packages for Enterprise Linux (EPEL)."
          ],
          "description": "A common public repository base for Yum."
        }
      },
      "description": "Publicly available Yum repositories constructed from a common repository base and a custom repository path."
    },
    "UploadAptArtifactRequest": {
      "id": "UploadAptArtifactRequest",
      "properties": {},
      "description": "The request to upload an artifact.",
      "type": "object"
    },
    "UploadGoogetArtifactMetadata": {
      "description": "The operation metadata for uploading artifacts.",
      "id": "UploadGoogetArtifactMetadata",
      "properties": {},
      "type": "object"
    },
    "Tag": {
      "description": "Tags point to a version and represent an alternative name that can be used to access the version.",
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag, for example: \"projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/tags/tag1\". If the package part contains slashes, the slashes are escaped. The tag part can only have characters in [a-zA-Z0-9\\-._~:@], anything else must be URL encoded.",
          "type": "string"
        },
        "version": {
          "description": "The name of the version the tag refers to, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1/versions/sha256:5243811` If the package or version ID parts contain slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Expr": {
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "id": "Expr",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        }
      }
    },
    "ImportYumArtifactsRequest": {
      "id": "ImportYumArtifactsRequest",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location where input content is located.",
          "$ref": "ImportYumArtifactsGcsSource"
        }
      },
      "description": "The request to import new yum artifacts.",
      "type": "object"
    },
    "ImportYumArtifactsGcsSource": {
      "type": "object",
      "id": "ImportYumArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., gs://my_bucket//my_object).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "description": "Supports URI wildcards for matching multiple objects from a single URI.",
          "type": "boolean"
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "MavenRepositoryConfig": {
      "type": "object",
      "id": "MavenRepositoryConfig",
      "properties": {
        "versionPolicy": {
          "enum": [
            "VERSION_POLICY_UNSPECIFIED",
            "RELEASE",
            "SNAPSHOT"
          ],
          "type": "string",
          "enumDescriptions": [
            "VERSION_POLICY_UNSPECIFIED - the version policy is not defined. When the version policy is not defined, no validation is performed for the versions.",
            "RELEASE - repository will accept only Release versions.",
            "SNAPSHOT - repository will accept only Snapshot versions."
          ],
          "description": "Version policy defines the versions that the registry will accept."
        },
        "allowSnapshotOverwrites": {
          "description": "The repository with this flag will allow publishing the same snapshot versions.",
          "type": "boolean"
        }
      },
      "description": "MavenRepositoryConfig is maven related repository details. Provides additional configuration details for repositories of the maven format type."
    },
    "BatchDeleteVersionsRequest": {
      "id": "BatchDeleteVersionsRequest",
      "properties": {
        "names": {
          "type": "array",
          "description": "Required. The names of the versions to delete. The maximum number of versions deleted per batch is determined by the service and is dependent on the available resources in the region.",
          "items": {
            "type": "string"
          }
        },
        "validateOnly": {
          "type": "boolean",
          "description": "If true, the request is performed without deleting data, following AIP-163."
        }
      },
      "description": "The request to delete multiple versions across a repository.",
      "type": "object"
    },
    "ProjectConfig": {
      "description": "The Artifact Registry logging configurations that apply to a Project.",
      "id": "ProjectConfig",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the project's configuration. Always of the form: projects/{project}/locations/{location}/projectConfig"
        },
        "platformLogsConfig": {
          "description": "Optional. Configuration for platform logs.",
          "$ref": "PlatformLogsConfig"
        }
      },
      "type": "object"
    },
    "ImportYumArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportYumArtifactsErrorInfo",
      "properties": {
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportYumArtifactsGcsSource"
        },
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        }
      },
      "description": "Error information explaining why a package was not imported."
    },
    "ImportGoogetArtifactsMetadata": {
      "description": "The operation metadata for importing artifacts.",
      "id": "ImportGoogetArtifactsMetadata",
      "properties": {},
      "type": "object"
    },
    "CleanupPolicy": {
      "description": "Artifact policy configuration for repository cleanup policies.",
      "id": "CleanupPolicy",
      "properties": {
        "condition": {
          "description": "Policy condition for matching versions.",
          "$ref": "CleanupPolicyCondition"
        },
        "mostRecentVersions": {
          "description": "Policy condition for retaining a minimum number of versions. May only be specified with a Keep action.",
          "$ref": "CleanupPolicyMostRecentVersions"
        },
        "id": {
          "type": "string",
          "description": "The user-provided ID of the cleanup policy."
        },
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "DELETE",
            "KEEP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Action not specified.",
            "Delete action.",
            "Keep action."
          ],
          "description": "Policy action."
        }
      },
      "type": "object"
    },
    "ExportArtifactRequest": {
      "type": "object",
      "id": "ExportArtifactRequest",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "The Cloud Storage path to export the artifact to. Should start with the bucket name, and optionally have a directory path. Examples: `dst_bucket`, `dst_bucket/sub_dir`. Existing objects with the same path will be overwritten."
        },
        "sourceTag": {
          "type": "string",
          "description": "The artifact tag to export. Format:projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/tags/{tag}"
        },
        "sourceVersion": {
          "type": "string",
          "description": "The artifact version to export. Format: projects/{project}/locations/{location}/repositories/{repository}/packages/{package}/versions/{version}"
        }
      },
      "description": "The request for exporting an artifact to a destination."
    },
    "UploadGenericArtifactRequest": {
      "type": "object",
      "id": "UploadGenericArtifactRequest",
      "properties": {
        "packageId": {
          "description": "The ID of the package of the generic artifact. If the package does not exist, a new package will be created. The `package_id` should start and end with a letter or number, only contain letters, numbers, hyphens, underscores, and periods, and not exceed 256 characters.",
          "type": "string"
        },
        "filename": {
          "type": "string",
          "description": "The name of the file of the generic artifact to be uploaded. E.g. `example-file.zip` The filename is limited to letters, numbers, and url safe characters, i.e. [a-zA-Z0-9-_.~@]."
        },
        "versionId": {
          "type": "string",
          "description": "The ID of the version of the generic artifact. If the version does not exist, a new version will be created. The version_id must start and end with a letter or number, can only contain lowercase letters, numbers, the following characters [-.+~:], i.e.[a-z0-9-.+~:] and cannot exceed a total of 128 characters. Creating a version called `latest` is not allowed."
        }
      },
      "description": "The request to upload a generic artifact. The created GenericArtifact will have the resource name {parent}/genericArtifacts/package_id:version_id. The created file will have the resource name {parent}/files/package_id:version_id:filename."
    },
    "DownloadFileResponse": {
      "type": "object",
      "id": "DownloadFileResponse",
      "properties": {},
      "description": "The response to download a file."
    },
    "CommonRemoteRepository": {
      "description": "Common remote repository settings type.",
      "id": "CommonRemoteRepository",
      "properties": {
        "uri": {
          "description": "Required. A common public repository base for remote repository.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BatchDeleteVersionsMetadata": {
      "id": "BatchDeleteVersionsMetadata",
      "properties": {
        "failedVersions": {
          "description": "The versions the operation failed to delete.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The metadata of an LRO from deleting multiple versions.",
      "type": "object"
    },
    "AptRepository": {
      "id": "AptRepository",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryCustomRepository"
        },
        "publicRepository": {
          "description": "One of the publicly available Apt repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigAptRepositoryPublicRepository"
        }
      },
      "description": "Configuration for an Apt remote repository.",
      "type": "object"
    },
    "UploadFileRequest": {
      "type": "object",
      "id": "UploadFileRequest",
      "properties": {
        "fileId": {
          "description": "Optional. The ID of the file. If left empty will default to sha256 digest of the content uploaded.",
          "type": "string"
        }
      },
      "description": "The request to upload a file."
    },
    "ImportGoogetArtifactsGcsSource": {
      "type": "object",
      "id": "ImportGoogetArtifactsGcsSource",
      "properties": {
        "uris": {
          "type": "array",
          "description": "Cloud Storage paths URI (e.g., `gs://my_bucket/my_object`).",
          "items": {
            "type": "string"
          }
        },
        "useWildcards": {
          "type": "boolean",
          "description": "Supports URI wildcards for matching multiple objects from a single URI."
        }
      },
      "description": "Google Cloud Storage location where the artifacts currently reside."
    },
    "VulnerabilityScanningConfig": {
      "type": "object",
      "description": "Config on whether to perform vulnerability scanning for resources in this repository, as well as output fields describing current state.",
      "id": "VulnerabilityScanningConfig",
      "properties": {
        "lastEnableTime": {
          "description": "Output only. The last time this repository config was enabled.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "enablementConfig": {
          "enum": [
            "ENABLEMENT_CONFIG_UNSPECIFIED",
            "INHERITED",
            "DISABLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set. This will be treated as INHERITED for Docker repositories and DISABLED for non-Docker repositories.",
            "Scanning is Enabled, but dependent on API enablement.",
            "No automatic vulnerability scanning will be performed for this repository."
          ],
          "description": "Optional. Config for whether this repository has vulnerability scanning disabled."
        },
        "enablementState": {
          "type": "string",
          "enumDescriptions": [
            "Enablement state is unclear.",
            "Repository does not support vulnerability scanning.",
            "Vulnerability scanning is disabled for this repository.",
            "Vulnerability scanning is active for this repository."
          ],
          "enum": [
            "ENABLEMENT_STATE_UNSPECIFIED",
            "SCANNING_UNSUPPORTED",
            "SCANNING_DISABLED",
            "SCANNING_ACTIVE"
          ],
          "description": "Output only. State of feature enablement, combining repository enablement config and API enablement state.",
          "readOnly": true
        },
        "enablementStateReason": {
          "type": "string",
          "description": "Output only. Reason for the repository state.",
          "readOnly": true
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "properties": {
        "version": {
          "type": "integer",
          "format": "int32",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      },
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "type": "object"
    },
    "KfpArtifact": {
      "type": "object",
      "description": "A detailed representation of a KFP artifact.",
      "id": "KfpArtifact",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version associated with the KFP artifact. Must follow the Semantic Versioning standard."
        },
        "name": {
          "description": "Output only. Resource name of the KFP artifact. Since users don't directly interact with this resource, the name will be derived from the associated version. For example, when version = \".../versions/sha256:abcdef...\", the name will be \".../kfpArtifacts/sha256:abcdef...\".",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DockerRepositoryConfig": {
      "description": "DockerRepositoryConfig is docker related repository details. Provides additional configuration details for repositories of the docker format type.",
      "id": "DockerRepositoryConfig",
      "properties": {
        "immutableTags": {
          "type": "boolean",
          "description": "The repository which enabled this flag prevents all tags from being modified, moved or deleted. This does not prevent tags from being created."
        }
      },
      "type": "object"
    },
    "UploadKfpArtifactMediaResponse": {
      "type": "object",
      "description": "The response to upload an artifact.",
      "id": "UploadKfpArtifactMediaResponse",
      "properties": {
        "operation": {
          "description": "Operation that will be returned to the user.",
          "$ref": "Operation"
        }
      }
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "properties": {
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "description": "Request message for `SetIamPolicy` method."
    },
    "YumRepository": {
      "type": "object",
      "description": "Configuration for a Yum remote repository.",
      "id": "YumRepository",
      "properties": {
        "publicRepository": {
          "description": "One of the publicly available Yum repositories supported by Artifact Registry.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryPublicRepository"
        },
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigYumRepositoryCustomRepository"
        }
      }
    },
    "NpmPackage": {
      "description": "NpmPackage represents an npm artifact.",
      "id": "NpmPackage",
      "properties": {
        "packageName": {
          "description": "Package for the artifact.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Time the package was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Required. registry_location, project_id, repository_name and npm_package forms a unique package For example, \"projects/test-project/locations/us-west4/repositories/test-repo/npmPackages/ npm_test:1.0.0\", where \"us-west4\" is the registry_location, \"test-project\" is the project_id, \"test-repo\" is the repository_name and npm_test:1.0.0\" is the npm package.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Version of this package."
        },
        "tags": {
          "description": "Tags attached to this package.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the package was updated.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ListVersionsResponse": {
      "description": "The response from listing versions.",
      "id": "ListVersionsResponse",
      "properties": {
        "versions": {
          "type": "array",
          "description": "The versions returned.",
          "items": {
            "$ref": "Version"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token to retrieve the next page of versions, or empty if there are no more versions to return."
        }
      },
      "type": "object"
    },
    "ImportGoogetArtifactsErrorInfo": {
      "type": "object",
      "id": "ImportGoogetArtifactsErrorInfo",
      "properties": {
        "error": {
          "description": "The detailed error status.",
          "$ref": "Status"
        },
        "gcsSource": {
          "description": "Google Cloud Storage location requested.",
          "$ref": "ImportGoogetArtifactsGcsSource"
        }
      },
      "description": "Error information explaining why a package was not imported."
    },
    "UploadGenericArtifactMetadata": {
      "type": "object",
      "id": "UploadGenericArtifactMetadata",
      "properties": {},
      "description": "The operation metadata for uploading generic artifacts."
    },
    "Package": {
      "type": "object",
      "id": "Package",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the package was created."
        },
        "annotations": {
          "description": "Optional. Client specified annotations.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The display name of the package.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time when the package was last updated. This includes publishing a new version of the package."
        },
        "name": {
          "description": "The name of the package, for example: `projects/p1/locations/us-central1/repositories/repo1/packages/pkg1`. If the package ID part contains slashes, the slashes are escaped.",
          "type": "string"
        }
      },
      "description": "Packages are named collections of versions."
    },
    "DockerRepository": {
      "type": "object",
      "id": "DockerRepository",
      "properties": {
        "customRepository": {
          "description": "Customer-specified remote repository.",
          "$ref": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigDockerRepositoryCustomRepository"
        },
        "publicRepository": {
          "enum": [
            "PUBLIC_REPOSITORY_UNSPECIFIED",
            "DOCKER_HUB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified repository.",
            "Docker Hub."
          ],
          "description": "One of the publicly available Docker repositories supported by Artifact Registry."
        }
      },
      "description": "Configuration for a Docker remote repository."
    },
    "YumArtifact": {
      "type": "object",
      "id": "YumArtifact",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The Artifact Registry resource name of the artifact.",
          "readOnly": true
        },
        "packageType": {
          "description": "Output only. An artifact is a binary or source package.",
          "readOnly": true,
          "enum": [
            "PACKAGE_TYPE_UNSPECIFIED",
            "BINARY",
            "SOURCE"
          ],
          "enumDescriptions": [
            "Package type is not specified.",
            "Binary package (.rpm).",
            "Source package (.srpm)."
          ],
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Output only. Operating system architecture of the artifact.",
          "readOnly": true
        },
        "packageName": {
          "type": "string",
          "description": "Output only. The yum package name of the artifact.",
          "readOnly": true
        }
      },
      "description": "A detailed representation of a Yum artifact."
    },
    "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository": {
      "description": "Customer-specified publicly available remote repository.",
      "id": "GoogleDevtoolsArtifactregistryV1RemoteRepositoryConfigNpmRepositoryCustomRepository",
      "properties": {
        "uri": {
          "type": "string",
          "description": "An http/https uri reference to the upstream remote repository, for ex: \"https://my.npm.registry/\"."
        }
      },
      "type": "object"
    },
    "ListDockerImagesResponse": {
      "type": "object",
      "description": "The response from listing docker images.",
      "id": "ListDockerImagesResponse",
      "properties": {
[...]
