{
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "version": "v1beta1",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "basePath": "",
  "protocol": "rest",
  "description": "",
  "ownerName": "Google",
  "revision": "20260415",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "id": "assuredworkloads:v1beta1",
  "kind": "discovery#restDescription",
  "version_module": true,
  "title": "Assured Workloads API",
  "name": "assuredworkloads",
  "canonicalName": "Assuredworkloads",
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse": {
      "type": "object",
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateResponse",
      "description": "Response for ApplyWorkloadUpdate endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse": {
      "type": "object",
      "properties": {
        "violations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
          },
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "description": "The next page token. Returns empty if reached the last page.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse",
      "description": "Response of ListViolations endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse",
      "description": "Response of listing the compliance updates per workload with pagination.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        },
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate"
          },
          "type": "array",
          "description": "The list of workload updates for a given workload."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse": {
      "type": "object",
      "properties": {
        "setupErrors": {
          "type": "array",
          "items": {
            "enum": [
              "SETUP_ERROR_UNSPECIFIED",
              "ERROR_INVALID_BASE_SETUP",
              "ERROR_MISSING_EXTERNAL_SIGNING_KEY",
              "ERROR_NOT_ALL_SERVICES_ENROLLED",
              "ERROR_SETUP_CHECK_FAILED"
            ],
            "enumDescriptions": [
              "Unspecified.",
              "Invalid states for all customers, to be redirected to AA UI for additional details.",
              "Returned when there is not an EKM key configured.",
              "Returned when there are no enrolled services or the customer is enrolled in CAA only for a subset of services.",
              "Returned when exception was encountered during evaluation of other criteria."
            ],
            "type": "string"
          },
          "description": "Indicates SAA enrollment setup error if any."
        },
        "setupStatus": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "SAA enrollment pending.",
            "SAA enrollment comopleted."
          ],
          "type": "string",
          "description": "Output only. Indicates SAA enrollment status of a given workload.",
          "enum": [
            "SETUP_STATE_UNSPECIFIED",
            "STATUS_PENDING",
            "STATUS_COMPLETE"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse",
      "description": "Signed Access Approvals (SAA) enrollment response."
    },
    "GoogleRpcStatus": {
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "GoogleLongrunningOperation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext": {
      "type": "object",
      "properties": {
        "userName": {
          "description": "Name of the user (or service account) who acknowledged the violation.",
          "type": "string"
        },
        "comment": {
          "description": "Business justification provided towards the acknowledgement of the violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the violation was acknowledged."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext",
      "description": "Violation exception detail."
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableResourceMonitoringResponse",
      "description": "Response for EnableResourceMonitoring endpoint."
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
      "description": "Represents remediation guidance to resolve compliance violation for AssuredWorkload",
      "type": "object",
      "properties": {
        "instructions": {
          "description": "Required. Remediation instructions to resolve violations",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions"
        },
        "compliantValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Values that can resolve the violation For example: for list org policy violations, this will either be the list of allowed or denied values"
        },
        "remediationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified remediation type",
            "Remediation type for boolean org policy",
            "Remediation type for list org policy which have allowed values in the monitoring rule",
            "Remediation type for list org policy which have denied values in the monitoring rule",
            "Remediation type for gcp.restrictCmekCryptoKeyProjects",
            "Remediation type for resource violation.",
            "Remediation type for resource violation due to gcp.restrictNonCmekServices"
          ],
          "description": "Output only. Reemediation type based on the type of org policy values violated",
          "enum": [
            "REMEDIATION_TYPE_UNSPECIFIED",
            "REMEDIATION_BOOLEAN_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_ALLOWED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_LIST_DENIED_VALUES_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESTRICT_CMEK_CRYPTO_KEY_PROJECTS_ORG_POLICY_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION",
            "REMEDIATION_RESOURCE_VIOLATION_NON_CMEK_SERVICES"
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
      "description": "Represents the Compliance Status of this workload",
      "type": "object",
      "properties": {
        "acknowledgedViolationCount": {
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "activeResourceViolationCount": {
          "description": "Number of current resource violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "activeViolationCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of current orgPolicy violations which are not acknowledged."
        },
        "acknowledgedResourceViolationCount": {
          "description": "Number of current resource violations which are not acknowledged.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveImpact": {
      "type": "object",
      "properties": {
        "detail": {
          "description": "Explanation of the impact.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveImpact",
      "description": "Represents the impact of moving the asset to the target."
    },
    "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. The display name of the workload.",
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ],
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string"
        },
        "resourceSettings": {
          "description": "Optional. Resource properties in the input that are used for creating/customizing workload resources.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1CreateWorkloadOperationMetadata",
      "description": "Operation metadata to give request details of CreateWorkload."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings": {
      "properties": {
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime",
          "type": "string"
        },
        "rotationPeriod": {
          "type": "string",
          "format": "google-duration",
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours."
        }
      },
      "deprecated": true,
      "description": "Settings specific to the Key Management Service.",
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
    },
    "GoogleLongrunningOperation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        }
      },
      "id": "GoogleLongrunningOperation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings": {
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "description": "Settings specific to resources needed for CJIS.",
      "deprecated": true,
      "type": "object",
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse",
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "properties": {
        "ekmProvisioningState": {
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ]
        },
        "ekmProvisioningErrorDomain": {
          "type": "string",
          "description": "Indicates Ekm provisioning error if any.",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "description": "Detailed error message if Ekm provisioning fails",
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo",
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Indicates the type of resource.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string"
        },
        "resourceId": {
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object",
      "properties": {
        "resourceId": {
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google.",
          "type": "string"
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1UpdateDetails": {
      "id": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails",
      "description": "The details of the update.",
      "type": "object",
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest": {
      "type": "object",
      "properties": {
        "restrictionType": {
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "description": "Required. The type of restriction for using gcp products in the Workload environment.",
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest",
      "description": "Request for restricting list of available resources in Workload environment."
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation",
      "type": "object",
      "properties": {
        "acknowledgeType": {
          "type": "string",
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "description": "Optional. Acknowledge type of specified violation.",
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ]
        },
        "comment": {
          "description": "Required. Business justification explaining the need for violation acknowledgement",
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "deprecated": true,
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicy": {
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy",
      "description": "This assured workload service object is used to represent the org policy attached to a resource. It servces the same purpose as the orgpolicy.v2.Policy object but with functionality that is limited to what is supported by Assured Workloads(e.g. only one rule under one OrgPolicy object, no conditions, etc).",
      "type": "object",
      "properties": {
        "reset": {
          "description": "Ignores policies set above this resource and restores to the `constraint_default` value. `reset` can only be true when `rules` is empty and `inherit` is false.",
          "type": "boolean"
        },
        "resource": {
          "description": "Resource that the OrgPolicy attaches to. Format: folders/123\" projects/123\".",
          "type": "string"
        },
        "rule": {
          "description": "The rule of the OrgPolicy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule"
        },
        "constraint": {
          "description": "The constraint name of the OrgPolicy. e.g. \"constraints/gcp.resourceLocations\".",
          "type": "string"
        },
        "inherit": {
          "description": "If `inherit` is true, policy rules of the lowest ancestor in the resource hierarchy chain are inherited. If it is false, policy rules are not inherited.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1Violation": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "remediation": {
          "description": "Output only. Compliance violation remediation",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediation",
          "readOnly": true
        },
        "beginTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time of the event which triggered the Violation.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}",
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "type": "string"
        },
        "violationType": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "description": "Output only. Type of the violation",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ]
        },
        "orgPolicyConstraint": {
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "type": "string"
        },
        "acknowledgementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false."
        },
        "parentProjectNumber": {
          "readOnly": true,
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "type": "string"
        },
        "resourceName": {
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the violation",
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ]
        },
        "exceptionAuditLogLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}"
        },
        "exceptionContexts": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationExceptionContext"
          },
          "description": "Output only. List of all the exception detail added for the violation.",
          "readOnly": true
        },
        "associatedOrgPolicyViolationId": {
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time when the Violation record was updated."
        },
        "nonCompliantOrgPolicy": {
          "type": "string",
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "readOnly": true
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "auditLogLink": {
          "readOnly": true,
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        },
        "resolveTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1Violation",
      "description": "Workload monitoring Violation."
    },
    "GoogleCloudAssuredworkloadsV1beta1Workload": {
      "id": "GoogleCloudAssuredworkloadsV1beta1Workload",
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object",
      "properties": {
        "saaEnrollmentResponse": {
          "readOnly": true,
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadSaaEnrollmentResponse"
        },
        "fedrampHighSettings": {
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP High.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings"
        },
        "resources": {
          "readOnly": true,
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceInfo"
          },
          "type": "array"
        },
        "availableUpdates": {
          "type": "integer",
          "description": "Output only. The number of updates available for the workload.",
          "readOnly": true,
          "format": "int32"
        },
        "kajEnrollmentState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "type": "string",
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ]
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "readOnly": true,
          "type": "boolean"
        },
        "provisionedResourcesParent": {
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}",
          "type": "string"
        },
        "ekmProvisioningResponse": {
          "readOnly": true,
          "description": "Output only. Represents the Ekm Provisioning State of the given workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadEkmProvisioningResponse"
        },
        "complianceRegime": {
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "type": "string",
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ]
        },
        "name": {
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only.",
          "type": "string"
        },
        "partner": {
          "description": "Optional. Partner regime associated with this workload.",
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions"
        },
        "compliantButDisallowedServices": {
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "fedrampModerateSettings": {
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for FedRAMP Moderate.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings"
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "displayName": {
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload",
          "type": "string"
        },
        "il4Settings": {
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for IL4.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings"
        },
        "billingAccount": {
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`.",
          "type": "string"
        },
        "kmsSettings": {
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings",
          "deprecated": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Labels applied to the workload.",
          "type": "object"
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations.",
          "type": "string"
        },
        "resourceSettings": {
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadResourceSettings"
          },
          "type": "array"
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions"
        },
        "complianceStatus": {
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadComplianceStatus",
          "readOnly": true
        },
        "cjisSettings": {
          "deprecated": true,
          "description": "Input only. Immutable. Settings specific to resources needed for CJIS.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadCJISSettings"
        },
        "partnerServicesBillingAccount": {
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC",
          "type": "string"
        },
        "complianceUpdatesEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Indicates whether the compliance updates feature is enabled for a workload. The compliance updates feature can be enabled via the EnableComplianceUpdates endpoint."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse",
      "description": "Response for restricting the list of allowed resources."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings": {
      "deprecated": true,
      "description": "Settings specific to resources needed for FedRAMP High.",
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampHighSettings",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via gcloud cli"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Gcloud command to resolve violation"
        },
        "additionalLinks": {
          "description": "Additional urls for more information about steps",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule": {
      "type": "object",
      "properties": {
        "enforce": {
          "description": "BooleanPolicy only.",
          "type": "boolean"
        },
        "allowAll": {
          "description": "ListPolicy only when all values are allowed.",
          "type": "boolean"
        },
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy."
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadPartnerPermissions",
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "type": "object",
      "properties": {
        "accessTransparencyLogsSupportCaseViewer": {
          "description": "Optional. Allow partner to view support case details for an AXT log",
          "type": "boolean"
        },
        "dataLogsViewer": {
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations.",
          "type": "boolean"
        },
        "serviceAccessApprover": {
          "description": "Optional. Allow partner to view access approval logs.",
          "type": "boolean"
        },
        "assuredWorkloadsMonitoring": {
          "description": "Optional. Allow partner to view violation alerts.",
          "type": "boolean"
        }
      }
    },
    "GoogleProtobufEmpty": {
      "type": "object",
      "properties": {},
      "id": "GoogleProtobufEmpty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues": {
      "type": "object",
      "properties": {
        "allowedValues": {
          "description": "List of values allowed at this resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "deniedValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyPolicyRuleStringValues",
      "description": "The values allowed for a ListPolicy."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult": {
      "type": "object",
      "properties": {
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of warnings. These are risks that may or may not result in compliance violations."
        },
        "blockers": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group."
    },
    "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse": {
      "type": "object",
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse",
      "description": "Response for violation acknowledgement"
    },
    "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1EnableComplianceUpdatesResponse",
      "description": "Response for EnableComplianceUpdates endpoint.",
      "type": "object",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateOperationMetadata",
      "description": "Operation metadata to give request details of ApplyWorkloadUpdate.",
      "type": "object",
      "properties": {
        "action": {
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ],
          "description": "Optional. The time the operation was created.",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "type": "string"
        },
        "updateName": {
          "description": "Required. The resource name of the update",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Optional. Output only. The time the operation was created."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings": {
      "description": "Settings specific to resources needed for FedRAMP Moderate.",
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadFedrampModerateSettings",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse",
      "description": "Response of ListWorkloads endpoint.",
      "type": "object",
      "properties": {
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1Workload"
          }
        },
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions": {
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructions",
      "description": "Instructions to remediate violation",
      "type": "object",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse",
      "description": "Response containing the analysis results for the hypothetical resource move.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token. Is empty if the last page is reached.",
          "type": "string"
        },
        "assetMoveAnalyses": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis"
          },
          "type": "array",
          "description": "List of analysis results for each asset in scope."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "properties": {
        "steps": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Steps to resolve violation via cloud console"
        },
        "consoleUris": {
          "description": "Link to console page where violations can be resolved",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ViolationRemediationInstructionsConsole",
      "description": "Remediation instructions to resolve violation via cloud console"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions": {
      "type": "object",
      "properties": {
        "kajEnrollmentType": {
          "type": "string",
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadWorkloadOptions",
      "description": "Options to be set for the given created workload."
    },
    "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup": {
      "id": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup",
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Name of the analysis group.",
          "type": "string"
        },
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisResult"
        },
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings": {
      "description": "Settings specific to resources needed for IL4.",
      "deprecated": true,
      "properties": {
        "kmsSettings": {
          "description": "Input only. Immutable. Settings used to create a CMEK crypto key.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1WorkloadKMSSettings"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadIL4Settings",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1beta1WorkloadUpdate",
      "description": "A workload update is a change to the workload's compliance configuration.",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the update was created."
        },
        "state": {
          "description": "Output only. The state of the update.",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The time the update was last updated.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1UpdateDetails"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis": {
      "id": "GoogleCloudAssuredworkloadsV1beta1AssetMoveAnalysis",
      "description": "Represents move analysis results for an asset.",
      "type": "object",
      "properties": {
        "analysisGroups": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1beta1MoveAnalysisGroup"
          },
          "description": "List of eligible analyses performed for the asset."
        },
        "assetType": {
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
          "type": "string"
        },
        "asset": {
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1",
          "type": "string"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate": {
      "type": "object",
      "properties": {
        "appliedPolicy": {
          "description": "The org policy currently applied on the assured workload resource.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy"
        },
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1beta1OrgPolicy"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1OrgPolicyUpdate",
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered."
    },
    "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "The action to be performed on the update.",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest",
      "description": "Request to apply update to a workload."
    }
  },
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "list": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1beta1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.operations.get",
                  "httpMethod": "GET"
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Page size.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query"
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "location": "query",
                          "format": "google-datetime",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. Page token returned from previous request.",
                          "location": "query"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListViolationsResponse"
                      },
                      "path": "v1beta1/{+parent}/violations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`"
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "path": "v1beta1/{+name}",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1Violation"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get",
                      "httpMethod": "GET"
                    },
                    "acknowledge": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationResponse"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "path": "v1beta1/{+name}:acknowledge",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1AcknowledgeViolationRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$"
                        }
                      }
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadUpdatesResponse"
                      },
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "description": "This endpoint lists all updates for the given workload.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta1/{+parent}/updates",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Page token returned from previous request.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                          "location": "path",
                          "required": true,
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "type": "string"
                        }
                      }
                    },
                    "apply": {
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1beta1ApplyWorkloadUpdateRequest"
                      },
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1beta1/{+name}:apply",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "This endpoint creates a new operation to apply the given update."
                    }
                  }
                }
              },
              "methods": {
                "analyzeWorkloadMove": {
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1AnalyzeWorkloadMoveResponse"
                  },
                  "path": "v1beta1/{+target}:analyzeWorkloadMove",
                  "parameterOrder": [
                    "target"
                  ],
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "parameters": {
                    "project": {
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests.",
                      "location": "query"
                    },
                    "assetTypes": {
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "location": "query",
                      "format": "int32"
                    },
                    "target": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\"",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Page size.",
                      "location": "query",
                      "format": "int32"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1ListWorkloadsResponse"
                  },
                  "path": "v1beta1/{+parent}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node."
                },
                "restrictAllowedResources": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesResponse"
                  },
                  "flatPath": "v1beta1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta1/{+name}:restrictAllowedResources",
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1beta1RestrictAllowedResourcesRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "location": "path"
                    }
                  }
                },
                "delete": {
[...]
