{
  "version": "v1",
  "baseUrl": "https://assuredworkloads.googleapis.com/",
  "ownerDomain": "google.com",
  "revision": "20260504",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://assuredworkloads.mtls.googleapis.com/",
  "title": "Assured Workloads API",
  "batchPath": "batch",
  "description": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "kind": "discovery#restDescription",
  "version_module": true,
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "organizations": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.get"
                },
                "list": {
                  "response": {
                    "$ref": "GoogleLongrunningListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "assuredworkloads.organizations.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                }
              }
            },
            "workloads": {
              "resources": {
                "violations": {
                  "methods": {
                    "acknowledge": {
                      "path": "v1/{+name}:acknowledge",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Violation to acknowledge. Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Acknowledges an existing violation. By acknowledging a violation, users acknowledge the existence of a compliance violation in their workload and decide to ignore it due to a valid business justification. Acknowledgement is a permanent operation and it cannot be reverted.",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest"
                      },
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}:acknowledge",
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.acknowledge"
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1Violation"
                      },
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Violation to fetch (ie. Violation.name). Format: organizations/{organization}/locations/{location}/workloads/{workload}/violations/{violation}",
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/violations/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves Assured Workload Violation based on ID.",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations/{violationsId}",
                      "httpMethod": "GET",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.get"
                    },
                    "list": {
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
                      },
                      "path": "v1/{+parent}/violations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/violations",
                      "id": "assuredworkloads.organizations.locations.workloads.violations.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists the Violations in the AssuredWorkload Environment. Callers may also choose to read across multiple Workloads as per [AIP-159](https://google.aip.dev/159) by using '-' (the hyphen or dash character) as a wildcard character instead of workload-id in the parent. Format `organizations/{org_id}/locations/{location}/workloads/-`",
                      "parameters": {
                        "filter": {
                          "description": "Optional. A custom filter for filtering by the Violations properties.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The Workload name. Format `organizations/{org_id}/locations/{location}/workloads/{workload}`."
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Page size.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Page token returned from previous request."
                        },
                        "interval.startTime": {
                          "description": "The start of the time window.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        },
                        "interval.endTime": {
                          "description": "The end of the time window.",
                          "format": "google-datetime",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "updates": {
                  "methods": {
                    "list": {
                      "id": "assuredworkloads.organizations.locations.workloads.updates.list",
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Page size. The default value is 20 and the max allowed value is 100.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Page token returned from previous request."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "This endpoint lists all updates for the given workload.",
                      "response": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/updates"
                    },
                    "apply": {
                      "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}/updates/{updatesId}:apply",
                      "httpMethod": "POST",
                      "id": "assuredworkloads.organizations.locations.workloads.updates.apply",
                      "parameters": {
                        "name": {
                          "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+/updates/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the update. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}/updates/{update_id}"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "This endpoint creates a new operation to apply the given update.",
                      "request": {
                        "$ref": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest"
                      },
                      "response": {
                        "$ref": "GoogleLongrunningOperation"
                      },
                      "path": "v1/{+name}:apply",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets Assured Workload associated with a CRM Node",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name of the Workload to fetch. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\".",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.get",
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    },
                    "etag": {
                      "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the workload. Make sure that workload's direct children are already in a deleted state, otherwise the request will fail with a FAILED_PRECONDITION error. In addition to assuredworkloads.workload.delete permission, the user should also have orgpolicy.policy.set permission on the deleted folder to remove Assured Workloads OrgPolicies.",
                  "id": "assuredworkloads.organizations.locations.workloads.delete",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "httpMethod": "DELETE"
                },
                "patch": {
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "PATCH",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}",
                  "id": "assuredworkloads.organizations.locations.workloads.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing workload. Currently allows updating of workload display_name and labels. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. The list of fields to be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  }
                },
                "create": {
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates Assured Workload.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The resource name of the new Workload's parent. Must be of the form `organizations/{org_id}/locations/{location_id}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "externalId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A identifier associated with the workload and underlying projects which allows for the break down of billing costs for a workload. The value provided for the identifier will add a label to the workload and contained projects with the identifier as the value."
                    }
                  },
                  "id": "assuredworkloads.organizations.locations.workloads.create",
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workloads",
                  "response": {
                    "$ref": "GoogleLongrunningOperation"
                  }
                },
                "analyzeWorkloadMove": {
                  "httpMethod": "GET",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:analyzeWorkloadMove",
                  "id": "assuredworkloads.organizations.locations.workloads.analyzeWorkloadMove",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Analyzes a hypothetical move of a source resource to a target workload to surface compliance risks. The analysis is best effort and is not guaranteed to be exhaustive.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page size. If a value is not specified, the default value of 10 is used. The maximum value is 50.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The page token from the previous response. It needs to be passed in the second and following requests."
                    },
                    "target": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource ID of the folder-based destination workload. This workload is where the source resource will hypothetically be moved to. Specify the workload's relative resource name, formatted as: \"organizations/{ORGANIZATION_ID}/locations/{LOCATION_ID}/workloads/{WORKLOAD_ID}\" For example: \"organizations/123/locations/us-east1/workloads/assured-workload-2\""
                    },
                    "project": {
                      "location": "query",
                      "type": "string",
                      "description": "The source type is a project. Specify the project's relative resource name, formatted as either a project number or a project ID: \"projects/{PROJECT_NUMBER}\" or \"projects/{PROJECT_ID}\" For example: \"projects/951040570662\" when specifying a project number, or \"projects/my-project-123\" when specifying a project ID."
                    },
                    "assetTypes": {
                      "description": "Optional. List of asset types to be analyzed, including and under the source resource. If empty, all assets are analyzed. The complete list of asset types is available [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types).",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1AnalyzeWorkloadMoveResponse"
                  },
                  "path": "v1/{+target}:analyzeWorkloadMove",
                  "parameterOrder": [
                    "target"
                  ]
                },
                "restrictAllowedResources": {
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:restrictAllowedResources",
                  "id": "assuredworkloads.organizations.locations.workloads.restrictAllowedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Restrict the list of resources allowed in the Workload environment. The current list of allowed products can be found at https://cloud.google.com/assured-workloads/docs/supported-products In addition to assuredworkloads.workload.update permission, the user should also have orgpolicy.policy.set permission on the folder resource to use this functionality.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the Workload. This is the workloads's relative path in the API, formatted as \"organizations/{organization_id}/locations/{location_id}/workloads/{workload_id}\". For example, \"organizations/123/locations/us-east1/workloads/assured-workload-1\"."
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse"
                  },
                  "path": "v1/{+name}:restrictAllowedResources",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "enableResourceMonitoring": {
                  "httpMethod": "POST",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableResourceMonitoring",
                  "id": "assuredworkloads.organizations.locations.workloads.enableResourceMonitoring",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Enable resource violation monitoring for a workload.",
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse"
                  },
                  "path": "v1/{+name}:enableResourceMonitoring",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "enableComplianceUpdates": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:enableComplianceUpdates",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}",
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "This endpoint enables Assured Workloads service to offer compliance updates for the folder based assured workload. It sets up an Assured Workloads Service Agent, having permissions to read compliance controls (for example: Org Policies) applied on the workload. The caller must have `resourcemanager.folders.getIamPolicy` and `resourcemanager.folders.setIamPolicy` permissions on the assured workload folder.",
                  "id": "assuredworkloads.organizations.locations.workloads.enableComplianceUpdates",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:enableComplianceUpdates",
                  "httpMethod": "PUT"
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent Resource to list workloads from. Must be of the form `organizations/{org_id}/locations/{location}`.",
                      "pattern": "^organizations/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Page size.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Page token returned from previous request. Page token contains context from previous request. Page token needs to be passed in the second and following requests.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "A custom filter for filtering by properties of a workload. At this time, only filtering by labels is supported."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Assured Workloads under a CRM Node.",
                  "id": "assuredworkloads.organizations.locations.workloads.list",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workloads",
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
                  }
                },
                "mutatePartnerPermissions": {
                  "httpMethod": "PATCH",
                  "flatPath": "v1/organizations/{organizationsId}/locations/{locationsId}/workloads/{workloadsId}:mutatePartnerPermissions",
                  "id": "assuredworkloads.organizations.locations.workloads.mutatePartnerPermissions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Update the permissions settings for an existing partner workload. For force updates don't set etag field in the Workload. Only one update operation per workload can be in progress.",
                  "parameters": {
                    "name": {
                      "pattern": "^organizations/[^/]+/locations/[^/]+/workloads/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The `name` field is used to identify the workload. Format: organizations/{org_id}/locations/{location_id}/workloads/{workload_id}"
                    }
                  },
                  "request": {
                    "$ref": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest"
                  },
                  "response": {
                    "$ref": "GoogleCloudAssuredworkloadsV1Workload"
                  },
                  "path": "v1/{+name}:mutatePartnerPermissions",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "assuredworkloads": {
      "methods": {
        "archiveResourceEvents": {
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse"
          },
          "path": "v1/assuredworkloads:archiveResourceEvents",
          "parameterOrder": [],
          "flatPath": "v1/assuredworkloads:archiveResourceEvents",
          "httpMethod": "POST",
          "id": "assuredworkloads.assuredworkloads.archiveResourceEvents",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Finds orphan ResourceEvents matching the criteria and moves them to the ArchivedResourceEvents table.",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest"
          }
        },
        "revertArchivedResourceEvents": {
          "path": "v1/assuredworkloads:revertArchivedResourceEvents",
          "parameterOrder": [],
          "response": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Finds matching ArchivedResourceEvents and moves them back to the ResourceEvents table.",
          "request": {
            "$ref": "GoogleCloudAssuredworkloadsV1RevertArchivedResourceEventsRequest"
          },
          "flatPath": "v1/assuredworkloads:revertArchivedResourceEvents",
          "httpMethod": "POST",
          "id": "assuredworkloads.assuredworkloads.revertArchivedResourceEvents"
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/learnmoreurl",
  "name": "assuredworkloads",
  "canonicalName": "Assuredworkloads",
  "id": "assuredworkloads:v1",
  "rootUrl": "https://assuredworkloads.googleapis.com/",
  "basePath": "",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    }
  },
  "ownerName": "Google",
  "schemas": {
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest": {
      "properties": {
        "acknowledgeType": {
          "enumDescriptions": [
            "Acknowledge type unspecified.",
            "Acknowledge only the specific violation.",
            "Acknowledge specified orgPolicy violation and also associated resource violations."
          ],
          "enum": [
            "ACKNOWLEDGE_TYPE_UNSPECIFIED",
            "SINGLE_VIOLATION",
            "EXISTING_CHILD_RESOURCE_VIOLATIONS"
          ],
          "description": "Optional. Acknowledge type of specified violation.",
          "type": "string"
        },
        "comment": {
          "type": "string",
          "description": "Required. Business justification explaining the need for violation acknowledgement"
        },
        "nonCompliantOrgPolicy": {
          "description": "Optional. This field is deprecated and will be removed in future version of the API. Name of the OrgPolicy which was modified with non-compliant change and resulted in this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "type": "string",
          "deprecated": true
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationRequest",
      "description": "Request for acknowledging the violation",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues": {
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues",
      "properties": {
        "allowedValues": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "List of values allowed at this resource."
        },
        "deniedValues": {
          "items": {
            "type": "string"
          },
          "description": "List of values denied at this resource.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "The values allowed for a ListPolicy."
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse": {
      "description": "Response for ApplyWorkloadUpdate endpoint.",
      "type": "object",
      "properties": {
        "appliedUpdate": {
          "description": "The update that was applied.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateResponse"
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse": {
      "type": "object",
      "description": "Response for restricting the list of allowed resources.",
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesResponse",
      "properties": {}
    },
    "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions": {
      "description": "Options to be set for the given created workload.",
      "type": "object",
      "properties": {
        "kajEnrollmentType": {
          "enumDescriptions": [
            "KAJ Enrollment type is unspecified",
            "KAT sets External, Hardware, and Software key feature logging only to TRUE."
          ],
          "enum": [
            "KAJ_ENROLLMENT_TYPE_UNSPECIFIED",
            "KEY_ACCESS_TRANSPARENCY_OFF"
          ],
          "description": "Optional. Specifies type of KAJ Enrollment if provided.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule": {
      "properties": {
        "allowAll": {
          "type": "boolean",
          "description": "ListPolicy only when all values are allowed."
        },
        "denyAll": {
          "description": "ListPolicy only when all values are denied.",
          "type": "boolean"
        },
        "values": {
          "description": "ListPolicy only when custom values are specified.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRuleStringValues"
        },
        "enforce": {
          "type": "boolean",
          "description": "BooleanPolicy only."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyPolicyRule",
      "description": "A rule used to express this policy.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus": {
      "properties": {
        "activeViolationCount": {
          "description": "Number of current orgPolicy violations which are not acknowledged.",
          "format": "int32",
          "type": "integer"
        },
        "activeResourceViolationCount": {
          "type": "integer",
          "description": "Number of current resource violations which are acknowledged.",
          "format": "int32"
        },
        "acknowledgedResourceViolationCount": {
          "type": "integer",
          "description": "Number of current resource violations which are not acknowledged.",
          "format": "int32"
        },
        "acknowledgedViolationCount": {
          "description": "Number of current orgPolicy violations which are acknowledged.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus",
      "description": "Represents the Compliance Status of this workload",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole": {
      "type": "object",
      "description": "Remediation instructions to resolve violation via cloud console",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole",
      "properties": {
        "steps": {
          "description": "Steps to resolve violation via cloud console",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "consoleUris": {
          "type": "array",
          "description": "Link to console page where violations can be resolved",
          "items": {
            "type": "string"
          }
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional urls for more information about steps"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings": {
      "type": "object",
      "description": "Settings specific to the Key Management Service.",
      "properties": {
        "nextRotationTime": {
          "description": "Required. Input only. Immutable. The time at which the Key Management Service will automatically create a new version of the crypto key and mark it as the primary.",
          "format": "google-datetime",
          "type": "string"
        },
        "rotationPeriod": {
          "description": "Required. Input only. Immutable. [next_rotation_time] will be advanced by this period when the Key Management Service automatically rotates a key. Must be at least 24 hours and at most 876,000 hours.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
      "deprecated": true
    },
    "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions": {
      "description": "Permissions granted to the AW Partner SA account for the customer workload",
      "type": "object",
      "properties": {
        "dataLogsViewer": {
          "type": "boolean",
          "description": "Optional. Allow the partner to view inspectability logs and monitoring violations."
        },
        "serviceAccessApprover": {
          "type": "boolean",
          "description": "Optional. Allow partner to view access approval logs."
        },
        "assuredWorkloadsMonitoring": {
          "type": "boolean",
          "description": "Optional. Allow partner to view violation alerts."
        },
        "accessTransparencyLogsSupportCaseViewer": {
          "type": "boolean",
          "description": "Optional. Allow partner to view support case details for an AXT log"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse": {
      "description": "Response of ListWorkloads endpoint.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Return empty if reached the last page."
        },
        "workloads": {
          "description": "List of Workloads under a given parent.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Workload"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadsResponse"
    },
    "GoogleCloudAssuredworkloadsV1Violation": {
      "type": "object",
      "description": "Workload monitoring Violation.",
      "id": "GoogleCloudAssuredworkloadsV1Violation",
      "properties": {
        "associatedOrgPolicyViolationId": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Violation Id of the org-policy violation due to which the resource violation is caused. Empty for org-policy violations."
        },
        "beginTime": {
          "description": "Output only. Time of the event which triggered the Violation.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "nonCompliantOrgPolicy": {
          "description": "Output only. Immutable. Name of the OrgPolicy which was modified with non-compliant change and resulted this violation. Format: projects/{project_number}/policies/{constraint_name} folders/{folder_id}/policies/{constraint_name} organizations/{organization_id}/policies/{constraint_name}",
          "readOnly": true,
          "type": "string"
        },
        "violationType": {
          "type": "string",
          "description": "Output only. Type of the violation",
          "enum": [
            "VIOLATION_TYPE_UNSPECIFIED",
            "ORG_POLICY",
            "RESOURCE"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "Org Policy Violation.",
            "Resource Violation."
          ],
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time when the Violation record was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "resolveTime": {
          "description": "Output only. Time of the event which fixed the Violation. If the violation is ACTIVE this will be empty.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "acknowledged": {
          "description": "A boolean that indicates if the violation is acknowledged",
          "type": "boolean"
        },
        "acknowledgementTime": {
          "description": "Optional. Timestamp when this violation was acknowledged first. Check exception_contexts to find the last time the violation was acknowledged when there are more than one violations. This field will be absent when acknowledged field is marked as false.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Name of the Violation. Format: organizations/{organization}/locations/{location}/workloads/{workload_id}/violations/{violations_id}"
        },
        "resourceName": {
          "description": "Optional. Output only. Name of the resource like //storage.googleapis.com/myprojectxyz-testbucket. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "resourceType": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Type of the resource like compute.googleapis.com/Disk, etc. Empty for org-policy violations."
        },
        "orgPolicyConstraint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The org-policy-constraint that was incorrectly changed, which resulted in this violation.",
          "deprecated": true
        },
        "description": {
          "description": "Output only. Description for the Violation. e.g. OrgPolicy gcp.resourceLocations has non compliant value.",
          "readOnly": true,
          "type": "string"
        },
        "exceptionAuditLogLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Audit Log link to find business justification provided for violation exception. Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{protoPayload.methodName}{timeRange}{organization}"
        },
        "remediation": {
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediation",
          "readOnly": true,
          "description": "Output only. Compliance violation remediation"
        },
        "category": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Category under which this violation is mapped. e.g. Location, Service Usage, Access, Encryption, etc."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "Violation is resolved.",
            "Violation is Unresolved",
            "Violation is Exception"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RESOLVED",
            "UNRESOLVED",
            "EXCEPTION"
          ],
          "description": "Output only. State of the violation",
          "type": "string"
        },
        "auditLogLink": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. Audit Log Link for violated resource Format: https://console.cloud.google.com/logs/query;query={logName}{protoPayload.resourceName}{timeRange}{folder}"
        },
        "parentProjectNumber": {
          "description": "Optional. Output only. Parent project number where resource is present. Empty for org-policy violations.",
          "readOnly": true,
          "type": "string"
        },
        "exceptionContexts": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext"
          },
          "description": "Output only. List of all the exception detail added for the violation.",
          "readOnly": true,
          "type": "array"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest": {
      "id": "GoogleCloudAssuredworkloadsV1RestrictAllowedResourcesRequest",
      "properties": {
        "restrictionType": {
          "enum": [
            "RESTRICTION_TYPE_UNSPECIFIED",
            "ALLOW_ALL_GCP_RESOURCES",
            "ALLOW_COMPLIANT_RESOURCES",
            "APPEND_COMPLIANT_RESOURCES"
          ],
          "enumDescriptions": [
            "Unknown restriction type.",
            "Allow the use all of all gcp products, irrespective of the compliance posture. This effectively removes gcp.restrictServiceUsage OrgPolicy on the AssuredWorkloads Folder.",
            "Based on Workload's compliance regime, allowed list changes. See - https://cloud.google.com/assured-workloads/docs/supported-products for the list of supported resources.",
            "Similar to ALLOW_COMPLIANT_RESOURCES but adds the list of compliant resources to the existing list of compliant resources. Effective org-policy of the Folder is considered to ensure there is no disruption to the existing customer workflows."
          ],
          "type": "string",
          "description": "Required. The type of restriction for using gcp products in the Workload environment."
        }
      },
      "type": "object",
      "description": "Request for restricting list of available resources in Workload environment."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions": {
      "type": "object",
      "description": "Instructions to remediate violation",
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructions",
      "properties": {
        "gcloudInstructions": {
          "description": "Remediation instructions to resolve violation via gcloud cli",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud"
        },
        "consoleInstructions": {
          "description": "Remediation instructions to resolve violation via cloud console",
          "$ref": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsConsole"
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1Workload": {
      "description": "A Workload object for managing highly regulated workloads of cloud customers.",
      "type": "object",
      "properties": {
        "partnerServicesBillingAccount": {
          "type": "string",
          "description": "Optional. Billing account necessary for purchasing services from Sovereign Partners. This field is required for creating SIA/PSN/CNTXT/Telefonica partner workloads. The caller should have 'billing.resourceAssociations.create' IAM permission on this billing-account. The format of this string is billingAccounts/AAAAAA-BBBBBB-CCCCCC"
        },
        "kajEnrollmentState": {
          "description": "Output only. Represents the KAJ enrollment state of the given workload.",
          "type": "string",
          "enumDescriptions": [
            "Default State for KAJ Enrollment.",
            "Pending State for KAJ Enrollment.",
            "Complete State for KAJ Enrollment."
          ],
          "enum": [
            "KAJ_ENROLLMENT_STATE_UNSPECIFIED",
            "KAJ_ENROLLMENT_STATE_PENDING",
            "KAJ_ENROLLMENT_STATE_COMPLETE"
          ],
          "readOnly": true
        },
        "compliantButDisallowedServices": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Urls for services which are compliant for this Assured Workload, but which are currently disallowed by the ResourceUsageRestriction org policy. Invoke RestrictAllowedResources endpoint to allow your project developers to use these services in their environment.",
          "items": {
            "type": "string"
          }
        },
        "partner": {
          "enumDescriptions": [
            "",
            "Enum representing S3NS (Thales) partner.",
            "Enum representing T_SYSTEM (TSI) partner.",
            "Enum representing SIA_MINSAIT (Indra) partner.",
            "Enum representing PSN (TIM) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner.",
            "Enum representing CNTXT (Kingdom of Saudi Arabia) partner offering without EKM.",
            "Enum representing Telefonica (Spain) partner."
          ],
          "enum": [
            "PARTNER_UNSPECIFIED",
            "LOCAL_CONTROLS_BY_S3NS",
            "SOVEREIGN_CONTROLS_BY_T_SYSTEMS",
            "SOVEREIGN_CONTROLS_BY_SIA_MINSAIT",
            "SOVEREIGN_CONTROLS_BY_PSN",
            "SOVEREIGN_CONTROLS_BY_CNTXT",
            "SOVEREIGN_CONTROLS_BY_CNTXT_NO_EKM",
            "SPAIN_DATA_BOUNDARY_BY_TELEFONICA"
          ],
          "description": "Optional. Partner regime associated with this workload.",
          "type": "string"
        },
        "partnerPermissions": {
          "description": "Optional. Permissions granted to the AW Partner SA account for the customer workload",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "resourceSettings": {
          "type": "array",
          "description": "Input only. Resource properties that are used to customize workload resources. These properties (such as custom project id) will be used to create workload resources if possible. This field is optional.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings"
          }
        },
        "labels": {
          "description": "Optional. Labels applied to the workload.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableSovereignControls": {
          "description": "Optional. Indicates the sovereignty status of the given workload. Currently meant to be used by Europe/Canada customers.",
          "type": "boolean"
        },
        "billingAccount": {
          "type": "string",
          "description": "Optional. The billing account used for the resources which are direct children of workload. This billing account is initially associated with the resources created as part of Workload creation. After the initial creation of these resources, the customer can change the assigned billing account. The resource name has the form `billingAccounts/{billing_account_id}`. For example, `billingAccounts/012345-567890-ABCDEF`."
        },
        "ekmProvisioningResponse": {
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse",
          "readOnly": true,
          "description": "Output only. Represents the Ekm Provisioning State of the given workload."
        },
        "workloadOptions": {
          "description": "Optional. Options to be set for the given created workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadWorkloadOptions"
        },
        "etag": {
          "type": "string",
          "description": "Optional. ETag of the workload, it is calculated on the basis of the Workload contents. It will be used in Update & Delete operations."
        },
        "kmsSettings": {
          "deprecated": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadKMSSettings",
          "description": "Input only. Settings used to create a CMEK crypto key. When set, a project with a KMS CMEK key is provisioned. This field is deprecated as of Feb 28, 2022. In order to create a Keyring, callers should specify, ENCRYPTION_KEYS_PROJECT or KEYRING in ResourceSettings.resource_type field."
        },
        "saaEnrollmentResponse": {
          "description": "Output only. Represents the SAA enrollment response of the given workload. SAA enrollment response is queried during GetWorkload call. In failure cases, user friendly error message is shown in SAA details page.",
          "readOnly": true,
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadSaaEnrollmentResponse"
        },
        "name": {
          "type": "string",
          "description": "Optional. The resource name of the workload. Format: organizations/{organization}/locations/{location}/workloads/{workload} Read-only."
        },
        "complianceRegime": {
          "description": "Required. Immutable. Compliance Regime associated with this workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Deprecated: Consider using the Data Boundary for US Healthcare and Life Sciences control package instead.",
            "Use the DATA_BOUNDARY_FOR_IL2 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL4 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IL5 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075 enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the ISRAEL_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_ITAR enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the JAPAN_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the REGIONAL_DATA_BOUNDARY enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the US_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed."
          ],
          "enum": [
            "COMPLIANCE_REGIME_UNSPECIFIED",
            "ASSURED_WORKLOADS_FOR_PARTNERS",
            "AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT",
            "CANADA_DATA_BOUNDARY_AND_SUPPORT",
            "DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS",
            "DATA_BOUNDARY_FOR_CANADA_PROTECTED_B",
            "DATA_BOUNDARY_FOR_CJIS",
            "DATA_BOUNDARY_FOR_FEDRAMP_HIGH",
            "DATA_BOUNDARY_FOR_FEDRAMP_MODERATE",
            "DATA_BOUNDARY_FOR_IL2",
            "DATA_BOUNDARY_FOR_IL4",
            "DATA_BOUNDARY_FOR_IL5",
            "DATA_BOUNDARY_FOR_IRS_PUBLICATION_1075",
            "DATA_BOUNDARY_FOR_ITAR",
            "EU_DATA_BOUNDARY_AND_SUPPORT",
            "ISRAEL_DATA_BOUNDARY_AND_SUPPORT",
            "JAPAN_DATA_BOUNDARY",
            "KSA_DATA_BOUNDARY_WITH_ACCESS_JUSTIFICATIONS",
            "REGIONAL_DATA_BOUNDARY",
            "US_DATA_BOUNDARY_AND_SUPPORT",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES",
            "US_DATA_BOUNDARY_FOR_HEALTHCARE_AND_LIFE_SCIENCES_WITH_SUPPORT",
            "AU_REGIONS_AND_US_SUPPORT",
            "CA_PROTECTED_B",
            "CA_REGIONS_AND_SUPPORT",
            "CANADA_CONTROLLED_GOODS",
            "CJIS",
            "EU_REGIONS_AND_SUPPORT",
            "FEDRAMP_HIGH",
            "FEDRAMP_MODERATE",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS",
            "HEALTHCARE_AND_LIFE_SCIENCES_CONTROLS_US_SUPPORT",
            "HIPAA",
            "HITRUST",
            "IL2",
            "IL4",
            "IL5",
            "IRS_1075",
            "ISR_REGIONS",
            "ISR_REGIONS_AND_SUPPORT",
            "ITAR",
            "JP_REGIONS_AND_SUPPORT",
            "KSA_REGIONS_AND_SUPPORT_WITH_SOVEREIGNTY_CONTROLS",
            "REGIONAL_CONTROLS",
            "US_REGIONAL_ACCESS"
          ]
        },
        "violationNotificationsEnabled": {
          "description": "Optional. Indicates whether the e-mail notification for a violation is enabled for a workload. This value will be by default True, and if not present will be considered as true. This should only be updated via updateWorkload call. Any Changes to this field during the createWorkload call will not be honored. This will always be true while creating the workload.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Immutable. The Workload creation timestamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "complianceStatus": {
          "readOnly": true,
          "description": "Output only. Count of active Violations in the Workload.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadComplianceStatus"
        },
        "resourceMonitoringEnabled": {
          "description": "Output only. Indicates whether resource monitoring is enabled for workload or not. It is true when Resource feed is subscribed to AWM topic and AWM Service Agent Role is binded to AW Service Account for resource Assured workload.",
          "readOnly": true,
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user-assigned display name of the Workload. When present it must be between 4 to 30 characters. Allowed characters are: lowercase and uppercase letters, numbers, hyphen, and spaces. Example: My Workload"
        },
        "provisionedResourcesParent": {
          "type": "string",
          "description": "Input only. The parent resource for the resources managed by this Assured Workload. May be either empty or a folder resource which is a child of the Workload parent. If not specified all resources are created under the parent organization. Format: folders/{folder_id}"
        },
        "resources": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
          },
          "description": "Output only. The resources associated with this workload. These resources will be created when creating the workload. If any of the projects already exist, the workload creation will fail. Always read only.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1Workload"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings": {
      "properties": {
        "resourceId": {
          "type": "string",
          "description": "Resource identifier. For a project this represents project_id. If the project is already taken, the workload creation will fail. For KeyRing, this represents the keyring_id. For a folder, don't set this value as folder_id is assigned by Google."
        },
        "resourceType": {
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "description": "Indicates the type of resource. This field should be specified to correspond the id to the right project type (CONSUMER_PROJECT or ENCRYPTION_KEYS_PROJECT)",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "displayName": {
          "description": "User-assigned resource display name. If not empty it will be used to create a resource with the specified name.",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceSettings",
      "description": "Represent the custom settings for the resources to be created.",
      "type": "object"
    },
    "GoogleProtobufEmpty": {
      "id": "GoogleProtobufEmpty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse": {
      "type": "object",
      "description": "Response for archiving resource events.",
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsResponse",
      "properties": {
        "movedEventsCount": {
          "type": "integer",
          "description": "The total number of events successfully moved to the archive table.",
          "format": "int32"
        }
      }
    },
    "GoogleLongrunningOperation": {
      "id": "GoogleLongrunningOperation",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpcStatus"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GoogleCloudAssuredworkloadsV1ViolationExceptionContext": {
      "properties": {
        "comment": {
          "description": "Business justification provided towards the acknowledgement of the violation.",
          "type": "string"
        },
        "userName": {
          "type": "string",
          "description": "Name of the user (or service account) who acknowledged the violation."
        },
        "acknowledgementTime": {
          "type": "string",
          "description": "Timestamp when the violation was acknowledged.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationExceptionContext",
      "description": "Violation exception detail.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup": {
      "type": "object",
      "description": "Represents a logical group of checks performed for an asset. If successful, the group contains the analysis result, otherwise it contains an error with the failure reason.",
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup",
      "properties": {
        "analysisResult": {
          "description": "Result of a successful analysis.",
          "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult"
        },
        "error": {
          "description": "Error details for a failed analysis.",
          "$ref": "GoogleRpcStatus"
        },
        "displayName": {
          "type": "string",
          "description": "Name of the analysis group."
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse": {
      "properties": {},
      "id": "GoogleCloudAssuredworkloadsV1AcknowledgeViolationResponse",
      "description": "Response for violation acknowledgement",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse": {
      "id": "GoogleCloudAssuredworkloadsV1ListWorkloadUpdatesResponse",
      "properties": {
        "workloadUpdates": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1WorkloadUpdate"
          },
          "type": "array",
          "description": "The list of workload updates for a given workload."
        },
        "nextPageToken": {
          "description": "The next page token. Return empty if reached the last page.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response of listing the compliance updates per workload with pagination."
    },
    "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud": {
      "properties": {
        "steps": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Steps to resolve violation via gcloud cli"
        },
        "additionalLinks": {
          "items": {
            "type": "string"
          },
          "description": "Additional urls for more information about steps",
          "type": "array"
        },
        "gcloudCommands": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Gcloud command to resolve violation"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ViolationRemediationInstructionsGcloud",
      "description": "Remediation instructions to resolve violation via gcloud cli",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1ArchiveResourceEventsRequest",
      "properties": {
        "organizationId": {
          "type": "string",
          "description": "Required. The organization ID for which to archive events.",
          "format": "int64"
        },
        "region": {
          "description": "Required. The region of the workload(s) whose events should be archived. This is used to filter workloads based on AssurantWorkloadData.region.",
          "type": "string"
        },
        "batchSize": {
          "description": "Required. The number of events to process in a single transaction batch.",
          "format": "int32",
          "type": "integer"
        },
        "archiveTime": {
          "description": "Optional. Time to set as ArchiveTime in the archive table. If not provided, the current time is used.",
          "format": "google-datetime",
          "type": "string"
        },
        "maxEventsMove": {
          "type": "integer",
          "description": "Required. The maximum total number of events to move in this request.",
          "format": "int32"
        },
        "eventCutoffTime": {
          "type": "string",
          "description": "Required. Only events with EventTime earlier than this cutoff will be archived.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "description": "Request for archiving resource events."
    },
    "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest": {
      "type": "object",
      "description": "Request to apply update to a workload.",
      "id": "GoogleCloudAssuredworkloadsV1ApplyWorkloadUpdateRequest",
      "properties": {
        "action": {
          "type": "string",
          "description": "The action to be performed on the update.",
          "enum": [
            "WORKLOAD_UPDATE_ACTION_UNSPECIFIED",
            "APPLY"
          ],
          "enumDescriptions": [
            "Unspecified value.",
            "The update is applied."
          ]
        }
      }
    },
    "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate": {
      "properties": {
        "appliedPolicy": {
          "description": "The org policy currently applied on the assured workload resource.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        },
        "suggestedPolicy": {
          "description": "The suggested org policy that replaces the applied policy.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicy"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate",
      "description": "Represents an update for an org policy control applied on an Assured Workload resource. The inherited org policy is not considered.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1UpdateDetails": {
      "id": "GoogleCloudAssuredworkloadsV1UpdateDetails",
      "properties": {
        "orgPolicyUpdate": {
          "description": "Update to one org policy, e.g. gcp.resourceLocation.",
          "$ref": "GoogleCloudAssuredworkloadsV1OrgPolicyUpdate"
        }
      },
      "type": "object",
      "description": "The details of the update."
    },
    "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse": {
      "description": "External key management systems(EKM) Provisioning response",
      "type": "object",
      "properties": {
        "ekmProvisioningState": {
          "enumDescriptions": [
            "Default State for Ekm Provisioning",
            "Pending State for Ekm Provisioning",
            "Failed State for Ekm Provisioning",
            "Completed State for Ekm Provisioning"
          ],
          "enum": [
            "EKM_PROVISIONING_STATE_UNSPECIFIED",
            "EKM_PROVISIONING_STATE_PENDING",
            "EKM_PROVISIONING_STATE_FAILED",
            "EKM_PROVISIONING_STATE_COMPLETED"
          ],
          "readOnly": true,
          "description": "Output only. Indicates Ekm enrollment Provisioning of a given workload.",
          "type": "string"
        },
        "ekmProvisioningErrorDomain": {
          "type": "string",
          "description": "Indicates Ekm provisioning error if any.",
          "enum": [
            "EKM_PROVISIONING_ERROR_DOMAIN_UNSPECIFIED",
            "UNSPECIFIED_ERROR",
            "GOOGLE_SERVER_ERROR",
            "EXTERNAL_USER_ERROR",
            "EXTERNAL_PARTNER_ERROR",
            "TIMEOUT_ERROR"
          ],
          "enumDescriptions": [
            "No error domain",
            "Error but domain is unspecified.",
            "Internal logic breaks within provisioning code.",
            "Error occurred with the customer not granting permission/creating resource.",
            "Error occurred within the partner's provisioning cluster.",
            "Resource wasn't provisioned in the required 7 day time period"
          ]
        },
        "ekmProvisioningErrorMapping": {
          "enumDescriptions": [
            "Error is unspecified.",
            "Service account is used is invalid.",
            "Iam permission monitoring.MetricsScopeAdmin wasn't applied.",
            "Iam permission cloudkms.ekmConnectionsAdmin wasn't applied."
          ],
          "enum": [
            "EKM_PROVISIONING_ERROR_MAPPING_UNSPECIFIED",
            "INVALID_SERVICE_ACCOUNT",
            "MISSING_METRICS_SCOPE_ADMIN_PERMISSION",
            "MISSING_EKM_CONNECTION_ADMIN_PERMISSION"
          ],
          "description": "Detailed error message if Ekm provisioning fails",
          "type": "string"
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadEkmProvisioningResponse"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadUpdate": {
      "id": "GoogleCloudAssuredworkloadsV1WorkloadUpdate",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "The time the update was created.",
          "format": "google-datetime"
        },
        "name": {
          "description": "Output only. Immutable. Identifier. Resource name of the WorkloadUpdate. Format: organizations/{organization}/locations/{location}/workloads/{workload}/updates/{update}",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The update is available to be applied.",
            "The update has been applied.",
            "The update has been withdrawn by the service."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "APPLIED",
            "WITHDRAWN"
          ],
          "description": "Output only. The state of the update.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "The time the update was last updated.",
          "format": "google-datetime"
        },
        "details": {
          "description": "The details of the update.",
          "$ref": "GoogleCloudAssuredworkloadsV1UpdateDetails"
        }
      },
      "type": "object",
      "description": "A workload update is a change to the workload's compliance configuration."
    },
    "GoogleLongrunningListOperationsResponse": {
      "id": "GoogleLongrunningListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleLongrunningOperation"
          }
        }
      },
      "type": "object",
      "description": "The response message for Operations.ListOperations."
    },
    "GoogleCloudAssuredworkloadsV1MoveImpact": {
      "description": "Represents the impact of moving the asset to the target.",
      "type": "object",
      "properties": {
        "detail": {
          "type": "string",
          "description": "Explanation of the impact."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveImpact"
    },
    "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse": {
      "type": "object",
      "description": "Response for EnableComplianceUpdates endpoint.",
      "id": "GoogleCloudAssuredworkloadsV1EnableComplianceUpdatesResponse",
      "properties": {}
    },
    "GoogleRpcStatus": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "GoogleRpcStatus",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1ListViolationsResponse": {
      "description": "Response of ListViolations endpoint.",
      "type": "object",
      "properties": {
        "violations": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1Violation"
          },
          "type": "array",
          "description": "List of Violations under a Workload."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token. Returns empty if reached the last page."
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1ListViolationsResponse"
    },
    "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse": {
      "id": "GoogleCloudAssuredworkloadsV1EnableResourceMonitoringResponse",
      "properties": {},
      "type": "object",
      "description": "Response for EnableResourceMonitoring endpoint."
    },
    "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis": {
      "description": "Represents move analysis results for an asset.",
      "type": "object",
      "properties": {
        "assetType": {
          "type": "string",
          "description": "Type of the asset being analyzed. Possible values will be among the ones listed [here](https://cloud.google.com/asset-inventory/docs/supported-asset-types)."
        },
        "asset": {
          "type": "string",
          "description": "The full resource name of the asset being analyzed. Example: //compute.googleapis.com/projects/my_project_123/zones/zone1/instances/instance1"
        },
        "analysisGroups": {
          "description": "List of eligible analyses performed for the asset.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveAnalysisGroup"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1AssetMoveAnalysis"
    },
    "GoogleCloudAssuredworkloadsV1MoveAnalysisResult": {
      "properties": {
        "blockers": {
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          },
          "description": "List of blockers. If not resolved, these will result in compliance violations in the target.",
          "type": "array"
        },
        "warnings": {
          "type": "array",
          "description": "List of warnings. These are risks that may or may not result in compliance violations.",
          "items": {
            "$ref": "GoogleCloudAssuredworkloadsV1MoveImpact"
          }
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1MoveAnalysisResult",
      "description": "Represents the successful move analysis results for a group.",
      "type": "object"
    },
    "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo": {
      "description": "Represent the resources that are children of this Workload.",
      "type": "object",
      "properties": {
        "resourceId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Resource identifier. For a project this represents project_number.",
          "format": "int64"
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CONSUMER_PROJECT",
            "CONSUMER_FOLDER",
            "ENCRYPTION_KEYS_PROJECT",
            "KEYRING"
          ],
          "enumDescriptions": [
            "Unknown resource type.",
            "Deprecated. Existing workloads will continue to support this, but new CreateWorkloadRequests should not specify this as an input value.",
            "Consumer Folder.",
            "Consumer project containing encryption keys.",
            "Keyring resource that hosts encryption keys."
          ],
          "type": "string",
          "description": "Indicates the type of resource.",
          "enumDeprecated": [
            false,
            true,
            false,
            false,
            false
          ]
        }
      },
      "id": "GoogleCloudAssuredworkloadsV1WorkloadResourceInfo"
    },
    "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest": {
      "id": "GoogleCloudAssuredworkloadsV1MutatePartnerPermissionsRequest",
      "properties": {
        "partnerPermissions": {
          "description": "Required. The partner permissions to be updated.",
          "$ref": "GoogleCloudAssuredworkloadsV1WorkloadPartnerPermissions"
        },
        "etag": {
          "description": "Optional. The etag of the workload. If this is provided, it must match the server's etag.",
          "type": "string"
        },
        "updateMask": {
          "description": "Required. The list of fields to be updated. E.g. update_mask { paths: \"partner_permissions.data_logs_viewer\"}",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request for updating permission settings for a partner workload."
    },
    "GoogleCloudAssuredworkloadsV1CreateWorkloadOperationMetadata": {
      "description": "Operation metadata to give request details of CreateWorkload.",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the workload."
        },
        "createTime": {
          "description": "Optional. Time when the operation was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "parent": {
          "description": "Optional. The parent of the workload.",
          "type": "string"
        },
        "complianceRegime": {
          "description": "Optional. Compliance controls that should be applied to the resources managed by the workload.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the control package is omitted or unknown.",
            "Specifies a [Sovereign Controls by Partners](https://cloud.google.com/sovereign-controls-by-partners/docs/overview) control package. To use this control package, you must also specify the partner field from the list of Sovereign Controls by Partners.",
            "Australia Data Boundary and Support",
            "Canada Data Boundary and Support",
            "Data Boundary for Canada Controlled Goods",
            "Data Boundary for Canada Protected B",
            "Data Boundary for Criminal Justice Information Systems (CJIS)",
            "Data Boundary for FedRAMP High",
            "Data Boundary for FedRAMP Moderate",
            "Data Boundary for Impact Level 2 (IL2)",
            "Data Boundary for Impact Level 4 (IL4)",
            "Data Boundary for Impact Level 5 (IL5)",
            "Data Boundary for IRS Publication 1075",
            "Data Boundary for International Traffic in Arms Regulations (ITAR)",
            "European Union (EU) Data Boundary and Support",
            "Israel Data Boundary and Support",
            "Japan Data Boundary",
            "Kingdom of Saudi Arabia (KSA) Data Boundary with Access Justifications",
            "Data boundary for one of Assured Workloads' *Free tier* control packages. Determines the region by specifying the data location during workload creation.",
            "United States (US) Data Boundary and Support",
            "United States (US) Data Boundary for Healthcare and Life Sciences",
            "United States (US) Data Boundary for Healthcare and Life Sciences with Support",
            "Use the AUSTRALIA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_PROTECTED_B enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the CANADA_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CANADA_CONTROLLED_GOODS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_CJIS enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the EU_DATA_BOUNDARY_AND_SUPPORT enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_HIGH enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
            "Use the DATA_BOUNDARY_FOR_FEDRAMP_MODERATE enum for this control package instead, as the name of the associated Assured Workloads control package has changed.",
[...]
