{
  "title": "Authorized Buyers Marketplace API",
  "ownerDomain": "google.com",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "canonicalName": "Authorized Buyers Marketplace",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "version_module": true,
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    }
  },
  "schemas": {
    "FinalizedDeal": {
      "id": "FinalizedDeal",
      "properties": {
        "name": {
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`",
          "type": "string"
        },
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "dealServingStatus": {
          "type": "string",
          "description": "Serving status of the deal.",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        }
      },
      "type": "object",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "ActivateClientUserRequest": {
      "type": "object",
      "id": "ActivateClientUserRequest",
      "properties": {},
      "description": "Request message for activating a client user."
    },
    "ActivateClientRequest": {
      "id": "ActivateClientRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for activating a client."
    },
    "BatchUpdateDealsResponse": {
      "type": "object",
      "id": "BatchUpdateDealsResponse",
      "properties": {
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated."
        }
      },
      "description": "Response message for batch updating deals."
    },
    "InventorySizeTargeting": {
      "description": "Represents the size of an ad unit that can be targeted on a bid request.",
      "id": "InventorySizeTargeting",
      "properties": {
        "targetedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included."
        },
        "excludedInventorySizes": {
          "type": "array",
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be excluded."
        }
      },
      "type": "object"
    },
    "ListClientUsersResponse": {
      "id": "ListClientUsersResponse",
      "properties": {
        "clientUsers": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for the list method."
    },
    "DayPartTargeting": {
      "description": "Represents Daypart targeting.",
      "type": "object",
      "id": "DayPartTargeting",
      "properties": {
        "timeZoneType": {
          "description": "The time zone type of the day parts",
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "type": "string"
        },
        "dayParts": {
          "type": "array",
          "items": {
            "$ref": "DayPart"
          },
          "description": "The targeted weekdays and times"
        }
      }
    },
    "RtbMetrics": {
      "type": "object",
      "id": "RtbMetrics",
      "properties": {
        "bidRequests7Days": {
          "type": "string",
          "format": "int64",
          "description": "Bid requests in last 7 days."
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        },
        "filteredBidRate7Days": {
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "type": "number",
          "format": "double"
        },
        "bids7Days": {
          "type": "string",
          "format": "int64",
          "description": "Bids in last 7 days."
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        },
        "adImpressions7Days": {
          "description": "Ad impressions in last 7 days.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
    },
    "PauseFinalizedDealRequest": {
      "id": "PauseFinalizedDealRequest",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "type": "object",
      "description": "Request message for pausing a finalized deal."
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "ancestorNames": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Account ID of the media planner."
        },
        "displayName": {
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a media planner account."
    },
    "ListFinalizedDealsResponse": {
      "description": "Response message for listing finalized deals.",
      "id": "ListFinalizedDealsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        },
        "finalizedDeals": {
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "description": "The list of finalized deals."
        }
      },
      "type": "object"
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "properties": {},
      "type": "object",
      "description": "Request to cancel an ongoing negotiation."
    },
    "CriteriaTargeting": {
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax.",
      "id": "CriteriaTargeting",
      "properties": {
        "excludedCriteriaIds": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded."
        },
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "type": "object"
    },
    "UnsubscribeAuctionPackageRequest": {
      "id": "UnsubscribeAuctionPackageRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "AddCreativeRequest": {
      "id": "AddCreativeRequest",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "type": "object",
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal."
    },
    "ClientUser": {
      "id": "ClientUser",
      "properties": {
        "state": {
          "description": "Output only. The state of the client user.",
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "email": {
          "type": "string",
          "description": "Required. The client user's email address that has to be unique across all users for the same client."
        },
        "name": {
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client."
    },
    "SubscribeClientsRequest": {
      "type": "object",
      "id": "SubscribeClientsRequest",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for SubscribeAuctionPackageClients."
    },
    "DealPausingInfo": {
      "id": "DealPausingInfo",
      "properties": {
        "pauseRole": {
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "type": "string"
        },
        "pauseReason": {
          "type": "string",
          "description": "The reason for the pausing of the deal; empty for active deals."
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        }
      },
      "type": "object",
      "description": "Information related to deal pausing."
    },
    "Deal": {
      "type": "object",
      "id": "Deal",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time of the deal creation."
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time when the deal was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "creativeRequirements": {
          "readOnly": true,
          "$ref": "CreativeRequirements",
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "name": {
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "type": "string"
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "flightStartTime": {
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "eligibleSeatIds": {
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "buyerPermissionType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer permission type of the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ]
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "readOnly": true,
          "type": "string"
        },
        "dealType": {
          "description": "Output only. Type of deal.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "readOnly": true
        },
        "deliveryControl": {
          "$ref": "DeliveryControl",
          "readOnly": true,
          "description": "Output only. Specifies the pacing set by the publisher."
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "flightEndTime": {
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string",
          "format": "google-datetime"
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "description": {
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true,
          "type": "string"
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "mediaPlanner": {
          "readOnly": true,
          "$ref": "MediaPlanner",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser)."
        }
      },
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals."
    },
    "ListAuctionPackagesResponse": {
      "description": "Response message for listing auction packages.",
      "id": "ListAuctionPackagesResponse",
      "properties": {
        "auctionPackages": {
          "description": "The list of auction packages.",
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "UnsubscribeClientsRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "id": "UnsubscribeClientsRequest",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`."
        }
      },
      "type": "object"
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "type": "object",
      "id": "AcceptProposalRequest",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeactivateClientRequest": {
      "description": "Request message for disabling a client.",
      "type": "object",
      "id": "DeactivateClientRequest",
      "properties": {}
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "properties": {
        "deals": {
          "type": "array",
          "items": {
            "$ref": "Deal"
          },
          "description": "The list of deals."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for listing deals in a proposal."
    },
    "ListClientsResponse": {
      "type": "object",
      "id": "ListClientsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        },
        "clients": {
          "description": "The returned list of clients.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        }
      },
      "description": "Response message for the list method."
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "properties": {
        "firstPartyTargeting": {
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in.",
          "$ref": "FirstPartyMobileApplicationTargeting"
        }
      },
      "type": "object"
    },
    "Contact": {
      "type": "object",
      "id": "Contact",
      "properties": {
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        },
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        }
      },
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "ListProposalsResponse": {
      "id": "ListProposalsResponse",
      "properties": {
        "proposals": {
          "type": "array",
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for listing proposals."
    },
    "InventoryTypeTargeting": {
      "type": "object",
      "id": "InventoryTypeTargeting",
      "properties": {
        "inventoryTypes": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          },
          "description": "The list of targeted inventory types for the bid request."
        }
      },
      "description": "Targeting of the inventory types a bid request can originate from."
    },
    "Price": {
      "type": "object",
      "id": "Price",
      "properties": {
        "type": {
          "description": "The pricing type for the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "type": "string"
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      },
      "description": "Represents a price and a pricing type for a deal."
    },
    "UpdateDealRequest": {
      "type": "object",
      "id": "UpdateDealRequest",
      "properties": {
        "deal": {
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "$ref": "Deal"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        }
      },
      "description": "Request message for updating the deal at the given revision number."
    },
    "OperatingSystemTargeting": {
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "id": "OperatingSystemTargeting",
      "properties": {
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemVersionCriteria": {
          "description": "IDs of operating system versions to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      }
    },
    "AuctionPackage": {
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "id": "AuctionPackage",
      "properties": {
        "floorPriceCpm": {
          "$ref": "Money",
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price."
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "displayName": {
          "type": "string",
          "description": "The display_name assigned to the auction package."
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "subscribedClients": {
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "dealOwnerSeatId": {
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true,
          "type": "string"
        },
        "eligibleSeatIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed."
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse."
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the auction package was created."
        },
        "subscribedBuyers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`"
        }
      },
      "type": "object"
    },
    "PreferredDealTerms": {
      "type": "object",
      "id": "PreferredDealTerms",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "description": "Pricing terms for Preferred Deals."
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "id": "AddNoteRequest",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      },
      "type": "object"
    },
    "DayPart": {
      "description": "Defines targeting for a period of time on a specific week day.",
      "type": "object",
      "id": "DayPart",
      "properties": {
        "dayOfWeek": {
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "description": "Day of week for the period.",
          "type": "string"
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "properties": {
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "type": "object",
      "description": "Represents targeting about various types of technology."
    },
    "UriTargeting": {
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UriTargeting",
      "properties": {
        "targetedUris": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of URLs to be included."
        },
        "excludedUris": {
          "description": "A list of URLs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "properties": {
        "buyerContacts": {
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Contact information for the buyer."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the proposal being created by this RFP."
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported.",
          "$ref": "InventorySizeTargeting"
        },
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "flightStartTime": {
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        }
      },
      "type": "object",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
    },
    "ProgrammaticGuaranteedTerms": {
      "id": "ProgrammaticGuaranteedTerms",
      "properties": {
        "guaranteedLooks": {
          "type": "string",
          "format": "int64",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "reservationType": {
          "type": "string",
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ]
        },
        "percentShareOfVoice": {
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "type": "string",
          "format": "int64"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "minimumDailyLooks": {
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string",
          "format": "int64"
        },
        "impressionCap": {
          "type": "string",
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached."
        }
      },
      "type": "object",
      "description": "Pricing terms for Programmatic Guaranteed Deals."
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "properties": {
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "pitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "isParent": {
          "type": "boolean",
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\"."
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "mobileApps": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          },
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile."
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
    },
    "PrivateAuctionTerms": {
      "type": "object",
      "id": "PrivateAuctionTerms",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        }
      },
      "description": "Pricing terms for Private Auctions."
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "type": "object",
      "id": "AdSize",
      "properties": {
        "width": {
          "type": "string",
          "format": "int64",
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "height": {
          "type": "string",
          "format": "int64",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`."
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "type": "string"
        }
      }
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "id": "PublisherProfileMobileApplication",
      "properties": {
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "appStore": {
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "CreativeRequirements": {
      "description": "Message captures data about the creatives in the deal.",
      "id": "CreativeRequirements",
      "properties": {
        "programmaticCreativeSource": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer."
        },
        "creativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true
        },
        "creativePreApprovalPolicy": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "description": "Output only. Specifies the creative pre-approval policy."
        },
        "creativeSafeFrameCompatibility": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ]
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "type": "string",
          "readOnly": true
        },
        "maxAdDurationMs": {
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "PrivateData": {
      "id": "PrivateData",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "type": "object",
      "description": "Buyers are allowed to store certain types of private data in a proposal."
    },
    "DeactivateClientUserRequest": {
      "description": "Request message for deactivating a client user.",
      "id": "DeactivateClientUserRequest",
      "properties": {},
      "type": "object"
    },
    "Note": {
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "id": "Note",
      "properties": {
        "creatorRole": {
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. The role who created the note.",
          "type": "string",
          "readOnly": true
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When this note was created."
        }
      },
      "type": "object"
    },
    "SetReadyToServeRequest": {
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest",
      "properties": {},
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "properties": {
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "Client": {
      "type": "object",
      "id": "Client",
      "properties": {
        "state": {
          "description": "Output only. The state of the client.",
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "readOnly": true
        },
        "role": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client."
        },
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`"
        }
      },
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "ResumeFinalizedDealRequest": {
      "id": "ResumeFinalizedDealRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for resuming a finalized deal."
    },
    "DeliveryControl": {
      "description": "Message contains details about how the deal will be paced.",
      "id": "DeliveryControl",
      "properties": {
        "companionDeliveryType": {
          "readOnly": true,
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "type": "string"
        },
        "frequencyCap": {
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "FrequencyCap"
          }
        },
        "roadblockingType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ]
        },
        "deliveryRateType": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "description": "Output only. Specifies how the impression delivery will be paced."
        },
        "creativeRotationType": {
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "properties": {
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "isRenegotiating": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated."
        },
        "termsAndConditions": {
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "readOnly": true,
          "type": "string"
        },
        "billedBuyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "lastUpdaterOrCommentorRole": {
          "type": "string",
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Indicates the state of the proposal.",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ]
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "sellerContacts": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Contact"
          },
          "description": "Output only. Contact information for the seller."
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A list of notes from the buyer and the seller attached to this proposal."
        },
        "originatorRole": {
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true
        },
        "publisherProfile": {
          "type": "string",
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error."
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "type": "object",
      "id": "VideoTargeting",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string"
          }
        },
        "excludedPositionTypes": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string"
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty."
        }
      }
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "type": "object"
    },
    "FrequencyCap": {
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "id": "FrequencyCap",
      "properties": {
        "timeUnitsCount": {
          "type": "integer",
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped."
        },
        "maxImpressions": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period."
        },
        "timeUnitType": {
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "TimeZone": {
      "id": "TimeZone",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
        }
      },
      "type": "object",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "SubscribeAuctionPackageRequest": {
      "type": "object",
      "id": "SubscribeAuctionPackageRequest",
      "properties": {},
      "description": "Request message for SubscribeAuctionPackage."
    },
    "MarketplaceTargeting": {
      "type": "object",
      "id": "MarketplaceTargeting",
      "properties": {
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "readOnly": true,
          "description": "Output only. Inventory sizes to be included/excluded."
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "readOnly": true,
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals"
        },
        "geoTargeting": {
          "$ref": "CriteriaTargeting",
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded."
        },
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        },
        "excludedSensitiveCategoryIds": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
        },
        "technologyTargeting": {
          "readOnly": true,
          "$ref": "TechnologyTargeting",
          "description": "Output only. Technology targeting information, for example, operating system, device category."
        },
        "videoTargeting": {
          "description": "Output only. Video targeting information.",
          "$ref": "VideoTargeting",
          "readOnly": true
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "$ref": "InventoryTypeTargeting",
          "description": "Output only. Inventory type targeting information."
        }
      },
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object",
      "id": "FirstPartyMobileApplicationTargeting",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "id": "ListPublisherProfilesResponse",
      "properties": {
        "publisherProfiles": {
          "type": "array",
          "items": {
            "$ref": "PublisherProfile"
          },
          "description": "The list of matching publisher profiles."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "type": "object",
      "description": "Response message for profiles visible to the buyer."
    },
    "PlacementTargeting": {
      "type": "object",
      "id": "PlacementTargeting",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "BatchUpdateDealsRequest": {
      "description": "Request message for batch updating deals.",
      "type": "object",
      "id": "BatchUpdateDealsRequest",
      "properties": {
        "requests": {
          "description": "Required. List of request messages to update deals.",
          "type": "array",
          "items": {
            "$ref": "UpdateDealRequest"
          }
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    }
  },
  "name": "authorizedbuyersmarketplace",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "revision": "20260416",
  "protocol": "rest",
  "servicePath": "",
  "resources": {
    "buyers": {
      "resources": {
        "proposals": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`"
                },
                "pageToken": {
                  "description": "The page token as returned from ListProposalsResponse.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "flatPath": "v1/buyers/{buyersId}/proposals",
              "httpMethod": "GET",
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "path": "v1/{+parent}/proposals",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListProposalsResponse"
              }
            },
            "accept": {
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "httpMethod": "POST",
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "path": "v1/{+name}:accept",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "GET",
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "parameters": {
                "name": {
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "sendRfp": {
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp",
              "httpMethod": "POST",
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "path": "v1/{+buyer}/proposals:sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "buyer": {
                  "type": "string",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "request": {
                "$ref": "SendRfpRequest"
              }
            },
            "patch": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "type": "string",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "request": {
                "$ref": "Proposal"
              },
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "httpMethod": "PATCH",
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "response": {
                "$ref": "Proposal"
              }
            },
            "cancelNegotiation": {
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "parameters": {
                "proposal": {
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "response": {
                "$ref": "Proposal"
              },
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "httpMethod": "POST",
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "parameterOrder": [
                "proposal"
              ],
              "path": "v1/{+proposal}:cancelNegotiation"
            },
            "addNote": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "proposal": {
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "required": true
                }
              },
              "request": {
                "$ref": "AddNoteRequest"
              },
              "path": "v1/{+proposal}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "httpMethod": "POST",
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "response": {
                "$ref": "Proposal"
              }
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "httpMethod": "GET",
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deals",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                    },
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The page token as returned from ListDealsResponse."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "type": "string"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "response": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "httpMethod": "GET",
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "batchUpdate": {
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "httpMethod": "POST",
                  "description": "Batch updates multiple deals in the same proposal."
                },
                "patch": {
                  "request": {
                    "$ref": "Deal"
                  },
                  "parameters": {
                    "updateMask": {
[...]
