{
  "name": "authorizedbuyersmarketplace",
  "ownerDomain": "google.com",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Authorized Buyers Marketplace",
  "discoveryVersion": "v1",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "revision": "20260423",
  "title": "Authorized Buyers Marketplace API",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "schemas": {
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "description": "Pricing terms for Private Auctions.",
      "type": "object",
      "properties": {
        "openAuctionAllowed": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction."
        },
        "floorPrice": {
          "$ref": "Price",
          "description": "The minimum price buyer has to bid to compete in the private auction."
        }
      }
    },
    "UpdateDealRequest": {
      "id": "UpdateDealRequest",
      "description": "Request message for updating the deal at the given revision number.",
      "type": "object",
      "properties": {
        "updateMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        },
        "deal": {
          "$ref": "Deal",
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        }
      }
    },
    "ClientUser": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "description": "Output only. The state of the client user.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ]
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        }
      },
      "id": "ClientUser",
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client."
    },
    "AcceptProposalRequest": {
      "id": "AcceptProposalRequest",
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "type": "object",
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      }
    },
    "SubscribeAuctionPackageRequest": {
      "id": "SubscribeAuctionPackageRequest",
      "description": "Request message for SubscribeAuctionPackage.",
      "type": "object",
      "properties": {}
    },
    "CancelNegotiationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelNegotiationRequest",
      "description": "Request to cancel an ongoing negotiation."
    },
    "ListClientUsersResponse": {
      "type": "object",
      "properties": {
        "clientUsers": {
          "description": "The returned list of client users.",
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          }
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        }
      },
      "id": "ListClientUsersResponse",
      "description": "Response message for the list method."
    },
    "FinalizedDeal": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        },
        "rtbMetrics": {
          "$ref": "RtbMetrics",
          "description": "Real-time bidding metrics for this deal."
        },
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        },
        "dealServingStatus": {
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ],
          "description": "Serving status of the deal.",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "type": "string"
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        }
      },
      "id": "FinalizedDeal",
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "Client": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the client.",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed."
        },
        "sellerVisible": {
          "type": "boolean",
          "description": "Whether the client will be visible to sellers."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "readOnly": true
        },
        "role": {
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "type": "string",
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ]
        },
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        }
      },
      "id": "Client",
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "OperatingSystemTargeting": {
      "id": "OperatingSystemTargeting",
      "description": "Represents targeting information for operating systems.",
      "type": "object",
      "properties": {
        "operatingSystemCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating systems to be included/excluded."
        },
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        }
      }
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "type": "object",
      "properties": {
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\".",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "programmaticDealsContact": {
          "type": "string",
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses."
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "audienceDescription": {
          "type": "string",
          "description": "Description on the publisher's audience."
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        },
        "domains": {
          "items": {
            "type": "string"
          },
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array"
        },
        "topHeadlines": {
          "type": "array",
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          }
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        }
      }
    },
    "Price": {
      "id": "Price",
      "description": "Represents a price and a pricing type for a deal.",
      "type": "object",
      "properties": {
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        },
        "type": {
          "type": "string",
          "description": "The pricing type for the deal.",
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ]
        }
      }
    },
    "UriTargeting": {
      "id": "UriTargeting",
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "type": "object",
      "properties": {
        "targetedUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of URLs to be included."
        },
        "excludedUris": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of URLs to be excluded."
        }
      }
    },
    "ListPublisherProfilesResponse": {
      "type": "object",
      "properties": {
        "publisherProfiles": {
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array",
          "description": "The list of matching publisher profiles."
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "id": "ListPublisherProfilesResponse",
      "description": "Response message for profiles visible to the buyer."
    },
    "InventorySizeTargeting": {
      "type": "object",
      "properties": {
        "targetedInventorySizes": {
          "items": {
            "$ref": "AdSize"
          },
          "description": "A list of inventory sizes to be included.",
          "type": "array"
        },
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        }
      },
      "id": "InventorySizeTargeting",
      "description": "Represents the size of an ad unit that can be targeted on a bid request."
    },
    "AddNoteRequest": {
      "type": "object",
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "id": "AddNoteRequest",
      "description": "Request to add a note."
    },
    "PublisherProfileMobileApplication": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "appStore": {
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ],
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ]
        },
        "externalAppId": {
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        }
      },
      "id": "PublisherProfileMobileApplication",
      "description": "A mobile application that contains a external app ID, name, and app store."
    },
    "ActivateClientUserRequest": {
      "id": "ActivateClientUserRequest",
      "description": "Request message for activating a client user.",
      "type": "object",
      "properties": {}
    },
    "Contact": {
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        }
      },
      "id": "Contact",
      "description": "Contains information on how a buyer or seller can be reached."
    },
    "MediaPlanner": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "type": "string",
          "readOnly": true,
          "deprecated": true
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "ancestorNames": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "array"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true
        }
      },
      "id": "MediaPlanner",
      "description": "Represents a media planner account."
    },
    "DealPausingInfo": {
      "type": "object",
      "properties": {
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is consented between buyer and seller for the deal."
        },
        "pauseRole": {
          "type": "string",
          "description": "The party that first paused the deal; unspecified for active deals.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        },
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        }
      },
      "id": "DealPausingInfo",
      "description": "Information related to deal pausing."
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "type": "object",
      "properties": {
        "timeUnitsCount": {
          "format": "int32",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "type": "integer"
        },
        "timeUnitType": {
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped.",
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "type": "string",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ]
        },
        "maxImpressions": {
          "format": "int32",
          "type": "integer",
          "description": "The maximum number of impressions that can be served to a user within the specified time period."
        }
      }
    },
    "BatchUpdateDealsRequest": {
      "id": "BatchUpdateDealsRequest",
      "description": "Request message for batch updating deals.",
      "type": "object",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. List of request messages to update deals.",
          "items": {
            "$ref": "UpdateDealRequest"
          }
        }
      }
    },
    "MarketplaceTargeting": {
      "type": "object",
      "properties": {
        "technologyTargeting": {
          "$ref": "TechnologyTargeting",
          "description": "Output only. Technology targeting information, for example, operating system, device category.",
          "readOnly": true
        },
        "daypartTargeting": {
          "$ref": "DayPartTargeting",
          "description": "Daypart targeting information."
        },
        "placementTargeting": {
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PlacementTargeting"
        },
        "inventoryTypeTargeting": {
          "readOnly": true,
          "description": "Output only. Inventory type targeting information.",
          "$ref": "InventoryTypeTargeting"
        },
        "geoTargeting": {
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "inventorySizeTargeting": {
          "$ref": "InventorySizeTargeting",
          "description": "Output only. Inventory sizes to be included/excluded.",
          "readOnly": true
        },
        "excludedSensitiveCategoryIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs."
        },
        "videoTargeting": {
          "description": "Output only. Video targeting information.",
          "$ref": "VideoTargeting",
          "readOnly": true
        },
        "verticalTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "readOnly": true
        }
      },
      "id": "MarketplaceTargeting",
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise."
    },
    "DeactivateClientRequest": {
      "id": "DeactivateClientRequest",
      "description": "Request message for disabling a client.",
      "type": "object",
      "properties": {}
    },
    "ListDealsResponse": {
      "id": "ListDealsResponse",
      "description": "Response message for listing deals in a proposal.",
      "type": "object",
      "properties": {
        "deals": {
          "type": "array",
          "description": "The list of deals.",
          "items": {
            "$ref": "Deal"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      }
    },
    "PreferredDealTerms": {
      "type": "object",
      "properties": {
        "fixedPrice": {
          "$ref": "Price",
          "description": "Fixed price for the deal."
        }
      },
      "id": "PreferredDealTerms",
      "description": "Pricing terms for Preferred Deals."
    },
    "CriteriaTargeting": {
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "description": "A list of numeric IDs to be included.",
          "type": "array"
        },
        "excludedCriteriaIds": {
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "A list of numeric IDs to be excluded.",
          "type": "array"
        }
      },
      "id": "CriteriaTargeting",
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
    },
    "Proposal": {
      "type": "object",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dealType": {
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "description": "Output only. Type of deal the proposal contains.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "readOnly": true
        },
        "isRenegotiating": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated."
        },
        "originatorRole": {
          "type": "string",
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true
        },
        "sellerContacts": {
          "type": "array",
          "description": "Output only. Contact information for the seller.",
          "items": {
            "$ref": "Contact"
          },
          "readOnly": true
        },
        "proposalRevision": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string"
        },
        "termsAndConditions": {
          "readOnly": true,
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        },
        "buyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "type": "string",
          "description": "Output only. Indicates the state of the proposal."
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "client": {
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true
        },
        "billedBuyer": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "buyerPrivateData": {
          "$ref": "PrivateData",
          "description": "Buyer private data (hidden from seller)."
        },
        "notes": {
          "items": {
            "$ref": "Note"
          },
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "type": "array"
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true
        }
      },
      "id": "Proposal",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer."
    },
    "InventoryTypeTargeting": {
      "type": "object",
      "properties": {
        "inventoryTypes": {
          "description": "The list of targeted inventory types for the bid request.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "type": "string",
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ]
          }
        }
      },
      "id": "InventoryTypeTargeting",
      "description": "Targeting of the inventory types a bid request can originate from."
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "items": {
            "type": "string"
          },
          "description": "A list of application IDs to be included.",
          "type": "array"
        },
        "excludedAppIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of application IDs to be excluded."
        }
      }
    },
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "description": "Response message for listing auction packages.",
      "type": "object",
      "properties": {
        "auctionPackages": {
          "description": "The list of auction packages.",
          "type": "array",
          "items": {
            "$ref": "AuctionPackage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        }
      }
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UnsubscribeClientsRequest": {
      "type": "object",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "UnsubscribeClientsRequest",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "ActivateClientRequest": {
      "id": "ActivateClientRequest",
      "description": "Request message for activating a client.",
      "type": "object",
      "properties": {}
    },
    "TimeOfDay": {
      "type": "object",
      "properties": {
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      },
      "id": "TimeOfDay",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "SetReadyToServeRequest": {
      "id": "SetReadyToServeRequest",
      "description": "Request message for setting ready to serve for a finalized deal.",
      "type": "object",
      "properties": {}
    },
    "Note": {
      "id": "Note",
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers.",
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "The text of the note. Maximum length is 1024 characters."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When this note was created."
        },
        "creatorRole": {
          "type": "string",
          "description": "Output only. The role who created the note.",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "readOnly": true
        }
      }
    },
    "Money": {
      "type": "object",
      "properties": {
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        },
        "units": {
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.",
          "type": "string"
        },
        "nanos": {
          "format": "int32",
          "type": "integer",
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000."
        }
      },
      "id": "Money",
      "description": "Represents an amount of money with its currency type."
    },
    "DeliveryControl": {
      "type": "object",
      "properties": {
        "frequencyCap": {
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "FrequencyCap"
          }
        },
        "roadblockingType": {
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "type": "string",
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "readOnly": true
        },
        "deliveryRateType": {
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "readOnly": true,
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "type": "string",
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ]
        },
        "companionDeliveryType": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "type": "string",
          "description": "Output only. Specifies roadblocking in a main companion lineitem."
        },
        "creativeRotationType": {
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "type": "string",
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ]
        }
      },
      "id": "DeliveryControl",
      "description": "Message contains details about how the deal will be paced."
    },
    "ListClientsResponse": {
      "id": "ListClientsResponse",
      "description": "Response message for the list method.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        },
        "clients": {
          "items": {
            "$ref": "Client"
          },
          "description": "The returned list of clients.",
          "type": "array"
        }
      }
    },
    "TechnologyTargeting": {
      "type": "object",
      "properties": {
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        },
        "deviceCategoryTargeting": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of device categories to be included/excluded."
        },
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        }
      },
      "id": "TechnologyTargeting",
      "description": "Represents targeting about various types of technology."
    },
    "PrivateData": {
      "id": "PrivateData",
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "type": "object",
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      }
    },
    "AdSize": {
      "id": "AdSize",
      "description": "Represents size of a single ad slot, or a creative.",
      "type": "object",
      "properties": {
        "height": {
          "type": "string",
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "format": "int64"
        },
        "type": {
          "description": "The type of the ad slot size.",
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ]
        },
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PauseFinalizedDealRequest": {
      "type": "object",
      "properties": {
        "reason": {
          "type": "string",
          "description": "The reason to pause the finalized deal, will be displayed to the seller. Maximum length is 1000 characters."
        }
      },
      "id": "PauseFinalizedDealRequest",
      "description": "Request message for pausing a finalized deal."
    },
    "RtbMetrics": {
      "type": "object",
      "properties": {
        "filteredBidRate7Days": {
          "format": "double",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "type": "number"
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "description": "Must bid rate for current month.",
          "format": "double"
        },
        "bids7Days": {
          "format": "int64",
          "type": "string",
          "description": "Bids in last 7 days."
        },
        "bidRate7Days": {
          "type": "number",
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "format": "double"
        },
        "adImpressions7Days": {
          "format": "int64",
          "description": "Ad impressions in last 7 days.",
          "type": "string"
        },
        "bidRequests7Days": {
          "format": "int64",
          "description": "Bid requests in last 7 days.",
          "type": "string"
        }
      },
      "id": "RtbMetrics",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
    },
    "TimeZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "id": "TimeZone",
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "ListFinalizedDealsResponse": {
      "type": "object",
      "properties": {
        "finalizedDeals": {
          "type": "array",
          "description": "The list of finalized deals.",
          "items": {
            "$ref": "FinalizedDeal"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to fetch the next page of results."
        }
      },
      "id": "ListFinalizedDealsResponse",
      "description": "Response message for listing finalized deals."
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed.",
      "type": "object",
      "properties": {
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        },
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        }
      }
    },
    "MobileApplicationTargeting": {
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      },
      "id": "MobileApplicationTargeting",
      "description": "Mobile application targeting settings."
    },
    "SubscribeClientsRequest": {
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SubscribeClientsRequest",
      "description": "Request message for SubscribeAuctionPackageClients."
    },
    "ListProposalsResponse": {
      "type": "object",
      "properties": {
        "proposals": {
          "items": {
            "$ref": "Proposal"
          },
          "description": "The list of proposals.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "id": "ListProposalsResponse",
      "description": "Response message for listing proposals."
    },
    "DayPart": {
      "id": "DayPart",
      "description": "Defines targeting for a period of time on a specific week day.",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "dayOfWeek": {
          "type": "string",
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      }
    },
    "ResumeFinalizedDealRequest": {
      "id": "ResumeFinalizedDealRequest",
      "description": "Request message for resuming a finalized deal.",
      "type": "object",
      "properties": {}
    },
    "Deal": {
      "type": "object",
      "properties": {
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "client": {
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Output only. Free text description for the deal terms.",
          "readOnly": true
        },
        "mediaPlanner": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser).",
          "$ref": "MediaPlanner",
          "readOnly": true
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "estimatedGrossSpend": {
          "$ref": "Money",
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time of the deal creation.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "creativeRequirements": {
          "readOnly": true,
          "$ref": "CreativeRequirements",
          "description": "Output only. Metadata about the creatives of this deal."
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "type": "string",
          "readOnly": true
        },
        "sellerTimeZone": {
          "$ref": "TimeZone",
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true
        },
        "flightEndTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the deal was last updated."
        },
        "dealType": {
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string",
          "description": "Output only. Type of deal.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "targeting": {
          "$ref": "MarketplaceTargeting",
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized."
        },
        "flightStartTime": {
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "eligibleSeatIds": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace."
        },
        "buyerPermissionType": {
          "description": "Output only. The buyer permission type of the deal.",
          "type": "string",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}"
        },
        "buyer": {
          "type": "string",
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "deliveryControl": {
          "description": "Output only. Specifies the pacing set by the publisher.",
          "$ref": "DeliveryControl",
          "readOnly": true
        }
      },
      "id": "Deal",
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals."
    },
    "BatchUpdateDealsResponse": {
      "id": "BatchUpdateDealsResponse",
      "description": "Response message for batch updating deals.",
      "type": "object",
      "properties": {
        "deals": {
          "items": {
            "$ref": "Deal"
          },
          "description": "Deals updated.",
          "type": "array"
        }
      }
    },
    "AddCreativeRequest": {
      "type": "object",
      "properties": {
        "creative": {
          "type": "string",
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name."
        }
      },
      "id": "AddCreativeRequest",
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal."
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation.",
      "type": "object",
      "properties": {
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported.",
          "$ref": "InventorySizeTargeting"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the proposal being created by this RFP."
        },
        "note": {
          "type": "string",
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters."
        },
        "flightEndTime": {
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "type": "string",
          "format": "google-datetime"
        },
        "flightStartTime": {
          "type": "string",
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second.",
          "format": "google-datetime"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "preferredDealTerms": {
          "$ref": "PreferredDealTerms",
          "description": "The terms for preferred deals."
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        }
      }
    },
    "UnsubscribeAuctionPackageRequest": {
      "type": "object",
      "properties": {},
      "id": "UnsubscribeAuctionPackageRequest",
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "DeactivateClientUserRequest": {
      "id": "DeactivateClientUserRequest",
      "description": "Request message for deactivating a client user.",
      "type": "object",
      "properties": {}
    },
    "AuctionPackage": {
      "id": "AuctionPackage",
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers.",
      "type": "object",
      "properties": {
        "subscribedBuyers": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "type": "array"
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MediaPlanner"
          }
        },
        "eligibleSeatIds": {
          "type": "array",
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "description": {
          "readOnly": true,
          "description": "Output only. A description of the auction package.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "type": "string"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "dealOwnerSeatId": {
          "type": "string",
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Time the auction package was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "subscribedClients": {
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "floorPriceCpm": {
          "readOnly": true,
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "$ref": "Money"
        }
      }
    },
    "ProgrammaticGuaranteedTerms": {
      "type": "object",
      "properties": {
        "percentShareOfVoice": {
          "format": "int64",
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100."
        },
        "guaranteedLooks": {
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored.",
          "type": "string",
          "format": "int64"
        },
        "reservationType": {
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ],
          "type": "string"
        },
        "impressionCap": {
          "type": "string",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "format": "int64"
        },
        "minimumDailyLooks": {
          "format": "int64",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks.",
          "type": "string"
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      },
      "id": "ProgrammaticGuaranteedTerms",
      "description": "Pricing terms for Programmatic Guaranteed Deals."
    },
    "CreativeRequirements": {
      "type": "object",
      "properties": {
        "creativePreApprovalPolicy": {
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "type": "string",
          "description": "Output only. Specifies the creative pre-approval policy.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ]
        },
        "creativeSafeFrameCompatibility": {
          "type": "string",
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "readOnly": true
        },
        "programmaticCreativeSource": {
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ],
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "type": "string"
        },
        "skippableAdType": {
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ]
        },
        "creativeFormat": {
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "readOnly": true,
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "type": "string",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ]
        },
        "maxAdDurationMs": {
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        }
      },
      "id": "CreativeRequirements",
      "description": "Message captures data about the creatives in the deal."
    },
    "DayPartTargeting": {
      "type": "object",
      "properties": {
        "timeZoneType": {
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "type": "string",
          "description": "The time zone type of the day parts",
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ]
        },
        "dayParts": {
          "description": "The targeted weekdays and times",
          "type": "array",
          "items": {
            "$ref": "DayPart"
          }
        }
      },
      "id": "DayPartTargeting",
      "description": "Represents Daypart targeting."
    },
    "VideoTargeting": {
      "id": "VideoTargeting",
      "description": "Represents targeting information about video.",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "items": {
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string",
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "type": "array"
        },
        "excludedPositionTypes": {
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ]
          },
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "type": "array"
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "version_module": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "buyers": {
      "resources": {
        "clients": {
          "methods": {
            "patch": {
              "httpMethod": "PATCH",
              "request": {
                "$ref": "Client"
              },
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                },
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "description": "Updates an existing client.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}"
            },
            "create": {
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients",
              "httpMethod": "POST",
              "request": {
                "$ref": "Client"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "description": "Creates a new client.",
              "path": "v1/{+parent}/clients",
              "parameters": {
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "activate": {
              "httpMethod": "POST",
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "path": "v1/{+name}:activate",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate"
            },
            "get": {
              "httpMethod": "GET",
              "path": "v1/{+name}",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "description": "Gets a client with a given resource name.",
              "response": {
                "$ref": "Client"
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}"
            },
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "description": "Lists all the clients for the current buyer.",
              "path": "v1/{+parent}/clients",
              "parameters": {
                "pageSize": {
                  "type": "integer",
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "location": "query",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method."
                },
                "filter": {
                  "location": "query",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "type": "string"
                },
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListClientsResponse"
              }
            },
            "deactivate": {
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "path": "v1/{+name}:deactivate",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "httpMethod": "POST",
              "request": {
                "$ref": "DeactivateClientRequest"
              }
            }
          },
          "resources": {
            "users": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "path": "v1/{+parent}/users",
                  "parameters": {
                    "parent": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "activate": {
                  "path": "v1/{+name}:activate",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "description": "Retrieves an existing client user.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}"
                },
                "list": {
                  "httpMethod": "GET",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "description": "Lists all client users for a specified client.",
                  "path": "v1/{+parent}/users",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    },
                    "parent": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users"
                },
                "deactivate": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "path": "v1/{+name}:deactivate",
                  "parameters": {
                    "name": {
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate"
                },
                "delete": {
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "parameterOrder": [
                    "name"
                  ],
[...]
