{
  "protocol": "rest",
  "title": "Authorized Buyers Marketplace API",
  "canonicalName": "Authorized Buyers Marketplace",
  "servicePath": "",
  "version_module": true,
  "id": "authorizedbuyersmarketplace:v1alpha",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    }
  },
  "version": "v1alpha",
  "revision": "20260401",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "ownerName": "Google",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "name": "authorizedbuyersmarketplace",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "discoveryVersion": "v1",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "resources": {
    "curators": {
      "resources": {
        "curatedPackages": {
          "methods": {
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Updates an existing curated package.",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.patch",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string",
                  "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement (the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "CuratedPackage"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListCuratedPackagesResponse"
              },
              "description": "Lists curated packages owned by the specified curator.",
              "path": "v1alpha/{+parent}/curatedPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * displayName * createTime * updateTime * state * feeCpm.currencyCode * feeCpm.units * feeCpm.nanos * floorPriceCpm.currencyCode * floorPriceCpm.units * floorPriceCpm.nanos"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListCuratedPackages` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^curators/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent curator account which owns this collection of curated packages. Format: `curators/{accountId}`",
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Required. The name of the curated package to retrieve. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Gets a curated package given its resource name.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET"
            },
            "create": {
              "path": "v1alpha/{+parent}/curatedPackages",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Creates a new curated package.",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.create",
              "parameters": {
                "parent": {
                  "description": "Required. The parent curator account where this curated package will be created. Format: `curators/{accountId}`",
                  "pattern": "^curators/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CuratedPackage"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "activate": {
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.activate",
              "path": "v1alpha/{+name}:activate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Activates an existing curated package.",
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the curated package to activate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ActivateCuratedPackageRequest"
              }
            },
            "deactivate": {
              "parameters": {
                "name": {
                  "description": "Required. The name of the curated package to deactivate. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
                  "pattern": "^curators/[^/]+/curatedPackages/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "DeactivateCuratedPackageRequest"
              },
              "flatPath": "v1alpha/curators/{curatorsId}/curatedPackages/{curatedPackagesId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "CuratedPackage"
              },
              "description": "Deactivates an existing curated package.",
              "path": "v1alpha/{+name}:deactivate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.curators.curatedPackages.deactivate"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds"
                },
                "pageToken": {
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "location": "path"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                }
              },
              "flatPath": "v1alpha/bidders/{biddersId}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1alpha/{+parent}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list"
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^bidders/[^/]+$",
                  "type": "string",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`."
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                },
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list",
              "path": "v1alpha/{+parent}/finalizedDeals",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients."
            },
            "setReadyToServe": {
              "parameters": {
                "deal": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "flatPath": "v1alpha/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "deal"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "path": "v1alpha/{+deal}:setReadyToServe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe"
            }
          }
        }
      }
    },
    "mediaPlanners": {
      "methods": {
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "ListMediaPlannersResponse"
          },
          "description": "Lists all media planner accounts that the caller has access to. For curators, this will return all media planners that have accepted curator terms. For other accounts, attempting to list media planners will return an error.",
          "path": "v1alpha/mediaPlanners",
          "httpMethod": "GET",
          "id": "authorizedbuyersmarketplace.mediaPlanners.list",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "A token identifying a page of results the server should return. This value is received from a previous `ListMediaPlanners` call in ListMediaPlannersResponse.nextPageToken."
            },
            "pageSize": {
              "description": "The maximum number of media planners to return. If unspecified, at most 100 media planners will be returned. The maximum value is 500; values above 500 will be coerced to 500.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "filter": {
              "description": "Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Supported columns for filtering are: * `name` * `displayName` * `ancestorNames`",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1alpha/mediaPlanners",
          "scopes": [
            "https://www.googleapis.com/auth/authorized-buyers-marketplace"
          ]
        }
      }
    },
    "buyers": {
      "resources": {
        "clients": {
          "methods": {
            "activate": {
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ActivateClientRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "path": "v1alpha/{+name}:activate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state."
            },
            "deactivate": {
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "path": "v1alpha/{+name}:deactivate",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "DeactivateClientRequest"
              }
            },
            "patch": {
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Updates an existing client.",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch"
            },
            "list": {
              "path": "v1alpha/{+parent}/clients",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListClientsResponse"
              },
              "description": "Lists all the clients for the current buyer.",
              "id": "authorizedbuyersmarketplace.buyers.clients.list",
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response."
                },
                "pageSize": {
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Gets a client with a given resource name.",
              "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true
                }
              }
            },
            "create": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Client"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Client"
              },
              "description": "Creates a new client.",
              "path": "v1alpha/{+parent}/clients",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.clients.create"
            }
          },
          "resources": {
            "users": {
              "methods": {
                "list": {
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method."
                    },
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "description": "Lists all client users for a specified client.",
                  "path": "v1alpha/{+parent}/users",
                  "httpMethod": "GET"
                },
                "get": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Retrieves an existing client user.",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "DELETE"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "path": "v1alpha/{+parent}/users",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create"
                },
                "activate": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "path": "v1alpha/{+name}:activate",
                  "httpMethod": "POST",
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  }
                },
                "deactivate": {
                  "path": "v1alpha/{+name}:deactivate",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                }
              }
            }
          }
        },
        "publisherProfiles": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "PublisherProfile"
              },
              "description": "Gets the requested publisher profile by name.",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get"
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "path": "v1alpha/{+parent}/publisherProfiles",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse."
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/publisherProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "dataSegments": {
          "methods": {
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Gets a data segment given its name.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of data segment to get. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "location": "path"
                }
              }
            },
            "create": {
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.create",
              "path": "v1alpha/{+parent}/dataSegments",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Creates a data segment owned by the listed curator. The data segment will be created in the `ACTIVE` state, meaning it will be immediately available for buyers to use in preferred deals, private auction deals, and auction packages.",
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource where this data segment will be created. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`"
                }
              },
              "request": {
                "$ref": "DataSegment"
              }
            },
            "patch": {
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "type": "string",
                  "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "description": "Optional. List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "request": {
                "$ref": "DataSegment"
              },
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.patch",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Updates a data segment.",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH"
            },
            "list": {
              "parameters": {
                "pageSize": {
                  "description": "Optional. Requested page size. The server may return fewer results than requested. Max allowed page size is 500. If unspecified, the server will default to 500.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. The page token as returned. ListDataSegmentsResponse.nextPageToken"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the parent curator that can access the data segment. v1alpha format: `buyers/{accountId}` v1beta format: `curators/{accountId}`",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+parent}/dataSegments",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListDataSegmentsResponse"
              },
              "description": "List the data segments owned by a curator.",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.list"
            },
            "activate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of data segment to activate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ActivateDataSegmentRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Activates a data segment.",
              "path": "v1alpha/{+name}:activate",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.activate"
            },
            "deactivate": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/dataSegments/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of data segment to deactivate. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{accountId}/dataSegments/{curatorDataSegmentId}`",
                  "required": true
                }
              },
              "request": {
                "$ref": "DeactivateDataSegmentRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/dataSegments/{dataSegmentsId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}:deactivate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "DataSegment"
              },
              "description": "Deactivates a data segment.",
              "id": "authorizedbuyersmarketplace.buyers.dataSegments.deactivate"
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "get": {
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Gets a finalized deal given its name."
            },
            "addCreative": {
              "parameters": {
                "deal": {
                  "location": "path",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+deal}:addCreative",
              "httpMethod": "POST",
              "parameterOrder": [
                "deal"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative"
            },
            "resume": {
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}:resume",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume"
            },
            "pause": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "path": "v1alpha/{+name}:pause",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "location": "path"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+parent}/finalizedDeals",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "description": "Lists finalized deals. Use the URL path \"/v1alpha/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list"
            },
            "setReadyToServe": {
              "path": "v1alpha/{+deal}:setReadyToServe",
              "httpMethod": "POST",
              "parameterOrder": [
                "deal"
              ],
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1alpha/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "parameters": {
                "deal": {
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "unsubscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "path": "v1alpha/{+auctionPackage}:unsubscribeClients",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "auctionPackage": {
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "required": true
                }
              },
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              }
            },
            "list": {
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1alpha/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1alpha/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "path": "v1alpha/{+parent}/auctionPackages",
              "httpMethod": "GET",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list",
              "parameters": {
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true
                }
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Gets an auction package given its name.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get"
            },
            "subscribe": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "path": "v1alpha/{+name}:subscribe",
              "httpMethod": "POST",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe"
            },
            "subscribeClients": {
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "path": "v1alpha/{+auctionPackage}:subscribeClients",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "auctionPackage": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SubscribeClientsRequest"
              }
            },
            "unsubscribe": {
              "flatPath": "v1alpha/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true
                }
              },
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "path": "v1alpha/{+name}:unsubscribe",
              "httpMethod": "POST"
            }
          }
        },
        "proposals": {
          "methods": {
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results.",
              "path": "v1alpha/{+parent}/proposals",
              "httpMethod": "GET",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`"
                }
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "path": "v1alpha/{+name}",
              "httpMethod": "PATCH",
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "parameters": {
                "name": {
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
                }
              },
              "request": {
                "$ref": "Proposal"
              },
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "path": "v1alpha/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string"
                }
              }
            },
            "sendRfp": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "parameterOrder": [
                "buyer"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "path": "v1alpha/{+buyer}/proposals:sendRfp",
              "httpMethod": "POST",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals:sendRfp",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "buyer": {
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "pattern": "^buyers/[^/]+$",
                  "type": "string",
                  "required": true,
                  "location": "path"
                }
              },
              "request": {
                "$ref": "SendRfpRequest"
              }
            },
            "cancelNegotiation": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "path": "v1alpha/{+proposal}:cancelNegotiation",
              "httpMethod": "POST",
              "parameterOrder": [
                "proposal"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "proposal": {
                  "required": true,
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "location": "path"
                }
              },
              "request": {
                "$ref": "CancelNegotiationRequest"
              }
            },
            "addNote": {
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "proposal": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true
                }
              },
              "request": {
                "$ref": "AddNoteRequest"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "parameterOrder": [
                "proposal"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "path": "v1alpha/{+proposal}:addNote",
              "httpMethod": "POST"
            },
            "accept": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "path": "v1alpha/{+name}:accept",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Proposal"
              },
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "AcceptProposalRequest"
              }
            }
          },
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "path": "v1alpha/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Deal"
                  },
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "type": "string",
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path"
                    }
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "batchUpdate": {
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "description": "Batch updates multiple deals in the same proposal.",
                  "path": "v1alpha/{+parent}/deals:batchUpdate",
                  "httpMethod": "POST"
                },
                "list": {
                  "path": "v1alpha/{+parent}/deals",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource.",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100."
                    },
                    "pageToken": {
                      "description": "The page token as returned from ListDealsResponse.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ]
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "type": "string",
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "location": "path"
                    },
                    "updateMask": {
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    }
                  },
                  "request": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1alpha/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Deal"
                  },
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "path": "v1alpha/{+name}",
                  "httpMethod": "PATCH",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch"
                }
              }
            }
          }
        }
      }
    }
  },
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "schemas": {
    "MediaPlanner": {
      "type": "object",
      "description": "Represents a media planner account.",
      "properties": {
        "ancestorNames": {
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method."
        },
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "readOnly": true,
          "deprecated": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        }
      },
      "id": "MediaPlanner"
    },
    "ListAuctionPackagesResponse": {
      "description": "Response message for listing auction packages.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results."
        },
        "auctionPackages": {
          "items": {
            "$ref": "AuctionPackage"
          },
          "description": "The list of auction packages.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListAuctionPackagesResponse"
    },
    "MarketplaceTargeting": {
      "description": "Targeting represents different criteria that can be used to target deals or auction packages. For example, they can choose to target inventory only if the user is in the US. Multiple types of targeting are always applied as a logical AND, unless noted otherwise.",
      "properties": {
        "inventoryTypeTargeting": {
          "$ref": "InventoryTypeTargeting",
          "readOnly": true,
          "description": "Output only. Inventory type targeting information."
        },
        "technologyTargeting": {
          "description": "Output only. Technology targeting information, for example, operating system, device category.",
          "readOnly": true,
          "$ref": "TechnologyTargeting"
        },
        "verticalTargeting": {
          "description": "Output only. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals",
          "readOnly": true,
          "$ref": "CriteriaTargeting"
        },
        "inventorySizeTargeting": {
          "description": "Output only. Inventory sizes to be included/excluded.",
          "readOnly": true,
          "$ref": "InventorySizeTargeting"
        },
        "userListTargeting": {
          "description": "Buyer user list targeting information. User lists can be uploaded using https://developers.google.com/authorized-buyers/rtb/bulk-uploader.",
          "$ref": "CriteriaTargeting"
        },
        "placementTargeting": {
          "$ref": "PlacementTargeting",
          "readOnly": true,
          "description": "Output only. Placement targeting information, for example, URL, mobile applications."
        },
        "excludedSensitiveCategoryIds": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The sensitive content category label IDs excluded. Refer to this file https://storage.googleapis.com/adx-rtb-dictionaries/content-labels.txt for category IDs.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        },
        "geoTargeting": {
          "readOnly": true,
          "description": "Output only. Geo criteria IDs to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "videoTargeting": {
          "$ref": "VideoTargeting",
          "description": "Output only. Video targeting information.",
          "readOnly": true
        },
        "daypartTargeting": {
          "description": "Daypart targeting information.",
          "$ref": "DayPartTargeting"
        }
      },
      "type": "object",
      "id": "MarketplaceTargeting"
    },
    "DayPart": {
      "type": "object",
      "description": "Defines targeting for a period of time on a specific week day.",
      "properties": {
        "dayOfWeek": {
          "type": "string",
          "description": "Day of week for the period.",
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      },
      "id": "DayPart"
    },
    "PackageTargeting": {
      "type": "object",
      "description": "Targeting criteria for curated and auction packages.",
      "properties": {
        "geoTargeting": {
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo.",
          "$ref": "CriteriaTargeting"
        },
        "includedNativeInventoryTypes": {
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type."
        },
        "includedDataSegments": {
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "includedAdSizes": {
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes.",
          "type": "array",
          "items": {
            "$ref": "AdSize"
          }
        },
[...]
