{
  "canonicalName": "Authorized Buyers Marketplace",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "resources": {
    "buyers": {
      "resources": {
        "publisherProfiles": {
          "methods": {
            "list": {
              "description": "Lists publisher profiles. The returned publisher profiles aren't in any defined order. The order of the results might change. A new publisher profile can appear in any place in the list of returned results.",
              "parameters": {
                "parent": {
                  "description": "Required. Parent that owns the collection of publisher profiles Format: `buyers/{buyerId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+$"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from a previous ListPublisherProfilesResponse."
                },
                "filter": {
                  "description": "Optional query string using the [Cloud API list filtering] (https://developers.google.com/authorized-buyers/apis/guides/list-filters) syntax.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListPublisherProfilesResponse"
              },
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/publisherProfiles",
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.list"
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/publisherProfiles/{publisherProfilesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "description": "Gets the requested publisher profile by name.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/publisherProfiles/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the publisher profile. Format: `buyers/{buyerId}/publisherProfiles/{publisherProfileId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "PublisherProfile"
              },
              "id": "authorizedbuyersmarketplace.buyers.publisherProfiles.get",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            }
          }
        },
        "clients": {
          "resources": {
            "users": {
              "methods": {
                "activate": {
                  "description": "Activates an existing client user. The state of the client user will be updated from \"INACTIVE\" to \"ACTIVE\". This method has no effect if the client user is already in \"ACTIVE\" state. An error will be returned if the client user to activate is still in \"INVITED\" state.",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:activate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:activate",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.activate",
                  "request": {
                    "$ref": "ActivateClientUserRequest"
                  }
                },
                "create": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.create",
                  "request": {
                    "$ref": "ClientUser"
                  },
                  "path": "v1/{+parent}/users",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "description": "Creates a new client user in \"INVITED\" state. An email invitation will be sent to the new user, once accepted the user will become active."
                },
                "deactivate": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.deactivate",
                  "request": {
                    "$ref": "DeactivateClientUserRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:deactivate",
                  "httpMethod": "POST",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}:deactivate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Deactivates an existing client user. The state of the client user will be updated from \"ACTIVE\" to \"INACTIVE\". This method has no effect if the client user is already in \"INACTIVE\" state. An error will be returned if the client user to deactivate is still in \"INVITED\" state.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "description": "Retrieves an existing client user.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true,
                      "location": "path",
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "ClientUser"
                  },
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "description": "Lists all client users for a specified client.",
                  "parameters": {
                    "pageSize": {
                      "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientUsersResponse.nextPageToken returned from the previous call to the list method.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the client. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/clients/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListClientUsersResponse"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/users",
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.list"
                },
                "delete": {
                  "id": "authorizedbuyersmarketplace.buyers.clients.users.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}/users/{usersId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^buyers/[^/]+/clients/[^/]+/users/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}/clientUsers/{userId}`",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes an existing client user. The client user will lose access to the Authorized Buyers UI. Note that if a client user is deleted, the user's access to the UI can't be restored unless a new client user is created and activated."
                }
              }
            }
          },
          "methods": {
            "get": {
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "description": "Gets a client with a given resource name.",
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "list": {
              "description": "Lists all the clients for the current buyer.",
              "parameters": {
                "parent": {
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                },
                "pageSize": {
                  "description": "Requested page size. If left blank, a default page size of 500 will be applied.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A token identifying a page of results the server should return. Typically, this is the value of ListClientsResponse.nextPageToken returned from the previous call to the list method.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Query string using the [Filtering Syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported fields for filtering are: * partnerClientId Use this field to filter the clients by the partnerClientId. For example, if the partnerClientId of the client is \"1234\", the value of this field should be `partnerClientId = \"1234\"`, in order to get only the client whose partnerClientId is \"1234\" in the response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListClientsResponse"
              },
              "flatPath": "v1/buyers/{buyersId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/clients",
              "id": "authorizedbuyersmarketplace.buyers.clients.list"
            },
            "patch": {
              "description": "Updates an existing client.",
              "parameters": {
                "name": {
                  "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/clients/[^/]+$"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "format": "google-fieldmask"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "PATCH",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.clients.patch",
              "request": {
                "$ref": "Client"
              }
            },
            "activate": {
              "description": "Activates an existing client. The state of the client will be updated to \"ACTIVE\". This method has no effect if the client is already in \"ACTIVE\" state.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:activate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:activate",
              "id": "authorizedbuyersmarketplace.buyers.clients.activate",
              "request": {
                "$ref": "ActivateClientRequest"
              }
            },
            "create": {
              "path": "v1/{+parent}/clients",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.create",
              "request": {
                "$ref": "Client"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The name of the buyer. Format: `buyers/{accountId}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+$"
                }
              },
              "response": {
                "$ref": "Client"
              },
              "description": "Creates a new client.",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/clients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "deactivate": {
              "path": "v1/{+name}:deactivate",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.clients.deactivate",
              "request": {
                "$ref": "DeactivateClientRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/clients/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "Client"
              },
              "description": "Deactivates an existing client. The state of the client will be updated to \"INACTIVE\". This method has no effect if the client is already in \"INACTIVE\" state.",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/clients/{clientsId}:deactivate",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "get": {
              "description": "Gets a finalized deal given its name.",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.get"
            },
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.list",
              "path": "v1/{+parent}/finalizedDeals",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus"
                },
                "pageSize": {
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListFinalizedDealsResponse."
                }
              },
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients."
            },
            "pause": {
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:pause",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Pauses serving of the given finalized deal. This call only pauses the serving status, and does not affect other fields of the finalized deal. Calling this method for an already paused deal has no effect. This method only applies to programmatic guaranteed deals and preferred deals.",
              "parameters": {
                "name": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.pause",
              "request": {
                "$ref": "PauseFinalizedDealRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:pause"
            },
            "resume": {
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:resume",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "type": "string",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Resumes serving of the given finalized deal. Calling this method for an running deal has no effect. If a deal is initially paused by the seller, calling this method will not resume serving of the deal until the seller also resumes the deal. This method only applies to programmatic guaranteed deals and preferred deals.",
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.resume",
              "request": {
                "$ref": "ResumeFinalizedDealRequest"
              },
              "path": "v1/{+name}:resume",
              "parameterOrder": [
                "name"
              ]
            },
            "addCreative": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.addCreative",
              "request": {
                "$ref": "AddCreativeRequest"
              },
              "path": "v1/{+deal}:addCreative",
              "parameterOrder": [
                "deal"
              ],
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:addCreative",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameters": {
                "deal": {
                  "type": "string",
                  "description": "Required. Name of the finalized deal in the format of: `buyers/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Add creative to be used in the bidding process for a finalized deal. For programmatic guaranteed deals, it's recommended that you associate at least one approved creative with the deal before calling SetReadyToServe, to help reduce the number of bid responses filtered because they don't contain approved creatives. Creatives successfully added to a deal can be found in the Realtime-bidding Creatives API creative.deal_ids. This method only applies to programmatic guaranteed deals. Maximum number of 1000 creatives can be added to a finalized deal."
            },
            "setReadyToServe": {
              "id": "authorizedbuyersmarketplace.buyers.finalizedDeals.setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "path": "v1/{+deal}:setReadyToServe",
              "parameterOrder": [
                "deal"
              ],
              "flatPath": "v1/buyers/{buyersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "deal": {
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/finalizedDeals/[^/]+$"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals."
            }
          }
        },
        "auctionPackages": {
          "methods": {
            "unsubscribeClients": {
              "parameters": {
                "auctionPackage": {
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Unsubscribe from the auction package for the specified clients of the buyer. Unsubscribing a client that is not subscribed will have no effect.",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+auctionPackage}:unsubscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribeClients",
              "request": {
                "$ref": "UnsubscribeClientsRequest"
              }
            },
            "unsubscribe": {
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:unsubscribe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Unsubscribe from the auction package for the specified buyer. Once unsubscribed, the bidder will no longer receive a call out for the auction package deal ID and the specified buyer.",
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.unsubscribe",
              "request": {
                "$ref": "UnsubscribeAuctionPackageRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}:unsubscribe"
            },
            "subscribeClients": {
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribeClients",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "auctionPackage": {
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe the specified clients of the buyer to the auction package. If a client in the list does not belong to the buyer, an error response will be returned, and all of the following clients in the list will not be subscribed. Subscribing an already subscribed client will have no effect.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribeClients",
              "request": {
                "$ref": "SubscribeClientsRequest"
              },
              "path": "v1/{+auctionPackage}:subscribeClients",
              "parameterOrder": [
                "auctionPackage"
              ]
            },
            "get": {
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "description": "Required. Name of auction package to get. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Gets an auction package given its name.",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.get",
              "path": "v1/{+name}",
              "parameterOrder": [
                "name"
              ]
            },
            "list": {
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500.",
                  "location": "query",
                  "type": "integer"
                },
                "filter": {
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "required": true,
                  "type": "string",
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1/{+parent}/auctionPackages",
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.list"
            },
            "subscribe": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}`",
                  "required": true,
                  "pattern": "^buyers/[^/]+/auctionPackages/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "AuctionPackage"
              },
              "description": "Subscribe to the auction package for the specified buyer. Once subscribed, the bidder will receive a call out for inventory matching the auction package targeting criteria with the auction package deal ID and the specified buyer.",
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/auctionPackages/{auctionPackagesId}:subscribe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+name}:subscribe",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.auctionPackages.subscribe",
              "request": {
                "$ref": "SubscribeAuctionPackageRequest"
              }
            }
          }
        },
        "proposals": {
          "resources": {
            "deals": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Deal"
                  },
                  "description": "Gets a deal given its name. The deal is returned at its head revision.",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "description": "Updates the given deal at the buyer known revision number. If the server revision has advanced since the passed-in proposal.proposal_revision an ABORTED error message will be returned. The revision number is incremented by the server whenever the proposal or its constituent deals are updated. Note: The revision number is kept at a proposal level. The buyer of the API is expected to keep track of the revision number after the last update operation and send it in as part of the next update request. This way, if there are further changes on the server (for example, seller making new updates), then the server can detect conflicts and reject the proposed changes.",
                  "parameters": {
                    "name": {
                      "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+/deals/[^/]+$",
                      "location": "path"
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                      "format": "google-fieldmask"
                    }
                  },
                  "response": {
                    "$ref": "Deal"
                  },
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals/{dealsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.patch",
                  "request": {
                    "$ref": "Deal"
                  }
                },
                "batchUpdate": {
                  "description": "Batch updates multiple deals in the same proposal.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to batch update. Format: buyers/{accountId}/proposals/{proposalId}",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "BatchUpdateDealsResponse"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals:batchUpdate",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deals:batchUpdate",
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.batchUpdate",
                  "request": {
                    "$ref": "BatchUpdateDealsRequest"
                  }
                },
                "list": {
                  "id": "authorizedbuyersmarketplace.buyers.proposals.deals.list",
                  "path": "v1/{+parent}/deals",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}/deals",
                  "scopes": [
                    "https://www.googleapis.com/auth/authorized-buyers-marketplace"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The page token as returned from ListDealsResponse."
                    },
                    "parent": {
                      "description": "Required. The name of the proposal containing the deals to retrieve. Format: buyers/{accountId}/proposals/{proposalId}",
                      "required": true,
                      "type": "string",
                      "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListDealsResponse"
                  },
                  "description": "Lists all deals in a proposal. To retrieve only the finalized revision deals regardless if a deal is being renegotiated, see the FinalizedDeals resource."
                }
              }
            }
          },
          "methods": {
            "cancelNegotiation": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.cancelNegotiation",
              "request": {
                "$ref": "CancelNegotiationRequest"
              },
              "path": "v1/{+proposal}:cancelNegotiation",
              "parameterOrder": [
                "proposal"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:cancelNegotiation",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "parameters": {
                "proposal": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "description": "Cancels an ongoing negotiation on a proposal. This does not cancel or end serving for the deals if the proposal has been finalized. If the proposal has not been finalized before, calling this method will set the Proposal.state to `TERMINATED` and increment the Proposal.proposal_revision. If the proposal has been finalized before and is under renegotiation now, calling this method will reset the Proposal.state to `FINALIZED` and increment the Proposal.proposal_revision. This method does not support private auction proposals whose Proposal.deal_type is 'PRIVATE_AUCTION'."
            },
            "patch": {
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "PATCH",
              "description": "Updates the proposal at the given revision number. If the revision number in the request is behind the latest one kept in the server, an error message will be returned. See FieldMask for how to use FieldMask. Only fields specified in the UpdateProposalRequest.update_mask will be updated; Fields noted as 'Immutable' or 'Output only' yet specified in the UpdateProposalRequest.update_mask will be ignored and left unchanged. Updating a private auction proposal is only allowed for buyer private data, all other fields are immutable.",
              "parameters": {
                "updateMask": {
                  "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask.",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                },
                "name": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "id": "authorizedbuyersmarketplace.buyers.proposals.patch",
              "request": {
                "$ref": "Proposal"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}"
            },
            "list": {
              "id": "authorizedbuyersmarketplace.buyers.proposals.list",
              "path": "v1/{+parent}/proposals",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1/buyers/{buyersId}/proposals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Parent that owns the collection of proposals Format: `buyers/{accountId}`",
                  "required": true,
                  "location": "path",
                  "pattern": "^buyers/[^/]+$"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * displayName * dealType * updateTime * state"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If unspecified, the server will put a size of 500."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned from ListProposalsResponse."
                }
              },
              "response": {
                "$ref": "ListProposalsResponse"
              },
              "description": "Lists proposals. A filter expression using [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) may be specified to filter the results."
            },
            "accept": {
              "parameters": {
                "name": {
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "location": "path",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "description": "Accepts the proposal at the given revision number. If the revision number in the request is behind the latest from the server, an error message will be returned. This call updates the Proposal.state from `BUYER_ACCEPTANCE_REQUESTED` to `FINALIZED`; it has no side effect if the Proposal.state is already `FINALIZED` and throws exception if the Proposal.state is not either `BUYER_ACCEPTANCE_REQUESTED` or `FINALIZED`. Accepting a proposal means the buyer understands and accepts the Proposal.terms_and_conditions proposed by the seller.",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:accept",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST",
              "path": "v1/{+name}:accept",
              "parameterOrder": [
                "name"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.accept",
              "request": {
                "$ref": "AcceptProposalRequest"
              }
            },
            "sendRfp": {
              "parameterOrder": [
                "buyer"
              ],
              "path": "v1/{+buyer}/proposals:sendRfp",
              "id": "authorizedbuyersmarketplace.buyers.proposals.sendRfp",
              "request": {
                "$ref": "SendRfpRequest"
              },
              "description": "Sends a request for proposal (RFP) to a publisher to initiate the negotiation regarding certain inventory. In the RFP, buyers can specify the deal type, deal terms, start and end dates, targeting, and a message to the publisher. Once the RFP is sent, a proposal in `SELLER_REVIEW_REQUESTED` state will be created and returned in the response. The publisher may review your request and respond with detailed deals in the proposal.",
              "parameters": {
                "buyer": {
                  "type": "string",
                  "description": "Required. The current buyer who is sending the RFP in the format: `buyers/{accountId}`.",
                  "required": true,
                  "pattern": "^buyers/[^/]+$",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "POST",
              "flatPath": "v1/buyers/{buyersId}/proposals:sendRfp",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ]
            },
            "get": {
              "description": "Gets a proposal using its resource name. The proposal is returned at the latest revision.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$"
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "httpMethod": "GET",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "id": "authorizedbuyersmarketplace.buyers.proposals.get"
            },
            "addNote": {
              "path": "v1/{+proposal}:addNote",
              "parameterOrder": [
                "proposal"
              ],
              "id": "authorizedbuyersmarketplace.buyers.proposals.addNote",
              "request": {
                "$ref": "AddNoteRequest"
              },
              "parameters": {
                "proposal": {
                  "location": "path",
                  "pattern": "^buyers/[^/]+/proposals/[^/]+$",
                  "type": "string",
                  "description": "Name of the proposal. Format: `buyers/{accountId}/proposals/{proposalId}`",
                  "required": true
                }
              },
              "response": {
                "$ref": "Proposal"
              },
              "description": "Creates a note for this proposal and sends to the seller. This method is not supported for proposals with DealType set to 'PRIVATE_AUCTION'.",
              "flatPath": "v1/buyers/{buyersId}/proposals/{proposalsId}:addNote",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "bidders": {
      "resources": {
        "auctionPackages": {
          "methods": {
            "list": {
              "flatPath": "v1/bidders/{biddersId}/auctionPackages",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The page token as returned. ListAuctionPackagesResponse.nextPageToken"
                },
                "orderBy": {
                  "description": "Optional. An optional query string to sort auction packages using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Only supported when parent is bidder. Supported columns for sorting are: * displayName * createTime * updateTime",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. Max allowed page size is 500."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Optional query string using the [Cloud API list filtering syntax](/authorized-buyers/apis/guides/list-filters). Only supported when parent is bidder. Supported columns for filtering are: * displayName * createTime * updateTime * eligibleSeatIds"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. Name of the parent buyer that can access the auction package. Format: `buyers/{accountId}`. When used with a bidder account, the auction packages that the bidder, its media planners, its buyers and clients are subscribed to will be listed, in the format `bidders/{accountId}`.",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListAuctionPackagesResponse"
              },
              "description": "List the auction packages. Buyers can use the URL path \"/v1/buyers/{accountId}/auctionPackages\" to list auction packages for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/auctionPackages\" to list auction packages for the bidder, its media planners, its buyers, and all their clients.",
              "id": "authorizedbuyersmarketplace.bidders.auctionPackages.list",
              "path": "v1/{+parent}/auctionPackages",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "finalizedDeals": {
          "methods": {
            "list": {
              "parameters": {
                "orderBy": {
                  "description": "An optional query string to sort finalized deals using the [Cloud API sorting syntax](https://cloud.google.com/apis/design/design_patterns#sorting_order). If no sort order is specified, results will be returned in an arbitrary order. Supported columns for sorting are: * deal.displayName * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * rtbMetrics.bidRequests7Days * rtbMetrics.bids7Days * rtbMetrics.adImpressions7Days * rtbMetrics.bidRate7Days * rtbMetrics.filteredBidRate7Days * rtbMetrics.mustBidRateCurrentMonth",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "The page token as returned from ListFinalizedDealsResponse.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+$",
                  "description": "Required. The buyer to list the finalized deals for, in the format: `buyers/{accountId}`. When used to list finalized deals for a bidder, its buyers and clients, in the format `bidders/{accountId}`.",
                  "required": true,
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional query string using the [Cloud API list filtering syntax](https://developers.google.com/authorized-buyers/apis/guides/list-filters) Supported columns for filtering are: * deal.displayName * deal.dealType * deal.createTime * deal.updateTime * deal.flightStartTime * deal.flightEndTime * deal.eligibleSeatIds * dealServingStatus"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Requested page size. The server may return fewer results than requested. If requested more than 500, the server will return 500 results per page. If unspecified, the server will pick a default page size of 100.",
                  "format": "int32"
                }
              },
              "response": {
                "$ref": "ListFinalizedDealsResponse"
              },
              "description": "Lists finalized deals. Use the URL path \"/v1/buyers/{accountId}/finalizedDeals\" to list finalized deals for the current buyer and its clients. Bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals\" to list finalized deals for the bidder, its buyers and all their clients.",
              "httpMethod": "GET",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "path": "v1/{+parent}/finalizedDeals",
              "parameterOrder": [
                "parent"
              ],
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.list"
            },
            "setReadyToServe": {
              "httpMethod": "POST",
              "flatPath": "v1/bidders/{biddersId}/finalizedDeals/{finalizedDealsId}:setReadyToServe",
              "scopes": [
                "https://www.googleapis.com/auth/authorized-buyers-marketplace"
              ],
              "description": "Sets the given finalized deal as ready to serve. By default, deals are set as ready to serve as soon as they're finalized. If you want to opt out of the default behavior, and manually indicate that deals are ready to serve, ask your Technical Account Manager to add you to the allowlist. If you choose to use this method, finalized deals belonging to the bidder and its child seats don't start serving until after you call `setReadyToServe`, and after the deals become active. For example, you can use this method to delay receiving bid requests until your creative is ready. In addition, bidders can use the URL path \"/v1/bidders/{accountId}/finalizedDeals/{dealId}\" to set ready to serve for the finalized deals belong to itself, its child seats and all their clients. This method only applies to programmatic guaranteed deals.",
              "parameters": {
                "deal": {
                  "location": "path",
                  "pattern": "^bidders/[^/]+/finalizedDeals/[^/]+$",
                  "description": "Required. Format: `buyers/{accountId}/finalizedDeals/{dealId}` or `bidders/{accountId}/finalizedDeals/{dealId}`",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "FinalizedDeal"
              },
              "id": "authorizedbuyersmarketplace.bidders.finalizedDeals.setReadyToServe",
              "request": {
                "$ref": "SetReadyToServeRequest"
              },
              "parameterOrder": [
                "deal"
              ],
              "path": "v1/{+deal}:setReadyToServe"
            }
          }
        }
      }
    }
  },
  "ownerName": "Google",
  "mtlsRootUrl": "https://authorizedbuyersmarketplace.mtls.googleapis.com/",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/authorized-buyers-marketplace": {
          "description": "See, create, edit, and delete your Authorized Buyers Marketplace entities."
        }
      }
    }
  },
  "id": "authorizedbuyersmarketplace:v1",
  "batchPath": "batch",
  "rootUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "documentationLink": "https://developers.google.com/authorized-buyers/apis/marketplace/reference/rest/",
  "baseUrl": "https://authorizedbuyersmarketplace.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    }
  },
  "schemas": {
    "SubscribeClientsRequest": {
      "description": "Request message for SubscribeAuctionPackageClients.",
      "id": "SubscribeClientsRequest",
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already."
        }
      }
    },
    "MobileApplicationTargeting": {
      "description": "Mobile application targeting settings.",
      "id": "MobileApplicationTargeting",
      "type": "object",
      "properties": {
        "firstPartyTargeting": {
          "$ref": "FirstPartyMobileApplicationTargeting",
          "description": "Publisher owned apps to be targeted or excluded by the publisher to display the ads in."
        }
      }
    },
    "DayPart": {
      "properties": {
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "$ref": "TimeOfDay",
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored."
        },
        "dayOfWeek": {
          "description": "Day of week for the period.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        }
      },
      "id": "DayPart",
      "type": "object",
      "description": "Defines targeting for a period of time on a specific week day."
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "PublisherProfileMobileApplication": {
      "properties": {
        "externalAppId": {
          "type": "string",
          "description": "The external ID for the app from its app store. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "The name of the app.",
          "type": "string"
        },
        "appStore": {
          "type": "string",
          "enum": [
            "APP_STORE_TYPE_UNSPECIFIED",
            "APPLE_ITUNES",
            "GOOGLE_PLAY",
            "ROKU",
            "AMAZON_FIRE_TV",
            "PLAYSTATION",
            "XBOX",
            "SAMSUNG_TV",
            "AMAZON",
            "OPPO",
            "SAMSUNG",
            "VIVO",
            "XIAOMI",
            "LG_TV"
          ],
          "description": "The app store the app belongs to. Can be used to filter the response of the publisherProfiles.list method.",
          "enumDescriptions": [
            "A placeholder for an unknown app store.",
            "Apple iTunes",
            "Google Play",
            "Roku",
            "Amazon Fire TV",
            "PlayStation",
            "Xbox",
            "Samsung TV",
            "Amazon Appstore",
            "OPPO App Market",
            "Samsung Galaxy Store",
            "VIVO App Store",
            "Xiaomi GetApps",
            "LG TV"
          ]
        }
      },
      "description": "A mobile application that contains a external app ID, name, and app store.",
      "id": "PublisherProfileMobileApplication",
      "type": "object"
    },
    "PrivateData": {
      "properties": {
        "referenceId": {
          "type": "string",
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units)."
        }
      },
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "id": "PrivateData",
      "type": "object"
    },
    "Proposal": {
      "id": "Proposal",
      "type": "object",
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "properties": {
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "type": "string",
          "readOnly": true
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        },
        "proposalRevision": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "type": "string"
        },
        "termsAndConditions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "buyer": {
          "type": "string",
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`",
          "readOnly": true
        },
        "dealType": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "description": "Output only. Type of deal the proposal contains.",
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "lastUpdaterOrCommentorRole": {
          "readOnly": true,
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "originatorRole": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "description": "Output only. Indicates whether the buyer/seller created the proposal.",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ]
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "sellerContacts": {
          "readOnly": true,
          "description": "Output only. Contact information for the seller.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "state": {
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ],
          "description": "Output only. Indicates the state of the proposal.",
          "readOnly": true
        },
        "notes": {
          "type": "array",
          "items": {
            "$ref": "Note"
          },
          "description": "A list of notes from the buyer and the seller attached to this proposal."
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "type": "array",
          "items": {
            "$ref": "Contact"
          }
        },
        "displayName": {
          "readOnly": true,
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal.",
          "type": "string"
        },
        "pausingConsented": {
          "type": "boolean",
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers."
        }
      }
    },
    "ProgrammaticGuaranteedTerms": {
      "properties": {
        "minimumDailyLooks": {
          "format": "int64",
          "type": "string",
          "description": "Daily minimum looks for CPD deal types. For CPD deals, buyer should negotiate on this field instead of guaranteed_looks."
        },
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        },
        "guaranteedLooks": {
          "format": "int64",
          "type": "string",
          "description": "Count of guaranteed looks. For CPD deals, buyer changes to guaranteed_looks will be ignored."
        },
        "reservationType": {
          "description": "The reservation type for a Programmatic Guaranteed deal. This indicates whether the number of impressions is fixed, or a percent of available impressions. If not specified, the default reservation type is STANDARD.",
          "type": "string",
          "enum": [
            "RESERVATION_TYPE_UNSPECIFIED",
            "STANDARD",
            "SPONSORSHIP"
          ],
          "enumDescriptions": [
            "An unspecified reservation type.",
            "Non-sponsorship deal.",
            "Sponsorship deals don't have impression goal (guaranteed_looks) and they are served based on the flight dates. For CPM Sponsorship deals, impression_cap is the lifetime impression limit."
          ]
        },
        "impressionCap": {
          "format": "int64",
          "description": "The lifetime impression cap for CPM Sponsorship deals. Deal will stop serving when cap is reached.",
          "type": "string"
        },
        "percentShareOfVoice": {
          "type": "string",
          "description": "For sponsorship deals, this is the percentage of the seller's eligible impressions that the deal will serve until the cap is reached. Valid value is within range 0~100.",
          "format": "int64"
        }
      },
      "description": "Pricing terms for Programmatic Guaranteed Deals.",
      "id": "ProgrammaticGuaranteedTerms",
      "type": "object"
    },
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "type": "object",
      "description": "Pricing terms for Private Auctions.",
      "properties": {
        "openAuctionAllowed": {
          "type": "boolean",
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "readOnly": true
        },
        "floorPrice": {
          "$ref": "Price",
          "description": "The minimum price buyer has to bid to compete in the private auction."
        }
      }
    },
    "OperatingSystemTargeting": {
      "properties": {
        "operatingSystemCriteria": {
          "description": "IDs of operating systems to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemVersionCriteria": {
          "$ref": "CriteriaTargeting",
          "description": "IDs of operating system versions to be included/excluded."
        }
      },
      "description": "Represents targeting information for operating systems.",
      "id": "OperatingSystemTargeting",
      "type": "object"
    },
    "Contact": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        }
      }
    },
    "AddNoteRequest": {
      "properties": {
        "note": {
          "$ref": "Note",
          "description": "The note to add."
        }
      },
      "description": "Request to add a note.",
      "id": "AddNoteRequest",
      "type": "object"
    },
    "Price": {
      "description": "Represents a price and a pricing type for a deal.",
      "id": "Price",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "description": "The pricing type for the deal."
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      }
    },
    "RtbMetrics": {
      "id": "RtbMetrics",
      "type": "object",
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)",
      "properties": {
        "bidRequests7Days": {
          "format": "int64",
          "description": "Bid requests in last 7 days.",
          "type": "string"
        },
        "bids7Days": {
          "description": "Bids in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "description": "Must bid rate for current month.",
          "format": "double"
        },
        "adImpressions7Days": {
          "format": "int64",
          "description": "Ad impressions in last 7 days.",
          "type": "string"
        },
        "filteredBidRate7Days": {
          "type": "number",
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "format": "double"
        }
      }
    },
    "SetReadyToServeRequest": {
      "properties": {},
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest",
      "type": "object"
    },
    "ListClientUsersResponse": {
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse",
      "type": "object",
      "properties": {
        "clientUsers": {
          "type": "array",
          "items": {
            "$ref": "ClientUser"
          },
          "description": "The returned list of client users."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results."
        }
      }
    },
    "FrequencyCap": {
      "id": "FrequencyCap",
      "type": "object",
      "description": "Message contains details about publisher-set frequency caps of the delivery.",
      "properties": {
        "maxImpressions": {
          "format": "int32",
          "description": "The maximum number of impressions that can be served to a user within the specified time period.",
          "type": "integer"
        },
        "timeUnitsCount": {
          "type": "integer",
          "description": "The amount of time, in the units specified by time_unit_type. Defines the amount of time over which impressions per user are counted and capped.",
          "format": "int32"
        },
        "timeUnitType": {
          "enumDescriptions": [
            "A placeholder for an undefined time unit type. This just indicates the variable with this value hasn't been initialized.",
            "Minute unit.",
            "Hour unit.",
            "Day unit.",
            "Week unit.",
            "Month unit.",
            "Lifecycle/Lifetime unit.",
            "Pod unit.",
            "Stream unit."
          ],
          "type": "string",
          "enum": [
            "TIME_UNIT_TYPE_UNSPECIFIED",
            "MINUTE",
            "HOUR",
            "DAY",
            "WEEK",
            "MONTH",
            "LIFETIME",
            "POD",
            "STREAM"
          ],
          "description": "The time unit. Along with num_time_units defines the amount of time over which impressions per user are counted and capped."
        }
      }
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "type": "object",
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise.",
      "properties": {
        "publisherCode": {
          "type": "string",
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method."
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "topHeadlines": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\"."
        },
        "pitchStatement": {
          "type": "string",
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher."
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\".",
          "type": "boolean"
        },
        "displayName": {
          "type": "string",
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method."
        },
        "logoUrl": {
          "type": "string",
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image."
        },
        "mobileApps": {
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "type": "array",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "overview": {
          "type": "string",
          "description": "Overview of the publisher."
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "samplePageUrl": {
          "type": "string",
          "description": "URL to a sample content page."
        }
      }
    },
    "PlacementTargeting": {
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "$ref": "MobileApplicationTargeting",
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages."
        }
      },
      "id": "PlacementTargeting",
      "type": "object",
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "FinalizedDeal": {
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more.",
      "id": "FinalizedDeal",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`"
        },
        "dealPausingInfo": {
          "$ref": "DealPausingInfo",
          "description": "Information related to deal pausing for the deal."
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        },
        "dealServingStatus": {
          "type": "string",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ],
          "description": "Serving status of the deal.",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ]
        },
        "readyToServe": {
          "type": "boolean",
          "description": "Whether the Programmatic Guaranteed deal is ready for serving."
        },
        "rtbMetrics": {
          "$ref": "RtbMetrics",
          "description": "Real-time bidding metrics for this deal."
        }
      }
    },
    "AcceptProposalRequest": {
      "properties": {
        "proposalRevision": {
          "format": "int64",
          "description": "The last known client revision number of the proposal.",
          "type": "string"
        }
      },
      "id": "AcceptProposalRequest",
      "type": "object",
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any."
    },
    "FirstPartyMobileApplicationTargeting": {
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded.",
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "description": "A list of application IDs to be included.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListFinalizedDealsResponse": {
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "type": "array",
          "items": {
            "$ref": "FinalizedDeal"
          }
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
[...]
