{
  "description": "The Authorized Buyers Marketplace API lets buyers programmatically discover inventory; propose, retrieve and negotiate deals with publishers.",
  "discoveryVersion": "v1",
  "title": "Authorized Buyers Marketplace API",
  "schemas": {
    "PrivateAuctionTerms": {
      "id": "PrivateAuctionTerms",
      "type": "object",
      "properties": {
        "floorPrice": {
          "description": "The minimum price buyer has to bid to compete in the private auction.",
          "$ref": "Price"
        },
        "openAuctionAllowed": {
          "description": "Output only. True if open auction buyers are allowed to compete with invited buyers in this private auction.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Pricing terms for Private Auctions."
    },
    "PlacementTargeting": {
      "id": "PlacementTargeting",
      "type": "object",
      "properties": {
        "uriTargeting": {
          "description": "URLs to be included/excluded.",
          "$ref": "UriTargeting"
        },
        "mobileApplicationTargeting": {
          "description": "Mobile application targeting information in a deal. This doesn't apply to Auction Packages.",
          "$ref": "MobileApplicationTargeting"
        }
      },
      "description": "Represents targeting about where the ads can appear, for example, certain sites or mobile applications. Different placement targeting types will be logically OR'ed."
    },
    "DeliveryControl": {
      "description": "Message contains details about how the deal will be paced.",
      "id": "DeliveryControl",
      "type": "object",
      "properties": {
        "deliveryRateType": {
          "description": "Output only. Specifies how the impression delivery will be paced.",
          "readOnly": true,
          "enum": [
            "DELIVERY_RATE_TYPE_UNSPECIFIED",
            "EVENLY",
            "FRONT_LOADED",
            "AS_FAST_AS_POSSIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined delivery rate type.",
            "Impressions are served uniformly over the life of the deal.",
            "Impressions are served front-loaded.",
            "Impressions are served as fast as possible."
          ],
          "type": "string"
        },
        "roadblockingType": {
          "enumDescriptions": [
            "A placeholder for an unspecified roadblocking type.",
            "Only one creative from a deal can serve per ad request. https://support.google.com/admanager/answer/177277.",
            "Any number of creatives from a deal can serve together per ad request.",
            "As many creatives from a deal as can fit on a page will serve. This could mean anywhere from one to all of a deal's creatives given the size constraints of ad slots on a page.",
            "All or none of the creatives from a deal will serve.",
            "A main/companion creative set roadblocking type."
          ],
          "enum": [
            "ROADBLOCKING_TYPE_UNSPECIFIED",
            "ONLY_ONE",
            "ONE_OR_MORE",
            "AS_MANY_AS_POSSIBLE",
            "ALL_ROADBLOCK",
            "CREATIVE_SET"
          ],
          "type": "string",
          "description": "Output only. Specifies the roadblocking type in display creatives.",
          "readOnly": true
        },
        "companionDeliveryType": {
          "enum": [
            "COMPANION_DELIVERY_TYPE_UNSPECIFIED",
            "DELIVERY_OPTIONAL",
            "DELIVERY_AT_LEAST_ONE",
            "DELIVERY_ALL"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified companion delivery type.",
            "Companions are not required to serve a creative set. The creative set can serve an inventory that has zero or more matching companions.",
            "At least one companion must be served in order for the creative set to be used.",
            "All companions in the set must be served in order for the creative set to be used. This can still serve to inventory that has more companions than can be filled."
          ],
          "type": "string",
          "description": "Output only. Specifies roadblocking in a main companion lineitem.",
          "readOnly": true
        },
        "frequencyCap": {
          "description": "Output only. Specifies any frequency caps. Cannot be filtered within ListDealsRequest.",
          "items": {
            "$ref": "FrequencyCap"
          },
          "type": "array",
          "readOnly": true
        },
        "creativeRotationType": {
          "description": "Output only. Specifies strategy to use for selecting a creative when multiple creatives of the same size are available.",
          "readOnly": true,
          "enumDescriptions": [
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are displayed roughly the same number of times over the duration of the deal.",
            "Creatives are served roughly proportionally to their performance.",
            "Creatives are served roughly proportionally to their weights.",
            "Creatives are served exactly in sequential order, also known as Storyboarding."
          ],
          "enum": [
            "CREATIVE_ROTATION_TYPE_UNSPECIFIED",
            "ROTATION_EVEN",
            "ROTATION_OPTIMIZED",
            "ROTATION_MANUAL",
            "ROTATION_SEQUENTIAL"
          ],
          "type": "string"
        }
      }
    },
    "AdSize": {
      "description": "Represents size of a single ad slot, or a creative.",
      "id": "AdSize",
      "type": "object",
      "properties": {
        "width": {
          "description": "The width of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "height": {
          "description": "The height of the ad slot in pixels. This field will be present only when size type is `PIXEL`.",
          "type": "string",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the ad slot size.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PIXEL",
            "INTERSTITIAL",
            "NATIVE",
            "FLUID"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined size type.",
            "Ad slot with size specified by height and width in pixels.",
            "Special size to describe an interstitial ad slot.",
            "Native (mobile) ads rendered by the publisher.",
            "Fluid size (responsive size) can be resized automatically with the change of outside environment."
          ]
        }
      }
    },
    "ListClientsResponse": {
      "description": "Response message for the list method.",
      "id": "ListClientsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientsRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clients": {
          "description": "The returned list of clients.",
          "items": {
            "$ref": "Client"
          },
          "type": "array"
        }
      }
    },
    "CancelNegotiationRequest": {
      "id": "CancelNegotiationRequest",
      "type": "object",
      "properties": {},
      "description": "Request to cancel an ongoing negotiation."
    },
    "Price": {
      "id": "Price",
      "type": "object",
      "properties": {
        "type": {
          "description": "The pricing type for the deal.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "CPM",
            "CPD"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined pricing type. If the pricing type is unspecified, CPM will be used instead.",
            "Cost per thousand impressions.",
            "Cost per day."
          ],
          "type": "string"
        },
        "amount": {
          "description": "The actual price with currency specified.",
          "$ref": "Money"
        }
      },
      "description": "Represents a price and a pricing type for a deal."
    },
    "ActivateClientUserRequest": {
      "description": "Request message for activating a client user.",
      "id": "ActivateClientUserRequest",
      "type": "object",
      "properties": {}
    },
    "CriteriaTargeting": {
      "id": "CriteriaTargeting",
      "type": "object",
      "properties": {
        "targetedCriteriaIds": {
          "description": "A list of numeric IDs to be included.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "excludedCriteriaIds": {
          "type": "array",
          "description": "A list of numeric IDs to be excluded.",
          "items": {
            "type": "string",
            "format": "int64"
          }
        }
      },
      "description": "Generic targeting used for targeting dimensions that contains a list of included and excluded numeric IDs. This cannot be filtered using list filter syntax."
    },
    "PrivateData": {
      "description": "Buyers are allowed to store certain types of private data in a proposal.",
      "id": "PrivateData",
      "type": "object",
      "properties": {
        "referenceId": {
          "description": "A buyer specified reference ID. This can be queried in the list operations (max-length: 1024 unicode code units).",
          "type": "string"
        }
      }
    },
    "PreferredDealTerms": {
      "description": "Pricing terms for Preferred Deals.",
      "id": "PreferredDealTerms",
      "type": "object",
      "properties": {
        "fixedPrice": {
          "description": "Fixed price for the deal.",
          "$ref": "Price"
        }
      }
    },
    "UpdateDealRequest": {
      "description": "Request message for updating the deal at the given revision number.",
      "id": "UpdateDealRequest",
      "type": "object",
      "properties": {
        "deal": {
          "description": "Required. The deal to update. The deal's `name` field is used to identify the deal to be updated. Note: proposal_revision will have to be provided within the resource or else an error will be thrown. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "$ref": "Deal"
        },
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "List of fields to be updated. If empty or unspecified, the service will update all fields populated in the update request excluding the output only fields and primitive fields with default value. Note that explicit field mask is required in order to reset a primitive field back to its default value, for example, false for boolean fields, 0 for integer fields. A special field mask consisting of a single path \"*\" can be used to indicate full replacement(the equivalent of PUT method), updatable fields unset or unspecified in the input will be cleared or set to default value. Output only fields will be ignored regardless of the value of updateMask."
        }
      }
    },
    "PackageTargeting": {
      "description": "Targeting criteria for curated and auction packages.",
      "id": "PackageTargeting",
      "type": "object",
      "properties": {
        "minimumPredictedClickThroughRatePercentageMillis": {
          "description": "Optional. The targeted minimum predicted click through rate, ranging in values [10, 10000] (0.01% - 10%). A value of 50 means that the configuration will only match adslots for which we predict at least 0.05% click through rate. An unset value indicates inventory will be targeted regardless of predicted click through rate.",
          "type": "string",
          "format": "int64"
        },
        "includedOpenMeasurementTypes": {
          "description": "Optional. The list of targeted open measurement types. If empty, inventory will be targeted regardless of Open Measurement support.",
          "items": {
            "enum": [
              "OPEN_MEASUREMENT_TYPE_UNSPECIFIED",
              "OPEN_MEASUREMENT_TYPE_OMID_V1"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory that supports the v1 Open Measurement Interface Definition (OMID)."
            ],
            "type": "string"
          },
          "type": "array"
        },
        "publisherTargeting": {
          "description": "Optional. The targeted publishers. If unset, inventory will be targeted regardless of publisher. Publishers are identified by their publisher ID from ads.txt / app-ads.txt. See https://iabtechlab.com/ads-txt/ and https://iabtechlab.com/app-ads-txt/ for more details.",
          "$ref": "StringTargetingDimension"
        },
        "placementTargeting": {
          "description": "Optional. Placement targeting information, for example, URL, mobile applications.",
          "$ref": "PackagePlacementTargeting"
        },
        "includedRewardedType": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory that does NOT offer an explicit reward to the user for watching or interacting with the ad.",
            "Targets inventory that offers a reward to the user in exchange for watching or engaging with the ad."
          ],
          "description": "Optional. The targeted rewarded type. If unset, inventory will be targeted regardless of rewarded type.",
          "enum": [
            "REWARDED_TYPE_UNSPECIFIED",
            "REWARDED_TYPE_NON_REWARDED",
            "REWARDED_TYPE_REWARDED"
          ]
        },
        "includedDeviceTypes": {
          "type": "array",
          "description": "Optional. The list of included device types to target. If empty, all device types are targeted.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets desktop or laptop computers.",
              "Targets connected TVs: devices that stream TV content, including smart TVs, gaming consoles, and streaming boxes/sticks.",
              "Targets high-end mobile devices.",
              "Targets tablet devices."
            ],
            "enum": [
              "DEVICE_TYPE_UNSPECIFIED",
              "DEVICE_TYPE_PERSONAL_COMPUTER",
              "DEVICE_TYPE_CONNECTED_TV",
              "DEVICE_TYPE_PHONE",
              "DEVICE_TYPE_TABLET"
            ],
            "type": "string"
          }
        },
        "includedNativeInventoryTypes": {
          "type": "array",
          "description": "Optional. The targeted native inventory types. If empty, inventory will be targeted regardless of native inventory type.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets ad slots that *only* accept and render native ads.",
              "Targets ad slots that accept and render either native or banner ads."
            ],
            "enum": [
              "NATIVE_INVENTORY_TYPE_UNSPECIFIED",
              "NATIVE_INVENTORY_TYPE_NATIVE_ONLY",
              "NATIVE_INVENTORY_TYPE_NATIVE_OR_BANNER"
            ]
          }
        },
        "videoTargeting": {
          "description": "Optional. Video specific targeting criteria.",
          "$ref": "PackageVideoTargeting"
        },
        "languageTargeting": {
          "description": "Optional. The languages to target. If unset, inventory will be targeted regardless of language. See https://developers.google.com/google-ads/api/data/codes-formats#languages for the list of supported language codes.",
          "$ref": "StringTargetingDimension"
        },
        "includedRestrictedCategories": {
          "description": "Optional. The list of targeted restricted categories. If empty, inventory will be targeted regardless of restricted categories.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where alcohol ads are allowed by the publisher.",
              "Targets inventory where gambling ads are allowed by the publisher."
            ],
            "enum": [
              "RESTRICTED_CATEGORY_UNSPECIFIED",
              "RESTRICTED_CATEGORY_ALCOHOL",
              "RESTRICTED_CATEGORY_GAMBLING"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedAuthorizedSellerStatuses": {
          "description": "Optional. The included list of targeted authorized seller statuses. If empty, inventory will be targeted regardless of seller status.",
          "items": {
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Targets inventory where the seller is declared as 'DIRECT'. This indicates the publisher (content owner) directly controls the seller account and has a direct business contract with the advertising system for this account.",
              "Targets inventory where the seller is declared as 'RESELLER'. This indicates the publisher has authorized another entity to operate the listed seller account and resell their ad space."
            ],
            "enum": [
              "AUTHORIZED_SELLER_STATUS_UNSPECIFIED",
              "AUTHORIZED_SELLER_STATUS_DIRECT",
              "AUTHORIZED_SELLER_STATUS_RESELLER"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "includedDataSegments": {
          "type": "array",
          "description": "Optional. The active data segments to be targeted. If unset, inventory will be targeted regardless of data segments. Format: `curators/{account_id}/dataSegments/{data_segment_id}`",
          "items": {
            "type": "string"
          }
        },
        "verticalTargeting": {
          "description": "Optional. The verticals included or excluded as defined in https://developers.google.com/authorized-buyers/rtb/downloads/publisher-verticals. If unset, inventory will be targeted regardless of vertical.",
          "$ref": "CriteriaTargeting"
        },
        "includedAdSizes": {
          "type": "array",
          "description": "Optional. The list of ad sizes to target. If unset, inventory will be targeted regardless of ad size. Curated packages supports `PIXEL` and `INTERSTITIAL` ad sizes.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "includedCreativeFormat": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets ad slots intended for HTML display creatives.",
            "Targets ad slots intended for video creatives.",
            "Targets ad slots intended for audio creatives."
          ],
          "description": "Optional. The creative format to target. If unset, all creative markup types are targeted.",
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "CREATIVE_FORMAT_DISPLAY",
            "CREATIVE_FORMAT_VIDEO",
            "CREATIVE_FORMAT_AUDIO"
          ]
        },
        "minimumPredictedViewabilityPercentage": {
          "description": "Optional. The targeted minimum predicted viewability percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% viewability. An unset value indicates inventory will be targeted regardless of predicted viewability.",
          "type": "string",
          "format": "int64"
        },
        "geoTargeting": {
          "description": "Optional. The geo criteria IDs to be included or excluded as defined in https://storage.googleapis.com/adx-rtb-dictionaries/geo-table.csv. If unset, inventory will be targeted regardless of geo.",
          "$ref": "CriteriaTargeting"
        },
        "publisherProvidedSignalsTargeting": {
          "description": "Optional. The publisher provided signals to target. If unset, inventory will be targeted regardless of publisher provided signals.",
          "$ref": "PackagePublisherProvidedSignalsTargeting"
        },
        "includedEnvironment": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory rendered within an ad-supported website.",
            "Targets inventory within a mobile application."
          ],
          "description": "Optional. The environment to target. If unspecified, all environments are targeted.",
          "enum": [
            "ENVIRONMENT_UNSPECIFIED",
            "ENVIRONMENT_SITE",
            "ENVIRONMENT_APP"
          ],
          "type": "string"
        },
        "includedAcceleratedMobilePageType": {
          "type": "string",
          "description": "Optional. The targeted accelerated mobile page type. If unset, inventory will be targeted regardless of AMP status.",
          "enum": [
            "ACCELERATED_MOBILE_PAGE_TYPE_UNSPECIFIED",
            "ACCELERATED_MOBILE_PAGE_TYPE_NON_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP",
            "ACCELERATED_MOBILE_PAGE_TYPE_AMP_STORY"
          ],
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets inventory on standard web pages not using any AMP framework.",
            "Targets inventory on pages built using the core AMP HTML framework.",
            "Targets inventory on pages using the AMP Story (STAMP) format, which is optimized for visual storytelling (e.g., tappable full-screen experiences)."
          ]
        }
      }
    },
    "SubscribeAuctionPackageRequest": {
      "description": "Request message for SubscribeAuctionPackage.",
      "id": "SubscribeAuctionPackageRequest",
      "type": "object",
      "properties": {}
    },
    "SetReadyToServeRequest": {
      "description": "Request message for setting ready to serve for a finalized deal.",
      "id": "SetReadyToServeRequest",
      "type": "object",
      "properties": {}
    },
    "ResumeFinalizedDealRequest": {
      "id": "ResumeFinalizedDealRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for resuming a finalized deal."
    },
    "UnsubscribeClientsRequest": {
      "id": "UnsubscribeClientsRequest",
      "type": "object",
      "properties": {
        "clients": {
          "type": "array",
          "description": "Optional. A list of client buyers to unsubscribe from the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request message for UnsubscribeAuctionPackage."
    },
    "ListPublisherProfilesResponse": {
      "description": "Response message for profiles visible to the buyer.",
      "id": "ListPublisherProfilesResponse",
      "type": "object",
      "properties": {
        "publisherProfiles": {
          "description": "The list of matching publisher profiles.",
          "items": {
            "$ref": "PublisherProfile"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      }
    },
    "Contact": {
      "description": "Contains information on how a buyer or seller can be reached.",
      "id": "Contact",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address for the contact.",
          "type": "string"
        },
        "displayName": {
          "description": "The display_name of the contact.",
          "type": "string"
        }
      }
    },
    "Deal": {
      "description": "A deal represents a segment of inventory for displaying ads that contains the terms and targeting information that is used for serving as well as the deal stats and status. Note: A proposal may contain multiple deals.",
      "id": "Deal",
      "type": "object",
      "properties": {
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "displayName": {
          "description": "Output only. The name of the deal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the deal.",
          "type": "string",
          "readOnly": true
        },
        "flightEndTime": {
          "description": "Proposed flight end time of the deal. This will generally be stored in a granularity of a second. A value is not necessary for Private Auction deals.",
          "type": "string",
          "format": "google-datetime"
        },
        "eligibleSeatIds": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. If set, this field contains the list of DSP specific seat ids set by media planners that are eligible to transact on this deal. The seat ID is in the calling DSP's namespace.",
          "items": {
            "type": "string"
          }
        },
        "deliveryControl": {
          "description": "Output only. Specifies the pacing set by the publisher.",
          "readOnly": true,
          "$ref": "DeliveryControl"
        },
        "flightStartTime": {
          "description": "Proposed flight start time of the deal. This will generally be stored in the granularity of one second since deal serving starts at seconds boundary. Any time specified with more granularity (for example, in milliseconds) will be truncated towards the start of time in seconds.",
          "type": "string",
          "format": "google-datetime"
        },
        "mediaPlanner": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. This field represents a media planner (For example, agency or big advertiser).",
          "readOnly": true,
          "$ref": "MediaPlanner"
        },
        "proposalRevision": {
          "description": "Output only. The revision number for the proposal and is the same value as proposal.proposal_revision. Each update to deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "buyer": {
          "description": "Output only. Refers to a buyer in Real-time Bidding API's Buyer resource. Format: `buyers/{buyerAccountId}`",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time of the deal creation.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "creativeRequirements": {
          "description": "Output only. Metadata about the creatives of this deal.",
          "readOnly": true,
          "$ref": "CreativeRequirements"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the deal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}`",
          "type": "string"
        },
        "dealType": {
          "readOnly": true,
          "description": "Output only. Type of deal.",
          "type": "string",
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ]
        },
        "sellerTimeZone": {
          "description": "Output only. Time zone of the seller used to mark the boundaries of a day for daypart targeting and CPD billing.",
          "readOnly": true,
          "$ref": "TimeZone"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the deal was last updated."
        },
        "privateAuctionTerms": {
          "description": "The terms for private auction deals.",
          "$ref": "PrivateAuctionTerms"
        },
        "targeting": {
          "description": "Specifies the subset of inventory targeted by the deal. Can be updated by the buyer before the deal is finalized.",
          "$ref": "MarketplaceTargeting"
        },
        "client": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`"
        },
        "description": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Free text description for the deal terms."
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "buyerPermissionType": {
          "readOnly": true,
          "description": "Output only. The buyer permission type of the deal.",
          "type": "string",
          "enum": [
            "BUYER_PERMISSION_TYPE_UNSPECIFIED",
            "NEGOTIATOR_ONLY",
            "BIDDER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer permission type.",
            "Only the [Deal.negotiating_buyer] can transact on the deal.",
            "All buyers under the [Deal.negotiating_buyer]'s bidder can transact on the deal."
          ]
        },
        "name": {
          "description": "Immutable. The unique identifier of the deal. Auto-generated by the server when a deal is created. Format: buyers/{accountId}/proposals/{proposalId}/deals/{dealId}",
          "type": "string"
        },
        "billedBuyer": {
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer; when the deal belongs to a media planner account, this field will be empty. Format : `buyers/{buyerAccountId}`",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "FinalizedDeal": {
      "id": "FinalizedDeal",
      "type": "object",
      "properties": {
        "dealServingStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The deal is actively serving or ready to serve when the start date is reached.",
            "The deal serving has ended.",
            "The deal serving is paused by buyer.",
            "The deal serving is paused by seller."
          ],
          "description": "Serving status of the deal.",
          "enum": [
            "DEAL_SERVING_STATUS_UNSPECIFIED",
            "ACTIVE",
            "ENDED",
            "PAUSED_BY_BUYER",
            "PAUSED_BY_SELLER"
          ]
        },
        "readyToServe": {
          "description": "Whether the Programmatic Guaranteed deal is ready for serving.",
          "type": "boolean"
        },
        "name": {
          "description": "The resource name of the finalized deal. Format: `buyers/{accountId}/finalizedDeals/{finalizedDealId}`",
          "type": "string"
        },
        "rtbMetrics": {
          "description": "Real-time bidding metrics for this deal.",
          "$ref": "RtbMetrics"
        },
        "deal": {
          "description": "A copy of the Deal made upon finalization. During renegotiation, this will reflect the last finalized deal before renegotiation was initiated.",
          "$ref": "Deal"
        },
        "dealPausingInfo": {
          "description": "Information related to deal pausing for the deal.",
          "$ref": "DealPausingInfo"
        }
      },
      "description": "A finalized deal is a snapshot of the deal when both buyer and seller accept the deal. The buyer or seller can update the deal after it's been finalized and renegotiate on the deal targeting, terms and other fields, while at the same time the finalized snapshot of the deal can still be retrieved using this API. The finalized deal contains a copy of the deal as it existed when most recently finalized, as well as fields related to deal serving such as pause/resume status, RTB metrics, and more."
    },
    "Note": {
      "id": "Note",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. When this note was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "note": {
          "description": "The text of the note. Maximum length is 1024 characters.",
          "type": "string"
        },
        "creatorRole": {
          "readOnly": true,
          "description": "Output only. The role who created the note.",
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ]
        }
      },
      "description": "A text note attached to the proposal to facilitate the communication between buyers and sellers."
    },
    "SendRfpRequest": {
      "id": "SendRfpRequest",
      "type": "object",
      "properties": {
        "client": {
          "description": "If the current buyer is sending the RFP on behalf of its client, use this field to specify the name of the client in the format: `buyers/{accountId}/clients/{clientAccountid}`.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The display name of the proposal being created by this RFP.",
          "type": "string"
        },
        "buyerContacts": {
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "Contact"
          },
          "type": "array"
        },
        "preferredDealTerms": {
          "description": "The terms for preferred deals.",
          "$ref": "PreferredDealTerms"
        },
        "publisherProfile": {
          "description": "Required. The profile of the publisher who will receive this RFP in the format: `buyers/{accountId}/publisherProfiles/{publisherProfileId}`.",
          "type": "string"
        },
        "estimatedGrossSpend": {
          "description": "Specified by buyers in request for proposal (RFP) to notify publisher the total estimated spend for the proposal. Publishers will receive this information and send back proposed deals accordingly.",
          "$ref": "Money"
        },
        "geoTargeting": {
          "description": "Geo criteria IDs to be targeted. Refer to Geo tables.",
          "$ref": "CriteriaTargeting"
        },
        "flightEndTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Proposed flight end time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
        },
        "inventorySizeTargeting": {
          "description": "Inventory sizes to be targeted. Only PIXEL inventory size type is supported.",
          "$ref": "InventorySizeTargeting"
        },
        "programmaticGuaranteedTerms": {
          "description": "The terms for programmatic guaranteed deals.",
          "$ref": "ProgrammaticGuaranteedTerms"
        },
        "flightStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Proposed flight start time of the RFP. A timestamp in RFC3339 UTC \"Zulu\" format. Note that the specified value will be truncated to a granularity of one second."
        },
        "note": {
          "description": "A message that is sent to the publisher. Maximum length is 1024 characters.",
          "type": "string"
        }
      },
      "description": "Request to send an RFP. All fields in this request are proposed to publisher and subject to changes by publisher during later negotiation."
    },
    "DeactivateClientRequest": {
      "description": "Request message for disabling a client.",
      "id": "DeactivateClientRequest",
      "type": "object",
      "properties": {}
    },
    "AcceptProposalRequest": {
      "description": "Request to accept a proposal. Accepting a proposal implies acceptance of the publisher terms_and_conditions, if any.",
      "id": "AcceptProposalRequest",
      "type": "object",
      "properties": {
        "proposalRevision": {
          "description": "The last known client revision number of the proposal.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DeactivateCuratedPackageRequest": {
      "id": "DeactivateCuratedPackageRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for DeactivateCuratedPackage."
    },
    "ListDataSegmentsResponse": {
      "description": "Response message for listing data segments.",
      "id": "ListDataSegmentsResponse",
      "type": "object",
      "properties": {
        "dataSegments": {
          "description": "The list of data segments.",
          "items": {
            "$ref": "DataSegment"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListDataSegmentsRequest.pageToken field in the subsequent call to the `ListDataSegments` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "ListCuratedPackagesResponse": {
      "id": "ListCuratedPackagesResponse",
      "type": "object",
      "properties": {
        "curatedPackages": {
          "description": "The list of curated packages.",
          "items": {
            "$ref": "CuratedPackage"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListCuratedPackagesRequest.pageToken field in the subsequent call to `ListCuratedPackages` method to retrieve the next page of results. If empty, then there are no more results.",
          "type": "string"
        }
      },
      "description": "Response message for ListCuratedPackages."
    },
    "BatchUpdateDealsResponse": {
      "description": "Response message for batch updating deals.",
      "id": "BatchUpdateDealsResponse",
      "type": "object",
      "properties": {
        "deals": {
          "description": "Deals updated.",
          "items": {
            "$ref": "Deal"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object",
      "properties": {}
    },
    "VideoTargeting": {
      "description": "Represents targeting information about video.",
      "id": "VideoTargeting",
      "type": "object",
      "properties": {
        "targetedPositionTypes": {
          "description": "A list of video positions to be included. When this field is populated, the excluded_position_types field must be empty.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ]
          },
          "type": "array"
        },
        "excludedPositionTypes": {
          "type": "array",
          "description": "A list of video positions to be excluded. When this field is populated, the targeted_position_types field must be empty.",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "PREROLL",
              "MIDROLL",
              "POSTROLL"
            ],
            "enumDescriptions": [
              "A placeholder for an undefined video position.",
              "Ad is played before the video.",
              "Ad is played during the video.",
              "Ad is played after the video."
            ],
            "type": "string"
          }
        }
      }
    },
    "SubscribeClientsRequest": {
      "id": "SubscribeClientsRequest",
      "type": "object",
      "properties": {
        "clients": {
          "description": "Optional. A list of client buyers to subscribe to the auction package, with client buyer in the format `buyers/{accountId}/clients/{clientAccountId}`. The current buyer will be subscribed to the auction package regardless of the list contents if not already.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Request message for SubscribeAuctionPackageClients."
    },
    "TechnologyTargeting": {
      "id": "TechnologyTargeting",
      "type": "object",
      "properties": {
        "deviceCapabilityTargeting": {
          "description": "IDs of device capabilities to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "deviceCategoryTargeting": {
          "description": "IDs of device categories to be included/excluded.",
          "$ref": "CriteriaTargeting"
        },
        "operatingSystemTargeting": {
          "description": "Operating system related targeting information.",
          "$ref": "OperatingSystemTargeting"
        }
      },
      "description": "Represents targeting about various types of technology."
    },
    "Money": {
      "description": "Represents an amount of money with its currency type.",
      "id": "Money",
      "type": "object",
      "properties": {
        "nanos": {
          "description": "Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "units": {
          "type": "string",
          "format": "int64",
          "description": "The whole units of the amount. For example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar."
        },
        "currencyCode": {
          "description": "The three-letter currency code defined in ISO 4217.",
          "type": "string"
        }
      }
    },
    "Client": {
      "id": "Client",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The state of the client.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client state. Should not be used.",
            "A client that is currently active and allowed to access the Authorized Buyers UI.",
            "A client that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "type": "string"
        },
        "displayName": {
          "description": "Required. Display name shown to publishers. Must be unique for clients without partnerClientId specified. Maximum length of 255 characters is allowed.",
          "type": "string"
        },
        "partnerClientId": {
          "description": "Arbitrary unique identifier provided by the buyer. This field can be used to associate a client with an identifier in the namespace of the buyer, lookup clients by that identifier and verify whether an Authorized Buyers account of the client already exists. If present, must be unique across all the clients.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the client. Format: `buyers/{accountId}/clients/{clientAccountId}`",
          "type": "string",
          "readOnly": true
        },
        "role": {
          "description": "Required. The role assigned to the client. Each role implies a set of permissions granted to the client.",
          "enum": [
            "CLIENT_ROLE_UNSPECIFIED",
            "CLIENT_DEAL_VIEWER",
            "CLIENT_DEAL_NEGOTIATOR",
            "CLIENT_DEAL_APPROVER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined client role. This value should never be specified in user input for create or update method, otherwise an error will be returned.",
            "Users associated with this client role can only view proposals and deals in the Marketplace UI. They cannot negotiate or approve proposals and deals sent from publishers or send RFP to publishers.",
            "Users associated with this client role can view and negotiate on the proposals and deals in the Marketplace UI sent from publishers and send RFP to publishers, but cannot approve the proposals and deals by themselves. The buyer can approve the proposals and deals on behalf of the client.",
            "Users associated with this client role can view, negotiate and approve proposals and deals in the Marketplace UI and send RFP to publishers."
          ],
          "type": "string"
        },
        "sellerVisible": {
          "description": "Whether the client will be visible to sellers.",
          "type": "boolean"
        }
      },
      "description": "A client represents an agency, a brand, or an advertiser customer of the buyer. Based on the client's role, its client users will have varying levels of restricted access to the Marketplace and certain other sections of the Authorized Buyers UI."
    },
    "BatchUpdateDealsRequest": {
      "id": "BatchUpdateDealsRequest",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. List of request messages to update deals.",
          "items": {
            "$ref": "UpdateDealRequest"
          },
          "type": "array"
        }
      },
      "description": "Request message for batch updating deals."
    },
    "StringTargetingDimension": {
      "description": "Generic targeting with string values.",
      "id": "StringTargetingDimension",
      "type": "object",
      "properties": {
        "selectionType": {
          "description": "Required. How the items in this list should be targeted.",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "type": "string"
        },
        "values": {
          "type": "array",
          "description": "Required. The values specified.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListClientUsersResponse": {
      "description": "Response message for the list method.",
      "id": "ListClientUsersResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve the next page of results. Pass this value in the ListClientUsersRequest.pageToken field in the subsequent call to the list method to retrieve the next page of results.",
          "type": "string"
        },
        "clientUsers": {
          "type": "array",
          "description": "The returned list of client users.",
          "items": {
            "$ref": "ClientUser"
          }
        }
      }
    },
    "CreativeRequirements": {
      "description": "Message captures data about the creatives in the deal.",
      "id": "CreativeRequirements",
      "type": "object",
      "properties": {
        "creativeSafeFrameCompatibility": {
          "description": "Output only. Specifies whether the creative is safeFrame compatible.",
          "readOnly": true,
          "enum": [
            "CREATIVE_SAFE_FRAME_COMPATIBILITY_UNSPECIFIED",
            "COMPATIBLE",
            "INCOMPATIBLE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative safe-frame compatibility.",
            "The creatives need to be compatible with the safe frame option.",
            "The creatives can be incompatible with the safe frame option."
          ],
          "type": "string"
        },
        "maxAdDurationMs": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The max duration of the video creative in milliseconds. only applicable for deals with video creatives."
        },
        "creativeFormat": {
          "description": "Output only. The format of the creative, only applicable for programmatic guaranteed and preferred deals.",
          "readOnly": true,
          "enumDescriptions": [
            "A placeholder for an unspecified creative format.",
            "Banner creatives such as image or HTML5 assets.",
            "Video creatives that can be played in a video player.",
            "Audio creatives that can play during audio content or point to a third party ad server."
          ],
          "enum": [
            "CREATIVE_FORMAT_UNSPECIFIED",
            "DISPLAY",
            "VIDEO",
            "AUDIO"
          ],
          "type": "string"
        },
        "creativePreApprovalPolicy": {
          "type": "string",
          "enum": [
            "CREATIVE_PRE_APPROVAL_POLICY_UNSPECIFIED",
            "SELLER_PRE_APPROVAL_REQUIRED",
            "SELLER_PRE_APPROVAL_NOT_REQUIRED"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined creative pre-approval policy.",
            "The seller needs to approve each creative before it can serve.",
            "The seller does not need to approve each creative before it can serve."
          ],
          "readOnly": true,
          "description": "Output only. Specifies the creative pre-approval policy."
        },
        "programmaticCreativeSource": {
          "readOnly": true,
          "description": "Output only. Specifies the creative source for programmatic deals. PUBLISHER means creative is provided by seller and ADVERTISER means creative is provided by the buyer.",
          "type": "string",
          "enum": [
            "PROGRAMMATIC_CREATIVE_SOURCE_UNSPECIFIED",
            "ADVERTISER",
            "PUBLISHER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined programmatic creative source.",
            "The advertiser provides the creatives.",
            "The publisher provides the creatives to be served."
          ]
        },
        "skippableAdType": {
          "readOnly": true,
          "description": "Output only. Skippable video ads allow viewers to skip ads after 5 seconds. Only applicable for deals with video creatives.",
          "type": "string",
          "enum": [
            "SKIPPABLE_AD_TYPE_UNSPECIFIED",
            "SKIPPABLE",
            "INSTREAM_SELECT",
            "NOT_SKIPPABLE",
            "ANY"
          ],
          "enumDescriptions": [
            "A placeholder for an unspecified skippable ad type.",
            "Video ad that can be skipped after 5 seconds. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "Video ad that can be skipped after 5 seconds, and is counted as engaged view after 30 seconds. The creative is hosted on YouTube only, and viewcount of the YouTube video increments after the engaged view. This value will appear in RTB bid requests as SkippableBidRequestType::REQUIRE_SKIPPABLE.",
            "This video ad is not skippable. This value will appear in RTB bid requests as SkippableBidRequestType::BLOCK_SKIPPABLE.",
            "This video ad can be skipped after 5 seconds or not-skippable. This value will appear in RTB bid requests as SkippableBidRequestType::ALLOW_SKIPPABLE."
          ]
        }
      }
    },
    "DeactivateClientUserRequest": {
      "id": "DeactivateClientUserRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for deactivating a client user."
    },
    "AddNoteRequest": {
      "description": "Request to add a note.",
      "id": "AddNoteRequest",
      "type": "object",
      "properties": {
        "note": {
          "description": "The note to add.",
          "$ref": "Note"
        }
      }
    },
    "TaxonomyTargeting": {
      "description": "Defines targeting criteria for handling the IAB audience and content Taxonomy ID space.",
      "id": "TaxonomyTargeting",
      "type": "object",
      "properties": {
        "targetedTaxonomyIds": {
          "type": "array",
          "description": "Optional. The list of targeted content taxonomy IDs.",
          "items": {
            "type": "string"
          }
        },
        "excludedTaxonomyIds": {
          "description": "Optional. The list of excluded content taxonomy IDs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AuctionPackage": {
      "id": "AuctionPackage",
      "type": "object",
      "properties": {
        "eligibleSeatIds": {
          "description": "Output only. If set, this field identifies a seat that the media planner selected as the owner of this auction package. This is a seat ID in the DSP's namespace that was provided to the media planner.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "subscribedBuyers": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of buyers that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder. Format: `buyers/{buyerAccountId}`",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "description": "Output only. A description of the auction package.",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "The display_name assigned to the auction package.",
          "type": "string"
        },
        "floorPriceCpm": {
          "description": "Output only. The minimum price a buyer has to bid to compete in this auction package. If this is field is not populated, there is no floor price.",
          "readOnly": true,
          "$ref": "Money"
        },
        "updateTime": {
          "description": "Output only. Time the auction package was last updated. This value is only increased when this auction package is updated but never when a buyer subscribed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "dealOwnerSeatId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If set, this field contains the DSP specific seat id set by the media planner account that is considered the owner of this deal. The seat ID is in the calling DSP's namespace."
        },
        "name": {
          "description": "Immutable. The unique identifier for the auction package. Format: `buyers/{accountId}/auctionPackages/{auctionPackageId}` The auction_package_id part of name is sent in the BidRequest to all RTB bidders and is returned as deal_id by the bidder in the BidResponse.",
          "type": "string"
        },
        "subscribedClients": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. When calling as a buyer, the list of clients of the current buyer that are subscribed to the AuctionPackage. When calling as a bidder, the list of clients that are subscribed to the AuctionPackage owned by the bidder or its buyers. Format: `buyers/{buyerAccountId}/clients/{clientAccountId}`",
          "items": {
            "type": "string"
          }
        },
        "subscribedMediaPlanners": {
          "description": "Output only. The list of media planners that are subscribed to the AuctionPackage. This field is only populated when calling as a bidder.",
          "items": {
            "$ref": "MediaPlanner"
          },
          "type": "array",
          "readOnly": true
        },
        "creator": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The buyer that created this auction package. Format: `buyers/{buyerAccountId}`"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Time the auction package was created."
        }
      },
      "description": "Defines a segment of inventory that buyer wants to buy. It's created by buyer and could be shared with multiple buyers."
    },
    "PackagePublisherProvidedSignalsTargeting": {
      "description": "Represents targeting about publisher provided signals. Different publisher provided signals types will be logically OR'ed.",
      "id": "PackagePublisherProvidedSignalsTargeting",
      "type": "object",
      "properties": {
        "audienceTargeting": {
          "description": "Optional. The list of targeted or excluded audience IDs. Based off of IAB Audience Taxonomy version 1.1 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Audience%20Taxonomies/Audience%20Taxonomy%201.1.tsv)",
          "$ref": "TaxonomyTargeting"
        },
        "videoAndAudioSignalsTargeting": {
          "description": "Optional. The list of targeted and excluded video and audio signals IDs. These are additional signals supported by publisher provided signals.",
          "$ref": "StringTargetingDimension"
        },
        "contentTargeting": {
          "description": "Optional. The list of targeted or excluded content IDs. Based off of IAB Content Taxonomy version 2.2 (https://github.com/InteractiveAdvertisingBureau/Taxonomies/blob/main/Content%20Taxonomies/Content%20Taxonomy%202.2.tsv)",
          "$ref": "TaxonomyTargeting"
        }
      }
    },
    "Proposal": {
      "description": "Represents a proposal in the Marketplace. A proposal is the unit of negotiation between a seller and a buyer.",
      "id": "Proposal",
      "type": "object",
      "properties": {
        "displayName": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The descriptive name for the proposal. Maximum length of 255 unicode characters is allowed. Control characters are not allowed. Buyers cannot update this field. Note: Not to be confused with name, which is a unique identifier of the proposal."
        },
        "buyerContacts": {
          "type": "array",
          "description": "Contact information for the buyer.",
          "items": {
            "$ref": "Contact"
          }
        },
        "notes": {
          "description": "A list of notes from the buyer and the seller attached to this proposal.",
          "items": {
            "$ref": "Note"
          },
          "type": "array"
        },
        "pausingConsented": {
          "description": "Whether pausing is allowed for the proposal. This is a negotiable term between buyers and publishers.",
          "type": "boolean"
        },
        "buyer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Refers to a buyer in The Realtime-bidding API. Format: `buyers/{buyerAccountId}`"
        },
        "proposalRevision": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The revision number for the proposal. Each update to the proposal or deal causes the proposal revision number to auto-increment. The buyer keeps track of the last revision number they know of and pass it in when making an update. If the head revision number on the server has since incremented, then an ABORTED error is returned during the update operation to let the buyer know that a subsequent update was made."
        },
        "sellerContacts": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Contact information for the seller.",
          "items": {
            "$ref": "Contact"
          }
        },
        "lastUpdaterOrCommentorRole": {
          "description": "Output only. The role of the last user that either updated the proposal or left a comment.",
          "readOnly": true,
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "type": "string"
        },
        "isRenegotiating": {
          "description": "Output only. True if the proposal was previously finalized and is now being renegotiated.",
          "type": "boolean",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The time when the proposal was last revised.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "originatorRole": {
          "type": "string",
          "enumDescriptions": [
            "A placeholder for an undefined buyer/seller role.",
            "Specifies the role as buyer.",
            "Specifies the role as seller."
          ],
          "enum": [
            "BUYER_SELLER_ROLE_UNSPECIFIED",
            "BUYER",
            "SELLER"
          ],
          "readOnly": true,
          "description": "Output only. Indicates whether the buyer/seller created the proposal."
        },
        "dealType": {
          "description": "Output only. Type of deal the proposal contains.",
          "readOnly": true,
          "enumDescriptions": [
            "Default, unspecified deal type.",
            "Preferred deals.",
            "Private auction deals.",
            "Programmatic guaranteed deals."
          ],
          "enum": [
            "DEAL_TYPE_UNSPECIFIED",
            "PREFERRED_DEAL",
            "PRIVATE_AUCTION",
            "PROGRAMMATIC_GUARANTEED"
          ],
          "type": "string"
        },
        "publisherProfile": {
          "description": "Immutable. Reference to the seller on the proposal. Format: `buyers/{buyerAccountId}/publisherProfiles/{publisherProfileId}` Note: This field may be set only when creating the resource. Modifying this field while updating the resource will result in an error.",
          "type": "string"
        },
        "client": {
          "description": "Output only. Refers to a Client. Format: `buyers/{buyerAccountId}/clients/{clientAccountid}`",
          "readOnly": true,
          "type": "string"
        },
        "buyerPrivateData": {
          "description": "Buyer private data (hidden from seller).",
          "$ref": "PrivateData"
        },
        "termsAndConditions": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The terms and conditions associated with this proposal. Accepting a proposal implies acceptance of this field. This is created by the seller, the buyer can only view it."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Indicates the state of the proposal.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified proposal state",
            "When a proposal is waiting for buyer to review.",
            "When the proposal is waiting for the seller to review.",
            "When the seller accepted the proposal and sent it to the buyer for review.",
            "When both buyer and seller has accepted the proposal",
            "When either buyer or seller has cancelled the proposal"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "BUYER_REVIEW_REQUESTED",
            "SELLER_REVIEW_REQUESTED",
            "BUYER_ACCEPTANCE_REQUESTED",
            "FINALIZED",
            "TERMINATED"
          ]
        },
        "billedBuyer": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. When the client field is populated, this field refers to the buyer who creates and manages the client buyer and gets billed on behalf of the client buyer; when the buyer field is populated, this field is the same value as buyer. Format : `buyers/{buyerAccountId}`"
        },
        "name": {
          "description": "Immutable. The name of the proposal serving as a unique identifier. Format: buyers/{accountId}/proposals/{proposalId}",
          "type": "string"
        }
      }
    },
    "FirstPartyMobileApplicationTargeting": {
      "id": "FirstPartyMobileApplicationTargeting",
      "type": "object",
      "properties": {
        "targetedAppIds": {
          "type": "array",
          "description": "A list of application IDs to be included.",
          "items": {
            "type": "string"
          }
        },
        "excludedAppIds": {
          "description": "A list of application IDs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Represents a list of targeted and excluded mobile application IDs that publishers own. Android App ID, for example, com.google.android.apps.maps, can be found in Google Play Store URL. iOS App ID (which is a number) can be found at the end of iTunes store URL. First party mobile applications is either included or excluded."
    },
    "PublisherProfile": {
      "id": "PublisherProfile",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name of the publisher profile. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "logoUrl": {
          "description": "A Google public URL to the logo for this publisher profile. The logo is stored as a PNG, JPG, or GIF image.",
          "type": "string"
        },
        "directDealsContact": {
          "description": "Contact information for direct reservation deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        },
        "audienceDescription": {
          "description": "Description on the publisher's audience.",
          "type": "string"
        },
        "samplePageUrl": {
          "description": "URL to a sample content page.",
          "type": "string"
        },
        "domains": {
          "description": "The list of domains represented in this publisher profile. Empty if this is a parent profile. These are top private domains, meaning that these will not contain a string like \"photos.google.co.uk/123\", but will instead contain \"google.co.uk\". Can be used to filter the response of the publisherProfiles.list method.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "pitchStatement": {
          "description": "Statement explaining what's unique about publisher's business, and why buyers should partner with the publisher.",
          "type": "string"
        },
        "isParent": {
          "description": "Indicates if this profile is the parent profile of the seller. A parent profile represents all the inventory from the seller, as opposed to child profile that is created to brand a portion of inventory. One seller has only one parent publisher profile, and can have multiple child profiles. See https://support.google.com/admanager/answer/6035806 for details. Can be used to filter the response of the publisherProfiles.list method by setting the filter to \"is_parent: true\".",
          "type": "boolean"
        },
        "publisherCode": {
          "description": "A unique identifying code for the seller. This value is the same for all of the seller's parent and child publisher profiles. Can be used to filter the response of the publisherProfiles.list method.",
          "type": "string"
        },
        "overview": {
          "description": "Overview of the publisher.",
          "type": "string"
        },
        "topHeadlines": {
          "description": "Up to three key metrics and rankings. For example, \"#1 Mobile News Site for 20 Straight Months\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "mediaKitUrl": {
          "description": "URL to additional marketing and sales materials.",
          "type": "string"
        },
        "mobileApps": {
          "type": "array",
          "description": "The list of apps represented in this publisher profile. Empty if this is a parent profile.",
          "items": {
            "$ref": "PublisherProfileMobileApplication"
          }
        },
        "name": {
          "description": "Name of the publisher profile. Format: `buyers/{buyer}/publisherProfiles/{publisher_profile}`",
          "type": "string"
        },
        "programmaticDealsContact": {
          "description": "Contact information for programmatic deals. This is free text entered by the publisher and may include information like names, phone numbers and email addresses.",
          "type": "string"
        }
      },
      "description": "The values in the publisher profile are supplied by the publisher. All fields are not filterable unless stated otherwise."
    },
    "ListAuctionPackagesResponse": {
      "id": "ListAuctionPackagesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results. Pass this value in the ListAuctionPackagesRequest.pageToken field in the subsequent call to the `ListAuctionPackages` method to retrieve the next page of results.",
          "type": "string"
        },
        "auctionPackages": {
          "type": "array",
          "description": "The list of auction packages.",
          "items": {
            "$ref": "AuctionPackage"
          }
        }
      },
      "description": "Response message for listing auction packages."
    },
    "VideoPlayerSizeTargeting": {
      "description": "Represents the size of the video player that can be targeted. Both width and height are required to be set to non-zero values.",
      "id": "VideoPlayerSizeTargeting",
      "type": "object",
      "properties": {
        "minimumWidth": {
          "type": "string",
          "format": "int64",
          "description": "Required. The minimum width of the video player in pixels."
        },
        "minimumHeight": {
          "type": "string",
          "format": "int64",
          "description": "Required. The minimum height of the video player in pixels."
        }
      }
    },
    "CuratedPackage": {
      "id": "CuratedPackage",
      "type": "object",
      "properties": {
        "description": {
          "description": "Optional. A description of the curated package, provided by the curator.",
          "type": "string"
        },
        "targeting": {
          "description": "Optional. Targeting criteria for the curated package.",
          "$ref": "PackageTargeting"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the curated package was last updated. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "description": "Required. The display name assigned to the curated package by the curator. Can be used to filter the response of the curatedPackages.list method.",
          "type": "string"
        },
        "floorPriceCpm": {
          "description": "Optional. The minimum CPM a buyer has to bid to participate in auctions for inventory in this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        },
        "accessSettings": {
          "description": "Required. Settings for controlling access to the curated package. Access to this curated package is limited to the allowlisted media planners and the creator. Buyers and bidders can not be allowlisted for or have direct access to this resource.",
          "$ref": "AccessControlSettings"
        },
        "feeCpm": {
          "description": "Optional. The CPM fee charged by the curator to buyers using this curated package. Can be used to filter the response of the curatedPackages.list method.",
          "$ref": "Money"
        },
        "name": {
          "description": "Identifier. The unique resource name for the curated package. Format: `curators/{accountId}/curatedPackages/{curatedPackageId}`",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the curated package was created. Can be used to filter the response of the curatedPackages.list method."
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The curated package is active.",
            "The curated package is inactive."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the curated package. Can be used to filter the response of the curatedPackages.list method.",
          "readOnly": true
        }
      },
      "description": "Represents a curated package of inventory created and managed by a Curator."
    },
    "PackageVideoTargeting": {
      "description": "Video specific targeting criteria.",
      "id": "PackageVideoTargeting",
      "type": "object",
      "properties": {
        "includedPositionTypes": {
          "type": "array",
          "description": "Optional. The targeted video ad position types. If empty, inventory will be targeted regardless of video ad position type.",
          "items": {
            "enum": [
              "POSITION_TYPE_UNSPECIFIED",
              "POSITION_TYPE_MIDROLL",
              "POSITION_TYPE_POSTROLL",
              "POSITION_TYPE_PREROLL"
            ],
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "The ad is played in the middle of the video content.",
              "The ad is played after the video content.",
              "The ad is played before the video content."
            ],
            "type": "string"
          }
        },
        "minimumPredictedCompletionRatePercentage": {
          "description": "Optional. The targeted minimum predicted completion rate percentage. This value must be a multiple of 10 between 10 and 90 (inclusive). For example, 10 is valid, but 0, 15, and 100 are not. A value of 10 means that the configuration will only match adslots for which we predict at least 10% completion rate. An unset value indicates inventory will be targeted regardless of predicted completion rate.",
          "type": "string",
          "format": "int64"
        },
        "includedPlayerSizeTargeting": {
          "description": "Optional. The targeted video player size. If unset, inventory will be targeted regardless of video player size.",
          "$ref": "VideoPlayerSizeTargeting"
        },
        "includedContentDeliveryMethod": {
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Targets video content that is being broadcast live.",
            "Targets video content that is transferred incrementally as client's playback requires."
          ],
          "description": "Optional. The targeted video delivery method. If unset, inventory will be targeted regardless of video delivery method.",
          "enum": [
            "CONTENT_DELIVERY_METHOD_UNSPECIFIED",
            "CONTENT_DELIVERY_METHOD_STREAMING",
            "CONTENT_DELIVERY_METHOD_PROGRESSIVE"
          ],
          "type": "string"
        },
        "plcmtTargeting": {
          "description": "Optional. The targeted video plcmt types. If unset, inventory will be targeted regardless of video plcmt type.",
          "$ref": "VideoPlcmtTargeting"
        },
        "includedPlaybackMethods": {
          "description": "Optional. The list of targeted video playback methods. If empty, inventory will be targeted regardless of video playback method.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified video playback method. Should not be used.",
              "Playback starts automatically when the page/content loads.",
              "Playback starts automatically when the page/content loads, but with sound off.",
              "Playback is initiated by a user action (e.g., clicking a play button)."
            ],
            "enum": [
              "PLAYBACK_METHOD_UNSPECIFIED",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_ON",
              "PLAYBACK_METHOD_AUTO_PLAY_SOUND_OFF",
              "PLAYBACK_METHOD_CLICK_TO_PLAY"
            ]
          },
          "type": "array"
        },
        "includedMimeTypes": {
          "description": "Optional. The list of targeted video mime types using the IANA published MIME type strings (https://www.iana.org/assignments/media-types/media-types.xhtml). If empty, inventory will be targeted regardless of video mime type.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "3GPP container format used on 3G phones.",
              "HLS/M3U8",
              "MPEG-4 container typically with H.264 codec.",
              "DASH.",
              "JavaScript (used for VPAID ads).",
              "WebM container assuming VP9 codec."
            ],
            "enum": [
              "VIDEO_MIME_TYPE_UNSPECIFIED",
              "VIDEO_MIME_TYPE_THREEGPP",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGURL",
              "VIDEO_MIME_TYPE_MP4",
              "VIDEO_MIME_TYPE_APPLICATION_MPEGDASH",
              "VIDEO_MIME_TYPE_APPLICATION_JAVASCRIPT",
              "VIDEO_MIME_TYPE_WEBM"
            ]
          },
          "type": "array"
        },
        "includedMaximumAdDurationTargeting": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Should not be used in targeting specifications.",
            "Applies to video ads with a duration up to 15 seconds (0 < duration <= 15s).",
            "Applies to video ads with a duration up to 20 seconds (0 < duration <= 20s).",
            "Applies to video ads with a duration up to 30 seconds (0 < duration <= 30s).",
            "Applies to video ads with a duration up to 60 seconds (0 < duration <= 60s).",
            "Applies to video ads with a duration up to 90 seconds (0 < duration <= 90s).",
            "Applies to video ads with a duration up to 120 seconds (0 < duration <= 120s)."
          ],
          "description": "Optional. The targeted maximum video ad duration. If unset, inventory will be targeted regardless of maximum video ad duration.",
          "enum": [
            "MAXIMUM_VIDEO_AD_DURATION_UNSPECIFIED",
            "MAXIMUM_VIDEO_AD_DURATION_FIFTEEN_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_TWENTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_THIRTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_SIXTY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_NINETY_SECONDS",
            "MAXIMUM_VIDEO_AD_DURATION_ONE_HUNDRED_TWENTY_SECONDS"
          ]
        }
      }
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "properties": {
        "hours": {
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "type": "integer",
          "format": "int32"
        },
        "nanos": {
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999.",
          "type": "integer",
          "format": "int32"
        },
        "seconds": {
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`."
    },
    "DayPartTargeting": {
      "id": "DayPartTargeting",
      "type": "object",
      "properties": {
        "dayParts": {
          "description": "The targeted weekdays and times",
          "items": {
            "$ref": "DayPart"
          },
          "type": "array"
        },
        "timeZoneType": {
          "description": "The time zone type of the day parts",
          "enum": [
            "TIME_ZONE_TYPE_UNSPECIFIED",
            "SELLER",
            "USER"
          ],
          "enumDescriptions": [
            "Default value. This field is unused.",
            "The publisher's time zone",
            "The user's time zone"
          ],
          "type": "string"
        }
      },
      "description": "Represents Daypart targeting."
    },
    "UnsubscribeAuctionPackageRequest": {
      "description": "Request message for UnsubscribeAuctionPackage.",
      "id": "UnsubscribeAuctionPackageRequest",
      "type": "object",
      "properties": {}
    },
    "ClientUser": {
      "description": "A user of a client who has restricted access to the Marketplace and certain other sections of the Authorized Buyers UI based on the role granted to the associated client.",
      "id": "ClientUser",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The resource name of the client user. Format: `buyers/{accountId}/clients/{clientAccountId}/users/{userId}`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INVITED",
            "ACTIVE",
            "INACTIVE"
          ],
          "enumDescriptions": [
            "A placeholder for an undefined user state.",
            "A user who was created but hasn't accepted the invitation yet, not allowed to access the Authorized Buyers UI.",
            "A user that is currently active and allowed to access the Authorized Buyers UI.",
            "A user that is currently inactive and not allowed to access the Authorized Buyers UI."
          ],
          "readOnly": true,
          "description": "Output only. The state of the client user."
        },
        "email": {
          "description": "Required. The client user's email address that has to be unique across all users for the same client.",
          "type": "string"
        }
      }
    },
    "ListFinalizedDealsResponse": {
      "id": "ListFinalizedDealsResponse",
      "type": "object",
      "properties": {
        "finalizedDeals": {
          "description": "The list of finalized deals.",
          "items": {
            "$ref": "FinalizedDeal"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to fetch the next page of results.",
          "type": "string"
        }
      },
      "description": "Response message for listing finalized deals."
    },
    "VideoPlcmtTargeting": {
      "description": "Defines targeting criteria based on the video placement type, often corresponding to the IAB OpenRTB 'plcmt' field.",
      "id": "VideoPlcmtTargeting",
      "type": "object",
      "properties": {
        "selectionType": {
          "enumDescriptions": [
            "Unspecified selection type. Should not be used.",
            "The values in the targeting dimension are included.",
            "The values in the targeting dimension are excluded."
          ],
          "description": "Required. The selection type for the list of video plcmts.",
          "enum": [
            "SELECTION_TYPE_UNSPECIFIED",
            "SELECTION_TYPE_INCLUDE",
            "SELECTION_TYPE_EXCLUDE"
          ],
          "type": "string"
        },
        "videoPlcmtTypes": {
          "description": "Required. The list of targeted video plcmts types. If empty, inventory will be targeted regardless of video plcmt type.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Default value. Should not be used in targeting specifications.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during or after the streaming video content that the consumer has requested. Instream video must be set to “sound on” by default at player start, or have explicitly clear user intent to watch the video content. While there may be other content surrounding the player, the video content must be the focus of the user’s visit. It should remain the primary content on the page and the only video player in-view capable of audio when playing. If the player converts to floating/sticky, subsequent ad calls should accurately convey the updated player size.",
              "Pre-roll, mid-roll, and post-roll ads that are played before, during, or after streaming video content. The video player loads and plays before, between, or after paragraphs of text or graphical content, and starts playing only when it enters the viewport. Accompanying content should only start playback upon entering the viewport. It may convert to a floating/sticky player as it scrolls off the page.",
              "Video ads that are played without video content. During playback, it must be the primary focus of the page and take up the majority of the viewport and cannot be scrolled out of view. This can be in placements like in-app video or slideshows.",
              "Video ads that are played without streaming video content. This can be in placements like slideshows, native feeds, in-content or sticky/floating."
            ],
            "enum": [
              "VIDEO_PLCMT_TYPE_UNSPECIFIED",
              "INSTREAM",
              "ACCOMPANYING_CONTENT",
              "INTERSTITIAL",
              "NO_CONTENT"
            ]
          },
          "type": "array"
        }
      }
    },
    "RtbMetrics": {
      "id": "RtbMetrics",
      "type": "object",
      "properties": {
        "bidRequests7Days": {
          "description": "Bid requests in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "bids7Days": {
          "description": "Bids in last 7 days.",
          "type": "string",
          "format": "int64"
        },
        "bidRate7Days": {
          "description": "Bid rate in last 7 days, calculated by (bids / bid requests).",
          "type": "number",
          "format": "double"
        },
        "adImpressions7Days": {
          "type": "string",
          "format": "int64",
          "description": "Ad impressions in last 7 days."
        },
        "filteredBidRate7Days": {
          "description": "Filtered bid rate in last 7 days, calculated by (filtered bids / bids).",
          "type": "number",
          "format": "double"
        },
        "mustBidRateCurrentMonth": {
          "type": "number",
          "format": "double",
          "description": "Must bid rate for current month."
        }
      },
      "description": "Real-time bidding metrics. For what each metric means refer to [Report metrics](https://support.google.com/adxbuyer/answer/6115195#report-metrics)"
    },
    "InventorySizeTargeting": {
      "id": "InventorySizeTargeting",
      "type": "object",
      "properties": {
        "excludedInventorySizes": {
          "type": "array",
          "description": "A list of inventory sizes to be excluded.",
          "items": {
            "$ref": "AdSize"
          }
        },
        "targetedInventorySizes": {
          "description": "A list of inventory sizes to be included.",
          "items": {
            "$ref": "AdSize"
          },
          "type": "array"
        }
      },
      "description": "Represents the size of an ad unit that can be targeted on a bid request."
    },
    "ActivateClientRequest": {
      "description": "Request message for activating a client.",
      "id": "ActivateClientRequest",
      "type": "object",
      "properties": {}
    },
    "AddCreativeRequest": {
      "description": "Request message for adding creative to be used in the bidding process for the finalized deal.",
      "id": "AddCreativeRequest",
      "type": "object",
      "properties": {
        "creative": {
          "description": "Name of the creative to add to the finalized deal, in the format `buyers/{buyerAccountId}/creatives/{creativeId}`. See creative.name.",
          "type": "string"
        }
      }
    },
    "DataSegment": {
      "description": "Defines an identifier for a segment of inventory that can be targeted by curators or media planners in the deals or auction packages UI. Curation of inventory is done by curators on external platforms.",
      "id": "DataSegment",
      "type": "object",
      "properties": {
        "name": {
          "description": "Immutable. Identifier. The unique identifier for the data segment. Account ID corresponds to the account ID that created the segment. v1alpha format: `buyers/{accountId}/dataSegments/{curatorDataSegmentId}` v1beta format: `curators/{curatorAccountId}/dataSegments/{curatorDataSegmentId}`",
          "type": "string"
        },
        "cpmFee": {
          "description": "Optional. A fixed fee charged per thousand impressions. Once set, the currency code cannot be changed.",
          "$ref": "Money"
        },
        "state": {
          "enumDescriptions": [
            "Default value.",
            "The data segment is active.",
            "The data segment is inactive."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "INACTIVE"
          ],
          "type": "string",
          "description": "Output only. The state of the data segment.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Time the data segment was last updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time the data segment was created."
        }
      }
    },
    "DayPart": {
      "id": "DayPart",
      "type": "object",
      "properties": {
        "dayOfWeek": {
          "description": "Day of week for the period.",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string"
        },
        "startTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        },
        "endTime": {
          "description": "Hours in 24 hour time between 0 and 24, inclusive. Note: 24 is logically equivalent to 0, but is supported since in some cases there may need to be differentiation made between midnight on one day and midnight on the next day. Accepted values for minutes are [0, 15, 30, 45]. 0 is the only acceptable minute value for hour 24. Seconds and nanos are ignored.",
          "$ref": "TimeOfDay"
        }
      },
      "description": "Defines targeting for a period of time on a specific week day."
    },
    "ActivateCuratedPackageRequest": {
      "id": "ActivateCuratedPackageRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for ActivateCuratedPackage."
    },
    "DeactivateDataSegmentRequest": {
      "id": "DeactivateDataSegmentRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for deactivating a data segment"
    },
    "TimeZone": {
      "id": "TimeZone",
      "type": "object",
      "properties": {
        "id": {
          "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
          "type": "string"
        },
        "version": {
          "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
          "type": "string"
        }
      },
      "description": "Represents a time zone from the [IANA Time Zone Database](https://www.iana.org/time-zones)."
    },
    "UriTargeting": {
      "description": "Represents a list of targeted and excluded URLs (for example, google.com). For Private Auction Deals, URLs are either included or excluded. For Programmatic Guaranteed and Preferred Deals, this doesn't apply.",
      "id": "UriTargeting",
      "type": "object",
      "properties": {
        "excludedUris": {
          "description": "A list of URLs to be excluded.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetedUris": {
          "description": "A list of URLs to be included.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "InventoryTypeTargeting": {
      "description": "Targeting of the inventory types a bid request can originate from.",
      "id": "InventoryTypeTargeting",
      "type": "object",
      "properties": {
        "inventoryTypes": {
          "type": "array",
          "description": "The list of targeted inventory types for the bid request.",
          "items": {
            "enum": [
              "INVENTORY_TYPE_UNSPECIFIED",
              "BROWSER",
              "MOBILE_APP",
              "VIDEO_PLAYER"
            ],
            "enumDescriptions": [
              "Unspecified inventory type",
              "Desktop or mobile web browser excluding ads inside a video player",
              "Mobile apps other than video players and web browsers",
              "Instream video and audio"
            ],
            "type": "string"
          }
        }
      }
    },
    "MediaPlanner": {
      "id": "MediaPlanner",
      "type": "object",
      "properties": {
        "accountId": {
          "description": "Output only. Account ID of the media planner.",
          "deprecated": true,
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The unique resource name of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. The display name of the media planner. Can be used to filter the response of the mediaPlanners.list method.",
          "type": "string",
          "readOnly": true
        },
        "ancestorNames": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The ancestor names of the media planner. Format: `mediaPlanners/{mediaPlannerAccountId}` Can be used to filter the response of the mediaPlanners.list method.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a media planner account."
    },
    "DealPausingInfo": {
      "id": "DealPausingInfo",
      "type": "object",
      "properties": {
        "pauseReason": {
          "description": "The reason for the pausing of the deal; empty for active deals.",
          "type": "string"
        },
        "pausingConsented": {
          "description": "Whether pausing is consented between buyer and seller for the deal.",
          "type": "boolean"
        },
        "pauseRole": {
[...]
