{
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "canonicalName": "Backupdr",
  "discoveryVersion": "v1",
  "id": "backupdr:v1",
  "title": "Backup and DR Service API",
  "servicePath": "",
  "mtlsRootUrl": "https://backupdr.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/backup-disaster-recovery",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "DataSourceGcpResourceInfo": {
      "id": "DataSourceGcpResourceInfo",
      "type": "object",
      "properties": {
        "type": {
          "description": "Output only. The type of the Google Cloud resource. Ex: compute.googleapis.com/Instance",
          "type": "string",
          "readOnly": true
        },
        "cloudSqlInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Cloud SQL instance.",
          "$ref": "CloudSqlInstanceDataSourceReferenceProperties"
        },
        "gcpResourcename": {
          "readOnly": true,
          "description": "Output only. The resource name of the Google Cloud resource. Ex: projects/{project}/zones/{zone}/instances/{instance}",
          "type": "string"
        },
        "filestoreInstanceProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the Filestore instance.",
          "$ref": "FilestoreInstanceDataSourceReferenceProperties"
        },
        "location": {
          "description": "Output only. The location of the Google Cloud resource. Ex: //\"global\"/\"unspecified\"",
          "type": "string",
          "readOnly": true
        },
        "alloyDbClusterProperties": {
          "readOnly": true,
          "description": "Output only. The properties of the AlloyDB cluster.",
          "$ref": "AlloyDBClusterDataSourceReferenceProperties"
        }
      },
      "description": "The Google Cloud resource that the DataSource is associated with."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        }
      }
    },
    "DataSourceBackupConfigInfo": {
      "id": "DataSourceBackupConfigInfo",
      "type": "object",
      "properties": {
        "lastBackupState": {
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "description": "Output only. The status of the last backup in this DataSource",
          "type": "string",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ]
        },
        "lastSuccessfulBackupConsistencyTime": {
          "description": "Output only. Timestamp of the last successful backup to this DataSource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Information of backup configuration on the DataSource."
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "id": "AuditLogConfig",
      "type": "object",
      "properties": {
        "logType": {
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ],
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "type": "string",
          "description": "The log type that this config enables."
        },
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TriggerBackupRequest": {
      "description": "Request message for triggering a backup.",
      "id": "TriggerBackupRequest",
      "type": "object",
      "properties": {
        "ruleId": {
          "type": "string",
          "description": "Optional. backup rule_id for which a backup needs to be triggered. If not specified, on-demand backup with custom retention will be triggered."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "customRetentionDays": {
          "type": "integer",
          "description": "Optional. The duration for which backup data will be kept, while taking an on-demand backup with custom retention. It is defined in \"days\". It is mutually exclusive with rule_id. This field is required if rule_id is not provided.",
          "format": "int32"
        },
        "labels": {
          "type": "object",
          "description": "Optional. Labels to be applied on the backup.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "DiskDataSourceProperties": {
      "id": "DiskDataSourceProperties",
      "type": "object",
      "properties": {
        "description": {
          "description": "The description of the disk.",
          "type": "string"
        },
        "type": {
          "description": "The type of the disk.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "description": "The size of the disk in GB.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Name of the disk backed up by the datasource."
        }
      },
      "description": "DiskDataSourceProperties represents the properties of a Disk resource that are stored in the DataSource. ."
    },
    "BackupVault": {
      "description": "Message describing a BackupVault object.",
      "id": "BackupVault",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was updated.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Output only. Service account used by the BackupVault Service for this BackupVault. The user should grant this account permissions in their workload project to enable the service to run backups and restores there.",
          "type": "string",
          "readOnly": true
        },
        "encryptionConfig": {
          "description": "Optional. The encryption config of the backup vault.",
          "$ref": "EncryptionConfig"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. Name of the backup vault to create. It must have the format`\"projects/{project}/locations/{location}/backupVaults/{backupvault}\"`. `{backupvault}` cannot be changed after creation. It must be between 3-63 characters long and must be unique within the project and location.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource labels to represent user provided metadata. No labels currently defined:"
        },
        "state": {
          "type": "string",
          "description": "Output only. The BackupVault resource instance state.",
          "enumDescriptions": [
            "State not set.",
            "The backup vault is being created.",
            "The backup vault has been created and is fully usable.",
            "The backup vault is being deleted.",
            "The backup vault is experiencing an issue and might be unusable.",
            "The backup vault is being updated."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "ERROR",
            "UPDATING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. Immutable after resource creation until resource deletion.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the backup vault resource to prevent simultaneous updates from overwiting each other."
        },
        "effectiveTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Time after which the BackupVault resource is locked."
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the BackupVault instance (2048 characters or less)."
        },
        "deletable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Set to true when there are no backups nested under this resource."
        },
        "backupRetentionInheritance": {
          "type": "string",
          "description": "Optional. Setting for how a backup's enforced retention end time is inherited.",
          "enumDescriptions": [
            "Inheritance behavior not set. This will default to `INHERIT_VAULT_RETENTION`.",
            "The enforced retention end time of a backup will be inherited from the backup vault's `backup_minimum_enforced_retention_duration` field. This is the default behavior.",
            "The enforced retention end time of a backup will always match the expire time of the backup. If this is set, the backup's enforced retention end time will be set to match the expire time during creation of the backup. When updating, the ERET and expire time must be updated together and have the same value. Invalid update requests will be rejected by the server."
          ],
          "enum": [
            "BACKUP_RETENTION_INHERITANCE_UNSPECIFIED",
            "INHERIT_VAULT_RETENTION",
            "MATCH_BACKUP_EXPIRE_TIME"
          ]
        },
        "backupCount": {
          "type": "string",
          "description": "Output only. The number of backups in this backup vault.",
          "readOnly": true,
          "format": "int64"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. User annotations. See https://google.aip.dev/128#annotations Stores small amounts of arbitrary data."
        },
        "totalStoredBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Total size of the storage used by all backup resources."
        },
        "accessRestriction": {
          "enumDescriptions": [
            "Access restriction not set. If user does not provide any value or pass this value, it will be changed to WITHIN_ORGANIZATION.",
            "Access to or from resources outside your current project will be denied.",
            "Access to or from resources outside your current organization will be denied.",
            "No access restriction.",
            "Access to or from resources outside your current organization will be denied except for backup appliance."
          ],
          "enum": [
            "ACCESS_RESTRICTION_UNSPECIFIED",
            "WITHIN_PROJECT",
            "WITHIN_ORGANIZATION",
            "UNRESTRICTED",
            "WITHIN_ORG_BUT_UNRESTRICTED_FOR_BA"
          ],
          "type": "string",
          "description": "Optional. Note: This field is added for future use case and will not be supported in the current release. Access restriction for the backup vault. Default value is WITHIN_ORGANIZATION if not provided during creation."
        },
        "backupMinimumEnforcedRetentionDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Required. The default and minimum enforced retention for each backup within the backup vault. The enforced retention for each backup can be extended. Note: Longer minimum enforced retention period impacts potential storage costs post introductory trial. We recommend starting with a short duration of 3 days or less."
        }
      }
    },
    "BackupLocation": {
      "id": "BackupLocation",
      "type": "object",
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL",
            "MULTI_REGIONAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Location type is unspecified.",
            "Location type is zonal.",
            "Location type is regional.",
            "Location type is multi regional."
          ],
          "description": "Output only. The type of the location.",
          "type": "string"
        },
        "locationId": {
          "description": "Output only. The id of the cloud location. Example: \"us-central1\"",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "BackupLocation represents a cloud location where a backup can be stored."
    },
    "WorkforceIdentityBasedOAuth2ClientID": {
      "description": "OAuth Client ID depending on the Workforce Identity i.e. either 1p or 3p,",
      "id": "WorkforceIdentityBasedOAuth2ClientID",
      "type": "object",
      "properties": {
        "firstPartyOauth2ClientId": {
          "readOnly": true,
          "description": "Output only. First party OAuth Client ID for Google Identities.",
          "type": "string"
        },
        "thirdPartyOauth2ClientId": {
          "readOnly": true,
          "description": "Output only. Third party OAuth Client ID for External Identity Providers.",
          "type": "string"
        }
      }
    },
    "ResourceBackupConfig": {
      "id": "ResourceBackupConfig",
      "type": "object",
      "properties": {
        "vaulted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is protected by a backup vault. This is true if the backup_configs_details is not empty and any of the ResourceBackupConfig.backup_configs_details has a backup configuration with BackupConfigDetails.backup_vault set."
        },
        "targetResource": {
          "readOnly": true,
          "description": "Output only. The [full resource name](https://cloud.google.com/asset-inventory/docs/resource-name-format) of the cloud resource that this configuration applies to. Supported resource types are ResourceBackupConfig.ResourceType.",
          "type": "string"
        },
        "targetResourceDisplayName": {
          "readOnly": true,
          "description": "Output only. The human friendly name of the target resource.",
          "type": "string"
        },
        "uid": {
          "readOnly": true,
          "description": "Output only. The unique identifier of the resource backup config.",
          "type": "string"
        },
        "targetResourceLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels associated with the target resource."
        },
        "targetResourceType": {
          "readOnly": true,
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "COMPUTE_ENGINE_VM",
            "COMPUTE_ENGINE_DISK",
            "COMPUTE_ENGINE_REGIONAL_DISK",
            "FILESTORE_INSTANCE"
          ],
          "enumDescriptions": [
            "Resource type not set.",
            "Cloud SQL instance.",
            "Compute Engine VM.",
            "Compute Engine Disk.",
            "Compute Engine Regional Disk.",
            "Filestore Instance."
          ],
          "type": "string",
          "description": "Output only. The type of the target resource."
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the ResourceBackupConfig. Format: projects/{project}/locations/{location}/resourceBackupConfigs/{uid}"
        },
        "backupConfigured": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the target resource is configured for backup. This is true if the backup_configs_details is not empty."
        },
        "backupConfigsDetails": {
          "type": "array",
          "description": "Backup configurations applying to the target resource, including those targeting its related/child resources. For example, backup configuration applicable to Compute Engine disks will be populated in this field for a Compute Engine VM which has the disk associated.",
          "items": {
            "$ref": "BackupConfigDetails"
          }
        }
      },
      "description": "ResourceBackupConfig represents a resource along with its backup configurations."
    },
    "NodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled.",
      "id": "NodeAffinity",
      "type": "object",
      "properties": {
        "key": {
          "type": "string",
          "description": "Optional. Corresponds to the label key of Node resource."
        },
        "operator": {
          "type": "string",
          "description": "Optional. Defines the operation of node selection.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Requires Compute Engine to seek for matched nodes.",
            "Requires Compute Engine to avoid certain nodes."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "values": {
          "description": "Optional. Corresponds to the label values of Node resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "BackupWindow": {
      "description": "`BackupWindow` defines a window of the day during which backup jobs will run.",
      "id": "BackupWindow",
      "type": "object",
      "properties": {
        "endHourOfDay": {
          "format": "int32",
          "description": "Required. The hour of day (1-24) when the window end for example if value of end hour of day is 10 that mean backup window end time is 10:00. End hour of day should be greater than start hour of day. 0 <= start_hour_of_day < end_hour_of_day <= 24 End hour of day is not include in backup window that mean if end_hour_of_day= 10 jobs should start before 10:00.",
          "type": "integer"
        },
        "startHourOfDay": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The hour of day (0-23) when the window starts for example if value of start hour of day is 6 that mean backup window start at 6:00."
        }
      }
    },
    "RestoreBackupRequest": {
      "id": "RestoreBackupRequest",
      "type": "object",
      "properties": {
        "diskTargetEnvironment": {
          "description": "Disk target environment to be used during restore.",
          "$ref": "DiskTargetEnvironment"
        },
        "diskRestoreProperties": {
          "description": "Disk properties to be overridden during restore.",
          "$ref": "DiskRestoreProperties"
        },
        "clearOverridesFieldMask": {
          "format": "google-fieldmask",
          "type": "string",
          "description": "Optional. A field mask used to clear server-side default values for fields within the `instance_properties` oneof. When a field in this mask is cleared, the server will not apply its default logic (like inheriting a value from the source) for that field. The most common current use case is clearing default encryption keys. Examples of field mask paths: - Compute Instance Disks: `compute_instance_restore_properties.disks.*.disk_encryption_key` - Single Disk: `disk_restore_properties.disk_encryption_key`"
        },
        "regionDiskTargetEnvironment": {
          "description": "Region disk target environment to be used during restore.",
          "$ref": "RegionDiskTargetEnvironment"
        },
        "computeInstanceRestoreProperties": {
          "description": "Compute Engine instance properties to be overridden during restore.",
          "$ref": "ComputeInstanceRestoreProperties"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "computeInstanceTargetEnvironment": {
          "description": "Compute Engine target environment to be used during restore.",
          "$ref": "ComputeInstanceTargetEnvironment"
        }
      },
      "description": "Request message for restoring from a Backup."
    },
    "Policy": {
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "id": "Policy",
      "type": "object",
      "properties": {
        "version": {
          "type": "integer",
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "etag": {
          "format": "byte",
          "type": "string",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "Tags": {
      "description": "A set of instance tags.",
      "id": "Tags",
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "Optional. An array of tags. Each tag must be 1-63 characters long, and comply with RFC1035.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListDataSourceReferencesResponse": {
      "id": "ListDataSourceReferencesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "dataSourceReferences": {
          "type": "array",
          "description": "The DataSourceReferences from the specified parent.",
          "items": {
            "$ref": "DataSourceReference"
          }
        }
      },
      "description": "Response for the ListDataSourceReferences method."
    },
    "DiskBackupPlanProperties": {
      "id": "DiskBackupPlanProperties",
      "type": "object",
      "properties": {
        "guestFlush": {
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a disk backup. When set to false, the system will create crash-consistent backups. Default value is false.",
          "type": "boolean"
        }
      },
      "description": "--- DiskBackupPlanProperties Message ---"
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "type": "object",
      "properties": {
        "rawKey": {
          "type": "string",
          "description": "Optional. Specifies a 256-bit customer-supplied encryption key."
        },
        "rsaEncryptedKey": {
          "description": "Optional. RSA-wrapped 2048-bit customer-supplied encryption key to either encrypt or decrypt this resource.",
          "type": "string"
        },
        "kmsKeyName": {
          "description": "Optional. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        },
        "kmsKeyServiceAccount": {
          "description": "Optional. The service account being used for the encryption request for the given KMS key. If absent, the Compute Engine default service account is used.",
          "type": "string"
        }
      },
      "description": "A customer-supplied encryption key."
    },
    "AbandonBackupRequest": {
      "id": "AbandonBackupRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "request message for AbandonBackup."
    },
    "BackupApplianceLockInfo": {
      "id": "BackupApplianceLockInfo",
      "type": "object",
      "properties": {
        "slaId": {
          "format": "int64",
          "type": "string",
          "description": "The SLA on the backup/recovery appliance that owns the lock."
        },
        "backupApplianceName": {
          "description": "Required. The name of the backup/recovery appliance that created this lock.",
          "type": "string"
        },
        "jobName": {
          "description": "The job name on the backup/recovery appliance that created this lock.",
          "type": "string"
        },
        "backupImage": {
          "description": "The image name that depends on this Backup.",
          "type": "string"
        },
        "backupApplianceId": {
          "description": "Required. The ID of the backup/recovery appliance that created this lock.",
          "type": "string",
          "format": "int64"
        },
        "lockReason": {
          "description": "Required. The reason for the lock: e.g. MOUNT/RESTORE/BACKUP/etc. The value of this string is only meaningful to the client and it is not interpreted by the BackupVault service.",
          "type": "string"
        }
      },
      "description": "BackupApplianceLockInfo contains metadata about the backupappliance that created the lock."
    },
    "InstanceParams": {
      "description": "Additional instance params.",
      "id": "InstanceParams",
      "type": "object",
      "properties": {
        "resourceManagerTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. Resource manager tags to be bound to the instance."
        }
      }
    },
    "PitrSettings": {
      "id": "PitrSettings",
      "type": "object",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "description": "Output only. Number of days to retain the backup.",
          "readOnly": true,
          "format": "int32"
        }
      },
      "description": "Point in time recovery settings of the backup configuration resource."
    },
    "DataSourceReference": {
      "description": "DataSourceReference is a reference to a DataSource resource.",
      "id": "DataSourceReference",
      "type": "object",
      "properties": {
        "dataSourceBackupCount": {
          "description": "Output only. Number of backups in the DataSource.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "name": {
          "description": "Identifier. The resource name of the DataSourceReference. Format: projects/{project}/locations/{location}/dataSourceReferences/{data_source_reference}",
          "type": "string"
        },
        "dataSourceBackupConfigInfo": {
          "description": "Output only. Information of backup configuration on the DataSource.",
          "$ref": "DataSourceBackupConfigInfo",
          "readOnly": true
        },
        "dataSource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the DataSource. Format: projects/{project}/locations/{location}/backupVaults/{backupVault}/dataSources/{dataSource}"
        },
        "dataSourceBackupConfigState": {
          "enum": [
            "BACKUP_CONFIG_STATE_UNSPECIFIED",
            "ACTIVE",
            "PASSIVE"
          ],
          "readOnly": true,
          "description": "Output only. The backup configuration state of the DataSource.",
          "type": "string",
          "enumDescriptions": [
            "The possible states of backup configuration. Status not set.",
            "The data source is actively protected (i.e. there is a BackupPlanAssociation or Appliance SLA pointing to it)",
            "The data source is no longer protected (but may have backups under it)"
          ]
        },
        "createTime": {
          "description": "Output only. The time when the DataSourceReference was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "dataSourceGcpResourceInfo": {
          "description": "Output only. The Google Cloud resource that the DataSource is associated with.",
          "$ref": "DataSourceGcpResourceInfo",
          "readOnly": true
        },
        "totalStoredBytes": {
          "type": "string",
          "description": "Output only. Total size of the storage used by all backup resources for the referenced datasource.",
          "readOnly": true,
          "format": "int64"
        }
      }
    },
    "ListBackupsResponse": {
      "description": "Response message for listing Backups.",
      "id": "ListBackupsResponse",
      "type": "object",
      "properties": {
        "backups": {
          "type": "array",
          "description": "The list of Backup instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return data sources in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "Backup"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        }
      }
    },
    "BackupPlan": {
      "description": "A `BackupPlan` specifies some common fields, such as `description` as well as one or more `BackupRule` messages. Each `BackupRule` has a retention policy and defines a schedule by which the system is to perform backup workloads.",
      "id": "BackupPlan",
      "type": "object",
      "properties": {
        "revisionName": {
          "description": "Output only. The resource id of the `BackupPlanRevision`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}/revisions/{revision_id}`",
          "type": "string",
          "readOnly": true
        },
        "logRetentionDays": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Applicable only for Cloud SQL resource_type. Configures how long logs will be stored. It is defined in “days”. This value should be greater than or equal to minimum enforced log retention duration of the backup vault."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The resource type to which the `BackupPlan` will be applied. Examples include, \"compute.googleapis.com/Instance\", \"sqladmin.googleapis.com/Instance\", \"alloydb.googleapis.com/Cluster\", \"compute.googleapis.com/Disk\"."
        },
        "labels": {
          "type": "object",
          "description": "Optional. This collection of key/value pairs allows for custom labels to be supplied by the user. Example, {\"tag\": \"Weekly\"}.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "backupRules": {
          "type": "array",
          "description": "Optional. The backup rules for this `BackupPlan`.",
          "items": {
            "$ref": "BackupRule"
          }
        },
        "computeInstanceBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine. This includes settings like whether to perform a guest flush.",
          "$ref": "ComputeInstanceBackupPlanProperties"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of the `BackupPlan`. Format: `projects/{project}/locations/{location}/backupPlans/{backup_plan}`"
        },
        "backupVaultServiceAccount": {
          "description": "Output only. The Google Cloud service account to be used by the BackupVault for taking backups. Specify the email address of the Backup Vault Service Account.",
          "type": "string",
          "readOnly": true
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The user friendly revision ID of the `BackupPlanRevision`. Example: v0, v1, v2, etc.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the `BackupPlan` was last updated.",
          "type": "string"
        },
        "diskBackupPlanProperties": {
          "description": "Optional. Defines optional properties specific to backups of disk-based resources, such as Compute Engine Persistent Disks. This includes settings like whether to perform a guest flush.",
          "$ref": "DiskBackupPlanProperties"
        },
        "backupVault": {
          "type": "string",
          "description": "Required. Resource name of backup vault which will be used as storage location for backups. Format: projects/{project}/locations/{location}/backupVaults/{backupvault}"
        },
        "description": {
          "description": "Optional. The description of the `BackupPlan` resource. The description allows for additional details about `BackupPlan` and its use cases to be provided. An example description is the following: \"This is a backup plan that performs a daily backup at 6pm and retains data for 3 months\". The description must be at most 2048 characters.",
          "type": "string"
        },
        "supportedResourceTypes": {
          "readOnly": true,
          "description": "Output only. All resource types to which backupPlan can be applied.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. When the `BackupPlan` was created.",
          "type": "string"
        },
        "maxCustomOnDemandRetentionDays": {
          "type": "integer",
          "description": "Optional. Optional field to configure the maximum number of days for which a backup can be retained. This field is only applicable for on-demand backups taken with custom retention value.",
          "format": "int32"
        },
        "etag": {
          "type": "string",
          "description": "Optional. `etag` is returned from the service in the response. As a user of the service, you may provide an etag value in this field to prevent stale resources."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The resource is being created.",
            "The resource has been created and is fully usable.",
            "The resource is being deleted.",
            "The resource has been created but is not usable.",
            "The resource is being updated."
          ],
          "description": "Output only. The `State` for the `BackupPlan`.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING",
            "INACTIVE",
            "UPDATING"
          ],
          "readOnly": true
        }
      }
    },
    "ServiceLockInfo": {
      "id": "ServiceLockInfo",
      "type": "object",
      "properties": {
        "operation": {
          "description": "Output only. The name of the operation that created this lock. The lock will automatically be released when the operation completes.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "ServiceLockInfo represents the details of a lock taken by the service on a Backup resource."
    },
    "DiskTargetEnvironment": {
      "description": "DiskTargetEnvironment represents the target environment for the disk.",
      "id": "DiskTargetEnvironment",
      "type": "object",
      "properties": {
        "project": {
          "description": "Required. Target project for the disk.",
          "type": "string"
        },
        "zone": {
          "description": "Required. Target zone for the disk.",
          "type": "string"
        }
      }
    },
    "SetInternalStatusResponse": {
      "id": "SetInternalStatusResponse",
      "type": "object",
      "properties": {},
      "description": "Response message from SetStatusInternal method."
    },
    "Trial": {
      "id": "Trial",
      "type": "object",
      "properties": {
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the trial will expire."
        },
        "startTime": {
          "description": "Output only. The time when the trial was subscribed.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "Trial is subscribed.",
            "Trial is unsubscribed before expiration.",
            "Trial is expired post 30 days of subscription.",
            "Trial is eligible for enablement.",
            "Trial is not eligible for enablement."
          ],
          "type": "string",
          "description": "Output only. The state of the trial.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUBSCRIBED",
            "UNSUBSCRIBED",
            "EXPIRED",
            "ELIGIBLE",
            "NOT_ELIGIBLE"
          ]
        },
        "endReason": {
          "enumDescriptions": [
            "End reason not set.",
            "Trial is deliberately ended by the user to transition to paid usage.",
            "Trial is discontinued before expiration."
          ],
          "description": "Output only. The reason for ending the trial.",
          "type": "string",
          "enum": [
            "END_REASON_UNSPECIFIED",
            "MOVE_TO_PAID",
            "DISCONTINUED"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Identifier. The resource name of the trial. Format: projects/{project}/locations/{location}/trial",
          "type": "string"
        }
      },
      "description": "Represents a Trial for a project."
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "StandardSchedule": {
      "id": "StandardSchedule",
      "type": "object",
      "properties": {
        "recurrenceType": {
          "enumDescriptions": [
            "recurrence type not set",
            "The `BackupRule` is to be applied hourly.",
            "The `BackupRule` is to be applied daily.",
            "The `BackupRule` is to be applied weekly.",
            "The `BackupRule` is to be applied monthly.",
            "The `BackupRule` is to be applied yearly."
          ],
          "enum": [
            "RECURRENCE_TYPE_UNSPECIFIED",
            "HOURLY",
            "DAILY",
            "WEEKLY",
            "MONTHLY",
            "YEARLY"
          ],
          "description": "Required. Specifies the `RecurrenceType` for the schedule.",
          "type": "string"
        },
        "months": {
          "description": "Optional. Specifies the months of year, like `FEBRUARY` and/or `MAY`, on which jobs will run. This field is only applicable when `recurrence_type` is `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "enumDescriptions": [
              "The unspecified month.",
              "The month of January.",
              "The month of February.",
              "The month of March.",
              "The month of April.",
              "The month of May.",
              "The month of June.",
              "The month of July.",
              "The month of August.",
              "The month of September.",
              "The month of October.",
              "The month of November.",
              "The month of December."
            ],
            "enum": [
              "MONTH_UNSPECIFIED",
              "JANUARY",
              "FEBRUARY",
              "MARCH",
              "APRIL",
              "MAY",
              "JUNE",
              "JULY",
              "AUGUST",
              "SEPTEMBER",
              "OCTOBER",
              "NOVEMBER",
              "DECEMBER"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "weekDayOfMonth": {
          "description": "Optional. Specifies a week day of the month like, FIRST SUNDAY or LAST MONDAY, on which jobs will run. This will be specified by two fields in `WeekDayOfMonth`, one for the day, e.g. `MONDAY`, and one for the week, e.g. `LAST`. This field is only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "$ref": "WeekDayOfMonth"
        },
        "hourlyFrequency": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. Specifies frequency for hourly backups. A hourly frequency of 2 means jobs will run every 2 hours from start time till end time defined. This is required for `recurrence_type`, `HOURLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `HOURLY`. Value of hourly frequency should be between 4 and 23. Reason for limit : We found that there is bandwidth limitation of 3GB/S for GMI while taking a backup and 5GB/S while doing a restore. Given the amount of parallel backups and restore we are targeting, this will potentially take the backup time to mins and hours (in worst case scenario)."
        },
        "daysOfWeek": {
          "description": "Optional. Specifies days of week like, MONDAY or TUESDAY, on which jobs will run. This is required for `recurrence_type`, `WEEKLY` and is not applicable otherwise. A validation error will occur if a value is supplied and `recurrence_type` is not `WEEKLY`.",
          "items": {
            "enumDescriptions": [
              "The day of the week is unspecified.",
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              "Sunday"
            ],
            "enum": [
              "DAY_OF_WEEK_UNSPECIFIED",
              "MONDAY",
              "TUESDAY",
              "WEDNESDAY",
              "THURSDAY",
              "FRIDAY",
              "SATURDAY",
              "SUNDAY"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "backupWindow": {
          "description": "Required. A BackupWindow defines the window of day during which backup jobs will run. Jobs are queued at the beginning of the window and will be marked as `NOT_RUN` if they do not start by the end of the window. Note: running jobs will not be cancelled at the end of the window.",
          "$ref": "BackupWindow"
        },
        "daysOfMonth": {
          "description": "Optional. Specifies days of months like 1, 5, or 14 on which jobs will run. Values for `days_of_month` are only applicable for `recurrence_type`, `MONTHLY` and `YEARLY`. A validation error will occur if other values are supplied.",
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "timeZone": {
          "description": "Required. The time zone to be used when interpreting the schedule. The value of this field must be a time zone name from the IANA tz database. See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones for the list of valid timezone names. For example, Europe/Paris.",
          "type": "string"
        }
      },
      "description": "`StandardSchedule` defines a schedule that run within the confines of a defined window of days. We can define recurrence type for schedule as HOURLY, DAILY, WEEKLY, MONTHLY or YEARLY."
    },
    "CloudSqlInstanceDataSourceReferenceProperties": {
      "id": "CloudSqlInstanceDataSourceReferenceProperties",
      "type": "object",
      "properties": {
        "databaseInstalledVersion": {
          "type": "string",
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "readOnly": true
        },
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The instance creation timestamp.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "type": "string"
        },
        "instanceTier": {
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true
        }
      },
      "description": "CloudSqlInstanceDataSourceReferenceProperties represents the properties of a Cloud SQL resource that are stored in the DataSourceReference."
    },
    "Binding": {
      "description": "Associates `members`, or principals, with a `role`.",
      "id": "Binding",
      "type": "object",
      "properties": {
        "role": {
          "description": "Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`. For an overview of the IAM roles and permissions, see the [IAM documentation](https://cloud.google.com/iam/docs/roles-overview). For a list of the available pre-defined roles, see [here](https://cloud.google.com/iam/docs/understanding-roles).",
          "type": "string"
        },
        "condition": {
          "description": "The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "$ref": "Expr"
        },
        "members": {
          "description": "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workforce identity pool. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/group/{group_id}`: All workforce identities in a group. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All workforce identities with a specific attribute value. * `principalSet://iam.googleapis.com/locations/global/workforcePools/{pool_id}/*`: All identities in a workforce identity pool. * `principal://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/subject/{subject_attribute_value}`: A single identity in a workload identity pool. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/group/{group_id}`: A workload identity pool group. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/attribute.{attribute_name}/{attribute_value}`: All identities in a workload identity pool with a certain attribute. * `principalSet://iam.googleapis.com/projects/{project_number}/locations/global/workloadIdentityPools/{pool_id}/*`: All identities in a workload identity pool. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding. * `deleted:principal://iam.googleapis.com/locations/global/workforcePools/{pool_id}/subject/{subject_attribute_value}`: Deleted single identity in a workforce identity pool. For example, `deleted:principal://iam.googleapis.com/locations/global/workforcePools/my-pool-id/subject/my-subject-attribute-value`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "properties": {
        "permissions": {
          "type": "array",
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Metadata": {
      "description": "A metadata key/value entry.",
      "id": "Metadata",
      "type": "object",
      "properties": {
        "items": {
          "description": "Optional. Array of key/value pairs. The total size of all keys and values must be less than 512 KB.",
          "items": {
            "$ref": "Entry"
          },
          "type": "array"
        }
      }
    },
    "AuditConfig": {
      "description": "Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { \"audit_configs\": [ { \"service\": \"allServices\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" }, { \"log_type\": \"ADMIN_READ\" } ] }, { \"service\": \"sampleservice.googleapis.com\", \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\" }, { \"log_type\": \"DATA_WRITE\", \"exempted_members\": [ \"user:aliya@example.com\" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.",
      "id": "AuditConfig",
      "type": "object",
      "properties": {
        "service": {
          "description": "Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.",
          "type": "string"
        },
        "auditLogConfigs": {
          "description": "The configuration for logging of each type of permission.",
          "items": {
            "$ref": "AuditLogConfig"
          },
          "type": "array"
        }
      }
    },
    "BackupConfigInfo": {
      "description": "BackupConfigInfo has information about how the resource is configured for Backup and about the most recent backup to this vault.",
      "id": "BackupConfigInfo",
      "type": "object",
      "properties": {
        "lastSuccessfulBackupConsistencyTime": {
          "type": "string",
          "description": "Output only. If the last backup were successful, this field has the consistency date.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "lastBackupError": {
          "readOnly": true,
          "description": "Output only. If the last backup failed, this field has the error message.",
          "$ref": "Status"
        },
        "gcpBackupConfig": {
          "description": "Configuration for a Google Cloud resource.",
          "$ref": "GcpBackupConfig"
        },
        "lastBackupState": {
          "enum": [
            "LAST_BACKUP_STATE_UNSPECIFIED",
            "FIRST_BACKUP_PENDING",
            "SUCCEEDED",
            "FAILED",
            "PERMISSION_DENIED"
          ],
          "readOnly": true,
          "description": "Output only. The status of the last backup to this BackupVault",
          "type": "string",
          "enumDescriptions": [
            "Status not set.",
            "The first backup has not yet completed",
            "The most recent backup was successful",
            "The most recent backup failed",
            "The most recent backup could not be run/failed because of the lack of permissions"
          ]
        },
        "backupApplianceBackupConfig": {
          "description": "Configuration for an application backed up by a Backup Appliance.",
          "$ref": "BackupApplianceBackupConfig"
        }
      }
    },
    "DisplayDevice": {
      "id": "DisplayDevice",
      "type": "object",
      "properties": {
        "enableDisplay": {
          "type": "boolean",
          "description": "Optional. Enables display for the Compute Engine VM"
        }
      },
      "description": "A set of Display Device options"
    },
    "TargetResource": {
      "id": "TargetResource",
      "type": "object",
      "properties": {
        "gcpResource": {
          "description": "Details of the native Google Cloud resource created as part of restore.",
          "$ref": "GcpResource"
        }
      },
      "description": "Details of the target resource created/modified as part of restore."
    },
    "FetchUsableBackupVaultsResponse": {
      "description": "Response message for fetching usable BackupVaults.",
      "id": "FetchUsableBackupVaultsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "backupVaults": {
          "description": "The list of BackupVault instances in the project for the specified location. If the '{location}' value in the request is \"-\", the response contains a list of instances from all locations. In case any location is unreachable, the response will only return backup vaults in reachable locations and the 'unreachable' field will be populated with a list of unreachable locations.",
          "items": {
            "$ref": "BackupVault"
          },
          "type": "array"
        }
      }
    },
    "ComputeInstanceDataSourceProperties": {
      "description": "ComputeInstanceDataSourceProperties represents the properties of a ComputeEngine resource that are stored in the DataSource.",
      "id": "ComputeInstanceDataSourceProperties",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "The machine type of the instance."
        },
        "totalDiskSizeGb": {
          "format": "int64",
          "type": "string",
          "description": "The sum of all the disk sizes."
        },
        "name": {
          "type": "string",
          "description": "Name of the compute instance backed up by the datasource."
        },
        "description": {
          "type": "string",
          "description": "The description of the Compute Engine instance."
        },
        "totalDiskCount": {
          "type": "string",
          "description": "The total number of disks attached to the Instance.",
          "format": "int64"
        }
      }
    },
    "AlloyDbClusterBackupProperties": {
      "id": "AlloyDbClusterBackupProperties",
      "type": "object",
      "properties": {
        "storedBytes": {
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Storage usage of this particular backup",
          "type": "string"
        },
        "chainId": {
          "readOnly": true,
          "description": "Output only. The chain id of this backup. Backups belonging to the same chain are sharing the same chain id. This property is calculated and maintained by BackupDR.",
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The PostgreSQL major version of the AlloyDB cluster when the backup was taken."
        },
        "description": {
          "description": "An optional text description for the backup.",
          "type": "string"
        }
      },
      "description": "AlloyDbClusterBackupProperties represents AlloyDB cluster backup properties. ."
    },
    "BackupDrTemplateConfig": {
      "description": "Provides additional information about Google Cloud Backup and DR's Template backup configuration.",
      "id": "BackupDrTemplateConfig",
      "type": "object",
      "properties": {
        "firstPartyManagementUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the BackupDr template resource for the first party identity users."
        },
        "thirdPartyManagementUri": {
          "readOnly": true,
          "description": "Output only. The URI of the BackupDr template resource for the third party identity users.",
          "type": "string"
        }
      }
    },
    "ManagementServer": {
      "id": "ManagementServer",
      "type": "object",
      "properties": {
        "oauth2ClientId": {
          "description": "Output only. The OAuth 2.0 client id is required to make API calls to the Backup and DR instance API of this ManagementServer. This is the value that should be provided in the 'aud' field of the OIDC ID Token (see openid specification https://openid.net/specs/openid-connect-core-1_0.html#IDToken).",
          "type": "string",
          "readOnly": true
        },
        "workforceIdentityBasedOauth2ClientId": {
          "readOnly": true,
          "description": "Output only. The OAuth client IDs for both types of user i.e. 1p and 3p.",
          "$ref": "WorkforceIdentityBasedOAuth2ClientID"
        },
        "labels": {
          "description": "Optional. Resource labels to represent user provided metadata. Labels currently defined: 1. migrate_from_go= If set to true, the MS is created in migration ready mode.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "satisfiesPzs": {
          "type": "boolean",
          "description": "Output only. Reserved for future use.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name.",
          "readOnly": true
        },
        "baProxyUri": {
          "readOnly": true,
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by BAs to connect to BA proxy.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was updated."
        },
        "networks": {
          "type": "array",
          "description": "Optional. VPC networks to which the ManagementServer instance is connected. For this version, only a single network is supported. This field is optional if MS is created without PSA",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "managementUri": {
          "readOnly": true,
          "description": "Output only. The hostname or ip address of the exposed AGM endpoints, used by clients to connect to AGM/RD graphical user interface and APIs.",
          "$ref": "ManagementURI"
        },
        "type": {
          "enumDescriptions": [
            "Instance type is not mentioned.",
            "Instance for backup and restore management (i.e., AGM)."
          ],
          "enum": [
            "INSTANCE_TYPE_UNSPECIFIED",
            "BACKUP_RESTORE"
          ],
          "type": "string",
          "description": "Optional. The type of the ManagementServer resource."
        },
        "workforceIdentityBasedManagementUri": {
          "readOnly": true,
          "description": "Output only. The hostnames of the exposed AGM endpoints for both types of user i.e. 1p and 3p, used to connect AGM/RM UI.",
          "$ref": "WorkforceIdentityBasedManagementURI"
        },
        "description": {
          "type": "string",
          "description": "Optional. The description of the ManagementServer instance (2048 characters or less)."
        },
        "satisfiesPzi": {
          "description": "Output only. Reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Server specified ETag for the ManagementServer resource to prevent simultaneous updates from overwiting each other."
        },
        "state": {
          "enumDescriptions": [
            "State not set.",
            "The instance is being created.",
            "The instance has been created and is fully usable.",
            "The instance configuration is being updated. Certain kinds of updates may cause the instance to become unusable while the update is in progress.",
            "The instance is being deleted.",
            "The instance is being repaired and may be unstable.",
            "Maintenance is being performed on this instance.",
            "The instance is experiencing an issue and might be unusable. You can get further details from the statusMessage field of Instance resource."
          ],
          "description": "Output only. The ManagementServer state.",
          "type": "string",
          "enum": [
            "INSTANCE_STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "UPDATING",
            "DELETING",
            "REPAIRING",
            "MAINTENANCE",
            "ERROR"
          ],
          "readOnly": true
        }
      },
      "description": "ManagementServer describes a single BackupDR ManagementServer instance."
    },
    "AlloyDBClusterDataSourceReferenceProperties": {
      "description": "AlloyDBClusterDataSourceReferenceProperties represents the properties of an AlloyDB cluster that are stored in the DataSourceReference.",
      "id": "AlloyDBClusterDataSourceReferenceProperties",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the AlloyDB cluster backed up by the datasource. Format: projects/{project}/locations/{location}/clusters/{cluster}"
        }
      }
    },
    "BackupApplianceBackupConfig": {
      "id": "BackupApplianceBackupConfig",
      "type": "object",
      "properties": {
        "slaId": {
          "format": "int64",
          "type": "string",
          "description": "The ID of the SLA of this application."
        },
        "hostName": {
          "type": "string",
          "description": "The name of the host where the application is running."
        },
        "sltName": {
          "type": "string",
          "description": "The name of the SLT associated with the application."
        },
        "slpName": {
          "description": "The name of the SLP associated with the application.",
          "type": "string"
        },
        "backupApplianceId": {
          "description": "The ID of the backup appliance.",
          "type": "string",
          "format": "int64"
        },
        "backupApplianceName": {
          "description": "The name of the backup appliance.",
          "type": "string"
        },
        "applicationName": {
          "description": "The name of the application.",
          "type": "string"
        }
      },
      "description": "BackupApplianceBackupConfig captures the backup configuration for applications that are protected by Backup Appliances."
    },
    "ListResourceBackupConfigsResponse": {
      "id": "ListResourceBackupConfigsResponse",
      "type": "object",
      "properties": {
        "resourceBackupConfigs": {
          "description": "The list of ResourceBackupConfigs for the specified scope.",
          "items": {
            "$ref": "ResourceBackupConfig"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      },
      "description": "Response for ListResourceBackupConfigs."
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "properties": {
        "unsupportedFeatures": {
          "type": "array",
          "description": "List of features that are not supported in the location.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "Remove once parity achieved between BV_AF and BV_CUSTOM_PROBERS.",
              ""
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "MANAGEMENT_SERVER",
              "COMPUTE_INSTANCE",
              "PROTECTION_SUMMARY",
              "DISK",
              "CLOUD_SQL",
              "ALLOY_DB",
              "FILESTORE",
              "BV_AF",
              "CEP_MONITORING_COMPUTE_INSTANCE",
              "CEP_MONITORING_DISK",
              "BV_CUSTOM_PROBERS",
              "FT_CUSTOM_PROBERS"
            ],
            "type": "string"
          }
        }
      }
    },
    "GuestOsFeature": {
      "id": "GuestOsFeature",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Default value, which is unused.",
            "VIRTIO_SCSI_MULTIQUEUE feature type.",
            "WINDOWS feature type.",
            "MULTI_IP_SUBNET feature type.",
            "UEFI_COMPATIBLE feature type.",
            "SECURE_BOOT feature type.",
            "GVNIC feature type.",
            "SEV_CAPABLE feature type.",
            "BARE_METAL_LINUX_COMPATIBLE feature type.",
            "SUSPEND_RESUME_COMPATIBLE feature type.",
            "SEV_LIVE_MIGRATABLE feature type.",
            "SEV_SNP_CAPABLE feature type.",
            "TDX_CAPABLE feature type.",
            "IDPF feature type.",
            "SEV_LIVE_MIGRATABLE_V2 feature type."
          ],
          "enum": [
            "FEATURE_TYPE_UNSPECIFIED",
            "VIRTIO_SCSI_MULTIQUEUE",
            "WINDOWS",
            "MULTI_IP_SUBNET",
            "UEFI_COMPATIBLE",
            "SECURE_BOOT",
            "GVNIC",
            "SEV_CAPABLE",
            "BARE_METAL_LINUX_COMPATIBLE",
            "SUSPEND_RESUME_COMPATIBLE",
            "SEV_LIVE_MIGRATABLE",
            "SEV_SNP_CAPABLE",
            "TDX_CAPABLE",
            "IDPF",
            "SEV_LIVE_MIGRATABLE_V2"
          ],
          "type": "string",
          "description": "The ID of a supported feature."
        }
      },
      "description": "Feature type of the Guest OS."
    },
    "CloudSqlInstanceBackupPlanAssociationProperties": {
      "description": "Cloud SQL instance's BPA properties.",
      "id": "CloudSqlInstanceBackupPlanAssociationProperties",
      "type": "object",
      "properties": {
        "instanceCreateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the instance was created."
        }
      }
    },
    "AccessConfig": {
      "description": "An access configuration attached to an instance's network interface. Only one access config per instance is supported.",
      "id": "AccessConfig",
      "type": "object",
      "properties": {
        "externalIpv6PrefixLength": {
          "type": "integer",
          "description": "Optional. The prefix length of the external IPv6 range.",
          "format": "int32"
        },
        "type": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "ONE_TO_ONE_NAT",
            "Direct IPv6 access."
          ],
          "enum": [
            "ACCESS_TYPE_UNSPECIFIED",
            "ONE_TO_ONE_NAT",
            "DIRECT_IPV6"
          ],
          "description": "Optional. In accessConfigs (IPv4), the default and only option is ONE_TO_ONE_NAT. In ipv6AccessConfigs, the default and only option is DIRECT_IPV6.",
          "type": "string"
        },
        "setPublicPtr": {
          "description": "Optional. Specifies whether a public DNS 'PTR' record should be created to map the external IP address of the instance to a DNS domain name.",
          "type": "boolean"
        },
        "publicPtrDomainName": {
          "type": "string",
          "description": "Optional. The DNS domain name for the public PTR record."
        },
        "name": {
          "type": "string",
          "description": "Optional. The name of this access configuration."
        },
        "externalIpv6": {
          "type": "string",
          "description": "Optional. The external IPv6 address of this access configuration."
        },
        "natIP": {
          "type": "string",
          "description": "Optional. The external IP address of this access configuration."
        },
        "networkTier": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "High quality, Google-grade network tier, support for all networking products.",
            "Public internet quality, only limited support for other networking products."
          ],
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "PREMIUM",
            "STANDARD"
          ],
          "description": "Optional. This signifies the networking tier used for configuring this access",
          "type": "string"
        }
      }
    },
    "CloudSqlInstanceDataSourceProperties": {
      "description": "CloudSqlInstanceDataSourceProperties represents the properties of a Cloud SQL resource that are stored in the DataSource.",
      "id": "CloudSqlInstanceDataSourceProperties",
      "type": "object",
      "properties": {
        "databaseInstalledVersion": {
          "readOnly": true,
          "description": "Output only. The installed database version of the Cloud SQL instance.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. Name of the Cloud SQL instance backed up by the datasource. Format: projects/{project}/instances/{instance}",
          "readOnly": true
        },
        "instanceTier": {
          "type": "string",
          "description": "Output only. The tier (or machine type) for this instance. Example: `db-custom-1-3840`",
          "readOnly": true
        },
        "instanceCreateTime": {
          "description": "Output only. The instance creation timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "Scheduling": {
      "id": "Scheduling",
      "type": "object",
      "properties": {
        "nodeAffinities": {
          "description": "Optional. A set of node affinity and anti-affinity configurations. Overrides reservationAffinity.",
          "items": {
            "$ref": "NodeAffinity"
          },
          "type": "array"
        },
        "minNodeCpus": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node."
        },
        "instanceTerminationAction": {
          "type": "string",
          "description": "Optional. Specifies the termination action for the instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Delete the VM.",
            "Stop the VM without storing in-memory content. default action."
          ],
          "enum": [
            "INSTANCE_TERMINATION_ACTION_UNSPECIFIED",
            "DELETE",
            "STOP"
          ]
        },
        "localSsdRecoveryTimeout": {
          "description": "Optional. Specifies the maximum amount of time a Local Ssd Vm should wait while recovery of the Local Ssd state is attempted. Its value should be in between 0 and 168 hours with hour granularity and the default value being 1 hour.",
          "$ref": "SchedulingDuration"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Defines the maintenance behavior for this instance.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Tells Compute Engine to terminate and (optionally) restart the instance away from the maintenance activity.",
            "Default, Allows Compute Engine to automatically migrate instances out of the way of maintenance events."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ]
        },
        "preemptible": {
          "description": "Optional. Defines whether the instance is preemptible.",
          "type": "boolean"
        },
        "provisioningModel": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Standard provisioning with user controlled runtime, no discounts.",
            "Heavily discounted, no guaranteed runtime."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT"
          ],
          "type": "string",
          "description": "Optional. Specifies the provisioning model of the instance."
        },
        "automaticRestart": {
          "type": "boolean",
          "description": "Optional. Specifies whether the instance should be automatically restarted if it is terminated by Compute Engine (not terminated by a user)."
        }
      },
      "description": "Sets the scheduling options for an Instance."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "DataSourceBackupApplianceApplication": {
      "id": "DataSourceBackupApplianceApplication",
      "type": "object",
      "properties": {
        "applicationId": {
          "format": "int64",
          "description": "The appid field of the application within the Backup Appliance.",
          "type": "string"
        },
        "applicationName": {
          "description": "The name of the Application as known to the Backup Appliance.",
          "type": "string"
        },
        "hostId": {
          "type": "string",
          "description": "Hostid of the application host.",
          "format": "int64"
        },
        "applianceId": {
          "format": "int64",
          "description": "Appliance Id of the Backup Appliance.",
          "type": "string"
        },
        "backupAppliance": {
          "type": "string",
          "description": "Appliance name."
        },
        "type": {
          "type": "string",
          "description": "The type of the application. e.g. VMBackup"
        },
        "hostname": {
          "type": "string",
          "description": "Hostname of the host where the application is running."
        }
      },
      "description": "BackupApplianceApplication describes a Source Resource when it is an application backed up by a BackupAppliance."
    },
    "FetchMsComplianceMetadataResponse": {
      "id": "FetchMsComplianceMetadataResponse",
      "type": "object",
      "properties": {
        "isAssuredWorkload": {
          "description": "The ms compliance metadata of the target project, if the project is an Assured Workloads project, values will be true, otherwise false.",
          "type": "boolean"
        }
      },
      "description": "Response message for GetMsComplianceMetadata"
    },
    "ComputeInstanceBackupPlanProperties": {
      "id": "ComputeInstanceBackupPlanProperties",
      "type": "object",
      "properties": {
        "guestFlush": {
          "type": "boolean",
          "description": "Optional. Indicates whether to perform a guest flush operation before taking a compute backup. When set to false, the system will create crash-consistent backups. Default value is false."
        }
      },
      "description": "--- ComputeInstanceBackupPlanProperties Message ---"
    },
    "FetchMsComplianceMetadataRequest": {
      "id": "FetchMsComplianceMetadataRequest",
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project id of the target project"
        }
      },
      "description": "Request message for GetMsComplianceMetadata"
    },
    "BackupApplianceBackupProperties": {
      "description": "BackupApplianceBackupProperties represents BackupDR backup appliance's properties.",
      "id": "BackupApplianceBackupProperties",
      "type": "object",
      "properties": {
        "recoveryRangeStartTime": {
          "description": "Optional. The earliest timestamp of data available in this Backup.",
          "type": "string",
          "format": "google-datetime"
        },
        "recoveryRangeEndTime": {
          "format": "google-datetime",
          "description": "Optional. The latest timestamp of data available in this Backup.",
          "type": "string"
        },
        "generationId": {
          "type": "integer",
          "description": "Output only. The numeric generation ID of the backup (monotonically increasing).",
          "readOnly": true,
          "format": "int32"
        },
        "finalizeTime": {
          "description": "Output only. The time when this backup object was finalized (if none, backup is not finalized).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "RestoreBackupResponse": {
      "description": "Response message for restoring from a Backup.",
      "id": "RestoreBackupResponse",
      "type": "object",
      "properties": {
        "targetResource": {
          "description": "Details of the target resource created/modified as part of restore.",
          "$ref": "TargetResource"
        }
      }
    },
    "InitializeServiceRequest": {
      "id": "InitializeServiceRequest",
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "Required. The resource type to which the default service config will be applied. Examples include, \"compute.googleapis.com/Instance\" and \"storage.googleapis.com/Bucket\".",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "cloudSqlInstanceInitializationConfig": {
          "description": "Optional. The configuration for initializing a Cloud SQL instance.",
          "$ref": "CloudSqlInstanceInitializationConfig"
        },
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validates the request and returns the result, but does not actually run it."
        },
        "backupPlanLocation": {
          "description": "Optional. The location where the BackupPlan will be created. This field is required for multi-region BackupVaults and is optional for regional BackupVaults. It is useful when creating a Backup Vault in a multi-region, allowing the BackupPlan to reside in a specific region within that multi-region. If this field is not provided, the BackupPlan will be created in the same location as specified in the `name` field.",
          "type": "string"
        }
      },
      "description": "Request message for initializing the service."
    },
    "BackupDrPlanConfig": {
      "description": "BackupDrPlanConfig has additional information about Google Cloud Backup and DR's Plan backup configuration.",
      "id": "BackupDrPlanConfig",
      "type": "object",
      "properties": {
        "backupDrPlanRules": {
          "description": "Backup rules of the backup plan resource.",
          "items": {
            "$ref": "BackupDrPlanRule"
          },
          "type": "array"
        }
      }
    },
    "ComputeInstanceBackupProperties": {
      "id": "ComputeInstanceBackupProperties",
      "type": "object",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "The machine type to use for instances that are created from these properties."
        },
        "canIpForward": {
          "description": "Enables instances created based on these properties to send packets with source IP addresses other than their own and receive packets with destination IP addresses other than their own. If these instances will be used as an IP gateway or it will be set as the next-hop in a Route resource, specify `true`. If unsure, leave this set to `false`. See the https://cloud.google.com/vpc/docs/using-routes#canipforward documentation for more information.",
          "type": "boolean"
        },
        "tags": {
          "description": "A list of tags to apply to the instances that are created from these properties. The tags identify valid sources or targets for network firewalls. The setTags method can modify this list of tags. Each tag within the list must comply with RFC1035 (https://www.ietf.org/rfc/rfc1035.txt).",
          "$ref": "Tags"
        },
        "scheduling": {
          "description": "Specifies the scheduling options for the instances that are created from these properties.",
          "$ref": "Scheduling"
        },
        "disk": {
          "description": "An array of disks that are associated with the instances that are created from these properties.",
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array"
        },
        "serviceAccount": {
          "type": "array",
          "description": "A list of service accounts with specified scopes. Access tokens for these service accounts are available to the instances that are created from these properties. Use metadata queries to obtain the access tokens for these instances.",
          "items": {
            "$ref": "ServiceAccount"
          }
        },
        "labels": {
          "type": "object",
[...]
