{
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://baremetalsolution.mtls.googleapis.com/",
  "batchPath": "batch",
  "id": "baremetalsolution:v2",
  "servicePath": "",
  "title": "Bare Metal Solution API",
  "rootUrl": "https://baremetalsolution.googleapis.com/",
  "version": "v2",
  "documentationLink": "https://cloud.google.com/bare-metal",
  "baseUrl": "https://baremetalsolution.googleapis.com/",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "schemas": {
    "DetachLunRequest": {
      "id": "DetachLunRequest",
      "description": "Message for detach specific LUN from an Instance.",
      "type": "object",
      "properties": {
        "lun": {
          "description": "Required. Name of the Lun to detach.",
          "type": "string"
        },
        "skipReboot": {
          "description": "If true, performs lun unmapping without instance reboot.",
          "type": "boolean"
        }
      }
    },
    "Volume": {
      "description": "A storage volume.",
      "type": "object",
      "properties": {
        "remainingSpaceGib": {
          "description": "The space remaining in the storage volume for new LUNs, in GiB, excluding space reserved for snapshots.",
          "type": "string",
          "format": "int64"
        },
        "pod": {
          "description": "Immutable. Pod name. Pod is an independent part of infrastructure. Volume can only be connected to the instances allocated in the same pod.",
          "type": "string"
        },
        "expireTime": {
          "readOnly": true,
          "description": "Output only. Time after which volume will be fully deleted. It is filled only for volumes in COOLOFF state.",
          "type": "string",
          "format": "google-datetime"
        },
        "originallyRequestedSizeGib": {
          "format": "int64",
          "description": "Originally requested size, in GiB.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "autoGrownSizeGib": {
          "format": "int64",
          "description": "The size, in GiB, that this storage volume has expanded as a result of an auto grow policy. In the absence of auto-grow, the value is 0.",
          "type": "string"
        },
        "snapshotAutoDeleteBehavior": {
          "description": "The behavior to use when snapshot reserved space is full.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified behavior.",
            "Don't delete any snapshots. This disables new snapshot creation, as long as the snapshot reserved space is full.",
            "Delete the oldest snapshots first.",
            "Delete the newest snapshots first."
          ],
          "enum": [
            "SNAPSHOT_AUTO_DELETE_BEHAVIOR_UNSPECIFIED",
            "DISABLED",
            "OLDEST_FIRST",
            "NEWEST_FIRST"
          ]
        },
        "requestedSizeGib": {
          "description": "The requested size of this storage volume, in GiB.",
          "type": "string",
          "format": "int64"
        },
        "snapshotEnabled": {
          "description": "Whether snapshots are enabled.",
          "type": "boolean"
        },
        "instances": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Instances this Volume is attached to. This field is set only in Get requests.",
          "type": "array"
        },
        "snapshotReservationDetail": {
          "$ref": "SnapshotReservationDetail",
          "description": "Details about snapshot space reservation and usage on the storage volume."
        },
        "storageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "description": "The storage type for this volume.",
          "type": "string",
          "enumDescriptions": [
            "The storage type for this volume is unknown.",
            "The storage type for this volume is SSD.",
            "This storage type for this volume is HDD."
          ]
        },
        "protocol": {
          "enumDescriptions": [
            "Value is not specified.",
            "Fibre Channel protocol.",
            "NFS protocol means Volume is a NFS Share volume. Such volumes cannot be manipulated via Volumes API."
          ],
          "readOnly": true,
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "FIBRE_CHANNEL",
            "NFS"
          ],
          "description": "Output only. Storage protocol for the Volume.",
          "type": "string"
        },
        "currentSizeGib": {
          "description": "The current size of this storage volume, in GiB, including space reserved for snapshots. This size might be different than the requested size if the storage volume has been configured with auto grow or auto shrink.",
          "type": "string",
          "format": "int64"
        },
        "attached": {
          "readOnly": true,
          "description": "Output only. Is the Volume attached at at least one instance. This field is a lightweight counterpart of `instances` field. It is filled in List responses as well.",
          "type": "boolean"
        },
        "id": {
          "description": "An identifier for the `Volume`, generated by the backend.",
          "type": "string"
        },
        "maxSizeGib": {
          "description": "Maximum size volume can be expanded to in case of evergency, in GiB.",
          "type": "string",
          "format": "int64"
        },
        "notes": {
          "description": "Input only. User-specified notes for new Volume. Used to provision Volumes that require manual intervention.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of this `Volume`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/volumes/{volume}`",
          "type": "string",
          "readOnly": true
        },
        "bootVolume": {
          "description": "Output only. Whether this volume is a boot volume. A boot volume is one which contains a boot LUN.",
          "type": "boolean",
          "readOnly": true
        },
        "performanceTier": {
          "description": "Immutable. Performance tier of the Volume. Default is SHARED.",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified.",
            "Regular volumes, shared aggregates.",
            "Assigned aggregates.",
            "High throughput aggregates.",
            "QoS 2.0 high performance storage."
          ],
          "enum": [
            "VOLUME_PERFORMANCE_TIER_UNSPECIFIED",
            "VOLUME_PERFORMANCE_TIER_SHARED",
            "VOLUME_PERFORMANCE_TIER_ASSIGNED",
            "VOLUME_PERFORMANCE_TIER_HT",
            "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE"
          ]
        },
        "workloadProfile": {
          "enum": [
            "WORKLOAD_PROFILE_UNSPECIFIED",
            "GENERIC",
            "HANA"
          ],
          "description": "The workload profile for the volume.",
          "type": "string",
          "enumDescriptions": [
            "The workload profile is in an unknown state.",
            "The workload profile is generic.",
            "The workload profile is hana."
          ]
        },
        "emergencySizeGib": {
          "format": "int64",
          "description": "Additional emergency size that was requested for this Volume, in GiB. current_size_gib includes this value.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "DELETING",
            "UPDATING",
            "COOL_OFF"
          ],
          "description": "The state of this storage volume.",
          "type": "string",
          "enumDescriptions": [
            "The storage volume is in an unknown state.",
            "The storage volume is being created.",
            "The storage volume is ready for use.",
            "The storage volume has been requested to be deleted.",
            "The storage volume is being updated.",
            "The storage volume is in cool off state. It will be deleted after `expire_time`."
          ]
        }
      },
      "id": "Volume"
    },
    "ListInstancesResponse": {
      "id": "ListInstancesResponse",
      "description": "Response message for the list of servers.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "instances": {
          "items": {
            "$ref": "Instance"
          },
          "description": "The list of servers.",
          "type": "array"
        }
      }
    },
    "VRF": {
      "id": "VRF",
      "description": "A network VRF.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED"
          ],
          "description": "The possible state of VRF.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified state.",
            "The vrf is provisioning.",
            "The vrf is provisioned."
          ]
        },
        "vlanAttachments": {
          "description": "The list of VLAN attachments for the VRF.",
          "type": "array",
          "items": {
            "$ref": "VlanAttachment"
          }
        },
        "name": {
          "description": "The name of the VRF.",
          "type": "string"
        },
        "qosPolicy": {
          "$ref": "QosPolicy",
          "description": "The QOS policy applied to this VRF. The value is only meaningful when all the vlan attachments have the same QoS. This field should not be used for new integrations, use vlan attachment level qos instead. The field is left for backward-compatibility."
        }
      }
    },
    "LoadInstanceAuthInfoResponse": {
      "description": "Response for LoadInstanceAuthInfo.",
      "type": "object",
      "properties": {
        "sshKeys": {
          "items": {
            "$ref": "SSHKey"
          },
          "description": "List of ssh keys.",
          "type": "array"
        },
        "userAccounts": {
          "description": "Map of username to the user account info.",
          "type": "object",
          "additionalProperties": {
            "$ref": "UserAccount"
          }
        }
      },
      "id": "LoadInstanceAuthInfoResponse"
    },
    "LunRange": {
      "description": "A LUN(Logical Unit Number) range.",
      "type": "object",
      "properties": {
        "quantity": {
          "format": "int32",
          "description": "Number of LUNs to create.",
          "type": "integer"
        },
        "sizeGb": {
          "description": "The requested size of each LUN, in GB.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "LunRange"
    },
    "ListVolumesResponse": {
      "id": "ListVolumesResponse",
      "description": "Response message containing the list of storage volumes.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        },
        "volumes": {
          "description": "The list of storage volumes.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListNetworksResponse": {
      "description": "Response message containing the list of networks.",
      "type": "object",
      "properties": {
        "networks": {
          "description": "The list of networks.",
          "type": "array",
          "items": {
            "$ref": "Network"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        }
      },
      "id": "ListNetworksResponse"
    },
    "InstanceConfig": {
      "id": "InstanceConfig",
      "description": "Configuration parameters for a new instance.",
      "type": "object",
      "properties": {
        "accountNetworksEnabled": {
          "description": "If true networks can be from different projects of the same vendor account.",
          "type": "boolean"
        },
        "networkTemplate": {
          "description": "Server network template name. Filled if InstanceConfig.multivlan_config is true.",
          "type": "string"
        },
        "hyperthreading": {
          "description": "Whether the instance should be provisioned with Hyperthreading enabled.",
          "type": "boolean"
        },
        "sshKeyNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. List of names of ssh keys used to provision the instance.",
          "type": "array"
        },
        "logicalInterfaces": {
          "items": {
            "$ref": "GoogleCloudBaremetalsolutionV2LogicalInterface"
          },
          "description": "List of logical interfaces for the instance. The number of logical interfaces will be the same as number of hardware bond/nic on the chosen network template. Filled if InstanceConfig.multivlan_config is true.",
          "type": "array"
        },
        "id": {
          "description": "A transient unique identifier to identify an instance within an ProvisioningConfig request.",
          "type": "string",
          "deprecated": true
        },
        "clientNetwork": {
          "$ref": "NetworkAddress",
          "deprecated": true,
          "description": "Client network address. Filled if InstanceConfig.multivlan_config is false."
        },
        "networkConfig": {
          "enum": [
            "NETWORKCONFIG_UNSPECIFIED",
            "SINGLE_VLAN",
            "MULTI_VLAN"
          ],
          "description": "The type of network configuration on the instance.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified network configuration.",
            "Instance part of single client network and single private network.",
            "Instance part of multiple (or single) client networks and private networks."
          ]
        },
        "name": {
          "description": "The name of the instance config.",
          "type": "string"
        },
        "osImage": {
          "description": "OS image to initialize the instance. [Available images](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "string"
        },
        "userNote": {
          "description": "User note field, it can be used by customers to add additional information for the BMS Ops team .",
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose.",
          "type": "string"
        },
        "privateNetwork": {
          "$ref": "NetworkAddress",
          "deprecated": true,
          "description": "Private network address, if any. Filled if InstanceConfig.multivlan_config is false."
        },
        "instanceType": {
          "description": "Instance type. [Available types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "string"
        }
      }
    },
    "RenameNetworkRequest": {
      "description": "Message requesting rename of a server.",
      "type": "object",
      "properties": {
        "newNetworkId": {
          "description": "Required. The new `id` of the network.",
          "type": "string"
        }
      },
      "id": "RenameNetworkRequest"
    },
    "VolumeSnapshot": {
      "description": "A snapshot of a volume. Only boot volumes can have snapshots.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The creation time of the snapshot.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "The name of the snapshot.",
          "type": "string"
        },
        "id": {
          "description": "Output only. An identifier for the snapshot, generated by the backend.",
          "type": "string",
          "readOnly": true
        },
        "description": {
          "description": "The description of the snapshot.",
          "type": "string"
        },
        "storageVolume": {
          "readOnly": true,
          "description": "Output only. The name of the volume which this snapshot belongs to.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "Type is not specified.",
            "Snapshot was taken manually by user.",
            "Snapshot was taken automatically as a part of a snapshot schedule."
          ],
          "readOnly": true,
          "description": "Output only. The type of the snapshot which indicates whether it was scheduled or manual/ad-hoc.",
          "type": "string",
          "enum": [
            "SNAPSHOT_TYPE_UNSPECIFIED",
            "AD_HOC",
            "SCHEDULED"
          ]
        }
      },
      "id": "VolumeSnapshot"
    },
    "RestoreVolumeSnapshotRequest": {
      "id": "RestoreVolumeSnapshotRequest",
      "description": "Message for restoring a volume snapshot.",
      "type": "object",
      "properties": {}
    },
    "ServerNetworkTemplate": {
      "id": "ServerNetworkTemplate",
      "description": "Network template.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. Template's unique name. The full resource name follows the pattern: `projects/{project}/locations/{location}/serverNetworkTemplate/{server_network_template}` Generally, the {server_network_template} follows the syntax of \"bond\" or \"nic\".",
          "type": "string"
        },
        "applicableInstanceTypes": {
          "items": {
            "type": "string"
          },
          "description": "Instance types this template is applicable to.",
          "type": "array"
        },
        "logicalInterfaces": {
          "description": "Logical interfaces.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface"
          }
        }
      }
    },
    "SnapshotReservationDetail": {
      "description": "Details about snapshot space reservation and usage on the storage volume.",
      "type": "object",
      "properties": {
        "reservedSpaceGib": {
          "format": "int64",
          "description": "The space on this storage volume reserved for snapshots, shown in GiB.",
          "type": "string"
        },
        "reservedSpaceRemainingGib": {
          "description": "The amount, in GiB, of available space in this storage volume's reserved snapshot space.",
          "type": "string",
          "format": "int64"
        },
        "reservedSpacePercent": {
          "format": "int32",
          "description": "Percent of the total Volume size reserved for snapshot copies. Enabling snapshots requires reserving 20% or more of the storage volume space for snapshots. Maximum reserved space for snapshots is 40%. Setting this field will effectively set snapshot_enabled to true.",
          "type": "integer"
        },
        "reservedSpaceUsedPercent": {
          "description": "The percent of snapshot space on this storage volume actually being used by the snapshot copies. This value might be higher than 100% if the snapshot copies have overflowed into the data portion of the storage volume.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SnapshotReservationDetail"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "QosPolicy": {
      "description": "QOS policy parameters.",
      "type": "object",
      "properties": {
        "bandwidthGbps": {
          "description": "The bandwidth permitted by the QOS policy, in gbps.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "QosPolicy"
    },
    "SSHKey": {
      "id": "SSHKey",
      "description": "An SSH key, used for authorizing with the interactive serial console feature.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of this SSH key. Currently, the only valid value for the location is \"global\".",
          "type": "string"
        },
        "publicKey": {
          "description": "The public SSH key. This must be in OpenSSH .authorized_keys format.",
          "type": "string"
        }
      }
    },
    "VolumeConfig": {
      "description": "Configuration parameters for a new volume.",
      "type": "object",
      "properties": {
        "nfsExports": {
          "items": {
            "$ref": "NfsExport"
          },
          "description": "NFS exports. Set only when protocol is PROTOCOL_NFS.",
          "type": "array"
        },
        "userNote": {
          "description": "User note field, it can be used by customers to add additional information for the BMS Ops team .",
          "type": "string"
        },
        "performanceTier": {
          "description": "Performance tier of the Volume. Default is SHARED.",
          "type": "string",
          "enumDescriptions": [
            "Value is not specified.",
            "Regular volumes, shared aggregates.",
            "Assigned aggregates.",
            "High throughput aggregates.",
            "QoS 2.0 high performance storage."
          ],
          "enum": [
            "VOLUME_PERFORMANCE_TIER_UNSPECIFIED",
            "VOLUME_PERFORMANCE_TIER_SHARED",
            "VOLUME_PERFORMANCE_TIER_ASSIGNED",
            "VOLUME_PERFORMANCE_TIER_HT",
            "VOLUME_PERFORMANCE_TIER_QOS2_PERFORMANCE"
          ]
        },
        "protocol": {
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "PROTOCOL_FC",
            "PROTOCOL_NFS"
          ],
          "description": "Volume protocol.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Fibre channel.",
            "Network file system."
          ]
        },
        "gcpService": {
          "description": "The GCP service of the storage volume. Available gcp_service are in https://cloud.google.com/bare-metal/docs/bms-planning.",
          "type": "string"
        },
        "snapshotsEnabled": {
          "description": "Whether snapshots should be enabled.",
          "type": "boolean"
        },
        "machineIds": {
          "items": {
            "type": "string"
          },
          "description": "Machine ids connected to this volume. Set only when protocol is PROTOCOL_FC.",
          "type": "array"
        },
        "type": {
          "description": "The type of this Volume.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified type.",
            "This Volume is on flash.",
            "This Volume is on disk."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FLASH",
            "DISK"
          ]
        },
        "sizeGb": {
          "description": "The requested size of this volume, in GB.",
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "description": "A transient unique identifier to identify a volume within an ProvisioningConfig request.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the volume config.",
          "type": "string",
          "readOnly": true
        },
        "lunRanges": {
          "description": "LUN ranges to be configured. Set only when protocol is PROTOCOL_FC.",
          "type": "array",
          "items": {
            "$ref": "LunRange"
          }
        }
      },
      "id": "VolumeConfig"
    },
    "SubmitProvisioningConfigResponse": {
      "description": "Response for SubmitProvisioningConfig.",
      "type": "object",
      "properties": {
        "provisioningConfig": {
          "$ref": "ProvisioningConfig",
          "description": "The submitted provisioning config."
        }
      },
      "id": "SubmitProvisioningConfigResponse"
    },
    "Instance": {
      "description": "A server.",
      "type": "object",
      "properties": {
        "loginInfo": {
          "description": "Output only. Text field about info for logging in.",
          "type": "string",
          "readOnly": true
        },
        "luns": {
          "items": {
            "$ref": "Lun"
          },
          "description": "Immutable. List of LUNs associated with this server.",
          "type": "array"
        },
        "pod": {
          "description": "Immutable. Pod name. Pod is an independent part of infrastructure. Instance can only be connected to the assets (networks, volumes) allocated in the same pod.",
          "type": "string"
        },
        "interactiveSerialConsoleEnabled": {
          "description": "Output only. True if the interactive serial console feature is enabled for the instance, false otherwise. The default value is false.",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkTemplate": {
          "description": "Instance network template name. For eg, bondaa-bondaa, bondab-nic, etc. Generally, the template name follows the syntax of \"bond\" or \"nic\".",
          "type": "string"
        },
        "sshKeys": {
          "description": "Optional. List of SSH Keys used during instance provisioning.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "networks": {
          "readOnly": true,
          "items": {
            "$ref": "Network"
          },
          "description": "Output only. List of networks associated with this server.",
          "type": "array"
        },
        "hyperthreadingEnabled": {
          "description": "True if you enable hyperthreading for the server, otherwise false. The default value is false.",
          "type": "boolean"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. An identifier for the `Instance`, generated by the backend.",
          "type": "string"
        },
        "firmwareVersion": {
          "description": "Output only. The firmware version for the instance.",
          "type": "string",
          "readOnly": true
        },
        "logicalInterfaces": {
          "description": "List of logical interfaces for the instance. The number of logical interfaces will be the same as number of hardware bond/nic on the chosen network template. For the non-multivlan configurations (for eg, existing servers) that use existing default network template (bondaa-bondaa), both the Instance.networks field and the Instance.logical_interfaces fields will be filled to ensure backward compatibility. For the others, only Instance.logical_interfaces will be filled.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudBaremetalsolutionV2LogicalInterface"
          }
        },
        "volumes": {
          "description": "Input only. List of Volumes to attach to this Instance on creation. This field won't be populated in Get/List responses.",
          "type": "array",
          "items": {
            "$ref": "Volume"
          }
        },
        "osImage": {
          "description": "The OS image currently installed on the server.",
          "type": "string"
        },
        "name": {
          "description": "Immutable. The resource name of this `Instance`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/instances/{instance}`",
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "Optional. Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose. Format is `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`.",
          "type": "string"
        },
        "workloadProfile": {
          "description": "The workload profile for the instance.",
          "type": "string",
          "enumDescriptions": [
            "The workload profile is in an unknown state.",
            "The workload profile is generic.",
            "The workload profile is hana."
          ],
          "enum": [
            "WORKLOAD_PROFILE_UNSPECIFIED",
            "WORKLOAD_PROFILE_GENERIC",
            "WORKLOAD_PROFILE_HANA"
          ]
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. Update a time stamp.",
          "type": "string",
          "readOnly": true
        },
        "machineType": {
          "description": "Immutable. The server type. [Available server types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the server.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "DELETED",
            "UPDATING",
            "STARTING",
            "STOPPING",
            "SHUTDOWN"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The server is in an unknown state.",
            "The server is being provisioned.",
            "The server is running.",
            "The server has been deleted.",
            "The server is being updated.",
            "The server is starting.",
            "The server is stopping.",
            "The server is shutdown."
          ]
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. Create a time stamp.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Instance"
    },
    "ListNfsSharesResponse": {
      "description": "Response message containing the list of NFS shares.",
      "type": "object",
      "properties": {
        "nfsShares": {
          "items": {
            "$ref": "NfsShare"
          },
          "description": "The list of NFS shares.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        }
      },
      "id": "ListNfsSharesResponse"
    },
    "ListProvisioningQuotasResponse": {
      "id": "ListProvisioningQuotasResponse",
      "description": "Response message for the list of provisioning quotas.",
      "type": "object",
      "properties": {
        "provisioningQuotas": {
          "items": {
            "$ref": "ProvisioningQuota"
          },
          "description": "The provisioning quotas registered in this project.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "NetworkMountPoint": {
      "id": "NetworkMountPoint",
      "description": "Mount point for a network.",
      "type": "object",
      "properties": {
        "logicalInterface": {
          "description": "Logical interface to detach from.",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Network should be a default gateway.",
          "type": "boolean"
        },
        "ipAddress": {
          "description": "Ip address of the server.",
          "type": "string"
        },
        "instance": {
          "description": "Instance to attach network to.",
          "type": "string"
        }
      }
    },
    "EnableInteractiveSerialConsoleResponse": {
      "id": "EnableInteractiveSerialConsoleResponse",
      "description": "Message for response of EnableInteractiveSerialConsole.",
      "type": "object",
      "properties": {}
    },
    "OSImage": {
      "id": "OSImage",
      "description": "Operation System image.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. OS Image's unique name.",
          "type": "string"
        },
        "code": {
          "description": "OS Image code.",
          "type": "string"
        },
        "description": {
          "description": "OS Image description.",
          "type": "string"
        },
        "applicableInstanceTypes": {
          "description": "Instance types this image is applicable to. [Available types](https://cloud.google.com/bare-metal/docs/bms-planning#server_configurations)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "supportedNetworkTemplates": {
          "description": "Network templates that can be used with this OS Image.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "EvictLunRequest": {
      "description": "Request for skip lun cooloff and delete it.",
      "type": "object",
      "properties": {},
      "id": "EvictLunRequest"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Configuration parameters for a new network.",
      "type": "object",
      "properties": {
        "bandwidth": {
          "description": "Interconnect bandwidth. Set only when type is CLIENT.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "1 Gbps.",
            "2 Gbps.",
            "5 Gbps.",
            "10 Gbps."
          ],
          "enum": [
            "BANDWIDTH_UNSPECIFIED",
            "BW_1_GBPS",
            "BW_2_GBPS",
            "BW_5_GBPS",
            "BW_10_GBPS"
          ]
        },
        "vlanAttachments": {
          "description": "List of VLAN attachments. As of now there are always 2 attachments, but it is going to change in the future (multi vlan). Use only one of vlan_attachments or vrf",
          "type": "array",
          "items": {
            "$ref": "IntakeVlanAttachment"
          }
        },
        "userNote": {
          "description": "User note field, it can be used by customers to add additional information for the BMS Ops team .",
          "type": "string"
        },
        "vrf": {
          "description": "Optional. The name of a pre-existing Vrf that the network should be attached to. Format is `vrfs/{vrf}`. If vrf is specified, vlan_attachments must be empty.",
          "type": "string"
        },
        "serviceCidr": {
          "enum": [
            "SERVICE_CIDR_UNSPECIFIED",
            "DISABLED",
            "HIGH_26",
            "HIGH_27",
            "HIGH_28"
          ],
          "description": "Service CIDR, if any.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Services are disabled for the given network.",
            "Use the highest /26 block of the network to host services.",
            "Use the highest /27 block of the network to host services.",
            "Use the highest /28 block of the network to host services."
          ]
        },
        "cidr": {
          "description": "CIDR range of the network.",
          "type": "string"
        },
        "gcpService": {
          "description": "The GCP service of the network. Available gcp_service are in https://cloud.google.com/bare-metal/docs/bms-planning.",
          "type": "string"
        },
        "vlanSameProject": {
          "description": "Whether the VLAN attachment pair is located in the same project.",
          "type": "boolean"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLIENT",
            "PRIVATE"
          ],
          "description": "The type of this network, either Client or Private.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Client network, that is a network peered to a GCP VPC.",
            "Private network, that is a network local to the BMS POD."
          ]
        },
        "jumboFramesEnabled": {
          "description": "The JumboFramesEnabled option for customer to set.",
          "type": "boolean"
        },
        "id": {
          "description": "A transient unique identifier to identify a volume within an ProvisioningConfig request.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the network config.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "UserAccount": {
      "description": "User account provisioned for the customer.",
      "type": "object",
      "properties": {
        "encryptedPassword": {
          "description": "Encrypted initial password value.",
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "KMS CryptoKey Version used to encrypt the password.",
          "type": "string"
        }
      },
      "id": "UserAccount"
    },
    "RenameVolumeRequest": {
      "id": "RenameVolumeRequest",
      "description": "Message requesting rename of a server.",
      "type": "object",
      "properties": {
        "newVolumeId": {
          "description": "Required. The new `id` of the volume.",
          "type": "string"
        }
      }
    },
    "NetworkAddress": {
      "id": "NetworkAddress",
      "description": "A network.",
      "type": "object",
      "properties": {
        "address": {
          "description": "IPv4 address to be assigned to the server.",
          "type": "string"
        },
        "existingNetworkId": {
          "description": "Name of the existing network to use.",
          "type": "string"
        },
        "networkId": {
          "description": "Id of the network to use, within the same ProvisioningConfig request.",
          "type": "string"
        }
      }
    },
    "IntakeVlanAttachment": {
      "description": "A GCP vlan attachment.",
      "type": "object",
      "properties": {
        "pairingKey": {
          "description": "Attachment pairing key.",
          "type": "string"
        },
        "id": {
          "description": "Identifier of the VLAN attachment.",
          "type": "string"
        }
      },
      "id": "IntakeVlanAttachment"
    },
    "ListOSImagesResponse": {
      "description": "Request for getting all available OS images.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "osImages": {
          "items": {
            "$ref": "OSImage"
          },
          "description": "The OS images available.",
          "type": "array"
        }
      },
      "id": "ListOSImagesResponse"
    },
    "StartInstanceResponse": {
      "description": "Response message from starting a server.",
      "type": "object",
      "properties": {},
      "id": "StartInstanceResponse"
    },
    "NfsShare": {
      "id": "NfsShare",
      "description": "An NFS share.",
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The share is in an unknown state.",
            "The share has been provisioned.",
            "The NFS Share is being created.",
            "The NFS Share is being updated.",
            "The NFS Share has been requested to be deleted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONED",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The state of the NFS share.",
          "type": "string"
        },
        "nfsShareId": {
          "description": "Output only. An identifier for the NFS share, generated by the backend. This field will be deprecated in the future, use `id` instead.",
          "type": "string",
          "readOnly": true
        },
        "storageType": {
          "description": "Immutable. The storage type of the underlying volume.",
          "type": "string",
          "enumDescriptions": [
            "The storage type for this volume is unknown.",
            "The storage type for this volume is SSD.",
            "This storage type for this volume is HDD."
          ],
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ]
        },
        "requestedSizeGib": {
          "format": "int64",
          "description": "The requested size, in GiB.",
          "type": "string"
        },
        "volume": {
          "description": "Output only. The underlying volume of the share. Created automatically during provisioning.",
          "type": "string",
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Immutable. The name of the NFS share.",
          "type": "string"
        },
        "pod": {
          "description": "Immutable. Pod name. Pod is an independent part of infrastructure. NFSShare can only be connected to the assets (networks, instances) allocated in the same pod.",
          "type": "string"
        },
        "id": {
          "description": "Output only. An identifier for the NFS share, generated by the backend. This is the same value as nfs_share_id and will replace it in the future.",
          "type": "string",
          "readOnly": true
        },
        "allowedClients": {
          "items": {
            "$ref": "AllowedClient"
          },
          "description": "List of allowed access points.",
          "type": "array"
        }
      }
    },
    "DisableInteractiveSerialConsoleResponse": {
      "description": "Message for response of DisableInteractiveSerialConsole.",
      "type": "object",
      "properties": {},
      "id": "DisableInteractiveSerialConsoleResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status"
    },
    "StartInstanceRequest": {
      "description": "Message requesting to start a server.",
      "type": "object",
      "properties": {},
      "id": "StartInstanceRequest"
    },
    "Network": {
      "description": "A Network.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "IP address configured.",
          "type": "string"
        },
        "vrf": {
          "description": "The Vrf for the Network. Use this only if a new Vrf needs to be created.",
          "$ref": "VRF"
        },
        "vrfAttachment": {
          "description": "Optional. The name of a pre-existing Vrf that the network should be attached to. Format is `vrfs/{vrf}`.",
          "type": "string"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pod": {
          "description": "Immutable. Pod name. Pod is an independent part of infrastructure. Network can only be connected to the assets (instances, nfsshares) allocated in the same pod.",
          "type": "string"
        },
        "cidr": {
          "description": "The cidr of the Network.",
          "type": "string"
        },
        "reservations": {
          "items": {
            "$ref": "NetworkAddressReservation"
          },
          "description": "List of IP address reservations in this network. When updating this field, an error will be generated if a reservation conflicts with an IP address already allocated to a physical server.",
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PROVISIONING",
            "PROVISIONED",
            "DEPROVISIONING",
            "UPDATING"
          ],
          "description": "The Network state.",
          "type": "string",
          "enumDescriptions": [
            "The Network is in an unknown state.",
            "The Network is provisioning.",
            "The Network has been provisioned.",
            "The Network is being deprovisioned.",
            "The Network is being updated."
          ]
        },
        "servicesCidr": {
          "description": "IP range for reserved for services (e.g. NFS).",
          "type": "string"
        },
        "mountPoints": {
          "description": "Input only. List of mount points to attach the network to.",
          "type": "array",
          "items": {
            "$ref": "NetworkMountPoint"
          }
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The resource name of this `Network`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/networks/{network}`",
          "type": "string"
        },
        "gatewayIp": {
          "readOnly": true,
          "description": "Output only. Gateway ip address.",
          "type": "string"
        },
        "macAddress": {
          "description": "List of physical interfaces.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vlanId": {
          "description": "The vlan id of the Network.",
          "type": "string"
        },
        "id": {
          "description": "An identifier for the `Network`, generated by the backend.",
          "type": "string"
        },
        "type": {
          "description": "The type of this network.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Client network, a network peered to a Google Cloud VPC.",
            "Private network, a network local to the Bare Metal Solution environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLIENT",
            "PRIVATE"
          ]
        },
        "jumboFramesEnabled": {
          "description": "Whether network uses standard frames or jumbo ones.",
          "type": "boolean"
        }
      },
      "id": "Network"
    },
    "DisableHyperthreadingRequest": {
      "id": "DisableHyperthreadingRequest",
      "description": "Message requesting to perform disable hyperthreading operation on a server.",
      "type": "object",
      "properties": {}
    },
    "ListNetworkUsageResponse": {
      "description": "Response with Networks with IPs",
      "type": "object",
      "properties": {
        "networks": {
          "items": {
            "$ref": "NetworkUsage"
          },
          "description": "Networks with IPs.",
          "type": "array"
        }
      },
      "id": "ListNetworkUsageResponse"
    },
    "RenameNfsShareRequest": {
      "description": "Message requesting rename of a server.",
      "type": "object",
      "properties": {
        "newNfsshareId": {
          "description": "Required. The new `id` of the nfsshare.",
          "type": "string"
        }
      },
      "id": "RenameNfsShareRequest"
    },
    "StopInstanceRequest": {
      "id": "StopInstanceRequest",
      "description": "Message requesting to stop a server.",
      "type": "object",
      "properties": {}
    },
    "InstanceQuota": {
      "id": "InstanceQuota",
      "description": "A resource budget.",
      "type": "object",
      "properties": {
        "availableMachineCount": {
          "format": "int32",
          "description": "Number of machines than can be created for the given location and instance_type.",
          "type": "integer"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the instance quota.",
          "type": "string"
        },
        "instanceType": {
          "deprecated": true,
          "description": "Instance type. Deprecated: use gcp_service.",
          "type": "string"
        },
        "gcpService": {
          "description": "The gcp service of the provisioning quota.",
          "type": "string"
        },
        "location": {
          "description": "Location where the quota applies.",
          "type": "string"
        }
      }
    },
    "GoogleCloudBaremetalsolutionV2LogicalInterface": {
      "description": "Each logical interface represents a logical abstraction of the underlying physical interface (for eg. bond, nic) of the instance. Each logical interface can effectively map to multiple network-IP pairs and still be mapped to one underlying physical interface.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Interface name. This is of syntax or and forms part of the network template name.",
          "type": "string"
        },
        "interfaceIndex": {
          "description": "The index of the logical interface mapping to the index of the hardware bond or nic on the chosen network template. This field is deprecated.",
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "logicalNetworkInterfaces": {
          "description": "List of logical network interfaces within a logical interface.",
          "type": "array",
          "items": {
            "$ref": "LogicalNetworkInterface"
          }
        }
      },
      "id": "GoogleCloudBaremetalsolutionV2LogicalInterface"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "RenameInstanceRequest": {
      "id": "RenameInstanceRequest",
      "description": "Message requesting rename of a server.",
      "type": "object",
      "properties": {
        "newInstanceId": {
          "description": "Required. The new `id` of the instance.",
          "type": "string"
        }
      }
    },
    "ListLunsResponse": {
      "description": "Response message containing the list of storage volume luns.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        },
        "luns": {
          "description": "The list of luns.",
          "type": "array",
          "items": {
            "$ref": "Lun"
          }
        }
      },
      "id": "ListLunsResponse"
    },
    "SubmitProvisioningConfigRequest": {
      "id": "SubmitProvisioningConfigRequest",
      "description": "Request for SubmitProvisioningConfig.",
      "type": "object",
      "properties": {
        "provisioningConfig": {
          "$ref": "ProvisioningConfig",
          "description": "Required. The ProvisioningConfig to create."
        },
        "email": {
          "description": "Optional. Email provided to send a confirmation with provisioning config to.",
          "type": "string"
        }
      }
    },
    "Lun": {
      "description": "A storage volume logical unit number (LUN).",
      "type": "object",
      "properties": {
        "storageVolume": {
          "description": "Display the storage volume for this LUN.",
          "type": "string"
        },
        "bootLun": {
          "description": "Display if this LUN is a boot LUN.",
          "type": "boolean"
        },
        "instances": {
          "description": "Output only. Instances this Lun is attached to.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "multiprotocolType": {
          "enum": [
            "MULTIPROTOCOL_TYPE_UNSPECIFIED",
            "LINUX"
          ],
          "description": "The LUN multiprotocol type ensures the characteristics of the LUN are optimized for each operating system.",
          "type": "string",
          "enumDescriptions": [
            "Server has no OS specified.",
            "Server with Linux OS."
          ]
        },
        "storageType": {
          "enum": [
            "STORAGE_TYPE_UNSPECIFIED",
            "SSD",
            "HDD"
          ],
          "description": "The storage type for this LUN.",
          "type": "string",
          "enumDescriptions": [
            "The storage type for this LUN is unknown.",
            "This storage type for this LUN is SSD.",
            "This storage type for this LUN is HDD."
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "UPDATING",
            "READY",
            "DELETING",
            "COOL_OFF"
          ],
          "description": "The state of this storage volume.",
          "type": "string",
          "enumDescriptions": [
            "The LUN is in an unknown state.",
            "The LUN is being created.",
            "The LUN is being updated.",
            "The LUN is ready for use.",
            "The LUN has been requested to be deleted.",
            "The LUN is in cool off state. It will be deleted after `expire_time`."
          ]
        },
        "id": {
          "description": "An identifier for the LUN, generated by the backend.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The size of this LUN, in GiB.",
          "type": "string",
          "format": "int64"
        },
        "shareable": {
          "description": "Display if this LUN can be shared between multiple physical servers.",
          "type": "boolean"
        },
        "wwid": {
          "description": "The WWID for this LUN.",
          "type": "string"
        },
        "expireTime": {
          "description": "Output only. Time after which LUN will be fully deleted. It is filled only for LUNs in COOL_OFF state.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the LUN.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Lun"
    },
    "ResetInstanceResponse": {
      "description": "Response message from resetting a server.",
      "type": "object",
      "properties": {},
      "id": "ResetInstanceResponse"
    },
    "NetworkAddressReservation": {
      "id": "NetworkAddressReservation",
      "description": "A reservation of one or more addresses in a network.",
      "type": "object",
      "properties": {
        "startAddress": {
          "description": "The first address of this reservation block. Must be specified as a single IPv4 address, e.g. 10.1.2.2.",
          "type": "string"
        },
        "endAddress": {
          "description": "The last address of this reservation block, inclusive. I.e., for cases when reservations are only single addresses, end_address and start_address will be the same. Must be specified as a single IPv4 address, e.g. 10.1.2.2.",
          "type": "string"
        },
        "note": {
          "description": "A note about this reservation, intended for human consumption.",
          "type": "string"
        }
      }
    },
    "ResetInstanceRequest": {
      "description": "Message requesting to reset a server.",
      "type": "object",
      "properties": {},
      "id": "ResetInstanceRequest"
    },
    "NfsExport": {
      "description": "A NFS export entry.",
      "type": "object",
      "properties": {
        "machineId": {
          "description": "Either a single machine, identified by an ID, or a comma-separated list of machine IDs.",
          "type": "string"
        },
        "noRootSquash": {
          "description": "Disable root squashing, which is a feature of NFS. Root squash is a special mapping of the remote superuser (root) identity when using identity authentication.",
          "type": "boolean"
        },
        "allowSuid": {
          "description": "Allow the setuid flag.",
          "type": "boolean"
        },
        "cidr": {
          "description": "A CIDR range.",
          "type": "string"
        },
        "networkId": {
          "description": "Network to use to publish the export.",
          "type": "string"
        },
        "allowDev": {
          "description": "Allow dev flag in NfsShare AllowedClientsRequest.",
          "type": "boolean"
        },
        "permissions": {
          "description": "Export permissions.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Read-only permission.",
            "Read-write permission."
          ],
          "enum": [
            "PERMISSIONS_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ]
        }
      },
      "id": "NfsExport"
    },
    "LogicalNetworkInterface": {
      "description": "Each logical network interface is effectively a network and IP pair.",
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "IP address in the network",
          "type": "string"
        },
        "network": {
          "description": "Name of the network",
          "type": "string"
        },
        "defaultGateway": {
          "description": "Whether this interface is the default gateway for the instance. Only one interface can be the default gateway for the instance.",
          "type": "boolean"
        },
        "networkType": {
          "description": "Type of network.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Client network, a network peered to a Google Cloud VPC.",
            "Private network, a network local to the Bare Metal Solution environment."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "CLIENT",
            "PRIVATE"
          ]
        },
        "id": {
          "description": "An identifier for the `Network`, generated by the backend.",
          "type": "string"
        }
      },
      "id": "LogicalNetworkInterface"
    },
    "AllowedClient": {
      "id": "AllowedClient",
      "description": "Represents an 'access point' for the share.",
      "type": "object",
      "properties": {
        "network": {
          "description": "The network the access point sits on.",
          "type": "string"
        },
        "allowedClientsCidr": {
          "description": "The subnet of IP addresses permitted to access the share.",
          "type": "string"
        },
        "allowDev": {
          "description": "Allow dev flag. Which controls whether to allow creation of devices.",
          "type": "boolean"
        },
        "shareIp": {
          "readOnly": true,
          "description": "Output only. The IP address of the share on this network. Assigned automatically during provisioning based on the network's services_cidr.",
          "type": "string"
        },
        "noRootSquash": {
          "description": "Disable root squashing, which is a feature of NFS. Root squash is a special mapping of the remote superuser (root) identity when using identity authentication.",
          "type": "boolean"
        },
        "nfsPath": {
          "readOnly": true,
          "description": "Output only. The path to access NFS, in format shareIP:/InstanceID InstanceID is the generated ID instead of customer provided name. example like \"10.0.0.0:/g123456789-nfs001\"",
          "type": "string"
        },
        "mountPermissions": {
          "description": "Mount permissions.",
          "type": "string",
          "enumDescriptions": [
            "Permissions were not specified.",
            "NFS share can be mount with read-only permissions.",
            "NFS share can be mount with read-write permissions."
          ],
          "enum": [
            "MOUNT_PERMISSIONS_UNSPECIFIED",
            "READ",
            "READ_WRITE"
          ]
        },
        "allowSuid": {
          "description": "Allow the setuid flag.",
          "type": "boolean"
        }
      }
    },
    "EnableHyperthreadingRequest": {
      "description": "Message requesting to perform enable hyperthreading operation on a server.",
      "type": "object",
      "properties": {},
      "id": "EnableHyperthreadingRequest"
    },
    "ListVolumeSnapshotsResponse": {
      "description": "Response message containing the list of volume snapshots.",
      "type": "object",
      "properties": {
        "volumeSnapshots": {
          "items": {
            "$ref": "VolumeSnapshot"
          },
          "description": "The list of snapshots.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results from the server.",
          "type": "string"
        }
      },
      "id": "ListVolumeSnapshotsResponse"
    },
    "ResizeVolumeRequest": {
      "id": "ResizeVolumeRequest",
      "description": "Request for emergency resize Volume.",
      "type": "object",
      "properties": {
        "sizeGib": {
          "description": "New Volume size, in GiB.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "NetworkUsage": {
      "description": "Network with all used IP addresses.",
      "type": "object",
      "properties": {
        "network": {
          "$ref": "Network",
          "description": "Network."
        },
        "usedIps": {
          "description": "All used IP addresses in this network.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "NetworkUsage"
    },
    "EvictVolumeRequest": {
      "id": "EvictVolumeRequest",
      "description": "Request for skip volume cooloff and delete it.",
      "type": "object",
      "properties": {}
    },
    "StopInstanceResponse": {
      "description": "Response message from stopping a server.",
      "type": "object",
      "properties": {},
      "id": "StopInstanceResponse"
    },
    "VlanAttachment": {
      "id": "VlanAttachment",
      "description": "VLAN attachment details.",
      "type": "object",
      "properties": {
        "peerIp": {
          "description": "The peer IP of the attachment.",
          "type": "string"
        },
        "qosPolicy": {
          "$ref": "QosPolicy",
          "description": "The QOS policy applied to this VLAN attachment. This value should be preferred to using qos at vrf level."
        },
        "peerVlanId": {
          "description": "The peer vlan ID of the attachment.",
          "type": "string",
          "format": "int64"
        },
        "routerIp": {
          "description": "The router IP of the attachment.",
          "type": "string"
        },
        "pairingKey": {
          "description": "Input only. Pairing key.",
          "type": "string"
        },
        "interconnectAttachment": {
          "description": "Optional. The name of the vlan attachment within vrf. This is of the form projects/{project_number}/regions/{region}/interconnectAttachments/{interconnect_attachment}",
          "type": "string"
        },
        "id": {
          "description": "Immutable. The identifier of the attachment within vrf.",
          "type": "string"
        }
      }
    },
    "EnableInteractiveSerialConsoleRequest": {
      "description": "Message for enabling the interactive serial console on an instance.",
      "type": "object",
      "properties": {},
      "id": "EnableInteractiveSerialConsoleRequest"
    },
    "ProvisioningConfig": {
      "description": "A provisioning configuration.",
      "type": "object",
      "properties": {
        "pod": {
          "description": "Optional. Pod name. Pod is an independent part of infrastructure. Instance can be connected to the assets (networks, volumes, nfsshares) allocated in the same pod only.",
          "type": "string"
        },
        "statusMessage": {
          "description": "Optional status messages associated with the FAILED state.",
          "type": "string"
        },
        "instances": {
          "description": "Instances to be created.",
          "type": "array",
          "items": {
            "$ref": "InstanceConfig"
          }
        },
        "networks": {
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Networks to be created.",
          "type": "array"
        },
        "email": {
          "deprecated": true,
          "description": "Email provided to send a confirmation with provisioning config to. Deprecated in favour of email field in request messages.",
          "type": "string"
        },
        "customId": {
          "description": "Optional. The user-defined identifier of the provisioning config.",
          "type": "string"
        },
        "handoverServiceAccount": {
          "description": "A service account to enable customers to access instance credentials upon handover.",
          "type": "string"
        },
        "location": {
          "description": "Optional. Location name of this ProvisioningConfig. It is optional only for Intake UI transition period.",
          "type": "string"
        },
        "volumes": {
          "items": {
            "$ref": "VolumeConfig"
          },
          "description": "Volumes to be created.",
          "type": "array"
        },
        "name": {
          "description": "Output only. The system-generated name of the provisioning config. This follows the UUID format.",
          "type": "string",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update timestamp.",
          "type": "string"
        },
        "cloudConsoleUri": {
          "description": "Output only. URI to Cloud Console UI view of this provisioning config.",
          "type": "string",
          "readOnly": true
        },
        "vpcScEnabled": {
          "description": "If true, VPC SC is enabled for the cluster.",
          "type": "boolean"
        },
        "ticketId": {
          "description": "A generated ticket id to track provisioning request.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "DRAFT",
            "SUBMITTED",
            "PROVISIONING",
            "PROVISIONED",
            "VALIDATED",
            "CANCELLED",
            "FAILED"
          ],
          "description": "Output only. State of ProvisioningConfig.",
          "type": "string",
          "enumDescriptions": [
            "State wasn't specified.",
            "ProvisioningConfig is a draft and can be freely modified.",
            "ProvisioningConfig was already submitted and cannot be modified.",
            "ProvisioningConfig was in the provisioning state. Initially this state comes from the work order table in big query when SNOW is used. Later this field can be set by the work order API.",
            "ProvisioningConfig was provisioned, meaning the resources exist.",
            "ProvisioningConfig was validated. A validation tool will be run to set this state.",
            "ProvisioningConfig was canceled.",
            "The request is submitted for provisioning, with error return."
          ],
          "readOnly": true
        }
      },
      "id": "ProvisioningConfig"
    },
    "GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface": {
      "id": "GoogleCloudBaremetalsolutionV2ServerNetworkTemplateLogicalInterface",
      "description": "Logical interface.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Interface name. This is not a globally unique identifier. Name is unique only inside the ServerNetworkTemplate. This is of syntax or and forms part of the network template name.",
          "type": "string"
        },
        "type": {
          "description": "Interface type.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified value.",
            "Bond interface type.",
            "NIC interface type."
          ],
          "enum": [
            "INTERFACE_TYPE_UNSPECIFIED",
            "BOND",
            "NIC"
          ]
        },
        "required": {
          "description": "If true, interface must have network connected.",
          "type": "boolean"
        }
      }
    },
    "ListSSHKeysResponse": {
      "id": "ListSSHKeysResponse",
      "description": "Message for response of ListSSHKeys.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "sshKeys": {
          "description": "The SSH keys registered in the project.",
          "type": "array",
          "items": {
            "$ref": "SSHKey"
          }
        }
      }
    },
    "ReimageInstanceRequest": {
      "description": "Message requesting to perform reimage operation on a server.",
      "type": "object",
      "properties": {
        "sshKeys": {
          "description": "Optional. List of SSH Keys used during reimaging an instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "osImage": {
          "description": "Required. The OS image code of the image which will be used in the reimage operation.",
          "type": "string"
        },
        "kmsKeyVersion": {
          "description": "Optional. Name of the KMS crypto key version used to encrypt the initial passwords. The key has to have ASYMMETRIC_DECRYPT purpose. Format is `projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key}/cryptoKeyVersions/{version}`.",
          "type": "string"
        }
      },
      "id": "ReimageInstanceRequest"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "ProvisioningQuota": {
      "id": "ProvisioningQuota",
      "description": "A provisioning quota for a given project.",
      "type": "object",
      "properties": {
        "assetType": {
          "description": "The asset type of this provisioning quota.",
          "type": "string",
          "enumDescriptions": [
            "The unspecified type.",
            "The server asset type.",
            "The storage asset type.",
            "The network asset type."
          ],
          "enum": [
            "ASSET_TYPE_UNSPECIFIED",
            "ASSET_TYPE_SERVER",
            "ASSET_TYPE_STORAGE",
            "ASSET_TYPE_NETWORK"
          ]
        },
        "serverCount": {
          "format": "int64",
          "description": "Server count.",
          "type": "string"
        },
        "gcpService": {
          "description": "The gcp service of the provisioning quota.",
          "type": "string"
        },
        "storageGib": {
          "description": "Storage size (GB).",
          "type": "string",
          "format": "int64"
        },
        "instanceQuota": {
          "$ref": "InstanceQuota",
          "description": "Instance quota."
        },
        "availableCount": {
          "description": "The available count of the provisioning quota.",
          "type": "integer",
          "format": "int32"
        },
        "networkBandwidth": {
          "format": "int64",
          "description": "Network bandwidth, Gbps",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the provisioning quota.",
          "type": "string"
        },
        "location": {
          "description": "The specific location of the provisioining quota.",
          "type": "string"
        }
      }
    },
    "DisableInteractiveSerialConsoleRequest": {
      "description": "Message for disabling the interactive serial console on an instance.",
      "type": "object",
      "properties": {},
      "id": "DisableInteractiveSerialConsoleRequest"
    }
  },
  "version_module": true,
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "baremetalsolution",
  "description": "Provides ways to manage Bare Metal Solution hardware installed in a regional extension located near a Google Cloud data center.",
  "revision": "20260319",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "path": "v2/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "location": "query"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                }
              },
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "id": "baremetalsolution.projects.locations.list",
              "flatPath": "v2/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "id": "baremetalsolution.projects.locations.get",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              },
              "description": "Gets information about a location.",
              "path": "v2/{+name}"
            }
          },
          "resources": {
            "volumes": {
              "methods": {
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Volume"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "baremetalsolution.projects.locations.volumes.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Get details of a single storage volume.",
                  "httpMethod": "GET",
                  "path": "v2/{+name}"
                },
                "resize": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "volume"
                  ],
                  "path": "v2/{+volume}:resize",
                  "httpMethod": "POST",
                  "id": "baremetalsolution.projects.locations.volumes.resize",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:resize",
                  "request": {
                    "$ref": "ResizeVolumeRequest"
                  },
                  "parameters": {
                    "volume": {
                      "description": "Required. Volume to resize.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "Emergency Volume resize."
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "A token identifying a page of results from the server.",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListVolumesRequest.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "filter": {
                      "location": "query",
                      "description": "List filter.",
                      "type": "string"
                    }
                  },
                  "description": "List storage volumes in a given project and location.",
                  "id": "baremetalsolution.projects.locations.volumes.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes",
                  "httpMethod": "GET",
                  "path": "v2/{+parent}/volumes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListVolumesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to update. The only currently supported fields are: 'labels'",
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path",
                      "description": "Output only. The resource name of this `Volume`. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. Format: `projects/{project}/locations/{location}/volumes/{volume}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Update details of a single storage volume.",
                  "id": "baremetalsolution.projects.locations.volumes.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}",
                  "request": {
                    "$ref": "Volume"
                  },
                  "httpMethod": "PATCH",
                  "path": "v2/{+name}"
                },
                "rename": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Volume"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:rename",
                  "httpMethod": "POST",
                  "id": "baremetalsolution.projects.locations.volumes.rename",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:rename",
                  "request": {
                    "$ref": "RenameVolumeRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The `name` field is used to identify the volume. Format: projects/{project}/locations/{location}/volumes/{volume}",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "description": "RenameVolume sets a new name for a volume. Use with caution, previous names become immediately invalidated."
                },
                "evict": {
                  "path": "v2/{+name}:evict",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the Volume.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Skips volume's cooloff and deletes it now. Volume must be in cooloff state.",
                  "id": "baremetalsolution.projects.locations.volumes.evict",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}:evict",
                  "request": {
                    "$ref": "EvictVolumeRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "luns": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Lun"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v2/{+name}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource.",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/luns/[^/]+$",
                          "location": "path"
                        }
                      },
                      "description": "Get details of a single storage logical unit number(LUN).",
                      "id": "baremetalsolution.projects.locations.volumes.luns.get",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns/{lunsId}",
                      "httpMethod": "GET"
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListLunsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "baremetalsolution.projects.locations.volumes.luns.list",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "Requested page size. The server might return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results from the server.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+$",
                          "location": "path",
                          "description": "Required. Parent value for ListLunsRequest.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "List storage volume luns for given storage volume.",
                      "httpMethod": "GET",
                      "path": "v2/{+parent}/luns"
                    },
                    "evict": {
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "id": "baremetalsolution.projects.locations.volumes.luns.evict",
                      "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/volumes/{volumesId}/luns/{lunsId}:evict",
                      "request": {
                        "$ref": "EvictLunRequest"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/volumes/[^/]+/luns/[^/]+$",
                          "location": "path",
                          "description": "Required. The name of the lun.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "description": "Skips lun's cooloff and deletes it now. Lun must be in cooloff state.",
                      "path": "v2/{+name}:evict"
                    }
                  }
                },
                "snapshots": {
[...]
